[2016-08-17 12:57] nicka commented on #1818
@flomotlik I would be willing to take on this task.

[2016-08-17 13:04] flomotlik commented on #1876
Ok weird, maybe a one time issue. I'll close this for now, but if it comes up again can you post here again and we can take it from there?

[2016-08-17 13:04] #1876 closed

[2016-08-17 13:08] sdruipeng commented on #1877
@Savalas flomotlik

Thank you for you quick reply.

(1), suspected bug.
the failure to add the bucket is not due to the IAM rights, since I noticed that the S3 buckets can be added to my S3 when I use serverless 0.5.0 and 0.4.2. I had to switch to a higher version of serverless since I could not follow the tutorials available on youtube. I just got deployment errors when I use 0.4.2 and 0.5.0. But

[2016-08-17 13:11] flomotlik commented on #1818
Thats what I hoped :D. The only thing I worry about showing all events is that it will be a lot of noise, so one thing we could do is by default only show events that have failed and add a `--all-events` parameter that will show all events that are happening?

Most of the time if everything fails you're not really interested in it anyway I'd say.

[2016-08-17 13:22] nicka commented on #1818
@flomotlik Haha nice!!!

Maybe the other-way around with `--hide-events`? Because I feel new users(new to CloudFormation) should learn about the deployment process and how it works. I think it's even quite useful to know what you are actually "waiting" for.

[2016-08-17 13:25] flomotlik commented on #1818
I think is good for experienced users, but new users will be completely overwhelmed by a lot of noise that they know nothing about or understand (and don't really need either). e.g. a comment here: https://github.com/serverless/serverless/issues/1877#issuecomment-240405452 (which is a completely fine comment in terms of not being familiar with CF).

And any more experienced developer will use --hi

[2016-08-17 13:27] nicka commented on #1818
Alright makes sense. Is `--debug` already in use?

[2016-08-17 13:31] flomotlik commented on #1818
Don't think so, but I also wouldn't call it debug, as the expectation of `--debug` would be more than just printing CF events. Debug should show everything that happens inside of the serverless command imho (and for that we have the Debug environment variable). I like --all-events :)

[2016-08-17 13:33] nicka commented on #1818
Okidoki, I will start working on it and hopefully have something by the beginning of next week.

[2016-08-17 13:58] sdruipeng commented on #1877
Serverless Framework Version:

1.0.0-beta.2

Operating System:

Win 10 in Chinese

Node.js

5.6.0

![image](https://cloud.githubusercontent.com/assets/15041387/17738234/0d47459c-64c3-11e6-961d-6f2f14f32087.png)

 **cloudFormation**
Since I am new to serverless, especially on 1.0.0-beta.2, I don't know how to find the errors corresponding to 'serverless deploy'.

![image](https://cloud.githubuserco

[2016-08-17 14:01] flomotlik commented on #1884
you mean splitting the whole thing into two commands? The downside then is that the onboarding experience is MUCH worse (running two commands instead of one). `--noDeploy` is typically a rarely used feature. So just to make this a little nicer I wouldn't impact deployment or other key workflows that we have.

And its going to take time now to implement this when there honestly isn't really a need

[2016-08-17 14:03] flomotlik commented on #1819
As we're not planning to change this anytime soon and want to keep open issue number low I'm going to close this one. Code sharing is an important topic we need to tackle through docs, but I don't think Serverless itself should include code from other places than the working directory or subfolders at the moment.

[2016-08-17 14:03] #1819 closed

[2016-08-17 14:05] flomotlik commented on #1822
@danielfosbery can you look into the latest beta and how we're merging resources now? Basically everything should be working fine now.

[2016-08-17 14:06] #1822 closed

[2016-08-17 14:25] danielfosbery commented on #1822
All works as expected. Thanks @flomotlik !

[2016-08-17 14:34] nicka commented on #1884
Yeah exactly, two commands. The second command would just call the first one if it didn't run before. Anyways, I get your point that it would take quite some time to refactor etc :+1:

[2016-08-17 14:42] pmuens commented on #1740
Will be resolved with https://github.com/serverless/serverless/pull/1886

[2016-08-17 14:42] #1740 closed

[2016-08-17 14:42] flomotlik opened #1887 "Create Tmpdir in a better way than with Date"
Currently in our tests and in the serverless application itself we're creating tmpdirs or any kind of random variable by creating a new Date and converting it to string. This is a MASSIVE code duplication and Date is also not a great entity to use for Random strings.

We should remove that reliance on Date completely and move to something more random and provide randomising methods in the test sui

[2016-08-17 14:50] nickchisiu commented on #1869
@nicka I'm thinking that another issue would be when you have multiple events of the same type like

[2016-08-17 15:06] olegZastavnyi commented on #1816
@pmuens Thansk for response. One more question, how to install beta2?
 npm install -g serverless@beta2 ?

[2016-08-17 15:12] pmuens commented on #1816
@olegZastavnyi An `npm install -g serverless@beta` should pull the beta 2 :-)

[2016-08-17 15:32] olegZastavnyi commented on #1816
@pmuens  Just tried, and was not able to modify existing s3 bucket(which was created not by serverless) and got exception "bucket already exists"

[2016-08-17 16:38] mbokman commented on #1884
How about `--export`?

[2016-08-17 17:18] wxs commented on #1593
Another common use-case is Stripe's checkout.js which, like Twilio, sends `application/x-www-url-formencoded`, so also needs either custom integration request body mapping templates *or* a standard body mapping template for formencoded POST data.

I would argue that *both* would be useful. Handling form data is very common so a standard mapping of that content type would be ideal.

[2016-08-17 17:26] stevecrozz commented on #1287
V1.0 is in beta. Is there no current release version of serverless that is also supported by serverless? That might be ok for the 0.x series, but I'd like to point out that this attitude causes me some concern over the level of support I can expect from the team on future releases. When 1.0 is officially released, I'll be particularly interested in seeing an announcement on how long support can be

[2016-08-17 17:59] Bilal-S commented on #1593
Could this be implemented as convention?
vm Templates in separate files from core serverless definitions.
e.g. function: myFunction.js
      could have templates: myFunction.req.vm and myFunction.res.vm
where .req.vm is the request template and .res.vm is the response template

The issue with an abstraction layer to vm would be that the implementation vs translations vs edge case could drive many

[2016-08-17 18:42] kaklakariada commented on #1862
@flomotlik thank you for your reply!
This is not an issue of the Gradle script. The zip file is rebuilt after code changes and updated on s3. I just verified that the ETag on s3 changes.

I guess CF is not smart enough to check that the file content has changed. A possible solution could be to append a timestamp to the filename when uploading the zip. This way CF will detect the change and update

[2016-08-17 20:38] rickydunn opened #1888 "Jar not deployed to Lambda after first deployment"
##### Serverless Framework Version:

v1.0.0-beta.1.1

##### Actual Behaviour:

Currently experiencing an issue on subsequent `mvn package` and `sls deploy` (post first deployment) on AWS which copies a Jar from the `Target` folder to the S3 bucket but does not deploy it to Lambda.

The deployment appears successful (no errors) and the Jar exists on S3 in the correct bucket, but the new Jar is not

[2016-08-17 22:15] AndreCapelache opened #1889 "Set response status code on API Gateway event"
Possibilite to set response status code on API Gateway http event.

Maybe like this:

[code]

[2016-08-18 02:00] jstangroome commented on #1582
I'd be happy with a helper so that I can execute (eg) `serverless invoke --function example --path anEvent.json --local` and have it use a locally installed node, python, or java (matching the version in `serverless.yml` naturally) to execute the function, passing the necessary arguments and capturing the result.

This is just to improve the speed of the feedback loop as even a small number of cer

[2016-08-18 05:45] Savalas commented on #1877
@flomotlik  All the rights were there. I am using full admin rights. This occurred after I deleted the buckets from S3. I am new to AWS/Lambda and serverless so I may get some terminology/understanding wrong but this is what I have observed:  I wanted to change the name of the service from aws-nodejs to my custom name. Additionally, I wanted to change the region. After I made those changes then I

[2016-08-18 07:48] #1860 closed

[2016-08-18 08:14] flomotlik commented on #1877
@Savalas Yup that would clear up why the bucket isn't there after the deletion. Great that you were able to fix it.

[2016-08-18 08:14] #1877 closed

[2016-08-18 08:26] flomotlik commented on #1582
@jstangroome the way we want to approach this in the future is to provide you a simple testing library in the different languages that allow you to invoke your function in a unit test with good pre-defined data that looks like its executing on Lambda directly. The problem for implementing a `--local` is that its quite a bit of effort to get it to work, especially calling different languages from o

[2016-08-18 09:09] flomotlik commented on #1862
CF should automatically pick up the file that was uploaded to S3. There is no specific intelligence built into it there so it will pick up that latest version. Can you install the latest master with `npm install serverless/serverless` and after `serverless deploy` a zip file should be created in the `.serverless` folder. Can you check this file for content and that it is correctly changed. My assu

[2016-08-18 09:27] flomotlik commented on #1287
@stevecrozz Yes we'll release more info on our longer term plans soonish. The company is definitely growing and we have some great updates to share over the next weeks.

The main reason why we stopped 0.5 development and fully focused on 1.0 is so we have an architecture in place we can support longer term. By building everything into this clear plugin system its much easier for us to develop serv

[2016-08-18 09:32] flomotlik commented on #1884
@mbokman getting closer to what it does, but the problem is still that its potentially not just exporting artefacts, but potentially doing more things depending on the plugins you've installed.

[2016-08-18 09:35] flomotlik commented on #1873
@gergderkson you should already be able to do this via custom resources: https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-provider-resources

Basically the different configs will be merged together so it should work. There is still an issue as S3 Names get a number added to them at the end which is a bug we need to resolve #1823

[2016-08-18 09:36] flomotlik commented on #1872
@pmuilu is that happening on a windows machine? Could you install the latest master with `npm install -g serverless/serverless` and test with that? On windows this should work fine now.

[2016-08-18 09:37] flomotlik commented on #1871
docs.serverless.com is now pointing to the latest V1 docs (DNS cache might take a bit until its changed). Thanks for reporting!

[2016-08-18 09:37] #1871 closed

[2016-08-18 09:40] flomotlik commented on #1855
@jokeyrhyme if you're interested you can absolutely check out the branch and give it a spin. We're looking for feedback on this anyway at the moment before we merge.

[2016-08-18 09:48] flomotlik commented on #1883
I'm not sure I'm following, but is this an issue or not? My assumption is that if CORS is enabled already on the endpoint than adding our Cloudformation stuff will have issues

[2016-08-18 09:51] #1854 closed

[2016-08-18 10:29] pmuilu commented on #1872
@flomotlik Nope, Linux machine. I was able to get it work after just fixing the permission for that one specific file.

[2016-08-18 10:37] jokeyrhyme commented on #1854
Ooooo, nice work. :)

[2016-08-18 10:38] jokeyrhyme commented on #1855
I can confirm that it was user error prevention me from explicitly setting the region, previously.

I'll take a look over the next few days to see how the branch improves things, if I can.

[2016-08-18 10:51] havard024 opened #1891 "Support Existing S3 Bucket Resource when Adding Function Events"
Feature Request Template ------------------------------------------

##### Feature Request:
Support existing S3 resources  when adding function events. Right now, adding a bucket to an s3 event creates a new bucket with a number appended to the end of the name.

##### Benefits:
This would allow someone to define a bucket as a Resource and reuse that bucket to trigger lambda functions.

##### Drawb

[2016-08-18 11:00] havard024 commented on #1891
Found a reference to a bug report about this issue: https://github.com/serverless/serverless/issues/1823

[2016-08-18 11:00] #1891 closed

[2016-08-18 11:58] havard024 commented on #1823
Any traction on this bug?

According to this: https://github.com/serverless/serverless/pull/1844
reusing resources in events should be supported in 1.0.0-beta.2, but I still get the zero appended on the event bucket name even though I've created a bucket resource.

[2016-08-18 12:15] codepreneur commented on #1883
@flomotlik that is exactly the issue here. It seems to be a general theme around `serverless`. I posted some issues few weeks ago with the same problem like #1677 where @svdgraaf explained how it is a CF issue and not `serverless` hence me closing this issue.

[2016-08-18 12:36] pmuens commented on #1653
Just want to note that @thenikso wrote a great webpack plugin you can now use with Serverless v1:
https://github.com/elastic-coders/serverless-webpack

Here's the open issue in our `community-plugins` repository:
https://github.com/serverless/community-plugins/issues/2

[2016-08-18 14:03] pmuens commented on #1816
Closing this one as we've moved this conversation to E-Mails

[2016-08-18 14:07] flomotlik commented on #1883
Yup got what you mean. Merging existing resources into Serverless is definitely something complex going forward. Some events already give you the ability to add an ARN instead of us creating a resource ourselves so that helps. But if you want to have all the resources managed through CF in the Serverless service then you somehow have to get those resources.

Basically as long as they are created a

[2016-08-18 14:07] #1883 closed

[2016-08-18 14:34] flomotlik commented on #1872
Ok then I'll close this issue

[2016-08-18 14:34] #1872 closed

[2016-08-18 14:39] flomotlik commented on #1888
This is a duplicate of #1862 and the issue is that as the artefact isn't renamed the Cloudformation stack has no updates and thus doesn't actually do the update. Will be fixed soon and discussed in the other issue.

[2016-08-18 14:39] #1888 closed

[2016-08-18 14:40] inakianduaga commented on #682
Is Scala supported by the framework?

I'm using AWS lambdas w/ Scala using Sbt for the build, just taking care of a few things in the lambda input/out to play nice w/ Java. But I don't know if this could be adapted to use the serverless framework

[2016-08-18 14:44] flomotlik commented on #682
Serverless itself is language independent (especially on the Java side). Currently we don't have a template for Scala/SBT *Hint Hint* but we do have examples for Maven and Gradle with Java. Starting with one of those it should be trivial to get your deployment up and running. Basically all you need to do is either create an artefact yourself and use the package/artifact config variable: https://gi

[2016-08-18 14:46] inakianduaga commented on #682
@flomotlik Cool I was too lazy to try it, I'll give it a go now that I know it's possible.

[2016-08-18 14:47] flomotlik opened #1892 "Package artefacts are not renamed which means the CF template doesn't change and no deployment happens"
**Serverless Framework Version:** Master

**Operating System:** Any

**Expected Behaviour:**

When you run `serverless deploy` and have an artefact defined we should create a new and random name for the artefact (and use the same name as we do when creating our own artefact) and upload with that name to S3. Then when we update the CF template it is properly changed and a Redeploy happens.

**Actua

[2016-08-18 14:49] flomotlik commented on #682
Yeah basically what Serverless does for you is package and deploy your artefact. As long as you can run it on Lambda it doesn't matter to us what we deploy basically.

[2016-08-18 15:11] flomotlik commented on #1889
This is very related to #1593 so I'm going to close this issue here, but we'll keep it in mind when doing the detailed planning on that feature. Definitely want that for one of our next releases.

[2016-08-18 15:11] #1889 closed

[2016-08-18 15:11] flomotlik commented on #1776
This is very related to #1593 so I'm going to close this issue here, but we'll keep it in mind when doing the detailed planning on that feature. Definitely want that for one of our next releases.

[2016-08-18 15:11] #1776 closed

[2016-08-18 15:11] flomotlik commented on #1664
This is very related to #1593 so I'm going to close this issue here, but we'll keep it in mind when doing the detailed planning on that feature. Definitely want that for one of our next releases.

[2016-08-18 15:11] #1664 closed

[2016-08-18 15:11] flomotlik commented on #1640
This is very related to #1593 so I'm going to close this issue here, but we'll keep it in mind when doing the detailed planning on that feature. Definitely want that for one of our next releases.

[2016-08-18 15:11] #1640 closed

[2016-08-18 16:22] kaklakariada commented on #1862
See https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-function-code.html

[2016-08-18 17:13] andyfenelon opened #1894 "V.1 ES6 babel setup ?"
can't see any information on this for V.1

first query, the optimizer plugin seems to be erroring ?
[code]

is giving this error

second, how would this v.0 code be be set up for the transforms in v.1? cant see any info in the doc's on how transforms, unless i've missed it?
v.0 code in /function/ s-function.json how to port this to v.1 ?
[code]

thanks.

[2016-08-18 19:06] DavidWells commented on #1894
There is a new webpack plugin for es6 that works with v1 https://github.com/serverless/community-plugins/issues/2

[2016-08-18 19:07] DavidWells commented on #1846
@hassankhan checkout https://github.com/serverless/community-plugins/issues/2 for the webpack plugin for es6 syntax

[2016-08-18 21:22] andyfenelon commented on #1894
nice.

[2016-08-18 21:22] #1894 closed

[2016-08-18 22:24] erikerikson opened #1895 "Empower Users to Employ a Rights Management Strategy that Works for Them"
If you see:
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/compile/functions/index.js#L136

The code there currently being

[code]

This requires that user's rights management strategy be subsumed by the limited "single bubble per stage" approach that is less secure and blocks adoption for some (at least us).

We should probably discuss lots of solutions rather than th

[2016-08-18 22:31] lukas-gitl commented on #1593
+1 for text/html functionality

[2016-08-18 23:05] wei-xu-myob commented on #1653
Note to my previous request, I wrote a plugin to support execute a js script at any event.

For example, to run a customized script to package file before deploy:

[code]

I'm using Babel to transcompiling and zip the required runtime dependencies in my customized package script.

Examples provided in the source code:
https://github.com/wei-xu-myob/serverless-scriptable-plugin

[2016-08-18 23:14] danielkoo commented on #1855
I'll have a play with the branch as well, cheers @flomotlik

[2016-08-19 00:05] johncmckim commented on #1777
I've made a start on this, had a few hours on a plane. I've just started by refactoring the `zipService` module. I've splitting the `zip` and `package` logic so the zip logic can be re-used.

I'm on holidays this weekend so I'll send a WIP PR next week.

[2016-08-19 00:50] danielkoo opened #1896 "Including files outside of the current directory hierarchy via package.include"
Hi,

package.include seems to only allow the packaging of files in the current directory or below as, if I try to specify something like

`../handler.js`

this file is not packaged up in the ZIP file, which makes some sense as otherwise this would clobber an identically-named file in the current dir.

However, it seems we can refer to resource files outside of the current hierarchy:
https://github

[2016-08-19 05:18] pmuens commented on #1896
Hey @danielkoo thanks for this issue.

Here's another one which is related and shows why we went with the "zip per service" approach and how you can resolve this issue with the help of reusable npm packages: https://github.com/serverless/serverless/issues/1819

[2016-08-19 05:28] pmuens opened #1898 "Update artifact deployment process"
The current artifact deployment process works as follows:

Create a .zip file with the content of the Serverless service, timestamp it and upload it to the S3 bucket. Also remove other versions of this file so that only 5 are kept.

However https://github.com/serverless/serverless/pull/1886 introduced the CloudFormation template storing in the S3 bucket.

The CloudFormation template is currently s

[2016-08-19 06:17] pmuens opened #1899 "Update sinon stubbed tests to always check for correct args"
When stubbing with sinon we should always check for the correct arguments (like e.g. done here: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/tests/updateStack.js#L58-L62)

[2016-08-19 06:33] eahefnawy commented on #1801
@serverless/vip FYI I've finished implementing Proposal A in [PR #1834](https://github.com/serverless/serverless/pull/1834) and it's now under review/testing. Would be awesome if you guys could check it and try it out. Feedback and rigorous testing is essential for such a big change, and is highly appreciated 😊 .

[2016-08-19 09:30] flomotlik opened #1900 "V1.0.0-beta.3 Discussion"
- [ ] Other providers (IBM Openwhisk) - optional
- [x] Request/Response Codes and templates #1593
- [x] Logical ID of all resources #1869
- [x] Restructuring documentation (put documentation somewhere else as its hard to find and doesn't reflect the latest release) #1957
- [x] Serverless Variables syntax (and clearer description of Moving from serverless.yml) #1801
- [ ] serverless.json - optional

[2016-08-19 09:42] flomotlik commented on #1898
Gogogo :D

[2016-08-19 09:52] flomotlik commented on #1862
@kaklakariada sorry forgot to update this issue. You're completely right, this is a bug in Serverless. When setting the artefact in packaging/artefact we're simply using its name when uploading to S3. The problem is then CF doesn't change so the deployment doesn't update. This will be fixed soon. Thank you for reporting this!

[2016-08-19 09:59] flomotlik commented on #1853
Could you run `serverless remove` and then `serverless deploy` again. Looks like something in the Cloudformation template wasn't properly deployed. Did you potentially change the name of the bucket or change anything in S3 directly?

[2016-08-19 10:01] flomotlik commented on #1896
Thanks for reporting @danielkoo . As @pmuens already mentioned there are other discussions about this already and we decided that for now we're not going to support this feature due to potential complications it can lead to and also potential security issues with it. Therefore closing but its linked to other issues now if we ever want to come back to it.

[2016-08-19 10:01] #1896 closed

[2016-08-19 10:07] flomotlik commented on #1895
Imho there are 2 different things we can do around this:

1. Allow users to create per function IAM roles as discussed in #1807
2. Allow users to set ARNs for the role (for the whole service or per function) so they can create roles in a separate deployment and simply point to those roles #1772

Due to the new variable syntax ( #1834 ) it should also be easy to have different ARNs for different st

[2016-08-19 11:19] flomotlik commented on #608
@jokeyrhyme this will be targeted in  #1593 and is a big goal of the next release milestone

[2016-08-19 11:21] pmuens commented on #1628
Hey @codepreneur I'm closing this once since we've already released beta.2 and the bug should have been resolved since then.

Reopen an let us know if you still face the issue! 💯

[2016-08-19 11:21] #1628 closed

[2016-08-19 11:23] pmuens commented on #1490
Closing this one as we're discussing it in https://github.com/serverless/serverless/issues/1457

[2016-08-19 11:23] #1490 closed

[2016-08-19 11:26] pmuens commented on #1485
Closing this one since we've released Serverless beta.2 (which includes some major changes to the APIG event) and are about to implement better error reporting in the future (see https://github.com/serverless/serverless/issues/1818).

[2016-08-19 11:26] #1485 closed

[2016-08-19 11:44] flomotlik commented on #1861
@jarosser06 we recently changed how custom resource merging works and now custom resources are merged after the function and event resources are created. So you can overwrite or add to what we've been creating.

Existing SNS Topics can also be used through the ARN syntax.

I think this merge change should cover this use case, so I'm closing this issue. In case it doesn't please let me know and I'l

[2016-08-19 11:44] #1861 closed

[2016-08-19 11:46] flomotlik commented on #1884
As we don't have any specific plans to change this now and to keep our open issue count low I'm going to close this issue. If you have any further ideas please put them here and we can reopen in case we get a good new proposed name

[2016-08-19 11:46] #1884 closed

[2016-08-19 11:49] flomotlik commented on #1851
@DanielRuskin1 we recently changed how resource merging works. Could you install the latest master with `npm install -g serverless/serverless` and try if it works now: https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-provider-resources

if you run `serverless deploy --noDeploy` you can also see the created artefact and template in the .serv

[2016-08-19 11:49] #1851 closed

[2016-08-19 11:51] flomotlik commented on #1847
At the moment we see swagger as something that can be supported in the future if they integrate it in CF (e.g. point to swagger file to set up CF resources, which I believe is possible somehow), but as you mentioned CF and swagger don't work well together and we decided to go with CF and create our own simple syntax to create API Gateway resources.

As we don't have any plans to go there at the mo

[2016-08-19 11:52] flomotlik commented on #1846
Thanks @DavidWells for posting. Those plugins are a great way to make sure this is possible in the future. I don't think we'll implement anything in that direction anytime soon though, so I'm closing for now and will reopen in the future if we're planning to go there at some point.

[2016-08-19 11:52] #1846 closed

[2016-08-19 11:58] flomotlik commented on #1835
We recently merged #1863 so this problem should be fixed. For a more general JSzip resolve we're waiting to merge your PR in the future.

[2016-08-19 11:58] #1835 closed

[2016-08-19 11:59] flomotlik commented on #1842
This is a more general issue we need to resolve with #1869 as the IDs of the topics aren't chosen in a way that makes them reusable. This will be fixed going forward.

[2016-08-19 12:05] flomotlik commented on #1826
Yup that makes sense. The easiest way is probably for the plugin to set it directly when its loaded? The problem is that it could be overwritten by other plugins if they set different sdks and the question is which plugin should set them up.

@pmuens @eahefnawy where do you think would be the best place to introduce and set `this.serverless.providerSDK` (imho better than a getter?) ?

[2016-08-19 12:12] hassankhan opened #1901 "Link to old docs"
Not sure if anyone's noticed but all links to the old documentation seem to have vanished, I keep getting redirected to v1, little bit frustrating 😖

[2016-08-19 12:41] flomotlik commented on #1584
This is now created in https://github.com/serverless/community-plugins

[2016-08-19 12:41] #1584 closed

[2016-08-19 12:42] flomotlik commented on #1787
@kevinaud just wanted to ping if you had time to look into it or need any help?

[2016-08-19 12:43] flomotlik commented on #1727
We've fixed the error messages and added docs for setting up the AWS credentials properly. Imho this can be considered fixed at the moment. I don't think we should actively set up profiles ourselves and mess with AWS  config files directly.

[2016-08-19 12:43] #1727 closed

[2016-08-19 12:47] flomotlik opened #1902 "Add --name option to create plugin"
##### Feature Request:

With `serverless create -t aws-nodejs --name my_service` you should be able to automatically overwrite the name of the created service

##### Benefits:

* Make it easier for users to set the name and not run into an issue when the name is set to the default name

# Linked Issues:
* #1616

[2016-08-19 12:48] flomotlik commented on #1616
Added a new task in #1902 that covers this, so closing this one.

[2016-08-19 12:48] #1616 closed

[2016-08-19 12:49] #1592 closed

[2016-08-19 12:54] flomotlik commented on #1901
Done with #1903, thanks for reporting.

[2016-08-19 12:54] #1901 closed

[2016-08-19 13:23] flomotlik commented on #1798
@paulmerlin I just deployed a function with the following config and it properly changed the memorySize:

[code]

Could you update to the latest version of serverless and try again to make sure? It should be working fine out of the box.

[2016-08-19 13:23] #1798 closed

[2016-08-19 13:24] flomotlik commented on #1798
And regarding `customRole` that is not implemented yet but there is an issue here: #1772 and here #1807

[2016-08-19 13:27] flomotlik commented on #1796
I just tested it with the latest master and this doesn't happen anymore (probably because we updated dependencies). Could you try this again and report in case this still happens. Until then I'm closing.

[2016-08-19 13:29] flomotlik commented on #1570
@pmuens just to make sure it is not possible at the moment to have 2 subcommands in the same plugin?

[2016-08-19 13:32] #1486 closed

[2016-08-19 13:34] flomotlik commented on #1436
Closing this issue for now as Go support is currently not possible on AWS without some hacky workaround and I don't think we want to move there at the moment. We can reopen once Go becomes available natively on AWS.

[2016-08-19 13:34] #1436 closed

[2016-08-19 13:40] flomotlik commented on #1415
Adding docs for this in #1904 so during provider setup people will make sure that they have a credit card set up and they can find this specific error message in the docs. Don't think we need to put more time into it than the docs.

[2016-08-19 13:40] #1415 closed

[2016-08-19 13:41] flomotlik commented on #1408
This can be closed as we have a separate task for the one missing thing.

[2016-08-19 13:41] #1408 closed

[2016-08-19 13:42] flomotlik commented on #1407
Imho SLS_DEBUG enough for now? Would close and reopen once we want to do more in this direction for debugging serverless.

[2016-08-19 13:42] #1407 closed

[2016-08-19 14:05] pmuens commented on #1570
You can have 2 subcommands in the same plugin but not in the same `commands` definition.

So

[code]

works whereas

[code]

won't.

[2016-08-19 14:16] kevinaud commented on #1787
@flomotlik Sorry I've been in the process of moving back to college (which includes travelling across most of the US for me) but I'm about to submit a pull request for you to check out.

[2016-08-19 14:43] flomotlik commented on #1570
The first example is what I mean. At the moment its not possible to define `serverless deploy function` and `serverless deploy assets` for example in the same plugin (or at all really). So then this needs to be fixed

[2016-08-19 14:52] flomotlik commented on #1674
duplicate of #1439 and well keep working there. Thanks for listing out the rights here!

[2016-08-19 14:52] #1674 closed

[2016-08-19 14:52] flomotlik commented on #588
Duplicate of #1439 so I'm closing here but we'll keep the discussion going there.

[2016-08-19 14:52] #588 closed

[2016-08-19 14:59] flomotlik commented on #1158
Closed due to #1493 and open PR

[2016-08-19 14:59] #1158 closed

[2016-08-19 15:04] flomotlik commented on #927
At the moment we don't plan to integrate a separate integration-test command into Serverless. in #1582 we're discussing different ways to make the developer tooling better with Serverless. One of the things that have vastly improved through the new CF deployment in V1 is that its now easy to deploy to a separate stage and then run integration tests against it.

As we do not plan to do anything in

[2016-08-19 15:04] #927 closed

[2016-08-19 15:05] flomotlik commented on #1259
@pmuens do you think the current plugin docs cover this?

[2016-08-19 15:14] JulienWeiler commented on #1786
@olegZastavnyi I can't get this to work. My current settings are the following.
Did you add anything else then this? I get the same error as mention in the first post.

[code]

My provider configuration look like this:

[2016-08-19 15:25] pmuens commented on #1898
Resolved with https://github.com/serverless/serverless/pull/1906

[2016-08-19 15:25] #1898 closed

[2016-08-19 15:32] gergderkson commented on #1873
Thanks for this.

I'm not able to see how this would allow us to create the S3 events and point them to specific functions. Would you be able to point me in the right direction?

[2016-08-19 15:40] pmuens commented on #1259
Yes. Also stumbled upon this one today. I think that the current docs cover this and we might want to add more details about some conventions in our https://github.com/serverless/community-plugins repository.

[2016-08-19 15:40] pmuens commented on #1570
Yep, exactly 💯

[2016-08-19 15:41] pmuens commented on #1826
Yep. I like `this.serverless.providerSDK` as a way to access it (without the need for a getter).

No hard feelings about the place where it should be introduced. Maybe @eahefnawy has some idea here.

[2016-08-19 15:42] flomotlik commented on #1259
Ok then I'll close here for now. We'll add more docs in the community repo, but that should be in those issues.

[2016-08-19 15:42] #1259 closed

[2016-08-19 15:43] olegZastavnyi commented on #1786
[code]

[2016-08-19 15:50] MrRoyce commented on #1787
To anyone else that's not sure how to set the environment variables for the AWS profile during deployment:

$ AWS_PROFILE=<put the name of the aws profile here> serverless deploy

[2016-08-19 16:04] flomotlik commented on #1873
you create the S3 event through the event configuration. Those will be compiled into a CF template. Then in your resources section you can copy it over to add your resources Section to add the filter:

you can get the CF template by running `serverless deploy --noDeploy`

[code]

I looked at the CF S3 docs but haven't figured out what the syntax needs to be for this to include filters. Could you l

[2016-08-19 16:07] flomotlik commented on #1823
This will be resolved with #1869 so I'm closing here. Thanks for reporting this, it definitely needs to be resolved.

[2016-08-19 16:07] #1823 closed

[2016-08-19 16:13] pmuens commented on #1873
@gergderkson could you also install the latest master version via `npm install serverless/serverless` as we've fixed a bug which causes that the generated CloudFormation template you'll get when you run `serverless deploy --noDeploy` includes wrong information (see this PR which has fixed it: https://github.com/serverless/serverless/pull/1881)

[2016-08-19 17:21] sellers commented on #1067
These are cross linked and closed - I'm confused?

[2016-08-19 19:52] nicka commented on #1818
@serverless/team Making some progress. What do you think about the output so far?

<img width="791" alt="screen shot 2016-08-19 at 21 30 50" src="https://cloud.githubusercontent.com/assets/195404/17822371/1a0af19e-6657-11e6-8e18-232ceac95d15.png">
<img width="790" alt="screen shot 2016-08-19 at 21 49 41" src="https://cloud.githubusercontent.com/assets/195404/17822374/1ed3d11e-6657-11e6-8116-3b302b

[2016-08-19 19:53] rogemita opened #1907 "cf-stack and api-gateway resources be called ${stage}-${serviceName} when deploy a sls-service"
when I deploy a sls-service then the CloudFormation stack prefixes the stage into the resource name, the same applies to the api-gateway which it creates, for example in serverless.yml says "service: hello" then when the cf-stack created it is called dev-hello and if you set up some endpoint also the api-gateway is called dev-hello, I think it is a redundancy because api-gateway has stage behaviou

[2016-08-19 19:59] nicka commented on #1818
@flomotlik Could you please add the `in-progress` label?

[2016-08-19 20:06] flomotlik commented on #1818
Done. This looks amazing. I want to use it instantly ☺️

[2016-08-19 20:12] nicka commented on #1818
@flomotlik Thanks!!! Still needs some refactoring so it can be re-used within createStack and updateStack. First wanted to check if everybody likes the new output ;)

[2016-08-19 20:13] erikerikson commented on #1895
Thanks @flomotlik.

#1807 is exactly the strategy we've been accomplishing here with a parallel system that we've enabled using customRole (the feature requested in #1772) in `0.3? < v < 0.6`.

The framework could reimplement those old capabilities but I think the ideal circumstance for us is that we can sunset our custom role management and begin to use SLS capability for role creation.  That wil

[2016-08-19 20:21] erikerikson commented on #1895
Maybe I am missing that something like `self.resources.Resources.[myResource].arn` is enabled by #1834?

@eahefnawy, is that dreaming^

[2016-08-19 20:31] pmuens commented on #1818
This looks really cool! Like it. Good job 🎉

[2016-08-19 21:08] nicka commented on #1818
@pmuens Thanks 🍻

Btw I decided to go with `--tail`, `-t` just like the `logs` plugin.

[2016-08-19 21:53] MrRoyce commented on #1786
@olegZastavnyi I also can't get this to work with the beta 2 release.  I'm trying to deploy to 2 private subnets in my VPC.

I've added the AWSLambdaVPCAccessExecutionRole managed policy to the IAM user (even though it already has full Administrator Access) and I've even tried opening all of the inbound ports for the subnet security groups, but I'm still getting the error.

[2016-08-19 22:15] fiznool commented on #1455
FWIW, if anyone (like me) is trying to figure out a simple way of using Heroku-like environment variables in their Lambda functions accessed from API Gateway, one option is using APIG staging variables.

You can set these up via the API Gateway console:

![screenshot from 2016-08-19 23-08-07](https://cloud.githubusercontent.com/assets/820863/17825734/6d8dddd0-6662-11e6-8bc5-2be8a8a9e150.png)

And

[2016-08-19 23:32] mthenw commented on #1818
@nicka great stuff there! I really like it.

Two things:
- What do you think about prefixing each line with "CloudFormation: ". So the printed log would look like:

[code]

It would make clearer which lines are from framework and which are from CF.

- I think that it should not be a part of standard output log. I would make that logs (and also currently printed logs) as a "info" level (https://git

[2016-08-20 00:21] DanielRuskin1 commented on #1851
Updating fixed it - thanks @flomotlik!

[2016-08-20 00:22] mrlamroger commented on #281
@flomotlik great to hear! Would it be helpful if I added an sentence or two to the README noting that it's a work in progress?

[2016-08-20 00:39] DanielRuskin1 commented on #1786
I'm also having this issue.  However, it works for me if I:

1. Deploy without the VPC config, but with the IAM permissions to access the VPC config
2. Re-deploy with the VPC config

[2016-08-20 00:45] ac360 commented on #1818
+1 to @mthenw's comment, with one design nitpik to consistently use hyphens instead of colons.  Not a big deal, but colons seem to be used heavily in the CF resource names, and don't want to add confusion.
+1 to @flomotlik's comment that we hide CF events by default (as long as we print out the full CF error at the end).  I recommend the common `--verbose` flag.  And trimming/refining the printed

[2016-08-20 05:57] JulienWeiler commented on #1786
Thank you for your config. For me it works after I create a custom VPC. It didn't work with the default VPC.

[2016-08-20 07:02] brendanmckenzie opened #1908 "Cannot add multiple http endpoints to single function"
##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
OSX 10.11.6

##### Expected Behavior:

Added two `-http` endpoints to a function (see below), received an error on deployment.

[code]

##### Actual Behavior:

[code]

[2016-08-20 07:06] brendanmckenzie opened #1909 "Cannot have multiple functions targeting the same path with different methods"
##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
OSX 10.11.6

##### Expected Behavior:

Have the following configuration, one method `GET user/profile` another `POST user/profile` and receive an error on deployment.

[code]

##### Actual Behavior:

[code]

[2016-08-20 07:19] brendanmckenzie commented on #1908
After removing (`sls remove`) and re-deploying this appears to have worked as expected.

[2016-08-20 07:21] brendanmckenzie commented on #1909
This also resolved itself by re-creating the stack. #1908

[2016-08-20 07:21] #1909 closed

[2016-08-20 07:22] #1908 closed

[2016-08-20 12:46] kevzettler opened #1911 "serverless deploy; The following resource(s) failed to create: [IamRoleLambda]."
Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
[code]

##### Operating System:
[code]

##### Expected Behavior:
I'm copy pasting from the 'quick start guide' it should work. Would expect a more helpful error message to indicate next steps

##### Actual Behavior:
It doesn't work when I copy paste from the 'quick start guide'

##### Stack-Tra

[2016-08-20 12:52] kevzettler commented on #1911
needed to sepcify AWS keys with:
`AWS_ACCESS_KEY_ID= AWS_SECRET_ACCESS_KEY= serverless deploy`

[2016-08-20 12:52] #1911 closed

[2016-08-20 19:21] dsshap opened #1912 "Upgrade Guide"
##### Discussion:

HI SLS Team,

We are currently running a rather large serverless application. We would like to make the move to v1 once it is released. Is there a plan to release an upgrade guide for those coming from 0.5.6?

From what i have followed, there are several breaking changes, so it would be useful to describe all those changes to make the transition as seamless as possible.

Thanks

[2016-08-20 22:09] DanielRuskin1 opened #1913 ""Invalid permissions on Lambda function""
##### Serverless Framework Version:
`1.0.0-beta.2`

##### Operating System:
OSX

##### Expected Behavior:
When making a request via API Gateway, it should correctly direct it to the Lambda function.

##### Actual Behavior:
API gateway logs an error: "Execution failed due to configuration error: Invalid permissions on Lambda function".

##### `serverless.yml` file

[code]

[2016-08-21 00:41] matt-filion opened #1914 "deploy can't find modules node_modules"
* Check if an Issue already exists for this: **none found.**
* Add the relevant label(s): **I don't seem to have permission (or don't know how).**
* Be kind :)

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
Windows 10

##### Expected Behavior:
sls deploy should package up my project, and deploy to lamb

[2016-08-21 02:50] eahefnawy commented on #1895
@erikerikson yep you can access all sub properties of any custom resource as long as u have it in the file on disk.

[2016-08-21 06:54] mrlamroger commented on #1902
Would love feedback on the possible approaches here https://github.com/serverless/serverless/pull/1910

[2016-08-21 11:15] ortreum opened #1916 "Upload zip with "Reduced Redundancy""
Due to saving money at the bleeding edge serverless should upload the versioned zip files to S3 with the "Reduced Redundancy" flag enabled. It would save 50% of S3 storage costs.

_serverless.yml_
provider:
    name: aws
    runtime: nodejs4.3
    s3upload: none|reduced|full # default = reduced
    glacier: 100|1 year # = move all files older than the 100th version or 1 year to glacier

Michael

[2016-08-21 13:14] pmuens commented on #1914
Hey @matt-filion thank you for reporting this. We've recently added a fix which should resolve this problem (see https://github.com/serverless/serverless/pull/1863).

Could you install the newest Serverless version via `npm install serverless/serverless` to see if it's resolved?

Thanks!

[2016-08-21 17:38] matt-filion commented on #1914
That fixed the issue. I had upgraded earlier in the day using `npm upgrade serverless -g`.

[2016-08-21 17:38] #1914 closed

[2016-08-22 01:24] wei-xu-myob opened #1918 "How can I enable logging in API Gateway?"
I want to know the proper way to enable logging in Api Gateway Stage.

AWS CloudFormation support it by using resource type AWS::ApiGateway::Stage, I can define the customized resource, but it requires two parameter "DeploymentId" and "RestApiId" which are dynamically generated in serverless.

Any suggestions on how to enable it?

the CloudFormation doc I'm referencing is http://docs.aws.amazon.co

[2016-08-22 05:59] danielkoo commented on #1896
Thanks for the comments and the links to the related issues guys, it's clearer to me now what the design decisions were, which make sense. I just need to fix the tooling/package management on my end to make it work :)

[2016-08-22 07:16] flomotlik commented on #1826
Yeah imho the Plugin itself should be setting it somehow. The question is only which plugin specifically. Probably deploy but as its done in separate plugins that could easily be overwritten if its not correctly in place.

[2016-08-22 07:24] flomotlik commented on #1818
@ac360 in that case we would have a difference between the `Serverless:` and `Cloudformation -` output. Or did you mean removing the `Serverless:` part completely?

I'd be in favor of that (though I would do it in a separate PR).

`--tail` or `--verbose` They are both good, but I think I prefer verbose a little more. Not using `--tail` could send the signal we're not necessarily following along an

[2016-08-22 07:43] flomotlik commented on #1895
@erikerikson @eahefnawy just to clarify only the elements in your serverless.yml are available. `self.resources.Resources.[myResource].arn` will not be available (unless you set it specifically) as this is only populated in Cloudformation.

[2016-08-22 07:46] flomotlik commented on #1895
You mean referencing beyond CF Ref syntax? Or how would you think the config should look?

[2016-08-22 07:53] flomotlik commented on #1916
Hi @ortreum , thanks for bringing this up. We've implemented auto-cleaning of old deployment files, so only 5 will stay inside of the bucket at any time. This already makes sure that the costs stay basically nothing for the deployment artefacts so we don't really want to introduce any additional cost saving mechanism which could be a potential issue for some deployments (even though its relatively

[2016-08-22 07:53] #1916 closed

[2016-08-22 08:02] flomotlik commented on #1918
@wei-xu-myob Take a look at Custom provider resources: https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-provider-resources

You can overwrite anything we create in the Cloudformation template easily there. I'm going to close this one as its more of a support request and is better suited to our [Forum](forum.serverless.com)

[2016-08-22 08:02] #1918 closed

[2016-08-22 08:08] flomotlik commented on #1913
@DanielRuskin1 this looks to me more like a problem with the specific service config than with Serverless itself so could you reopen this one in the [Forum](forum.serverless.com). We try to keep move all things that are more support related to the forum so Issues in our Github are strictly bugs or feature development related. Thanks for that.

My assumption would be that its something to do with

[2016-08-22 08:08] #1913 closed

[2016-08-22 08:09] flomotlik commented on #1907
Thanks @rogemita for reporting. This is something we're going to address with #1834 and #1869 in the near future. As we already got issues around it I'm going to close this one but its referenced in the other issues.

[2016-08-22 08:09] #1907 closed

[2016-08-22 08:13] flomotlik commented on #1912
@dsshap yup we definitely plan to have docs in place to make it easier for you to switch over to the latest version. There are currently a few things in the pipeline that will still change things quite a bit like #1834 but once they are out we'll focus more on docs to make this easy.

[2016-08-22 08:18] nicka commented on #1777
@johncmckim Nice work on this! 🎉

Another cool thing we could potentially achieve from this is formatting a `hash` based on what's in `package. include`. This way the archive/version name could stay the same when no files where changed and we skip updating those Lambda's during deployment.

[2016-08-22 08:23] flomotlik commented on #1777
@nicka yup, though I fear there are lots of side effects of this we currently don't know yet when we only deploy some functions. I could see at some point adding this as an optional feature and after very very thorough production testing by adventurous users it might become standard.

We would also have to hash the CF template (e.g. what if resources are changing) and all the files that are part o

[2016-08-22 08:35] nicka commented on #1818
I'm going with `--verbose` quite common among `CLI's` thanks for pointing this out @ac360!

Regarding the actual output I will go with `Cloudformation -` 👍

[2016-08-22 08:57] eahefnawy commented on #1869
@nicka Proposal A is oversimplifying the issue. APIG alone has **a lot** of resource templates and logical id even for the simplest configuration. For example if you have a path is `users/create/something`, that translates to **three** logical ids and CF resources (`users`, `create` and `something), because each fragment of the path is a different APIG "resource". Plus of course the method resourc

[2016-08-22 08:57] eahefnawy commented on #1869
I like the idea of the user setting an identifier, although it's not a great UX, but it's super predictable and the user knows exactly how to reference the resources. However I don't think that would work either because of the complexity above. Some simple properties like `path` translates to multiple resources. We can't ask the user to specify an ID for each of them. That would be way too much.

[2016-08-22 08:58] pmuens commented on #1892
Will be solved with https://github.com/serverless/serverless/pull/1906

[2016-08-22 08:58] #1892 closed

[2016-08-22 09:03] pmuens commented on #1862
Fixed with https://github.com/serverless/serverless/pull/1906

[2016-08-22 09:03] #1862 closed

[2016-08-22 09:10] johncmckim commented on #1777
I have been thinking about the need for a different folder structure. Specifically grouping artefacts and templates into folders on S3. However, it looks like #1898 does this. If so that solves the cleanup issues related deploying individual functions.

[2016-08-22 09:27] flomotlik commented on #1777
@johncmckim yup @pmuens implemented a folder structure in #1906 and we'll merge this pretty soon

[2016-08-22 09:37] pmuens commented on #1869
Yes, I too like the identifier which can be used to reference the resource. However I would also think that this might suffer UX.

However if it's not a uuid but a short string it could be more accessible. One thing to note here is that not every provider might need this implementation. So if we add a unique identifier we need to think where this should live and if it should live in the function d

[2016-08-22 10:43] flomotlik commented on #1818
Sounds great @nicka , looking forward to using it!

[2016-08-22 11:28] pmuens commented on #1593
Following this discussion It hink we need to agree on two powerful default templates (one for the `request` and one for the `response`) and a way to define own content types in combination with a reference to a velocity template file which will be stored on disc and referenced in the `serverless.yml` file.

How should the default templates look like? What are the content types of those? And how sh

[2016-08-22 11:53] kennu commented on #1787
I just tested Serverless 1.0.0-beta2 and was very confused how to choose the AWS profile. Previously Serveless 0.x has asked for it (with a menu) and stored it in admin.env, which we have stored in Git, so that the project is always automatically deployed to the right profile. I hope this functionality can be restored in 1.0.

[2016-08-22 12:01] kennu commented on #1513
I tested Serverless 1.0.0-beta2 and immediately ran into problems with the S3 bucket created by CloudFormation. I could not delete the CF stack because the bucket was not empty.

I strongly recommend not creating S3 resources with CloudFormation, because the stacks easily get into conflicted states when removing and recreating them. User is forced to wait for a long time and clean up S3 manually.

[2016-08-22 12:12] pmuens commented on #1513
Hey @kennu thanks for pointing in that direction. We're about to add a "force switch" to the CLI so that you can force removal by running `serverless remove --force` https://github.com/serverless/serverless/issues/1609

This way the user has to be proactive to remove all the resources and won't remove anything by accident.

[2016-08-22 12:59] kennu commented on #1513
I think it will be a problem for new users who try out Serverless, delete their project, and then try to delete the resources manually from AWS. If the S3 bucket has been created by CloudFormation, it will cause them problems and a bad feeling about Serverless.

[2016-08-22 13:31] pmuens commented on #1878
Resolved with #1921

[2016-08-22 13:31] #1878 closed

[2016-08-22 13:33] DanielRuskin1 commented on #1913
Hmm, I'll definitely post this on the forum if you think it's worth it.  But - it might be worth noting that, on an earlier version on Serverless (the last beta), this exact same config file worked fine.  I only started getting this error after I updated to `beta.2`.

[2016-08-22 15:19] dsshap commented on #1912
Thanks @flomotlik

Looking forward to the upgrade!

[2016-08-22 15:48] kennu commented on #1535
I'd like to comment that the default generated serverless.yml should contain instructions/template on how to add IAM permissions. Granting some permissions is the first thing you need to do in almost any project on AWS.

Previously, this was rather easy by editing s-resources-cf.json and adding some policy statements to the existing policy.

[2016-08-22 17:07] flomotlik opened #1923 "Add IAM role Statement comments to serverless.yml template files"
Adding commented out IAM role statements according to [these docs](https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-iam-role-statements) should help users to set up IAM

Brought up by @kennu in https://github.com/serverless/serverless/issues/1535#issuecomment-241457170

[2016-08-22 17:07] flomotlik commented on #1535
@kennu agreed, opened #1923 for this

[2016-08-22 17:09] flomotlik commented on #1913
Interesting, thats good to know and might be a bug then. Could you run `serverless deploy --noDeploy` and check the resulting CF template if the IAM roles are set up correctly including the things you've put in custom resources as well?

[2016-08-22 17:23] flomotlik commented on #1787
@kevinaud submitted the PR now btw: #1905 great job and will be reviewed and hopefully merged soon.

@kennu so you want to hardcode the profile name in the serverless.yml? Our current approach would be to follow AWS defaults and use `--profile` if its available, AWS_PROFILE if that is available or the default profile in the .aws/credentials file.

Are you the only person deploying those services s

[2016-08-22 17:25] flomotlik commented on #1593
@pmuens in addition to the strong default templates we also need to combine those default templates with various Content types and allowing users to add additional content types.

[2016-08-22 17:32] kennu commented on #1787
In my case (workflow with Serverless 0.5 so far)
- I deploy to 17 different AWS accounts, so each project needs some way to remember the profile or things get difficult
- AWS profile names are standardized between team members so that admin.env can be shared in Git

Until now, we could trust that "sls xxx deploy" does the right thing automatically, so it's why I'm missing that feature. Having to p

[2016-08-22 17:35] flomotlik commented on #1787
Ok thats good to know. I can see something like

[code]

for example. If you provide it via `--profile` you can override that setting, but by default it should work and deploy properly.

[2016-08-22 17:41] kennu commented on #1787
@flomotlik I think that would work well. In fact I tried put `profile: xxx` in serverless.yml, because GitHub search found some test file indicating it might work. And then was disappointed. :-)

It is also a larger problem, because it would be also desirable for AWS CLI to use a specific profile when working under a project. But that's another story and with Serverless, there's generally not that

[2016-08-22 17:48] kennu commented on #1787
This also reminds me of another discussion about overriding AWS profiles for each deployment target. We have many cases where production stage is in a separate AWS account. It would be nice to have `sls deploy -s prod` deploy to the right profile automatically.

[2016-08-22 18:05] DanielRuskin1 commented on #1913
Hmm it looks right to me: https://gist.github.com/DanielRuskin1/c1ed69c8c3847f731155581e9e2bdc31.

[2016-08-22 18:07] sung-hwang-zocdoc opened #1924 "Failing deploy due to Resource name not being alphanumeric"
* Check if an Issue already exists for this
* Add the relevant label(s)
* Be kind :)
Not sure if this is an expected behavior, but this had not occurred in version 0.5. We have dots or dashes in our S3 buckets and it's failing due to buckets not being alphanumeric.

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
1.0.0-beta.2
##### Operating

[2016-08-22 18:13] flomotlik commented on #1924
Thanks for reporting @sung-hwang-zocdoc we're working on that naming in #1869 and will solve this issue with it as well.

[2016-08-22 18:20] DanielRuskin1 commented on #1913
@flomotlik My bad, I figured it out.  It turns out that if you enable "Invoke with caller credentials" in API Gateway, you need to give those credentials access to invoke the Lambda function (not just the API Gateway method) - which makes sense.

Not a bug with serverless.

[2016-08-22 18:22] flomotlik commented on #1913
Ok cool, thanks for following up!

[2016-08-22 18:30] charlierm opened #1925 "Included 3rd party python modules are failing to import"
##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
Windows 10 Enterprise

##### Expected Behavior:
Python modules included in the root directory are zipped into the package and successfully imported when function is invoked.

##### Actual Behavior:
This is a truly bizarre issue :fearful:

I have a simple serverless project with a single python handler using a pip installed m

[2016-08-22 19:39] nicka commented on #1535
I like that's it get's clear to the user how to configure IAM roles/policies. But why don't we add it to the custom resources key? It feels like we don't have a clear distinction on how we would like to configure certain resources within the framework.

TBH I think everything inside the `functions` key is perfectly fine since it can relate to multiple providers and is core to the framework. My con

[2016-08-22 20:06] Bilal-S commented on #1593
@flomotlik @pmuens I would like to add for consideration that systems that require configuration are in general slower to learn and adopt then convention driven systems.
I like the idea of external template files in the native dialect of APIG. On the serverless offline plugin side, we're adopting a pure convention system for this part, but we will revert back if needed to be compatible.
Currently

[2016-08-22 20:13] atonse commented on #1772
@flomotlik Are you currently working on this? I've hit this issue where I'd like to share the IAM role across all the lambda functions in one particular app.

[2016-08-22 20:27] Bilal-S opened #1926 "Info command enhancements needed"
##### Serverless Framework Version:

1.0
##### Operating System:

Any
##### Expected Behavior:

The info command allows discovery of local status of service as well as remote status. A flag could indicate if only one part or the other is needed.
`serverless info --[all|remote|local]`
The local info should indicate all configuration for the service, the function names, the endpoint configuration (t

[2016-08-22 21:59] marioatlp opened #1928 "Serverless 0.5.6 docs no longer avaialable"
There are many people who implemented/implementing serverless based on the 0.5.6 branch. After the most recent push of the beta 2 for the v1 branch all the links now point to the new documentation and there is no apparent or obvious way to recall the old documentation page(or github branch if there is one).

[2016-08-22 23:43] rowanu commented on #1609
Just ran in to this issue myself, and wanted to clarify: The other option with CFN is to set a [`"DeletionPolicy": "Retain"`](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-deletionpolicy.html) on the bucket, so that the stack can be deleted successfully, but no data is lost. Obviously there's an on-going cost (however small) with storing things in S3, so I'm not sure

[2016-08-23 00:51] pouledodue commented on #1609
@rowanu 'retain' option would be great, why not offer both option

[2016-08-23 03:10] rowanu commented on #1787
I'm not sure @flomotlik's example would work - wouldn't that set your profile for your entire provider (i.e. AWS)? I think profile needs to be set per stage for the reasons @kennu mentioned (i.e. deploying different stages to different AWS accounts - it's just best practice).

While the `--profile` flag is a step in the right direction, I would really like to set a profile to use for deployment in

[2016-08-23 03:48] jokeyrhyme opened #1930 "feature: CORS Allow-Origins configured once for all HTTP APIs in project"
##### Feature Request:

- CORS Allow-Origins configured once for all HTTP APIs in project

- perhaps under "defaults", e.g.

[code]

- all HTTP event handler configurations inherit the `cors.origins` values

- this can still be overridden on a per-handler basis by using the current configuration approach: https://github.com/serverless/serverless/tree/master/lib/plugins/aws/deploy/compile/events/ap

[2016-08-23 03:56] jokeyrhyme commented on #308
@flomotlik are there more details for the resolution of this issue available somewhere? I tested this in 1.0.0-beta.1 and I was still seeing macOS binaries from my local machine end up in Lambda, instead of the desired Linux equivalents.

Is it still desirable to have this addressed within serverless? Or is this considered an exercise for the reader? :)

[2016-08-23 04:25] erikerikson commented on #1895
Thanks @eahefnawy and @flomotlik - What @flomotlik said is not available is exactly the thing that  I suspected would be easy to think about.  It would require that the reference be translated into a CFT reference statement and I didn't actually expect it to be available.

I'm probably overthinking this.  Here's what I would expect it to look like:
[code]

[2016-08-23 04:26] erikerikson commented on #1895
Of importance would be that the IamRoleLambda role would only be created if a function was discovered for which a provided/defined(?) role was not supplied.

[2016-08-23 04:56] eahefnawy opened #1931 "New CloudFormation Logical IDs"
We're redesigning the CloudFormation Logical IDs that are generated by the framework to follow a specific pattern to help make them predictable based on #1869 discussion. The general pattern is `functionNameTypeResourceName` Here's a guideline of this pattern:

- `functionName`: Some resources are dependent on functions, in this case, the logical id will be prefixed with the function name. If it d

[2016-08-23 05:47] rowanu commented on #1787
After a bit more investigation, I think the issue I described above is not with Serverless - it seems to be getting the profile from config correctly. It seems like the AWS SDK is not aware of the setting... Sorry for the issue hijack :neutral_face:

[2016-08-23 06:01] pmuens commented on #1925
Hey @charlierm thanks for reporting. This. We've just pushed a fix for windows users the other day.

Could you install the latest release form the master branch via `npm instlal -g serverless/serverless`? This should resolve your problem!

[2016-08-23 06:07] pmuens commented on #1928
Hey @marioatlp thanks for pointing that out.

The old documentation lives here: https://serverless.readme.io/v0.5.0/docs

We need to update our README.md file to point to the correct docs links. I'll do that in a second.

[2016-08-23 06:10] pmuens commented on #1928
@marioatlp just pushed a fix: https://github.com/serverless/serverless/pull/1932

Thanks for reporting this!

[2016-08-23 06:10] #1928 closed

[2016-08-23 06:13] pmuens commented on #1609
@rowanu that's also an interesting setting.

The `--force` switch should enable the user to completely remove all resources related to the service (we want to reduce time you'll otherwise spend in the AWS console).

Do you guys have ideas for other services which might cause problems if one wants to remove the whole service? Or is S3 one of the only services which might fail when not properly prep

[2016-08-23 06:14] pmuens commented on #1930
@jokeyrhyme thanks. That's a really good idea.

However we're about to drop the `defaults` property soon. So we might to think about a different place. Any ideas @eahefnawy ?

[2016-08-23 06:18] eahefnawy commented on #1930
@jokeyrhyme You can make use of the upcoming variable system to have this functionality for reusability. You can just use `self.defaults.cors` or something. Checkout #1834 ☺️

[2016-08-23 06:31] tengis commented on #1485
@pmuens Thanks for update. Looks like it's fine now. So which means it's time to go V1.0 👍 🎆 🎉

[2016-08-23 07:03] jokeyrhyme commented on #1930
@eahefnawy ah, okay. So I could do something like...

cors.yml:

[code]

serverless.yml:

[code]

??

[2016-08-23 07:03] flomotlik commented on #1931
To make the logical ids work well in the future we need to think about 2 things, binding and unique naming:

# Binding in logical ids:

Resources can be bound to either the service or a function. Binding to the service means that when you change the function name the resource logical id will not be changed and thus it will stay the same on the next deployment. Furthermore several functions can use

[2016-08-23 07:05] jokeyrhyme commented on #1930
This substitution is very powerful. This probably addresses some of the other ideas I have, too. :D

[2016-08-23 07:16] flomotlik commented on #1895
@erikerikson you can already achieve what you've configured, with the exception that IAMRoleLambda will still be created.

The plan for per function IAM Roles is to achieve exactly what you configured here, we're creating an IAM role for every function that has statements configured and if all of them have them configured (or they point to some externally created Role) we don't create a service ro

[2016-08-23 07:35] nicka commented on #1931
@flomotlik All good with `{FUNCTION NAME}{CloudFormationResourceName}{ResourceName}{{SequentialID}`.

My only concern is the `{or Random String}`. Do we have a plan to apply custom configuration for these kind of resources through custom resources?

[2016-08-23 07:46] flomotlik commented on #1931
@nicka its only reserved for things where we absolutely need the random string, e.g. APIG Deployment (which is the only case at this point and I hope the last one). APIG Deployments don't need any custom config (or really can't get any custom config) as they are basically just a trigger to deploy. We need the random element there to trigger a redeployment when something changes until Cloudformatio

[2016-08-23 07:49] flomotlik commented on #1931
What we can do though is add the random variable to the Parameters or mappings section of the CF template file so users can actually access it in custom resources (though I'm not sure if they are able to access it in the logicalID. http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/mappings-section-structure.html

[2016-08-23 08:24] pmuilu opened #1933 "Resources in Serverless.yml"
I have several Lambda functions that are taking care of trigger events for various AWS services (for example Cognito Sync Trigger). I have tried to create custom resource json which seem to do what I want, however I've bumped to few "conceptual issues" and I'm not sure what is "serverless-way" to handle these or is there any.

1. If I have Lambda function that requires permissions e.g. I need to d

[2016-08-23 08:29] pmuens commented on #1786
Will be resolved with #1934

[2016-08-23 08:53] charlierm commented on #1925
@pmuens I've updated to the latest release and it's resolved the problem.

I'm guessing it relates to #1872.

Thanks for your help :+1:

[2016-08-23 08:53] #1925 closed

[2016-08-23 09:40] tur-ing opened #1935 "Use path params in serverless 1.0"
I want to use the path param of a **GET** request and pass it to my Lambda function. In serverless < 1.0 you were able to use templates for that purpose. How can I do that in serverless.yml by using serverless 1.0@beta?

(also asked this on [SO](http://stackoverflow.com/questions/39097572/use-path-params-in-serverless-framework-1-0))

[2016-08-23 10:09] tur-ing commented on #1935
# Solution

Define the path param - for instance customerId - in serverless.yml:
path: customer/customerId

In API Gateway, under your API /customer/{customerId} go to Integration Request and create a new Body Mapping Template which responds to application/jsonand has the following content:
{ "customerId": "$input.params('customerId')" }

Now the path param customerId is passed through to the AWS

[2016-08-23 10:09] #1935 closed

[2016-08-23 10:13] flomotlik commented on #1772
@atonse at the moment nobody is actively working on this. We would love to have this implemented, but got a few other higher priority things to implement at first. You could probably do this through custom resources at the moment and overwriting the execution role through custom resources.

We're very open to contributions on this though if somebody is interested in jumping in on this :)

[2016-08-23 10:33] flomotlik commented on #1933
@pmuilu Can you upgrade to the latest Beta 2 or master. We've implemented a new way resource merging works that should resolve these merging issues. I'll close for now as this is a resolved problem on master.

[2016-08-23 10:33] #1933 closed

[2016-08-23 10:37] flomotlik commented on #1930
We can probably put this into `provider` as well in the future, though I'd like to have it through the var system at first.

@jokeyrhyme you can also do the following so its in the same file (vars in this case is a custom thing you set up, not defined by us so you can call it anything):

[code]

[2016-08-23 10:50] jokeyrhyme commented on #1930
Well, I'm satisfied that there's an approach for this. If you feel there is some outstanding work to be done here, then by all means leave this open, otherwise feel free to close it. :) Thanks!

[2016-08-23 10:54] rowanu commented on #1609
The policy is used to retain state after resources have been cleaned-up and so many of it's use-cases are aimed at stateful servers (e.g. volumes and snapshots), which is obviously not an issue with Serverless. The only other example that comes to mind is DynamoDb - if DDB tables are ever provisioned as part of a deployment you might not want to automatically delete them.

[2016-08-23 11:13] flomotlik commented on #1930
I'll close this for now as we don't plan to work on it anytime soon and can come back to it at some point. Thanks for bringing it up!

[2016-08-23 11:13] #1930 closed

[2016-08-23 11:14] pmuilu commented on #1933
Ok thanks, I was using beta 2 from last night. But yeah. I'll see whether master fixes this.

[2016-08-23 11:15] flomotlik commented on #1933
You might have to add DependsOn relationships as well. I think Ref typically takes care of this automatically, but if not make sure you're adding DependsOn to all of your custom Resources so the functions are created and the custom resource depends on the function to be created. http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-dependson.html

[2016-08-23 11:53] pmuens commented on #1887
Resolved with #1936

[2016-08-23 11:53] #1887 closed

[2016-08-23 11:58] pmuens commented on #1925
@charlierm great!

FYI here's the PR which resolved the issue: https://github.com/serverless/serverless/pull/1863

[2016-08-23 12:48] pmuens commented on #1869
Conclusion / gist of this discussion can be found (in combination with the proposal) here: https://github.com/serverless/serverless/issues/1931

[2016-08-23 13:21] pmuens commented on #1726
Will be implemented in #1937

[2016-08-23 13:55] pmuens opened #1938 "Download Serverless service via git URL form the command line"
It would be great if one can download a Serverless service via a git url form the command line.
This way one can directly download and deploy pre-existing services (e.g. an auth service) without going through `git clone` or "download zip".

It's basically the same like we already do with the templates except that the template is a full service which is accessible through git.

Something like `serv

[2016-08-23 14:22] nicka commented on #1931
@flomotlik Thanks for the clarification on this!

[2016-08-23 18:08] erikerikson commented on #1895
@flomotlik is that on a branch other than master?  I've been reading through the code and that is why I opened this in the first place.

Do you see IamLambdaRole as necessary or are you just communicating the current state?  A requirement for IamLambdaRole prohibits adoption here.

Logical naming sounds nice but I'm still wrapping my head around the new world that's been created.

[2016-08-23 18:11] erikerikson commented on #1895
Incidentally, I think I would prefer the following revision.  It assumes that custom roles will be merged with the default role in order to increase the terseness of specification.

[code]

[2016-08-23 18:22] pouledodue commented on #1609
retain DDB data is a must IMHO.

[2016-08-23 19:52] worldsoup commented on #1938
This is a feature I'd love to use! The main two use cases for me would be:

1. downloading some example services that the Serverless team provides as part of on-boarding
2. downloading services submitted by 3rd party developers that help me easily use their service

[2016-08-23 21:13] justinsoliz opened #1939 "API Gateway error handling patterns"
##### Serverless Framework Version: 1.0.0-beta.2

I'm not seeing anything in the docs that references error handling patterns (400s, 404s, 500s etc..) in regard to API gateway. Is there a page I may have missed or is this beyond the scope of functionality that serverless is supporting right now?

[2016-08-23 21:20] ac360 commented on #1938
+1000  I'm currently in favor of `install` instead of `create`.  Also, we've already written this code in V.0 (though we ended up taking it out for other reasons) and it's in there if you need something to reference.  I believe Ian Strom Taylor has a nice lib for downloading and unzipping from git, which works with branches, etc.

[code]

[2016-08-23 21:20] ac360 commented on #1938
Also, we spoke with @flomotlik and this is definitely a priority.

[2016-08-23 21:48] johncmckim commented on #1777
@flomotlik @pmuens awesome that will save me some work. I'll wait until that is merged before continuing with this. I want ensure the new packaging functionality works with those changes.

As the PR is now `sls deploy` packages either as a whole or individually depending on the flag `individually`. It also unions the `service` and `function` level `include` and `exclude` options.

[code]

**files*

[2016-08-23 22:35] rowanu opened #1940 "Cannot deploy stages using different profiles in v1.0.0-beta.2"
**Note: This was changed from a feature request to a bug**

Serverless Framework Version: v1.0.0-beta.2

Operating System: OSX

Expected Behavior: Setting the `profile` variable (in `serverless.env.yml`) for a stage makes `sls` commands use it when calling the AWS API.

Actual Behavior: The variable in file is ignored, and only the profile set by environment variable `AWS_PROFILE` is used, regardl

[2016-08-23 22:53] viz opened #1941 "deploy fails on circleCI"
##### Serverless Framework Version:
1.0 beta 2

##### Operating System:
Ubuntu 14.04 (CircleCI build container)

##### Expected Behavior:
ran sls deploy --stage staging --region us-east-1

expected deploy to complete (works from local environment - MacOS El Capitan, Node 4.4.0, sls 1.0b2)

##### Actual Behavior:
seemed to hang on 'Updating Stack' and then eventually failed (presume Circle timed it

[2016-08-23 23:04] rowanu commented on #1940
I've worked around this by combining AWS profiles (environment variables) and stages per-command, but it's clunky and manual. I'd really just like to be able to run `sls deploy` and have it take care of things...

[2016-08-23 23:07] viz commented on #1941
tested from CircleCI container using SSH and running deployment manually - deployed successfully.

Could this be related to the cli interacting with CircleCI? Not sure whether there is anything that can be done on the serverless side or not... I will raise it with Circle as well.

[2016-08-23 23:16] tengis commented on #1941
@viz It's more like your environment issue. Make sure your circleCI agent & ssh user both using same PATHs or environment variables

[2016-08-23 23:25] viz commented on #1941
OK, so resolved this by defining an npm script that runs the same command. No change to any environment variables or paths...

Not sure why this would make a difference - I'm sure someone here will understand the difference.

[2016-08-23 23:39] ashachar opened #1942 "Serveless-offline plugin installation problem"
##### Serverless Framework Version:  1.0.0-beta.2

##### Operating System: OS X

##### Expected Behavior:
I've followed steps a and b listed here:
https://github.com/dherault/serverless-offline/tree/serverless_v1
Then, in step b, Upon adding the following to serverless.yml:

And invoking "serverless", the console should display Offline as one of the plug-ins now available in your serverless projec

[2016-08-23 23:46] rowanu commented on #1942
Shouldn't this be raised on the [serverless-offline](https://github.com/dherault/serverless-offline) repo?

[2016-08-23 23:59] nguyer opened #1943 "Default authorization identitySource"
Line 47 of `authorizers.js` sets the default identitySource to `method.request.header.Auth`:

    identitySource = authorizer.identitySource || 'method.request.header.Auth';

To me, it seems strange that the default is not `method.request.header.Auth`. Is there a reason why it is this way? Most APIs that I have used, the `Authorization` header is used.

Shouldn't the default be `Authorization`?

h

[2016-08-24 04:32] pmuens commented on #1942
Hey @ashachar thank you for reporting this.

@rowanu is right. It seems like this is an issue with the implementation of the `serverless-offline` plugin and not the Serverless framework itself.

Could you reopen it at the `serverless-offline` repo? Thanks!

[2016-08-24 04:32] #1942 closed

[2016-08-24 04:40] pmuens commented on #1938
Great. Thanks @ac360 for the pointers. Just moved it to the beta.3 milestone as it shouldn't be that hard to implement.

Maybe we should also introduce a `community-services` repository which is similar to the `community-plugins` where other Serverless developers can explore pre-written services (e.g. an auth-Service)?

[2016-08-24 04:42] pmuens commented on #1939
Hey @justinsoliz thanks for bringing that up.

We're currently discussing this in https://github.com/serverless/serverless/issues/1593 as we're about to introduce the functionality to add own request / response templates which should cover that.

Feel free to chime in!

Closing this for now as the implementation of #1593 which is planned for the beta.3 milestone should solve this problem here.

[2016-08-24 04:42] #1939 closed

[2016-08-24 05:15] viz commented on #1941
had a similar problem locally where sls deploy (zipping plugin) was failing because it couldn't find /node_modules/.bin/babel even though I'd removed all dependencies on babel and removed the node_modules directories.

Resolved by deleting node_modules and re-installing.
![1__bash](https://cloud.githubusercontent.com/assets/12402/17919034/89912808-6a0d-11e6-9d0b-1208a6679d19.png)

rebuilding on Ci

[2016-08-24 05:37] ac360 commented on #1726
@flomotlik @pmuens @DavidWells Sorry for re-open, but I want to put in one last request for the CLI to make a subdirectory, like it used to.

Both `mkdir` and `--path` make the on-boarding look complex.  They are lengthy CLI commands that look intimidating in our quick-start and on the front page of this website.  Now, there are requests to hide `mkdir` from the quick-start and website, which woul

[2016-08-24 05:52] pmuens commented on #1726
@ac360 Have you looked into #1937 which was opened yesterday? It implements the `--path` idea (which feels natural to me when using the CLI as a developer).

There's already a WIP PR for the `name` option (https://github.com/serverless/serverless/pull/1910).

[2016-08-24 07:11] marcelboettcher opened #1946 "context.getRemainingTimeInMillis() returns wrong value in local mode"
Bug Report Template -----------------------------------------------

##### Serverless Framework Version: 0.5.6
##### Operating System: Ubuntu 14.04

##### Expected Behavior:
I run `sls function run myFunction -r eu-west-1 -s dev`
1) context.getRemainingTimeInMillis() should return the timeout value from the s-function.json (in millisecs) initially.
2) it should calculate the remaining time. (I don

[2016-08-24 07:24] ac360 commented on #1726
Ok, just discussed this with @pmuens.  It seems like we can accomplish everyone's use-cases with this suggestion:

[code]

* Without `-p`, the service is created in the CWD, with a random service name.
* With `-p` the service is created in the specified path.  We'll strip the folder name from the path, and use that in the `serverless.yml` `name` property.  Also users will be able to do `-p ./compl

[2016-08-24 07:37] pmuens commented on #1946
Hey @marcelboettcher thank you for reporting this bug.
Unfortunately we're not support Serverless v0.5 anymore as we've moved on to work on Serverless v1 (will be release pretty soon and is in beta right now).

Transition to use the new v1 should be pretty straight forward. You can read more about it in the docs (docs.serverless.com).

Let us know if you face any problems or have any additional qu

[2016-08-24 07:37] #1946 closed

[2016-08-24 07:40] marcelboettcher commented on #1946
ok, thx. So this is fixed/available in the new release? Otherwise the request should be valid for v1 as well.

[2016-08-24 07:42] flomotlik commented on #1787
@rowanu you can do per stage setting with nesting of environment variables as described in #1834

[2016-08-24 08:21] flomotlik commented on #1726
I like this. If necessary we can still add a `--name` attribute in the future if people want to create a project in the CWD but still give it a name. But imho its fine like this now.

[2016-08-24 08:26] pmuens commented on #1726
Alright. Then I'll update #1937 with @ac360 proposal

[2016-08-24 09:10] pmuens commented on #1726
@serverless/core just pushed an update to #1937 which implements the service renaming as describe above.

[2016-08-24 09:24] pmuens commented on #1902
Closing this as a PR (#1910) was opened for this one. We'll continue the discussion there.

[2016-08-24 09:24] #1902 closed

[2016-08-24 09:46] rowanu commented on #1787
@flomotlik the problem is the variables weren't honoured by the SDK. Please see my (recently updated) bug #1940 and PR #1945.

[2016-08-24 11:59] pmuens commented on #1593
Thanks for the discussion so far.
Here are

[2016-08-24 12:41] ashachar commented on #1942
Thanks. Will do.

[2016-08-24 12:57] nguyer commented on #1943
Also line 30 of the same file.

[2016-08-24 13:45] nguyer opened #1948 "Unable to create Authorizer using Object notation in serverless.yml"
Serverless Framework Version: 1.0.0-beta.2

Operating System: Mac OS X 10.11.4

Expected Behavior: API Gateway Authorizer created

Actual Behavior: API Gateway Authorizer fails to create, with the following message:

[code]

Description: When I attempt to use the Object notation for defining an Authorizer, Serverless fails to create the API Gateway Authorizer. The documented example that I am usin

[2016-08-24 13:54] flomotlik commented on #1787
@rowanu we're introducing the new variable system in the next few days which will make things like this easier going forward

[2016-08-24 14:21] JakubMatejka opened #1949 "Cognito user pool authorizer"
Can I set Cognito user pool authorizer for http endpoint? Documentation deals with custom authorizers defined by name
(https://github.com/serverless/serverless/blob/85f4084e6b0fd4a6d763ace8cd0db82817bbc712/lib/plugins/aws/deploy/compile/events/apiGateway/README.md#http-setup-with-custom-authorizer) or arn. The Cognito user pool authorizer does not have lambda function nor arn so I don't know how t

[2016-08-24 14:37] flomotlik commented on #308
@jokeyrhyme I don't think we'll implement anything specifically for this in the short to medium term, as it comes with a lot of complexity. Basically when you deploy from a OSX machine, but want to compile native code for Linux it can either be possible through cross-compilation, or Serverless would have to set up some infrastructure for you that compiles your applications there.

Basically we wan

[2016-08-24 14:39] flomotlik commented on #1535
@nicka imho things like extending roles is common enough that we should have something beyond just custom resources. I'm trying to mostly apply the 80/20 Role, so the 80% of use cases that are super common and typically involve the same things should have a built in way to do things. Extending your Role to be able to access other services imho definitely falls under this rule.

[2016-08-24 14:44] flomotlik commented on #1949
You should probably be able to set it through custom resources, by simply adding/overriding the template with everything you need for Cognito user pool? Currently we don't have it implemented in the framework, but you can extend and overwrite the CloudFormation template by adding resources to resources->Resources in the serverless.yml file

[2016-08-24 14:54] kennu commented on #308
Just to share my own Docker solution. I currently add a custom "install" script to any package.json that needs a Linux-specific binary for Lambda:

    "install": "[ -e node_modules/sharp/build/Release/sharp.node ] || docker run --rm -v $PWD:/data -w /data node:4 npm install sharp"

I then remove the dependency ("sharp" in this case) from package.json and let the install script install it via Dock

[2016-08-24 15:45] eahefnawy opened #1950 "Multiple Functions can't subscribe to the same bucket"
If multiple functions are using the same bucket as S3 event, deployment will fail because the framework is trying to create the bucket twice.

[2016-08-24 17:16] DanielRuskin1 opened #1952 "Support Stack Policies"
##### Feature Request:

Support [Stack Policies](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html#protect-stack-resources-protecting) on CloudFormation stacks.

##### Benefits:

* Allows for safely defining non-transient resources (e.g. an RDS instance).  Without policies, updating resources can trigger deletions (which could lead to loss of data, e.g. RDS

[2016-08-24 17:43] msbloves opened #1953 "socket hang up"
I am trying to deploy sample service as mentioned in documentation, executing from my company network.

:~Documents/my-first-service$ serverless deploy

  Error --------------------------------------------------

     ServerlessError: ServerlessError: socket hang up

     For debugging logs, run again after setting SLS_DEBUG env var.

  Get Support --------------------------------------------

[2016-08-24 17:56] msbloves commented on #1953
no more socket hang up issue, so closing it. but looks inconsistent will report if same happens again.

[2016-08-24 17:56] #1953 closed

[2016-08-24 18:23] wedgybo opened #1954 "Travis CI builds fail when zipping the service"
##### Serverless Framework Version:
1.0.0-beta.2
##### Operating System:
Linux
##### Expected Behavior:
Deployed stage via travis CI build server
##### Actual Behavior:
Travis kills the build with the following error message

Full build here - https://travis-ci.org/mallzee/serverless-boilerplate-service/builds/154659803

[code]

![](https://www.dropbox.com/s/ep9tz68ywzdhdrp/Screenshot%202016-08-24

[2016-08-24 18:55] Jorenm opened #1955 "How do I enable CORS?"
##### Serverless Framework Version: 1.0.0-beta.1.1

How do I enable CORS so I can access my functions? I can't find anything in the docs, and the CORS plugin seems to not be relevant to the current version of Serverless.

[2016-08-24 22:03] rowanu commented on #1940
There's still support for *reading* the `AWS_[STAGE]_PROFILE` variables, but they still aren't recognised by the SDK.

[2016-08-24 22:37] tappantech commented on #1593
First time serverless user here, so forgive me if this question/comment has already been asked/made!  Based upon what I'm seeing, the default APIG request template created by Serverless (1.0.0-beta.2) *does not* send through the resource path (ie.. $context.resourcePath), is that right?  I'm attempting to have a single handler for multiple endpoints, and have my handler be able to determine the en

[2016-08-24 23:03] rowanu commented on #1940
To the maintainers: sorry for all the edits, I did the first version of this ticket in a rush.

I had a PR to fix this bug but it was rejected due to upcoming changes. I'd be happy to update it once #1834 is merged.

[2016-08-24 23:45] kinvil commented on #1955
http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html

[2016-08-24 23:58] Jorenm commented on #1955
Digging through the docs I finally managed to find this: https://github.com/serverless/serverless/tree/master/lib/plugins/aws/deploy/compile/events/apiGateway

Sadly, it does not work. For GET requests it seems fine, but for POST it doesn't work.

[2016-08-25 00:04] ac360 commented on #1955
Hi all.  We are restructuring our docs to make this easier to find.

@Jorenm could you please post more info on your issue so we can verify the error is on our end?

[2016-08-25 00:11] Jorenm commented on #1955
Here is my serverless.yml config for it:

[code]

I can confirm when I go to the API Gateway that it is setting up OPTIONS functions, and configuring both end points with the same CORS-related settings.

I'm trying to access them like this:

[code]

The GET one works, the POST one throws this error:

If you'd like details about any of the API Gateway settings, let me know.

[2016-08-25 00:18] ac360 commented on #1955
@Jorenm Can you confirm you are adding this header and it's still not working?  I just tested your endpoint (sorry) with that Header and it works.

[code]

[2016-08-25 00:22] Jorenm commented on #1955
Heh, no problem. If I minded I'd have edited it out :P

Adding this did indeed fix it. I haven't done any CORS stuff before, so maybe this is obvious to most people. If it isn't obvious, putting a sample AJAX request in the CORS section might be good?

Thanks for your help!

[2016-08-25 00:22] #1955 closed

[2016-08-25 00:23] ac360 commented on #1955
@Jorenm Thanks.  I think the issue is we need to have better docs.  People run into this problem w/ Angular too.

Let us know how else we can help.  We're here full-time and we have LOTS coming :)

[2016-08-25 00:29] puug opened #1956 "Custom Stack Tags (for 1.x)"
##### Feature Request:

Looks like the feature used to exist on 0.5.x, but no longer for 1.x

https://github.com/serverless/serverless/issues/965

[2016-08-25 01:35] DavidWells opened #1957 "New docs structure"
##### TLDR:

Proposed new docs structure.

##### Discussion:

This is the proposed doc structure. Let me know your thoughts.

**Option 1**
[code]

Claudiajs and gordon do a great job with their examples.

- https://github.com/jorgebastida/gordon/tree/master/examples
- https://github.com/claudiajs/example-projects

I'd like to follow the claudiajs approach and categorize the examples like they do h

[2016-08-25 01:36] lukas-gitl commented on #1593
@tappantech You can deduce the path though if you define it as {1}/{2}/{3}

[2016-08-25 01:38] DavidWells commented on #1957
OR we have `/providers` at the top level instead of `/examples` like so:

[code]

[2016-08-25 01:52] DavidWells commented on #1957
**Option 1** urls on the site will look like: `serverless.com/docs/examples/aws/hello-world/node`
**Option 2** urls on the site will look like: `serverless.com/docs/providers/aws/examples/hello-world/node`

**Option 1** means all examples will live in a master /examples/ folder.

 - /examples/aws/
 - /examples/google/
 - /examples/azure/

**Option 2** is cleaner from url perspective but it means t

[2016-08-25 02:40] tappantech commented on #1593
@lukas-gitl Thanks for the suggestion, much appreciated.  While that would work to some extent, I think that would introduce new issues such as adding a custom authorizer to one endpoint (i.e. /user/create) while another should remain open (i.e. /user/login).  Both of those would match a variable based definition of the endpoint (i.e. {1}/{2}) which would force you to authorize or not via logic in

[2016-08-25 05:51] pmuens commented on #1957
Great. Thanks for the Writeup @DavidWells

I like proposal 2 as it's explicit about providers and signals that we're about to support multiple providers pretty soon.

I'd also include this issue in the discussion:
https://github.com/serverless/serverless/issues/1522

This is something @eahefnawy and @ac360 came up with a while ago (taken from the issue above):

[code]

[2016-08-25 06:00] pmuens commented on #1955
We're just discussing the new docs structure here. @Jorenm Would be great if you could give some feedback on that https://github.com/serverless/serverless/issues/1957

[2016-08-25 06:03] pmuens commented on #1954
Good catch @wedgybo thanks for reporting!

This is definitely something we need to look at.

There's a new plugin around the corner which optimizes the service before deploying https://github.com/nfour/serverless-build-plugin Maybe something in that area might also help here.

[2016-08-25 06:09] pmuens opened #1958 "Add new features for tracking functionality"
Our anonymous tracking functionality needs some additional changes so that we can understand the usage of the Serverless framework better.

Here are the proposed changes:
- Track function related properties (e.g. `memorySize`, `timeout`)
- Track invocation time of invoke plugin (how long does a function run?)
- Create an anonymous user so that trackings can be associated with the user
- Track Time

[2016-08-25 06:57] mthenw commented on #1957
+1 for Proposal 2.

Two things about `/workflow` part:

### 1

This will be first section that every user will read so maybe we should make it as simple as possible. I'm not sure if creating plugins and building provider integration are topics for getting started. What do you think about making it shorter like this:
[code]

and adding another section
[code]

## 2

IMHO `/workflow` should be rename

[2016-08-25 08:27] josephfinlayson opened #1959 "Zipping fails locally with serverless 1.0.0-beta.2"
##### Operating System:
OSX
##### Expected Behavior:
Serverless deploys successfully
##### Actual Behavior:
It fails
##### Stack-Trace (Optional):
sls deploy

[code]

[2016-08-25 09:00] oipat opened #1960 "CORS not working for multiple methods on same endpoint"
##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
OSX 10.11.6

##### Expected Behavior:
OPTIONS request on endpoint returns Access-Control-Allow-Methods header with all configured methods enabled

##### Actual Behavior:
OPTIONS request on endpoint returns Access-Control-Allow-Methods header with only the method that is defined last in serverless.yml

Our serverless.yml conf

[2016-08-25 09:37] thenikso commented on #1441
I was getting this (in the cloud formation console, not in the Serverless error output which would be great to have instead)

So to make all this work I had to add:

[code]

[2016-08-25 09:54] pmuens commented on #1959
Hey @josephfinlayson thanks for reporting! This might be related to this one https://github.com/serverless/serverless/issues/1954

The problem might be this issue in the jszip library: https://github.com/Stuk/jszip/issues/227

Could you provide any pointer how large your .zip file / service is? Thanks!

[2016-08-25 10:35] flomotlik commented on #1956
@puug yup that looks like a nice feature. Added a help-wanted-easy label if somebody can pick it up. We won't get to it ourselves anytime soon as we need to get a few other things done first, but if somebody picks it up and proposes an implementation we're open to it.

[2016-08-25 11:55] josephfinlayson commented on #1959
This was fixed with `node --max-old-space-size=8100 $(which serverless) deploy `

[2016-08-25 12:18] JakubMatejka commented on #1949
Uh, ok, I'll try that. It looks like a lot of custom hacking for someone who hasn't used Cloud Formation yet but this seems like a good opportunity to start, right? ;o) Anyway, if there is some support for Cognito in SLS in future, it will be much appreciated. Thanks.

[2016-08-25 12:25] andymac4182 commented on #1609
If you have changed a IamRole by attaching a managed policy it will cause the Delete Stack to fail.

[2016-08-25 13:02] pmuens commented on #1609
Thanks @andymac4182 that's good to know.

So this feature might need a little more in-depth investigation before starting the implementation phase.

Maybe we can start with a simple warning which gets printed on the console before the StackRemoval process starts and also document the whole process / pitfalls.

[2016-08-25 13:28] flomotlik commented on #1949
Yup more support is definitely planned in the future. One thing I overlooked though is that Cognito isn't supported by CF at the moment I think. At least going through the docs doesn't show anything and I don't remember any recent updates on this.

[2016-08-25 13:28] flomotlik commented on #1949
Will close this issue for now as we can't do it through CF and will come back to it once CF supports it.

[2016-08-25 13:28] #1949 closed

[2016-08-25 14:23] pmuens commented on #1960
Thanks for reporting @oipat

We're working on this in https://github.com/serverless/serverless/pull/1951 where we're refactoring the logical IDs for CloudFormation.

[2016-08-25 14:35] flomotlik commented on #1960
@oipat this is also definitely a bug as we're simply overriding the current cors config. As @pmuens already mentioned we're going to fix this with #1951 and a follow up that will merge the cors configs together properly.

At the moment the best thing you can do is only have CORS config on one endpoint and set the allowed methods there for all HTTP Methods. should work as a workaround for now.

[2016-08-25 15:22] flomotlik commented on #1959
@josephfinlayson how many files is serverless packing in your specific setup?

[2016-08-25 15:22] flomotlik commented on #1954
@wedgybo just to make sure your assumption is this is due to node_modules having tons of files in there?

[2016-08-25 15:26] flomotlik commented on #1952
Yup thats definitely an interesting feature and we would accept the PR. Could you post a description of how you would plan to do the implementation in detail? Just want to make sure we all agree on it in the design phase before starting much of the coding.

[2016-08-25 15:30] wedgybo commented on #1954
That's my thinking from what I've read about JSZip. It's not the file size that's the issue, just the volume of files. So on my example repo https://github.com/mallzee/serverless-boilerplate-service/blob/master/package.json That still fails to deploy due to the amount of files generated by the dev dependencies it's trying to package up. Which it shouldn't be anyway, but that's another issue.

I ha

[2016-08-25 15:34] pmuens commented on #1954
Awesome @wedgybo!
Thanks for investigating. Looking forward to the PR!

[2016-08-25 15:37] wedgybo commented on #1954
No worries. Happy to help when I get the time as I believe this will solve a lot of things I'm looking to put right with our AWS deployments :)

It would be good to know if the plan to adopt the plugin is happening soon as I've not tested that out soon. But if it's based on JSZip I'd guess it will have the same issue? If it's coming real soon I'll jump onto it.

[2016-08-25 15:53] flomotlik commented on #1938
What would be the extent of this feature? Would it only download and store the specific service in a local directory, should it deploy it as well potentially?

Are we going to deal with updating this service as well? How about building the artefacts for deployment (especially across language)?

Just want to make sure we have a common understanding of what this feature should do.

[2016-08-25 16:15] lukas-gitl commented on #1593
@tappantech Very much agreed. Depending on your situation it might have been a usable workaround.

[2016-08-25 16:18] ac360 commented on #1938
IMO, for now, all it should do is download a zip from Github, and unzip the directory.  Later, we can investigate auto-deploying in this one command, which is an interesting idea.

At the moment, our goal is to get the bare minimum of this feature implemented so that the community can start building services ASAP.

Also, we're going to learn a lot.  We really have no idea how this is going to go.

[2016-08-25 16:28] tappantech commented on #1593
@lukas-gitl It's a great suggestion, so thanks again.  I might be using it as a temporary workaround where applicable until the new vm templates are introduced and/or the default template is updated to include $context.resourcePath.

[2016-08-25 16:56] pmuens commented on #1938
Yep. I understood it in a way that I simply provide a gitUrl and the repo is cloned on my local machine so that I can do smth. like

`serverless install --service git@github.com:serverless/serverless-authenticator.git`

`cd serverless-authenticator`

`serverless deploy`

And have an authentication service up and running. I know one can say "well do a simple git clone" but the idea is that the user

[2016-08-25 17:27] wedgybo commented on #1954
So with my branch I get a successful build. Time for that PR

![](https://www.dropbox.com/s/hq3hffo6w1t52ww/Screenshot%202016-08-25%2018.24.04.png?dl=1)

[2016-08-25 18:31] Jorenm commented on #1957
+1 for proposal 2. Also I agree with mthenw that separating the frequently accessed basic functionality from the more advanced is a good idea.

I'd also like to see a Troubleshooting section added for some common causes and solutions to errors like the "UPDATE_ROLLBACK_FAILED state", or "The specified bucket does not exist". My solution to all such errors was to delete my stack from Cloud Formatio

[2016-08-25 23:40] harakiro opened #1962 "Local context attributes do not match lambda ENV."
context.functionName should be a string.

To reproduce create a lambda function that logs typeof context.functionName.

Run it via sls function run
then deploy and run it in AWS.

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
0.5.6

##### Operating System:
Mac OSX, likely NA

##### Expected Behavior:
The context object of the locally runni

[2016-08-25 23:43] nfour commented on #1777
Currently building a plugin to handle builds in a similar way to the `package` plugin, but to optimize for nodejs projects. Once this issue gets merged in I should be able to produce artifacts for each function individually, which should do the trick for deployment.

https://github.com/nfour/serverless-build-plugin

[2016-08-25 23:47] harakiro opened #1963 "Attempting to return context causes circular error."
My lambda function (for testing) returns the context object as part of the response. This executes fine in the AWS environment. However, when running locally it causes a circular reference error and fails to run.

This could be fixed by adding the following code to the lambda environment simulation code:
var util = require('util');

Then wrap the response in util.inspect() before calling JSON.stri

[2016-08-26 01:33] DavidWells opened #1965 "serverless create error messages"
##### Serverless Framework Version:

1.0.0-beta.2
##### Operating System:

Mac
##### Expected Behavior:

Serverless should throw a warning or tell me that I can't write in the directory.
##### Actual Behavior:

Serverless says the project is created when it actually is not.

`serverless create --template aws-nodejs` didn't create the project like the CLI says it did.

![image](https://cloud.github

[2016-08-26 03:04] jtrefry opened #1966 "Function Role Requires CreateNetworkInterface Permission"
##### Serverless Framework Version:
1.0.0-beta.2

##### Operating System:
Windows 10 Home

##### Expected Behavior:
Deploy command configures Cloud Formation for serverless.yaml file containing a Lambda function with http event and vpc configuration.

[code]

##### Actual Behavior:
An error occurred while provisioning your cloudformation:
     The following resource(s) failed to update: [function

[2016-08-26 05:29] flomotlik commented on #1938
I'm fine with implementing (mostly cause it won't take a lot of time at the moment) but thinking about it more I don't really think this is going to lead to any proliferation of services being built by users. Its a very thin layer on top of git clone and not something like a service registry that users can explore.

Without putting very serious effort into making sure more people build services, w

[2016-08-26 05:39] pmuens commented on #1962
Hey @harakiro thanks for reporting this.
Unfortunately we're not supporting Serverless v0.5 anymore as we've moved forward to implement Serverless v1. Transition to the new version should be straight forward (you can read more about it in the [docs](http://docs.serverless.com).

Let us know if you have any additional questions!

[2016-08-26 05:39] #1962 closed

[2016-08-26 05:41] pmuens commented on #1963
Hey @harakiro thanks again for reporting.
We've moved on and are not supporting Serverless v0.5 anymore.

[Here](http://docs.serverless.com) are the docs which should help you to switch to the new Serverless v1.

Let us know if you have questions along the way!

[2016-08-26 05:41] #1963 closed

[2016-08-26 06:17] pmuens commented on #1966
Hey @jtrefry thanks for reporting this 💯 .

We're working on a fix for this in https://github.com/serverless/serverless/pull/1934 would be graet if you could take a look at it!

[2016-08-26 06:32] DavidWells commented on #1957
Updated structure/layout can be seen on this branch: https://github.com/serverless/serverless/tree/newDocsSetup/docs

The updated structure looks like:
[code]

We took @mthenw idea and then decided to merge all those docs in the top level of docs in order of when they should be read.

------

@pmuens The providers are all broken down into their own folders: https://github.com/serverless/serverless

[2016-08-26 07:58] pmuens commented on #1957
Hey @DavidWells thanks for that! Just added some comments (much of those apply for the whole PR).

Here are some other thoughts:

IBM OpenWhisk is missing in the doc about providers
I would remove the guide character of the docs so that each document is standalone and don't has / need any context. So if I want to know how to deploy I just look into the deploy command doc and see a simple explanati

[2016-08-26 08:59] thenikso commented on #1593
Would it make sense to be able to have `template` also as an inline property? such as like:

[code]

[2016-08-26 09:05] pmuens commented on #1760
Before releasing v1 we should investigate complex methods and refactor the code accordingly.

Reopening this issue to reflect that.

/cc @eahefnawy @flomotlik

[2016-08-26 09:30] flomotlik commented on #1760
Imho we shouldn't do this with V1. The code is fine at this point and adding more tasks will delay V1. We should do it afterwards.

[2016-08-26 09:46] flomotlik commented on #1593
@thenikso if you really want to inline you could do this through custom resources, but imho supporting inlining in the config is just going to lead to lots of problems with people not getting it right.

Can be nice for some cases, but will lead to tons of problems and support requests and isn't that necessary imho as a feature.

[2016-08-26 09:53] pmuens commented on #1593
The implementation just started: https://github.com/serverless/serverless/pull/1968 feel free to comment on the PR!

[2016-08-26 10:17] parthaMyndbee opened #1969 "iamRoleArnLambda and authorizationType configuration with v1.0"
I am just looking similar configuration through yaml

1. How to I say serverless to use a specific role for all / each of my lambda function ? Which I used to do in 0.5 by configuring  s-variables-stage-region.json and the "iamRoleArnLambda": "arn:aws:iam::<account>:role/XYZ"
2. How do I configure the endpoint to use IAM authorization ? Again using v 0.5 I do that by "authorizationType": "AWS_IAM"

[2016-08-26 10:26] parthaMyndbee commented on #1969
#1772

[2016-08-26 10:32] tomesch commented on #1948
I ran into the same problem. The problem arrises when using the object notation without providing a TTL.

When using the object notation without providing a TTL, [`String(authorizer.resultTtlInSeconds)`](https://github.com/serverless/serverless/blob/85f4084e6b0fd4a6d763ace8cd0db82817bbc712/lib/plugins/aws/deploy/compile/events/apiGateway/lib/authorizers.js#L46) returns "undefined", which makes the

[2016-08-26 12:26] pmuens commented on #1593
While implementing this I just wanted to ask two few questions to you guys:

1. What content types do you want support for?
2. Do you have any proposal for the default response template (Just found [this gem](https://github.com/serverless/serverless/issues/608) but maybe you have more?!
3. Any other wishes on the list so far?

[2016-08-26 12:41] josephfinlayson commented on #1959
Approximately 48142, lots of very small node_modules artifacts. I intend to use the optimizer plugin when it is ready

[2016-08-26 13:04] wedgybo commented on #1455
I like the way that travis deals with environment vars. So the idea of having a plugin that can add encrypted vars to your serverless.yml and them commit to the repo safely would be pretty nice. I guess the trick is tying them properties of the service/function so they remain secure?

It would be much nicer if AWS had the same env system for their APIGateway for the lambda functions themselves! An

[2016-08-26 13:48] flomotlik commented on #1593
Imho:

Request:
application/json
application/x-www-form-urlencoded

Response:
text/html
application/json

Nice to have:
application/xml

We don't need multipart/form-data or any other file upload based content types for requests as you can't do this with API Gateway anyway

List of Media types: http://www.iana.org/assignments/media-types/media-types.xhtml

[2016-08-26 14:27] #1923 closed

[2016-08-26 14:50] mikelax commented on #1593
To follow up on @flomotlik for the `application/x-www-form-urlencoded` request type we should be sure we wrap the body form parameters correctly to allow for handling of POST form data.

I would also add `text/plain` to the Response to allow for some flexibility.

[2016-08-26 15:02] flomotlik commented on #1946
Tried it and it works:

[code]

[code]

[2016-08-26 15:05] #1948 closed

[2016-08-26 15:06] flomotlik commented on #1948
Fixed and merged with #1970

[2016-08-26 15:26] marcelboettcher commented on #1946
Perfect, thx!

On Friday, 26 August 2016, Florian Motlik <notifications@github.com> wrote:

--
Viele Grüße
Marcel

Mobil 0162 / 36 20 374
mail@marcelboettcher.de

[2016-08-26 15:26] kennu commented on #1455
Amazon has built-in AWS Console management of environment variables (or other user configuration data) in pretty much all of their platform services (EC2, ECS, OpsWorks, Beanstalk). So it's a really strange thing that only Lambda is missing it.

OTOH some other badly needed features are also missing in recent services (like ACM certificates in API Gateway), which makes you wonder why development o

[2016-08-26 16:24] jtrefry commented on #1966
Thank you @pmuens. Looks like it should fix my issue. I'll try it out once the PR gets merged.

[2016-08-26 20:15] fiducioso-dan opened #1973 "deploy fails with unhelpful error message when service name is not a valid CF stack name"
# This is a Bug Report

## Description

I created a new serverless.yml with `service: my_func`.

Attempting `serverless deploy`:
[code]

The error message is very hard to understand. My problem was fixed by replacing the `_` with `-` but parsing that error message is not a pleasant experience.

This is similar to #1931 but that issue is for the naming of the resources inside the stack. This issue

[2016-08-27 07:00] nicka commented on #1952
Yes this is definitely needed! Experienced first hand the drama that could happen without a stack policy ☺️

[2016-08-27 11:02] DanielRuskin1 commented on #1952
Thanks @flomotlik.  I'm thinking I'd do this:

1. Update the custom resources yml definition to look like this:

[code]

2. Add a `uploadCloudFormationPolicy` method to the deploy lifecycle, before `uploadCloudFormationTemplate`: https://github.com/serverless/serverless/blob/e13abdc6c04b02f1b36627b0daed5707b5352b75/lib/plugins/aws/deploy/index.js#L26.  This will check if the yml config to see if a

[2016-08-27 12:18] bdruth commented on #1873
@pmuens are the additional properties we can define via additional resource configurations stemming from [this](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket.html#cfn-s3-bucket-notification), [this](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-notificationconfig.html), and [this](http://docs.aws.amazon.com/AWSCloudF

[2016-08-27 12:43] bdruth commented on #1873
From what I can see, the below should be a valid configuration, but I'm seeing two issues. First, something isn't working as the ``cloudformation-template-update-stack.json`` isn't generated unless I remove everything below ``BucketName``. Second, I have no idea how to reference the function I'm creating - the docs want this to be the ARN, so it's not something I can hard-code, presumably.
[code]

[2016-08-27 13:06] bdruth commented on #1873
Maybe Fn::GetAtt would work here?

[code]

[2016-08-27 13:24] andymac4182 commented on #1409
I am looking at CloudWatch Logs firing lambda for some of our internal applications. I will get the work done for a PR.

[2016-08-27 13:25] bdruth commented on #1873
So, while this "looks" right in the generated CF JSON, it's failing when I deploy. I am getting a ``Unable to validate the following destination configurations`` on bucket create, and even when I add an explicity ``DependsOn: myfunction`` it still happens (even though I see my lambda successfully created before the bucket create begins.

Any ideas?

[2016-08-27 13:34] bdruth commented on #1873
Oh, slick - I think I got it - now I understand why you had a strange name for your resource +``0S3Event``. I didn't have an s3 event defined in my config, as I thought I was wholly declaring it in the override, and that prevented the appropriate IAM role to be defined/used for the S3 bucket to be able to invoke ``myfunction``. I was able to get the stack to create successfully now!

[code]

[2016-08-27 19:24] seliger opened #1974 "Variables with numeric values cause unexpected results"
# This is a BUG REPORT

## Description

I added a variable with a numeric value like so:

`sls variables set -t stage -s prod -k accountid -v 1234567890`

This completed successfully. I then referenced that variable inside my s-resources-cf.json file, something like this:

[code]

The goal being to replace hard coded values for region and account number with variables. Running the diff command as

[2016-08-28 14:16] horike37 commented on #1772
@flomotlik
I implemented #1975 . Please check my PR.

[2016-08-28 17:05] olistic opened #1976 "Deploy failing when passing configuration object to authorizer"
# This is a Bug Report

## Description

Function deploy is failing when passing a configuration object to the `authorizer` key, as explained [here](https://github.com/serverless/serverless/tree/master/lib/plugins/aws/deploy/compile/events/apiGateway#http-setup-with-custom-authorizer).

Using this config:

[code]

And running `$ sls deploy`, results in:

[code]

## Additional Data

* ***Serverless

[2016-08-28 23:52] horike37 commented on #1271
@pmuens
Is it nessesary a customValidationErrorMessage?
I think below will be good.

[code]

[2016-08-29 01:41] sielay commented on #1772
Absolutely essential feature +1

[2016-08-29 05:04] flomotlik commented on #1976
@olistic what is the Cloudformation error that comes up?

We're going to have a better feature to show Cloudformation errors directly in the shell in one of the next releases with https://github.com/serverless/serverless/pull/1927

[2016-08-29 05:04] flomotlik commented on #1974
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-29 05:04] #1974 closed

[2016-08-29 05:05] flomotlik commented on #1772
#1975 was just merged. Thanks @horike37 for the great PR!

[2016-08-29 05:05] #1772 closed

[2016-08-29 05:06] flomotlik commented on #1969
At the moment we don't provide support or improvements for 0.5, we're only focusing on V1. #1772 was implemented in #1975 and the feature is now available in master.

[2016-08-29 05:06] #1969 closed

[2016-08-29 05:08] flomotlik commented on #1973
Thanks @fiducioso-dan for reporting. this is definitely a bug and by default we should remove all characters that aren't valid before deploying to CF.

[2016-08-29 05:09] flomotlik commented on #1973
Maybe we should also add this to the template files for AWS, @fiducioso-dan would that have helped if there was a comment above the name or in the name saying exactly which characters are allowed?

[2016-08-29 07:18] rkistner opened #1977 "Wrong bucket name used for S3 events"
# This is a Bug Report

## Description

When configuring an S3 event to trigger a function, an integer is added to the bucket name.

Example config:

[code]

For this example, "some_bucket0" would be used as the bucket name, instead of just "some_bucket". It seems to append the index number of the event configuration.

Seems to be caused by this code: https://github.com/serverless/serverless/blob/

[2016-08-29 07:30] horike37 commented on #1956
So `${stage}` tag can use in Serverless.yml and custom_resources.json?

[2016-08-29 08:48] flomotlik commented on #1977
This issue will be resolved with #1951 so I'm closing here. Thanks for reporting!

[2016-08-29 08:48] #1977 closed

[2016-08-29 08:51] flomotlik commented on #1950
This is resolved with #1951 so closing here.

[2016-08-29 08:51] #1950 closed

[2016-08-29 08:54] flomotlik commented on #1726
Merged

[2016-08-29 08:54] #1726 closed

[2016-08-29 08:59] flomotlik commented on #1869
Closing here as the PR and another issue are open to handle this

[2016-08-29 08:59] #1869 closed

[2016-08-29 09:02] flomotlik commented on #1828
I'm going to close this issue as its targeted with Issue #1951

[2016-08-29 09:02] #1828 closed

[2016-08-29 09:06] flomotlik commented on #1959
with #1961 I hope this should be fixed. At least my local testing made it look a lot better.

[2016-08-29 09:10] rkistner commented on #1977
Thanks!

[2016-08-29 09:24] flomotlik commented on #1956
We're currently still working on the details of the variable syntax in #1834

[2016-08-29 09:28] flomotlik commented on #1873
Cool, @bdruth . We're also currently working on better naming in #1951 to make sure we have better naming and remove the number at the end of the bucket name

[2016-08-29 09:30] flomotlik commented on #1952
This looks great, the only change that I would do is put `policy` into `provider->policy` instead of updating the custom resources definition. Imho stack policies are a more advanced feature and shouldn't imho be mixed here with the general resources. Other than that though this looks great!

[2016-08-29 10:10] DanielRuskin1 commented on #1952
Sounds good, I'll do that + open a PR in the next few days.

[2016-08-29 12:46] pmuens commented on #1271
Yes, a custom error message makes sense. Otherwise the user has no clue what went wrong 👍

[2016-08-29 13:02] olistic commented on #1976
This is the failure event from the CloudFormation Event Stack:

[code]

The problem lies in [this line of code](https://github.com/serverless/serverless/blob/1.0.0-beta.2/lib/plugins/aws/deploy/compile/events/apiGateway/lib/authorizers.js#L46):

[code]

Which is failing to assign `'300'` to `resultTtlInSeconds` when omitting the value in the config.

I would have created a PR, but I saw it's [alre

[2016-08-29 13:27] pmuens commented on #1957
Just revisited the structure and here's my proposal (TOC = Table of contents):

[code]

**Key Takeaways:**

- Flat structure
- Guide which shows how a development workflow looks like
- Some basics so that one understands what the different parts of Serverless are
- Providers with their events (structured in a way the user is already familiar because of the providers functionality)
- Docs to unders

[2016-08-29 13:35] ifyoumakeit commented on #1415
In my case, it was finishing the EC2 setup that removed the error. I already had a credit card on file.

[2016-08-29 13:40] flomotlik commented on #1415
@ifyoumakeit not sure what the "EC2 setup" is? Could you elaborate, as it would be super helpful to know other ways how this might go wrong.

[2016-08-29 13:42] flomotlik commented on #1957
@pmuens I like this a lot. The only addition I would do is examples in an `examples` subfolder of the provider. There we can do a few more complex examples to show interaction of a few things. Other than that I like this a lot!

[2016-08-29 14:43] pmuens commented on #1957
Thank you !
Just updated my comment above with the feedback from @flomotlik.

[2016-08-29 15:40] ifyoumakeit commented on #1415
Somehow, despite having billing information and multiple S3 buckets in use for a couple of years, I had never finished the "Amazon Web Services Sign Up" for this account.

![image](https://cloud.githubusercontent.com/assets/3998604/18057238/17c6ee5a-6ddd-11e6-855d-d234fb78fcd7.png)

Opening up https://console.aws.amazon.com/ec2/ (and probably some other services) re-kicked off that sign up process

[2016-08-29 16:29] flomotlik commented on #1415
Aaaaaah ok, thats good to know. I think they changed this at this point where you're simply not able to get through to any service without finishing this setup. So I assume this is a problem for older accounts only.

[2016-08-29 16:31] pmuens commented on #1593
We just took a deep dive into API Gateway today and came up with this definition for request / response templates:

[code]

**Request:**
You can define the content-type and the corresponding mapping template which should be used to transform the request according to your needs. We'll provide default mapping templates for `application/json` and `application/x-www-form-urlencoded` so you don't need

[2016-08-29 16:32] flomotlik commented on #1976
@olistic yup thats fixed in master and will be released with the next beta/release candidate. Thanks for reporting and looking into it!

[2016-08-29 16:32] #1976 closed

[2016-08-29 21:10] franz-josef-kaiser opened #1979 "Add refactoring and conversion from 0.5.x to 1.0.x to docs"
This is a very short request: Please add some docs or some mapping scheme for people who already have a running 0.5.x (or prior) setup and want to convert to the new version as the change is a _breaking_ and _non backwards compatible_ upgrade.

[2016-08-29 23:18] worldsoup commented on #1958
@pmuens  let's also track when there's an error so we can see which functions/commands result in an error.

[2016-08-29 23:45] DavidWells opened #1980 "`SLS deploy` needs to check if directory has config file"
# This is a Bug Report

## Description

For bug reports:
* What went wrong?

Serverless hangs and says that stuff is happening when running deploy in the wrong folder.

This was an issue caused by me. =) but should be a UX improvement

![image](https://cloud.githubusercontent.com/assets/532272/18071048/65bbd15a-6e07-11e6-90ea-f48ce539214e.png)

* What did you expect should have happened?

It shoul

[2016-08-30 00:53] jokeyrhyme commented on #308
@kennu I made a Node.js script that is effectively quite similar: https://gist.github.com/jokeyrhyme/d57097a491aa5ecaf27532d057d72461
I noticed that `npm rebuild` is often all that is required, although deleting node_modules first is sometimes more reliable

[2016-08-30 01:00] fruffin opened #1981 "IAM Policies should be created before Lambda function"
# This is a Bug Report

## Description

* What went wrong?
I'm creating a new service which will need access to VPC resources. For this to work, my lambda function need to have additional permissions at the time they are created: "ec2:CreateNetworkInterface", "ec2:DescribeNetworkInterfaces" and "ec2:DeleteNetworkInterface"
I have added those statements in the "iamRoleStatements" provider property

[2016-08-30 01:59] fruffin commented on #1981
I just tried adding the "DependsOn" property to serverless/lib/plugins/aws/deploy/compile/functions/index.js
And while it now creates the policy before the lambda functions, I still get the same errors.
I'll keep looking

[2016-08-30 02:10] andymac4182 commented on #1943
It would be great if this could be overridden as a default. Since we are changing this on all of our functions.

@nguyer Auth is the default from AWS.

[2016-08-30 02:12] andymac4182 commented on #1784
@fridaystreet Is this still an issue for you on beta2? I am using beta2 and it is working correctly for me.

[2016-08-30 02:16] andymac4182 commented on #1981
@fruffin I am working with AWS on this currently. There is a PR around this topic already. https://github.com/serverless/serverless/pull/1934.

My current patch for serverless is https://github.com/serverless/serverless/compare/master...andymac4182:Auto_Create_VPC_IAM_Policy?expand=1 and this is working 99% of the time.

[2016-08-30 04:49] pmuens commented on #1958
@worldsoup thanks! Updated the description above!

[2016-08-30 08:36] jagi opened #1982 "Add extra CF resources in a plugin"
Hi I'm using serverless@1.0.0-beta.2. I'm creating plugin that needs to create S3 bucket during `sls deploy`. So I've used the `deploy:compileEvents` hook to add some extra stuff to the resources. Here is what I have:

[code]

But bucket is not being created. So I had to create bucket using AWS S3 api which I wouldn't want to use. Do you know what I'm doing wrong? Or how to attach to the process o

[2016-08-30 10:15] andymac4182 commented on #1982
Have you checked the output to ensure it is included in the CF Template?

[2016-08-30 10:19] jagi commented on #1982
Yes it's included in the CF Template. I've just noticed that bucket get created when I return a promise which is weird, because it's not mentioned in docs. However I have another problem when I try to `putObject` in the `deploy` hook. I get error:

[code]

[2016-08-30 10:50] fridaystreet commented on #1784
@andymac4182 yeah it's working ok now thanks. Apologies for not updating the issue

[2016-08-30 10:50] #1784 closed

[2016-08-30 12:42] jagi commented on #1982
Ok here is the current state:
- I can create a bucket by just attaching extra resources in the `deploy:compileEvents` but I have to use promises.
- I can't use the `s3.putObject` function in the `deploy:deploy` hook to just upload some data to this bucket because it's not yet created.

And that's ok because during deployment bucket does not exist yet. I also tried `after:deploy:deploy` but the sam

[2016-08-30 13:43] jagi commented on #1982
I've managed to access this `sdk` property I was talking about in the following way:

[code]

Which is a little bit hacky and I see that it was discussed here https://github.com/serverless/serverless/issues/1826

However I still get the following error `ServerlessError: The specified bucket does not exist` when I try to invoke following code in the `deploy:deploy` hook.

[code]

Which is very stra

[2016-08-30 14:34] lithin commented on #1441
Thank you @thenikso, had the same problem :)

[2016-08-30 15:03] andymac4182 commented on #1943
@flomotlik I am happy to implement the ability to set a provider default in `serverless.yml` similar to memorySize or should I wait till after the variables PR has been merged https://github.com/serverless/serverless/pull/1834?

[2016-08-30 15:13] kennu opened #1983 "Custom Authorizer default header should be Authorization instead of Auth"
# This is a Bug Report

## Description

The default header for custom authorizers seems to be "Auth":
https://github.com/serverless/serverless/blob/7715c014fd34fc9b48401231c16ffe6c2467eed3/lib/plugins/aws/deploy/compile/events/apiGateway/lib/authorizers.js#L30
https://github.com/serverless/serverless/blob/7715c014fd34fc9b48401231c16ffe6c2467eed3/lib/plugins/aws/deploy/compile/events/apiGateway/lib

[2016-08-30 15:48] pmuens commented on #608
Reopening this one as it will be implemented in a new PR (and not in #1593)

[2016-08-30 16:37] yonahforst opened #1984 "api_gateway cors custom headers not pushed to aws"
# This is a (Bug Report / Feature Proposal)
Bug Report

## Description
I'm setting custom cors headers as described in [the documentation](https://github.com/serverless/serverless/blob/85f4084e6b0fd4a6d763ace8cd0db82817bbc712/lib/plugins/aws/deploy/compile/events/apiGateway/README.md#enabling-cors-for-your-endpoints) but they don't appear in the method's IntegrationResponse/HeaderMappings

I think

[2016-08-30 16:54] yonahforst commented on #1984
confirmed that removing these two lines allows custom headers to overwrite the default:
https://github.com/yonahforst/serverless/commit/f72eb31902f8e68357d2e2c6835e6c52c8b7a625

I tested with `cors: true` and the default headers are still set.

I can submit a PR, if that's ok.

[2016-08-30 17:11] nguyer commented on #1943
Didn't realize that. The ability to set a provider default would be great!

[2016-08-30 18:56] kennu commented on #1943
It seems I reported the same issue in #1983.

Auth is not the default header in AWS. When you create a custom authorizer in API Gateway, the default identity token source is `method.request.header.Authorization`.

Also Authorization is handled by default in many situations like CORS headers, CloudFront whitelisting headers etc., since it is also the official HTTP header to use. I think Auth is som

[2016-08-30 19:13] kennu commented on #1593
There has been some discussion about use cases not handled by the Serverless default template so I thought I'd share one.

In pretty much all my protected APIs, I use this template syntax to pass a JSON object from the custom authorizer to the Lambda functions as the principalId:

    "principalId": $context.authorizer.principalId,

That means I can access various fields in the Lambda as

    even

[2016-08-30 19:19] flomotlik commented on #1593
@kennu that sounds like a bug in the template. This happens with V1 or V0.5?

[2016-08-30 19:21] kennu commented on #1593
@flomotlik I don't know if I'd consider it a bug, since principalId is an opaque string field and people can use it for whatever they wish. API Gateway templating just makes it possible to use it like this, and having a default template doesn't cover this kind of use cases.

[2016-08-30 19:37] kennu commented on #1593
OTOH I also think that the default template is awesome for most use cases, and many people will adopt it. It makes me wish I could maybe override just some parts of it, like this `principalId` case. But that may be over-engineering.

[2016-08-30 19:41] flomotlik commented on #1593
But this is a bug right, e.g. we're setting it here in the new PR: https://github.com/serverless/serverless/pull/1968/files#diff-194d3970cc4b47abac5ae6c1a66059c1R47

And if we do `"principalId": $context.authorizer.principalId` shouldn't this solve this issue (and actually be more correct? I don't see any point of this part `"principalId": "$context.authorizer.principalId"` because if the `""` are

[2016-08-30 20:04] flomotlik commented on #1984
@yonahforst thanks for reporting! PR sounds good, I'm not fully clear why those two lines were there in the first place.

@patoncrispy do you know why those 2 lines are actually in there?

[2016-08-30 20:05] flomotlik commented on #1983
Yup that sounds good, added it to the next milestone and a help-wanted-easy label if somebody picks it up for a PR before us.

[2016-08-30 20:07] flomotlik commented on #1981
@andymac4182 just to make sure this is an AWS bug in general that we can do a Workaround for, but we can't really fix correct?

[2016-08-30 21:56] kennu commented on #1593
Well, many people would probably be storing a normal string in $context.authorizer.principalId, and in that case the quotes are needed. It only works without quotes if the data is JSON-formatted.

[2016-08-31 00:34] andymac4182 commented on #1943
Ahh I must of miss read the UI. Authorization is what we are using for ours at the moment.

[2016-08-31 01:10] danielkoo commented on #1980
Hi @DavidWells
What does one need to reproduce this? If I run this in an empty dir, or if I rename my serverless.yml to e.g. serverless.yml2, I get this:

`$ sls deploy

  Type Error ---------------------------------------------

     Path must be a string. Received null

     For debugging logs, run again after setting SLS_DEBUG env var.

  Get Support --------------------------------------------

[2016-08-31 01:11] fruffin commented on #1981
Hi @flomotlik

It's not only a bug in AWS. The problem in serverless is that there is no dependency between the IAM policy and the lambda functions, so they end up being created at the same time by CloudFormation. This can easily be fixed by adding the "DependsOn" property in the function template as mentioned in my previous comment.
Once this is done there is a bug in AWS whereby it looks like wh

[2016-08-31 04:20] tpj800 opened #1986 "Support Function level Includes/Excludes"
# Question
Is it possible to specify `includes` and `excludes` on a function level in v1.0?

# Background
I have a number functions, each with an endpoint in a single API.  Some have very little shared code (`node_modules` or `site-packages` for python code) others have a lot. As in, enough to reach the limit for lambda zip packages.  I dont want to include the large functions in the package of th

[2016-08-31 05:46] #1983 closed

[2016-08-31 07:01] oipat opened #1987 "Plugins: Command nesting breaks existing (incl. core) commands"
# Bug Report

## Description

For bug reports:
* Command nesting in plugins breaks existing commands.

The second example and description in https://github.com/serverless/serverless/blob/master/docs/developing-plugins/building-plugins.md#user-content-command gives me the understanding that nesting commands, even the core commands, is possible.

I tried deploying and using the exact plugin that was

[2016-08-31 07:31] puug commented on #1984
I've gone and added a pretty basic PR for this

[2016-08-31 07:52] eahefnawy commented on #1855
Closing this as it'll be fixed with #1834

Thanks everyone! 🙌

[2016-08-31 07:52] #1855 closed

[2016-08-31 08:05] yonahforst commented on #1984
whoops. I submitted one right after you. I'll close it in favor of yours.

[2016-08-31 08:07] puug commented on #1984
No worries. I actually started on a fix before I checked to see if there was already a issue opened, so I had it a bit backwards!

[2016-08-31 08:13] patoncrispy commented on #1984
Ah yes. That can be removed. My bad! Should have had test in there to catch that. :(

[2016-08-31 10:06] flomotlik commented on #1801
Closed with #1834

[2016-08-31 10:06] #1801 closed

[2016-08-31 12:01] kennu commented on #1943
I submitted a PR to change Auth => Authorization and I believe #1983 now closed also this issue.

[2016-08-31 12:09] flomotlik commented on #1943
Yup as @kennu mentioned this is fixed now due to his PR. Thanks again!

[2016-08-31 12:09] #1943 closed

[2016-08-31 12:11] flomotlik commented on #1984
PR is merged, so closing here. Thanks for bringing this up and discussing!

[2016-08-31 12:11] #1984 closed

[2016-08-31 13:06] flomotlik commented on #1986
This is currently getting implemented with #1917 , would be great to get your feedback there.

Closing here as it is a duplicate of #1777

[2016-08-31 13:06] #1986 closed

[2016-08-31 13:07] flomotlik commented on #1986
Main difference to your proposal is that it is all in the same file

[2016-08-31 14:08] tpj800 commented on #1986
@flomotlik If i followed that thread correctly, you have a pull request from @johncmckim a week ago with these features?  Can I get a look at this pre-release on a current branch?

[2016-08-31 15:18] Bilal-S commented on #1593
In [serverless-offline plugin ](https://github.com/dherault/serverless-offline) we externalized the default template. Its a separate file (offline-default.req.vm) that can be changed for each project. Would a scheme like that work here as well rather than attempting to come up with a template that will satisfy all use cases?

[2016-08-31 15:22] flomotlik commented on #1986
You can see it in the fork of @johncmckim : https://github.com/johncmckim/serverless/tree/issue-1777

Or in the PR: https://github.com/serverless/serverless/pull/1917/files

Is that what you were looking for, or did you want to check out something else? At the bottom of the PR there are also the commands you can use to check out the PR code.

[2016-08-31 15:30] kennu commented on #1593
Btw, I just tested that the current 1.0 default template will break if you put JSON in principalId, because it does not escape the string:

    Endpoint request body after transformations: { "body": {}, "method": "GET", "principalId": "{"id":"auth0|xxxxxxxxxxxxxxxxxxxxxxxx"
    Endpoint response body before transformations: {"Type":"User","message":"Could not parse request body into json: Unexpect

[2016-08-31 15:31] flomotlik commented on #1593
@kennu can you open up a separate issue for this?

[2016-08-31 15:36] kennu opened #1991 "Default request template breaks with unescaped principalId"
# This is a Bug Report
## Description

I just tested that the current 1.0 default template will break if you put JSON in principalId (generated by a custom authorizer), because the template does not escape the string.

In this case the principalId value is `{"id":"auth0|xxxxxxxxxxxxxxxxxxxxxxxx" ... }` (some fields omitted).

[code]

I don't know if it's possible to escape strings in API Gateway t

[2016-08-31 15:43] kennu commented on #1593
At least for me, it would be pretty convenient to have the default request and response templates generated as files when I create the Serverless project. Then I could just modify them as needed and redeploy.

I realize though that they will contain a lot of complexity that would be nice to hide from new users.

[2016-08-31 16:59] borosio commented on #1041
I have executed sls project init with intention to change the profile. After that, when I try to deploy a function with endpoint, I have error

.
`Serverless: Failed to deploy endpoints in "dev" to the following regions:
Serverless: us-east-1 ------------------------
Serverless:   POST - functionname: The statement id (s_apig_functionname_POST) provided already exists. Please provide a new stateme

[2016-08-31 18:15] Tbroycer opened #1993 "Deploying endpoint with new profile throw The statement id (s_apig_functionname_POST) provided already exists. Please provide a new statement id, or remove the existing statement."
# Can not deploy after switching similar profile using sls project init

## Description
I have executed sls project init with intention to change the profile. After that, when I try to redeploy a function with endpoint, I have the next error message:

The function deployment is successful, but endpoint not.

Before deploying I completed my  s-variables-dev-useast1.json like the original.

`Serverl

[2016-08-31 20:19] andymac4182 commented on #1981
I got a answer from AWS after some back and forward. They use the word `almost immediately` a few times in their faqs which from what people are saying online can be up to 5-10 seconds. This to me says that a solution with a intermediate resource will be a permanent solution to this. I like the idea of being able to specify the security group definition at either a provider level or being able to

[2016-08-31 20:48] gwsii opened #1994 "Support YAML event input for CLI "serverless invoke""
# This is a Feature Proposal

## Description

For feature proposals:
* What is the use case that should be solved
Allows user to specify a event.yml instead of event.json as test event input.

* If there is additional config how would it look
No additional config. The event.json file is already hard-coded, this would add the event.yml as an alternative.

* Which command should this be running for

[2016-08-31 21:02] kmfk opened #1995 "Not all Lambda Permissions are actually set by CFN"
# Permissions not getting set when using many event sources (ie, SNS Topics)
## Description

This is actually currently a bug in AWS / Lambda which was confirmed by AWS Support.

From Support:

This typically materializes when you have many event sources on one function, using SNS Topics as an example, ie:

[code]

The correct `AWS::Lambda::Permission` resources get added to the CFN template and C

[2016-08-31 21:49] kmfk commented on #1995
Will mention that I did do a quick listener on `after:deploy:compileEvents` to force those `DependsOn` statements in a plugin we already had:

[code]

It definitely increased the deploy process (via CFN) by about 200%...

[2016-08-31 23:15] rowanu commented on #1736
Hey guys, just noticed this ticket. @samdj's comment is related to the issue I raised separately #1940. I will plan to update the docs at the same time (just updating my fix to work with new variables) and hopefully address this issue too.

I'm not sure about @DavidWells' comment on new functionality - I don't Serverless should be modifying files outside of the service directory on principal (like

[2016-09-01 06:28] andymac4182 commented on #1958
Will any of this information be public? It would be great to see the info.

[2016-09-01 06:32] StefH opened #1996 "Add a package.json for the template : aws-nodejs"
# This is a Feature Proposal
## Description
- Creating a new **aws-nodejs** from template should also provide a default package.json

[2016-09-01 06:33] StefH opened #1997 "Create a new template which creates a AWS Node TypeScript project"
# This is a Feature Proposal
## Description
- Create a new template **aws-nodets** which will initialize an AWS Node project based on TypeScript 2.x

[2016-09-01 06:38] danielkoo commented on #1973
Hi @flomotlik
Just a newbie having a look: would lib/plugins/aws/deploy/lib/createStack.js be the best place to make this change? Or somewhere earlier? I am guessing different providers would have different naming conventions, this would be AWS-specific.

[2016-09-01 07:13] pmuens commented on #1958
@andymac4182 right now it's used internally to understand the usage patterns and derive the needs for upcoming releases.

[2016-09-01 07:41] flomotlik commented on #1958
@andymac4182 we might share this in the future in blogposts (very likely) but we don't have any plans about it yet as its still super early.

[2016-09-01 07:44] flomotlik commented on #1973
@danielkoo yup we have the getStackName method but its not used in every action yet (create, update, remove, ...). It needs to be refactored so every class is using this central method so we can easily refactor in the future. The info plugin does a nice job there for example.

[2016-09-01 10:42] flomotlik commented on #1842
This is resolved now with #1951

[2016-09-01 10:42] #1842 closed

[2016-09-01 10:43] flomotlik commented on #1924
This is resolved with #1951

[2016-09-01 10:43] #1924 closed

[2016-09-01 10:43] flomotlik commented on #1960
This is fixed for the Method header with #1951 , but the Origins and header allow headers still fail here.

[2016-09-01 10:44] flomotlik commented on #1707
This is now merged with #1834

[2016-09-01 10:44] #1707 closed

[2016-09-01 10:46] flomotlik commented on #1938
@ac360 @worldsoup @DavidWells what would be next steps there on making sure that we get more services by providers in place, especially from marketing/evangelism? I don't think simply implementing this functionality will move the needle a lot without other follow up tasks including marketing/evangelism to really push for more services being built.

If we don't have specific tasks planned there I w

[2016-09-01 10:47] flomotlik commented on #1593
Implemented and merged in #1968 and #1998

[2016-09-01 10:47] #1593 closed

[2016-09-01 10:50] flomotlik commented on #1997
Typescript would itself need some additional compile step to run to work on Lambda correct?

[2016-09-01 10:52] flomotlik commented on #1993
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-09-01 10:52] #1993 closed

[2016-09-01 11:30] flomotlik commented on #1931
This is fixed now with #1951

[2016-09-01 11:30] #1931 closed

[2016-09-01 13:01] andymac4182 commented on #1996
@StefH Is there anything in particular you are looking for in the package.json?

[2016-09-01 13:02] andymac4182 commented on #1997
This looks like the perfect use case for https://github.com/serverless/serverless/issues/1938 as there could be a community templates repo with various extended templates. Similar to https://github.com/stoffern/serverless-es6-example

[2016-09-01 13:11] StefH commented on #1996
Something like this for a javascript project:
[code]

[2016-09-01 13:13] StefH commented on #1997
yes I know that example project.

I'm currently also creating a typescript based aws-lambda project.
However I run into some small issues like this one: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/10956

And I still need to figure out how to add webpack to my project. I'll see if I can create a working github project.

[2016-09-01 13:18] andymac4182 commented on #1996
Here is a diff. If the guys are happy I can submit a PR. https://github.com/serverless/serverless/compare/master...andymac4182:template_node_packagejson?expand=1

[2016-09-01 13:47] pmuens commented on #1786
Reopening this as it's not yet resolved...

[2016-09-01 13:53] pmuens commented on #1966
Reopening as #1934 is not done yet.

[2016-09-01 14:04] anreved opened #1999 "APIG events now force both json and form-urlencoded templates"
# This is a Feature Proposal
## Description

When defining APIG http events the code now forces creation of mappings for both `application/json` as well as `application/x-www-form-urlencoded`.  While you can override the template, there is no way to **exclude** these mappings (i.e., I only want to allow json requests on an endpoint)

This change was recently introduced via [this commit](https://gi

[2016-09-01 15:03] alexandrusavin commented on #1940
@rowanu I guess #1834 has been merged. Could you update your PR?
Thx!

[2016-09-01 15:23] bhushankumarl opened #2001 "Upload lambda function based on stage"
Need to upload lambda function based on staging in different bucket.

e.g If stage is 'dev' than lambda function should able to upload to 'serverless-dev', If stage is 'prod' than lambda function should able to upload to 'serverless-prod' based on user requirement.

[2016-09-01 16:37] pmuens commented on #1954
Done with #1961

[2016-09-01 16:37] #1954 closed

[2016-09-01 18:01] StefH commented on #1997
First working Serverless AWS Lambda TypeScript project (no webpack yet), can be found at https://github.com/StefH/serverless-aws-lambda-typescript-examples

Please try this and provide feedback.

[2016-09-01 21:40] rowanu commented on #1940
I'm just waiting on feedback how to change it, see #1945.

[2016-09-01 22:04] andymac4182 commented on #2001
serverless currently uploads the service zip file to a bucket that is related to the relevant stage. Are you talking about creating a bucket for the lambda to save files to from the function?

[2016-09-01 22:31] rowanu commented on #1996
Not a fan of this idea. Why can't people just run `npm init -f` in their service directory if they want it?

For my projects that have many functions, I might want to have a per-function `package.json` for dependency management (in a sub directory), and nothing at the top level.

I also don't want the AWS SDK installed automatically - the Lambda execution environment automatically includes it, so

[2016-09-01 22:34] rowanu commented on #1996
Wouldn't it be better to just implement #1938 so that people can install their own templates, and keep the bundled templates to a minimum to get started?

[2016-09-02 03:43] fiducioso-dan opened #2003 "deploy does not update lambda code"
# This is a Bug Report

## Description

I'm developing a Java based project with serverless. When I rebuild my distribution .zip and run `serverless deploy` the lambda code does not update.

[code]

Expected the CodeSha256 to update to the locally calculated one, or change at all. Also executing the function shows the code is stale.

My serverless.yml looks like this:

[code]

## Additional Data

[2016-09-02 03:53] fiducioso-dan commented on #2003
Looking at the CloudFormation log it looks like the Lambda Function never updates, possible because nothing about the resource changed. I'm guessing if the S3 key doesn't change, CloudFormation assumes the code object hasn't changed.

![screenshot from 2016-09-01 20-46-14](https://cloud.githubusercontent.com/assets/12561563/18192122/0e40db42-7086-11e6-89a2-630770821f09.png)

If this theory is corr

[2016-09-02 05:40] pmuens commented on #1271
Done with https://github.com/serverless/serverless/pull/1978

[2016-09-02 06:16] eahefnawy commented on #1996
💯 agreed with @rowanu ... I'd rather keep the `create` templates as thin as possible (I'm not even a big fan of the generated `event.json` file). Simplicity is best imo ☺️ ... an ideal service creation for me would be just `serverless.yml` & `handlers.js`

[2016-09-02 06:53] flomotlik commented on #1957
@warka0 all in a new branch and PR: #2002

[2016-09-02 07:04] rorlig commented on #750
How does when do this in v1. I want to give my lambda functions different IAM roles and policies

[2016-09-02 08:29] pmuens commented on #1168
This was implemented with #2000 🎉

[2016-09-02 08:29] #1168 closed

[2016-09-02 08:42] stoffern opened #2004 "[Feature] Automatic versioning and releasing"
# This is a Feature Proposal
## Description

Better commits described after a correct standard.
No more incomplete or mismatch in NPM - github versioning.
Version documentation is correctly setup by default

Add Commitizen
Add Semantic releasing
## Additional Data

[commitizen](https://github.com/commitizen/cz-cli)
[semantic-release](https://github.com/semantic-release/semantic-release)

[2016-09-02 08:45] stoffern opened #2005 "[Feature] compiling before upload"
# This is a Feature Proposal

## Description
Add babel compiling before zipping and uploading (will suport all ES versions bu default)
Compile all node_modules that are required from package.json (including sub deps) into modules.js (minified and zipped)

[2016-09-02 08:48] flomotlik commented on #2004
Hi, thanks for sending this in, could you update the issue to follow our template: https://github.com/serverless/serverless/blob/master/.github/ISSUE_TEMPLATE.md

It helps us a lot to better understand the use case and prioritise then.

[2016-09-02 08:49] flomotlik commented on #2005
Hi, thanks for sending this in, could you update the issue to follow our template: https://github.com/serverless/serverless/blob/master/.github/ISSUE_TEMPLATE.md

It helps us a lot to better understand the use case and prioritise then.

[2016-09-02 08:52] flomotlik commented on #2003
This was already implemented in a recent change, can you update to master and try it again? Will be in the next release as well.

[2016-09-02 08:52] #2003 closed

[2016-09-02 08:55] flomotlik commented on #2001
At the moment we don't plan to add this feature, but there is another bug open discussing this, so I'm going to close here: https://github.com/serverless/serverless/issues/1513

[2016-09-02 08:55] #2001 closed

[2016-09-02 10:38] flomotlik commented on #1999
I definitely like the idea of the feature to be able to really lock down the default templates, but imho it would have to happen for the whole service.

My assumption is that if you want to completely lock down the default templates you'll want to do this in every method across your service. So I think I'd prefer something like

[code]

Otherwise you'd have to duplicate configuration like crazy (w

[2016-09-02 10:50] #1271 closed

[2016-09-02 10:50] #1959 closed

[2016-09-02 12:34] medhoover commented on #1873
It would be great to have the feature now that the naming issue is fixed. I'm using the same s3 bucket for all stages but with different prefixes for each event, setting s3 triggers by stage is not only possible by adding it in resources...

[2016-09-02 12:37] #1818 closed

[2016-09-02 13:33] rafaljanicki opened #2006 "0.5 - parse error message + provide responseParameter"
Serverless version: 0.5.6

Hi,

In my project, besides regular HTTP codes, I also return errors + body with JSON using the context.fail(JSON.stringify(response)) and following responseTemplate:

[code]

However, I'd also like to add a variable to responseParameters as I do this in "regular" responses:

[code]

How can I do this as I can't access any variable in body besides the errorMessage?

Best

[2016-09-02 15:43] warka0 commented on #1957
@flomotlik Thx for notifying! 😄

[2016-09-02 18:58] ralphevision opened #2007 "On windows the platformName variable in the ZipService.js is always equal to "UNIX" instead of "DOS" which generates a corrupted zipped package on Windows"
# This is a Bug Report

## Description

For bug reports:
* What went wrong?
Hi when using JSZip on a windows 10 environment the zip file is always corrupted. After digging in the code, I noticed that in the https://github.com/serverless/serverless/tree/master/lib/plugins/package/lib/zipService.js the platform name is always returning UNIX by default as it is only checking if the process.platform v

[2016-09-02 22:20] fiducioso-dan commented on #2003
@flomotlik indeed you are correct this is a duplicate of #1862. Sorry I didn't search well enough to find that issue. I pulled the latest version of serverless (c973594) and it works now :+1: .

[2016-09-02 23:30] polvoazul opened #2008 "serverless.yml should have a jsonschema and be validated"
It would be very nice to have an active documentation on what is a valid serverless.yml file.
Small typos, caps issues and sometimes just finding a good documentation on a feature would take MUCH LESS TIME if there was an authoritative source.

I suggest writing a json-shema for serverless.yml and including a serverless.yml validation step on deploy.

[2016-09-03 02:15] wmarra commented on #1957
Hi there, the new documentation is staying smooth and more easy to understand the flow. More examples was really good @pmuens and @DavidWells, I'm new on serversless and that was my first doubt. Now I understand more about the flow and what we can do with serverless, by the way I'm now creating a lambda functions to manage queue and extending the resources on cloudFormation, everything managed  wi

[2016-09-03 10:21] franz-josef-kaiser commented on #1941
@viz It would be easier to read if you would copy-paste that instead of a screenshot…

[2016-09-03 13:34] StefH opened #2009 "Question: how to retrieve the current path where the Lambda Function is running"
# This is a Question

## Description
I'm trying to use the Amazon SNS service, and I want to load the configuration from a config.json file, like this:
[code]

The config.json is currently correctly copied to the same folder with WebPack:
[code]

However running my test-function:
`serverless webpack invoke --function mytestfunc`

gives this error message
[code]

Any clue how to access the current

[2016-09-03 23:10] andymac4182 commented on #2009
This looks like an error from the webpack plugin. Have you tried `serverless webpack --out .webpack` and then checked in the `.webpack` folder to see what is in there?

[2016-09-03 23:14] andymac4182 commented on #2005
Personally I like this being a plugin. It works well since there is a few different systems to compile your code. It also works well since not everyone is using nodejs. The way you have implemented it in https://github.com/stoffern/serverless-es6-example is a great example of one way and https://github.com/elastic-coders/serverless-webpack is another.

[2016-09-04 03:22] fny commented on #1877
So I don't think this issue should be resolved unless @Savalas's work around is an expected behavior... and even still, the resulting error message is pretty bad.

If I delete a cloudformation associated with a serverless project and attempt to redeploy with that same project name, I see "The specified bucket does not exist".

In my opinion, you should be able to redeploy with the same name after

[2016-09-04 07:35] StefH commented on #2009
The command `serverless webpack --out .webpack` correctly places my **config.json** file + my **handler.js** file in the `.webpack` folder.

But running the function shows the error.

[2016-09-04 07:42] andymac4182 commented on #2009
I would try dumping out the current working directory to see where it is being ran from https://nodejs.org/api/process.html#process_process_cwd Probably something to be reported in the serverless-webpack repo.

[2016-09-04 10:04] jdavidls opened #2010 "[BUG] When we deploy, no apigw endpoints are created (aws)."
# This is a Bug Report

## Description

When we deploy the mos simple starting service, sls do not build any ApiGateway endpoint.

Bug steps:

1. We have started wich v1-beta.2, creating a service following the instructions (`sls create -t aws-nodejs`).

2. undocumenting the relevant lines, we have the following serverles.yml fragment:
[code]
    the yaml file are checked with `js-taml serverless.

[2016-09-04 10:05] stoffern commented on #2005
@andymac4182 yeah, probably plugin is the right way to go :smile:

[2016-09-04 10:05] #2005 closed

[2016-09-04 10:28] andymac4182 opened #2011 "Keeping last 5 lambda zip files should only be ran on successful deploy"
# This is a Bug Report
## Description

When a deploy fails past 5 times the bucket has been cleaned up and Cloudformation is unable to rollback.

For bug reports:
- What went wrong?
  Error occurred while GetObject. S3 Error Code: NoSuchKey. S3 Error Message: The specified key does not exist.
- What did you expect should have happened?
  It should only remove previous artifacts from s3 after a suc

[2016-09-04 11:04] StefH commented on #2009
That command lists out this:
``Current directory: C:\\Users\\ . . .\\my-func` which is valid within a real AWS Lambda where everything is deployed in the root.`
However when running the function locally, it should be like `\\my-func\\.webpack` ?

Or is there another way so that I require or import that **config.json** file, so that the location resolving is done automatically?

Or is there a way t

[2016-09-04 11:41] andymac4182 commented on #2009
Personally my functions are packaged like this and I have included where I would expect your config.json to appear.
[code]
Do you mind sending me your whole webpack config? You can send it in private on Gitter to stop this becoming a conversation if that is easier

[2016-09-04 13:21] StefH opened #2012 "Suggestion : Add greenkeeper bot to this repository to automatically keep dependencies up-to-date"
# This is a Feature Proposal
## Description
- Always up-to-date npm dependencies by using automatic process (greenkeeper)

**Info:**
See https://greenkeeper.io/

Usage:
Three simple commands: Open your terminal, and

[code]

Your browser will open and ask you to log in to GitHub. Please do that.
Then, inside the repo you want to keep up to date, do

`greenkeeper enable`

and you’re done! Your firs

[2016-09-04 14:20] fny opened #2013 "Cloudformation Error when Adding new Lambda"
Whenever I add a new endpoint as follows

[code]

I see the following error during the deploy process

[code]

[2016-09-04 16:23] mwawrusch commented on #1787
Being a bit needy here, but can we have a beta.3 drop with the profiles per stage ready?

[2016-09-04 18:19] #2007 closed

[2016-09-04 20:48] viz commented on #1941
@franz-josef-kaiser : no problem, I'll do so in future.

Update on this issue, we've determined that the size of the zip file was causing the problem as the CircleCI build container was running out of memory (during the upload we think).

The large zip file (~27MB) was the result of two issues:

1. we are using both serverless 0.5.x and 1.0 beta 2 for different projects. 0.5.x has previously been

[2016-09-05 01:37] andymac4182 commented on #2013
@fny Is this the same http path as another existing function?

[2016-09-05 05:30] rowanu commented on #1940
Closing in favour of #2015.

[2016-09-05 05:30] #1940 closed

[2016-09-05 05:32] rowanu commented on #1787
@mwawrusch this issue is not for profiles per stage, you want #1940 and #2015.

[2016-09-05 07:42] flomotlik commented on #2013
@fny could you install the latest version from master with `npm install -g serverless/serverless`. I think this should resolve the issue, although I'm not sure if it is an issue with "my_new_function" for the path. API Gateway might not like that.

Which error is thrown in Cloudformation? With the latest version of Master you should be able to see that error on the command line.

[2016-09-05 07:44] flomotlik commented on #2010
@jdavidls this is weird. Could you try installing the latest release with `npm install -g serverless/serverless` and retry?

[2016-09-05 07:44] flomotlik commented on #2010
Also thanks for the very detailed report. This definitely helps a lot!

[2016-09-05 07:46] flomotlik commented on #2006
Hi @rafaljanicki, thanks for reporting this, but at the moment we're not working on 0.5.x at all any more and rewrote the whole system with 1.0. It allows everything you mentioned in your report (now in master, soon to be released).

[2016-09-05 07:46] #2006 closed

[2016-09-05 08:31] flomotlik commented on #1877
@fny we're going to make this clearer in the documentation that if you go in and manually remove things there will be issues. While there are a few things we can do about this in the future (and we're already implementing a few features to make this easier) it would take a long time to thoroughly fix this for any situation and we'd rather invest that time to build more features and document this b

[2016-09-05 08:54] flomotlik commented on #1873
@medhoover Yup definitely like the feature. I've put a help-wanted label on it. I don't think we'll focus on it soon (as its already possible to do this through custom resources and I'm not sure how many people need this at the moment to be in core) but we're open to a contribution (although if somebody wants to contribute please comment here first to talk about the specific implementation you wan

[2016-09-05 09:59] flomotlik opened #2016 "Store CF template files in .serverless folder during deployment"
# This is a Bug Report

## Description

When running `serverless deploy` the CF templates are not stored in the .serverless folder. This means you have to run `serverless deploy --noDeploy` when you want to get the templates. By default the templates should be created in the `.serverless` folder any time you run deploy, be it with our without `--noDeploy`

Similar or dependent issues:
*

## Additi

[2016-09-05 13:34] jdavidls commented on #2010
Great @flomotlik, the latest version solves this problem, thank you very much for your attention and congratulations for your work. This bug can be closed as it seems to be solved.

[2016-09-05 13:34] #2010 closed

[2016-09-05 14:57] medhoover opened #2017 "Resource name <FunctionName> is non alphanumeric."
# This is a Bug Report

Hi, I'm trying to deploy lambda functions with non alphanumeric names (contain dashes), the stack build is failing, isn't it possible to do so? as the lambda functions already has this 'syntax  service-stage-name' ?

## Description

### What went wrong?
When deploying a a service that includes a function with dashes (example: `products-uploader`)
The cli throws:
[code]
###

[2016-09-05 15:08] flomotlik commented on #2017
This should be resolved with #1951

Please install the master with `npm install -g serverless/serverless` (or wait for the release tomorrow) as those will have the fix included.

[2016-09-05 15:16] medhoover commented on #2017
Great, Many thanks!

[2016-09-05 15:16] #2017 closed

[2016-09-05 15:56] flomotlik commented on #1777
#1917 implements this. Thanks @johncmckim for getting this done

[2016-09-05 15:56] #1777 closed

[2016-09-05 17:26] flomotlik commented on #2009
@StefH as this is more a discussion and not a bug/feature request would be great if this could be moved to the forum at forum.serverless.com so we only have bug reports/feature requests here in the repo.

If you want you can also add a comment here after posting in the forum to make it clear which issue it is there..

[2016-09-05 17:26] #2009 closed

[2016-09-05 18:08] flomotlik opened #2021 "Path name and similar Variable Names collide in Cloudformation"
# This is a Bug Report

## Description

When you set up a path and a variable path in the http event the names might clash and one of them gets overwritten:

[code]

The problem is that naming of the CF resource simply removes {} so the path looks the same when creating the CF resource name. We should change it to `UsersVariableVar` and `UsersVariable` so they are separate.

Similar or dependent i

[2016-09-05 18:11] flomotlik opened #2022 "Centralise CF resource naming"
# This is a Feature Request
## Description

At the moment the CF Logical ID names are not created in a centralised utility function, but separately wherever they are added. Basically we have String concatenations all over the Codebase. We have to centralise this in a utility function that simply gets the different parts of the name and then assembles it correctly.

Similar or dependent issues:
-
#

[2016-09-05 18:13] flomotlik opened #2023 "Limit Lambda Permissions to created event source"
# This is a Feature Proposal
## Description

When we create a LambdaPermission for sources to call a function (e.g. for S3 or SNS) we are not specific about which resource can call the function, but configure any resource of a specific service to be able to call the function (e.g. every S3 bucket or every SNS topic can call a LambdaFunction). This has to be limited so we only let specific resource

[2016-09-05 18:18] flomotlik commented on #1980
@DavidWells this should not be happening anymore as we've removed the ability to traverse the file tree up. In the future this feature could lead to exactly these issues if you had a serverless.yml in a parent folder. Closing for now unless you can still reproduce this feature with the latest master.

[2016-09-05 18:18] #1980 closed

[2016-09-05 18:23] flomotlik opened #2024 "Setting up cors for same endpoint only merges Methods, but not headers and origins"
# This is a Bug Report

## Description

When Cors is enabled for multiple endpoints that have the same path the Methods are merged into the one CORS OPTION response, but header or origin config created by the separate http events isn't merged into one OPTION request. Following is an example:

[code]

The resulting OPTION CORS request should return both origins and both headers as allowed headers a

[2016-09-05 18:25] flomotlik opened #2025 "Refactor method.js file for cleaner code"
# This is a Feature Proposal
## Description

methods.js (`lib/plugins/aws/deploy/compile/events/apiGateway/lib/methods.js`) in the APIG Event is way too complicated at this point and needs to be refactored to run in separate functions or even separate modules/files to have cleaner code. This will also make future feature implementations a lot easier

Similar or dependent issues:
-
## Additional Da

[2016-09-05 18:28] flomotlik opened #2026 "DX: Rework color codes and log printing"
# This is a Feature Proposal
## Description

At the moment color codes used for Serverless output is inconsistent as we're using yellow for normal output and warnings. We should change this to have clear log and warning methods that users can call and we color code it appropriately then.

Similar or dependent issues:
-
## Additional Data
- **_Serverless Framework Version you're using**_:
- **_Oper

[2016-09-05 18:30] flomotlik opened #2027 "Check if events is an array when loading the config"
# This is a Bug Report

## Description

When a user accidentally configures events to be an object instead of an array an exceptions gets thrown. Instead the user should be warned that the event has to be an array. Example:

[code]

Similar or dependent issues:
*

## Additional Data

* ***Serverless Framework Version you're using***:
* ***Operating System***:
* ***Stack Trace***:
* ***Provider Err

[2016-09-05 18:33] flomotlik opened #2028 "Add Documentation for IAM ARN feature"
# This is a Bug Report

## Description

Currently we don't have documentation for the recently merged PR #1975 about IAM Role ARN implementation.

Similar or dependent issues:
*

## Additional Data

* ***Serverless Framework Version you're using***:
* ***Operating System***:
* ***Stack Trace***:
* ***Provider Error messages***:

[2016-09-05 18:47] thoean commented on #499
We use gulp to deploy a serverless project, and we do some pre-work before calling `serverless deploy`. To address the above problem, we call the following functions (and more functionality to figure out whether we need to call `serverless project init` or `serverless stage create` or simply nothing).:

[code]

I haven't tried serverless 1.x yet, which I hope has addressed some of the workarounds

[2016-09-05 21:33] jagi commented on #1678
I'm also interested in such a feature and my use case is as follows. I have a project that has `client` and `server` directories. Everything runs using webpack and I have some scripts defined in the `package.json` file. What I want to do is run a command like `npm run deploy server` which would build bundle and deploy it using serverless. Right now I must have serverless installed globally but if

[2016-09-05 21:43] chenleo opened #2031 "How to use verbose deploy?"
The -v or --verbose seems give the same output message, is it the right way to use as:

[code]

or

[code]

[2016-09-05 21:46] chenleo opened #2032 "Is there a way to change the deployment limits?"
According to the official document:

http://docs.aws.amazon.com/lambda/latest/dg/limits.html

Lambda function deployment package size is 50MB

and

Size of code/dependencies that you can zip into a deployment package is 250MB

Is there a way to change or increase the default size in serverless.yml ?

[2016-09-05 22:09] wedgybo commented on #2025
I could take a look at this when I'm working on the custom codes PR. Or would you rather it was separate?

[2016-09-05 22:13] rowanu commented on #2032
Nope, as mentioned in the link you included:

[2016-09-05 23:00] rowanu commented on #1678
@jagi you can run it as an npm dependency; Just make sure `./node_modules/.bin` is in your `$PATH` and any commands you run in your project directory (or via `npm`) will use the local binary. No global installs required.

FWIW these use-cases sound completely different (and much more meta) to what Serverless is currently aimed at. I don't think in these early days that it's feasible for Serverless

[2016-09-06 00:46] rowanu commented on #2031
These are both the same command - just with long or short arguments. See the output of `sls deploy -h`.

[2016-09-06 05:51] rowanu commented on #2027
Hey @flomotlik I was just looking at the tests around this functionality and want to confirm with you: It looks like the tests for `getEventInFunction` [incorrectly configure `events` to be an object](/serverless/serverless/blob/master/tests/classes/Service.js#L416-L418). Is that worth fixing as part of this PR? It doesn't seem to be causing any issues, because I can't see `getEventInFunction` bei

[2016-09-06 06:22] fny commented on #2013
@andymac This is for a new http path.

@flomotlik: It's definitely shouldn't be an issue with `my_new_function` for the path. If I delete the cloudformation from AWS directly, I'm can deploy everything without any issues. I'm already running beta2, I'll try the latest master and see if I can make this happen again.

[2016-09-06 07:35] aychedee opened #2035 "remove leaves project in a unrecoverable state"
# This is a Bug Report

## Description

For bug reports:
* Created a basic project with one GET endpoint on AWS, tried adding another POST endpoint, this failed. Tried `serverless remove`, then tried `serverless deploy`. Project now in a broken state due to missing s3 bucket.
* I expected that the project would be removed cleanly and would be deployable again
* What was the config you used?

## Co

[2016-09-06 07:38] aychedee commented on #2035
I can see why the delete failed, because I attached a IAM policy to the Lambda role, so that it could have access to dynamodb... But I still think this is a bug. Would it have worked if I somehow added the IAM role in the resources part of my config? Not that I'm sure how I would even do that :)

[2016-09-06 10:04] JeevanThandi opened #2036 "serverless deploy bug - Member must satisfy regular expression pattern"
serverless deploy shows this error:
Error --------------------------------------------------

[code]

  Get Support --------------------------------------------
     Docs:          v1.docs.serverless.com
     Bugs:          github.com/serverless/serverless/issues

[code]

[2016-09-06 10:20] rowanu commented on #2035
Yes, it probably would've worked if you added the policy as part of the config - then it would've been managed in the same CloudFormation template.

Because you attached the IAM policy outside of CloudFormation, it wasn't able to delete it when you ran `serverless remove`. This mean that you would've had a stack in a failed state (but not deleted), and when you tried to do `serverless deploy` afte

[2016-09-06 12:54] jagi opened #2037 "Threefold command nesting in plugin"
Version: `serverless@1.0.0-beta.2`

Hi, is it possible to triply nest commands in Serverless plugin?

I want to invoke command `sls stack build client` but I can't make it work.

[code]

I get console error:

[code]

[2016-09-06 13:15] #2032 closed

[2016-09-06 13:16] flomotlik commented on #2031
yup both should work, though they are still not released yet, releasing right now

[2016-09-06 13:16] #2031 closed

[2016-09-06 13:17] #608 closed

[2016-09-06 13:17] #1957 closed

[2016-09-06 15:28] mthenw opened #2041 "Show help without validating opts"
# This is a Bug Report

## Description

I get error about populating values when `serverless help`

For bug reports:
* What went wrong?

[code]

I need to run `serverless help --stage dev` to see help

* What did you expect should have happened?

HALP info

[2016-09-06 17:29] anreved commented on #2026
@flomotlik, I'd be happy to help out on this one.  My first though was to create a new file under `lib/classes` called `Logger.js` ([see this gist](https://gist.github.com/anreved/c73d83a040399ae8bb0ecd74c63fdec9.js)).  This would have methods to both log messages to the console (log, info, debug, warn, error) as well as get styled messages for when you need to combine multiple styles in a single

[2016-09-06 17:40] flomotlik commented on #2026
Yeah pretty much this :D. The only change I would do is instead of using 'bold' or 'dim' define constants in the logger for it. A little more cumbersome, but waaaay easier to change in the future.

[code]

or something along those lines. Maybe instead of specifics like BOLD we set something like logger.EMPHASIS so its less descriptive, but yeah whatever we can figure this out in the future.

Also

[2016-09-06 17:44] StefH opened #2042 "Question : is it possible to run a local function wihout any valid AWS credentials?"
# This is a Question

## Description

When just using dummy values for AWS Access Key ID and AWS Secret Access Key, I cannot execute the function just local ?
[code]

Is there a way to fake or generate these credentials for testing purpose?

## Additional Data

* ***Serverless Framework : 1.0rc1***
* ***Operating System : windows 10***

[2016-09-06 19:11] gwsii commented on #1994
Working on delivering this feature sometime this week.

[2016-09-06 19:17] medhoover commented on #1873
Maybe I can help, it would be a pleasure to contribute 😄, as this feature seems clear to me.
For the specs I think we should follow the Filter syntax for the additional property:

[code]
The rules will be mapped to the Filter property as:
[code]

[2016-09-06 19:26] medhoover commented on #1873
Or we can have a more direct syntax:
[code]
But this could require an additional key validation within the compileS3Events

[2016-09-06 21:44] #2035 closed

[2016-09-06 22:04] rowanu commented on #2042
Nope, `serverless invoke` is only remote execution only (for now). The [serverless-offline](https://github.com/dherault/serverless-offline) plugin will do what you want. Make sure to use the [serverless_v1 branch](https://github.com/dherault/serverless-offline/tree/serverless_v1).

[2016-09-06 22:08] rowanu commented on #2037
Judging by [this TODO](https://github.com/serverless/serverless/blob/master/lib/classes/PluginManager.js#L117) it's not currently possible.

[2016-09-06 22:20] gwsii opened #2044 "Multiple Issues Blocking Windows Contribution"
# This is a Bug Report

## Description

Trying to follow contribution guidance on the Window platform leads to blocking errors.

For bug reports:
* What went wrong?

1) "npm test" will result in an error: SyntaxError: Unexpected token ILLEGAL
2) "npm test" fails because Windows does not honor node shebang.
3) "npm test" zipService tests fail because .unixPermissions is used to evaluate success

*

[2016-09-06 22:21] gwsii commented on #2044
Working on a PR to address the first two issues. Have both working locally.

[2016-09-07 01:14] edfrench opened #2046 "Response template does not allow for multiple content-types"
# This is a Feature Proposal
## Description

 APIG selects the proper response content type based on the request **Accepts** Header.
From AWS APIG documentation:

[code]

 We have several API's that rely on this behavior to allow users to select the response's content-type   The current design of serverless response template only allows a single content-type to be defined, rather than allowing for

[2016-09-07 01:31] pouledodue commented on #1738
[code]
on four get, put , delete, post routes gives me
[code]

[2016-09-07 01:50] cdichiara commented on #993
Just so folks know, I was able to get a "No integration defined for method" by manually creating an HTTP Proxy in the API Gateway GUI, then forgetting to do the basic settings for it - ie, didn't give it a URL. I just forgot about it, and then when I tried to deploy via serverless I got this error. When I went in and put in the URL, deploy worked again.

So it might be an issue with a stage that c

[2016-09-07 04:10] atwoodjw opened #2048 "Encountered non numeric value for property AllocatedStorage"
# This is a Bug Report

## Description
Provisioning stack fails when including a `AWS::RDS::DBInstance` resource type.

Using this config.

[code]

[code]

## Additional Data

* ***Serverless Framework Version you're using***: 1.0.0-rc.1
* ***Operating System***: OS X El Capitan 10.11.6 (15G31)

[2016-09-07 05:14] StefH commented on #2042
Thanks for this response.
For this moment, I'll use the simpler https://www.npmjs.com/package/run-local-lambda for running locally.

[2016-09-07 05:14] #2042 closed

[2016-09-07 05:23] kkozmic-seek commented on #1329
Hey

Is any of that in RC1. I can't find any documentation regarding logging/alerting.

[2016-09-07 05:49] fruffin opened #2049 "API Gateway returns 200 when function times out"
# This is a Bug Report

## Description
* What went wrong?
When a lambda function times out, API Gateway still returns a 200 OK status code

* What should have happened?
API Gateway should return a 500 or 504 status code when a lambda function times out

* What was the config you used?
Serverless 1.0 RC1

The code change for this is very simple. PR to follow shortly

[2016-09-07 06:15] flomotlik commented on #1329
@kkozmic-seek we don't have built in support for it yet, but you can create it through custom resources: https://github.com/serverless/serverless/blob/master/docs/01-guide/06-custom-provider-resources.md

Basically this: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cw-alarm.html

[2016-09-07 06:17] flomotlik commented on #993
@cdichiara yup we'll have to add a little more docs about this, but basically if you go in and create infrastructure manually or change the deployed infrastructure its very likely that the deployment won't work the next time.

[2016-09-07 07:02] orthodoc opened #2051 "Request to add changelog"
## This is a Proposal
(Affecting the contributing devs and otherwise!)
Include a `Changelog.md` and link it to every release to intimate the changes and features introduced with every release.

## Description
With rapid development, several features are being introduced in serverless with each release. Often, some of these changes are **`Breaking Changes`** that are incompatible or make previous v

[2016-09-07 07:12] mpaf commented on #2028
Hi, about this issue - how do we deal with different functions in the same service needing a different role? In version 0.5 it seemed to be more flexible, so that custom resources could be used as variables in the templates, so you could use any role with a function definition. Now it seems that by using the provider -> IamRoleARN we are limiting it to one ARN for all the functions within the same

[2016-09-07 07:35] jagi commented on #2037
Ok I see, thanks! So they probably plan to work on that

[2016-09-07 09:10] svdgraaf commented on #1455
I'm currently working on a project where I need some way of passing created CF resources (in my case a bucketname) to the Lambda functions. I have everything working now (automatic creating of another stage, with the passed variables), and they are showing up as stage variables in APIG, and are passed to the Lambda functions.

I'll see if I can create a plugin (or PR) for this. But I think it migh

[2016-09-07 09:16] wedgybo commented on #2024
Looking at this noo

[2016-09-07 09:16] flomotlik commented on #1873
@medhoover that proposal looks great, good to go from my side.

[2016-09-07 10:25] flomotlik commented on #2051
Thanks @orthodoc for bringing this up. Proper Changelogs will definitely be part of future releases after V1. Basically the blogposts we launch are Changelogs at this point, but after V1 we'll introduce them!

Thanks for mentioning those tools, will definitely look into them to set up this process. Very helpful!

[2016-09-07 10:30] flomotlik commented on #2048
@atwoodjw you need to remove the `,` at the end of the lines, e.g.

[code]

then it should be fine. YAML doesn't need the separator in the same way as JSON does.

[2016-09-07 10:30] #2048 closed

[2016-09-07 10:32] flomotlik commented on #2028
There is an open issue for this feature with #1807 discussing this. Basically the same config as per service should be available per function as well so you can create individual roles for every function.

[2016-09-07 11:28] mpaf commented on #2028
Ok. What about getting the ARN from the Custom Resource you just created? If you deploy the function/service across accounts that ARN will be different, so it doesn't make sense to hard-code the ARN, a reference to the custom serverless resource would be better. I haven't seen any documentation to that purpose, if that's already a possibility - it was a possibility in 0.5 at least.

[2016-09-07 12:20] mpaf commented on #1807
I would add that those roles should be also part of the serverless cloudformation stack - that is you should be able to reference the custom resources you define, which you don't know the ARN beforehand. You can then deploy the service across AWS accounts for e.g. without any hardcoding of ARNs.

[2016-09-07 13:01] fruffin opened #2054 "Variables not expanded in "provider" config section"
# This is a Bug Report

## Description

* What went wrong?
I am trying to set up my lambda functions in a VPC. In v1.0-beta2 I just had my array of subnets and VPC ID in serverless.env.yml so that the right set of subnets was picked up.
All functions in my service are going to need this, so I have decided to configure this at the provider level instead of at the function level.

Since upgrading to

[2016-09-07 13:15] ralphevision commented on #661
Can you please provide an example in YAML to add a constant JSON event input for a scheduled lambda in the serverless.yml (version 1.0.0beta of serverless). Thanks.

[2016-09-07 13:31] mthenw opened #2055 "Unable to create service with VPC configuration"
# This is a Bug Report

## Description

For bug reports:
* What went wrong?

Got error after running `serverless deploy` for new service

[code]

Usualy this error means that function role doesn't have enough permissions. But I put

[code]

Workaround for that is to comment `vpc` section, deploy then uncomment and deploy again.

* What was the config you used?

[code]

[2016-09-07 14:04] cdichiara commented on #993
Oh, thanks for responding. :) Basically I like to post when I run into a problem with serverless v0.x because the error conditions are so cryptic - usually just a thrown exception - that the hope is that I can help the next person figure out what went wrong. Seems like @haack beat me to it this time.

I wish doing it all in serverless felt like protection against similar errors ... but the errors

[2016-09-07 15:38] jthomerson opened #2057 "Default serverless.yml has deprecated content"
I generated a new 1.0 project today using the quickstart from serverless.com:

[code]

The sample serverless.yml file contained a defaults section. Then when I tried using it, I got the following error:

Serverless: Deprecation Notice: the "defaults" property in serverless.yml is deprecated. The "stage", "region" & "variableSyntax" properties has been moved to the "provider" property instead. Plea

[2016-09-07 16:07] dwtalk opened #2058 "API Keys not working as expected"
# This is a Bug Report

## Description

API Keys specified in the serverless yaml file are not able to be leveraged

## Details

When an API key is specified in the serverless.yml file as such:

provider:
  name: aws
  runtime: java8
  apiKeys:
      - mytestapikey

The behavior is that an api key is created in AWS, however it is not usable.

1. The API key is created with the given value "mytesta

[2016-09-07 18:00] ralphevision opened #2059 "Error 'Unexpected token' when trying to invoke lambda function with CLI"
# This is a Bug Report

## Description

For bug reports:
* What went wrong? I am getting an error message when trying to invoke my lambda function using CLI sls invoke --function toto -p event.json
* What did you expect should have happened? my function would run and return the expected result
* What was the config you used? serverless 1.0.0rc1
* What stacktrace or error message from your provider

[2016-09-07 18:15] ralphevision commented on #2059
There was some comments in the event.json which apparently is not supported. By deleting it then all seems to work.

[2016-09-07 18:15] #2059 closed

[2016-09-07 23:01] rowanu commented on #2042
Good to know - been meaning to check that out as well.

[2016-09-07 23:42] erikerikson commented on #1895
What I described [here](https://github.com/serverless/serverless/issues/1895#issuecomment-241823253) seems to comprise two changes.  The first is the original point of this issue.  The other is an inheritance capability for specifying a base role and combining its definition with other roles to enable greater terseness in role definition.  I will PR the former first and we can discuss the desirabi

[2016-09-08 05:21] StefH commented on #2042
Also this one works fine:
https://github.com/Max-Kolodezniy/aws-lambda-local

[2016-09-08 05:56] eahefnawy commented on #2057
Dang! Nice catch @jthomerson 👍 ... I just PRed updates to the template files. We're now encouraging the `provider` object instead of `defaults`

[2016-09-08 06:03] eahefnawy commented on #2057
oh apologies! I just noticed that you and @rowanu PRed a fix as well ☺️ . There was also outdated variable reference which is included in my PR.

[2016-09-08 06:51] kurtmaile commented on #1457
Hi all we are setting up our versioning and rollback as depicted below.  Note:  We are using gosparta for go based lambda microservices to do below.  We are investigating serverless for our other programming languages, thus the inquiry into some of these types of capabilities.  Im new to serverless and wondering if below is possible now?

![lambda-versioning](https://cloud.githubusercontent.com/as

[2016-09-08 08:14] alekstr opened #2064 "VPC attachment not working on initial deployment "Your access has been denied by EC2""
# This is a Bug Report

## Description

If you are attaching VPC for a function and initially deploying function - you'll get "Your access has been denied by EC2" with resource creation failed for Lambda function. This is due to Lambda need to have role assigned prior configuring VPC, however in Cloudformation template lambda function does not depend on Role resource - so in some cases role creati

[2016-09-08 09:37] fruffin commented on #2055
@mthenw I've had the exact same problem. It's due to the order things are getting created by Cloudformation.

I raised an issue here: https://github.com/serverless/serverless/issues/1981 and there is an open PR to fix it here: https://github.com/serverless/serverless/pull/1934

There is a workaround in the comments, which consists in creating the security group required for the VPC integration as

[2016-09-08 09:40] fruffin commented on #2064
I think this is a duplicate of https://github.com/serverless/serverless/issues/2055 and https://github.com/serverless/serverless/issues/1981

I've had the exact same problem.

I raised an issue here: https://github.com/serverless/serverless/issues/1981 and there is an open PR to fix it here: https://github.com/serverless/serverless/pull/1934

There is a workaround in the comments, which consists i

[2016-09-08 10:02] rowanu commented on #1582
Can I add a feature to this list? Serverless (internal) logging. Please note that this is completely separate from function logging (which is provided by `sls logs`).

Basically I want `SLS_DEBUG` on steroids. I don't want extra logging just when errors are thrown, I want to see every step that is taken internally so I can understand quickly where things are going wrong/different to what I expect.

[2016-09-08 10:06] alekstr commented on #2064
Cool thanks =)

[2016-09-08 10:47] flomotlik commented on #1895
@erikerikson With the *first* point you mean setting up a separate Role per function?

[2016-09-08 11:31] j0rd opened #2067 "Stages Create new API Gateway Endpoint, Instead of new API Gateway Stages"
I've made a Shopify Shipping Cost Calculator using serverless v0.5.

I had a single codebase and would create a new stage per store integration (I maintain around 5 stores).

In the past, each stage would use the same API Gateway endpoint URL, and each stage would have a URL prefix.

I've noticed in moving to v1.0 that each stage now receives it's own API Gateway URL endpoint + 1 single stage

Pre

[2016-09-08 11:37] j0rd opened #2069 "Discussion: Adding Redundancy/High Availability to AWS Lambda / Serverless"
While I understand this is not related to serverless, I figured I'd ask here.

I've created a Shopify CarrierService using serverless v0.5. Essentially what that is something that calculates shipping costs for orders. I use this on multiple stores and it's been great.

Problem is AWS Lambda occasionally dies for couple hours at a time. When this happens, my customers are not able to receive shippi

[2016-09-08 12:00] flomotlik commented on #2069
@j0rd this discussion topic would be better suited for our forum at http://forum.serverless.com . We want to make sure that our issue tracking is really only for bugs or specific feature requests and want to move general discussion into the forum. Would be great if you could open that up there and then link back to it from here so people can find the thread in the future.

[2016-09-08 12:00] #2069 closed

[2016-09-08 12:57] eahefnawy commented on #2054
Thanks for reporting @fruffin ... we just merged a fix for this 😊

Closing...

[2016-09-08 12:57] #2054 closed

[2016-09-08 14:39] pouledodue commented on #2067
yup this problem is very annoying, It should be priority 1.
it also causes problem with custom domain mapping like I reported [here](https://cdn-standard.discourse.org/uploads/serverless/original/1X/fcaccf6ab8397e252c9e9e74be63958520924147.png)

[2016-09-08 16:50] WooDzu opened #2071 "Issues with package.include and package.exclude"
# This is a Bug Report

I'm trying to exclude node_modules from the final zip package but observed unexpected includes.
### What went wrong?

Some of the files in node_modules are getting into the zip because of the implicit include of 'functions'.
List of the packaged files

[code]
### What did you expect should have happened?

The node_modules folder should completely ignored when packaging so t

[2016-09-08 16:54] erikerikson commented on #1895
Exactly @flomotlik.  Working on tests now.

[2016-09-08 16:57] erikerikson commented on #1895
Well... in our specific case anyway.  I'm attempting to implement it so that any strategy (including a hybrid of shared and individual) can be used.

[2016-09-08 17:07] eahefnawy commented on #2058
Thanks for bringing this up @dwtalk ... I've also wondered about this when I started implementing this feature, but unfortunately [CF doesn't support setting custom API key values](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-apikey.html#cfn-apigateway-apigateway-apikey-name).

Good news is that the value is returned from the resource and can be used as a C

[2016-09-08 17:13] eahefnawy commented on #2057
Resolved with PR #2063

[2016-09-08 17:13] #2057 closed

[2016-09-08 17:36] WooDzu opened #2072 "Broken link to the docs"
latest serverless:

`$ serverless deploy`

[code]

https://git.io/v64aN points at:
https://github.com/serverless/serverless/blob/master/docs/guide/provider-account-setup.md#setting-the-aws-api-key--secret
should be:
https://github.com/serverless/serverless/blob/master/docs/02-providers/aws/01-setup.md

[2016-09-08 18:44] license2e commented on #1938
The issue #1717 can be closed in favor of this one.

[2016-09-08 19:18] jthomerson commented on #2046
@edfrench just a note that there's a typo in your title of this issue "response"

[2016-09-08 19:24] jthomerson commented on #2046
I have some other issues with the way event mapping is handled for responses. I'm not sure if they should be part of this issue or separate, but they're related enough that I'll start by putting them here. Currently:

 1. you can not map your own error responses - your own error response regex, status code, or templates
 2. you can not change the status code of your default response

For bullet (1

[2016-09-08 19:29] jthomerson commented on #1900
Is this where we can comment if we feel that a particular issue should block the 1.0 final release? For me, #2046 makes 1.0.0-rc1 a no-go (my comments on that ticket about response templates and status codes).

[2016-09-08 19:50] rogemita commented on #2067
I reported this already: https://github.com/serverless/serverless/issues/1907 and it was closed because were ticket already created, ticket was solved (https://github.com/serverless/serverless/pull/1834) and merged in rc but I think the idea was missed in the middle, maybe I am confused on it, can someone tell me if I am thinking wrong regarding this? thank =)

[2016-09-08 20:08] jthomerson commented on #2046
Another usecase for the request that @edfrench makes came to me just now - as you can see in my templates from 0.5.x above, I had `application/json;charset=UTF-8` as my mime-type. That's important because browsers and other clients handle it a lot better when they know the charset. But right now the default is `application/json` and I have no way to override it.

[2016-09-08 20:52] rowanu commented on #2071
Ran in to this problem today as well. Is it just me or do [the packaging docs](https://github.com/serverless/serverless/blob/master/docs/01-guide/10-packaging.md) suggest that `includes` should behave like a whitelist if used on their own?

👍 for Proposal 3, happy to help if needed.