[2019-03-05 15:23] KnupMan commented on #5452
You can use https://github.com/MikeSouza/serverless-associate-waf until `serverless` will have native support of AWS WAF for API Gateway

[2019-03-05 16:02] craig-dae commented on #5897
The issue isn't the two different plugins. The issue is that, as a result of an invalid ARN, the serverless deploy failed, but we thought it was succeeding for a couple days because Codebuild returned a success. This is entirely a serverless issue, and I've already opened tickets for the actually issues with the plugins separately.

[2019-03-05 16:07] JtheB commented on #3267
It would really be great to get a little help. With the answers, I can fix up everything and submit a pull-request. :)

[2019-03-05 16:57] dschep commented on #3557
So, for golang support (#5813) I partially did this. Maybe that code can be extended to read from a list of files in `package.executables`(or something) to `chmod +x` while zipping.

[2019-03-05 20:40] arnagarjun commented on #5891
@pmuens
I removed the `serverless-iam-roles-per-function` and tried to deploy the function. Same error.
I also tried creating new project and tried to deploy only the function. But failed with same reason.

[2019-03-05 20:42] dschep commented on #5891
I'll have a PR to fix this shortly. For the time being, make sure you have a runtime defined in the provider section.

[2019-03-06 08:45] bweigel commented on #5892
Try running your `build.sh` manually before doing `sls deploy`. Serverless doesn't seem to run the buildscript.
I had the same issue & build the layer folder beforhand fixed it.

[2019-03-06 11:10] vallabhvrao commented on #5891
I am facing same issue on windows

[2019-03-06 12:57] pmuens commented on #3456
As @dschep described above 🔝 this will be resolved via #5863.

I just tested it today and it works great 👍

[2019-03-06 15:24] 4z5lz commented on #5381
is there a solution for this issue?

[2019-03-06 15:35] dschep commented on #5892
Yup, `buildScript` isn't a framework option. Where did you see this documented?

[2019-03-06 15:53] owena1337 opened #5900 "Specify a path to the code for a lambda function"
# This is a Feature Proposal
Currently, you have to specify the handler for a function like so;
functions:
  MyLambda:
    handler: Lambdas/MyLambda/index.handler

With this approach, when the serverless deploy command is executed, it pushes up the entire folder for Lambda's into every Lambda function, so you will get other lambda function code in a path in a lambda, which is silly.

## Descriptio

[2019-03-06 16:14] bweigel commented on #5892
I guess when I started experimenting with layers I copied from here https://github.com/dschep/geoip-lambda-layer/blob/master/serverless.yml :smile:

[2019-03-06 16:51] zeacuss commented on #5381
@4z5lz I'm only able to get around it by packaging in a dir named ".selverless"

[2019-03-06 18:51] dschep commented on #5892
Ahah! thanks. I knew it was my fault bc I had a plugin version i never relased which did have that.

[2019-03-06 22:38] rubenabix opened #5901 "Azure Proxy Integration"
# Work with Azure Functions Proxies

## Description

* Azure Function Proxies is that it allows us to define a single API surface for multiple function apps.
* Reference: https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies

Similar or dependent issues:
https://github.com/serverless/serverless/issues/5901

[2019-03-06 22:39] ChenLi0830 commented on #3176
@alnorth Same problem here, thanks!

[2019-03-07 00:09] engmsaleh commented on #5892
@bweigel Thanks a lot building it before the deploy did the trick 👍
@dschep It would be very nice to had this feature included :)

[2019-03-07 02:33] fschroder commented on #2831
As mentioned by @agouz this helps, however when I tried it serverless was generating 2 usage plans:

[code]

The 2nd plan was unexpected and was always failing as it entered on a race condition with the APIStage. For me the solution was to rename my UsagePlan from "UsagePlan" to "ApiGatewayUsagePlan". This way serverless generated only one and with the right DependsOn.
The only way to find about t

[2019-03-07 04:14] jackywxd commented on #5776
Hi there, I have the exact problem. My API suddenly stop working after new deploy.
Unable to import module 'cognito/postConfirmation': Error

Is there any workaround at this moment? @pmuens  Right now we cannot do any deployment into our production environment.

Thanks!
Jacky

[2019-03-07 04:46] jackywxd commented on #5776
It turns out it is the problem with serverless-webpack version 5.2.0. After change it back to 5.1.5, remove the node_modules directory and do "npm install". After that I was able to deploy again without getting import module error.

Hope this can help others having the same issue.

[2019-03-07 06:57] delprofundo opened #5902 "WebSocket Authenticator not mapped"
# This is a Bug Report

## Description

* What went wrong?

Created WebSocket connection endpoint (worked by itself) and some other routes. Now added an authorizer. its function gets created but it does not get mapped to the APIG Authorizer.

* What did you expect should have happened?
* What was the config you used?

[code]

* What stacktrace or error message from your provider did you see?

no e

[2019-03-07 11:25] pmuens commented on #5902
Hey @delprofundo thanks for opening 👍

@eahefnawy just implemented this via https://github.com/serverless/serverless/pull/5867. This feature will be shipped in the next release. Could you checkout the PR and take it for a spin?

I'll close this issue for now since we'll publish the new version quite soon. Feel free to re-open if the PR still doesn't fix your problem.

[2019-03-07 11:25] #5902 closed

[2019-03-07 11:26] pmuens commented on #5901
Hey @rubenabix thanks for opening 👍

Could you re-open the issue in the Azure Serverless Provider plugin so that we can track it there? Thanks in advance!

[2019-03-07 11:26] #5901 closed

[2019-03-07 11:32] delprofundo commented on #5902
Now that is very helpful, thanks mate! Yep I'm gonna take it for a bash now and you'll hear from me if I have any issues.

thanks again Philipp!

[2019-03-07 12:51] #5400 closed

[2019-03-07 14:19] jjpxiii commented on #4426
This is the setup I also use.
The package operation is kinda faster with 1.36.1 but it still takes an awful lot of time so I tried to set ```excludeDevDependencies``` to ```false``` and got this :
[code]

[2019-03-07 15:01] luyangliu616 opened #5903 "I need help with endpoint"
I use serverless and get  _S3 error: Unable to get the object **https://s3.amazonaws.com/xxxxxxx**_
I find the endpoint is **https://s3.cn-northwest-1.amazonaws.com.cn/xxxxxxx**
how can I change it?

[2019-03-07 15:35] ngw commented on #5567
Not sure I understand this solution, should I use a different runtime for this?
I'm having:

```  Command failed: docker run -v `pwd`:`pwd` -w `pwd` lambci/lambda:build-ruby2.5 bundle install --deployment
/bin/sh: docker: command not found```

Here's my conf: https://gist.github.com/ngw/8e762faca258493c7159581aed1fccea

[2019-03-07 16:59] blackc0d3 commented on #5886
+1
I'm trying to do the same (defining an https event and a websocket).

In my case, the error i get is this:
..................................
Serverless: Stack update finished...
Serverless: Uploading CloudFormation alias file to S3...
Serverless: Updating alias stack...
Serverless Error ---------------------------------------
  [/Resources/DefaultHandlerLambdaPermissionWebsockets/DependsOn/0]

[2019-03-07 17:28] castellanprime commented on #5886
@blackc0d3 Are you defining both an https event and a websocket on a single route?

[2019-03-07 20:40] jtmckay opened #5906 "Error using websockets with role ARN"
Same issue as https://github.com/serverless/serverless/issues/5868

But the error occurs when using an existing ARN for the role.

EG:

[code]

EG 2:

[code]

[2019-03-08 07:29] blackc0d3 commented on #5886
@castellanprime I'm not sure what you mean with same route. I've defined them as different functions... the websocket with a $default route and the https with its own path. Each of them invoke its own method in the handler file.

For clarity:
..
functions:
  websocketFunc:
    handler: handler.wsMethod
    events:
      - websocket:
           route: $default

  otherFunc:
    handler: handler.oth

[2019-03-08 08:35] luyangliu616 commented on #5903
Serverless: [AWS cloudformation 400 4.488s 0 retries] createStack({ StackName: 'xxxxxxx',
  OnFailure: 'DELETE',
  Capabilities: [ 'CAPABILITY_IAM', 'CAPABILITY_NAMED_IAM', [length]: 2 ],
  Parameters: [ [length]: 0 ],
  TemplateURL:
   'https://s3.amazonaws.com/。。。。xxxxxxx/1552033747288-2019-03-08T08:29:07.288Z/compiled-cloudformation-template-alias.json',
  Tags:
   [ { Key: 'STAGE', Value: 'api

[2019-03-08 09:37] luyangliu616 commented on #5903
I find something wrong with serverless-aws-alias

[2019-03-08 09:37] #5903 closed

[2019-03-08 10:26] agouz commented on #4661
The plugin did work for me, only updated the first function :(
I ended up using @mikemckibben solution with resources. To get the right method name check the .serverless/serverless-state.json file. The method names should start with ApiGatewayMethod

[2019-03-08 11:55] pmuens commented on #5906
Hey @jtmckay thanks for opening 👍

I tried to reproduce this bug using the latest `master`. Here's the config I've used:

[code]

(Un)fortunately I couldn't reproduce this. Could you checkout the latest `master` to see if it has already been fixed? Thanks!

[2019-03-08 12:17] #5742 closed

[2019-03-08 12:29] lielran commented on #4557
here is an full example if you need async action in the plugin: https://gist.github.com/lielran/31c8e2b7f940539585c9f7b913affa7a

[2019-03-08 16:19] jtmckay commented on #5906
It has already been fixed on master. Thanks! You guys are really responsive

[2019-03-08 16:19] #5906 closed

[2019-03-08 16:24] dogzzdogzz commented on #5583
My exclude/include in serverless.yml as below worked well before,
[code]
until I added layers, I got " No file matches include / exclude patterns"  error
[code]

[2019-03-08 18:47] engmsaleh commented on #5892
Another question, Could I when deploy the layer be without the stage indicator ... for example `dev` as it makes no sense to me to have such suffix in the ARN of the layer as it will be all the same to me?

[2019-03-08 20:44] bsarazin opened #5907 "Add -update-config flag to deploy service command"
# This is a Feature Proposal

## Description

* --update-config was added to deployment of single functions, this request is to create a similar flag for deployment of the service (multiple functions), so we may update functions via `sls deploy --update-config`

Similar or dependent issues:
* #4173

[2019-03-09 10:27] mrvisser commented on #5030
FWIW, I had this problem today still.

[code]

[2019-03-09 15:38] eliasjcjunior opened #5908 "Update template aws-nodejs-typescript with plugin"
# Add a plugin to help with typescript compile

## Description

* The webpack configuration is confusing for some beginner programmers, so I created a plugin that helps create an abstraction for this configuration with the typescript plugin, I want to add the plugin [serverless-plugin-typescript-express](https://github.com/eliasjcjunior/serverless-plugin-typescript-express) in the template to help

[2019-03-10 15:59] zvymazal commented on #3833
I ran into similar problem and would like to share my solution here in case it would save someone the time I had to spend on debugging this behaviour.

In my scenario I wanted to deploy Lambda functions cross account with target account defined by stage. Deployment happens from an instance in service account running with IAM role. Normally in a similar case I'd use custom aws credentials file with

[2019-03-10 17:21] thauvette commented on #5200
I am having a similar issue. I can see the s3 bucket being created but I don't see a new cloudFormation stack or any new lambda functions.

Running `serverless deploy` gives me the expected output as does `sls info`.

`serverless.yml`

[code]

`sls info` output:
[code]

[2019-03-10 18:44] AdamZaczek commented on #5776
I actually don't remember how did I solve this one @jackywxd but I think I also reverted my serverless-webpack version. Glad it works for you too now!

[2019-03-10 19:39] joshuanapoli commented on #5001
The problem was previously fixed but rejected in #3189.

It is frustrating that we cannot predict which configuration properties will work with config variables and CF exports.

[2019-03-10 19:55] mrowles opened #5910 "Cognito Authorizer not being created when specified in Websockets template"
# This is a Bug Report

## Description

I've added a Cognito ARN to the `authorizer` property in my websockets  config, but my API's get created in API Gateway without an authorizer. I expected that, as per normal REST API's, that it is created. I've followed the [docs accordingly](https://serverless.com/framework/docs/providers/aws/events/websocket#using-authorizers).

Alternatively, if this is n

[2019-03-11 05:30] dogzzdogzz commented on #5892
My exclude/include in serverless.yml as below worked well before,
[code]
until I added layers, I got " No file matches include / exclude patterns"  error
[code]

[2019-03-11 10:20] AndreaAdvanon commented on #4311
Is this supposed to be fixed? Still getting the same error.

[2019-03-11 13:20] AlexRex commented on #5910
I tried the same with custom authorizer and is not working neither for me. I've been checking the pull request that was recently created to add the support to websockets (https://github.com/serverless/serverless/pull/5824) and looks like there's no logic to add the authorization.

@eahefnawy Is this something missing in your PR?

[2019-03-11 15:53] cscetbon commented on #4647
Hey guys, any progress on that ticket ?

[2019-03-11 17:05] nosark commented on #5576
I would like to work on this issue please!

[2019-03-11 17:22] raznerdeveloper commented on #5869
Hello @dschep,

I'm having this same issue. I made a call to the secret manager like this:
`
service: someservice
provider:
  stage: staging
  region: eu-central-1
  name: aws
  runtime: nodejs6.10
custom:
  variables: ${ssm:/aws/reference/secretsmanager/somesecret~true} <== SSM call
functions:
  main:
    handler: index.serverlessHandler
    events:
      - http:
          path: v1/somepath

[2019-03-11 18:00] dschep commented on #5576
Feel free to do so @nosark! Looking forward to your contribution 🙂

[2019-03-11 18:43] kvnam commented on #5747
Hello @ng95junwei and @pmuens, is this still being worked on? If not may I give it a go?

[2019-03-11 18:44] dschep commented on #5888
Should update these docs to use this command rather than a custom script: https://serverless.com/framework/docs/providers/aws/cli-reference/invoke-local/#aws---invoke-local

[2019-03-11 19:13] snurmine commented on #4692
Tested with master (06c82220cfd368adf9110b0e00d8659cdc28960e), but `serverless package` didn't generate zip under .serverless.
[code]
zoo.zip:
[code]

[2019-03-11 21:36] skydroid commented on #4631
Hello! I just encountered this issue with serverless version 1.38.0

I tried **sls deploy** and **sls deploy --force** to no avail.

[2019-03-11 22:29] waynerobinson commented on #5567
Do you have Docker installed @ngw?

This solution will build any ruby gems in an environment that very closely mimics how Lambda runs in production (the lambci/lambda images).

[2019-03-12 04:33] woodchuck33 commented on #4960
I am having this same issue, and, while working through it, I have to agree with @mataide that this error message is not helpful at all.

[2019-03-12 08:57] l-hendriks commented on #4631
You can just change the function code a bit (add a console.log or something) and redeploy. Then when you remove that extra bit and deploy again, it should work as well. I encounter this sometimes when serverless wants to redeploy a lambda function with identical code.

[2019-03-12 13:10] eahefnawy commented on #5910
Is that using master? The PR you referenced does not include authorizers, but I just merged authorizers support which was not released yet. Seems like the docs are "too updated" though 😅 ... sorry about that.

[2019-03-12 14:06] skydroid commented on #4631
Thanks for your insight. While that is a workaround, I don't think that will work for automated production deployments?

[2019-03-12 14:19] l-hendriks commented on #4631
Yes it is but it's not really a problem for us anymore. We get this very very seldom, if that happens in the automated deployment, we just add a useless line in production and then remove it again. Not ideal, but it works :p

[2019-03-12 14:37] eahefnawy commented on #5910
@mrowles we've fixed the docs to point to the released version, not master. However, could you confirm that master is working for you? I'm not sure yet if Cognito authorizers is supported.

[2019-03-12 15:23] skydroid commented on #4631
I put in a useless (commented) line in my lambda function and the issue still persists.

[2019-03-12 15:32] l-hendriks commented on #4631
try adding a console.log. If you add a commented line and webpack the function, the commented line is stripped out, leaving your code unchanged

[2019-03-12 16:06] mesaugat commented on #5869
Reverting back to `v1.37.0` worked for me. I was getting the same error after upgrading to `v1.38.0`.

[2019-03-12 16:12] skydroid commented on #4631
Ah! Ok that did. Seemed it kicked it back into a "normal" state. I can deploy at will now.

[2019-03-12 17:04] nosark commented on #5576
Awesome thanks @dschep !

[2019-03-12 19:30] szulfiqar commented on #4647
Fellows, Any update/work around ?

[2019-03-12 21:54] danielcondemarin opened #5913 "Question: Can I configure cors at a provider level for all functions?"
From reading the docs, it seems like I have to enable `cors` for each individual function. Also the docs suggest that functions inherit config from the provider, but doesn't seem to apply for cors.  Is that right?

Ideally I would be able to do:

[code]

which then applies that cors config to all functions. If that's not possible atm, would you consider a PR?

[2019-03-13 03:22] vdanniel commented on #5655
What does closed mean here? This is still facing what @dschep mentioned here.

[2019-03-13 05:32] mrowles commented on #5910
@eahefnawy 😂That's cool, thanks for the quick reply anyways mate!

In the case that Cognito Authorisers aren't supported out of the box (yet...😉), I'll use the JWT decoder from the provided example and retrofit it to look at `queryParams` instead of `headers` (and provide example).

[2019-03-13 05:44] l-hendriks commented on #4631
Cool! This always works. Not really a solution, but not sure if this will ever get fixed...

[2019-03-13 06:23] kingtut commented on #5765
I think this error is related:

`
  Serverless Error ---------------------------------------

  An error occurred: my-dev - Export MyLayerArn cannot be updated as it is in use by my-other-stack-dev.
`

Currently, the way layers are being destroyed on update prevents cross-stack imports entirely:

`
functions:
  my-function:
    ...
    layers:
      - 'Fn::ImportValue': ActivityDataLayerArn
`

[2019-03-13 07:19] jitto21 opened #5914 "EISDIR: illegal operation on a directory, read"
sls config credentials --provider aws --key ******* --secret ******
after i run this command an it says  "Setting up AWS..."
then this error comes
"EISDIR: illegal operation on a directory, read

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable."

[2019-03-13 15:48] mmortazavi commented on #4844
Wow, man you saved me, I spent one hour and could not figure out why CloudWatch Event is not triggered, then come across this and noticed I am not careful with my `rate: cron()` indentation.

[2019-03-13 17:03] undsoft opened #5915 "Missing files should be an error, not a warning."
# This is a Bug Report

## Description

I made a mistake when including one of the files and tried to include a file that doesn't exist:
[code]

When running ``sls package`` this produces a warning.
I believe it should produce an error.

sls will exit with 0 code when there are only warnings, which will not stop execution when you are running sls deploy or package in CI.

## Additional Data

* ***

[2019-03-13 17:11] ProTip commented on #1439
I realize this is closed, but just a word of warning: Most IAM policies that can create and attach IAM policies are nearly indistinguishable from a super user policy. The privilege escalation path is pretty straight:
1. Create super user policy
2. Assign it to something you control
3. Be super user

[2019-03-13 18:59] cameroncf commented on #4844
I just spent 2 hours on the same exact thing before finding this.

[2019-03-13 19:06] cameroncf opened #5916 "Give warning on invalid event definition"
# This is a Feature Proposal
A warning should be given when an event is defined with improper indentation. See linked issue.

## Description
It is surprisingly easy to miss an indentation on creating an event and result in function being created but the event silently fails to create. I don't know enough about Serverless Framework's architecture to use the perfect words here but I feel like when t

[2019-03-13 19:31] adriangabardo opened #5917 "Deploy after param change fails"
# This is a Bug Report

## Description

* What went wrong?
Every time I change the params on my serverless.yml file, the next deployment fails. For example, I have a path param called {id}, if I just change that to {username} the next deploy will fail.
* What did you expect should have happened?
The next deploy should just happen and update the params.
* What was the config you used?
Function decl

[2019-03-14 05:23] christopher-howard commented on #1690
To only show SLS_DEBUG output for one command execution, run in terminal:
SLS_DEBUG=* <command>

For example I ran:
SLS_DEBUG=* serverless deploy

[2019-03-14 10:23] pmuens commented on #5917
Thanks for opening @adriangabardo 👍

This could be related to https://github.com/serverless/serverless/issues/3785.

[2019-03-14 10:24] pmuens commented on #5915
Thanks for opening 👍

Yes, I agree. This should definitely be an error. Unfortunately we cannot introduce this in v1 since this would result in a breaking change. We'll add this issue to the list of features for v2.

[2019-03-14 10:24] #5915 closed

[2019-03-14 10:58] alfaproject commented on #3528
I'm having a similar issue but on removing a service instead because it references a CF variable of another service that might have been destroyed first.

To work-around that I created this patch and apply it with `patch-package`:
[code]

That allows me to do `serverless remove --ignore-cf-variables` so that serverless doesn't try to get the CloudFormation variables from another service that might

[2019-03-14 11:21] dileephell commented on #5235
@madhuravius  Your solution doesnt work me. I am using the version 1.38.0.

Anybody got the solution for this.

Your Environment Information -----------------------------
     OS:                     linux
     Node Version:           10.14.0
     Serverless Version:     1.38.0

[2019-03-14 12:16] #3456 closed

[2019-03-14 12:16] #5848 closed

[2019-03-14 12:16] #5582 closed

[2019-03-14 12:20] rjgreenwave commented on #2474
the name of the field given the @connection(name: "x") attribute cannot have '_' in field name in your schema.graphql

Example:
[code]

[2019-03-14 12:24] pmuens opened #5918 "Move provider-specific logic from core/package plugin to aws/package plugin"
Right now lots of provider specific (mostly AWS) logic can be found the core, provider-agnostic `package` plugin.

We should refactor this so that the logic is encapsulated in the AWS specific `package` plugin.

[2019-03-14 12:27] #5891 closed

[2019-03-14 12:44] ed-sparkes commented on #3322
I need a dash in my environment variable, how would one escape it?

[2019-03-14 13:17] ivanbreet opened #5919 "An error occurred: ServerlessDeploymentBucket - API: s3:SetBucketEncryption Access Denied."
# This is a Bug Report

## Description

* What went wrong?
All our long running serverless stacks have been erroring out on deploys the last few days with:
[code]
* What did you expect should have happened?
Deploy as per usual.
* What was the config you used?
Command:
[code]
* What stacktrace or error message from your provider did you see?
[code]
Similar or dependent issues:
None

## Additional D

[2019-03-14 15:30] ademidun commented on #5180
Can you please reopen this issue I am still getting the error when trying to deploy to serverless:
`events.js:174
      throw er; // Unhandled 'error' event
`

Serverless: 1.38.0
Node: v11.4.0

Stacktrace:
[code]

[2019-03-14 15:46] ademidun commented on #5180
Update: It seems like I had to install a different version of Node:

`nvm install 8.10`
`nvm use 8.10`

I chose 8.10 because that is what AWS Lambda supports but you can probably do other, more recent versions.

https://stackoverflow.com/questions/7718313/how-to-change-to-an-older-version-of-node-js

https://github.com/serverless/serverless/issues/5133#issuecomment-414104576

[2019-03-14 17:08] adriangabardo commented on #5917
Sorry I didn't find that issue before. Yes they are related.
The problem is... the deploy first and CloudFormation delete old resource after results in having two pathParams in the same API endpoint at once, which is the reason it fails. Now, were it simply a matter of deleting old resources before doing a new deploy, it would be easy. But the issue is that if we do that, I believe in case of issu

[2019-03-14 17:38] crowecawcaw opened #5920 "access-control-allow-origin overwritten"
# This is a Bug Report

## Description
When setting the ```access-control-allow-origin ``` header to a domain name inside a Lambda function, the header gets overwritten to ```access-control-allow-origin: *```. I expected the header to remain as I set it. I am using a Lamba function with the lambda-proxy integration. When I test my code offline using serverless-offline, the headers are set correctl

[2019-03-14 18:44] jordo1138 opened #5921 "Support OpenTracing as Fission does"
# This is a Feature Proposal

## Description

*  Closed

[2019-03-14 21:12] drexler commented on #5920
@crowecawcaw curious, do you get the right header when you explicitly set the origin as such:
[code]

[2019-03-14 21:15] justinmchase commented on #3322
@ed-sparkes I think you can use the array literal syntax:

[code]

[2019-03-15 07:15] ahmed-abdulmoniem opened #5923 "CloudWatchEvent Rule Created Incorrectly on AWS"
# This is a Bug Report

## Description

* What went wrong?

In my `serverless.yml` under one of my functions I wanted to make it run only when it receives a ClouwatchEvent. So I added this:

[code]
After deployment, I checked the created rule under CloudWatch and I found it is converting the `true` flag to `"true"` string with quotes which makes the pattern fail to match the incoming events.

From

[2019-03-15 10:41] pmuens commented on #5919
Thanks for opening @ivanbreet 👍

Is this just a recent issue? Was this happening after you've updated to a newer version of the Framework?

[2019-03-15 13:23] ror6ax opened #5925 "Detect absence of bundled dependencies."
Raising an error on build if you have import statements and no node_modules in serverless .zip package would be a nice way to save time.

[2019-03-15 14:29] ReidWeb opened #5927 "Cannot read property 'substr' of undefined"
# This is a Bug Report

## Description

* What went wrong?

Execution of `serverless package` yields `Cannot read property 'substr' of undefined` - there is no change in my `serverless.yml` from the prior version.

* What did you expect should have happened?

`serverless package` does not yield the correct result, it should execute successfully.

* What was the config you used?

[code]
* What stac

[2019-03-15 14:30] gevorggalstyan opened #5928 "Version 1.39.0 causing CircleCI deployment script to fail."
# This is a Bug Report

## Description

* What went wrong? After updating to v1.39.0 our deployment script crashes on CircleCI.
* What did you expect should have happened? The update should not affect the deploy process and deploy as 1.38.0 was doing.
* What was the config you used? In terms of this issue, I think it is worth mentioning that we are using serverless-webpack plugin.
* What stacktrac

[2019-03-15 14:35] kopertop commented on #5927
I just ran into the same issue and was starting a bug report myself. THe issue appears to be related to `serverless/lib/plugins/aws/package/lib/saveServiceState.js`

The issue is resolved if I replace this line to double-check that `packageRef.artifact` is also defined on line 32:

[code]

**Full stack trace with DEBUG**:

[code]

[2019-03-15 15:02] marcelschulze commented on #5910
Damn it, I only had a look at the last release notes "add websocket support" and then I checked out the authoriser example... wasted 2 hours testing in the morning why it isn't working  🙈. But no problem, better too fast as too slow 🎉 Thank you very much for all the cool stuff.

Is it possible to specify master as a serverless version in the config file, or how would I go about that?

[2019-03-15 15:06] PMCorbett commented on #5928
I am seeing precisely the same issue on CircleCI. I am also using the serverless-webpack plugin

Serverless: Uploading CloudFormation file to S3...
Serverless: Uploading artifacts...

  Error --------------------------------------------------

  ENOENT: no such file or directory, stat '/home/circleci/repo/.serverless/.serverless/engage.zip'

     For debugging logs, run again after setting the "SL

[2019-03-15 15:32] twitchy9000 commented on #5928
I am seeing the same issue when attempting to deploy from CircleCI and from local.

serverless-webpack
package:
  individually: true

Serverless: Packaging service...

  Serverless Error ---------------------------------------

  No getBrand.zip file found in the package path you provided.

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs

[2019-03-15 15:48] ReidWeb commented on #5765
+1 to getting this behaviour changed

[2019-03-15 16:04] marcelschulze commented on #5910
Can somebody quickly assist me here please? This has nothing todo with the protected connect endpoint, but anyway here it comes:

 I always get the access denied error when I try to post a ws message back to the client via the ApiGatewayManagementApi postToConnection:
`... service is not authorized to perform: execute-api:Invoke on resource: arn:aws:execute-api:eu-central-1:********7181:[MY_ID]/de

[2019-03-15 16:07] srdone commented on #5928
I am also seeing the issue locally and on our build server. It appears to be drilling down into the `/.serverless` folder twice to look for the `.zip` file, given the ENOENT message.

I have confirmed that `1.38.0` is working without issue.

[2019-03-15 16:36] Gidaio commented on #5927
I am having the same issue as well. My stack traces are identical to kopertop's. I can also confirm that it works on Serverless 1.36.3, if that helps at all.

[2019-03-15 16:49] mbunge commented on #5928
Confirmed for local Deployment and AWS CodeDeploy / Pipelines too!

## Local

[code]

`/.serverless/.serverless` seems to be wrong at this point.

## CodeBuild Error:

[code]

[2019-03-15 16:58] dinamic commented on #5928
Confirmed. It also happens on our setup.

I tried to fix it myself by editing `.serverless/serverless-state.json` to no avail.

Granted, I have no clue how serverless works, but was trying to make it work somehow. I can't deploy no more. :(

[2019-03-15 17:04] mbunge commented on #5928
I also opened an issue in serverless-webpack channel: https://github.com/serverless-heaven/serverless-webpack/issues/491

[2019-03-15 17:20] mbunge commented on #5928
Forcing serverless@1.38.0 in CircleCI config and for AWS in your CodeBuildDeployProject.Source.BuildSpec config.

[2019-03-15 17:25] dinamic commented on #5928
Going thru changes, I feel like this is the one that broke things.

https://github.com/serverless/serverless/pull/5297

[2019-03-15 18:31] c2xbrhdj6u4qs15 opened #5929 "Version 1.39.0 No <filename>.zip file found in the package path you provided"
Hi, I am getting the following error when running with version 1.39.0

[code]

With Version 1.38.0 everything works fine. In my serverless.yml I am using

 and in functions I use

Thanks

[2019-03-15 18:42] guice commented on #5928
Same issue. It's global. Happens with every service of ours.

[2019-03-15 18:49] dschep commented on #5929
Duplicate of #5928

[2019-03-15 18:49] #5929 closed

[2019-03-15 18:51] dschep commented on #5928
Are all of you using serverless-webpack like @mbunge is?

[2019-03-15 19:00] voodooGQ commented on #4960
I'll echo @mataide and @woodchuck's statement. Not a helpful error, and I'm also receiving about it

[2019-03-15 19:02] rrosenblum commented on #5928
I am having this issue and I am not using `serverless-webpack`.

[2019-03-15 19:15] guice commented on #5928
I am using `serverless-webpack`. The error I get is a double `.severless/.serverless` in the package path.

[2019-03-15 19:20] guice commented on #5928
I am using `serverless-webpack`. The error I get is a double `.serverless/.serverless` in the package path.

[2019-03-15 19:24] prr19776 opened #5930 "Error after upgrading it to 1.39.0"
The same code and deploy was working on 1.38.0

13:34:16 Serverless: Packaging service...
13:34:16 Serverless: Excluding development dependencies...
13:35:03 Serverless: Warning: Not deploying alerts on stage dev
13:35:03
13:35:03   Type Error ---------------------------------------------
13:35:03
13:35:03   Cannot read property 'substr' of undefined
13:35:03
13:35:03      For debugging logs, run

[2019-03-15 19:25] dschep commented on #5930
Could you please provide some more details such as your `serverless.yml`?

[2019-03-15 19:26] dschep commented on #5928
@rrosenblum, could you provide your `serverless.yml`?

[2019-03-15 19:34] Ray-B commented on #4592
Also encountering this issue, while needing to use AWS_SESSION_TOKEN.

ServerlessError: The security token included in the request is invalid.

 Get Support --------------------------------------------
 Docs: docs.serverless.com
 Bugs: github.com/serverless/serverless/issues
 Issues: forum.serverless.com
 Your Environment Information -----------------------------
 OS: linux
 Node Version: 8.11.0

[2019-03-15 19:40] rrosenblum commented on #5928
Here is a copy of my [serverless.yml](https://gist.github.com/rrosenblum/bcc0fe426455ddafdb7a3004f99d662b).

[2019-03-15 22:56] superandrew213 commented on #5902
Not related to this issue. @delprofundo how do you set your `Authorization header`? Browsers don't allow custom headers for websocket requests.

[2019-03-15 23:04] crowecawcaw commented on #5920
I just tried this and got the same result. The header is still ```access-control-allow-origin: * ```.

[2019-03-15 23:27] hiloboy0119 commented on #5928
I am getting the error as well.  I'm not using `serverless-webpack`.  I am however using `serverless-python-requirements` and I saw a related issue on their github:

https://github.com/UnitedIncome/serverless-python-requirements/issues/332

[2019-03-15 23:28] delprofundo commented on #5902
Hey. Our WebSocket connection is used by a client who consumes our service as an API, so I’ve not tried auth on a browser client.

Works great the other way though.

[2019-03-15 23:37] keithalpichi commented on #5928
I'm also encountering Jenkins build issues using the latest version 1.39.0:
[code]
And our serverless.yml:
[code]

I realize the error occurs before deploying to AWS S3.

[2019-03-16 00:31] superandrew213 commented on #5902
Thanks @delprofundo

[2019-03-16 02:16] clipford opened #5931 "After upgrading to 1.39.0 No app.zip file found in the package path you provided"
# This is a Bug Report

## Description
When upgrading to 1.39.0 we started receiving an error indicating that the package can not be found in the path. This had been working up until this morning when we updated our docker container

## ERROR
Serverless: Invoke aws:common:moveArtifactsToTemp
 Serverless Error ---------------------------------------
 No app.zip file found in the package path you pr

[2019-03-16 02:23] monkeyboy64 commented on #5931
I ran into this same error on a circleci build. I didn't hit it on my windows machine though.

[2019-03-16 03:25] Kennytian commented on #5931
My workaround is downgrade 1.38.0,  `yarn global add serverless@1.38.0`

[2019-03-16 03:26] Kennytian commented on #5930
My workaround is downgrade 1.38.0,  `yarn global add serverless@1.38.0`

[2019-03-16 03:26] Kennytian commented on #5928
My workaround is downgrade 1.38.0,  `yarn global add serverless@1.38.0`

[2019-03-16 07:51] mithunph commented on #1955
Hi, i am using express integrated in serverless framework. Most of the times API's return 502 bad gateway error and it will get fixed automatically after certain amount of time. How do i Fix this ?

[2019-03-16 09:04] teddynted opened #5932 "Bitbucket pipeline fail"
My pipeline just started failing out of the blue, I didn't install any new package nor make to the yaml file

I am getting this error:

ENOENT: no such file or directory, stat '/opt/atlassian/pipelines/agent/build/.serverless/.serverless/yalu.zip'

[2019-03-16 10:00] nkhine commented on #4720
serverless@1.39.0 also breaks this, here is part of my serverless.yml

[code]

on serverless@1.39.0 i get:

[code]

downgrading to serverless@1.38.0 works

[2019-03-16 12:06] efimk-lu commented on #5928
@Kennytian looks like that's the only solution right now. My general strategy was to always install the latest serverless version on CircleCI, but lately serverless became unstable and starting to think about version pinning.

[2019-03-16 12:39] mithunph commented on #1955
Hi,
I am using express integrated in serverless framework. Most of the times API's return 502 bad gateway error and it will get fixed automatically after certain amount of time. How do i Fix this ?
Below is my serverless.yml file
provider:
name: aws
runtime: nodejs8.10
memorySize: 128 # set the maximum memory of the Lambdas in Megabytes
timeout: 10 # the timeout is 10 seconds (default is 6 seconds

[2019-03-16 16:08] ReidWeb commented on #5930
Looks to duplicate #5927 in which further detail is given by myself and others.

[2019-03-16 16:11] ReidWeb commented on #5932
Looks like a duplicate of #5928 - the issue not being with your BB pipeline, but the version of serverless you are using - roll back to using an older version for now.

[code]
or
[code]

[2019-03-16 17:11] softprops commented on #5931
I believe I found the bug while debugging the serverless rust plugin https://github.com/softprops/serverless-rust/issues/30#issuecomment-473565879

the path the `package.artifact` used in 1.38.0 was previously relative to the root of a serverless project, in 1.39.0 is is now an absolute path rooted to the .serverless directory.

The error message could likely be improved to be more than the file n

[2019-03-16 17:12] claytantor opened #5933 "CORS in flight requests failing when deployed on Ubuntu 18.04"
# This is a Bug Report

## Description
Would like to deploy the serverless backend on non MacOs systems. When attempting to deploy on Ubuntu 18.04 CORS in flight behaviors change, specifically `access-control-allow-origin: *` is missing.

## Problem
When deploying serverless functions for AWS Lambda on the committed, unchanged code base with `cores: true` setting, client side (browser and curl) in

[2019-03-16 20:03] softprops commented on #5931
I'm back through recent pulls. https://github.com/serverless/serverless/pull/5297 looks suspect

[2019-03-16 20:08] softprops commented on #5928
Having the same issue. I maintain the serverless rust plugin same symptom. I set the package.artifact path to my build artifacts. The package gets interpreted incorrectly now. at least inconsistently as it has in the past.

https://github.com/softprops/serverless-rust/issues/30#issuecomment-473565879

[2019-03-16 20:21] softprops commented on #5928
Would it be possible to revert https://github.com/serverless/serverless/pull/5297 and publish a patch version? It seems its causing numerous regressions across the ecosystem.

Reviewing the summary

Not all artifacts are generated in the .serverless directory. I think the correct behavior should be if a path is provided, serverless should honor it as is, not change it.

[2019-03-17 01:57] cheesiangcs commented on #4720
Encountered the same problem after v1.39...
Downgrading to v1.38 works for now..

#5931

[2019-03-17 03:20] brainstorm commented on #4720
I can confirm this bug, works fine with 1.38.x and breaks on 1.39.x (see referenced commit/issue right above) :/

[2019-03-17 03:59] brainstorm commented on #4720
Related with https://github.com/serverless/serverless/issues/5931

[2019-03-17 09:56] alfaproject commented on #5931
I've just hit this issue or similar when running the `deploy` command:

`ENOENT: no such file or directory, stat '/Users/alfa/Documents/Projects/my-company/my-project/packages/my-lambda/.serverless/.serverless/my-lambda.zip'`

That `/.serverless/.serverless` looks suspicious.

[2019-03-17 10:06] maxplezzel opened #5934 "AWS - Incorrect path seperate used when defining package path."
# This is a Bug Report

## Description
Incorrect path separator used when determining where the deployment artefact is located in AWS deployment.

* What went wrong?
When setting the package path the wrong path seperate was being used for MacOS, resulting in the incorrect path being used to upload artefacts to S3.

* What did you expect should have happened?
Correct path seperate to be used based

[2019-03-17 11:44] julienseverin commented on #5934
Got the same issue, had to rollback to 1.38.0

[2019-03-17 14:38] ClementKerneur commented on #5934
Same problem, i rollback to 1.38.0 also !!!

[2019-03-17 16:36] drexler commented on #5920
@crowecawcaw one more thing. If you log into the API Gateway Console and check the  integration response of the respective api method, is there a velocity template applied? If so, does deleting it & redeploying the api directly from the console afterwards resolve your issue? I'm trying to determine if it's related to #5877

[2019-03-17 17:17] chrisanderss0n commented on #5934
I will fix, PR coming up.

[2019-03-17 22:11] joshtrotter commented on #4720
Same here - encountering this on 1.39.0, works fine on 1.38.0

[2019-03-17 22:56] aidinkhosrowshahi commented on #4720
I have same issue too, it was working before but started failing

Serverless: [AWS s3 200 0.058s 0 retries] getBucketLocation({ Bucket: '*******-artifacts-us-east-1' })
 Serverless Error ---------------------------------------
 No *****.zip file found in the package path you provided.

Serverless Version: 1.39.0

[2019-03-18 06:46] janpoltan commented on #4720
I have this issue also in 1.39.0

[code]

[2019-03-18 06:54] janpoltan commented on #5931
I have this issue also in 1.39.0

[code]

Downgraded to `1.38.0` to make it work

[2019-03-18 08:41] ahmed-abdulmoniem commented on #5923
Any clue?

[2019-03-18 08:49] teddynted commented on #5932
Hey ReidWeb,

Thanks for your timeous response, my serverless package is 1.26.1.

[2019-03-18 09:06] jincod commented on #5919
I've got the same issue.

I found this PR https://github.com/serverless/serverless/pull/5800 where encryption was added to deployment bucket.

[2019-03-18 09:20] teddynted commented on #5932
I fixed it by changing serverless to serverless@1.37.1, Thanks ReidWeb.

[2019-03-18 09:26] ivanbreet commented on #5919
It's a recent issue yes. The CI pipeline was set up to always use the latest version of serverless.

We managed to get around it by amending the CI deployment user's policy to include:
`s3:PutBucketAcl`

[2019-03-18 09:28] jincod commented on #5919
I use permissions bellow:
[code]
https://forums.aws.amazon.com/thread.jspa?messageID=827867

[2019-03-18 09:32] laardee opened #5935 "Enable Setting Amazon API Gateway API Key Value"
# This is a Feature Proposal

## Description

Finally, AWS added support for defining API Key value using CloudFront. https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-apikey.html#cfn-apigateway-apikey-value

This will help in the cases if you need to retain the same API key value and remove the stack and deploy it again, and with multi-region deployments where

[2019-03-18 09:33] laardee commented on #5935
I can take this one

[2019-03-18 09:36] Brandon-PMB commented on #5934
I've been sitting with this issue for two days now, thanks @maxplezzel
Finally got it working🐱‍👤

[2019-03-18 10:08] pmuens commented on #5930
Yes, this looks like a duplicate of #5927

[2019-03-18 10:08] #5930 closed

[2019-03-18 10:10] pmuens commented on #5935
Great! Thanks @laardee :+1:

[2019-03-18 10:16] pmuens commented on #5928
Just reverted #4188 which seems to be the root cause. Patch release should be out in ~30 minutes...

[2019-03-18 10:16] pmuens commented on #5927
Just reverted #4188 which seems to be the root cause. Patch release should be out in ~30 minutes...

[2019-03-18 10:16] pmuens commented on #5931
Just reverted #4188 which seems to be the root cause. Patch release should be out in ~30 minutes...

[2019-03-18 10:16] pmuens commented on #5932
Just reverted #4188 which seems to be the root cause. Patch release should be out in ~30 minutes...

[2019-03-18 10:16] pmuens commented on #5934
Just reverted #4188 which seems to be the root cause. Patch release should be out in ~30 minutes...

[2019-03-18 10:24] #5928 closed

[2019-03-18 10:24] #5927 closed

[2019-03-18 10:24] #5931 closed

[2019-03-18 10:24] #5932 closed

[2019-03-18 10:24] #5934 closed

[2019-03-18 14:28] Salinn commented on #4481
@neverendingqs [here is an example](https://aws.amazon.com/blogs/compute/using-api-gateway-stage-variables-to-manage-lambda-functions/) of what I believe @markjayniel was trying to do. Would be interested to know if this is supported or not as I haven't found much on it.

[2019-03-18 15:05] shierro commented on #4720
same issue with previous 2 comments. it's weird since when I check the `.serverless.zip` file, it contains the missing zip file mentioned by the error stack trace

[2019-03-18 15:41] pmuens opened #5938 "Packaging - Create sophisticated integration test suite"
Due to recent problems we had with https://github.com/serverless/serverless/pull/5297 problems (reverted via https://github.com/serverless/serverless/pull/5936) we should work on an integration test which thoroughly tests different packaging configuration (some of them are shared in the issues) to ensure that we won't break anything packaging-related in the future.

/cc @billfine @ganeshvlrk @eahe

[2019-03-18 17:34] nosark commented on #5576
I was wondering if it is possible to get a list of the tasks that this issue encompasses?

[2019-03-18 17:43] awill1988 commented on #5855
Yeah this was super annoying for us too. Here is a file I made for our team that helps work around this limitation. I looked into the source code and serverless cli does have awareness of a shared credentials file, so this works off of that.

cred-helper.js
[code]

Then we have to have scripts which invoke this for any "pre" whatever scripts in package.json like so

pre.sh
[code]

that will make s

[2019-03-18 18:27] declension commented on #5235
For me, it was ordering:

`${self:project:stage, 'dev'}` _can_ still be used but only if the `provider` config comes physically _before_ the `custom` config in the YAML.

[2019-03-19 06:28] gromozeka1974 commented on #5209
+1

[2019-03-19 09:07] AntonShevel commented on #4893
Got the same issue when I've added provider.deploymentBucket.name to serverless.yml

[2019-03-19 09:13] cj179johnCheckit commented on #4266
I hit the same problem locally with the same error with 1.39.1. took a quick look in excludeNodeDevDependencies function. I suspect that it might help to make the packaging of lambda to be sync to ease a bit the number of file reads. Just quick observation.

[2019-03-19 10:58] daMichaelB commented on #4647
Until this is implemented, i found the following Workaround, which might be valuable.
Works perfectly for me.
[code]
Further instructions:
https://dev.to/piczmar_0/error-handling-in-aws-lambda-trigger-by-sqs-events-3amp

[2019-03-19 11:50] pmuens commented on #4188
Re-opening since we had to revert https://github.com/serverless/serverless/pull/5297...

[2019-03-19 15:14] ram-jayapalan commented on #4853
Also I noticed this. Running `sls remove` command when running on an AWS stack when bucket(s) is NOT empty returns this error **The bucket you tried to delete is not empty** and works as expected. But after clearing the contents of the bucket(s), when you run the same command, this time it says **The specified bucket does not exist** even though all the buckets exist.
`
Serverless: Getting all obj

[2019-03-19 15:52] Haple commented on #5746
Still waiting...

[2019-03-19 17:10] smithgraeme commented on #2765
@jml6m Do you have Lambda Proxy Integration turned _off_ (in the API Gateway setup)? When it's _on_, Lambda should get an event payload (with headers at event.headers, I just double checked this), but if it's off API Gateway does some mapping/preprocessing that could be mapping things with the structure you're seeing.  See https://medium.com/@lakshmanLD/lambda-proxy-vs-lambda-integration-in-aws-ap

[2019-03-19 17:28] stevecaldwell77 commented on #2984
@pmuens - this bug still exists, we should re-open this issue. I've created a simple repo that reproduces the bug here:

https://github.com/stevecaldwell77/serverless-bug-2984

[2019-03-19 17:37] dpeek opened #5939 "function.package.artifact breaks deploy if zip files have same name"
# This is a Bug Report

## Description

* What went wrong?

I packaged my own artifacts with the same zip file name:

[code]

When I deployed my functions they all had the same code.

* What did you expect should have happened?

Serverless should have renamed the artifacts based on the function name when uploading to S3 so that they didn't overwrite each other.

[code]
* What was the config you us

[2019-03-19 22:01] mrowles commented on #5910
Resolved in 1.39.1 (at least for a `$connect` custom authoriser). Thanks for the quick resolution!

I ended up with:

[code]

And passing through the wss connection with a query string parameter (not ideal, but seems to be the way):

[code]

[2019-03-19 22:01] #5910 closed

[2019-03-20 00:49] GaTechThomas commented on #5306
What do you recommend for sorting out what permissions are needed in a production environment? The guidance on this repo rightly suggests not going with admin for production.

[2019-03-20 01:27] crowecawcaw commented on #5920
Thanks for the help! When I checked, there was no integration response. In that box, there's the message: "Proxy integrations cannot be configured to transform responses."

[2019-03-20 06:31] dattatrayhkulkarni commented on #5931
I also faced a similar issue. After I downgraded the serverless framework to 1.38.0 it worked.

npm install -g serverless@1.38.0

[2019-03-20 09:55] Haple commented on #5746
![image](https://user-images.githubusercontent.com/9890108/54675332-20cc5280-4add-11e9-864b-c0f3c617bc06.png)

[2019-03-20 09:59] mbunge commented on #5928
Nice. Thanks!

[2019-03-20 10:36] 7jpsan commented on #3183
Hi guys, just had the same problem and a workaround whilst this is not currently supported, is to use serverless.js (we need [yaml-boost](https://www.npmjs.com/package/yaml-boost) to make use of the awesome '<<<' operator which means the object exported can be manipulated).

In AWS we wanted to deploy only one ECR as an [additional stack](https://www.npmjs.com/package/serverless-plugin-additional-

[2019-03-20 11:51] pmuens commented on #5783
Closing this issue since https://github.com/serverless/serverless/pull/5885 already resolved it.

[2019-03-20 11:51] #5783 closed

[2019-03-20 11:53] pmuens opened #5940 "CloudFormation template normalization for WebSockets deployment resource"
The WebSockets deployment logical id has a random number attached to it.

We should normalize it like it was done in https://github.com/serverless/serverless/pull/5885 for the Api Gateway deployment logical id so that re-deployments without config changes are skipped.

[2019-03-20 12:41] softprops commented on #5931
The patch release 1.39.1 resolved the issue for me

[2019-03-20 13:15] #4188 closed

[2019-03-20 17:45] rc-alexg commented on #5420
Hey @muthu-vgh, it references _photos_ `resource` instead of _photos_ `bucket`.
_photos_ is the name of the resource in a _normalize_ named form (_S3BucketPhotos_). More info about resource name here: https://github.com/serverless/serverless/blob/master/docs/providers/aws/guide/resources.md#aws-cloudformation-resource-reference

Hopes this clarify your question.

[2019-03-20 19:23] mrowles opened #5942 "Custom authorizer for websockets connection not passing claims to next function and calling $disconnect rather than $connect"
# This is a Bug Report

## Description

I have a custom authoriser function in front of a websocket connection function, which is successful but does not pass or trigger the actual connection function it sits in front of.

I have tried to return the value, resolve it as a promise or, what I'd expect to work, pass it as a value in the callback.

**serverless.yml**

[code]

**connectionHandler.js**

[2019-03-20 20:18] markstos commented on #4981
I was rather disappointed to find that adding `--verbose` gave no more information about why access was denied.

[2019-03-20 20:24] markstos commented on #4981
My problem was easily pinpointed by using `SLS_DEBUG=1 serverless deploy`. That should really be documented in `serverless --help` if not implemented directly with `serverless --debug`.

[2019-03-20 21:45] jkieberking commented on #4426
Don't know if this will be useful -

I had my `node_modules` symlinked to another directory inside a docker conainer I was deploying from and was also experiencing very long wait times while excluding dev dependencies.

moving the whole `node_modules` directory to the directory I was deploying from fixed it for me

[2019-03-21 09:50] endeepak opened #5945 "invoke local docker does not set environment variables configured in serverless.yml"
# This is a Bug Report

## Description

* What went wrong?
`sls invoke local --docker` does not pass environment variables configured in `serverless.yml` to the docker container running lambda

* What did you expect should have happened?
Environment variables configured in `serverless.yml` should be available for lambda function running in the docker container

* What was the config you used?

`se

[2019-03-21 10:01] ukon1990 opened #5946 "Issues using the MySQL NPM module (PROTOCOL_INCORRECT_PACKET_SEQUENCE)"
# This is a Bug Report

## Description
* What went wrong?
The problem that I am having is that the nodejs mysql library works just fine, while using sls offline, but when I deploy I get the following error message from mysql: PROTOCOL_INCORRECT_PACKET_SEQUENCE

* What did you expect should have happened?
I would expect it to behave the same while deployed and locally.

* What was the config you us

[2019-03-21 10:40] ukon1990 commented on #5946
This is caused by webpack... So I am closing this issue.

If anyone else experiences the same.
Add the following in your webpack config exports:

optimization: {
        minimize: false
    }

[2019-03-21 10:40] #5946 closed

[2019-03-21 11:09] endeepak opened #5947 "invoke local docker does not include dependencies added by plugins"
# This is a Bug Report

## Description
This issue happens when using plugin `serverless-python-requirements` to ensure dependencies defined in `requirements.txt` are included in the lambda package

* What went wrong?
`sls invoke local --docker` doesn't include the dependencies and the lambda fails to import the dependencies

* What did you expect should have happened?
`sls invoke local --docker` s

[2019-03-21 11:48] endeepak commented on #5947
Possible solution:  Update `invokeLocal` command to do following steps after building the docker image
- invoke the `package` command which will create a package with dependencies added by plugins
- extract this generated package contents in docker container similar to https://github.com/serverless/serverless/blob/master/lib/plugins/aws/invokeLocal/index.js#L326
- run the container

[2019-03-21 12:16] endeepak commented on #5945
Same issue occurs when environment variables are passed as command line argument as well
[code]

[2019-03-21 12:50] #4862 closed

[2019-03-21 21:44] AnthonyWC commented on #5765
I think this behavior needs to change, or at least give us the choice to retain old layer.

[2019-03-21 23:16] Infiltrator opened #5950 "Amusing phrasing—"prepare to be executed""
# This is a Bug Report (well, kind of)

## Description

* What went wrong?

Serverless: Removing old service artifacts from S3...
Serverless: beforeFunctions --> building ...
Serverless: beforeFunctions <-- Complete, built 0 events.
Serverless: functions --> **prepare to be executed by s3 buckets** ...
Serverless: functions <-- built 0 events across 0 buckets.

(emphasis mine)

* What did you expe

[2019-03-22 03:53] sam3d commented on #3184
Any updates on this being implemented natively?

[2019-03-22 06:29] karfau commented on #5573
I wonder what is missing for this to work.
(I only started diving into this so sorry in case I ask soething that should be obvious.)
As of writing this the [CDK allows to include existing CloudFormation config into a stack](https://awslabs.github.io/aws-cdk/refs/_aws-cdk_aws-s3.html#importing-existing-buckets):
and I understood that it is possible to get the resulting CloudFormation config when ru

[2019-03-22 07:47] ed-sparkes commented on #2841
Hi, this is  a great idea and thanks to @horike37 for initial plugin work. I have been looking into this and was in the process of  extending @horike37 plugin to support S3 and custom authorizer functions when i realized i would end up copying a lot of the boilerplate for api gateway integration from the core lib and the only bit that really needs to be different to support these extra services is

[2019-03-22 08:42] #5188 closed

[2019-03-22 09:28] pmuens commented on #4069
Since there were quite a few attempts to fix this issue in the past I'd like to discuss potential solutions here before we move forward.

Generally speaking autocompletion is a feature most of the community members benefit from. It's especially useful for newcomers and non-power users who are unfamiliar with the feature-set Serverless offers.

On the other hand we have to admit that given tab-tabs

[2019-03-22 09:51] koterpillar commented on #4069
Will opt-out be necessary for each project where serverless is installed? I'd like this functionality to be disabled globally, perhaps creating `~/.serverless-no-autocomplete` is a better option?

[2019-03-22 16:25] #4959 closed

[2019-03-22 16:25] #5225 closed

[2019-03-22 18:16] dhongyt opened #5951 "Python time.sleep Error Return"
# Python time.sleep Error Return

## Description

* What went wrong?
Running serverless function in python that include code to sleep for 60 seconds `time.sleep(60)` and then call the OpenWhisk API to run the code again, depending on the status change, it will either wait another 60 seconds or move on to complete the task.
* What did you expect should have happened?
`{"status": "OK"}`
sls CLI shou

[2019-03-22 22:49] claytantor commented on #5933
This cannot be reproduced when isolated. I create a bare-bones CORS implementation that has cross-domain implemented in serverless for nodejs8.10 working when deployed on both mac and ubuntu. This must be a different configuration issue.

Can be verified with this project. [serverless-cors example on github](https://github.com/claytantor/serverless-cors )

[2019-03-22 22:49] #5933 closed

[2019-03-23 15:56] jeffbski commented on #4069
Well maybe others have had better luck with autocomplete, but personally I have never seen it work unless I am doing something wrong. In general on my mac, completions work great for bash and git, but with serverless, tab-tab'ing doesn't seem to help me complete commands or functions, so I have never seen the benefit. I have tried using the full serverless name rather than the shortcuts and that m

[2019-03-24 07:22] Xenonym commented on #5950
@Infiltrator would you happen to be using [`serverless-plugin-existing-s3`](https://github.com/matt-filion/serverless-external-s3-event) in your project? It seems like the [log message is from that plugin](https://github.com/matt-filion/serverless-external-s3-event/blob/61a4bd4af6238c7756faa20502c2d5afa68d32cb/index.js#L68).

If so, it may be more appropriate to create an issue in the [`serverless

[2019-03-24 09:39] shanehandley commented on #5569
I can't reproduce this. I think this PR fixed it about a month after this report:

https://github.com/serverless/serverless/pull/5636

[2019-03-25 03:39] chizou commented on #1110
If MFA is implemented, it should be implemented with a cache (like aws-cli's implementation) so as to avoid needing to add MFA credentials every time as @jthomerson is mentioning.

That said, there are a lot of inaccuracies being stated in this thread.

First off, Key rotation is **never** enough. If you have a careless developer that commits their credentials and posts it to a public Github repo,

[2019-03-25 09:49] pmuens commented on #5951
Hey @dhongyt thanks for opening 👍

It looks like this problem is related to the OpenWhisk provider plugin. Can you open up the issue in the provider plugin repo? Thanks in advance!

[2019-03-25 09:49] #5951 closed

[2019-03-25 11:23] #2233 closed

[2019-03-25 12:00] eahefnawy commented on #5942
thanks for reporting @mrowles ... I'm guessing you're using Cognito?

[2019-03-25 12:10] eahefnawy commented on #5923
Hey @ahmed-abdulmoniem ... we are stringifying the entire event object here:
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js#L42

we're also doing a replace here:
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/events/cloudWatchEvent/index.js#L95

Do you think that might be causing your issue?

[2019-03-25 12:15] eahefnawy commented on #4461
looking into this, I'm guessing we're gonna need to manage stages under their own Stage template (since APIG logging is a stage property) rather than implicitly with the Deployment template, which would break existing APIGs. As explained here:
https://github.com/serverless/serverless/pull/5692#issuecomment-469238505

@HyperBrain based on your experience, do you think we could introduce this featur

[2019-03-25 16:41] incompletude opened #5953 "Weird event indentation issue"
I'm using 2 spaces indentation.

This first example contains 2 spaces in every new level, and does not work. The error is `Missing or invalid "path" property in function "hello" for http event in serverless.yml`.

[code]

For this to work, I have 2 use 1 space for the event, and 4 spaces for the options (or 2 and 6 spaces):

[code]

Am I missing something here? The first example is parsed as valid

[2019-03-25 17:22] quynhbkit commented on #5133
But the below solved my issue:
$ rm package-lock.json
$ npm install

[2019-03-25 18:57] mrowles commented on #5942
@eahefnawy Yep! Which aren't/weren't supported for Websockets out of the box as of 1.39.1. So I rolled my own custom one. However, not sure if it matters what the auth is, looks like this might be a problem beyond that.

[2019-03-25 22:30] alpeshgaglani opened #5955 "Cannot create send permissions for websockets on APIGateway"
I'm trying to create permissions for sending a message on websocket API gateway. My policy looks like
[code]
My provider is set as:
[code]
I was assuming that I can get the Ref for websocket api like we do for Rest api.
I tried to get Ref for  ApiGatewayWebsocket(s)Api, but that doesnt work either.
What is the logical name for the websocket api?

[2019-03-26 00:04] StefanoSGI commented on #4661
@mikemckibben methods with Resource overrides worked for me, Thank you!!!
Implementing the `authorizationScopes` in the function definition would be really handy though.

[2019-03-26 00:56] dm-grinko commented on #3805
Hello from 2019. `sls remove` is working as expected. Thank you

[2019-03-26 08:56] pmuens commented on #5953
@incompletude thanks for opening.

Yes, that some of the downsides of using YAML for configuration here.

While

[code]

looks correct it must be

[code]

Hope that this helps.

[2019-03-26 08:56] #5953 closed

[2019-03-26 10:52] j4zz commented on #4311
Reconfirmed that this doesn’t work with serverless _1.39.1_. It **works with 1.37.1** and on first look serverless/serverless#5842 was the cause.

Any ETA on when this will hit a release?

[2019-03-26 16:37] tiny-dancer commented on #4746
catching up on this thread, based on @dschep's PR is this issue actually implemented & closed?

[2019-03-26 16:43] tylermauthe commented on #4746
@dschep's approach is much better than mine - as you are executing in an execution context much closer to a real lambda. Looks like this is part of #5848.

I'm going to unfollow this issue now as I do not use Serverless any more. 👋

[2019-03-26 18:06] otehrani1 commented on #2841
i have installed the plugin and when trying to do serverless deploy
i get
 Type Error ---------------------------------------------

  this.provider.getApiGatewayDescription is not a function

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

here's my serverless.yml

custom:
  region: us-west-2
  accountID: 11111111
  stage: dev
  apiGatewayServiceProxies:

[2019-03-26 18:32] AnthonyWC commented on #3007
Interestingly I just ran into this and got `"remoteFunctionData": null,` in `serverless-state.json`.  The template deployed fine but would fail CF linter such as https://github.com/aws-cloudformation/cfn-python-lint.

[2019-03-26 20:38] sleiter88 opened #5958 "lambda environments wont reupdate if you delete one of them in lambda console."
- What went wrong?
I cannot reupdate environments variables if you previosly delete one of them in AWS lambda console. It seems if you modify the environments directly in the console, CloudFormation cannot detect any change in the CloudFormation stack template so nothing is happen if you deploy again the function.

- How to reproduce?
Deploy a project(pyton 2.7) with some environments variables.

[2019-03-26 22:27] markl-vesper opened #5959 "Removal of Cognito Trigger from function is not taking effect"
* What went wrong?
I removed a cognito trigger from a function and deployed the stack. The trigger was still configured and active
* What did you expect should have happened?
I expected the trigger to be removed from the Cognito Pool
* What was the config you used?
  cognitoPostConfirmation:
    handler:                      src/marlin/cognitoPostConfirmation.handle
    description:

[2019-03-26 22:45] cornfeedhobo commented on #4069
@pmuens Opt-out design for something that modifies personal files is bad. Further, making it a sub-command that must be run after the modification has already been made, requiring two automated edits? Please _no_.

I also think the assumed added value is just incorrect. Auto-complete has never worked for me, and it sounds like this is the case for others.

Break out auto-completion into a differen

[2019-03-26 22:59] sime opened #5960 "Doc Request: Working example of MOCK integration"
# This is a Documentation Proposal

## Description

Serverless officially supports the `MOCK` integration method. Though documentation has no information about it. It only mentions that it is 'supported'.

The last point is false, as setting an endpoint with integration type `mock` returns 500.

A working example should be provided.

[2019-03-26 23:43] j3pic commented on #5200
I ran into this same problem and was stumped. It was only by setting `SLS_DEBUG=*` that I could see that the stack was being deployed to the wrong AWS account due to a bug in my `serverless.yml`.

[2019-03-27 02:15] KanesYang opened #5961 "error in fresh deployments after removing the whole cloudformation stack"
Hi, all

As it said in the title, I just delete all the cloudformation stack and try to do the fresh deploy again. but when I run the `sls deploy --verbose`, it shows the error
[code]

I double check my serverless.yml file, but found I don’t define a bucket with Name ServerlessDeploymentBucket.

Then I go to the AWS console, after clicking my root stack (I am using the serverless-split-stack plugi

[2019-03-27 10:12] pmuens commented on #5958
Hey @sleiter88 thanks for opening 👍

The Serverless Framework should be the only tool touching the deployments. Manual intervention would bring the deployment into an inconsistent state since the framework has no clue what has changed and why it changed.

You shouldn't run into any issues if you only use the Serverless Framework to manage and update your deployments.

[2019-03-27 10:12] #5958 closed

[2019-03-27 10:34] Can-Sahin commented on #3663
any update on this ? Because none of the libraries above are now maintained.

[2019-03-27 10:46] AngeloChecked opened #5962 "websocket serverless deploy --> You need to set the "route" when using the websocket event."
Hello everyone,

I downloaded the serverless websocket example [here](https://github.com/serverless/serverless-websockets-plugin/tree/master/example),

i installed package requested
`npm install`

i created IAM user with permissions:
`AWSLambdaFullAccess` +
[code]

i setted the credentials
`serverless config credentials --provider aws --key AKIAIOSFODNN7EXAMPLE --secret wJalrXUtnFEMI/K7MDENG/bPxRf

[2019-03-27 11:05] sleiter88 commented on #5958
Nice @pmuens ! Thanks for the clarification. Have a good day!

[2019-03-27 11:06] AngeloChecked commented on #5962
solved, i modified the serverless.yml file
[code]
to:

[code]

[2019-03-27 11:06] AngeloChecked commented on #5962
``

[2019-03-27 11:06] #5962 closed

[2019-03-27 17:07] Ray-B commented on #3084
I'm probably not the only one feeling ambivalence about this. I'm gracious for the value of serverless, and the hard work done, and simultaneously irritated by the lack of traction this _fundamental_ issue _appears_ to be receiving in public. No doubt it is frustrating for everyone.

After many hours of lateral jumping between issues and comments, I'm still not sure what the serverless' team's off

[2019-03-27 18:08] j3pic opened #5965 "Shell substitution in serverless.yml"
# This is a Feature Proposal

## Description

In https://github.com/serverless/serverless/issues/1801, which seems to be where things like `${opt:stage}` came from, it was proposed that there by a `${exec('command'}}` variable. This was not implemented, for whatever reason.

I have a service which depends on an AWS Certtificate Manager certificate, which is manually created. Which certificate it d

[2019-03-27 19:44] signal-intrusion commented on #1678
Any updates or links to docs?

[2019-03-27 20:39] deftomat commented on #3184
@sam3d not sure but we solve this by using the *serverless.js* instead of *serverless.yml*.
I can say that once you try it, you don’t want to use yaml anymore. JS file can export the promise, so you have an infinite amount of possibilities how to construct the config and this issue becomes obsolete.

I’m not sure why this is not mentioned in a docs as a recommended way how to define your stack 😉

[2019-03-27 21:48] ajhool opened #5966 "Editing the Dynamodb Stream event in cloudformation.yml does not overwrite previous stream event"
# This is a Bug Report

## Description
* What went wrong?

I deployed a lambda function with a dynamodb stream and everything worked well. Then, I changed the dynamodb stream and the dynamodb stream ARN changed/updated as a consequence. I updated my `serverless.yml` file with the updated stream ARN. After the change to `serverless.yml`, when I run `serverless deploy --force`, the lambda function s

[2019-03-27 22:07] ajhool commented on #5966
Ah, the correct syntax needs an events object, like so:

[code]

Will leave this open because it might still be a bug that serverless does not complain about this bad syntax, but am happy to close it if that reasoning is incorrect!

[2019-03-28 05:38] hsz opened #5967 "AWS::ApiGateway::ApiKey and AWS::ApiGateway::UsagePlan depend on non-existing ApiGatewayDeployment resource"
# This is a Bug Report

## Description

* What went wrong?

When I have specified `provider.apiKeys` property, there are new resources created: `ApiGatewayApiKey1`, `ApiGatewayUsagePlan`.

Both depend on `ApiGatewayDeployment1553698403948` resource which is also created, but during deployment to AWS, it is not described in the Outputs, but the `ServiceEndpoint` is exposed instead (ref: https://git

[2019-03-28 06:35] hsz commented on #5967
It appeared that this problem is caused by the `serverless-aws-alias` plugin:

https://github.com/HyperBrain/serverless-aws-alias/blob/master/lib/stackops/apiGateway.js#L172

[2019-03-28 06:35] #5967 closed

[2019-03-28 09:43] levFarkas opened #5969 "Always uploading even code and requirements are unchanged"
I am using ### python-requirements-plugin to dockerize pip to install requirements transparently.
The problem is that if ### requirements.txt contains at least 1 dependancy, skipping feature does not work. Zip hashes become differently, whenever I use packaging.
Always uploading takes too much time.
Here is my yml:

[code]
What went wrong?
If I remove `dockerizePip: non-linux` it works correctly,

[2019-03-28 13:42] ffxsam commented on #3679
@pmuens Maybe for those of us stumbling upon this via search, you could please list the ways to handle this? I just ran into it myself (a Cognito pool failed to delete, then `sls remove` wouldn't work since the deployment bucket it expects to be there is gone).

[2019-03-28 20:40] bryan-lifelink commented on #5209
+1

[2019-03-28 23:01] dm-grinko commented on #1955
If you can't find good solution make sure you use correct http method and http url

[2019-03-29 01:05] jamesdixon commented on #5675
@abhivijay89 can you tell me what you did regarding your profile? everything was working for me and then installed the latest version of serverless and now i get nothing but these messages. totally regretting upgrading...smh

[2019-03-29 01:28] jamesdixon opened #5972 "Unsettled promises :("
# This is a Bug Report

## Description

* What went wrong?

Upgraded serverless from 1.36.3 to the latest (1.40). Ran `sls deploy --stage=[stage]` and I got an error.

* What did you expect should have happened?

Expected the deployment to deploy without error.

* What was the config you used?
https://gist.github.com/jamesdixon/a951a605cf7d84e24e19e9246914bd65

* What stacktrace or error message f

[2019-03-29 06:33] andy265 commented on #4686
I would be good to have an option to make just:
[code]
instead of current resource lists.

[2019-03-29 06:38] webhacking commented on #4960
I got same issues. still not solved this issues?

[2019-03-29 08:32] #5876 closed

[2019-03-29 11:54] kog-7 opened #5974 "service"
# This is a Bug Report

## Description

* What went wrong?
* What did you expect should have happened?
* What was the config you used?
* What stacktrace or error message from your provider did you see?

Similar or dependent issues:
* #12345

## Additional Data

* ***Serverless Framework Version you're using***:
* ***Operating System***:
* ***Stack Trace***:
* ***Provider Error messages***:

[2019-03-29 11:54] #5974 closed

[2019-03-29 11:59] kog-7 opened #5975 "Different users of the same service name will delete each other's function"
# Multiple developers in same service name deploy

## Description

* Multiple developers in same service name (same serverless template) to write functions, But they don't know what function other people have,if one developer use sls deploy,he will delete the functions which other developers create. How can i use sls deploy only append my functions ?

thanks

[2019-03-29 13:20] orwell1984 opened #5976 "Add environment variable with lambda function's name"
# This is a Feature Proposal
## Description
For usage in tracing, I need to be able to access lambda function's name. It would be very handy to have it set as environment variable and relatively easy to implement, I presume.

Similar or dependent issues:
## Additional Data

* ***Serverless Framework Version you're using***:
latest
* ***Operating System***:
* ***Stack Trace***:
* ***Provider Error

[2019-03-29 14:37] Ray-B opened #5978 "Deploy fails to warn or error on empty AWS schedules"
# This is a Bug Report

## Description

* What went wrong?

sls deploy was run, and failed to warn/error on an empty schedule being defined.

It looks like the issue results from the YAML. Both examples provided below are valid yaml as per spec, but the bottom example will result in serverless ignoring the defined schedule / seeing it as empty, and failing to create the correct resources, but stil

[2019-03-29 15:38] powelli commented on #5976
More generally, we have been trying to find a way to get access to attributes of a function to pass in as environment variables and tags.

Our standard tagging convention uses the function name as part of a tag for cost reporting purposes. And as the @orwell1984 suggests we would also like to pass the function name as an env var to allow it's usage within the function execution itself.

We are att

[2019-03-29 16:29] filipesmedeiros commented on #2773
Hi! It appears that when I try to reference a file that is higher up in the directory, it's not able to reference it. Is that intended?

[2019-03-29 18:16] slaphead commented on #5735
We get the same thing on circle. It began on a later version of serverless. We have to explicitly add the executable bit, otherwise we get this:
[code]
Some info in case it helps:
CircleCi v2
Debian Stretch Image on circle
Using `npm install`
Serverless version in package.json is 1.36.3

@wheresrhys did you find if this was a cache issue?

[2019-03-30 08:09] ahmed-abdulmoniem commented on #5923
@eahefnawy I have checked the code .. and added a couple of logs .. also ran the package command and I have seen the final output in the `cloudformation-template-update-stack.json` file.

I can see everything is good in the file itself, it is `true` and not `"true"` in the file.

So, I don't know what happens after that?

May be problem in updating/creating stack on CloudFormation?!

[2019-03-30 11:30] reyesvicente opened #5979 "24 error 404 Not Found - GET https://registry.npmjs.org/serverless-g- Not found"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/11.12.0/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'install',
1 verbose cli   'serverless-',
1 verbose cli   'g' ]
2 info using npm@6.9.0
3 info using node@v11.12.0
4 verbose config Skipping project config: /Users/highcenoid/.npmrc. (matches userconfig)
5 verbose npm-session 633f05d255a66eb2
6 silly i

[2019-03-30 11:43] exoego commented on #5979
There is no package named `serverless-`.
`serverless` is correct.

[2019-03-30 11:50] exoego commented on #5978
[code]

is correct. `schedule` property should have attributes. It is same as below (json)

[code]

[code]

is incorrect. It is same as below in json

[code]

where `schedule` is empty.

[2019-03-30 12:01] exoego commented on #5978
I think it is better to warn if unknown properties found in event object, or if event object has 2 or more properties.

[2019-03-30 15:55] reyesvicente commented on #5979
I meant serverless-g

[2019-03-30 16:05] #5979 closed

[2019-03-30 16:31] eliaperantoni opened #5980 "Fresh google-go project fails to deploy"
# This is a Bug Report

## Description
I was just trying out the Serverless Framework with the `google-go` template

[code]

but I'm getting this error

[code]

## Additional Data

* ***Serverless Framework Version you're using***:
1.40.0
* ***Operating System***:
Linux Mint 19.1 x64
* ***Provider Error messages***:
[code]

[2019-03-30 21:46] hashbrown opened #5981 "Published documentation out of date"
# This is a Bug Report

## Description
I used examples from https://serverless.com/framework/docs/providers/aws/guide/iam/ to build a demo project but got an error on deploy.

It turns out the issue was that the `version` on the `PolicyDocument` had a value of `2017` but it should have been `2012-10-17`.

I was planning on submitting a PR to fix this but then found that this has been fixed for 2 y

[2019-03-31 01:32] joshuaflanagan commented on #5567
The [serverless-ruby-package](https://www.npmjs.com/package/serverless-ruby-package) plugin is now available. It will automatically package all of your gems, including compiling native extensions for linux (using the same docker approach mentioned here), and excluding any gems not in the default bundler group.
The first project I used it on, the package size went down from 8.5MB to 28kb.

[2019-03-31 08:48] kog-7 opened #5984 "Api gateway will be deleted after use share restapi id with original service"
# This is a Bug Report

## Description

apigateway will be deleted after i use share restapi id with original service,this service is for the first lambda service which create the apigateway  restapi id

[2019-03-31 14:58] justjoeyuk opened #5985 "SLS commands hanging completely"
# This is a Bug Report

## Description
All the SLS commands are failing. I've tried it on two machines with different versions. One being the latest, one being 1.32.0. SLS is the only command that's working. `sls credentials configure` even hangs. It seems to have happened after the clocks changed by an hour.

* What went wrong?
It just hangs indefinitely.

* What did you expect should have happen

[2019-03-31 15:17] justjoeyuk commented on #5985
It looks like AWS is having lambda API issues.. so I'll track this and close the ticket if it starts working again. European zone. https://status.aws.amazon.com/

[2019-03-31 18:24] sioux-hockey commented on #5180
I am having the same problem

Node: V10.15.3
Serverless: 1.26.1

[2019-03-31 18:25] justjoeyuk commented on #5985
AWS have resolved the Lambda API issues and I'm still getting this issue. I've left it up.

[2019-03-31 19:33] ronaldonc commented on #5892
Same here. Using *exclude* and *include* when using layers  leads to this error
`No file matches include / exclude patterns`
The configuration used is the following:
[code]

The exclude and include works fine until I add the layers section

[2019-03-31 20:36] laardee commented on #5935
@pmuens this is now ready for review https://github.com/serverless/serverless/pull/5982

What I noticed is that the API key names must be unique when deploying with CloudFormation. From the console, you can create as many keys with the same name as you want, so it is a CF limitation.

For example, if I have a serverless.yml like this.

[code]

The generated CloudFormation then has `keyOne` which l

[2019-03-31 22:14] hashbrown commented on #3679
I also just ran into this today, and same condition as @ffxsam, serverless IAM didn't have DeleteCognitoPool so the `sls remove` failed.  I also can't do a force deploy to try and get out of it either. Totally stuck.

[2019-03-31 22:24] ffxsam commented on #3679
@hashbrown The workaround is to simply remove the stack manually via AWS.

[2019-03-31 22:28] hashbrown commented on #3679
Thanks, I just ran across that here, https://github.com/serverless/serverless/issues/3964
Appreciate the response!

Not sure if you were trying to accomplish the same thing as me, but I purposely did not want to allow my serverless IAM user to delete the Cognito User Pool.  Seems dangerous that someone could be trying to fix some deployment issue, then blow away all my users with a remove.

[2019-03-31 22:32] ffxsam commented on #3679
I actually did want to take everything down. 😄 (it was a dev environment stack)

[2019-04-01 00:14] calexandrepcjr commented on #4720
Only happens on >1.39.0

[2019-04-01 01:37] danmoore83 commented on #5316
+ 1.
Hey guys. Love the serverless framework.

Just wanted to note that this also affects included yml files as well.
e.g. `custom: ${file(./config/serverless/custom.yml):custom}`

The serverless object inside the constructor of plugins only has the reference to the file like above, rather than the resolved file contents.
This is causing some plugins not to work correctly (in my case serverless-pl

[2019-04-01 07:05] truongthanhtungitvn opened #5986 "I cannot verify with the code"
Hi guys,
I cannot verify with provider webtask, it always says "Invalid verification code".
I tried with the latest version 1.40 and 1.39.1 but not work.

My environment

I also find the same question https://forum.serverless.com/t/unable-to-create-profile-invalid-verification-code/7624/2 but look like not solve yet.
Anyone got the same issue?

Thanks.

[2019-04-01 08:59] drissamri commented on #4461
What are people using to work around this issue?

Does the following link still have the latest information: https://forum.serverless.com/t/knowledge-sharing-enable-cloud-watch-logs-for-api-gateway-using-serverless/3287

[2019-04-01 09:41] garethmcc commented on #5975
I would recommend using stage. This can then also be used to make sure you don't make changes to other infrastucture another developer may be testing with. With every resource you create add `${opt:stage}` somewhere in the name. For example, I tend to name DynamoDB tables as `${self:service.name}-tableName-${opt:stage}`

Then when I deploy I just add `--stage` to the cli command. If I want to do i

[2019-04-01 10:30] mrdulin commented on #4269
same issue. How to deploy a single cloud function in GCP?

`sls deploy -f <functionName>` does not work.

[2019-04-01 11:46] eahefnawy commented on #5985
@justjoeyuk does that happen with the latest version as well?

I think I faced this issue long time ago. Had something to do with the aws api keys being out of sync. If i remember correctly, I fixed it by correctly syncing the time. Could you try that?

Ref:
https://superuser.com/questions/155785/mac-os-x-date-time-synchronization

[2019-04-01 11:50] eahefnawy commented on #5986
hey @truongthanhtungitvn ... this is probably because webtask has been official deprecated and support for it has been removed by the webtask team. Here's the corresponding PR:

https://github.com/serverless/serverless/pull/5263

Our docs no longer include webtask as a provider. so I'm curious how you're using that feature now 🤔

[2019-04-01 12:17] waynerobinson commented on #4461
Should the `StageName` value in `AWS::ApiGateway::Deployment` be swapped out for at least a basic configuration of `AWS::ApiGateway::Stage` so that it can be overridden later by the user?

[2019-04-01 12:28] waynerobinson commented on #4461
For example, replace the definition in https://github.com/serverless/serverless/blob/11ff95912921eb3a8431ad576c5fd4499e520f83/lib/plugins/aws/package/compile/events/apiGateway/lib/deployment.js with the following.

This would allow overriding ApiGatewayStage with anything in https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html including the logging conf

[2019-04-01 13:17] truongthanhtungitvn commented on #5986
Thanks @eahefnawy for the answer 👍 . it's my bad, I followed the old tutorial to build the automation tool by serverless and webpack.

[2019-04-01 13:17] #5986 closed

[2019-04-01 13:47] scm-ns opened #5987 "Add support for C++"
# This is a Feature Proposal
Support C++ lambda!

## Description

Given that AWS now supports C++ as exec env, will it be possible to add a C++ template to the serverless project?

I would love to work on this. Is there some arch diagram of the code base that I can look at, or any tips?

Thanks.

[2019-04-01 13:48] scm-ns commented on #5576
@nosark @dschep Has any progress been made here? I would like to contribute!

[2019-04-01 15:01] washedrepent commented on #3270
Is their a solution to this. I am in the process of deploying an api via serverless on aws. There will be multiple developers working on the same project. This issue will happen. We have it setup to package each function individually, and since that is the case their will be a node_modules folder for each function. (node_modules are ignored in the git repo.) So if any of the devs pull in the chang

[2019-04-01 18:02] justjoeyuk commented on #5985
@eahefnawy Not working. If I checkout the hello-world example, it works and uploads... I've not changed the yml in weeks, although it's my suspicion that it's the only thing that could be messing up. Almost no commands work and --verbose does nothing.

[2019-04-01 18:08] justjoeyuk commented on #5985
[code]

[2019-04-01 18:12] justjoeyuk commented on #5985
That's my YML file. Would it matter that I have NVM installed? NVM localizes global packages to a specific version - wondering if that could be it.

[2019-04-01 18:27] justjoeyuk commented on #5985
Okay, strange issue. It seems that `serverless@1.32.0` only exclusively works with `node version 10.6.0`. Feel free to close this issue but curious as to why...

[2019-04-01 22:39] ian commented on #4471
Confirmed this is still happening in 1.40.0, please reopen.

[2019-04-01 22:41] ian commented on #4471
The expected behavior is that `serverless` corrects the erroneous binding (removes then readds).

This is pretty easy to reproduce, just deploy a simple example like https://github.com/DavidWells/serverless-workshop/tree/master/lessons-code-complete/events/kinesis/kinesis-basic and then go to CloudFormation and delete the stack.  Make sure it's deleted and then re-deploy.  It errors 100% of the ti

[2019-04-02 07:00] mrowles commented on #5942
I've updated, this is actually triggering (as of `serverless@1.40.0`) but still no claims passed over

[2019-04-02 08:50] garethmcc commented on #3270
@washedrepent One way that steps around the problem is not to have the developers be deploying to shared resources or production. Make it so that if they need to deploy to shared infra they commit and push changes to the git repo on a specific branch for that environment (for example, a `staging` branch for stuff going onto a staging environment) and let an automated build process enforce the proc

[2019-04-02 09:26] endeepak opened #5990 "invoke local docker layer download caching is broken"
# This is a Bug Report

## Description

* What went wrong?
Importing a layer during `invoke local --docker` works in first run and fails in subsequent runs

The issue is due to code mentioned in https://github.com/serverless/serverless/pull/5863/files#r271205741

Code Link: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/invokeLocal/index.js#L262

* What did you expect should

[2019-04-02 09:28] bravetoaster2 commented on #5990
I think this is my fault just blame me 
Bravetoaster2

Sent from Yahoo Mail for iPhone

On Tuesday, April 2, 2019, 5:27 AM, Deepak Narayana Rao <notifications@github.com> wrote:

This is a Bug Report

Description

   - What went wrong?
Importing a layer during invoke local --docker works in first run and fails in subsequent runs

The issue is due to code mentioned in https://github.com/serverless/

[2019-04-02 10:41] dattatrayhkulkarni commented on #3896
I added this to my serverless.yml file, but still not getting the CORS header in the response.
Do I need to remove the stack ( sls remove) and redploy? ( serverless deploy)
Or Do I need to give reference of this GatewayResponse anywhere else also?

[2019-04-02 10:56] chrisoverzero commented on #3896
@dattatrayhkulkarni The snippet you've quoted will only add CORS response headers to failed authentication responses. Is that where you're trying to see CORS response headers? (If not, read on.)

For CORS response headers in response to preflight requests, look up the `cors` property on a Serverless `http` event. For CORS response headers for requests that make it into the handler, those have to b

[2019-04-02 13:24] KanesYang commented on #5961
solve this problem by removing the whole root stack, and do the deploy again

[2019-04-02 13:24] #5961 closed

[2019-04-02 15:18] techfresh commented on #5401
I'm trying to use the solution provided by @ahawkins but I keep getting UnexpectedLambdaException - AccessDeniedException, do you have to add permission to use a lambda trigger?

[2019-04-02 16:24] luanmuniz commented on #5682
Any plans for fixing this? I didn't have much luck unfortunately

[2019-04-02 16:42] u007 commented on #4230
i tried to test:
[code]
user is not authorized to perform: lambda:InvokeFunction on resource: arn:aws:lambda:...

[2019-04-02 16:50] Tanax commented on #5976
Why not just use the CloudFormation default name of a Lambda?
It's something like `stackName-CFResourceName-randomStuff`, example `MyStack-MyFunction-ABC123`. Makes it extremely easy to debug and look up logs. In addition, it's already built into CloudFormation so Serverless doesn't even need to do any naming of the Lambda function :)

[2019-04-02 17:39] jordo1138 commented on #5921
Now that open census and open tracing projects have merged, this would be a great time to add support for different tracing backends

[2019-04-02 17:50] nosark commented on #5576
I am currently making progress on this issue. If anything changes and I can't continue I'll let you know @scm-ns :)

[2019-04-02 21:51] gangster commented on #5892
I'm seeing the same behavior once I add the layers config.   In my case, I am not declaring a package nor am I including/excluding anything explicitly anywhere in my yml file.

[2019-04-03 00:27] adambiggs commented on #2683
I'm getting this error now using Serverless v1.40.0. Trying to deploy a service with VPC functions and a custom IAM role defined in `resources`.

[2019-04-03 05:54] endeepak opened #5993 "Ability to pass docker run arguments during invoke local docker"
# This is a Feature Proposal

## Description

* **UseCase**: Debug lambda function with command `local invoke --docker`
* **Implementation**: Use docker run argument [`-p host_debug_port:container_debug_port`](https://docs.docker.com/v17.09/engine/userguide/networking/default_network/binding/)

* If there is additional config how would it look

[code]

Similar or dependent issues: None

[2019-04-03 10:55] eahefnawy commented on #5987
Thanks for pitching in @scm-ns ... Here's an example merged PR for adding support for Ruby:
https://github.com/serverless/serverless/pull/5546

You could use that one as a reference as you add support for C++.

Looking forward for your PR!

[2019-04-03 13:59] dattatrayhkulkarni commented on #3896
Thanks, this worked.

[2019-04-03 15:07] AnthonyWC commented on #5238
This sounds like a really terrible idea to allow a deployment bucket to be in another account.

[2019-04-03 15:14] anwarhamr commented on #3671
Can I get some help with this issue? https://gist.github.com/HyperBrain/50d38027a8f57778d5b0f135d80ea406#gistcomment-2879761
trying to copy a file to the project directory when sls deploy is called.

[2019-04-03 15:17] pofallon opened #5995 "Enable CAPABILITY_AUTO_EXPAND on CloudFormation deploys"
# This is a Feature Proposal

## Description

We're working on a plugin that adds a `Transform` directive to the compiled CloudFormation template (in order to comply with some organizational standards).  However, a serverless project that leverages this plugin fails to deploy with the error: `Requires capabilities : [CAPABILITY_AUTO_EXPAND]`.  From [looking through the code](https://github.com/ser

[2019-04-03 18:18] adambiggs commented on #2683
For anyone else who might run into this, the problem was caused by the `Version` of the custom `PolicyDocument` wasn't wrapped in quotes.

When defined like `Version: 2012-10-17`, it Serverless parsed the value as a date and tried to set it as `2012-10-17T00:00:00.000Z` in the cloud formation template. Changing the value to `Version: "2012-10-17"` fixed the issue.

[2019-04-03 18:47] derwaldgeist commented on #2154
I've just stumbled upon this issue, after trying out to add an event to an existing bucket for hours. It should clearly be stated in the docs that this is not supported :-/

I also think this is a major limitation. My app needs the bucket for other purposes, too, which are not linked to the serverless usecase. It also has to be configured in a certain way, e.g. there has to be a specific CORS conf

[2019-04-03 19:02] mrowles commented on #5942
I have even tried separating the `$connect` & `$disconnect` handlers and it keeps sending it to the $disconnect:

[code]

I have even tried a different client websocket library to no avail:

[code]

I'm either doing something wrong, or this is a genuine bug.

[2019-04-03 21:31] DrakkenSaer commented on #3183
Maybe I don't understand CloudFormation well enough, so I may be saying more than I know, but if this flag was implemented, couldn't you just generate the CloudFormation from the Serverless.yml but remove the `resources` property before generation? This would effectively act as if the resources are commented out. I have done this on several occasions and have not had any issues with my resources b

[2019-04-03 22:24] pramttl commented on #5185
Facing the same issue. I think the issue should be reopened and it seems important to address this. The expected behavior as a user is -

Function should be created if it does not exist.

(Renaming the service is not a proper solution. Also, in my case I cannot rename the service because other functions under the project would also fall under a new namespace and we are using some of these lambda f

[2019-04-03 22:26] exoego commented on #5185
@pramttl
Could you open a new issue since this issue had been quite stale and lacks details to reproduce.
Thanks in advance.

[2019-04-03 22:35] pramttl opened #5996 "sls deploy: Function not found"
# This is a Bug Report

## Description

1. We created a lambda managed by serverless (Calling this lambda xyz to redact actual name)(

2. We deleted a lambda directly from our AWS account. (Manual delete)

3. Now, `sls deploy` leads to `Function not found: arn:aws:lambda:us-east-1:...` error.

### Expected Behavior

The expected behavior would be that Serverless creates the deleted/missing lambda

[2019-04-03 22:36] pramttl commented on #5185
@exoego Created. https://github.com/serverless/serverless/issues/5996

[2019-04-03 23:24] erksdee commented on #4711
Hi @roni-frantchi, were you able to achieve this with auth0 ?

[2019-04-03 23:38] pofallon commented on #5995
I just realized that the `Transform` directive can be added directly to the `serverless.yml` file (so no plugin is necessary on our part).  While this results in the same error, a more obvious solution is to just add this Capability if a transform is detected in the template.  This is a simple addition, so I'll submit a PR for discussion.  Thanks again!

[2019-04-04 00:44] mikhael28 commented on #3176
Sadly, it appears that this error has multiple solutions, and not incredibly detailed error handling. I'm having the issue myself, haven't yet figured out why - considering that I have an almost identical set of lambda's deployed, and they are working just fine. Will take a look through some of these suggestions!

[2019-04-04 03:41] diosney commented on #5209
Bump!

[2019-04-04 04:10] diosney commented on #1172
This is still happening. Please, some contributor can you look into it so a native workaround is made? Like replacing the toString for toJson, for objects, for instance.

Thanks!

[2019-04-04 10:13] roni-frantchi commented on #4711
Hi @erksdee . Not yet. Had to park it for a few days unfortunately as priorities have shifted.
Will definitely post an update here once I'll be able to figure out how to.

[2019-04-04 15:25] noreabu commented on #4637
After several hours of trial and error we came up with somthing that worked.

Our use case:
1. monitor the memory consumption of a lambda function
2. raise an alarm when > number
3. Alarm action to send details to SNS Topic
4. SNS triggers a lambda function (which posts the alarm to slack)

Complete example is not available due to reasons..., but i hope i have included all required parts:
[code]
N

[2019-04-04 16:08] dr-robert commented on #5995
This would be a huge benefit for my company and then community. This also would help enable broader adoption of the Serverless Framework.

[2019-04-04 16:12] etc-tiago opened #5999 "Solution to CloudFormation's 200 Resource Limit"
I'm looking for a solution of the limitation of Cloudformation resource limits. Currently the stack I am working on is over 300 resources, the API has 64 endpoints endpoints, but more will be needed.

I would like to know if I can create two files that make the serverless.yml function, something like stack-a.yml, stack-b.yml? And when the `deploy` command is run, indicate which stack I'm referenci

[2019-04-04 18:34] eahefnawy commented on #5999
Thanks for thinking about a solution to this tough problem @etc-tiago! Do you think this would be a breaking change?

[2019-04-04 20:45] pointtoken commented on #4207
You can override it with the following syntax so it doesn't create two:
https://serverless.com/framework/docs/providers/aws/events/cognito-user-pool/

[2019-04-04 20:49] tonyxiao commented on #4207
@pointtoken using that workaround does that mean this issue can be closed?

[2019-04-04 20:53] pointtoken commented on #4207
@tonyxiao  in my opinion, yes.

[2019-04-05 03:07] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #4469
on serverless version 1.40.0, @horike37 solution does not work also.

[2019-04-05 03:09] bravetoaster2 commented on #4469
Blame me on github (bravetoaster2) - pass the word. Thanks 

Sent from Yahoo Mail for iPhone

On Thursday, April 4, 2019, 11:08 PM, aluc <notifications@github.com> wrote:

on serverless version 1.40.0, @horike37 solution does not work also.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-04-05 03:24] jeanlescure commented on #4661
Just like @agouz I found that `serverless-oauth-scopes` is not working.

What is the status on this feature?

It would be really useful, rather than the alternatives of having to manually alter each method on aws ui or having to create a script to add the scopes after serverless deploys.

[2019-04-05 04:43] tanduong commented on #4461
If I manually added cloudwatch log, redeploy will not undo it, right?

[2019-04-05 04:49] jordanboston commented on #4461
@tanduong No, I don't think it should.

[2019-04-05 04:50] waynerobinson commented on #4461
Only if the resource gets replaced. An update shouldn’t remove the config.

[2019-04-05 12:54] mushketyk opened #6001 "Sls tries to create S3 bucket twice if a Lambda function is subscribed to S3 events"
# This is a Bug Report

## Description

I have an S3 bucket that is created by `serverless` and I want to subscribe a Lambda function to events from this bucket. No external resources are used.

* What went wrong?

`serverless` generates two resources in CloudFormation JSON to create two buckets with *the same name*.

* What did you expect should have happened?

`serverless` should attach an event

[2019-04-05 15:48] excenter opened #6002 "`serverless create --help` errors out"
# This is a Bug Report

## Description

* What went wrong?
running `serverless create --help` like [the docs](https://serverless.com/framework/docs/providers/aws/cli-reference/create/) said to look at available templates errors out
* What did you expect should have happened?
see a list of available templates
* What was the config you used?
none yet
* What stacktrace or error message from your prov

[2019-04-05 15:49] darrenhgc commented on #5999
FWIW, we're currently using the [split stacks plugin](https://github.com/dougmoscrop/serverless-plugin-split-stacks/issues/15) to work around the cloud formation resource limit.

Shortly after, we ran up against a limit on the number of outputs allowed in the `APINestedStack` [#15](https://github.com/dougmoscrop/serverless-plugin-split-stacks/issues/15).

We also considered using the [domain manag

[2019-04-05 17:35] serverlesspolska commented on #4550
But still valid

[2019-04-05 17:59] garethmcc commented on #5999
Would it not be possible to break up this very large service into smaller ones. Kind of lean on the micro of microservices a little?

[2019-04-06 10:06] kimthangatm opened #6003 "AWS Billing increase everyday but CloudFormation, Lambda deleted?"
1. Serverless use Mongo . MongoDB run on EC2
2. Remove EC2 MongoDB, Remove CloudFormation, Lambda, ApiGateway, **all AWS services on Account are empty**
3. Billing increase everyday for **Lambda compute time**

4. Another account use DynamoDB. Same bug like this.

[2019-04-07 02:26] pauloptimizely commented on #6002
Hi @excenter, I ran into the same issue on `macOS 10.14.4`. It looks like calling `serverless create` will throw this error if a `serverless.yml` file already exists. I fixed this problem locally by delete my `serverless.yml` file before running `serverless create`

[2019-04-08 02:45] endeepak opened #6004 "invoke local docker leaves orphan container when serverless process is killed"
# This is a Bug Report

## Description

* What went wrong?
`invoke local --docker` leaves orphan container when serverless process is killed in between

* What did you expect should have happened?
Serverless should stop the container on exit i.e. cleanup resources

* What was the config you used?

`serverless.yml`
[code]

`handler.js`
[code]

* What stacktrace or error message from your provider d

[2019-04-08 08:36] svavar commented on #4319
The commands from @JohnathanKong worked for me on Ubuntu 18.10. I also had to run them as sudo.

[2019-04-08 08:47] pmuens commented on #5996
Thanks for opening @pramttl 👍

All resources should always be managed via the Serverless Framework and never manually since otherwise the underlying CloudFormation stack drifts, resulting in the error you're seeing.

[2019-04-08 08:47] #5996 closed

[2019-04-08 08:50] pmuens commented on #5985
Thanks for getting back with more information @justjoeyuk 👍

Closing since this seems to be an edge case using Serverless Framework 1.32.0 and Node 10.6.0.

[2019-04-08 08:50] #5985 closed

[2019-04-08 09:51] #4750 closed

[2019-04-08 10:34] #5993 closed

[2019-04-08 11:24] iq-dot opened #6005 "Multiple Issues with Layers + Node Modules"
# This is a Bug Report

## Description

I am having various issues trying to get a layer with node_modules which is shared by several functions in my serverless file.

I have tried first creating a layer with just node_modules, however due to how the layer is extracted in /opt my functions can not find node_modules.

I tried to set the NODE_PATH but it overwrites the existing NODE_PATH leading to

[2019-04-08 12:15] #5995 closed

[2019-04-08 12:24] pmuens opened #6006 "Decoupling of core plugins from provider implementation"
Over the course of the last years we've mixed core and provider logic in the core plugins. We should de-couple the logic so that universal, provider independent logic can be found in the core plugin while provider related logic is encapsulated in the provider implementations of the respective plugin.

Related to https://github.com/serverless/serverless/issues/5918

/cc @ganeshvlrk @billfine @eahef

[2019-04-08 12:28] pmuens opened #6007 "Packaging - Refactor package plugin logic"
The package plugin logic is rather complicated which resulted in a lot of of uncertainty about enhancements and regressions in the past.

We should investigate how we can refactor the code so that it's more reliable and more easily extensible.

Related to https://github.com/serverless/serverless/issues/5938

/cc @ganeshvlrk @billfine @eahefnawy @dschep

[2019-04-08 14:43] sashokbg commented on #5892
Same problem here. I am trying to exclude node_modules but then add them to a layer and I get this error. Using 1.4.0

[2019-04-08 15:31] viegasdom commented on #5918
Hi, is this issue still relevant? If so I'd like to jump in.

[2019-04-08 20:14] #5990 closed

[2019-04-08 20:34] sajjad207 opened #6008 "Template validation error: Template format error: Unresolved resource dependencies [Routetable] in the Resources block of the template"
when running in CLoudformation template designer it looks fine but when creating a stack i keep getting the same Error Here is the code
----------------------------------------------------------------------
{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "",
    "Metadata": {

    },
    "Parameters": {

    },
    "Mappings": {

    },
    "Conditions": {

    },
    "Resources

[2019-04-09 00:07] herebebogans commented on #6008
Looks like an issue with inconsistent case

Using both

`"Ref": "Routetable"`

and

`"Ref": "RouteTable"`

[2019-04-09 09:29] pmuens commented on #6008
Thanks for opening @sajjad207 and thanks for helping out @herebebogans 👍

Closing this issue since @herebebogans proposed fix should resolve the problem. If that's not the case please paste your `serverless.yml` so that we can see the configuration you've used.

[2019-04-09 09:29] #6008 closed

[2019-04-09 09:49] #5947 closed

[2019-04-09 10:26] aronim commented on #5679
Hi Exoego,

I have a large set of micro-services, large enough that I hit the 200 resource per stack limit of CloudFormation, so I have to split them over 12 stacks/services. I would still however like to keep everything behind a single API Gateway. This means that I have created an API Gateway separate from my individual Serverless services. What I have done is move the provider.apiGateway config

[2019-04-09 12:11] neshanjo commented on #5155
Hi, I also ran into this issue. Permanently downgrading to version 1.0.0 is not an option since it does not handle java stacktraces correctly. Will this be fixed? Can this be fixed in serverless? Or is it a problem with the AWS lib? If you provide more information (link to docs or code that handles the java invocation), then maybe I can have a closer look.

[2019-04-09 17:44] cscetbon opened #6009 "Skipped CF step prevents plugin from working"
I'm using plugin https://github.com/svdgraaf/serverless-pseudo-parameters/issues, however it does not work when deploying only one function cause CloudFormation is skipped by updateFunctionConfiguration
see https://github.com/serverless/serverless/pull/4173/files#diff-4cbb6c3b54085f7b84b5aea9b859bb1eR141.

Can you think of any way to make it possible for a plugin in that case ? by updating that fu

[2019-04-09 20:56] triptec commented on #5572
@robert2d I just looked at the AWS issue you linked and if I read the correctly it was solved in the Frankfurt region but not yet the Paris one. But could we use the Frankfurt one to validate the functionality in serverless?

[2019-04-09 21:01] sajjad207 commented on #6008
@herebebogans Thank You it Worked.

[2019-04-10 00:54] lamarrh commented on #1439
@ProTip is exactly right. Has anyone figured out a good way to narrow the iam:* policy so that privilege escalation isn't possible. A potential fix would be by better utilizing the resources section similar to what [Rhino](https://rhinosecuritylabs.com/aws/aws-privilege-escalation-methods-mitigation/) did.

Is there a clever way to say iam:* but only for resources provisioned in the template?

[2019-04-10 02:00] ProTip commented on #1439
@lamarrh IAM permission boundaries slipped in under my radar but may provide a reasonable path forward: https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_boundaries.html .

By requiring a specific boundary be attached create users and roles, or be applied when attaching policies, it effectively limits the maximum permissions an entity can grant to another entity.

[2019-04-10 02:01] uclaeagit commented on #1439
What about trust relationships? That's something I just learned of that I don't fully understand but seems like it could help.

[2019-04-10 02:13] erikerikson commented on #1439
At one time we defined a deployment role that was only able to create narrowly defined (i.e. named) IAM roles and only had exactly the rights a particular set of serverless projects needed to deploy and therefore could only pass those rights.  The changes on that separate serverless project were minimal and targeted so the division of risk was fairly good.  Only allowing the deployment pipeline to

[2019-04-10 03:21] herebebogans commented on #5965
@j3pic another approach might be to use a[ javascript files reference](https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files) variable.

Then use aws-sdk in the reference to dynamically look up the certificate (acm.listCertificates()) based on a tag via the stage / environment name etc.

[2019-04-10 03:28] herebebogans commented on #5976
Might be misunderstanding the idea but you can already get the function name from the [lambda context object](https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-context.html).

eg in node

[code]

[2019-04-10 06:15] dattatrayhkulkarni commented on #4473
I think this feature will be really needed.

[2019-04-10 08:51] pmuens commented on #6009
Hey @cscetbon thanks for opening :+1:

Can you please file an issue in the plugin repository since this is something which needs to be fixed in the plugin and not in core? Thanks!

[2019-04-10 08:51] #6009 closed

[2019-04-10 16:03] cscetbon commented on #6009
@pmuens that was the question. The author means it can't be changed cause it uses CF to get this information but the function update are done directly and not through CF if I understand correctly what he said. Are you saying it's something that also can't be done in the core ?

[2019-04-10 17:08] benfarr commented on #4844
Sending you thanks. Just lost a few hours due to this as well. Upvote on enhancement request "Give warning on invalid event definition #5916".

[2019-04-10 19:45] washedrepent commented on #5892
I am having the same issue. I am using CodeBuild and its causing this error. I am not even using layers. Is their any solution to this?

[2019-04-10 19:50] davidbfrogman commented on #3176
For me it seems that turning this nodeEnv optimization off, in webpack.config was my problem.

[code]

commenting that out, fixed the issue.

fixed version:
[code]

[2019-04-10 23:52] kabo commented on #3528
I can't get the workaround to work :/

[code]
[code]
I now see `package/bob.zip`. Great!
I run
[code]

But I still get
[code]
and a bunch of webpack output. It's still creating a new zip :(

Also, it's not clear to me how to get this to work with
[code]

[2019-04-11 00:42] edmret commented on #4852
does anyone is having the same issue using `serverless invoke test` ?, I'm having issues with this on AWS code deploy, beacuase it does not exits before call the deploy command.

[2019-04-11 01:56] tdmartino opened #6012 "Support wild-cards in cors multiple origins"
# This is a Feature Proposal

## Description
Allow passing wildcards in origins (example https://*.mydomain.com) so that the behaviour is similar to what you can achieve with an actual server.

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
Many setups use multiple sub-domains, in which case you want to  simply allow all su

[2019-04-11 02:06] exoego commented on #6012
@tdmartino Could you fix hyperlinks to PR?
https://github.com/serverless/serverless/pull/5740https://guides.github.com/features/mastering-markdown/ seems broken.

[2019-04-11 02:12] tdmartino commented on #6012
fixed links

[2019-04-11 03:57] ZhangVic commented on #3676
@Imran99

[2019-04-11 03:58] ZhangVic commented on #3676
@Imran99

[2019-04-11 03:58] ZhangVic commented on #3676
@Imran99   Could you please share you `serverless.yml` ?

[2019-04-11 04:55] mim-Armand commented on #3986
AN old topic but thought I'd share this and bump it so we close it if it's not needed anymore,
I use this and it works fine:
[code]

[2019-04-11 07:40] dca commented on #5980
have the same problem

[2019-04-11 08:27] ut0mt8 commented on #5048
Well for me I have to set
`AWS_SHARED_CREDENTIALS_FILE=/home/xx/.aws/credentials`
for sls to work with assume role (without the handly go tool).

[2019-04-11 08:53] jarrettj commented on #5513
Good to know, thanks.

[2019-04-11 15:14] Studio2133 commented on #5282
I'm sorry, I'm super confused and would love some help.

So in teh PostConfirmation declaration, in the cognitoUserPool events section. What should be the value for 'pool'? I've tried the actual name of the user pool and it keeps creating new user pools. I've also tried the value directly under 'Resources' (in your case 'CognitoUserPoolMyUserPool').

Now in your 'pool' value you said you input 'My

[2019-04-11 15:42] robotlemons commented on #5282
@Studio2133

[code]

This example, you would use whatever is after CognitoUserPool as your pool value. In this case, it would be MyUserPool

[2019-04-11 17:32] Studio2133 commented on #5282
@robotlemons Thanks for the prompt response!

So I should rename my resource. Currently I don't have it starting with CognitoUserPool. Currently it's just called: MycompanyUserPool. I'll change it to: CognitoUserPoolMyCompanyUserPool... Is that correct?

[2019-04-11 17:37] robotlemons commented on #5282
Yes

Sent from my iPhone

[2019-04-11 17:53] Ccastillo06 commented on #5282
@Studio2133 In your case you should do what @robotlemons said, just add `CognitoUserPool` before the name of your actual user pool `MycompanyUserPool`.

So in the end you should have: `CognitoUserPoolMycompanyUserPool` for that pool name.

So your user pool definition in `cognito-user-pool.yml` should be:

[code]

And then the lambda trigger definition in `serverless.yml` should be:

[code]

I've

[2019-04-11 22:41] billy-bacon opened #6014 "Default variable value not being honored"
# This is a Bug Report

## Description

* What went wrong?
Default variable value not being honored. Throws an error if I run `sls deploy` without a stage.

* What did you expect should have happened?
Running `sls deploy` without `--stage` option should have set stage to 'development'

* What was the config you used?
[code]

* What stacktrace or error message from your provider did you see?

Tryin

[2019-04-12 02:19] Imran99 commented on #4123
This would be great for us too!

We currently run our apis multi region in order to support our global user base and compliance / legal requirements around data locality. Deploying to each region in serial adds quite a bit of time to our deployments (we operate in 4 regions).

We started using circleci parallelisation to address this (deploy to each region using a separate worker / container in pa

[2019-04-12 02:25] Imran99 commented on #4123
@nibynool You can do this now by putting your regional resources in a seperate yml say `yml/us-east-1/functions.yml` and referencing it from your `serverless.yml`:

[code]

Then just deploy `sls deploy --region us-east-1`

[2019-04-12 03:10] pratri07 commented on #472
Has anyone tried retrieving secrets from secrets manager using Lambda, it needs kms access. If lambda service role doesn't have kms access based on key id, it doesn't work. I mean KMS alias based permission not working to retrieve cred from secrets manager. KMS error - LATEST An error occurred (AccessDeniedException) when calling the GetSecretValue operation: Access to KMS is not allowed. If we ha

[2019-04-12 05:17] garethmcc commented on #4123
Perhaps a cleaner way to do this would be to have the `region` property be an array so that you can just specify multiple regions. Would still be tricky I feel to get parallel deployments happening but at least that would simplify the process somewhat.

[2019-04-12 07:47] jt-helsinki commented on #1439
If you get an error which mentions `s3:SetBucketEncryption` then try this:

[code]

Note: the addition of:

[code]

[2019-04-12 08:23] tranvanthuc commented on #3078
https://serverless-stack.com/chapters/cross-stack-references-in-serverless.html
I follow this tutorial and it works fine. You can try it.
Hope can help you

[2019-04-12 09:41] majindageta opened #6015 "AWS Kinesis Firehose ErrorOutputPrefix"
# This is a Bug Report

## Description

* What went wrong? Creating a Firehose stream with custom prefix generates an error because AWS needs a ErrorOutputPrefix, adding the ErrorOutputPrefix generate an error in serveless because the key is not recognized.
* What did you expect should have happened? Recognize the ErrorOutputPrefix key
* What was the config you used?

this is a sample code i used

[2019-04-12 10:22] BettyTheApp opened #6016 "Serverless exits call with "write EPIPE""
I have the amazon linux 2 image locally running on a VirtualBox machine.
I have SLS Version 1.14.0
I have NodeJS version 11.14.0

When i start 'sls offline' it runs until it wait for connection. When I connect to the server it starts handling the python file but ends with

[offline] _____ HANDLER RESOLVED _____
Serverless: Failure: events.js:170
      throw er; // Unhandled 'error' event
      ^

[2019-04-12 10:26] Aciid commented on #5810
I just replicated this issue with and used the fix @kaxax provided with the following configurations where I have the same issue.

macOS Mojave 10.14
- Webstorm: 2019.1, 2018.3.6, 2018.2.8
- Serverless: 1.40.0
- Node: 6.10.2 ( AWS )

- Webstorm: 2019.1, 2018.3.6, 2018.2.8
- Serverless: 1.40.0
- Node: 8.10 ( AWS )

I vouch for @kaxax fix to be added to serverless upstream. It's really a crossplatfo

[2019-04-12 10:29] kashifaliquazi commented on #4330
can we configure "service" in yml file based on other yml files?

[2019-04-12 10:57] pmuens commented on #6016
Hey @BettyTheApp thanks for opening 👍

Can you please fill out the Issue template so that we have all the necessary information to troubleshoot this issue? Thanks!

[2019-04-12 11:48] oniice commented on #5316
Also having this same issue

I have my buckets named like this:
[code]

And when the remover runs, it hasn't got the transformed properties

[2019-04-12 13:36] pmuens commented on #6016
Hey @BettyTheApp thanks for providing more information here.

It seems like this is related to the `serverless-offline` plugin. Can you please open up an issue in the plugins repository? Thanks 👍

[2019-04-12 13:36] #6016 closed

[2019-04-12 14:07] aaronosb commented on #3184
Would definitely also appreciate an update on how to support this without adding additional plugins, I have run into this issue multiple times in the past week and would appreciate a native solution. Like the purposed double escape $$

[2019-04-12 14:13] #5765 closed

[2019-04-12 17:04] mnapoli opened #6017 "Load plugin from path"
# This is a Feature Proposal

## Description

At the moment we can load plugins like this:

[code]

or in a specific directory:

[code]

However this changes the directory for all plugins.

It would be very useful to be able to include a module using a relative path:

[code]

## Use case

My use case is that I want to distribute my plugin without NPM (it is a plugin for a serverless PHP framework,

[2019-04-12 18:19] c2xbrhdj6u4qs15 commented on #5593
Hi, I would like to go even a step further and would like to pass a json string to the serverless command to propagate the tags.

`serverless deploy --tags '{"key": "value"}'`

In my serverless.yml I would have this:

`provider:
  name: aws
  tags: ${opt:tags}`

Would this be possible?

Thanks

[2019-04-12 19:03] jplock commented on #5593
if you use `provider.stackTags` Cloudformation will copy the tags to as many resources that support tags as it can (we have seen though that Cloudfront Distributions do not get the tags however).

[2019-04-12 22:16] brunoanken commented on #5996
But what if it happens, even if by accident?

[2019-04-14 11:08] allanchua101 commented on #5984
Hi @kog-7,

You can fix this problem by deploying your API gateway in a separate service to prevent deletion of an attached function:

## Gateway as a Service
[code]

## Attaching a function

[code]

You can view a full sample [here](https://github.com/allanchua101/api-gateway-comparables/tree/master/004_AWS_Lambda)

[2019-04-15 05:40] jt-helsinki opened #6019 "IAM Permissions error for codebuild"
## Description
Trying to run serverless on codebuild causes IAM related errors so I created my Policy. Using the following IAM:

[code]

Sees the following line in the logs.

[code]

Any ideas on which permission I need to add?

[2019-04-15 06:46] prasadbiarca commented on #2154
I am also trying to use `existings3` function to use the already created `S3` bucket. When a file uploaded to my S3 bucket, event triggers Serverless. But my Serverless function failing to execute as it says `already exists`(using - `serverless-plugin-existing-s3` plugin). Below is my code:
[code]
Function is not working as it sounds. Any help..!!!???

[2019-04-15 07:42] zoomdevplatform commented on #5984
@allanchua101  Hi, allanchua101 , thanks very much for your help ,  will try it. Thanks again.

[2019-04-15 07:52] zoomdevplatform commented on #5975
@garethmcc  hi, garethmcc ,thanks very much for your help,but our lambda application ，They were developed by each individual， and maybe we have A few hundred points function，we want  to put some functions into  one application , but everyone deployed and developed independently,each lambda have each business name ，It's not reasonable for them to use stages,and aslo same application name is will de

[2019-04-15 08:06] zoomdevplatform commented on #5975
after each serverless.yml with same service name which use by two people ,  if a worker will replace b worker's function, It seems like it would be difficult to do large numbers&& small application lambda development，hope deploy function with same serverless.yml which have append ability,not just replace..

[2019-04-15 08:10] kog-7 commented on #5975
after each serverless.yml with same service name which use by two people , if a worker will replace b worker's function, It seems like it would be difficult to do large numbers&& small application lambda development ，hope deploy function with same serverless.yml which have append ability , not just replace.

[2019-04-15 10:26] #5564 closed

[2019-04-15 10:45] #4846 closed

[2019-04-15 11:08] #5945 closed

[2019-04-15 13:46] derwaldgeist commented on #2154
I ended up setting the trigger manually in the Lambda console. Far from perfect, because you have to remember that on any new setup, but works.

[2019-04-15 15:26] derwaldgeist commented on #2154
I ended up setting the trigger manually in the Lambda console. Far from perfect, because you have to remember that on any new setup, but works.

[2019-04-15 18:51] mscottx88 commented on #4844
Found myself here too.  Lifesaver!  Thanks bruh!

[2019-04-15 22:55] tdmartino commented on #6012
@exoego I am not 100% sure of the process, it says we should open an issue before submitting a pr, this is the issue. If nobody comments on it, it mean you guys are not interested? When can/should I start working on this? Thank you!

[2019-04-16 00:22] exoego commented on #6012
@tdmartino
I would like you to understand that core develeopers may not dedicate themselves 100% to watch every activities on repository for reasons,  so it may take a weeks or even months to get resnponse from them.

It is all right 👍  to open a PR without waiting response, to the best of my relief.
Based on my experience, I had opened many PRs to servereless framework and other OSSs without wait

[2019-04-16 02:02] kog-7 commented on #5984
@allanchua101  Hi, allanchua101 , thanks very much for your help , will try it. Thanks again.

[2019-04-16 02:02] kog-7 commented on #5975
@garethmcc  hi, garethmcc ,thanks very much for your help,but our lambda application ，They were developed by each individual， and maybe we have A few hundred points function，we want to put some functions into one application , but everyone deployed and developed independently,each lambda have each business name ，It's not reasonable for them to use stages,and aslo same application name is will dele

[2019-04-16 06:28] Hokutosei commented on #4979
I just hit this one today... any progress on here?

[code]

[2019-04-16 06:39] nicolasnoble commented on #4979
Don't bother. There had been absolutely zero activity here since the initial code drop. Use openfaas or kubernetes.

[2019-04-16 07:59] ahmed-abdulmoniem commented on #4638
Still happening

[2019-04-16 08:09] ahmed-abdulmoniem opened #6020 "https://serverless.com is not working!"
https://serverless.com/ is not working. The page is not opening at all.

[2019-04-16 08:10] eahefnawy commented on #6020
hmmm seems to be working for me 🤔

[2019-04-16 08:12] ahmed-abdulmoniem commented on #6020
I have tried from WIFI / Mobile data ... all is not working!

Other websites are working just fine!

May be it is only me?

Any one can confirm?

[2019-04-16 08:14] delprofundo commented on #6020
slow but its there

On Tue, Apr 16, 2019 at 6:12 PM Ahmed Abdulmoniem <notifications@github.com>
wrote:

[2019-04-16 08:18] ahmed-abdulmoniem commented on #6020
I am trying but I am not able to open it at all!

[2019-04-16 08:20] ahmed-abdulmoniem commented on #6020
Asked another friend .. and it is not working at his side as well!

[2019-04-16 08:23] delprofundo commented on #6020
its networking. looks like routing issues inside megaport or somewhere

On Tue, Apr 16, 2019 at 6:20 PM Ahmed Abdulmoniem <notifications@github.com>
wrote:

[2019-04-16 08:29] eahefnawy commented on #6020
https://downforeveryoneorjustme.com/serverless.com

[2019-04-16 08:29] ahmed-abdulmoniem commented on #6020
OK thanks @eahefnawy

[2019-04-16 08:30] #6020 closed

[2019-04-16 10:10] sthuber90 commented on #1918
What's the best practice to follow for this use case now?

[2019-04-16 12:35] LF4ce opened #6021 "Is there a way to create events when deploying functions individually?"
I've noticed that in my current settings my events are not being created when deploying functions individually. It only works if I do a full deploy.

Is there something I'm missing or this is the only way to have events created?

The deploy command I'm running is:
`serverless deploy function -f place-holder --stage staging`

My serverless.yml looks like this:
[code]

[2019-04-16 13:43] wviana commented on #3964
Hi there.

I'm having the same problem when trying `remove `

[code]

[2019-04-16 13:44] wviana commented on #3964
BTW I don't want to delete the CF and re-deploy it. I would like to just remove it all.

[2019-04-16 13:54] pmuens commented on #6020
@ahmed-abdulmoniem Quick update that it seems to be related to https://twitter.com/netblocks/status/1118112833366102016

[2019-04-16 14:27] wviana commented on #3964
Against my will I did deploy it againt. It deployed allright.
But now to delete it, just got the same error: `Serverless: Getting all objects in S3 bucket...`

[2019-04-16 17:03] owennw commented on #5485
Hi, is there any update on this? I'd also like to do the same.

[2019-04-16 23:15] gregl83 opened #6022 "Reference Variable in JavaScript returned Resolved Promise Failing"
# This is a Bug Report

## Description

Following the instruction from: [Serverless Variables](https://serverless.com/framework/docs/providers/aws/guide/variables#reference-variables-in-javascript-files)

Implemented the returned Promise (async); however, an error is thrown whereas the same function works if just a string is returned.

Logging from *getValueFromSource* shows that each time a Promi

[2019-04-17 10:48] loganathan-s opened #6024 "Custom Authorizer not getting created and connection handler is not working"
# This is a Bug Report

## Description

I configured an existing authorizer lambda function in front of a WebSocket connection function.  But the API gateway doesn't link the existing authorizer into the WebSocket API gateway.

Even I create the authorizer manually from the AWS user interface, the authorizer/connectionHandler functions is not getting called and my connections are always successful

[2019-04-18 07:55] marcinczeczko opened #6028 "Invoke local with custom runtime fails because unable to unzip whole package"
# This is a Bug Report
Invoke local with docker fails because of ZIP with folders

## Description
* What went wrong?
When running `sls invoke local --docker -f hello` I'm getting the error
[code]
It's due to the fact the function zip consists a subfolders, the zip contents is as follows:
[code]
If checked `.serverless` folder you can find that only top level jar & bootstrap file is extracted
[code

[2019-04-18 08:38] ahmed-abdulmoniem commented on #6020
@pmuens Seems that this is the problem!

Any way to read the docs from another place other than using VPN?

[2019-04-18 11:33] eahefnawy commented on #6020
@ahmed-abdulmoniem our website fetches the docs directly from here:
https://github.com/serverless/serverless/tree/master/docs

Keep in mind though this these docs in master can sometimes reflect changes that was not yet released. In other words, it's "too updated" 😅

[2019-04-18 12:21] cheesiangcs opened #6029 "Serverless deployment fail after V1.41.0 released"
Encountered this issue after V1.41.0 released...

My serverless deployment was able to run successfully before V1.41.0 released.

![CodeBuild_-_AWS_Developer_Tools](https://user-images.githubusercontent.com/35026330/56360520-7a788780-6217-11e9-9f5c-b6515d3c69c0.png)

I didn't enable X-way in my serverless.

Lock to V1.40.0 then deploy successfully...

[2019-04-18 12:24] #4644 closed

[2019-04-18 13:01] exoego opened #6030 "[Windows] Deployment skipped irregularily if package.artifact contains "/" and versionFunction is false"
# This is a Bug Report

## Description

* What went wrong?
Deployments (`sls deploy`) are skipped irregularily (sometimes success) even if exteranal artifact (zip file) is updated.
It seems that serverless fail to handle `/` in artifact path on Windows when checking timestamp of artifact.

* What did you expect should have happened?
Deployment skipping algorithm should consider timestamp of extern

[2019-04-18 14:36] mnapoli opened #6031 "Variables: Introduce access to resolved `stage` via `sls:stage`"
At the moment to reference the region or stage you have to do:

[code]

Since this is pretty common, it would be awesome to have simple variables that aliase that, e.g.

[code]

---

_Maintainer note_

`region` is AWS specific, therefore it's expected to be handled in other proposal: https://github.com/serverless/serverless/issues/9005

[2019-04-18 21:53] lamarrh commented on #1439
So i thought i'd come back and share how i solved this for my use case. This is a policy we created that only allows people to create and manage their own resources with serverless.

[code]
Not 100% complete, but it's easily extensible for other services.

[2019-04-18 22:00] uclaeagit commented on #1439
I keep finding new stuff. I realize now why servleress recommends to just give full admin access.

[2019-04-18 22:12] uclaeagit opened #6032 "Feature request: variable property names in serverless.yml"
Hi, this issue comes into play with lambda layers combined with branches for different environments. Sorry if there's an easy fix for this, but I haven't found anything.

We have a dev branch and a stage branch for our lambda layers. Unfortunately I can't inject these variables like I need to, because these are properties (not values) in serverless.yml.

Here's dev:
[code]

And here's stage:
[code

[2019-04-18 23:55] erikerikson commented on #1439
@uclaeagit that recommendation is meant to reduce friction in getting started, not as production ready guidance.

[2019-04-19 00:03] uclaeagit commented on #1439
Well then the path to get to production-ready is a lot of trial and error as you find out what permissions you need.

[2019-04-19 06:16] michalorman commented on #5057
Actually better configuration is:

[code]

[2019-04-19 15:23] eligan commented on #6029
Hi guys

Our team develops a little more than ten AWS Lambdas. All of these based on serverless framework. And this morning all our build scripts failed because of new 1.41.0 release.

<img width="1680" alt="Screen Shot 2019-04-19 at 18 21 20" src="https://user-images.githubusercontent.com/10174661/56430753-0352fa00-62d0-11e9-8aaf-7427d9ef6dd8.png">

With 1.40.0 everything is working perfectly.
Pl

[2019-04-19 18:36] jimmdd commented on #6005
what's your layers' folder structure? The folder should be `[name]/nodejs/node_module`, for instance, base on your layers definition, the folder for your layers should be `nodejs/nodejs/node_module`

[2019-04-19 18:59] iq-dot commented on #6005
If I do that then I need to exclude the folder from the package but package
exclude doesn't work with the layers, I tried by creating a folder
structure and doing a symlink to the node modules folder at my project
root.

On Fri, 19 Apr 2019, 19:37 jimmdd, <notifications@github.com> wrote:

[2019-04-19 19:05] jimmdd commented on #6005
you don't have to do symlink or reference to node module folder, the layer will be added to your lambda after you deploy. you only need to require the module you use in your code. just add the modules you need as dev dependencies for you to run locally.

[2019-04-19 19:30] iq-dot commented on #6005
I'll give it a go with the dev depencies, which is a viable solution. I do
think I need the symlink though as the folder structure doesn't match how
node module packages are installed and maybe confusing to other developers
working on it.

How are you proposing I manage a folder structure for layers and a standard
node modules folder at root for working locally and managing depencies with
npm?

On

[2019-04-19 20:01] earksiinni opened #6033 "Unintuitive behavior for package exclude globs"
# This is a Bug Report

## Description

* What went wrong?

I wanted to exclude every subdirectory in my project root _except_ for `node_modules` when packaging. The glob I originally used was `!node_modules/**` under `exclude` (see below), but this actually has the opposite effect (includes `node_modules`) due to this code: https://github.com/serverless/serverless/blob/5d73e815efbe24242e9624c9e04

[2019-04-19 21:50] iamfrisbee commented on #4661
Found a bug in the plugin. Have a patch: https://github.com/birdcatcher/serverless-oauth-scopes/pull/2/commits/27b536e6d227e720bf838ec97dbfea20224f2e8d

[2019-04-20 07:49] ahmed-abdulmoniem commented on #6020
Thanks @eahefnawy

[2019-04-20 09:31] koterpillar opened #6034 "sls package doesn't work without AWS credentials"
# This is a Bug Report

## Description

* What went wrong?

Performing `sls package` of a function configured to receive AWS Lambda API Gateway events without having valid AWS credentials fails with "AWS provider credentials not found."

* What did you expect should have happened?

`sls package` creating the required deployment artifacts even when no AWS credentials are present in the environment.

[2019-04-20 22:04] TylerSustare opened #6035 "`sls plugin install` failing"
# This is a Bug Report

## Description

* What went wrong?
I wanted to install a serverless plugin through the CLI ` $ sls plugin install serverless-express`  but was met with an error `  Serverless command "plugin install serverless-express" not found. Did you mean "uninstall"? Run "serverless help" for a list of all available commands.`
* What did you expect should have happened?
I expected base

[2019-04-20 22:14] TylerSustare commented on #6035
Ahh I see what I did wrong. I searched for plugins with `$ sls plugin list | grep serverless-express` I didn't use `$ sls plugin search --query express`.

The `plugin search` command tells you that you should
[code]

When I did `$ sls plugin install --name serverless-express` it worked like a charm.

[2019-04-20 22:18] TylerSustare commented on #6035
I'll be closing this issue and opening up a feature request for the `$ sls plugin install` utility

[2019-04-20 23:27] alexreg commented on #5039
Any update on this lately? I take it both `--profile` and `AWS_PROFILE` still aren't supported?

[2019-04-21 02:51] steverob commented on #1819
Has anyone solved this? Essentially I'm trying to have a monorepo for multiple services with a shared top level `node_modules` and `package.json`.

Trying to figure out how to get `sls package` to resolve deps to the parent node_modules folder.

[2019-04-21 07:52] falkhoury opened #6036 "template for aws c++ lambda package"
# This is a Feature Proposal

## Description

* in https://github.com/serverless/serverless/tree/master/lib/plugins/create/templates there are templates for how to configure an aws lambda with different languages. I propose adding one for a aws c++ lambda where a zip file containing the package needs to be uploaded.
* the template should include the corresponding serverless.yml for running:
aws la

[2019-04-21 20:37] sajjad207 opened #6037 "Template validation error: Template parameters must be a map"
i am learning to write Cloudformation code in yaml and i cant seem to figure out whas the issue in this code  the error is "Template validation error: Template parameters must be a map"
heres my yaml Code
===========================================================

---
AWSTemplateFormatVersion: "2010-09-09"

Description: >
  My Frist Yaml Stack for cloudformation

Metadata:

Parameters:

Mappings:

[2019-04-22 07:07] TylerSustare commented on #6035
I just decided to make a PR for this instead of opening a feature request.

[2019-04-22 08:17] abadyan-vonage commented on #5572
Proper cloudformation support is here!
https://github.com/awslabs/serverless-application-model/issues/721#issuecomment-484979715

[2019-04-22 16:35] eahefnawy commented on #6035
@TylerSustare please do open an issue for your feature request 😊 ... I'm still not sure what the feature is. The title here made me think it's a bug.

[2019-04-22 16:35] #6035 closed

[2019-04-22 16:37] eahefnawy commented on #6032
having multiple serverless.yml files is a well known pattern. You could also utilize a JS file if you need something more dynamic:
https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files

[2019-04-22 16:42] eahefnawy commented on #6029
@cheesiangcs could you share your `serverless.yml`? I can't reproduce, so I'm curious about your config.

[2019-04-22 16:45] eahefnawy commented on #6034
@koterpillar what version were you using before upgrading?

[2019-04-22 16:49] eahefnawy commented on #6029
@eligan could you also share your yaml file? I have a theory that this might be due to the check we're doing for the Stage resource.

cc @pmuens

[2019-04-22 17:26] nkowdley commented on #5757
Is there any updates on this?

[2019-04-22 21:24] alexreg commented on #3964
Any updates? This is a much-needed feature for a number of us, it sounds like.

[2019-04-22 21:32] kirill578 opened #6039 "Variables: ${file..} source paths resolved always against service path"
# This is a Bug Report

## Description

* What went wrong?
when using `${file:(file.yml):something}` you always have to reference the relative path to the root serverless file regardless to what file you use it in.

* What did you expect should have happened?
consider the following structure:

`serverless.yml`
[code]

`config/all.yml`
[code]

`config/other.yml`
[code]

this reference will fail unl

[2019-04-22 22:20] koterpillar commented on #6034
I was alerted to this by CI, just verified that 1.40.0 works.

Is "package" supposed to work without credentials? Is it worth making a test for that?

[2019-04-22 22:45] atz commented on #4452
Same on a basic Alpine docker build.  E.G. `Dockerfile`:
[code]
Running `docker build .`:
[code]
Alpine runs everything as root, and I confirmed the directory exists with correct owner and permissions. I have to conclude the warning is generated falsely.

[2019-04-22 23:49] guice commented on #5025
A lot of stuff to do for a PR ... It's EOD for me -- I'm lazy. So, in the meantime, here's the solution:

Within this block: https://github.com/serverless/serverless/blob/381aa728cf65bd782852b09cce6ec954a14e2cb8/lib/plugins/aws/package/compile/events/apiGateway/lib/method/integration.js#L79

Add this `if` block:

[code]

Your new block should look like:
[code]
---

You can find the file locally on

[2019-04-23 07:36] Denjul commented on #5942
We have the same result as you, for some reason a Custom Authoriser trigger Disconnect rather then Connect. We also tried to split connect and disconnect to separate handlers but to no avail same result, it still trigger disconnect.

[2019-04-23 09:45] jacov commented on #2780
+1 this is still an issue

[2019-04-23 09:55] exoego commented on #2780
@jacoc Could you open a new ticket with detailed configuration and steps to reproduce?
+1 does not add any information to investigate.

[2019-04-23 10:23] pmuens commented on #6034
This seems to be related to the check we perform in https://github.com/serverless/serverless/pull/5692.

[2019-04-23 10:33] Frikitrok commented on #5711
you can use with --docker option and it will respect module path

[2019-04-23 11:02] #6029 closed

[2019-04-23 11:02] #6034 closed

[2019-04-23 11:13] pmuens commented on #6034
We've just pubklished https://github.com/serverless/serverless/releases/tag/v1.41.1 which should fix the problem.

[2019-04-23 11:14] pmuens commented on #6029
We've just published https://github.com/serverless/serverless/releases/tag/v1.41.1 which should fix the problem.

[2019-04-23 12:17] #5935 closed

[2019-04-23 12:50] mnapoli commented on #6031
@pmuens you added the `needs feedback` label, are you waiting for feedback from me? Let me know if I need to do anything to make the issue clearer.

[2019-04-23 14:47] jimmdd commented on #6005
I agree severless should handle the link between lambda and layers better on local.
Here is how I did it, (oraclelib folder is the layer)
<img width="257" alt="Screen Shot 2019-04-22 at 4 45 08 PM" src="https://user-images.githubusercontent.com/11653910/56528950-ff1c1c00-651d-11e9-90b2-22654ee3ea76.png">
for your layers: `root/layers/nodejs/node_modules/[your dependencies on layers]`
for your norm

[2019-04-23 15:14] #3464 closed

[2019-04-23 17:03] iq-dot commented on #6005
So do you manually keep the layers folder node modules and the normal node
modules in sync manually?

On Tue, 23 Apr 2019, 15:48 jimmdd, <notifications@github.com> wrote:

[2019-04-24 01:28] jimmdd commented on #6005
yes i would say manually in sync. layers supposed to be used to store some static things not change often. Recently, I just started to separate layers and manage them in different projects and then just ref them using their arn.

[2019-04-24 02:38] catamphetamine commented on #3176
For me, it was `source-map-support` that discarded the actual error message and stack trace.
Once I commented out the `source-map-support` import line then the error started showing the actual error message and stack trace.
https://github.com/evanw/node-source-map-support/issues/240

[2019-04-24 06:14] g-g-n opened #6041 "Using a variable for Seconds in Wait Type of a State in aws-step-function fails while deploy"
**What went wrong?**
When trying to use a variable for Seconds attribute in the Wait type of State in aws-step function, then the deploy command fails with below error:

_Invalid State Machine Definition: 'SCHEMA_VALIDATION_FAILED: Expected value of type Integer at /States/WaitTill/Seconds_

Also checked that the generated CFT json puts a double-quote around the variable.

**What did you expect sh

[2019-04-24 06:20] exoego commented on #6041
Are you using the `serverless-step-functions` plugin https://github.com/horike37/serverless-step-functions ?
If so, please open a ticket in the repostiroy for the plugin

[2019-04-24 06:24] g-g-n commented on #6041
Yes the plugin is used. Updated the information. Will open the ticket in that repository. Thanks.

[2019-04-24 07:50] pmuens commented on #6041
Thanks for opening @g-g-n and thanks for jumping in @exoego 👍

I'll close this issue since it's related to the `serverless-step-functions` plugin.

[2019-04-24 07:50] #6041 closed

[2019-04-24 10:21] #4661 closed

[2019-04-24 15:29] dvins commented on #5212
Is there any update or guidance on this?

[2019-04-24 19:02] tdmartino commented on #6012
@exoego thanks for the response. Sorry if I sounded impatient, I was just trying to figure out the process. I have a pr ready locally but I cannot push my branch. Can you create a branch for me so I can push my code for review?

[2019-04-24 19:34] b2a3e8 opened #6044 "serverless invoke hangs up in bitbucket.org pipeline and does not invoke function"
# This is a Bug Report

## Description
* What went wrong?
In a nodejs project which is deployed to AWS Lambda with serverless in a bitbucket pipeline, i invoke the function just after deploying it. Sometimes (about every 5th time) the pipeline times out after 5 minutes because there was no response from the `serverless invoke` command in over 4 minutes even though the invoked function has a timeou

[2019-04-24 22:16] duro commented on #4461
Any update here?

[2019-04-24 22:36] exoego opened #6045 "[AWS] Ability to preserve and reuse CloudWatch logs when stack is deleted and recreated"
# This is a Feature Proposal

## Description

I want to preserve CloudWatch Logs resources when deleting a stack, and then re-use it when recreating a stack with (almost) same configuration.

I believe this is useful because of recently-introduced [X-Ray support in API Gateway in serverless](https://github.com/serverless/serverless/pull/5692).
If I understand correctly, stacks should be removed th

[2019-04-24 23:12] ksnyde commented on #1918
I am fully against "manual configuration" but I'm left quite confused on what to do within Serverless to configure something as basic as logging for API Gateway. @jacob-meacham you're plugin seemed the most straight-forward approach but I must admit that I just couldn't grok it in enough detail to get it to work :(

[2019-04-25 00:36] zxdong262 opened #6046 "Tags overwrite problem"
# This is a Bug Report

## Description

How to reproduce it:
- Deploy with serverless.yml, no tags in function
- Add some tags in AWS lambda console(there is only stage tag)
- Deploy with same serverless.yml again
- The tags added in AWS lambda console are overwritten, removed.

Similar or dependent issues:

## Additional Data

* ***Serverless Framework Version you're using***: 1.41.1
* ***Operati

[2019-04-25 04:49] Tybot204 opened #6047 "Allow Fn::Join in stream event source"
# This is a Feature Proposal

## Description

I have a use case where I want to configure a lambda to read from a Kinesis stream with a different ARN based on account ID. This lambda will be deployed across different staging and production environments, and using the built in references for account ID simplifies config greatly.

Example config wanted:
[code]

This is currently not possible because

[2019-04-25 06:55] garethmcc commented on #6046
@zxdong262 This kind of behavior doesn't just occur for tags and could affect you across the stack. Once you create a stack using serverless, and by extension AWS CloudFormation, you should not make any changes to that infrastructure manually as you will see the issue you have just described.

If you need to have tags, you should probably add them in your serverless.yml configuration as per the do

[2019-04-25 08:09] zxdong262 commented on #6046
@garethmcc Thanks. Close it.

[2019-04-25 08:09] #6046 closed

[2019-04-25 09:29] tobilg opened #6048 "Serverless doesn't respect no_proxy/NO_PROXY environment variables"
# This is a Bug Report

## Description

* What went wrong?

I'm using Serverless to deploy projects via CI/CD pipelines on AWS. When being behind a corporate proxy, one needs to set `no_proxy`/`NO_PROXY` rules to be able to access AWS magic ips / metadata ips.

Accourding to the [sources](https://github.com/serverless/serverless/blob/master/lib/plugins/aws/provider/awsProvider.js#L139), only the p

[2019-04-25 10:33] #6012 closed

[2019-04-25 10:46] #5561 closed

[2019-04-25 14:25] imsatyam commented on #5025
@guice  Wondering if you can publish it as a plugin. :)
I am trying to create an edge-optimized Api Gateway which can call internal micro services using VPC Link proxy integration.

I wonder if there is a plan to support it as part of framework itself?

[2019-04-25 14:34] brendanfmartin commented on #5025
@imsatyam That would be a question for @horike37. I don't believe it would make sense to pull this into a plugin since its a baseline feature of API Gateway.

@guice; amazing work. If I have time this week I might submit a PR. I'll ping you if I can get it together for a review.

[2019-04-25 14:51] imsatyam commented on #5025
@brendanfmartin - couldn't agree more. Should be a part of framework.

@guice has already done an excellent work of putting together all that is required for PR. I can submit a PR. I did not find any test file for integration.js - means no more code to write than we already have! :P

[2019-04-25 15:01] mnapoli commented on #6031
I have opened a PR: #6049

[2019-04-25 16:43] goelshubham opened #6050 "Canary deployment with Serverless framework for AWS Lambda with events such as SQS, SNS, ApiGateway"
# This is a Feature Proposal

## Description

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
* If there is additional config how would it look

Similar or dependent issues:
* #12345

[2019-04-25 17:16] nosark commented on #5576
@scm-ns I don't have the time to dedicate to this issue currently. You can take it if you'd like.

[2019-04-25 19:10] imsatyam commented on #5025
@guice , @brendanfmartin - I spent some time today to create the PR. Please review.
Also, please feel free to share your suggestions on any improvement that can be made.

[2019-04-25 20:29] guice commented on #4539
+1 on this, too. If Serverless is going to allow easy deployments to AWS, it should allow easy deployments in all aspects it touches.

I don't see any reason why it can't incorporate a top-level `gateways:` key for direct interface with API Gateway without the need for all the convoluted `resources:` definitions. `gateways:` can reuse `function.events.http` functionality.

[2019-04-25 21:35] srashish opened #6053 "Only master alias works nothing else"
# This is a Bug Report

## Description

I'm facing issues while deploying my serverless application with different aliases. For example if I use
` sls deploy --stage=dev alias=test1 `

It throws a mapping error.

`An error occurred: pathmapping - Base path already exists for this domain name (Service: AmazonApiGateway; Status Code: 409; Error Code: ConflictException; Request ID: 5c0fac9d-67a0-11e9

[2019-04-25 23:44] Spechal opened #6054 "sls create path doesn't like the dot operator"
# This is a Bug Report

## Description
Using the dot operator or supplying an absolute path to the current directory causes the generator to create the provided directory structure instead of using it as a current working directory.

If this is intentional, my mistake and request documentation. The argument help section, to me, implies it works similar `cd pwd` or the current working directory to

[2019-04-26 00:44] duro opened #6055 "Enabling tracing in a multi-service setup throws ApiGatewayStage already exists"
# This is a Bug Report

## Description

* What went wrong?:

After enabling tracing and deploying my services, I begain getting the following error:

[code]

* What did you expect should have happened?

The deploy of my services should have succeed as it had before I enabled tracing

* What was the config you used?

[code]

* What stacktrace or error message from your provider did you see?

See ab

[2019-04-26 05:05] lukespice commented on #5700
@rdsedmundo Wondering if you ever get a chance to investigate? We're currently unable to upgrade due to this bug so missing out on new features and bug fixes.

[2019-04-26 07:29] pmuens commented on #6053
Hey @srashish thanks for opening :+1:

Could you post your `serverless.yml` file? What plugins are you using?

[2019-04-26 07:32] pmuens commented on #6055
Thanks for opening @duro 👍

This is an issue on AWS end and a limitation which is documented in the API Gateway docs --> https://serverless.com/framework/docs/providers/aws/events/apigateway/#api-gateway

The only way around this is to remove the API Gateway and re-deploy it with tracing enabled.

[2019-04-26 07:32] #6055 closed

[2019-04-26 07:51] danielbayerlein commented on #6044
I can confirm this issue.

[2019-04-26 08:08] srashish commented on #6053
@pmuens It started happening after I used serverless-aws-alias
plugins:
  - serverless-pseudo-parameters
  - serverless-iam-roles-per-function
  - serverless-aws-resource-names
  - serverless-domain-manager
  - serverless-plugin-tracing
  - serverless-plugin-canary-deployments
  - serverless-plugin-aws-alerts
  - serverless-webpack
  - serverless-plugin-git-variables
  - serverless-prune-plugin

[2019-04-26 12:25] AlexeyPlodenko opened #6056 "Multiple methods per function"
# This is a Feature Proposal

## Description

* I would like to list multiple methods per functions, instead of copy-pasting each function's configuration for each method separately. I am aware of using ANY for this purpose. But this seems to be an overkill for the situations when I need to handle only GET and POST.
* Possible config. may look like that:
[code]
or
[code]
Internally this may unfold

[2019-04-26 14:48] onebytegone opened #6058 "Existing URLs Return 500 After Moving From Lambda Per Route To Single Lambda With {proxy+}"
# This is a Bug Report

## Description

* What went wrong?
   * When "merging" existing functions with distinct routes into a new function that uses `{proxy+}` (à la [Lambda API][lambda-api], [`lambda-express`][lambda-express]), the preexisting APIGW routes (i.e. URLs that worked before the deploy of the merged function) will return a 500 after the first deploy. Once the stack is redeployed with `

[2019-04-26 16:55] pangolingo opened #6059 "Links in docs are not obvious"
# This is a Bug Report

## Description
When reading the Serverless documentation, links are not differentated from regular text. That means it's not always obvious when you can click to find more information.

Expected: links are underlined or colored or bolded to make them obvious.
Actual: links look exactly the same as the other text, and are only underlined on hover.

This page has two links, b

[2019-04-27 12:56] sime opened #6060 "AWS TypeScript template does not produce ES2017 code"
# This is a Bug Report

## Description

* What went wrong?
Code generated by webpack in the `aws-nodejs-typescript` template does not produce ES2017 code as specified in `tsconfig.json`.

* What did you expect should have happened?
A `handle.js` file with ES2017 code.

* What was the config you used?
[code]

Similar or dependent issues:
* #5607

## Additional Data

[code]

Handler generated by web

[2019-04-27 13:02] sime commented on #6060
Force reference, when `import 'source-map-support/register';` is not removed the webpack handler file size is as follows:
[code]

[2019-04-28 01:45] alexreg commented on #2765
Progress update on this?

[2019-04-28 11:28] ricky1uphealth commented on #3967
We fixed it by moving
`arn:aws:es:${self:provider.region}:#{AWS::AccountId}:domain/abc/*`
to
`arn:aws:es:${self:provider.region}:*:domain/abc/*`

[2019-04-28 11:29] rickysahu commented on #3967
We fixed it by moving
`arn:aws:es:${self:provider.region}:#{AWS::AccountId}:domain/abc/*`
to
`arn:aws:es:${self:provider.region}:*:domain/abc/*`

[2019-04-28 22:34] MrPeker commented on #1518
I had the same problem. I tried `$ export AWS_PROFILE="default"` command and resolved my issue.

[2019-04-29 17:50] cnufed commented on #6059
Is this issue prevalent only for this page. I see other pages also has similar convention. What is the expectation here? Is it to match the style to something like [this](https://serverless.com/blog/serverless-express-rest-api/).

[2019-04-29 18:39] pangolingo commented on #6059
This issue occurs on multiple pages in the documentation.

If the links in the docs used the red underline from the blog, that would be a great solution.

[2019-04-29 20:15] jextrevor commented on #4285
I'm still having this issue with Serverless 1.41.1.

[2019-04-29 20:26] jackiemunroe commented on #5426
I had this issue and just solved it. For posterity, I am putting it here, since this is where the google sent me when I searched for an answer. Installing the plugin with the following command resolved the issue for me:
`serverless plugin install --name serverless-dynamodb-local`

[2019-04-29 20:56] jextrevor opened #6065 "Cloudformation Custom Resource doesn't get called"
# This is a Bug Report

## Description

* What went wrong?
I created a CloudFormation custom resource that calls one of my serverless lambda functions. When creating the stack for the first time, the lambda associated with the custom resource doesn't get called, and creating the stack hangs.
* What did you expect should have happened?
The lambda associated with the custom resource should have exec

[2019-04-30 01:45] tbabak commented on #3212
@michaelm88 this does not seem to be the right place for your question but use `serverless-plugin-existing-s3` maybe?!

[2019-04-30 11:27] Nnxoxo commented on #4717
Have you tried guys to use cmd? I also encountered this issue, but just running this command in cmd, seems, solving the issue.

[2019-04-30 11:48] #6047 closed

[2019-04-30 18:07] pmuens opened #6069 "Different CLI color when deployment is skipped"
The CLI color should be different when the deployment is skipped.

[2019-04-30 18:57] nsaud01 commented on #5753
I'm getting a similar error:

[code]

Here's my serverless.yml
[code]

[2019-04-30 19:40] apoorvavinod commented on #4471
Possible work-around through aws-cli:
`aws lambda delete-event-source-mapping --uuid <UUID from error message>`

[2019-04-30 21:30] CGreenburg commented on #3952
There hasn't been an update on this in quite a while. Are there still plans on having this implemented in the future?

Just a couple of my thoughts on the matter..

I see this being very similar to how Terraform handles state where the state can either be local or remote. Local state is currently how things are handled, however it probably needs to be changed so that all stage deploy information i

[2019-04-30 23:37] barnumbirr commented on #3267
Current workaround involves setting environment variable with some Maven magic, then referencing it in serverless.

In ```serverless.yml```

[code]

and in your Jenkins build configuration

[code]

Cheers.

[2019-05-01 05:21] virendra656 commented on #2508
This error is common when the AWS Iam Role you are creating becomes too large. It has a max set size. The same thing would happen if you created an AWS IAMRole via inline json and the policy became too large. Either reduce the IAMRole Policy size or break it up into several policies

Ref
https://stackoverflow.com/questions/53870075/maximum-policy-size-error-from-serverless-framework

[2019-05-01 10:53] malohtie opened #6071 "EACCES: permission denied, open '/var/www/.serverlessrc.568294108'"
Error --------------------------------------------------

  EACCES: permission denied, open '/var/www/.serverlessrc.568294108'

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

  Stack Trace --------------------------------------------

Error: EACCES: permission denied, open '/var/www/.serverlessrc.568294108'
    at Object.openSync (fs.js:438:3)
    at Func

[2019-05-01 11:14] rafaelrpinto opened #6072 "`key.startsWith is not a function` when including resources from external files"
# This is a Bug Report

## Description

* What went wrong?

When deploying a stack which the resources section includes resources from an external file the deployment fails with the following message `key.startsWith is not a function`

* What did you expect should have happened?

The deployment should have succeeded or maybe a meaningful validation error message displayed.

* What was the config y

[2019-05-01 12:37] pmuens commented on #5572
Hey everyone 👋

I just took a stab at this and implemented this via https://github.com/serverless/serverless/pull/6073.

Can you provide some feedback in the PR what configurability is needed? I tried to start with a pretty simple setup where only existing load balancers can be used via an `arn`.

Thanks in advance and see you over there...

[2019-05-02 11:39] vamcs commented on #3191
Are there any updates on this?

Thanks for the solution, by the way! It would be nice avoiding having to set this header manually in the console though.

[2019-05-02 13:39] rsshilli commented on #3191
You don't need to set the header manually through the console any more.  I solved this problem by putting my custom API Gateway headers in its own CF file.  Then I delete that stack, run serverless to update my Lambdas, and then reapply the that stack to add the right things back to API Gateway.  This system has been running pretty flawlessly for us for about a year.

[2019-05-02 18:16] nford commented on #3661
@pmuens this issue should not be closed, @dstainer could you re-open it? And if you found a solution please share. I am having this issue trying to export a layer to another service stack.

[2019-05-02 18:52] schmiddy commented on #2856
Here's a solution, similar to the idea of manually creating an IAM role suggested by @mymattcarroll . You can have the `resources` section of your serverless template create the role, then reference that role in your function, like this:

[code]

The tricky part is getting all the permissions that Serverless would normally be creating for you automatically - above are basic CloudWatch logging perm

[2019-05-02 21:28] alikian commented on #1110
I created an MFA plug-in here https://github.com/alikian/mfa-serverless-plugin

[2019-05-03 11:36] pmuens opened #6076 "Drop Node.js 4 and 6 support"
The major cloud providers deprecated such Node.js versions. Since the Framework alwasy supports Node.js versions the major cloud providers support we should deprecate such Node.js versions as well due to security implications and lack of new features.

[2019-05-03 11:39] jplock commented on #6076
Does this also mean dropping bluebird in favor of native Promises and being able to use async/await?

[2019-05-03 11:43] pmuens commented on #6076
Yes, I think so! I'd be so happy if we finally use `async` / `await`. We had so many bugs just because of race conditions or tests simply not testing what they should due to problems with proper Promise handling.

[2019-05-03 12:35] dschep commented on #5039
@alexreg does the `AWS_SDK_LOAD_CONFIG` env var not work for you?

[2019-05-03 15:08] agustim commented on #4979
If you check fnDeploy.js in serverless-fn module line 242 you can read:
[code]

The problem: FN_REGISTRY is not in environment, you can test:

FN_REGISTRY=your-docker-hub-user sls deploy -v

Deploy build a docker image, and push to your docker-hub space, but no work, yet!
[code]
I try run docker image with:
[code]
Any Idea?

[2019-05-03 15:50] alexreg commented on #5039
@dschep Will try later. Is this documented anywhere though? I don't see it.

[2019-05-05 05:00] diegoaguilar commented on #5209
@AndreaAdvanon did you find a workaround or fix for this?

[2019-05-05 05:36] diegoaguilar commented on #5316
@oniice Did you find a workaround for this?

[2019-05-05 16:45] jabreupace opened #6080 "ServerlessError: AWS provider credentials not found"
[code]

this .yml file

[2019-05-06 07:38] diegoaguilar commented on #5288
Just for reference to anyone running into this issue:

* `iamRoleStatements` MUST be placed under `provider` property in `serverless.yml`
* The keys used locally are NOT the same was the keys functions will use running once they get deployed

[2019-05-06 08:12] #6069 closed

[2019-05-06 08:39] AndreaAdvanon opened #6081 "Deploy a new service with tracing.apiGateway enabled fails"
# This is a Bug Report

## Description
Trying to deploy a new service with `tracing.apiGateway` enabled fails:
[code]
[code]
without `apiGateway: true` it works.

## Additional Data

* ***Serverless Framework Version you're using***: 1.41.1
* ***Operating System***: Fedora 29
* ***Stack Trace***:
* ***Provider Error messages***:

[2019-05-06 10:06] #4461 closed

[2019-05-06 10:27] pmuens opened #6082 "API Gateway Websockets API Logs"
Implement API Gateway Logs for Websockets.

Refs https://github.com/serverless/serverless/issues/4461

[2019-05-06 10:51] Frikitrok opened #6083 "Docker args not working properly."
# This is a Bug Report

## Description

* What went wrong?

"sls invoke local --function --docker --docker-arg "-e AWS_ACCESS_KEY_ID=***" --docker-arg "-e AWS_SECRET_ACCESS_KEY=***" returning error 'dockerArgOption.split is not a function'

* What did you expect should have happened?

Should proper execute lambci container with docker args passed.

* What was the config you used?

sls invoke local

[2019-05-06 18:04] seriouscoderone commented on #3184
I believe the workaround is to just use `Ref` https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-ref.html

You may have to nest a `Ref` inside a `Fn::Join` in order to get the `Fn::Sub` functionality.

For example:
`"Fn::Sub": "arn:aws:iam::${AWS::AccountId}:root"`
Becomes:
`"Fn::Join": ["", [ "arn:aws:iam::", { "Ref": "AWS::AccountId" }, ":root"]]`

[2019-05-06 18:59] tobilg commented on #6072
I had a similar problem. Try this:

[code]

[code]

[2019-05-06 23:52] tommedema commented on #4313
Is there a way to make the team's prioritization in terms of issues like these (which are important yet 1+ years old without activity) more transparent? Would be nice to know if this is ever going to happen or if we should look for workarounds.

[2019-05-07 05:49] joshrp commented on #4964
It works like a cursed charm. For a few minutes you have no reserved concurrency or concurrency limits, now we have to design around that too. If this really is the solution it should be built in to Serverless: Update the stack with no `reservedConcurrency` then make an API call to update that setting on each function once it's finished so there's minimal window for failure and it's guaranteed to

[2019-05-07 07:08] tobilg opened #6086 "IoT TopicRule naming conventions are not checked, obscure error thrown"
# This is a Bug Report

## Description

I was trying to deploy a Serverless stack with a IoT TopicRule as event trigger for a Lambda function like this:

[code]

Upon deployment, I saw the following error message:

[code]

This is assumingly caused by not validating the TopicRule `name` property as described in https://docs.aws.amazon.com/iot/latest/apireference/API_TopicRule.html (Pattern `^[a-zA

[2019-05-07 10:49] fredmararac opened #6087 "AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException"
* What went wrong?
After successful deployment of stack. Deployment of succeeding code changes causes error.
* What did you expect should have happened?
Successful deployment of code changes, stack will be updated.
* What was the config you used?
NodeJS 8.10
* What stacktrace or error message from your provider did you see?
Serverless Error ---------------------------------------

  An error occur

[2019-05-07 13:34] maxcbc opened #6089 "failed aws deploy not waiting for rollback to complete"
# This is a Bug Report

## Description

### What went wrong?
A deploy failed on when trying deploy a CI stack.
We then automatically run `sls remove` in order to cleanup the CI stack.
The stack was in `UPDATE_ROLLBACK_IN_PROGRESS` which causes the `sls remove` command to fail leaving us with an orphan cf stack.
### What did you expect should have happened?
I would expect the deploy command to say

[2019-05-07 15:01] kevlarr commented on #5888
This would definitely be a wonderful-to-have for those of us with Lambda functions tied to API Gateway HTTP events

[2019-05-07 15:32] fredmararac commented on #6087
Hi all, this issue is already resolved.
I was able to find out that the missing tag value in _serverless.yml_ caused the errors

[2019-05-07 15:32] #6087 closed

[2019-05-07 16:27] Chrischuck commented on #5987
Is this currently being worked on? I'd be happy to help.

[2019-05-07 23:49] Chrischuck commented on #6076
If you need help with this, I'd be happy to jump on!

[2019-05-08 01:03] tommedema opened #6090 "Development dependencies of dependencies are included in package when using NPM + Lerna"
# This is a Bug Report

## Description

* What went wrong?
Serverless packages dev dependencies of dependencies when using lerna (without hoisting)

* What did you expect should have happened?
Serverless should not package dev dependencies of dependencies

* What was the config you used?

Run this in the lerna workspace:

[code]

Run this inside a lerna package (not the workspace):
[code]

The res

[2019-05-08 01:29] tommedema commented on #6090
An ugly and slow workaround I am currently using is to install the `serverless-plugin-scripts` plugin and have it re-install the entire workspace with production only dependencies, then package, and then re-install everything again with all development dependencies too:

serverless.yml
[code]

Of course this is super slow and error prone, so I hope a real solution can be found.

[2019-05-08 02:12] joonhwa opened #6091 "APi gateway endpoint not deleted after sls remove"
# This is a Bug Report

## Description

Endpoint still exists in API Gateway stage after running sls remove

Steps to recreate:
1. sls create --template aws-nodejs --path helloService
2. Edit apiGateway key in serverles.yml to point to an existing shared API gateway
3. sls deploy (to stage v1)
4. Invoke function via http endpoint. All is good.
4. sls remove

* What went wrong?
Endpoint still exist

[2019-05-08 07:06] pmuens commented on #6091
Hey @joonhwa thanks for opening :+1:

Not quite sure if I understand what's going on here. Given that you're introducing an external REST API via the `provider` config it's not under direct management by the Serverless Framework. In that case the REST API needs to be managed externally.

[2019-05-08 08:25] joonhwa commented on #6091
@pmuens  Thanks for replying. Let me clarify a bit more on my issue.

1. I used terraform to spin up an API gateway and put in whatever config i needed. That is all done and good.
2. I wanted to use severless solely for managing functions. sls deploy should deploy function code to lambda and event trigger to the referenced api gateway and sls remove should remove every single trace of everything.

[2019-05-08 13:35] pmuens opened #6094 "Enhancements for API Gateway REST API log setup"
With https://github.com/serverless/serverless/pull/6057 we've added support for API Gateway REST API access logs.

Our main goal was to keep the initial implementation as simple as possible.

With this issue we want to gather more feedback on the required level of configurability. Feel free to join the discussion and discuss what you need when working with API Gateway logs.

[2019-05-08 16:42] gootdude commented on #6094
please expose the following fields for configuration of the log group and log format

- AWS::Logs::LogGroup
    - Properties
        - LogGroupName
        - RetentionInDays
- AWS::ApiGateway::Stage
    - AccessLogSettings
        - Format

Here's our current serverless.yml that we use to create the log group and set retention time as well as the custom format:

[code]

[2019-05-08 20:50] vasudevan-palani commented on #5452
Forked from KnupMan, another version of the plugin which is compatible with older version of nodejs (6+) is at https://github.com/vasudevan-palani/serverless-associate-waf.git

[2019-05-09 01:51] mayupumi commented on #5288
Hi all. I still have same issue..
I run `serverless create --template aws-nodejs` and named it `my-service`.
Edited serverless.yml a little like
[code]
The handler.js is as is
[code]
When I run `sls deploy`, I get
[code]

My IAM role have "AdministratorAccess". I could create s3 bucket via awscli so I believe I have right access.
Does anyone know the problem?
As @diegoaguilar described the "key" i

[2019-05-09 04:27] langep opened #6096 "Feature Request: Usage plans for Websockets API"
# This is a Feature Proposal

## Description

AWS supports setting ApiKeyRequired to true for the $connect route. This is useful specifically when setting the `apiKeySource` value to "AUTHORIZER". Currently, there is no way to add these values from serverless.

My main goal is to connect the WebSockets API Gateway to the same usage plans created for the Rest API and set the ApiKeyRequired value on

[2019-05-09 09:12] oniice commented on #5316
Unfortunately not :(

[2019-05-09 10:21] franciscocpg commented on #6094
Could we have something like `sls logs -f function` but for this api gateway logs?

[2019-05-09 14:55] alexdebrie commented on #6094
Would be great to support the `LoggingLevel` property as well to enable `INFO` or `ERROR` execution logs. Basically Step 5 [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-logging.html#set-up-access-logging-using-console)

[2019-05-09 15:22] jeffogata opened #6098 "Deploy fails with a CORS configuration error"
# This is a Bug Report

## Description

* What went wrong?

The following `deploy` command fails on serverless version 1.42.0 with a CORS configuration error.  The same deployment succeeds with version 1.41.1.

`sls deploy --stage $env --region $rgn --package $CODEBUILD_SRC_DIR/artifacts/$env -v`

* What did you expect should have happened?

The deployment should have succeeded, as it did in versi

[2019-05-09 15:38] drissamri opened #6099 "API Gateway deployment fails on 1.42.0"
# This is a Bug Report

## Description

* What went wrong?
sls deploy works on 1.41.1 but gives an API Gateway error 1.42.0 - the error seems to be related to tags we are setting - but worked on all version before.

* What did you expect should have happened?
Deployment succeeds like 1.41.1. This happens even after a clean install (sls remove && sls deploy)

* What was the config you used?
We set

[2019-05-09 15:43] aaronjensen opened #6100 "Missing required key 'restApiId' in params in 1.42.0"
# This is a Bug Report

## Description

* What went wrong?

After upgrading to 1.42.0, I can no longer deploy. I get:

[code]

* What did you expect should have happened?

It should have worked like the previous version did.

* What was the config you used?

<details>
<summary>`serverless.yml`</summary>

[code]

</details>

* What stacktrace or error message from your provider did you see?

See ab

[2019-05-09 15:46] aaronjensen commented on #6100
Additional debug info:

[code]

[2019-05-09 15:50] umerthow commented on #6098
i got the same issue, but when i downgrade to v. 1.38 , it run smoothly

[2019-05-09 16:08] et304383 commented on #6098
Confirming this issue too.  Seems like a regression test is in order.

[2019-05-09 16:30] dwbelliston commented on #6072
I had this same error and if i dropped the Description block it worked with just using the array notation as mentioned in docs

https://serverless.com/framework/docs/providers/aws/guide/variables#multiple-configuration-files
https://github.com/serverless/serverless/pull/5250

[2019-05-09 16:46] tgthies commented on #6098
Same here!

[2019-05-09 16:52] nikwerhypoport opened #6102 "Sudden CORS Configuration Error when switching to version 1.42.0"
# This is a Bug Report

## Description

* What went wrong?
We are using serverless in the context of an AWS codeBuild Pipeline.
Serverless is installed via npm and a package.json.
When executing `serverless deploy` for AWS Lambdas we suddenly got a
message about cors misconfiguration.
Switching back to 1.41.1 'fixed' the error and we could deploy regularly.

The commands are:
[code]

* What did yo

[2019-05-09 17:01] andrit commented on #6098
me too

[2019-05-09 17:02] trilom commented on #6102
Same issue found in https://github.com/serverless/serverless/issues/6098

[2019-05-09 17:13] jonathanalberghini commented on #6098
me too

[2019-05-09 17:35] aidinkhosrowshahi commented on #6098
it happened to me :

  Serverless Error ---------------------------------------

  You can only use "origin" or "origins", but not both at the same time to configure CORS. Please check the docs for more info.

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          github.com/serverless/serverless/issues
     Issues:        forum.serve

[2019-05-09 18:21] manemarron opened #6103 "Deploy fails with "Cognito claims can only be filtered when using the lambda integration type" after updating to 1.42.0"
# This is a Bug Report

## Description

* What went wrong?
We are using Cognito authorizer for a serverless function. `sls deploy` on versions previous to 1.42.0 worked correctly. After update, the stack is being updated correctly but the deploy fails with message `Cognito claims can only be filtered when using the lambda integration type`.

* What did you expect should have happened?
`sls deploy`

[2019-05-09 18:29] RaissaBergamini commented on #6098
Same problem.

Serverless Error ---------------------------------------

You can only use "origin" or "origins", but not both at the same time to configure CORS. Please check the docs for more info.

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          github.com/serverless/serverless/issues
     Issues:        forum.serverless.com

[2019-05-09 18:33] dschep commented on #6098
I'm working on a fix, should be able to release it today. for now, use `cors: { origin: '*' }` instead of `cors: true` to work around this bug.

[2019-05-09 18:41] peachepe commented on #6103
It is caused by https://github.com/serverless/serverless/pull/6000

We had to stick with 1.41.1 for deployments for now.

[2019-05-09 19:03] adamclerk commented on #6100
I'm seeing this error as of this morning as well.

[2019-05-09 20:06] sharstream commented on #6100
Same error  from here, I tried to deploy the serverless yml but it couldn't deploy successfully because  is missing required key 'restApiId' in params.

[2019-05-09 20:15] #6098 closed

[2019-05-09 20:15] #6102 closed

[2019-05-09 20:33] dschep commented on #6098
Fixed in 1.42.1

[2019-05-09 20:37] jprivillaso commented on #5611
Does anyone know if this feature is going to be added to cloudformation ?

[2019-05-09 22:56] abk-code opened #6109 "Proxy issue"
# This is a Bug Report

## Description

* What went wrong?
serverless deploy failed due to proxy issue.
* What did you expect should have happened?
Should have deployed the lambda.

* What was the config you used?
`service: data-ingestion

frameworkVersion: ">=1.34.0"

custom:
  pythonRequirements:
    layer: true
    slim: true
    dockerizePip: true`

* What stacktrace or error message from your

[2019-05-09 23:11] herebebogans commented on #6103
👽

Sorry about that I will look into it.

[2019-05-10 00:05] Imran99 commented on #5735
Did you find a resolution? We are getting the same thing, but it happens intermittently, rerunning fixes it.

[2019-05-10 01:41] ahmed-abdulmoniem commented on #5923
Any updates on this?

[2019-05-10 05:31] ceefour commented on #6100
👍 I'm getting this too with v1.42.1. I'll try downgrading to v1.41.1.

[2019-05-10 05:40] ceefour commented on #6099
Seems to be a regression of #5693.

[2019-05-10 07:18] mrusme commented on #6100
Same for me:

[code]

[2019-05-10 10:27] davidfarinha opened #6112 "API Gateway "Enable Detailed CloudWatch Metrics""
# This is a Feature Proposal

## Description

I saw it's possible to configure the "Enable CloudWatch Logs" setting in an API Gateway stage with [this PR](https://github.com/serverless/serverless/issues/4461), however it's not still currently possible to configure the "Enable Detailed CloudWatch Metrics" setting.

Similar or dependent issues:
* #4461
* #1918
* https://github.com/serverless-heaven/

[2019-05-10 12:29] exoego commented on #6103
@herebebogans
I suspect https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/events/apiGateway/lib/validate.js#L286
In javascript, empty array is truths.
I think empty claims are evaluated as true and raise this error

[2019-05-10 12:40] medikoo commented on #6100
Fixed and published with v1.42.2

[2019-05-10 12:50] fabianib102 commented on #6100
I fix this problem, changing version with  v1.41.1

[2019-05-10 13:54] pmuens opened #6114 "Setup integration test scaffolding / logistics"
Setup scaffold for our more complicated integration tests. This includes the ability to run tests in parallel and an automatic QA account cleanup via AWS Nuke.

[2019-05-10 13:56] pmuens opened #6115 "API Gateway - Create sophisticated integration test for complex service"
Create an AWS API Gateway integration test which includes a pretty complex service setup.

We should test:

- A self-contained service
- A service referencing an external REST API

[2019-05-10 13:59] pmuens opened #6116 "Fix flaky unit tests"
Rifght now our unit tests are pretty flaky. We should indentify the root cause and fix it to regain confidence in it.

The problem can be reproduced with the help of this branch: https://github.com/serverless/serverless/tree/wtf-tests

[2019-05-10 14:03] pmuens commented on #6112
Hey @davidfarinha have you tried to setup logs via:

[code]

[2019-05-10 14:08] davidfarinha commented on #6112
Hey @pmuens, yes I'm using the latest version and have API Gateway logs enabled. This enables "Enable CloudWatch Logs" but not "Enable Detailed CloudWatch Metrics" (see below).
![image](https://user-images.githubusercontent.com/3890344/57533359-7aab0500-7335-11e9-889c-f0afad4edb52.png)

[2019-05-10 14:28] theobribeiro opened #6117 "Cannot read property 'events' of undefined"
# This is a Bug Report

## Description

* What went wrong?
An error when deploying a package. The service is deployed correctly but the Package plugin is throwing an error at the end. If deploying without packaging it first, no errors are thrown but I want to package first so I can have different stages in my CI.

    Commands run:
    * `sls package -p package`
    * `sls deploy --package package

[2019-05-10 14:39] jeffogata commented on #6117
Having the same problem with version 1.42.2

[2019-05-10 14:43] laneschmidt opened #6118 ""Serverless plugin "serverless-plugin-existing-s3" initialization errored..." when deploying after update to 1.42.2"
# This is a Bug Report

## Description

* **What went wrong?**
I updated Serverless this morning (from 1.41.1), then tried to deploy my project with `sls deploy -v`, then ran into the error below.
* **What did you expect should have happened?**
Normal deployment
* **What was the config you used?**
Here's my `serverless.yml`:
[code]
* **What stacktrace or error message from your provider did you se

[2019-05-10 14:52] laneschmidt commented on #6118
I was able to deploy after installing the plugins using Yarn.

[2019-05-10 15:05] alaasdk commented on #6100
I rolled back to version v1.41.1 and everything worked just fine.

`npm i -g serverless@v1.41.1`

[2019-05-10 15:35] bpg commented on #6100
Just tried to deploy with 1.42.2:
[code]

[2019-05-10 15:37] medikoo commented on #6100
@bpg Thanks for report. Can you run it with `-d` and show us full error stack trace, also can you show us `serverless.yml` (at least related details)?

[2019-05-10 15:47] bpg commented on #6100
Now I can't reproduce it, simple re-deploy of existing stack helped. But this time I also removed `node_modules` folder, so that might be a caching issue.

[2019-05-10 15:50] medikoo commented on #6100
Interesting, especially that in env information v1.42.2 was listed.

[2019-05-10 15:53] bpg commented on #6100
I have plugins:
[code]
custom domain config
[code]
provider settings:
[code]
I have multiple lambda handlers configured with http event like:
[code]
and finally a custom resource in `resources`:
[code]

[2019-05-10 15:58] guikaercher commented on #6100
We were running into another problem here and we decided to delete stack and redeploy, but after that we have this error too.
Our deploy runs through circle CI and I did already changed the version to the 1.42.2 but the problem still happening.

`  Serverless Error ---------------------------------------

  Missing required key 'restApiId' in params

  Get Support ---------------------------------

[2019-05-10 15:59] medikoo commented on #6100
Thanks @guikaercher  are you by chance also define `AWS::ApiGateway::RestApi` as custom resource?

Can you sure relevant bits of `.serverless.yml` with us?

[2019-05-10 16:02] guikaercher commented on #6100
Yes, I replaced every sensitive info with "hidden"

# serverless.yml

service: hidden-hidden-hidden

plugins:
  - serverless-offline
  - serverless-webpack
  - serverless-dotenv-plugin

custom:
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  prd:
    vpc:
      securityGroupIds:
        - sg-hidden
      subnetIds:
        - subnet-hidden
        - subnet-hidden
  dev:

[2019-05-10 16:04] medikoo commented on #6100
Great thanks @guikaercher, we're looking into it

[2019-05-10 16:05] Enase commented on #6117
+1

[2019-05-10 16:06] guikaercher commented on #6100
About API GW I'm not using inside Resource itself, but I'm referencing it at receiver lambda trigger event
[code]

[2019-05-10 16:11] emibelli opened #6120 "Packaging functions individually causes "no serviceName.zip file found in the package path you provided""
# This is a Bug Report

## Description

`sls deploy` fails when packaging functions individually, but succeeds when not packaging functions individually (increasing package size and adding unnecessary files to Lambda function).

* What went wrong?
`sls deploy` fails when packaging functions individually.
* What did you expect should have happened?
`sls deploy` should deploy with individually packa

[2019-05-10 16:12] bpg commented on #6100
more fun stuff -- exactly same code, deployment from my Mac works, but deployment from CircleCI gives me the same error as before. I can spot only difference in Node version: local: v11.14.0, CirceCI: 10.15.3.

[2019-05-10 16:13] guikaercher commented on #6100
My circle builds with this docker image: `node:8.15-jessie-slim`, in my computer I'm using node `v8.16.0`

[2019-05-10 16:16] #6118 closed

[2019-05-10 16:23] emibelli commented on #6120
Removing `functions.functionN.package.individually` and leaving `provider.package.individually: true` does not package functions individually but makes deployment succeed.
Removing `functions.functionN.package.individually` and `provider.package.individually` does not package functions individually but makes deployment succeed.
Removing `provider.package.individually` makes deployment fail with th

[2019-05-10 16:28] aidinkhosrowshahi commented on #6100
I am getting this error for new version:

this is my config and it used to work

apiGateway:
    restApiId:
      'Fn::ImportValue': "RestApiId-${self:custom.stage}"
    restApiRootResourceId:
      'Fn::ImportValue': "v0-${self:custom.stage}"

Serverless Error ---------------------------------------

  Expected params.restApiId to be a string

  Get Support ---------------------------------------

[2019-05-10 17:15] exoego commented on #6103
@manemarron
Are you sure your `authorizer` does not have `claims` property?

I can reproduce `Cognito claims can only be filtered when using the lambda integration type` error when I added `claims: []` to the authorizer in the sample you provided.
If `claims` property do not exist, it seems deployable without error.

[2019-05-10 17:19] charles-chen commented on #6117
was getting the same issue - looks like it's potentially something to do with the latest release. I rolled back to version 1.41.1 and it's working again.

[2019-05-10 17:22] aquavikas81 commented on #6117
We were getting the same error on 1.32.0 as well

[2019-05-10 18:00] Enase commented on #6117
version 1.41.1 works well for me

[2019-05-10 18:22] viktorlarsson commented on #6100
Same error occuring here on BitBucket pipelines on v1.42.2 Using node:10.6.0.

[2019-05-10 18:58] ChristophP commented on #6117
wow, I thought I was the only one. I am having the same issue.
`1.41.1` worked. After upgrading to `1.42.1` the error started occuring when running
[code]
`sls deploy` works fine without the `--package` option. The error occurs in this file `/lib/plugins/aws/package/compile/events/apiGateway/index.js:77:28` and the problem seems to be that in `1.42.1` the property `this.validated` is not set when

[2019-05-10 19:47] bpg commented on #6100
Here is the log from my failing deployment:
[code]

[2019-05-10 21:05] jextrevor commented on #6065
I was able to fix this by turning off lambda versioning in the serverless.yml. But the issue is still present for versioned lambdas.

[2019-05-10 22:19] DrakkenSaer commented on #4630
I too am experiencing this problem.

[code]

After running `sls package` while supplying all the option variables, I can see the VPC values in `.serverless/serverless-state.json` but the values do not appear in `.serverless/cloudformation-template-update-stack.json`

[2019-05-11 00:16] rafaelrpinto commented on #6072
Thanks @tobilg and @dwbelliston.
Removing the description attribute worked for me.

[2019-05-11 13:15] mushketyk opened #6123 "Deployment fails for an existing API Gateway stage once tracing.apiGateway is enabled"
# This is a Bug Report

## Description

* What went wrong?

After enabling X-Ray tracing is enabled the next deployment to an existing stack fails.

* What did you expect should have happened?

An API Gateway stage should be updated and deployment should succeed.

* What was the config you used?

Added the following to the existing `serverless.yml`:

[code]

* What stacktrace or error message from

[2019-05-11 21:01] ozoli commented on #6100
I reproduced this error following the instructions for an AWS GoLang example [here](https://github.com/shouldroforion/aws-golang-terraform-colonies)

[2019-05-12 03:03] batwood001 opened #6124 "Pass --stage to `invoke local`"
# This is a Feature Proposal

## Description

As a user of the `sls invoke local` command, I would like to use an argument to specify a path to a `config.[dev|qa|local].json` file for loading environment variables into the locally invoked function.

[2019-05-12 06:58] jgordor commented on #6100
I had the same problem, in my case, node v10.15.3 serverless 1.42.2, in serverless.yml provider.apiName was set, after removing the custom api name the deploy worked.

[2019-05-12 19:04] iabadjiev commented on #6100
@medikoo can you please look at https://github.com/serverless/serverless/blob/49650a199cb5cb315fa6c20f6475949215019aa3/lib/plugins/aws/package/compile/events/apiGateway/lib/hack/updateStage.js#L50 I don't think that API name will alway be `${this.options.stage}-${this.serverless.service.service}`

[2019-05-12 23:19] jeromegit commented on #6100
Same issue with
Your Environment Information ---------------------------
     OS:                     darwin
     Node Version:           10.15.3
     Serverless Version:     1.42.2

[2019-05-13 02:26] metdockal commented on #5003
Did you try this `sls create --template-path ~/.serverless/templates/nodejs-6.10-drone --path node-drone`?

[2019-05-13 02:31] kjcsb1 commented on #5892
I'm experiencing the same issue.

[code]
  Serverless Error ---------------------------------------

  No file matches include / exclude patterns

 Your Environment Information ---------------------------
     OS:                     linux
     Node Version:           8.15.1
     Serverless Version:     1.42.2

src/doc_api/create_doc.py does indeed exist

[2019-05-13 02:37] Fledermausification opened #6125 "API Gateway cognito authorizer scopes don't work with a authorizerId"
# This is a Bug Report

## Description

* What went wrong?
OAuth Scopes were not added to the API Gateway method when using an authorizerId rather than an arn.
* What did you expect should have happened?
The OAuth Scopes should have been added to the API Gateway method.
* What was the config you used?
[code]
* What stacktrace or error message from your provider did you see?
None. It deployed fine

[2019-05-13 05:50] alshdavid opened #6126 "Single S3 bucket for serverless config"
Could we have an option to use a single S3 bucket to store our serverless configs?
My S3 is packed to the brim with serverless folders and it's so hard to find what I am looking for

[2019-05-13 05:59] exoego commented on #6126
Yes we can!
[code]

Refer
https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/

[2019-05-13 05:59] #6126 closed

[2019-05-13 06:03] alshdavid commented on #6126
Brilliant! Thanks for the quick response. Just to confirm, if I have multiple serverless projects, this will consolidate all of their configs in this one bucket?

[2019-05-13 06:21] otakumike commented on #5980
If it helps anyone else I was able to get around this by using an upper-case "H" in the function name in serverless.yml:

[code]

But then of course my function is now published with an uppercase _Hello_ which isn't ideal and there's limited docs to try and point me to my next move

[2019-05-13 06:48] exoego commented on #6126
I have not tried, but I think you can have one single deployment bucket for multiples services.

[2019-05-13 07:22] AndreaAdvanon commented on #6123
I don't think this is similar to #6081.
In [this](https://serverless.com/blog/framework-release-v141/) blog post is clearly stated that:
[code]

but #6081 refers to a new service instead

[2019-05-13 07:24] perrin4869 commented on #2797
Just tried this feature. `cat .serverless/cloudformation-template-update-stack.json` will output the correct stack with the added binary types, however, during deployment, the cloudformation stack does not reflect this change in my case. Any clues how to troubleshoot?

[2019-05-13 09:19] drissamri commented on #6099
Yeah, same as that ticket I'm using `stage: ${opt:stage, 'dev'}` with no reference to the hypen guid for my API Gateway stages/name/url's

[2019-05-13 09:37] jonvaughan commented on #4630
@DrakkenSaer you also have subnetdIds instead of subnetIds

[2019-05-13 13:14] tobilg commented on #6072
@rafaelrpinto Thanks for the feedback. Would you then like to close the issue?

[2019-05-13 13:38] simlu commented on #4179
Come to love the "terraform plan" command, so would really love to see this!

[2019-05-13 13:55] rafaelrpinto commented on #6072
Sure. Thanks.

[2019-05-13 13:55] #6072 closed

[2019-05-13 14:47] manemarron commented on #6103
@exoego Yes, I am sure. The snippet I added in the issue description is the way I am trying to deploy. As I mentioned, the CloudFormation stack was updated successfully, but at the end the serverless command fails. The error happened on version 1.42.0.

After updating to 1.42.1, the error that appears is `Missing required key 'restApiId' in params`, but I do not think this has to do with this issu