[2020-08-18 14:04] ffxsam commented on #7933
@medikoo Got it, thanks!

[2020-08-18 14:55] phmasek commented on #8086
@medikoo Thanks for helping out!

I tried removing all plugins and their respective configurations from the .yml file but I still receive the same error.

It seems to work if I remove all SSM parameter store references from the custom variables in the configuration file. So the bug is more specifically:

_Cannot configure credentials when having SSM parameter store references in configuration file

[2020-08-18 15:21] medikoo commented on #8050
@fredericbarthelet definitely! Still let's cover that with two distinct PR's

[2020-08-18 15:38] medikoo commented on #7568
@villelahdenvuo can you open a dedicated issue for that? As I take this report doesn't directly reflect what you're asking about

[2020-08-18 21:00] lbittner-pdftron opened #8093 "Serverless.yml package exclude does not work"
Hi there!

I am trying to exclude files from a certain function using the `exclude` functionality on a per function basis. However, it seems like this setting is completely ignored.

Using the serverless config below, my `merge` deployment contains `/lib/linux`, which is expected, but the `auth` package also contains `/lib/linux` even though it is excluded. Ive tried every variation of glob patter

[2020-08-18 21:07] dl748 commented on #8071
So what about TypeScript support, which I DO want?

[2020-08-18 21:53] lbittner-pdftron commented on #8093
Hi,

I managed to get it working by doing

[code]
I'm not sure if `exclude` is supposed to work or not. If this is expected behaviour, you can close this ticket.

Thanks,
Logan

[2020-08-18 23:29] lkolchin commented on #4539
@horike37
You've got a great plugin but one integration is missing - with HTTP_PROXY.
Let's say you want to proxy requests to http endpoint inside or outside of your VPC.
Are you able to add this to the plugin or if it's supported to show us how to use it?

[2020-08-19 02:28] ronkorving commented on #7362
@medikoo Since you refered to this from #7486, which seems to be getting extra attention due to vulnerabilities in dependencies, could you share with us the current timeline for v2? In February you said "shortly". We're not half a year in, so I would just like to ask if there is a more precise time you can share?

[2020-08-19 08:21] medikoo commented on #8076
@KerberosMorphy thanks, it's way clearer now. See my points:

I've created a more minimal test case, reflecting your setup, but with stripped external plugins, custom CF template additons) here: https://github.com/medikoo/test-serverless/tree/issue-8076 and with it I do not recieve this error.

Are you sure it's influenced by resource as generated by Framework directly?

This is a bug in https://g

[2020-08-19 08:32] medikoo commented on #8086
@phmasek therefore this works as intended Note that currently all commands that are issued in context of service expect the service config to be fully resolved before invoking command logic.

In your case SSM vars depend on AWS profile you're about to create with a command, hence the fail.

A workaround would be to run `sls config credentials` not in service directory

I'd say it's a Framework des

[2020-08-19 08:36] #8070 closed

[2020-08-19 09:13] medikoo commented on #8093
@lbittner-pdftron thanks for report

This is a packaging logic design issue. Firstly global and individual rules for _include_ and _exclude_ are concatanated together. Then first _exclude_ and after that _include_ rules are applied. Hence in your case _global_ `lib/linux/**` include shadows _individual_ `lib/linux/**` exclude rule.

I believe right fix for that is to:

1. Replace `include` and `ex

[2020-08-19 09:56] medikoo commented on #8071
Sorry that was not perfectly clear to me. I'll reopen this. As we support TypeScript as top file configuration file format, it definitely makes sense to support TS in variable _file_ service scope.

PR that provides that is welcome!

[2020-08-19 09:59] medikoo commented on #7362
@ronkorving I hope we will release v2 within 1 month time frame. Stay tuned

[2020-08-19 10:05] #8021 closed

[2020-08-19 10:18] medikoo opened #8094 "Do not bundle 'aws-sdk' with custom resource lambda"
### Use case description

No need to bundle, as `aws-sdk` is provided in lambdas by AWS unconditionally

### Proposed solution

1. Remove `package.json` at https://github.com/serverless/serverless/tree/f091c07992a414f2534c9de80caf76faf2744367/lib/plugins/aws/customResources/resources
2. Remove npm installation step here: https://github.com/serverless/serverless/blob/f091c07992a414f2534c9de80caf76f

[2020-08-19 10:18] HQidea opened #8095 "what is the minimum Node.js version"
https://github.com/serverless/serverless/blob/master/bin/serverless.js#L17

it says serverless works in Node.js v8+, but it will fail because there isn't a `fs.promises` api in Node.js v8.

And https://www.serverless.com/framework/docs/deprecations/#OUTDATED_NODEJS it says

So I'm confused what is the minimum required Node.js version?

<details>
<summary><code>serverless.yml</code></summary>

[cod

[2020-08-19 10:21] medikoo opened #8096 "Automatically exclude 'aws-sdk' from Node.js lambda bundles"
### Use case description

Currently we package all service folder unconditionally, eventually excluding dev dependencies. It'll also be good to automatically ignore `node_modules/aws-sdk`  if it's in a project

### Proposed solution

Probably the easiest way is to add `node_modules/aws-sdk/**` exclude rule on top in https://github.com/serverless/serverless/blob/f091c07992a414f2534c9de80caf76faf274

[2020-08-19 10:24] medikoo opened #8097 "Seclude non AWS providers documentation into its plugin repositories"
### Use case description

Providers documentation should be maintained together with its implementation.

### Proposed solution

Aside of moving the document files, it'll require adjustments in https://github.com/serverless/site/ which should read provider documentation from its plugin repository, and eventually regeneration should be automatically triggered by changes in plugin (similarly as we r

[2020-08-19 10:30] medikoo opened #8098 "Seclude non AWS provider templates into its plugin repositories"
### Use case description

Provider templates should be hosted aside its implementation

### Proposed solution

-  Introduce a template name resolution format, that resolves templates from npm packages: `plugin-package-name@versionRange:template-name`. Notation `plugin-package-name:template-name` should resolve to `plugin-package-name@latest:template-name`. Let's agree that templates are hosted in

[2020-08-19 11:08] ronkorving commented on #7362
Thanks for sharing that, good luck!

[2020-08-19 13:30] #7973 closed

[2020-08-19 13:30] sedat commented on #8094
Hello @medikoo , can I take this?

[2020-08-19 13:47] #8084 closed

[2020-08-19 13:48] medikoo commented on #8094
@sedat definitely! Thank you

[2020-08-19 14:42] #8096 closed

[2020-08-19 16:04] sedat commented on #8094
@medikoo when running integration tests I'm getting timeout errors on a few test cases like Event Bridge and Cognito pool. Are these normal? I used the keys of a new AWS account.

[2020-08-19 16:06] medikoo commented on #8094
What exactly puts testing to stall? I believe you have a detailed logs flushed, when error happens, this should give an idea, where's the issue.

Still, that's not typical, we do not observe timeouts usually

[2020-08-19 16:15] sedat commented on #8094
For example;

[code]

[2020-08-19 16:16] medikoo commented on #2918
Reopening as it addresses different concern than #2445 (which is about using AWS stages for stages), while this issue questions _service_ and _stage_ order in API name (and that's valid concern imo)

[2020-08-19 16:18] medikoo commented on #2445
Closing, for reasons listed here: https://github.com/serverless/serverless/issues/2445#issuecomment-257479953

Still I believe _stage_ and_service_ tokens order in API name is indeed confusing, and doesn't seem right (not sure why it was decided to have `{stage}-{service}` instead of `{service}-{stage}` as in all other cases) for that issue please track https://github.com/serverless/serverless/iss

[2020-08-19 16:18] #2445 closed

[2020-08-19 16:27] medikoo commented on #8094
@sedat that's really wierd, can you run test as:

[code]

And see, where exactly it gets stuck

[2020-08-19 16:38] sedat commented on #8094
Here is the error stack @medikoo
[code]

[2020-08-19 16:45] medikoo commented on #8094
@sedat that looks wierd, can you run same with `SLS_DEBUG=*` ? Also ensure that you're up to date with master, that depenencies of `serverless` are up to date.

[2020-08-19 20:43] sedat commented on #8094
Did a clean install and it worked, strange. Any tips on how to test my changes? @medikoo

[2020-08-19 23:03] harshchau opened #8104 "Sticky duration picker on app.serverless.com"
On the dashboard at app.serverless.com, when we pick a time duration, the duration is not sticky. That is, as we navigate back and forth, it always resorts to the default last 24 hours

Does not involve serverless.yml

Not related to CLI

Framework Core: 1.79.0
Plugin: 3.7.1
SDK: 2.3.1
Components: 2.34.6

[2020-08-20 00:55] Scout2012 commented on #8083
Hey @medikoo , thanks for correcting me on the error code implementation, happy to hear that most areas are already covered.

One area that I was focusing on that led to this issue was in `PluginManager.js`. None of the `this.serverless.classes.Error`'s being thrown are given codes. However, when running `grep -rn --color "this.serverless.classes.Error"`, there were a few other files that seemed t

[2020-08-20 06:33] uglow commented on #6882
I know this framework is "free", but I would have thought having 2 Lambdas on the same Event Bus was a *very* common use-case (and test case). Building an event bus for a single subscriber would be the edge-case here. Unfortunately I don't have the knowledge to create a PR to fix this issue. But I sure would appreciate it - as would most people that use EventBridge - if this issue could be address

[2020-08-20 06:49] fredericbarthelet commented on #8021
@medikoo I just realized I missed a particular scenario in my first PR : what happens if any of accepted string property within the configuration, both at provider and event level, is defined using cloudformation functions.

As an exemple, for httpApi provider configuration, the attribute id also accept an object with Fn::ImportValue key.

The use of CFN native function for string values is not ht

[2020-08-20 07:31] medikoo commented on #8094
if integration tests pass, it means it works :)

[2020-08-20 07:37] medikoo commented on #8083
There's no single place, they're usually written directly when errors are issued (it seems fine as most of the errors are unique).

Good example of where they're used: https://github.com/serverless/serverless/blob/f45da3c7b168d34e7d3c520068dc24364753a74a/lib/plugins/aws/package/compile/events/httpApi/index.js#L361-L422

That's very welcome!

[2020-08-20 07:40] #7976 closed

[2020-08-20 07:48] medikoo commented on #8021
Yes, I've also noticed that :) Actually a lot of got exposed after https://github.com/serverless/serverless/pull/8091 went in (you didn't have it yet in your PR, so it was silent for you). As it went already to master, I fixed that quickly with https://github.com/serverless/serverless/pull/8099

I've fixed it here: https://github.com/serverless/serverless/pull/8102 (this unfortunately is not cover

[2020-08-20 07:53] medikoo commented on #8104
@harshchau thanks for reporting. Still dashboard UI issues should be reported via "support" link (in bottom left corner).

Can you report your issue over there?

[2020-08-20 09:36] stuartforrest-infinity commented on #7063
@DaveLo It sounds like you have done a bunch of work begin to facilitate the use of `CF funcs` to define the `eventBus` against a function. Do you have a branch you can push up I could work off of? I'm looking at implementing support for this.

[2020-08-20 10:42] #8028 closed

[2020-08-20 11:06] medikoo opened #8107 "Seclude "user" and "resolved" configuration structures"
### Use case description

It'll be great to have access to

1. Fully resolved (but not normalized) service configuration. As configured by user. For better validation and clean reference purposes (that could be exposed on `serverless.service.userConfiguration`)
2. Fully normalized, JSON friendly, service configuration, with no breaking changes guaranteed across minor and patch releases. It's for e

[2020-08-20 11:07] medikoo commented on #2554
I've created more general issue that coins this issue and proposes a solution. See https://github.com/serverless/serverless/issues/8107 (any feedback welcome!)

Closing this to maintain discussion at single point.

[2020-08-20 11:07] #2554 closed

[2020-08-20 11:12] medikoo commented on #2574
It was addressed with https://github.com/serverless/serverless/pull/4133

[2020-08-20 11:12] #2574 closed

[2020-08-20 11:26] medikoo commented on #2582
Freezing this object may not be great idea. As there are rare (corner case) scenarios where patching/hacking this object could be helpful, and also it's not a convention in JS to freeze such input objects (If we would to freeze that, then technically by convention we should freeze most of the internal structure, as plugins should also not interfere with it).

Still, it's definitely a valid concern

[2020-08-20 12:40] DaveLo commented on #7063
I did some of the initial digging into why it was happening, but I wasn't able to successfully implement a fix (I think because I'm not well versed in how the create custom resource stuff works). I have a very stale branch in my profile for [`fix/eventbridge-import-bus`](https://github.com/DaveLo/serverless/tree/fix/eventbridge-import-bus) where I was starting to attempt adding the existing flag,

[2020-08-20 14:13] sedat commented on #8094
Even with a new clone without changes, these two test cases are failing @medikoo
[code]

[2020-08-20 14:28] medikoo commented on #8094
It's because you probably don't have Ruby in your environment. Tests should be configured to skip and warn if it's the case, but for some reasons those two do not follow that.

You may propose PR that neatly skips those tests in case of those errors (e.g. see how Python tests are skipped on your side), but you can also ignore it (as that's not in scope of this issue)

[2020-08-20 14:45] AkshayAwate opened #8109 "Installing serverless on ubuntu 20 using npm gives an error"
Q1: Installing serverless on ubuntu 20, gives an error
npm version:6.14.6
error is as follows:
<details>

[code]
</details>

[2020-08-20 14:49] medikoo commented on #8109
@AkshayAwate Error shows permissions issue in your system. It's not related to this project in anyway (it's npm that installs Framework and Framework code is not invoked at this stage)

[2020-08-20 14:51] AkshayAwate commented on #8109
What to do i dint get !!

[2020-08-20 14:51] synth3tk commented on #6684
If you don't mind, could you share with me what you switched to?

[2020-08-20 14:53] medikoo commented on #8109
This is not a general support board. Please seek help on Stack Overflow

[2020-08-20 15:48] estevaodias commented on #4415
Few minutes ago, I also had to mvn package my bridge manually. I`m running aws-java-gradle template on mac, without any modification.

[2020-08-20 15:51] sedat commented on #8094
Hey, @medikoo just opened a PR for this issue.

[2020-08-20 16:29] selbyk commented on #5536
+1

[2020-08-20 16:58] ktwbc opened #8111 "Error not properly thrown with bad stream definition for DynamoDB"
If you have an error in serverless.yml defining a bad stream type, the Error message handler does not work because it itself creates a secondary error because of a missing array.

If your serverless.yml definition is:
[code]
Here my "type" due to a copy and paste error is not dynamodb or kinesis which are the only accepted types. However the error on compile is:

 TypeError: Cannot read property '

[2020-08-20 18:07] Scout2012 commented on #8083
You've given me some great stuff to go off of, thank you!

[2020-08-20 18:28] stuartforrest-infinity commented on #7063
@DaveLo Having had a further dig using `CloudFormation` does look like the right thing to do. @medikoo What are your thoughts on this?

[2020-08-20 21:37] mstrazzini commented on #6684
We were at the very early stages for this project. Ended up moving to a
docker/kubernetes approach.

On Thu, Aug 20, 2020, 11:52 David Thomas <notifications@github.com> wrote:

[2020-08-20 22:58] dl748 commented on #8071
The PR that i provided does that as well, it just happens to also give support for several other files as well.

[2020-08-21 00:22] dl748 opened #8113 "Support for Asynchronous Configuration Files"
### Use case description

Currently serverless requires that exports be a plain object, and doesn't allow for any possible asynchronous processing which many other third party modules do.

Examples of configurations that export asynchronous functions to do some kind of processing.

js
[code]

ES6/TypeScript
[code]

A lot of newer third party modules are all promises/async, so in order to use those

[2020-08-21 08:04] medikoo commented on #8111
@ktwbc great thanks for report.

Currently we're tackling such errors with config validation backed by JSON schema (and setting `"configValidationMode: error` will make process crash on any error, that'll become default at some point in a Framework).

Unfortunately we still don't have a schema for `stream` event type, see dedicated issue: https://github.com/serverless/serverless/issues/8034 (PR th

[2020-08-21 08:04] #8111 closed

[2020-08-21 13:52] 0ptional opened #8116 "Allow to escape variables format"
Source of a reported issue was that `"${StepFunctionArn}"` in CF template was attempted to be resolved by our variable resolver, when it was unexpected.

_Proposed solution:_

We probably should support escaping such case, so "\${StepFunctionArn}" will not invoke variable resolver but just strip leading slash.

---

_Original report_:

Using custom variableSyntax, serverless can't resolve variable

[2020-08-21 18:19] safv12 opened #8117 "MSK support as an event to trigger Lambdas"
Lambda now supports Amazon MSK as an event source, so it can consume messages and integrate with downstream serverless workflows. It will be great to have a Kafka event to trigger the functions from serverless.

https://aws.amazon.com/es/blogs/compute/using-amazon-msk-as-an-event-source-for-aws-lambda/

### Proposed solution

(_Updated on the go, to reflect final agreement_):

Event name `msk`, wi

[2020-08-23 17:03] glb commented on #6224
Is https://github.com/serverless/serverless/pull/7327 helpful? You may need/want to manage permissions for your authorizer function in your Terraform stack as well.

[2020-08-23 17:39] glb opened #8118 "Silent merge failure when using resources list"
We're making use of the great feature for breaking up `serverless.yml` file where you can have the `resources` be a list.

With this input:

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><code>resources-1.yml</code></summary>

[code]

</details>

<details>
<summary><code>resources-null.yml</code></summary>

[code]

</details>

The resulting `.serv

[2020-08-23 17:47] glb commented on #8118
Perhaps `_.mergeWith` with a customizer function that says "when you are merging `null` with an object, return the object"?

[2020-08-23 18:37] harshchau commented on #8104
Done

[2020-08-23 18:37] #8104 closed

[2020-08-23 20:23] stuartforrest-infinity commented on #7063
@medikoo Is there a precedent for switching from custom resource to CF and handling deletion/importing of custom resources?

[2020-08-24 00:48] chekalsky commented on #6001
Resolution is to make s3 bucket `existing: true`:

[code]

[2020-08-24 08:53] medikoo commented on #8117
@safv12 thanks for proposal. We're definitely open for that.

Can you outline how kafka event properties will translate to CloudFormation template? Are those listed properties the only properties we intend to support?

[2020-08-24 09:00] medikoo commented on #8071
Indeed, it just adds dependency of `interpret`, which on its own doesn't bring any transpilers.

As I mentioned due to limited resources we're focused on addressing only real world (and not "nice to have") use cases, as we agreed, there's only one real use case to address here (support TS files via variable extensions) and we're open for PR on that.

[2020-08-24 09:07] medikoo commented on #8113
In TS it's equivalent to exporting an object that has `property` property. Please discuss on support forums on how to achieve that.

This is handled here: https://github.com/serverless/serverless/issues/8071

[2020-08-24 09:50] Nemo64 commented on #3184
I want to add an alternative.

serverless allows to adjust the variableSyntax:

[code]

With that configuration you can then do stuff like this:

[code]

[2020-08-24 10:02] beanaroo commented on #8040
We were consistently getting this issue for a deployment too, on a Kinesis stream handler. Using Cloudtrail + Athena, we identified another deployment's role producing a lot of `DescribeStream` throttles.

[code]

Deleting that stack allowed us to continue with deployment before redeploying the other stack.

Not entirely sure if this is related to the above, but we experienced the same error.

[2020-08-24 10:07] avazula commented on #8040
We used `serverless-dependson-plugin` to bypass this issue (deploying within a VPC) and it would work just fine, but since Sunday (2020-08-23) it seems to be working properly without it again? Does anyone have any news on this?

[2020-08-24 10:28] akhil211 commented on #3568
Your solution worked perfectly for me and by far the easiest of them all. thanks

[2020-08-24 10:39] herebebogans commented on #8040
I had word from our TAM that a release was scheduled for the issue on Sunday evening (US) for US regions and is being rolled out to other lambda regions progressively. I cant pass on the limit for concurrent lambda event source mappings as they don't wish to publish this info but the number mentioned sounded very reasonable.

Reporters in this thread please retry deploying stacks that had the issu

[2020-08-24 11:15] CCBet commented on #7506
Can the **exists** clause be used with **1/0** values instead of **true/false**?

[2020-08-24 11:25] medikoo commented on #8118
@glb thanks for reporting.

I'm not convinced that working around`Resources: null` is a good idea, as that translates to supporting this as valid input, which it isn't.

Best solution I think comes with #8014 (note that at some point by default framework will crash with meaningful error when such situation happens).

Not directly related, but we're also tackling the idea of generic approach to _ar

[2020-08-24 11:25] #8118 closed

[2020-08-24 11:31] medikoo commented on #7063
Good question! No, I believe there's not.

If we can't do it without breaking deployment, then I believe we need to implement this feature with graceful adaptation in mind, as follows:
- Add support to configure event bridge via plain CF, but as opt-in (to use it, developer needs to turn it on in config)
- Show [deprecation log](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#

[2020-08-24 13:21] binaryartifex commented on #6171
Has there been a consensus reached on schema validation model naming? Being unable to create a model name is infuriating especially when calling the apigateway get-export command resolves the model names to those god awful id's that then propagate to any custom sdk generation using the newly generated swagger or openapi documentation....

[2020-08-24 13:24] jmcguffee commented on #6171
Sorry I got busy with work and this was stale for a bit. I am working through some feedback provided and enhancements that have been made throughout that time. Just to be clear on AWS requirements. Once you provide a model name it cannot be updated in any way. AWS will throw an error once the update attempt is made. You will need to rename the model completely for it to work. This is not a require

[2020-08-24 13:30] medikoo opened #8119 "Remove support for `maximumEventAge` and `maximumRetryAttempts` at `functions[].destinations`"
### Use case description

With #7987 we've deprecated `maximumEventAge` and `maximumRetryAttempts`  as set on `functions[].destinations` level.

For v2 release support should be removed

### Proposed solution

PR should be based against [`v2`](https://github.com/serverless/serverless/tree/v2) branch

Remove deprecation message and support for `maximumEventAge` and `maximumRetryAttempts`  as set on

[2020-08-24 13:31] binaryartifex commented on #6171
@jmcguffee cheers for the reply mate. does that imply we can in fact submit our own model "name" somewhere  in our serverless.yml that aws recognizes on its end? as sadly all i get atm is a generated id for my schema model naming and directly impacts my ability to generate sdk's which i rely directly on

[2020-08-24 13:36] medikoo opened #8120 "Remove support for provider.alb.authorizers[].allowAuthenticated"
### Use case description

With https://github.com/serverless/serverless/issues/7773 we've deprecated `allowUnauthenticated` in favor of `onUnauthenticatedRequest`. For v2 support for `allowUnauthenticated` should be removed

### Proposed solution

Remove support for `allowUnauthenticated` and its deprecation notice.

PR should be based against [`v2`](https://github.com/serverless/serverless/tree/v

[2020-08-24 13:37] medikoo opened #8121 "Remove bin/serverless file"
### Use case description

It's kept only to not break for users which address it directly. It should be removed with new major

### Proposed solution

Remove `bin/serverless`

PR should be based against [`v2`](https://github.com/serverless/serverless/tree/v2) branch

[2020-08-24 13:44] jmcguffee commented on #6171
The PR is still open and I am making some changes that were requested in feedback.

[2020-08-24 13:45] medikoo opened #8122 "Remove "slss" binary alias"
### Use case description

Our `serverless` binary already has `sls` alias. Supporting also `slss` seems confusing, it doesn't seem to bring additional value and doesn't seem to be really used

### Proposed solution

1. [x] In v1 Show deprecation message if `slss` alias is used (Done with #8156)
2. [ ] Remove configuration of `slss` alias in v2 branch

[2020-08-24 14:10] marcusirgens commented on #8040
We ran into this issue this morning, and it somehow resolved itself some time during the day, @herebebogans.

[2020-08-24 15:05] medikoo opened #8123 "Communication of a new major release"
### Use case description

New major release should be elegantly communicated to the users which did not upgrade yet

### Proposed solution

1. If configuration of a service didn't invoke any deprecation log, then after a successful deployment show a message:

[code]

Notification should come out of backend notifications systems. How to achieve that:
- Send with analytics information about eventual

[2020-08-24 15:33] violiveira commented on #3023
The IAM Roles Per Function plugin allows the following parameter **iamRoleStatementsName**

It would be great if such a parameter could also be provided at the provider level.

[2020-08-24 17:15] franciscoramirezadasme opened #8124 "Error wit try install npm install"
Q1:We try to install the last version of serverless and a second time in a specific version @1.71.3, but the command npm install not response and this is the response..

![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/4513258/91075061-7d556a80-e60b-11ea-9e5b-ef8ecbf81d3b.png)

[2020-08-24 19:08] pgrzesik commented on #8119
I would be happy to work on this one if there's help needed :raised_hands: Should I just prepare a PR or there's a separate process of introducing breaking changes for V2 release that I should follow?

[2020-08-24 19:20] pgrzesik commented on #8117
Hello team :wave: I was recently looking at how it's supported at CloudFormation level and how well that could fit into what is already supported by Serverless Framework. Underneath, it's using the same `EventSourceMapping` resource that is already in use for `sqs` and `stream` events (reference: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.

[2020-08-24 19:39] dvillarama commented on #8078
Same issue for me
[code]

[code]

[2020-08-24 20:34] jthomerson commented on #7492
@medikoo this is more than just an error reporting issue - it's a serious deficiency in the Destinations support. For example, I can't do this:

[code]

In this example, I create two topics in the service - one that the alerts come into, which invokes a Lambda function. But if the Lambda fails, I want the message to go to a fallback topic that's created in the same service.

Because it's created i

[2020-08-24 21:07] jthomerson commented on #7492
@jliburd-nsi if it helps, you can work around this defect by just making your own destination in the `resources` section of the template. Given my example in my last comment, you could add this to configure it:

[code]

Note that this is not quite as good as if the framework did it for you, because we just have to use `$LATEST` for the qualifier. If the framework did it, it could point to the exac

[2020-08-24 23:07] crash7 opened #8125 "Files that contain dots are ignored during packaging"
I have a serverless service that contains files that starts with something like `[...file].js`. When running `sls package`, those files don't end in the zipfile because they are being ignored.

So, given a file structure like this:
[code]
The end result is:
[code]

The problem, at least one part of it, lies in the `dot` parameter that the library use for `globby`: https://github.com/serverless/ser

[2020-08-25 06:09] joker-8989 opened #8126 "dependsOn and DependsOn are mixed"
I tried to define the dependency in Serverless with `Dependson`.

However, only Lambda does not resolve the dependency,
Defining the Lambda dependency with `dependsOn` resolved the dependency.

The resource dependency is DependsOn,
Lambda's dependencies appear to be defined in dependsOn.

Why is dependsOn and DependsOn mixed?

[2020-08-25 08:18] medikoo commented on #8124
@fredericbarthelet this is either your environment issue or npm issue, not related to this project. Please seek help on other forums (like Stack Overflow)

[2020-08-25 09:48] fredericbarthelet commented on #8124
@medikoo I thing you pinged the wrong person :) @franciscoramirezadasme , see @medikoo answer's to your question above :)

[2020-08-25 09:54] Vadorequest commented on #7885
Encountered this issue using `1.74.0`, fixed by upgrading to `1.79.0`.

[2020-08-25 09:58] hoonoh opened #8128 "AWS (existing) Cognito User Pool Event Source not attaching with right provisioned Concurrency Lambda Alias"
Functions with `provisionedConcurrency` with (existing) `cognitoUserPool` event are not being mapped to provisioned alias.
This is mostly identical with #7802, and similar with #7371,#7726 and #7285.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-08-25 12:32] medikoo commented on #8117
@pgrzesik great thanks for sharing that.

I fully agree, seems as right to me

Which properties do you think should be _mandatory_ for `msk` event type and which _optional_ ?

[2020-08-25 12:35] medikoo commented on #8078
@dvillarama what you report doesn't seem relevant (note that report is about authorizers for `http` event not `httpApi`)

What you've shared shows a valid report of configuration error

[2020-08-25 12:42] medikoo commented on #7492
@jthomerson for configured `destinations`  we need to also ensure proper [execution permissions](https://github.com/serverless/serverless/blob/c64d6d5f0137add235579274f5fe4e3d343c51cf/lib/plugins/aws/package/compile/functions/index.js#L584) This is the reason why we limit supported ARN format variants

Still we're definitely open for improvement that adds support for other formats ensuring access

[2020-08-25 12:42] #7492 closed

[2020-08-25 12:46] franciscoramirezadasme commented on #8124
Ahh ok, i try to reinstall npm. regards.

[2020-08-25 12:46] #8124 closed

[2020-08-25 12:52] medikoo commented on #8119
@pgrzesik I've just created a [`v2`](https://github.com/serverless/serverless/tree/v2) branch, and PR should be based against it. Great thanks upfront!

[2020-08-25 13:04] crash7 commented on #8125
Just found that this fix from `serverless-components` works fine: https://github.com/serverless-components/aws-lambda/pull/26/files. I'm currently porting it to `serverless` and should have a PR soon.

[2020-08-25 13:45] medikoo commented on #8125
@crash7 thanks for report!

Interestingly, it worked, and got broken when addressing https://github.com/serverless/serverless/issues/7689

We had same request before (https://github.com/serverless/serverless/pull/7550) but we rejected as we could not reproduce, still then we used globby v6

[2020-08-25 13:47] medikoo commented on #8126
@joker-8989 is this a bug report or feature request? If you're not sure please use use https://forum.serverless.com/ or https://www.serverless.com/slack, otherwise please respect all template remarks

[2020-08-25 13:50] medikoo commented on #8124
Sorry @fredericbarthelet !  (GitHub autocomplete is completely broken)

[2020-08-25 13:51] medikoo commented on #8128
@hoonoh great thanks for reporting! PR with a fix is welcome!

[2020-08-25 13:54] crash7 commented on #8125
@medikoo my search-fu needs work, sorry for raising a new issue - I clearly didn't find #7550.
It's strange that it worked with half of the changes in that PR (I changed the packageService.js in `my-service` project). I can upload the project in a repo, but since I'm just using the quickstart template and just adding an empty file, should be easy to reproduce.

Let me know how I can help.

Thanks!

[2020-08-25 14:40] safv12 commented on #8117
From my point of view, ARN and Topic should be mandatory. We could define some default values for the other two properties. What do you think @pgrzesik, @medikoo?

[2020-08-25 15:14] #7362 closed

[2020-08-25 15:21] medikoo commented on #7486
I'm glad to announce that we will release v2 next week. PR that upgrades vulnerable dependencies is welcome (I've updated main description)!

[2020-08-25 15:23] medikoo commented on #7917
We plan to release v2 next week, Therefore we're open to take PR that implements _second phase_! I've updated description with details on that

[2020-08-25 15:48] #7848 closed

[2020-08-25 15:56] pgrzesik commented on #8117
Hey :wave:

@safv12 I agree here, `arn` of Kafka Cluster as well as `topic` should be mandatory. Optional parameters should be `batchSize` (defaults to 100 for MSK in CloudFormation), `startingPosition` and `enabled`. AFAIK, there are no other configuration parameters available at the moment for that event source.

One note on the `topic` parameter. In CloudFormation it's implemented as `Topics` l

[2020-08-25 16:07] dvillarama commented on #8078
@medikoo Sorry, I didn't read the original well enough.

I still think it's an error where the configuration check is a little too strict.  The configuration is expecting a string but I'm using a shared authorizer so I'm getting the value from cloudformation output.  So I think what I'm doing is valid (and is working but with an error warning).

[2020-08-25 17:47] #7686 closed

[2020-08-25 18:27] MaxFlanders commented on #4882
Would love to see this, it would be a big enabler for our CI/CD on serverless projects using a shared root path.

[2020-08-25 18:48] sergioflores-j commented on #8040
Same here, we've re-runned all our jobs and "magically" it worked

[2020-08-25 22:08] BryanCrotaz commented on #7523
I've realised that we don't need a plugin - the core code already checks for a runtime framework and builds accordingly.

The pre packaging process just needs to handle dotnet differently before zipping.

See https://github.com/serverless/serverless/pull/8043 for an implementation that I'm successfully using in production

[2020-08-25 22:56] safv12 commented on #8117
@pgrzesik should we define the ConsumerGroupId in the trigger definition or it should be optional?

[2020-08-25 23:45] chanan opened #8134 "Serverless deploy fails: TypeError: region.toLowerCase is not a function"
When running serverless deploy, the deploy fails with the error: TypeError: region.toLowerCase is not a function

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>
</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

**NOTE:**

I added a console.log to line 558 of `awsProvider.js`:

[code]

And I got the follow

[2020-08-25 23:49] ffxsam commented on #1674
There's no one right answer for this, if I'm not mistaken. It all depends on what your serverless.yml is creating. If it's creating RDS clusters, for example, then your serverless IAM user will need permissions to do so.

[2020-08-25 23:52] chanan commented on #8134
Second note... Same issue happens in `getStage()`. Once I hard code both those functions I am able to deploy.

I should point out that I used to be able to deploy without an issue till a few days ago. The only thing I recall that changed is that I installed AWS CLI v2 for windows.

[2020-08-26 05:28] MatteoGioioso commented on #3964
For me this did not work:

[code]

[2020-08-26 06:04] MatteoGioioso commented on #3964
Ok solved using `SLS_DEBUG=*` in this way the name of the bucket appeared in the logs

[2020-08-26 07:09] lephuongbg opened #8135 "Configuration warning when using Cloudformation intrinsic function in authorizers"
The cloudformation output is fine so there shouldn't be warning if we use CF `Ref` or `GetAtt` function at `issuerUrl` or `audience`.

[code]

[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-08-26 08:07] medikoo commented on #8117
Great thanks @safv12 and @pgrzesik for valuable insight!

I'd say let's follow with what we did in EFS, so stick to singular notation (unless we have a clear hint from AWS that it's likely to change soon).

Summarizing above (and after going through AWS docs) I think in context of MSK we may have following options.
_(Please point if you feel I got something wrong, or something can be improved):_

[2020-08-26 08:10] medikoo commented on #8078
@dvillarama can you open dedicated issue? If you feel it's a bug, it should be a bug report, and if it's about ehnancement proposal use feature proposal. Please also respect all template remarks

[2020-08-26 08:16] medikoo commented on #7523
@BryanCrotaz can you outline precisely the rules with which you believe .NET projects should be packaged.

From what I understand it should be:

[code]

Is there anything else? Can you outline for us _include_ and _exclude_ rules.

Thank you!

[2020-08-26 08:19] BryanCrotaz commented on #7523
You would put the exact csproj file name in the includes for each function. No excluded or other includes required.

[2020-08-26 08:21] medikoo commented on #8134
@chanan Do you observe same issue when not relying on a `fullstack-serverless` plugin?

If it's purely influenced by plugin it should be reported at its repository. If it's not influenced by plugin, can you prepare a test case that doesn't involve any plugin?

[2020-08-26 08:23] medikoo commented on #7523
Where are those files located? Are they not bundled by default now? If not, do you understand why?

[2020-08-26 08:24] BryanCrotaz commented on #7523
The currently bundling just zips the entire src directory. It doesn't run a build process.

[2020-08-26 08:25] BryanCrotaz commented on #7523
I do understand why, and I've provided a PR that fixes the problem by introducing the correct build process for dotnet!

[2020-08-26 08:26] BryanCrotaz commented on #7523
The files are located wherever the includes entry provided by the developer says they are...

[2020-08-26 08:37] medikoo commented on #7822
We've looked into this issue here: https://github.com/serverless/serverless/pull/8066#discussion_r471386871 and it appears we can't use `versionDigest` for `CodeSha256` property, as that one has to match the SHA of a file.

It seems that AWS doesn't give us a clear solution to that. We cannot tweak code hash as function code didn't change, while upgrading the version number will bring error statin

[2020-08-26 08:56] medikoo commented on #8135
@lephuongbg thanks for reporting. Indeed in case of these two properties, as they're not processed internally (just passed as is to CF template), we can relax the supported format to allow CF instructions.

PR with patch to schema is welcome!

[2020-08-26 09:01] medikoo commented on #7523
@BryanCrotaz as I mentioned this PR contains a lot of noise and is not easily readable for me. Can we discuss without given PR being provided as reference?

We see it as good pattern to follow, to first discuss and agree on implementation spec, before moving to writing an actual implementation.

It's generally easier and saves a lot of our time (it's easier to understand spec than written code esp

[2020-08-26 09:07] BryanCrotaz commented on #7523
Where are the conventions documented? Happy to refactor to them

[2020-08-26 09:09] medikoo commented on #7523
https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#when-you-propose-a-new-feature-or-bug-fix

Line that applies to this case at current stage is:

_In non trivial cases please propose and let us review an implementation spec (in corresponding issue) before jumping into implementation._

[2020-08-26 09:51] stuartforrest-infinity commented on #7063
Attempting to import the resources in the the stack within the framework may not be possible - https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resource-import-supported-resources.html - according to these docs `EventBus` and `lambda:Permission` are not resource types that can be imported.

Even if this is out of date and import is possible, I think we would need to execute a `Change

[2020-08-26 10:45] medikoo commented on #7063
@stuartforrest-infinity As I mentioned I think we should just introduce another opt-in option, which will default with next major version.

So for users that have already `eventBridge` events deployed, the only way to (optionally) migrate, would be to remove their stacks and recreate them with new settings.

I don't think we should put an effort in attempting to seamlessly move already created res

[2020-08-26 11:54] AntonyPritchett commented on #7063
@medikoo I'm having issues with exactly this. Could a workaround be to just create the rule in CF and refer to the serverless function as a Target?

[2020-08-26 12:10] medikoo commented on #7822
I've just realized that _reserved concurrency_ is a function wide setting (not specific to _version_ or _alias_).

Error on framework side, is that we're taking it into account when calculating version hash. This setting should be ignored.

[2020-08-26 15:20] pgrzesik commented on #8117
Hello :wave:

I totally agree with that.

As for the available options, I'm not sure if all of the listed options are available for MSK (and SQS as well). If I understand the docs correctly, the ones that are supported for MSK are the ones I listed, I was following the CloudFormation doc as well as these documents:
- https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html
- https://docs.aws.ama

[2020-08-26 16:35] medikoo opened #8137 "AWS streams: Introduce `dynamodb` and `kinesis` events, deprecate `stream`"
_Initially discussed here: https://github.com/serverless/serverless/issues/8117#issuecomment-680727895_

### Use case description

To avoid ambiguity it'll be nice to handle both _stream_ types with two distinct event types.

Benefits of that change:
- Event source type is clear upfront at event defitnition
- Internally we do not have to resolve event source type from ARN (and possiblities of that

[2020-08-26 16:43] medikoo commented on #8117
@pgrzesik great thanks for pointing that, I didn't get initially that _(Streams)_ in AWS docs narrows just to DynamoDB and Kinesis, good we have that clear now.

Yes it's indicated in CF config that it's only for _streams_

In light of that, my idea of unifying generation of `AWS::Lambda::EventSourceMapping` for all event sources, doesn't seem that valid (it seems to make sense just for DynamoDB a

[2020-08-26 17:10] morgan-sam commented on #8120
Hi I've started to work on this one

[2020-08-26 18:19] medikoo commented on #8120
Thank you @morgan-sam !

[2020-08-26 18:27] #8119 closed

[2020-08-26 18:28] pgrzesik commented on #8117
Sorry @safv12 for missing your question in my previous message. It's not possible to directly define ConsumerGroupId in the trigger definition, or rather, AWS Lambda integration with MSK automatically creates a ConsumerGroup with an id equal to id of `EventSourceMapping` - so in this case it's an implementation detail of internal integration.

@medikoo You're totally right - I tunneled-vision into

[2020-08-26 18:48] glb commented on #8118
@medikoo I've taken a crack at #8014 and with the above input all I get from the validation is

[code]

which isn't as enlightening as I would have hoped. It seems like validation happens after `mergeArrays`, which is a bit problematic.

[2020-08-26 19:17] claydanford commented on #8040
I received this from support. No issues in the last few days.

[2020-08-26 21:07] aralmpa commented on #8040
I (and I guess everybody else) also received a similar response from support. I have been deploying my stack for 2 days now without facing the issue anymore so it seems that AWS has mitigated the issue.

Unfortunately previous stack resources (SQS event source mapping) that were created when the 429 issue appeared are stack in an erroneous / hidden state and need to be removed manually using the a

[2020-08-27 06:00] yehonadav commented on #6752
same issue here
im running on windows 10
trying to deploy single python - flask function

my system:
     Operating System:           win32
     Node Version:                  12.13.0
     Framework Version:         1.78.1
     Plugin Version:                  3.7.0
     SDK Version:                      2.3.1
     Components Version:        2.33.4

my serverless plugins:
plugins:
  - serverless-p

[2020-08-27 06:49] mooperd opened #8140 "A Python app with dependancies deploys broken because of wrong architecture of packages"
On OSX, if you don't have this -> https://www.serverless.com/blog/serverless-python-packaging

then it will happily, silently deploy a broken app. It would probably be quite easy to have some logic to test that the package is compatible with the target environment.

I guess it "just works" on Linux.

[2020-08-27 07:38] dashmug commented on #8096
@Yogendra0Sharma @medikoo How do we force inclusion of `aws-sdk`?

[2020-08-27 07:48] medikoo commented on #8096
I believe adding `node_modules/aws-sdk/**` to `package.include` will reset that. Why do you want to include it?

[2020-08-27 08:05] aychtang commented on #4720
@medikoo This happens also on my jenkins environment and the original user was using codebuild, I'm not sure if such issue should be pushed to azure specific issues.

[2020-08-27 08:10] aychtang commented on #4720
In other news I moved my service level `package` properties into the function level and now it works. Not sure what is happening there...

Before (throws missing zip error):
[code]

After (now working):
[code]

[2020-08-27 09:02] medikoo commented on #8117
I see it was picked here https://github.com/serverless/serverless/pull/2250 by @pmuens but no details on why `TRIM_HORIZON` as default was picked are disclosed.

Do you see it problematic to use it as default for `msk` ? I think it'll be nice to use same default as we have in `stream` event, but I do not have that much experience with them, to properly judge on whether that's best choice.

Good qu

[2020-08-27 09:17] medikoo commented on #8118
@glb that's a valid point. As I think of it, root cause of this DX issues, is doing _deep_ merges on data we fully cannot understand programmatically. We already plan to revert from that when handling `resources`, see https://github.com/serverless/serverless/issues/6575

I believe right solution (to which we can get gradually) is to:

1. Implement generic multi object configuration support to any

[2020-08-27 10:02] pgrzesik commented on #8117
I don't - I believe we should stick to the current default. I believe it's application-specific and if current default fared well for 4 years now it sounds like the perfect choice :+1:

@safv12 do you plan to implement support for `msk` based on the above implementation proposal? If not, I'd be happy to give it a try over the weekend

[2020-08-27 10:02] fredericbarthelet commented on #6771
If anybody faces the issue bellow AND is using custom `cfn` role for deployment, please read solution here after.

Ensure your custom cfn role has the following actions allowed :

- the following 4 actions related to lambda trigger configuration handled by the customResource lambda doing provisioning.
  - `s3:PutBucketNotification`
  - `s3:GetBucketNotification`
  - `lambda:AddPermission`
  - `lam

[2020-08-27 10:44] medikoo opened #8141 "Error if resources.extensions contains reference to not created resource"
### Use case description

Currently we silently accept an _extension_ to not existing resource. Ideally we should throw in such case

### Proposed solution

#### 1. In `master` branch

Configure [deprecation](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecations) to be shown at:

https://github.com/serverless/serverless/blob/5f85543d8e47a9afaec6811a57e1235e8

[2020-08-27 10:55] medikoo commented on #8140
@mooperd can you respect all bug template remarks and fill answers to all questions?

[2020-08-27 10:58] medikoo commented on #4720
@aychtang It's possible that https://github.com/serverless/serverless/pull/8130 fixes your case

[2020-08-27 11:12] mooperd commented on #8140
Erh, nevermind.

[2020-08-27 11:12] #8140 closed

[2020-08-27 11:34] #8125 closed

[2020-08-27 12:46] CalMlynarczyk commented on #7822
We recently ran into a similar issue when trying to add new tags to our stack. No code changes were made in our Lambda function handlers; just the stack config change. We have `versionFunctions: true` in our config because our functions for this service are all deployed to Lambda@Edge, which requires versioning.

When we run `serverless deploy`, we get the same `A version for this Lambda function

[2020-08-27 12:48] medikoo commented on #7822
@CalMlynarczyk thanks for pointing. It means that _tags_ should also be excluded from version hash calculation

[2020-08-27 12:49] funkel1989 commented on #7822
I've found the work around for this being to remove the lambda all together and deploy, then re-add the lambda. This has worked for me 100% of the time so far but adds a lot of complexity when working with pipelines where i would have to push a build with the lambda removed through multiple environments and then push a second build with the lambda just to get the changes to take effect.

[2020-08-27 12:54] CalMlynarczyk commented on #7822
I should note that we have other services which have `versionFunctions: false` set. We made similar updates to them where we just added new tags to the stack, and did not run into this error.

Our workaround for our trouble services was similar to @funkel1989. We added some code comments to the Lambda handlers to trigger a new version update without changing functionality.

[2020-08-27 12:58] georgesbiaux commented on #8088
Hi! Is it ok if I try to work on this issue ?

[2020-08-27 13:16] medikoo commented on #8088
@georgesbiaux definitely! I initially didn't mark it with _help wanted_ as felt that it might be too sophisticated, but you feel you can implement it, it's definitely welcome.

There's just one thing that I believe should be implemented independently (in other PR) before tackling this task as a whole.

It's to address _wait for serverlress command to end_ constraint - for that we need some clear a

[2020-08-27 13:51] safv12 commented on #8117
@pgrzesik go ahead, for now, I am content with being part of the review of the pull request to learn a bit. If you need help with something I am open to help, just tell me.

[2020-08-27 14:21] glb commented on #6575
@medikoo Do you have an intended schema for `resources.additions`? Is it like this?

[code]

and then something that copies from `resources.additions` into `Resources` with failures for duplicate keys? I think that the null check would happen through schema validation, yes?

[2020-08-27 14:34] #8121 closed

[2020-08-27 14:50] medikoo commented on #6575
This is not yet implemented, so it's out of scope (Schema should be added together with implementation).

It's only `resources.extensions` which is already in, and which misses the schema.

[2020-08-27 15:02] ASHRAF-BEHLIM commented on #7653
Go to IAM and create a role and give full  permission to codecommit and codepipeline it will work

[2020-08-27 15:15] glb commented on #6575
@medikoo the reason I asked if you had an intended schema was because I am thinking of implementing `resources.additions` and wanted to know if you had a direction in mind for the schema before I started.

[2020-08-27 15:21] medikoo commented on #6575
@glb great to hear that! PR on that would be very welcome. I would follow same pattern as in `extensions`. I believe we should not support there an _array_ form. Why did you envision such type there?

[2020-08-27 15:54] mancuss commented on #4715
Any plans to make this work?

[2020-08-27 16:10] #7917 closed

[2020-08-27 18:24] corydorning53 commented on #7740
So i'm running into this issue and trying to use `serverless-latest-layer-version` but it does not support the use of profiles:
https://github.com/mooyoul/serverless-latest-layer-version/issues/7

Any chance of landing this into serverless core instead?

[2020-08-27 19:55] glb commented on #6575
@medikoo our team has found the array form of `resources` to be extremely useful -- they can split up resources into multiple files based on what makes sense to be grouped together and then include them using:

[code]

I would want to maintain that functionality (yes I know we would need to remove the `Resources` at the top level of the files):

[code]

[2020-08-27 20:28] medikoo commented on #6575
@glb that's understood, and I agree with that. We have requests for many places where users would like to have such format available. In my eyes addressing those _reported_ places one by one is not viable so I was thinking about providing a solution that will allow to use that format in any object configuration. Have you checked my proposal here: https://github.com/serverless/serverless/issues/803

[2020-08-27 20:44] andyjduncan commented on #8032
Hi.  I've had a go at adding this validation.  I've tried to cover the validation with tests, but I'm not very happy with the Json string property validation.  I've left the [inline validation](https://github.com/serverless/serverless/pull/8143/files#diff-7efc760eaebd10dfdc553d056336cf08L81-L86) in place to avoid uncaught errors after validation.  I think to do this validation properly would need

[2020-08-27 21:14] medikoo commented on #8032
@andyjduncan Great thanks for giving it a go! Note, that we agreed to not write tests for validation (as schema validation engine is extensively tested on its own there seems not much value added in such tests, and it adds significant maintenance burden).

Technically with addition of a schema it's good to remove any inline validation (which will now be covered with schema) and it's related tests.

[2020-08-27 21:22] andyjduncan commented on #8032
@medikoo Okay, I'll remove the tests and push an updated commit.  I've only left the Json parsing test as that's going to be difficult to test with pattern matching.  If the pattern I've added is sufficient (`^\{.*\}$`) I can take that out as well.

[2020-08-27 22:18] dashmug commented on #8096
As of this comment, the `aws-sdk` in Lambda runtime is [v2.721.0](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html) while `aws-sdk` in npm is [v2.471.0](https://www.npmjs.com/package/aws-sdk).

In most cases, I would also just use the `aws-sdk` in Lambda runtime. I ran into one special case which needed to use a new AWS service at that time (API Gateway websockets) and it wasn't y

[2020-08-28 02:11] chrisVillanueva commented on #8031
I will have time this weekend to address.

I'll post any questions if they arise.

Thanks!

[2020-08-28 02:33] joker-8989 commented on #7303
I'm having the same issue with the latest 1.80.0 version.
If function-level packaging doesn't work,
Only packaging at the service level.
Configurations with many Lambda deployments will have a significant performance penalty.

[2020-08-28 08:30] medikoo commented on #7740
@corydorning53 I've commented at mooyoul/serverless-latest-layer-version#7 on how this issue can be fixed in a plugin

[2020-08-28 10:05] BryanCrotaz commented on #7523
The problem with writing an implementation spec in advance is that it requires deep knowledge of how Serverless is architected. As there isn't even a document of all the events that can be handled and what the responsibility of the handler is, that's virtually impossible for someone that isn't on the core team. The best that can be done is to dive in with a debugger and try and reverse engineer, t

[2020-08-28 11:55] medikoo commented on #8096
@dashmug great thanks for explanation. I wasn't aware that what's included in Lambda runtime drags that much behind latest.

That's a good point, we'll revert that change (see https://github.com/serverless/serverless/pull/8145 ).

Other thing is, that many devs may put it to dependencies simply for local invocations to work, but for that  probably Framework could ensure an `aws-sdk` that matches g

[2020-08-28 11:56] medikoo commented on #8031
Thank you @chrisVillanueva we're looking forward!

[2020-08-28 11:57] medikoo commented on #7303
@joker-8989 can you prepare as simple as possible test case that exposes the issue?

[2020-08-28 12:07] medikoo commented on #7523
I believe it's same for implementing the feature. I think we should not alter sensitive parts without understanding why they're written that way, and assume that if things works for us, it'll not break other things for other users and that it aligns with changes that are planned for framework in future.

Serverless Framework, has [anatomy](https://github.com/serverless/serverless/blob/master/docs/

[2020-08-28 12:32] georgesbiaux commented on #8088
@medikoo Here is the first PR too to address wait for serverlress command to end constraint: https://github.com/serverless/serverless/pull/8146

Do you think I need to add some tests? Or is it fine this way, since it is basically a refactor of the `resolveServerlessExecutionSpan` ?

[2020-08-28 12:34] fredericbarthelet opened #8147 "Invoke local AWS function ImportValue, GetAtt, Ref resolution"
### Use case description

Considering the following function configuration :
[code]

Invoking this function locally will not resolve AWS functions before inserting those in lambda env context : `process.env.importValueEnv` and `process.env.getAttEnv` will be object. In order for this function to be invoked locally properly, one would have to run the following command :

`sls invoke local -f myFunc

[2020-08-28 12:50] medikoo commented on #8088
It's totally fine the way you've implemented it. This script is invoked by few integration tests, so eventual issue would be exposed

[2020-08-28 12:52] medikoo commented on #8147
@fredericbarthelet this feels as duplicate of https://github.com/serverless/serverless/issues/7087 which has open PR here: https://github.com/serverless/serverless/pull/7147

Did you have a chance to look into it?

[2020-08-28 13:02] BryanCrotaz commented on #7523
I think it's really simple. Packaging turns source code into a zip.

Serverless should be able to work with any language without your team understanding that language.

You've said it must work out of the box with node. Fine.

You've said that plug-ins can only augment behaviour and cannot replace it without using private API which is a Bad Thing. Fine.

Putting those two together implies that all

[2020-08-28 13:06] BryanCrotaz commented on #7523
And a PS, it works! I've built a node project, and I've built a dotnet project. It behaves correctly for both.

In the case of node, the original behaviour is unaltered.

In the case of dotnet, I as the developer am pointing serverless at my dotnet project (which is self contained as always with dotnet) and saying "whatever's in there, build it". There's no case to say "it works for me" - there ar

[2020-08-28 13:08] BryanCrotaz commented on #7523
I'm worried that reading between the lines, you really don't want this feature. If that's the case, please just say so and I'll permanently fork serverless for a serverless-dotnet.

Suffice to say I think that's a really bad idea. In our backend we have a mix of node and C# functions so it makes so much sense to build them both in serverless.

[2020-08-28 13:19] medikoo commented on #7523
@BryanCrotaz I've never said it. We definitely need and want that feature, but we won't accept a contributions that doesn't adhere to our guidelines (there are very valid reasons for that).

If you don't want to adjust to that, it's fine, you don't have to, but at same time please do not expect that we will just blindly merge any code you propose (your word that "it works" doesn't make the code va

[2020-08-28 13:26] BryanCrotaz commented on #7523
I’ve outlined above how I want to solve it, and I have shown with a
working example that that methodology works.

What do you need me to add/change? You haven’t said what you think is
wrong with my proposal above.

[2020-08-28 13:27] thomasmichaelwallace commented on #4838
Just another +1.

`credential_process` seems to be a good work around for #7567 (see https://github.com/benkehoe/aws-sso-credential-process).

At the moment I'm trying to understand why the serverless framework uses it's own approach to credentials; which seems to be the reason that `credential_process` is supported by the `aws-sdk` out-of-the-box, but doesn't work here.

[2020-08-28 13:35] medikoo commented on #7523
I have problems seeing it. Can you re-edit main description of an issue, and add there section "Proposed solution" and provide an implementation spec there. See e.g. how it's done here: https://github.com/serverless/serverless/issues/8117

[2020-08-28 15:11] devnoo opened #8150 "When providing an arns as role, a depends on IamRoleLambdaExecution is generated for lamdbda's that have sqs or dynamodb streams as event"
When I want to reuse an existing role for the functions, or a role comming from a nested stack on which i do an !GetAtt, the generation of the eventmappings seems to break.
  "*SourceMappingDynamodbCommon": {
      "Type": "AWS::Lambda::EventSourceMapping",
      "DependsOn": "IamRoleLambdaExecution",

During cloudformation validation this will give the error that iamrolelambdaexecution does not e

[2020-08-28 15:23] KerberosMorphy commented on #8076
Reported on [serverless/safeguards-plugin/issues/6](https://github.com/serverless/safeguards-plugin/issues/6).

[2020-08-28 15:27] duyetmai commented on #6875
i just found this issue with BigQuery. It goes away after i put the specific version in the requirements.txt file.
google-cloud-bigquery==1.27.2
If I don't put the version, i need to add pandas package. Actually i don't understand why

[2020-08-28 15:27] glb commented on #6575
@medikoo I have seen your proposal in #8037 ... I'm not sure where to start with that, whereas I think I could possibly implement what I've described here. I was thinking that I would try to avoid the DX issue I reported in #8118 by leaving the array as long as possible (ideally until after validation, which would catch the problem and report it quite nicely, I think), but I haven't started implem

[2020-08-28 15:57] KerberosMorphy commented on #8076
@medikoo

I've check to code for [no-wild-iam-role-statements](https://github.com/serverless/safeguards-plugin/blob/master/safeguards/policies/no-wild-iam-role-statements.js) and I think I found the issue, it's probably a bug in safeguards. If you can check my explanation and confirm my point I'll report it to them.

So, the checkup is done on `cloudformation-template-update-stack.json` file and b

[2020-08-28 17:37] BryanCrotaz commented on #7523
Proposed solution:

Serverless should be able to work with any language without your team understanding that language.
Rules:
* It must work out of the box with node.
* Plug-ins can only augment behaviour and cannot replace it without using private API which is a Bad Thing.
Putting those two together implies that all languages must be supported in the main serverless system without using plugins,

[2020-08-28 18:43] flyinprogrammer commented on #4838
but seriously, why aren't we using the default CredentialProviderChain ??

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CredentialProviderChain.html
https://github.com/aws/aws-sdk-js/blob/f1c689ffbca0d21d7bd359d5d4a5f1bd2b498a8b/lib/node_loader.js#L58-L70

[2020-08-28 19:44] medikoo commented on #7523
Thanks @BryanCrotaz

I understand that the idea is to use different packaging logic for packing .NET functions.

I think best way to approach this, is to:

1. Allow to inject a dedicated packaging logic for any provider/runtime case (and treat currently implemented solution as a default fallback)
2. Having above, implement dedicated packaging solution for AWS/.NET functions.

I believe best if bot

[2020-08-28 19:46] thomasmichaelwallace commented on #4838
@flyinprogrammer - I'm actually trying to get together a PR to see about using it.

However, because sls _hasn't_ used the default chain, there's a few additional cases I'm working through.

[2020-08-28 19:55] #8078 closed

[2020-08-28 21:52] crash7 commented on #8122
@medikoo to clarify, this involves adding the deprecation message and then removing the `slss` command mentioned in the `package.json`:
[code]

Apart for that, the only other mention for this is the tabtab completition

Am I missing something?

[2020-08-28 21:55] medikoo commented on #8122
@crash7 I believe you got it right! In first PR (against `master`) we should just show deprecation. Then after it is merged (into `master` and then `v2`) In v2 branch we should remove deprecation and configuration of it

[2020-08-29 02:45] dobromyslov opened #8151 "Google Cloud Functions deprecated Node.js 8"
Google Cloud Functions deprecated Node.js 8

Official Google docs: https://cloud.google.com/functions/docs/concepts/nodejs-8-runtime

google-nodejs template still uses nodejs8: https://github.com/serverless/serverless/blob/c45be699f71bdb8c44cbeb52d1bfca86ee81f113/lib/plugins/create/templates/google-nodejs/serverless.yml#L6

Need to update to stable nodejs10 environment.

[2020-08-29 12:58] marcelalburg opened #8154 "AWS S3 Deployment fails with custom deploymentBucket"
After some months of no deployment, i updated to the latest version of serverless. A new deployment is not working anymore and stops with an error that my localhost:443 is not reachable. I debugged this issue and figure out that the reason is my custom deploymentBucket name. If i replace the dots with dashes in the name, it works.

Even i tried to deploy without AWS S3 Acceleration `sls deploy --s

[2020-08-29 14:52] chandrakommuri commented on #6679
same issue in 1.80.0 as well

[2020-08-29 14:57] joekendal commented on #4613
@ilrein that is terrible what you're doing. you need to lock down permissions not leave them open

[2020-08-29 22:13] crash7 commented on #8122
@medikoo thanks for the clarification, added part one on https://github.com/serverless/serverless/pull/8156 but I'm not sure about the log messages. Let me know.

[2020-08-30 07:57] georgesbiaux commented on #8088
Hello @medikoo, do you think it will be possible to re-use the [upgrade](https://github.com/serverless/serverless/blob/master/lib/plugins/standalone/index.js#L44) function that already exists? It seems suitable for the standalone auto-update.

[2020-08-30 19:18] BryanCrotaz commented on #7523
If there is going to be an addon for a provider/runtime, there should be an addon for all runtimes. Node shouldn't be treated differently.

By all means, have the node builder as a dependency so it's automatically installed, but place it as a plugin into the default config with a comment saying "Replace with your favourite runtime plugin". Otherwise you break your own rule "Plug-ins can only augme

[2020-08-31 06:08] vicary commented on #3339
@RangerRusty Sorry to bring this up again, but this hit us hard. We have >100 functions. What exactly is the name of the limit that I should be requesting?

[2020-08-31 08:05] medikoo commented on #8150
@devnoo this looks as issue on plugin side (most likely `serverless-aws-nested-stacks`), can you please report it at its repository?

If you strongly believe there's some issue in core, please update the reproducible test case to not have any plugins involved.

[2020-08-31 08:08] medikoo commented on #8076
Yes, it definitely looks flawed. PR with a fix is definitely welcome

[2020-08-31 08:24] medikoo commented on #6575
@glb thanks for proposal. Still when implementing the config validation, we agreed to validate fully resolved config, after all variables are being resolved, and array notation is kind of part of variable notations (arrays are allowed in few specific places purely to enable to rely on few sources as resolved by variables).

Trying to shift validation somewhere in a middle makes things more complic

[2020-08-31 08:57] #8151 closed

[2020-08-31 09:03] fredericbarthelet commented on #8147
Thanks for the link @medikoo I'll have a look

[2020-08-31 10:34] medikoo commented on #8154
@marcelalburg Can you show complete content of `serverless.yml`? You've shown just `provider` section excerpt, that doesn't allow to reproduce issue on our side

[2020-08-31 10:47] medikoo commented on #8088
@georgesbiaux thanks for asking. What exactly do you want to re-use this function for?

afaik that the only command that is involved into this feature, is one through which user updates it's configuration setting (on whether he wants to have an auto-update working or not), and we already have dedicated `config` command, for user configuration updates.

[2020-08-31 11:14] medikoo commented on #7523
I think we need to have some default packaging logic (that simply packages contents of service folder) that's applied if for given provider/runtime no specific implementation was provided.

and that default imo should stay in a core. It'll be technically what we have now, eventually removing some Node.js specific things to Node.js specific packaging.

Anyway as I proposed above. Point 1 would be a

[2020-08-31 11:21] medikoo commented on #7063
@stuartforrest-infinity if it's the case, then definitely we can include that, and all the instructions can be put into documentation of _deprecation_ (we document each one here: https://www.serverless.com/framework/docs/deprecations/)

[2020-08-31 11:21] medikoo commented on #8147
Sure, if you feel it's a duplicate please close the issue, otherwise let's elaborate :)

[2020-08-31 13:23] #8123 closed

[2020-08-31 18:20] lwillmeth commented on #4647
For async handlers, lambda [destinations](https://www.serverless.com/framework/docs/providers/aws/guide/functions#destinations)' `onFailure` can specify similar targets including event bus, sqs queues, and sns topics.  This seems to work for me:

[code]

[2020-08-31 18:46] jormaechea commented on #7008
@medikoo I'll take this one! :raised_back_of_hand:

Which approach do you guys think is best?

1. Setting each `[...].request.template['content-type']` to `null` or `false`
2. Setting `[...].request.ignoreDefaults` to `true`
3. Any third non-breaking idea?

[2020-08-31 20:27] jormaechea commented on #7008
I chose the first one as it was the one proposed by you.

Let me know what you think.

[2020-09-01 08:39] medikoo commented on #7008
@jormaechea I believe we should stick to what's proposed here: https://github.com/serverless/serverless/issues/7008#issuecomment-654185286

`false` introduces another _type_ for value, which doesn't seem clean. `null` I believe quite clearly signals an intent for not having value at this point.

Thanks for giving that a spin!

[2020-09-01 10:53] #8035 closed

[2020-09-01 12:23] glb commented on #6575
@medikoo the thing that I'm most concerned about is the experience for the user of the framework. You have a vision in mind for how the issue in #8118 can be properly resolved to tell the user which element of their array is incorrect; I don't exactly understand how it works but will defer to your superior knowledge of the internals. If the user experience is functionally the same as "the third el

[2020-09-01 12:46] medikoo commented on #6575
Yes, intention is to have exactly like that (or very similar) error.

Indeed #8037 is less trivial, I've added _How to implement it?_ proposal here in issue description

[2020-09-01 12:56] rkj1980 commented on #6575
Sent from ProtonMail mobile

-------- Original Message --------
On Sep 1, 2020, 8:47 AM, Mariusz Nowak wrote:

[2020-09-01 14:15] #7008 closed

[2020-09-01 14:18] #8122 closed

[2020-09-01 14:19] adilev26 opened #8162 "ServerlessError: Configuration error at 'functions.E2E.events[0]': unrecognized property 'rate'"
failed to deploy schedule rule, validation failed in 1.80.0.
tried to deploy in 1.77.1 and did not fail on validation but rule and lambda trigger did not deploy.

get message :
ServerlessError: Configuration error at 'functions.E2E.events[0]': unrecognized property 'rate'

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless print --s

[2020-09-01 14:24] medikoo commented on #8162
@adilev26 Configuration error you see is valid, note that `rate` and `name` properties should be additionally nested (they're unexpected at level where `schedule` property is defined)

[2020-09-01 14:29] adilev26 commented on #8162
10x @medikoo !!!

worked!

[2020-09-01 14:29] #8162 closed

[2020-09-01 14:42] #8120 closed

[2020-09-01 17:05] marcelalburg commented on #8154
Hello,

i was preparing the serverless.yml for you and tried to reproduce the error and it's working now (i didn't change anything or updated packages). I guess there was maybe a small issue at AWS side.

Thanks a lot for your time
Marcel

[2020-09-01 17:05] #8154 closed

[2020-09-01 18:59] chrisVillanueva commented on #8031
Thanks medikoo.  I'm excited to move forward with this.

[2020-09-01 21:29] ffxsam commented on #308
Has anyone had any luck getting `sharp` to work with Serverless?

I don't think you need Docker at all. This seems to build the proper binary in `node_modules`:

[code]

The problem is, as soon as I run `sls deploy`, it seems to rebuild the packages for Mac:
[code]

Any advice?

[2020-09-01 21:43] ffxsam commented on #308
Boom, got it! I added this to my `serverless.yml`:

[code]

Works like a charm!

[2020-09-02 01:57] herebebogans commented on #8040
I had feedback from our TAM that the rollout of the fix was completed end of September. The stacks where I was having this issue no deploy consistently!

For people that were having this issue I'd also suggest you check

`aws lambda list-event-source-mappings` and check for ESMs with "Problem : function not found" and then delete them `aws lambda delete-event-source-mapping`.

We had a number of t

[2020-09-02 10:26] fredericbarthelet opened #8170 "HTTP API authorizer id JSON Schema validation error"
With #8068 , `httpApi.authorizer.id` lambda trigger event configuration is now required to be a string.
However, this property used to accept any CF functions, like stated in the documentation https://www.serverless.com/framework/docs/providers/aws/events/http-api#shared-authorizer

<details>
<summary><code>serverless.ts</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy<

[2020-09-02 10:57] #8170 closed

[2020-09-02 12:04] fredericbarthelet opened #8173 "SNS schema validation fails with string : wrong Fn::Sub definition"
Since #8112 , when using `sns.arn` with a string, the schema validation fails.
This is due to the fact that :
- this property is required to be either a string starting with `arn:` or any CF function - exclusively
- CF function `Fn::Sub` schema specify it can be a string (this is the problem)
- both schema are matched when using any string starting with `arn:`, thus resulting in a schema violation

[2020-09-02 12:13] fredericbarthelet commented on #8173
@medikoo this issue might extends to some other definition.
It is very important to make sure `oneOf` keywork for JSON Schema validation is used where we explicitly want something to be one **XOR** the other
All other occurrences of `oneOf` should be replaced with `anyOf` keywork. WDYT ? Separate issue for this, I counted 18 occurrences worth a deeper look within the framework

[2020-09-02 13:03] #8173 closed

[2020-09-02 13:29] damien-monni opened #8176 "Getting 'provider.httpApi.authorizers.mainJwtAuthorizer.issuerUrl': should be string warning on a string variable"
I am getting `Configuration warning: Serverless: at 'provider.httpApi.authorizers.mainJwtAuthorizer.issuerUrl': should be string` when I use `Fn::ImportValue` and a custom variable on a HTTP API authorizer config but issuerUrl is already a string variable.

Deployed stack works well, the warning message should not appears.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</detail

[2020-09-02 13:32] medikoo commented on #8176
Duplicate of #8135

[2020-09-02 13:32] #8176 closed

[2020-09-02 14:44] pgrzesik commented on #8117
Hello @safv12 :wave: There's a PR available if you'd like to check it out: https://github.com/serverless/serverless/pull/8164

Any comments/insights will be much appreciated :bow:

[2020-09-02 15:03] pgrzesik commented on #8141
Hello :wave: I'm wondering, with `v2` being close to be released, should that deprecation be introduced for `v2` or to current master? I feel like it might be a short period of time for people to actually see the deprecation before it starts breaking for them in new version. What is your opinion on that?

[2020-09-02 15:08] devnoo commented on #8150
well it seems that it is in the aws provider, at least they can't fix it without it i think.

in this function:
`resolveFunctionIamRoleResourceName(functionObj) {
    const customRole = functionObj.role || this.serverless.service.provider.role;
    if (customRole) {
      if (typeof customRole === 'string') {
        // check whether the custom role is an ARN
        if (customRole.includes(':'))

[2020-09-02 15:42] sudosoul commented on #7042
Can this config be an option for all async events? Such as cloudwatch events ?

[2020-09-02 15:48] sudosoul commented on #7042
I see https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventinvokeconfig.html
-- Is this already exposed via serverless?

[2020-09-02 15:59] sudosoul commented on #7042
Sorry, Im just waking up, I'll try to get to a PR.
Im thinking it makes more sense to have an Base AsyncEvent class that all the async events use, rather than hard defining the `AWS::Lambda::EventSourceMapping` resource in each relevant event. I also feel this should be a global option as well, supported at the function level.

[2020-09-02 16:49] medikoo commented on #8141
@pgrzesik thanks for asking. I would work against `master`. If in a meantime v2 will get released then it'll automatically will be merged to `master` so automatically this PR will catch up. If on other hand we merge it to `master` before releasing v2, then we will have to implement (2) step in `v2` before releasing it (and imo that's fine!)

[2020-09-02 16:49] medikoo commented on #8141
Still, it's definitely not blocking for `v2`, otherwise it'll be marked with `v2` milestone

[2020-09-02 17:02] medikoo commented on #8150
@denvo function you're referring was introduced with v1.81, while you report against v1.80.

Again, we need a valid bug report to be able to reason about. Can you update description with respect to all bug template remarks?

[2020-09-02 17:06] medikoo commented on #8173
I'm not sure if we have any other constraint where multiple instances of `oneOf` can happen. I'm aware of this constraint and making sure weather it's safe, there are also places where we take advantage of that.

Do you see any vulnerable parts, which definitely should be updated?

[2020-09-02 19:13] guilherme90 commented on #1955
For anyone who is having this problem. If you are using Api Gateway and the type is LAMBDA_PROXY, you must make the following settings:

serverless.yml
[code]

Response
[code]

I hope this helps!!

[2020-09-02 22:11] jormaechea opened #8179 "Allow to compile AWS CloudFormation templates minified"
### Use case description

AWS CloudFormation templates have a hard limit of 460,800 bytes ([Docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html)). So size is a limited resource. Meantime, the templates are being pretty printed, wasting almost a 20% of that space in some cases.

### Proposed solution

Make a either the default behavior to write the templa

[2020-09-03 00:16] cuberoot commented on #5634
Also interested in an update.

[2020-09-03 07:26] #8030 closed

[2020-09-03 07:34] medikoo commented on #8179
@jormaechea thanks for proposal. Did you approach this limit?

[2020-09-03 09:16] #7910 closed

[2020-09-03 09:41] #7486 closed

[2020-09-03 10:11] #8087 closed

[2020-09-03 13:31] jormaechea commented on #8179
@medikoo we passed this limit some time ago (we're using APIs with non-proxy lambda integrations, so request templates use a bunch of chars).

We implemented a plugin to split stacks, but I think that we can improve our deployment times by reducing the amount of nested stacks, which we can achieve reducing their size.

I think that we can delay some time the nested stacks need for the community by

[2020-09-03 13:34] medikoo commented on #8179
Have you passed this limit before reaching `200` resources in a stack? As maximum resources limit is a limit that users usually approach, and which can be worked around with split stacks plugin

[2020-09-03 14:02] jormaechea commented on #8179
Not our case, but you could easily do that I guess. When using lambda integration, you must define request template (default until yesterday was 2 request templates: json and form-urlencoded). And you must define a response template for each status code you need to implement. With all that we have each HTTP method using ~20K. If you have 23 HTTP methods, you reach the 460K limit.

With the fix fro

[2020-09-03 15:31] medikoo commented on #8179
@jormaechea thanks for clarifications. Still if I read correctly we haven't yet approached the case, where introducing new behaviour will fix the issue for anyone.

At this point it's just an assumption, that it may fix an issue in some rare case scenario when someone will approach this limit before approaching maximum resources limit

As this project is already very heavy and we deal with signifi

[2020-09-03 20:26] EdanSneh commented on #4471
still happening 👎

[2020-09-03 20:45] duahsdev opened #8186 "🐛 Bug report"
⚠️⚠️ REPLACE WITH DESCRIPTION

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-09-03 20:45] #8186 closed

[2020-09-03 23:15] ryan-roemer opened #8187 "`serverless package` now requires AWS credentials if a layer is present in `serverless.yml`"
Hi folks!

I'm the author of [serverless-jetpack](https://github.com/FormidableLabs/serverless-jetpack) and in upgrading my test fixture suite from `serverless@1.67.0` to `serverless@1.80.0` (which runs virtually all of the available serverless config variations) I noticed the following issue:

If you are just running `serverless package` to create artifacts _and_ you have a layer included in `ser

[2020-09-03 23:25] ryan-roemer commented on #8187
Reviewing the source code, I think that the issue was introduced by https://github.com/serverless/serverless/pull/7680 in the new `compareWithLastLayer()` function that reaches out to AWS directly to see whether or not the being-packaged layer is the same as the presently deployed one.

If I'm understanding what's going, my two cents would be that as a **deploy**-time thing it would totally fine t

[2020-09-04 07:33] medikoo commented on #8187
@ryan-roemer thanks for report. It is definitely a valid concern, @exoego what do you think about that?

It sounds reasonable, still one issue I see with that, is that it'll break consistency. Currently (I believe), effect for operations as (1) _`sls deploy` and (2) `sls package_--package foo && sls deploy --package foo` is equivalent. While with above we will break that, and that can be confusing

[2020-09-04 07:38] exoego commented on #8187
I am fine with moving `compareWithLastLayer()` and related codes to `deploy`-time only.

I was not aware that #7680 introduced such accidental breaking change (AWS credentials required for `package`), since I am using only `deploy` and have never used `package`.

[2020-09-04 12:19] jliebrand opened #8189 "EFS throws a warning when it shouldn't (I think)"
I am using the new support for EFS. Another stack outputs the ARN of the EFS and I use it as follows

[code]

While this works, it throws the following warning during deploy:

[code]

Looks like the validation doesn't realise values can be imported?

[2020-09-04 12:57] medikoo commented on #8189
@jliebrand thanks for reporting, it looks as  a good call.

At first we decided to stick to string notation, as I falsely thought (see: https://github.com/serverless/serverless/pull/8042#discussion_r471559960 )  it's only with string we can setup IAM access right properly, but it appers it's not true (we can also pass CF instructions to `Resource` in IAM statement)

In light of that we definitely

[2020-09-04 14:12] jkodroff commented on #5474
Since this still seems to be a problem affecting users, I would kindly ask that the maintainers re-open this issue, but maybe pin an explanation that it's an upstream issue and sls is waiting for AWS to publish a new version of the SDK in order for the issue to be properly resolved.

FWIW, `AWS_SDK_LOAD_CONFIG=1 sls deploy` did the job for me as a workaround.

[2020-09-04 16:52] jliebrand commented on #8189
No worries - It's not blocking me, so realistically I'm not going to have time for a PR, but if it does, I'll ping you.

However, I do have a different question. I used the example cloudformation to create a VPC and got that to work. However, I need my lambdas to not only access the EFS, but also the internet. Which looks like I need a NAT gateway also? This is quickly snowballing in to way more c

[2020-09-04 20:12] funkel1989 opened #8190 "HttpApi Gateway Detailed Metrics"
### Use case description
I would like the ability to either enable or extend the HttpApiStage RouteSettings to turn on DetailedMetrics to enable the tracking of metrics for HttpApi gateway in the same way that was enabled by default for the Rest Gateway

### Proposed solution

Add a flag to the Providers.httpApi.metrics = true or allow extending the RouteSettings of the HttpApiStage at deploy time

[2020-09-04 20:50] pgrzesik commented on #8189
@jliebrand Thanks a lot for reporting this.

@medikoo thanks for tagging me here. During work on https://github.com/serverless/serverless/pull/8164 I realized that there's nothing that blocks us from supporting CF instructions which is now also confirmed by @medikoo which makes me think that implementing support for that is a great idea.

I would love to work on adding that at the end of next week

[2020-09-05 01:50] iamdavidmartin commented on #7797
i get this too. @brentpabst it would be really nice if there was any kind of validation done on that file.

what do you mean you corrupted your serverless.yml?

[2020-09-05 03:04] fwang commented on #5573
We actually put something together recently at Serverless Stack to helping using Serverless Framework and AWS CDK together. Serverless’s strength is working with Lambda and API Gateway. So a good pattern here is to use CDK for the rest of your infrastructure, and Serverless for your Lambda functions.

So we created a tool to do exactly this - Serverless Stack Toolkit (SST), which allows you to com

[2020-09-05 04:52] Birowsky commented on #5573
@fwang does this mean that lambdas keep being described with yaml?

[2020-09-05 12:55] jack1902 opened #8191 "APIGateway request schema naming for application/x-www-form-urlencoded"
When i run `serverless deploy --stage dev` i get the following output:

[code]

I am not sure how to get around this since i want the `validator` for the defined request schema. I had a look at the `serverless-aws-documentation` and `serverless-reqvalidator-plugin` but they seemed heavy weight when i have what i would have thought to have been a simple setup. If i change the content-type from `app

[2020-09-05 16:28] zaldanaraul commented on #8019
Hi,

I can try to tackle this if no one else is working on it. It'd be my first issue but I think I can do it!

[2020-09-06 04:02] fwang commented on #5573
The functions section in serverless.yml is pretty concise. So yeah, we still use Serverless Framework to define, build/webpack and deploy our Lambdas.

We always deploy the SST (resources) service first, and then deploy the Serverless service.

[2020-09-06 09:07] kelvinluime commented on #4928
This issue still happens to me as the api keys section in deploy output is always None. sls version 1.78.1

[2020-09-06 13:19] whitecolor opened #8193 "ENOENT: no such file or directory node_modules"
If folder with serverless project doesn't contain `node_modules` folder it gives an error.

![image](https://user-images.githubusercontent.com/736697/92326564-777c7200-f06c-11ea-8427-0f5e630d1272.png)

To get rid just need to create empty `node_modules` folder.

<b>Installed version</b>

[code]

[2020-09-06 15:15] whitecolor opened #8194 "Puts invalid comment to created CF distribution"
It puts `dev` comment where should be `prod`

![image](https://user-images.githubusercontent.com/736697/92328869-435d7d00-f07d-11ea-9d68-82d42d8400bd.png)

![image](https://user-images.githubusercontent.com/736697/92328864-2759db80-f07d-11ea-9094-ad8caff3317b.png)

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-09-07 04:49] joker-8989 opened #8197 "Delete protection does not appear in console"
After upgrading serverless to the latest I have set delete protection on the DB but it doesn't show up in the console.

Curiously, the console doesn't seem to be delete protected in the notation, but the resource remains when you actually remove it.

[code]

The environment is as follows.
[code]

[2020-09-07 07:15] medikoo commented on #8189
@jliebrand for general questions best if you see  https://forum.serverless.com/ or https://www.serverless.com/slack I do not have a direct answer for that.

@pgrzesik great thanks! I think it's probably be as easy as switching chosen definition from `awsArnString` to `awsArn`. We had recently definitions for all CF instructions configured in schema, so it's just no question of choosing right one.

[2020-09-07 07:21] #8014 closed

[2020-09-07 07:37] medikoo commented on #6112
Addressed with #7754

[2020-09-07 07:37] #6112 closed

[2020-09-07 07:38] medikoo commented on #8190
@funkel1989 we're definitely open for a PR. Can you specify how the configuration will look on CloudFormation level?

[2020-09-07 08:26] joker-8989 commented on #8197
I'm sorry, my understanding was wrong.

`DeletePolicy` controlled the delete from the stack and the parameter protecting DB delete from the console was `DeletionProtection`

[2020-09-07 08:26] #8197 closed

[2020-09-07 08:33] medikoo commented on #7797
@iamdavidmartin we already have validation engine in place and it covers some parts of the config. Validation specifically of this property will be addressed with: https://github.com/serverless/serverless/issues/8016 (PR's welcome!)

[2020-09-07 08:37] medikoo commented on #8191
@jack1902 can you please check if you have same error when not relying on any plugins? Note that plugin related errors should be reported at plugin repositories not here

[2020-09-07 08:37] medikoo commented on #8019
@zaldanaraul that'll be great! We look forward

[2020-09-07 08:52] medikoo commented on #8193
@whitecolor please respect all bug template remarks. Also it looks as if you're relying on plugins. Note that bug reports as posted here should describe cases where no plugins are used in service. All plugin related issues should be reported at its repositories.

[2020-09-07 10:15] medikoo commented on #8147
To avoid confusion, I'm going to close it as duplicate of #7087, at least in my eyes, it's exactly about same thing

[2020-09-07 10:15] #8147 closed

[2020-09-07 10:30] jack1902 commented on #8191
@medikoo you want me to just run `bare-metal` serverless? since the plugins i have are not related to the issue. I mentioned i "could" use those other plugins but when i run serverless without them as per the `serverless.yml` above, i get the `alpha-numeric` constraint from CloudFormation.

Since i want to set a `schema` on the `request` for a content-type of `application/x-www-form-urlencoded` i

[2020-09-07 10:35] medikoo commented on #8191
We need a test case that reproduces the problem, and doesn't involve any plugins (ideally configuration should be minimal just to reproduce the issue).

Can you update content of `serverless.yml` in main description, so it reflects used config.

[2020-09-07 10:38] medikoo commented on #8194
@whitecolor I'm not able to reproduce this issue.

I've just deployed this service: https://github.com/medikoo/test-serverless/blob/cloud-front/serverless.yml and AWS console shows a stage name as used in config:

![Screenshot 2020-09-07 at 12 37 10](https://user-images.githubusercontent.com/122434/92378975-f1613980-f106-11ea-8111-574ac71a127f.png)

[2020-09-07 10:51] whitecolor commented on #8193
Hah right, I even created the issue in the plugins repo, but forgot about this. https://github.com/prisma-labs/serverless-plugin-typescript/issues/210

[2020-09-07 10:51] #8193 closed

[2020-09-07 10:57] jack1902 commented on #8191
@medikoo ok the `serverless.yml` is now down to the bare minimum required, i can supply the contents of the `serverless` directory if required but the error doesn't complain about an invalid template

[2020-09-07 11:00] whitecolor commented on #8194
@medikoo well I put screens of what I see, will try it again, if you don't mind a couple of question here about creating/updating cloudfront resources:

1) why distribution is created updated for so long (several minutes)? If to use for example `aws-sdk` those operations are done in seconds.
2) so the same question about update operation which is performed even if it is not needed.

[2020-09-07 11:08] medikoo commented on #8194
It's probably related to fact that they're setup via CloudFormation, still I'm not sure why exactly it takes that long in CF. It's more a question to AWS support

If Framework initializes stack update when there are no changes, it's certainly a bug that deserves its own bug report

[2020-09-07 11:10] medikoo commented on #8191
@jack1902 I miss content of ${file(serverless/url_encoded_schema.json)}` ? Can you put this inline, or provide a content of this file?

Same with `${file(serverless/200_template.vm)}`

If you feel that some parts of a config are irrelevant and do not influence the test case, can you also clear them up?

[2020-09-07 11:25] jack1902 commented on #8191
@medikoo i've dropped the `serverless.yml` to the bare minimum and i have added the contents of the request file (its for slack, from their json event page)

[2020-09-07 12:49] medikoo commented on #8191
@jack1902 great thanks for cleaning up the test case. Indeed there's bug, for some reason it was not noticed so far, but function that generates the model name doesn't handle `-` as expected:

https://github.com/serverless/serverless/blob/5096534a80e211b947e59d7283cfdfdd1711e7ea/lib/plugins/aws/lib/naming.js#L287-L291

`_.startCase` replaces `-` with whitespace.

PR with a fix is welcome!

[2020-09-07 13:21] jormaechea commented on #8179
@medikoo sorry for the delay. I will fix the issue for me :rofl:

As this is an issue that didn't change any feature, it's just about formatting I thought it would be nice.
As a side effect, templates should be uploaded faster since they will be reduced in size by ~20%.

If this is not being accepted right now I could go with a plugin approach, but I think it's overkill.

[2020-09-07 14:15] medikoo commented on #8179
@jormaechea Let's wait for more votes. We will be totally open to accept once it appears as an issue for some users.

Otherwise we prefer to not add features of which real value is not confirmed, purely to avoid extra maintenance cost that comes with it.

[2020-09-07 14:32] medikoo commented on #2749
Addressed with https://github.com/serverless/serverless/pull/7156

[2020-09-07 14:32] #2749 closed

[2020-09-07 14:37] medikoo commented on #2765
Closing due to reasons mentioned in https://github.com/serverless/serverless/issues/2765#issuecomment-523042063

Even if we would consider providing and implementing an aid like that, this will not be bundled with a Framework, but provided as external package/utility

[2020-09-07 14:37] #2765 closed

[2020-09-07 14:48] medikoo commented on #2785
I've updated main description with implementation proposal. It can be achieved quite simply (I think), and added value is real

[2020-09-08 04:48] colemujadzic commented on #8191
I wanted to see if y'all might be alright with me taking this on, but I'm totally fine if you want to see the resolution through @jack1902! 🙂

[2020-09-08 07:33] medikoo commented on #8191
@colemujadzic I think you can go for it. Fix would be very welcome :)

[2020-09-08 08:05] jack1902 commented on #8191
@colemujadzic go for it, seems like an easy fix but I'm not familiar with the codebase of serverless so not 100% sure if there are any hidden traps

[2020-09-08 08:16] #8135 closed

[2020-09-08 10:02] medikoo commented on #2822
Closing as it's a old, stale issue, and it's not clear to me exactly what are the expectations.

Yes it's true, that if API key is removed from configuration it'll be then removed on AWS side, I believe that's expected behavior by most of users (we should be able to deactivate keys, and removing them signals such intent)

@orasis if you believe I misunderstood this issue, and feel it's still impor

[2020-09-08 10:02] #2822 closed

[2020-09-08 10:13] medikoo commented on #2867
Closing, as (firstly) SAM feels more as an alternative to Serverless Framework, and that makes it a bit to high level abstraction to rely on, and (secondly) taking into account last years experience, it feels that most effective solution can be built only when relying on AWS SDK directly (and it's the path we've taken on with Serverless Components)

Relying on CloudFormation proven to leave us wit

[2020-09-08 10:13] #2867 closed

[2020-09-08 10:27] medikoo commented on #2883
https://github.com/serverless/serverless/issues/8107 proposes to keep such settings in `serlveress.baseConfiguration`.

Closing this in favor of #8107

[2020-09-08 10:27] #2883 closed

[2020-09-08 10:47] medikoo commented on #2887
It looks to me as design bug that authorizer settings are configured at event level, e.g. in following example configuration same authorizer is used for two events, in each, different value for `resultTtlInSeconds` is provided. Unexpected result is that only one authorizer setup is created (which is reused for both events) and it's only the latter `resultTtlInSeconds` value that's respected.

[cod

[2020-09-08 17:17] colemujadzic commented on #8191
@medikoo @jack1902 Thanks! I'll take a look and follow up if I have any questions

[2020-09-09 06:11] ac360 opened #8205 "Clean up config validation CLI output"
The new config validation feature is great, but has a very verbose and hard to understand CLI output which goes against the simplicity of the CLI we have always held as a goal.

Here is what it looks like:

<img width="1453" alt="Screen Shot 2020-09-08 at 10 50 38 PM" src="https://user-images.githubusercontent.com/2752551/92559976-74c57c80-f226-11ea-8f50-78c41db80aec.png">

The issues are:

* Warn

[2020-09-09 07:21] medikoo commented on #8063
@joebernard I've just realized that `outputs` backs an important _dashboard_ feature, and while not being consumed by Framework, it is read by [@serverless/enterprise-plugin](https://github.com/serverless/enterprise-plugin/)

I'm moving this issue there, it'll be addressed promptly.

Thanks for reporting!

[2020-09-09 07:26] #8191 closed

[2020-09-09 07:59] zhaobao commented on #7312
@IslandUsurper Do you solve this problem? we also encounter the same one

[2020-09-09 08:45] aykutaras opened #8206 "Configuration warning at 'plugins': should be array when using Enhanced Object"
When we specify enhanced object in plugins declaration, serverless gives that warning which is misleading.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls package</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-09-09 09:05] medikoo commented on #8206
@aykutaras thanks for report. Indeed when configuring schema for `plugin` we didn't envision this format (which is also about to be deprecated)

PR with a fix is welcome!

[2020-09-09 09:11] aykutaras commented on #8206
@medikoo thanks for quick feedback. You mentioned enhanced object declaration will be deprecated, then what is the correct way to use localPath for local plugins? I can update the code accordingly with suggested approach.

[2020-09-09 09:45] medikoo commented on #8206
@aykutaras At some point we've added support to reference plugins via relative paths (e.g. `./path/to/plugin/in/service/context`) and this is the recommended approach (follow same rules as Node.js when resolving modules).

One culprit with new way that plugins referenced via _relative_ paths are not automatically excluded from lambda packages (dedicated issue: https://github.com/serverless/serverl

[2020-09-09 10:14] aykutaras commented on #8206
@medikoo thanks for the reply. We will follow the recommended approach then. I think this issue can now be closed since there is no need to add new functionality for a future deprecated functionality.

[2020-09-09 10:27] medikoo commented on #7087
Closing as support for `Ref` resolution wash brought with #8198, also we've added support for `Fn::ImportValue`with #8157.

If there's a demand to support other CF functions please open a new feature request. Thank you!

[2020-09-09 10:27] #7087 closed

[2020-09-09 11:12] #8032 closed

[2020-09-09 13:20] IslandUsurper commented on #7312
@zhaobao, I used the workaround to have the whole description on one line, like any other YAML value:

[code]

[2020-09-09 13:30] medikoo commented on #8205
@ac360 thanks for report

It actually was configured to look as _orangered_, e.g. it looks like that on my side:

![Screenshot 2020-09-09 at 13 18 46](https://user-images.githubusercontent.com/122434/92604316-ae42ca00-f2b0-11ea-98e9-c722557c36b5.png)

Still it appears, that not all shells support that color, and anyway I agree that introducing another shade is controversial. I've updated it all to

[2020-09-09 15:30] shariffy commented on #6600
I believe it's due to this [commit](https://github.com/serverless/serverless/commit/bbade3d1a878a6c86df574f82fab06f036a105e1).
Although the commit message could be clearer (or a comment added), I think the purpose is to replicate how Lambda already calls `basicConfig`.

So, in your example, `basicConfig` is invoked a second time on the root logger and gets ignored.
To get around it, as per [Lambda

[2020-09-09 18:37] glb opened #8208 "Support `Condition` attribute on resources"
### Use case description

#8139 introduced a schema for AWS Resources. It didn't include the `Condition` resource attribute.

Similarly, #7352 introduced `resources.extensions` without support for the `Condition` attribute.

[reference](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/conditions-section-structure.html)

### Proposed solution

Extend the schema for resources and updat

[2020-09-10 01:07] corydorning53 opened #8209 "ec2:DescribeSecurityGroups permissions error for VPC Security Group"
Trying to deploy a lambda into an existing VPC and getting the error below. Says my OnboardLambdaFunction doesn't have permissions to DescribeSecurityGroups. I've tried removing the vpc config and deploying just the policy first but no luck.

[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[co

[2020-09-10 01:55] RyanGrange commented on #3797
Another +1 years later because I was hoping to use the version number as part of a cache key so that changes couldn't use cache entries from older versions.  $LATEST isn't going to work for that.

[2020-09-10 02:03] dl748 commented on #8113
I still cannot get this to work... I created a serverless.ts file and its being imported

serverless.ts
[code]

I see the 'here' when i run serverless.

[code]

seems to work, the serverless sees the name property.  But I can't seem to do any async in the serverless.ts file.

[2020-09-10 02:20] bisoldi commented on #6931
I'm seeing this issue now too.  Started with a stack that I updated to include tracing for the Lambda's and it failed with the above error.  So, I deleted the stack and redeployed and am still getting it.  This was simply using tracing: lambda: true

I haven't tried the plugin yet.

Inspecting the serverless-state.json, it appears it does not add xray:PutTraceSegments to the Lambda execution role

[2020-09-10 06:43] medikoo commented on #8208
@glb great thanks for pointing that. Indeed we missed that, as we were relying on https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-product-attribute-reference.html which doesn't mention `Condition`.

It's a pity there's no good source of information which would list all possible top level _resources_ properties.`Condition` seems to be documented on its own here: https://docs.aws.

[2020-09-10 06:54] jack1902 commented on #8191
@colemujadzic @medikoo thanks for the fast turnaround!

Managed to deploy the schema!

[2020-09-10 06:58] jack1902 commented on #8209
@corydorning53 this appears to be a permissions issue on the role you are using the deploy the service. What permissions do you have on your deployment role?

[2020-09-10 07:04] jack1902 opened #8210 "AWS HTTP API: Support IAM and Lambda authorizers"
### Use case description

AWS have announced support for an IAM or lambda authorizer on the HTTP API (much like the API Gateway ones)

https://aws.amazon.com/about-aws/whats-new/2020/09/api-gateway-http-apis-now-supports-lambda-and-iam-authorization-options/

### Proposed solution

Use the same logic from the Rest API (API Gateway) for the HTTP API resource creation

## Implementation proposal (in

[2020-09-10 08:14] medikoo commented on #8209
@corydorning53 this error doesn't signal a bug in a framework, for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-09-10 08:19] medikoo commented on #8113
Configuration file is expected to export JSON structure, and _async_ resolution can only be achieved via variable file imports as pointed here https://github.com/serverless/serverless/issues/8113#issuecomment-678298912

[2020-09-10 08:22] medikoo commented on #6931
@bisoldi can you prepare a minimal test case with which we can reproduce the issue (note it shouldn't involve any plugins) ?

[2020-09-10 08:25] medikoo commented on #8210
@jack1902 great thanks for report, we definitely should have that!

Before we jump into PR,  it'll be good to outline on how configuration settings should be defined and how they should translate to CloudFormation template

[2020-09-10 08:49] #8205 closed

[2020-09-10 09:49] #8208 closed

[2020-09-10 11:07] BartusZak commented on #3785
That works for me:
1. Comment out function definition in `serverless.yml`
2. `serverless deploy`
3. Uncomment function definition in `serverless.yml`
4. `serverelss deploy`

Profit!

[2020-09-10 11:15] simlu commented on #3785
For maximum breakage best done with a live production environment that is hooked to a domain. Enjoy! 😋

[2020-09-10 13:52] bisoldi commented on #6931
It actually appears to be an issue (perhaps a race condition?) between the serverless-iam-roles-per-function plugin and the native support for tracing.  Below is a gist for the serverless.yml file.  The Lambda is just a simple hello world.

https://gist.github.com/bisoldi/27564bb8de3f93399c61778e07f25fee

Commenting out the plugin, it works.  Leaving it in, it fails to deploy with

Looking at the

[2020-09-10 14:04] medikoo commented on #6931
@bisoldi it means that it needs to be reported at plugin repository, as it's an issue over there

[2020-09-10 14:30] rodrigogs commented on #3212
It doesn't work if you have several services where you wish to use the same authorizer. It gives me `Authorizer name must be unique. Authorizer authorizer already exists in this RestApi`.

Is there a really simple way to share an authorizer? Cuz, for God's sake, it should be pretty basic!

[2020-09-10 14:43] rodrigogs commented on #3212
It works if you give a unique authorizer name to each service... which looks strange.

[2020-09-10 18:10] corydorning53 commented on #8209
you were right regarding the role. i was able to fix by adding it to my sls profile i was using. however, i am now getting the following error:
[code]

Is this referring to the lambda execution role? If you look at my serverless.yml above, i have defined with these permissions...confused.

[2020-09-10 18:30] corydorning53 commented on #6087
having the same issue. not sure i follow how you fixed this...

[2020-09-10 19:07] colemujadzic commented on #8191
@jack1902 glad to hear that!

[2020-09-10 19:11] corydorning53 commented on #8209
fixed...just needed to add the proper subnet id.

[2020-09-10 19:11] #8209 closed

[2020-09-10 23:23] michael-wolfenden opened #8220 "Configuration warning at 'resources.Transform': should be object"
I'm trying to use a transform in my `serverless.yml` but I'm getting the following warning

[code]

The [cloudformation template documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-section-structure.html) seems to suggest that `Transform: [MyMacro, AWS::Serverless]` is valid syntax

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<d

[2020-09-11 01:26] dougmoscrop opened #8221 "Improve/converge AWS SDK credentials handling"
### Use case description

There are a few use cases that aren't quite met by the way the AWS SDK is configured internally in serverless, which I think creates some confusion (possibly related: https://github.com/serverless/serverless/issues/7676), but also some tech debt in the sense that, as far as I can tell, serverless is sort of manually configuring the SDK to behave very, very close to how it

[2020-09-11 03:51] joker-8989 commented on #5008
I found a great plugin to solve this problem.
https://github.com/medikoo/serverless-plugin-vpc-eni-cleanup

[2020-09-11 03:55] techdragon commented on #7227
@medikoo / @pmuens  - This is the documented behaviour of the `invoke local` command.

It should simply be supported and I cant understand why this was even a question.

[2020-09-11 04:19] joker-8989 commented on #5008
I thought it was a good tool, but it doesn't seem to support stack updates.
It seems that it can be used when `sls remove`.

[2020-09-11 04:57] DilLip-Chowdary-Codes commented on #6902
Do you have python3.7 Installed in your local machine?

[2020-09-11 06:08] fredmararac commented on #6087
Hi @corydorning53 ,

In our case, our function has tags. And in our yaml file, due to incorrect environment configuration, the **Environment**'s  value is `null` hence causing the error.

Here is our sample configuration, the tag:  **Environment** has no value.

[code]

[2020-09-11 08:49] jack1902 commented on #8210
@medikoo Agree on tackling the two authorizers as two seperate PRs.

I believe this is the underlying resource for the `authorizer`
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigatewayv2-authorizer.html

[2020-09-11 09:38] jack1902 commented on #8221
for those who might find it useful, i have always done this for handling creds around `serverless` and using `yarn` for package management

<details>
<summary><code>serverless_direct</code></summary>

[code]

</details>

<details>
<summary><code>serverless_via_docker</code></summary>

[code]

[2020-09-11 15:13] dougmoscrop commented on #8221
Yeah in our case, we map every `${service}-${stage}` combination to an explicit AWS profile as we have dozens of accounts, and that profile can be set up to either delegate to another profile (which we do - as we may put dev/test stages in one account, but prod in a separate, and so then we have a profile for the account itself), which can then use the credential process to auto-generate STS token

[2020-09-11 22:17] vagarwal77 opened #8225 "serverless is broken badly"
Seems like, serverless is broken badly :-

[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ sudo npm install -g serverless@~1.62.0
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
/usr/bin/serverless -> /usr/lib/node_modules/serverless/bin/serverless

[2020-09-12 06:25] ASHRAF-BEHLIM opened #8226 "calling APIs showing error (for serverless)"
Lambda execution failed with status 200 due to customer function error: Bad handler

Request Body
Request Body is not supported for GET methods.

when i am calling APIs offline mode it shows module not found  etc.

[2020-09-12 16:09] mattccrampton commented on #1678
I see serverless 2.0 is out now, is this supported now?

[2020-09-12 21:02] sshadmand commented on #6175
Severless seems to be down. I am getting the same message as OP.

Tried:
- Upgrading to latest 1.83.0
  - DIdn't work got same as OP.
- sls logout
  - Logging back in took my to this page

![Screen Shot 2020-09-12 at 2 00 38 PM](https://user-images.githubusercontent.com/68735/93004910-9b263900-f500-11ea-856a-f6a2a98d7591.png)

[2020-09-12 21:08] sshadmand commented on #6175
FYI Upgrading to `"serverless-domain-manager": "^2.6.13"` seemed to fix the issue.

[2020-09-13 00:43] uzenith360 commented on #6915
Worked for me too. I had to correct my indentation

[2020-09-13 18:51] sjortiz commented on #2699
@medikoo I'm not longer working on this, you can assign it to someone else, I really couldn't solve it.

[2020-09-14 00:46] zatchgordon commented on #7583
npm install fixed the issue for me

[2020-09-14 08:31] medikoo commented on #8220
@michael-wolfenden thanks for reporting. Indeed it was not defined properly.

If I read correctly the AWS docs, what's expected there is an array of strings.

PR with a fix is welcome!

[2020-09-14 09:34] medikoo commented on #8221
@dougmoscrop great thanks for openning that!

It's definitely the goal. If Serverless doesn't resolve credentials as AWS SDK does, then it is a bug (could be a _design bug_)

There's a dedicated issue: https://github.com/serverless/serverless/issues/4838 (and there's was a PR: https://github.com/serverless/serverless/pull/6430 but it involved a bit more work, and contributor didn't manage to compl

[2020-09-14 09:35] medikoo commented on #7227
@techdragon we welcome a PR that fixes that

[2020-09-14 10:39] medikoo commented on #8210
Thanks @jack1902 and what would be exact service config to CF template properties mappings for both IAM and Lambda authorizrers?

It'll be great to have spec, as e.g. outlined in this description: https://github.com/serverless/serverless/issues/8117

[2020-09-14 10:54] gruckionvit commented on #8225
Use npm to clear the cache then delete node_modules. Make sure you uninstall serverless if it is globally installed. Also turn your PC off and on again ;)

[2020-09-14 12:14] medikoo commented on #8225
@vagarwal77 note that latest version of `serverless` is 2.0.0, your install command tries to install 1.62 which we no longer support

[2020-09-14 12:22] XM37 commented on #6882
Is a bugfix already planned here?

[2020-09-14 12:40] medikoo commented on #8226
@ASHRAF-BEHLIM please use and respect all bug report template remarks

[2020-09-14 12:41] medikoo commented on #2699
@sjortiz no problem. Great thanks for putting effort into it!

[2020-09-14 12:46] medikoo commented on #7583
Closing due to missing details

[2020-09-14 12:46] #7583 closed

[2020-09-14 13:28] stuartforrest-infinity commented on #6882
@XM37 I have some work in progress that should address this attached to #7063. I have have had to pause on finishing/testing it at the moment though.

[2020-09-14 13:46] #8034 closed

[2020-09-14 16:40] vagarwal77 commented on #8225
Followed all the below steps and rebooted and still problem persist -

[vagarwal@AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ npm cache clean
[vagarwal@AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ npm prune
unbuild ansi-regex@4.1.0
unbuild ansi-styles@4.2.1
unbuild boxen@4.2.0
unbuild camelcase@5.3.1
unbuild chalk@3.0.0
unbuild cli-boxes@2.2.1
unbuild color-convert@2.0.1
unbuild color-na

[2020-09-14 17:11] vagarwal77 commented on #8225
[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ node -v
v6.17.1
[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ npm -v
3.10.10

[2020-09-14 18:11] corydorning53 opened #8232 "NODE_EXTRA_CA_CERTS not being read"
I have a Certificate Authority file (.pem) that i'm bundling with my lambda and I have added the `NODE_EXTRA_CA_CERTS` to my environment variables with the path to the cert file. Unfortunately, when i make my requests back to my on-prem server, node is giving the following error:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️

[2020-09-14 18:12] corydorning53 commented on #8232
I guess i'm just trying to figure out how to bundle a ca file with my lambda and have it used in my runtime environment.

[2020-09-14 19:19] vagarwal77 commented on #8225
Updated all the version

[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ node -v
v14.10.1
[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ npm -v
6.14.8
[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ serverless
Serverless: Configuration warning:
Serverless:   at 'resources.Resources.FHIRBinaryBucketHttpsOnlyPolicy.Dep

[2020-09-14 19:22] joshuanapoli commented on #5652
[The RequestParameters is set to empty object when no request parameters are specified.](https://github.com/serverless/serverless/blob/56b335f99930aa9c2a35ce28e68dfea6d5bf3b7f/lib/plugins/aws/package/compile/events/apiGateway/lib/method/index.js#L14)

This leads to spurious drift event, because the resource reports blank RequestParameters, which CloudFormation considers different than empty object

[2020-09-14 20:07] Dirvann commented on #6989
Even when I was logged in as root I had to use sudo, then it worked.

[2020-09-14 23:33] dl748 commented on #8113
I know that, that's the whole point of this issue.  To get first class support for configuration files that are coded.

The mere fact that its a 4 lined addition with 100% backwards compatibility, but not even considered or taken seriously is very sad.  The fact that the "solution" is to have developers manage 2 configuration files is not a real solution.

Because of that, I'm closing this issue.

[2020-09-14 23:33] #8113 closed

[2020-09-14 23:38] dl748 commented on #8071
Closing, I've found my workaround for this feature.

[2020-09-14 23:38] #8071 closed

[2020-09-15 04:21] techdragon commented on #5668
This still appears to be broken over a year later.

[2020-09-15 07:18] medikoo commented on #8232
@corydorning53 for regular support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-09-15 07:23] medikoo commented on #8225
@vagarwal77 thanks for update. From your logs I see two issues on our side:

1. Just array notation is recognized for `DependsOn` in `resources` section, where also string should be supported (still note it's just warnings, they do not affect further processing of a command)
2. Network error crashes the interactive CLI setup. While network error signals issue with your setup I think we should hand

[2020-09-15 07:47] medikoo commented on #8225
(1) Fixed with #8233
(2) Handled at #7733 (please follow this issue on progress on that)

[2020-09-15 07:47] #8225 closed

[2020-09-15 07:59] medikoo commented on #8113
@dl748 thanks for a feedback. If we will see increased demand to support asynchronous resolution of service configuration we will definitely consider that.

For now I think asynchronous resolution through variable extensions should be good enough, as at least in all cases known to me, it's just some parts of config that may require asynchronous resolution, and not config as a whole

[2020-09-15 12:21] corydorning53 commented on #8232
In the past it just seems pretty inactive, but I’ll give it a shot

[2020-09-15 12:22] #8232 closed

[2020-09-15 13:42] jimjenkins5 commented on #8206
I would think this should be reopened. Until the advanced object declaration is deprecated (and really until it's completely phased out) the schema validator should not throw a warning, even if it's no longer the recommended approach.

We have over 200 services in a mono repo that currently use the advanced object declaration. Until it's officially deprecated, it's not feasible for us to change th

[2020-09-15 13:55] grozdz opened #8249 "Provisioned concurrency is not working with SQS lambda event"
Hello,

There is an issue while deploying Lambda function with provisionedConcurrency enabled which uses SQS as event source. The error message is following:
[code]
It seems that SLS is not injecting DependsOn for Event Source Mapping into CFN template which expects alias to be present while creating this event source mapping (here template generated):
[code]
If I deploy Lambda with events section

[2020-09-15 14:19] medikoo commented on #8206
@jimjenkins5 I definitely agree. I'm reopening, and patch that brings support for that notation to schema is very welcome

[2020-09-15 14:24] glb commented on #8037
@medikoo it looks like the gitlab folks are doing something similar by extending YAML syntax, you may want to check out [their proposal](https://gitlab.com/groups/gitlab-org/-/epics/4381).

[2020-09-15 14:43] #8026 closed

[2020-09-15 14:50] dougmoscrop commented on #8221
yes absolutely, I just technically might say this doesn't _only_ enable credentials_process, but I have no preference or strong feelings here, close away :)

[2020-09-15 14:51] dougmoscrop commented on #4838
Looking for feedback on a first pass at using the provider chain here: https://github.com/dougmoscrop/serverless/commit/49cd19aa4b1954aa0441fbebeca8e9291bf635fe

[2020-09-15 14:51] #8221 closed

[2020-09-15 15:20] medikoo commented on #8249
@grozdz great thanks for openning that. Indeed it's likely that alias needs to be added, in same manner as it's done here: https://github.com/serverless/serverless/blob/e136d8bfd4d299a4faa31cf33dd804d3cc1096bc/lib/plugins/aws/package/compile/events/alb/lib/permissions.js#L32-L35

PR with a fix is welcome!

[2020-09-15 15:26] medikoo commented on #8037
@glb great thanks for linking that. That looks very neat.  Indeed maybe then it'll be better to do it as follows:

[code]

What do you think?

Note: I've put it slightly differently, as I think notation they propose (in `rules: !merge` example), will not really work, as it doesn't seem as valid YAML structure (but I didn't tested that through)

[2020-09-15 15:49] Brent-Jackson opened #8251 "Lambda Version fails to publish when CloudFormation changes but Lambda config doesn't"
## Description
CloudFormation can be used to help define a Lambda's configuration. In cases where the CloudFormation changes in a way such that the generated Lambda config remains the same as a previously published Lambda, the `sls deploy` step fails due to CloudFormation being unable to create the Lambda::Version resource with the following error:
[code]
[The AWS Lambda API PublishVersion docs st

[2020-09-15 15:55] isupremedyou commented on #4928
I just followed this documentation and also had this issue:
https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#setting-api-keys-for-your-rest-api

[2020-09-15 15:59] corydorning53 opened #8252 "Lambda Deployment Package and Serverless Package do not include same folders"
When viewing the contents of my serverless package in `.serverless/my-service.zip`, it includes all files/folders not in my exclude block. However, when i export my lambda deployment package in AWS, a `config` folder and its files are missing.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output

[2020-09-15 15:59] jose920405 commented on #3915
With the correct management of dependencies this shouldn't be necessary, because your packaged logic should only requiere modules that had to be added in `dependencies` not in `devDependencies`.

[2020-09-15 16:09] corydorning53 commented on #8252
disregard, the file extensions were in my .gitignore unbeknownst to me.

[2020-09-15 16:09] #8252 closed

[2020-09-15 16:41] corydorning53 commented on #7740
yeah i noticed. plugin doesn't seem to be actively developed any longer with this being the only report issue and the last activity on it being 5 months ago. :/

[2020-09-15 20:12] glb commented on #8037
@medikoo I don't know enough about how tags work in YAML processing to comment. I liked their proposal, if that's something that can actually be done.

[2020-09-15 21:38] thewizarodofoz commented on #8251
I believe this was fixed by #8212

[2020-09-16 00:33] claydanford opened #8253 "Provisioned Concurrency should allow for zero to be set, to enable per environment configuration"
### Use case description

Currently provisioned concurrency cannot be set to `0` even if I want environment/stage specific configuration. We should allow `0` so in lower environments PC is disabled but enabled in higher environments.

### Proposed solution

[code]

[2020-09-16 00:39] arash-bizcover commented on #7628
This is 5th time in last year, I'm searching whole Github. how to explicitly set value of API key on this Serverless lambda thing😰
It just doesn't work

[2020-09-16 02:57] cyberfox1 opened #8254 "iamRoleStatements no longer work per function"
Using v2.0.0.

When placed under provider, the permissions appear in the deployed IAM role.

When placed under the function, they do not.

This used to work.

[2020-09-16 05:52] justinlazaro-iselect commented on #7631
![image](https://user-images.githubusercontent.com/54691710/93297434-d3d95180-f823-11ea-91a1-e746a1d0f67a.png)

is this resolve?

[2020-09-16 06:47] DavidWells commented on #6499
I just noticed this as well. Adding an attribute to schema detached the triggers. Odd 😅

I might wire these up to the cognito pool using the function ARNs to work around this

[2020-09-16 06:48] gitcatrat commented on #1029
Did all this in EC2 and I still get `Error [ConfigError]: Missing region in config`.

[code]

[2020-09-16 08:56] medikoo commented on #8251
@Brent-Jackson great thanks for report. It's an interesting problem. As @thewizarodofoz pointed we solved it in #8212 for few obvious cases, but indeed where we deal with values that are resolved on AWS side during deployment we have limited means to properly detect weather real change happened or not.

This looks as interesting idea. I take this could be accomplished by playing with modification

[2020-09-16 10:10] medikoo commented on #7740
@corydorning53 I think we can incorporate that to the Framework. Still to not confuse things, I believe best would be if we'd rely on current variables syntax, we may try to introduce another `context` scope for that:

[code]

[2020-09-16 10:14] medikoo commented on #8037
@glb I've replaced `$extend` with `!merge` in implementation proposal, as I think it's more intuitive, and as it's something else as our variables, I think it's ok to use `!` not `$` as prefix.

PR that implements that is welcome!

[2020-09-16 10:17] medikoo commented on #8253
@claydanford Doesn't `0` translate to _no provisioned concurrency_ ? Why not removing this setting if we're not after securing provisioned concurrency?

[2020-09-16 10:19] medikoo commented on #7628
@arash-bizcover try asking at https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-09-16 11:31] medikoo commented on #8254
@cyberfox1 please respect bug template remarks and answer all questions carefully

[2020-09-16 11:43] medikoo commented on #7631
@justinlazaro-iselect what's the source of that screenshot ?

[2020-09-16 11:44] medikoo commented on #7631
@justinlazaro-iselect this looks right. Still note we released v2 recentlu, so best way is to put:

[code]

[2020-09-16 11:44] justinlazaro-iselect commented on #7631
@medikoo oh okay, thanks

[2020-09-16 12:51] medikoo opened #8257 "Interactive start: Ensure valid state of instance after project creation"
When we setup a new project with a interactive CLI, after new template is downloaded, internals [tweak](https://github.com/serverless/serverless/blob/d070986d8628b2bdc5ac984e02971cd5a01282e2/lib/plugins/interactiveCli/initializeService.js#L81-L95) already initialized instance so it behaves as it if was intialized in context of just created service.

Still as it's not full new initialization it's p

[2020-09-16 13:17] corydorning53 commented on #7740
In regards to the how, i'll leave it the experts 👍

Does an open issue on this exist that i can follow for implementation?

[2020-09-16 13:36] medikoo commented on #7740
Let me reopen this one

[2020-09-16 14:40] claydanford commented on #8253
@medikoo Here is my situation:

**dev:**

[code]

**prod:**

[code]

To achieve I could easily pull from another file or ssm:

[code]

But since I cannot set zero I cannot use zero in the file, which leads to this ugly solution, moving all of the function configuration to a custom block. Note, many lines of configuration are missing but would look much worse and be harder to work with.

[code]

An

[2020-09-16 15:42] glb commented on #8251
@medikoo the proposal that @Brent-Jackson has to inject the [versionDigest](https://github.com/serverless/serverless/blob/77fbb5969b31bdd0d2220019f896df5a9f36e6fe/lib/plugins/aws/package/compile/functions/index.js#L481) into the function environment is sufficient to ensure that Lambda creates a new version; it's not necessary to modify the function code / artifact. It seems like a safe workaround

[2020-09-16 15:45] aj-bagwell commented on #3565
I use the [serverless-cloudformation-sub-variables](https://www.serverless.com/plugins/serverless-cloudformation-sub-variables) plugin then you can use things like`#{!timestamp()}` or `#{!iot:Certificate.Subject.CommonName}` to get the apropriate template through.

The plugin converts  `arn:aws:iot:${self:provider.region}:#{AWS::AccountId}:some/topic/#{!iot:Certificate.Subject.CommonName}/#` to `{

[2020-09-16 16:04] jack1902 commented on #8254
@cyberfox1 isn't this related to https://www.serverless.com/plugins/serverless-iam-roles-per-function which is a plugin specific issue

[2020-09-16 20:40] Brent-Jackson commented on #8251
The solution implemented in #8212 won't resolve this issue. Same error message, different underlying reason.

I don't think we are limited to changing the zip. The [AWS docs state that Lambda](https://docs.aws.amazon.com/lambda/latest/dg/API_PublishVersion.html) "_doesn't publish a version if the function's configuration and code haven't changed since the last version_." So we should be able to ch

[2020-09-16 21:35] gitcatrat commented on #1029
Figured it out!
[code]

What's wrong here?

JS/Node runs all module root level code once on application startup. Now, if you have this in any of your files:
[code]

Client is instantiated when you do `import app from './app.js';`, which means that it happens before you set `config`.

**Possible solutions:**

1. Require your application code **after** configuration update.
[code]
2. Do all your con

[2020-09-16 21:39] cyberfox1 commented on #8254
@jack1902 i have no idea, is a plugin required for this to work? serverless did not complain about having iamRolePerStatement at the function level, so I assumed it was supposed to work.

[2020-09-16 22:42] noxasaxon commented on #4786
Has anyone found a solution to this? Still having this problem on 1.80.0, we're setting up a CI/CD pipeline using AWS CodeBuild & CodePipelines and Codebuild does not use the `profile` method of deployments.

For every serverless stack except one, this works fine but my core stack is throwing an error when codebuild runs `serverless deploy`:
[code]

In the cloudformation Events logs every lambda f

[2020-09-16 23:38] thepont commented on #4786
I personally didn't end up finding a solution, I ended up giving up and using the profiles credentials. I didn't try @dschep 's suggestion so perhaps that has merit.

[2020-09-17 10:00] puzanov opened #8260 "TypeError: Cannot read property 'fetch' of undefined with serverless@2.1.0"
After updating to serverless@2.1.0 sls deploy failind with error publishing to the Dashboard, but AWS deploy goes OK.

Here are the last lines of the sls deploy output with SLS_DEBUG=*

[code]

Seems that the problem with parsing git output with simple-git package here @serverless/enterprise-plugin/lib/deployment/parse.js:159:65 `if (originRemote) vcs.originUrl = originRemote.refs.fetch;`

[code]

[2020-09-17 10:14] puzanov commented on #8260
Probably this is related https://github.com/steveukx/git-js/issues/512

[2020-09-17 10:45] jimfang commented on #8260
TypeError: Cannot read property 'Fn::ImportValue' of undefined
      at C:\Users\fangj\AppData\Roaming\npm\node_modules\serverless\lib\plugins\aws\invokeLocal\index.js:188:22
      at Array.map (<anonymous>)
      at C:\Users\fangj\AppData\Roaming\npm\node_modules\serverless\lib\plugins\aws\invokeLocal\index.js:187:53
      at tryCatcher (C:\Users\fangj\AppData\Roaming\npm\node_modules\serverless\

[2020-09-17 10:46] jimfang commented on #8260
Downgraded to version 1.80.0, and it works fine.

command: " serverless invoke local --function ..."

[2020-09-17 13:00] orr-levinger commented on #5209
Why is this Closed?
I am using 2.1.0 and its still happening '[object Object]'

[2020-09-17 13:02] medikoo commented on #5209
@orr-levinger please open a new bug report (with respect to all bug template remarks)

[2020-09-17 16:24] medikoo opened #8261 "Deprecate `service.awsKmsKeyArn` in favor of `provider.kmsKeyArn`"
### Use case description

There's lone AWS provider property to be setup in context of `service` while all others are set in context of `provider`.

Historically (https://github.com/serverless/serverless/pull/3672#issuecomment-329550131) it looks it was added as a start of moving everything from `provider` scope to `service` scope. Still It was not followed, and I don't see a reason, now, why conf

[2020-09-17 18:04] lscott3 commented on #1029
I am experiencing this issue as well. I am currently running the `serverless-mocha-plugin` and attempting to get my tests to run locally.

The command I'm running is `sls invoke test`

If I add the env var `AWS_REGION` that works, but I was under the impression that setting it in the `serverless.yml` would make it where we didn't have to set the env var.

I should note that it doesn't cause my tes

[2020-09-17 20:46] wcx628 opened #8262 "AWS SSM Split function for StringList {~split} is broken by the new version"
With the new version release, the split function {~split} no longer works

<details>
<summary><code>serverless.yml</code></summary>
service: test

provider:
    vpc:
        subnetIds: ${ssm:/test/vpc/subnets/app~split}

</details>

<details>
In the serverless print, the output is not being splitted into a list, but remained a string

In serverless 1.77.1, this function still works.

</details>

<

[2020-09-17 22:13] jimfang opened #8263 "Type Error bug when runing "sls invoke local -f ..." @version2.1.0. Not problem on version 1.80.0"
Serverless Warning --------------------------------------

  A valid SSM parameter to satisfy the declaration 'ssm:/conf-nonprod/config/mgmt/filter/guidewire/enable' could not be found.

 Serverless Warning --------------------------------------

  A valid SSM parameter to satisfy the declaration 'ssm:/conf-nonprod/config/mgmt/filter/guidewire/enable' could not be found.

 Serverless Warning -----

[2020-09-18 00:41] ranneyd commented on #8210
@medikoo could it not be exactly the same as the normal config for REST apis?

https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#http-endpoints-with-custom-authorizers

[2020-09-18 01:25] boarnoah commented on #8210
I've tried to use it directly the last week or so, and even though the documentation says its identical to rest APIs, the actual process to restrict invoke by IAM is different (for one it's not attached as a resource policy to the api gateway).

[2020-09-18 02:02] akshaymishi commented on #4230
I was facing the same issue, noticed this was happening because i was trying to deploy locally using `sls deploy` from my machine ( rather than code build or other) and since I was passing `--profile ` in the command but not in the serverless.yml provider therefore it was causing this issue.

Kindly try adding/setting profile in your serverless.yml under provider section and see if it works.

[2020-09-18 02:02] akshaymishi commented on #7210
I was facing the same issue, noticed this was happening because i was trying to deploy locally using `sls deploy` from my machine ( rather than code build or other) and since I was passing `--profile ` in the command but not in the serverless.yml provider therefore it was causing this issue.

Kindly try adding/setting profile in your serverless.yml under provider section and see if it works.

[2020-09-18 07:22] medikoo commented on #8253
Do you mean that setting to `0` on your side doesn't work, in sense that it does not remove `provisionedConcurrency` configuration from a lambda?

[2020-09-18 07:23] medikoo commented on #8253
Currently Framework is configured to treat `provisionedConcurrency: 0` same as if there's no `provisionedConcurrency` setup.

Do you think it's not right? What behavior do you expect then for`provisionedConcurrency: 0`  ?

[2020-09-18 07:26] medikoo commented on #8251
@Brent-Jackson that sounds great to me. Indeed that's probably cleanest and most reliable solution. PR that adds that is welcome!

[2020-09-18 07:28] medikoo commented on #8254
@cyberfox1 please use use https://forum.serverless.com/ or https://www.serverless.com/slack

This issue tracker is purely for bug reports and feature request (and all of such requests should be posted with respect to all template remarks)

[2020-09-18 07:28] #8254 closed

[2020-09-18 08:11] medikoo commented on #8262
@wcx628 thanks for reporting. Still I cannot reproduce that.

I've created test service that resolves a _StrinLing_ type SSM variable (of value `marko,valo,elo`), and via `~split` I resolve it into array:

https://github.com/medikoo/test-serverless/blob/variables-ssm/serverless.yml#L12

And it works as expected, which we can confirm in `serverless-state.json` file:

https://github.com/medikoo/test

[2020-09-18 08:32] medikoo commented on #8263
@jimfang I believe error is caused due to env var values not being resolved from SSM (as warnings in your logs signal).

Bug on Framework side, is that:
- it doesn't crash when variable resolution fails (dedicated issue: https://github.com/serverless/serverless/issues/3367)
- `null` value for env var is not reported as invalid (dedicated issue: https://github.com/serverless/serverless/issues/8017,

[2020-09-18 08:32] medikoo commented on #8263
Duplicate of #3367

[2020-09-18 08:32] #8263 closed

[2020-09-18 09:18] medikoo commented on #8210
I believe we now need to differentiate authorizers, so we should introduce `type`. Having that it'll be good to specify:
- What `type` values we support
- What properties are supporter per each `type` (and whether we should also support some global configuration for given _type_)
- How internally we will resolve a CloudFormation properties out of supported configuration

[2020-09-18 10:36] medikoo commented on #2995
Closing for reasons mentioned here: https://github.com/serverless/serverless/issues/2387#issuecomment-662567921

[2020-09-18 10:36] #2995 closed

[2020-09-18 10:47] medikoo commented on #3023
Currently generated role name is deterministic, it's: `${service.name}-${stage}-${region}-lambdaRole`.

If I understand correctly this allows to handle this case well.

I'm closing it then, but there's a chance I missed something, happy to reopen when provided with valid reasoning on why providing an ability to set a custom role name is important.

[2020-09-18 10:47] #3023 closed

[2020-09-18 11:03] medikoo commented on #3089
This looks somewhat related to https://github.com/serverless/serverless/issues/1720 and I believe could be relatively solved once it's addressed with currently proposed solution. Proposal advises to use configurable logger (a [log](https://github.com/medikoo/log#log) library) where output can be fine tuned with levels and namespaces, and output can be customized by deciding on specific log writer.

[2020-09-18 12:18] DesiPilla commented on #8005
@abk7777 I'm having a similar issue. How did you resolve this error?

[2020-09-18 12:26] revbingo opened #8264 "Configuration validation warning for eventBridge trigger"
I have the following in my serverless.yml

[code]

After upgrading from 1.67 to 1.83, the configuration validator is giving a warning

`Serverless:   at 'functions['events-consumer'].events[1].eventBridge': unsupported configuration format`

However, the configuration still works as expected and correctly creates the EventBridge trigger for my lambda function.

Is this simply something missing fro

[2020-09-18 12:44] wcx628 commented on #8262
I have also installed docker 19, node.js 10, could that be the problem?  My actual StringList is
'subnet-0cf92386d8f5cd7ff,subnet-0d1b4b85edf6db410,subnet-09913cf0354699087'

[2020-09-18 12:51] pgrzesik commented on #7042
I believe that at this point, framework is supporting all parameters that are exposed via `EventSourceMapping` for both `kinesis` and `dynamodb` - am I missing something here?

[2020-09-18 13:30] revbingo commented on #8264
I see this should be resolved by https://github.com/serverless/serverless/pull/8114, will try updating to 2.1.1

[2020-09-18 13:30] #8264 closed

[2020-09-18 14:14] claydanford commented on #8253
@medikoo, seems I have had this wrong. That was what was expected, and at some point I tested and it did not like the zero value in one of my tests... or was maybe user error. I tested again and it is functioning as expected. Closing this.

[2020-09-18 14:14] #8253 closed

[2020-09-18 15:22] #8206 closed

[2020-09-18 15:25] #8189 closed

[2020-09-18 15:27] medikoo commented on #8262
@wcx628 I have no idea. Generally as you see it works properly in simple service case. Probably you should investigate what configuration on your side breaks it

[2020-09-18 15:36] #8019 closed

[2020-09-18 15:51] okgolove commented on #7260
Face a similar issue.
I created a fresh API GW, no methods were specified.
When I deploy cloudformation fails with an error:
[code]

If I create methods (because I can't create a stage without specified methods) and run `serverless deploy` I get:
[code]

So, it doesn't work with shared Websocket API GW.

@medikoo could you help?

[2020-09-18 16:12] okgolove commented on #7260
Seems it happens because of https://github.com/serverless/serverless/pull/6543

[2020-09-18 21:28] kkress2000 commented on #8262
I had this same issue with a build yesterday. Both jobs were run by CodeBuild so there were no manual changes other than setting the version in the successful run.

### Failure
`2020/09/17 19:54:37 Running command npm install serverless -g`
. . .
`serverless@2.1.1`
. . .
`serverless print`
. . .
`    subnetIds: 'subnet-0cf92386d8f5cd7ff,subnet-0d1b4b85edf6db410,subnet-09913cf0354699087'`

### Succ

[2020-09-19 02:07] 5up3r20e opened #8267 "redrivePolicy with deadLetterTargetArn for SNS events failed to create AWS::SQS::QueuePolicy"
redrivePolicy with deadLetterTargetArn for SNS events failed to create AWS::SQS::QueuePolicy

i found an existent issue but it's already closed https://github.com/serverless/serverless/issues/7745
* linked code, refer to https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-join.html aws cloudformation document, you can see the usage here is a bug
https://gith

[2020-09-19 03:05] 5up3r20e commented on #8267
created a pr to fix it https://github.com/serverless/serverless/pull/8268

[2020-09-19 06:03] colinbjohnson opened #8269 "cognitoUserPool Function Events Refers to pools as "Pool" not "ARN", "Name", "Id""
When using a cognitoUserPool event within a function, the property used to refer to a User Pool resource is called a "pool". This creates a lack of clarity when configuring an event.

- AWS documentation refers to `cognitoUserPool` resources by either Arn ([as a CloudFormation Output](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-cognito-userpool.html)) or Id ([as a C

[2020-09-19 06:12] colinbjohnson opened #8270 "Use of Cognito "PoolName" in Events Can Associate Function with Unexpected Cognito User Pool"
When using a "PoolName" as the mechanism by which to associate a Lambda Function Event with a Cognito User Pool it is possible to associate a Lambda Function with an unexpected/incorrect User Pool. The cause of this issue is that User Pool Names are not guaranteed to be unique and the impact is that lambda functions can be triggered unexpectedly.

<details>
<summary><code>serverless.yml</code></su

[2020-09-20 01:12] abk7777 commented on #8005
@DesiPilla If I remember correctly it was a bug in the framework that got fixed by the Serverless team after I opened the issue. Try updating to a version above 1.77.1, I think it's at 2.0.0 now. If you still encounter it you may want to open a new issue here.

[2020-09-20 02:47] Linda-Ikechukwu commented on #3785
I came across this issue today.

Renamed notes/{id} to notes/{noteId}.

What worked for me was running the deploy command twice.
First time `sls deploy -v` :  `A sibling ({id}) of this resource already has a variable path part -- only one is allowed (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException;`

Second time `sls deploy -v` : Successfully deployed

[2020-09-20 13:50] medikoo commented on #8262
@kkress2000 can you prepare as minimal as possible, reproducible test case, so I can run it in my environment (it should not involve any plugins)

[2020-09-20 15:31] kkress2000 commented on #8262
@medikoo My first attempt to re-create has failed. I'm wondering whether this is related to [boto issue](https://github.com/boto/boto3/issues/2596) that occurred last Thursday (17 Sept.). I got bit by that too. I'll keep trying to either re-create this problem or verify that the boto issue was a momentary glitch now healed.

[2020-09-20 17:42] zackdotcomputer opened #8271 "Error states in serverless command are confusing when in components projects"
Acknowledging: I've searched this isn't creating a duplicate and it is, I believe, about the core tool (the cli package)

### For a new user, the error states in the app are confusing

Right now, a user coming to the Serverless ecosystem is pushed by the website to use components.

However, when interfacing with a components project, doing so some commands that documentation tells the user to try

[2020-09-21 06:55] medikoo commented on #7260
@okgolove I guess the way to tackle it, is to configure a _default (`$connect`) endpoint together with Websocket API GW, and the configure the others in separate stacks.

If AWS requires the `$connect` endpoint to be defined with API deployment, then there's no other way.

[2020-09-21 06:57] medikoo commented on #8267
Thanks @5up3r20e for properly coining that! We will look into PR shortly

[2020-09-21 08:53] #8267 closed

[2020-09-21 09:08] medikoo commented on #8269
@colinbjohnson thanks for report. I agree it's not very well thought. I propose to rename `pool` to `name`, as if I read correctly in implementation, it strictly refers to pool name.

Of course we cannot just rename it, but we can introduce `name` and [deprecate](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecations) `pool`, and with next major drop support

[2020-09-21 09:17] medikoo commented on #8270
@colinbjohnson thanks for report. It's indeed a valid issue, and as I see in implementation we simply fallback to first resolved:

https://github.com/serverless/serverless/blob/3e9e6aacc675cd7bf92499b9494a15ff9b21981b/lib/plugins/aws/customResources/resources/cognitoUserPool/lib/userPool.js#L45

What do you think is best solution? Require e.g. ARN instead of name?

[2020-09-21 09:49] okgolove commented on #7260
@medikoo that's I did.

As I said if I configure **$connect**, **$disconnect**, **$default** methods together with Websocket API GW I also get the error:

![image](https://user-images.githubusercontent.com/36846182/93753456-d9121400-fc08-11ea-8b9c-942c57c12e34.png)

[2020-09-21 10:06] medikoo commented on #7260
@okgolove can you prepare a minimal reproducible test case? (one that does not involve any plugins)

[2020-09-21 10:45] medikoo commented on #3163
Recently we've introduced a Config Schema validation, and it is triggered by `service.validate`, I've updated the issue description with a new idea on how config validation can be centralized in one point

[2020-09-21 11:18] medikoo commented on #3183
Great thanks for all the input. I'm going to close it, please read carefully the reasoning:

What we deal with here, is not a limitation of a Framework per se, but limitation of CloudFormation through which Framework deploys configured services.

While what's being requested seems now "kind of" possible with CloudFormation (via combination of handling of `DeletionPolicy` and introduced not far ago

[2020-09-21 11:18] #3183 closed

[2020-09-21 15:01] pgrzesik commented on #8023
Hello :wave: I took a look as I was trying to implement this piece of schema and I noticed that it's an event that is quite different from all the others supported by `serverless` framework in that it also supports configuration via just providing a string `alexaSkill` instead of an object in `events` list in configuration. Looking at `defineFunctionEvent`, it's written in a way that assumes that

[2020-09-21 15:21] medikoo commented on #8088
@georgesbiaux now it got to me, that you've proposed to invoke internally `sls upgrade` whenever we detect update.

I think this high level approach won't work well in this case. What we could do though it to seclude some eventually reusable parts from `sls upgrade` internals to reusable methods or utils. Otherwise I would strictly stick to implementation proposal as outlined in main description

[2020-09-21 15:49] medikoo commented on #8023
@pgrzesik thanks for pointing. I was quite surprised when I saw that. That's a very good question

I'd say, let's not try to support this format in config schema, as it complicates things too much (and nobody complained about that, while we already issue a warning), and let's add there [deprecation notice](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecation

[2020-09-21 15:55] medikoo commented on #7747
As we dropped support for Node.js v8 (with https://github.com/serverless/serverless/issues/7362). It's now ok to pursue replacements that were in _on hold_ list!

I've put those items into main list in top description

[2020-09-21 19:01] gliptak commented on #7567
Looking at the code https://github.com/serverless/serverless/blob/master/lib/plugins/aws/provider/awsProvider.js#L84 AWS Provider seems to be reading from a single INI file. Based on https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html credentials might be configured either in ```~/.aws/credentials``` or ```~/.aws/config``` (and indeed ```AWS SSO``` persists configuration into

[2020-09-21 20:47] makrandp commented on #3993
i did sudo -s and it solved the issue

[2020-09-21 21:04] pradeepngupta commented on #6679
Any update on this issue?
I am facing the same issue with:
Your Environment Information ---------------------------
     Operating System:          win32
     Node Version:              12.18.1
     Framework Version:         2.1.1
     Plugin Version:            4.0.4
     SDK Version:               2.3.2
     Components Version:        3.1.3

Even the expected output is not coming:
$ sls invoke

[2020-09-21 22:07] colinbjohnson commented on #8270
I think using the "Pool Id" or "ARN" would be ideal here, with "id" being the preferred method as this is used by AWS. When using the aws CLI to describe user pools, the required attribute is "pool id". Based on this, I'd assume that the Id is guaranteed to be unique.

[code]

[2020-09-21 22:14] faheel commented on #5892
I was facing the same `No file matches include / exclude patterns` issue with layers with the following:

[code]

Where the directory structure for my service was:

[code]

**What worked for me was specifying the `package` for each layer relative to the `path`**. So I had to update the `path` and specify the `package` for the layers as follows:

[code]

@dchao19's comment helped me realize that th

[2020-09-21 22:17] faheel commented on #5583
Please see https://github.com/serverless/serverless/issues/5892#issuecomment-696407214 for a possible solution.

[2020-09-21 23:10] mstrazzini commented on #6679
It seems the only way to really fix this is to stop using sls framework at
all and rethinking your backend. Do that and be happy.

Em seg, 21 de set de 2020 18:04, pradeepngupta <notifications@github.com>
escreveu:

[2020-09-22 06:42] #8033 closed

[2020-09-22 06:47] medikoo commented on #7567
@gliptak please see: https://github.com/serverless/serverless/issues/4838 we're working there on general improvement to how we handle AWS authentication

[2020-09-22 06:50] #7489 closed

[2020-09-22 06:57] medikoo commented on #8270
I'd say that we should introduce support for `id` when `existing: true`, and [deprecate](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecations) relying on `name` in such case.

PR is welcome! With implementation it'll be good to also update [integration test](https://github.com/serverless/serverless/blob/01643273df742239cd020e7d08941c505e540217/test/integrat

[2020-09-22 07:29] #7822 closed

[2020-09-22 07:38] #8027 closed

[2020-09-22 08:03] #8025 closed

[2020-09-22 08:35] medikoo commented on #3184
Closing, as I believe this was addressed with https://github.com/serverless/serverless/pull/5327, and as I test locally notation as `!Sub` is resolved as expected.

If you feel otherwise please open the bug report providing a minimal example of service configuration which does not resolve as expected

[2020-09-22 08:41] medikoo commented on #3184
I've just realized that the other problem discussed here was collision with serverless variables.

We have a dedicated report for that here: https://github.com/serverless/serverless/issues/8116 Currently proposed idea is to allow to escape `${` so it's passed as is, but that may not be the most convenient solution, any feedback is welcome

[2020-09-22 10:28] medikoo commented on #3212
If I see correctly, this report signals two issues:

1. Messed up error reporting, ` functionArn.split is not a function` signals lack of support for non-string format for `authorizer.arn` -> This will be handled neatly, once schema is configured for this event (see: https://github.com/serverless/serverless/issues/8018)

2. No support for CF intrinsic functions at `authorizer.arn`.

To solve latte

[2020-09-22 12:00] mnapoli commented on #3184
@medikoo that's too bad, this issue contains 3 years of discussion about this, with plenty of solutions and workarounds discussed.

It's also very easy to find when users search `!Sub`, because that's maybe the main use case for supporting CloudFormation `${...}` syntax.

[2020-09-22 13:27] zoellner commented on #7070
For those coming here and looking for a solution while this issue isn't fixed:
I ran into the same issue and found https://www.serverless.com/plugins/serverless-plugin-conditional-functions to be an easy workaround for now.

[2020-09-22 19:27] rjswitzer3 opened #8276 "Support for multiple subscriptions to a single CW Log Group"
### Use case description

The ability to have multiple subscriptions (i.e.  by two or more discrete Serverless Applications) to a single CW Log Group.

Right now, if a CW Log Group is declared as the event source in two discrete Serverless applications, whichever application's deployment precedes the other will have its CW Log Group event/trigger removed from the lambdas.

For example: Given two d

[2020-09-22 20:39] maxgr0 commented on #7536
Any news on this? Facing the same bug.
Some further investigation points to a problem with the associated IAM-Role (not enough permissions to delete parts of the resource)
 @anshul1790 @tommedema @kevlarr @medikoo

[2020-09-23 08:20] XM37 commented on #7063
What is the current situation regarding this case? Is an update planned?

[2020-09-23 10:30] medikoo commented on #3184
@mnapoli that's a very valid point. Let me reopen this one and close the newer one

[2020-09-23 10:40] medikoo commented on #3184
I've also proposed a solution in top description, which will most likely solve it for AWS case.

[2020-09-23 11:18] medikoo commented on #8276
@rjswitzer3 Limit of just one subscriber is on AWS side. I believe you should post this request to AWS support team. On Framework level we cannot do anything about that.

[2020-09-23 11:20] medikoo commented on #7536
@maxgr0 can you prepare some simple reproduction case? Ideally through a simple service with no plugins involved.

[2020-09-23 11:35] medikoo commented on #7063
@XM37 We' re open for PR that'll bring support for this on CloudFormation level, afaik no one works on it. Do you want to help with that?

[2020-09-23 11:42] roni-frantchi commented on #569
Hey @juuyan have you looked into https://github.com/Butterwire/serverless-plugin-monorepo ?
Does the trick for us

[2020-09-23 12:04] mnapoli commented on #3184
@medikoo sounds really really good!

![CleanShot 2020-09-23 at 14 02 40](https://user-images.githubusercontent.com/720328/94009951-7efa8580-fda5-11ea-81c5-69a1624f8b4f.png)

That means that both AWS native variables and `!Sub` will work. And a simple change too, I love it!

Will you implement it or would a PR help?

[2020-09-23 12:12] medikoo commented on #3184
@mnapoli PR will definitely help 🙇 Thank you!

[2020-09-23 12:13] medikoo commented on #8116
Closing in favor of #3184, which is about same thing and has already involved discussion

[2020-09-23 12:13] medikoo commented on #8116
Duplicate of #3184

[2020-09-23 12:13] #8116 closed

[2020-09-23 12:27] stuartforrest-infinity commented on #7063
There is work on this here - https://github.com/stuartforrest-infinity/serverless/tree/handle-cf-funcs-eventbridge

The branch name is misleading, the work is to use native Cloud Formation for the resources. I was in the middle of updating/writing tests if I remember rightly...

[2020-09-23 13:42] okgolove commented on #7260
@medikoo I create Websocket API GW using Terraform, here I used a cloudformation resource to do the same.

https://gist.github.com/okgolove/f1fbcc86672cf55f005c2e4f376ab4a2

[code]

[2020-09-23 14:40] mnapoli commented on #3184
@medikoo I've opened #8279 (I had to slightly change the regex).

[2020-09-23 15:26] rjswitzer3 commented on #8276
@medikoo I shall open a feature request ticket with AWS and follow up with the response I get.

What I find to be peculiar is that you have the ability to subscribe multiple lambdas to a single log group via the console, despite the CloudWatch user guide stating:

I've heard rumor that support for multiple subscriptions were coming this month (i.e. September 2020), but I have yet to find a formal

[2020-09-23 17:52] mmman64 commented on #5474
I'm also having issues with this. Although I can run `sls deploy` locally without issue, when running a build on AWS CodeBuild I run into "Error: Profile [profile_name] does not exist".

I've tried all the suggestions in this thread so far but no luck. I assumed the credentials for the aws profile I want to use would have been made available automatically but that doesn't seem to be the case. Am I

[2020-09-23 21:35] mmman64 commented on #5474
Turns out this line in my build script was the culprit:

`'node_modules/.bin/sls' deploy -s $STAGE --aws-profile [my_profile]`

I removed `--aws-profile [my_profile]` and it finally worked!

[2020-09-24 01:19] radove commented on #8249
We had issues where Provisioned Concurrency would not get setup for an API Gateway.  We had to roll back to an older version to get our Provisioned Concurrency to work again via serverless.  I don't have too much time or expertise at the moment to track down the bug like @medikoo did, but wanted to report this.

[2020-09-24 07:30] medikoo commented on #7260
So, problem is that you've try to configure `$connect` endpoint separately (not with same deployment with which you create Websocket)

In this case you need to configure `$connect` endpoint on Terraform.

I believe this is a limitation on AWS side (that doesn't allow you to configure `$connect` endpoint externally), not a Framework side. Have you tried reaching AWS support (or forums) about that?

[2020-09-24 08:23] #8117 closed

[2020-09-24 08:48] medikoo commented on #8276
Thanks @rjswitzer3 for investigating that. Let us know if you have some more information

[2020-09-24 10:19] #8053 closed

[2020-09-24 10:25] medikoo commented on #8249
@radove if you have a scenario where provisioned concurrency setup worked with older Framework version, and it's not working with latest version, if possible please open new bug report with all the details

AFAIK This report describes case where provisioned concurrency never worked (when it was introduced, it didn't come with necessary changes to SQS event)

[2020-09-24 13:10] crcommons commented on #3782
@AshUK How do you assign multiple user pools to an API gateway with serverless?

[2020-09-24 13:28] rjswitzer3 commented on #8276
@medikoo Here is the response I received from AWS:

TL;DR AWS does now support multiple subscriptions to a single CW Log Group.

It would appear the ball is now in your court.

[2020-09-24 13:31] #3184 closed

[2020-09-24 13:33] medikoo commented on #8276
@rjswitzer3 thanks for checking that out. Can you confirm it's also supported on CloudFormation level?

If it is, then I believe it should work out of a box, if not, then we still can't do much about that I think

[2020-09-24 14:04] medikoo commented on #6505
Duplicate of https://github.com/serverless/serverless/issues/3215

[2020-09-24 14:04] #6505 closed

[2020-09-24 14:06] medikoo commented on #3215
This will covered with https://github.com/serverless/serverless/issues/6580 which we should start working on in not far future

[2020-09-24 14:07] devpow112 opened #8282 "vpc.securityGroupIds and vpc.subnetIds only allow string, warn on Ref"
Before introduction of schema validation doing the following worked without warning
[code]
This now causes schema validation issues as only strings are allowed now

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless package</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]
I believe this can simply be

[2020-09-24 14:07] medikoo commented on #8261
Covered by #8277

[2020-09-24 14:07] #8261 closed

[2020-09-24 14:10] #8024 closed

[2020-09-24 14:12] medikoo commented on #8282
@devpow112 indeed, thanks for reporting. In this case we can probably support all CloudFormation functions (assuming it makes sense). PR is welcome!

(cc @fredericbarthelet )

[2020-09-24 14:14] devpow112 commented on #8282
Yes @medikoo, good thought about all the CloudFormation functions. `Ref` was just my use case. I'll work on a PR for this. Thanks for the quick response.

[2020-09-24 14:40] medikoo commented on #3229
I see three possible ways to solve it:
- Make `config credentials` a service dependent command. So it's registered only when we're in context of AWS service
- Introduce a `--provider` option, which may fallback to service `provider.name` setting, and be required if we're not in a service context.

I think the second one is better, as it allows to use a comment in no service context, and at same ti

[2020-09-24 15:08] medikoo commented on #3233
I'm in a process of cleaning older issues, hence my input on that.

That's an interesting proposal, still I'm afraid it may introduce a difficult to solve issues and definitely will make internals way more complicated (as we're introducing another resolution dimension, and that's not free)

Technically _local_ should be resolved by handling file configuration on its own, however other variables wh

[2020-09-24 15:08] #3233 closed

[2020-09-24 15:19] aequasi commented on #3426
The `Fn::GetAtt: ` doesn't seem to work anymore?

I'm getting this error: `Configuration warning at 'provider.environment.SQS_QUEUE_URL': unsupported configuration format`

[code]

[2020-09-24 15:28] #8282 closed

[2020-09-24 15:39] erikerikson commented on #3233
Hi @medikoo - we did this in Hello, Retail as linked above.  The reason for inter-service loading is that it supported being DRY in a large system.  Same reason we don't use magic numbers and we do use header files.

Because a service's definition is the best authority of it's definition.  It got weird when a proper and working service failed to load (for reference in another service) because it r

[2020-09-24 15:51] medikoo commented on #3233
Requiring top level configuration via `$file()` is susceptible to side effects (In similar way as e.g. requiring a Node.js module which was intended to be used only as _main_ module).

Here side effect is that `service` is a special top level config property (e.g. in which iirc we do not support variable resolution), and here issue was opened as _side effect_ of such approach, is that resolution o

[2020-09-24 18:54] erikerikson commented on #3233
Thank you for helping me understand how this raises a flag for you.

You are totally correct that the variable system assumes the first loaded service as context.  This is what would be the source of the breaking change.  It was also the reason this was suggested as a solution, for handling more advanced cases where there would be utility in explicitly preparing a subset of service declarations to

[2020-09-24 21:10] pardoxp commented on #7547
Seems like we have this plugin now https://github.com/serverless-operations/serverless-lambda-edge-pre-existing-cloudfront but I'm having troubles to avoid hit the Lamda Edge Limitations ` The function memory size is larger than the maximum allowed size for functions that are triggered by a CloudFront event: 1024 Max allowed: 128 Function: arn:aws:lambda:us-east-1:987558555805:function:develop-app

[2020-09-24 21:55] dazza-codes opened #8285 "schema validations for environment variables fail"
For serverless 2.x, the schema validation fails for environment variables

With `serverless.yaml` that contains environment variables, e.g.

[code]

The errors are like:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]
</details>

<details>
<summary><b><code>sls package</code> output</b></summary>

[code]
</details>

<b>Installed version</b>

[code]

[2020-09-24 22:53] icollar commented on #6375
This still appears to be happening. My alternative to use use the AWS CLI instead:

[code]
Append `--endpoint-url http://localhost:4566` if you're using something like localstack.

[2020-09-24 23:59] dazza-codes opened #8286 "Deploy failed to create s3-event triggers"
There is nothing special at all about the function definition or s3-event YAML, it's been working fine elsewhere.  The IAM permissions allow s3 operations.

[code]

[2020-09-25 02:46] okonon commented on #6679
same issue here
[code]

[2020-09-25 04:05] markvp opened #8287 "configuration validation: Ref / Fn::Joins"
Configuration validation is complaining about a Ref in provider.vpc.securityGroupIds (warning: "should be a string") and an Fn::Join in a function environment variable definition (warning: "unsupported configuration format").

Both of these function just fine - it's just that the validator warns about them unnecessarily.

[2020-09-25 07:53] medikoo commented on #8285
@dazza-codes I'm not able to reproduce that error, also `serverless.yml` you've proved is incomplete (testing it out results with `"service" property is missing in serverless.yml` error).

Can you provide full content of `serverless.yml` (but minimal, without any plugins involved) ?

[2020-09-25 08:05] medikoo commented on #3448
I believe that this was addressed with https://github.com/serverless/serverless/pull/7156

[2020-09-25 08:05] #3448 closed

[2020-09-25 08:12] medikoo commented on #8286
@dazza-codes you may enable logging in custom resource by setting `provider.logs.frameworkLambda: true`. Still logs as produced by this lambda on its own may not be good enough, you may then add yours here https://github.com/serverless/serverless/tree/afd286d1f55a64fd037327508288cae3e6458602/lib/plugins/aws/customResources/resources/s3 and redeploy to investigate it better.

I don't know the answe

[2020-09-25 08:16] medikoo commented on #7547
@pardoxp As I see plugin does it simply by issueing AWS SDK calls (no Cloudformation template is extended).

I think proper implementation for that, would be to contain it in custom resource, and we're open for PR that brings it in

[2020-09-25 08:17] medikoo commented on #8287
Duplicate of https://github.com/serverless/serverless/issues/8282

[2020-09-25 08:17] #8287 closed

[2020-09-25 10:52] Enase commented on #8251
have the same issue after update to 2.3.0

[2020-09-25 10:53] medikoo commented on #8251
@Enase that issue was not yet solved. We welcome a PR that addresses that!

[2020-09-25 11:09] gurbaj5124871 opened #8288 "Type definitions for serverless are not upto-date and causing typescript project fail (need type definitions for msk)"
When serverless project is created by `sls create --template aws-nodejs-typescript`, the type definitions from `@types/serverless` are incompatible with the `serverless version 2.3.0`.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls create --template aws-nodejs-typescript</code> output</b></summary>

[code]

</details>

<b>Installed ve

[2020-09-25 11:14] gurbaj5124871 commented on #8117
Super glad to see the support for msk released 🙌

Posting the related issue with msk support for typescript definitions:
https://github.com/serverless/serverless/issues/8288

hope it gets resolved soon and really looking forward to using it

[2020-09-25 11:26] medikoo commented on #8288
@gurbaj5124871 thanks for report. Still in context of this project we do not maintain any TypeScript definitions (afaik it's done in https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/serverless/index.d.ts purely as external community effort).

Note that config schema is validated internally with help of JSON schemas, and schema for `msk` event is defined here: https://github.com

[2020-09-25 13:15] slootjes commented on #5097
For others that run into this, it can be solved by importing the resources as described here: https://www.serverless.com/plugins/serverless-import-apigateway

[2020-09-25 14:38] #8023 closed

[2020-09-25 16:08] dazza-codes commented on #8286
I may not be able to contribute more details on this ticket, due to work pressures to move on with a work-around that uses a new bucket.  There could be CFN sequence details to consider
- https://aws.amazon.com/premiumsupport/knowledge-center/unable-validate-circular-dependency-cloudformation/

[2020-09-25 18:38] drewsb commented on #7407
Is there another solution other than reinstalling serverless? I can usually run  `serverless invoke local` one or two times before it starts giving me this error. Whenever I restart my computer it starts working again but only for one or two times. Rerunning in different terminals as Admin doesn't resolve this issue either.

[2020-09-25 19:01] rjswitzer3 commented on #8276
@medikoo Here is the follow-up response I received regarding CloudFormation support:

It sounds like this feature is still in development.

[2020-09-25 19:05] pveller commented on #8262
A different but related question. In a `Typescript` version with `serverless.ts`, `subnetIds` is declared as `string[]` and I basically can't use the same `~split` technique as I was able to do in `serverless.yml`. I either get an unsplit string from the SSM's `StringList` without the `~split` or an array of arrays with `~split`.

It's probably better to declare the type as `string | string[]` and

[2020-09-25 20:32] akshaynarula commented on #5892
Encountered this issue today, was working fine earlier.
Updated the serverless version
Working fine without including package inside layer.

[2020-09-26 06:22] gurbaj5124871 commented on #8288
@medikoo Thanks for clarifying the issue. I can open the issue there and might get pr opened for the support of msk. This definition schema helps.

[2020-09-26 07:50] sorenandersen commented on #8285
Running `serverless deploy` on the following `serverless.yml`:

[code]

will yield a warning like:

[code]

Installed version:
[code]

[2020-09-26 10:50] janoist1 commented on #8285
I had the same issue after upgrading serverless from 1 to 2. What worked for me was to use a string value instead of integer. `1` 👉 `"1"`

[2020-09-27 17:32] azizur commented on #6349
Any update on this? I am still getting `A version for this Lambda function exists ( XXX ). Modify the function to create a new version.`.

[2020-09-27 17:32] azizur commented on #7822
Not sure why this issue has been marked as closed. I am still getting `A version for this Lambda function exists ( XXX ). Modify the function to create a new version.`.

[2020-09-28 06:33] thtliife commented on #8285
I have the exact same problem.
And wrapping in quotes isn't always an option.

Imagine the following:

[code]

do a `serverless deploy` with that `serverless.yml` and it will result in:
[code]

This issue does not occur in v2.1.1 (The version my project was on previously)

[2020-09-28 07:34] itsamia opened #8293 "sls deploy prompts for Path[0] in VS Code"
![Capture](https://user-images.githubusercontent.com/45797601/94403137-6b289800-0186-11eb-911b-da8d5b078813.PNG)

 I created a serverless project and it prompts for a path while 'sls deploy'.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>cmdlet Select-String at command pipeline position 1
Supply values for the following parameters:
Path[

[2020-09-28 08:15] medikoo commented on #8262
@pveller thanks for reporting. Still in context of this project we only maintain JSON Schema for config validation. TypeScript types is handled by community externally (core team does not guarantee it to be correct or up to date), I believe it's handled here: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/serverless/index.d.ts)

[2020-09-28 08:25] medikoo commented on #8288
Thanks @gurbaj5124871! I'm going to close this issue here then

[2020-09-28 08:25] #8288 closed

[2020-09-28 08:31] medikoo commented on #8285
@sorenandersen in your case problem is that `1` translates to number `1`, while supported notation is either _string_ or some variants of intrinsic CF functions.

Simply write it as `"1"`, and warning will be gone

[2020-09-28 08:35] medikoo commented on #8285
@thtliife Currently we do not support resolution of `Fn::Join` CF functions in env vars when processing local invocation of lambdas. It's the reason the validation reports given format as not supported.

Anyway we will happily accept a PR that brings that support (we already support resolution of `Ref` and `Fn::Import`), it's done here: https://github.com/serverless/serverless/blob/7f474481b60c545

[2020-09-28 09:04] Edweis opened #8294 "SNS filter policy in functions logs wrong warning"
Hi all, I found that this :
[code]
logs the following warning
[code]

However the SNS subscriptions are successfully handled.
I can send a PR if someone points me where the ajv model is.

[2020-09-28 09:38] juuyan commented on #569
@roni-frantchi thx, would try it!

[2020-09-28 11:10] medikoo commented on #7822
@azizur are you relying on latest version?

I've just re-tested and it's clearly fixed. You may confirm by deploying this simple service: https://github.com/medikoo/test-serverless/blob/issue-7822/serverless.yml and re-deploying with just `reservedConcurrency` setting added to function

[2020-09-28 11:47] medikoo commented on #8293
@itsamia please respect all bug template remarks and provide answers for all questions.

[2020-09-28 11:56] medikoo commented on #8294
@Edweis Schema is defined here: https://github.com/serverless/serverless/blob/e990c09edb8fb711152485bed46dfefd827ac92d/lib/plugins/aws/package/compile/events/sns/index.js#L14-L53

Just by looking I see that your configuration seems to miss `displayName` which is declared as _required_

(cc @fredericbarthelet)

[2020-09-28 12:49] fredericbarthelet commented on #8294
@Edweis thank you for reporting this issue.

It seems `displayName` property can indeed be set as optional.

It is currently defaulted to an empty string at the following line:
https://github.com/serverless/serverless/blob/e990c09edb8fb711152485bed46dfefd827ac92d/lib/plugins/aws/package/compile/events/sns/index.js#L67
This property value is then override by the following line, only executed if no

[2020-09-28 13:09] medikoo commented on #8294
@fredericbarthelet sounds good! What you propose looks as perfect approach to me.

[2020-09-28 13:44] fredericbarthelet opened #8296 "IoT Fleet Provisioning Template pre-validation lambda hook"
### Use case description

IoT Core has a fleet provisioning features allowing automatic provisioning of new things.
This feature, called IoT Core Fleet Provisioning template, allows using a lambda as a pre-validation hook in order to validate thing registration within the fleet.
Link to the corresponding CF documentation: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-

[2020-09-28 15:57] pgrzesik commented on #8249
I'm happy to pick this one up :100:

[2020-09-28 17:29] thewizarodofoz commented on #8031
Hey @chrisVillanueva did you take this one?
I have some time on my hands but wouldn't want to step on your toes.

[2020-09-28 19:36] CoryKleiser commented on #2298
@VersBinarii, thanks for the sanity check

The close reason is absurd. How about unify what AWS spits out and what we're receiving from serverless? I feel like disparate event types sow confusion rather than avoids it.

[2020-09-28 20:12] nickygb commented on #6905
@joshuaduffy I'm experiencing the same problem, could you solve it?

[2020-09-28 20:47] vorobievalex opened #8300 "Support 'Fn::Transform' 'AWS::Include'"
### Use case description

sls deploy throws a warning when 'Fn::Transform' is used:
`Configuration warning at 'resources.Resources': unrecognized property 'Fn::Transform'`

Still include is handled correctly on the CloudFormation side.

Sample code:
**serverless.yml:**
[code]
**bucket-inline.yml:**
[code]

PS:
Include is used in order to use common code for similar resources used in several hundre

[2020-09-28 21:28] thtliife commented on #8285
Thanks for the clarification @medikoo.
Join isn't all that important to me, it was just an example of failing a CF function.
The one i really need is GetAttr (Which i often use with join).
I will have a look in the next couple of days at adding support and creating a PR. :)

For now i will stick to version 2.1.1, as both those CF Functions work fine there.

[2020-09-29 02:39] stevenj commented on #8285
I am also getting this issue since upgrading:

[code]

This works totally fine, and i am not (and have no intention of) locally invoking the lambda.  But i am still getting ` unsupported configuration format` errors.  But it is a supported and valid configuration format for non local invocations, so at the very least it should not be an error, but a warning that says something like "WARNING: forma

[2020-09-29 05:50] cyberfox1 commented on #2780
This issue is back again, using 2.3.0. Have many other Lambdas with custom IAM role statements, yet never had to define the EC2 perms before, now all of a sudden I get this complaint. Why.

[2020-09-29 07:59] Lusitaniae commented on #7069
@JimLynchCodes can you run `docker` without sudo?

If you need sudo to run `docker` you probably need to run `sudo serverless` too.

Or follow the steps here to make it work without sudo

https://docs.docker.com/engine/install/linux-postinstall/

[2020-09-29 15:03] crouinicrouina commented on #7822
Hi, I'm having a somewhat similar issue : when I update the `resources`, without updating the functions of my stack, I have this error. Is there any way to only update the `resources` or to skip deploying the function only, if nothing changed ?

[2020-09-29 20:10] medikoo commented on #8296
@fredericbarthelet Thanks for proposal. I think it's valuable addition. Can you outline the implementations spec (list all properties as supported by event, and how they will be mapped to AWS CloudFromation, something as we done e.g. here: https://github.com/serverless/serverless/issues/8117 (?))

[2020-09-29 20:13] #8020 closed

[2020-09-29 20:18] #8249 closed

[2020-09-29 20:23] medikoo commented on #8031
@thewizarodofoz I'm pretty sure you can take it. It'll be great to have that event covered

[2020-09-29 20:24] medikoo commented on #8285
@thtliife Note, that in 2.3.0 all works same, the only difference is that config validation warning is issued

[2020-09-29 20:28] medikoo commented on #8285
@stevenj we're open to accept an option like `enableDeploymentOnlyEnvVars: true`, thorugh which config schema could be relaxed to accept all CF intrinsic functions in env vars. Having that if local invocation is issued with not supported env var format, meaningful exception could be thrown.

PR that introduces that is welcome

[2020-09-30 01:56] jfollmann opened #8302 "Error to define resources with typescript"
Hi,

I"m using typescript aws template and now the serverless.yml is serverless.ts.
However, i’m have a problem on type declaration to define my resources.

Sample in serverless.yml (working):
[code]

Try 01 in serverless.ts (not working):
[code]

Try 02 in serverless.ts (also not working):
[code]

How can i adjust my resource definition?

Thanks

[2020-09-30 02:22] duc2019 commented on #4928
Same issue here, this is my serverless.yml.

[code]

The version of serverless is 2.3.0.

[2020-09-30 10:18] medikoo opened #8304 "Incorrect schema for AWS tags"
It was reported at Slack, that tags with format as below are rejected:

[code]

Current schema definition is:

https://github.com/serverless/serverless/blob/8c4d97211aa3dd4c41d9205a3ca0ccaab3564225/lib/plugins/aws/provider/awsProvider.js#L364-L369

and indeed _key_ pattern seems to not allow `:`, which seems not correct. Also I think _value_ can be any string (at least I do not see any restriction

[2020-09-30 10:55] medikoo opened #8305 "Deprecate numbers at layers[].allowedAccounts[]"
Currently we accept and eventually coerce a _number_ at account value:

https://github.com/serverless/serverless/blob/8c4d97211aa3dd4c41d9205a3ca0ccaab3564225/lib/plugins/aws/package/compile/layers/index.js#L77-L79

It's uncommon and doesn't follow general project conventions where we do not introduce such corecions.

It'll be great to clean this up, so first [deprecate](https://github.com/serverl

[2020-09-30 11:24] medikoo commented on #8300
@vorobievalex thanks for report. I understand that `Fn::Transform` can be used anywhere in a CF template and you're using it to extend the template with resources which you define in external file hosted on S3 bucket (and that file is used to extend many other stacks)

I think we may allow `Fn::Transform` at `resources.Resources` (but it should not be allowed at `resources.extensions`), alternativ

[2020-09-30 11:33] medikoo commented on #7822
@crouinicrouina please open another bug report (fully respecting bug template remarks)

[2020-09-30 11:38] medikoo commented on #8302
@jfollmann this issue tracker is only for bug reports and feature requests. For general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-09-30 11:48] medikoo opened #8306 "Cleanup invalid variable examples from doc"
As reported here https://github.com/serverless/serverless/pull/8279#issuecomment-701323291 we have some invalid variable examples in doc as `${self:}` and `${env:}`.

I've learned they're not _invalid_ still they're controversial, and use case feels dubious. I would definitely not market them, simply to not confuse. So let's remove them from documentation.

[2020-09-30 12:33] jfollmann commented on #8302
Hi @medikoo,

I have already opened a question on the forum more than 30 days ago. (https://forum.serverless.com/t/error-to-define-resources-with-typescript/12431)
However, I received no feedback.

Can you help me?

[2020-09-30 12:44] medikoo commented on #8302
@jfollmann sorry, I'm not familiar with TypeScript and as a core team we do not have resources to answer general support questions.

Please try also Stack overflow

[2020-09-30 14:38] medikoo commented on #8285
@thtliife  @stevenj handling of your case was just fixed with https://github.com/serverless/serverless/pull/8307 which was just published with v2.4.0 (after all I decided to not introduce any option, so it'll work out of a box).

[2020-09-30 18:46] danilofuchs opened #8311 "Allow boolean environment variables"
### Use case description

Currently, Serverless only allows string values as environment variables. This is completely acceptable, as envs can only be strings.

My use case is the following:

[code]

`true` is boolean, so when validating, serverless will raise the warning:
[code]

But, during runtime, `XRAY_ENABLED` will be `"true"` (string).

I cannot use `lambda: "true"` as the field expects a b

[2020-09-30 19:15] medikoo commented on #8311
@danilofuchs Thanks for report.

We have [`${strToBool(...)`](https://www.serverless.com/framework/docs/providers/aws/guide/variables#read-string-variable-values-as-boolean-values), and I believe we can also have `${boolToStr()}`.

PR that provides that is welcome!

[2020-09-30 20:32] ayan-usgs opened #8312 "AWS Pseudoparameters in IAM roles are not substituted"
My understanding is that since version 2.3.0, AWS pseudoparameters have been natively supported. While I've found that to be indeed the case for the most part, I've noticed that pseudoparameters are not correctly handled when part of a role ARN. Using the a pseudoparameter results in this error from CloudFormation:

`1 validation error detected: Value 'arn:aws:iam::${AWS::AccountId}:role/aws-servi

[2020-09-30 20:44] fredericbarthelet commented on #8296
## Proposed mapping solution

Event name `iotFleetProvisioning`, creating among other thing a `AWS::IoT::ProvisioningTemplate` resource, with support for following properties:

`templateBody`: required, maps to `TemplateBody`
`provisioningRoleArn`: required, maps to `ProvisioningRoleArn`
`name`: optional, maps to `TemplateName`

Most configuration is directly part of JSON to be used as `templateBo

[2020-09-30 20:46] zoellner commented on #5892
I'm getting the same error even without a layers section to build layers. just pulling in a layer with a arn reference for one of the functions

[2020-09-30 22:14] luisdemarchi commented on #3183
I didn't understand the logic of not working! Right now I have critical data in production, does that mean I have to do this externally? So all the logic of creating new environments in a simple way goes to waste?

If going back to serverless 1.80.0 will work, is the problem version 2.0?

[2020-09-30 22:23] zoellner opened #8313 "Serverless deploy fails to update function with new layer when code size is close to limit"
Can't add layer to function that is close to 256MB code limit.

I've been trying for a few hours to reduce the size of my code (excluding dev dependencies doesn't really work and pruning before packaging doesn't work either since the plugins need to be present during packaging, but that's a separate issue).

I eventually realized that I could manually update the lambda code from the generated zip

[2020-09-30 22:27] oviecodes commented on #8311
How do I get started with this? @medikoo

[2020-09-30 22:44] danilofuchs commented on #8311
Perhaps a more general `$toString()` function could be added?

Maybe limit it to booleans and numbers at first

[2020-09-30 23:02] oviecodes commented on #8311
Please point me to the file that should be worked on

[2020-09-30 23:26] jproberts commented on #8304
@medikoo Sorry, it's not entirely clear to me whether you're referring to tags on the Cloudformation stack or the Lambda functions. The snippet you provided is labeled `awsResourceTags` so I think this might actually be the better resource to follow: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html .

Notably, as seen in the [Properties section](http

[2020-09-30 23:51] dashmug commented on #8304
@medikoo I can confirm that there is no pattern restriction on the value for a tag.

<img width="479" alt="Screen Shot 2020-10-01 at 9 33 15 am" src="https://user-images.githubusercontent.com/1972844/94751266-73bde000-03cb-11eb-9707-0a03e501364d.png">

[2020-09-30 23:55] dashmug commented on #8304
As @jproberts pointed out, it is strange that the User Guide contradicts the API Reference. I tend to believe that the API Reference is auto-generated from code (or from comments in the code) so it is probably better than the User Guide.

[2020-10-01 00:36] rib commented on #6752
I've had a similar issue for a while now, and hoped it would get resolved in a newer version of the serverless framework but I guess now that it's a more esoteric error that few people are hitting for some reason...

This is how it's failing for me

[code]

my serverless plugins:
plugins:
  - serverless-rust
  - serverless-domain-manager

There is clearly something up with how the path for this fi

[2020-10-01 00:39] jproberts commented on #8304
@dashmug Good call, I hadn't realized I was looking at a User Guide vs an API Reference.

I do think those links are referring to two different things though. The difference seems to come down to stack tags requiring a value, while resource tags make them optional. (The API Reference for resource tags doesn't show any character restrictions)  Intuitively, you would expect the two types be the same

[2020-10-01 02:39] trevorrobertsjr opened #8316 "Please add support for IAM and Lambda Authorizers with HTTP API event sources"
### Use case description

As a developer, I would like to use the [recently-announced](https://aws.amazon.com/blogs/compute/introducing-iam-and-lambda-authorizers-for-amazon-api-gateway-http-apis/) IAM and Lambda Authorizers with HTTP API event sources

[2020-10-01 03:20] #8316 closed

[2020-10-01 08:16] medikoo opened #8317 "Support CloudFront CachePolicy"
### Use case description

Currently Framework relies on deprecated [`ForwardedValues`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cloudfront-distribution-forwardedvalues.html):

https://github.com/serverless/serverless/blob/dd9a011f6073d33db9043f102e0cce84743a8a6b/lib/plugins/aws/package/compile/events/cloudFront/index.js#L294-L296

We should rely on [Cache Polic

[2020-10-01 08:24] #8016 closed

[2020-10-01 09:46] medikoo commented on #8312
Framework doesn't do that. If you want to use AWS pseudo parameters, then values needs to be configured through `Fn::Sub` blocks

[2020-10-01 09:49] medikoo commented on #8296
It looks good. Considering `Enabled` field, not providing support for this, we do not provide a possibily to _disable_ temporarily the mapping, but maybe in this case there's no value for that (?). In some other case we support that, as by preserving a _turned off_ resource in AWS we maintain it's history)

[2020-10-01 09:51] medikoo commented on #3183
This was never solved in a Framework, as it's very difficult to solve on CloudFormation level (read the above comment for more info)

[2020-10-01 10:05] zoellner commented on #8313
Below is the (somewhat anonymized) output of the deploy command.

I think what would be needed to reproduce is to create a repo with a function that is say 240MB unpacked

Then add a layer to that function that is 100MB and at the same time reduce the function code to 100MB.

It should in theory deploy since the combined size of the new function is only 200MB but it won't since adding the 100MB la

[2020-10-01 11:22] medikoo commented on #8017
Reopenning, as apparently we still miss definitions for `destinations`, `maximumEventAge` and  `maximumRetryAttempts` at `functions[]` level.

Also after adding those, we need to ensure that relaxation as configured here:
https://github.com/serverless/serverless/blob/38c204762cbe16b00d102fa71409c3c8ba22220b/lib/classes/ConfigSchemaHandler/index.js#L214-L216)
no longer applies to `functions[]` prop

[2020-10-01 11:29] ayan-usgs commented on #8312
Okay.

[2020-10-01 11:29] #8312 closed

[2020-10-01 11:45] Alpine-lines commented on #8311
Hey guys, can we simply add an expected type to the lambda variable in awsProvider.js?

`tracing: {
              type: 'object',
              properties: {
                apiGateway: { type: 'boolean' },
                lambda: { type: 'boolean', $ref: '#/definitions/awsLambdaTracing' },
              },
              additionalProperties: false,`

I will submit a pull request with the above ch

[2020-10-01 11:50] medikoo commented on #8311
@oviecodes @danilofuchs after giving this a bit more thought I decided that it'll probably be good to simply coerce given values where possible. [AJV](https://ajv.js.org/coercion.html) schema validation engine which we use to validate input configuration, has such functionality built in. I've proposed a PR that enables that: https://github.com/serverless/serverless/pull/8319

As a side comment, in

[2020-10-01 11:59] medikoo commented on #8304
Thanks @jproberts for sharing other resource.

My assumption is that User guide provides more validation details (which are missing form API doc), however I think it contains an error when detailing rules for _value_, they seem copied from _key_, and that's probably copy/paste error.

In light of above I'd:
- Fix _pattern_ for _key_, so it closely follows one outlined at user guide
- Do not impose

[2020-10-01 12:55] medikoo commented on #8313
@zoellner  thanks for log. I see now it's a CloudFormation update error, and I think we can't do much about that.

Note that we issue one CloudFormation template _update_ operation, and it's decided on AWS side in which order template updates are processed.

I believe you need to contact AWS support about your case

[2020-10-01 13:29] stevenj commented on #8285
@medikoo Thankyou very much.

[2020-10-01 13:52] medikoo commented on #3267
I believe proper solution for this problem, it to introduce a custom (_Maven_ based) packaging logic to take over packaging as it's currently baked into the core.

In near feature we will refactor packing (https://github.com/serverless/serverless/issues/6580) and this should open door to address this use case properly

[2020-10-01 14:02] medikoo commented on #3270
Closing, as this is not a thing for which _ultimate_ solution can be found. Many setups do not require `node_modules` and even if, we do not have guarantee that what's installed in `node_modules` is up to date with `package.json`, then confirming that with npm is performance killer etc.

Instead we should simply embrace the practice of automated deployments via CI/CD, as @garethmcc pointed

[2020-10-01 14:02] #3270 closed

[2020-10-01 14:12] medikoo commented on #3398
YAML syntax errors are already reported at process of converting YAML to JSON via `js-yaml` package.

I believe these report is more about configuration errors, so on reporting on YAML valid, but not recognized by Serverless configuration structures.

In this case it can be considered as duplicate of https://github.com/serverless/serverless/issues/6562 which was already solved

[2020-10-01 14:12] #3398 closed

[2020-10-01 15:00] pgrzesik opened #8321 "Integration tests suite for provisionedConcurrency"
I took the liberty of moving the conversation about integration tests for `provisionedConcurrency` from the discussion in this PR: https://github.com/serverless/serverless/pull/8298#issuecomment-700979542

### Use case description

The goal here is to provide coverage of `provisionedConcurrency` in our integration test suite.

### Proposed solution

Solution based on the comment from @medikoo

- I

[2020-10-01 15:13] drochow opened #8322 "httpApi add support for CUSTOM and IAM Authorizers"
### Use case description
HTTP APIs were previously not supporting the options to add the AWS built-in IAM Authorizer and CUSTOM Authorizers. This got also stated within the [serverless docs](https://www.serverless.com/framework/docs/providers/aws/events/http-api#jwt-authorizers).

Since the API Gateway V2 [now also supports those authorizer types](https://docs.aws.amazon.com/AWSCloudFormation/late