[2016-08-04 14:25] nicka commented on #1740
@codepreneur How far are you taking this?

I could see one service per model. For example a Lambda with multiple handlers (GET, POST etc.) and ApiGateway routes as substacks. Then a main stack with CloudFront origins to each models API GW endpoint. Without this you could easily hit 200 CF resources. Now if only `serverless` could output the s3 urls to the newly uploaded CF templates :)

[2016-08-04 14:26] wedgybo commented on #1752
Does it work with a remove then deploy?

[2016-08-04 14:31] codepreneur commented on #1740
@nicka when I build things, I exclusively choose either `falcor` or `graphql` which means I only ever have one (declarative) endpoint (none of the GET, POST, PUT mess with imperative API). REST is a sinking ship you need to get out of :)

[2016-08-04 14:34] nicka commented on #1740
*A bit off topic*
@codepreneur Haha yes I know about `REST` vs. `graphql`(never touched `falcor`). But still how do you handle multiple Lambda's and one `graphql` endpoint?

[2016-08-04 14:36] codepreneur commented on #1752
@wedgybo yes it does, except for the `graphql` one, where the `sls remove` fails

![image](https://cloud.githubusercontent.com/assets/3421858/17405807/ea18f08a-5a58-11e6-8a43-f28862f102a1.png)

and then `sls deploy` is impossible because:

![image](https://cloud.githubusercontent.com/assets/3421858/17405822/fad414c2-5a58-11e6-9014-6a398f976014.png)

but that is a separate issue being discussed her

[2016-08-04 15:05] gladkikhartem commented on #1722
Today I've came up with an idea and wanted to share it with you.
The idea is to be able to integrate other's people endpoints in your project instantly from npm module. So from user user will just npm install the endpoint he needs and add it to the "plugin" or "endpoint" list in s-project.json and endpoint will be available for him.
for example:
npm install --save serverless-lib-jsonToXml
and add

[2016-08-04 15:33] flomotlik commented on #1736
@estahn @chalfant We've just implemented custom IAM policy support on master: https://github.com/serverless/serverless/pull/1749

@nicka you can use `--profile` to use a different profile that is defined in your ~/.aws/credentials file

[2016-08-04 15:35] chris-olszewski commented on #1621
I would be interested in working on this.

[2016-08-04 16:28] pmuens commented on #1621
Awesome! 👍

I'll mark it as `in-progress` let me know if you need any help along the way. The main zipping functionality can be found in the `package` plugin.

[2016-08-04 16:36] pmuens commented on #1740
@nicka you might want to take a look at this project: https://github.com/serverless/serverless-graphql

It runs Serverless v0 but handles everything through one `graphql` endpoint.

[2016-08-04 17:25] Bilal-S opened #1758 "Should there be a more effective support forum"
I would submit for consideration to create a more effective support forum besides Gitter and Git-Hub issues list.
Most organizations (open or closed) have some sort of structured support forum, this can be as simple as a google group. It allows users to find non-code related conversation threads easily and track questions and answers together.

Searching on gitter is like needle in an haystack met

[2016-08-04 17:38] eahefnawy commented on #1740
@flomotlik yep that sounds right. Two things to note though with this setup is that the first stack creation (the one happening without S3) will not only include S3 bucket, but it'll also include **any custom resources and IAM policy statements (including the ones added by the user)**. Because merging those custom resources happen at the `intializeResources` step, which happen before `createStack`

[2016-08-04 17:41] eahefnawy commented on #1740
@kid @codepreneur just a quick note about architecture. A Service is not meant to be your entire project, but rather a micro part of it that handles a specific functionality. If we follow microservices principles, your project would have bunch of services, each of each would contain minimal amount of functions that are specific to the service intended purpose.

Of course if you choose to go with a

[2016-08-04 17:50] eahefnawy commented on #1754
You need to pass the stage/region as options so you'd trigger the framework to use the stage & region vars rather than the common vars (which are null for stage/region)

[code]

Hope this helps 😊

[2016-08-04 17:52] HyperBrain commented on #1707
Do also complex type variables work with the environment approach? Currently (0.5.6) we have the VPC definitions defined as arrays in the var files and just use the variable replacement in the configuration. That's very convenient as the number of subnets are different across the stages.

[2016-08-04 18:03] nicka commented on #1736
@flomotlik Awesome 🍻

[2016-08-04 18:11] pmuens opened #1760 "Setup and use Code Climate / Refactor complexities in code"
Additional to Coveralls we could setup Code Climate which also analyses security, code duplication and other things.

Maybe worth to checkout and add
https://codeclimate.com

/cc @eahefnawy @flomotlik

[2016-08-04 18:11] nicka commented on #1740
@pmuens Wow, the project improved a lot. But isn't this creating one big Lambda function? That's a thing I try to avoid at all times. Will review later, thanks 👍

[2016-08-04 18:14] pmuens commented on #1740
@nicka yes, you're right. It's one large lambda function (which then includes the other parts of the service).

[2016-08-04 18:14] nicka commented on #1754
@eahefnawy Thanks for the heads up. I tried it without the stage and regions variables with .env.yml witout success. I was using -s and -r instead of --stage and --region. Maybe this should be more prominent within the docs 👍

[2016-08-04 18:28] flomotlik commented on #1736
@nicka sorry I mixed something up there, we don't currently have --profile in the framework. Here you can see the implementation for aws where it selects the profiles. You can set them through the default environment variables though.

Would be interesting to have --profile support as well, shouldn't be too hard. Probably just looking for the profile option and if its set use that one.

[2016-08-04 18:43] HyperBrain commented on #1653
@flomotlik
With this configuration the plugin creates one serverless_handler.js file out of the sources, but does not apply minify/uglify. The not used sources are kept out.
[code]

[2016-08-04 19:07] nicka commented on #1754
[code]

`sls deploy --stage devnick --region eu-central-1`

Output:
[code]

[2016-08-04 19:17] nicka commented on #1736
@flomotlik I see!

Confirmed, it works when I specify an `AWS_PROFILE` environment variable. This could also be part of the proposed `.env` support within #1707.

[2016-08-04 19:34] eahefnawy commented on #1754
hmmm how does your `serverless.env.yml` look like now?

[2016-08-04 21:21] flomotlik commented on #1740
@eahefnawy there is an issue open and we're waiting for a PR at the moment that will remove custom resources from the initial stack creation. Deploying with the initial stack will lead to issues as a user might have defined something that fails, or a custom resources wants to use a resource we create for them

[2016-08-04 21:42] telson opened #1763 "Allow dynamic linked libraries in project"
Currently I have all libs in the top level serverless project `lib/` so that it gets onto the LD_LIBRARY_PATH in lambda as `/var/task/lib`.

Ideally serverless would append my `lib/` to the `LD_LIBRARY_PATH `

[2016-08-05 00:45] jordanmack commented on #778
@danpantry You might also want to try out the new Serverless v1.0 beta that just came out since it has a lot of changes from the currently released version. http://blog.serverless.com/serverless-v1-0-beta-release-1/

If the problem still exists, then I would recommend opening a new issue. I'll be working on getting up a test environment with Windows Bash to help verify and test this issue.

[2016-08-05 02:02] jeffski commented on #1520
I had the same problem because my profile was not called [default] in the ~/.aws/credentials file. When I copied my profile and named it [default] then `serverless deploy` worked.

You should be able to choose the profile as you might have several. It would be nice to either set this in one of the yaml files or maybe pass it in to the deploy command - i.e.

```serverless deploy --profile my-profil

[2016-08-05 05:04] pmuens commented on #1728
Will be done with https://github.com/serverless/serverless/pull/1764

[2016-08-05 05:11] pmuens commented on #1617
@codepreneur thanks for getting back!

You can specify that the DynamoDB will persist even if you remove it through CloudFormation (to keep the data). Maybe that's the reason why the table is still there.

[2016-08-05 05:37] jeffski commented on #1754
It would be good to get access to some reserved variables rather than having to set them yourself. I think in v0.5 you could access ${stage}, ${region}, ${project} and ${name} without explicitly defining them.

[2016-08-05 06:19] pmuens opened #1765 "Add serverless test plugin"
It would be awesome if one could run `serverless test` to e.g. test the HTTP endpoint (or other services) so that tools such as Postman are not necessary and the developer can stay inside his terminal and the Serverless framework during development.

/cc @ac360 @flomotlik @eahefnawy

[2016-08-05 06:29] flomotlik commented on #1763
@telson I'm not sure if its possible for us to set LD_LIBRARY_PATH ourselves on Lambda. Do you have some documentation how this would work? Going by the AWS forum here it looks like only AWS can do this: https://forums.aws.amazon.com/thread.jspa?messageID=706158

[2016-08-05 06:36] flomotlik commented on #1758
Hi @Bilal-S , thanks for reaching out. The Forum (forum.serverless.com) is definitely the right place for this. We're currently establishing a dev evangelist team and will spend more time on this in the forum.

Its still in its infancy and we're getting started on it, but would love for more people to participate and join in on this. I'm going to close this issue here just to keep our open issues

[2016-08-05 06:36] #1758 closed

[2016-08-05 06:39] flomotlik commented on #1752
@codepreneur @wedgybo could this happen because of the rename of APIG methods? Basically beta1 introduced a different way of naming the logical id of a method, so on the next deployment it will try to recreate the method. But as you can only have one method in a deployment that has the same path it fails because CF tries to first create the new method and then remove the old one.

[2016-08-05 06:44] flomotlik commented on #1748
@pmuilu AWS creates 2 different config files, the credentials and config file according to their docs: http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html#cli-config-files

We're not using the credentials file directly, but let the aws sdk deal with it.

Your aws-cli version is pretty outdated. Could you update and try again as I suppose that this is the problem. I'm goin

[2016-08-05 06:44] #1748 closed

[2016-08-05 06:46] flomotlik commented on #1172
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 06:46] #1172 closed

[2016-08-05 06:46] flomotlik commented on #1746
@telson for which version of Serverless is this problem happening?

[2016-08-05 06:47] flomotlik commented on #1745
@bijoutrouvaille this is almost certainly a regression in our API Gateway setup as described in #1752 . I'll close this for now, if you have more info or if this is a separate issue from the one reported in the other issue let us know. Thanks for reporting

[2016-08-05 06:47] #1745 closed

[2016-08-05 06:48] flomotlik commented on #1744
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 06:48] #1744 closed

[2016-08-05 06:49] flomotlik commented on #1738
@shortjared could you show us the part of the cloud formation template causing this?

[2016-08-05 06:50] wei-xu-myob commented on #1653
I'm using FlowType & async in lambda, and using Babelify to transform under Serverless 0.5.6.

I want to know how to deal with the custom package processes in 1.0, I could not find the extension point from the source code.

Any suggestion for this?

[2016-08-05 06:51] flomotlik commented on #1724
@Bilal-S we just moved from v1.0 to the master branch, so everything can run against the master now.

[2016-08-05 06:58] jeffski commented on #1535
Was banging my head against the wall trying to get this to work for about an hour then realised it was merged to master but is not in the beta1 version.

Got it installed and working by installing using:

[code]

[2016-08-05 07:07] pmuens commented on #1653
Hey @wei-xu-myob thanks for reaching out.

The `package` plugin currently hooks into the `deploy:createDeploymentPackage` lifecycle. You can simply hook into the `before:deploy:createDeploymentPackage` lifecycle to deploy your assets before they are zipped and deployed.

You can do this with the help of a plugin. You can find the docs on how to develop a plugin here: https://github.com/serverless/

[2016-08-05 07:09] pmuens commented on #1535
@jeffski thank you for the pointer on how to install from master!

This issue was resolved with https://github.com/serverless/serverless/pull/1749 and will be available in beta.2!

[2016-08-05 07:09] #1535 closed

[2016-08-05 07:14] #223 closed

[2016-08-05 07:15] #308 closed

[2016-08-05 07:18] flomotlik commented on #351
With our new architecture in place it should be relatively easy for users to define their own roles if those are available. There simply needs to be a parameter in the `provider` section of your serverless.yml that points to a specific arn, e.g.

[code]

This could then be used instead of creating our own Role. Should be simple to implement

[2016-08-05 07:19] flomotlik commented on #504
resolved in #1631 for Serverless 1.0. Closing this issue therefore

[2016-08-05 07:19] #504 closed

[2016-08-05 07:21] flomotlik commented on #682
resolved in #1672

[2016-08-05 07:21] #682 closed

[2016-08-05 07:22] flomotlik commented on #659
As this is in Github now closing this issue

[2016-08-05 07:22] #659 closed

[2016-08-05 07:27] jeffski commented on #1740
Been playing about with serverless v1 today and it would be good to have some guidance/docs/best practice on how to structure your projects/services/microservices. I know there will be lots of opinions but some starting points would be good. I'm a little bit lost on this having got familiar with some of the v0.5 examples.

[2016-08-05 07:31] #1728 closed

[2016-08-05 07:35] eahefnawy commented on #1689
@codepreneur FYI we just added a new way to add policy statements. [check this issue for more info](https://github.com/serverless/serverless/issues/1535). So this should not be an issue anymore. Closing 🙌

Thanks for reporting! 😊

[2016-08-05 07:35] #1689 closed

[2016-08-05 07:35] eahefnawy commented on #1718
Resolved with #1753

[2016-08-05 07:35] #1718 closed

[2016-08-05 07:36] #1446 closed

[2016-08-05 07:37] eahefnawy commented on #1697
Resolved with #1753

[2016-08-05 07:37] #1697 closed

[2016-08-05 08:04] codepreneur commented on #1617
Yeah, I think thats the reason @pmuens

[2016-08-05 08:05] mthenw commented on #1707
I’m personally not sure if there should be direct support for region and stage in the framework. Instead of that I would propose something similar to what @svdgraaf proposed which is “just” config file support. Default config file is `serverless.yml`.

## Framework shouldn't care about region and staging.

Framework is just a tool for managing function. Minimal framework project should look like t

[2016-08-05 08:06] codepreneur commented on #1752
Yeah, @flomotlik thats exactly it.

[2016-08-05 08:08] mthenw commented on #1707
One more comment. To make it easy to configure and setup there should be some interactive command for generating that files by asking questions like:

1. What is the name of you service?
2. What stages you want to setup?
etc.

[2016-08-05 08:26] eahefnawy commented on #1723
Alright so here's what I have in mind. The structure of the repo would look like this:

[code]

On ever test run:

1. Script will clone our master branch into the root of the repo, insuring that we have the latest changes for each test run.
2. Script will `npm install` the cloned master, and globally set the path to the serverless bin
3. Script will require/run each complex service test suite. One

[2016-08-05 08:28] flomotlik commented on #647
Imho we can only really support Websockets once its a proper feature of API Gateway. We can definitely support IOT in the future, but supporting Websockets through IOT for web applications sounds like it wouldn't be a great experience. Will close this issue for now until AWS moves ahead with WS support.

[2016-08-05 08:30] flomotlik commented on #624
At the moment local running should be supported by the serverless-offline plugin in 0.5

We're currently discussing future development tooling in a separate issue: #1582

Will close this one in favour of the other ones.

[2016-08-05 08:30] #624 closed

[2016-08-05 08:30] eahefnawy commented on #1723
@flomotlik I've thought about Docker for a while. What I have in mind is for us to create an image for each complex service/test suite. This should offer great isolation, but it also means we'll have to duplicate functionality (ie. each image would pull/npm install from master independently). Might be an overkill for our use case.

I don't have a lot of experience with Docker though. How do you th

[2016-08-05 08:33] flomotlik commented on #22
@AnalogJ going forward you do not have to rely on the serverless middleware and could use any JWT compatible library or tooling for your lambda functions. We are looking into potential authentication in our future SDK, but don't have specific plans yet. For the time I'll close this issue as we will be tracking this separately if we plan to integrate this directly into serverless, but you can absol

[2016-08-05 08:33] #22 closed

[2016-08-05 08:33] flomotlik commented on #529
resolved with info plugin and cloud formation, closing.

[2016-08-05 08:33] #529 closed

[2016-08-05 08:34] flomotlik commented on #533
Serverless V1.0 is completely non-interactive, so this should be resolved.

[2016-08-05 08:34] #533 closed

[2016-08-05 08:36] flomotlik commented on #644
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 08:36] #644 closed

[2016-08-05 08:38] flomotlik commented on #645
We currently have proposals in #1694 to add your custom templates in an easy way and we're generally trying to include templates for most used content types so you don't actually have to set them up yourself. I'll close this issue in favour of other ones

[2016-08-05 08:38] #645 closed

[2016-08-05 08:38] #689 closed

[2016-08-05 08:39] flomotlik commented on #681
@erikerikson this should be resolved in V1 now as variable resolution happens once per serverless.yml file. I'll close this issue, if it isn't resolved in your opinion let me know and I'll reopen.

[2016-08-05 08:39] #681 closed

[2016-08-05 08:42] flomotlik commented on #991
This was implemented in #1620

[2016-08-05 08:42] #991 closed

[2016-08-05 08:42] flomotlik commented on #983
Imho not as important any more with new architecture. Its pretty clear from our documentation and adding comments everywhere will imho lead to more outdated docs. Better to have clearer names for everything

[2016-08-05 08:42] #983 closed

[2016-08-05 08:43] flomotlik commented on #973
With V1 and our move to Cloudformation this should be resolved. Closing

[2016-08-05 08:43] #973 closed

[2016-08-05 08:45] eahefnawy commented on #1707
@svdgraaf they would have to keep switching env vars because `AUTHORIZER_ARN` would be different for each stage/region. So when you run `serverless deploy -s production -r us-west-2`, you have to make sure you updated the value of the `AUTHORIZER_ARN` env var to reflect the production version.

Things would be so much simpler if values doesn't depend on stage/region. So as a way to reduce this ste

[2016-08-05 08:45] flomotlik commented on #967
In V1 this shouldn't be an issue any more, so I'm closing.

[2016-08-05 08:45] #967 closed

[2016-08-05 08:45] flomotlik commented on #995
In V1 events are handled differently through Cloudformation and they don't have to be unique in this way any more. Closing therefore.

[2016-08-05 08:45] #995 closed

[2016-08-05 08:46] flomotlik commented on #993
through our move to Cloudformation for deploying this should not be an issue going forward any more.

[2016-08-05 08:46] #993 closed

[2016-08-05 08:46] #963 closed

[2016-08-05 08:47] flomotlik commented on #928
Closing this issue in favor of of #472

[2016-08-05 08:47] #928 closed

[2016-08-05 08:48] eahefnawy commented on #1707
@HyperBrain I don't think the env var approach would support complex variable types. This seems to be something that is more fit to JSON-Ref. I'm not sure about the nature of your variables, but complex types gives the impression that they're not really "secretive" but rather "reusable". So maybe JSON-Ref would work there?

@HyperBrain if you still would prefer managing files rather than env vars,

[2016-08-05 08:48] flomotlik commented on #918
Due to Cloudformation usage in V1 this issue should not be happening going forward

[2016-08-05 08:48] #918 closed

[2016-08-05 08:48] flomotlik commented on #743
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 08:48] #743 closed

[2016-08-05 08:48] #741 closed

[2016-08-05 08:49] flomotlik commented on #769
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 08:49] #769 closed

[2016-08-05 08:49] #770 closed

[2016-08-05 08:49] eahefnawy commented on #1707
@rajington Interesting! that's a pretty creative solution! However it's too dependent on YAML, and because of some indentation/UX issues we've faced with YAML, we're thinking maybe to also support JSON files (while keeping yaml default/preferred)

[2016-08-05 08:52] #999 closed

[2016-08-05 08:53] flomotlik commented on #1000
We're going to work more on this in #1722

[2016-08-05 08:53] #1000 closed

[2016-08-05 08:56] #996 closed

[2016-08-05 08:57] flomotlik commented on #964
You can see the include/exclude functionality of V1 here: https://github.com/serverless/serverless/blob/master/docs/understanding-serverless/serverless-yml.md

[2016-08-05 08:57] #964 closed

[2016-08-05 08:57] eahefnawy commented on #1707
+100000

Does that mean that a Service doesn't need to have `serverless.yml`? but rather **optionally** depends on what the user pass as config file?

Our main goal for v1 is to reduce boilerplate, so I'm on the fence on that one.

@mthenw Generally it seems that you'd prefer config files over env vars like @HyperBrain ... Any particular reason for that? Do you think env vars are harder to manage,

[2016-08-05 09:00] flomotlik commented on #823
We're currently rethinking stage/region in V1 and validation will be a part of that. Closing this issue therefore

[2016-08-05 09:00] #823 closed

[2016-08-05 09:00] #817 closed

[2016-08-05 09:01] flomotlik commented on #791
As we're currently rethinking stage/region and variables we can discuss it there

[2016-08-05 09:01] #791 closed

[2016-08-05 09:01] flomotlik commented on #758
Closing, please reopen if still an issue

[2016-08-05 09:01] #758 closed

[2016-08-05 09:01] #865 closed

[2016-08-05 09:02] flomotlik commented on #906
As this is handled differently on service creation now in V1 I'm going to close this issue

[2016-08-05 09:02] #906 closed

[2016-08-05 09:02] flomotlik commented on #913
optional parameters are possible now in V1.

[2016-08-05 09:02] #913 closed

[2016-08-05 09:04] mthenw commented on #1707
It's loaded by default. If there is no `serverless.yml` and `--config` is not passed error should be returned.

Env var are fine too. I personally don't like them as they are not explicit.

Terraform solved that (https://www.terraform.io/intro/getting-started/variables.html). There are three options for passing vars:
- `terraform plan -var 'access_key=foo'`
-  `terraform plan -var-file="secret.tfv

[2016-08-05 09:04] flomotlik commented on #1077
We now have SNS support in V1, this should resolve this issue: https://github.com/serverless/serverless/blob/master/docs/guide/overview-of-event-sources.md#sns

[2016-08-05 09:04] #1077 closed

[2016-08-05 09:05] flomotlik commented on #1076
In V1 this is not an issue any more. Closing therefore.

[2016-08-05 09:05] #1076 closed

[2016-08-05 09:07] flomotlik commented on #1072
In V1 custom authorisers are simply other methods, so they follow the same naming standard as other functions. closing this issue therefore.

[2016-08-05 09:07] #1072 closed

[2016-08-05 09:08] #1074 closed

[2016-08-05 09:08] flomotlik commented on #1062
With our latest releases in V1 this should be resolved.

[2016-08-05 09:08] #1062 closed

[2016-08-05 09:09] flomotlik commented on #1057
Our new logs plugin for V1 doesn't have this issue any more. Closing therefore

[2016-08-05 09:09] #1057 closed

[2016-08-05 09:09] flomotlik commented on #1052
This is done in V1 now. Closing

[2016-08-05 09:09] #1052 closed

[2016-08-05 09:10] flomotlik commented on #1043
With our new Cloudformation deployment in V1 this should be resolved.

[2016-08-05 09:10] #1043 closed

[2016-08-05 09:10] flomotlik commented on #1042
Not an issue any more in V1 due to Cloudformation deployment. Closing

[2016-08-05 09:10] #1042 closed

[2016-08-05 09:10] #1039 closed

[2016-08-05 09:11] #1032 closed

[2016-08-05 09:11] #1047 closed

[2016-08-05 09:11] flomotlik commented on #1030
In V1 you can set this up through custom resources.

[2016-08-05 09:11] #1030 closed

[2016-08-05 09:12] flomotlik commented on #1023
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:12] #1023 closed

[2016-08-05 09:12] flomotlik commented on #1029
This is implemented now in Serverless V1

[2016-08-05 09:13] flomotlik commented on #1031
@BerndWessels sorry for the delayed response here. If you look through the issues and milestones in this repo or on our blog you can find all of this. This issue is also resolved through Cloudformation

[2016-08-05 09:13] #1031 closed

[2016-08-05 09:14] flomotlik commented on #1021
tracked in #1597

[2016-08-05 09:14] #1021 closed

[2016-08-05 09:14] flomotlik commented on #1010
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:14] #1010 closed

[2016-08-05 09:15] flomotlik commented on #1007
We're going to do more example on this in the future. Closing here for now as we have concrete plans for this already in place

[2016-08-05 09:15] #1007 closed

[2016-08-05 09:15] flomotlik commented on #1008
This issue is resolved in the latest version of Serverless

[2016-08-05 09:15] #1008 closed

[2016-08-05 09:16] flomotlik commented on #1013
We now use the runtime that AWS provides as well, so more flexibility.

[2016-08-05 09:16] #1013 closed

[2016-08-05 09:16] flomotlik commented on #1014
We're currently changing the way templates are handled in V1, so closing this issue here.

[2016-08-05 09:16] #1014 closed

[2016-08-05 09:17] flomotlik commented on #1016
We've completely removed babel or optimizer support from V1 for now, we might bring it back at some point.

[2016-08-05 09:17] #1016 closed

[2016-08-05 09:17] flomotlik commented on #1071
Thanks for reporting, we've completely removed interactive mode in V1, so this issue should not happen any more

[2016-08-05 09:17] #1071 closed

[2016-08-05 09:18] #1044 closed

[2016-08-05 09:18] #1222 closed

[2016-08-05 09:18] flomotlik commented on #1221
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:18] #1221 closed

[2016-08-05 09:18] #1218 closed

[2016-08-05 09:19] flomotlik commented on #1216
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:19] #1216 closed

[2016-08-05 09:19] flomotlik commented on #1215
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:19] #1215 closed

[2016-08-05 09:19] #1210 closed

[2016-08-05 09:20] flomotlik commented on #1207
fixed it in the README. Team@ is only for internal communication.

[2016-08-05 09:20] #1207 closed

[2016-08-05 09:20] #1208 closed

[2016-08-05 09:20] danpantry commented on #778
@jordanmack sure. I'll try out the new build and feedback here if the issue is fixed, else I'll open a new issue. Should be able to get something back to you in around 8 hours.

[2016-08-05 09:21] flomotlik commented on #1206
This is already done now.

[2016-08-05 09:21] #1206 closed

[2016-08-05 09:22] #1209 closed

[2016-08-05 09:23] flomotlik commented on #1200
Not sure if we need this any more. Imho maybe at some point, but would close the issue until this comes up again.

[2016-08-05 09:23] #1200 closed

[2016-08-05 09:23] flomotlik commented on #1192
This is done already @pmuens ? I'll close this issue, if its already removed don't answer and I'll consider this done

[2016-08-05 09:25] flomotlik commented on #1178
@pmuens is this still an issue?

[2016-08-05 09:25] #1178 closed

[2016-08-05 09:26] flomotlik commented on #1166
I like that we don't have interactivity. Maybe reopen later on but for now imho its good the way it is

[2016-08-05 09:26] #1166 closed

[2016-08-05 09:26] flomotlik commented on #1147
@pmuens still an issue?

[2016-08-05 09:28] flomotlik commented on #187
@danielesegato does this work with the new V1 stuff as well? Would be great to have this and put it in the docs.

[2016-08-05 09:28] #1105 closed

[2016-08-05 09:28] flomotlik commented on #1106
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:28] #1106 closed

[2016-08-05 09:30] flomotlik commented on #1110
@jonknapp are you using this inside of the functions? I'm going to close it for now as I don't think we're going to support this anytime soon (haven't heard a lot about it really). But looks interesting

[2016-08-05 09:31] flomotlik commented on #1183
As we now have full support of Cloudformation and custom resources you should be able to set this in cloud formation (in case this is already exposed)

[2016-08-05 09:31] #1183 closed

[2016-08-05 09:31] #1175 closed

[2016-08-05 09:33] flomotlik commented on #1168
@HyperBrain is this still something you guys need? It sounds interesting, but could probably be achieved through custom resources in serverless.yml

[2016-08-05 09:33] flomotlik commented on #1168
And of course including docs

[2016-08-05 09:34] #1124 closed

[2016-08-05 09:34] flomotlik commented on #1276
Imho 2 levels are enough and I like its not more complex. closing

[2016-08-05 09:34] #1276 closed

[2016-08-05 09:35] #1275 closed

[2016-08-05 09:35] flomotlik commented on #1272
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:35] #1272 closed

[2016-08-05 09:36] flomotlik commented on #1256
This is already done correct?

[2016-08-05 09:36] #1256 closed

[2016-08-05 09:36] #1251 closed

[2016-08-05 09:36] #1250 closed

[2016-08-05 09:36] #1249 closed

[2016-08-05 09:36] HyperBrain commented on #1168
@flomotlik Yes. It is a proper way to secure the APIs as invalid content can be blocked upfront.
I did not check yet, if CF already supports it, but if that's the case it would fit into the CF deployment perfectly. There should be only a way to specify the behavior in the service or function configuration.

[2016-08-05 09:37] #1245 closed

[2016-08-05 09:37] #1244 closed

[2016-08-05 09:37] #1243 closed

[2016-08-05 09:38] flomotlik commented on #1242
Imho nice to have feature in the future, never heard a user say they want it therefore closing

[2016-08-05 09:38] #1242 closed

[2016-08-05 09:38] #1240 closed

[2016-08-05 09:38] flomotlik commented on #1235
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:38] #1235 closed

[2016-08-05 09:39] flomotlik commented on #1225
This is resolved in V1

[2016-08-05 09:39] #1225 closed

[2016-08-05 09:39] flomotlik commented on #1226
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:39] #1226 closed

[2016-08-05 09:39] flomotlik commented on #1254
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:39] #1254 closed

[2016-08-05 09:41] #1362 closed

[2016-08-05 09:41] #1360 closed

[2016-08-05 09:42] flomotlik commented on #1358
this is probably better asked in the serverless-offline plugin. Generally we're currently discussing developer tool improvements as well in #1582

[2016-08-05 09:42] #1358 closed

[2016-08-05 09:42] flomotlik commented on #1356
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:42] #1356 closed

[2016-08-05 09:42] flomotlik commented on #1351
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:44] #1346 closed

[2016-08-05 09:44] #1345 closed

[2016-08-05 09:44] #1343 closed

[2016-08-05 09:44] flomotlik commented on #1329
You should be able to do this in V1 through custom resources.

[2016-08-05 09:44] #1329 closed

[2016-08-05 09:45] flomotlik commented on #1323
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:45] #1323 closed

[2016-08-05 09:45] flomotlik commented on #1322
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:45] #1322 closed

[2016-08-05 09:45] #1321 closed

[2016-08-05 09:45] #1311 closed

[2016-08-05 09:46] #1314 closed

[2016-08-05 09:46] flomotlik commented on #1310
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:46] #1310 closed

[2016-08-05 09:47] flomotlik commented on #1307
@jeffastorey we haven't yet created this in V1.0 for installing other projects so I'm closing. Not sure yet how we're going to support this in the future.

[2016-08-05 09:47] #1307 closed

[2016-08-05 09:47] flomotlik commented on #1303
Still an issue?

[2016-08-05 09:47] #1303 closed

[2016-08-05 09:47] #1290 closed

[2016-08-05 09:47] flomotlik commented on #1287
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:47] #1287 closed

[2016-08-05 09:48] flomotlik commented on #1286
@lukas-gitl @homingli through our new Cloudformation config in V1 you should be able to easily set this up through custom resources

[2016-08-05 09:48] #1286 closed

[2016-08-05 09:48] #1283 closed

[2016-08-05 09:49] flomotlik commented on #1285
You should be able to set this through custom resources in V1.0

[2016-08-05 09:49] #1285 closed

[2016-08-05 09:49] flomotlik commented on #1306
In V1 as everything is deployed through Cloudformation it will cover all of those issues properly.

[2016-08-05 09:49] #1306 closed

[2016-08-05 09:50] flomotlik commented on #1357
@pmuens is this still an issue?

[2016-08-05 09:51] flomotlik commented on #1473
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:51] #1473 closed

[2016-08-05 09:52] flomotlik commented on #1464
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:52] #1464 closed

[2016-08-05 09:54] flomotlik commented on #1450
Closing this specific issue, but we'd love to have more event support either through plugins or documentation in custom resources.

[2016-08-05 09:54] #1450 closed

[2016-08-05 09:54] #1531 closed

[2016-08-05 09:56] flomotlik commented on #1528
Hi @foobar8675 to get this into your deployed services with V1 you basically have to build it on your CI server or wherever you build the artefact and it can then be included.

[2016-08-05 09:56] #1528 closed

[2016-08-05 09:56] #1527 closed

[2016-08-05 09:56] flomotlik commented on #1511
is this still an issue @pmuens ?

[2016-08-05 09:57] #1512 closed

[2016-08-05 09:57] flomotlik commented on #1248
Tracked in #1510

[2016-08-05 09:57] #1248 closed

[2016-08-05 09:58] flomotlik commented on #1522
closing this for now. We have to discuss it this month and will come back to this issue

[2016-08-05 09:58] #1522 closed

[2016-08-05 09:58] flomotlik commented on #1526
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 09:58] #1526 closed

[2016-08-05 09:58] codepreneur opened #1766 "[Critical Bug] sometimes endpoints do not get deployed to API Gateway"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

Endpoints get deployed to amazon

![image](https://cloud.githubusercontent.com/assets/3421858/17432805/0fb64d38-5af9-11e6-99e6-85224fd6203e.png)

##### Actual Behavior:

![image](https://cloud

[2016-08-05 09:59] flomotlik commented on #1515
Imho this can be a small task for the next beta. Should be fast and simple to fix

[2016-08-05 10:01] flomotlik commented on #1518
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 10:01] #1518 closed

[2016-08-05 10:02] flomotlik commented on #1445
Imho 2 levels are fine, no need for more. Makes sure we don't end up with something like

`serverless look at this shitty long command that nobody understands --whatever blabla`

[2016-08-05 10:02] #1445 closed

[2016-08-05 10:03] flomotlik commented on #1474
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 10:03] #1474 closed

[2016-08-05 10:19] flomotlik commented on #1481
Documentation added in #1741

Need to do more docs structure in the future, but thats a separate issue

[2016-08-05 10:19] #1481 closed

[2016-08-05 10:20] #1509 closed

[2016-08-05 10:21] flomotlik commented on #1532
Implemented in new separate repo

[2016-08-05 10:21] #1532 closed

[2016-08-05 10:28] codepreneur commented on #1766
I found what the problem is.

Apparently endpoint path HAVE TO start with the same name as function name, or otherwise it gets ignored.

Like so:

[code]

and

[code]

Is this a bug introduced in `beta.1`? or intended requirement to create endpoints that's not documented ?

[2016-08-05 10:28] pmuilu commented on #1766
+1

I first noticed this as I changed method from get to post. This update was correctly propagated to "Resources" -section but in "Stages" there was only old GET version visible. Then I did sls remove and sls deploy. This method was again visible fine in Resources but now totally missing from "Stages". Then I did sls remove/deploy again and it was now fine.

Sorry I can't be more specific as my u

[2016-08-05 10:32] svdgraaf commented on #1707
Maybe a silly suggestion, but couldn't we just expose the environment hash to the variables, eg: `${env.FOOBAR}`, together with the other variables? That would be an easy fix I think.

That would not solve the issue of the configuration loading, but at least the users that want to use environment variables, can do so easily.

[2016-08-05 10:36] flomotlik commented on #1614
This should be resolved with #1638

[2016-08-05 10:37] flomotlik commented on #1615
This should be resolved with #1638

[2016-08-05 10:37] #1615 closed

[2016-08-05 10:37] #1614 closed

[2016-08-05 10:37] flomotlik commented on #1611
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 10:37] #1611 closed

[2016-08-05 10:39] flomotlik commented on #1604
@pmuens we're already catching when exceptions are thrown during tracking correct?

[2016-08-05 10:39] flomotlik commented on #1539
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 10:39] #1539 closed

[2016-08-05 10:40] #1534 closed

[2016-08-05 10:40] #1542 closed

[2016-08-05 10:41] flomotlik commented on #1578
Added recently with #1731

[2016-08-05 10:41] #1578 closed

[2016-08-05 10:41] flomotlik commented on #1589
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 10:41] #1589 closed

[2016-08-05 10:43] flomotlik commented on #1591
@codepreneur @tengis not sure yet about serverless-optimizer inside of Serverless Core with V1. Discussion currently happening in #1653

Closing this issue as this specific one is solved with include/exclude as @tengis already linked to.

[2016-08-05 10:43] #1591 closed

[2016-08-05 10:43] flomotlik commented on #1587
This is interesting in the future, but no current goal so I'm closing this issue

[2016-08-05 10:43] #1587 closed

[2016-08-05 10:43] nergmada opened #1767 "Cannot read property type 'match' of undefined"
##### Serverless Framework Version: V1.0 (modified)
see this [link](https://github.com/Smeb/serverless/pull/2) to see how the code has changed
##### Operating System: Windows 10 Pro

##### Expected Behavior: To deploy the lambda function to AWS

##### Actual Behavior: crashes unable to find variables.

##### Stack-Trace (Optional):

##### Full details
So a few days ago a colleague of mine filed a

[2016-08-05 10:44] #1606 closed

[2016-08-05 10:45] flomotlik commented on #1616
Yup agreed @codepreneur . Basic reason we removed it is because it lead to issues with our templating system and is more work that needs to be done before it can be back in. We'll get it back in the future.

[2016-08-05 10:47] flomotlik commented on #1693
Thanks for the feedback @nhumphreys , this is also targeted in #1513

Closing this one for the other one

[2016-08-05 10:47] #1693 closed

[2016-08-05 10:48] #1617 closed

[2016-08-05 10:49] #1649 closed

[2016-08-05 11:14] svdgraaf commented on #1257
I had some time to burn, made a PR, I see the build failed because of timeout, can someone restart it? :)

[2016-08-05 11:20] svdgraaf commented on #1515
I have some time to burn, will start on this

[2016-08-05 11:39] svdgraaf commented on #1457
I second the hashing of the files as @nicka proposed, easiest solution to see if anything has changed. CF is smart enough to see that it should only update the lambda functions if the hash changed.

I think versioning of the CF stack could be handy, as you would have the option of rolling back to some previous version.

I'm not a big fan of auto deleting older files, there could be a plugin for th

[2016-08-05 12:02] flomotlik commented on #1515
@svdgraaf

 ![Noice](https://media4.giphy.com/media/HggxGlGAWFkbK/200_s.gif)

[2016-08-05 12:04] jonknapp commented on #1110
I'm using `aws-auth-helper` as a command that I call before the `serverless dash deploy` command so that aws environment variables can be exported and available when serverless runs.

Ideally, calling the `aws.assumeRole` method would be done by a Serverless plugin so it wouldn't matter what shell the user was using, but if there's not enough demand for it I'll just stick with my bash helper scrip

[2016-08-05 12:06] svdgraaf commented on #1677
@codepreneur I can confirm that this is a CF issue.

On the first deploy, you created a DynamoDB table (with a resource name of `PostsDynamo`, and the table name `egamitv-links-dev`. Now on this second go, you changed the resource name. CF thinks you want to create another dynamotable, tries to create it, but fails, because a Dynamo table with that name already exists (your previous one).

CF will

[2016-08-05 12:18] pmuens commented on #1515
Will be done with https://github.com/serverless/serverless/pull/1769

[2016-08-05 12:22] flomotlik commented on #1618
@danielesegato We actually have been thinking about this as well in the past and we're simply not sure yet how dependencies between services from V1 going forward will be handled.

I'll mark this one as discussion so we can capture ideas here going forward.

[2016-08-05 12:28] wedgybo commented on #1766
I'm struggling to replicate the issue where the path must be the same as the function name. I'm running off the the latest commit on master though.

@pmuilu Yes your issue is a replica of #1684 where redeployments won't update correctly to the stage.

[code]

[code]

[2016-08-05 12:30] flomotlik commented on #1713
Hi, thanks for using the Serverless Framework. In the Github Issues here we try to only cover bugs or new feature discussions. Anything that is more a support question would be better asked in [our forum](http://forum.serverless.com). We're happy to help out in the forums to make sure you have a great experience there.

[2016-08-05 12:30] #1713 closed

[2016-08-05 12:31] flomotlik commented on #1701
@Jorenm in case this isn't fixed with the beta for you please let us know. I'm closing in the meantime

[2016-08-05 12:31] #1701 closed

[2016-08-05 12:32] flomotlik commented on #1669
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:32] #1669 closed

[2016-08-05 12:32] pmuens commented on #1192
Unfortunately not done yet... Reopening.

[2016-08-05 12:33] pmuens commented on #1178
Depends. I would keep this closed as the explicit requiring is impossible to do everywhere (I'm also more in favor of using the `serverless` object inside the code.

[2016-08-05 12:34] pmuens commented on #1273
Should be resolve IMHO. Right now the console.logs are extremely distracting and the test output is impossible to read (just the result). There's already a mocha PR which tries to solve this.

[2016-08-05 12:35] pmuens commented on #1256
Yes 👍

[2016-08-05 12:35] flomotlik opened #1772 "Allow setting ARN for IAM Role to point to previously created Role"
##### Feature Request:

As discussed in #351 we should allow users to set a custom ARN that points to an IAM role they want to use as the execution role for Lambdas.

##### Benefits:

* User can define one IAM Role across various services

##### Drawbacks:

* Users need to set different ARNs depending on the stage or account they deploy to, so variable handling becomes important

##### Additional

[2016-08-05 12:36] pmuens commented on #1303
No. I don't think so. We could look into this more in #1627

[2016-08-05 12:36] flomotlik commented on #351
Created a new issue with #1772 that talks about this ARN extension. Will close this issue and we can follow along in the other one.

[2016-08-05 12:36] #351 closed

[2016-08-05 12:36] carlhunterroach commented on #1030
thanks

[2016-08-05 12:39] #1515 closed

[2016-08-05 12:39] flomotlik commented on #1373
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:39] #1373 closed

[2016-08-05 12:39] flomotlik commented on #1386
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:39] #1386 closed

[2016-08-05 12:40] pmuens commented on #1766
@codepreneur thanks for reporting 👍

We added a fix yesterday. Could you try it again with the latest version from the master branch?

[2016-08-05 12:40] flomotlik commented on #1377
@johnsgp this is resolved in Serverless V1. The system exits properly with 1 if the deployment fails so I'll close this issue. Thanks for reporting.

[2016-08-05 12:40] #1377 closed

[2016-08-05 12:41] flomotlik commented on #1387
As we've switched to Cloudformation in the latest release and this works fine on any region I'm going to close this issue.

[2016-08-05 12:41] #1387 closed

[2016-08-05 12:41] flomotlik commented on #1398
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:41] #1398 closed

[2016-08-05 12:41] pmuens commented on #1168
Seems like APIG now support `passthroughBehavior` in CloudFormation 🎉

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-apitgateway-method-integration.html

[2016-08-05 12:42] svdgraaf commented on #1754
This is a known issue (I've bumped into the same issue), there is a discussion here: https://github.com/serverless/serverless/pull/1711

[2016-08-05 12:42] flomotlik commented on #1391
@eahefnawy this is not implemented yet correct?

[2016-08-05 12:42] pmuens commented on #1257
Awesome @svdgraaf! You totally rock 🎸 !

Will restart the build. Thanks for that 🎉

[2016-08-05 12:43] pmuens commented on #1257
Will be done with https://github.com/serverless/serverless/pull/1768

[2016-08-05 12:43] flomotlik commented on #1430
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:43] #1430 closed

[2016-08-05 12:44] flomotlik commented on #1437
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 12:44] #1437 closed

[2016-08-05 12:47] pmuens commented on #1604
Tracking will be run and processed, but we don't mark the failed command as an error inside of the tracking.

[2016-08-05 12:47] pmuens commented on #1511
Should be mostly resolved with https://github.com/serverless/serverless/pull/1771

[2016-08-05 12:48] flomotlik commented on #1488
@nikgraf you mean when you go through the UI, set VPC up and then redeploy serverless should overwrite the VPC setting?

Imho thats surprising to users and I would not do it. If serverless doesn't have any VPC config we shouldn't mess with it. Maybe people use a couple of tools or want to try something.

I'll close this issue for now. If I misunderstood your request and you meant something else le

[2016-08-05 12:48] #1488 closed

[2016-08-05 12:50] pmuens commented on #1147
Nope @eahefnawy has resolved this with a new test inside the `PluginManager` class test.

[2016-08-05 12:50] pmuens commented on #1357
No. We'll discuss this in #1627

[2016-08-05 12:50] #1357 closed

[2016-08-05 12:54] flomotlik commented on #1495
We are defining common exclude/include patterns now through the template files, so we don't need to define that automatically. Imho this would also lead to pretty surprising results for users imho. In case we do need this still for something please reopen.

[2016-08-05 12:54] #1495 closed

[2016-08-05 12:54] pmuens opened #1773 "Add retrieval of functionName from function object in deployFunction plugin"
The `functionName` in the deployFunction plugin should be taken from the function object (like it was done in https://github.com/serverless/serverless/pull/1753).

[2016-08-05 12:56] flomotlik commented on #1577
Imho we should do that in the next beta release, so its all prepared before the full release. Should be easy to do anyway.

[2016-08-05 12:57] flomotlik commented on #1592
Can we consider this done with #1739 ?

[2016-08-05 12:57] pmuens opened #1774 "Refactor validate method of API Gateway"
Right now the validate.js file in the API Gateway plugin has repetitive validation logic.

This logic (e.g. the check if the `region` is set can be removed because it's already checked in the main `awsDeploy` plugin.

[2016-08-05 12:58] flomotlik commented on #1570
So basically its not possible two have 2 subcommands? This is something we should probably resolve at some point.

[2016-08-05 12:59] pmuens opened #1775 "Split info plugin into "info" and "awsInfo""
The `info` plugin now contains the whole logic to get information from the AWS provider.

We should split this plugin up into a general `info` plugin and a `awsInfo` plugin.
This way we can support multiple providers way easier later on.

[2016-08-05 12:59] pmuens commented on #1775
It's already been done! Awesome! 🎉

[2016-08-05 12:59] #1775 closed

[2016-08-05 13:04] pmuens commented on #1577
Yep. Good idea. Maybe we should also evaluate other providers before doing that...

[2016-08-05 13:06] flomotlik commented on #1651
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-05 13:06] #1651 closed

[2016-08-05 13:07] flomotlik commented on #1660
Closing as this seems to have been a docs issue. Thanks for reporting @anthonyshull

[2016-08-05 13:07] #1660 closed

[2016-08-05 13:08] #1414 closed

[2016-08-05 13:08] flomotlik commented on #1241
#1650

[2016-08-05 13:08] #1241 closed

[2016-08-05 13:12] flomotlik commented on #1767
@pmuens on master we've moved away from getting the account number ourselves and are instead using Cloudformation for that correcT? This might be the issue here.

[2016-08-05 13:13] flomotlik commented on #1716
Imho not necessary. 2 levels are imho more than enough currently. If we need more we'll wait for the feedback.

[2016-08-05 13:13] #1716 closed

[2016-08-05 13:15] flomotlik commented on #1688
@johncmckim could you post the template here? Generally you should not have to sync any Outputs at all. We're simply updating the Cloudformation template, so the `iamRoleArnLambda` and `serverlessDeploymentBucketName` will simply be used again on the next deployment. If that fails thats a bug

[2016-08-05 13:17] flomotlik commented on #1690
Imho we should document this here first and then have #1720 as a potential contribution from the community. Its not as important right now in my opinion to put resources into it, but would be really nice to have.

[2016-08-05 13:18] flomotlik commented on #1720
I like the `--log-level` idea. At the moment I don't think we should put too much time into it ourselves, but it would be great as a contribution from the community if somebody wants to pick it up.

[2016-08-05 13:25] flomotlik commented on #1754
I'll close this issue here for now as we're discussing the same in #1711 Please keep up with anything that happens there.

[2016-08-05 13:25] #1754 closed

[2016-08-05 13:25] trek10-healthsmart commented on #647
You should add IOT rules as an event for the lambda functions, similar to s3 notifications, sns notifications, or scheduled events.

[2016-08-05 13:46] #1621 closed

[2016-08-05 13:46] pmuens commented on #1767
Yes, we've removed the accountNumber functionality and now using Ref to get it.

@nergmada what version of Serverless do you use exactly?

/cc @eahefnawy

[2016-08-05 13:50] pmuens commented on #1621
Done with #1759

[2016-08-05 13:57] johncmckim commented on #1688
@flomotlik I just tested this again on the new beta and it works as I had hoped.

When I first tried this, (`1.0.0-alpha.1`), I wasn't able to deploy the project without `iamRoleArnLambda` and `serverlessDeploymentBucketName` set in `serverless.env.yml`.

I just re-tested it on (`1.0.0-beta.1`) and I was able deploy a  project on travis and subsequent deployments worked without `iamRoleArnLambda`

[2016-08-05 13:57] #1688 closed

[2016-08-05 14:36] pmuens commented on #1723
Good proposal!
Here are some thoughts:

I would like to stick to JavaScript for everything for now so that we can e.g. use Axios or node-fetch to query against the API Gateways.

How do we deal with shared code? E.g. if I have multiple tests for API Gateway I don't want to rewrite the same logic again and again.

Would be great to have a global "cleanup" functionality.

Furthermore we need to thin

[2016-08-05 15:19] nergmada commented on #1767
1.0.0-alpha.2 is my current version number according to ```sls --version```

I can look at maybe trying to pull the master code into mine?

[2016-08-05 15:25] benjaminabbitt opened #1776 "Allow success status codes other than 200."
##### Feature Request:

Allow success status codes other than 200.

##### Benefits:

* Allow more correct/descriptive status codes.
* e.g. My CQRS application takes commands and really should return 202s when it accepts commands.

##### Drawbacks:

* More code to maintain

##### Additional Details:

Make the response optional, defaulting a success to 200.

[2016-08-05 15:28] flomotlik commented on #1593
@fridaystreet just wanted to check in if you have time to open up that PR? Happy to take over from the code you guys already have and make sure its in

[2016-08-05 15:29] flomotlik commented on #1776
We're looking into more support for this in #1593 . Definitely want this to be possible.

[2016-08-05 15:31] benjaminabbitt opened #1777 "Move package to per-function"
##### Feature Request:

Move the 'package' definition in the YAML to be per-function.

With 'package' as a top level component in the YAML file, all dependencies for all functions are included in the built package.  For example, if I have two functions (A and B).  Function A depends on library C, then the deployed package for functions A and B both have all of the code for A, B, and C included.

W

[2016-08-05 15:32] flomotlik commented on #1767
@nergmada I think installing the beta should help since this was merged before we released the beta. Could you try with beta and if that still fails with master branch?

[2016-08-05 15:51] flomotlik commented on #1777
Yup agreed, there was a longer discussion in #1486 on this. I'm not sure how fast we'll get around to implementing this, but I think its a pretty good place for a contribution from someone. I've added the help-wanted label so people know to pick it up. Shouldn't be too hard I assume.

[2016-08-05 15:56] codepreneur commented on #1766
@pmuens I think it probably works from the master branch, but for some reason I cant test it, because every time I type:

[code]
or
[code]

it just hangs...forever...

![image](https://cloud.githubusercontent.com/assets/3421858/17442393/7a5f0ec0-5b2d-11e6-8821-86241f80ee3b.png)

`Node 6.3.0`

[2016-08-05 15:59] jatsrt opened #1778 "Support base path methods"
1.0.0-beta.1

This is in context of organizing a large project, and maybe it's more a clarification than anything else.

If I am developing a large serverless project to back a "complex" api.

So, I would have as part of the serverless project

Service: users
  Endpoint: / GET
Service: widgets
  Endpoint: / GET

Or I could have:

Service: myservice
  Endpoint: /users GET
  Endpoint: /widgets GET

[2016-08-05 16:07] flomotlik commented on #1752
@codepreneur ok great. We need to take real good care in the future here as this could easily introduce more problems if we change the algorithm behind logical ids. Closing this issue as it isn't really a problem in the code, but more an update issue we introduced.

[2016-08-05 16:07] #1752 closed

[2016-08-05 16:09] flomotlik commented on #1766
@codepreneur  `npm install -g serverless/serverless` should work (at least it does on my machine with Docker)

[2016-08-05 16:13] flomotlik commented on #1766
@codepreneur as this looks exactly like the issues we've had so far with this I'm going to close. In case this isn't resolved on updates please let me know and I'll reopen (have been cleaning up our issues today)

[2016-08-05 16:13] #1766 closed

[2016-08-05 16:15] flomotlik commented on #1778
@jatsrt this sounds like a duplicate of #1738 . Let me know in case it isn't, then I'll reopen.

In general we should be able to support all of the same setup that API Gateway supports, so if this should be supported in APIG it should be supported in Serverless.

[2016-08-05 16:15] #1778 closed

[2016-08-05 16:17] flomotlik commented on #1760
Would add it at a later stage. Imho at the moment not high priority and codebase is generally good enough that we won't get enough out of CodeClimate. I think its generally a great tool though. We can come back to it in the future when we put more time into static analysis of the codebase.

[2016-08-05 16:18] andyfenelon opened #1780 "upgrade to v.1 - "Missing Authentication Token""
when i change

[code]

i'm getting

[2016-08-05 16:23] flomotlik commented on #647
@trek10-healthsmart we know of a team who has been building an IOT integration for serverless and we're waiting for them to drop it basically. Fully agreed that we want IOT support in serverless

[2016-08-05 16:24] flomotlik commented on #1577
Imho that would be a lot of guesswork as we don't really know where providers are going and what is necessary. If we take the current lifecycle events and make them a bit more generic maybe we should be in a good place imho.

[2016-08-05 16:25] #1147 closed

[2016-08-05 16:26] codepreneur commented on #1766
@flomotlik `npm install -g serverless/serverless` still hangs... forever...

![image](https://cloud.githubusercontent.com/assets/3421858/17443278/a98a75a0-5b31-11e6-9f9a-93404f1ebc28.png)

:(

[2016-08-05 16:26] flomotlik commented on #1511
Closing this one then, so we can merge the PR and be done

[2016-08-05 16:26] #1511 closed

[2016-08-05 16:27] flomotlik commented on #1766
Hmmm weird, can you simply clone it locally through git and run the script in bin directly?

[2016-08-05 16:28] flomotlik commented on #1168
ok cool @HyperBrain . Added the help-wanted-easy label as I'm not sure if we'll get to it soon, but it should be generally easy to add for someone

[2016-08-05 16:30] andyfenelon commented on #1780
ok seem to have fixed it by renaming the service from the template default to something else.
`service: my-functionjs # NOTE: update this with your service name`

[2016-08-05 16:30] #1780 closed

[2016-08-05 16:47] jatsrt commented on #1778
Well darn. I searched but didn't see that. Thanks

[2016-08-05 17:13] jatsrt commented on #1738
What's the best way to get the generated template?

[code]

[2016-08-05 17:14] jatsrt commented on #1738
It never attempts an actual update in cloud formation, it isn't passing validation from the AWS-SDK

[2016-08-05 17:22] jatsrt commented on #1738
OK:

Bad:
[code]

Good:
[code]

[2016-08-05 17:23] jatsrt commented on #1738
These values are from the update method in the aws/deploy/lib/updateStack.js

[2016-08-05 17:36] jatsrt commented on #1738
[Here is the culprit I think](https://github.com/serverless/serverless/blob/990d7c5a089c2047cdd342fca88f6c006c53c4c3/lib/plugins/aws/deploy/compile/events/apiGateway/lib/resources.js#L50)

Attempting a fix

[2016-08-05 17:44] jatsrt commented on #1738
It seems to have "support" for a root element, but you cannot "not" have a path, it fails in an earlier check, so the path "/" is the only one that will be validated.  However, that with the split, will short circuit the check:

[code]

[code]

[2016-08-05 17:45] nathanlenz commented on #1738
I was at the same point you were and changed that line to:

[code]

That seemed to have fixed the Resources section. But I still have a problem down in the outputs section.

[code]

Notice the **/dev//** part.

[2016-08-05 17:56] jatsrt commented on #1738
So based on this from cloud formation:

It appears it may not be possible to attach to the root path with cloud formation

[2016-08-05 18:13] jatsrt commented on #1738
So, not giving up on this, since the resource that is needed is the root resource.

This bit of code is trying to make a new resource, but it already exists as:
RootResourceId

[2016-08-05 18:27] jatsrt commented on #1738
[This would have to be dynamic](https://github.com/serverless/serverless/blob/990d7c5a089c2047cdd342fca88f6c006c53c4c3/lib/plugins/aws/deploy/compile/events/apiGateway/lib/methods.js#L115)

For cases where path === '/'

You would have to instead use:
[code]

[2016-08-05 18:31] smkamranqadri commented on #1713
Thx

[2016-08-05 18:31] jatsrt commented on #1738
it's not pretty but it works

[code]

[2016-08-05 19:34] nathanlenz commented on #1738
I got it working also (sorta). Using your changes. Plus, I had to set the PathPart of the unused resource to something in order to get it to take. It creates the unneeded resource, but actually attaches the lambda function to the / GET.

![screenshot 2016-08-05 14 30 36](https://cloud.githubusercontent.com/assets/847457/17448372/867517fe-5b19-11e6-9812-e792a28cdddb.png)

[2016-08-05 19:40] jatsrt commented on #1738
Ahh, yeah, I added a short circuit to the resources file.

[code]

[2016-08-05 19:47] nathanlenz commented on #1738
Did you ever get it responding to the root of the API gateway domain, without the stage variable?

[2016-08-05 19:51] jatsrt commented on #1738
That's only possible though a custom domain mapping

[2016-08-05 20:01] nicka commented on #1707
@svdgraaf I like both, but adding `${env.FOO}` support would be a super niffyy feature for CI and managing secrets. Offcourse this is possible with `.yml` config files but adds the need to configure files within CI.

My vote would go to `.yml` config files and `${env.FOO}` support 😉

[2016-08-05 20:10] jordanmack commented on #1707
I second a number of the points made by @kennu, @rajington, @mthenw, and the others.

### Remain flexible and minimal. Offer a clear set of recommended conventions, but do not restrict.
Let there be the one and only predefined file that the framework requires, `serverless.yml`. (And technically you could allow `--config` to override this.) When you create from a default template it should still in

[2016-08-05 20:37] danielesegato commented on #187
@flomotlik I haven't tried V1 yet.
If the CLI API is the same then yes, it works.

I'll try tomorrow if I can and let you know

[2016-08-05 22:13] telson commented on #1746
This isn't a problem so much as a feature request @flomotlik .  Its clear that those implementing this functionality in `sls` intended it to be used to set new environment variables only.

I'm using `v0.5.6` but I'm sure this the case in all versions.

Perhaps this could be implemented by sub-categorising  the `environment` object in `s-function.json` like so:

[code]

[2016-08-05 22:26] telson commented on #1763
@flomotlik It certainly seems that the only way to do it and have the linker read the changes is to start a new process.

I'm fine with using a top level `lib/` for now

[2016-08-05 22:26] #1763 closed

[2016-08-06 00:26] fridaystreet commented on #1593
@flomotlik yep sorry been a busy week. Just on my way to office now I'll do it once I get there. I also have some templates for status codes. I might chuck that in too if everyone is happy with it.

[2016-08-06 05:10] fridaystreet commented on #1709
I think this is a related issue. when using -s instead of --stage everything apart from the actual function names seems to work. function names still default to dev

eg. sls deploy -s prod

Results in lambda function names with dev instead of prod. using --stage works correctly

[2016-08-06 07:10] fridaystreet opened #1784 "No permissions created for Authorizer functions that don't have http end points"
##### Serverless Framework Version:
1.0.0-beta1 (current master branch)

##### Operating System:
Locally: Linux mint 18

##### Expected Behavior:

Following permission resource is created for the lambda function used by the Authorizer even if it doesn't have an http events defined
[code]
##### Actual Behavior:
The permission resource is only created for functions that have http events attached.

#

[2016-08-06 08:21] codepreneur commented on #1766
@flomotlik this is the verbose output showing exactly where it hangs:

[code]

[2016-08-06 08:53] codepreneur commented on #1766
fixed the issue.

[2016-08-06 13:01] nergmada commented on #1767
@pmuens @flomotlik this has fixed our issue. Thank you very much for your help.

[2016-08-06 13:01] #1767 closed

[2016-08-06 17:39] danielesegato commented on #187
@flomotlik well apparently not, the script has to be rearranged because the CLI API is different

[code]

The script currently produce this:

[code]

So no, the current script doesn't work with v1

[2016-08-06 20:05] jeremybmerrill opened #1786 "VPC not created correctly in 1.0.0-beta"
##### Serverless Framework Version:

1.0.0-beta
##### Operating System:

Windows/Cygwin. (Sorry! My real computer died in a flood localized to my kitchen table and the replacement hasn't arrived yet. This hurts me more than it hurts you.)
##### Expected Behavior:

specifying `vpc` for either under a function or under `provider` should set the VPC correctly in the AWS Lambda console
##### Actual Be

[2016-08-06 21:45] jeremybmerrill commented on #1786
I should add that I fixed the issue (for myself) by adding the `AWSLambdaVPCAccessExecutionRole` "Managed Policy" to serverless's IAM role (i.e. "myproject-dev-IamRoleLambda-5ABCDEFGH") in the IAM console.

Presumably that's the fix: that the role created by serverless should give itself VPC permissions like those in the managed policy...

[2016-08-07 07:18] flomotlik commented on #1593
@fridaystreet thanks, looking into it

[2016-08-07 07:29] flomotlik commented on #1110
@jonknapp thanks for the details. I'll keep it in mind when I hear more 2FA support request.

[2016-08-07 07:37] flomotlik opened #1787 "Support for --profile argument when deploying to AWS"
##### Feature Request:

it should be possible to run `serverless deploy --profile production` to use the production AWS profile. At the moment this has to be set through environment variables
##### Benefits:
- being able to easily switch profiles to deploy with

[2016-08-07 09:58] aashish004 opened #1788 "serverless in singapore"
Lambda and api gateway are both available in ap-southeast-1 i.e singapore.

How can I create serverless project for singapore region?

[2016-08-07 14:29] pmuens commented on #1709
@fridaystreet thanks for reporting!

We've recently updated the code where the `functionName` is generated (as it was unreliable before). The current Serverless version from the master branch should resolve your problem. (here's the PR which fixed that: https://github.com/serverless/serverless/pull/1753).

Let me know if you still face the issue!

[2016-08-07 15:55] kevinaud commented on #1787
Just to clarify, could the argument after the --profile option be any named profile that is configured on the AWS cli?

[2016-08-07 17:06] flomotlik commented on #1787
@kevinaud exactly.

[2016-08-07 17:08] flomotlik commented on #1788
@aashish004 our V1 version of lambda does not have any restriction on regions any more, so you should be able to do that right away by setting the appropriate region parameter during deployment. You can check out our docs at v1.docs.serverless.com for more details

[2016-08-07 17:08] #1788 closed

[2016-08-07 17:09] kevinaud commented on #1787
okay, I'd like to work on this

[2016-08-07 17:11] flomotlik commented on #1787
Awesome, thanks. I set the labels for it. Its probably best to add it somewhere here: https://github.com/serverless/serverless/blob/990d7c5a089c2047cdd342fca88f6c006c53c4c3/lib/plugins/aws/index.js#L83

[2016-08-07 18:04] Spannella opened #1790 "Infinite Recursive folder creation in _meta/_tmp if you accidentally point handler for s-function.json to the root of the project"

[2016-08-07 22:46] prad9 commented on #643
Would be awesome if we can debug the application by running command like sls function debug

[2016-08-07 23:25] base2arthur commented on #1254
Probably a little late but do this when you have project related problems
sls project init

[2016-08-07 23:55] jordanmack commented on #187
I'm a little late to the party on this one, but I just saw the issue. I had a 95% completed version ready way back in April. I already ran into several of the problems @danielesegato mentioned, and rectified them in my version.

I had e-mailed Austen about it, but he never responded so it just kind of sat there, and I had to move on to other projects. It hasn't been worked on since then, so it is

[2016-08-08 00:18] jordanmack commented on #778
I was able to get Bash running under Windows 10. You can tell it's still beta, and it's a little quirky, but it works. I was able to use Bash on Windows 10 to create, deploy, and remove, using Serverless v0.5.6. Git Bash still fails with Serverless v0.5.6.

I also tested Serverless v1.0 Beta. This worked fine on Windows 10 command line, Bash on Windows 10, and Git Bash on Windows 10.

[code]

[2016-08-08 05:21] mt-sergio commented on #1455
What solution are you using to set different variables in different environments before we have the feature? I'm very interested even it's a dirty hack...

[2016-08-08 05:58] pmuens commented on #1480
Done with https://github.com/serverless/serverless/pull/1768

[2016-08-08 06:22] pmuens commented on #1774
Done with https://github.com/serverless/serverless/pull/1791

[2016-08-08 06:22] #1774 closed

[2016-08-08 07:11] pmuens commented on #1773
Done with https://github.com/serverless/serverless/pull/1792

[2016-08-08 07:11] #1773 closed

[2016-08-08 07:56] flomotlik commented on #187
@danielesegato @jordanmack yup the new version uses a completely new CLI (pretty much reimplemented everything including the commands)

@jordanmack sorry for the delayed response there, but thanks for putting the time into it.

[2016-08-08 08:16] flomotlik commented on #1738
@nathanlenz @jatsrt could you open a quick pull request to see your changes? This would make it easier to look into it and see what we can introduce or what other potential issues could lurk there.

Thanks for looking into this btw!

[2016-08-08 08:42] flomotlik commented on #1790
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-08-08 08:42] #1790 closed

[2016-08-08 11:09] pmuens commented on #1690
Done with https://github.com/serverless/serverless/pull/1729/

[2016-08-08 11:09] #1257 closed

[2016-08-08 12:25] pmuens commented on #1732
Not an issue anymore as the `README` files are sufficient for now and documentation updates are already in the making...

[2016-08-08 12:25] #1732 closed

[2016-08-08 12:27] pmuens commented on #1607
Will be done with #1770

[2016-08-08 12:27] #1607 closed

[2016-08-08 12:27] pmuens commented on #1722
@flomotlik any updates on this one? Do you need help there?

[2016-08-08 12:55] pmuens commented on #1577
This are the lifecycle events we currently have:

[code]

IMHO we can keep most of them. Anyway here are my proposals for name changes:

[code]

/cc @flomotlik @eahefnawy

[2016-08-08 19:48] codepreneur opened #1795 "[Critical Bug] Timeout settings do not update on aws console after first deploy"
##### Serverless Framework Version:

[code]

Well to be more accurate I am on `master` and this commit: `d1942f4937a85823f6f7deb9094bd32a4acdea`

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

Lambda function timeout settings update on aws console

##### Actual Behavior:

![image](ht

[2016-08-08 19:55] pmuens commented on #1795
@codepreneur thanks for reporting this one!

We've recently changed from `memory` to `memorySize` (as CloudFormation also calls it `MemorySize`). Unfortunately our documentation needs some ❤️  (it will get it the upcoming weeks).

Sorry for the inconveniences 🙈

Could you check if this does the trick? Thanks in advance. And thanks again for reporting...

[2016-08-08 20:53] codepreneur commented on #1795
@pmuens its not the `memory` thats the problem, its the `timeout` :) is it `timeoutSize` then ?

[2016-08-08 20:55] codepreneur opened #1796 "serverless deprecation warning"
I get the below every time I run `env SLS_DEBUG=true sls invoke -f loadvideos -l`

[code]

[2016-08-08 21:02] nicka commented on #1597
IMHO the CloudFront cach option for APIG sucks. It's either cache everything or nothing.

We always create the CloudFront Distribution and APIG deployment ourselves with CloudFormation in order to have more cache control. We also added the `ApiGatewayApi` Output, this way sls is able to deploy all the endpoint paths later on.

[2016-08-08 21:09] johncmckim commented on #1777
@flomotlik I would be happy to help with this. It looks similar to the last one I looked at.

Just so I understand it. There would be a top level default package configuration plus a per function configuration. Would it also make sense to move the top level package config to the `default` property if this goes ahead?

[2016-08-08 21:41] benjaminabbitt commented on #1777
Conceptually, I would like a package to be optionally defined on a per-function basis.  I was unaware of a "default" key in the YAML, but it conceptually makes sense to put it there if we are defining a default key.

[2016-08-09 01:58] benjaminabbitt commented on #1777
Not to add too much effort, but it may be valuable to take a look at the event.json as well.  If it is (as I understand it) intended to provided sample data, then it needs to be per-function, unless it's intended to be an object keyed on function names or something.  I haven't seen any documentation any way.

[2016-08-09 05:56] flomotlik commented on #1777
@benjaminabbitt you can use the `--path` option to point to an event.json file. Our docs aren't that good here: https://github.com/serverless/serverless/tree/master/lib/plugins/invoke

@johncmckim Yes it should be a package config parameter at the top and then package in each function. We want to remove the default property at some point, so we'd rather have package directly at the top. Let me kno

[2016-08-09 05:57] mbokman commented on #1795
Hi @codepreneur I had the same issue.

I resolved it by setting these below ```provider:``` instead of ```defaults:``` like this:

[code]

[2016-08-09 05:57] paulmerlin opened #1798 "Serverless seems to ignore certain options"
Dearest reader!  This may be a case of PEBKAC, but i'm having trouble setting some really simple stuff using serverless.

Here's the `serverless.yml` file i'm using:

[code]

`serverless.env.yml` contains:

[code]

The `iamRoleArnLambdaEmail` is a role i created on AWS with the `AmazonSES_FullAccess` permission so that my lambda function can send email, but that is not being picked up either.

###

[2016-08-09 06:32] danhumphrey commented on #1455
+1

[2016-08-09 06:47] mt-sergio commented on #1455
My solution: I put inside all the v1 code inside a sls-v0.4 project with everything I need (Env, alias, versions...). The changes are minimum and will be very easy to migrate once v1 is more mature.

[2016-08-09 07:47] pmuens commented on #1795
@codepreneur Sorry for that.

Shees. Sorry for that 😆  it was late last night 🌃

@mbokman is correct. It was moved from `defaults` to `provider` recently as those settings are now provider specific.

[2016-08-09 08:43] johncmckim commented on #1777
@flomotlik thanks. I think I've got a good idea of the issue. I'll make a start and if I get stuck I'll send a WIP PR for a review.

[2016-08-09 08:48] ac360 opened #1801 "Feature Request: Serverless Variables"
#### Feature Request: Serverless Variables

We need a single, simple, consistent way to specify variables + interpolation syntax in our `serverless.yml/.json` files.  If we get this right, these variables should accomplish these goals:

* Allow referencing of options (stage, region, etc.)
* Allow referencing of data in serverless.yml
* Allow referencing of ENV variables
* Allow referencing of othe

[2016-08-09 09:04] codingmaven opened #1802 "I need help with running and testing existing serverless project"
##### Serverless Framework Version:  0.56

##### Operating System:  ubuntu

Hi,

I am currently working on existing code generated with serverless framework.
Can you help me how I can run function locally and test?
Is there any way to run the function locally?

serverless function run create-dash-participants

I tried this to run function locally but I got error

Serverless Error: Missing stage

[2016-08-09 09:19] flomotlik commented on #1802
@codingmaven you probably have to deploy to this specific stage first, but as we've moved all of our development to V1.0 we can't give any further support for 0.5 issues here in Github. You can check out our Gitter chat at chat.serverless.com.

[2016-08-09 09:19] #1802 closed

[2016-08-09 09:43] eahefnawy commented on #1801
Beautiful! 👏 That pretty much summarizes the best ideas in #1707 & #1711. Regions/Stages are no longer a core concept in Serverless, but rather an optional flexible approach with the help of `Serverless Variables`.

This offers complete flexibility for all users with all styles of config, whether they want to use env vars, config files, or single `serverless.yml` file for configuration.

[2016-08-09 09:46] eahefnawy commented on #1707
@ac360 proposal in #1801 is pretty much a combination of the best ideas here. Highly recommended to check it out! It's simply about **Serverless Variables**, which is the core of this entire discussion.

[2016-08-09 09:51] svdgraaf commented on #1707
I think #1801 is indeed the best proposal so far, I like it, let's go for it! 😄 👍

[2016-08-09 10:20] flomotlik commented on #1801
@ac360 I like this syntax a lot. Looks very clean.

[2016-08-09 10:26] nicka commented on #1801
@ac360 This is freaking perfect, let's get it!

Only thing I still would like to see implemented is getting access to stack outputs. We could create a plugin which outputs CloudFormation Outputs to a file`(yml|json)` and reference those variables with the proposed solutions. And off course access to variables within functions.

[2016-08-09 10:29] flomotlik commented on #1801
@nicka what use cases would you have for adding outputs back into the serverless.yml? As we're basically translating things to Cloudformation you should also be able to use something like Ref directly and can point to specific other resources.

And yes variable access in the function itself (basically how do I get keys or other config into a running Lambda function) is another important feature we

[2016-08-09 10:36] pmuens commented on #1801
Great proposal!
One thing I'm curious about is how we can use this inside actual function code as this is something most applications rely on (see https://github.com/serverless/serverless/issues/1455) when e.g. using external APIs

I'd also like to /cc @mthenw to take a look at the proposal!

[2016-08-09 10:45] nicka commented on #1801
@flomotlik the problem is that AWS Lambda has no support for ENV variables. And since the functions are archived before the deploy we can't just inject them with variables during the CloudFormation deploy. The only way to get them into the function archive is by storing CloudFormation Outputs into a file which you would then reference for example in the `serverless.yml`. And as mentioned before, w

[2016-08-09 10:47] flomotlik commented on #1801
@pmuens imho its separate from this. Especially providing keys or other data (e.g. Kinesis stream ARN) to a lambda function is a critical feature (as @nicka also just pointed out).

But yeah imho its separate from this here and basically we need a way to let people inject custom data (e.g. security keys, ...) into lambda functions and give them access to data from CF (e.g. Kinesis stream access, o

[2016-08-09 10:49] nicka commented on #1801
Maybe we should start a separate discussion about injecting variables into functions? Because the solutions proposed by @ac360 are awesome!

[2016-08-09 11:04] olegZastavnyi commented on #1690
Where is this document located ?

[2016-08-09 11:23] nicka commented on #1597
Another reason why I think the default CloudFront Distribution isn't very usable(yet). Is because of  the custom domain support. To my knowledge you can't configure custom SSL certificates through the CLI/API, only via the AWS console. All these issues can be fixed with a custom CloudFront Distribution resource with CloudFormation.

[2016-08-09 11:42] pmuens commented on #1690
@olegZastavnyi you can find it here: https://github.com/serverless/serverless/tree/master/docs#running-in-debug-mode

[2016-08-09 12:06] codepreneur opened #1803 "[Critical Bug] Tables cannot be updated (e.g. adding a RANGE key) after creation"
##### Serverless Framework Version:

[code]

Well to be more accurate I am on `master` and this commit: `d1942f4937a85823f6f7deb9094bd32a4acdea`

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

Table to update in aws console

##### Actual Behavior:

I deployed first like so:

[code]
t

[2016-08-09 13:00] flomotlik commented on #1795
@pmuens @codepreneur we had a few issues recently where we updated things and didn't make it clear that they were moved or wrote deprecation messages into it. This will change going forward. So if a config element is expected at one place and we're moving it we'll load it from both places at first but print a future deprecation message

[2016-08-09 13:13] flomotlik commented on #1803
Can you check the CF template if `TableName: ${service}-videos-${stage}` gets properly set up? At the moment ${stage}, ... are not available as a variable. We're currently working on this in #1801

[2016-08-09 13:14] flomotlik commented on #1801
@nicka its basically #1455

[2016-08-09 13:31] flomotlik commented on #1597
@nicka you mean the plugin would set up Cloudfront and APIG deployment by hand instead of going through the APIG Caching? Imho that sounds like a really interesting plugin. The only thing is I wouldn't put it right into core, but into our new Community Plugin Repo. Basically what we want to capture there are community contributed plugins that are interesting, where we help out and guarantee some l

[2016-08-09 13:32] nicka commented on #1455
## Use case
Usage of CloudFormation stack output variables

### Prerequisite
We have access to variables within a Lambda function

### Example
Custom S3 bucket resource through CloudFormation and reference the generated bucket name within your Lambda function.

**With v0.5**
It was easier since the framework first deploys the resources, any stack output ends-up in a `_meta/variables/s-variables-ST

[2016-08-09 13:32] benjaminabbitt commented on #1777
@flomotlik  thank you, missed that the event.json could be specified.

[2016-08-09 13:36] codepreneur commented on #1803
I have declared those variables in `serverless.env.yml` like so:

[code]

and it does get set up correctly on aws console, the first time I deploy.

[2016-08-09 13:44] pmuens commented on #1803
Not a DynamoDB expert but don't you need a

`GlobalSecondaryIndexes` array with the config for the secondary indexes in your table definition?

[2016-08-09 13:46] codepreneur commented on #1803
@pmuens you dont have to define them at table creation. In fact its one of the new perks of dynamoDB where you can define Global Secondary Indexes after creation http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/GSI.OnlineOps.html

![image](https://cloud.githubusercontent.com/assets/3421858/17518503/1072f254-5e40-11e6-81a5-09ddbbcbc344.png)

[2016-08-09 14:33] pmuens opened #1804 "Refactor SNS YAML variables names to be camelCase"
Right now we have a mixture of `foo_bar` and `fooBar` variable code conventions for our SNS event definition.

We should refactor this so that we only use one convention (in our case `camelCase` as we've agreed on that).

[2016-08-09 14:35] flomotlik commented on #1777
@johncmckim great, I set the issue to in-progress. Thanks for that.

[2016-08-09 14:35] codepreneur commented on #1803
I found out why its failing.

Its because I am adding this:

[code]

and this

[code]

if I don't add those and change something else, say `ProvisionedThroughput` everything works as expected.

[2016-08-09 14:39] flomotlik commented on #1486
Closing this issue as #1777 is targeting the per function packaging and @johncmckim is going to work on it.

[2016-08-09 15:06] codepreneur opened #1805 "sls deploy ignores changes to the scheduled events"
##### Serverless Framework Version:

[code]

Well to be more accurate I am on `master` and this commit: `d1942f4937a85823f6f7deb9094bd32a4acdea`

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

To change scheduled events from disabled to enabled and vice versa

##### Actual Behavior:

[2016-08-09 15:15] olegZastavnyi commented on #1690
@pmuens Thanks

[2016-08-09 15:21] mthenw commented on #1801
I like the syntax. It's much cleaner than JSON REF et al.

Though, I think it should be simpler. There should be no distinction between source of variable (`opt`, `env`, `self`). It's a _great limitation_. I should be able to load value of variable from different sources. On my local environment I should be able to load some vars from ignored file. In CI environment I should be able to load the sa

[2016-08-09 16:00] ac360 commented on #1801
@mthenw Super interesting.  I cannot yet tell if that will result in unintended complications, but I like it.  A few thoughts:

* A clear override order must be established (e.g., *CLI Option > ENV > serverless.yml*).

* How can we reference other files with this syntax?  Perhaps keep the `${file().props.prop}`

* This seems like a way we can also include CF Outputs.  In my example above, `self` r

[2016-08-09 16:00] flomotlik commented on #1723
2 additions:

1. we should have area specific folders on the highest level, so e.g. `api-gateway` and then in there we can have other subfolders for specific tests, e.g. `cors`so we have a folder structure that is easy extensible and its clear where stuff should be put.

2. I don't think we should use Javascript for programmatic stuff necessarily. Imho best thing to do would simply to have a Makef

[2016-08-09 16:37] pmuens commented on #1803
@codepreneur thanks for the follow-up!

I've checked my recent Serverless projects and this is a table definition which works for me:

[code]

[2016-08-09 16:47] pmuens commented on #1805
Hey @codepreneur thanks for reporting (you're really rocking here as you're testing everything intensively 🎸 )

Here's the code which checks if the event is `enabled` / `disabled`:
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/compile/events/schedule/index.js#L44

@eahefnawy do you know what's going on here? Is there maybe a problem with the parsing of boolean variabl

[2016-08-09 16:51] flomotlik commented on #1801
@ac360 @mthenw we could also enable both, e.g. if you just do a variable name it takes the one with precedence according to the defined order. If you do ${env.whatever} it definitely goes to the environment variables so you're able to set it specifically. Not sure if that feature is needed, maybe we can ignore it but this would be a way of hardcoding it for users to go around the overrides

[2016-08-09 16:57] mthenw commented on #1801
Absolutely. This has to be clear

Assuming that I can do `serverless deploy --var-file var.json` not sure if this `${file}` is needed.

That's the tricky one. Not sure here but I think it should have own namespace `${cfOutput.foo}` or `${provider.resources}` ?

[2016-08-09 17:55] ryan-wong opened #1806 "Caching based on requested path in amazon apigatework giving me " Invalid parameter name specified""
Serverless Framework Version: 0.5.6

Operating System: MAC and amazon

Expected Behavior: sls dash deploy my endpoint and lambda and I check off request path caching, I should not get Invalid parameter name specified

##### Actual Behavior: I get Invalid parameter name specified

Stack-Trace (Optional): No

 Additional Details:

I've deployed a project from scratch twice now and I have this issue.

[2016-08-09 19:51] jordanmack commented on #1801
Great work with the new syntax. Very clean and straightforward.

I'd like to also see a convenience function for shell execution:

`${exec("date --iso-8601")}`

`${exec("node ./config_generator.js --some-option").data.subProp}`

[2016-08-09 20:36] ac360 commented on #1801
@mthenw:

It's still early and I'm not sure how people are going to structure their projects/services (e.g., multiple services in a single parent folder), and therefore how they are going to organize config (e.g., one file or multiple files, in one or more locations).  So, I favor `${file("./file.json").prop}` because of its flexibility.

What I liked about your "var" proposal, @mthenw, was its si

[2016-08-10 00:38] samdj commented on #1736
http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html

Currently profiles are not used when configured in the `serverless.env.yml`
[code]
It is injected currently as such `new AWS[service]({ region: "ap-southeast-2", profile: "test" )`.

Seems like you need to actually do it this way:
[code]

[2016-08-10 01:01] jordanmack commented on #1801
I do not anticipate using this syntax. I prefer `${file()}` for my use cases. However, I support the inclusion of this functionality because it does have clear advantages for some setups. It's addition to the platform is beneficial, and will be used.

I would recommend there be no hard nesting limit, but set a soft recursion limit for resolution.

If I absolutely had to chose one or the other, I w

[2016-08-10 01:42] jordanmack commented on #1801
Another suggestion for shell execution:

Execute a shell command with data piped to STDIN
[code]

Other functionality that I don't  think is needed now, but could be beneficial someday:
- If conditions: ${if("evaluated condition", "condition was true", "condition was false")}
- Check if set: ${ifset(${env.var})}
- JS Evaluation: `${eval("if(${env.var}) return 'foo'; else return 'bar';")}`

[2016-08-10 03:51] danhumphrey opened #1807 "Feature Request: Per Function Custom IAM roles"
##### Feature Request: Per Function Custom IAM Roles

At present, custom roles can only be defined at the service level (#1749), which I don't believe is granular enough. Individual functions should allow for individual roles.
##### Benefits:
- Improved security
##### Drawbacks:
- Complexity, however, users could ignore this and choose the per service approach

[2016-08-10 04:43] pmuens commented on #1806
Hey @ryan-wong thanks for reporting this!

Unfortunately we're not support Serverless v0.5 anymore. We've just release the beta of Serverless v1 you can find on the `master` branch.

You can install it with `npm install -g serverless@beta`.

Transition to use Serverless v1 should be straight forward (you can get more information on how Serverless works in the [docs](http://github.com/serverless/se

[2016-08-10 04:58] pmuens commented on #1455
@nicka thanks for your proposal!

I don't 💯 % get the need for an APIG.

Our current deployment strategy regarding functions exists of two parts. After the initial stack setup (if the stack is not yet present) we zip the function code and upload it to S3. Next up we update the stack with the compiled CloudFormation function definitions.

Couldn't we add the env variable we want to access (e.g. ext

[2016-08-10 05:10] pmuens commented on #1736
Hey @samdj thanks for chiming in!

Yes, we're currently rethinking the whole environment variable handling in this issue:
https://github.com/serverless/serverless/issues/1801
Happy to have your feedback on this one!

Furthermore there's a feature in the making which makes it easier to switch between profiles:
https://github.com/serverless/serverless/issues/1787
(Also happy to have your feedback he

[2016-08-10 05:16] pmuens commented on #1807
Hey @danhumphrey thanks for this one! Good idea.

I would propose to implement the same fallback we're about to implement with the `package` per function functionality (see here: https://github.com/serverless/serverless/issues/1777). So you can basically implement it on a per-service level or per-function level.

What do you think about this @flomotlik @eahefnawy

[2016-08-10 05:53] danhumphrey commented on #1807
Hi @pmuens thanks for the quick response.

I think the fallback option is perfect - function role is used if defined, otherwise, service role is applied. :)

Looping in @ac360 who responded to my question about this on Gitter.

[2016-08-10 05:58] Christoph-Schabert commented on #1807
Hello @danhumphrey
We are using this Approach in sls 0.5.

We generate for each function a own policy with [Troposphere](https://github.com/cloudtools/troposphere)

The problem currently is that we have to generate the resource template before we can deploy the serverless resources.
It would be awesome if serverless would support this out of the box.

[2016-08-10 06:13] johncmckim commented on #1496
@pmuens @flomotlik  adding this is going to make testing #1777 easier as I will be able to test packaging without the deployment. Perhaps I could add support for this first?

[2016-08-10 06:17] eahefnawy commented on #1677
@svdgraaf What a fantastic analysis! 👏

[2016-08-10 06:44] pmuens commented on #1496
Great that you would like to take this one @johncmckim!

What are your thoughts / plans on how to implement it? Should we add another command to the `deploy` plugin or use an option for `deploy` (like mentioned in the issue description).

IMHO it should be a separate command / plugin so that we don't spread multiple `if`s which will check for the `dryrun` option across files.

So it could be `serv

[2016-08-10 06:59] johncmckim commented on #1496
@pmuens since this is a small change I actually started it before you replied so I could see how the deployment process works.

I implemented it as described via a flag. To do this did involve spreading multiple `if`s around. The end result is also more of a package or build process rather than a `dryRun` deploy.

I think it makes more sense as a separate command i.e. `serverless package`.

I'll s

[2016-08-10 07:15] pmuens commented on #1804
Done with https://github.com/serverless/serverless/pull/1809

[2016-08-10 07:15] #1804 closed

[2016-08-10 07:18] pmuens commented on #1496
Hey @johncmckim thank you for your reply and the work on the PR! 🎉

Will look into it ASAP!

[2016-08-10 07:38] zachheine opened #1810 "Endpoint not created"
Deploying:
[code]
does not result in the creation of an endpoint.

However, when I use:
[code]
an endpoint is created.

[2016-08-10 07:42] pmuens commented on #1810
Hey @zachheine
Thanks for reporting!

It's a problem with indentation. You need to add 2 more spaces after the `-http` like this:

[code]

That should do the trick! Let me know if it solves the problem or you're facing other issues!

[2016-08-10 07:45] zachheine commented on #1810
Thanks!  Sorry for the trouble...

[2016-08-10 07:45] #1810 closed

[2016-08-10 07:58] pmuens commented on #1810
No problem! YAML is sometimes a little bit tricky (stumbled upon the exact same problem the other day).

Feel free to open other issues if you face problems. Happy to help.

[2016-08-10 08:09] pmuens commented on #1721
Just looked into it today.

The problem with this one is that we rely / have to wait for the `Service` class to parse the YAML so that we can display what plugins are used and the corresponding help on how to display help for the plugins. If there's an error in this parsing we won't see / reach the help as the error is thrown previously.

Furthermore we want to track whether people heave entered t

[2016-08-10 08:11] pmuens commented on #1457
@nicka @svdgraaf thanks for the valuable feedback so far!

However we're not there yet as we need to understand what the exact use case for versioning is.

Maybe the @serverless/vip team can chime in here and outline the use cases / whether this feature is necessary at all.

[2016-08-10 08:26] cagataygurturk commented on #1457
Are you sure about this? AFAIK for each deployment a new Lambda version is published.

[2016-08-10 08:27] HyperBrain commented on #1457
For us versioning is primarily useful to be able to trace back a deployed version from build up to the AWS lambda console, with each step in-between clearly understandable.
## Versioning
So the major requirement regarding versioning at top level is, that every artifact emitted from any step in the build chain has a version attached. Any CI build system should apply a defined version (including a c

[2016-08-10 08:29] jordanmack commented on #1457
The early versions of Serverless created a new archive for each deploy, and this was stored on S3. There was also a [plugin](https://github.com/Nopik/serverless-lambda-prune-plugin) which was created to prune old versions. Does anyone remember why this functionality was removed?

[2016-08-10 08:31] eahefnawy commented on #1805
@codepreneur I just tried to reproduce and found that schedule deployment is working fine. However this seems to be an issue with AWS UI. The "Triggers" page of the lambda doesn't seem to reflect the real state. However if you go to the actual CloudWatch Rule page, you'll see that the state is reflected properly (deployment succeeded).

Could you confirm by visiting the CloudWatch Rule page and ch

[2016-08-10 08:33] nicka commented on #1457
What I would like to achieve is only upload/deploy/update the Lambda archive if the code was actually updated, variables where added/changed or dependent CF resources where updated.

Based on this info we format a hash/version which stays the same between deployments. This way CF would leave the resources as is and only updated them is the hash was changed.

[2016-08-10 08:34] HyperBrain commented on #1457
For the S3 storage I think it was initially meant to store the environment settings file of the lambdas, until the variable system and the JSON file population with the variables had been implemented. SLS helpers was the code to read the file from within the lambda runtime, that was copied from S3 on deploy.

[2016-08-10 08:35] eahefnawy commented on #1721
Hmmm agreed. This change will be directly affected by #1801 ... any effort we put here might be obsolete after #1801 . I'd say we put it on hold for now since it's not super critical.

[2016-08-10 08:36] zachheine opened #1811 "Unable to set request and response templates for AWS API Gateway"
Going off of the old `s-function.json`:

[code]
doesn't seem to work.  Trying to set up a Twilio endpoint.

[2016-08-10 08:37] eahefnawy commented on #1721
also what you mentioned makes sense, if we want to display help for custom plugins that are defined in `serverless.yml`, we obviously need to parse `serverelss.yml` first, so if there's a parsing issue, there's not much we can do here. I think the best we could do is just to limit the errors as much as possible and display the help as soon as possible while bypassing any irrelevant validations

[2016-08-10 08:44] nicka commented on #1597
Exactly!

### Rough draft

[code]

Understood

I need some guidance into the community plugin repo. An example plugin would be useful ;)

[2016-08-10 09:02] nicka commented on #1455
This work because of the initial deploy, for updates it's a lot harder if not impossible.

**Imagine the following:** Stack is present resources are present and Lambda's are deployed. You would then rename/replace an existing S3 bucket CF resource.

**The following will happen:** CloudFormation creates the new S3 bucket and removes the old one. The S3 bucket Output would be updated by the end of t

[2016-08-10 09:24] oliversommer commented on #1608
feedback from a potential user: IMO the approach mentioned by @flomotlik makes sense. For me these aspects are relevant: 1) use ARN of existing stream to map existing kinesis stream or 2) define stream in resources which then also creates the kinesis stream. I would love to have this.
Just to be sure: there no possibility yet to define a kinesis/lambda event mapping when both are defined and creat

[2016-08-10 09:48] flomotlik commented on #1608
@oliversommer definitely possible. You can simply use Ref or GetAtt in the ARN section.

[2016-08-10 09:54] flomotlik commented on #1597
@nicka Created it a few days ago here: https://github.com/serverless/community-plugins

I still need to write the README so its clear how this whole thing will work. I'll ping you here once I'm done with the description in the next days.

[2016-08-10 10:00] flomotlik commented on #1811
We're discussing this issue in #1593 at the moment. We got a few proposals in, but nothing merged yet. I'll close this issue as it is a duplicate to the other one. Would be great to get your feedback there.

[2016-08-10 10:00] #1811 closed

[2016-08-10 10:02] olegZastavnyi commented on #842
I am using serverless 1 beta. How can I manage this AWSLambdaVPCAccessExecutionRole  over yaml file ?

[2016-08-10 10:12] olegZastavnyi commented on #1786
When this issue will be fixed? We really need to have it working.

[2016-08-10 10:43] codepreneur commented on #1805
@eahefnawy CloudWatch Rule page is irrelevant, because when I deploy that function (with enabled: true) it does not run every minute, like its supposed to. I can try with a new (fresh) function and see what happens.

[2016-08-10 11:17] flomotlik commented on #1457
@jordanmack thats still how we do deployment through CF. We package, push to S3 and then set it up in cloud formation. We also remove everything but the last 5 deployments. The only difference to the old system was that we're creating one large file for the whole service now, but there are people already working on a PR that allows to create separate archives per function.

[2016-08-10 11:32] pmuens commented on #842
Hey @olegZastavnyi you can add custom IAM role statements. Here's the documentation on how to do this:

https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-iam-role-statements

[2016-08-10 11:36] pmuens commented on #1786
Hey @jeremybmerrill thanks for reporting and providing a solution.

We've recently implemented a way to add roles. You can see the docs here: https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-iam-role-statements

This is not yet released in the beta release so you might want to checkout the current master branch.

@jeremybmerrill @olegZastav

[2016-08-10 11:42] flomotlik commented on #1457
Regarding Version support in Lambda my current thoughts are that we should support setting aliases for functions, so its easy to update where sources point to, but not to support Versions inside Lambda.

# Versions

The main reason I see for using Versions in Lambda is Rollback. From my experience at Codeship though I haven't seen Rollback in CI/CD to be a necessary feature. Push forward is imho t

[2016-08-10 12:01] pmuens commented on #1496
@johncmckim thanks again. Just added my thoughts in the PR.

The gist of this is that we should reconsider the implementation to be a plugin we can use to produce the deployment artifacts without deploying it.

[2016-08-10 12:05] olegZastavnyi commented on #1786
@pmuens  thanks

[2016-08-10 12:36] flomotlik commented on #1786
@pmuens @jeremybmerrill the problem here is that The Lambda execution role needs access to a few additional EC2 actions:

`ec2:CreateNetworkInterface, ec2:DescribeNetworkInterfaces, and ec2:DeleteNetworkInterface`

according to : http://docs.aws.amazon.com/lambda/latest/dg/vpc.html

Basically I see 2 different ways to resolve this going forward:

1. Add documentation that outlines how to add those

[2016-08-10 12:37] #1806 closed

[2016-08-10 13:28] flomotlik commented on #1807
Yup I like this feature. I've also added the help-wanted label. I'm not sure how fast we're going to get around to implementing this, but we'd love to have it in if somebody is able to provide a PR for it

[2016-08-10 13:32] ajagnanan commented on #1455
@pmuens I was throttled by AWS for too many request to read the outputs of cloud formation in the past, and that was just with a few lambda's running at the same time. I don't think using the outputs is a good idea.

[2016-08-10 13:47] pmuens commented on #1723
@eahefnawy @flomotlik added a first implementation in this PR: https://github.com/serverless/integration-test-suite/pull/1

[2016-08-10 13:48] cagataygurturk commented on #1457
Versioning support in CF is a shame. Very bad implemented. Same in API Gateway deployments.

You can't remove a version once you publish them, there is no such a API call but if you remove a AWS::Lambda::Version resource from a CF template the version disappears. Totally unbelievable.

On the other hand you can embed a custom resource backed with Lambda into CF template that creates a new version

[2016-08-10 13:49] #1795 closed

[2016-08-10 13:53] flomotlik commented on #1577
looks good @pmuens . If you could create a PR that can go out

[2016-08-10 14:02] maorinka opened #1815 "spawn npm ENEONT when deploying a function. v: 0.5.6"
I'm getting this error when deploying a function: spawn npm ENEONT
When deploying an endoint everything goes fine, it happens only with functions

As I understand the error, it means it can't find the process it tries to run. But doen't tell which..

##### Serverless Framework Version: 0.5.6

##### Operating System: windows 8

![image](https://cloud.githubusercontent.com/assets/6322954/17556305/95

[2016-08-10 14:07] olegZastavnyi opened #1816 "After integrating Api getaway and lambda on Amazon console I see error lile "Could not list api-gateway event sources.""
##### Serverless Framework Version:

beta 1.0
##### Operating System:

windows
##### Additional Details:

After integrating Api getaway and lambda on Amazon console(Lambda tab) I see error lile "Could not list api-gateway event sources."

My yaml file:
Functions:
  lambdaFunction:
    handler: com.myHandler.DataExtractorLambda
    events:
      - schedule: cron(0/1 \* \* \* ? *)
      - http:

[2016-08-10 14:22] HyperBrain commented on #1457
@flomotlik Parameter "Version":
Using the API: https://docs.aws.amazon.com/lambda/latest/dg/API_UpdateFunctionCode.html
Seems the declaration is yet missing in the CF Lambda template types.

You can set the version to an arbitrary sequence of digits up to 1024 in length (exception $LATEST) will only upload to '$LATEST'

[2016-08-10 14:25] nicka commented on #1455
@ajagnanan definitely not every time your Lambda function runs.

[2016-08-10 14:49] flomotlik commented on #1457
@HyperBrain I'm not sure thats possible there, I can only see version as a response parameter, not as a request parameter

[2016-08-10 15:01] olegZastavnyi commented on #1786
@pmuens Could you please provide doc. how to configure  IAM role for lambda?

[2016-08-10 15:44] jeremybmerrill commented on #1786
Seems like the easier out-of-the-box, the better. My vote -- which ought to count for nothing, I know :D -- would for option 2.

[2016-08-10 15:56] pmuens commented on #1816
@olegZastavnyi thanks for reporting!

Could you provide the indentation of your `serverless.yml` file as wrong indentation might lead to the fact that events are not parsed how they should be?

[2016-08-10 15:59] pmuens commented on #1815
Hey @maorinka thanks for reporting.
Unfortunately we're not supporting v0.5 anymore and have switched the master branch to v1.

The transition to v1 should be straight forward (take a look at the [docs](https://github.com/serverless/serverless/tree/master/docs) to read how the new Serverless works).

Let me know if you need any help there.

[2016-08-10 20:45] davidjnelson commented on #1738
Specify API Mappings for a Custom Domain Name

http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html#how-to-custom-domains-mapping-console

Curious if this can go two levels deep on paths, ie: /dev/hello

If so, it could solve the entire problem.  If it can only go one level deep, then the fix involves the WIP @nathanlenz commit plus a custom domain name base path

[2016-08-10 20:47] davidjnelson commented on #1738
Related question: are Custom Domain Mappings outside the scope of serverless and something that just has to be set up manually in the aws console?  Thanks!

[2016-08-10 21:54] codepreneur commented on #1803
@pmuens I don't think your syntax is correct. Here is what amazon provides

[code]

source: [amazon tutorial](http://docs.aws.amazon.com/amazondynamodb/latest/gettingstartedguide/GettingStarted.JsShell.06.html#GettingStarted.JsShell.06.CreateIndex)

[2016-08-10 22:06] ac360 commented on #1738
Hi @davidjnelson, it's good to see you around the repo!

V.1 is a CloudFormation abstraction and what I've heard is that CloudFormation does not support API Gateway custom domains at this time.

[2016-08-10 22:38] DavidWells opened #1818 "Show all errors from cloudformation in CLI on stack update failure"
##### Serverless Framework Version:
1.0.0-beta.1.1

##### Operating System:
OSX Yosemite 10.10.5 (14F27)

##### Expected Behavior:

Show all errors that occurred to cause cloudformation to fail in CLI, not just the last one.

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/532272/17573503/9c062528-5f0f-11e6-8eb9-173e52852989.png)

This error is in the logs but the root

[2016-08-10 22:49] DavidWells commented on #1818
Here is another example:

![image](https://cloud.githubusercontent.com/assets/532272/17573812/be28e8f0-5f11-11e6-9049-d6bbf3024c29.png)

![image](https://cloud.githubusercontent.com/assets/532272/17573840/f0a37408-5f11-11e6-8401-a4aa9cd27f0b.png)

[2016-08-10 23:01] ac360 commented on #1818
I ran into this problem is well.  On my first deployment and many others.

This has been one of the biggest requested features for a long time (even in V.0).  As CloudFormation is central to V.1, I think this is a bigger priority than ever.  It's currently killing the core development experience.

Fortunately, this doesn't seem hard to fix.  Proposal:

* On failed deployment, call CloudFormation [

[2016-08-10 23:58] nhumphreys commented on #1513
I missed this ticket when searching for my problem, glad its on the radar.

I think there is also a need to store in the bucket the files with a prefix of the service-name-region-stage combo, this is so the existing remove S3 files step can also continue to function as expected.

We have a need for this now, so I'll start a PR with the re-factoring i've done already, hopefully it can be a basis fo

[2016-08-11 00:37] zachheine commented on #1593
No feedback on the implementation but my use case (in 1811 [closed]) was for Twilio and the ability to access the parameters from the `application/x-www-form-urlencoded` POST and then send back an `application/xml` response.

[2016-08-11 00:40] zachheine commented on #1811
Thanks.  Didn't have much to add as far as implementation but did list my use case.

[2016-08-11 00:42] davidjnelson commented on #1738
Thanks Austen!  Ok sweet, good to know, thank you.  I'll post here if the deep level paths set up manually is a fix.  Cheers!

[2016-08-11 04:32] jordanmack commented on #1721
The same issue also exists for `--version`.

[2016-08-11 05:30] DavidWells opened #1819 "Node modules no longer resolving in nested folders"
##### Serverless Framework Version:
v1.0.0-beta1.1
##### Operating System:
MacOSX
##### Expected Behavior:

When zipping function for `sls deploy` resolve any require calls in code to the root `node_modules` directory

##### Actual Behavior:

https://gitter.im/serverless/serverless?at=57abf847d7087a017faadc40

I have a root level /node_modules, then /myfolder/handler.js (with a handler) function
i

[2016-08-11 05:57] pmuens commented on #1819
Hey @DavidWells thanks for reporting!

The actual behavior is that Serverless will zip up the whole service directory starting at the level where the `serverless.yml` file is defined. Folders outside the service are not considered.
In your case the content inside the `newsletter` directory will be archived (therefore the outer `node_modules` is not considered.

[2016-08-11 05:59] pmuens commented on #1721
@jordanmack yep. The `--help` and `--version` commands use the same method behind the scenes.

[2016-08-11 06:11] pmuens commented on #1513
@nhumphreys great 👍
Thanks for jumping in on this! There's currently no implementation in progress for this issue so feel free to open a PR so we can start the discussion 🎉

I'll mark this issue as `in-progress`.

Just drop a line here once the PR is out so that we can look into it together.
Just let us know if you face any challenges during the implementation / have questions!

[2016-08-11 06:14] DavidWells commented on #1819
Would it make sense to recursively look up a couple directories to try and resolve the modules (like standard node behavior?

This would make it so people could take service approach OR include a service within a project.

** Example A **, a single project

Lets say, I have a static site with a contact form and the directory structure looks like:
[code]
In this example, I can clone down the projec

[2016-08-11 06:58] pmuens commented on #1819
Yes, sharing code between services would be really valuable.
Thanks for the in-depth description here 👍 .

I'd like to link to this issue https://github.com/serverless/serverless/issues/1512 where we've discussed the requirement in detail. TLDR is that the developer should use npm packages to share code between services.

[2016-08-11 07:25] DavidWells commented on #1819
Word. Thanks for the link. =)

The only way for a sub-folder to install a module and `node_modules` folder in the correct place is for that subfolder to have it's own package.json. (which is fine but is extra work)

I'm just saying we could look up directory/directory/directory/etc... to see if the module being `require('moduleName')` exists in the parent `node_modules` folder and if so, zip it wi

[2016-08-11 07:30] DavidWells commented on #1819
Or perhaps a field in `serverless.yml` to specify where to grab/resolve the node_modules, but this approach makes the user have to think about the extra step

[2016-08-11 08:01] olegZastavnyi commented on #1816
[test.txt](https://github.com/serverless/serverless/files/412738/test.txt)

[2016-08-11 09:30] flomotlik commented on #1819
@DavidWells the issue with going out of the current service folder is that it leads to potentially unexpected behaviour. E.g. in the top folder you've installed different versions of a dependency or included other files.

One thing I could see us doing in the future is allowing you to add paths to the include statement that are not in the same folder, so you could specifically say "include this pa

[2016-08-11 09:52] eahefnawy commented on #1801
We've talked about it internally and it seems that most people are leaning towards Proposal A. So I'm gonna start implementing this change. Here's what the basic version/MVP would look like:

1. populating from env vars: `${env.my_arn}`
2. populating from cli options: `${opt.stage}`
3. populating from the self `serverless.yml` file: `${self.service}`
4. populating from another file: `${file("./ser

[2016-08-11 09:55] olegZastavnyi commented on #1786
trying to add role as described in document but nothing happens.
Here how I am trying:

provider:
  name: aws
  runtime: java8
  iamRoleStatements:
        -  Effect: "Allow"
           Action:
             - "logs:CreateLogGroup"
             - "logs:CreateLogStream"
             - "logs:PutLogEvents"
             - "ec2:CreateNetworkInterface"
             - "ec2:DescribeNetworkInterfaces"

[2016-08-11 10:11] nicka commented on #1801
@eahefnawy Regarding `${cfo.prop}`:
Wouldn't `${file("./serverless.env.yml").data.subProp}` already fix this? If you think about how the framework wants to support multiple providers. We could keep it global by sticking to the `${file("./serverless.env.yml").data.subProp}` and output any CF stack output to this file?

Maybe even with `${file("./serverless.env.yml").${opt.stage}.${opt.region}.prop}

[2016-08-11 10:15] eahefnawy commented on #1801
@nicka the `serverless.env.yml` in that scenario is just an example. You can name it whatever you want (ie `config.yml`). We don't want to restrict the user on a specific file by outputting CF output to this file.

I'm not exactly sure how CF outputs would work exactly at this point though, but it's imho we can set it up at a later stage.

[2016-08-11 10:17] nicka commented on #1801
@eahefnawy Alright let me know if you plan to start working on it. Would love to give my opinion and maybe help out. Sorry if I'm hammering the CF Outputs to much 😊

[2016-08-11 10:18] eahefnawy commented on #1801
@nicka for sure! Your help in that area would be super valuable! 😊

[2016-08-11 10:18] nicka commented on #1818
Can't we just "tail" the CloudFormation deployment events during the deployment?

[2016-08-11 10:57] flomotlik commented on #1801
Never have to be sorry for pushing us in any specific direction. We REALLY appreciate all the feedback and insight we get from everyone :D. The harder you guys push on something the better our understanding is what the needs are.

[2016-08-11 11:32] flomotlik commented on #1786
@olegZastavnyi have you tried with * in the resources? I don't think limiting the resources for Network Interfaces works in this way

[2016-08-11 11:35] danielfosbery opened #1822 "Unresolved resource dependencies [RestApiApigEvent]"
Hey guys. Firstly love the project, have been using it for our Lambda deployments since seeing the Lambda talk at the recent AWS London Summit and it has really simplified things for us.

I'm getting an error when trying to deploy a project that has a resource that uses `{ "Ref" : "RestApiApigEvent" }`. This only happens when trying to deploy a new project with this reference, it seems to work fin

[2016-08-11 11:46] olegZastavnyi commented on #1786
@flomotlik yes, but it does't work! Seems to me this feature is buggy as well

[2016-08-11 11:47] flomotlik commented on #1786
Can you print a screenshot of the serverless.yml and the resulting cloud formation template you see in CF?

[2016-08-11 13:58] bennybauer opened #1823 "S3 event compile creates an extra bucket with the event configuration"
* Check if an Issue already exists for this
* Add the relevant label(s)
* Be kind :)

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
v1.0-beta
##### Operating System:
Mac OS X (10.11.6)
##### Expected Behavior:
S3 event should add an event on the configured bucket.
For example, given the following `serverless.yml`:
[code]
Should create the

[2016-08-11 14:25] pmuens commented on #1577
Done with https://github.com/serverless/serverless/pull/1824

[2016-08-11 14:25] #1577 closed

[2016-08-11 14:44] pmuens opened #1825 "Refactor for the CLI function arns outputs"
We should refactor the CLI function ARN outputs like @nicka has done with the endpoints in #1794.

This way we can reduce the number of outputs in the CloudFormation template.

[2016-08-11 14:46] flomotlik commented on #1822
@danielfosbery this is a known but yet unresolved feature. The problem is that we're using the custom resource upon initial stack creation (when it should really only have the S3 bucket in it). When you reference resources that we'll create in a later step this will fail.  #1783 is resolving this, but we'll have to jump on this one soon as its a big issue

[2016-08-11 14:56] danielfosbery commented on #1822
Brilliant, looks like its on its way to being sorted. Thanks @flomotlik, keep up the good work!

[2016-08-11 15:35] ac360 commented on #1818
@nicka Interesting idea.  That would be more helpful because you would actually know what's going on :)

[2016-08-11 15:37] mthenw opened #1826 "Access to provider's SDK in external plugin"
##### Feature Request:

Access to provider's SDK in external plugin
##### Benefits:

More powerful plugins. If I want to call AWS SDK from within my plugin I need to setup `aws-sdk` manually. I should be able to get SDK used by core plugins through `this.serverless.getSDK()` so I have credentials already setup.
##### Drawbacks:
- none

[2016-08-11 15:47] ac360 commented on #1826
Also see #1529

[2016-08-11 15:53] ChenLi0830 opened #1827 "Where can I find the lambda function and API gateways created by serverless"
I think this is more of a general question than a real issue.

I want to customize the API gateways created by serverless using AWS console while I can't seem to find them. **I can only see the gateways I created using the console**. Does anyone know how to find them or make them accessible through AWS console?

Thanks!

[2016-08-11 15:55] codepreneur commented on #1803
Apparently, once you created a table with just a `hash key`, you can't later add `range key`, so this is not a bug of `serverless` but rather shortcoming of dynamoDB. Closing.

[2016-08-11 15:55] #1803 closed

[2016-08-11 16:16] olegZastavnyi commented on #1786
ok, got it working. For other people who cross over this issue.

resources:
  Resources:
    AWSLambdaVPCAccessExecutionRole:
      Type: AWS::IAM::ManagedPolicy
      Properties:
        Description: Policy for allowing vpc connection.
        Roles:
          - {"Ref" : "IamRoleLambda"}
        PolicyDocument:
            Version: '2012-10-17'
            Statement:
            - Effect: Allow

[2016-08-11 16:23] olegZastavnyi commented on #1816
Any idea what is wrong ?

[2016-08-11 16:48] wxs opened #1828 "functions can't be renamed without modifying the path"
Say I have a function defined in serverless.yml;

[code]

and I decide to rename the function but keep it living at the same HTTP path.

[code]

Serverless will fail when I try to deploy.

##### Serverless Framework Version:
1.0.0-beta.1

##### Operating System:
Mac OS X 10.11.6

##### Expected Behavior:

Everything deploys just fine.

##### Actual Behavior:

[code]

##### Drawbacks:

* Can't rena

[2016-08-11 16:48] wxs commented on #1828
Apologies for not adding labels; I do not have sufficient permissions

[2016-08-11 17:32] codepreneur commented on #1805
OK, @eahefnawy this is what happens:

Before:

![image](https://cloud.githubusercontent.com/assets/3421858/17598068/b083d8ec-5ff0-11e6-91e3-9ed77f7e9060.png)

and

![image](https://cloud.githubusercontent.com/assets/3421858/17598101/d1804274-5ff0-11e6-98ff-621a42605938.png)

Then, I change this:

![image](https://cloud.githubusercontent.com/assets/3421858/17598035/86cac0b0-5ff0-11e6-94dc-963dba375

[2016-08-11 17:48] pmuens commented on #1803
@codepreneur thanks for the follow-up! 👍

[2016-08-11 20:14] davidjnelson commented on #963
Swagger would be awesome.  A good point raised here is the issue of non atomic endpoint deployment, ie: the use case where aws chokes when deploying endpoint 10 of 250.  Not sure if there's an issue for that, I'll do a search.  The simplest fix seems to be using one graphql endpoint for all data, and one one server side rendering endpoint for all presentation.  2 endpoints is easier to manage manu

[2016-08-11 20:19] danhumphrey commented on #1818
+1 I had a similar issue. I made a mistake configuring a DynamoDB resource but it wasn't obvious why without logging into the AWS console.

[2016-08-11 20:21] davidjnelson opened #1829 "deploy rollback documentation"
##### Feature Request:

Document how rollbacks for deploys work.
##### Benefits:
- Rollbacks are crucial to using serverless in a heavily trafficked production environment.  There appears to be support but I can't find a doc on it.
##### Drawbacks:
- It will take some effort to write the doc.
- There may be more work to do on the rollback process itself, which could lead to more effort.
##### Addi

[2016-08-11 20:37] nicka commented on #1818
We could fetch for new stack events every x seconds and break if any of the following states are noticed:

[code]

[2016-08-11 21:46] ac360 commented on #1818
@nicka Exactly

[2016-08-11 22:10] davidjnelson commented on #1738
Following these instructions certainly works: http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html#how-to-custom-domains-mapping-console

The result if you use an empty base path and specify the environment you are working with is that you get:

https://<hostname>/<endpointname>

which does not have the environment as part of the path.  So, the pull request stripp

[2016-08-12 05:28] pmuens commented on #1816
@olegZastavnyi could you post a screenshot of you `serverless.yml` file so that I can see how it is indented?

Have you looked in the API Gateway service section on AWS if the gateway is deployed there?

[2016-08-12 05:33] pmuens commented on #1829
@davidjnelson thanks for reporting.

You might also want to read through this issue which discusses versioning and rollbacks https://github.com/serverless/serverless/issues/1457

Specifically this answer by @flomotlik https://github.com/serverless/serverless/issues/1457#issuecomment-238842239

Would love to hear your thoughts on this one so feel free to join the discussion there and describe how y

[2016-08-12 05:36] pmuens commented on #1818
@nicka good idea! We actually already doing the monitoring here: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/lib/updateStack.js#L39-L72

I would combine the ideas from @ac360 and @nicka so that we'll get the stack status and the detailed error message printed our altogether so that one has no need to sign in to the AWS console (been there way too often).

[2016-08-12 07:36] flomotlik commented on #1677
@codepreneur is this also resolved with your finding or what @svdgraaf mentioned? As we're getting closer to beta release I'm currently going through open issues and closing them. I'm closing for now, in case this is still an issue let me know and we'll reopen

[2016-08-12 07:36] #1677 closed

[2016-08-12 07:38] flomotlik commented on #1520
We added better Error messages in #1813, so closing this issue

[2016-08-12 07:38] #1520 closed

[2016-08-12 07:38] flomotlik commented on #1551
This was fixed recently for new deployments, we still have an issue when removing APIS and we're talking to AWS about it

[2016-08-12 07:38] #1551 closed

[2016-08-12 08:16] flomotlik opened #1832 "Make sure creating a bucket never fails due to custom resources"
##### Serverless Framework Version:
All V1
##### Operating System:

##### Expected Behavior:
Create Stack should always succeed and create the main deployment bucket

##### Actual Behavior:
Create stack can fail when custom resources (or IAM Statements) or anything changing the CF template by the user is involved

##### How to Resolve

Remove custom resources from Stack creation and only merge the

[2016-08-12 08:24] codepreneur commented on #1677
@flomotlik yeap, its a CF issue not `serverless`.

[2016-08-12 08:25] flomotlik opened #1833 "Implement custom Resource Merging fully and document it"
##### Feature Request:
Custom resources from resources.* (including Outputs or the Description) should be merged into the Cloudformation template with a deep merge. If you want to change configuration for a function or any other resource that serverless create you have to be able to set additional configuration parameters for that resource without having to copy the whole resource to the custom re

[2016-08-12 08:38] olegZastavnyi commented on #1816
@pmuens  Yes, it present and works but I cant see it on lambda( see screen)

[2016-08-12 11:54] jagi commented on #1726
I don't know if you experience the same problem but after updating to `1.0.0-beta.1.1` and after calling `serverless create --template aws-nodejs` it does not create any files in the current directory.

[2016-08-12 13:34] miltador opened #1835 "Deploy issues on Windows/Linux"
##### Serverless Framework Version: 1.0.0-beta.1.1

##### Operating System: Windows 10 / Xubuntu 16.04

##### Expected Behavior:
On Windows:
 - correct path to ```lib/index.js```

On Linux:
 - correct permissions to published files

##### Actual Behavior:
Assuming the following service structure (same as in docs):
[code]
With the above structure I have one entry point (handler) - ```users.js``` wh

[2016-08-12 13:56] pmuens commented on #1832
Will be resolved with https://github.com/serverless/serverless/pull/1836

[2016-08-12 15:34] pmuens commented on #1816
Faced something similar with other AWS resources. Might be an AWS issue and related to this one:

https://github.com/serverless/serverless/issues/1805

/cc @eahefnawy

[2016-08-12 21:56] hassankhan commented on #1765
+1, it always seemed "hacky" before, would be great to have an officially-endorsed solution.

[2016-08-13 00:12] johncmckim commented on #1777
Just adding some thoughts around the implementation.

The first step will be changing the deployment process to create an function specific zip file if a function package config is present. As the package plugin is common to providers, this will affect the `aws` provider and any other `providers` in development.

For the `aws` provider, the `uploadDeploymentPackage` step will have to be changed to

[2016-08-13 00:17] johncmckim commented on #1777
I am also wondering about how beneficial this would be for nodejs. I can't really comment on python.

Imagine this example.

[code]

[code]

Realistically I don't see developers excluding `node_modules` through config. It is likely that there will be too many dependencies and peer dependencies to go through them all and re-include them. If you did explicitly include specific dependencies + peer de

[2016-08-13 03:16] benjaminabbitt commented on #1777
I'm viewing it from a different organizational perspective.

[code]

[code]

With this approach, and node_modules installed on a per-function basis, I think that per-function packages make sense.

[2016-08-13 07:05] harighub opened #1841 "command "project" not found, Run "serverless help""
Serverless Error - command "project" not found,

##### Serverless Framework Version:
1.0.0-beta.1.1
##### Operating System:
Ubuntu 16.04 LTS
##### Expected Behavior:

1) I've installed serverless framework using below command:
sudo npm install serverless -g
I had to run the above command with sudo, otherwise there were permission issues.
2) trying to create a project using command "serverless proj

[2016-08-13 07:10] danhumphrey commented on #1841
@harighub I'm not sure why you thought you had to use the 'project' keyword, but take a look at the guide or the quick start:

serverless create --template aws-nodejs

[2016-08-13 07:11] danhumphrey commented on #1841
https://github.com/serverless/serverless/blob/master/docs/guide/creating-a-service.md

[2016-08-13 11:58] pmuens commented on #1765
@hassankhan thanks for your reply. Do you have any specific functionality you would like to have in this test plugin? What do you want to test exactly?

[2016-08-13 12:13] pmuens commented on #1777
Hey guys, thank you for jumping into this discussion!

We had this pattern before and switched to the service zipping by design. The problem with zipping functions is that you need a way to include other, external code as well the function might access. This was previously handled through our "magic handler" concept which works fine for Node.js but is way more complex for Java as a runtime.
A sing

[2016-08-13 12:16] pmuens commented on #1841
Hey @harighub
We rewrote Serverless from scratch and have deprecated v0.5.

Serverless v1 has no "project" concept but a new "service" concept. My assumption is that you've visited docs.serverless.com which includes docs for the old Serverless version.

As @danhumphrey mentioned the new docs are her in the repository. You might want to start with the guide to see how the new Serverless v1 works: h

[2016-08-13 12:21] pmuens commented on #1722
The repository for the community plugins can be found here:

https://github.com/serverless/community-plugins

[2016-08-13 15:55] hassankhan commented on #1765
Ideally, I'd love to have a simple Mocha + Chai setup, with something that mocks the AWS-SDK and allows me to pass in a custom `event` and `context`.

Optionally, it could allow for running a test against the deployed function.

[2016-08-13 15:57] hassankhan commented on #1582
@eahefnawy My 2 cents: I wouldn't be too sure about writing off offline support, it's still super useful for testing purposes.

[2016-08-13 17:44] harighub commented on #1841
Thanks all, now I was able to create a project using template option. sls create --template aws-python

[2016-08-13 17:44] #1841 closed

[2016-08-13 20:12] merrickfox commented on #1827
@ChenLi0830 did you figure this out? I would also like to know. I created a new IAM user and fed these keys to serverless and deployed the basic hello stuff, when I log in to AWS console as this user I don't see the functions in the lambda section or the API gateway. I do however see the bucket in S3.

[2016-08-14 00:05] ChenLi0830 commented on #1827
@merrickfox Sorry I haven't figured it out yet. I'll let you know if I do.

[2016-08-14 00:55] ac360 commented on #1827
Hi guys, make sure you are looking in the region that the Framework deployed to (by default its us-east-1).  They should be there in the Lambda, API Gateway and CloudFormation dashboards.

[2016-08-14 01:26] ChenLi0830 commented on #1827
Aha, of course, the region! I always forget about it.
@ac360 Thanks a lot for the help!

[2016-08-14 01:27] ChenLi0830 commented on #1827
Closing the issue.

[2016-08-14 01:27] #1827 closed

[2016-08-14 01:28] ChenLi0830 commented on #1827
@merrickfox

[2016-08-14 01:31] openback opened #1842 "Cannot have two Lambdas subscribe to the same SNS topic"
I've pared down the example to the minimum, and it confirms my suspicion that having two lambdas subscribed to the same sns topic cannot be created:

[code]

##### Serverless Framework Version:

1.0.0-beta.1.1

##### Operating System:

OSX 10.11.16

##### Expected Behavior:

An SNS Topic is created and both Lambdas are subscribed to the same one.

##### Actual Behavior:

From Serverless:
[code]

A

[2016-08-14 04:44] harighub opened #1843 "It would be nice if we can improve function configuration @ serverless.yml"
It would be nice if we can improve function configuration @ serverless.yml

##### Serverless Framework Version:
1.0.0-beta.1.1

##### Operating System:
Ubuntu 16.04 LTS

##### Actual Behavior:
I've tried to configure a event source for my serverless function, it appears be that a space ' ' after "-" and after ":" is mandatory. I believe it would be nice if we can eliminate such restriction for con

[2016-08-14 13:11] #1832 closed

[2016-08-14 13:13] pmuens commented on #1596
Finally done with https://github.com/serverless/serverless/pull/1820 🎉

[2016-08-14 13:13] #1596 closed

[2016-08-14 13:14] pmuens commented on #1733
This is already done / will be refactored with the new documentation structure. Closing it for now.

[2016-08-14 13:14] #1733 closed

[2016-08-14 15:18] openback commented on #1843
That's due to the [YAML Spec](http://www.yaml.org/spec/1.2/spec.html#id2759963), so I don't think you're going to get your wish :P

[2016-08-14 15:26] kevinaud commented on #1787
Should setting the profile with environment variables still be supported once this is in place?

[2016-08-14 15:45] pmuens commented on #1833
Will be done with https://github.com/serverless/serverless/pull/1844

[2016-08-14 16:10] ianserlin commented on #1801
Couple thoughts:

Proposal 2 is actually preferable for me so that conditional logic doesn't need to be implemented in order to override values in different execution environments (command line for local development, env vars for ci/staging/production).

I could be missing something, but I don't understand how this obviates the need for JSONRef specifically in order to include additional CloudForm

[2016-08-14 16:25] ianserlin commented on #1455
Let me suggest the obvious just as food for thought:

Since all providers have some version of an "S3" service and sls already uses it to store the code drops for the lambdas, perhaps an `sls deploy` can package up some "environment variable" section of the service config, put it onto "S3" as a json file, and provide a simple provider specific line again to read and load those environment variable

[2016-08-14 16:43] hassankhan commented on #1787
I would hope not, generally we should be using the `~/.aws/credentials` file. Also leaves less room for WTF moments 😄

[2016-08-14 17:01] merrickfox opened #1845 "SLS remove failed, now SLS deploy won't work"
[code]

And now if I try and deploy

[code]

Also trying the remove command again:

[code]

version: serverless@1.0.0-beta.1.1

Logs of the initial failure:
![alt text](http://i.imgur.com/ORWqRXV.png "error")

I've now read: https://github.com/serverless/serverless/issues/1689 and https://github.com/serverless/serverless/issues/1535
Wondering how to just reset and start over and attach role polici

[2016-08-14 17:10] hassankhan opened #1846 "Use modern ES6 syntax"
##### Feature Request:
Not sure if this would be a priority, but would be nice to have for those of us who've made the switch 😉

I'm guessing this would be something that wouldn't be forced on users, so probably better as a plugin? At it's heart, it should probably just be a reimplementation of the Serverless Optimizer plugin (but maybe use Webpack?).

##### Benefits:

* Modern syntax

##### Drawb

[2016-08-14 17:13] hassankhan commented on #1846
Current handler:

[code]

ES6 handler:

[code]

[2016-08-14 17:16] hassankhan commented on #472
We've been using [Serverless Secrets](https://github.com/trek10inc/serverless-secrets) with KMS and committing our `_meta` folder. Nothing else to add other than it would be nice to see this addressed 😄

[2016-08-14 17:30] kevinaud commented on #1787
So the three possible scenarios as I understand it are:

 1. `--profile` option **isn't** used and the `AWS_PROFILE` environment variable **isn't** set, in which case deploy with the 'default' profile
 2. `--profile` option **isn't** used and the `AWS_PROFILE` environment variable **is** set, in which case use the value of that environment variable as name of the profile to deploy with
 3. `--prof

[2016-08-14 17:33] hassankhan commented on #1787
I believe I saw a precedence order [here](https://github.com/serverless/serverless/issues/1801#issuecomment-238600591):

CLI Option > ENV > serverless.yml

[2016-08-14 17:38] kevinaud commented on #1787
Is setting the profile in serverless.yml currently supported? I don't see it in the docs https://github.com/serverless/serverless/blob/master/docs/understanding-serverless/serverless-yml.md

[2016-08-14 17:40] hassankhan commented on #1787
I don't think it is supported **yet**, possibly in the next beta.

[2016-08-14 17:43] flomotlik commented on #1787
@hassankhan @kevinaud setting the profile will most likely not be supported in the serverless.yml directly.

as @hassankhan already mentioned CLI > ENV

But as CLI always has precedence basically what we can do is if there is a cli option we're setting the profile directly, if no CLI option is given we don't set anything (not even default) and let the AWS SDK deal with it.

[2016-08-14 17:44] hassankhan opened #1847 "Swagger integration"
##### Feature Request:

Use a Swagger definition file to set up API Gateway endpoints and map them to Lambda functions.
##### Benefits:
- Lessens the need of obtaining a PhD to understand CF's arcane syntax.
- Integrates with all of Swagger's awesome toolage so you can get other things done.
##### Drawbacks:
- Swagger and CF don't play too well
##### Additional Details:

From the last time I tried

[2016-08-14 18:57] pmuens commented on #1740
While looking into it I found in the SDK that the there will also be a limit when one specifies a `TemplateURL` which points to a CloudFormation file in S3 (460, 800 bytes).

Has anyone some experiences with this limitation? Seems to be suboptimal if even the upload to S3 won't remove the CloudFormation file size limit.

https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CloudFormation.html#c

[2016-08-14 19:43] Lepozepo opened #1848 "Extended event definitions don't deploy"
Bug Report Template -----------------------------------------------

##### Serverless Framework Version: 1.0.0-beta1.1

##### Operating System: Mac OS El Capitan

##### Expected Behavior:
Using the http syntax described [here](https://github.com/serverless/serverless/blob/master/docs/guide/overview-of-event-sources.md#http-endpoint) should create an HTTP endpoint

##### Actual Behavior:
The syntax

[2016-08-14 19:44] patrickbrandt opened #1849 "Include stage reference in AWS body mapping template"
### Feature Request:

Add a reference to $context.stage in the API Gateway body mapping template:

```"stage": "$context.stage"```

##### Benefits:

* There will be a run-time stage reference available to Lambda functions to load different environment configurations as required (via ```event.stage```).

##### Additional Details:

This provides a quick way to deploy environmentally-aware functions

[2016-08-14 19:51] pouledodue commented on #1848
did you doublecheck indentation

[2016-08-14 20:28] jeff3yan commented on #1842
I also noticed this earlier but wasn't sure if I was supposed to define a single SNS topic somewhere else, then subscribe both lambdas to it - or I was approaching it in the wrong way altogether.

[2016-08-14 21:54] Lepozepo commented on #1848
[code]
I did >_< is two spaces ok? Should I use tabs instead?

[2016-08-14 23:16] DanielRuskin1 opened #1851 "Unable to override AuthorizationType in YML"
Bug Report Template -----------------------------------------------

##### Serverless Framework Version
`1.0.0-beta.1.1`

##### Operating System
OSX

##### Expected Behavior:
`AuthorizationType` should be `AWS_IAM` for the `PostMethodApigEventCreatecontactformfunctionContactformsCreate` method.

##### Actual Behavior:
`AuthorizationType` is NONE.

##### My serverless.yml

[code]

[2016-08-15 02:28] JadyLiu opened #1852 "/myproject/venv/.Python is not existing in ubuntu vagrantbox"
Bug Report

##### Serverless Framework Version: 1.0.0-beta.1.1

##### Operating System: Host is Mac Yosemite, run Serverless framework on ubuntu virtualbox

##### Expected Behavior: /myproject/venv/.Python should link to python path in guest ubuntu instead of host Mac path /System/Library/Frameworks/Python.framework/Versions/2.7/Python

##### Actual Behavior:. Ubuntu virtualbox Python -> /System/L

[2016-08-15 02:42] sdruipeng opened #1853 "Error occurred when run serverless deploy"
I am using serverless.1.0.0-beta.1.1 and following the document.

The error report is: cannot create the S3 bucket.

Yet, there is really no setup for the S3 in serverless.yml

It is a surprise that I got stuck from the very beginning.

This error shows every time I try

[2016-08-15 03:30] jokeyrhyme opened #1854 "shrinkwrap includes a few devDependencies, causing unnecessary warnings for users"
##### Serverless Framework Version:

`npm ls -g serverless`: serverless@1.0.0-beta.1.1

##### Operating System:

macOS Sierra public beta

##### Expected Behavior:

- `npm install -g serverless@beta` should not generate any warnings

- ideally, only dependencies should be installed, not devDependencies

##### Actual Behavior:

`npm install -g serverless@beta` (as directed by quick start instructio

[2016-08-15 03:46] jokeyrhyme opened #1855 "request: use configured AWS region instead of "us-east-1" by default"
- related: #1707, #1736

##### Feature Request:

- `serverless create --template aws-nodejs` should be aware of the default region set via `aws configure` or environment variables

- currently, it always puts an entry for "us-east-1" in the serverless.env.yml file, instead of something better

- if all else fails, falling back to the default "us-east-1" would still make sense

##### Benefits:

- 1

[2016-08-15 03:51] jokeyrhyme commented on #1855
Just noticed that region also needs to be properly set in serverless.yml, too.

[2016-08-15 03:53] jokeyrhyme commented on #1855
Even if I change all occurrences of "us-east-1" in all default files to "ap-southeast-2", I still get the following error from `serverless deploy`:

Not sure where this is coming from

[2016-08-15 04:15] pouledodue commented on #1848
you are missing spaces before path and method ^^

[2016-08-15 04:50] pmuens commented on #1853
Hey @sdruipeng so you're deploying a simple Serverless service and are not using a S3 event?

Have you setup your AWS user so that he can create the necessary resources on your behalf as described here: https://github.com/serverless/serverless/blob/master/docs/guide/installation.md?

[2016-08-15 04:51] pmuens commented on #1848
Yep @pouledodue is right.

The correct syntax should be:
[code]

[2016-08-15 05:09] jokeyrhyme commented on #608
Hi folks! I'm pretty excited about `serverless`, but I'm a bit stuck here. Is there any documentation or example code for the error handling templates discussed here?

I've read through an upstream AWS blog post on this subject: https://aws.amazon.com/blogs/compute/error-handling-patterns-in-amazon-api-gateway-and-aws-lambda/

I'm trying to figure out how to return appropriate HTTP status codes wi

[2016-08-15 05:15] Lepozepo commented on #1848
Lol, I'm a YAML n00b. Thanks guys!

[2016-08-15 05:15] #1848 closed

[2016-08-15 05:17] pmuens commented on #1849
Hey @patrickbrandt thanks for reporting and fixing this 🎉 !

I'll look into the PR ASAP.

[2016-08-15 05:18] pmuens commented on #1849
Will be done with #1850

[2016-08-15 05:37] pmuens commented on #1848
@Lepozepo we've all been there 👍  💃

[2016-08-15 05:59] Lepozepo opened #1856 "Best way to set up an HTML response?"
##### TLDR:
What's the best way to have a lambda GET endpoint respond with HTML?

##### Discussion:

[2016-08-15 06:01] pouledodue commented on #1856
there is the gitter channel for fast answers: gitter.im/serverless/serverless

[2016-08-15 06:03] Lepozepo commented on #1856
Ooo, I've never used that, I'll join asap ^_^

[2016-08-15 06:08] #1856 closed

[2016-08-15 06:11] danielkoo commented on #1855
This is probably the same as what I ran into; if you haven't uncommented the following it would assume the dev stage uses us-east-1:

[2016-08-15 06:15] jokeyrhyme commented on #1855
I made sure that I uncommented it, but it's possible that I got the indenting wrong or something. I'll give this another try later this week.

[2016-08-15 06:19] johncmckim commented on #1455
This is how I load my functions:

[code]

**index.js**
[code]

**env.js**
[code]

**serverless.yml**
[code]

As this is, the config file can be set on build. You could retrieve it from S3, auto generated, commit it to git or whatever. Env variables are also packaged with function. This could be a benefit or drawback depending on your use case.

You could also easily change this to retrieve a confi

[2016-08-15 06:50] mt-sergio commented on #1455
Good one @johncmckim . I guess you have a `npm run deploy` which does this for you.

[2016-08-15 06:54] johncmckim commented on #1455
@mt-sergio my deploy script looks like this

**deploy.sh**
[code]

I could add `./deploy.sh` to npm scripts, but I usually just call it. In case you're interested, you can see my [code](https://github.com/garden-aid/web-bff). It's just a demo project to help me learn.

[2016-08-15 11:01] Savalas commented on #1415
I am having the same issue. Figured that I would attach to this issue instead of creating a new one.

It would be helpful to know what I need to OptIn to

  Serverless Error ---------------------------------------

  Error --------------------------------------------------

     ServerlessError: OptInRequired: The AWS Access Key Id
     needs a subscription for the service

     For debugging logs

[2016-08-15 11:36] flomotlik commented on #1740
Here are the details on Cloudformation limits: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html

Imho the S3 limit is 9X from what we have right now. So judging by the issue description that would be at least 160-180 handlers and additional config. At that point my assumption would be that it should be split up into separate services as you have hundreds of

[2016-08-15 11:42] flomotlik commented on #472
@hassankhan yup Serverless Secrets is awesome and one of the ways we want to support encryption (or getting variables into production in general).

[2016-08-15 11:54] nickchisiu commented on #1828
IMHO lambda function name should not be stored in Apig Logical id because when you change the lambda function name the logical id becomes inconsistent , like renaming function from `Hellothere` to `Hellothere2` -> `ResourceApigEventHellothereUserscreate` to `ResourceApigEventHellothereUserscreate`  and cloud formation will throw an error. The Logical ids are already unique because of the PATHs  es

[2016-08-15 11:54] flomotlik commented on #1801
@ianserlin file() should support both JSON and Yaml. JSON Ref is also not going away.

We're going to implement the specific version first and then add an inheritance model on top of it, so you can be specific (e.g. read only from env vars) or ready from anywhere or possibly read only from those 2 sources. But we will collect more feedback at first before we decide a specific direction with overri

[2016-08-15 12:00] flomotlik commented on #1582
@hassankhan Its not that we don't think offline support would be great, but more how high the priority of it is. In our opinion a lot of the upside of Offline support can be reached by other means (e.g. good until testing examples, fast deployment into developer specific environments, integration testing support, invoking and debugging deployed functions easily) but some of the downsides, especial

[2016-08-15 12:07] flomotlik commented on #1777
Basically I like the approach of simply making package available in every function as well. From then on users are responsible themselves how to set up their service, what to include or exclude.

I fully agree there with @benjaminabbitt that teams are responsible for structuring their repo in this way and we should add this to the docs. Then its also easy for them to have shared resources in a lib

[2016-08-15 12:08] kennu commented on #1582
My experience has been that incomplete/inaccurate offline emulation is bad. It causes developers to be confused about things that work slightly differently in actual Serverless deployments (e.g. template handling, timeout handling). They also start to blame the whole Serveless paradigm for problems that are actually just bugs in the offline emulation and don't occur in real deployments.

[2016-08-15 12:15] flomotlik commented on #1582
@kennu

![Hitting Nail on the head](https://media.giphy.com/media/26BRDHKnjgXuhjlde/giphy.gif)

[2016-08-15 12:33] flomotlik commented on #963
I'm not sure if this should still be a problem with CloudFormation. Basically CF should take care of deploying the whole set of services, if its not possible to do it it will simply fail the whole deployment and revert.

[2016-08-15 12:51] smuffff opened #1860 "Cannot find module for any node_modules"
When I use npm to install a package, I always get the following error when I require it in:

{
  "errorMessage": "Cannot find module 'jwt-simple'",
  "errorType": "Error",
  "stackTrace": [
    "Function.Module._load (module.js:276:25)",
    "Module.require (module.js:353:17)",
    "require (internal/module.js:12:17)",
    "Object.<anonymous> (/var/task/handler.js:3:11)",
    "Module._compile (mod

[2016-08-15 12:56] smuffff commented on #1860
I'm running on 1.0.0-beta.1.1.  Issue can be recreated by creating a new service, npm install a random package then simply require it at the top of handler.js

`var jwt = require('jwt-simple');

// Your first function handler
module.exports.hello = (event, context, cb) => cb(null,
  { message: 'Go Serverless v1.0! Your function executed successfully!', event }
);`

[2016-08-15 13:46] chris-olszewski commented on #1846
I'm currently using webpack to do this. Here's my [config file](https://gist.github.com/chris-olszewski/8dbbfd014161105878d9374cdc4c5fdc)

[2016-08-15 13:58] hassankhan commented on #1846
IIRC the AWS-SDK is included by Lambda by default, so you don't *need* to add it as a dependency. However, some people prefer using the latest version from NPM so it might be handy for them.

[2016-08-15 14:02] hassankhan commented on #1582
Thanks for the reply @flomotlik, I generally agree with you so long as things like unit/integration testing are baked into core from the start.

If Serverless is going to be used against multiple hosting environments, wouldn't it make sense to make an abstraction in Serverless itself? As @kennu mentioned, things like template handling and timeout handling are different in deployments, I would assu

[2016-08-15 14:05] #1849 closed

[2016-08-15 14:23] kennu commented on #1582
IMHO Serverless works so well because it's _not_ an abstraction, only a deployment and management tool.

At least for me, and many of my colleagues, using Serverless has been an simultaneous investment in learning the underlying AWS technologies. We want to be primarily AWS experts, because that expertise is what we sell to our customers.

I could see a possible future where Serverless gets so big

[2016-08-15 14:28] hassankhan commented on #1582
I may be completely wrong here, but I thought Serverless was trying to aim for developers who had no background knowledge of AWS (or any other service for that matter).

[2016-08-15 15:23] jarosser06 opened #1861 "Support Existing SNS Topic Resources when Adding Function Events"
Feature Request Template ------------------------------------------

##### Feature Request:
Support existing SNS Topic Resources when adding function events. Right now you can either specify the Topic ARN which allows you to use an existing topic but doesn't add the lambda function as a subscription when you do it that way. It would be helpful if the event code tried to use an existing SNS Topic r

[2016-08-15 15:29] flomotlik commented on #1582
The group we're mostly targeting are users of AWS who want a better experience building applications on top of Lambda and including different AWS services. In the future the same holds true for other Providers as well.

We're not trying to hide all of the complexity of AWS from people who are just starting with the Cloud. While we of course want to make it easy for people to get started with Serve

[2016-08-15 15:41] hassankhan commented on #1582
Cool, thanks for taking the time to explain!

[2016-08-15 15:45] patrickbrandt commented on #1455
I've got a pull request in review (#1850) for adding the stage parameter to the API Gateway body mapping template for the Lambda event. After updating the  body mapping template, I'm loading configs similar to this:

in my handler.js
[code]

[2016-08-15 16:31] nicka commented on #1455
@patrickbrandt I'm thinking about developing a plugin which would allow you to map CloudFormation `Ref`'s and `Get::Attr`'s to Lambda via [APIG stage variables](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html#cfn-apigateway-stage-variables). My only concern is the actual need for APIG as this would only partially solve the issue. IMHO Lambda should

[2016-08-15 17:12] patrickbrandt commented on #1455
An intermediate build step could inject environment variables into the handlers deployed to Lambda. For example:

I define handlers in handler.js and reference them in serverless.yml:
handler.js
![image](https://cloud.githubusercontent.com/assets/11197026/17671923/6f00bfbc-62e7-11e6-952d-18ef2342a58f.png)
serverless.yml
![image](https://cloud.githubusercontent.com/assets/11197026/17671910/5e6a3b4c

[2016-08-15 17:16] bfhobbes commented on #1860
I have the same issue. (Also running my machine from windows machine )
It was working fine with 1.0.0-beta.1, but broken in 1.0.0-beta.1.1

It appears to be an issue with folders, as I was also having an issue with it being unable to resolve
`require('./lib/somefile.js')`
But if I just move the file, then
`require('./somefile.js') works.`

The files are all present in the generated zip file.

[2016-08-15 17:40] kaklakariada opened #1862 "AWS: Java lambda not updated after modification"
##### Serverless Framework Version:
1.0.0-beta.1.1

##### Operating System:
Mac OSX 10.11.6

##### Expected Behavior:
After modifying Java sources and rebuilding the zip file and running `sls deploy` the lambda should be updated with the new version of the Java code.

##### Actual Behavior:
The lambda is only created during the initial deploy. Following deploys don't update the lambda. The new ver

[2016-08-15 18:02] clauderic commented on #1860
Same issue here

[2016-08-15 18:38] nicka commented on #1455
@patrickbrandt If I'm not mistaking I think this is sort of what's happening in serverless `v0.5`. For static variables(defined prior to the deploy) this should definitely work! But should be fixed for multiple languages. Again getting CF stack related resources and info into the functions during a deploy is a lot more complex.

[2016-08-15 18:47] bfhobbes commented on #1860
jszip was incorrectly being passed UNIX as a host platform name. PR#1863 has a potential fix

[2016-08-15 18:53] ianserlin commented on #1455
My opinion is that a lot of the methods described above are viable options (like @johncmckim demonstrates), and that while it isn't much more complex to roll your own solution than it is to write lambdas in the first place, that there *should* be a sls plugin (official or community-driven) to handle this use very common use case in a standardized way. Solving this category of problem for the dev i

[2016-08-15 18:58] ianserlin commented on #1845
easiest way is to just change the name of your service from (what I think you named it) `workremote` to something else and get a whole new stack.

[2016-08-15 19:23] jarosser06 commented on #1842
I think PR #1864 might solve this issue.

[2016-08-15 20:48] gwincr11 opened #1866 "Blocking Hook"
Hello,

I am attempting to write a function deploy pre and post hook which executes some shell scripts. The boiler plate has all the hooks as non blocking promises. How do I ensure that a hook blocks the deploy process unil it has completed?

Thanks,
Cory

[2016-08-15 21:31] Christoph-Schabert commented on #1801
Whats abour nested cf stacks?
The primary stack deploys the lambda functions, API gateway and lambda policies.
The nested resource stack deploys the parts of the resource section in the yml file.
Then the outputs of the nested stack could get before the lambda functions are deployed.

Then it would be possible to reference the outputs of the resource nested stack in the primary stack.

[2016-08-15 22:20] gwincr11 commented on #1866
So it seems like this packages is the way to go: https://github.com/kennu/serverless-plugin-hookscripts

[2016-08-15 22:21] #1866 closed

[2016-08-15 23:03] nicka commented on #1722
The project needs an example plugin to get people started 👍 Some use cases on how to hook into sls actions.

[2016-08-15 23:30] jokeyrhyme commented on #1854
It may be related, but certain `npm` operations on my computer now dump out lots of warnings about serverless:

npm ERR! peer dep missing: eslint@^2.9.0, required by eslint-config-airbnb-base@3.0.1
npm ERR! peer dep missing: eslint-plugin-import@^1.7.0, required by eslint-config-airbnb-base@3.0.1
npm ERR! extraneous: assertion-error@1.0.2 /Users/ron/.nvm/versions/node/v6.3.1/lib/node_modules/serve

[2016-08-15 23:51] dhildebrandt commented on #1539
I'm seeing with another stack (electron stuff) so I doubt this is particular to serverless.

[2016-08-15 23:52] awolden commented on #1829
I have been evaluating serverless for use in a very large scale production system, but the documentation around versioning and rollbacks seems conflicting. In general, I think it would be great to have more clarity on how versioning and rollbacks work in serverles.

[2016-08-15 23:53] seanohollaren commented on #1829
I'll chime in and say I'd really love to see support for rollbacks as well.  I'm currently evaluating serverless for use in our pipeline (and really liking what I've seen) but the lack of rollback support/documentation is an issue for us.

[2016-08-16 00:00] awolden commented on #1457
I am looking to use serverless in a large system, and the lack of versioning is troublesome for me.   I would love to be to automatically rollback a deploy if e2e tests fail. In order for us to have a true CD/CI system we need the ability to quick rollback, and I am not sure how you do that without the ability to version lambda's.

[2016-08-16 00:17] seanohollaren commented on #1457
I'd echo that sentiment.  The ability to roll back is a requirement for my use case and I'd guess it's going to be a pretty common one.

[2016-08-16 00:18] davidjnelson commented on #1738
Does anyone know of good docs for the Method object when creating api gateway methods?  The docs at http://docs.aws.amazon.com/apigateway/api-reference/resource/method/ are lacking in examples, and appear to also be missing some properties.  Thanks :-)

[2016-08-16 02:21] flomotlik commented on #1801
But can't you already reference them directly in the stack and simply create a depends On relationship? Or how would you use this specifically?

[2016-08-16 02:26] flomotlik commented on #1738
@davidjnelson we've used the CF docs here: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-method.html

Not sure if that covers everything you need

[2016-08-16 02:29] flomotlik commented on #1457
@awolden would love to chat about the details of that with you. Could you send me an email to flo@serverless.com to set something up?

[2016-08-16 02:32] flomotlik opened #1868 "Implement Plugin Template that can be used with the Create plugin"
##### Feature Request:
##### Benefits:
- Easy way for users to create new plugins
##### Additional Details:

`serverless create -t plugin` should create all the files necessary to create a new plugin. At the moment we're not loading any plugins from a local directory, so plugins that are in the current folder aren't used. We probably have to change some internals for this as well

[2016-08-16 02:32] flomotlik commented on #1722
@nicka created an issue for that: #1868

[2016-08-16 02:57] flomotlik commented on #1862
@kaklakariada is Gradle recompiling the code as well as part of your script? Serverless itself wouldn't trigger this rebuild in Gradle. As I don't think this is a Serverless internal issue, but probably some config Issue in the CI/CD pipeline I'm going to close the issue here.

You can add updates here or jump into our forum at http://forum.serverless.com which is monitored by our team and the com

[2016-08-16 03:00] flomotlik commented on #1855
@danielkoo @jokeyrhyme we're currently changing our stage/region handling and include variables in #1834 and discussed in #1801 . This should sole many of those issues you've just mentioned as we're not going to expect you to set a specific region at all any more by default.

[2016-08-16 03:02] flomotlik commented on #1853
@sdruipeng the bucket it needs to create is for the deployment itself. We're deploying Serverless application artefacts through an S3 bucket, so your user accounts needs to rights to create it.

As this is more a support issue and less a Serverless core problem you can also get more help in our Forum at http://forum.serverless.com

[2016-08-16 03:02] #1853 closed

[2016-08-16 03:03] flomotlik commented on #1852
@JadyLiu as this does not seem to be a Serverless Issue directly we can't give any help here.

[2016-08-16 03:03] #1852 closed

[2016-08-16 03:05] jokeyrhyme commented on #1855
@flomotlik awesome! Thanks! I look forward to giving it a try. I'm really liking everything about Serverless so far. Great work!

[2016-08-16 03:09] flomotlik commented on #1846
@hassankhan @chris-olszewski by default we only want to support what is available in Lambda, otherwise we're pretty sure to introduce issues to users. As we are simply deploying whatever you build in your local folder you can easily run your JS code through any tool (e.g. babel) to create Lambda compatible code.

But I can see adding documentation for it. If you guys are interested in working on d

[2016-08-16 03:10] flomotlik commented on #1845
@merrickfox you can attach custom statements to the default IAM role that gets created:
https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-iam-role-statements

[2016-08-16 03:23] flomotlik commented on #1845
I'm going to close this issue as it seem it has to do with other Resources being attached manually? If there is a larger underlying bug please let me know and I'll reopen.

[2016-08-16 03:23] #1845 closed

[2016-08-16 03:24] flomotlik commented on #1843
@harighub as @openback already mentioned that is YAML syntax that we can't change. We do plan to support JSON in the future as well.

[2016-08-16 03:24] #1843 closed

[2016-08-16 03:29] flomotlik opened #1869 "Redesign CF Logical ID's of all resources we create"
At the moment we don't have consistent CF logical ID naming across Serverless. This leads to various issues where resources are recreated when methods are renamed or resources can't be deployed because they already exist but under a different name.

Before the V1 release we need to have a consistent naming scheme for CF resources and we need to document them everywhere.

Items to check:

- [ ] Fun

[2016-08-16 03:30] flomotlik commented on #1828
@wxs yup thats a known issue with our logical naming of resources as @nickchisiu already pointed out and the way it works internally at AWS. I've created another issue #1869 that captures what we have to do there to get this resolved.

[2016-08-16 03:30] #1815 closed

[2016-08-16 03:59] flomotlik commented on #1805
@codepreneur I've just tried this myself with the following:

[code]

After that I've enabled it (false -> true) and checked the logs with `serverless logs -f hello -t` and I'm seeing the messages as they come in. Please make sure to check the logs if the functions get called properly as this might be an issue in the code. I'm closing this issue now as its confirmed it works in general. Please upd

[2016-08-16 03:59] #1805 closed

[2016-08-16 04:15] pmuens commented on #1455
@ianserlin I really like the plugin idea! We've just introduced the community plugin repository (https://github.com/serverless/community-plugins) and are looking for contributions there!

[2016-08-16 04:58] nicka commented on #1722
Perfect!!!

Verstuurd vanaf mijn iPhone

[2016-08-16 05:53] Christoph-Schabert commented on #1801
Simply put a depends on for the nested resource stack for the api gateway.

Then the nested resource stack deploy before the functions are deployed.
After that it is possible to get the output of the nested stack with GetAtt from the resource.

An alternative approach is to split the  stacks  completely.  So that the service stack just deploy the api gateway, lambda functions and policies.

And th

[2016-08-16 08:36] #1496 closed

[2016-08-16 08:38] flomotlik commented on #1801
Sorry I wasn't clear in my question. As you can already use Ref inside a Stack to reference other elements I'm not clear how embedding the stacks and then accessing the Output Variables helps there? What use cases would this make possible that aren't currently possible?

[2016-08-16 08:38] #1833 closed

[2016-08-16 10:53] sscarduzio commented on #643
How to do this in serverless 1.x ?

[2016-08-16 12:01] lexakozakov opened #1871 "Are Serverless docs up to date?"
Hello,

Is Serverless documentation up to date? I've managed to install the lib and create a new project from nodejs template. It works.

I've started to read docs from http://docs.serverless.com/v0.5.0/docs and no one command works. I did't find any "s-project.json" file into the project as well.

Could you please share any link with full documentation and examples?

Thank you so much.

[2016-08-16 12:36] nickchisiu commented on #1869
I suggest having a persistent UUID ( v4 or v5 ) for every function on serverless.yml , this can be added automatically when a new template it's created as :

[code]

And for the current function the resource id can be constructed as :

 S3 Event - `123e4567-e89b-12d3-a456-426655440000-Resource-S3`
 SNS Event - `123e4567-e89b-12d3-a456-426655440000-Resource-SNS`
 API Gateway Event - `123e4567-e89b-

[2016-08-16 12:55] lexakozakov commented on #1871
@pouledodue You are right. I've installed Serverless beta version. Where could I find the docs (except [that one](https://github.com/serverless/serverless#documentation))?

I need to create an Authorizer function to integrate Amazon Cognito user Pool with Api Gateway. And I'm not aware how/where to create a new Custom Authorizer in API Gateway.

Any help and example is deeply appreciated.

[2016-08-16 13:02] pmuilu opened #1872 "Validate/fix file permissions when creating deployment zip"
##### Feature Request:

We had a weird problem today which caused one Python module import to fail. Basically what we got was "Unable to import module 'handler': No module named 'hooks'" -error.

'hooks' module definitely was inside the deployment package and locally all tests passed.

After some furious debugging, it seems that all the .py files should have a+r file permission or otherwise import

[2016-08-16 13:28] pouledodue commented on #1871
for fast answer you may ask on the gitter channel

[2016-08-16 13:42] chris-olszewski commented on #1871
@lexakozakov the docs currently reside on Github [here](https://github.com/serverless/serverless/tree/master/docs) and then in different plugin directories e.g. [here](https://github.com/serverless/serverless/tree/master/lib/plugins/deploy)

[2016-08-16 13:52] pmuens commented on #1872
Hey @pmuilu thanks for reporting!

This issue might be related to: https://github.com/serverless/serverless/issues/1860, https://github.com/serverless/serverless/pull/1857 and https://github.com/serverless/serverless/pull/1863

[2016-08-16 14:26] nicka commented on #1869
I have the feeling that we're making it harder than it actually is. What's the issue with renaming methods and having new resources created and old ones removed? CF is pretty good at this.

### Let's think about the use case:
From the UX point of view users want to create multiple endpoints/events/triggers and don't care about the naming/renaming. The only issue would be when they wan't to overwri

[2016-08-16 14:32] olegZastavnyi commented on #1816
@pmuens is it possible to change properties (Event) in existing bucket by using serverless ?

[2016-08-16 14:35] gergderkson opened #1873 "Support for filterRules in S3 events for v1 ?"
Is it possible to include filterRules in S3 events so we can specify suffix/prefix like we could in v0?

The docs for this feature in v0:
[code]

[2016-08-16 14:36] thenikso commented on #1618
Ok here is another (hypothetical) senario using API gateway:

I have various teams creating microservices. We decided that private resources will have a `/user/<name>` prefix so:

- one team will develop the foo project and use URLs like `/user/<name>/foo/<id>`
- another team will develop the bar with URLs like `/user/<name>/bar/<id>`

Those project will eventually have a different API Gateway hos

[2016-08-16 15:23] nickchisiu commented on #1869
@nicka it seems that CF don't always create/update resources prior to removing them , see issue #1828 . `users-all` from your example can easily transform later in `public-users-all` when a new event like  `private-users-all` it's added and you want to delimitate users in different categories .
Actually we are talking about renaming possibility which it's really a trivial feature on other framewor

[2016-08-16 15:39] thenikso commented on #1593
My use case would be having a lambda generate a `text/html` page. I ended up creating the lambda in the aws web console to test if it was even possible at all (and it is).

[2016-08-16 15:42] nicka commented on #1869
@nickchisiu hmm that sucks, makes sense because of the paths. However UUID's feel a bit overly complex. Becomes a bit enoying if you have to look them up with lots of events that need manual configuration.

[2016-08-16 16:23] pouledodue commented on #1593
+1 to add the `text/html` functionnality to beta2

[2016-08-16 16:50] #1714 closed

[2016-08-16 16:56] pmuens commented on #1816
@olegZastavnyi You can attach an existing bucket through overwriting by using the custom resources section. The PR https://github.com/serverless/serverless/pull/1844 was merged today and will be released in the Beta.2.

However we're also about to improve the overall event syntax and support for those cases.

[2016-08-16 16:58] nickchisiu commented on #1869
yes , maybe a better solution would be that serverless to automatically add missing uuids into serverless.yml events

[2016-08-16 18:49] flomotlik commented on #1722
This is now started here with a README: https://github.com/serverless/community-plugins

[2016-08-16 18:49] #1722 closed

[2016-08-16 18:55] pmuens commented on #1459
Done with full merging support (corresponding PR is: https://github.com/serverless/serverless/pull/1844)

[2016-08-16 18:55] #1459 closed

[2016-08-16 18:55] #1480 closed

[2016-08-16 19:14] seanohollaren commented on #1593
+1 for the ability to specify integration response status code patterns in the serverless function yml.

[2016-08-16 20:05] nicka commented on #1869
@nickchisiu after thinking about it, my **Proposal 1 ** would work since it's based on the http path and method. Renaming the function wouldn't impact the APIGW resources. It would only update to the new renamed Lambda function. Off-course this logic might no be as straight forward for other event types. What do you think?

[2016-08-16 20:27] gmadole opened #1876 "NPM dependency aws-sdk@2.5.0 causing deployment error"
The latest npm aws-sdk (v2.5.0) is causing errors when deploying.
If I go back to v2.4.x everything works as expected.

##### Serverless Framework Version:
1.0.0-beta.1

##### Operating System:
OSX

##### Expected Behavior:
To deploy to CF

##### Actual Behavior:
Fails to deploy to CF

CF shows
Status: CREATE_FAILED
Type: AWS::Lambda::Function
Status reason: Error occurred while GetObject. S3 Erro

[2016-08-16 21:44] Savalas opened #1877 "No Such Bucket"
I am getting this error after attempting to sls deploy:

No Such Bucket -----------------------------------------

     The specified bucket does not exist

     For debugging logs, run again after setting SLS_DEBUG env var.

  Stack Trace --------------------------------------------

NoSuchBucket: The specified bucket does not exist
    at Request.extractError (/usr/local/lib/node_modules/serverl

[2016-08-17 04:49] pmuens opened #1878 "noDeploy errors when stack is not yet deployed"
Serverless errors out when one runs `serverless deploy --noDeploy` without deploying a stack to AWS beforehand.

[2016-08-17 05:07] nickchisiu commented on #1869
@nicka I already pushed a fix which it's doing your `Proposal 1` https://github.com/serverless/serverless/pull/1859 a few days ago but @flomotlik mentioned like you did that it's not solving the other events types ( s3, sns ... ) issues when you're changing the function name

[2016-08-17 06:48] pmuens commented on #1232
Already implemented in the current system.

Will be even more accessible once https://github.com/serverless/serverless/pull/1834 is merged.

[2016-08-17 06:48] #1232 closed

[2016-08-17 06:50] pmuens commented on #1627
Closing this one as the discussion happens in https://github.com/serverless/serverless/issues/1869

[2016-08-17 06:50] #1627 closed

[2016-08-17 06:54] pmuens commented on #1487
A commented out section in the `serverless.yml` file was added which outlines what one can configure.

The `defaults` section will be deprecated soon as the new variable system (see https://github.com/serverless/serverless/pull/1834) will make configuring things easer.

[2016-08-17 06:54] #1487 closed

[2016-08-17 06:54] pmuens commented on #1467
The new variable system (https://github.com/serverless/serverless/pull/1834) makes the whole `serverless.env.yml` file obsolete.

[2016-08-17 06:54] #1467 closed

[2016-08-17 06:55] pmuens commented on #1412
Integration tests are now available in our https://github.com/serverless/integration-test-suite

[2016-08-17 06:55] #1412 closed

[2016-08-17 07:40] olegZastavnyi commented on #1816
@pmuens  I need to have it now, no time for waiting release. Any other options ?

[2016-08-17 07:42] flomotlik commented on #1717
Yup I definitely like this feature. Its something that has come up before. I don't know if we have the time to implement it ourselves any time soon though, but I'll add the help-wanted label

[2016-08-17 08:05] pmuens opened #1880 "Wrong CloudFormation template when using noDeploy option"
The generated CloudFormation template is wrong / not completely captured when using the `noDeploy` option. This is because it prints out the `serverless.sercice.resources` section and not the recently added `serverless.service.provider.compiledCloudFormation` property.

[2016-08-17 08:40] sdruipeng commented on #1877
I got the same issue.

I just run serverless create --template aws-nodejs and run serverless deploy.
I tried more than 5 times, every time  I got the Bucket error report

F:\LinkIt\aws\my-first-service>serverless deploy
Serverless: Zipping service...

  Serverless Error ---------------------------------------

     The specified bucket does not exist

  Get Support --------------------------------

[2016-08-17 08:43] pmuens commented on #1816
@olegZastavnyi the Beta 2 was released a few hours ago you can update Serverless and should have everything in place I described above.

[2016-08-17 08:52] pmuens commented on #1878
This error is shown because of the `info` plugin which tries to display information about the deployed stack (but `noDeploy` prevents deployment).

[2016-08-17 09:17] sdruipeng commented on #1853
**@ pmuens
@ flomotlik

Thank you for you information.**
I checked my IAM user again, making sure that it all conforms to the instructions described at provider-account-setup.md. *But I got the error as follows again.*

By the way, I have developed a website based on S3 and react/redux, I am planning to use the serverless to do the Login for my website. Yet, I got stuck from the very beginning at

[2016-08-17 09:38] ac360 commented on #1818
@pmuens Just ran into this issue again w/ first deployment using V.1 BETA.2.  It error'ed with no info.  2nd deployment error'ed again with the message `undefined`.  Definitely would like to see this in Beta.3

[2016-08-17 09:43] pmuens commented on #1192
Resolved with https://github.com/serverless/serverless/pull/1882

[2016-08-17 09:43] #1192 closed

[2016-08-17 09:47] pmuens commented on #1818
@ac360 yes, just added it to the beta.3 milestone. Have you deployed a fresh new service? What was your CloudFormation error (was it Serverless related)?

[2016-08-17 10:18] codepreneur opened #1883 "1.0.0-beta.2 makes it impossible to enable CORS on an existing endpoint (which previously had CORS enabled manually)"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

to enable CORS

##### Actual Behavior:

Since CORS support finally came out in beta I thought I am going to switch from manually enabled CORS to `serverless` enabled cors.

So naturally, I wen

[2016-08-17 10:35] olegZastavnyi commented on #1816
@pmuens Could you please provide some detailed description how to update existing s3 bucket(created by other system) for sqs notification by using "custom resources" section ?

[2016-08-17 10:42] codepreneur commented on #1883
Closing.

[2016-08-17 11:24] mthenw opened #1884 "--noDeploy -> serverless package"
##### TLDR:

Rename `serverless deploy --noDeploy` to `serverless package` or `serverless artifact`

##### Discussion:

I see great value in that feature. I think it should be separate command because right now it's not intuitive, it's confusing and `serverless deploy --noDeploy` is just weird.

It's not important but definitely something that IMHO should be solved before stable v1.0.

[2016-08-17 11:28] nicka commented on #1884
👍 specifying both `deploy` and `noDeploy` in one command could be confusing.

[2016-08-17 11:41] pmuens commented on #1884
@mthenw @nicka thanks for kick-starting the discussion. I would also like to keep everything in one plugin which implements the `noDeploy` functionality.

However this means that we might need to introduce new lifecycles. Furthermore this could be way too complex to get this `artifact` or `package` plugin implementation up and running (as @flomotlik pointed out).

Renaming the option might be an o

[2016-08-17 11:44] pmuens commented on #1816
@olegZastavnyi You can add "normal" CloudFormation definitions (such as `Resources` or `Outputs`) to the `resources` section in the `serverless.yml` file. This way you can add your S3 bucket and SQS definition.

This documentation shows you how you can do it: https://github.com/serverless/serverless/blob/master/docs/guide/custom-provider-resources.md#adding-custom-provider-resources

There's also

[2016-08-17 12:35] flomotlik commented on #1884
The problem with adding a separate command is that it just doesn't reflect the whole deployment workflow. At the moment the way the lifecycle and plugin system works we could not guarantee that a package plugin would run all the same plugins a deploy plugin runs. This could mean events aren't compiled or other custom plugins aren't run.

As we're not just zipping up the local folder but also want

[2016-08-17 12:36] flomotlik commented on #1877
@Savalas @sdruipeng could you let us know what Cloudformation is saying? Especially the Events part and where its failing. Is it possible that you are not able to add the bucket for some reason due to the rights?

[2016-08-17 12:38] flomotlik commented on #1876
@gmadole thanks for reporting. Did you define the dependency in a shrink-wrap file? What is the events that Cloudformation is showing as failing?

[2016-08-17 12:40] flomotlik opened #1885 "Show failed Events from Cloudformation deployment if deployment fails"
Feature Request:

Benefits:

* Making it easier for users to see what is the specific issue that happens
* Allowing us to get better bug reports as people can directly post the issues

##### Drawbacks:

* Makes the error log longer

[2016-08-17 12:41] nicka commented on #1884
@flomotlik good point regarding the lifecycle hooks! What about something with the word `compile` in it?

[2016-08-17 12:45] nicka commented on #1885
As talked about in #1818.

Can't we just tail the CloudFormation deployment events during the deployment? With some nice `chalk` colors like the AWS CloudFormation console shows it for `CREATE_IN_PROGRESS`, `UPDATE_IN_PROGRESS`, `DELETE_IN_PROGRESS`, etc. Would totally skip the need to have the AWS console open.

[2016-08-17 12:45] flomotlik commented on #1884
Compile captures some parts of what is happening during deploy, but not everything. I don't think we can use a word that describes what happens, but we have to use something that describes what doesn't happen, e.g. noDeploy. Anything like compile, build, ... doesn't cover everything that could be potentially happening.

The other important thing to note here as well is that with noDeploy we also k

[2016-08-17 12:46] flomotlik commented on #1885
Missed that one. Duplicate of #1818 so closing

[2016-08-17 12:46] #1885 closed

[2016-08-17 12:51] flomotlik commented on #1818
Yes super important feature, this is a very obvious UX improvement for people. Should definitely be in Beta 3. If somebody picks it up even better, if not we're going to do it ourselves

[2016-08-17 12:55] nicka commented on #1884
I know we talked about separate `build|compile` and `deploy` command before. But the following might be possible.

**Example:**
 - `build|compile` It's responsibility is to create the archives and the CF template
 - `deploy` It's responsibility is to deploy(upload archives and trigger CF). If no archives or templates are present in runs the `build or compile`, or it could always start with doing t

[2016-08-17 12:57] gmadole commented on #1876
@flomotlik I just tried reproducing again but this time had no issues...strange.  Maybe this is a non-issue.  I wish I kept the shrinkwrap file from earlier.

For what its worth, this is the CF error:
<img width="1053" alt="screen shot 2016-08-17 at 7 52 05 am" src="https://cloud.githubusercontent.com/assets/518019/17736852/9613e9bc-644f-11e6-8d2a-dab6f10d5fce.png">
When the deployments failed wha