[2021-03-18 10:50] medikoo commented on #7036
@RichardBradley that's a very good points

it's reference of all configuration options. So this configuration as a whole cannot be used. Still I agree that it could be stated here, that setting applies only to API Gateway as created with a stack

I fully agree, I've created a request to improve that: https://github.com/serverless/serverless/issues/9139

[2021-03-18 10:52] medikoo commented on #8395
It will be soon: https://github.com/serverless/serverless/issues/9005

[2021-03-18 10:56] FergusMcGlynn commented on #8395
@zachwhaley The workaround that I used was to incorporate an environment variable holding the `AWS_ACCOUNT_ID` and include that in the `cfnRole` value:
[code]
Therefore I need to ensure that I've set that environment variable whenever I deploy.

(As an aside, for local development I have defined this environment var in my `.bashrc` file so that I don't have to remember to set it, and for productio

[2021-03-18 11:02] birsi commented on #9101
Hey all! A quick update from our investigation so far: We could boil it down to `asdf`. When working with `npm 7` in conjunction with `asdf`, the issue is reproducible. (It works with `npm 6` though.)

I updated the _reproduction scenario_ in my initial description. Not sure how we should move forward from here, but the two options we see for us in our environment are now:

1) sticking to `asdf` a

[2021-03-18 11:19] medikoo commented on #9101
@birsi and do you understand where you get `.serverless/serverless-starter/node_modules` from ? It's not created when packaging service as in your example, while you're stating that this directory is created (this facts do not match up)

[2021-03-18 11:41] emilpaw commented on #9138
Oh sorry, I have overlooked it. I edited my issue.

[2021-03-18 11:48] pgrzesik commented on #9138
Thank you :bow: There's a warning being emitted that points to invalid configuration:
[code]

I believe that the event definition is incorrect there as it misses proper indentation:

[code]

Could you please check if that's what is causing the issue here?

[2021-03-18 12:00] jolivaSan commented on #9114
Hi @pgrzesik we are using an EC2 instance in AWS that has assigned an iam instance profile, basically we are implementing [this approach](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html), I'm reviewing our config and in the role using for the ec2 instance we have a "Maximum session duration
1 hour" but as we use managed account i'm asking to support team if they

[2021-03-18 12:09] birsi commented on #9101
Yes, thank you and sorry that information was confusing. It was only about the unzipped `serverless-starter/.serverless/serverless-starter.zip` --> `.serverless/serverless-starter/node_modules` to compare it to the unzipped `node_modules` and show that they result in the same size without any exclusions. I hope this clears it up a bit.

[2021-03-18 12:21] emilpaw commented on #9138
I tried it like you suggested and now the output is:
[code]

[2021-03-18 12:23] medikoo commented on #9101
It'll be good to coin, what exactly is responsible for reproducing the issue.

Fix on our side, was simply about adding [`--all`](https://github.com/serverless/serverless/pull/8505/files) param to `npm` command. Is it that `npm` behaves differently in env as setup by `asdf`?

Anyway, it's important to note that this issue will definitely be gone once https://github.com/serverless/serverless/issues

[2021-03-18 12:31] pgrzesik commented on #9138
The configuration in this case is incomplete as you're missing either `CustomOriginConfig` or `S3OriginConfig` in `origin` - please refer to the documentation for specific details: https://www.serverless.com/framework/docs/providers/aws/events/cloudfront/

Additionally, you have to deploy to `us-east-1` region.

Do you think like there's a bug in Framework itself? If not, these types of questions

[2021-03-18 12:33] pgrzesik commented on #9101
I think this issue might be related to the one I'm currently investigating: https://github.com/serverless/serverless/issues/9134

So far I've discovered an unexpected behavior of `npm ls` when `NODE_ENV=production` is present and `dev/prod` flags are involved. Do you happen to know if `asdf` is setting `NODE_ENV` to some specific value?

[2021-03-18 12:35] pgrzesik commented on #9134
Hello @ryands17 :wave: Thanks a lot for reporting your issue and sorry you've run into trouble. Internally we're using `npm ls` command to determine the list of packages for exclusion, however, I've noticed a weird behavior of `npm ls` when `dev/prod` flags are used together with `NODE_ENV` - as a workaround, is `NODE_ENV=production` required in your case? Does it also happen if you don't set it?

[2021-03-18 12:59] ryands17 commented on #9134
`NODE_ENV` production is required in my use case for the Lambda, so currently I am using `dotenv` and an `.env` file as a workaround :)

It bundles it totally fine if `NODE_ENV` is not set. Only setting it to `production` causes an issue.

[2021-03-18 13:13] emilpaw commented on #9138
Oh, changing to `us-east-1` is a problem since I mostly use eu-central-1 in this stack.

Yeah it's  not. I saw your "no questions in git" policy after I have written my issue. Sorry for that.

Thanks anyways.

[2021-03-18 13:13] laurynas-karvelis opened #9141 "Using `variablesResolutionMode: 20210219` prevents loading external configuration files outside of service folder"
Hello,
First of all I wanted to thank everyone involved creating such a great tool!

After upgrading to the latest serverless version `2.30.3` and applying `variablesResolutionMode: 20210219` to service `serverless.yml` in preparation for `serverless@v3` causes `serverless offline` and `serverless deploy` invocations to throw following error(s) when trying to load configuration files sourced **out

[2021-03-18 13:16] pgrzesik commented on #9138
No worries @emilpaw - also it wasn't really obvious if there's a bug in framework or in configuration so it's also fine to post here if you're not sure :+1:

As for `us-east-1` - this is limitation of `Lambda@Edge` - it has to be deployed to `us-east-1`.

[2021-03-18 13:21] emilpaw commented on #9138
One last question if I might ask: Is it at all possible to use Lambda@Edge in the same serverless deployment with services which are not in eu-central-1? I only see the option to seperate CloudFront and Lambda@Edge into different deployments.

[2021-03-18 13:30] pgrzesik commented on #9138
If all of your other services are not in `us-east-1` I believe you have no option but to go with two separate deployments

[2021-03-18 13:33] liegeandlief commented on #8592
I am also seeing this issue on Serverless version `2.30.3`. The authorizer does not get removed from AWS when removed from the Serverless config. This also seems to happen for CORS settings. When `provider.httpApi.cors` is set to `true` the CORS settings in API Gateway are set as expected. But then setting `provider.httpApi.cors` to `false` or removing it from the config completely does not remove

[2021-03-18 13:40] medikoo commented on #9141
@laurynas-karvelis great thanks for report!

Can we consider this as duplicate of https://github.com/serverless/serverless/issues/9095 ?

[2021-03-18 13:41] emilpaw commented on #9138
Too bad. Thank you very much.

[2021-03-18 13:41] #9138 closed

[2021-03-18 13:43] medikoo commented on #8364
@neverendingqs experience with JS function resolvers should be improved with next version, as we've just merged this: https://github.com/serverless/serverless/pull/9140

[2021-03-18 13:50] mwillbanks commented on #8592
So, I didn't get anywhere at all with AWS as is typical with their support. Instead I just literally removed the function and added the function back.

[2021-03-18 14:09] laurynas-karvelis commented on #9141
By looking at the ticket you linked it is indeed the same issue. Thanks for such quick response @medikoo!

[2021-03-18 14:10] medikoo commented on #9141
Thanks for confirmation.

I'm closing this as duplicate then

[2021-03-18 14:10] #9141 closed

[2021-03-18 14:31] vbudilov opened #9143 "Support for OCI (Oracle Cloud Infrastructure) Functions"
Is there a plan to support the OCI Functions by the serverless framework? OCI uses the open-source FN project and I know that Serverless already supports it, but it doesn't support the required resource provisioning that it does with AWS, Azure, etc.

[2021-03-18 14:32] liegeandlief commented on #8592
This issue seems to be more than just removing authorizers and CORS settings. Having removed both of these things manually because Serverless was not doing it, I then tried adding them back using Serverless. This also failed to work. Serverless reported that the update was successful but the CORS settings and authorizer had not actually been applied.

[2021-03-18 14:38] pgrzesik commented on #9143
Hello @vbudilov - at the moment there are no plans for such support, but we're open for a community contribution with a plugin that adds such support

[2021-03-18 15:01] #9134 closed

[2021-03-18 15:02] pgrzesik commented on #9134
Fix will be released with the next release which will most likely be out early next week - I've confirmed locally on your example that it should work without issues. Thanks for bringing this to our attention @ryands17 :bow:

[2021-03-18 15:07] neverendingqs commented on #8364
Thanks!

it looks like `dotenv` is loaded after variable resolution is attempted:

* https://github.com/serverless/serverless/blob/ee01833df80db8bc751f8248f49944738606393f/scripts/serverless.js#L151-L166
* https://github.com/serverless/serverless/blob/ee01833df80db8bc751f8248f49944738606393f/scripts/serverless.js#L232-L233

Is this because we need to resolve `useDotenv` first before we can determi

[2021-03-18 15:12] medikoo commented on #8364
Yes, and we need to resolve _stage_ (which depends on `provider.stage`) to be able to determine eventual `.env.<stage>` filename.

Why? What exactly problem will it solve? Note that `.env` won't, override already set environment variables, so it's safe to resolve those already found in environment.

[2021-03-18 15:24] vladimirveselov commented on #9136
Hi Piotr! Thank you for the fast response.

See Serverless Framework documentation: https://www.serverless.com/framework/docs/providers/aws/events/apigateway#configuring-endpoint-types

AWS documentation:

https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-private-api-test-invoke-url.html#apigateway-private-api-route53-alias

Thank you!
Vladimir

[2021-03-18 15:33] ankon commented on #6182
We're also using stack policies to protect critical resources (DynamoDB tables, bucket, and user pools).

Putting it into `serverless.yml` feels odd: If this is temporary, for the time of deploying, I would expect this to be a parameter given on the command line: `serverless deploy --update-policy /path/to/policy.json` (or provide it directly as a body).

[2021-03-18 15:46] neverendingqs commented on #8364
Using the below as an example:

[code]

If `ALLOWED_PRINCIPALS` is never set in the system and only defined in `dotenv` we will always return

[code]

today. This means we can't use different `.env.{stage}` files to set different `ALLOWED_PRINCIPALS` values.

Note: this is just a use case I would be interested in, but totally understandable if it's not one that will be supported.

[2021-03-18 16:10] medikoo commented on #8364
@neverendingqs with next release JS function resolver will be invoked before `.env` files are loaded __only__ if it plays part in resolution of either `provider.stage` or `useDotenv` properties. Otherwise it'll invoked after `.env` files are loaded. Just that I believe will fix you're use case

And in case JS function resolver plays part of resolution of `provider.stage` or `useDotenv` then obviou

[2021-03-18 16:36] kmjennison commented on #6182
@ankon I agree. Since I opened this issue, we've been handling this manually by updating the stack policy via API before a deploy, which feels more in line with the goal of making only intentional changes. The stack policy then reverts during deploy to the one in `serverless.yml`. One downside is that this requires knowing when the stack-modifying deploy will run (it works for our small team but m

[2021-03-18 18:23] ankon opened #9144 "`serverless deploy` fails for errors in cleanup state"
I'm using `serverless deploy` to deploy my stack. The command eventually reports an error:

[code]

Looking at the stack itself though: This is "misleading", the error in happened in the cleanup phase and the stack will actually transition to "UPDATE_COMPLETE".
The trimmed relevant stack events look like this (read from the bottom):

[code]

<b>Installed version</b>

[code]

Note: I'm aware that t

[2021-03-19 07:47] AndreasAugustin opened #9146 "sls deploy error with serverless version 2.30.* when using https_proxy"
## update

Small test revealed that `npx serverless deploy` is not working anymore using a `https_proxy`.
The reason: `https-proxy-agent` is not supporting the `WHATWG URL` as constructor parameter. Details please scroll down within this issue description to the `edit` section.

## Original comment
Original issue title:  `The “options” or “port” or “path” argument must be specified when using http

[2021-03-19 07:49] AndreasAugustin commented on #9146
Think I found the root cause.
Workaround: pin the serverless version to 2.29.0.
With latest releases a new file [lib/aws/request.js](https://github.com/serverless/serverless/compare/v2.29.0...v2.30.0#diff-53bd04d8d8329cd036c09761a906e0cc5efaa64a4c371b9b6db52b85afdabd38)
was introduced.
Inside those changes `URL` is used not [url](https://www.npmjs.com/package/url) anymore.
The `url.parse` command

[2021-03-19 08:09] medikoo commented on #9146
@AndreasAugustin This looks as an issue in one of the plugins you're using and not Serverless. Can you confirm you get similar error with no plugins involved (?)

[2021-03-19 08:13] AndreasAugustin commented on #9146
@medikooI I will do that, yes. Sorry that I haven't done this before.

[2021-03-19 08:17] medikoo commented on #9146
@AndreasAugustin can you explain in more detail the problem. What entity exactly relies on `path` property? Can you provide a direct link to code line where this dependency occurs

[2021-03-19 08:46] AndreasAugustin commented on #9146
Confirmed that it is *not* a plugin issue.
Wrote a small test stack:

[code]

## Command:

[code]

### Output

[code]

Serverless version is within the output.
Without proxy: everything works fine. With set proxy: above error occurs.

Could also be an issue with the proxy itself, but downgrading the serverless version to ` 2.27.1` is working with the proxy.

[2021-03-19 08:59] medikoo commented on #9146
@AndreasAugustin I understand that to reproduce the problem, also `HTTPS_PROXY` env var needs to be set right?

I still miss information what entity exactly crashes on missing `path`. Can you show the full deploy output but with `SLS_DEBUG=*` on, so we can see full stack trace for the error

[2021-03-19 09:06] AndreasAugustin commented on #9146
yes, exported `https_proxy` environment variable.

*output* with `debug` set to `*` (not sure if this helps a lot 😿 )

[code]

[2021-03-19 09:08] AndreasAugustin commented on #9146
I am kind of sure that the error occurs within one of the dependencies.
my guess:
[https-proxy-agent](https://www.npmjs.com/package/https-proxy-agent) using internally `url.parse`.
But I did not fully check the dependency paths.

[2021-03-19 09:47] pgrzesik commented on #9144
Hello @ankon, thanks for reporting. Are you able to provide a minimal reproducible example of this issue? I'd love to reproduce it and investigate further and that would provide tremendous help with that.

[2021-03-19 10:23] walery commented on #7895
Thank you for taking care and actively mentioning my issue. And sorry for the late response...

I'll take a look at the new way of resolution and give feedback. It might take few days, but this is now on my active TODO list.

[2021-03-19 10:43] medikoo commented on #9146
@AndreasAugustin interestingly I'm still not able to reproduce it. I use `HTTPS_PROXY` variable with service as in your example and deployment finalizes without issues.

Can you run deployment against Framework that comes with  patch as proposed in this PR: https://github.com/serverless/serverless/pull/9148 (?) This will fully expose the stack trace of error that happens (I still have no idea wher

[2021-03-19 11:14] skjortan23 commented on #2973
I am having the same issue.

my security groups exists and its still failing.

[2021-03-19 11:29] dnlsyfq commented on #2973
@skjortan23 u need to include the default security group as well . both default and custom SG need to included in my case .

[2021-03-19 11:35] pgrzesik commented on #2973
Hello @skjortan23 :wave: What Serverless Framework version are you using?

[2021-03-19 11:37] skjortan23 commented on #2973
% serverless --version
Framework Core: 1.67.0
Plugin: 3.6.1
SDK: 2.3.0
Components: 2.22.3

[2021-03-19 11:46] skjortan23 commented on #2973
Hm no luck tried with adding the default group as well. not finding that one either...
and the regions seems right since the error log is in the right region.
`Serverless: Operation failed!
Serverless: View the full error output: https://us-east-2.console.aws.amazon.com/cloudformation/home?region=us-east-2#`

[2021-03-19 12:45] pgrzesik commented on #2973
Thank you - it's a bit outdated version - do you have the ability to upgrade to the latest version? It would help us diagnose if it wasn't fixed in the meantime. You can also provide a minimal reporoducible example - I'll be happy to test it out on my side and see if I'm running into the same issue.

[2021-03-19 13:01] WolfWalter opened #9149 "Plugin construction documentation is misleading"
My servereless.yml file has mix of external plugins like serverless-webpack and local plugins like "./lib/serverless/plugins/check-stage-name". Since the version 2.30.0 the external plugins do not get executed when there are also local plugins. When I remove the local plugins it works. I was able to fix the issue by reverting the commit a9a48f675e8695dc3b795218d0eb23553c33f9d8

<details>
<summary>

[2021-03-19 13:06] medikoo commented on #9149
@WolfWalter can you prepare a full working reproduction case, which I can run on my side locally ?

To fully reproduce that we need to know what do the local plugins do, and above report is silent on that.

[2021-03-19 13:23] WolfWalter commented on #9149
Even if the custom plugin does nothing the issue still persists. I replaces the content of the custom plugin with your example code from https://www.serverless.com/framework/docs/providers/aws/guide/plugins/ and still got the described behavior.

[code]

[2021-03-19 13:29] WolfWalter commented on #9149
I'll try to build a reproducible case.

[2021-03-19 13:33] arslanalidev opened #9150 "Error: Cannot find module 'please-upgrade-node' in serverless offline."
I am facing this below error while I am trying to run the serverless offline.
Error ---------------------------------------------------

  Error: Cannot find module 'please-upgrade-node'
  Require stack:
  - C:\Users\Arslan Titan\AppData\Roaming\npm\node_modules\serverless-offline\dist\checkEngine.js
  - C:\Users\Arslan Titan\AppData\Roaming\npm\node_modules\serverless-offline\dist\index.js
  - C:

[2021-03-19 13:40] medikoo commented on #9150
Please report at `serverless offline`

[2021-03-19 13:41] arslanalidev commented on #9150
ok Done

[2021-03-19 13:51] WolfWalter commented on #9149
@medikoo here it is: https://github.com/WolfWalter/serverless-plugins-issue

setup: yarn
run with: yarn sls deploy

Only if you remove `- ./custom-plugin` from the serverless.yml file  or use a serverless version < 2.30.0 the webpack plugin will execute.

[2021-03-19 15:37] AndreasAugustin commented on #9146
@medikoo sorry for late response, was busy with some other tasks.
Nice, now there is a more detailed stack trace:

[code]

[2021-03-19 16:01] AndreasAugustin commented on #9146
@medikoo
Small test to reproduce (without any other dependencies involved then `aws-sdk` and `URL` and `https-proxy-agent`):.
I think this prooves my guess that the issue is the use  of `URL` instead of `url` in combination with `https-proxy-agent`.
Below you can find a small test with (further down) the solution.
Following #9147 should fix the issue.

[code]

Output:

[code]

When I change it to

[2021-03-19 17:30] medikoo commented on #9149
@WolfWalter Great thanks for further details. I can see it now.

What's actually wrong on our side is documentation, which provides you with invalid example.

Before recent patch (published with v2.30.0), the way it worked, is that  blind `_.merge` was done on both command configurations, and that introduced a lot of errors (this patch was introduced to fix it).

One of the errors was merging of `

[2021-03-19 17:49] medikoo commented on #9146
@AndreasAugustin do you observe same issue with Node.js v14 ?

[2021-03-19 18:37] lusatiro opened #9153 "Serverless not removing autoscaling on remove"
ServerlessError: An error occurred: XXX - function:xxx-xxx-dev-xxx-xxx:provisioned|lambda:function:ProvisionedConcurrency|lambda already exists.

I am using the plugin https://github.com/neiman-marcus/serverless-provisioned-concurrency-autoscaling for autoscaling.

[2021-03-19 19:23] AndreasAugustin commented on #9146
@medikoo thx for the hint. Indeed it looks like a node15 issue.
Wrote a small test you can find here: https://github.com/AndreasAugustin/sls-bug-proxy

[2021-03-19 19:25] medikoo commented on #9146
@AndreasAugustin can you report it to Node.js repository? It'll be good to coin whether it's a bug on Node.js side, or something we have to adapt to.

Note that on our side we moved away from Node.js deprecated `url.parse` to recommended `new URL`

[2021-03-19 22:13] AndreasAugustin commented on #9146
Found some more details.
https://github.com/nodejs/node/blob/v15.12.0/lib/net.js
There the error `ERR_MISSING_ARGS` was introduced with version `v15.0.0`. Reading the code explains why it is not working with `node15` anymore.

[
![2021-03-19_23-03-1616191492](https://user-images.githubusercontent.com/8027933/111847165-935cac80-8908-11eb-83e0-6b75b177e597.jpg)
![2021-03-19_22-03-1616190951](https:/

[2021-03-20 05:52] OrionSeven commented on #3785
Just ran into this, would be nice if serverless recognized this and did the workaround for you.

[2021-03-20 10:46] dmitrii-esin opened #9154 "serverless-single-page-app-plugin Error: Serverless: Web App Domain: Not Found"
H!
I'm trying to deploy my single page app to AWS by using "serverless-single-page-app-plugin".
Unfortunately I faced with the error: `Serverless: Web App Domain: Not Found Error: Could not extract Web App Domain`
Has anyone encountered similar behavior?
![Capture](https://user-images.githubusercontent.com/8881978/111867049-9eecb980-8982-11eb-948f-c997ba000ca2.JPG)

[2021-03-20 11:16] medikoo commented on #9154
@dmitrii-esin please report at plugin repository

[2021-03-20 14:12] AndreasAugustin commented on #9146
Update: I do not believe it is an issue on `nodejs` side. Small test:

[code]

works as expected. Same like (thats what happen within [https-proxy-agent](https://github.com/TooTallNate/node-https-proxy-agent/blob/master/src/agent.ts))

[code]

So either the issue is within `https-proxy-agent` or within `aws-sdk`.

[2021-03-20 15:01] AndreasAugustin commented on #9146
extracted the `constructor` of the `https-proxy-agent` into a function. Now I am kind of sure that the `https-proxy-agent` is not able to use `URL` as constructor parameter.

[code]

[2021-03-20 22:35] AndreasAugustin commented on #9146
Add a request at [https-proxy-agent](https://github.com/TooTallNate/node-https-proxy-agent/issues/117)

[2021-03-21 01:56] pizzacat83 opened #9155 "The new resolver cannot reference properties of JavaScript variables"
As described in the documentation, the old resolver can resolve properties of JavaScript variables.

[code]

[code]
(https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files)

However, the new resolver treats `schedule.ten` as `module.exports['schedule.ten']`, not `module.exports.schedule.ten`. Thus, it cannot reference properties of exported

[2021-03-21 09:07] WolfWalter commented on #9149
Thanks for the explanation. So is there a official way to hook custom code in the deploy command?

[2021-03-21 10:38] medikoo commented on #9149
Yes, you just need to attach hooks to existing lifecycle events (you don't need to define `deploy` command, that's actually dangerous as you may affect of how original `deploy` command works).

So in your case,  just create `this.hooks = { ... }`  (and remove `this.commands = { ... }`)

[2021-03-21 15:59] hejkerooo opened #9156 "Variables are not being resolved"
[code]

Plugin code:
[code]
`console.log(options.webServiceEndpoint)` prints
[code]

<b>Installed version</b>

[code]

[2021-03-21 20:12] AndreasAugustin commented on #9156
Hi,

hope I understand your question right.
AFAIK the way you declare the variables, they are resolved at `CloudFormation` level and not on `serverless` level.
What you can do is to use something like

[Reference CloudFormation Outputs](https://www.serverless.com/framework/docs/providers/aws/guide/variables/)

[code]

That will read your variables from the `Cloudformation` stack. The problem with

[2021-03-21 20:15] ankon commented on #9144
It's difficult to produce a general reproducing case that is "small". I suspect the best approach would be to create such a situation that I had, probably like this:

1. serverless resources are a userpool and a domain associated with the pool; deploy this.
2. manually remove the domain from the pool via the AWS console/CLI
3. rename the pool resource and deploy again.

The second step is needed I

[2021-03-21 20:45] AndreasAugustin commented on #9146
## summarize of current findings.

It seems that the [https-proxy-agent](https://github.com/TooTallNate/node-https-proxy-agent) is not able to use the [WHATWG URL](https://nodejs.org/api/url.html#url_legacy_urlobject) The problem is likely line `46` within [https-proxy-agent src/agent.ts](https://github.com/TooTallNate/node-https-proxy-agent/blob/master/src/agent.ts)

[code]

The [WHATWG URL](http

[2021-03-21 21:53] hejkerooo commented on #9156
Hi @AndreasAugustin ,

Thank you for your answer. I thought it will become available at serverless level when I will create post-deployment hook.
My question is: Is there any way to get API Gateway ID in this post deployment hook?

[2021-03-22 08:10] AndreasAugustin commented on #9146
@medikoo made a small test with `node14` behind a proxy (using docker image `node:14.16.0-alpine3.13`).
Deploy using a `https_proxy` is not working (as theoretical proven above).
I would suggest to merge #9147 until [issue at https-proxy-agent is implemented](https://github.com/TooTallNate/node-https-proxy-agent/issues/117).
I try to find time and add a PR today.

[2021-03-22 08:44] medikoo commented on #9146
@AndreasAugustin That's great investigation. We'll definitely should go woth #9147 in such case, let me review it

[2021-03-22 08:55] iianev opened #9157 "Enable configuration validation for "$<<" property"
Serverless: Configuration warning at 'provider.environment': unrecognized property '$<<'

This is used by the Serverless Merge Config plugin

https://github.com/CruGlobal/serverless-merge-config

I use it to merge several environment files, I have not found a suitable feature in core framework
Example:

provider:
  environment:
    $<<:
      - ${file(../services.env.yml)}
      - ${file(./diet-tr

[2021-03-22 10:15] pgrzesik commented on #9153
Hello, could you please report this bug in plugin's repostiory as it seems it's not directly related to the Framework itself?

[2021-03-22 10:16] pgrzesik commented on #9155
Thanks for reporting @pizzacat83 :bow: @medikoo Would you be able to take a look at this report?

[2021-03-22 10:29] medikoo opened #9158 "Support Amazon S3 Object Lambda"
### Use case description

Announced at https://aws.amazon.com/blogs/aws/introducing-amazon-s3-object-lambda-use-your-code-to-process-data-as-it-is-being-retrieved-from-s3/

It'll be great to provide a straightforward support for this new functionality

### Proposed solution

_TBA_

/cc @pgrzesik

[2021-03-22 12:13] medikoo commented on #9155
@pizzacat83 great thanks for reporting.

You've actually discovered two issues:
1. Variables function resolver was configured to run resolved functions only if they were found at final target properties. so in your case, resolver was resolving `ten` property on `schedule` function (without invoking it). It'll attempt to invoke function at `ten` property, bu totally ignored the fact that it's `sche

[2021-03-22 12:18] medikoo commented on #9156
@hejkerooo It's only [Servelress variables](https://www.serverless.com/framework/docs/providers/aws/guide/variables/) that we resolve in configuration.

You've use AWS CloudFormation intrinsic functions, and those when put into properties which are passed as is to CF template, are resolved on AWS side. Serverless Framework does not attempt to resolve them (in many cases it's also not possible to r

[2021-03-22 12:23] AndreasAugustin commented on #9156
@hejkerooo reading your use-case maybe you can also get some ideas here (they also reading the api-gw id after deploy the stack):
[serverless-plugin-customdomain custom-resource.js](https://github.com/dougmoscrop/serverless-plugin-custom-domain/blob/master/lib/custom-resource.js)

[2021-03-22 12:31] pgrzesik commented on #9157
Thank you for reporting @iianev - it looks like an issue on the plugin side (missing schema extension) and I see it has already been reported there: https://github.com/CruGlobal/serverless-merge-config/issues/8

I'm going to close this one and let's track this in plugin's repository

[2021-03-22 12:31] #9157 closed

[2021-03-22 12:32] #9155 closed

[2021-03-22 12:39] pgrzesik commented on #9136
Thanks a lot @vladimirveselov for explanation, now I believe I understand this issue a little bit better. It is possible to provide more than one `vpcEndpointIds`, which means there is a possibility that we will have more than one R53 Alias generated (we will have one for each vpc endpoint id). In this case, I believe we potentially could generate additional CF `Outputs` specific for each `vpcEndp

[2021-03-22 12:45] pizzacat83 commented on #9155
Thank you!

[2021-03-22 13:18] #9146 closed

[2021-03-22 15:36] pgrzesik commented on #9114
I believe it should request new session automatically, however, our internal resolution of credentials in Framework might be preventing that in some cases. We currently have a few other issues open related to credentials resolution (https://github.com/serverless/serverless/issues/9091), the above could be addressed as a part of this bigger refactoring I believe.

I've also tried to engineer a simi

[2021-03-22 15:46] fir0j commented on #6152
`events:
  - http:
  4 spaces path:  whatever
  4 spaces method: get
`

[2021-03-22 15:56] pgrzesik commented on #6152
Hello @fir0j - for general support, it is recommended to use our forum (https://forum.serverless.com/) or Slack - additionally, you're using a heavily outdated version of the Framework - I would recommend to update to the latest one. From the diff you're showing, there's no way to diagnose the problem - the best would be to include your `serverless.yml` file

[2021-03-22 16:00] pgrzesik commented on #9144
Thank you @ankon - the case doesn't have to be small, but general steps are okay. Do you have by any chance an sample `serverless.yml` with your use case? From what I understood, you're using some additional plugins, is that correct?

Additionally, if I understand correctly, to reproduce the issue you have to do a manual change of resources from the stack itself?

[2021-03-22 16:42] pgrzesik commented on #9004
Hello @BenLanglois - sorry for dropping the ball on this one :sweat: I've had a few other priorities come up and I didn't manage to properly investigate this one up until now. Thanks a lot for your patience.

I've managed to reproduce that issue and you're totally right - it's caused by an upgrade of `globby`, which depends on `fast-glob` that dropped support for backslashes in it's `v3` release a

[2021-03-22 17:55] medikoo commented on #9099
Closing as addressed on Plugin side. Still we've found that `variables.options` is necessary internally if some plugins for some reason use old variable resolver in their logic. Patch that ensures it's there will be posted shortly

[2021-03-22 17:55] #9099 closed

[2021-03-22 19:12] OndeVai opened #9163 "New variable resolver documentation is vague"
The documentation for the new variables resolver (https://www.serverless.com/framework/docs/providers/aws/guide/variables#exporting-a-function) is lacking clarity.

1) The code sample does not even show a return value. Plus why does the function need to make async calls to the config file?
2) The description below left me super confused:
[code]
3) The other page that references the associated warn

[2021-03-22 19:51] medikoo commented on #9163
@OndeVai thanks for opening that.

Example focuses on showing things that are not obvious. I imagine it's obvious that function is expected to return the resolved value.

Anyway I don't say that example cannot be improved. We'll definitely open for PR's that improves it.

Config properties may be behind variables of which resolution can be async. This function guarantess you'll get the final resol

[2021-03-22 20:57] OndeVai commented on #9163
Hi @medikoo,
Thanks for following up.

I guess the wording of "It supports very same variable syntax" is vague to me. After implementing the new resolver I think that sentence is referring to the syntax when referencing the js file in serverless.yml.

Syntax stayed same, why do you assume is different?

The syntax of the function itself is very different --hence my confusion.

There's some missing

[2021-03-22 22:49] cyclexuxu opened #9165 "failed: Deploy Your Serverless API"
Deployed SST CDK App successfully, but when comes to deploy Serverless API, encountered some issue.
firstly, I ran the "serverless deploy -v" gave me "command not found: serverless" error, then I ran the "npx deploy -v", it gave me the following error:
Error ---------------------------------------------------

  Error: npm ls -prod -json -depth=1 failed with code 1
      at ChildProcess.<anonymous

[2021-03-23 00:33] cyclexuxu commented on #9165
Solved. I think the reason the "serverless deploy -v" didn't work was that I didn't have npm serverless installed locally. I ran the following instead:

npm install serverless --save-dev
node ./node_modules/serverless/bin/serverless deploy -v

and the problem was fixed.

[2021-03-23 00:33] #9165 closed

[2021-03-23 07:00] akzincsystems commented on #4616
What is ETA for resolution of this bug?  It is clearly broken as it doesn't work with the rest of CF functionality and is therefore at best a retarded piece of functionality and at worst, next to useless. And 4 years after initial report and no fix?

For anyone else looking to implement this type of (potentially useful) functionality, take a look at https://github.com/ACloudGuru/serverless-plugin-

[2021-03-23 09:46] jolivaSan commented on #9114
hi @pgrzesik support team just confirm that all role sessions are in "Maximum session duration 1 hour"... but im doing some test and monitoring the EC2 instance for try to understand the error, im also planing update serverless to the latest version, i will let you know the results. Thanks!

[2021-03-23 12:50] medikoo opened #9170 "Disallow local fallback to v3, from context of v2 global version"
### Use case description

With v3 major release, we will strip a lot of internal `Serverless` class logic, that was replicated/moved out during https://github.com/serverless/serverless/issues/8364 refactor.

Hence it'll not be safe to initialize v3 `Serverless` instance in context of v2 version, as it'll lack some functionality not confirmed to be backed up by v2 global.

To ensure it's safe, we n

[2021-03-23 13:11] dogukanolgun commented on #7192
Hi. How do you run puppeteer with serverless framework in 2021. Nothing seems to work

[2021-03-23 13:37] ghostjester commented on #9015
Do we have any news about this issue?

[2021-03-23 13:38] medikoo opened #9172 "Variables: Follow node.js resolution rules when resolving "file" source paths"
### Use case description

In result path that doesn't start with `./` or `../` would be considered to be cross package path.

Such handling will allow more modular configuration handling, and open door for good support for multi-service repositories (backed by Lerna -> https://github.com/serverless/serverless/issues/9095)

### Proposed solution

_TBA_

[2021-03-23 15:30] faucherb94 commented on #8395
A workaround I figured out is, add to the `custom` block:
[code]

then reference this in the function-level settings:
[code]

This raises `unsupported configuration format` warnings during packaging, but it _does_ substitute correctly in the CF template output. Hopefully #9005 will be added soon so this won't have to be used for long.

[2021-03-23 15:46] birsi commented on #9101
Quick update. Just tried `2.31.0 (2021-03-23)` including #9134, but unfortunately no effect and still the same outcome, resulting in no exclusion of the `devDependencies` when using `asdf`.

I'm afraid I can't answer on your question regarding `asdf` and `NODE_ENV` as I could not look into it in more detail yet.

[code]

[2021-03-23 16:09] vladimirveselov commented on #9136
I think additional CF outputs is a good idea.
Is it possible not to allow user override the ServiceEndpoint output?
Check if that output is defined. If not - then generate as is now.
If will be helpful when custom domain names are used.

[2021-03-23 23:13] corydorning53 opened #9173 "Configuration warning: at 'functions.NAME.image': should have property entryPoint when property command is present"
I'm creating a docker image using the following example in the AWS Docs, which defines the `ENTRYPOINT`:
https://docs.aws.amazon.com/lambda/latest/dg/images-create.html#images-create-2

Trying to figure out why I'm getting this warning and if I can ignore it or figure out what I need to do, to get rid of it.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<

[2021-03-24 00:00] BrandonE commented on #1439
I successfully used the instructions on [this article](https://dav009.medium.com/serverless-framework-minimal-iam-role-permissions-ba34bec0154e) after making [these modifications](https://medium.com/@brandman211/thanks-for-this-helpful-article-d30647c53308).

[2021-03-24 00:14] driskell commented on #1439
@BrandonE The modifications made are adding IAM permissions that allow creation of administrator users. So may be defeating the purpose of the original article. It looks like you'd just be able to add a new administrator to serverless.yml and the deployment would still accept it and create that user. I sometimes think it may be more secure to just use the Administrator user, as it's clear what acc

[2021-03-24 00:28] BrandonE commented on #1439
@driskell The additions allow you to manage roles, not manage IAM users, no?

[2021-03-24 02:17] tommedema commented on #8830
@pgrzesik here it says this should be supported on a function level: https://www.serverless.com/framework/docs/providers/aws/guide/functions#maximum-event-age-and-maximum-retry-attempts

any update on this?

[2021-03-24 08:11] pgrzesik commented on #8830
Hello @tommedema - that was a mistake on my part, sorry about that. It's supported both on `stream` event level as well as on function directly in conjunction with destinations.

Are you observing any bugs related to that?

[2021-03-24 08:18] pgrzesik commented on #9173
Hello @corydorning53 :wave: Unfortunatelly, this has been (most likely still is, I didn't check it in a week or so) a limitation in CloudFormation - it has been explained in the docs: https://www.serverless.com/framework/docs/providers/aws/guide/functions/#referencing-container-image-as-a-target

In short, if `entryPoint` won't be supplied while `command` is overridden in config, the `entryPoint`

[2021-03-24 08:43] #8887 closed

[2021-03-24 08:45] pgrzesik commented on #9134
Just FYI - we've released `2.31.0` version that should now correctly exclude dependencies when `NODE_ENV` is set :+1:

[2021-03-24 08:58] driskell commented on #1439
@BrandonE I guess depending on the restrictions put on place on them but I'm not sure it can be restricted sufficiently. With a "*" as Resource for sure it would let you attach the Administrator policy to any role using PutRolePolicy and the IAM user already is able to assume the deployment role. There might be a way around it with permissions boundaries etc but none of that is mentioned in the ar

[2021-03-24 09:28] medikoo commented on #9004
@pgrzesik @BenLanglois Technically we've upgraded `globby` with v2. So this change happened with major release of a Framwork. Ofc omission is that it was not communicated with deprecation at v1. We were not aware of all implications that comes with it.

Technically we're fine to throw, as it's invalid syntax that have no chance of working, but I agree that suddenly throwing maybe harmful. So indee

[2021-03-24 09:47] medikoo commented on #9163
Yes, it refers to that, and that syntax stayed same hence _"It supports very same variable syntax"_

What's different is function _signature_ (arguments it takes). Technically in both case we speak about JS functions, and in that context syntax stayed same.

Anyway we know we have missings in documentation, and that it requires improvements. Currently we're figuring out resources to address that

[2021-03-24 09:50] medikoo commented on #8395
If this format is valid for given property, then it's a bug on a Framework side that it shows such warning. Can you open an issue describing this problem?

Note that from a new major it'll be a crash and not a warning

[2021-03-24 12:14] corydorning53 commented on #9173
I have the following entry point in my `Dockerfile` per the AWS docs and do NOT have the entry point specified in `serverless.yml` and everything works fine:
ENTRYPOINT [ "/usr/local/bin/python", "-m", "awslambdaric" ]

[2021-03-24 12:42] marcelloromani commented on #3958
This worked for me on MacOS:
[code]

[2021-03-24 13:21] himharsh1997 opened #9176 "[Deployment issue - pipeline breaking]Getting EIO error on deployment"

[2021-03-24 15:34] pgrzesik commented on #9176
Hello @himharsh1997 - thanks for reporting. Could you please fill out our standard issue template ideally with reproducible example? The template is visible when you create a new issue. Thanks in advance.

[2021-03-24 16:00] pgrzesik commented on #9173
Thanks for reporting back @corydorning53 - I've just verified on my side as well and it seems like it's no longer a requirement for valid deployments - we will update our validation shortly - thanks once again :bow:

[2021-03-24 16:10] pgrzesik commented on #9004
Thanks @medikoo, so to recap, the next steps here would be:
1. Configure deprecation if someone is using `\` in `include/exclude` globs. Keep in mind that `\\` is a valid escape character notation for micromatch.
2. Improve documentation with highlight what format is supported for `include/exclude` globs.
3. With next major remove deprecation and throw an error if someone is using `\` as separator

[2021-03-24 16:19] medikoo commented on #9004
@pgrzesik As I think of it, I wonder weather we should rather just keep it as warning. Thing is that on linux `\` can be a part of a filename. And while it's edge case to use this character in filename, I think we should not make impossible to write rule against it (If I understand correctly `minimatch` will simply treat `\\` as `\` character that's not a path separator ?)

So in such case I would

[2021-03-24 17:29] spullara opened #9178 "ECR support leaves untagged, unused images in the repository"
ECR images can  be very large (up to 10GB) and keeping them around in the registry over time is a waste.

Either they should be cleaned up after each deploy or you could apply an ECR Lifecycle rule that expires them after 1 day pretty easily.

Example:
`{
  "rules": [
    {
      "rulePriority": 1,
      "description": "Deletes untagged images after 1 day",
      "selection": {
        "tagStatus"

[2021-03-24 17:46] tommedema commented on #8830
@pgrzesik not yet, but from a devX point of view I find it hard to figure out the expected approach here

for example, when I define a SQS trigger, should I also define maximumRetryAttempts on the sqs event level? The documentation is not clear about this. It's also not clear to me if I want different behavior for different events but the maximumRetryAttempts is defined on a function level, should

[2021-03-24 20:13] #9173 closed

[2021-03-24 21:36] spullara commented on #7988
I thought there was a claim in the documentation that if the code didn't change it won't upload new code but I think that only applies if nothing at all changes. I would like it to not update function code whose .zip files didn't change.

[2021-03-25 00:01] cyberfox1 opened #9179 ""Cannot load file from outside of service folder""
What rubbish is this? Whose smart idea was this? Not being able to load files outside of service folder breaks my serverless architecture that uses common var files outside the service files to provide a common baseline of variables.

Why does this software keep going down the drain every release?

[2021-03-25 01:32] Borduhh commented on #8887
Waiting for this to be released. Any idea when a new minor will be cut?

[2021-03-25 05:08] #9176 closed

[2021-03-25 05:13] himharsh1997 opened #9180 "[Deployment(in aws) in bitbucket pipeline using serverless]Error: EIO: i/o error chmod"
⚠️⚠️ REPLACE WITH DESCRIPTION

  Error --------------------------------------------------

  Error: EIO: i/o error, chmod '/folder/company-api/.webpack/getFunction1/node_modules/aws-appsync/node_modules/graphql/module/type/definition.js'

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

  Get Support --------------------------------------------
     Docs:

[2021-03-25 07:52] medikoo commented on #7988
There's another related issue on how to optimize deployments. by reusing exactly same artifacts that were previously uploaded: https://github.com/serverless/serverless/issues/8666

[2021-03-25 07:56] medikoo commented on #9179
@cyberfox1 Are you using Lerna? Can we consider this as duplicate of https://github.com/serverless/serverless/issues/9095 ?

Note that there are many valid (security and portability related) reasons to not allow to reach for files from whatever system path.

[2021-03-25 09:46] pgrzesik commented on #9180
Hello @himharsh1997 - based on the provided information it is really hard to try to reproduce the issue you're having. Could you provide a minimal reproducible example? Additionally, it seems like it might be related to `webpack` plugin and/or the issues with environment in which you're running the deployment.

[2021-03-25 09:47] pgrzesik commented on #8887
Hey @Borduhh - no exact date but I believe that it will be released either this week or at the beginning of next one.

[2021-03-25 10:00] pgrzesik commented on #9178
Hello @spullara - thanks a lot for your proposal. This is actually something that we've heavily considered when bringing support for ECR images, however, there are a few caveats that make it non-trivial to implement, we even had an implementation for such automatic cleanup but decided against including it for now. The biggest hurdle is function versioning - by default, the functions will be versio

[2021-03-25 16:24] pgrzesik commented on #9015
Hello @ghostjester - unfortunately, due to other priorities I wasn't yet able to investigate it further.

[2021-03-25 16:30] pgrzesik commented on #9004
@medikoo That is a great point. I've just validated it and you're right - it's a valid name and as such is correctly supported by `micromatch` that we use internally - so we should not crash on that notation :+1:

[2021-03-25 17:06] pgrzesik commented on #8830
Thanks for the feedback @tommedema :bow: I agree that it's not obvious and definitely could be improved to bring more clarify. The properties on function level apply only to asynchronous invocations (https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html) while the setting for `dynamodb` and `kinesis` applies only for that event type - these events are not using asynchronous invocation

[2021-03-25 17:10] pgrzesik commented on #9136
Check if that output is defined. If not - then generate as is now.
If will be helpful when custom domain names are used.

Just so I understand correctly as I'm not fully sure - do you suggest introducing an option that will allow users to specify a flag that will instruct to generate `ServiceEndpoint` output that takes into account the `vpcEndpointId`?

[2021-03-25 17:15] tommedema commented on #8830
@pgrzesik I see, in that case, does the SQS trigger use asynchronous invocation?

[2021-03-25 18:11] scooper91 commented on #5441
Did anyone find a workaround for this? We're trying to use a `!Ref` and a `!Join` to generate an input parameter, but Cloud Formation isn't at all happy with it!

[2021-03-25 18:58] rdsedmundo opened #9183 "In serverless.yml, allow apiName and endpointType to be specified under apiGateway key"
There's a warning that states that, in Serverless Framework 3.0, `apiKeys`, `usagePlan` and `resourcePolicy` keys are only going to be available under `provider.apiGateway`, however, there are some extra fields related to the API that are still leftover in the `provider` key, e.g `apiName` and `endpointType` and 1) there's no warning for them 2) it's not possible for use them inside `apiGateway` (

[2021-03-25 19:00] milesgranger commented on #5441
Our "solution" was switching to [SAM](https://github.com/aws/aws-sam-cli). Of course, this wasn't _just_ b/c of this issue or if that's considered a valid workaround. However, it's been a good experience thus far.

[2021-03-25 19:01] ffxsam opened #9184 "Deploying a single function (deploy -f) no longer working (aws-nodejs-typescript)"
Running `sls deploy -f someFunc` results in an error. It expects all functions to be deployed at once via full deploy.

<details>
<summary><code>serverless.ts</code></summary>

[code]
</details>

<details>
<summary><b><code>sls deploy -f goodbye</code> output</b></summary>

[code]
</details>

<b>Installed version</b>

[code]

[2021-03-25 19:07] spullara commented on #9178
Adding the lifecycle policy to the ecr config would be great. Not sure how to deal with function versioning but I didn't run into it as I am not using it.

[2021-03-25 19:53] MikeRippon commented on #8210
Thank you @jansinger , this seemed to work and is a lifesaver for me! In our case I wanted to make sure that the authorizer was attached to all routes, so I modified the output.js file for this case (I also had a credentials issue, so I changed that too).

I also had to `npm install aws-sdk --save-dev`. Maybe that is standard, but I'm new to serverless so thought I'd point it out!

[code]

[2021-03-25 19:59] medikoo commented on #9184
@ffxsam you're relying on some plugins, and I believe it's a problem with them. Please either minimize the test case so no plugins are involved, or report at corresponding plugin issue tracker

[2021-03-25 20:07] ffxsam commented on #9184
Ah! Looks like this is a new issue in the serverless-webpack plugin: https://github.com/serverless-heaven/serverless-webpack/issues/737

Thanks!

[2021-03-25 20:07] #9184 closed

[2021-03-25 20:47] vladimirveselov commented on #9136
Hi Piotr!

The suggestion is to check Output section. If the output section contains ServiceEndpoint, then do not generate the URL. Just keep the value defined by user in the CloudFormation template.

Then the second part of the proposed change - generate Route53ServiceEndpoints that will include list of generated endpoints with specified vpcEndpointId s.

Thank you!
Vladimir

[2021-03-26 03:26] pedrocava commented on #8117
Does this support SASL/SCRAM authentication?

[2021-03-26 05:36] himharsh1997 commented on #9180
I can't share the serverless.yml file but can share you error I try to deploy from docker in local with Node Version: 12.20.1

[code]

The below error coming at a time of build made in .webpack before zip made.

`Error: EIO: i/o error, chmod '/folder/.webpack/getDataQuery/node_modules/regenerator-runtime/README.md'`

[2021-03-26 07:01] himharsh1997 commented on #9180
This error came out of sudden. our node is the same, just a PR got merged. and deployment starts and see pipesCount undefined.

[2021-03-26 09:28] pgrzesik commented on #9180
Thanks for the clarification - does the error happen when you don't use `serverless-webpack` plugin as well? If not, please report at plugin repository and in the meantime try to pin to older version. Please let me know what is the behavior without that plugin :bow:

[2021-03-26 09:31] pgrzesik commented on #8117
Hello @pedrocava - there's in fact support for SASL for self-managed Kafka - I'm not sure if MSK does even support SASL/SCRAM auth with Lambda - based on the CF docs (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-lambda-eventsourcemapping-sourceaccessconfiguration.html) it seems like it's only possible to configure it for self managed kafka. Please let us know if th

[2021-03-26 09:49] himharsh1997 commented on #9180
Thanks for the response, but we require a serverless-webpack. Will try to
downgrade the version and check and let you know.

On Fri, Mar 26, 2021 at 2:58 PM Piotr Grzesik ***@***.***>
wrote:

[2021-03-26 09:53] pgrzesik commented on #9183
Hello @rdsedmundo - good catch, I believe these weren't included in the migration. It would be great to deprecate the following properties:
- `apiName`
- `vpcEndpointIds`
- `endpointType`

and move them under `provider.apiGateway` setting.
We'd be more than happy to accept a PR that introduces that. :raised_hands:

[2021-03-26 10:02] pgrzesik commented on #8830
It does not, SQS uses synchronous invocations - you can read more about it in official documentation: https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html Unfortunately, it does not support the `maximumRetryAttempts` setting.

[2021-03-26 10:10] pgrzesik commented on #9136
Thank you @vladimirveselov for clarification.

To be honest I'm not sure if we need additional logic for something like that. It's possible to define additional `Output` via `resources` section in `serverless.yml` and I think it's a better way to add construction of such URL rather than introducing conditional which require you to define it in pretty much the same way. Please let me know what do y

[2021-03-26 10:33] #8093 closed

[2021-03-26 11:09] ThomasAribart opened #9185 "Deployment is never skipped in GitLab CI when `custom-resources.zip` exists"
Hello,

I use the Serverless framework on an AWS serverless project hosted on GitLab, using GitLab-CI runners for deployment through `make` instructions. I use one `package.json` file with ~15 nested `serverless.ts` files using the `-c` option.

As my Serverless project grew, so did the deployment time. When it went over 30 minutes, I started looking into it. Upon inspection, the deployment skip o

[2021-03-26 11:36] medikoo commented on #9185
@ThomasAribart thanks for report. This is a known issue which is expected to be covered with this: https://github.com/serverless/serverless/issues/6598

Unfortunately at this point ETA is uknown but it'll definitely be addressed at some point

[2021-03-26 12:51] mellson commented on #9165
For me I was using [serverless-bundle](https://github.com/AnomalyInnovations/serverless-bundle) and I had to set [my packager](https://github.com/AnomalyInnovations/serverless-bundle#options) to `yarn` because I'm using yarn workspaces.

[2021-03-26 15:53] pedrocava commented on #8117
[This page](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-msk-cluster.html) lists  `clientAuthentication` param, which links to [this page](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-msk-cluster-clientauthentication.html) and it mentions SASL, so I think it's supported, if barely documented.

[2021-03-26 20:38] CedricLeong commented on #6932
I fixed this by running `sudo sls login`. If you have serverless installed globally you can just move out of your project to avoid having to pass in project specific parameters like `--stage dev`.

[2021-03-27 01:40] tommedema commented on #8046
@pgrzesik why is the maximum value 2? shouldn't it be 1000 or something?

[2021-03-27 02:28] Ang3 commented on #3171
We can do this manually on API gateway: https://aws.amazon.com/about-aws/whats-new/2017/11/customize-integration-timeouts-in-amazon-api-gateway/?nc1=h_ls
Unfortunatly, I didn't found a way to configure this timeout with serverless.

Hope it will help.

[2021-03-27 03:43] esteveslima opened #9186 "Latest js variable resolution changes"
Hi!

It appears that the latest releases(2.31.0) changed the variables resolution for .js files, no longer recognizing custom parameters from the CLI. This restriction change not mentioned in [documentation](https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-javascript-files) yet.
Now, for example, when I run "sls print --service foo" the "service" opti

[2021-03-27 11:45] Vivek205 opened #9187 "Error: npm ls -prod -json -depth=1 failed with code 1"
I'm trying to deploy my lambda, but getting error.
`Error: npm ls -prod -json -depth=1 failed with code 1`

Note: I'm using a local package in the npm.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code> sls deploy -f styleTransferAi -v</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-03-28 02:46] markvitapoly opened #9188 "AWSLambdaFullAccess is deprecated"
sls deploy says AWSLambdaFullAccess not found.

<details>
<summary><code>serverless.yml
</code></summary>

[code]

</details>

[code]

More information from others with same issue in forums: https://forum.serverless.com/t/policy-arniam-policy-awslambdafullaccess-does-not-exist-or-is-not-attachable/14537

[2021-03-28 11:49] alisalahio commented on #9188
Yeah I'm facing the same issue

[2021-03-28 17:46] pgrzesik commented on #9188
This is an issue specific to `components` and there's an issue created already - I'm closing this one in favor of: https://github.com/serverless/components/issues/918

[2021-03-28 17:56] pgrzesik commented on #9187
Hello @Vivek205 - thanks for reporting - it looks like an issue with `serverless-webpack` plugin, please report your issue at plugin's repository - I'm closing this issue for now.

[2021-03-28 17:56] #9187 closed

[2021-03-28 19:40] liesislukas opened #9189 "when deploying to lambda 70% less expensive api protocol could be used"
just tried to deploy express app to lambda with serverless npm package and it seem to work yet while it deployed aws api gateway service and it picked REST protocol. Why? It just uses lambda as proxy. HTTP would provide ~70% discount in price for such config. Is there an option to pick api protocol?

[2021-03-29 08:41] ajays1991 opened #9190 "Could not locate deployment bucket. Error: AWS profile "dev" doesn't seem to be configured"
Operating System:          linux
 Node Version:              10.19.0
 Framework Version:         2.31.0
 Plugin Version:            4.5.2
 SDK Version:               4.2.2
 Components Version:        3.7.7

serverless is not picking the aws credentials, i tried with default and profile credentials using the following command

`serverless config credentials --provider aws --key ********** --secret

[2021-03-29 09:36] medikoo commented on #9186
@esteveslima thanks for report. We're leaning towards recognizing only command defined options, as in future we plan to report with an error unrecognized options, It's to prevent accidental typos to sneak in (many popular CLI tools do same).

Have you considered relying on environment variables instead?

[2021-03-29 09:37] medikoo commented on #9186
Also note, that if you didn't set `variablesResolutionMode` in your config, nothing should change for you (but deprecation warnings will be shown)

[2021-03-29 11:27] scadu commented on #4128
@pgrzesik @medikoo I tried to get into #8523 with not much luck. Looks like the pandemic got me down a little, so I'd like to back off from working on #4128 and related #8523. Sorry for ping-ponging like this. I guess the PR can be closed.

[2021-03-29 13:14] pgrzesik commented on #9189
Hello @liesislukas :wave: Yes, it's possbile via use of `httpApi` event type: https://www.serverless.com/framework/docs/providers/aws/events/http-api/

[2021-03-29 13:14] #9189 closed

[2021-03-29 15:16] zanettin opened #9194 "export AWS_PROFILE overrules profile mapping to stage"
in a terminal where i have `export AWS_PROFILE=my-prod` executed, the profile mapping within the `serverless.yml` file is no longer working. the default env in my `serverless.yml` file is set to `dev` and this stage is mapped to the profile `my-dev`. if i execute any cmd, all actions will be executed against the `my-prod` account and not agains `my-dev` (because of the above mentioned `export`). t

[2021-03-29 16:40] mihaa1 commented on #9188
What worked for me: https://github.com/serverless/components/issues/918#issuecomment-809532067

[2021-03-29 17:50] Rukenshia opened #9196 "Package does not recognize "patterns" configuration"
When trying to use the `package.patterns`, I receive the following warning:

[code]

I am using the most recent version of serverless.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>SLS_DEBUG=* npx sls deploy --stage prod</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-03-29 18:23] medikoo commented on #9196
@Rukenshia `patterns` support will be published with tomorrow's release.

Sorry, update to documentation was released earlier, that's definitely confusing

[2021-03-29 19:49] wwwehr opened #9197 "Add support for Dockerfile --build-arg"
### Use case description

As a developer, I want to include the usage of `build-arg` in the docker build so that I can manage variables from `serverless.yml`.

Right now I need to use the scripts plugin to work around the limitations of the docker build.

[docs](https://docs.docker.com/engine/reference/commandline/build/#set-build-time-variables---build-arg)

### Proposed solution

Instrument the

[2021-03-29 20:29] esteveslima commented on #9186
Thanks for the reply!

I want to keep deprecation warnings solved in my projects. Was hoping that there is a better way than running "export service=foo && sls deploy" everytime(maybe can find a better way using npm scripts tho).

Is there a conventional(better) approach to monorepo using the framework?

[2021-03-29 20:33] medikoo commented on #9186
I believe you can run it as simply as:

[code]

It's even shorter than:

[code]

[2021-03-29 20:34] medikoo commented on #9186
We're thinking it through, please check: https://github.com/serverless/serverless/issues/9095 and please comment if you think we missed something.

[2021-03-29 22:06] faucherb94 opened #9199 "!Sub unexpectedly works with function-level `role` param"
The end goal of what I've done is an easy way to reference the AWS account ID of the current cli session without hard-coding it in serverless.yml, specifically for setting the IAM role to be used by functions to an IAM role that already exists in the target account. Either something that was able to insert `"Fn::Sub": "...${AWS::AccountId)..."` into the resulting CF template output, or something t

[2021-03-29 22:06] faucherb94 commented on #8395
Submitted: https://github.com/serverless/serverless/issues/9199

[2021-03-30 05:57] Rukenshia commented on #9196
Thanks for the info :)

[2021-03-30 05:57] #9196 closed

[2021-03-30 08:22] #8364 closed

[2021-03-30 09:34] #8210 closed

[2021-03-30 11:38] pgrzesik commented on #9158
Hello :wave: I've dug a bit into the configuration and there are quite a few options that can be configured. I've pondered with different ways of incorporating it into the Framework and the most reasonable one (in my opinion) would be something similar to:

[code]

It is possible to use the same function for multiple separate access points, that's why the array notation. The alternative option wou

[2021-03-30 12:30] medikoo commented on #9158
@pgrzesik looks great. What's not perfectly clear to me is meaning of all _public access_ option (even after I read explanations on AWS side) - it'll be probably easiest to discuss it during one of the next calls.

[2021-03-30 14:15] corydorning53 opened #9204 "Serverless isn't building and pushing image to ECR"
I have defined an image path in `provider.ecr` but its not being built and deployed to ECR. Does a `function` have to reference an image for this deployment to occur?

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-03-30 14:18] pgrzesik commented on #9204
Hello @corydorning53 - that's correct, image has to be referenced by a function in order to be build and uploaded to ECR. Is there an use case that you're trying to address by defining the image but not using it in your service?

[2021-03-30 14:25] corydorning53 commented on #9204
Primarily for ease of publishing a container that will be used with Fargate

[2021-03-30 16:59] pgrzesik commented on #9194
Hello @zanettin, thanks for reporting, I'll investigate the problem and will come back with findings. Thanks for your patience :bow:

[2021-03-30 17:00] pgrzesik commented on #9199
Thank you @faucherb94 for your report. I think I've managed to narrow down the problem and I'm hoping to come up with a solution in the coming days. Thanks for patience on this one :bow:

[2021-03-30 17:02] pgrzesik commented on #9190
Hello @ajays1991, thanks for reporting and sorry you've run into trouble. Could you please provide a minimal reproducible example with `serverless.yml` configuration that results in the issue above? It will help me with reproducing this problem on my side. Thanks in advance. :bow:

[2021-03-30 18:51] corydorning53 commented on #9005
any update on this? having same issue now that the pseudo parameter plugin is deprecated. :/

[2021-03-31 04:46] ajays1991 commented on #9190
[code]

[2021-03-31 08:31] pgrzesik commented on #9190
Thanks for additional details @ajays1991. I've tried to reproduce your issue but didn't manage to, however, I'm seeing that you're running `deploy` command with `sudo` which will change the user to root - it will not find the credentials configured for user without `sudo` unless you're using root but I guess that's not the case here. Is there a reason for `sudo`? If you really need to do that, ple

[2021-03-31 08:37] pgrzesik commented on #9204
That's what I thought - at the moment it's set up in a way that the images will be only built if they're referenced by a function and I'm hesitant to change it to accommodate for an edge case like this one as it might be a bit of a bigger change. If you'd like to give it a shot we're open to an implementation proposal and a PR that introduces that change.

[2021-03-31 09:44] pgrzesik commented on #9194
Hello, thanks for patience - I've did some investigation and it looks like you're using an approach that we plan to deprecate (`provider.profile` setting): https://github.com/serverless/serverless/issues/8356

Please share your feedback in the linked issue if you feel like there's a good reason to still keep these settings avaialble.

[2021-03-31 10:06] mcbain opened #9208 "2.32.0 disables CLI_OPTIONS"
The UNSUPPORTED_CLI_OPTIONS seem to be active by default in the release 2.32.0, the 2.31.0 works.

https://www.serverless.com/framework/docs/deprecations/#UNSUPPORTED_CLI_OPTIONS

[2021-03-31 10:13] medikoo commented on #9208
@mcbain can you provide more details?

The only thing that have changed between to versions, is that new variables resolver does not recognized unsupported CLI options. Still that's not breaking, as by default old variable resolver jumps in if new one errors. And in old one all works as it worked before.

If you feel there's a bug, it'll be great if you answer all questions of bug report (fill the

[2021-03-31 10:36] #9199 closed

[2021-03-31 10:49] pgrzesik commented on #9178
I think we could add that - do you have a suggestion/proposal on potential configuration options for that? We'd be also happy to accept a PR for that feature after agreeing on implementation proposal :raised_hands:

[2021-03-31 10:52] pgrzesik commented on #8117
Hey @pedrocava, could you clarify a bit what do you mean with your question? I'm not sure I understand it. `msk` and `kafka` events are a bit different as `msk` uses Managed Kafka where `kafka` uses self-managed Kafka.

[2021-03-31 11:26] JonAllanBlueberry commented on #9208
We are experiencing a similar issue.

We are deploying on AWS lambda.

Error from logs:
Serverless: Deprecation warning: Detected unrecgonized CLI options: "--stage-file".

This has killed our build process!

serverless file attached.

[newsstand-invoice-calculator_serverless.zip](https://github.com/serverless/serverless/files/6236205/newsstand-invoice-calculator_serverless.zip)

[2021-03-31 11:29] mcbain commented on #9208
sls.yml
[code]

we deploy with `serverless deploy --branch abc`

warning `Serverless: Deprecation warning: Detected unrecgonized CLI options: "--branch".`

But then stage will be  `undefined`  as seen in  AWS resource names

[2021-03-31 11:32] medikoo commented on #9208
Thanks for feedback, I believe I know where's an issue, and will prepare a fix.

Otherwise note that "Deprecation warning" is intended to be just a warning, and not an error. It's not expected to change anything in how deployment works.

Still in this case it looks new handling of CLI commands influenced some changes to variable resolution, fix is coming.

[2021-03-31 11:42] JonAllanBlueberry commented on #9208
@medikoo sorry to jump in Mcbrian's post - I hope I am helping :)

Can you estimate when you think you could push a fix? - I have an understandable frustrated client at the moment :)

[2021-03-31 11:46] medikoo commented on #9208
Definitely, your feedback is very valuable. Thank you!

Within next hour I think new version with a fix will be released

[2021-03-31 12:00] #9208 closed

[2021-03-31 12:14] JonAllanBlueberry commented on #9208
@medikoo - I see the build has updated and I see changes in our logs - more information, however we are seeing the same result - build failed.

Here are the logs:

229 | Lambda project successfully packaged: /codebuild/output/src372525198/src/newsstand-invoice-calculator/bin/release/netcoreapp2.1/deploy-package.zip
230 | Serverless: Deprecation warning: Detected unrecgonized CLI options: "--stage-

[2021-03-31 12:15] pedrocava commented on #8117
Sure! My bad, it wasn't clear at all. My team runs an MSK cluster with SASL auth - a choice based on AWS's promises it'd work fine with Lambda, which I'm starting to regret. Since there's no support for it through the MSK event, I'm thinking about defining a kafka event and passing our MSK brokers' endpoints to it, treating it as if it were a self-managed kafka cluster. Does it sound like a bad id

[2021-03-31 12:16] medikoo commented on #9208
We haven't yet released the fix (it was just merged to master). Stay tuned, it'll be fixed with v2.32.1, which is now being rolled out.

If after it's published you still observe some issue, please open a new bug report and answer carefully all questions (we really need answers to all questions raised to be able to quickly coin the cause)

[2021-03-31 12:17] JonAllanBlueberry commented on #9208
@thanks I am just too keen :)

[2021-03-31 12:28] medikoo commented on #6039
I'm reopening this for reconsideration. As (1) with new variables resolver it's probably not that problematic to implement (to be confirmed, (2) It's highly desirable feature for multi-service repos https://github.com/serverless/serverless/issues/9095

[2021-03-31 12:50] nponeccop commented on #8442
Although I'm not @medikoo, I can hopefully help here. The intended usage of the expanded definition is to put it into the `Body` property of  the `AWS::ApiGatewayV2::Api` resource. Now AFAIK this property is always undefined in CloudForge templates generated by Serverless.

Doing that lets you take advantage of various AWS OpenAPI extensions, including but not limited to the aforementioned `x-amaz

[2021-03-31 12:56] coyoteecd opened #9212 "When providing a role ARN containing !Sub to a function with sns/sqs events, a DependsOn is generated to non-existing IamRoleLambdaExecution"
This issue is somewhat similar to #8150, but it occurs in a different context, without a nested stack.
Our app stack uses externally defined roles, referenced by ARN in function definitions. To avoid hardcoding the account, we've been using the serverless-pseudo-parameters plugin. I am trying to get rid of the plugin and replace it with native support of `${AWS::AccountId}`. This works fine for no

[2021-03-31 13:05] AlinoeDoctari commented on #8446
@medikoo I've had a look into the `getCredentials` part and I'm not sure how to cover multiple tests with only one runServerless. Is there any example out there where I can draw inspiration from? Thanks for your help :slightly_smiling_face: :bowing_man:

[2021-03-31 13:06] cbm-gplassard opened #9213 "Make it possible to specify the full TargetGroup name when using an ALB event"
### Use case description

Hello, we would like to make the TargetGroup names more predictable / human readable when using AWS Lambda with ALB. There are several reasons for this but mostly because we would like to make the CloudWatch Metrics easier to use (when displayed on dashboards, when creating alarms, ...).

From what I understand today the name is created with a hash, even though it's possi

[2021-03-31 13:22] medikoo commented on #8446
@AlinoeDoctari I believe each of those tests have to be covered with different `runServerless` run. Probably my comment in snippet is not perfectly clear, but I'm pretty sure I meant _Each test to be covered with its own dedicated`runServerless` run, unless indicated differently_ :)

[2021-03-31 13:22] JonAllanBlueberry commented on #9208
3.32.1 fixed my issue @medikoo thank you so much!

[2021-03-31 13:22] zanettin commented on #9194
@pgrzesik thanks for your quick reply. didn't saw that it's about to be deprecated. thanks for the hint. for me it just was handy to switch profile and env using a single param (-s dev) but i can life with the env vars as well. thanks again

[2021-03-31 13:22] #9194 closed

[2021-03-31 13:23] medikoo commented on #9208
@JonAllanBlueberry you're welcome!

[2021-03-31 13:24] AlinoeDoctari commented on #8446
@medikoo Yes, this part is ok :) I was wondering more about
[code]
Does that also means that each test should have one serverless run?

[2021-03-31 13:28] medikoo commented on #8446
I think in case of those two tests idea was to cover them with single `runServerless` run, as they test two different properties.

The way to do that is to wrap it with `describe` block. Ofc organization wise it's a bit confusing, as otherwise there's nothing special about those tests to be secluded in single group. I think we can title describe with something as `(cumulated run) #1`

[2021-03-31 13:29] AlinoeDoctari commented on #8446
Sounds good :+1: I'll try that out :)

[2021-03-31 14:04] Android3000 opened #9215 "Naming inconsistency: permissionBoundary versus permissionsBoundary"
The [serverless.yml example page](https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml/) shows the available role property named `permissionsBoundary`. This is as expected, as it matches up with the [CloudFormation IAM Role property](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html) `PermissionsBoundary`.

Unfortunately, this propert

[2021-03-31 14:41] pedrocava commented on #8117
@pgrzesik, look what I found:

 https://aws.amazon.com/about-aws/whats-new/2020/12/aws-lambda-now-supports-sasl-scram-authentication-for-functions-triggered-from-amazon-msk/

MSK does support SASL/SCRAM auth with Lambda

[2021-03-31 15:08] mayank-budhiraja commented on #9183
@pgrzesik can I take this?

[2021-03-31 15:26] pgrzesik commented on #9183
Sure, help on this one will be much appreciated :bow:

[2021-03-31 16:11] medikoo commented on #8356
@crash7 Goal is to have service configuration portable across different environments, and `profile` is environment specific setting. Technically user A may have very different profiles than user B, while both work on same service.

I'd say recommended way is to use `.env` file for any sensitive credential related data, so just configure `AWS_PROFILE`  env variable there.

Check https://www.serverl

[2021-03-31 16:14] medikoo commented on #8356
Adding to above, `.env` files are good for local development. Whole for CI, I believe you should set environment variables in a way that given CI system recommends to do so, also in this case I think it's more natural to set  _access_key_id_ and _secret_access_key_ directly and not _profile_.

[2021-03-31 16:45] pgrzesik commented on #9213
Hello @cbm-gplassard :wave: Thanks for submitting your idea for an improvement. I believe the proposal you presented looks really solid. At the moment, we're using a generated name: https://github.com/serverless/serverless/blob/5e16a28a5165d3547ed9f0b6d77114c7abb7ef21/lib/plugins/aws/package/compile/events/alb/lib/targetGroups.js#L65 so we would have to introduce logic that will not generate a new

[2021-03-31 16:47] pgrzesik commented on #9215
Hello @Android3000 :wave: That's a nice catch :+1: I think that at this point as it would be a breaking change, we should make the documentation consistent with the actual expected property. We'd be happy to accept a PR that clears that out.

[2021-03-31 17:33] spullara commented on #9178
I'll have to look into versioning to see if we can avoid removing them. Perhaps if they were still tagged that they were in use.

[2021-03-31 17:42] Android3000 commented on #9215
Thanks @pgrzesik -- do you think it is worth supporting **both** forms for consistency without a breaking change (with maybe the eventual deprecation of the `permissionBoundary` attribute), or just go for the documentation update and keep as-is? I would be happy to look into either option. Thanks!

[2021-03-31 17:47] rcoundon commented on #3339
It's been a while since you asked @vicary - did you find out what the limit was called that you needed to increase?

[2021-03-31 19:22] rcoundon commented on #3339
@hvaughan3 - thanks for letting me know. For the time being, I'm using the serverless-dependson-plugin which allows configuration of how many parallel batches can run. It's set to three for now and seems to be behaving.

[2021-04-01 08:25] lassesteffen opened #9217 "SSM variables: referencing variables that are a SecureString that contain a stringified JSON fails"
With the new variable resolution mode I get configuration errors when trying to reference a `Secure String` in SSM that contains a stringified JSON (for my google service account). An error is reported trying to decode that variable

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>
npx sls print     </code> output</b></summary>

[code]

</d

[2021-04-01 08:31] medikoo commented on #9217
@lassesteffen Thanks for reporting.

Error happens because what resolves for environment value is object (secure strings are parsed by default), while environment values can only be strings.

And as I checked, indeed the change from old resolver is that old resolver parsed JSON only if secure string param was coming from AWS Secret manager, while new resolver attempts to parse JSON on every _secur

[2021-04-01 08:36] lassesteffen commented on #9217
This is what I had previously and what was working for me. So yes

[2021-04-01 08:43] medikoo commented on #9217
@lassesteffen thanks for feedback. I didn't envision not parsing value may be important in some cases.

Fix is coming

[2021-04-01 08:47] cbm-gplassard commented on #9213
Hello @pgrzesik
Thank you I will work on a PR !

[2021-04-01 09:03] pgrzesik commented on #9213
That's an awesome news @cbm-gplassard :raised_hands: Feel free to reach out whenever you have any questions :100:

[2021-04-01 09:08] mcbain commented on #9208
from the docs: For that please ensure to add variablesResolutionMode: 20210326 to your service configuration.

After doing that we get:

Serverless: Configuration warning at 'variablesResolutionMode': should be equal to one of the allowed values [20210219]

[2021-04-01 09:18] pgrzesik commented on #9215
Hey @Android3000 - that's a great question and to be honest I'm not sure, because the `permissionBoundary` attribute is itself a new recommended replacement of a deprecated `rolePermissionsBoundary` on provider level. Having three different fields for the same setting seems a bit too much, but on the other hand having consistency is also a nice property. @medikoo What is your opinion? Should we de

[2021-04-01 09:19] medikoo commented on #9208
@mcbain ensure to use latest version of a Framework, new value is not recognized until latest version.

[2021-04-01 09:24] pgrzesik commented on #9212
Hello @coyoteecd - that's a nice catch :+1: I think we don't have to go that deep with check and instead we could just verify if it has `Fn::Sub` property similar as we check of `Fn::Import` here: https://github.com/serverless/serverless/blob/0a84f1c84ee4e7ac32d9b5c247eba7f25da0d14a/lib/plugins/aws/provider.js#L1575

I don't think we should inspect the value of `Sub` further, because if it does no

[2021-04-01 09:27] medikoo commented on #9215
It looks as design bug on our side that we've introduced `permissionBoundary` and not `permissionsBoundary`.

To me it feels that second one is correct, and I would ensure we support it, and deprecate `permissionBoundary`. I agree that it feels overwhelming to now handle three properties, but on implementation level it's probably not that problematic to implement, and I think it's still a good mom

[2021-04-01 09:29] pgrzesik commented on #9215
Yes, that was definitely a mistake on our side during the refactoring/deprecation. Thanks @medikoo :bow:

[2021-04-01 09:30] isaacpalomero opened #9218 "Configuration warning at 'functions.s3ToEFS.events[0].s3.bucket': should be string"
When I try to deploy the SLS, the configuration validation print out this:
`Configuration warning at 'functions.s3ToEFS.events[0].s3.bucket': should be string`

This is my code (partial):
[code]

I've tried also this with the same warning:
[code]

[2021-04-01 09:35] lassesteffen opened #9219 "Migrating from iamRoleStatement to iam.role.statement for s3 with * fails deployment because of regex validation"
I get an error that the statementId is not set correctly after migration from using `iamRoleStatement` to `iam.role.statement`. Might be related to https://github.com/serverless/serverless/blob/c45f66117892e6f5948274288d7dda41f96dfe85/lib/plugins/aws/customResources/resources/s3/lib/permissions.js where only the `*` is filtered out, not the `/*`

<details>
<summary><code>serverless.yml</code></sum

[2021-04-01 09:43] riccardo97p commented on #3183
Even if it is not a real solution, I've found a workaround that is working for me, hope it can help.

When deploying a stack containing existing resources (for example dynamodb tables left untouched by a retention policy) it will fail but it will create a cloudformation stack and a bucket containing the cloudformation template.

From the cloudformation console it will be possible to manually impor

[2021-04-01 09:44] lassesteffen commented on #9219
Wait a second maybe it's my bad

[2021-04-01 09:52] #9219 closed

[2021-04-01 11:59] pgrzesik commented on #9218
Hello @isaacpalomero :wave: Thanks for reporting, it looks like `bucket` property at the moment does not support CF intrinsic functions. Does your deployment work as expected when the warning is emitted or it fails totally?

[2021-04-01 12:34] isaacpalomero commented on #9218
Yes, it works fine :)

[2021-04-01 13:09] pgrzesik commented on #9218
Thank you @isaacpalomero :bow: In such case it seems like the schema for `bucket` field is a bit too restrictive - we should relax it to allow for CF intrinsic functions. We'd be happy to accept a PR with that improvement :raised_hands:

[2021-04-01 13:11] pgrzesik commented on #8117
Thanks for sharing your finding @pedrocava :bow: Looks like something added a bit later than `msk` support on Framework side was introduced as I remember it wasn't avaialble at first. Would you like to open a separate issue that proposes to add this feature?

[2021-04-01 13:49] pgrzesik commented on #8442
Hello @nponeccop - thanks for additional clarification on that. I'm currently diving a bit more to better understand how we could support OpenAPI for HTTP APIs in the Framework and having such a PoC with currently used approaches would be extremely valuable for the discussion & descision on the best possible approach :+1:

[2021-04-01 14:16] yhrabovskyinomi commented on #9208
@medikoo  Stupid question, but is there any chance we can pass custom CLI options in future? because there are definitely some usecases when we need to set dynamic variables , and using .env files will not help here

[2021-04-01 14:37] medikoo commented on #9208
@yhrabovskyinomi As you can achieve same with env variables (e.g. `sls command --var=foo` can be achieved via
 `var=FOO sls command`) we do not consider that.

[2021-04-01 14:57] pedrocava commented on #8117
Sure thing, @pgrzesik. Is there any template I should follow?

[2021-04-01 14:57] yhrabovskyinomi opened #9221 "Layers showing warnings when using "package.patterns""
Q1: Layers were showing warnings to not use "include" and "exclude" in package, and when i changed that to "patterns" i can see configuration warning

Serverless: Configuration warning:
Serverless:   at 'layers.common.package': unrecognized property 'patterns'
Serverless:   at 'layers.deps.package': unrecognized property 'patterns'
Serverless:   at 'layers.resources.package': unrecognized property

[2021-04-01 15:03] yhrabovskyinomi commented on #9221
seems patterns still working as expected but just this warning annoying

[2021-04-01 15:36] mgresko opened #9223 "First time deploy to aws apigateway errors out with: Invalid tag key. Tag keys cannot start with 'aws:' (case insensitive)"
First time deploy in aws api gateway fails creation with tagKey error on cloudformation aws: tags

When running serverless for the first time the deployment is failing when serverless is trying to reconcile tags on api gateway and it sees the AWS newly added aws:cloudformation:logical-id, aws:cloudformation:stage, aws:cloudformation:stack-name and then tries to remove them.  However, they are tags

[2021-04-01 15:39] nponeccop commented on #8442
Here is a procedure for a very minimal setup:

- `serverless create --template=aws-nodejs` - smallest of the templates
- `sed -i '/^#/d;/^$/d' serverless.yml` - delete comments
- `serverless deploy` - deploy hello: min-dev-hello and nothing else
- `jq '.Resources|map_values(.Type)' .serverless/cloudformation-template-*`
[code]

[code]

- No APIGatewayV2 is in sight, so go to APIGateway in AWS Cons

[2021-04-01 15:41] pedrocava opened #9224 "Supporting SASL/SCRAM auth with MSK events"
### Use case description

There's an MSK cluster running with SASL auth. There's a backend producing events and a Serverless application listening to certain topics, using messages to trigger parametrized reactions, such as calling other lambda functions or uploading data to a DB.

### Proposed solution

AWS has recently started supporting [SASL auth for MSK events](https://aws.amazon.com/about-aw

[2021-04-01 15:43] coyoteecd commented on #9212
Agree, I don't see a situation where one would use !Sub with anything else than a role name

[2021-04-01 16:05] FabianEhringer opened #9225 "AppSync datasource variables are not resolved anymore"
Since I upgraded from serverless framework version `2.32.1`, variables in my AppSync datasource are not resolved anymore.
I'm not sure if this is a problem with the variable resolution in general or just together with an AppSync datasource.

[code]

The environment variables are resolved correctly (`custom.httpEndpointBaseUrl` contains the correct value), but the url for the HTTP request of the Ap

[2021-04-01 18:28] nponeccop commented on #8442
Ok, here is an update. I managed to plug it. But the `openapi.yml` is still polluted at this point. Here is `serverless.yml`:

[code]

As you can see, I created by hand some of the resources Serverless normally creates:
- HttpApi - note that it's "empty" now, as everything is provided by the `openapi.yml`
- HttpApiStage
- HelloLambdaPermissionHttpApi

So far a course of action for Serverless can b

[2021-04-01 19:05] nponeccop commented on #8442
The above solution has a few flaws - there are parallel structures in `functions` in `serverless.yml` and in `openapi.yml`.

One possible solution is to add

[code]
to `openapi.yml`:

[code]

And in `openapi.yml` then we can have:

[code]

[2021-04-01 20:41] G-Rath opened #9226 "Cannot exclude all by default and exclude devDependencies with `package.patterns`"
#8581 deprecated `package.exclude` & `package.include` in favor of just `package.patterns`, but the way this is applied means we can't both exclude everything by default and take use of excluding dev dependencies, as including `node_modules` results in the dev dependencies all being added back.

This is what I had:

[code]

This is it converted to `patterns`:

[code]

By excluding everything at th

[2021-04-01 21:26] mgresko commented on #9223
Worked around locally by changing removeTags

[code]

[2021-04-01 21:32] nponeccop commented on #8442
I wrote a rather dirty `yaml-gen.js` script which converts the above `minimal.yml` into `openapi.yml`

[code]

Unfortunately it needs 3 parameters now, to build the `uri` field: `us-east-1 1234567 min-dev`, region, account and lambda name prefix correspondingly. But it would allow me to test the proposed solution in a larger app prototype I'm developing.

[code]

[2021-04-02 00:02] nponeccop commented on #8442
Ok now a slightly better solution using variables coming from modules:

serverless.yml:
[code]

minimal-openapi.js:
[code]

[2021-04-02 00:17] Chris1904 opened #9228 "False positive for a "Configuration warning" relating CloudFront's path pattern"
CloudFront's path pattern allows for using `?` and `*` wildcard characters. But when using a pattern such as `pathPattern: /???/*`, which is a legit path, it throws this warning:

[code]

The issue is self-explanatory due to the warning. The path pattern allows for `?` but the generated warning has it failing because of it.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</detai

[2021-04-02 06:38] ajays1991 commented on #9190
`sudo` was keeping this issue. I reinstalled node using `nvm` and now works fine. Thanks and closing the issue.

[2021-04-02 06:38] #9190 closed

[2021-04-02 08:49] ianpogi5 commented on #9095
Thank you @medikoo I can breath much easier now.

[2021-04-02 10:03] #9217 closed

[2021-04-02 11:04] medikoo commented on #9221
@yhrabovskyinomi great thanks for reporting. Will be fixed with https://github.com/serverless/serverless/pull/9231

[2021-04-02 11:28] #9221 closed

[2021-04-02 11:31] medikoo commented on #9223
@mgresko thanks for report.

Can you confirm issue happens also in latest version, and paste the full output (with `SLS_DEBUG=*`) as it's in latest version.

Additionally can you ensure that `serverless.yml` reflects the valid configuration (currently there's `stackTags` top level property, while we do not support such top level property, it's just `provider.stackTags`)

[2021-04-02 11:34] medikoo commented on #9224
@pedrocava great thanks for that request. Proposal looks good enough, and I think we can jump to PR directly (which is welcome!).

[2021-04-02 11:37] medikoo commented on #9225
@FabianEhringer thanks for report, still above information is not sufficient enough for us to reproduce the problem.

Can you prepare a minimal reproducible test case, which we can run our side to confirm the issue?

[2021-04-02 12:29] mgresko commented on #9223
@medikoo I will get all the debug info this morning.  as far as the stackTags, that is under the aws provider... our config is rather long and had a bunch of specific identifiers that I tried to omit... and my simplified config didn't represent properly.  I will try and get that cleaned up and posted better as well.  Thank you!

[2021-04-02 12:29] medikoo commented on #9226
@G-Rath thanks for report.

Indeed, internally they way it works.. is:

1. Retrieve files with glob, applying `**` and `include` and `patterns` rules
2. Filter retrieved files, by applying all patterns in order (1) `exclude` rules (2) dev dependency exclusions (3) `include` rules (4) `patterns` rules

So as you moved your rules from `excludes` to `patterns`, now they're applied after dev dependenc

[2021-04-02 12:48] #9226 closed

[2021-04-02 12:59] medikoo commented on #9228
@Chris1904 Thanks for reporting.

Indeed we got confused by AWS docs, which do not list `?` character in _The value can contain any of the following characters:_ block here: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesPathPattern While it's used in examples.

PR with a fix is welcome!

[2021-04-02 13:18] #9228 closed

[2021-04-02 15:53] mgresko commented on #9223
Here is the relevant exception from debug:

[code]

[2021-04-02 16:07] kelvinatorHK commented on #9223
We are dealing the same issue (talking with the AWS folks).   Our pipeline was broken.   After digging thru the problem, it seems to us that AWS adding three additional aws tags in the 'APIGateway:stage'.   You can use this sample cloudformation template to re-create the problem:
`AWSTemplateFormatVersion: 2010-09-09
Description: >-
  AWS CloudFormation to show a problem with tags
Resources:
  Api

[2021-04-02 16:17] kelvinatorHK commented on #9223
<img width="987" alt="Screen Shot 2021-04-02 at 10 17 02 AM" src="https://user-images.githubusercontent.com/37116023/113433536-9e015200-939c-11eb-9a9c-3aebb2e331c1.png">

[2021-04-02 16:21] kirill578 commented on #6039
PSA: Although might be a nice addition to a small project, our team identified that `serverless.js/ts` is more practical on mono repos with multiple services.

[2021-04-02 16:35] kelvinatorHK commented on #9223
Another one:
<img width="1008" alt="Screen Shot 2021-04-02 at 10 35 28 AM" src="https://user-images.githubusercontent.com/37116023/113434980-2da80000-939f-11eb-87e1-cbf6a153068d.png">

[2021-04-02 16:45] kelvinatorHK commented on #9223
Note that this problem surfaced about two days ago.   We have not changed any version of the serverless library.   We just compared with the older lambda vs the new lambda.   Basically, the lambda can deploy.   However, it breaks our CI/CD pipeline because 'sls deploy' generates this error.

[2021-04-02 16:48] mgresko commented on #9223
@kelvinatorHK same.  This is new functionality from AWS.  Looking at our older stacks they don't have these aws: tags present.

[2021-04-02 17:33] Chris1904 commented on #9228
@medikoo thank you so much!

I do take offense to this incredible fast turn-around time not allowing me to contribute 😅

All kidding aside, thanks for the fix! Have a great weekend!

[2021-04-02 22:13] kelvinatorHK commented on #9223
Hey @mgresko ,  I just tried to create the Stage and run the pipeline.  Everything suddenly is working again (It does not have the extra aws: tags).   You should try it as well..  Definitely, AWS is doing something....

[2021-04-03 07:35] medikoo commented on #9228
@Chris1904 you're welcome. Great weekend to you too!

[2021-04-03 09:53] rdsedmundo opened #9237 "List all available lifecycles on how to write plugins documentation"
### Use case description

Make it easier for devs to write custom Serverless plugins by listing what are the lifecycles and hooks available.

### Proposed solution

[This cheat sheet would be a good start](https://gist.github.com/HyperBrain/50d38027a8f57778d5b0f135d80ea406).

[2021-04-03 13:01] jkklapp commented on #8921
take

[2021-04-03 13:09] jkklapp commented on #9139
take

[2021-04-03 16:36] Ruhrpottattacke commented on #9215
Hi! I will update documentation :smile:

[2021-04-03 16:48] nponeccop commented on #8442
An important finding is that AWS HTTP API ignores `requestBody` elements of OpenAPI 3 entirely. So there is no body validation  as per the OpenAPI spec on the AWS side, sorry. At least with HTTP APIs, I guess REST APIs and Websockets have a different set of features.

So far it seems the OpenAPI support in HTTP API is limited to:
- construction of `AWS::ApiGatewayV2::Integration` resources from th

[2021-04-03 21:28] spullara commented on #8612
I have:
`
package:
  patterns:
    - "!**/**"
`

and then:

`
layers:
  awssdkv3layer:
    path: ./awssdkv3layer/
    name: awssdkv3layer
    compatibleRuntimes:
      - nodejs14.x
    retain: false
    package:
      patterns:
        - "node_modules/**"
`

It is enumerating all paths in the directory and blowing up memory when it tries to create the layer.

[2021-04-04 11:20] yeukfei02 opened #9240 "An error occurred: CustomApiGatewayAccountCloudWatchRole - Modifying service token is not allowed.."
**Error**

[code]

**serverless.yml**

[code]

I am using github actions to deploy python serverless to aws lambda...have this error...
nodejs lambda func use with `serverless-plugin-split-stacks` also same.. anyway can fix this?

Thanks a lot.

[2021-04-04 11:36] roni-frantchi opened #9241 "Regression: No updates are to be performed"
When no changes in the stack occur, a `No updates are to be performed` error is thrown from AWS.
Serverless checks and resolves if the error thrown matches that text.
But ever since 2.31.0 the error has changed to contain the status code and stack trace (specifically, since #9148, I think).

To recreate - deploy the stack below once.
Once completed, deploy again with no changes - see command and o

[2021-04-04 13:45] doingsomethingclever commented on #8957
Getting the same error:
[code]

[2021-04-04 21:22] yorjaggy commented on #5892
Hi everyone, I was facing the same situation and I solved it just by adding the `package.json` to the folder I specify in the path parameter. Lets say:

[code]

So, I have all my dependencies in a folder called `nodejs`, then I was able to run `sls deploy` normally
![image](https://user-images.githubusercontent.com/8043385/113521770-3b0ce800-9561-11eb-95da-5a5cd3f58650.png)

**Important things to

[2021-04-05 02:49] medoror commented on #9240
I am getting the same error output. I was able to successfully deploy my application until I added an [aws lambda layer](https://www.serverless.com/blog/publish-aws-lambda-layers-serverless-framework) to my deployment

[code]

Here [serverless.yaml](https://github.com/medoror/audio_clipper_slackbot/blob/master/serverless.yml)

[2021-04-05 02:59] yeukfei02 commented on #9240
@medoror

if I don't want to use aws lambda layer then how?

[2021-04-05 03:37] medoror commented on #9240
hey @yeukfei02 I am no longer getting this error.  I found [this page](https://forum.serverless.com/t/modifying-service-token-is-not-allowed/12404)

I am not exactly sure what is going on but my app is now deploying after I added the `stage` flag to my deploy command
`npx serverless deploy --stage dev`

[2021-04-05 03:42] yeukfei02 commented on #9240
@medoror

are u using any cicd? In my case I am using github actions

https://github.com/serverless/github-action

[2021-04-05 03:46] medoror commented on #9240
@yeukfei02 I am not, just a regular app deploy

[2021-04-05 04:39] yeukfei02 commented on #9240
@medoror

thanks for the answer, I am able to deploy without error

[2021-04-05 11:35] yeukfei02 opened #9242 "An error occurred: CustomDashresourceDashapigwDashcwDashroleLambdaFunction - AccessDeniedExceptionnull (Service: AWSLambdaInternal; Status Code: 403; Error Code: AccessDeniedException; Request ID: b797d580-4a94-4211-9e4c-42d291606654; Proxy: null)."
An error occurred: CustomDashresourceDashapigwDashcwDashroleLambdaFunction - AccessDeniedExceptionnull (Service: AWSLambdaInternal; Status Code: 403; Error Code: AccessDeniedException; Request ID: b797d580-4a94-4211-9e4c-42d291606654; Proxy: null).

I just change my sls dashboard provider and set to each project in sls dashboard..and I already set to correct aws accesskey and secret access key in

[2021-04-05 12:02] yeukfei02 commented on #9242
another error

[code]

[2021-04-05 12:02] yeukfei02 commented on #9242
how to enable back my lambda access???
btw i m using my root aws account

[2021-04-05 12:19] mgresko commented on #9223
@kelvinatorHK thanks for the info.  Have you heard back from AWS?  I was attributing the the sometimes works sometimes doesn't behavior to a slow roll of this tagging feature.  I hope you are correct and they are rolling it back

[2021-04-05 14:07] kelvinatorHK commented on #9223
Here is the reply:

<img width="1119" alt="Screen Shot 2021-04-05 at 8 06 59 AM" src="https://user-images.githubusercontent.com/37116023/113582764-042ce580-95e6-11eb-859a-eb91139ba116.png">

[2021-04-05 14:11] kelvinatorHK commented on #9223
Now, the question is ...   should we ask serverless framework to include the 'future' change or should we wait until they roll out the real thing......?

[2021-04-05 14:28] yeukfei02 commented on #9242
looks like it is because i remove the old deployment profile..and now using the `provider` in sls dashboard.

[code]

the dashboard says..but I already update to the latest sls framework in my project and deploy

[2021-04-05 16:13] vorobievalex opened #9243 "Use custom properties for CloudFormation Transforms with the Serverless schema validation"
### Use case description

With the function definition schema validation enforced from v2.7.0, it is not possible to use custom properties handled by the company internal transforms.

The following example fails the schema validation due to the custom parameter "commonParameters". However, this parameter is expected by a [Transform macros](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserG

[2021-04-05 18:14] corydorning53 opened #9244 "Inaccessible host: `cloudformation.us-east-2.amazonaws.com'"
When attempting to deploy, I'm getting an `Inaccessible host: `cloudformation.us-east-2.amazonaws.com'` error. I am behind a corporate proxy, but have `https_proxy` set.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-04-05 20:35] s1mrankaur commented on #5972
Is there an update here?

[2021-04-05 20:41] s1mrankaur opened #9245 "ssm variables not resolving in 2.33.1"
[code]

<details>
<summary><code>serverless.yml</code></summary>

Follows the relevant bit:
[code]

</details>

sls deploy -v --stage sandbox
<details>
<summary><b><code></code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-04-05 21:05] rodrigogs commented on #9240
Why was it closed. There's nothing to understand about this issue here.

Why do we need to use `--stage` flag now? Are you calling this an improvement? It's just breaking stuff...

Serverless Framework have been accumulating issues while you're trying do adapt to version 3. Some things works well, other are pretty broken, and the community has almost no info about those new issues.

[2021-04-05 22:09] simsketch commented on #5972
@s1mrankaur are you using the latest version of serverless?

[2021-04-05 22:29] s1mrankaur opened #9246 "Cross stack variable reference not working"
Cross stack variable reference not working. Throws warning about unsettled promises and remains stuck

<details>
<summary><code>serverless.yml</code></summary>

relevant bit is posted below
[code]
registration-service:  Serverless Information ----------------------------------
registration-service:
registration-service:   ############################################################################

[2021-04-05 23:56] yeukfei02 commented on #9240
@rodrigogs

sure lets reopen this again..i also don't know why need to specify `--stage`..in `serverless.yml` already define

[2021-04-06 00:36] rodrigogs commented on #9240
Nice. I really wish I could adapt my services to v3, but the documentation about the migration is soooooooooo superficial.

[2021-04-06 05:43] muni77-sh opened #9247 "severless.yml (enbale cloudwatcha and metircs"
⚠️⚠️ REPLACE WITH DESCRIPTION

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]
[](url)

[2021-04-06 06:04] swlasse commented on #8492
Hi @KnupMan and @medikoo

I just want to add that CF support is now available.

From: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-restapi.html#cfn-apigateway-restapi-disableexecuteapiendpoint

`DisableExecuteApiEndpoint`
_Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with t

[2021-04-06 07:23] yeukfei02 commented on #9242
update: finally I decide to move all my serverless project to another dashboard + aws account

not sure why..before the original dashboard just remove the existing key and added a new key to the provider..
`sls deploy` not working..then I do `sls remove`..and getting lots of error...

now my original aws account still stuck cannot remove the lambda func..keep saying access denied..

[2021-04-06 07:24] yeukfei02 commented on #9240
I feel using serverless framework still better to deploy from local machine..rather than rely on the cicd..
sometimes the environment is not same as local...

[2021-04-06 07:33] pgrzesik commented on #9215
Hello @Ruhrpottattacke - thanks for submitting a PR, however, as agreed above, we'd like to deprecate the `permissionBoundary` notation and go with `permissionsBoundary` instead to be consistent with CF and also with previous approach. Are you interested in implementing these changes?

[2021-04-06 07:39] pgrzesik commented on #9247
Hello @muni77-sh - please follow the issue template and describe your issue/proposal in specific details.

[2021-04-06 09:28] pgrzesik commented on #9241
Thanks @roni-frantchi for reporting - it will be fixed with next release :+1:

[2021-04-06 09:29] pgrzesik commented on #9245
Hello @s1mrankaur, thanks for reporting. Could you share a bit more about your issue? Did that started to occur after upgrading to `2.33.1` and worked fine on previous versions? Could you also share a bit more about your service configuration? Any other specific settings in `serverless.yml`?

[2021-04-06 09:31] pgrzesik commented on #9246
Hello @s1mrankaur, thanks for reporting. Did that start to occur after upgrading to the latest version of the Framework but it worked fine previously?

[2021-04-06 09:33] pgrzesik commented on #9243
Hello @vorobievalex, thanks for submitting your proposal. Could you please share a bit more about your specific use case? How are `commonParameters` passed to the CloudFormation template in order to be transformed? Do you use a specific plugin to inject that into a template?

[2021-04-06 09:36] pgrzesik commented on #8492
Thanks @swlasse for letting us know :raised_hands: In such case we'd be happy to accept a PR that adds that functionality, ideally via `disableDefaultEndpoint` property on `apiGateway` to be consistent with the same setting on `httpApi`.

[2021-04-06 09:38] pgrzesik commented on #8957
@doingsomethingclever In that case it might be as well an issue with `localstack` - please refer to the linked forum thread. Does that issue appear when you're not using the `localstack`?

[2021-04-06 09:40] pgrzesik commented on #8921
Hello @jkklapp, thanks for being interested in this one :raised_hands: There's a one PR linked but the author is unresponsive, so feel free to submit a new PR that implements this change :+1:

[2021-04-06 10:07] pgrzesik commented on #9244
Hello @corydorning53 - it looks like an issue with the proxy, do you have the ability to update to the latest version of the Framework to confirm if it's still the case? There was an improvement introduced recently to handling of proxy urls.

[2021-04-06 10:16] pgrzesik commented on #9240
Hello @yeukfei02 - would you be able to provide a minimal reproducible example of that issue where it doesn't work if `--stage` is not passed as a CLI param? I tried to reproduce it locally but no luck and a minimal reproducible example would help tremendously in debugging that issue. Thanks in advance.

@rodrigogs Could you share a bit more about "other are pretty broken" changes that you mention

[2021-04-06 10:18] yeukfei02 commented on #9240
@pgrzesik

the error message I posted in the first post

This is the error log from github actions
[code]

[2021-04-06 10:21] pgrzesik commented on #9240
Hello @yeukfei02 - I saw that, but that doesn't help reproducing the issue - could you provide a minimal example of `serverless.yml` where that problem happens? I've tried to reproduce with a simple example but I didn't manage to hit the same error.

[2021-04-06 10:22] yeukfei02 commented on #9242
what I guess would be `deployment profile` is now deprecated..and move to new `provider` and `parameters` in sls dashboard
if we don't change manually is all ok, because sls already handled for us.
in my case, because I manually modify and re add a new aws accesskey + secretkey to `provider`

and my project are using an old version of sls like in `v2.2x.0`, so that's may face this error......

[2021-04-06 10:24] yeukfei02 commented on #9240
@pgrzesik

this is one of my project `serverless.yml`

[code]

[2021-04-06 10:32] pgrzesik commented on #9240
Thank you @yeukfei02 - I saw that, but it's a bit extensive example with multiple plugins used which makes it harder to actually nail down specific issue if such exists. Would you be able to trim it down to only essentials, ideally without external plugins so we have a minimal reproducible example of the issue? E.g. only with only one simple function and without any plugins and additional unrelate

[2021-04-06 10:33] pgrzesik commented on #9240
Additionally, could you please check if that problem still happens for you after upgrading to latest Framework version? I see that you're a bit behind on versions

[2021-04-06 11:19] pgrzesik commented on #9224
Thanks @pedrocava - it looks great :+1: It will be a bit different than for `kafka`, where these configurations are nested under `accessConfigurations`, however, I see that in case of `msk` the `saslScram512` is the only possible configuration which suggests that in this case, nesting under `accessConfigurations` doesn't make much sense. :+1:

[2021-04-06 11:37] tipputhynhean opened #9249 "Env file is not being deploy to Lambda"
After deploy to AWS, the env is not being deploy from `.env`

![image](https://user-images.githubusercontent.com/20786858/113704974-0d61a380-9707-11eb-9eb8-e672275a8e72.png)

<details>
<summary>
<code>
serverless.yml
</code></summary>

[code]

</details>

<details>
<summary><b><code>.env</code> </summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[cod

[2021-04-06 11:40] pgrzesik commented on #9249
Hello @tipputhynhean - this is an expected behavior. Automatically pushing env variables from `.env` to Lambda environment is dangerous. `useDotenv` will load `.env` into process environment only. Please refer to documentation for details: https://www.serverless.com/framework/docs/environment-variables/

[2021-04-06 11:40] #9249 closed

[2021-04-06 12:18] #9241 closed

[2021-04-06 12:23] mgresko commented on #9223
Given that tags that start with `aws:` are always going to be reserved even in other services makes sense to me to ignore them within serverless.

[2021-04-06 13:05] corydorning53 commented on #9244
sure just updated but facing the same issue still:

[code]

[code]

[2021-04-06 13:18] corydorning53 commented on #9244
I got it working. error was on my side. forgot to add `http://` to my `http_proxy` variables. doh.

for anyone else that finds this, make sure you set as follows:
[code]

instead of:
[code]

[2021-04-06 13:18] #9244 closed

[2021-04-06 13:53] pgrzesik commented on #9244
Glad to hear that you've managed to make it work :raised_hands:

[2021-04-06 13:54] pgrzesik commented on #9242
Hello @yeukfei02 - did you change the AWS account when setting up `provider` with access and secret keys?

[2021-04-06 13:57] pgrzesik commented on #9237
Hello @rdsedmundo, thanks for submitting that request. I agree that it would be really useful for plugin authors to be able to quickly lookup all possible lifecycles and hooks. :+1:

[2021-04-06 13:59] reni1111 commented on #8889
+1

[2021-04-06 14:03] yeukfei02 commented on #9242
@pgrzesik

no basically same aws account..just remove old access and secret keys from aws and then add a new one
after that, i go sls dashboard and remove the aws connection and add a new one

[2021-04-06 14:23] pgrzesik commented on #9223
Thank you @kelvinatorHK for sharing that conversation, it makes things much more clear now. I've tried to reproduce this problem but it seems like my account is not affected yet by rollout of this feature, which makes me a little bit less confident in implementing that change. I'll dig a bit more to see if we can prevent it from being an issue in the future.

[2021-04-06 15:10] jasonkarns commented on #8651
I'm not sure which release between 1.53.0 and 1.83.3, but as of 1.83.3, the issue is resolved.

[2021-04-06 15:10] #8651 closed

[2021-04-06 15:23] astuyve commented on #9242
@yeukfei02 Thanks for reaching out! Unfortunately I'm having a very difficult time understanding your bug report.

Put simply: this error is occurring because the configured credentials for AWS are either missing or invalid.

A few things that would help me assist you:
- Can you share your serverless.com organization name?
- Can you share the output of `serverless --version`? Please try updating t

[2021-04-06 16:10] yeukfei02 commented on #9242
@astuyve

Thanks for your reply!

I have another question, do I need to add role arn `provider` if I already add the aws access and secret key `provider`?

I have configured the `~/.aws/credentials` and sls providers.

My organisation name is `yeukfei02`..but today I just try remove the acct and re create it.. This looks like the relink provider to aws account..the blue div message disappear.

But

[2021-04-06 16:20] astuyve commented on #9242
@yeukfei02 Absolutely, thanks for your detailed reply!

Nope, either will work. Role ARNs are simply preferred as they offer stronger security guarantees.

Okay, and were you able to upgrade your version of the framework and plugin?

Hmmm, it seems that somehow your lambda function was perhaps created outside of the cloudformation stack which Serverless is attempting to provision, hence the error.

[2021-04-06 16:26] s1mrankaur commented on #9245
@pgrzesik  This is happening when I run the SLS deploy commands from Lerna at the root for all services.  It started happening recently but happened before upgrading too.

Follows more info from serverless.yml

[code]

[2021-04-06 16:34] s1mrankaur commented on #5972
@simsketch  I am , yes!

[2021-04-06 16:38] simsketch commented on #5972
I haven't run into this issue recently, but in my experience it was only happening intermittently, and it may have been dependent on a solid network connection. Is it happening consistently for you or just once in a while?

[2021-04-06 16:39] Jonniedev commented on #9242
### Turn out this is amazon bug.

Anyone that stumbles upon this issue,
try to use AWS console, and manually create a Lambda function.

In my case I got the same error - which means this has nothing to do with serverless ( or cloudformation). and this is Amazon bug.
I would suggest:

- to try contacting amazon support
- or just move everything to another AWS sub account.

(moving region does not h

[2021-04-06 16:44] Jonniedev commented on #8789
### Turn out this is amazon bug.
Anyone that stumbles upon this issue,
try to use AWS console, and manually create a Lambda function.

In my case I got the same error - which means this has nothing to do with serverless (or cloudformation). and this is Amazon bug.
I would suggest:

 - to try contacting amazon support
 - or just move everything to another AWS sub account.

(moving region does not h

[2021-04-06 16:53] s1mrankaur commented on #5972
@simsketch  Consistently. With other team members as well. Also, we have MFA enabled and we are using lerna to run sls deploy command in each of the services. Lerna does not ask for user input so we use it as follows:

    "deploy:local": "eval \"`aws-auth-helper` lerna run deploy:sandbox --stream\"",

aws-auth-helper prompts for the MFA code and we input it. I believe this was working okay until

[2021-04-06 18:17] wwwehr opened #9250 "Add support for docker build --cache-from"
As a developer, I want to include the usage of --cache-from in the docker build command so that I can achieve faster builds.

### Use case description

As a developer, I want to include the usage of --cache-from in the docker build command so that I can achieve faster builds.

### Proposed solution

Instrument the docker build command so that we can pass in configuration from serverless.yml

[2021-04-06 20:30] s1mrankaur commented on #9245
@pgrzesik  Is there a way for sls deploy command to use credentials saved with https://github.com/99designs/aws-vault

[2021-04-06 20:44] kelvinatorHK commented on #9223
@pgrzesik  Just FYI, I took this snapshot last week
![Uploading Screen Shot 2021-04-06 at 2.43.32 PM.png…]()

[2021-04-06 21:55] jacobb35 opened #9252 "getAllFunctions() return every functions in the service when deploying a single function"
The issue occurs when using Serverless with Serverless-Webpack.

When deploying a single function in a service with the `-f` or `--function` option, Serverless keeps every function of the service in it's `this.functions` object of the `Service` class. This causes the function `getAllFunctions()` to return every function of the service.

When Serverless-Webpack calls the function `getAllFunctions()

[2021-04-06 23:53] yeukfei02 commented on #9242
@Jonniedev

Yes I tried to deploy my lambda func from ap-southeast-1 to us-east1 still fail

So I decide use another aws account..

[2021-04-06 23:57] yeukfei02 commented on #9242
I try sls deploy to another aws account.
I updated the sls version to latest and I m able to see log show `configured in provider from dashboard`.

I m able to deploy successfully in my new aws account.
Thanks 👍

[2021-04-07 00:02] astuyve commented on #9242
Sounds good, glad you were able to get this working!

[2021-04-07 00:02] #9242 closed

[2021-04-07 00:08] joneldiablo opened #9253 "binary files download"
I can't download any binary from the serverless project, I'm using express:

[code]
this works fine but the file downloaded always is corrupted, the files in bucket are ok.
if I store the file with `fs.writeFileSync('f*ckingFile',data.Body);`
the file is ok....... but the `res.send(data.Body)` always is corrupted. I have tryed  many ways, nothing working

============== and I have this other code:

[2021-04-07 06:28] vorobievalex commented on #9243
Thank you for the precise question, Piotr. You are right, I will need a plugin to copy `commonParameters` to the CloudFormation template anyway.
Please discard this proposal.

[2021-04-07 06:28] #9243 closed

[2021-04-07 07:17] pgrzesik commented on #8442
Hello @nponeccop - thanks a lot for all provided information. :bow: I set aside some time later this week in order to fully review your examples and rethink the whole potential OpenAPI support for HTTP API. I'll share my findings in this thread.

[2021-04-07 07:18] pgrzesik commented on #9243
Thanks for clarification @vorobievalex :bow:

[2021-04-07 07:23] pgrzesik commented on #9245
Thanks for providing more details @s1mrankaur. It looks like it might be caused by unstable/slow Internet connection on your side. Are you using some kind of corporate proxy or trying to use a region that you're far away from geographically?

As for the https://github.com/99designs/aws-vault - totally, you should execute `sls` as any other command executed via `aws-vault exec` as `sls` will recogn

[2021-04-07 07:33] #9197 closed

[2021-04-07 07:52] pgrzesik commented on #9252
Hello @jacobb35, thanks for reporting. After reviewing, I feel like this is not an issue on Framework but rather on plugin side. On Framework side, when no plugins are involved, only the considered function is packaged. Until you strongly feel that it's a bug on framework side, I'd recommend reporting that issue in `serverless-webpack` repository.

[2021-04-07 07:55] pgrzesik commented on #9253
Hello @joneldiablo - if you feel like this is a bug with the Framework itself, please report the bug following the template that is visible during new issue creation and if possible prepare steps for reproduce. Otherwise, if this is more about debugging logic of your Lambda handlers, I would recommend to either use Github Discussions, our forum (https://forum.serverless.com/) or Slack as this trac

[2021-04-07 10:44] yyamano commented on #4415
@medikoo How about creating a FAQ page for the issue and print the URL in the error message?
#7968 is enough for me, but it looks people are still struggling.

I have some ideas, but not quite good.

* Providing a binary jar file somewhere and installing it at installation time
  * How can we trust the binary?
  * Waste of time and disk space for non Java users
* Using sudo or equivalent command a

[2021-04-07 10:51] lemonJS opened #9255 "API Gateway minimumCompressionSize cannot be disabled"
**Issue:**

If you remove `providers.apiGateway.minimumCompressionSize` once it has been set, the compression remains active in API Gateway.

**Serverless.yaml:**
[code]

**Command:**
[code]

**Installed version:**
[code]

Removing this block and redeploying leaves compression enabled:
[code]

![Screenshot 2021-04-07 at 11 49 01](https://user-images.githubusercontent.com/13802459/113855002-6da0260

[2021-04-07 12:00] pgrzesik commented on #9255
Thanks for reporting @lemonJS :bow: I've managed to reproduce that issue and it seems like it's a problem on AWS side, as it's surfacing with a very simple CloudFormation template as well. I've reported it to AWS and I'll post an update in this thread as soon as I hear back from them.

[2021-04-07 12:25] nponeccop commented on #8442
Meanwhile,  I created https://github.com/nponeccop/serverless-openapi-templates repo, with my current research and with the latest versions of the approaches above. I'm ready to transfer ownership if at some point you would like to have that in the `serverless` namespace/organization.

I think there are 3 possible ways of integration:
- generated parts of `serverless.yml` like I did
- a part of co

[2021-04-07 13:48] lemonJS commented on #9255
Amazing! Thanks for getting back so quickly @pgrzesik

[2021-04-07 14:25] medikoo opened #9257 "Telemetry: Report any command usage"
### Use case description

Currently we send anonymous usage info only with _deploy_ command.

What we miss is usage information of other commands, it'll be great to have that reported as well.

### Proposed solution

#### Strategy

- Keep sending analytics request only during deploy command (to not affect user's UX)
- Send only command names (to avoid leaking any private data we should not send co

[2021-04-07 14:40] jacobb35 commented on #9252
Thanks a lot, I will raise the problem on the `serverless-webpack` side!

Have a good one!

[2021-04-07 14:51] pgrzesik commented on #9252
Thanks @jacobb35 - I'm going to close this one for now - we can reopen if that's indeed a bug on Framework side.

[2021-04-07 14:51] #9252 closed

[2021-04-07 16:02] s1mrankaur opened #9258 "use Cached credentials for sls deploy command"
I am caching my credentials with aws-vault but sls deploy still prompts for the MFA code. Is there a way to use the cached credentials instead of being prompted for MFA code on every deploy?

[2021-04-07 17:12] yyamano commented on #6028
I just realized Java zip/jar implementation doesn't preserve file permissions in a zip file.  https://bugs.openjdk.java.net/browse/JDK-6194856
So decompress-unzip can't detect file type correctly.  https://github.com/kevva/decompress-unzip/blob/master/index.js

[2021-04-07 17:25] yyamano commented on #6028
I'm working on it on https://github.com/yyamano/serverless/tree/issue-6028

[2021-04-07 17:31] s1mrankaur commented on #9245
@pgrzesik  The VPN is turned off on the machine.  I am on a windows machine, physically in Canada. The deployment is in us-west-2 region so not too far. It is happening consistently, not intermittently. Works just fine on one VM but never works on machines of 2-3 developers.

I tried using aws-vault  @pgrzesik

On running` aws-vault exec vn-sandbox --debug -- lerna run deploy:sandbox --stream,`  w

[2021-04-07 21:34] rafaeldasilva commented on #3168
Serverless Error ---------------------------------------

  An error occurred: <Lambda_Name>LogGroup - Resource handler returned message: "Resource of type 'AWS::Logs::LogGroup' with identifier '{"/properties/LogGroupName":"/aws/lambda/<LogGrup_Name>"}' already exists." (RequestToken: ***************************, HandlerErrorCode: AlreadyExists).

  Stack Trace ------------------------------------

[2021-04-07 23:09] mikayla95 commented on #9258
have you looked into using an sts token? That's what I had to do to bypass MFA

[2021-04-08 05:56] whardier opened #9260 "allow for setToBool to negate value via ~not postfix"
### Use case description

My specific use case is to not do something if a variable is true (like CI=true), specifically in custom which I don't believe can self reference in order to create a mapping.

### Proposed solution

add handling in setToBool to allow evaluated objects to be negated by adding a flag (similar to ~split/~true in ssm variable handler)

[2021-04-08 06:01] yyamano opened #9261 "sls invoke local passes null environment variables as "null" string to handlers"
sls invoke local passes null environment variables as "null" string to handlers.

With the following definition:

[code]

I get the message as below, but I expected to get "Foo is null".

[code]

Here is a fragment of my handler code:

[code]

The project is generated by "create -t aws-java-maven"  and applied the following change.

[code]

<details>
<summary><code>serverless.yml</code></summary>

[2021-04-08 06:22] whardier commented on #9260
Was able to create a mapping.. magically..

[2021-04-08 06:22] #9260 closed

[2021-04-08 06:47] ajaiswal-apptio commented on #6153
Just for reference,
I had exactly same issue.
This problem for me was due to version missmatch from awscli and python boto3,
I had to manually download the compatible version between these 3 packages; i.e is if awscli(1.19.33), then  boto3(1.17.33) and botocore(1.20.33).  looks like the minor version shall be equal.

[2021-04-08 07:20] abilani opened #9262 "Layers are not being deployed correctly to lambda layers - release 2.34.0"
⚠️⚠️ REPLACE WITH DESCRIPTION

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>2.34.0</b>

[2021-04-08 08:24] pgrzesik commented on #9258
Hello @s1mrankaur - as this is more of a support question, I'm moving it to "Discussions" - this tracker is dedicated to feature requests and/or bugs reports.

[2021-04-08 08:24] #9258 closed

[2021-04-08 08:56] #9250 closed

[2021-04-08 09:19] pgrzesik commented on #9262
Hello @abilani - thanks for reporting. Could you please follow the issue template (visible when creating a new issue) and provide a reproducible example with the bug? I've tried to reproduce it with https://github.com/pgrzesik/simple-lambda-layers-python-reproduce but it all works correctly.

[2021-04-08 09:22] pgrzesik commented on #9245
About `aws-vault` & `lerna`:

I'm sorry but I don't know how `lerna` internally exectues, it might be creating separate processes to which the env variables are not passed, but it's just my guess. I'm afraid I won't be able to help more there.

About the original issue:
Does it also always happen on the same values stored in ssm? Do you have the ability to execute it with different internet connec

[2021-04-08 12:15] #9223 closed

[2021-04-08 12:31] pgrzesik commented on #9257
Thanks @medikoo for an extensive proposal :+1: I agree with pretty much everything that is outlined above. One thing that needs to be considered is the fact that with `track` or `trackBatch`, we can only send events that are up to 5 days old, which suggest that in this case we might need to change the approach and use `import` API. The only caveat here is that it's not documented anywhere if that

[2021-04-08 12:53] medikoo commented on #9257
This means that we probably should update our borderline from up to 7 days in the past to up to 5 days in the past.

[2021-04-08 13:46] joelcogen commented on #9240
I have a similar issue, this is really weird.

serverless.yml:

[code]

- `sls deploy` works
- `sls deploy --stage staging` doesn't work
- CI/CD with **staging** stage  doesn't work

[2021-04-08 13:49] yeukfei02 commented on #9240
@joelcogen

hello, what is your `serverless` version? for my case, update sls version to latest and go sls dashboard add a new accesskey/role arn to provider looks ok

[2021-04-08 14:34] joelcogen commented on #9240
[code]

Seems everything is already at the latest version. I created a new provider, same issue.

[2021-04-08 15:35] joelcogen commented on #9240
@pgrzesik I don't have time to reproduce in a brand new app right now but the way I understand it:

1. create a new app on aws
2. set a `provider.stage` in serverless.yml
3. `sls deploy`
4. `sls deploy --stage the_same_stage` should trigger the error

[2021-04-08 15:46] mayank-budhiraja commented on #9183
@pgrzesik
I was not able to resolve the issue. I am not able to deprecate the endpointType. I am very new to serverless and backend. I have linked to the changes I have made till now.

@rdsedmundo can you please assist me in the same?

Link to the forked repo
[https://github.com/mayank-budhiraja/serverless/pull/1/files](url)

[2021-04-08 15:53] joelcogen commented on #9240
Here is another maybe interesting error.

My app is called **lansky** and the problem stage is **staging**.

I tried changing `provider.stage` in serverless.yml to **test-bug-stage**.

`sls deploy`:

[code]

(ids replaced with XX)

The fact it is trying to create **lansky-undefined-…** makes me think that somewhere the stage isn't read correctly from `provider.stage`, but with no prior knowledge o

[2021-04-08 16:00] yeukfei02 commented on #9240
@joelcogen

did u encounter lambda function if delete from aws console show access denied?
or did u try `sls remove`..is it remove all apigateway, lambda, s3, iamrole, cloudwatch, cloudformation?
`lansky-undefined-custom-resource-apigw-cw-role` lambda func should be remove first, then u can do `sls deploy` again

[2021-04-08 16:03] yeukfei02 commented on #9240
@joelcogen

i face this issue in #9242

[2021-04-08 16:08] yeukfei02 opened #9268 "`custom-resource-apigw-cw-role` labmda func stage undefined"
`sls deploy`..aws lambda `apigw-cw-role` func

the lambda func name show like this: `trello-clone-api-undefined-custom-resource-apigw-cw-role`

**serverless.yml**

[code]

[2021-04-08 16:37] ffxsam opened #9269 "Breaking change made to `httpApi.authorizers.cognitoAuthorizer.identitySource` with no deprecation warning"
It appears there's been a change that made `sls deploy` break when parsing serverless.ts:

<img width="710" alt="image" src="https://user-images.githubusercontent.com/12532733/114063278-0ef1af80-985e-11eb-950d-8b324b6824bf.png">

This happened after doing `yarn upgrade` which upgraded the serverless dependencies.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<detai

[2021-04-08 18:01] s1mrankaur commented on #9245
looks like it was an authentication issue due to lerna. It's resolved now. Thank you

[2021-04-08 18:01] #9245 closed

[2021-04-08 23:38] waynerobinson opened #9271 "AWS profile "default" doesn't seem to be configured"
If we're deploying directly from an AWS instance which has a role with adequate permissions for the deploy already (without `roleArn`, `accessKeyId` or `sessionToken` Serverless raises the mentioned exception.

https://github.com/serverless/serverless/blob/341a886874eb8a6c671f576323e75a77cffa1fd2/lib/plugins/aws/provider.js#L127-L139

Our `~/.aws/config` file just looks like this and is adequate t

[2021-04-09 03:35] yyamano opened #9273 "runtimeWrappers directory doesn't have .gitignore"
lib/plugins/aws/invokeLocal/runtimeWrappers doesn't have .gitignore.
So git status complains generated files for eclipse and invoke-bridge jar.

[code]

The problem is releted with #7999.  I forgot to move .gitignore.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>git status</code> output</b></summary>

[code]

</details>

<b>Installed ve

[2021-04-09 04:04] esteveslima commented on #9186
Thank you @medikoo! Following this discussion approach, I've managed to rebuild my project to work using npm workspaces with an exclusive package for serverless definitions. This way I can import a bunch of pre built boilerplates and plug into my serverless.js properties(This may be a hacky way to avoid deprecation warning/error, please let me know if this solution may lead into problems in the fu

[2021-04-09 06:33] pgrzesik commented on #9245
Thanks for a follow-up @s1mrankaur :bow: Out of curiosity, how did you manage to resolve that problem with lerna?

[2021-04-09 06:59] pgrzesik commented on #9269
Hello @ffxsam :wave: Thanks for reporting and sorry you've run into trouble. While on the Framework side the schema is correct, I've noticed that the `serverless/typescript` has troubles with generating correct schema for `array` type, which in the Framework case also accept single values and coerces them to array with one element. I've proposed a small PR that should address this specific case.

[2021-04-09 07:11] jdupl123 opened #9276 "sls deploy fails to update stack for docker based lambda functions"
when calling `sls deploy` with an already deployed stack cloud formation update fails with error
[code]

this seems to be related to updating a docker based deploy.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy -r "${AWS_REGION_NAME}" --verbose</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-04-09 07:15] pgrzesik commented on #9240
Hello @joelcogen and @yeukfei02 I've tried to reproduce that issue locally and I've tried multiple different versions of the Framework, Node, different configs but I'm not able to reproduce it. @joelcogen would you be able by any chance to provide a minimal reproducible example of that issue? It would make reproducing it much easier

[2021-04-09 07:22] pgrzesik commented on #9268
Hello @yeukfei02 - could you please specify what is the exact issue that you're experiencing here? The `trello-clone-api-undefined-custom-resource-apigw-cw-role` naming pattern that you're referencing is related to a custom resource for Api Gateway CloudWatch role that isn't even provisioned for the provided config as you don't have logs enabled for `restApi`. Please follow the issue template visi

[2021-04-09 07:27] yeukfei02 commented on #9268
`trello-clone-api-undefined-custom-resource-apigw-cw-role`

I mean this lambda func the name should be `trello-clone-api-prod-resource-apigw-cw-role`

the stage name becomes `undefined`...u mean the `serverless.yml` has missing config?

[2021-04-09 07:46] pgrzesik commented on #9268
Hello @yeukfei02 - what I mean is that in the config you provided, function `trello-clone-api-prod-resource-apigw-cw-role` should never be created because it's a function used for provisioning a custom resource that is used only when logs are enabled for API Gateway (e.g. via `provider.logs.restApi: true`).

[2021-04-09 07:49] yeukfei02 commented on #9268
@pgrzesik

should it be `provider.logs.restApi: true` default to true if not specify?
because when I use previous sls version to do `sls deploy`, there is no problem

thanks for the reply

[2021-04-09 08:11] pgrzesik commented on #9268
Hello :wave: In the case of the configuration provided, the stack shouldn't even attempt the creation of such function.

It defaults to false, meaning that the logs are not enabled by default.

I didn't manage to reproduce your issue locally, but I've spotted a place that might be causing this problem and prepared a fix.

[2021-04-09 08:13] pgrzesik commented on #9240
I didn't manage to reproduce locally, but I've spotted a problematic piece of code that could cause that and proposed a potential fix.

[2021-04-09 08:14] yeukfei02 commented on #9268
@pgrzesik

I feel it is better to set it to true, so there would not be `xxx-undefined-custom-resource-apigw-cw-role`
I feel fewer things in `serverless.yml` is better
thanks!

[2021-04-09 08:36] pgrzesik commented on #9268
I believe there is a bit of misunderstanding. If logs are not enabled for `restApi`, there won't be `xxx-undefined-custom-resource-apigw-cw-role` function, because it is only provisioned when custom resource to create API Gateway CloudWatch Role is needed - that function provisions that role.

[2021-04-09 08:38] medikoo commented on #9186
If there are no deprecations presented, you should be safe :) Otherwise track #9095 for more details on how we plan to coin multi-service repo problem. Very soon we will provide there details

Can you provide more details? At least I don't fully understand example you've presented

[2021-04-09 08:41] yeukfei02 commented on #9268
@pgrzesik

so do I need to add `provider.logs.restApi: true` for most of the case?
thanks.

[2021-04-09 08:43] #9273 closed

[2021-04-09 08:44] pgrzesik commented on #9268
That depends on your use case - please refer to documentation: https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#logs

[2021-04-09 08:44] #9240 closed

[2021-04-09 08:46] yeukfei02 commented on #9268
@pgrzesik

thanks. I think I will add it to `serverless.yml`..
for the next release will it set `provider.logs.restApi:` default to true? and if not specified, default also to true?

thanks.

[2021-04-09 08:47] pgrzesik commented on #9276
Hello @jdupl123 - thanks for reporting. Do you by any chance try to deploy the same stack while the previous deployment didn't stop running? Maybe you tried to update it in the meantime with `sls deploy function` command? Does that happen as well when you don't use `serverless-prune-plugin`?

[2021-04-09 08:50] #9269 closed

[2021-04-09 09:06] pgrzesik commented on #9183
Hello @mayank-budhiraja - are there any specific questions that you have? What is problematic for you?

[2021-04-09 09:07] vicary commented on #3339
@rcoundon Read the *Non-mutating actions* row in [API throttling limits](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/throttling.html#throttling-limits-rate-based), they don't even bother listing all of the actions there. I am imagining 100+ of those methods.

My team is subscribing to paid support plans, their response at least nailed down to some undocumented internal limits under the

[2021-04-09 09:10] rcoundon commented on #3339
@vicary Thanks for getting back to me. Yeah, frustratingly opaque. We're getting around it with some chaining using dependsOn which slows things down but it's manageable right now. Thanks again

[2021-04-09 09:59] jdupl123 commented on #9276
Thanks for the reply @pgrzesik the deploy was via ci several hours after the first deploy. I'll try run without the prune plugin and keep you updated.

[2021-04-09 10:13] AdamGreaves-DevSecOps commented on #6906
Seems a way around this is by changing your service name to something new to work around the error of the existing log.

[2021-04-09 10:41] yyamano opened #9279 "sls invoke local tries to build the java bridge if artifact is not defined"
If package.artifact is not defined, sls invoke local tries to build the java bridge and looks hangup.

You can reproduce the problem:

1. Generate a java maven project by "sls create -t aws-java-maven"
2. Apply the following change.
3. sls invoke local -f hello

[code]
The problem comes from here. invokeLocalJava() tries to build the bridge with mvn if callJavaBridge() throws an exception.

https:

[2021-04-09 10:42] pgrzesik commented on #9101
Hello @birsi - did you manage to resolve that problem on your side? Did you have a chance to check if the problem persist when NOT using `asdf`? I've also tried to reproduce it with `asdf` on my machine but it works as expected.

[2021-04-09 10:47] yyamano commented on #9279
Will take car of it.

[code]

We can see what is happening with the above patch.

[code]

[2021-04-09 10:51] yyamano commented on #8729
@pgrzesik I'm sure the top level package.artifact is required.
I tried to reproduce it, but I'm facing another issue. See #9279 for what I did.

[2021-04-09 11:52] gowthamkumard commented on #6247
what was issue, how did u fix it?

[2021-04-09 12:15] pgrzesik commented on #9015
Hello @VincentHuysmans1 and @ghostjester - I've managed to find some time to investigate further but when using your specific example @VincentHuysmans1 I didn't manage to reproduce this issue locally. Are you able to deploy if you do following:
[code]
?

I'm trying to exclude any issues related with how CODEBUILD extracts the cached artifacts, so that information would be really helpful.

Also, th

[2021-04-09 13:01] yyamano commented on #9261
@pgrzesik Could you close the issue?
It was fixed by #9263. My fault.

[2021-04-09 13:05] yyamano commented on #6028
@pgrzesik Could you close the issue?
Already fixed by #9259. Sorry to bother you.

[2021-04-09 13:11] Android3000 commented on #9215
I can try to take a look at that full change this weekend unless @Ruhrpottattacke responds before then - don't want to step on your toes here if you were hoping to do this. Thanks!

[2021-04-09 14:15] pgrzesik commented on #9215
That would be awesome @Android3000, thank you :bow:

[2021-04-09 14:16] pgrzesik commented on #6028
Totally, sorry for not closing and thanks for following up @yyamano :bow:

[2021-04-09 14:16] #6028 closed

[2021-04-09 14:17] pgrzesik commented on #9261
Thank you @yyamano :bow:

[2021-04-09 14:17] #9261 closed

[2021-04-09 14:39] joelcogen commented on #9240
Not sure what changed but now both `sls deploy` and `sls deploy --stage staging` give the error

[2021-04-09 14:42] ffxsam commented on #9269
Thanks @pgrzesik!

[2021-04-09 14:48] pgrzesik commented on #9240
@joelcogen Could you provide a minimal reproducible example?

[2021-04-09 14:51] yyamano commented on #8541
It's a serverless-google-cloudfunctions issue, not the serverless framework itself.

This validation logic was introduced by https://github.com/serverless/serverless-google-cloudfunctions/pull/72 to fix https://github.com/serverless/serverless-google-cloudfunctions/issues/59
I guess it works fine for javascript, but not for java.

[2021-04-09 15:09] joelcogen commented on #9240
@yeukfei02 Thanks, removing and recreating fixed the problem

[2021-04-09 18:35] nponeccop opened #9283 "ECMAScript modules template without transpiling"
### Use case description

- I want to write code using the ECMAScript modules (`export`/`import`) instead of CommonJS modules (`module.exports`/`require`)
- I don't want to use any transpilers such as `babel`
- I want to use the native support present in recent NodeJS. E.g. the 14.x runtime does have it, so why not?

### Proposed solution

I have made a sample project: [nponeccop/serverless-openap

[2021-04-09 23:43] s1mrankaur commented on #9245
@pgrzesik  Thanks for asking. Should have posted it actually.

I now call it as follows while deploying with lerna to our sandbox account:

aws-vault exec profile-name  --debug -- sls deploy -v --stage sandbox

[2021-04-10 03:10] esteveslima commented on #9186
I was trying to find a way to conditionally deploy certain resources(e.g. functions) based on stage. Using js it would be possible using a simple condition, if the options were available at environment variables "before" build.
[code]

Although this seems to be the easiest way to avoid code replication for "different" stacks, it doesn't look very good. The ideal solution I believe would be somethi

[2021-04-10 06:50] miktap commented on #8957
Looks like `serverless-localstack` plugin needs also `serverless-plugin-typescript`, installing that one helped.

[2021-04-10 15:14] jkklapp commented on #8368
@medikoo added one PR for `lib/plugins/aws/remove` folder #9284

[2021-04-10 19:42] JefAlive commented on #8889
+1

[2021-04-11 01:46] SamCullin commented on #1678
+1 Currently developing a nrwl nx plugin that supports serverless but it quite slow with out any documentation

[2021-04-11 05:07] Manitej66 commented on #5892
Guys, finally I was able to get it worked!

here is my layer structure (name the folder as `nodejs` )

![image](https://user-images.githubusercontent.com/61357713/114293164-9edb6780-9ab1-11eb-97ad-1040f3ec858c.png)

Now in the `serverless.yml` file add below code

[code]

[2021-04-12 06:54] jdupl123 commented on #9276
Hi I can confirm this seems to be due to using A old version of the prune plugin. sorry for the bother.

[2021-04-12 06:54] #9276 closed

[2021-04-12 08:22] medikoo commented on #9283
@nponeccop if that's the case, then I believe we cannot do anything about it (introducing ESM -> CJS transpilation for lambda packages is definitely not on a table)

Still, we can ensure that ESM is supported for input `serverless.js` configuration file. If Node.js supports that natively, Framework should also. That may require adding conditional logic and reading `package.json` to know whether `s

[2021-04-12 08:44] pgrzesik commented on #9276
Thanks for clarification @jdupl123 :bow:

[2021-04-12 08:53] #9279 closed

[2021-04-12 09:06] SashaShostyr opened #9285 "Custom fonts for AWS Labmda"
Is it possible to provide custom fonts for AWS Lambda function? Show an example if it is possible, please.

[2021-04-12 09:13] pgrzesik commented on #9285
Hello @SashaShostyr I'm closing this one as it's not a bug report/enhancement proposal. For these, please create a Github Discussion or a post on our forum - forum.serverless.com

[2021-04-12 09:13] #9285 closed

[2021-04-12 11:02] medikoo commented on #2892
We looked into this problem when implementing new resolver, and it looks as something that will  introduce an additional significant complexity, while use case is rare and can be addressed with alternative means.

-  Resolved key, technically may match already existing key, so even if value is successfully resolved we may need to reject the configuration
- Variable in a key technically means that

[2021-04-12 11:02] #2892 closed

[2021-04-12 11:03] medikoo commented on #3565
Closing, as escaping is supported by a new resolver, e.g `\${self:}` will be taken literally

[2021-04-12 11:03] #3565 closed

[2021-04-12 11:08] carchi1a opened #9286 "“Serverless Error: Rest API id could not be resolved.” but Serverless service does not use Rest API resources"
Experiencing an intermittent issue when running serverless deploy. Configuration does not use API Gateway or any API Gateway-associated resources; however, I get the following error message at the end of my deployment:

Executing the command a (variable) number of times eventually results in a successful deployment.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<de

[2021-04-12 11:32] nponeccop commented on #9283
The transpilation approach already works btw. My point is that it isn't needed.

The example project works as is, without any transpilation. The only thing it needed was a small wrapper, I only want that piece of knowledge to be more visible - e.g. to make a template, or a blog post, or put it into documentation.

[2021-04-12 11:40] yyamano commented on #8729
I just reproduce it with the latest version  https://github.com/serverless/serverless/commit/5392a7dce2a325d3f93d8e8508d63d16d93c6f51 of the serverless framework.

1. Create a java maven project by "sls create -t aws-java-maven"
2. Apply the following change.

[code]

3. sls invoke local -f hello

[code]
Missing the top level package.artifact causes the error.

https://www.serverless.com/framework

[2021-04-12 11:53] medikoo opened #9288 "Variables: Clear escapes from escaped variables"
### Use case description

New variables resolver support escape syntax so e.g. `\${opt:}` will be left literally. Issue is that`\` escape character is not cleared and that makes the feature incomplete

### Proposed solution

Clear the `\` from read string

[2021-04-12 11:59] medikoo opened #9289 "Variables: Make scope name format more strict"
### Use case description

Currently allowed _scope name_ format is relaxed to e.g. support `.` or `-`. To it's properly gather notation as `cf.us-east-1:foo`.

Still this scope name notation is already deprecated, and even scopes with such named are not really resolved by new resolver (resolution is then fallback to old resolver).

It's detected to fully detect all variables written in old notatio

[2021-04-12 12:13] pgrzesik opened #9290 "Refactor AWS Credentials handling"
### Use case description

Currently, our AWS Credentials resolution process is customized and does not support the same feature-set as tools such as `aws-cli` or `AWS-SDK`, which results in unexpected or buggy behavior. Examples:
- https://github.com/serverless/serverless/issues/9271
- https://github.com/serverless/serverless/issues/9091
- https://github.com/serverless/serverless/issues/6391
- htt

[2021-04-12 12:15] pgrzesik commented on #9271
Hello @waynerobinson, thanks for reporting and sorry to hear that you've run into trouble. We're planning a bigger refactoring to AWS credentials handling which in it's current form, unfortunately, has some quirks, including the one you listed. I don't have an ETA for that refactoring. In the meantime, while not ideal, you might try setting the `role_arn` explicitly in `~/.aws/config`.

[2021-04-12 12:29] brian-geoghegan opened #9291 "Request validator limit of 20"
I am running into an issue with request validation. When using event schemas, a model is created **and** a request validator. The request validator limit per api is 20. So when your reach 21 schema's, 21 validators exist. Thus throwing the error.
`Maximum number of Request Validators for this API has been reached. (Service: AmazonApiGateway; Status Code: 429; Error Code: LimitExceededException; Re

[2021-04-12 12:34] pgrzesik commented on #9291
Hello @brian-geoghegan, in `2.28.0` (https://github.com/serverless/serverless/blob/master/CHANGELOG.md#2280-2021-02-26) we've introduced the ability to reuse schema validators: https://github.com/serverless/serverless/pull/7619

Would that be helpful to resolve your issue here?

[2021-04-12 12:51] brian-geoghegan commented on #9291
Hi pgrzesik thanks for the quick reponse!

So if I understand correctly, that will create a schema model that is reusable? But what about the validator itself? I don't want to reuse schema models, I want to reuse validators for different schema models. According to AWS support we should only need 3 validators and reuse them for many schema models, a body, header and parameter validator should be a

[2021-04-12 12:55] medikoo commented on #4143
It's solved with new variables resolver. Check https://www.serverless.com/framework/docs/providers/aws/guide/variables#exporting-a-function

[2021-04-12 12:55] #4143 closed

[2021-04-12 12:57] medikoo commented on #4587
Closing, as it's solved with new variables resolver which caches resolved values

[2021-04-12 12:57] #4587 closed

[2021-04-12 12:59] medikoo commented on #4702
Closing as this issue is fixed with new variable resolver, which ensures that core properties are resolved for variable sources that depend on them

[2021-04-12 12:59] #4702 closed

[2021-04-12 13:01] medikoo commented on #4903
Closing as it was already solved. In old resolver we've fined tuned the regex to not collide  with AWS pseudo params, and same way new variable resolver respects them

[2021-04-12 13:01] #4903 closed

[2021-04-12 13:04] medikoo commented on #4974
@aloof-ruf I assume that in case of your bucket, `my-bucket/${opt:deploy-env}` path leads to folder were multiple files are placed. Is that correct?

[2021-04-12 13:06] medikoo commented on #5064
Closing as recently we've introduced a new variables resolver. And all access means are documented at: https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-other-files

[2021-04-12 13:06] #5064 closed

[2021-04-12 13:07] medikoo commented on #5110
Closing, as it's solved with new variable resolver, which crashes on not existing parameter only if fallback wasn't provided

[2021-04-12 13:07] #5110 closed

[2021-04-12 13:23] medikoo commented on #5202
@glikson Thank for request. I've updated main description with a solution which could be eventually implemented once we haver a new variables resolver

[2021-04-12 13:24] medikoo commented on #5228
Closing, as that should be fixed with a new variables resolver

[2021-04-12 13:24] #5228 closed

[2021-04-12 13:27] medikoo commented on #5235
Closing, as I believe it works without issues with new variables resolver

[2021-04-12 13:27] #5235 closed

[2021-04-12 13:31] medikoo commented on #5272
Issue refers to old variable resolver which is deprecated and has most of its issues solved by new resolver.

Closing as I believe with new resolver there's no longer need to tweak `provider.variableSyntax` and here it's the source of an issue

[2021-04-12 13:31] #5272 closed

[2021-04-12 13:33] medikoo commented on #5279
Closing as I believe this works as expected with new variable resolver

[2021-04-12 13:33] #5279 closed

[2021-04-12 13:35] medikoo commented on #5284
Closing, as (1) it's an old issue, (2) use case is not clear to me (3) we have a new variables resolver, which solved most of the issues.

@wowi42 if that's still an issue on your side. Please elaborate a bit more on the use case, and we'll figure out best approach

[2021-04-12 13:35] #5284 closed

[2021-04-12 13:38] medikoo commented on #5316
Closing, as it works as intended.

Serverless Framework doesn't host any internal logic to resolve AWS CloudFormation intrinsic functions on spot (putting aside complex and not perfectly documented resolution rules on AWS Side, due to deployment design it's not even possible to resolve some of them prior deployment)

AWS CloudFormation intrinsic functions notation is supported in values of propert

[2021-04-12 13:38] #5316 closed

[2021-04-12 13:43] medikoo commented on #5318
Closing, as it's a questionable use case with very controversial solution proposed, also we do not see any other requests asking for same.

Service configuration is considered as something portable that should not be repository dependent. I would probably re-dicscuss whether it's a good idea to make repository branch an important variable in service configuration (what really was the use case to f

[2021-04-12 13:43] #5318 closed

[2021-04-12 13:44] medikoo commented on #5337
Closing, as it's fixed with a new variables resolver

[2021-04-12 13:44] #5337 closed

[2021-04-12 13:44] medikoo commented on #5369
Closing as new variables resolver fails on first resolution error

[2021-04-12 13:44] #5369 closed

[2021-04-12 13:47] medikoo commented on #5441
I'm not sure if it's a bug.

Serverless Framework does not resolve AWS CloudFormation intrinsic functions, they're accepted in property values, as long as those values are passed as is to result CloudFormation template (and then are resolved on AWS side)

Here it appears it's not the case.

[2021-04-12 13:52] brian-geoghegan commented on #9291
A solution for this should be,  creating request validators and them in the schema, instead of creating a new request validator each time a schema is created? ${modelName}Validator should just be a generic bodyRequestValidator or whatever one would like to name it?.

Here is the response I received from AWS support:

[code]

[2021-04-12 13:53] pgrzesik commented on #9286
Hello @carchi1a, thanks for reporting. After looking at your config, it seems that the `provider.tracing` property is not configured properly - it's even highlighted with schema validation warning in the output. Could you please correct it and check if the issue still exists?

[2021-04-12 14:05] DaveLo opened #9293 "Feature Request: use intrinsic functions in eventbridge detail pattern"
### Use case description

Was following along with this [AWS blog](https://aws.amazon.com/blogs/compute/using-dynamic-amazon-s3-event-handling-with-amazon-eventbridge/) for using cloudtrail to trigger eventbridge events on an S3 bucket (which is using SAM/CFN) and the event rule looks like
[code]

when trying this in serverless, using the new-ish CFN eventbridge integration, I ran into issues depl

[2021-04-12 14:35] medikoo commented on #5470
This error comes with old variables resolver, but with new one you'd get same error. Note that you're trying to extend _string_ with object value.

This object value is CloudFormation intrinsic function, which is only resolved on AWS side, and not on Framework side (when processing the configuration.

So technically that's expected behavior.

[2021-04-12 14:40] medikoo commented on #5617
This technically could be solved. Still I'd love to learn more about the use case, can you describe a it in more detail?

[2021-04-12 14:43] medikoo commented on #5781
Closing, as it's fixed with a new variables resolver

[2021-04-12 14:43] #5781 closed

[2021-04-12 14:45] medikoo commented on #5830
Closing as I believe it's fixed with a new variables resolver

[2021-04-12 14:45] #5830 closed

[2021-04-12 14:46] medikoo commented on #5869
Closing, as with new variables resolver it can be solved by passing `raw` option to variable config, as:

[code]

[2021-04-12 14:46] #5869 closed

[2021-04-12 14:48] medikoo commented on #5965
Closing, as allowing to arbirtrary call system commands from Framework variables feels as controversial idea, and use case can already be solved with JS function file references

[2021-04-12 14:48] #5965 closed

[2021-04-12 14:49] medikoo commented on #5972
Closing, as new variables engine has very different engine and it's unlikely to share same issues

[2021-04-12 14:49] #5972 closed

[2021-04-12 14:56] medikoo commented on #6031
This is pretty easy now to implement with a new variables resolver. It's a question of extending the `sls` source configured here: https://github.com/serverless/serverless/blob/master/lib/configuration/variables/sources/instance-dependent/get-sls.js.

All properties that are passed to `resolve` are listed here: https://github.com/serverless/serverless/blob/5392a7dce2a325d3f93d8e8508d63d16d93c6f51/

[2021-04-12 15:08] medikoo commented on #6168
Closing, as this will work as expected with new variables resolver

[2021-04-12 15:08] #6168 closed

[2021-04-12 15:10] medikoo commented on #6357
@drieshooghe Thanks for proposal. Can you clarify the use case?

[2021-04-12 15:14] medikoo commented on #6720
Closing, as I believe this is solved with a new variables resolver

[2021-04-12 15:14] #6720 closed

[2021-04-12 15:15] medikoo commented on #6759
Closing, as it'll crash as expected with a new variables resolver

[2021-04-12 15:15] #6759 closed

[2021-04-12 15:16] medikoo commented on #7207
Closing as it was addressed with #8364

[2021-04-12 15:16] #7207 closed

[2021-04-12 15:17] medikoo commented on #7435
Closing as it's works as proposed with new variables resolver, which was shipped recently

[2021-04-12 15:17] #7435 closed

[2021-04-12 15:21] medikoo commented on #7500
Closing as I believe it'll work as expected with new variables resolver

[2021-04-12 15:21] #7500 closed

[2021-04-12 15:24] medikoo commented on #7895
Closing as I believe it's sorted out by new variables resolver

[2021-04-12 15:24] #7895 closed

[2021-04-12 15:25] medikoo commented on #6677
Closing as duplicate of #8037

[2021-04-12 15:25] #6677 closed

[2021-04-12 15:30] medikoo commented on #9186
Technically you can resolve stage by using JS function as:

[code]

Obviously it's pretty verbose to resolve _stage_ as above, therefore we have a plan to introduce `sls:stage` https://github.com/serverless/serverless/issues/6031 and also we plan to provide access to variable source resolvers with https://github.com/serverless/serverless/issues/9112

Would that solve this problem for you?

[2021-04-12 20:03] mnapoli commented on #6031
Ohh yeah, and thanks a lot for the guidance! I'll try to work on this tomorrow! (famous last words)

[2021-04-12 21:16] uncodable opened #9294 "AWS - API Gateway Authorizer - "CUSTOM" type error"
When using the authorizer type as `CUSTOM` it will throw:

This still successfully creates the AWS cloudformation template with the api gateway, however seems just a validation error, because the "CUSTOM" type is an actual gateway authorizer type.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-04-13 03:20] masonjm opened #9295 "Schema validation missing for cloudwatchEvent?"
I've created a new lambda using the `aws-ruby` template. When I try to add a cloudwatchEvent trigger I get validation warning:

[code]

Here's the serverless.yml:

[code]

I think this is a valid config (it matches what's in the documentation and the template, at least). The documentation at https://www.serverless.com/framework/docs/configuration-validation/ makes me think a schema definition migh

[2021-04-13 07:11] #6357 closed

[2021-04-13 07:12] drieshooghe commented on #6357
@medikoo I honestly can't remember 😅 closing this issue.

[2021-04-13 07:22] pgrzesik commented on #9295
Hello @masonjm - from what I see it's not a valid config, the properties for `cloudwatchEvent` are not indented properly. It should look like this:

[code]

Let me know if that helps :bow:

[2021-04-13 07:32] pgrzesik commented on #9294
Hello @uncodable, thanks for submitting your issue. Underneath, `CUSTOM` is not a valid authorizer type but rather a valid authorization method. `type` is translated to `Type` property of `AWS::ApiGateway::Authorizer` resource (reference docs: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-authorizer.html#cfn-apigateway-authorizer-type) while `CUSTOM` is a v

[2021-04-13 07:39] uncodable commented on #9294
Hey @pgrzesik,

Thanks for getting back to me.

Please see the CloudFormation event response (if you set the type to something other than a correct type FOOBAR etc):

[2021-04-13 07:48] pgrzesik commented on #9294
The error is for `AWS::ApiGateway::Method` property `AuthorizationType` - it is resolved internally based on authorizer type. Additionally, all possible values are not valid in all cases, as e.g. when ID of an existing authorizer is provided, you can only specify `CUSTOM` or `COGNITO_USER_POOLS`. I realise that it might be a bit confusing, but some of the concepts are hard to translate and here I

[2021-04-13 07:53] uncodable commented on #9294
Thanks @pgrzesik is what I'm doing in the above example right to use an existing `CUSTOM` authorizer then in this use case? I have a service that generates api gateway & the authorizer etc, then I want it to use that existing authorizer. Appreciate you getting back to me, thanks in advance.

[2021-04-13 10:21] mnapoli commented on #6031
@medikoo I'm confused by the fact that `${sls:XXX}` variables are defined in 2 places:

- the one you mentioned
- [Variables.js](https://github.com/serverless/serverless/blob/d26e2ae4b8db944bb6f9de55043b46285f08e726/lib/classes/Variables.js#L586-L593)

Should I edit both?

Regarding tests as well: should I also add tests in `Variables.test.js`?

So far I'm editing `get-sls.test.js`, are there func

[2021-04-13 10:23] medikoo commented on #6031
@mnapoli `Variables.js` is old resolver which will be removed with v3, we keep it just for legacy compliance but do not extend with new features. So let's not update that one.

Concerning testing, all related need to be put it into `get-sls.test.js` (it'll be nice to keep there 100% tests coverage)

[2021-04-13 10:25] mnapoli commented on #6031
OK thanks, that answers my questions. Because I need to run tests in different scenarios:

- without options nor `provider.stage`
- without options but with `provider.stage` defined
- with CLI options

I need to edit the test a little bit. I'll open the PR and feel free to let me know how to reorganize things the way you prefer.

[2021-04-13 10:34] mayank-budhiraja commented on #9183
@pgrzesik All endpointType related test cases are failing. I moved endpointType at the appropriate location yet I am encountering errors.

Thanks for the help!

[2021-04-13 11:06] leidsongermano commented on #8892
Hey, version 2.35.0 still with the same issue, tested with localstack 0.12.6.

[2021-04-13 11:51] mnapoli commented on #6031
I've opened #9296

[2021-04-13 14:03] pgrzesik commented on #9294
Hey @uncodable - you should provide the same `type` as the authorizer you're providing has - please see the documentation: https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#share-authorizer

E.g. if the authorizer referenced by `authorizerId` is of `REQUEST` type, then provide `type: request`.

[2021-04-13 14:05] uncodable commented on #9294
Thanks for coming back to me @pgrzesik appreciate the help 👍🏻

[2021-04-13 14:12] HaaLeo commented on #8951
I experience a similar issue when I try to set the `deploymentBucket.name` via an environment variable:
[code]

Serverless then simply ignores this setting and tries to create its own `ServerlessDeploymentBucket` instead.

[2021-04-13 14:14] pgrzesik commented on #9293
Hello @DaveLo, thanks for reporting and linking to an article from AWS. I believe it might be a "leftover" from a still supported custom-resource backed support for EventBridge integration. Looking at one of the examples from the article it seems like CF supports intrinsic functions for patterns without issues, which suggests that we should be able support it as well.

We'd be more than happy to a

[2021-04-13 14:15] pgrzesik commented on #8951
Hello @HaaLeo, what version of Framework are you using?

[2021-04-13 14:16] HaaLeo commented on #8951
v2.34.0 Updated my previous comment

[2021-04-13 14:21] pgrzesik commented on #8951
Thank you @HaaLeo - I've just tried to reproduce your issue but I'm observing correct behavior on my side. Could you provide a reproducible example with minimal `serverless.yml` and output of `sls deploy`? Maybe that will make it easier to reproduce the problem and diagnose the potential bug.

[2021-04-13 14:43] pgrzesik commented on #9291
Thanks for clarification @brian-geoghegan - I've checked an in fact, we're creating separate validators which definitely seems unnecessary. I believe we should reuse validators instead of creating new ones. I'll dive deeper into the code to figure out a potential way of reusing them in an efficient and backward-compatible manner.

[2021-04-13 14:46] HaaLeo commented on #8951
My setup is the following
I run the following two commands in two separate CodeBuild steps:
1. `sls package args...`
1. `sls deploy --package .serverless/`

The deployment was failing. Therefore, I only checked those logs 🤦🏼‍♂️. However, taking a closer look at the packaging step it indeed warns me about the missing parameter:

[code]

So my mistake was to set the environment variable during the d

[2021-04-13 14:52] brian-geoghegan commented on #9291
Thanks @pgrzesik, a solution I tried was to create the request validator separately and first and create models after it. Could specify the validator separately at a stack level or create generic ones automatically. If you need anything more from me let me know!

[2021-04-13 15:59] carchi1a commented on #9286
Hi @pgrzesik, thank you for looking into this so promptly.

I had noticed the validation warning, but I had ignored since it was the required configuration for the `serverless-plugin-tracing`. I gather that this plugin is now obsolete as this functionality is built in, so following the Serverless documentation I updated my config to define tracing as:

[code]

I can see that the warning is no long

[2021-04-13 16:33] masonjm commented on #9295
@pgrzesik that did it. Thank you!

[2021-04-13 16:33] #9295 closed

[2021-04-13 18:35] uncodable commented on #9294
@pgrzesik I'm getting:

It wont let me use `TOKEN` but works on deployment with `CUSTOM`

serverless.yml:
[code]

[2021-04-13 18:42] glb opened #9299 "Feature proposal: fail when duplicate resource IDs are detected"
It would be great if the framework would detect and (warn | fail) when there are duplicate resource IDs in a service description.

### Use case description

Here's a (super-simplified) example of a problematic service. It takes advantage of the fact that Serverless lets you provide `resources` as an array of objects, which is super-useful for grouping things together. In this example it's easy to

[2021-04-14 07:56] #5774 closed

[2021-04-14 08:04] pgrzesik commented on #9294
Thanks for followup @uncodable - you're right, this specific logic had a bug where the `type` wasn't correctly mapped from `TOKEN` and `REQUEST` to `CUSTOM`. I've proposed a fix and it should be available with next release. Until then, you can use `type: CUSTOM`

[2021-04-14 08:06] uncodable commented on #9294
Thanks for getting back to me @pgrzesik appreciate the fix 👍🏻

[2021-04-14 08:07] pgrzesik commented on #9286
Hello @carchi1a - thanks for followup. Thanks quite interesting, because in order to hit the error you're experiencing you would have to enable either tracing or logs for API Gateway. Are you able to test it out with reduced number of plugins? Maybe one of them is introducing that setting behind the scenes? Also, in your command, I've noticed `--api_gateway_id_ssm_name random --api_gateway_root_re

[2021-04-14 08:25] pgrzesik commented on #8951
No worries @HaaLeo, happy to hear you've been able to resolve your issue :+1:

[2021-04-14 08:48] #9294 closed

[2021-04-14 09:04] yyamano commented on #6274
I can't reproduce it.

@RJEah1 I'm not sure if I understand the procedure correctly. I'm wondering if you can show me your serveless.yml and tell me what exactly you did?

Here is my procedure.

1. Generate a java maven project by "sls create -t aws-java-maven"
2. Apply the following change.

[code]

3. Build a jar by "mvn package"
4. Deploy  the jar by "sls deploy"

[code]

[2021-04-14 09:54] HaaLeo commented on #8367
@shaheer-k how did you solve the issue? I have the exact same question.

[2021-04-14 10:17] HaaLeo commented on #8367
For anybody else who may has the same problem: I ended up with overwriting the the `HttpApiStage`:
[code]

[2021-04-14 10:50] mrashidse commented on #5497
I am also facing this problem in Serverless version 2.35.0

[2021-04-14 10:58] mrashidse commented on #5295
I'm encountering the same issue with the latest version:
`Framework Core: 2.35.0 (local)
Plugin: 4.5.3
SDK: 4.2.2
Components: 3.8.2`

[2021-04-14 13:46] pgrzesik commented on #9183
Hello @mayank-budhiraja - could you create a draft PR from your branch? That will help me take a look at failing tests in your branch. Additionally, as a first step, you might want to refactor the existing tests to `runServerless` approach as I see that the existing ones use the old approach. For details about `runServerless`-based tests, take a look here: https://github.com/serverless/serverless/

[2021-04-14 19:21] MelanieGehrke commented on #8368
Hey,
I´d like to work on it. Can I work on lib/plugins/create? I think this is file not done by now.

[2021-04-14 19:43] rafaeldasilva commented on #6905
I have a similar issue. On my case I don't create the bucket in resources section, I just use a pre-existing one on my lambda.
The error message that I get is
`Received response status [FAILED] from custom resource. Message returned: No policy is associated with the given resource.`

Could it be related with role permissions? I see there is two possible actions related to Event Notifications on S3

[2021-04-14 20:19] medikoo commented on #8368
@MelanieGehrke that'll be great! We look forward the PR

[2021-04-14 20:21] MelanieGehrke commented on #8368
@medikoo perfect! Thank you.

[2021-04-15 04:41] keyurbhole opened #9302 "error in deploying individual function"
<details>
<summary><b><code> sls deploy function -f function1</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-04-15 07:12] medikoo opened #9303 "Allow to opt-out from backend notifications"
### Use case description

Currently back-end notifications are shown unconditionally, which adds unwanted noise to CI systems. It'll be good to improve the experience and allow to hide them

### Proposed solution

#### Strategy

We have two kind of notifications (1) Ones that promote new functionalities (2) Ones that indicate that used version is outdated. I believe we should be able to mute first

[2021-04-15 07:16] pgrzesik commented on #9302
Hello, this is a duplicate of https://github.com/serverless/serverless/issues/9252 which is itself an issue in `serverless-webpack`, not in the framework. I'm closing this one, please follow the corresponding issue in `serverless-webpack` repository. Also, for the future, please follow the issue template that is presented when you create a new one.

[2021-04-15 07:16] #9302 closed

[2021-04-15 07:19] medikoo commented on #9303
@pgrzesik let me know what you think

[2021-04-15 07:37] pgrzesik commented on #9303
Thanks for the proposal @medikoo - it looks good in my opinion. I believe we should also add information about it as a part of documentation that will be introduced in https://github.com/serverless/serverless/issues/9257. What do you think?

[2021-04-15 07:40] medikoo commented on #9303
That's good idea. I believe that definitely in telemetry document we need to mention fact that turning it off, also effectively turns off backend notifications. We probably should make this `Telemetry / Announcements service` page and introduce there two sections

[2021-04-15 12:19] pgrzesik commented on #9299
Hello @glb, thanks for your proposal. It sounds like a useful feature, when it comes to potential values I think we should stick to `warn` and `error` values to be consistent with e.g. `configValidationMode`, which supports `warn`, `error` and `off`.

@medikoo What do you think about introducing such functionality?

[2021-04-15 12:25] pgrzesik commented on #9291
I believe the most reasonable approach would be to create the generic ones automatically whenever they are needed. From what I inspected it seems like we're always creating validators with the following params:
[code]

so it suggests that we could have a single validator in the stack that is reused across all `AWS::ApiGateway::Method` resources. What do you think @brian-geoghegan ?

[2021-04-15 12:43] brian-geoghegan commented on #9291
If you are able to check if it exists already after being created would be ideal instead of recreating it per lambda. Just so that it is only created once and is reused, if you reference the one already created while creating the model schema would be ideal.

I think the easiest for you guys could even just create one when an api gateway is created and then use that one if the schema key word appe

[2021-04-15 13:05] medikoo commented on #9299
Thanks @glb for proposal.

We lean towards a generic solution that will allow to concat data from multiple sources, and which will replace `mergeArrays` functionality -> https://github.com/serverless/serverless/issues/8037

So having that in might, I would no further tweak what we consider a legacy functionality, but focus on shipping that new solution, and in it unconditionally crash when two pro

[2021-04-15 13:32] dmacdo02 commented on #9180
can check near the buidl status. Sometimes it says why the job failed there, typically due to insufficient memory. You can try boosting to a size: 2x job in the pipeline definition.

[2021-04-15 14:31] glb commented on #9299
@medikoo while I agree (again) that it would be great for the proposal in #8037 to be done, I don't see folks jumping in to implement it, and as I've commented before it's not something I think I'm competent to help with given my time constraints. I would agree that the behaviour of that new implementation would be great as you described it: crash when there's a collision. I'm not 100% clear on ho

[2021-04-15 16:25] kevinmic commented on #8637
I ran into this problem today with a kinesis stream as an event source rather than sqs. I am trying to get away from using the serverless-pseudo-parameters plugin and was hoping I could do

`arn: !Sub "arn:aws:kinesis:${AWS::Region}:${AWS:AccountId}:stream/myStream`

Unfortunately I get the same error as @svdgraaf.

[2021-04-15 16:35] MarcWadai opened #9305 "Request validators model, Value of property RestApiId must be of type String"
Hi,
I am using this version of serverless
[code]

Because I hit the hard limit of 20 requests validators, so I used the model to reuse some schemas. But then i got this error :
`Value of property RestApiId must be of type String`.

This is my code in my serverless.yml :
[code]

I am doing something wrong ?

[2021-04-15 16:42] MarcWadai commented on #9305
I resolve the issue, I forgot the double quotes around the name of the schema.
But the error message is still quite confusing.

[2021-04-15 17:03] kevinmic commented on #8637
@pgrzesik You mentioned "I'm still wondering if the same couldn't be possible to achieve via `Join`".  The answer is Yes absolutely! But it still is a pain to use `Join` rather than `Sub` in this case.

A reverse question to you, why wouldn't you want to support `Sub` everywhere that you support `Join`? Is Sub significantly harder to support?

[2021-04-15 17:06] dazza-codes opened #9306 "usagePlan does not apply quota or throttle"
The `serverless.yml` snippet below defines an API-Gateway `usagePlan`:

[code]

But when the plan is viewed in the AWS Console for the API-Gateway created, the quota and throttle are unlimited.

The `.serverless/cloudformation-template-update-stack.json` contains something like:

[code]

<b>Installed version</b>

[code]

[2021-04-15 19:23] pashka4281 commented on #8282
@medikoo

Is this also true for component-based services? (e.g. express). I'm doing the exact same thing @dashmug  described except it looks like variables do not get resolved if placed in the array:

[code]

[code]

[2021-04-15 19:49] medikoo commented on #8282
There's no support for Serverless variables in component based services

[2021-04-15 21:13] ankon commented on #3661
I hit this issue now as well, and didn't see any obvious change since this was filed that would give me a predictable name for either an output or the version so that I could create the output.

But, I managed to write a small plugin that seems to work:

[code]

[2021-04-15 21:29] MohammedNoureldin commented on #6149
I have not got it working yet, but the first weird behavior I see, after editing my API and deploying it as shown above, I am still able to access the WebSocket API without any restriction. To solve this, I needed to manually `Deploy` the API again manually from the AWS GUI console, which is totally weird and does not make sense (and therefore it took me 2 days to figure out why I am able to acces

[2021-04-16 00:22] alexwendte commented on #8367
I have the exact same question as well. The work around from @HaaLeo worked great for me in the meantime.

[2021-04-16 02:40] tnraddatz commented on #7303
`exclude` seems to be completely broken (from my perspective).  If you just use `patterns` instead this should work.

[2021-04-16 06:53] tomaszdudek7 commented on #4029
Adding the following block on the `AWS::ApiGateway::BasePathMapping`:
[code]
(where `ApiGatewayDomainName` is my own logical ID for `AWS::ApiGateway::DomainName`) finally did the trick for me. Thank you @ghost (whoever you were).

I can finally get rid of `sls-domain-manager` plugin.

[2021-04-16 07:51] medikoo commented on #9299
If we assume generic handling, then I'd expect both ways to fail.

Ideally new functionality will do only top level merge (_deep level_ merges are error-prone and definitely should not be pursued with generic approach - where we may handle any kind of configuration property).

This feature is to be removed, and we prefer to not extend our technical debt around functionalities which are considered

[2021-04-16 08:05] medikoo commented on #8037
On revisiting this, I have following thoughts:

A solution that works across all types of configs (YAML, JSON etc), is probably best if configured with our variables syntax. We can introduce e.g. `${merge(obj1, obj2, obj3)}`  which will do single level merge on either plain objects or arrays.

Downside is that we cannot merge _inline_ part with _externally_ configured parts. `${merge}`could only w

[2021-04-16 08:17] pgrzesik commented on #8037
Thanks for proposal @medikoo. I like the approach based on variable syntax as it's the most universal, minus the downside that you highlighted. Then, if there's a need for that, we could also add the second, yaml-specific syntax with `!merge`

[2021-04-16 08:19] pgrzesik commented on #9299
Thanks @medikoo for clarifying and bringing to light the other more generic issue that I wasn't aware of. I think it's a better approach to go with generic approach instead of solving these issues on case-by-case basis.

[2021-04-16 08:22] pgrzesik commented on #9305
Hello @MarcWadai. Thanks for reporting. I believe you're using syntax that is not supported for `1.77.1` version and was introduced in `2.28.0` - https://github.com/serverless/serverless/blob/master/CHANGELOG.md#2280-2021-02-26

[2021-04-16 08:34] pgrzesik commented on #9306
Hello @dazza-codes, thanks for reporting. First thing I've noticed is the invalid `yaml` configuration, it should be:

[code]

Additionally, you're not using the latest version of the Framework. Is there something preventing you from update?

[2021-04-16 09:45] medikoo commented on #8037
Thanks @pgrzesik I've updated main description with instructions how we can implement it. Let me know what you think about it.

As you mention I would definitely first got with `merge` variable source, and then eventually also `!merge` YAML extension can be provided

[2021-04-16 12:18] medikoo commented on #9095
I've updated main description with a solution proposal, that outlines all steps needed, to I believe a really good multi-service repo support. Note that just first two (small) steps will fix the source of this issue.

@pgrzesik @m-radzikowski what do you think about that?

[2021-04-16 14:44] medikoo opened #9311 "Initialization extensions (move TS handling to extension package)"
### Use case description

_Originally discussed at https://github.com/serverless/typescript/issues/28#issuecomment-780389256_

Framework already supports plugins. Still plugins can be configured only through service configuration, which means that there's no way to e.g. add support for different file type to serve as configuration type through plugin.

In light of that, such support needs to be ba

[2021-04-16 14:45] medikoo commented on #9311
@fredericbarthelet @pgrzesik let me know what you think about this proposal

[2021-04-16 15:12] pgrzesik commented on #9095
Thanks for a detailed outline @medikoo :bow:. I have one question related to the proposal, when `projectDir` is involved, all `file(..)` references in `serverless.yml` will be resolved relatively to that `projectDir` or relatively to `serviceDir` ?

[2021-04-16 15:15] medikoo commented on #9095
It'll be resolved same as it happens now, so relatively to `serviceDir` (folder in which `serverless.yml` is placed),  It's just that you'd be able to pick file from parent folder (assuming it's in a boundary of `projectDir`)

[2021-04-16 15:17] carchi1a commented on #9286
Hi @pgrzesik, I've been running some tests and I have found a plausible explanation for the issue. The `--api_gateway_id_ssm_name random --api_gateway_root_resource_id_ssm_name` flags you asked about we use in our deployment script because we deploy 4 stacks in parallel (via Jenkins parallel). These flags are not applicable for this stack, but we use them in a different stack to force Serverless t

[2021-04-16 15:18] #9286 closed

[2021-04-16 15:18] pgrzesik commented on #9095
Thanks for the clarification as I wasn't 100% sure.

[2021-04-16 15:19] pgrzesik commented on #9286
Thanks for an update and happy to hear you've managed to resolve that issue :raised_hands:

[2021-04-16 15:27] medikoo opened #9312 "CLI: Deprecate `sls deploy -f <function-name>`"
### Use case description

There's a dedicated CLI command `deploy function -f <function-name>` for single function deployment. Still same can theoretically be achieved via `deploy -f <function-name>`.

It's problematic alias as both commands accept different options:
- https://github.com/serverless/serverless/blob/712a569d5258f7770d4c23d8f0803c3d0062b79e/lib/cli/commands-schema/aws-service.js#L10-

[2021-04-16 15:29] medikoo commented on #9312
@pgrzesik let me know what you think about proposed solution

[2021-04-16 17:04] dazza-codes commented on #9306
Thanks for the syntax correct, I will try to revise that.  I also noted in the docs a sample where the api-keys and the usage plan are nested below an `apiGateway` entity, i.e.

[code]

It seems to be working, to some extent, without nesting below an `apiGateway` entity.  But it might be worth also adding that.

I tried to update serverless a couple months ago and ran into weird validation errors

[2021-04-16 17:35] glb commented on #9299
I'm a little disappointed by that perspective but it's your project, not mine. For us the `mergeArrays` behaviour for `resources` is a critical feature used by literally every single one of our services, and given that an error using it caused an outage, we would love to have the guardrail in place, and I'm happy to contribute the code change to make it happen, especially while we're waiting for s

[2021-04-16 17:47] medikoo commented on #9299
@glb please take a look, as with new variables resolver. Implementing `merge` variable source as propose should be relatively easy and not that time taking

[2021-04-16 19:51] FabianEhringer commented on #9225
@medikoo I can reproduce it in a clean project. The cause is probably this plugin: https://www.serverless.com/plugins/serverless-plugin-modularize
Apparently it has some problems with variable resolution.

[2021-04-16 20:29] glb commented on #9299
@medikoo thanks to your updated instructions I've been able to make some progress. I started with the YAML tag version as that was more along the lines of what we are likely to use, but I'll take a look at the variable resolver next.

[2021-04-17 07:14] js-cha commented on #3616
hey @medikoo 👋 - first time OS contributor here. Just wanted to ask if this issue is still relevant and can be worked on? Would love to have a crack.

[2021-04-17 14:07] MohammedNoureldin commented on #6149
@rudijs Hi, do you know as far as you know how to achieve the same in Flutter/Dart? It seems that this `Signer` is not available? Which is really frustrating..

[2021-04-17 15:29] medikoo commented on #3616
@js-cha I believe that it's still relevant. Still let me confirm with @pgrzesik, @pgrzesik what do you think about this proposal?

[2021-04-17 17:27] dazza-codes commented on #9306
- corrected the indentation for the `quota` and `throttle` ✅
- tried to nest it all under `apiGateway` ❌

It now creates the CloudFormation details correctly:

[code]

[2021-04-17 17:27] #9306 closed

[2021-04-17 20:18] jkklapp commented on #9312
I'd like to take on this one if we have a green light on the proposal

[2021-04-17 20:22] glb commented on #8037
Still required after serverless/utils#79 and #9314 are merged (if they're acceptable):
1. version bump for `serverless/utils`
2. update `serverless/serverless` to pick up new `serverless/utils` version, document `!merge` tag. Is `variables.md` the right place as stated in the description or is there somewhere else that makes sense?

[2021-04-17 22:06] joebernard opened #9315 "CLI function deployment bug"
When trying to redeploy an existing lambda using `serverless deploy function -f myFunction`, serverless packages it but then attempts to upload a different function. It fails to find the package and errors.

In the below example, I try to upload the lambda `saveComment`. It packages `saveComment` but then attempts to upload `savePost` (another one of my lambdas). Since that wasn't packaged, it fai

[2021-04-17 23:28] joebernard commented on #9315
It's a serverless-webpack bug.
https://github.com/serverless-heaven/serverless-webpack/issues/737
Closing.

[2021-04-17 23:28] #9315 closed

[2021-04-18 07:39] audunru commented on #8356
The deprecation warning links to https://www.serverless.com/framework/docs/deprecations/#UNSUPPORTED_CLI_OPTIONS which does not mention --aws-profile

[2021-04-18 08:57] pgrzesik commented on #9312
Thanks for proposal @medikoo - I fully agree that it's a problematic option. The proposal looks great, I don't have anything to add there.

[2021-04-18 09:00] pgrzesik commented on #9306
Hello @dazza-codes :wave: Happy to hear you were able to resolve your issue. In order to nest the settings under `apiGateway` you'll need to upgrade the Framework - it was released with `2.18.0` - https://github.com/serverless/serverless/blob/master/CHANGELOG.md#2180-2021-01-07

[2021-04-18 09:06] pgrzesik commented on #3616
I think the proposal looks good, nothing to add from me :+1:

[2021-04-18 19:40] luigidragone96 opened #9317 "Wrong configuration warning on logRetentionInDays with SSM param"
Hi,
I have encountered validation problems in the field logRetentionInDays under provider when using an ssm parameter.

For example:
`logRetentionInDays: ${ssm:/lambda/log-retention-in-days}`

Generate this warning:
`Configuration warning at 'provider.logRetentionInDays': should be equal to one of the allowed values`

The SSM parameter contain a valid value for logRetentionInDays (1).
I use the la

[2021-04-18 22:25] gambit66 commented on #9291
I hit this issue this last week and have submitted PR #9291 which will just create 1 request validator for all request schemas instead of creating a request validator per request schema as suggested by @ pgrzesik and AWS support.

[2021-04-19 02:45] Shahid1993 commented on #5034
This doesn't work for path parameters.

To get the APIGatewayMethod name for your nested route, you can look in the `compiled-cloudformation-template.json` file inside your serverless deployment bucket.

[2021-04-19 06:16] mydeen1989 opened #9321 "Provisioned Concurrency is not working as expected"
Hi,

I am new user to  serverless framework. My lambda is throwing higher response time. When I see the documentation it can fix by  provisionedConcurrency. I tried to add the same in my serverless.yml but still my issue is not resolved.

Serverless version

Framework Core: 1.83.3 (local)
Plugin: 3.8.4
SDK: 2.3.2
Components: 2.34.9

Added provisionedConcurrency: 3 and versionFunctions: false in se

[2021-04-19 06:17] mydeen1989 commented on #9321
@medikoo

[2021-04-19 07:31] pgrzesik commented on #9321
Hello @mydeen1989. Please follow the template that is present when you create a new issue. Additionally, do you have the ability to upgrade to the latest version of the Framework? In `2.7.0` there was a fix for `provisionedConcurrency` for stream events: https://github.com/serverless/serverless/blob/master/CHANGELOG.md#270-2020-10-13

[2021-04-19 07:40] #9139 closed

[2021-04-19 07:51] medikoo commented on #9312
@jkklapp please do! We look forward

[2021-04-19 07:53] pgrzesik commented on #9311
Thanks @medikoo for a detailed proposal :raised_hands: It looks great in my opinion from a extension-agnostic point of view - as I'm not an expert on TS-related stuff, I cannot fully say that it will allow to support all intended use cases listed on original issue in `typescript` repository.

[2021-04-19 07:58] MarcWadai commented on #9305
Thanks for your quick answer.
I upgraded but I still got the same error:
[code]
At first I thought maybe it was because of caching, so I also deleted the `.serverless ` and retried, but still the same result

[2021-04-19 08:38] serverlesspolska opened #9322 "Create project from template fails becasue does not recognize new 'main' branch instead of 'master'"
When creating a project using template located in github, the action fails because sources are under the new 'main' branch instead of 'master'.

<details>
<summary><b><code>SLS_DEBUG=* sls create --template-url https://github.com/serverlesspolska/serverless-hexagonal-template --name your-project-name</code>output</b></summary>

[code]

</details>

After digging into code I see that in file `downlo

[2021-04-19 10:57] pgrzesik commented on #9317
Hello @luigidragone96, thanks for reporting. Could you post the output of `sls print` command (with any sensitive parts hidden)?

Also, for the next time, could you please follow the issue template that is visible when you start creating a new issue?

[2021-04-19 11:00] #8729 closed

[2021-04-19 11:03] pgrzesik commented on #9291
Hello @gambit66 - thanks for proposing a PR that will address this issue. I have one concern though - did you confirm that the proposed change is not breaking already existing stacks that will have to recreate the validators? We wouldn't want to introduce any disruptions for existing services.

[2021-04-19 11:06] pgrzesik commented on #9305
Hello @MarcWadai - could you please follow the issue template that is visible when you create a new issue? I'd like to see the full output of `sls deploy` with the error - that will help us diagnose the error.

In the meantime, are you sure that
[code]
these settings resolve to actual values? I see a typo `RESSOURCE` instead of `RESOURCE` for `restApiRootResourceId` for example.

[2021-04-19 11:36] medikoo commented on #9225
@FabianEhringer please report this issue to this plugin repository (this repository handles Framework core)

[2021-04-19 11:36] #9215 closed

[2021-04-19 12:25] medikoo commented on #8356
@audunru great thanks for posting. It's a bug, it'll be fixed with https://github.com/serverless/serverless/pull/9324

[2021-04-19 12:26] medikoo commented on #3616
@js-cha it's all yours!

[2021-04-19 12:29] medikoo commented on #9317
@pgrzesik it might be that coercion is not applied to enum values, and we expect there number, while SSM resolves with a string.

If that's the case, we can introduce `toNumber` variable source (as e.g. have `strToBool`) to help address such use case

[2021-04-19 12:46] pgrzesik commented on #9317
@medikoo I thought that as well, but I simply tested locally with string values e.g. `logRetentionInDays: '1'` and there were no schema errors present, which was a bit surprising.

[2021-04-19 12:52] MarcWadai commented on #9305
Sure :
[code]

Yes i am sure about those values, before adding the schema validation models, everything worked fine. I am actually adding the models because serverless is creating Validators and there is a limit of 20 for API gateway

[2021-04-19 13:13] gambit66 commented on #9291
Hi @pgrzesik, thank you for taking the time to look at my PR. I have tested this update with a test project to try test all the different scenarios I could think of, such as having 1 function use events.http.request.schemas and another using the old events.http.request.schema property.

I also did a deployment using this code for an API project that was getting the `Maximum number of Request Valid

[2021-04-19 13:26] brian-geoghegan commented on #9291
Thanks for working on this @gambit66

[2021-04-19 13:27] pashka4281 commented on #8282
Well it does support env variables except for when you use them inside of an array (it seems like)

[2021-04-19 13:46] medikoo commented on #8282
Yes, there can be support for few basic use cases, and it's backed with primitive (regex) based implementation afaik.

I'm not sure if it's documented anywhere, @eahefnawy ?

[2021-04-19 14:17] pgrzesik commented on #9303
Hello again :wave: I've went with the implementation in Framework, however, I've noticed that main processing of the notifications happens in `serverless/utils` repository and even if we skip showing the notification on Framework side, the notification will be still marked in `.serverlessrc` as displayed due to logic in https://github.com/serverless/utils/blob/master/process-backend-notification-r

[2021-04-19 14:41] pgrzesik commented on #9305
Hello @MarcWadai thanks for sharing, unfortunately, I'm still not able to spot an issue here, it also looks like you're using some external plugins. The error that is returned suggests that the `RestApiId` property passed is invalid - would you be able to share the value of `RestApiId` property for `ApiGatewayProjectValidateModel` logical id resource from `.serverless/cloudformation-template-updat

[2021-04-19 14:46] medikoo commented on #9303
it's a great idea. That way it'll also apply to all CLI's

[2021-04-19 15:05] pgrzesik commented on #9322
Thanks for reporting @serverlesspolska :bow:

As for resolution of this issue, I think we could rely on resolving the default branch via GH API:

[code]

[code]

so instead of defaulting to `master`, we will fetch the default branch directly from Github (if it's Github URL of course).

Bitbucket also supports similar API:

[code]

What do you think @medikoo ?

[2021-04-19 15:07] medikoo commented on #9322
@pgrzesik that sounds as a good solution. I have nothing to add.

[2021-04-19 16:11] oromero-rv commented on #6640
@medikoo we ran into this a couple of times over the past few months. Do you mean that if we don't set a `name` on the schedules we won't run into this issue?

Linking this post from the forum as an example `serverless.ym`

https://forum.serverless.com/t/problem-to-deploy-when-removing-a-schedule-from-a-lambda-function/1315/2

[code]