[2016-06-01 17:04] #1220 closed

[2016-06-01 17:04] #1213 closed

[2016-06-01 17:04] #1214 closed

[2016-06-01 17:05] pmuens commented on #1165
Closed as `aws-deploy` branch got merged into `v1.0`

[2016-06-01 17:05] #1165 closed

[2016-06-01 20:08] eigenhombre commented on #1197
We are getting bit by this one today :-(.  Would love to see the fix for this get released!

[2016-06-01 21:21] tvalletta opened #1225 "Only a single s3 event can be added per bucket/s-function.json"
On serverless v0.5.5 running on node v4.2.3

When I define an event of type s3, it works. If I define multiple events on the same bucket within the s-function.json file, only the last one is added. There are no errors in the console.

e.g. This works: (subset of s-function.json)
[code]

e.g. This does not work. Only the last event is created: (subset of s-function.json)
[code]

I expected to have

[2016-06-02 03:20] jedatu opened #1226 "Indeterminate bash shell state when running function having multiple stages"
### Runtime Environment
- Apple MacBook Pro with Yosemite 10.10.5
- Serverless 0.5.5
- Node v6.2.0

### Expectation vs. Actual
Expect to run `sls function run` and return to a stable command line.  However, when running a function where two "stages" are present, the shell is in an indeterminate state.  The text is not visible when typing into the shell, but pressing `enter` executes the command.

[2016-06-02 04:06] hakenmt commented on #1189
@mikeRead I had the same issue on Windows 10 running Node 5.6.0

[2016-06-02 04:36] erikerikson commented on #1226
As per submitter, this does not reproduce if stage is provided as an argument to the command

[2016-06-02 05:14] pmuens opened #1227 "Implement removeResources plugin"
Add a removeResources plugin which defines the remove lifecycle (similar to the `deploy` plugin).

Main task: #1161

[2016-06-02 05:17] pmuens opened #1228 "Implement awsRemoveResources plugin"
This plugin should use the `removeResources` lifecycle which is defined in #1227

It should remove the CloudFormation stack (and the corresponding service bucket) according to the stage.

Main task: #1161

[2016-06-02 06:15] #1227 closed

[2016-06-02 06:16] pmuens commented on #1227
Closed with #1229

[2016-06-02 08:10] eahefnawy opened #1232 "add default stage and region config"
We regularly need to pass stage and region params in our CLI commands which makes them longer and tedious to type. We should have a default stage and region set in the config to make those params optional.

[2016-06-02 08:27] pmuens commented on #1232
Yep good idea! After tinkering around on the console I agree with you that commands should be as short as possible!

[2016-06-02 09:15] pmuens opened #1233 "Bucket name of awsDeploy S3 bucket should have stage and region in name"
Right now the name is `stackname-<stage>-<region>` but should be `stackname-<stage>-<region>`.

[2016-06-02 13:43] hakenmt opened #1235 "recursive creation of _tmp on Windows during sls dash deploy"
I'm running version 0.5.5 on Windows 10 1511 with node.js version 5.6.0.

Say I have a folder structure like
[code]

In the s-function.json file, my handler is defined as
[code]
so that it includes the functions parent folder.

When I run `sls dash deploy`, the _tmp folder in _meta gets recursively added to each function folder placed in the top level tmp. If the handler is just defined as "handle

[2016-06-02 13:49] #1211 closed

[2016-06-02 16:10] eahefnawy opened #1236 "Define plugin documentation structure and write first doc files"

[2016-06-02 19:35] pmuens commented on #1233
Resolved thanks to @eahefnawy with PR #1238

[2016-06-02 19:35] #1233 closed

[2016-06-02 22:50] OneMuppet commented on #885
@marekmenhart-boa  I'm running this from jenkins using version 0.5.5 of serverless and I'm still seeing this error.

First I run this command which is successfull:
node_modules/serverless/bin/serverless function deploy -s test -r eu-west-1 -a

Then I run this:
node_modules/serverless/bin/serverless endpoint deploy -s test -r eu-west-1 -a

Which gives this error (even though it looks like a success

[2016-06-02 22:53] HyperBrain commented on #885
0.5.5 has this bug. it is fixed in the master branch.

[2016-06-02 22:56] OneMuppet commented on #885
@HyperBrain Then I will sleep better tonight! I have a customer sprint demo tomorrow and was hoping to get the auto build for our serverless applications in place. I really appreciate your help and the laser quick response time! :)

[2016-06-03 02:40] pmuens commented on #1161
Closed with #1231

[2016-06-03 02:41] pmuens commented on #1228
Closed with #1231

[2016-06-03 06:00] pmuens commented on #1223
Will be solved in #1237

[2016-06-03 06:00] #1223 closed

[2016-06-03 06:00] pmuens commented on #1236
Closed with #1223

[2016-06-03 06:50] pmuens opened #1239 "Rename invokeAws plugin to awsInvoke"
The plugin (all files, classes, folders etc.) should be renamed so that it sticks to the overall naming convention and aligns nicely with the other plugins.

[2016-06-03 10:33] ialmetwally commented on #1006
Anyway to work around this issue? I've just updated to v0.5.5 and now stuck!

[2016-06-03 12:26] #1118 closed

[2016-06-03 12:32] flomotlik opened #1240 "Log monitoring command and AWS Log integration"
As part of Serverless we want to provide our users a way to read the logs from a specific invocation or running log of the functions that are happening.

For that we're going to implement a ```logs``` command.

The log plugin will allow to show the logs of functions or invocations of the past. It will also allow to tail all functions in a service or only tail specific functions of a service.

[2016-06-03 12:37] flomotlik opened #1241 "Metrics command and AWS Metrics integration"
To allow our users to understand and debug their functions we will support reading data from CloudWatch Metrics to show the number of invocations or other metadata regarding the metrics of a function or complete service.

[2016-06-03 12:41] flomotlik opened #1242 "Integrate with AWS Cloudformation Change Sets"
Change sets provide a user with the ability to see all differences a specific deployment would do to their Cloudformation stack. This is important for local development and debugging, but also for detailing steps in the Continuous delivery pipeline where it needs to happen as a batch operation.

[2016-06-03 12:45] flomotlik opened #1243 "Research faster deployment through Hashsums and partial deployments of functions"
To increase the deployment the speed of deployment we need to research if we can deploy artifacts for functions only if their checksums have failed, how this would increase the deployment speed and what the complexity of our codebase would be.

This task is for research, not to implement it right away.

[2016-06-03 12:55] flomotlik opened #1244 "Plugin Management and insights"
To help developers build build plugins and have insights into all the plugins that are currently loaded and how they are behaving inside their system we want to build a plugin that itself can lists all available plugins, all their lifecycle events and all commands that are available in the currently loaded service.

Goals:
- [ ] List all currently loaded plugins in the service
- [ ] Show a list of

[2016-06-03 13:00] flomotlik opened #1245 "Local development improvements"
In this epic we're capturing all tasks for local development, including running and deploying functions locally (offline plugin), potential docker integration, better insights and error reporting, testing improvements for integration tests, local event triggering for various integrated events and integration for local versions of provider services where supported (e.g. DynamoDB in Docker examples)

[2016-06-03 13:01] flomotlik opened #1246 "Java Support"
In this epic we're capturing all tasks for improved Java support including documentation and plugin development

- [x] Make Packaging mechanism more generic and move it into a separate plugin to support Java (see https://github.com/serverless/serverless/pull/1494)
- [x] Add a way to create template for different languages, runtimes and tools through `serverless create` (see https://github.com/serv

[2016-06-03 13:02] flomotlik opened #1247 "Python Support"
In this epic we're collecting tasks for improved Python Support in V1

- [x] Make Packaging mechanism more generic and move it into a separate plugin to support Java (see https://github.com/serverless/serverless/pull/1494)
- [x] Add a way to create template for different languages, runtimes and tools through `serverless create` (see https://github.com/serverless/serverless/pull/1536 and https://gi

[2016-06-03 13:02] flomotlik opened #1248 "Google Cloud Functions support"

[2016-06-03 13:03] flomotlik opened #1249 "Documentation and examples"
To communicate to our users the advantages of Serverless we need to provide great in-depth documentation and examples of various projects and how they can be set up and managed through Serverless.

Examples:

* Slack Bots
* API Gateway endpoint
* Authentication service that can be included in other projects
* S3 Consumer
* DynamoDB Consumer
* Kinesis Consumer

[2016-06-03 13:04] flomotlik opened #1250 "UI/UX improvements of the Serverless CLI"

[2016-06-03 13:06] flomotlik opened #1251 "Improve CI/CD process support in Serverless"

[2016-06-03 13:12] flomotlik opened #1252 "Environment Variable handling"

[2016-06-03 13:14] flomotlik opened #1253 "Profile handling to allow users to switch between different profiles"
Users should be able to switch between different profiles on their system for all AWS integrations

[2016-06-03 13:36] markstos commented on #1006
@ialmetwally The scope of this issue is about the help text not dispaying on the CLI. Are you stuck because you can't display `--help` ?

If your issue issue is that one of your config files is invalid and serverless is throwing an exception at start, that's a separate issue. Unfortunately, what happened to me, the message wasn't clear the file name at fault wasn't printed.   You can try backing o

[2016-06-03 13:40] ialmetwally commented on #1006
@markstos all serverless commands were not working for me, until I moved the s-resources.json file to the root directory, but now I'm stuck again because of the following exception when I try to execute "sls dash summary" I get the following error:

`
Serverless: 2 stages ------------------------------
/usr/local/lib/node_modules/serverless/node_modules/bluebird/js/release/async.js:61
        fn =

[2016-06-03 13:56] markstos commented on #1006
@ialmetwally the scope of this issue is only that --help should always work.

[2016-06-03 13:57] ialmetwally commented on #1006
@markstos thanks I'll create a new issue

[2016-06-03 14:04] ialmetwally opened #1254 "After updating to 0.5.5 some commands don't work anymore"
I've updated to 0.5.5 and I can no longer deploy or reinitialize the project when I try to execute "sls project init" I get the following error:

[code]

and If I try "sls dash summary I get the following error
[code]

I'm not using any special packages or dependencies

[2016-06-03 14:37] pmuens commented on #1099
Is this still necessary?

[2016-06-03 14:38] #1079 closed

[2016-06-03 14:39] pmuens commented on #1079
Mocking is done with the help through `sinon`.

[2016-06-03 14:51] pmuens commented on #984
Done with the new Serverless architecture.

[2016-06-03 14:51] #984 closed

[2016-06-03 15:21] pmuens opened #1255 "Cleanup / update dependencies"
Some dependencies might be not necessary anymore when v1.0 is released.
Furthermore existing dependencies should be updated.

[2016-06-03 15:24] pmuens opened #1256 "Update Serverless npm package description and version number"
Update the version to v1.0 and replace description with the new purpose.

[2016-06-03 15:25] pmuens opened #1257 "Sort plugins by name when running serverless --help"

[2016-06-03 15:26] pmuens opened #1258 "Enhance CONTRIBUTING.md"
Write more about conventions and stuff like that / link to docs?!

[2016-06-03 15:32] pmuens opened #1259 "Define conventions / best practices for Plugin development"
Plugins should have a convention to follow (e.g. `FooBar` for the classname). Furthermore we should provide a best practices guide to make it easier for devs to develop plugins.

[2016-06-03 15:34] pmuens opened #1260 "Visualize plugin lifecycles"
It would be great to have a command to visualize the order in which all the plugins run (to see which plugins hook into which other plugin hooks) and their respective lifecycle events.

This makes debugging / developing plugins way easier.

@dougmoscrop was already kind enough to start an implementation in #2821 which can be revived to add this.

Especially interesting is the discussion which star

[2016-06-03 15:36] pmuens opened #1261 "Enhance overall error reporting"
Add better error messages without stack traces and appropriate exit codes (for CI).

[2016-06-03 15:52] pmuens opened #1262 "Add possibility to mark options as required in plugin"
Options should be marked as required (inside the object). This way common checks if the option is present (which are repeated tasks for plugin developers) will become obsolete as the PluginManager will take care of it.

[2016-06-03 15:56] #1161 closed

[2016-06-03 15:57] #1228 closed

[2016-06-04 14:16] cdichiara opened #1264 "Body Mapping Request Template passthrough..."
Folks,

I'm not sure when this change happened to AWS ... I've been on a bit of a hiatus working on our API. I don't remember the option I'm seeing in the screenshot below.

![screenshot 2016-06-04 10 06 02](https://cloud.githubusercontent.com/assets/13836864/15800031/4eb4abf2-2a3d-11e6-8d7b-6fe87b7e0703.png)

This isn't really a bug of serverless ... I was testing with Postman and I neglected to

[2016-06-05 17:12] TheConnMan commented on #967
@cdichiara How did you get rid of the recursive directories? I've got the same issue and so far robocopy has been running for ~45 min without any sign of stopping.

[2016-06-05 18:51] pmuens commented on #1239
Fixed in #1266

[2016-06-05 22:34] foobar8675 commented on #281
Hi @flomotlik , do you know approximately when the next release will come out? Local debugging is something I am really looking forward to.

[2016-06-06 00:17] bradgreens opened #1267 "CloudFormation Config Error"
I couldn't find a similar issue for this, but my install of serverless doesn't want to play with my AWS account, and it appears to be an issue with CloudFormation.

It's worth noting I have another serverless project on this machine using a profile for an entirely different AWS Company console. Maybe they're clashing.

Here's the full stacktrace:
[code]

###### Serverless Version
serverless versio

[2016-06-06 05:11] pmuens commented on #1212
Open questions:
- How do we handle credential mgmt. for CI tool such as Travis-CI?
- Way to skip this test / only run when requested to do so

[2016-06-06 06:10] #1142 closed

[2016-06-06 06:31] #1239 closed

[2016-06-06 06:32] #1236 closed

[2016-06-06 06:43] flomotlik commented on #1212
1) We can use encrypted environment variables inside travis: https://docs.travis-ci.com/user/environment-variables/#Encrypted-Variables

Those are not made available to Pull Requests from other repos so we can use they keys there.

2) I do want to run the build for every branch (especially our internal ones) so we make sure its definitely running. We can make sure it runs only in CI by default tho

[2016-06-06 06:51] flomotlik opened #1268 "Validate existing options centrally so plugins don't have to do it themselves"
Plugins currently check for specific options themselves which leads to duplicated code in all of them. To make sure going forward this code duplication doesn't happen we'll implement a centralized way to configure and validate the options that users can hand to the cli

[2016-06-06 06:52] flomotlik commented on #1203
Is that deep test coverage still necessary or was the testing here already done @pmuens

[2016-06-06 06:54] pmuens commented on #1268
Might be related to https://github.com/serverless/serverless/issues/1262

[2016-06-06 06:55] flomotlik commented on #1268
Duplicate of #1262 , closing

[2016-06-06 06:56] #1268 closed

[2016-06-06 07:13] pmuens commented on #1203
A deeper test coverage was added while refactoring the method and tests. So I'll close it for now.

[2016-06-06 07:13] #1203 closed

[2016-06-06 07:33] flomotlik commented on #281
We're working on it in the V1.0 branch and going to release alpha versions throughout the summer. Our goal is to release 1.0 late summer, early fall. We want to make sure we really hit this one out of the park so take enough time to polish it.

[2016-06-06 07:34] pmuens opened #1269 "Rename awsRemoveResources to awsRemove"
The remove command removes basically everything based on the CloudFormation resources (together with the S3 bucket) so it can be renamed to `awsRemove`.

[2016-06-06 08:25] pmuens opened #1271 "Add custom validation for plugin options"
Apart from marking options as required with the `required` keyword it should also be possible to add a customValidation entry in the plugins options so that e.g. the PluginManager can check against a regular expression.

[code]

[2016-06-06 08:26] georgepoenaru opened #1272 "Endoint variable path: Cannot read property 'getFunction' of undefined"
I need a variable endpoint base path for each stage. For this reason I defined a variable in **s-variables-dev.json** So it looks like this:

[code]

Now I create a new default function with a new endpoint and I set the path like this:

[code]

Now I run

And i get this error:

[code]

Note, the function it's the default one. No change at all, only the endpoint path is modified.

If I hardcoded th

[2016-06-06 08:46] pmuens opened #1273 "Remove console.logs when running tests"
Right now all the console.log statements will show up when running the test. This makes it really hard to see what tests fail and what tests run successfully.

[2016-06-06 12:42] pmuens opened #1275 "Support more than 2 level deepness of commands for help command"
Right now the extraction for plugin related context help in the CLI class only considers a max. of 2 level deepness of the commands object. It should be possible to have support for an arbitrary deep commands object.

[2016-06-06 12:44] pmuens opened #1276 "Support more than 2 level deepness of commands for options validation in PluginManager"
Right now the extraction to check whether the option is correctly parsed only considers a two level deepens of the commands object. This should be updated so that an arbitrary deepness of the commands object is supported.

[2016-06-06 14:10] #1212 closed

[2016-06-06 14:17] eahefnawy opened #1278 "Review & Release v0.5.6"

[2016-06-06 14:38] foobar8675 commented on #281
@flomotlik awesome

[2016-06-06 21:28] lukas-gitl opened #1279 "Multiple S3 Bucket Events"
I'm trying to subscribe multiple s3 bucket events (with different prefixes) to the same lambda function. However only one appears. This works correctly when done directly through the aws web interface.

I'm assuming this is a current limitation. Any idea why this is happening or how to best fix?

Example below.

[code]

[2016-06-06 21:29] lukas-gitl commented on #1273
Just capture the console log in your test runner. That's what we are doing, works great and you can test against console output as well if you want.

[2016-06-06 21:30] #1279 closed

[2016-06-06 21:31] lukas-gitl commented on #1279
This is a duplicate of
https://github.com/serverless/serverless/issues/1225

Closing

[2016-06-06 21:31] lukas-gitl commented on #1225
I'd be very interested in a solution for this as well.

[2016-06-07 01:44] cdichiara commented on #967
Oh, yes, it took me a while, too ... sorry to hear it happened to you as well. It's possible that something's not working, but I recall it taking several hours to clean it all up, including the time spent figuring out the solution:

https://blog.bertvanlangen.com/articles/path-too-long-use-robocopy/

[2016-06-07 02:43] calam1 commented on #809
Ok, I was having similar problems with errors like:

The following resource(s) failed to create: [IamRoleLambda]. . Delete requested by user.

I took a look at the cloudformation logs, under the "deleted" filter.  I saw that the process was failing due to the resource existing, but it was under another stack.  I was experimenting earlier and manually running cloudformation templates via the consol

[2016-06-07 03:22] flashsnake-so commented on #950
Actually, I am using the one above as an example.  But getting "Proxy endpoints need an "uri" property." error.  The reason is
[code]
is required.

[2016-06-07 07:40] pmuens opened #1282 "Define new deploy lifecycles / update awsDeploy plugin to use new lifecycle events"
Things such as `compileFunctions` or `compileEvents` should be triggered with the help of an own lifecycle event so that e.g. event related plugins can live inside an own plugin.

[2016-06-07 10:43] pmuens commented on #1282
Here are some notes when we start the implementation of the `awsS3EventSource` plugin:

- We cannot define new hooks inside the `awsDeploy` plugin as it only reacts to hooks and has no own commands
- (hence) We need to define the new hooks inside the `deploy` plugin
- Events are always bound to functions so it might make sense to treat and compile them together (otherwise we'll loop over the funct

[2016-06-07 11:51] flomotlik commented on #1282
I think we should keep the compile function and compile events functionality separate so in the future we can even swap out specific event configuration syntax for more complex setups easily.

I would add the following lifecycle events:

* compileFunctions
* compileEvents
* deploy

so that events can bind easily into it and others can also build new events if they want to and hook into the compile

[2016-06-07 12:50] flomotlik opened #1283 "Running functions and events in your local system - offline plugin"
As part of the V1 release of Serverless we want to enable teams to run and test their services locally. For that we need to allow them to run functions locally, enable access through HTTP for functions and provide Event specific templates to fake events coming in on a specific provider.

Goals:

- [ ] Run functions and http endpoints on your local system
- [ ] Allow to trigger functions with Endpo

[2016-06-07 15:26] mikelax opened #1285 "Add ability to specify Cloudwatch log group retention policy in function definition"
When a Lambda function is created an implicit Cloudwatch log group is also [created](https://docs.aws.amazon.com/lambda/latest/dg/monitoring-functions.html) with the lambda function name.

I would like to be able to specify the _Expire Events After_ value in the s-function definition file. We know the name of the Cloudwatch Group because of the lambda name. The AWS CLI for [put-retention-policy](h

[2016-06-07 17:49] lukas-gitl opened #1286 "Cloudwatch Log Event Subscription"
Would very much like the ability to subscribe a lambda function to Cloudwatch Logs.

Currently only dynamodbstream, kinesisstream, s3, sns, and schedule are supported according to the docs.

[2016-06-07 18:57] pmuens commented on #1282
@flomotlik sounds good!
Here's the PR which implements this: https://github.com/serverless/serverless/pull/1284

Additionally here are some remarks / thoughs I had during development:
- We really need the `PluginStore` soon to make plugin to plugin communication easier / more convenient. Right now I use the `serverless.service` object to do data exchange between the plugins but this feels wrong /

[2016-06-07 20:28] bomatson commented on #1209
+1 having this problem

[2016-06-07 21:54] dwtowner opened #1287 "function deploy throws exception"
serverless version 0.5.5, running on Ubuntu 14.04 LTS on x86_64 with node v4.0.0pre

On a working sls project I made various edits to a function handler (added sub-directory, changed the handler slightly), and now the `function deploy' command produces an error. The callstack is attached below but it isn't clear to me from that what has gone wrong with the deployment. Another sls project can still

[2016-06-07 23:27] homingli commented on #1286
I had a PR for this #1070 but I was told there will be "a very different way of setting up events"

[2016-06-08 01:37] Si1kIfY commented on #517
Looks like AWS Service Proxy still isn't supported buy the current buildm can only see "AWS", "MOCK" and "HTTP" as supported types (and I can't seem to get HTTP working either, consistently says invalid http endpoint encoding for the uri).

Is it worth re-opening this task or creating a new one?

[2016-06-08 12:38] flomotlik commented on #517
@Si1kIfY we're currently working on this in the V1.0 branch. In there you're able to define your own resources that will be deployed together with the rest of your stack to cloudformation. This branch is still experimental and in alpha phase but we'd definitely like to get feedback on it.

We're going to move this over to the master over the next weeks once we release 0.5.6 from master and share m

[2016-06-08 13:56] pmuens commented on #1282
Here's an overview of the new lifecycles which will be added while working on this issue (#1284 is the corresponding PR).

- `initializeResources` --> Create resource configuration in Service object and add Provider specific necessary resource elements (e.g. S3 deployment Bucket for AWS)
- `createProviderStacks` --> Create necessary stack or provider resources on provider (e.g. deploy S3 bucket be

[2016-06-08 15:57] imhassan commented on #1005
Getting this errror node -v = 6.2.1

`serverless project create -c true
 _______                             __
|   _   .-----.----.--.--.-----.----|  .-----.-----.-----.
|   |___|  -__|   _|  |  |  -__|   _|  |  -__|__ --|__ --|
|____   |_____|__|  \___/|_____|__| |__|_____|_____|_____|
|   |   |             The Serverless Application Framework
|       |                           serverless.com,

[2016-06-08 23:17] Si1kIfY commented on #517
I'll check it out thanks @flomotlik

[2016-06-09 12:14] johncmckim commented on #1251
Can you share any plans for this? Two of the difficulties I have found are the metadata sync and co-ordination of the `resources`, `function`, `event` and `endpoint` commands.

If you're new to serverless, missing metadata can easily catch you out. The serverless-meta-sync plugin works well, but there's no reference to it in the docs.

It would be nice if there was a single `project deploy` comman

[2016-06-09 16:41] pmuens opened #1290 "Depromisify codebase"
Promises are hard to understand and get by.

Our application is a CLI which should basically run synchronous as much as possible so it might be an option to drop Promise code whenever possible.

[2016-06-09 17:20] pmuens commented on #1162
Closed with https://github.com/serverless/serverless/pull/1288

[2016-06-09 17:38] #1162 closed

[2016-06-09 18:15] pmuens commented on #1262
Implemented with #1270

[2016-06-09 18:15] pmuens commented on #1282
Done with #1284

[2016-06-09 18:15] #1282 closed

[2016-06-09 18:44] #1262 closed

[2016-06-10 06:16] pmuens opened #1293 "Add custom resources from serverless.yaml to service object"
Custom resources the user can define in the `serverless.yaml` file should be merged into the `aws.Resources` section of the `service` object.

[2016-06-10 06:17] pmuens opened #1294 "Add support for custom-name-template"
The  `custom-name-template` in the `serverless.yaml` file should be considered when creating resources on the users behalf.

[2016-06-10 08:25] pmuens opened #1297 "Catch DELETE_FAILED status in awsRemove plugin"
The `awsRemove` plugin doesn't check for the `DELETE_FAILED` status and will print "Removal in progress" messages even if the stack failed to be removed. This should be captured.

[2016-06-10 08:45] pmuens commented on #1269
Closed with #1298

[2016-06-10 08:47] #1269 closed

[2016-06-10 12:18] pmuens opened #1303 "Apply Resources naming convention to compiled Lambda functions"
https://github.com/serverless/serverless/pull/1302 shows the new "naming convention" for created resources. This makes it easier to understand what the resource is generated for (and which relate to each other) when looking at the generated CF template.

It would be great if we maybe also add a `Function` or `Lambda` to the function resource we compile.

So we have `helloLambda` or `helloFunction`

[2016-06-10 12:59] pmuens opened #1304 "Show which options are required in CLI"
If one runs `serverless <command> --help` he should see which of the listed options is required.

[2016-06-10 14:59] flomotlik commented on #1251
Regarding Metadata: I don't like the meta folder and want to work on providing an env.serverless.yml that you can commit into your repo that has either no secrets and we do a separate secrets file or you have encrypted secrets in there.

Another idea for secrets management is to store them in a DynamoDB encrypted through KMS and only store an ID in the env file so when the lambda launches we get t

[2016-06-10 16:55] #1278 closed

[2016-06-10 16:55] #1163 closed

[2016-06-10 17:22] mrpudn commented on #1153
I am also getting this error.

We can't create IAM roles in our environment, but we do have an existing IAM role that we can use, so I've set that in my `s-function.json` here:
[code]

I have `iamRoleArnLambda` defined in my project's `s-templates.json`.

We have a theory that our IAM role might not have the permissions to perform these actions (which doesn't sound quite right to me), but we're st

[2016-06-10 19:03] mrpudn commented on #1153
Ok, it looks like I was able to deploy everything successfully by changing my `_meta/variables/s-variables-dev-useast1.json` file to include my IAM role arm:
[code]

Now, that's a pretty kludgy workaround, so if anyone has a better idea of how to get around this, I'd love to know! :)

[2016-06-10 19:24] kendaop commented on #1153
We were running into this exact same issue. I was trying to create another endpoint for a resource that was already created, but was getting this error. I tried deleting my _meta folder and creating the project files again, with no luck. For some reason, the `iamRoleArnLambda` property wasn't getting created in my `_meta/variables/s-variables-dev-useast1.json` file. I had to copy the values from m

[2016-06-10 22:13] johncmckim commented on #1251
@flomotlik deployment all in CloudFormation sounds really good.

I like the ideas for Metadata too. I do really like how Travis and Appveyor have secure variables in YAML. I think it's a reasonably common scenario to have multiple AWS accounts (Prod, Test, Dev). How would the KMS setup work in this situation?

[2016-06-11 16:39] jeffastorey opened #1306 "event deploy failure does not throw error"
When there is an event deployment failure, an error is not thrown - only an error message is printed. This is a problem for CI builds since the build will still succeed. An example of an error message is `Configurations overlap. Configurations on the same bucket cannot share a common event type`. Function deploy does throw an error, which is preferable. Event deploy failures should be treated the

[2016-06-11 17:22] jeffastorey opened #1307 "cannot install npm project with git:// protocol"
Trying to install a project such as `serverless project install git://<my-git-repo>` fails, even though `npm` can install handing projects this way. The initial errors occur when trying to symlink directories - errors like `Error: ENOENT: no such file or directory`.

When I look in the directory where I tried to install the project, I see a folder named `git://` was created, which is not what shou

[2016-06-11 18:21] andyfenelon commented on #1006
getting this error also

[2016-06-12 23:09] TheConnMan commented on #967
Thanks @cdichiara, I think that's the same blog I was looking at. Unfortunately robocopy ran for a good 90 min before quitting and I didn't even get the files deleted. I'll try it again when I get a chance.

[2016-06-13 09:14] pmuens opened #1308 "Better / correct tracking of stack removal process in awsRemove plugin"
The current implementation for the stack removal process is not the best as it e.g. fails detecting failed removals. Furthermore it will immediately succeed if the to be deleted stack has the same name as an already deleted stack.

This behavior should be improved.

Might be related to https://github.com/serverless/serverless/issues/1297

[2016-06-13 11:50] pmuens commented on #1164
Necessary resources:

1. AWS::ApiGateway::RestApi (create rest api)
2. AWS::ApiGateway::Deployment (deploy rest api and expose to internet)
3. AWS::ApiGateway::Stage (for each stage)
4. AWS::ApiGateway::BasePathMapping (for each stage. ie example.com/dev/<endpoint>)
5. AWS::ApiGateway::Resource (resource for the method)
6. AWS::ApiGateway::Method (most complex resource probably)
7. AWS::Lambda::Pe

[2016-06-13 12:05] imhassan opened #1310 "TimeoutError: Missing credentials in config version 0.5.5"
I am getting Missing Credentials when run my function locally.

`$ sls function run message_to_sqs
Serverless: Running message_to_sqs...
error: Fail Send MessageTimeoutError: Missing credentials in config
Serverless: -----------------
Serverless: Failed - This Error Was Returned:
Serverless: undefined
Serverless: undefined
`

But I can upload and deploy this same function successfully.

`$ sls fun

[2016-06-13 13:45] xiaoshao opened #1311 "Why does it ask a profile when I am trying to create a serverless framework?"
I am trying to create a severless framework, but I am using an account which I can assume the role the get a temp credentials. How can I create a serverless framework to avoid that?

[2016-06-13 14:06] brcline commented on #1273
I think this should be optional.

console.log or console.dir can be a good help when debugging test failures.

[2016-06-13 14:26] pmuens opened #1313 "Use Ref instead of Fn::GetAtt in CloudFormation templates"
Ref seems to be the better choice if you want to define references.

[2016-06-13 14:28] brcline opened #1314 "sls resource deploy - not finishing - not displaying error 0.5.5"
I am using serverless 0.5.6 installed globally, but am able to reproduce this same issue on 0.0.5.5

For when particular sls project, I am unable to deploy any of the functions located in the project. I receive absolutely no info when running --debug, it just never finishes deploying.

See the screenshot here: See: http://imgur.com/BoBto9s

Anyone have any thoughts? Is there any internal log I can

[2016-06-14 08:53] pmuens commented on #1273
Thanks for the pointers! Will look into it ASAP.

[2016-06-14 14:13] brcline commented on #1314
Appears that this is related to _meta being recursively included. Issue can be resolved by modifying the execlutePatterns in each s-function.json to exclude "^_meta"

[2016-06-14 14:34] pmuens commented on #1293
Closing this now as it's already implemented in the `service` class.

[2016-06-14 14:34] #1293 closed

[2016-06-14 19:22] jthomerson opened #1321 "JSON files should have newline character at the end of the file"
All JSON files written by SLS do not have a newline character at the end of the file. In many git repos, this is considered a whitespace error. I feel like all files written by the project should end with a newline character since that's the POSIX standard. That's described well here: http://stackoverflow.com/a/729795/1011988

I'm using SLS version 0.5.5

[2016-06-14 20:02] jthomerson opened #1322 "Project Init Should Not Rewrite Existing JSON Files"
I created a project using `sls project create`, and then modified the created JSON files to do the following:

 1. make the indentation match our internal indentation standards (three spaces over the default two that SLS uses)
 2. add a newline character to the end of all files that we commit to our repo (see #1321)
 3. remove unnecessary parameters where the value in the config file was the same

[2016-06-14 20:05] jthomerson opened #1323 "Do not force project.json project name and s-project.json name to match"
It seems unnecessary to enforce that the project name in s-project.json be the same as package.json. I shouldn't necessarily need to publish under npm (the purpose of package.json) with exactly the same name that I create the resources in AWS with (the purpose of the name in s-project.json).

Tangentially, it's strange to me that SLS rewrites package.json at all since package.json is a file for NP

[2016-06-15 06:14] pmuens commented on #1321
Good feedback! Thank you. I would also vote to add a newline character for each file!

[2016-06-15 06:29] pmuens opened #1324 "Event sources definition in serverless.yaml file"
We need to define a great to use API for the event sources definition of the `serverless.yaml` file.

It should be easy to read, remember and extend (as we might want to add features to this later on).

# Proposals
Here are some proposal for the syntax definition:

## Current implementation
[code]

Upsides:
- Reduces LOC to write
- Prefixed provider

Downsides:
- Syntax is not consistent / hard to

[2016-06-15 07:33] mthenw commented on #1324
One more that I think is worth to consider. It's very similar to 2. and 3. but instead of accepting only object as a event description, it would also accept string in specified format (depends on event type):

[code]

In most cases people will use string variant but there is still a way to change more config options.
Assuming that this will be stated in docs I think it should not provide confusion

[2016-06-15 07:57] flomotlik commented on #1324
100% agree with @mthenw proposal. Having string as a basic choice and the option to go into an object configuration makes it easy to understand and remember. Having to remember to always add ```bucket: ```` to every s3 bucket I want to configure notifications for means I have to remember details I might not need at that particular moment. And it easily allows to add more methods in the future whil

[2016-06-15 08:21] ac360 commented on #1324
### Current Implementation:

* This is an inconsistent API.  Strings, arrays or objects can be values.  It's difficult to parse for both humans and computers.
* This design prevents us from adding extra properties which people may request or properties that may be introduced in these services at a later stage.  100% non-agile and treacherous, since we cannot change this syntax without breaking eve

[2016-06-15 09:48] nikgraf commented on #1324
One (to me important) fact about mixing objects & strings:

Let's start from a beginners perspective:
You go to the getting started, copy a basic s3 example and use it.

[code]

Pretty cool & simple 👏

Then you figure out you actually want to attach an event. It's very subtle, but you not only add one line for adding one property. You actually change the whole structure to this:

[code]

Diff exam

[2016-06-15 09:49] pmuens commented on #1324
Great discussion here.
I've added @mthenw proposal ("Proposal 4").

I like the idea of one fast way to define the event and the option to do more complex stuff with the help of objects (like @mthenw has shown).

But the mixture between string and object representation is what I'm not favoring. For me as a user I'd like to have one way how I should do this. In an ideal situation I could also map th

[2016-06-15 09:50] pmuens commented on #1324
@nikgraf that's brilliant! Thanks for pointing that out! 🙌

[2016-06-15 11:43] pmuens commented on #1324
One thing to keep in mind is that the Proposal 2 from @ac360 includes the knowledge of Terraform.
They already had to think their API through and define a way which is best for their product and users. They might have already gone the way (unfortunately I was not able to find a corresponding discussion about their config syntax).

[2016-06-15 13:28] pmuens commented on #659
First of all thank you @weitzman for investigating on how to use "Read the docs"!

Here are my thoughts about this after setting it up / using it for a few hours:
- You need to do duplicate effort right now as you need to add everything to the `mkdocs.yml` file and links inside the corresponding `.md` files in the `docs` directory
- The default theme is not that aesthetically pleasing IMO
- UX is

[2016-06-15 14:25] flomotlik commented on #1324
# Provider Nesting

I've got 3 responses so far on the questionaire and all were in favor of the Nested (grouped) syntax. Here the parts regarding Prefixing/Nesting from 2 of them (Erik Erikson didn't really address it in a comment, but just selected it):

[code]

[code]

I will wait for more answers, but including our internal opinions voiced so far it looks like we're leaning towards nested prov

[2016-06-15 15:36] pmuens commented on #1324
Good points @flomotlik

I like the idea to go with Proposal 3 as it seems like this is the best of both world / a kind of blending.
Also favor that we start with the objects implementation and add single string support later on.

[2016-06-15 17:19] Whoaa512 commented on #284
Any news on this? It's rather annoying to have to decrease my terminal font size just so I can deploy multiple functions.

[2016-06-15 17:40] pmuens commented on #1218
Related to #1243

[2016-06-15 17:43] pmuens commented on #284
@Whoaa512 thanks for bringing that up again.

We're currently working on v1 where the whole UX will be improved. We'll consider this feedback as it's important for large Serverless applications. You might take a sneak peek here:
https://github.com/serverless/serverless/tree/v1.0

[2016-06-15 18:07] flomotlik opened #1328 "Allow for configuration which provider a function should be deployed to"
To allow multiple providers we need to implement a way for functions to only be deployed to specific providers.

Regarding selecting which functions should be deployed to which provider I propose the following:

A provider configuration setting on the highest level of the serverless.yml file that defines which provider all functions should be deployed to:

[code]

You can also decide for specific

[2016-06-15 19:48] pmuens commented on #1328
Good ideas.

What if I want to deploy one service to different providers (don't know why I want to do this, but could be a possible use case). Is there a way that the `provider` property can be an array?

@eahefnawy and I were discussing that recently and @eahefnawy came up with the idea of having that as an option. So you could say `serverless deploy --stage dev --region us-east-1 --provider aws`

[2016-06-15 23:42] Whoaa512 commented on #1290
I disagree.

This mostly comes down to proper education about promises and when & how to use them effectively. These resources were quite helpful in my own learning:
  - [Promises in Node](https://alexperry.io/node/2015/03/25/promises-in-node.html) (A promise primer)
  - [Promise Visualizer](http://bevacqua.github.io/promisees/)
  - [Promise Rookie Mistakes and How to avoid them](https://pouchdb.c

[2016-06-16 06:16] flomotlik commented on #659
Hmmmm @pmuens I do like the idea of pointing the docs directly into the Github Repo. As its just markdown its read and implemented correctly there, linking works and people see they can immediately contribute to it. @ac360 and @eahefnawy your thoughts?

[2016-06-16 06:40] DavidWells commented on #659
I'd suggest a static site approach where docs / pages are driven by .md files

https://phenomic.io/ is a pretty robust static site generator that leverages React on the frontend and all the docs/pages are generated from .md files exactly like jekyll sites.

So, like jekyll except the templating language are standard react components.

Another difference phenomic has with other static site generato

[2016-06-16 06:41] pmuens commented on #1168
Thanks for pointing to this!

We're switching from an API based deployment to CloudFormation. Unfortunately CloudFormation has not implemented this (https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-apitgateway-method-integration.html) so we need to postpone this until it's available through CF.

[2016-06-16 08:47] pmuens commented on #1324
One thing I discovered recently is that the "simpler usage" might limit configurability.

What if you would like to have e.g. two different GET endpoints for one lambda when you define the `http_endpoints`:
[code]

won't work. Don't know if that's a use case but shows that the current syntax has some limitations.

[2016-06-16 08:57] flomotlik commented on #1324
Imho this is an uncommon use case and can be accomplished by adding a
second http event. Each http event can have one entry per http type.
Am 16.06.2016 10:47 schrieb "Philipp Muens" <notifications@github.com>:

[2016-06-16 09:05] flomotlik commented on #1328
Imho we have a couple of different use cases we need to make work:

1. Deploy all functions to the same provider
2. Deploy some functions to one provider, others to another provider
3. Deploy functions to several providers at once
4. A mix of 2 & 3

So imho setting the provider as an array can make sense (although I would prefer being able to set it as string or array so when you only deploy to on

[2016-06-16 11:49] pmuens commented on #1328
Ok. That makes sense.
Yes, I also don't 100% align with the options approach but putting it inside of `serverless.yaml` feels also not correct as this file will be committed to source control.

However what about this approach:
We define a `deployment` property inside of `serverless.yaml` where everything deployment related lives (e.g. provider(s), stage, region). The values there are used by defa

[2016-06-16 11:54] JamieCressey opened #1329 "Ability to add cloudwatch alarms to Lambda events"
CloudWatch provide Invocations, Duration, Errors and Throttles metrics for Lambda events, which, depending on how you use Serverless may prove to be worthy items to alert on.

[code]

[2016-06-16 12:22] pmuens commented on #1232
Is also discussed in https://github.com/serverless/serverless/issues/1328

[2016-06-16 17:21] mhahn commented on #1290
async/await making working with promises lovely as well
On Wed, Jun 15, 2016 at 4:42 PM C.J. Winslow <notifications@github.com>
wrote:

[2016-06-16 17:38] alexwillingham commented on #1062
I have the same need as @mikelax .

I am creating a VPC, subnets, and security groups for a number of environments within s-resources.json, and I need to be able to configure my lambdas to run within those subnets and security groups.

The recommended solution of mapping outputs from a CFN stack to _meta/variables for use in s-function.json would work well for my use case.

[2016-06-16 18:13] bradgreens commented on #1267
Closing as I am no longer using this project for the app in question.

[2016-06-16 18:13] #1267 closed

[2016-06-16 19:50] kochizufan opened #1331 "Allow "#foreach - #end" type structure in s-template"
Hello,

To pass entire querystring/headers from API Gateway to lambda, template needs such structure:

[code]

http://kennbrodhagen.net/2015/12/06/how-to-create-a-request-object-for-your-lambda-event-from-api-gateway/

But with this structure, template breaks JSON rule, so it looks cannot implement to s-templates of Serverless...

Is there any way to implement this? Or, would you please make funct

[2016-06-16 20:38] eahefnawy commented on #1324
Regarding which yaml syntax is correct when it comes to an array of objects, I just confirmed that both are correct. The JSON to YAML converter I used previously chose to output the ugly syntax, so I jumped into conclusion. Sorry about that.

It seems so far that the majority is leaning towards proposal 3, which I do like, but after remembering that we may need to support custom events, I'm starti

[2016-06-16 20:49] eahefnawy commented on #1328
defining stages and regions in serverless.yaml is dangerous imo ... users could accidently deploy a function to production very very easily this way. I think when it comes to choosing stages (and maybe regions too) it should be completely explicit.

However, @flomotlik mentioned a while back adding config for a **default stage and region**. I really like that! users could just have:

[code]

Durin

[2016-06-16 21:23] eahefnawy commented on #1328
When I suggested passing the provider as an option, it was based on our plans to deploy specific functions via the command line via `sls deploy --function functionName --provider aws` ... however now that we deploy the entire service, passing an option would make that provider option tied to the entire service and all its functions. **So now I wouldn't go with `--provider` option.**

One other thi

[2016-06-16 23:01] stevecaldwell77 commented on #629
If anyone's interested, here's a cfn snippet I'm using to setup a VPC for my lambda functions:

https://gist.github.com/stevecaldwell77/b2e9f9179b4e52235fcee24cf37c8dc9

[2016-06-16 23:12] ac360 commented on #1328
Really good discussion here.  Great job @flo summarizing the use-cases too.  That should always be front and center.

After debating `serverless.yml` for the past few days, and reading the good ideas in here, here's a possible elegant solution…

I think the majority of our syntax problems come from trying to mix multiple providers into a single service (`serverless.yml` file).  This is forcing exc

[2016-06-17 08:59] pmuens commented on #1328
Thinking through this I can say that I like the idea of having one provider per `serverless.yaml` file.

I also think that we should try to reduce options as much as possible and a single `serverless deploy´ should be enough to (re)deploy the whole service (no need to pass in options at all).
I also like the idea of defining a default and the overwrite it with options.

I would not start with a co

[2016-06-17 10:09] flomotlik commented on #1328
I agree. For the most part you don't really want to deploy services to various providers anyway and trying to put that in from the beginning is more pain than its worth now.

Plugins can then simply set a provider attribute internally (which could be a list) of all the different providers they support and the PluginManager only uses the ones that match the currently configured provider.

This also

[2016-06-17 10:50] eahefnawy opened #1333 "Throwing Errors doesn't always output the correct stack trace"
One reason might be that we're sometimes catching then throwing a **Serverless** error again.

[2016-06-17 13:03] pmuens commented on #1164
Resolved with #1312

[2016-06-17 13:03] #1164 closed

[2016-06-17 13:24] pmuens opened #1337 "Add random test order / automatic tests detection"
Currently we have an `all.js` file which contains all the tests in ordern.

However tests should be independent from each other. It would be great to add the functionality to run tests in a random order and auto discover them so that we don't have to require them by manually (and therefore don't miss a test).

[2016-06-17 14:02] pmuens commented on #1308
Will be resolved with #1338

[2016-06-17 14:03] pmuens commented on #1297
Will be resolved with #1338

[2016-06-17 15:35] #1308 closed

[2016-06-17 15:35] #1297 closed

[2016-06-17 16:15] eahefnawy opened #1340 "Final AWS serverless.yaml syntax"
### Initial AWS serverless.yaml
This is the file that will be generated on `serverless create --name myService --provider aws`
[code]
It only contains the most essential data and all else are set as defaults the user could overwrite at the service level, or function level.

### Overwriting Defaults: Service Level
User could overwrite the assumed service defaults above like this:

[code]

### Overw

[2016-06-17 16:23] pmuens commented on #1340
Looks good so far.

Should we implement a universal overwriting by default (e.g. define function related overwrites outside of the function).

I would propose to start with overwrite support for the service (without function overwrites, but just service overwrites) and function overwrites. This way they are separate.

And then later on support the service wide "universal overwrite".

How about a n

[2016-06-17 16:33] flomotlik commented on #1340
Awesome. If we could have different templates that the user could select during create with cli options that could be cool. But generally very nice

[2016-06-17 17:25] eahefnawy opened #1341 "Support single provider services"
- [x] `serverless create --name myService --provider aws` should generate aws specific `serverless.yaml` and `serverless.env.yaml`
- [x] update Service class to reflect the provider specific service
...

[2016-06-17 17:27] eahefnawy opened #1342 "Make sure we can load both `.yaml` and `.yml` extensions"
Right now we only support loading of `.yaml` files.

`.yaml` is the "official" file extension but it's more common to have `yml` files. We should switch all our templates files and docs to `.yml` but also support `.yaml` files.

- [x] docs
- [x] templates

[2016-06-17 17:30] eahefnawy opened #1343 "switch to the `__test__` convention"
Every directory would include a `__test__` sub directory that has all the tests of the directory. This insures that test code lives next to the code we're testing and make navigation during development easier. We'll then require all the tests from all locations (maybe with random order) and run all the tests.

thoughts...?

[2016-06-17 17:32] eahefnawy opened #1344 "credentials management based on provider-per-service approach"

[2016-06-17 17:34] eahefnawy opened #1345 "Add spinner instead of log messages"
Related to #1446

[2016-06-17 21:00] mikelax commented on #1323
I agree with this. I can't think of a reason why `package.json` would need to be modified at all by any sls commands.

[2016-06-17 23:04] ac360 commented on #1340
Looks great, @eahefnawy.  The templates idea is sweet, @flomotlik.  A few follow-up comments:

* Let's add `resources` in the AWS example and show what the CloudFormation syntax looks like there.
* I would add the string value option later.  Lets focus and test the object values for now.  Then figure out how to best implement string values.
* The defaults concept only solves part of the referencin

[2016-06-17 23:20] simoami opened #1346 "pass a static string as request parameter"
I have a function that handles 2 routes (multi method function). The paths are:
/users/list (GET) - fetches a list of users
/users/{id} (GET) - fetches a specific user by id

I'd like for the function to know which route triggered it. Notice that in this case the http method is GET for both, so that's not sufficient to identify the origin.

My first thought is to pass a static string in each endpo

[2016-06-18 05:37] simoami commented on #1014
Experiencing the same issue. Values are returned in an unusable form and the examples listing  `"$input.params().header"` as valid example are misleading.

Here's what you get:

[code]

Notice the `=` sign for assignments and the lack of proper quoting of values.

[2016-06-18 06:42] simoami opened #1348 "s-templates.yaml not working with the | multiline continuation token"
@HyperBrain
referring to your [past recommendation](https://github.com/serverless/serverless/issues/929#issuecomment-204311097)  to use the `|` continuation token. The following block gets completely ignored.

s-templates.yaml

[code]

And without continuation token, this is what gets returned:

[code]

Notice the empty headers value `{"":""}`. Can you spot anything with how I'm specifying the con

[2016-06-18 08:15] simoami commented on #1348
I found out this is a limitation of the project in merging stringified and object properties across templates (possible bug). The use of continuation token stringifies its content. As a result the function level template overrides the project template when any of their inner properties are of different type.

To illustrate the problem, we define project/s-template.yaml as follows:

[code]

then we

[2016-06-18 09:45] HyperBrain commented on #1348
I will have a look later and post something that works here.

[2016-06-18 15:36] cspeer opened #1349 "Request Payload replaces `event` in lambda handler function"
Serverless Version: 0.5.6

I just created a new project with https://github.com/serverless/serverless-starter exactly as described in the README. Then deployed it to AWS and called the `single` endpoint with a `POST` request at:
https://chr5ky4fej.execute-api.us-east-1.amazonaws.com/dev/single

The response was exactly as expected:
[code]

However, if I pass along a valid json string as simple as

[2016-06-18 15:58] TCMiranda commented on #1014
@simoami Another thing to add, is that even the commas aren't escaped.
[code]

[2016-06-18 18:10] simoami commented on #1014
@TCMiranda Yes, the *only* way to get all `path` values is to use a `s-templates.yaml` with the following content:

[code]

[2016-06-19 08:32] bennybauer commented on #597
Hey, is Terraform support still on the roadmap?

[2016-06-19 13:07] kochizufan commented on #1331
Sorry I found
https://github.com/serverless/serverless/issues/537#issuecomment-212635809
It solve my problem.

[2016-06-19 13:07] #1331 closed

[2016-06-19 18:05] sean-hill opened #1350 "function1: Function not found"
After trying to deploy my first function I get this issue after running `serverless dash deploy`:

    Serverless: Deploying endpoints in "dev" to the following regions: us-west-2
    Serverless: Failed to deploy endpoints in "dev" to the following regions:
    Serverless: us-west-2 ------------------------
    Serverless:   GET - function1: Function not found: arn:aws:lambda:us-west-2:04984000834

[2016-06-19 18:56] pmuens commented on #1342
Might be related to https://github.com/serverless/serverless/issues/1186

[2016-06-19 20:20] eahefnawy commented on #1349
@cspeer thanks for reaching out. The serverless-starter project is pretty outdated at this point, and we're not planning to update it until we release v1.0. That's probably the issue.

Sorry about that :/

[2016-06-19 20:44] cspeer commented on #1349
No worries. I was confused that the event object can hold so different information depending on the request data. And since I experienced this "problem" in one of my own projects as well I think this is a serverless issue rather than one of the starter project. As soon as I send some payload along the `event` object no longer holds the information set by `requestTemplates`.

So, is there a roadmap

[2016-06-19 21:50] orthodoc opened #1351 "Deploying a dynamodb stream event doesn't create the event source for the function"
Deploying the event described in the `s-function.json` file following a successful deploy of the associated function does not result in creating the source event for that function. SLS does print a `"eventID:<name of the event>":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"` as a variable in `s-variables-<stage>-<region>.json` file. Instead a trigger is created for the associated dynamodb table with the

[2016-06-19 22:19] cspeer commented on #829
Hi,

I'm fairly new to all this, so chances are I might be at fault here.
So I'm getting exactly the error message @ajagnanan posted. But I'm not really sure why or what is exactly happening. All I can say that my custom authorizer is never being called.

This is my authorizer:
[code]
and here is a function that references/uses it:
[code]
On API Gateway the config looks like this:
![screen shot 20

[2016-06-19 22:30] cspeer commented on #829
Only now discovered #797, however I'm not sure how this is supposed to help with this.

[2016-06-20 07:06] eahefnawy opened #1353 "Fix/Update plugin tests for new service provider arch"

[2016-06-20 07:06] eahefnawy opened #1354 "Add tests for AWS SDK file"

[2016-06-20 07:07] eahefnawy opened #1355 "Update APIG for new service provider"

[2016-06-20 07:11] flomotlik commented on #1340
Agree with @ac360, the only thing I don't think we need is `${../defaults.yml}.functions References an object in another file`. Through JSON Ref we can pull everything into the same file and then reference it from there. Or do you have another use cases where we need external files that couldn't be solved through Environment variables?

Other than that the whole syntax looks really nice.

[2016-06-20 07:14] HyperBrain commented on #1348
The project and function templates are not merged, but overridden. That is by design. Nonetheless, the layout of your files is correct, but you can use project variables to replace e.g. the parameter name in the template.
In the `function.json` you should use
[code]

[2016-06-20 07:55] orthodoc commented on #1351
Using the AWS management console, when I create an event source for the function, the name of the event source is in the form `DDB: <arn of the dynamodb table>`. At the same time a trigger is created for the associated dynamodb table with the function name referring to the source function. When I use sls to create the event, only a trigger with the <stage name> is created for the dynamodb table, w

[2016-06-20 09:48] cspeer commented on #829
Apparently I have to connect the custom authorizer manually like this:
![okeh](https://cloud.githubusercontent.com/assets/326824/16189875/cce100d8-36dc-11e6-92a3-46306d9fefd2.png)

When I then run a test with AWS I get the following very strange response:
[code]

[2016-06-20 10:03] cspeer opened #1356 "rmdir _meta/_tmp fails on deploy"
Hi,

I'm on OS X and I'm running serverless 0.5.6.
Randomly I get the following error when running either `sls function deploy --all` or `sls dash deploy`:

[code]

My guess is that it's got something to do with osx's `.DS_STORE` files, but not sure.

Cheers,
Chris

[2016-06-20 13:12] christian-fei commented on #1017
@HyperBrain any news?

[2016-06-20 14:49] pmuens commented on #1328
Further discussion and implementation details in #1340

[2016-06-20 14:49] #1328 closed

[2016-06-20 15:38] #1350 closed

[2016-06-20 15:38] sean-hill commented on #1350
It's because I didn't deploy the function, just the endpoint 👊

[2016-06-20 17:25] pmuens opened #1357 "Remove namespacing in generated CloudFormation resources"
We've introduced some namespacing rules for generated CloudFormation resources in https://github.com/serverless/serverless/pull/1302

However they are tedious and not that easy to follow. We need to refactor those namings to make them shorter and less a convention.

[2016-06-20 20:03] simoami opened #1358 "Detect when serverless runs offline"
What mechanism should we rely on to identify a serverless instance running locally/offline?

[2016-06-20 21:06] simoami opened #1359 "function with record-level ACL"
Is it possible to enable acl access control to a given method, Say `PUT /users/{id}` updates a user record by id. I'd like to only allow an auth user to update his own record.

[2016-06-20 23:14] mankins commented on #1287
Did you figure this out? I'm having a similar issue, also with an "undefined" at the last Serverless: line

[2016-06-20 23:46] mankins commented on #1287
I was able to trace this down:

[{"errno":-2,"code":"ENOENT","syscall":"stat","path":"PATHHERE/.bin/webpack"}] from _deployCodeByRegion of FunctionDeploy.js .. it looks like a symbolic link which went missing

As soon as I fixed that (by removing the bad symlink), I was able to build again.

In the "catch" block of _deployCodeByRegion, it looks as if in this case the error "e" doesn't have message

[2016-06-21 00:02] alanwill commented on #1077
Pretty sure this is a legitimate bug as I'm running into it as well. In my case I have 5 functions that need to subscribe to an SNS topic defined in `s-resources-cf.json`. For some odd reason (the bug) only 1 function actually subscribes to it, not the others and they're all configured identically, i.e. identical `s-function.json`.

The reason I know this is a bug is because `sls dash summary` sho

[2016-06-21 11:54] pmuens opened #1360 "Pre v1 codebase cleaning"
We should take a final look at the codebase and refactor a little bit before releasing so that we have a nice and clean codebase in place external contributors can easily understand and work with.

[2016-06-21 13:19] pmuens opened #1361 "Fix Promise based error throwing tests"
Some tests (mostly validation tests) throw an error and reject the Promise. Those tests need some refactoring as we don't test for the rejection correctly.

Here's the gist on how a test for a rejection might look like:
[code]

[2016-06-21 13:23] pmuens opened #1362 "Remove unnecessary tmp filesystem usage in tests"
Some tests (such as `updateStack.js` in `aws/deploy`) rely on the temporary file system to write the `serverless.yaml` file to it.

This might be necessary for some / few tests but should be removed whenever possible (to speed up testing and don't pollute the users machine with unnecessary files and folders).

[2016-06-21 13:41] pmuens opened #1363 "Prepare package.json for 1.0.0-alpha.1 release"
The package.json should be overhauled (description, version number, tags etc.) for the release `1.0.0-alpha.1`.

[2016-06-21 17:02] pmuens commented on #1353
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-21 17:02] #1353 closed

[2016-06-21 17:03] pmuens commented on #1340
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-21 17:03] #1340 closed

[2016-06-21 17:15] pmuens commented on #1354
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-21 17:15] #1354 closed

[2016-06-21 17:36] mmoutenot commented on #1209
It actually looks like it is supposed to move it to `_serverless_handler`

That doesn't explain why it isn't working. I am running into the same problem with the starter python project (https://github.com/alexcasalboni/serverless-starter-python)

[2016-06-21 17:38] #1355 closed

[2016-06-21 17:39] pmuens commented on #1355
Resolved with https://github.com/serverless/serverless/pull/1352

[2016-06-21 17:45] pmuens commented on #1341
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-21 17:45] #1341 closed

[2016-06-21 17:47] weitzman commented on #659
Sure, I can see advantages for just using the Github repo directly. I'm fine with that outcome, if folks want. I do think a separate site for docs gives a project room to grow and become more professional in its approach to education.

1. Yes, you have to maintain links in a mkdocs.yml in addition to just authoring markdown files. The links give you a place to customize menu links, ordering, nesti

[2016-06-21 18:23] eahefnawy commented on #1077
Eslam from the Serverless team here...

First off, really sorry for being away all that time. We're incredibly busy in V1 and we haven't been paying much attention github notifications/issues :/

@alanwill I think you can only subscribe a single function to an SNS topic. Which would explain that only a single function is subscribed. (probably the last one that was deployed). They simply overwrite

[2016-06-21 18:27] eahefnawy commented on #1362
@pmuens I think the OS takes care of removing tmp dirs after couple of days or something ... I guess that's why the method is called `os.tmpdir()`.

[2016-06-21 18:34] pmuens commented on #1362
Yes. True. When I was reviewing https://github.com/serverless/serverless/pull/1352 I saw some usage to write e.g. `serverless.env.yaml` and `serverless.yaml` to the file system to reference e.g. `environment` variables where a mock object would also do the trick.

Just want to make sure that we go with mock objects whenever possible to speed things up a little bit.

[2016-06-21 21:25] simoami commented on #1359
I figured it out. When invoked with cognito credentials, Lambda functions can get passed the cognotoId in the context object. I used it to check against the record's stored cognitoId.

[2016-06-21 21:25] #1359 closed

[2016-06-21 22:08] alanwill commented on #1077
@eahefnawy to be clear, that's a limitation of serverless and not AWS because I can do it "manually", i.e. a multiple functions can indeed be subscribed to a single topic.

Is that what you meant? If so, any idea when it would be fixed in Serverless because in it's current state it's confusing since `sls dash summary` clearly shows that the functions are subscribed to the topic, it's just not the

[2016-06-22 05:45] pmuens commented on #1324
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-22 05:45] #1324 closed

[2016-06-22 07:04] pmuens opened #1367 "Capture DELETE_FAILED event when removing CloudFormation stack"
The AWS remove plugin does not keep track of the `DELETE_FAILED` event which might come up during stack removal (e.g. when the stack includes an S3 bucket which is not empty yet).

This event should be captured and reported to the user.

[2016-06-22 07:07] pmuens opened #1368 "Reissue stack removal process after a failed attempt"
The user should be able to reissue the stack removal process when it fails. This is currently not possible because the stack might be partially removed (e.g. the core bucket which is tried to be emptied on stack removal).

Is related to https://github.com/serverless/serverless/issues/1367

[2016-06-22 07:09] pmuens opened #1369 "String syntax for AWS API gateway event"
The API gateway event currently only supports the object syntax.

It would be great if a string representation would be supported as well.

[code]

[2016-06-22 07:11] #1344 closed

[2016-06-22 07:14] pmuens opened #1370 "Redeploying service after removing it is not possible"
Deployment fails with `NoSuchBucket: The specified bucket does not exist` If one deploys a service, removes it afterwards and wants to redeploy it again.

[2016-06-22 07:19] pmuens commented on #1344
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-22 07:27] flomotlik commented on #659
@weitzman @pmuens imho we should keep it inside Github during the V1 alpha phase. When we move more towards the release in a few months we should reconsider and can either leave it in Github if we think it works well enough or build a static page either in readme.io or build our own. But by then we'll also much better understand the needs for our docs and can build exactly what we need without inv

[2016-06-22 07:31] pmuens commented on #659
Yep. Agree. That's a good approach!

[2016-06-22 07:39] pmuens opened #1372 "Revamp documentation for alpha 1 release"
We've implemented some major changes. The docs should reflect those changes and make it easy for our early adopters to try and test our v1 alpha 1 release.

- [x] Understanding Serverless and its configuration files @eahefnawy
- [x] How to build your Serverless services @pmuens
- [x] Using plugins @pmuens
- [x] Building plugins @pmuens

[2016-06-22 07:42] flomotlik commented on #659
During the V1 phase imho we should have v1.docs.serverless.com redirected to the docs.

Imho we should be able to move fast enough on V1 that we can redirect docs.serverless.com to the Github repo before the actual release as we don't want to encourage people to use the old version as it will be replaced completely.

[2016-06-22 09:16] #1261 closed

[2016-06-22 09:17] #1085 closed

[2016-06-22 09:18] assaflavie opened #1373 "sls events deploy leaves AWS Lambda function in inconsistent state"
After deploying a Lambda function via sls 0.5.6 (in a VPC, if that matters), I tried to deploy a cron event for it using the following in `s-function`:

[code]

Afterwards, AWS Lambda's web console refused to show the event sources for that function (it showed an error box). Removing the event via sls did not change things. The Lambda function was effectively "broken" and I could not get it to cle

[2016-06-22 09:32] #1253 closed

[2016-06-22 09:36] pmuens commented on #1253
Closed with https://github.com/serverless/serverless/pull/1352

[2016-06-22 10:11] pmuens opened #1374 "Add comments / hints in generated serverless.yaml file"
It would be a huge UX gain if we could add some commented out sections (e.g. how to use defaults etc.) inside the generated `serverless.yaml` file so that the user can see what Serverless is also capable of.

[2016-06-22 11:37] gravisrinivas opened #1375 "serverless function deploy is failing"
when i am running he command "sls function deploy -s xxxx -r us-east-1 -a", i am getting error as

Error: EMFILE: too many open files, open 'E:\xxxxxxxxx\xxxx\xxxxxxx\ProjectName\_meta\_tmp\groupusers@1466594578265\base-authorizer\event.json'
  at Error (native)
  at Object.fs.openSync (fs.js:634:18)
  at Object.fs.readFileSync (fs.js:502:33)
  at Walker.<anonymous> (C:\Users\xxxxxxx\AppData\Roami

[2016-06-22 16:35] johnsgp opened #1377 "Exit code 0 even though deployment fails"
I'm using serverless 0.5.5.

When I run **serverless event deploy** before deploying the lambda function, I get something like this:

[code]

The process returns exit code 0 which I then cannot detect as an error with a continuous integration tool.

There are similar problems with deployment of functions and endpoints, e.g., when the _meta/_tmp folder is not writeable.  The common feature is the l

[2016-06-22 17:16] stevecaldwell77 commented on #1377
I'm running into the same issue.  Came in this morning to find my lambda functions hadn't been executing overnight, because deploying their scheduled event failed silently in travis.

As a side note, an event name longer than 64 chars seems like a common-ish use case with the way serverless builds them up.

        Serverless: Deploying events in "travis" to the following regions: us-east-1

[2016-06-22 17:16] eahefnawy opened #1379 "attempting to run a non existing command is not handled"
[code]

[2016-06-22 18:17] pmuens commented on #1379
Hmm yes. Might be something in the PluginManager. It works this way that the PluginManager looks into all available commands and checks the options for that command shortly after that.

I need to throw an error if the command is not available. Will look into it!

[2016-06-23 09:57] pmuens opened #1380 "Remove ascii greeting from all serverless CLI commands except create"
The ascii greeting is great but wastes a lot of screen real estate.

The idea is to show it only once the user has created a new service with the help of `serverless create`.

The reference to the docs should also be removed from all CLI outputs so that the user only sees the things he needs to see.

<img width="431" alt="bildschirmfoto 2016-06-23 um 09 14 00" src="https://cloud.githubusercontent.

[2016-06-23 12:27] eahefnawy opened #1382 "Allow users to add templates to serverless.yaml.resources directly"
Right now users have to add an extra `Resources` object to add resource templates. We need to remove this key so that users could insert resource templates directly to `serverless.yaml.resources` instead of `serverless.yaml.resources.Resources`

[2016-06-23 14:12] cspeer commented on #829
@ac360 Would you mind taking a look?

[2016-06-23 15:11] pmuens commented on #1379
Solved with https://github.com/serverless/serverless/commit/008df83d4294839a493980e1bb5c0605cfcb4bd4

[2016-06-23 15:11] #1379 closed

[2016-06-23 15:28] cspeer commented on #1349
So, this is a real issue now.
I'm building a REST API, thus for example PUT /Customer/{some-customer-id} with the following `requestTemplates`:
[code]
, right?
But it doesn't :(
`event` now only holds whatever the payload is.

[2016-06-23 16:26] pmuens opened #1385 "%s placeholders are printed in help screen"
If I type in `serverless --help` or `serverless deploy --help` I see the %s placeholders rather than the help commands:

<img width="1176" alt="bildschirmfoto 2016-06-23 um 17 30 31" src="https://cloud.githubusercontent.com/assets/1606004/16311203/e4af38ac-396f-11e6-8b17-d9de22a3b1be.png">

[2016-06-23 18:09] jthomerson opened #1386 ""sls project remove" fails"
I've never been able to get "sls project remove" to work successfully. It gets errors and then says it completed successfully, but the spinning cursor never stops until you hit CTRL-C. Then your AWS account is still littered with a bunch of resources that weren't removed.

Here's a complete log of the "sls project remove" output. Note that where it says *is not deployed in "us-east-1"* it is *wron

[2016-06-23 22:10] vanerleo opened #1387 "NEW ap-southeast-2 Region Support"
New Region just announced :  ap-southeast-2
please add

[2016-06-24 00:41] tobyhede commented on #1387
woot!

[2016-06-24 01:17] vanerleo commented on #1356
it looks like due to the use of : fse.removeAsync() on line 305 in FunctionDeploy.js
changing it to fse.remove () fixes it

[2016-06-24 01:20] dcroswell commented on #1387
I tried modifying the ProviderAws.js and Region.js files which will allow you to create the cloud front but when you go to deploy, you get an error.   Can't wait to have my code closer to home!

[2016-06-24 01:57] vanerleo commented on #1387
yeah, i did the same thing , and got the same.

As regions are added all the time, the need for a release for the full project should not rely on a new region added. This should probably be a separate json file, where all can add or remove regions

[2016-06-24 05:25] silver2k commented on #1387
I need this in my life. I'll look into it tonight if no one else is...

[2016-06-24 05:51] tobyhede commented on #1387
@dcroswell What was the error?

[2016-06-24 05:55] dcroswell commented on #1387
@tobyhede C:\Users\me\AppData\Roaming\npm\node_modules\serverless\node_modules\bluebird\js\release\async.js:61
fn = function () { throw arg; }; ^
TypeError: Cannot read property 'toLowerCase' of undefined
at C:\Users\AppData\Roaming\npm\node_modules\serverless\lib\Serializer.js:395:168
From previous event:
at Region.deserializeRegion (C:\Users\me\AppData\Roaming\npm\node_modules\serverless\lib\Ser

[2016-06-24 09:24] cspeer commented on #1349
Forget it... I'm an idiot. I forgot to set the request type. Thus the passthrough kicked in and my mapping was ignored, obviously. So, never mind.

[2016-06-24 09:24] #1349 closed

[2016-06-24 09:51] #1333 closed

[2016-06-24 09:51] #982 closed

[2016-06-24 10:58] eahefnawy opened #1391 "Add integration test to make sure help is actuall printed to console"
When running `serverless --help` or `serverless <command> --help`

[2016-06-24 11:26] pmuens commented on #1385
Fixed with https://github.com/serverless/serverless/pull/1390/files

[2016-06-24 11:43] jdavidls commented on #645
I'm very interested in this feature, I think it would be good idea to include VTL in the offline plugin, as a Integration Response. Anyone working in the offline plugin for v1? if not, I could contribute.

[2016-06-24 12:03] nikgraf opened #1393 "Can't deploy a service after removing it"
[code]

Keep in mind I removed the app from the file-system and created a new one.
This is only relevant to v1.0

[2016-06-24 12:19] nikgraf commented on #1393
Now I'm getting another error:

[code]
Serverless: Zipping functions...
Serverless: Uploading zip files to S3...
  No Such Bucket -----------------------------------------

     The specified bucket does not exist

     For debugging logs, run again after setting SLS_DEBUG env var.

  Get Support --------------------------------------------
     Docs:          v1.docs.serverless.com
     Bugs:

[2016-06-24 12:31] pmuens commented on #1393
Might be related to https://github.com/serverless/serverless/issues/1370

[2016-06-24 15:01] pmuens commented on #1372
Closed with the following PRs:

https://github.com/serverless/serverless/pull/1383
https://github.com/serverless/serverless/pull/1384
https://github.com/serverless/serverless/pull/1389
https://github.com/serverless/serverless/pull/1396

[2016-06-24 15:01] #1372 closed

[2016-06-24 15:34] JDFagan commented on #1287
serverless version 0.5.6, running on Mac OS 10.11.4 with node v6.1.0

I seem to have similar stack trace but perhaps different "from previous event" origins.  I haven't resolved this issue yet so if you have any ideas for work arounds I'm game:

/Users/jfagan/.nodenv/versions/6.1.0/lib/node_modules/serverless/node_modules/bluebird/js/release/async.js:61
        fn = function () { throw arg; };

[2016-06-24 21:55] JDFagan commented on #1287
Note: I was using wrong version of Node.  I downgraded to version 4.4.4 and now am not getting this error message anymore.

[2016-06-24 22:28] wbaelen commented on #1209
I think the error occurs when the dependencies are not uploaded. What is the handler name in your `s-function.json`? If it doesn't have a path which includes your dependencies then that could be the issue.
Did you install them into the `vendored` directory?

[2016-06-24 23:10] JDFagan commented on #1287
Hmmm...I seem to have run into it again even with Node version 4.4.4.  It seems when I have multiple "stages" I get this error.  I also noticed that in s-variables-{$stage}-{$region}.json file only now has region field and has lost following these fields (resourcesStackName, iamRoleArnLambda, apiGatewayApi) after adding stages:

Serverless:   groups: Missing required key 'Role' in params
/Users/jf

[2016-06-25 02:55] tobyhede commented on #1387
Thanks @dcroswell I will check it out.

[2016-06-25 15:04] plbrault opened #1398 "Add logResult to evt.data.result in FunctionRun"
In the `_runDeployed` method of the `FunctionRun` action, I think `logResult` should be added to `evt.data.result` when available, so it can be used by plugins to extract useful information about the function execution (ex: get the billed duration).

I can create a pull request for that.

[2016-06-25 16:34] #1385 closed

[2016-06-25 22:40] jackrk commented on #1168
CloudFormation should be releasing support soon. In terms of the default option, WHEN_NO_TEMPLATES may actually be better. If NEVER is set and there are no templates set on an Integration, any request would be rejected wth 415 which might be confusing to a new developer. At the same time it would also raise awareness for stricter content-type mapping... So I can see either side.

Also, another key

[2016-06-25 22:47] jackrk commented on #1346
Static values are only allowed for path/querystring/header parameters on the Integration Request. The 'body' location can be used when mapping from the incoming body to an outgoing parameter like 'method.request.body.foo' -> 'integration.request.header.foo'. Sounds like you want to build a mapping template for the integration. You can set static values in templates or inject request parameters the

[2016-06-26 07:03] simoami commented on #1346
An example config for those would be greatly appreciated. What I did in the time being is add an internal router in the lambda function to identify multiple get routes

[2016-06-26 22:03] dwtowner commented on #1287
I'm hitting it again too. The error went away for a bit after I deleted the
region and then recreated it and redeployed, but its come back again and
the region delete/create trick doesn't have any effect any more. There
aren't any symlinks in my directories either for me to fix (as Matt Mankins
reports that deleting some invalid symlinks worked for him).

dan.

On Sat, Jun 25, 2016 at 12:11 AM, JD

[2016-06-26 22:04] dwtowner commented on #1287
p.s. It reliably fails now, all the time, so if a maintainer wants me to
try anything I can do so.

On Sun, Jun 26, 2016 at 11:03 PM, Daniel Towner <dwtowner@googlemail.com>
wrote:

[2016-06-27 03:17] silver2k commented on #1387
Just modified the same files - and it worked fine eventually. (I had the same error as about - but only because I types southwest rather than southeast)
Try removing `aws-sdk` from the the serverless node_modules folder and installing the latest SDK globally. This might do the trick...

[2016-06-27 03:44] egeland commented on #1387
Looking forward to being able to try `serverless` in APSE2.. :smile:

[2016-06-27 04:59] vanerleo commented on #1387
no luck, i've updated the global aws-sdk to latest as well

when creating a new region :
`
Serverless: Creating region "ap-southeast-2" in stage "dev"...
Serverless: Deploying resources to stage "dev" in region "ap-southeast-2" via Cloudformation (~3 minutes)...
~/.npm-packages/lib/node_modules/serverless/node_modules/bluebird/js/release/async.js:61
        fn = function () { throw arg; };
Serverl

[2016-06-27 05:31] dcroswell commented on #1387
+1 Same exact problem, even if I try and create a new serverless project.

I can create the project but then, "serverless function create" will result in the same error as vanerleo gets above.

[2016-06-27 05:34] dcroswell commented on #1387
$ serverless function create base
c:\Users\me\AppData\Roaming\npm\node_modules\serverless\node_modules\bluebird\js\release\async.js:61
        fn = function () { throw arg; };
                           ^

TypeError: Cannot read property 'toLowerCase' of undefined
    at c:\Users\me\AppData\Roaming\npm\node_modules\serverless\lib\Serializer.js:395:168
From previous event:
    at Region.deserialize

[2016-06-27 06:49] dcroswell commented on #1387
Found in my _meta/variables/s-variables-common.js I had a reference to region. I will delete it later and try again and report my results.

[2016-06-27 06:54] vanerleo commented on #1387
@dcroswell  it generates : _meta/s-variables-***-apsoutheast-2  ( for each deployed stage)
the only way to fix  'toLowerCase' of undefined  .. to remove those files

[2016-06-27 07:00] #1382 closed

[2016-06-27 07:07] ac360 opened #1399 "Clean up contributor files"
The contributor files and experience could be a bit better:

* CONTRIBUTING.md:  This is overwritten.  Excessive words should be cut, and simple bullet points should be emrbaced.
* ISSUE_TEMPLATE.md & PULL_REQUEST_TEMPLATE.md:  These aren't currently templates.  Templates would be more useful because the user knows what to write and where to write it.

[2016-06-27 07:20] ac360 opened #1401 "Use a Node.js CLI library in V1"
The CLI functionality is missing a lot of fundamental functionality:

- [ ] shortcuts
- [ ] parameters
- [ ] spinner
- [ ] better UI
- [ ] subcommand support

This can be gained via a battle-tested CLI lib.  The question is which one?

[2016-06-27 07:21] MrRio commented on #1401
I recommend blessed. I used it in vtop
On Mon, 27 Jun 2016 at 08:20, Austen <notifications@github.com> wrote:

--
James Hall
Director
Parallax Agency Ltd
M. 07894950320

[2016-06-27 07:22] pmuens commented on #1401
A nice Node.js CLI library is e.g.:
https://github.com/dthree/vorpal

[2016-06-27 08:02] pmuens commented on #1367
Should be resolved with https://github.com/serverless/serverless/pull/1402

[2016-06-27 08:08] pmuens commented on #1393
Closing this as it's a duplicate of #1370

[2016-06-27 08:08] #1393 closed

[2016-06-27 08:11] pmuens commented on #1399
Resolved with https://github.com/serverless/serverless/pull/1400

[2016-06-27 08:11] #1399 closed

[2016-06-27 09:15] #1313 closed

[2016-06-27 09:17] eahefnawy opened #1403 "validate config property data"
for example, validate that APIG `method` property is `post`, or `get` or...etc

[2016-06-27 09:18] pmuens commented on #1403
Realted to #1369

[2016-06-27 09:30] eahefnawy opened #1404 "Testing Alpha 1 with real world projects and plugins"
- update graphql-boilerplate
- update client deploy plugin

[2016-06-27 09:38] eahefnawy opened #1405 "support shortcuts for passing options"

[2016-06-27 09:41] eahefnawy opened #1406 "update error messages content for better UX and debugging"

[2016-06-27 09:41] eahefnawy opened #1407 "add support for debugging logs"

[2016-06-27 09:46] eahefnawy opened #1408 "Add support for more config options for APIG"
Right now our API Gateway support only takes a `method` and `path` options, which is pretty simple. For practical APIs however we might need the following APIG features:

- [ ] [Response & Request VTL Templates](https://github.com/serverless/serverless/issues/1593)
- [x] [CORS](https://github.com/serverless/serverless/issues/1596)
- [x] [API Keys](https://github.com/serverless/serverless/issues/15

[2016-06-27 09:46] eahefnawy opened #1409 "Add support for more AWS events"
- [x] SNS (#1476 / #1499)
- [x] Streams (e.g. Kinesis and DynamoDB) (#1608 / #1441)
- [ ] SES (#3401)
- [x] Cognito (#3400)
- [x] CloudWatch logs (#3399)
- [x] CloudWatch events (#3102)
- [x] Alexa Skills Kit (#2875 / #1525)
- [x] Alexa Smart Home (#3955)
- [x] IoT (#2954)

Overview of available events for lambda:
http://docs.aws.amazon.com/lambda/latest/dg/invoking-lambda-function.html

[2016-06-27 10:25] pmuens commented on #1367
Better implementation in https://github.com/serverless/serverless/pull/1410 should solve it finally!

[2016-06-27 11:54] #1361 closed

[2016-06-27 12:02] pmuens commented on #1370
Solved with https://github.com/serverless/serverless/pull/1411

[2016-06-27 12:02] #1370 closed

[2016-06-27 12:02] pmuens commented on #1224
Resolved with https://github.com/serverless/serverless/pull/1411

[2016-06-27 12:02] #1224 closed

[2016-06-27 12:21] eahefnawy opened #1412 "Add another integration test for APIG"

[2016-06-27 12:27] eahefnawy opened #1413 "serverless logs"

[2016-06-27 12:35] eahefnawy opened #1414 "serverless metrics"

[2016-06-27 14:02] nikgraf opened #1415 "Add additional information which service needs a subscription"
I thought I activated all I need to deploy a Serverless service. I'm still getting this error and don't have an idea on the next steps.

Some information on which service I'm missing would be useful.

[code]

[2016-06-27 14:06] nikgraf opened #1416 "Print out app id, stage, region(s) after deploy"
This would be super useful to for one have confirmation that my last action worked as expected, but also helps a great deal to continue further.

[code]

@pmuens @eahefnawy what would be also very interesting is a plugin with commands to get out the APIs and other basic, but interesting information about my deployed apps …

[2016-06-27 14:21] pmuens commented on #1367
Still not resolved.

The problem now occurs when you have two stacks with the same name and one of them fails but the other was successfully removed in the past.

Serverless will use `listStacks` with the `DELETE_IN_PROGRESS` and `DELTE_COMPLETE` filter to list the stacks. It won't find the failed one because the filter will only show the ones with the statuses above.

However it will find an old

[2016-06-27 14:35] #1367 closed

[2016-06-27 14:35] eahefnawy commented on #1415
for better UX, we can catch the error message and add to it the exact service we're trying to use and notify the user that they need to activate it.

[2016-06-27 14:52] pmuens commented on #1367
Resolved with #1417

[2016-06-27 15:15] #1363 closed

[2016-06-27 21:35] esalter opened #1422 "serverless function run in subdirectory "Function <name> does not exist in your project""
Disclaimer: I'm very new to serverless, so I might be missing something.

I'm having a problem attempting to run a function created in a subdirectory.  According to the docs and several examples I've found this should just work:

[code]

It DOES work if I create it directly with no subfolder (eg, serverless function create test2)

It also DOES work if I first descend into whatever/test2, then do

[2016-06-27 21:43] license2e commented on #964
@flomotlik What about only zipping directories with certain patterns (only if they exist)?

For example:
`node_module`
`lib`
`shared`

[2016-06-27 21:46] jthomerson commented on #1251
@flomotlik can we get a little more information on the v1 CF changes? Do you mean that functions, end points, and events all get merged with my s-resources.json and deployed as on formation?

[2016-06-28 02:20] vanerleo commented on #1387
so whats the status of this?

[2016-06-28 02:26] tengis commented on #1387
Hi, Could not referenced this issue on pull request. But this #1423 will fix that issue

[2016-06-28 04:23] fruffin opened #1425 "Add suppport for ap-southeast-2 (Sydney) region"
AWS have made Lambda available in the ap-southeast-2 (Sydney) region last week.
Serverless doesn't seem to pick up the available region dynamically.

Would it be possible to add support for ap-southeast-2?

I'd be happy to make the change myself if someone can point me in the right direction and tell me which branch to write my pull request against.

Thanks!

[2016-06-28 04:26] fruffin commented on #1425
Just realised there is already a pull request for this. Ignore me

[2016-06-28 04:26] #1425 closed

[2016-06-28 08:03] pmuens commented on #1369
Closed with https://github.com/serverless/serverless/pull/1424

[2016-06-28 08:03] #1369 closed

[2016-06-28 08:06] pmuens opened #1429 "Option to have provider specific plugins"
Some plugins such as provider related `deploy` might be provider specific and should only be run when the services provider is the one the plugin was written for.

We should add an option to define the plugins provider in the plugins constructor.
Furthermore the `PluginManager` should check if the plugin should be run (based on the provider specified in the `serverless.yaml` file).

**Note:** It's

[2016-06-28 09:26] flomotlik commented on #1251
@jthomerson we're going to release more info very very soon, here you can get a view of the new docs: http://v1.docs.serverless.com

And yes all resources necessary in a stack (custom resources and resources we need to create for your functions) will be deployed as one Cloudformation stack. We've removed the s-resources.json file and its all in one config file now (although you can split this up e

[2016-06-28 09:33] flomotlik commented on #964
yeah we're implementing an include/exclude functionality into V1 of the service. So you can easily include or exclude whatever you want to. This should also help with cross-language setup as it easily allows to build language specific packages for different functions

[2016-06-28 10:24] mpuittinen opened #1430 "Promise error / warning on server create"
I've started getting systematically (every project create / install) the following warning / error (the operations seems to succeed despite the error). I'm running serverless 0.5.6 on Node 4.4.5.

Serverless: Creating region "ap-northeast-1" in stage "dev"...
Serverless: Deploying resources to stage "dev" in region "ap-northeast-1" via Cloudformation (~3 minutes)...
Serverless: Successfully deploy

[2016-06-28 12:36] pmuens commented on #1304
closed with https://github.com/serverless/serverless/pull/1432

[2016-06-28 12:36] #1304 closed

[2016-06-28 13:01] pmuens opened #1434 "Autocheck for required options in PluginManager not working"
Seems like the functionality which automatically raises an error if the option which is required is not present won't work anymore.

**Note:** You need to test this inside a Serverless `service` directory.

[2016-06-28 15:24] icrtiou commented on #644
I have this unable to list event sources problem too. So I file a ticket to aws support. Here the response:

I don't know where to modify to make this right in `serverless`. anyone?

[2016-06-28 17:00] pmuens opened #1436 "Go support"
It would be great to implement Go support (maybe through a shim).

[2016-06-28 17:42] JakubMatejka opened #1437 "Wrongly named lambda function in API gateway method setup"
I managed to setup and deploy lambda function `keboola-developer-portal-auth` but when I deploy endpoint to API gateway, I see in aws console (in Integration Request section) it is connected to lambda function `keboola-developer-portal-auth:${stageVariables.functionAlias}` and API calls do not work. It looks like there should be something different from `${stageVariables.functionAlias}`, probably

[2016-06-28 21:34] zallek commented on #1375
same problem there

[2016-06-28 22:11] zallek commented on #1209
I had the same problem.

The problem was that **some dependencies were not included in the distribution directory**.
I solve the thing by updating my `excludePatterns`.
[code]
to
[code]
Indeed patterns patterns seems to not work as we could expect: `".git"` was preventing the dist to include folders name `github` and a file name `github.js`.

Is it a bug ? maybe excludePatterns should require to d

[2016-06-29 01:53] xtenix opened #1439 "Narrowing the Serverless IAM Deployment Policy"
I’ve been spending time recently trying to remove Admin rights as a requirement for sls deployments. Still a work in progress, but so far I have this policy that I can attach to any “serverless-agent” AWS user, so that the serverless-agent user is empowered enough to deploy:

[code]

Right now, I'm focused on a single policy that can deploy to all stages. But some enterprises may need this IAM pol

[2016-06-29 05:47] gravisrinivas commented on #1375
reinstalling the serverless has solved the problem for me

[2016-06-29 05:48] #1375 closed

[2016-06-29 06:59] #1404 closed

[2016-06-29 07:12] pmuens opened #1441 "Add DynamoDB event source"
Another interesting event source is DynamoDB (based on community feedback) which should be implemented.

[2016-06-29 07:18] pmuens opened #1442 "Implement support for service plugin loading"
Right now the `PluginManager` only loads core plugins as the path to service plugins is not resolved.

[2016-06-29 12:17] pmuens commented on #1294
This can be implemented with the help of environment variables. There's a corresponding example in the docs.

[2016-06-29 12:17] #1294 closed

[2016-06-29 15:50] ac360 commented on #1401
**My thoughts on Vorpal:**

Benefits:
* It is battle-tested across operating systems
* It looks like it is well supported
* It supports params/args (and multiple words as params/args)
* It supports options (and shortcuts)
* It supports multi-word commands
* It supports autocomplete
* Offers a cancel function to run if a user cancels mid-command (interesting for a infrastructure management CLI)
* A

[2016-06-29 15:50] eahefnawy commented on #1401
For full CLI frameworks, I think our best options are either Vorpal or Blessed as mentioned above. On top of that we might use the following for extra functionality:

- [term-img](https://github.com/sindresorhus/term-img): Add images to terminal. Would be cool to have the serverless logo in the terminal.
- [insight](https://github.com/yeoman/insight): Report CLI usage to Google analytics. Super co

[2016-06-29 16:30] pmuens opened #1445 "Better support for nested commands"
Nested commands (such as `serverless deploy function`) are not properly supported ATM.

Some of the logic only handles a maximum of two level deepness (there are `TODO` comments in the source code to find those parts more easily).

We should implement recursive lookups there to support any level of command deepness.

[2016-06-29 16:48] pmuens commented on #1445
Related to #1276

[2016-06-29 17:05] pmuens opened #1446 "Print a . while loading (instead of implementing a spinner)"
We should append a `.` in the terminal while Serverless is loading / doing it's thing (e.g. deploy a CloudFormation stack) instead of printing a message each time.

[2016-06-29 17:07] pmuens opened #1447 "Show :zap: emoticon instead of "Serverless: " in CLI"
To make the CLI slimmer and introduce a better CI we should add a ⚡  at the beginning of each `Serverless` command (instead of `Serverless: `).

Here are some libraries which might help here.

https://github.com/omnidan/node-emoji
https://github.com/IonicaBizau/emojic

[2016-06-29 19:53] imadtouil opened #1449 "Set handler property of the s-function.json file to be relative to the parent folder"
When i first create a function, the s-function.json handler value is set by default to :
`..."handler": "handler.handler",
...`
With this default configuration, node_modules dependencies doesn't work properly, because we have to "manually" set the path for the handler.

ERROR:
`"errorMessage": "Cannot find module 'node-uuid'",...`

 I have fixed this issue locally by updating lib/Function.js & lib

[2016-06-29 20:00] JSeed opened #1450 "Support for all cloudwatch event rules, not just scheduled"
It would be nice if serverless had support for all cloudwatch event rules, as api calls can be really useful event sources for lambda functions.
I have taken a look at the code for scheduled events, and it looks like it would require minimal modifications.  To create a non-scheduled event source, you simply supply a EventPattern parameter instead of (or as well as) the scheduled expression.  This

[2016-06-29 21:48] hatembr commented on #964
+1 for including/excluding folders. But here is another scenario not dealing with shared code.
Today while experimenting with the framework, we noticed that when selecting a specific function to be deployed, the whole folder with all the other functions' code was being uploaded.
It makes more sense to deploy only the desired function's code (folder) along with any shared lib in the parent folder,

[2016-06-29 22:53] license2e commented on #964
@hatembr: Here is an example of how you can set up your exclude paths:
[code]

You may have to play around with the regex a bit to make it work..

Note: I had to edit `lib/Runtime.js` - function: `_processExcludePatterns` to add `- using: ${sRegex}` so that when I add `--debug` flag it would tell me the exact regex pattern that excluded that path:

[code]

Lmk, if you have some problems with that,

[2016-06-29 23:35] aheissenberger commented on #1132
I use this to debug local:
`node-debug $(type -p serverless) function run XXX`

this should work with `serverless-offline` too but I have not tested it

[2016-06-29 23:37] aheissenberger commented on #281
I use this to debug local:
`node-debug $(type -p serverless) function run XXX`

this should work with `serverless-offline` too but I have not tested it

[2016-06-30 03:49] pmuens commented on #1450
Hey @JSeed
Thank you for your feedback and your research! Really appreciate it.
We're currently working on Serverless v1 (https://github.com/serverless/serverless/tree/v1.0) where we've already implemented some event sources and are listening for user feedback on what else events should be supported. Your feedback is a perfect fit here.

I put it on the v1 milestone so we can look into it during v

[2016-06-30 04:03] pmuens commented on #1405
Resolved with https://github.com/serverless/serverless/pull/1444

[2016-06-30 04:03] #1405 closed

[2016-06-30 07:07] #1401 closed

[2016-06-30 07:21] pmuens commented on #1401
Right now we're moving forward with our own CLI implementation and wait for users feedback if more features are interesting / necessary.

[2016-06-30 07:33] #1434 closed

[2016-06-30 07:34] pmuens commented on #1434
Not able to reproduce. Might be resolved in the meantime / was never an issue at all :metal:

[2016-06-30 08:36] danielesegato commented on #187
I created a fork of @davidgf bash autocomplete script that fix the `find .` problem, you can find it [here](https://gist.github.com/danielesegato/d4088ae0a1e67ba827cb0d8846038971)

[2016-06-30 09:10] danielesegato commented on #187
@flomotlik shouldn't the issue be re-opened?
You had the contribution from @davidgf and now my fork.

[2016-06-30 10:21] jthomas opened #1452 "Serverless v1.0 Provider "Templates""
*Further to my conversation with @ac360 I'm opening this issue to provide feedback about the Provider API. I've been reviewing the API and AWS & Auzre implementations to help understand how to deliver the OpenWhisk provider plugins.*

Provider Templates
--

This [template file](https://github.com/serverless/serverless/blob/v1.0/lib/templates/nodejs/handler.js) is used to scaffold the Node.js handl

[2016-06-30 12:39] pmuens opened #1454 "DRY out supported providers array"
Right now we have the same array with supported provider twice in our code.
The first time it's in the service class, the second time it's int he create plugin.

It's used to check if the provider is supported. This array should be made globally available so that we only have to update it at one place if a new provider will be added.

[2016-06-30 12:51] pmuens commented on #1452
Hey @jthomas!
Thank you for jumping in on the OpenWhisk implementation!

Right now we simply copy the handler file (see https://github.com/serverless/serverless/blob/v1.0/lib/plugins/create/create.js#L77-L80).
The `create` plugin only supports the `create:create` lifecycle. https://github.com/serverless/serverless/tree/v1.0/lib/plugins/create#provided-lifecycle-events

We should definitely move th

[2016-06-30 12:56] pmuens opened #1455 "Access environment variables in code"
Back in Serverless v0 we had the possibility to use `process.env` to use previously passed in environment variables inside the code (e.g. useful to namespace database tables etc.).

[2016-06-30 12:58] pmuens opened #1456 "Reduce size of coreBucket (only store X function .zips)"
Right now the function will be zipped and uploaded to the S3 bucket every time a `serverless deploy` is issued. We should only upload changed functions and only keep e.g. the last 10 versions.

[2016-06-30 12:59] pmuens opened #1457 "Add support for Lambda versioning and aliases"
The lambda function get's replaced every time a new version is deployed.

We should keep track of the lambda versions and enable lambda versioning / alias support.

**Things to investigate:** "What about the bucket cleanup and Lambda versioning?" (https://github.com/serverless/serverless/issues/1504 / https://github.com/serverless/serverless/pull/1477)

[2016-06-30 13:01] pmuens opened #1458 "Make coreBucket name unique"
The coreBucket name now includes the region, stage and name of the service. We might also introduce a timestamp (or the account number) so that names won't collide as S3 bucket names should be globally unique.

[2016-06-30 13:03] pmuens opened #1459 "Check Resource names / keys before merging them into the CloudFormation template"
Resources with the same name will overwrite resources which were previously added in the deployment process.

We should throw an error that two Resource keys cannot have the same name / key.

[2016-06-30 13:05] pmuens opened #1460 "Documentation on how to deploy to another stage and region"
Documentation regarding deployment to another `stage` and `region` is not available right now.

It should be added to make it more understandable what needs to be done to deploy somewhere else.

[2016-06-30 13:07] pmuens opened #1461 "Add note about $ref usage for resource usage in "custom provider resoruces" guide"
Adding resources with the help of `$ref` is way easier than translating them into YAML. We should add a note in the corresponding documentation.

[2016-06-30 13:34] pmuens commented on #1406
Will be closed with #1453

[2016-06-30 13:49] pmuens commented on #1368
We should not automatically reissue the stack removal process but print a corresponding error message so that the user has full control over his stack and the resources.

[2016-06-30 13:49] #1368 closed

[2016-06-30 13:55] pmuens commented on #1461
Resolved with https://github.com/serverless/serverless/pull/1462

[2016-06-30 13:55] #1461 closed

[2016-06-30 15:07] hatembr commented on #964
Thank you @license2e , this is very helpful.

So if I understand well, SLS by default would deploy all the code in the parent folder and it's up to the developer to exclude whatever they want?
If so, why not doing it the other way around? ie. deploy only the targeted function and leave it up to the developer to include whatever else they want?

[2016-06-30 15:10] JSeed commented on #1450
Took a quick at v1, looks like some good stuff!
It's worth noting that this issue also applies to v1, with the cloudwatch events being limited to scheduled (though my approach to solve this is probably no longer valid).

[2016-06-30 15:45] pmuens commented on #1450
Thank you for the feedback! We're added it to the v1 milestone so that we can come back to this when we'll implement more event sources.

[2016-06-30 16:53] eahefnawy commented on #1452
@jthomas yep we will just update the `create` plugin to choose a certain `handler.js` template file based on the passed provider as an option just like @pmuens described. Will merge that tomorrow!

Happy to have you here James 😊

[2016-06-30 17:21] JSeed commented on #1450
Out of curiosity are you guys open to PRs on the v1 stuff?
I have a lot of experience with event sources from previous projects, I may be able to help out with a few

[2016-06-30 17:52] pmuens commented on #1450
Absolutely! Would be awesome if you could submits PRs!

We have a documentation for developing plugins you may look into: https://github.com/serverless/serverless/tree/v1.0/docs/developing-plugins

This way you can add new events easily!

[2016-06-30 18:56] chanep opened #1464 "V0.5 - Existing Project On Project Init Stage Prompt Repeating Input"
Issue #834 was closed but it was not solved and no new issue was created in replace

[2016-06-30 18:59] imadtouil commented on #1449
Actually just came across the Function Configuration" part in your documentation and i understand now why the handler is set by default to handler.handler.

That said, you can ignore my PR and i will close this issue.

Thank you for the great work (y)

[2016-06-30 19:00] #1449 closed

[2016-07-01 03:05] mamidipalli commented on #682
Team, how is this coming up?

[2016-07-01 04:18] eahefnawy commented on #1454
We can put it in the AWS SDK file (along with valid regions), but that would cause a dependency on the create/service files to AWS, and we wanted to avoid that. We can also keep it in the Utils, but then again we agreed we shouldn't mention anything about providers in the core. So I got a little stuck here.

Open for suggestions...

[2016-07-01 07:30] pmuens commented on #1429
Will be resolved with #1465

[2016-07-01 07:33] pmuens commented on #682
Hey guys. Thank you for the interesting discussion here so far!

We're currently working on this and have put it on our roadmap for an upcoming, next alpha release!

[2016-07-01 09:35] pmuens commented on #1454
Good and valid points points!

What i meant was this array https://github.com/serverless/serverless/blob/v1.0/lib/plugins/create/create.js#L51-L53

Thought it was duplicated in the `Service.js` class until I realized it wasn't today.
So it's not relevant anymore!

Sorry for the confusion.

[2016-07-01 09:35] #1454 closed

[2016-07-01 10:35] pmuens commented on #1447
This might yield to unexpected behavior if it's not supported by the OS. Closing this for now.

[2016-07-01 10:35] #1447 closed

[2016-07-01 11:29] mthenw opened #1467 "Don't require region definitions in serverless.env.yml (v.1)"
Region `vars` are populated by `sls deploy` so I guess there should be no need to define empty vars object beforehand.

[2016-07-01 11:48] pmuens opened #1468 "Serverless info plugin"
It would be e.g. interesting to get resource related information such as the URL to the Api Gateway or other information printed out on the console after a successful deployment.

[2016-07-01 11:49] pmuens opened #1469 "Remove iamRoleArnLambda"
Remove the reference to the `iamRoleArnLambda` as it's not needed anymore (was used to check whether the stack was successfully deployed).

**Note:** The AWS account number should be kept as many users have requested it.

[2016-07-01 12:08] pmuens opened #1470 "Possibility to specify template on service creation"
The user should be able to create a service based upon a template like this:
`serverless create --name my-service --template aws-java-maven` or this: `serverless create --name my-service --template aws-node43`.

**Note:** This also implies that Services are runtime bound (one service only supports one runtime)

The templates should live in our core framework (might be moved to somewhere else such

[2016-07-01 13:09] pmuens commented on #1447
This is what it looked like:

<img width="494" alt="screen shot 2016-07-01 at 11 10 57 am" src="https://cloud.githubusercontent.com/assets/1606004/16522391/d614ae06-3f9d-11e6-8f05-036f8ff724e7.png">

[2016-07-01 13:13] pmuens commented on #1446
This might help with the implementation:
http://stackoverflow.com/a/11600998

Otherwise we can print a `.`, use the readline module to see how many `.` are already printed (e.g. 4) and then just add another `.` and repeat. This way we don't have to keep variable to store how many `.` are already printed..

[2016-07-01 14:45] pmuens commented on #1460
Should be done after / alongside #1467

[2016-07-01 15:58] jthomas commented on #1452
FYI I'm working on the OpenWhisk implementation here:
https://github.com/jthomas/serverless/tree/v1.0-openwhisk
Hoping to have basic deploy working next week.

I'll also be at the Serverless meetup in London on Monday if anyone wants to say hello!

[2016-07-02 04:59] #1422 closed

[2016-07-02 20:16] kennu commented on #1455
Big +1 to this. We (SC5) have always been heavy users of environment variables and `sls meta sync`. All our projects are using lots of them to configure stage-specific settings. Some variables (API keys etc) can't be stored in Git, so the previous separation into multiple files under _meta/variables was very useful for .gitignoring certain files.

[2016-07-02 21:33] license2e commented on #1436
Seems like it would be easy as a plugin..

Examples:
http://blog.0x82.com/2014/11/24/aws-lambda-functions-in-go/

[2016-07-02 23:29] csterwa commented on #499
Has this been fixed? I am getting this error in a Continuous Integration server environment where the Docker container that is running the build each time has to re-initialize the project. I'm also deploying the resources again. The functions are deployed just fine but endpoints won't deploy in that environment. It is interesting since deployment of endpoints is working from my laptop which is ori

[2016-07-02 23:34] csterwa commented on #1377
I'm getting the same with failed deployment of endpoints:
[code]

[2016-07-03 10:29] RudolfVonKrugstein opened #1473 "How to get error message from "serverless function run""
Hey, I am trying to get the error message from ```serverless function run```. I have a simple function with this body:
[code]
But the output of ```serverless functio run``` simply is:
[code]

I am on fedora 24 running serverless 0.5.6

[2016-07-03 12:39] jeroenleenarts commented on #1473
It is due to discrepancies in Serverless. By the looks of it you are running the function locally. I see no parameters defining a stage, region and -d parameter. More info on those here: http://docs.serverless.com/docs/function-run

Why are you seeing undefined?
Well, you are passing a string as the error parameter on the callback handler. Running the deployed version should result in output along

[2016-07-03 15:07] RudolfVonKrugstein opened #1474 "The ${project} variable"
The documentation uses at several points the variable ```${project}```. But in my project, when I use this variable I get:

[code]

What could I be missing? This is my s-project.json:

[code]

I am on fedora 24 running serverless 0.5.6

[2016-07-03 23:13] patoncrispy commented on #1340
Is the cors and caching functionality mentioned in the complete example above implemented? I went through the source code for the API Gateway deployment and couldn't see anything, but I could be missing the trick, so thought I'd ask.

[2016-07-04 06:12] tobyhede opened #1475 "Error provisioning cloudformation"
Version: 1.0.0-alpha.1

Following the alpha docs, I receive the following on `deploy`

[code]

There are no further details or error stack.

I have confirmed my AWS profile credentials have AdministratorAccess to AWS.

[2016-07-04 06:17] pmuens commented on #1452
Hey @jthomas
Great! Really looking forward to the OpenWhisk support! I'll attend the meetup as well.

See you there!

[2016-07-04 06:18] pmuens commented on #1436
Yes. We're about to add it with the help of a Shim.

Thanks for the link!

[2016-07-04 06:20] pmuens commented on #1340
Hey @patoncrispy
Thanks for the question!

CORS support will be added later on.
We've just implemented the basic API Gateway functionality for the first alpha but want to support more in upcoming updates (e.g. Custom Authorizers, own request templates, etc.).

[2016-07-04 06:23] pmuens commented on #1475
Hey @tobyhede
Could you check the name of your service? Our naming pattern for the core bucket includes the service name, the stage and the region. Some other guy might already used the same service, region and stage name.

We're about to change that in an upcoming version.

Thanks for reporting and sorry for the inconveniences.

[2016-07-04 06:24] tobyhede commented on #1475
Ah ... good catch.

[2016-07-04 07:39] codepreneur commented on #1475
Bucket names have to be globally unique. I was getting this error constantly until I made sure that my bucket name is unique. Then the error disappeared

[2016-07-04 08:00] Depado commented on #1439
Thanks for the great work, I'll look into that, I also need to narrow down the IAM policy.

[2016-07-04 08:07] codepreneur commented on #1456
does that mean `serverless-optimizer-plugin` wont be needed anymore?

[2016-07-04 09:22] #1475 closed

[2016-07-04 09:24] #1429 closed

[2016-07-04 10:31] pmuens opened #1476 "Add support for SNS events"
SNS event support makes it possible to chain lambda functions easily.

**Status:**
Done (see #1499)

[2016-07-04 10:46] WooDzu commented on #1062
Hi @flomotlik

I'm new to serverless and I noticed that:

which as far as I understand would create a single CF template for all resources with Gateway API endpoints and inlined Lambdas. Is that correct?

If so, are there any tickets related to this one so that I can watch it or test it. If no work has started yet I would be interested in collaborating to add whatever is missing to have it.

[2016-07-04 11:00] WooDzu commented on #1439
Thanks for sharing. I'm going to give it a go a provide a feedback.
My first impressions it that the policy could be narrowed further by including the ${region} in appropriate Resource sections. What do you think?

[2016-07-04 13:02] #1403 closed

[2016-07-04 13:02] #1406 closed

[2016-07-04 13:39] pmuens commented on #1456
Will be resolved with #1477

[2016-07-04 13:41] pmuens commented on #1456
@codepreneur In case of bucket cleanup yes. But we'll just remove old functions upon deployment. Using Babel / exclude logic etc. won't be supported. At the end of v1 we'll look at all the plugins and rewrite the so that they work with the new v1 plugin system.

[2016-07-04 13:53] pmuens commented on #1458
Turns out that a timestamp is a bad solution for this one as it's not predictable.

We need to use the `bucketName` in different plugins (e.g. in the `deploy` but also in the `remove` plugin). A timestamp makes it impossible to recreate the correct bucket name.

@eahefnawy Any ideas on this one? Should we add some AWS account information here which is ensured that we can access it?

[2016-07-04 14:11] codepreneur commented on #1456
@pmuens do you have an estimate on when Babel / exclude logic will be supported (either natively or via a plugin)?

[2016-07-04 16:28] ac360 opened #1479 ""serverless" should trigger help"
When I run plain `serverless` with no command, nothing happens.  In V.0, this showed the help screen.  I grew used to this behavior and liked it.  Could we bring this back?

[2016-07-04 16:37] ac360 opened #1480 "List plugins in help screen in alphabetical order"
Listing the plugins in the help screen is great.  Could we sort them by alphabetical order so we can read them more easily?

[2016-07-04 17:16] ac360 opened #1481 "Detail Credential Handling"
The docs are completely missing how credential handling works.

[2016-07-05 05:41] bart-blommaerts commented on #1460
Also, when creating a new service, using the default AWS region from ~/.aws/config. Similar to ~/.aws/credentials.

[2016-07-05 06:38] tobyhede commented on #1439
This is really good, thanks

[2016-07-05 06:55] #1456 closed

[2016-07-05 06:57] pmuens commented on #1456
@codepreneur unfortunately not now. We'll revisit our plugins soon after the initial implementation of v1 is finished. We'll post updates as issues.

[2016-07-05 06:59] pmuens commented on #1479
Thanks for reporting.
Sure! Just pushed it in our TODO list.

[2016-07-05 07:01] pmuens commented on #1480
Good idea. Yes that shouldn't be too hard. Should we keep it the way it is (flat list) or should we display them in another way? I'm not sure how this might look like if you have services with many plugins.

[2016-07-05 09:00] nilskassube opened #1485 "error message "undefined" when using sls deploy"
##### Serverless Framework Version:

1.0 alpha 1

##### Operating System:

Mac OS X 10.11.5

##### Expected Behavior:

Getting an error message about what is wrong.

##### Actual Behavior:

sls deploy
Serverless: Zipping functions...
Serverless: Uploading zip files to S3...
Serverless: Adding function resources to CF...
Serverless: Updating Stack...
Serverless: Checking stack update progress...
Se

[2016-07-05 09:51] danhumphrey commented on #1485
I get the same error, but only after I remove, then re-deploy a service.

Steps to reproduce:

1. sls deploy

[code]
2. sls remove
[code]
3. sls deploy

[code]

[2016-07-05 09:52] pmuens commented on #1485
Thanks for reporting 👍

[2016-07-05 09:57] pmuens opened #1486 "Move packaging process into own plugin"
The packaging process should be moved into an own plugin.

**Status:**
Done --> See https://github.com/serverless/serverless/pull/1494

**This includes:**
- [x] Zipping up a whole service
- [x] One service equals one zip file which includes all the necessary code (all functions)
  - [x] Magic handler support will be dropped (as it's not necessary anymore)
- [x] There will be no checksum to check i

[2016-07-05 10:41] flomotlik commented on #1062
@WooDzu We've actually released a first Alpha with full Cloudformation Support last week: http://blog.serverless.com/serverless-v1-0-alpha1-announcement/

We're now organising our tasks in milestones here: https://github.com/serverless/serverless/milestones

The V1 Milestone is more a general catch-all for tasks, we're currently working on alpha-2. Please chime in to any tasks you would like to he

[2016-07-05 10:47] WooDzu commented on #1062
Thanks @flomotlik much appreciated. I'll definitely give it a spin in the next few days once I have my serverless POC project approved

[2016-07-05 10:54] danhumphrey commented on #1485
Not sure if this should be a seperate issue, but my steps above aren't quite accurate and I want to be exact...

I have reproduced the issues and these are the exact steps based upon your v1 tutorial:

[code]
[code]

[code]

[code]

[code]
[code]

[code]

[code]

I then added an events section to serverless.yaml...:

[code]
.. and deployed

[code]
[code]

[code]
[code]

[code]

[code]

As you can

[2016-07-05 11:01] pmuens commented on #1485
Thank you for the detailed steps to reproduce! This helps a log.

We'll look into it ASAP!

[2016-07-05 11:04] flomotlik commented on #1486
@pmuens imho we should have a package step. This makes sure other plugins can hook in there as well.

And the way to let following plugins know which artefact path they should use could simply be a configuration value in the serverless.yml, e.g.

[code]

By default people don't set it, the packaging plugin zips and puts this somewhere to be picked up, but if users want to build their own artefact

[2016-07-05 11:12] pmuens commented on #1486
@flomotlik Sound reasonable.

Should the `package` lifecycle be included in the `deploy` plugin (`deploy:package`) and an own `package` plugin which hooks into this lifecycle and implements the packaging process?

Or should we define a `package` plugin which has a `package:package` lifecycle and the packaging implementation?

[2016-07-05 11:12] danhumphrey opened #1487 "Feature Request: Defaults in serverless.yaml"
When creating a new service, I would like to see the defaults in the `serverless.yaml` file. I think this avoids ambiguity. The defaults can be edited or removed, but I think the visibility helps with understanding.

If I'm not following protocol in raising this, please correct me..

[code]

[2016-07-05 11:13] flomotlik commented on #1486
Imho has to be in deploy, otherwise it won't run as people would have to run package:package directly. but we can implement a separate package command in the future imho.

[2016-07-05 11:16] pmuens commented on #1486
Yep. Missed that `package:package` yields to the fact that we need an own command.

Here's how this might look like:

[code]

Not sure if we should name it `createDeploymentPackage` or just `package` (I like names that speak for themselves 😆 )

[2016-07-05 11:19] pmuens commented on #1487
Good point.
We're planning to add commented out versions of this in the generated `serverless.yaml` file (see https://github.com/serverless/serverless/issues/1374).

/cc @eahefnawy

[2016-07-05 11:19] flomotlik commented on #1486
`createDeploymentPackage` sounds good to me

[2016-07-05 11:26] flomotlik commented on #187
@danielesegato yup agreed, just reopened. I'm not sure if we're going to release it with our old 0.x releases, but it would be great for our new V1 of the service. The commands changed a bit, but it should be easy to change once all of the commands we're implementing for V1 are in place. Thanks for the contribution

[2016-07-05 12:44] danielesegato commented on #187
@flomotlik great to hear that.

Since my last message I've added support to all the current command in my fork but I think it still have room for improvements, for instance:

- does not autocomplete options (like --help)
- if you start writing - and then tab it gives an error
- miss autocompletion for third parameters in most commands (the only one supported is `function`)
- surely many other thin

[2016-07-05 15:17] nikgraf opened #1488 "We changed the VPC config online & on a redeploy it's not reset"
This is v1 alpha. I believe we should overwrite all settings to make sure the serverless.yaml can be seen as a single source of truth.

What do you think?

[2016-07-05 15:26] WooDzu commented on #1439
Here is one change that I did to make it work for me:

[code]
[code]
2nd-level POST /api/v1/resource didn't work with your IAM but the above would handle it.
It also enables pushing missing Head, Patch and Options methods.

Going further with the restrictions, adding ${region} to all Resources with the exception of '*' and 'arn:aws:iam*' seems to work fine eg:
[code]

This one is particularly nast

[2016-07-05 16:02] nikgraf opened #1489 "V1: VPC configuration"
I couldn't find any VPC configuration in v1 (neither docs nor code)

[2016-07-05 17:20] license2e commented on #1486
@pmuens @flomotlik the only downside I see to this is the size of zip file... For example, one of the current functions we have written in Java with all the jars is 38MB, and the limit is 50MB...

Would we have to separate out into different services and then keep track which lambda function has which handler?

There doesn't seem a logical way to separate out the functions and services...
We have

[2016-07-05 17:37] gtennis opened #1490 "Deploy, keep and use several versions of the same lambda"
##### Feature Request: Allow to deploy, keep and use several versions of the same lambda

##### Benefits:

* As mobile developer, I always need my backend guys to maintain two versions at a time. Because deployment of ios mobile app takes from 2 - 7 work days, and you don't want to block website frontend team's work, therefore they usually proceed and use the most latest APIs. However, for mobile

[2016-07-05 18:27] nelsonic commented on #647
Hi we wrote a Demo of using IoT (mqtt) to build **Chat**: https://github.com/dwyl/chat
***try it***: https://dwyl.s3.amazonaws.com/index.html

IoT _works_.
But there's an ***Elephant in the Room***: ***Cost***. see: https://github.com/dwyl/chat/issues/26
If your app has a network effect e.g. chat or a multi-player online game where you have to distribute messages across many connected users it wil

[2016-07-05 19:29] flomotlik commented on #1486
@license2e Is that only one function or are those 38MB combining code for multiple functions? We do want to provide a way in the future for you to build function specific packages, would be great to understand a little more how you're reusing code in services.

[2016-07-05 20:41] license2e commented on #1486
Unfortunately one function, although, its currently pulling in ALL AWS SDK jars, so I will have to tweak the gradle zip settings to only pull in the ones that are actually used...

[2016-07-05 20:50] license2e commented on #1246
@flomotlik
re: "Add a way to create template for different languages and tools through serverless create"

Were you envisioning:
`sls create function --name ... --provider aws --type java8`
or
`sls create --function ... --provider aws --type java8`
?

I currently have two new plugins created called Function and AwsFunction...

`sls function --name ... --provider aws --type java8` but I can switch

[2016-07-05 22:01] mikelax commented on #1474
How did you create the project? did you initialize it such that you have an _meta folder? If so, there should be a file created in an _meta/variables folder called s-variables-common.json.

It should have a single attribute defined called project with a value of the project name. Once that file/attribute is present things should work for you.

[2016-07-06 01:15] tobyhede commented on #550
I am happy to investigate if no-one else has picked this up yet

[2016-07-06 01:39] isp0000 commented on #1387
Is there any workaround available before this is released? Like deploy to supported region and then migrate the CloudFormation to the ap-southeast-2?

[2016-07-06 02:05] c-knowles commented on #1439
You may be able to change PassRole to just `role/${project}*` to restrict that part further? I found it would also be helpful if serverless populated a variable with the ID of the Gateway to use to restrict the apigateway permissions. Some duplicate effort in https://github.com/serverless/serverless/issues/588.

[2016-07-06 02:17] vanerleo commented on #1387
i've applied the change : https://github.com/serverless/serverless/pull/1423/files#r68693900
to my local box

[2016-07-06 02:40] olzaragoza commented on #1105
I can help with this issue.  I scaled the dimensions of the main image to 888px wide to match the max width of the GitHub README.md preview so the overall look wouldn't change.  Is this good for a pull request?

| branch | original size | reduced size | preview |
|---|:---:|:---:|:---:
| master | 2919 kB | 536 kB | [resize-gif-master](/olzaragoza/serverless/tree/resize-gif-master) |
| v1.0 | 4156

[2016-07-06 04:10] simoami commented on #1346
Any other hints?

[2016-07-06 04:21] tobyhede commented on #550
I can confirm that this does not happen in the current 1.0 Alpha.

I have created a Lambda function with the name `test12345678901234561234567890123456-dev-hello`.

[2016-07-06 04:53] flashsnake-so commented on #1346
why don't do this in request template mapping?

[code]

[2016-07-06 05:09] license2e commented on #1246
Nevermind, I saw issue number #1470 and created a PR for it #1491...  I will proceed with java8 template and template variants (eg. java8-gradle, etc).

[2016-07-06 05:59] gtennis commented on #1490
Also, even Amazon forces us to use their API versions:

  var s3 = new AWS.S3({apiVersion: '2006-03-01'});

http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html

[2016-07-06 06:02] silver2k commented on #1387
Me too... works fine.
On 6/07/2016 14:17, "vanerleo" <notifications@github.com> wrote:

[2016-07-06 09:31] eahefnawy commented on #1486
While I like the simplicity this introduces (for us and for our users), this will make deployment exponentially slow, and will eat up lots of space both on S3 and Lambda, which is the main reason why we went with magic handlers in the first place.

If a service has 10 functions, we'll end up deploying the entire service 10 times. Magic handlers allows users to organize their functions and their de

[2016-07-06 09:41] eahefnawy commented on #1459
Is there a usecase for this? when did you face this issue? Imo I think we should strive on making our resource names just unique. Keeping track of **all** the resources logical keys that we add will be challenging, specially that most of them are influenced by how users name their functions/APIG paths & methods...etc

[2016-07-06 11:54] nikgraf opened #1492 "Should we add simple default package.json when creating a project?"
I installed a couple of dependencies and only afterwards noticed I actually didn't have a `package.json` file. I'm using v1 alpha

[2016-07-06 12:43] cscetbon commented on #550
So I guess it has been fixed by the new code.

[2016-07-06 12:43] #550 closed

[2016-07-06 13:40] eahefnawy opened #1493 "Updates to the Azure Support PR"
Corresponding PR with the WIP: https://github.com/serverless/serverless/pull/1547

The Azure support PR (https://github.com/serverless/serverless/pull/1426) gave us a good push forward for getting Azure in. However it's a bit outdated. I took a deep dive today and here's what I think we should change:
---

**How it works:**

Click [here](https://github.com/serverless/serverless/issues/1493#issueco

[2016-07-06 13:58] license2e commented on #1486
@eahefnawy I agree, with the setup we have and the number of functions we are writing ~1000, we will need those magic handlers. Otherwise, we will have to arbitrarily group certain functions together into a service, and manually keep track of which service has which function.

[2016-07-06 14:36] pmuens opened #1495 "Add automatic excludes / presets for different programming languages when packaging"
We should provide automatic excludes for common, not necessary files.

We can create own plugins which will hook into the `before:deploy:createDeploymentPackage` to set the `service.package.exclude` values.

Is also discussed in https://github.com/serverless/serverless/issues/1486

[2016-07-06 14:40] pmuens opened #1496 "Add DRYrun support"
The deploy plugin should take the option `--dryRun`.

This option will stop the removal of the `.serverless` directory in the `package` plugin and will e.g. save the CloudFormation file in the `.serverless` directory (in the `awsDeploy` plugin).

This way the user gets all the resources but won't have to deploy them to his provider.

Is also discussed in https://github.com/serverless/serverless/is

[2016-07-06 14:50] pmuens commented on #1458
We could use the CloudFormation "Output" property to get the bucket name. This way we can use a timestamp in the name which might be unpredictable but unique.

[2016-07-06 14:59] pmuens commented on #1492
Good idea. We need to add it to the exclude array if we implement it (see https://github.com/serverless/serverless/issues/1495).

Here's a PR which implements this: https://github.com/serverless/serverless/pull/1491

[2016-07-06 15:05] pmuens commented on #1459
Yes. This might be just a minor tweak but could be helpful if we throw a corresponding error.

I faced the issue when I reused a resource name from the CloudFormation template while adding custom provider resources through the services resource section.

[2016-07-06 17:08] pmuens commented on #1493
Good idea to keep track of all the steps which should be done 👍 .

I've added the "Use new `package` plugin" step and updated it so that those bullet points are all checklist items.

[2016-07-06 23:12] krol3 opened #1498 "first-service documentation - bucket name in AWS"
* Check if an Issue already exists for this
* Add the relevant label(s)
* Be kind :)
If you try to create in the AWS console, S3 service with the name generated "first-service-dev-us-east-1", to the first service documentation. It will generate the error

I attach the image, with a simple word like "service: service1", It will generate a {"BucketName":"service1-dev-us-east-1", and it's working wit

[2016-07-07 03:54] ac360 commented on #1486
At first, I was nervous about this.  This potentially introduces problems which a lot of people complained about in V.0.  However, I think they can be resolved, and this could ultimately be a step in a better direction.

##### Concerns:
* Slow deployments due to large zip sizes (add in the already slower CF deployments)
* Slower cold-starts due to large zip sizes.
* Users hitting their Lambda size

[2016-07-07 04:11] license2e commented on #1486
@ac360 I am still nervous about this, for exact concerns you listed above, and for the folder structure that we will have to do.

[2016-07-07 04:27] pmuens commented on #1486
Hey guys,
thanks for jumping in on this discussion and thank you for the great feedback so far.

The main reason we're doing this is to provide a more general way of packaging which can be used for every provider and every language.
Our current implementation (in v1) will loop through all the functions, zip up each function and uploads it to S3. After that the `CloudFormation` resource for the lam

[2016-07-07 05:44] ac360 commented on #1486
Thanks for the clarity @pmuens....

Now that I understand this better, this change results in a massive problem.  It removes the ability of a function to be the unit of deployment.

By having multiple functions point to the same zip file, you can only deploy functions in bulk, and not deploy/update them individually.

**The function as the unit of deployment is one of the much touted benefits of t

[2016-07-07 07:46] pmuens commented on #1490
Thanks for reporting this. We're about to add lambda versioning and will consider this when developing versioning.

[2016-07-07 08:00] gtennis commented on #1490
Thanks, awesome!

[2016-07-07 08:58] pmuens commented on #1486
@ac360 thanks for the detailed explanation / the upsides and downsides of this approach.

I understand the upsides and downsides of this approach.

Could @flomotlik and @eahefnawy chime in on this?

[2016-07-07 09:07] eahefnawy commented on #1489
yeah it's currently not supported. I think you can do it by via CF though by adding resources to serverless.yaml

[2016-07-07 09:07] eahefnawy commented on #1488
👍

[2016-07-07 09:09] eahefnawy commented on #1487
@danhumphrey hmmm we used to do that, but we thought it's best if we follow "convention over configuration". Just keeping the config file as minimal as possible and include only essential data and keep the rest as overwrite-able defaults. but just like @pmuens mentioned, we may put in commented config just for the sake of demonstration.

[2016-07-07 09:17] eahefnawy commented on #1486
@ac360 adds good points here. It seems that we're returning to the traditional monolithic servers approaches. For example, a bug in function A would cause function B to break since they all share the same buggy code/zip file. That's not what lambda/serverless was made for imo. Magic handlers and dependency management gives users the choice however they want to architect their apps. Maybe they coul

[2016-07-07 10:02] danhumphrey commented on #1487
@eahefnawy @pmuens convention over configuration is good assuming that the default config works for the majority of users. Is it an accurate assumption that the majority of users will want to use the same region? or am I misunderstanding this?

Commented config sounds good, but #1374 is closed. Is this still under consideration.

[2016-07-07 12:13] pmuens commented on #1487
@danhumphrey It's closed but we're about to implement this in v1 (in a future release).

[2016-07-07 12:14] pmuens commented on #1498
Thanks for reporting!

Related to https://github.com/serverless/serverless/issues/1458

[2016-07-07 12:15] pmuens commented on #1476
Closed with #1499

[2016-07-07 12:15] #1476 closed

[2016-07-07 12:22] pmuens commented on #1099
Not necessary anymore as out test suite does most of it's job in memory.

[2016-07-07 12:22] #1099 closed

[2016-07-07 12:23] pmuens commented on #1087
Not necessary anymore as our test suite works most of the time "in memory".

[2016-07-07 12:23] #1087 closed

[2016-07-07 12:36] bennybauer commented on #1006
Looks like this one is already solved in `1.0.0-alpha.1`

[2016-07-07 12:43] pmuens opened #1502 "Update awsDeploy plugin to use new package plugin"
Update the `awsDeploy` plugin so that the new `package`-Plugin (#1494 / #1486) can be used.

[2016-07-07 12:47] bennybauer commented on #1479
Seems like it's already solved in v1 branch

[2016-07-07 14:17] pmuens commented on #1502
Will be done in #1494

[2016-07-07 14:17] #1502 closed

[2016-07-07 14:20] pmuens commented on #1479
@bennybauer We close them once they are finished. What @ac360 meant is that the help should pop up when you simply enter `serverless` (without the `--help` or `-help` option).

Is this working for you?

[2016-07-07 14:33] pmuens opened #1504 "Keep last X service .zip files in S3 bucket"
Right now all the service files are removed from the S3 bucket when the deploy is triggered (in the `cleanup` method in `awsDeploy`). We should keep a fixed amount of .zip files so that a user has a backups of old deploys and can still access them.

How many should we keep? I would vote for 5.

Any thoughts @eahefnawy @flomotlik ?

[2016-07-07 14:35] bennybauer commented on #1479
@pmuens sorry, it doesn't work. I can take it if you're not on it yet (I'm looking for some simple stuff to get involved in the code).

[2016-07-07 15:17] pmuens commented on #1479
@bennybauer That would be great! Here's the CLI code https://github.com/serverless/serverless/blob/v1.0/lib/classes/CLI.js#L59-L84 (which is used here https://github.com/serverless/serverless/blob/v1.0/lib/Serverless.js#L68) will check if the help should be displayed. I think a simple if statement should be sufficient.

Let me know if you have any further questions. And thanks for jumping in on th

[2016-07-07 15:49] bennybauer commented on #1479
@pmuens whoops, committed the fix to the same PR. Do you want me to revert and create another  branch in my repo and new PR?

[2016-07-07 17:28] RudolfVonKrugstein commented on #1474
Mmmh, I have this in ```_meta/variables/s-variables-common.json```

[code]

So this is already there, or? And I get the warning ...

[2016-07-07 17:37] godd9170 commented on #1137
+1

[2016-07-07 17:40] RudolfVonKrugstein opened #1507 "functionObj.events.forEach is not a function after adding events"
I am trying to deploy the project with this config:

[code]

I just added  the events part, the rest is already deployed. I get this error:

[code]

[2016-07-07 17:43] RudolfVonKrugstein commented on #1507
The events must be a list, like this:

[code]

This is different in the documentation: https://github.com/serverless/serverless/blob/v1.0/docs/understanding-serverless/serverless-yaml.md

[2016-07-07 17:43] #1507 closed

[2016-07-07 17:55] pmuens commented on #1507
Good catch! Thanks for pointing that out! We'll update the docs ASAP.

[2016-07-07 17:59] RudolfVonKrugstein opened #1509 "Any way to set "Authorization" in AWS Gateway with V1.0alpha"
Is there a way I can enable Authorization in AWS Gateway with v1.0alpha, or do I have  to use v0.5.6 if I need this?

[2016-07-07 18:09] pmuens commented on #1509
Hey @RudolfVonKrugstein we've started with an implementatton of the basic features for API Gateway. Stuff such as VPC and Custom authorizers will be added soon: https://github.com/serverless/serverless/issues/1408

[2016-07-07 18:26] RudolfVonKrugstein commented on #1509
@pmuens Cool! Thanks for the Reply. While I am in the process of asking, will API Gateway Mapping templates also be added soon?

[2016-07-07 19:12] pmuens commented on #1509
@RudolfVonKrugstein Yes sure. We'll add that as well!

[2016-07-07 19:12] ac360 commented on #1486
Further drawbacks of the new approach:

* To update the version of one function in a service, all of function versions would also have to be updated.  This complicates/confuses versioning by creating lots of versions where the function hasn't actually changed.
* How would function rollback work?  Would that be impossible now?  Wouldn't it also be more complicated given that many versions would con

[2016-07-07 20:46] mikelax commented on #1474
@RudolfVonKrugstein that looks like the correct value for the common variables file.
Do you want to paste a snippet of where you are using the `${project}` variable?

You can not use it directly in your actual lambda / js code. In order to do that you must an environment variable. You should be able to reference it as:  `process.env.SERVERLESS_PROJECT`

[2016-07-07 20:55] flomotlik commented on #1486
Imo functions are not the unit of deployment. We're helping teams build services. Those services are the main entity we're deploying for users. When functions get deployed to production from a CI/CD environment deploying functions independently (and even not deploying functions sometimes) can be very dangerous:

* Shared Code might not get updated
* New dependency versions might be installed that

[2016-07-07 23:59] license2e commented on #1486
@flomotlik can you elaborate on this:

Are you saying that it can still live within the service, but would have a different deploy command or setting (eg. in the functions:function5:standalone = true)? Or are you saying that it would just have to be a separate service altogether?

[2016-07-08 02:13] eahefnawy opened #1510 "Add support for Google Cloud Functions"
Google Cloud Functions work a little differently from AWS. However we'll try to have a common interface across provider whenever we can, which should be easier with the provider-per-service approach. Here's a basic outline of their offering and how we can support it:

**Research:**
- [ ] Google Functions use `triggers` to trigger functions. It's just like our events concept, so we'll call it `even

[2016-07-08 05:39] pmuens commented on #1479
@bennybauer Thanks for the PR 🎉

No worries! We've got you covered!

[2016-07-08 05:43] pmuens opened #1511 "Better test coverage for AWS event plugins"
Right now we don't test if the variables the user sets (e.g. the `topic_name` in the `SNS` plugin) are present in the generated CloudFormation resource. We should aim for a better test coverage here.

- [ ] S3
- [ ] SNS
- [ ] API Gateway
- [ ] Schedule

[2016-07-08 05:48] ecoruh commented on #1439
This is great, thanks. I got it working except one bit. We are using `serverless-client-s3` plugin for deploying s3 buckets.

Anyone knows what the minimum set of permissions are for `sls client deploy` to work?. I tried this in my policy:
[code]
I scanned plugin to come up with the s3 function list and added them into the policy. But I received this error:
[code]
This line seems to yield Access D

[2016-07-08 05:48] pmuens opened #1512 "Include directories out of serverless service?"
Let's pretend we have the following directory structure:

[code]

Our current packaging approach (see #1494 and #1486) will only zip the whole service without external directories.

What if I want to re-use the authenticate feature which is available in `_shared`?

Only possible solution right now would be to deploy `_shared` as an own service with an APIG event and call this service from `service

[2016-07-08 05:54] pmuens opened #1513 "Allow users to set their own deployment bucket without creating one in the CF stack"
Users should be able to provider their own `coreBucket` rather than to use the `coreBucket` which is generated by Serverless on initial deployment.

[2016-07-08 05:58] pmuens opened #1514 "Bring back 2 level indentation for YAML"
Right now we indent everything with 4 spaces.

This is not necessary anymore (and not common in YAML). The only constraint is that list items need to be properly indentend (two spaces after the name of the event) --> see [here](https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#nested-dictionaries) for more information about this issue.

[code]

instead of

[code]

[2016-07-08 06:02] pmuens opened #1515 "Always include _ instead of separate functions when using lodash"
Right now we have a mixture of lodash usage.

Sometimes we include the necessary functions like this:

[code]

Sometimes we include everything like this:

[code]

We should always use the latter as it makes development easier (no need to manage / update different requires when switching used functionality). Furthermore it's directly visible that we use a FP library such as lodash when we use `_` a

[2016-07-08 06:29] ac360 commented on #1486
@flomotlik deploying functions as independent units is what happens every day with Lambda, in all of its supported languages, in development workflows and CI/CD systems.  Diverging from this is where the risk is.

But really, this huge divergence isn’t necessary.  Let’s just keep things the way they are and allow for functions to be deployed independently.  Single function Java deployments are cer

[2016-07-08 06:36] pmuens commented on #1510
@eahefnawy thanks for that! Awesome!

Added a few more notes to your already awesome description!

[2016-07-08 06:36] ac360 commented on #1513
Nice.  Also, btw the term `coreBucket` confused me at first.  `core` feels like a new concept being introduced.  `serviceBucket` doesn't diverge and helps us maintain conceptual consistency and simplicity.

[2016-07-08 06:49] pmuens opened #1516 "Rename coreBucket to something more expressive"
The naming `coreBucket` should be renamed to `serviceBucket` as state here: https://github.com/serverless/serverless/issues/1513#issuecomment-231286368

[2016-07-08 07:57] flomotlik commented on #1512
Imho this should be handled by the dependency management system of the user. If they want to share code between services they need to install it through the package management and pull it in here.

A service should only take whatever is in the current directory into account imho.

For something like you mentioned they could npm install <Folder> to get it into the service. https://docs.npmjs.com/cl

[2016-07-08 08:00] flomotlik commented on #1504
5 sounds good to me. Are they (or we in the tooling) able to roll back a Version without the file being in S3? That would be interesting for our Rollback strategy.

[2016-07-08 08:00] flomotlik commented on #1006
As this is fixed I'm going to close this issue.

[2016-07-08 08:00] #1006 closed

[2016-07-08 09:29] pmuens commented on #1470
I think that this issue needs to be resolved until we can jump in the implementation of different programming languages / providers.

/cc @eahefnawy @flomotlik

[2016-07-08 09:32] flomotlik commented on #1470
Agreed, Imho goal for next week.

[2016-07-08 09:57] pmuens commented on #1470
Sounds good. Added it to the weekly goals.

@eahefnawy would you jump on this (as you already had an implementation in mind the other day) or should I take it?

[2016-07-08 10:03] pmuens opened #1517 "Add runtime property to Service / Function in service?"
We need a way to specify a runtime (As stated in https://github.com/serverless/serverless/issues/1470) so that we can compile the correct resources.

The question is if one service should be bound to a runtime (Add a `runtime` property in the `Service.js` class) or if one function should have a runtime property?

How should we implement this? Should this be a necessary property the user has to def

[2016-07-08 11:00] RudolfVonKrugstein commented on #1474
I use it in the root ```s-templates.json```:

[code]

And then in the ```s-function.json```:

[code]

[2016-07-08 11:45] pmuens commented on #1504
I'll jump on this one since it's just a few lines of code. Should be PRable once https://github.com/serverless/serverless/pull/1494 is merged.

[2016-07-08 13:10] eahefnawy commented on #1510
##### Available Regions:
- europe-west1
- us-central1
- us-east1

##### Default timeout:
60 seconds

#### Triggers:
- Pub/Sub topic
- Storage Bucket
- HTTP: endpoint is autogenrated based on this format:
<project-name>.cloudfunctions.net/<function-name>

#### Package Deployment:
- Zip upload
- Zip download from storage bucket
- Source control repo

#### Notes
- It seems that you have to choose an

[2016-07-08 13:24] pmuens commented on #1493
**Available regions:**

- Southeast Asis
- West Europe
- West US

[2016-07-08 14:23] flomotlik commented on #1486
Just to clear up misunderstandings, deploying all functions within a service as one entity is already happening through CloudFormation. The only difference now is that instead of building separate zip files (as we do currently with Magic Handlers in Node) we're building one zip file for the whole service and deploy it at once.

So this is no change to our functionality, this is simply a preparatio

[2016-07-08 14:30] araines opened #1518 "Security Token Included In the Request is Invalid"
##### Serverless Framework Version: 0.5.6

##### Operating System: Mac OS X 10.11.5

##### Expected Behavior:

Serverless to create resources for me at the start of a project

##### Actual Behavior:

[code]

I'm using MFA with the following environment variables already available within the session:

[code]

So I understood that Serverless would pick those up?

I know the environment is working fi

[2016-07-08 14:50] flomotlik commented on #1517
Do you mean automatically creating include/exclude rules? Imho that should be something we can solve through the tempting. E.g. if you have a Java project we add the src folder automatically to your excludes. I don't think the packaging mechanism should have built-in exclusions depending on the language is this is more surprising than simply adding include/excludes through the tempting. Then they

[2016-07-08 15:29] araines commented on #1518
Ignore me - I haven't got the permissions set up correctly on the AWS end - many apologies I'll get a coffee before reporting bugs in future!

[2016-07-08 15:40] ac360 commented on #1512
Just some context:  The npm local workflow in a microservice architecture can be painful.  It caused a lot of people to turn away from the Framework initially because it's tedious and slow to keep updating your core npm packages across a bunch of functions.  So, we created in `includes` option because it simply lets people get started more quickly by making a `lib` folder and an easy way to includ

[2016-07-08 16:09] flomotlik commented on #1470
@pmuens Sorry I might have been unclear, imho we should implement this in the next sprint, so starting on Tuesday

[2016-07-08 16:18] c-knowles commented on #1439
I think try `s3:ListAllMyBuckets`. Some of the others don't exist, it's confusing as the AWS CLI/SDK does not use the same names as the IAM actions - see [these docs](http://docs.aws.amazon.com/IAM/latest/UserGuide/list_s3.html). `s3:ListBucket` with no `s` is the action to list the content of a bucket.

[2016-07-08 16:42] license2e commented on #1486
@flomotlik thank you for the explanation, that clarifies it significantly.

[2016-07-08 17:58] xtenix commented on #1439
I think I have the serverless deployment policy nailed at this point. A bit more testing is in order, but mostly there now. In this second iteration, I've taken a slightly different approach. Instead of putting everything into 1 giant policy, I've broken it down into 5 separate put related policies:

* s-policy-base.json - Read-only permissions generally required by serverless deployments and rela

[2016-07-08 19:14] pmuens commented on #1504
Resolved with #1519

[2016-07-08 19:14] #1504 closed

[2016-07-08 19:24] araines commented on #1518
Reopening this  - I've added full access to the user token and I'm still having the same problem.  I suspect this is actually down to something I'm doing (or not doing), but I'd like to better understand how the security model works.  Based on the documentation I've read I believe it should work.

[2016-07-09 00:06] stevecrozz commented on #1455
I'm surprised that there's been even an alpha release without this feature. This is critical functionality.

[2016-07-09 02:38] ac360 commented on #1479
You rock, @bennybauer.  Thx :)

[2016-07-09 02:57] ac360 opened #1520 "Missing AWS Credentials Error Is Vague and Mislabeled"
##### Serverless Framework Version:  V.1 alpha 1

##### Operating System: OSX 10.11.12

##### Expected Behavior:
* Didn't have a `default` AWS profile set locally.  Expected an error message to tell me that I needed a `default` AWS Profile locally, or more helpful language specifying that credentials must be in a `serverless.env.yml` file.

##### Actual Behavior:

`TimeoutError: Missing credential

[2016-07-09 03:15] ac360 commented on #1468
Huge +1 on this.  Deploying is very underwhelming right now.  Would love to see something like this:

[code]

[2016-07-09 04:30] ac360 commented on #1442
@pmuens @eahefnawy @flomotlik  I would make this a priority.  This is fundamental because it's going to inform how all plugins should be written.  I see a few things in the core plugins which will not work in external plugins, like how dependencies are loaded.  Easy to implement, and there learnings will be important to know early on.

[2016-07-09 05:01] ac360 opened #1521 "Plugins Are Being Loaded Twice"
##### Serverless Framework Version: V.1 Alpha 1

##### Operating System:  OSX 10.11.2

##### Expected Behavior:
* Plugins should be loaded once, causing hooks and all else to be set only once.

##### Actual Behavior:
* Plugins are loaded twice
* This is because they are each instantiated twice in the PluginManager, due to the way the Plugin commands and shortcuts code is written.  That code needs

[2016-07-09 05:03] eahefnawy commented on #1513
@ac360 agreed. We probably should also include the service name in the bucket name, at least to make it unique.

[2016-07-09 05:32] ac360 commented on #1513
@eahefnawy I'm not sure what the buckets are called (haven't seen the source).  But I was just referring to the property name in the `serverless.yml`.  Actually, this should probably go in `serverless.env.yml`.

[2016-07-09 06:41] eahefnawy commented on #1468
That's beautiful @ac360 ! of course this list will just reflect `serverless.yaml` and `serverless.env.yaml` since we don't have a way to "partially" deploy something. But it's a nice summary.

[2016-07-09 10:02] pmuens opened #1522 "New, provider specific documentation structure"
We need a better documentation structure as we support more and more providers with provier specific functionality.

The documentation should be concise, short and independent. Furthermore it should feel like a guide when one reads through it form start to finish.

Here's something @ac360 and @eahefnawy came up with:

[code]

[2016-07-09 12:42] ryansb commented on #1486
I'm fine with the shared zip, but I do have a client that is *near* but not at the size limit for dependencies of a service (specifically they're using Python's scipy/numpy stack among other things) so they use the `excludePattern` option to exclude pieces of the library for different functions so they start faster.

For them, is there a way to do something similar in v1, or would they need to hav

[2016-07-09 18:23] WooDzu commented on #1439
This is absolutely outstanding research and I think it makes a lot of sense to split into multiple policies for multi-user deployments. I yet need to try 1.0-alpha but do you think these policies would also be appropriate for CloudFormation-based deployments?

[2016-07-09 20:31] xtenix commented on #1439
Thanks @WooDzu! I haven't tried 1.0-alpha yet either. Been too heads down on this thing. I hope to get the chance in the next couple weeks to give 1.0-alpha a good tire kicking. Meanwhile, I don't really know how well these policies will translate.

[2016-07-10 01:54] davidjnelson commented on #1520
Hey Austen,

I'm hitting this too.

Serverless Framework Version: V.1 alpha 1

Operating System: OSX 10.11.5

Expected Behavior:

Setting an environment variable in ~/.bash_profile will load the aws credentials and allow serverless deploy to function.

I am using en encrypted volume to store my credentials file.

serverless.env.yaml:

[code]

Environment variables tried:

[code]

Format of the con

[2016-07-10 02:44] rajington commented on #1409
"Echo" is actually "Alexa Skills Kit" (simple policy) and "Alexa Smart Home" (more complicated/hidden). I need the former right now so I can submit a PR (against 1.0) unless someone else is working on it.

[2016-07-10 02:59] davidjnelson commented on #1520
I cloned 1.0 alpha and am debugging it, but for some reason serverless is not loading my project.

I think I've set it up right in intellij/webstorm:

![screen shot 2016-07-09 at 7 40 23 pm](https://cloud.githubusercontent.com/assets/381633/16711389/4dcb2e28-460d-11e6-8b6c-4d4ff443892c.png)

However, when I'm in lib/Serverless.js in the command method, I'm hitting this code path on line 360:

retu

[2016-07-10 04:52] erikerikson commented on #1486
I'm not sure I've fully grokked this change and particularly the relationship between functions and services.  That said, based on my at least partially ignorant understanding... an opinion.

I have some functions that are part of my service grouping that has a +25MB weight over peer endpoints because the writer of a legacy function was...  Um, yeah.  Requiring the others functions to carry that w

[2016-07-10 09:08] pmuens commented on #1409
@rajington We're currently not working on this. Thanks for jumping in on this and submitting a PR!

[2016-07-10 09:09] pmuens commented on #1468
Great! We could implement this with the help of CloudFormation "Outputs"

[2016-07-10 09:10] pmuens commented on #1521
Thanks for reporting! This is really not intended behavior. Will look into it ASAP.

[2016-07-10 14:17] gebrits opened #1526 "How to use SERVERLESS_ADMIN_AWS_PROFILE?"
##### TLDR:

How to use SERVERLESS_ADMIN_AWS_PROFILE?

When adding it manually to admin.env with the correct profile (i.e.: as it appears in square brackets in ~/.aws/credentials) I expect `process.env.AWS_ACCESS_KEY_ID` and `process.env.secretAccessKey` to be used in my app This is not the case. Serverless version 0.5.6.

[2016-07-10 16:34] ac360 commented on #1495
@pmuens When #1442 is implemented, plugins will be installed in the service directory, so they will be zipped with the entire service.  However, they are dev dependencies, so they don't need to be in the final zip.  How can plugins be automatically excluded from the packaging process?

Not sure if this is best, but perhaps plugins should always be installed as npm dev dependencies and we could rea

[2016-07-10 16:52] AndrewFarley commented on #1264
Uh +1 to this issue... how do you set this flag within serverless?  For now after I create a method I have to go manually set this in the AWS console.

[2016-07-10 17:09] gebrits commented on #1153
@kendaop: seeing this issue as well and think it's a bug, see below.

afaik the `iarnRoleArnLambda` attrib should be created by doing `sls resources deploy`

Having said that, the following flow doesn't:

After having done a `sls init` on a different dev pc, I did the above `sls resources deploy`. This gave me the message:

[code]

In other words, SLS determines that cloudformation config on the s

[2016-07-10 17:19] gebrits commented on #1153
Had a quick dig in sourcecode:

The fact that CloudFormation is up-to-date is regarded as an exception.

I.e.: "No resource updates are to be performed" is thrown here.
https://github.com/serverless/serverless/blob/078a0281183cf1c376b2e95994326d8ba1ce2b5c/lib/actions/ResourcesDeploy.js#L305

This results, in the `.then` of the promise not being executed. It is here that the `iarnRoleArnLambda` is

[2016-07-10 19:29] pmuens commented on #1470
Yep. Updated the weekly goals accordingly.

Notice that we should discuss https://github.com/serverless/serverless/issues/1517 before starting this one.

[2016-07-10 19:30] pmuens commented on #1517
Yep. Agree. We should do this in the templates (another plugin for this would be overkill).

[2016-07-10 20:38] davidjnelson opened #1527 "Are v.56 plugins supported in v1.0?"
##### TLDR:

Trying to decide to use v .56 vs v 1.0 alpha for a new project.  Lots of plugins I'd like to use are mentioned on the v .56 docs.  Do these work with v 1.0 alpha, or is it a better idea to stick with v .56 for now?  Thanks :-)

##### Discussion:

[2016-07-10 23:59] foobar8675 opened #1528 "npm package from private git repo"
I have a package.json that looks like

[code]
this npm package, starling-api-model uses bcrypt, which uses node-gyp, so i dont think just copying the files will work.

and in elastic bean stalk, in order to pull from the private repo, i have a couple scripts in my `.ebextensions` like the following

[code]

[code]

is there a way to accomplish this with serverless?

[2016-07-11 03:34] scotty-p commented on #1017
@HyperBrain was there any update/workaround/fix to this for v0.5.5?

[2016-07-11 05:26] ac360 opened #1529 "Improve Multi-Provider Implementation"
In V.1, the provider support is implemented in a way that causes a few problems and sets a bad example for how other providers should design their integration.  Great multi-provider support is our big goal of V.1, and we need to fix this to achieve that goal.
##### Problems:

The AWS SDK, and a utility class we've wrapped it in to make it more convenient to use within the Serverless Framework, is

[2016-07-11 05:44] pmuens commented on #1527
Hey @davidjnelson
The v1 plugin system was rewritten from the ground up and is different to the one in v0.5.

v1 is in alpha right now but will be ready early fall. Right now we recommend to use v0.5 for projects which should run in production. Otherwise it's a good idea to start a new project with v1.

[2016-07-11 05:58] pmuens commented on #1495
Hmm. That's a good point.

Maybe we can match the name in the services `plugins` definition with the names inside the `package.json` file to see which ones are plugins and which ones are normal dependencies.

Adding them as a `dev-dependency` would work as well but I assume that users will forget it / don't know it and therefore "litter" the deployment package.

[2016-07-11 07:44] nikgraf opened #1531 "Improve CLI hints"
[code]

This worked fine then, but a usage could be shown right away or at least be hinted …

[code]

[2016-07-11 07:50] flomotlik commented on #1529
I agree we need to make the AWS SDK Wrapper accessible to others, but I don't think we should move plugins out of the aws subfolder. This separation into different providers makes the plugin folder a lot more accessible and understandable imho and if we move it to separate folders inside the plugin folder we'll easily lose track of everything. We've already been there and thats why we decided to s

[2016-07-11 07:57] HyperBrain commented on #1017
@scotty-p I don't think so. Also I did not have time to investigate further into this as the time I was able to spent into contributions was quite little.

[2016-07-11 07:58] pmuens commented on #1531
Thanks for reporting!

[2016-07-11 08:51] eahefnawy commented on #1531
@nikgraf thanks for reporting! yeah we're trying to catch all those errors and add to that some more info oh how to solve it. So in your second example, because it's a Serverless Error, we're explicitly handling it.

It'd be super helpful if you could set the `SLS_DEBUG` env var so that we can see the stack track and know exactly what went wrong, and provide some hints based on that 😊

[2016-07-11 08:57] pmuens opened #1532 "Own package for integration tests"
We should create an own package dedicated to integration testing (like @flomotlik mentioned).

This way we can test all the different templates, create complex services etc.
Those test may be run every night.

[2016-07-11 09:04] pmuens commented on #1517
Ok. The proposal is that one runtimes should be used throughout the whole service (they are service bound). We can add function bound runtimes later on.

[2016-07-11 09:37] pmuens opened #1533 "Change memory to memorySize in awsCompileFunctions plugin"
The user has to specify the `memory` property inside the function section of the `serverless.yaml` file. However AWS calls it `MemorySize` so it would be more convenient to call this `memorySize` as well.

[2016-07-11 09:39] pmuens opened #1534 "Docs for function properties"
The function properties (e.g. `Timeout`, `MemorySize`) the user can set should be listed in the docs.

[2016-07-11 10:15] eahefnawy opened #1535 "Edit/Add IAM role permissions"
Users need to have the ability to edit or add the default IAM role permissions that we create via CF. Basically a way to add to this array:
https://github.com/serverless/serverless/blob/v1.0/lib/templates/core-cf.json#L25

##### Use Case
Lambda function that is trying to call `putMetricData` of CloudWatch. So the IAM role that is assumed by the lambda needs the `cloudwatch:PutMetricData` permissio

[2016-07-11 12:28] pmuens commented on #1470
@eahefnawy the service now has a `runtime` property you should be aware of (see https://github.com/serverless/serverless/pull/1536).

[2016-07-11 12:37] pmuens commented on #1452
Heavily discussed in #1470

[2016-07-11 15:06] pmuens commented on #1458
We'll be adding a timestamp to the name of the `coreBucket`.

We'll then use `describeStack` to get the bucketName back (this is e.g. used in thw AWS `deploy` and `remove` plugin). There's no need for an output parameter as we'll have access to the stack information with the help of `describeStack` anyway.

[2016-07-11 15:39] uqutub opened #1539 "Module version mismatch. Expected 46, got 48."
Am using **htmltopdf** npm module, it gives error after sls function deploy,
but when am trying to use sls function run it works fine.

_complete error:_

[code]

[2016-07-11 16:30] godd9170 commented on #789
I'm currently struggling with this issue, I'm running Serverless v 0.5.6. Have subsequent updates to sls rendered @michaelorionmcmanus' solution pointless?

My dir:

[code]

relevant part of `s-function.json`

[code]

and my `account/handler.py`

[code]

and I get the following error:

`Unable to import module '_serverless_handler': No module named account`

I've tried changing the handler in the

[2016-07-11 18:11] flomotlik commented on #789
@godd9170 we're currently working on the next iterations of Serverless V1.0 that will have far better support for Node, python, Java, ...

We plan to release a new alpha with good support by the end of the month.

At this point we're not planning to do any updates to 0.5.x so it would probably be a better approach to update to the V1 alphas as soon as we release something new at the end of the mon

[2016-07-11 18:14] godd9170 commented on #789
@flomotlik ah ok awesome. I'm looking forward to that. Appreciate the quick response.

[2016-07-11 18:39] rehrumesh commented on #533
Any update with this issue?

[2016-07-11 21:28] rogueleaderr opened #1542 "cli commands stall on 'select a stage'"
Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
0.5.6

##### Operating System:
OSX

##### Expected Behavior:
do `sls function run` and get Interactive stage selection

##### Actual Behavior:
CLI stalls waiting for input. Hitting enter causes an exit w/ error message.

##### Stack-Trace (Optional):
[code]

##### Additional Details:

Discussio

[2016-07-11 21:46] rogueleaderr commented on #1542
I figured it out...I cloned the repo from Github so I was missing the necessary _meta directories. I had my coworker send them and now it works.

So technically this is user error, but it'll probably be a common one so a more helpful error message would be nice.

[2016-07-12 07:11] AlexThomasWebElevate commented on #1340
@pmuens great stuff, I know its very hard to predict but do you have a rough ETA for that support?

[2016-07-12 07:38] flomotlik commented on #1340
@AlexThomasWebElevate we don't have a definitive time for it yet, but through our custom resources support you would be able to set this up already (albeit in a bit more complex way as you would have to set up your own Cloudformation Resources).

Our assumption is definitely for the full release of V1, we're also very open to contributions :) /cc @patoncrispy

[2016-07-12 07:46] pmuens commented on #1458
@eahefnawy @flomotlik
Just finished the renaming of the bucket. I've created a `getCoreBucketName` method inside the `AWS SDK file`. Works like a charm except one thing. Here's how the deployment works and the problem it introduces:

1. Serverless will read the Core CloudFormation template from the file system
2. A unique coreBucket name will be created (`serviceName-stage-region-timestamp`)
3. Se

[2016-07-12 08:03] danhumphrey commented on #1458
How about a user specified namespace? I know you want to avoid configuration, but maybe it's warranted in this instance?

[2016-07-12 08:29] eahefnawy opened #1543 "Can't resolve JSON-REF"
It has been reported that referencing JSON/YAML files using the JSON-REF feature is not working. We weren't able to reproduce the issue, but it needs further investigation. cc/ @flomotlik

[2016-07-12 08:36] pmuens commented on #1458
@danhumphrey thank you for your input.

We've decided to let Amazon pick the bucket name for us. This ensures that the bucket name will always be unique and that we don't run into the issues described above.

You can see the corresponding changes in the PR #1544

[2016-07-12 08:45] flomotlik commented on #1458
@danhumphrey you mean letting the user specify the bucket name? Definitely something we want to do in the future (and very easy for us to implement). We mainly want to learn more about this from users to better understand your specific needs before we move on the implementation. Could you describe what the reasons would be for you to set up a specific bucket name and what your internal policies ar

[2016-07-12 09:05] pmuens commented on #1458
Implemented with https://github.com/serverless/serverless/pull/1544

Feel free to continue the discussion about it!

[2016-07-12 09:05] #1458 closed

[2016-07-12 09:05] flomotlik commented on #1516
Imho it should be something more expressive like `ServerlessDeploymentBucket` or something similar. In the Output Variable we can then also use `ServerlessDeploymentBucketName`

[2016-07-12 09:06] pmuens commented on #1486
Thank you guys! The current implementation is done in (#1494).

Feel free to continue the discussion!

[2016-07-12 09:38] pmuens commented on #1516
Done with https://github.com/serverless/serverless/pull/1545

[2016-07-12 09:56] #1516 closed

[2016-07-12 12:22] ryansb commented on #1486
How would folks feel about a (not necessarily immediate) addition to the serverless.yml? Currently this uses the `package` key, like below:

[code]
I'd propose adding a `package_override` key to individual functions, so if there were a situation like @erikerikson mentioned the function with heavy dependencies could have its zipfile location or excludes overridden, so it didn't bloat the rest of th

[2016-07-12 15:06] kid opened #1549 "Package plugin ignores path containing 'serverless'"
##### Serverless Framework Version:
1.0.0-alpha.1

##### Operating System:
Mac OS X 10.11.5

##### Expected Behaviour:
Imagine the following folder structure:
[code]
I expect `my-serverless-plugin` folder to be included in the uploaded archive unless explicitly excluded.

##### Actual Behaviour:
The `my-serverless-plugin` is not included because the default exclude list contains the string `.serve

[2016-07-12 15:53] pmuens commented on #1452
Is discussed in detail in #1470

and should be available soon. Will close this one here. Thanks for the proposal @jthomas

[2016-07-12 15:53] #1452 closed

[2016-07-12 15:54] pmuens commented on #1549
Wow! Great find!

Thanks for reporting.

[2016-07-12 18:19] eahefnawy opened #1551 "Updating APIG method from get to post doesn't get reflected on AWS stage page"
After deploying an APIG get method, and then changing it in `serverless.yaml` to be a post method and deploying, AWS stage page still shows that it's a GET method, even though the method page says that it's POST.

[2016-07-12 18:21] pmuens commented on #1470
Done with https://github.com/serverless/serverless/pull/1537

[2016-07-12 18:21] #1470 closed

[2016-07-12 19:12] pmuens commented on #1517
Done with https://github.com/serverless/serverless/pull/1536

[2016-07-12 19:12] #1517 closed

[2016-07-12 19:28] pmuens commented on #1413
@eahefnawy what's the purpose of this one? Isn't it already implemented?

[2016-07-12 19:37] pmuens opened #1552 "Python support for AWS"
Add a template for Python support on AWS.

See https://github.com/serverless/serverless/issues/1247

Corresponding PR: #1554

[2016-07-12 19:39] pmuens opened #1553 "Java support for AWS"
Add a template for Java support on AWS.

see https://github.com/serverless/serverless/issues/1246

[2016-07-13 05:59] nikgraf opened #1555 "Serverless CLI should work without having us-east-1 defined"
[code]

[2016-07-13 07:02] pmuens commented on #1552
Done with #1554

[2016-07-13 07:02] #1552 closed

[2016-07-13 07:06] pmuens opened #1556 "Cannot read value OutputValue of undefined"
It seems like there's a bug in the way we get the deployment bucket name (e.g. used in the upload .zip files method).

It seems like the stack is not quite ready when we're about to get the Output value and the corresponding deployment bucket name.

[2016-07-13 07:44] flomotlik commented on #1246
@license2e we've moved ahead on our new template integration as well (thank you for your PR, it definitely influenced how we set it up) with #1537 and already implemented a first template for python with #1554 .

If you would still be able and like to contribute the Java templates for it that would be incredible. Happy to help in any way I can. We're currently planning to go implement something li

[2016-07-13 08:12] flomotlik commented on #1486
@ryansb yeah I think that is the best way, though I would also call it package.

The way I see this going forward (and we've discussed it before the implementation) is that by default you have one package for each function, but you can use the same include/exclude parameters on each function as well. Every function that doesn't have include/exclude/artifact parameters will use the default package,

[2016-07-13 08:12] objecteer commented on #1518
I created an IAM policy to allow all actions of AWS CloudFormation and attached that policy to the user, and the problem was resolved.

[2016-07-13 08:19] flomotlik commented on #1340
@patoncrispy That is awesome, thanks for your help. I'm working on better `CONTRIBUTING.md` today.

The first step would be to open up an issue for CORS and explain what you would like to support and also add more details about your use case. Then we can discuss the details in there and then move on to implementation. We really try to move to a process where we have clear descriptions in an issue

[2016-07-13 08:24] patoncrispy commented on #1340
@flomotlik Sweet! I've got a Microsoft exam on Friday so studying all week, but will raise an issue for CORS this weekend. Thanks!

[2016-07-13 10:21] flomotlik commented on #1340
great, @patoncrispy let us know if any questions come up and good luck on the exam

[2016-07-13 10:41] flomotlik commented on #1532
Potential test cases, please add more ideas (/cc @eahefnawy , @ac360 ):

* Create every available template and deploy it
* Create every available event type, deploy it and make sure it works as expected

[2016-07-13 12:23] kherkeladze opened #1558 "Save method doesn't work for Endpoint"
http://docs.serverless.com/docs/project#section-updating-and-saving-data

It works in 0.4 but not in the latest version.
I think it's a very useful especially in plugin development.

[2016-07-13 12:37] pmuens commented on #1493
@eahefnawy @flomotlik FYI:

Just looked through the code and created a list how everything works in plain english:

How Azure deployment works

1. The „compile“ plugin
    1. Create a „functions“ property on „this.serverless.service.resource.azure“ so that we have „this.serverless.service.resource.azure.functions“ (this will be used to generate „function.json“ files for the deployment later on)

[2016-07-13 12:58] pwalvarado commented on #1351
I having the same problem, how do you fix it?

[2016-07-13 14:25] pmuens opened #1559 "Tracking of anonymized usage information"
We should track the usage of the framework to understand how our users work with it.
This way we can derive and prioritize future features easier.

/cc @flomotlik @eahefnawy @ac360 @nikgraf @mthenw

Follow the implementation here: https://github.com/serverless/serverless/pull/1568

**What should be done:**

- Use [Segment](http://www.segment.io) and their to track stuff
- Data should be anonymized

[2016-07-13 15:43] ac360 commented on #1529
@felixrieseberg, @bnookala, @mattpodwysocki, @timfpark, @jthomas, could you gents please take a glance at this and see if this is something pattern is useful for all providers?

[2016-07-13 16:06] flomotlik commented on #1442
Implemented and merged by @kid . Closing this issue therefore.

[2016-07-13 16:06] #1442 closed

[2016-07-13 17:30] ryansb commented on #1486
I'd consider it a roughly 80/20 issue: 80% of serious users will never need this split function, but for 20% of serious users it would be a total dealbreaker to not have it, and they'd need to hack something together or skip using the framework. The per-function include/exclude in addition to service-level ones would cover the use case I was discussing, and it seems to fit well in the overall desi

[2016-07-13 17:37] flomotlik commented on #1559
A few ideas for things to be tracked:

* Loaded Plugins
* Provider of the current service
* Operating System
* Current Version of Serverless
* Number of functions in the service
* Number of Events in the Service
* Executed command including which plugin the command came from
* Unique ID for this particular user that we create the first time the command runs (this might be controversial as we're tr

[2016-07-13 18:18] erikerikson commented on #1486
@flomotlik it almost sounds like you're trying to optimize for disk space and single payment upload time.  The more constrained resource seems to be cold-start loading time.

This seems like it risks forcing users to think about and get into the depths of how packages and deployments and container persistence work.

This reminds me a bit of the everything is lambda centered choice earlier in the S

[2016-07-13 18:31] pmuens opened #1561 "Add docs for API Gateway universal velocity template"
We're currently using a great API Gateway velocity template:
https://github.com/serverless/serverless/blob/v1.0/lib/plugins/aws/deploy/compile/events/apiGateway/lib/methods.js#L49-L78

Unfortunately it's not documented anywhere.

[2016-07-13 18:47] flomotlik commented on #1486
@erikerikson the main goals are:

* Faster deployment (because we only have to upload one asset for a service, or at least less than by creating separate packages for each function)
* Easier sharing of code as all code in a service will simply be shared with other functions
* be more service than function focused. We think of functions as part of a service and those functions will have dependencie

[2016-07-13 19:10] erikerikson commented on #1486
Thanks Flo.

Bullets 1-5:
1. 👍  cool stuff and laudable goal
2. I guess I don't see the true cost or savings to this.  The exact same physical bits versus the exact same logical bits is a noop via the analog to digital conversion that make our information as physical machines paradigm possible.  As a user there is no greater ease here if I am ignorant (and this is possible) of how my code is share

[2016-07-14 00:19] lucasam commented on #1310
I am having similar issues regarding to DynamoDB access.

All configs like region and credentials are missing when using function run command.

Apparently the call to dynamodb is not running with the same credentials of the lambda function or the lambda itself is not under any role at all.

[2016-07-14 02:25] Fandekasp commented on #1153
Thanks @gebrits, was having the same problem, and running `sls resource deploy` did the trick (although the behavior is surprising, by running deploy I'd expect the server to be updated from the local version, not the other way around)

[2016-07-14 07:52] pmuens opened #1562 "Add docs that X versions of the package artifact is stored in the services S3 bucket"
Right now we store 5 versions of the services zipped package in S3. We should document that so that users know that they're able to recover an old version anytime.

[2016-07-14 07:55] pmuens opened #1563 "Test what happens when 2 services / stacks share the same name"
Our new `create` mechanism is based on templates we'll use during the creation process.
This templates also have default names which are used for naming the stack.

It would be worth to check what happens when two services share the same stack name (because the retrieval of the corresponding service bucket name is based on the outputs of the stack).

Do they collide?

/cc @eahefnawy

[2016-07-14 07:58] pmuens opened #1564 "Add docs for available templates"
Our `create` plugin was recently updated so that service and runtime bound templates are used. We should add docs (a new `.md` file in `/docs`) to show the user what templates are available.

Corresponding PR: #1576

[2016-07-14 08:02] pmuens opened #1565 "Add default runtime when no runtime is provided in serverless.yaml"
Each service has a hard dependency on a runtime from now on.

We should add a fallback for a default runtime (e.g. `nodejs4.3`) which will be used if no runtime property is provided in the services `serverless.yaml` file so that old projets won't break.

A warning should be shown on the console that the default runtime will be used.

The only concern I have with this is that it'll only affect alph

[2016-07-14 08:04] pmuens opened #1566 "Get AWS accountId for API Gateway method compilation with the help of an OutputVariable"
Right now we get the accountId in a "not that awesome" way (see https://github.com/serverless/serverless/blob/v1.0/lib/plugins/aws/deploy/compile/events/apiGateway/lib/methods.js#L37-L44).

We can update it once https://github.com/serverless/serverless/pull/1540 is merged.

[2016-07-14 08:08] pmuens opened #1567 "How to deal with provider specific configuration"
We've recently introduced a `runtime` property which is available in the `serverless.yaml` file.
This is needed for AWS deployments as AWS needs to know what runtime the function should use.

However it seems like Azure, Google, IBM etc. don't necessarily have those concepts (at least as far as I've looked into them so far) so it's kind of an "only used by AWS" feature.

Should we keep it (it's al

[2016-07-14 08:10] jthomas commented on #1529
The [OpenWhisk SDK](https://www.npmjs.com/package/openwhisk) provides all the features I've needed for the OpenWhisk provider plugins. Plugins `require('openwhisk')` this directly, rather than depending on a single class like AWS.

They do share a utility class to manage constructing the OpenWhisk client with credentials automatically pulled from the user's environment shared by the separate plugi

[2016-07-14 09:30] eahefnawy commented on #1493
@flomotlik @pmuens one caveat about Azure Functions is that it doesn't have a `handler` concept. Instead, each function **is a folder with an `index.js` file that exports a single function**. That's how Azure imports the function code.

That means that the exported function ("the handler") will always be in the root of the package...which means functions won't be able to reuse common code because

[2016-07-14 09:41] flomotlik commented on #1567
Imho if its not necessary we shouldn't force them to do it. Another interesting question here is how we deal with provider specific configuration that should be set for the whole service, e.g. Runtime, Memory, or any other provider specific config you want to set.

Imho 2 options

1. We leave those general config items at the root of the serverless.yml. Makes it less structured and maybe a bit eas

[2016-07-14 09:45] flomotlik commented on #1565
As mentioned in #1567 I think we should include a nested config object that can have any provider specific config in it and we can then also add validation in plugins to make sure this is actually available.

[2016-07-14 09:51] eahefnawy commented on #1567
I've thought about that before and my conclusion is that it's just about where we validate each property in `serverless.yaml`. If we know its a common property between providers, then the validation happens in the Service class during loading, if it's only used by few/single provider, the validation should happen in the relevant provider plugin.

Take the `handler` property for example, it's requi

[2016-07-14 09:56] pmuens commented on #1567
IMO the "basic" / "general" `serverless.yaml` should only include the necessary config which is used by all providers (the stuff where we have an overlap between all providers). Otherwise the `serverless.yaml` file gets more and more bloated.

We could wrap provider specific stuff inside a provider property such as this:

[code]

We may even use this property to check which provider is used (altho

[2016-07-14 10:01] flomotlik commented on #1567
I would keep the configuration key the same across providers, just let them embed different values. e.g.

[code]

[code]

This way we have a clear and unambiguous configuration for each provider with the `provider` and `config` keys. when using different providers people will always know where to put things, otherwise they might have to think is it `azure` or is it `microsoft`, is it `ibm` or is i

[2016-07-14 10:02] flomotlik commented on #1567
And I agree with @pmuens that the highest level of the serverless.yml should only contain elements that are used across providers.

[2016-07-14 10:02] eahefnawy commented on #1567
I think we're over engineering this... @pmuens which step/plugin exactly needs this `runtime` property? cant you just validate it there?

[2016-07-14 10:04] eahefnawy commented on #1567
right now the highest level of the file has the following: `name` `provider` `functions` and `resources` which are all used by all providers and validated in the Service class...the `default` top level property is not validated/required cause it's optional, we can do the same with `runtime` but just validate it right where we need it.

[2016-07-14 10:09] flomotlik commented on #1468
Yup agreed in general and on the specific point @ac360 was making about this being a separate plugin. It could simply hook into the after deployment phase and also provide a separate command to list all those output variables, so you don't actually have to run deployment to see them.

Then each compile event plugin could simply add corresponding output variables and you get a nice overview on ever

[2016-07-14 10:09] pmuens commented on #1567
I like the `config` property as a single place to store provider related stuff.

I would not put provider related config setup inside the root of the `serverless.yaml` file because wrapping it inside the `config` object makes it more reasonable that it's configuration and we can communicate this to Plugin authors that that's the place where they're about to get provider related configuration.

Fur

[2016-07-14 10:11] pmuens commented on #1468
🎉  really like the idea of having this in an encapsulated plugin! That's a really powerful way to show the related configuration and we can extend it easily later on without having to touch the core codebase.

[2016-07-14 10:38] flomotlik commented on #1567
agree with @pmuens . Imho if we start allowing things like runtime in the root we'll have to allow a ton of things in root without any control over it in the future and it will inevitably end in a mess.

This tweet is always a good reminder for me in those situations: https://twitter.com/solomonstre/status/715361557408931840

[2016-07-14 11:16] flomotlik commented on #1566
Can't we simply use a Ref instead? Not sure why we have to build the ARN ourselves in a Cloudformation template @pmuens

[2016-07-14 11:19] flomotlik commented on #1416
This is a duplicate of #1468 , closing here and we'll keep discussing it there. Completely agree on this though.

[2016-07-14 11:19] #1416 closed

[2016-07-14 11:25] flomotlik commented on #1558
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:25] #1558 closed

[2016-07-14 11:26] flomotlik commented on #1129
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:26] #1129 closed

[2016-07-14 11:28] flomotlik commented on #1132
@jesucarr we're not sure yet how serverless-offline and our development for offline tooling will work in the future. We're currently discussing this internally and will take this into consideration. For now I'll close this issue.

[2016-07-14 11:28] #1132 closed

[2016-07-14 11:30] flomotlik commented on #1133
Hi @joostfarla sorry for the late reply on this. Since we've been pushing hard on Serverless V1 over the last 2 months this is a bit outdated as the new plugin system works completely differently and should allow what you're asking for.

We're also currently talking about getting CORS support into our new API Gateway integration. Would be interesting to get your view on it.

I'm going to close thi

[2016-07-14 11:30] #1133 closed

[2016-07-14 11:31] flomotlik commented on #1134
As discussed in the other issue this is changed a lot in V1, would be great to chat about those changes and make sure you'r plugins work for V1

[2016-07-14 11:31] #1134 closed

[2016-07-14 11:33] flomotlik commented on #1135
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:33] #1135 closed

[2016-07-14 11:33] flomotlik commented on #1137
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:33] #1137 closed

[2016-07-14 11:34] flomotlik commented on #1141
With V1 of the framework the specific language version is irrelevant for us as we can simply pack any language really. We do want to support python 3 in the future as well, as soon as Lambda supports it. Closing this issue for now as its currently not possible.

[2016-07-14 11:34] #1141 closed

[2016-07-14 11:36] flomotlik commented on #1149
@contractorwolf sorry for the VERY late reply on this. The project is actually very alive and we've been working fully focused on a complete rewrite for V1 of the framework.

With V1 we've also completely removed the spinner as this typically leads to huge issues and this should be resolved now. We're also going through Cloudformation now so stability has greatly improved there. I'm going to close

[2016-07-14 11:36] #1149 closed

[2016-07-14 11:37] flomotlik commented on #1153
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:37] #1153 closed

[2016-07-14 11:38] pmuens commented on #1566
Yep. Thanks!

Good idea! I'll look into it.

[2016-07-14 11:40] hakandilek commented on #1246
How does the timeline look with Gradle/Maven support? I can start earliest by the end of next week.

[2016-07-14 11:59] flomotlik commented on #1174
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 11:59] #1174 closed

[2016-07-14 12:02] flomotlik commented on #1175
@tuanmh @Christoph-Schabert at the moment there isn't really a way to do this as all deployments are region specific. The same applies for V1 that we're currently working on.

Is it possible to have API Gateway in one region and trigger a function in another region? Didn't know that was possible. Could you link me to the docs there and describe your use case in more detail?

[2016-07-14 12:04] flomotlik commented on #1182
@lorensr yup this definitely makes sense to include in the new V1 docs. Set it as a goal for V1 and documentation. Which pages would you link to and where in the docs?

[2016-07-14 12:05] flomotlik commented on #1179
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 12:05] #1179 closed

[2016-07-14 12:06] flomotlik commented on #1183
@konrad-garus do you know if thats possible to set through Cloudformation? I could see this as an extension in our new V1 services and to be set through Cloudformation.

[2016-07-14 12:07] flomotlik commented on #1189
Ok great, looks like this was resolved and I'm closing the issue.

[2016-07-14 12:07] #1189 closed

[2016-07-14 12:09] flomotlik commented on #1190
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 12:09] #1190 closed

[2016-07-14 12:10] flomotlik commented on #1197
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 12:10] #1197 closed

[2016-07-14 12:15] flomotlik commented on #1194
1. The deployment artefact is stored in S3 during deployment, then AWS picks it up and stores it in their internal system
2. not by default and AWS doesn't provide this directly. You might be able to work around it, but thats going to be tough.
3. In V1 we're planning a different approach with environment variables, you can read more in #472

I suppose this is for Financial Data Compliance reasons