[2016-07-14 12:15] #1194 closed

[2016-07-14 12:15] flomotlik commented on #1202
Hi, thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide great long t

[2016-07-14 12:15] #1202 closed

[2016-07-14 12:30] franz-josef-kaiser commented on #1441
…especially as it is already working in the v0.x versions.

[2016-07-14 12:33] franz-josef-kaiser commented on #1058
@flomotlik Can you please cross link this issue as duplicate of ticket _X_ (I can not find any related issue)? Thanks in advance. Just want to make sure this one is not lost, but can be closed.

[2016-07-14 12:34] franz-josef-kaiser commented on #1351
See #1202

[2016-07-14 12:52] pmuens commented on #1559
Here's how we'll implement it (/cc @flomotlik):

The first step is to gather useful information such as `operating system`, `used plugins`, `entered commands` and `Serverless version`.

Serverless will track automatically. However the user can disable it with the help of the `serverless tracking off` command.

A plugin will be developed which offers the enable / disable tracking functionality. It'

[2016-07-14 13:02] flomotlik commented on #1559
@pmuens sounds great, looking forward to it!

[2016-07-14 13:21] flomotlik commented on #1058
@franz-josef-kaiser there isn't really any particular issue that implements this, its simply working by default through our API Gateway implementation and CloudFormation. Here are the docs for this: https://github.com/serverless/serverless/tree/v1.0/lib/plugins/aws/deploy/compile/events/apiGateway

[2016-07-14 13:21] #1058 closed

[2016-07-14 15:28] contractorwolf commented on #1149
@flomotlik no worries, I found that the best resource for quick questions on serverless was the gitter board here:
https://gitter.im/serverless/serverless

In case anyone else seems to be having an issue like this:
My issue actually turned out to be because of the handler path (in s-functions) for my functions folder included the root folder which created an endless recursion when trying to deploy

[2016-07-14 15:38] pmuens commented on #1559
@flomotlik Basic tracking is implemented (see last commit in #1568).

However tracking is extremely slow and blocks the entire CLI. Tried to modify the `flush` configs according to their docs but had no success.
Even tried to just send 1 event (and put everything in this event). There's no performance gain when doing this. It's as slow as sending multiple events.

However we'll get all the data th

[2016-07-14 15:52] slitskevich opened #1569 "Cant find AWS credentials"
I want to start working with existing SLS project which I get from GitHub. The project already has all the necessary stages so I don't run "project init" on it.
When I try to deploy a function into specific stage I get the error: "Cant find AWS credentials". I have proper keys in ~/.aws/credentials. I also tried to duplicate them in admin.env in the project root folder - but it didn't help.

Thank

[2016-07-14 15:54] aliatsis commented on #1194
@flomotlik thanks for the help! Yes, at some point I will need to be PCI compliant.

[2016-07-14 15:55] pmuens opened #1570 "Add support for multiple commands on same level"
The current plugin implementation forbids it to have mutliple commands on the same level. Here's an example how this looks like. We should discuss if we want to support this (might make the whole `PluginManager` logic a little more complicated.

[code]

[2016-07-14 18:25] worldsoup commented on #1559
@pmuens It would also be nice to track project level data (i.e. how many developers are working on a project? how often is it deployed? how many lambdas does it consist of). Can we do that?

[2016-07-14 18:42] flomotlik commented on #1559
@worldsoup we can track how many functions are part of this service, but not beyond what we have locally. We only have whatever is available in the local config, so number of developers and how often its deployed is also not really available. We might be able to build those profiles by combining the data in some of our analytics tools, but that will give us a rough overview and won't be exact.

We

[2016-07-14 20:09] BernhardLenz commented on #607
I'm running 'serverless dash deploy --debug --dontRemoveTmp' but it still removes the tmp directory. What am I doing wrong?

[2016-07-15 00:04] ccorcos opened #1571 "Feature: Use Node.js instead JSON Templates"
There's this complicated JSON template stuff going on -- why not just use Node.js instead an export a serializable JSON object? Then everything can be reused using code instead of another DSL. And as a bonus, you can add comments (which you cant in JSON)!

[2016-07-15 02:54] ac360 commented on #1486
Last weekend, I tried out the new packaging process by deploying services with 1-20 functions.  Overall, I really enjoyed it.

CF deployments are slower, but this change makes CF deployments faster.  It took 30 seconds to update 20 functions when they are in a single service, and each had their own API G endpoint.  That's much faster than V.0.  With fewer functions in a service, provisioning via C

[2016-07-15 03:21] ac360 commented on #1567
Hmm.   Don't we have `defaults` already?  I thought `defaults` does what you guys suggest`config` should do?

Aren't these the only steps necessary:

* Make sure `serverless.yml` validation is handled by provider-specific plugins.
* If `defaults` exists, the provider-specific plugin should check if its subproperties are valid.
* If `defaults` does not exist, the provider-specific plugin should che

[2016-07-15 03:23] ac360 commented on #1543
An optimal time to get rid of it and roll our own :D

It doesn't solve all of our goals (e.g., extending an existing object), it looks goofy and a JSON standard in YAML is so confusing!!!

[2016-07-15 03:49] ac360 commented on #1529
Thanks for your feedback, @jthomas.  I've looked at your implementation and it seems very much like the proposed pattern would work better for you, for all of the reasons above.  We definitely want people to make their own OpenWhisk plugins to extend what they can do with it, within the Framework, and they are likely going to want easy access to the utility class you are including.

[2016-07-15 05:29] mt-sergio opened #1572 "Documentation on how to run two versions of Serverless on same machine"
Hi guys,
I'm using for some production projects sls@0.4 but now I would like to start using sls@alpha on a new one.
Any tip to handle it easily?
Thanks!

[2016-07-15 05:33] mt-sergio commented on #1572
My solution:
[code]

[2016-07-15 06:16] pmuens commented on #1572
@mt-sergio thanks for sharing!

Might be interesting to put something like this in the docs (/cc @flomotlik @eahefnawy)

[2016-07-15 06:19] mt-sergio commented on #1555
I had the same problem because I work with ap-northeast-1, so I removed us-east-1.
But I found this was solved in the master branch but not yet in the serverless@alpha.
You have the solution here: https://github.com/serverless/serverless/blob/v1.0/lib/plugins/create/templates/aws-nodejs/serverless.yaml
Just copy this template and set your defaults. (I guess you need at least one region... and mayb

[2016-07-15 06:30] pmuens commented on #1567
Yes. We have the default implementation. Although I would rename it from `default` to `config` or something else as `default` is less expressive IMHO.

[2016-07-15 09:20] pmuens opened #1574 "Fix cannot read "OutputVariable" of undefined error"
Our integration tests fail quite often recently.

It has something todo with the way we get the name of the services S3 bucket during deployment.

[2016-07-15 11:28] jeffski opened #1575 "Use S3 event name and lambda functiuon instead of ARN"
I've been setting up an S3 event to trigger a lambda function - i.e. I added an event like this to my s-function file:
[code]

When the Event is created and I view it in the S3 console the name of the Event is a long random AWS id string and the selected Lambda function is an ARN instead of the actual function name.

While everything works the way it should, a nice to have feature would be the nam

[2016-07-15 12:41] pmuens commented on #1559
@worldsoup good ideas! Some of those are already considered / implemented!

@flomotlik @eahefnawy
I've debugged this tracking stuff with Segment and found a way how we can speed things up. I've replaced their node-package with `node-fetch` and use a plain HTTP call directly to their API which is way faster than going through the package.

However it still disrupts the UX a little bit. Furthermore

[2016-07-15 13:16] pmuens commented on #1549
Done with #1550

[2016-07-15 13:16] #1549 closed

[2016-07-15 13:56] pmuens commented on #1574
This bug breaks our integration tests. The strange thing is that I am absolutely not able to recreate this issue on my local machine (I ran the integration test a bunch of times without issues).

Maybe it has something todo with AWS permissions to read the bucket name or something similar?

/cc @flomotlik @eahefnawy

[2016-07-15 14:06] pmuens opened #1577 "Update / rename lifecycleEvents of deploy plugin"
The `lifecycleEvents` of the `deploy`plugins should be renamed to be less specific but more broadly defined so that the naming will "work" for all providers.

`createDeploymentPackage` --> `createDeploymentArtifacts`
`createProviderStacks` --> `TBD`

- [ ] Update docs
- [ ] Update all plugins which uses those lifecycles

[2016-07-15 14:07] slitskevich commented on #1569
I solved the issue by setting AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables.
Apparently SLS ignores credentials in my ~/.aws/credentials file. Although when I ran "sls project init" it asks my to choose credentials profile and offers me the list of profiles specified in the file.

I'd expect it to work without environment variables

[2016-07-15 14:38] pmuens opened #1578 "Add release script"
The release script should e.g. replace the `writeKey` property which is used for usage tracking before a release is done. This way we don't need to expose the keys we use in our git repository.

[2016-07-15 15:08] bennybauer commented on #1468
@flomotlik yeah, I started writing something, but I should re-implement most of it with the "Outputs" approach as @pmuens suggested.

[2016-07-15 15:21] pmuens commented on #1559
Ok. Resolved the issues with the latest push. It now has a timeout of 1 second (after that the HTTP request will be terminated). Additionally it will always fail silently so that the user won't see strange error messages e.g. when he has no internet connection.

**Here are some benchmarks:**
*Aside: I ran the this on my MacBook Pro with a DSL 16.000 internet connection (on the countryside 🐄 ):*

`

[2016-07-15 15:57] flomotlik commented on #1574
@pmuens can you link to a build where this has happened? Happy to look into it

[2016-07-15 15:58] flomotlik commented on #1468
@bennybauer awesome, if you need any help with anything let us know. Happy to help or give feedback, also on an in-progress PR if you want to share early or share your design choices in here.

[2016-07-15 16:16] flomotlik commented on #1572
Yup. @mt-sergio Yeah don't think there is really any other way to do this.

[2016-07-15 16:18] pmuens commented on #1574
@flomotlik Sure. Here's an example build that failed: https://travis-ci.org/serverless/serverless/jobs/144476250

[2016-07-15 16:33] flomotlik commented on #1567
Yup agree with @pmuens that config is imho clearer than default

[2016-07-15 16:35] flomotlik commented on #1543
@ac360 We've checked and the JSONRef looks like its working completely fine, not sure why its been reported as failing, maybe error in the docs (though I couldn't find any). I agree in principle that we should have a different syntax that we own, I would just push that out to a later stage as we can easily introduce this in addition to JSON-Ref (although we would have to support both then)

[2016-07-15 16:38] flomotlik commented on #1149
@contractorwolf yup that subfolder stuff is also resolved now, as we don't have the _meta folder any more and just completely remove this issue from the beginning in V1

[2016-07-15 16:42] flomotlik commented on #1246
We would love to have it in by End of the month. We're doing a Team building next week and then in final week of July basically is where we'll take a close look. If you have time by then to take a look at it that would be awesome. I think this should be pretty easy and straight forward to do. /cc @license2e

[2016-07-15 16:45] flomotlik commented on #1486
Not yet, but I like it. We could simply create a folder per deployment and then push artefacts and CF files into it.

[2016-07-15 16:56] flomotlik commented on #1575
Hi @jeffski , thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide gr

[2016-07-15 16:56] #1575 closed

[2016-07-15 16:57] flomotlik commented on #1571
@ccorcos you mean in request templates? Are you working with 0.5.x or 1.0 of the framework?

[2016-07-15 16:58] flomotlik commented on #1569
@slitskevich In Version 1 of the Framework we're using the .aws/credentials file, so it should be working out of the box. Closing this issue as its fixed in 1.0

[2016-07-15 16:58] #1569 closed

[2016-07-15 17:29] flomotlik opened #1582 "Serverless Developer Tooling Direction"
We recently discussed our developer tooling and offline support for Serverless. This issue will discuss a few of our conclusions and potential next steps to open them up for more discussion.
# Goal of the Serverless Developer tooling

We want to make sure that developers have a great experience when developing with Serverless, not just for building the service and deploying it through their CI/CD

[2016-07-15 17:33] sielay opened #1583 "Error on deploy `consumed` by SError"
##### Serverless Framework Version:

0.5.6

##### Operating System:

OSX

##### Expected Behavior:

ServerLess error expect first parameter to be as string, so you can print out `err.message`.

##### Actual Behavior:

Error handler pass whole original error to ServerLess error constructor

##### Stack-Trace (Optional):

https://github.com/serverless/serverless/blob/master/lib/actions/ResourcesDepl

[2016-07-15 17:36] ac360 commented on #1486
What we used to do with project buckets in JAWS is append the stage and version to the S3 key, instead of using subfolders.  We also put all Lambda zips in a subfolder within the bucket root, just in case people wanted to put other stuff in the bucket.

[code]

[2016-07-15 17:41] flomotlik commented on #1583
Hi @sielay , thank you for reaching out to us! At this point we've stopped working on 0.5 of Serverless to fully focus on V1.0 that we're currently working on. Therefore we're not taking any changes for 0.5 and do not plan any future releases at this point. We only have a limited set of resources and just need to make sure we're putting everything we have into our next release (and can provide gre

[2016-07-15 17:41] #1583 closed

[2016-07-15 17:51] flomotlik opened #1584 "Community Repository"
As discussed in #1525 we want to create a Community Repository that allows trusted Contributors to build plugins in a common repository while we guarantee to the community that we have some level of involvement in those Plugins, make sure there is a certain level of quality in place and we follow certain common specifications (e.g. common syntax checking, testing strategy, ...).

Furthermore this

[2016-07-15 17:53] flomotlik commented on #1486
@ac360 we now only create one bucket per service/stage/region combination, but in there we could simply create folders for the different version and put all the files in

[2016-07-15 18:35] ac360 commented on #1486
@flomotlik Right!  But, if we add the ability to use a single bucket across multiple services (this feature might have already been added, not sure), keeping the stage in the name will protect us in that case.

[2016-07-15 21:00] jflasher opened #1585 "Reading local file uploaded in code bundle"
Serverless Framework Version: 0.5.6
Operating System: Mac OS X El Capitan

I think this one is sadly down to user error... I've got a static html template I want to use to generate HTML content and send that back as the Lambda function response. The HTML file is right there next to the js file in the `optimized` folder

![](https://www.dropbox.com/s/4qqf882j0wf2hrl/Screenshot%202016-07-15%2016.56.

[2016-07-15 21:27] patoncrispy opened #1586 "Add CORS support (Serverless v1)"
##### Feature Request:
I'd like to enable CORS support for API Gateway endpoints in Serverless v1. A schema example could look like this:

[code]

When run (with deployment), it will create the OPTIONS method and the appropriate 200 responses for specified methods, adding the specified origin and headers. Headers, Methods and Origin are [required headers by API Gateway](http://docs.aws.amazon.com/

[2016-07-15 22:00] sielay commented on #1583
@flomotlik got it, btw is programatic API changing hugely in 1.0?

[2016-07-15 22:05] sielay opened #1587 "Programatic API in 1.0"
##### TLDR:

Is there stabilised programatic API of version 1.0 as it was in 0.5?

##### Discussion:

I am working on IDEish shell over serverless. I started by wrapping 0.5, but since incoming changes are huge, I'd like to ask:

 * Do you work on any IDEish tools?
 * Are you planning to expose not CLI bound API?
 * Are there any API docs?

Thanks

[2016-07-15 23:20] ccorcos commented on #1571
Just reading the docs: http://docs.serverless.com/docs/templates-variables

[2016-07-16 23:13] janaka commented on #1555
The problem I'm seeing is NOT that I have to have us-east-1 defined rather if all I had was one region other than us-east-1 then I have to specify the region when deploying.

I feel the safest behaviour is
1) if there only one region then default to that i.e. --region param not needed.
2) if there's more than one region specified in serverless.env.yaml then --region must be specified. No default.

[2016-07-16 23:33] janaka opened #1588 "mixing handlers with and without events doesn't work as expected."
##### Serverless Framework Version:
1.0 alpha

##### Operating System:
OSX

##### Expected Behavior:
The following should work but it doesn't.

[code]

##### Actual Behavior:
serverless.yaml

[code]

Note needs

[code]

[2016-07-17 09:13] jonascheng commented on #1322
I encountered same issue, and it's annoyed to me. In my case, it became worse not just change indentation but also revise cloudfront cache behavior.

[2016-07-17 10:18] flomotlik commented on #1571
@ccorcos yup thats completely different in the latest V1 that we're currently working on. Basically you have one serverless.yml for your whole service and you can access environment variables with a simple ${} notation.

As this has already changed I'm going to close this issue for now, would be interesting to get your feedback on the new system. You can take a look at v1.docs.serverless.com

[2016-07-17 10:18] #1571 closed

[2016-07-17 10:24] flomotlik commented on #1587
The way we think about our API going forward is basically allowing you to trigger commands and lifecycle events through the API and then plugins can react to it. I'd love to talk a little bit more about your plans though at first. We're going to be at a Teambuilding all of next week, but how about the week after? Didn't find an email online, but can you send me one to flo@serverless.com and we can

[2016-07-17 10:34] flomotlik commented on #1486
@ac360 the most likely option for a single bucket across services is that people manage that bucket themselves imho. I see basically 2 options going forward for the buckets:

1. We create the bucket for you and name it together with your CF stack. We guarantee naming and that everything works
2. Users create their own bucket and point us to it (e.g. deployment_bucket setting in their serverless co

[2016-07-17 10:46] jonascheng opened #1589 "Cloudfront ForwardedValues.Headers isn't supported in s-resources-cf.json"
##### Serverless Framework Version:
0.5.6

##### Operating System:
Ubuntu Trusty

##### Expected Behavior:
Should not remove "Headers" from s-resources-cf.json
            "ForwardedValues": {
              "Headers": ["Authorization"],
              "QueryString": "true"
            },

##### Actual Behavior:
After executing ```sls resources deploy``` and then "Headers" is removed.
I found this i

[2016-07-17 15:57] pmuens commented on #1588
Thanks for reporting! We'll look into it!

[2016-07-17 18:28] ccorcos commented on #1571
YAML is a bit nicer on the eyes for this kind of stuff. Looks good to me -- but I'm concerned about more complex orchestration. If you have 10 different services that all need to be connected and coordinated together with configurations that depend on each other, it seems a lot easier to do this with a programming language rather than a templating language. That way you can require what ever you w

[2016-07-17 22:20] lorensr commented on #1182
Since the FAQ is pretty long, I would directly mention the few largest things like those above (perhaps they're the same for the other provers?), then link to FAQ for each provider for more limitations/info.

Somewhere in the introduction, so I know whether this library is a fit for me. Backstory or Overview?

[2016-07-17 23:41] Cabsy opened #1591 "Best approach for reducing ZIP size uploaded to AWS"
Hi Guys,

I have been using serverless for a few weeks now and its proven extremely helpful when it comes to managing lambda code and deploying to AWS. I am in the process of writing an API and I'm going through a refactor stage. I have just noticed that for each lambda function my entire project is uploaded. I was wrongly under the assumption that serverless would look at my requires and automagi

[2016-07-18 02:09] #1564 closed

[2016-07-18 03:54] ac360 opened #1592 "README structure for V.1"
We need a new README structure for V.1.  Here's what we're thinking (WIP):

-----------------

[Awesome GIF]

## Table of contents

- [Quick-Start](#quick-start)
- [Documentation](#documentation)
- [Plugins](#plugins)
- [Services](#services)
- [Roadmap](https://github.com/serverless/serverless/milestones)
- [Gitter Chat](https://gitter.im/serverless/serverless)
- [Twitter](https://twitter.com/gose

[2016-07-18 04:04] ac360 commented on #1584
@flomotlik +1 for the proposed structure.  My only suggestion is a simpler name for the repo:

* serverless/plugins

[2016-07-18 05:04] eahefnawy opened #1593 "Support response/request templates for APIG in v1"
APIG Response/Request templates options are now missing in V1, we need to bring back this functionality. In v0.5.6 we let users define their velocity templates as strings in the `s-function.json` json file, which was very hard to maintain. We can still do that in v1 using our `serverless.yaml` file, but it'd still be really hard to maintain all the templates in all endpoints in all functions in a

[2016-07-18 05:10] ac360 commented on #1593
+1 to `.vm` templates that can be referenced w/ a single line in the endpoint event.

[2016-07-18 05:20] eahefnawy commented on #1592
it seems that there are a lot of sections divided by the Serverless version, maybe the version should be at a higher level, and anything that is version-specific could go in there, while keeping the general stuff at the highest level as they are (installing, forum...etc)

[2016-07-18 06:38] flomotlik commented on #1593
Agree on the vm templates file that gets set in a line in the serverless.yml config. Before we move into this implementation though what are use cases that currently aren't supported by our default template?

Imho we should make the default template better and document it thoroughly. It sounds to me like those templates are a huge PITA and the better and easier we can make the default template the

[2016-07-18 08:04] sielay commented on #1587
Will mail you in the moment. Will also open source some work of mine (for those who worry that we'll plan taking over the world via email) once I cleanup nasty comments in my code.

[2016-07-18 10:58] eahefnawy opened #1594 "Support Custom Authorizers in APIG"
APIG Custom Authorizers are missing in v1, we need to bring back this functionality to let users set certain functions as authorizers for endpoints. The way this would work is that we add a new `authorizer` key for aws `http` event:

[code]
The framework would then set the `hello` function as an authorizer for this endpoint, and will set the authorization type of this endpoint method to `CUSTOM` (

[2016-07-18 11:06] eahefnawy opened #1595 "Add support for APIG API Keys"
As an improvement for APIG, we need to add support for specifying API keys for the entire **service** API. Since this is a service wide config, it doesn't really fit inside the `http` event object, because it applies to all endpoints rather than a specific endpoint config. So what I'm thinking is ([based on other discussions on provider specific config](https://github.com/serverless/serverless/iss

[2016-07-18 11:27] eahefnawy opened #1596 "Add support for CORS in APIG"
We need to have an easy way to set a certain endpoint to be cross origin friendly. To do that we'll need to to add the relevant CORS headers to `response.parameters`, which we currently don't set. This is relevant to supporting custom response templates (see Issue #1593 ). What I'm thinking is the following config for `http` event:

[code]

We can add even more options by inheriting logic from [th

[2016-07-18 11:49] eahefnawy opened #1597 "Support caching for APIG"
Support caching for APIG. This is a service-wide config (enabling caching/cache size for the APIG). So what I'm thinking is something like:

[code]

Thoughts...? cc/ @flomotlik @pmuens @ac360

Parent Issue:
[#1408](https://github.com/serverless/serverless/issues/1408)

[2016-07-18 12:20] eahefnawy opened #1598 "Add support for APIG proxy settings"
Give users the option to specify a certain endpoint to act as an HTTP proxy to another URI. This needs some thinking because setting an endpoint as a proxy means that the endpoint is not tied to a specific function, so it wouldn't make sense to have the config inside an `http` event object. Maybe this particular option could be a higher level config? How about:

[code]

Thats one way to do it, but

[2016-07-18 15:22] ac360 commented on #1594
@eslam A few thoughts:

* We'll need the Authorizer Lambda Function ARN.  Not sure how to get this in our current deployment method.
* Authorizer names/ARNS will likely be different for each stage.  How can people enter a dynamic variable here?

[2016-07-18 15:30] ajagnanan commented on #1594
Also, can we add a way for endpoints to use an existing custom authorizer?

[2016-07-18 15:37] ac360 commented on #1598
Thanks for the contribution @eslam.

+1 to people setting it up in `resources` for now.

I'm not personally excited about the `config` property because it's unclear and vague (the whole file is config!), and your example demonstrates that by including proxy data in it (what's this config file for?).  I think if we continue this pattern, we'll just end up remaking CloudFormation.

[2016-07-18 15:43] ac360 commented on #1597
If the user enters a REST API into custom resources, does it overwrite the default REST API that is created?  Perhaps users should be able to do that, and specify caching settings in there.  I'm worried we're going to rewrite CloudFormation w/ `config`.

[2016-07-18 15:56] ac360 commented on #1567
Hmm, but the whole file is config, which makes the property seem a bit vague.

Looking at @eahefnawy's new API Gateway issues, this vagueness is clear because his instincts are to put other data (outside of functions) in there.  However, his idea has a lot of merits.  A `config` object to set values for common properties, whether they be function config or api gateway config (e.g., caching) seems

[2016-07-18 15:57] ac360 commented on #1598
+1 as custom CloudFormation resources for now.

We're still trying to figure out how `config` should work in #1567.  I'm hesitant to start putting entire resources in there.

[2016-07-18 16:05] ac360 commented on #1593
@flomotlik Great points.  FWIW, I believe custom template support is pretty easy to configure:

* Read a file
* Add the contents to the CF template

[2016-07-18 16:07] jflasher commented on #1585
Going to close myself after thinking it through a bit more. I installed [brfs](https://github.com/substack/brfs) and made sure to add it as a transform to optimizer like so

[code]

[2016-07-18 16:07] #1585 closed

[2016-07-18 16:12] patoncrispy commented on #1586
Would it be possible for me to implement this feature? I'd like to start contributing to Serverless in some way, so if not this task then maybe something else?

[2016-07-18 16:17] ac360 commented on #1586
@patoncrispy Absolutely :)  You're fantastic, @patoncrispy.  We read all of your posts.  /cc @eahefnawy could he get started on this?

[2016-07-18 16:48] flomotlik commented on #1593
@ac360 yup agreed, implementation isn't hard by itself, just need to make sure we fully understand what we can do and how people want to configure it.

[2016-07-18 16:51] pmuens commented on #1598
Yes. Would also vote for a well documented custom CloudFormation resource to reduce config for now.

We should document this whole custom resource thing even better because basically any feature which kind of prevents users from using Serverless alpha (because of a lacking featureset) could be done with the help of a custom resource until we've implemented it in a "syntactic sugar" way into the pl

[2016-07-18 16:52] flomotlik commented on #1598
yup agree on this, custom config for people with good documentation

[2016-07-18 16:59] flomotlik commented on #1567
Yup that makes total sense. Not clear what its for if its just config, or how it relates to provider or other things.

Imho 2 ways forward (if you have others please propose):

1. Make the provider config optionally an object

[code]

[code]

2. Special provider config field (or something similarly named)

[code]

The main issue I see with both is that its pretty provider focused, but I think I pr

[2016-07-18 17:28] ac360 commented on #1567
@flotmotlik Great thinking w/ the first option.  I'm going to keep pondering it.  But ATM, I like option #1 because it means less root properties!  Check out @eahefnawy's API Gateway issues.  Function config may need to be put in another sub-property, to make room for other useful data in `provider`.

[2016-07-18 17:35] eahefnawy commented on #1567
@ac360 yep we still got serverless variables that you can reference. I'm with ya about the config key, but I still not feeling comfortable putting the config at the highest level for the reasons @flomotlik mentioned before. I like @flomotlik ideas above by setting a provider object. it's a patter that we are already following

[2016-07-18 19:06] patoncrispy commented on #1586
@ac360 :D Thanks so much! No pressure now! :)

[2016-07-18 19:35] alexcasalboni commented on #1209
Hi guys,

I have updated the README [here](https://github.com/alexcasalboni/serverless-starter-python).

The import error occurs only if you don't pip install your Python dependencies.

You can find a more detailed explanation [here](https://github.com/alexcasalboni/serverless-starter-python/issues/2).

[2016-07-18 21:40] erikerikson commented on #1582
This is awesome.  This could be particularly useful if it included distinguishing the consequences of a modification.  This file is a CFT and requires update of the stack.  Time to redeploy my gateway.  This one is a code file deployed in lambdas X, Y, and Z which must now be deployed.  Et cetera.

[2016-07-18 22:23] codepreneur commented on #1586
cant wait! 👍

[2016-07-18 22:59] ploopaltar commented on #1439
So we are using these permissions for the s3 client:

Permissions
--------------
s3:GetObject
s3:GetObjectVersion
s3:PutObject
s3:DeleteObject
s3:CreateBucket
s3:DeleteBucket
s3:ListBucket
s3:ListBucketVersions
s3:ListAllMyBuckets
s3:GetBucketVersioning
s3:PutBucketVersioning
s3:GetBucketLocation
s3:PutBucketPolicy
s3:GetBucketWebsite
s3:PutBucketWebsite
s3:DeleteBucketWebsite

[2016-07-18 23:52] ellucianBret opened #1601 "creating-a-service.md documents using --template rather than --provider and --name for 1.0.0-alpha.1"
Serverless Framework Version: 1.0.0-alpha.1
Operating System: Mac OSX 10.11.5

Expected Behavior: Create new Serverless service as documented in creating-a-service.md. As documented it shows "serverless create --template aws-nodejs"

Actual Behavior: Serverless Error -- This command requires the --name option. Please pass it through. :)

Change create-a-service.md to show it as: "server less creat

[2016-07-19 02:11] xtenix commented on #1439
Are these S3 policies needed for runtime, deployment time, or both? This thread is really only concerned with permissions required to deploy a serverless application. Are you finding these S3 policies are also necessary to deploy your serverless app?

[2016-07-19 06:36] str3tch commented on #1439
Hi Ron,

Yes, we need the s3 permissions to deploy our serverless application as we are using the serverless-client-s3 plugin to deploy files to s3, along with the lambda code. I think this is a quite common use case. So having these permissions helps us.

cheers,
Chris

[2016-07-19 06:41] pmuens commented on #1567
Also like the idea to make it optionally an object and keep everything provider related there.

However I also think that this should be a place for more general provider related configs and not event specific configuration such as APIG. This config should live inside the events object of the corresponding event.

[2016-07-19 08:34] eahefnawy commented on #1567
@pmuens what if a certain event config is not tied to a specific function? The `events` object is inside each function, so we can't use that. We gotta figure out a way to set the "general" event config that is applicable to the entire service (rather than the function).

IMO if it's a service wide config (whether event related or not), it should live inside that `provider` object, otherwise there'

[2016-07-19 08:52] eahefnawy commented on #1586
@patoncrispy definitely and thanks for that! We were just thinking about that and discussing it in #1596  . Let's move the discussion there 😊.

[2016-07-19 08:58] eahefnawy commented on #1596
@patoncrispy suggests this structure:

[code]
This provide more options for users, but it's a bit more complex. Plus, it seems that this is a service wide config. @patoncrispy do you think this is necessary? Why not just enable CORS for specific endpdionts, and users can always user serverless variables or JSON-REF if they wanna stay DRY.

So I vote for the following:

[code]
This will enable cors

[2016-07-19 09:06] eahefnawy opened #1603 "Document how to create HTTP proxy via CF & APIG"
As discussed in #1598 , we need to document how to create http proxies using CF & APIG. This will probably need two CF templates, one for the resource, and the other for the method. We need to provide these templates to the users and let them know how to reference the logicalIds of the created rest api.

[2016-07-19 09:07] eahefnawy commented on #1598
Cool. Seems that we all agree on Custom CF template. I'm gonna close open another issue for adding the templates to the docs. Off the top of my head I think it's gonna require two CF templates, one for the resource (the endpoint path) and one for the method (which will include config for the proxy uri).

**Update:** Here's the new issue:
https://github.com/serverless/serverless/issues/1603

[2016-07-19 09:11] eahefnawy commented on #1594
@ac360 I think this will be pretty easy now that we're using CF. We'll simply `GetAttr` the function ARN by referring to the function logical ID (we're already doing that all over our events). And since we have a CF template for each stage, staging should work out of the box.

[2016-07-19 09:13] eahefnawy commented on #1594
@ajagnanan you mean a function that is not managed by Serverless? hmmm theoretically we can, but I'm not sure about the use cases of this. It might cause the config to be a bit confusing/messy.

@flomotlik what's your thoughts on this?

[2016-07-19 09:23] eahefnawy commented on #1584
@flomotlik does that mean if I write a custom plugin, it won't live in its own repo (on my profile), and I have to PR all files of this plugin to this shared repo? If so, I think that's not super great. I think most plugin authors will want to showcase their plugins along their other projects/repos on their Github profile/portfolio for more credit and acknowledgment.

Maybe @pmuens [awesome-server

[2016-07-19 09:27] eahefnawy commented on #1582
Yep, just like @nikgraf mentioned before, if we could just make deployment "fast enough", we wouldn't really need offline support at all, and testing on the `test` stage would be a much more accurate test.

[2016-07-19 09:34] eahefnawy commented on #1601
@ellucianBret you're :) ... We've updated the docs before releasing these changes. We will release Alpha 2 very soon and this will no longer be an issue.

Thanks for reaching out! 😊

[2016-07-19 12:11] flomotlik opened #1604 "Catch Errors for Tracking"
##### Feature Request:

Catch Error when you can't read/write to install location of serverless to disable tracking
##### Benefits:
- No errors thrown to users when disabling tracking

/cc @pmuens

[2016-07-19 12:15] mthenw commented on #1596
I really like @eahefnawy approach. It's simple and follows the same pattern with simple/extended config. Less confusing as whole config is under cors key, not somewhere else.

[2016-07-19 14:11] rajington commented on #1584
I'm  fine with either approach, but would submodules like in [this repo](https://github.com/getpelican/pelican-plugins) be better @eahefnawy?

I think the main concern with submodules is that I could release 'serverless-alexa-plugin', then there could be some breaking change, and sls wouldn't be able to instantly push a fix in my repo without my involvement. Is that right?

[2016-07-19 14:22] pmuens commented on #1596
I would like to keep the event related config inside the event object (like @eahefnawy showed with the last example) so that it's near to each other and kind of "encapsulated" logic which is easy to find and follow along.

[2016-07-19 14:23] #1559 closed

[2016-07-19 14:32] pmuens commented on #1567
@eahefnawy yes. Good catch! That might be a common problem.

The only thing I would like is to separate the event config as much as possible from the "general" provider config (and vice versa) so that it's only added there when there's no other way around it.

But if this is not possible we should move it somewhere else. The provider config is fine for me.

[2016-07-19 14:35] pmuens opened #1605 "Track how many of which events are inside serverless.yaml"
It would be really valuable to get the event name and the count (how often it's used inside the service).

E.g. like `s3: 10x, http: 5x`.

/cc @eahefnawy @flomotlik

[2016-07-19 14:37] pmuens opened #1606 "Save tracking information locally and only sync when X trackings are stored locally"
The trackings should be stored locally and only send when the queue is "full". This way tracking would be more efficient on the users machine.

/cc @flomotlik @eahefnawy

[2016-07-19 14:38] pmuens opened #1607 "Add possibility to add own event topic in SNS event plugin"
The user should be able to set his own topic as the topic which is used by the SNS event plugin.

/cc @mthenw @flomotlik @eahefnawy

[2016-07-19 14:42] pmuens opened #1608 "Add Kinesis stream event source"
Kinesis stream support is an often heard requirement.

We should make it possible for the user to add an own ARN in the event syntax.

/cc @flomotlik @eahefnawy @mthenw

[2016-07-19 14:44] pmuens opened #1609 "Add force switch for resource / stack removal"
Stack removal fails e.g. if a bucket in the stack has items in it.

We should check for exisiting items in the S3 buckets and prompt that the user can not remove the stack because of the existing items in the buckets.

The `--force` or `-f` switch should be available so that we remove the items in the bucket and the removal process succeeds.

/cc @eahefnawy @flomotlik

[2016-07-19 14:47] xtenix commented on #1439
Thanks @str3tch for the clarification. This has me thinking out loud... I'm questioning whether it would be best to co-locate all possible permissions used by serverless, its plugins, your application code etc. That would certainly be simpler, but that sort of union problem might be hard to maintain, and introduce the union of all possible permissions which would often be too much. There is a dist

[2016-07-19 15:05] pmuens opened #1610 "Capture errors statistics"
Right now error won't be tracked at all. We should add a way to track those to see what went wrong and how we can fix the bug.

/cc @flomotlik @eahefnawy

[2016-07-19 15:15] mkgalloway opened #1611 "Ctrl+Enter deploy hotkey does not work in OS X"
##### Serverless Framework Version:
v0.5.6
##### Operating System:
OS X 10.11.4
##### Expected Behavior:
In `dash deploy`, `ctrl + enter` should "immediately deploy selected" items, as the help message implies.
##### Actual Behavior:
Pressing enter toggles the selected/not selected state of the current item, but does not move the cursor to the next item.

Presumably, this is due to https://github.

[2016-07-19 15:42] shortjared commented on #1559
Please make this OPT IN not OPT OUT. I'm more than happy to "allow anonymized tracking to help improve the product" when asked, but i want to know it's happening.

In addition, plugin authors need to very much understand exactly what this does. some plugins by their nature may be running commands with sensitive data, and i want to be sure that isn't shipped off to tracking systems.

[2016-07-19 15:50] patoncrispy commented on #1596
Apologies, but your final example @eahefnawy had been my initial intent. :) I think allowing endpoint-specific config will be really important. As for defaults, following the [AWS developer guide](http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html), I would suggest perhaps:

[code]

In this instance, the `Access-Control-Allow-Methods` option is set to whatever HTTP endpoi

[2016-07-19 15:55] doapp-ryanp commented on #1486
Funny how things come full circle :) I'm with @flomotlik 's last comment. Thats exactly how I had it architected in JAWS (could pass S3 bucket to use as CLI opt when creating project).

Only thing I'd add is when your naming the bucket, please include the region name in it. Ex: `uswest2-sls-projName-UUID`. As you know when interacting with S3 u need to know what region it is in. Having region name

[2016-07-19 16:06] eahefnawy commented on #1596
@patoncrispy that's perfect! 😊 Let's do that then. When someone has the following config:

[code]
In the background, this will translate into:

[code]
and if the `cors` property is an object rather than a boolean, then whatever that user sets in there will be deployed (I'm guessing well need some validation in that case).

@flomotlik @pmuens any further thoughts?

[2016-07-19 16:15] eahefnawy commented on #1605
Nice! we can take that to the next level and track lots of other properties too for BI. We can answer the following Qs:

- What's the most used runtime?
- What's the average number of functions per service?
- What's the average size of a service?
- How often do users use custom plugins?
- How complex is an average `serverless.yaml` file?
- What's the most used region? and what's the average number

[2016-07-19 16:31] codepreneur opened #1614 "Deploying on 1.0.0-alpha.2 is impossible (Cannot read property 'OutputValue' of undefined)"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/16957918/5000e39c-4dd6-11e6-992c-025c0b8bf7f5.png)

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421

[2016-07-19 16:32] wasenbr opened #1615 "Deploy error: Cannot read property 'OutputValue' of undefined"
Serverless Framework Version: alpha 2

Operating System: Win 10

Expected Behavior:
deploy
it works on alpha 1 version

Actual Behavior: error:
Serverless: Zipping service...

  Type Error ---------------------------------------------

     Cannot read property 'OutputValue' of undefined

     For debugging logs, run again after setting SLS_DEBUG env var.

  Get Support ---------------------------

[2016-07-19 16:40] eahefnawy commented on #1614
Thanks for the quick report @codepreneur 👍 ... I just tried to reproduce but wasn't able to. Is that a fresh serverless service?

looking at the code, it seems that for some reason the stack does not exist. Is there something specific about your service that might be relevant?

[2016-07-19 16:57] eahefnawy commented on #1615
@wasenbr is that the same service you were working with Alpha 1? If so, I don't think it'll work since there are now required output variables that didn't exist in Alpha 1. So you need to create the stack from scratch.

@pmuens any further thoughts here?

[2016-07-19 16:59] codepreneur commented on #1614
@eahefnawy if you want to reproduce the issue here is all the code that I am trying to deploy

![image](https://cloud.githubusercontent.com/assets/3421858/16958906/7d066700-4dda-11e6-8463-00d18ab95688.png)

[2016-07-19 17:03] ajagnanan commented on #1594
Yea, so currently i have 3 serverless services, and the 1st one contains the custom authorizer. Currently we need the custom authorizer s-function in the service for it to work, so I have to copy/paste it into the 3 services. It would be awesome if we can just reference existing custom authorizers to avoid copy/paste issues.

[2016-07-19 17:03] codepreneur commented on #1615
I opened this very same issue (#1614) literally a minute before you did

[2016-07-19 17:06] eahefnawy commented on #1614
is it the same service you've been using before updating to Alpha 2?

[2016-07-19 17:07] piohhmy commented on #1235
+1 Seeing this too...

[2016-07-19 17:08] codepreneur commented on #1614
This service deploys perfectly with Alpha 1, but throws this error with Alpha 2 and I think this issue is to do with this particular variable `serverlessDeploymentBucketName` that gets created when creating a service from scratch with alpha 2 but is not created with alpha 1

[2016-07-19 17:10] eahefnawy commented on #1614
Yep exactly. This is a breaking change in Alpha 2. So services created with Alpha 1 won't work with Alpha 2. What you can do is remove the service (maybe with Alpha1) and deploy it again with Alpha2. This way the stack should be updated to work with Alpha 2

[2016-07-19 17:17] codepreneur opened #1616 "Creating a service with 1.0.0-alpha.2 completely ignores the --name parameter/option and uses "aws-nodejs" instead"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

To not ignore `--name` parameter and name the service accordingly

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/16959413/e52e48c8-4ddc-11e6-8a24-bca3a738

[2016-07-19 17:20] eahefnawy commented on #1616
We removed the `--name` option completely. You can now only generate a template (in the current directory), and then name the service/template whatever you like in the `service` property of `serverless.yaml`. We think this makes using the CLI much easier. What you think about this change?

[2016-07-19 17:37] codepreneur commented on #1616
I think removing the `--name` option is bad user experience unless there is a message somewhere telling the user that the service has been named "aws-nodejs" by default and the user should rename it before deploying.

I think the best solution is to keep `--name` option, but have some service name by default if the option is not specified.

[2016-07-19 18:09] codepreneur opened #1617 "Removing a service with 1.0.0-alpha.2 CLI gets stuck"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

To not get stuck

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/16961129/13360132-4de4-11e6-8f16-498c48d4734f.png)

Although resources are removed when I

[2016-07-19 18:53] wasenbr commented on #1615
I created the stack from scratch with alpha 2 and it works .

Thanks!!

[2016-07-19 19:24] BernhardLenz commented on #499
@ecwillis @eahefnawy @ac360  Thanks all for the detailed information about this problem! What I am trying to do is to NOT use couldfront to create new roles but instead re-use existing roles for my lambda (e.g. the commonly used `lambda-s3-execution-role`). For that I changed the custom-role in s-function.json to `customRole": "arn:aws:iam::xxxxxxxxxxx:role/lambda-s3-execution-role`. However with

[2016-07-19 20:11] danielesegato opened #1618 "Feature request: dependency between serverless services"
##### Feature Request:

Ability to publish a serverless project and to add it as dependency.
It should use the same profile and stage of the current project.
It has to be deployed before the current serverless project.
##### Benefits:

To explain why I ask this I have to explain what I did.

If I could package my side-serverless-project and **reference it as dependency** I could make this seamless

[2016-07-19 21:36] pmuens commented on #1574
The solution to the problem is that a new service should be created (rather than using the old service creation we've done in alpha 1 (See https://github.com/serverless/serverless/issues/1615 and https://github.com/serverless/serverless/issues/1614).

We need to update our integration tests to reflect the recent changes of alpha 2.

[2016-07-20 00:20] erikerikson commented on #1486
Yar!

2 is a must have for us.  We appreciated that we would give bucket `${BUCKET}` and the artifacts would be placed in ${BUCKET}/Serverless/..., separated as appropriate by region/environment*/et cetera.

By convention, not mandate, yes/please?

* prefer "environment" (standard industry language) over "stage" (ApiGateway naming artifact)

[2016-07-20 01:53] tengis commented on #1591
@Cabsy i think you can do that on v1.0 https://github.com/serverless/serverless/blob/v1.0/docs/understanding-serverless/serverless-yaml.md

Please have a look **package** config

[2016-07-20 02:45] tengis commented on #1485
i have exact same issue

[2016-07-20 06:16] tengis commented on #1485
solved
`
                - http:
                    path: greet
                    method: get
`

to

`
                - http:
                  path: greet
                  method: get
`

[2016-07-20 07:13] pmuens commented on #1559
Hey @shortjared
thank you for your comment about this.
We're very concerned about privacy and don't track any sensitive information about users or projects the users are working on.

We also don't track any data specific to plugins.

Right now we track the following things:
- Entered command(s) (​*not the options the user has entered*​)
- Operating system
- Loaded plugins
- Serverless version
- Nu

[2016-07-20 07:32] eahefnawy commented on #1469
We currently need the AWS account number to construct the Lambda Uri. However, another way to do it without the account number is to use CF join function. Something like:

[code]

[2016-07-20 07:42] vmadman commented on #1598
Pardon me if I've put this in the wrong place, but, I was wondering if anyone has considered the idea of facade layers in Serverless.

The `http` events seem to infer that each service should have its own AAG API, which is fine and proper.. but, as a best practices policy, we try to unify our APIs using a facade layer that standardizes our APIS and obfuscates our back-end service structure.

For e

[2016-07-20 09:19] pmuens opened #1621 "Replace node-zip package with plain js-zip package"
Right now we use `node-zip` as our zipping package. However `node-zip` is "outdated" and uses `js-zip` under the hood. We should switch to plain `js-zip` so that we always get the latest features and have more functionality of zipping.

[2016-07-20 09:26] gebrits opened #1622 "Redeploying Lambdas increases file size as reported by Lambda Management Console"
When doing `sls function deploy` multiple times (i.e.: after updating code) the file size as reported by Lambda Management Console increases. e.g.:

After a while it's listing

Removing the lambda from the management console and doing a `sls function deploy` afterwards solves it.

Is this expected behavior?

[2016-07-20 09:37] HyperBrain commented on #1486
One question: Is the use of aliases and named versions for publishing lambda functions to environments (stages) still an option, instead of naming the lambda functions? For us the number of functions will explode if every environment gets its own function.

Supporting aliases and versions should be possible with CloudFormation using the **AWS:Lambda:Version** and **AWS:Lambda:Alias** CF types. Wit

[2016-07-20 11:04] eahefnawy commented on #1486
@HyperBrain its dropped for now. But I see your concern. Does your usecase require handling stages with aliases? or we could just add support for aliases/versions in general and that could work for you?

The issue with handling stages with aliases/versions that we've found over the months is that not all event sources and other AWS services are aware of this `Qualifier` or versions/aliases. Didn't

[2016-07-20 11:08] eahefnawy commented on #1598
@vmadman hmmm interesting suggestion! So reflecting what you said with Serverless/Services, that would mean adding the ability for services to share the same rest api? is that what you have in mind?

[2016-07-20 11:08] pmuens opened #1626 "Add tests for tracking method"
The test coverage of the tracking method is not the best right now. We should add some tests soon!

[2016-07-20 11:09] ploopaltar commented on #1439
I guess one of the challenges we had and still have is that there are some permissions which we feel serverless does not need but seems to be required for the deployment process using the s3-client.

As a starting point clarity around why each permission is needed and at which part of the deployment process would help get us to the point where we can have permissions grouped according to the phase

[2016-07-20 11:24] eahefnawy opened #1627 "Organize & Refactor CF Logical Ids"
CF logical Ids naming standards are not super organized and not very predictable. Specially with APIG. It contains numbers and other variables, which is sometimes necessry, but sometimes it's not.

We should take another look at it and reorganize/refactor it now that we have a clear picture on which resources need to be referenced using this logical Id and make sure they're following a predictable

[2016-07-20 11:30] pmuens commented on #1627
Yes. Good idea! I too dislike the current convention which is also not that easy to understand (I have to look it up every time I work on a new plugin).

Here are related issues:

- https://github.com/serverless/serverless/issues/1357
- https://github.com/serverless/serverless/issues/1303

[2016-07-20 11:32] HyperBrain commented on #1486
@eahefnawy Since the latest improvements in the AWS lambda web console, it is far more centric on aliases than on versions. e.g. you now have the prominently placed "Qualifier" selection button in there.

For us, we heavily depend on the stages/aliases as we use the Qualifier property for our lambda calls.
Regarding the event sources. In my experience this is the exception. For these few that do n

[2016-07-20 12:02] codepreneur commented on #1614
Another problem with this, is that its impossible now to remove existing Alpha 1 services/lambdas and have to be done manually via AWS console...

[2016-07-20 12:03] codepreneur commented on #1622
What is your serverless version ?

[2016-07-20 12:05] codepreneur commented on #1357
Please dont introduce any more breaking changes...

[2016-07-20 12:17] fruffin commented on #1520
I get the same error: 'e.message.split is not a function'.
I'm on Windows 10, using node 4.3.0

[2016-07-20 12:24] fruffin commented on #1520
Actually I found what my problem was. The keys I was using were for a user with very limited access so it couldn't create the stack.
Once I fixed the permission problem it is now deploying correctly.

Still, the error message could be more explicit (I know, it's an alpha version :) )

[2016-07-20 12:38] codepreneur opened #1628 "serverless remove does not work with Alpha 1 projects even if I add serverlessDeploymentBucketName"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/16986546/037da4fc-4e7f-11e6-9e7c-6d51c39dcd69.png)

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421

[2016-07-20 12:52] codepreneur opened #1629 "serverless deploy does not work with Alpha 1 projects even if I add serverlessDeploymentBucketName"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/16986900/0fafa20a-4e81-11e6-9df0-4311b62b88ce.png)

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421

[2016-07-20 13:35] eahefnawy commented on #1357
@codepreneur we're still in Alpha, breaking changes are unavoidable and expected :)

[2016-07-20 13:37] eahefnawy commented on #1486
@HyperBrain Perfectly said 😊 ... let's see what @flomotlik thinks of this.

[2016-07-20 13:40] eahefnawy commented on #1622
@gebrits since you're using the `sls function deploy` command I'm guessing you're on version 0.x...in that serverless version, we publish a new version of your function on each deployment, so the old deployments are also kept in AWS. This allows you to version control your functions and its a flow that is recommended by AWS. So yep, that's expected.

Also remember that the limit for Lambdas that y

[2016-07-20 13:51] eahefnawy commented on #1594
This is now implemented in [PR 1620](https://github.com/serverless/serverless/pull/1620).

You can set an authorizer simply with:

[code]
or:
[code]
Both of these examples are identical. The second example lets you modify the defaults. Of course the referenced authorizer function must exist in your service. @ajagnanan let's see what @flomotlik think about that and maybe we can implement an "outsid

[2016-07-20 14:13] ajagnanan commented on #1594
sounds good!

[2016-07-20 15:02] svdgraaf opened #1630 "Binary permissions issue (executable)"
##### Serverless Framework Version:
1.0

##### Expected Behavior:
Binaries are not uploaded as-is, executables are not accessible

##### Actual Behavior:
The zipping of the binaries ignores the file permissions, resulting in non-executable binaries on Lambda. As was also the issue with the non-alpha version (see: https://github.com/serverless/serverless/issues/960)

I'm working on a PR (simple fix

[2016-07-20 15:04] svdgraaf commented on #1630
PR is: https://github.com/serverless/serverless/pull/1631

[2016-07-20 15:05] connaryscott commented on #1077
It appears that if an sns topic already has a lambda subscriber endpoint, the following execution:

[code]

may do nothing because it is trying to add another endpoint to this sns topic?  --debug does not seem to add anything interesting to this.   I would like the ability to have an sns topic to have more than one endpoint subscription w/o using the console or some other out of band process.

[2016-07-20 15:42] shortjared commented on #1559
Thanks for the clear response. Perhaps consider an explicit disclaimer, or disable / enable question at service creation.

I am not too worried about tracking as a whole and plan to enable it for most projects, but explicitly being told it is happening and being given the option to opt out fosters more trust.

[2016-07-20 17:23] ChristianDavis opened #1632 "quickstart deploys fails e.message.split is not a function"
##### Serverless Framework Version:
1.0.0-alpha.2
##### Operating System:
Win 10
##### Expected Behavior:
Deploy
##### Actual Behavior:
Error
e.message.split is not a function

##### Additional Details:
This came from following the quickstart directly, and it suggests:
For debugging logs, run again after setting SLS_DEBUG env var.

But, quickstart docs doesn't have any further directions on this,

[2016-07-20 17:44] ChristianDavis commented on #1632
AWS default profile wasn't setup correctly. After following http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html,
got past this error

[2016-07-20 17:44] #1632 closed

[2016-07-20 18:57] gebrits commented on #1622
Ok cool. Makes sense.

[2016-07-20 18:57] #1622 closed

[2016-07-20 21:13] alanwill commented on #1077
@connaryscott agreed, that's exactly what I'm seeing.

[2016-07-21 01:29] tengis commented on #1485
Hey guys @pmuens @danhumphrey i think i found a answer. i saw the weird error on my console.
<img width="1194" alt="screen shot 2016-07-21 at 11 26 15 am" src="https://cloud.githubusercontent.com/assets/358442/17008592/f7647620-4f35-11e6-9970-5f1e19327752.png">

then i spoken about this AWS support. They said

So they gonna release feature soon but no ETA

[2016-07-21 01:31] jvallarvisp commented on #1287
I was reproducing this issue. I only delete the project and
git clone
npm install
sls project init

[2016-07-21 03:18] woodlandh commented on #624
Was #576 (required for this issue) implemented? I know it was planned but I can't find any follow-up.
Thanks!

[2016-07-21 04:40] ivawzh commented on #1455
Am I right that in alpha 2 we are not able to access to environment variables at all?

[2016-07-21 06:05] pmuens commented on #1485
@tengis thanks for doing a follow up with a detailed description!

Would be interesting to know if @nilskassube is also using SYD.

[2016-07-21 06:20] pmuens commented on #1596
Looks good. But I still have both options to specify a simple `true` but also the more complex config object, right?

[2016-07-21 06:41] rehrumesh commented on #643
Any idea how to do this with visual studio code or atom?

[2016-07-21 07:44] eahefnawy commented on #1596
yep

[2016-07-21 07:54] flomotlik commented on #1596
looks great

[2016-07-21 08:30] patoncrispy commented on #1596
Is it OK for me to get started on this then? :)

[2016-07-21 08:57] activescott commented on #1614
is there a tag or a known commit hash for alpha1 so we can back up and remove without resorting to AWS console?

[2016-07-21 09:23] eahefnawy commented on #1596
yep @patoncrispy go ahead  ... Thanks for pitching in! 😊 💃

[2016-07-21 09:25] patoncrispy commented on #1596
Woop! :smiley: :tada: Thanks to @flomotlik for updating the CONTRIBUTING.md guide!

[2016-07-21 09:26] eahefnawy commented on #1509
@RudolfVonKrugstein FYI support for Custom Authorizers has been added in [this PR](https://github.com/serverless/serverless/pull/1620). Hasn't been merged or released yet :)

[2016-07-21 09:38] eahefnawy commented on #1489
This should be easy to implement:

[code]
We'll just grab these configs and pass it to the Lambda CF template.

[2016-07-21 15:26] eahefnawy commented on #1586
Closing this since we're now tracking this in Issue 1596

[2016-07-21 15:26] #1586 closed

[2016-07-21 15:32] eahefnawy commented on #1594
@ajagnanan I think the way we could add support for this is that you would simply provide the arn of the lambda you want to set as a provider instead of the name of the Serverless function:

[code]
or
[code]
We can then detect that this is an arn rather than a function name based on that arn format and set it for you.

One thing I dont like though is that you're providing an arn to the `name` prop

[2016-07-21 15:40] ajagnanan commented on #1594
Could possibly throw an error if both name and arn is provided too

[2016-07-21 15:50] eahefnawy commented on #1597
From AWS guide on caching:

[code]
This could slow down deployment significantly, but it is up to the user whether it's worth it to optionally use caching or not.

[2016-07-21 15:54] woodlandh commented on #1129
I realize this is closed, but for documentation's sake I've encountered this bug as well. Casting as a string was a successful work-around for me, too.

* serverless@0.5.6
* OS X 10.11.5
* python 2.7.11

[2016-07-21 15:59] eahefnawy commented on #1594
or we can set arn as higher priority, so if you provide both we'd use the arn. Or you think that would be confusing?

[2016-07-21 16:03] eahefnawy opened #1637 "Multi Worded keys in YAML files should not be camelCased"
camelCasing YAML keys is unconventional. We should switch to either an underscore or a dash between words.

[2016-07-21 16:18] ajagnanan commented on #1594
I think as long as its in the docs it'll be ok, thanks for adding this btw!

[2016-07-21 17:43] flomotlik commented on #1597
I think Caching is a cool feature, I don't know if we already have enough info on how to implement it or which config values are important. Do we already have some people asking for it? Otherwise I would keep it open here and wait for more feedback going forward.

[2016-07-21 17:45] flomotlik commented on #1596
yeah sorry @patoncrispy totally get started on this one. Very much appreciate the help and I'll make sure to be more specific on when I think its good to go (something we already discussed internally we want to do better). Thanks for the reminder :)

[2016-07-21 22:13] SimpleSimonC commented on #1235
I'm also having this problem

[2016-07-21 23:39] str3tch commented on #1439
@xtenix That's an interesting idea, but the problem I would face with getting that through here at work is that the engine would require IAM role create privileges to dynamically create new policies. And we're trying really hard here to restrict those, and not have service accounts have those elevated rights. I think the approach that you've taken is fantastic, split them up into separate policies

[2016-07-22 01:42] rajington commented on #1637
I vote for hyphens (kebab-case). It seems to be a slightly more popular choice in YAMLs, and it matches well with `us-east-1` and plugin names like `serverless-optimizer-plugin` which would also appear in sls YAMLs.

[2016-07-22 01:46] activescott commented on #1615
FYI: As mentioned [here](https://gitter.im/serverless/serverless?at=579176bb9d1dc62e491676b3) this also appears to happen when a deploy fails and gets the cloudformation stack into a bad state.

[2016-07-22 02:11] activescott opened #1638 "Deploying when cloudformation stack is in bad state causes error `Cannot read property 'OutputValue' of undefined`"
Related to #1615 and #1614

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
1.0.0-alpha.1

##### Operating System:
osx 10.11.5 (15F34)

##### Expected Behavior:
a more actionable error message indicating the cloudformation stack is in a bad state

##### Actual Behavior:

##### Stack-Trace (Optional):

    TypeError: Cannot read property 'Out

[2016-07-22 04:56] eahefnawy commented on #1637
@rajington agreed!

[2016-07-22 05:04] activescott opened #1640 "Need ability to add additional mapping templates for request templates"
##### Feature Request:

Requesting the ability to add additional request templates. I want to trigger the mapping template for a new request content-type. In this case `Content-Type: application/scim+json`.

##### Benefits:
This is necessary to implement the standardized REST-based SCIM APIs (brief example at https://tools.ietf.org/html/rfc7644#section-3.3)

Since there is no way to specify the re

[2016-07-22 05:26] xtenix commented on #1439
Hi @str3tch

Yes, I agree and I consider that as a challenging workflow issue for how policy changes are routed to proper authorities for review and deployed. In short, the AWS profile you are using to deploy your serverless app cannot be the same one used to deploy these policies. That would fundamentally defeat the purpose, because that AWS profile could choose to create an admin policy, and tha

[2016-07-22 05:30] activescott commented on #1640
similarly, will need response templates: http://stackoverflow.com/questions/31329495/is-there-a-way-to-change-the-http-status-codes-returned-by-amazon-api-gateway

[2016-07-22 05:40] eahefnawy commented on #1640
Thanks for reaching out @activescott ... It's an interesting use case you have there. We're currently discussing supporting this [in issue 1593](https://github.com/serverless/serverless/issues/1593), but we're not super sure about the exact needs/use cases.

Could you please add your thoughts there? 😊 ... It'll help us push this forward and support it for you :)

[2016-07-22 05:47] eahefnawy commented on #1597
I think implementation won't be hard at all. @HyperBrain what you think? are you using caching at all?

[2016-07-22 05:49] pmuens commented on #1638
Related to https://github.com/serverless/serverless/issues/1574

Will be fixed with https://github.com/serverless/serverless/pull/1639

[2016-07-22 07:28] activescott commented on #1593
As I mentioned in #1640 I am trying to implement a standardized REST-based API and I just need access to incoming request headers with non-typical content-types and ability to set outgoing response headers and content types. On my case for SCIM 2.0, but I'm sure there are other scenarios.

I think the velocity templates are a moronic PITA, and if you searxh around about them nobody understands the

[2016-07-22 08:32] #1638 closed

[2016-07-22 08:33] pmuens commented on #1574
Should be solved with https://github.com/serverless/serverless/pull/1639

[2016-07-22 09:16] HyperBrain commented on #1597
Nope. I wanted to do some experiments with API caching, but with a very low prio, as even my AWS contact downvoted the feature because it is very hard to setup and even predict the effectiveness when using with parameterized endpoints.
I remember that there was an old issue for 0.5.x where there was a complaint about the setup og the caches in SLS.

[2016-07-22 09:32] flomotlik commented on #1597
ok, lets wait for more use cases, seems like it would be pretty simple to implement in the future

[2016-07-22 09:37] flomotlik commented on #1593
@activescott do you think we won't be able to do this through default templates? E.g. give you a way to set headers and content types through a specific syntax that we provide, so you don't have to mess with Velocity templates at all?

I do think that we should provide a way to set your own template as well, but if we can provide a standard `syntax` for your output that gets translated into the co

[2016-07-22 10:01] flomotlik commented on #1559
@shortjared at the moment disable/enable works across the whole system. We've thought about being able to enable/disable it per project but it would simply add more config to the service.

But yeah agreed imho on project creation, help output or similar it should be openly presented

[2016-07-22 12:31] pmuens commented on #1605
Closed with #1625

[2016-07-22 12:31] #1605 closed

[2016-07-22 13:45] pmuens commented on #1608
@mthenw could you give some feedback what you would need here?

[2016-07-22 13:55] mthenw commented on #1608
As AWS SDK requires Kinesis stream ARN and starting position there is no need to make string version.

[2016-07-22 14:37] pmuens commented on #1498
@krol3 we've implemented a new naming in https://github.com/serverless/serverless/pull/1544

This should solve your problem.
Let us know if you face this issue again!

[2016-07-22 14:37] #1498 closed

[2016-07-22 14:39] pmuens commented on #1556
Resolved with https://github.com/serverless/serverless/pull/1639

[2016-07-22 14:39] #1556 closed

[2016-07-22 14:39] pmuens commented on #1479
Done on https://github.com/serverless/serverless/pull/1580

[2016-07-22 14:39] #1479 closed

[2016-07-22 14:41] pmuens commented on #1380
Done in https://github.com/serverless/serverless/pull/1579

[2016-07-22 14:41] #1380 closed

[2016-07-22 15:09] pmuens commented on #1514
Closed with https://github.com/serverless/serverless/pull/1642

[2016-07-22 15:18] #1514 closed

[2016-07-22 16:19] oriolgual commented on #1593
I'm also interested in this! I'm trying to integrate with Slack's outgoing webhook and the requests are always sent as `application/x-www-form-urlencoded`, so I need to set a template to transform them to JSON. Is there any way to do it now other than setting it with the AWS console?

[2016-07-22 16:59] flomotlik commented on #1593
@oriolgual could you provide an example Request that you're getting from Slack and what you want it transformed into? Imho from going through [the docs](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#input-variable-reference) I think we're able to provide a standard template that also makes your workflow possible (as it seems to be a pretty

[2016-07-22 17:01] flomotlik opened #1643 "Rename stage to Environment"
@erikerikson raised an interesting point in https://github.com/serverless/serverless/issues/1486#issuecomment-233804824

Currently we're using Stage as a name for dev,QA,production setup. While this does follow the API Gateway naming convention, typically when talking about QA/DEV/Production you would use the name environment.

This is quite a big change (not just in code, but in how we named thin

[2016-07-22 21:28] oriolgual commented on #1593
Sure! This would be an example request I receive from Slack:

`curl -XPOST https://apigateway/foo/bar -d 'token=Mwxll7OrsLINUc4yuOz2JgaP&team_id=T0001&team_domain=example&channel_id=C2147483705&channel_name=test&timestamp=1355517523.000005&user_id=U2147483697&user_name=Steve&text=Hello!'`

It would be OK if I could read it from the event as:

`event.data.channel_name` (and the same for the other p

[2016-07-22 21:29] oriolgual commented on #1593
I'm actually using a solution I found on StackOverflow: http://stackoverflow.com/questions/32057053/how-to-pass-a-params-from-post-to-aws-lambda-from-amazon-api-gateway

[2016-07-22 21:51] oriolgual commented on #1593
I've implemented a naive solution for it: https://github.com/oriolgual/serverless/commit/5ef828742c329fcfd675e53e0356d467993d77ce

I'm using it now and it works great and it also keeps the same structure as the original, inject all the form params as the event body.

[2016-07-23 05:41] pmuens commented on #1643
`environment` sounds good although I'm more familiar with the name `stage` (having a `testing`, a `development` and a `production` stage).

We have to make sure that we don't confuse the users with this `environment` as it's used at least twice when we make the change (`environment` variables and the renaming of `stage` to `environment`).

[2016-07-23 05:41] gregorskii commented on #1437
+1

[2016-07-23 05:50] pmuens commented on #1574
Unfortunately it's still not resolved completely. We need to investigate further if the S3 bucket e.g. needs some time to be created until it's globally accessible (and can be displayed in the `Output` section.

[2016-07-23 06:11] license2e commented on #1246
@flomotlik Sorry about the delay, here it is: https://github.com/serverless/serverless/pull/1644

[2016-07-23 06:13] pmuens commented on #1565
Resolved with #1641

[2016-07-23 06:13] #1565 closed

[2016-07-23 06:20] pmuens opened #1645 "Add Node.js and Python template READMEs to lib/plugins/create/templates/README.md"
https://github.com/serverless/serverless/pull/1644 introduces a new README section. We should add information about the `Node.js` and `Python` template there.

Should be done when https://github.com/serverless/serverless/pull/1644 is merged.

[2016-07-23 19:49] skurilyak commented on #1632
I ran into the same issue. I would consider adding AWS setup instructions to the Serverless documentation

[2016-07-24 00:07] codepreneur commented on #1582
Minification of lambda functions is very important.

[2016-07-24 00:26] codepreneur commented on #1591
@tengis what about minification? when will `serverless-optimizer-plugin` will be integrated into V1?

[2016-07-24 07:56] eahefnawy commented on #1643
To emphasize on @pmuens point, we also refer to stages/regions/serverless-vars collectively as environment (hence: `serverless.env.yaml`) ... imo this change might be confusing and I'm still not sure it's worth the effort. And I don't think the term `stage` is just an APIG convention. I've been familiar with the concept for years now and I think many users are.

[2016-07-24 16:11] dtslvr commented on #1287
I have the same issue with serverless 0.5.5. It's annoying :/

[2016-07-25 02:33] benaghaeipour commented on #887
Just had the same error using v0.5.6 but noticed I was missing the admin.env file containing
[code]

[2016-07-25 05:35] pmuens opened #1646 "Add better documentation for custom resources section in serverless.yaml"
We should add better documentation on how to use the custom resources section (as described [here](https://github.com/serverless/serverless/issues/1598#issuecomment-233387991)) so that users know that they can use anything CloudFormation can do without having to wait for us to implement a plugin for it.

[2016-07-25 06:19] pmuens commented on #1630
@svdgraaf thank you for that! Great to have you here!

[2016-07-25 06:52] pmuens opened #1647 "Make service name unique"
The service name is currently derived from the template we use to create the service.

This is problematic because two services who are created from the same template share the same name which yields to problem when deploying because the CloudFormation stack has the name of the service.

Service / CloudFormation stack names should have a unique value (like the serverlessDeploymentBuckt) so that th

[2016-07-25 07:41] pmuens commented on #1588
@janaka tried to reporduce it with the latest checkout of the v1 branch ((un)fortunately without success).

Seems like another change (maybe https://github.com/serverless/serverless/pull/1599) has resolved it.

[2016-07-25 07:42] #1588 closed

[2016-07-25 07:45] pmuens opened #1648 "Add correct indentation for events as objects in serverless.yaml and docs"
The current indentation of the events (if they are an object) is not correct.

It's

[code]

but should be

[code]

Should be done after https://github.com/serverless/serverless/pull/1644 is merged.

[2016-07-25 08:00] HyperBrain commented on #1643
For me it really does not matter in the end if it is named environment or stage. I worked for companies using both. The difference in my opinion is, that stage makes clear that you have a step-wise movement of builds or artifacts through different levels of stability. Environment is more the configuration of the system where the actual code runs on.

[2016-07-25 08:52] flomotlik commented on #1643
Yeah @HyperBrain @eahefnawy @pmuens agree with you guys, this probably introduces more pain than its worth right now. Imho we shouldn't do this.

[2016-07-25 08:52] #1643 closed

[2016-07-25 09:13] johey opened #1649 "e.message.split is not a function"
Trying out serverless for the first time, following the guide here: http://blog.serverless.com/serverless-v1-0-alpha1-announcement/

First thing, it seems like the syntax has changed for the create function, as it requires --template. So, trying:

    serverless create --name first-service --template aws-nodejs
    serverless deploy

then there is this error:

##### Serverless Framework Version:
1

[2016-07-25 09:24] flomotlik commented on #1647
Imho we can solve this by:

* Add a note to the serverless.yml that gets created to change the name
* Print a message to CLI to change the name after create

[2016-07-25 09:25] pmuens commented on #1563
Will be discussed in #1647

[2016-07-25 09:25] #1563 closed

[2016-07-25 09:50] pmuens opened #1650 "Metrics plugin"
Makes it possible to get metrics about the service.
The user can see service metrics with the help of the `serverless info` command.

**Metrics:**
- Function runtime
- Invocations
- Throttles
- Errors
- Percentile

**Questions:**
- Is this a global plugin or AWS related? (Do we need both?)
- Is this `service` wide of `function` wide?

What do you guys think @serverless/vip

/cc @flomotlik @eahefna

[2016-07-25 10:03] HyperBrain commented on #1650
In general I think this is a great idea. Whether it should be global or AWS related depends on the availability of similar metric services in the other providers' infrastructures. If it is not much effort, it can be integrated for AWS only first, and then published via a generic interface later.
How would you return the data? IMHO it should be possible to retrieve it in a human readable format as

[2016-07-25 11:31] johnsgp opened #1651 "Event rule is not created and there is no error message"
Serverless Framework Version: 0.5.5
Operating System: Windows 10

**Expected Behavior**: When two functions have the same "event" of type "schedule" and both have the same "name", either both event rules should be created in AWS or there should be an error message when running **sls event deploy**.  The s-function.json files both contain:

[code]

**Actual Behavior**: There is no error message but

[2016-07-25 11:35] eahefnawy commented on #1649
@johey This is a bug in our error handling code. Basically something went wrong and our handling made it even worse. This has been fixed and will be released soon.

Not sure if this is the issue, but we've dropped support for the `name` option. So it should just be:

[code]
After that you could rename your service to whatever you like by editing the `serverless.yaml` file. If you dont, your AWS ac

[2016-07-25 11:39] eahefnawy commented on #1650
@HyperBrain probably the "billed amount of time" ... It'll probably depend on AWS API, but not sure how accurate that might end up.

[2016-07-25 11:44] eahefnawy commented on #1646
We can do that by giving an example on supporting APIG Proxy as you mentioned. This way we'll let users know how to set up proxy and add custom resources at the same time 😉

[2016-07-25 11:49] pmuens opened #1652 "Add Serverless function based deployment plugin"
This plugin should make it able to deploy separate functions (instead of the whole service).

[2016-07-25 11:50] pmuens opened #1653 "Add Serverkess optimize plugin"
This plugin should make it able to optimize the functions code (e.g. minify) before deployment.

[2016-07-25 11:54] pmuens commented on #1582
Just updated the issues description mit links to the corresponding issues where we can discuss developer tooling plugins in detail!

Happy to have your feedback in the corresponding issues!

[2016-07-25 12:01] eahefnawy opened #1654 "Add Lambda Logging Support"
Add a new serverless command to show the logs of a certain function, optionally in a specific stage/region + tailing:

[code]

This command fetches the cloudwatch logs of the provided lambda function. Optionally, if the user provided the tail option, the log output will be persistent in the terminal session.

cc/ @flomotlik @pmuens

[2016-07-25 12:06] eahefnawy commented on #1654
More Options provided by AWS SDK:

- filterPattern: a pattern to filter the output of logs requested from CloudWatch
- duration: get the logs of the past hour for example
- pollInterval: control how often we check for new logs with the `--tail` option.

[2016-07-25 12:07] MrRio commented on #1654
I like the sound of this

[2016-07-25 12:18] JakubMatejka commented on #1437
@gregorskii You mean, you added `"functionAlias": "dev"` to s-variables file in `_meta/variables`? This doesn't work for me too.

[2016-07-25 12:25] pmuens commented on #1654
Is this logging function specific or does ist also support service level logging?

[2016-07-25 12:34] pmuens commented on #1572
Thanks again @mt-sergio. We've added a reference to the docs (see #1655)

[2016-07-25 12:34] #1572 closed

[2016-07-25 12:39] flomotlik commented on #1653
Do we need a separate plugin for that, or would it be possible to do this via build tools that people use? Imho great documentation on this would go a long way of setting this up in a nice way, but maybe people would prefer this in a plugin. @serverless/vip any thoughts on that?

[2016-07-25 12:50] pmuens commented on #1574
I think I found the cause why the integration test fails.

The integration test uses the `aws-nodejs` template. This template has one name `aws-nodejs` and is not changed during deployment. This means that if one tests has failed we have a stack with the exact name already present while the other Stack is deployed. This makes e.g. the Stack checking process which checks if the stack will be update

[2016-07-25 12:56] eahefnawy commented on #1654
hmmm I don't see a need for service level logging, it'd be way too noisy to combine all functions logs together in a single terminal session imo. Plus, we'll have to hack our way into supporting it since it's not really possible to combine the logs of multiple functions in AWS.

[2016-07-25 13:55] #1630 closed

[2016-07-25 14:41] ajagnanan commented on #1653
The optimize plugin worked really well for me for reducing function size. Yea, the browserify issues are there, but just gotta work around them. I think its pretty much a must have on any serverless project. I would rather have it as a plugin than setting build tools up to do it.

[2016-07-25 14:50] rajington commented on #1653
I think traditionally documentation could be sufficient, but I feel serverless has taken the role (and may contribute some of its success) to being a "low-decision-overhead, pattern-filled" framework vs. a lightweight library. Past users might be angry that "v1 has less features than v0.5 does", and new users might not want to be burdened with how to set that up in addition to everything else.

Th

[2016-07-25 15:07] kennu commented on #1653
I agree with @rajington. To me Serverless is all about simplifying the developer experience of "raw" Lambda/API Gateway. I can easily generate a project and it will just work, without worrying about setting up a complicated build environment and connecting bits and pieces manually. Also any developers joining my project will immediately understand the "Serverless way", without having to learn a cu

[2016-07-25 15:30] pmuens commented on #1553
Will be done with https://github.com/serverless/serverless/pull/1644

[2016-07-25 15:49] pmuens commented on #1574
Should be resolved with #1657

[2016-07-25 15:51] license2e commented on #1436
@pmuens I have this template ready to go pending the merge of https://github.com/serverless/serverless/pull/1644

[2016-07-25 16:53] #1574 closed

[2016-07-25 17:19] pmuens commented on #1436
Great @license2e! We'll review #1644 ASAP and merge it soon!

Maybe @mthenw can chime in here as he's also working on a Serverless Go plugin!

[2016-07-25 18:03] license2e commented on #1436
Oh awesome, @mthenw let me know how I can help... Or if you want to schedule a quick hangout collaborate on this...

[2016-07-25 20:55] shortjared commented on #1653
I would argue a plugin would be useful, but not necessary until after we have something stable.

However, with the Alpha we are having pretty good success with just an `npm build` that looks something like `npm run flow && babel src -d lib --copy-files`. The Alpha brings a level of simplicity to the project that wasn't afforded by the typical `s-function.json`. Granted there is a non-trivial amoun

[2016-07-25 21:35] andrew-templeton commented on #1653
Requirements first look at it...
- I need to be able to NOT minify for debugging, on any deployment to any environment or platform
- I need to be able to instantly start building with the seed/core scaffolded default project configuration if I don't really know about minning or why I should do it
- I may want to be able to override the optimize/min step(s) and add my own optimize step(s) if I (1)

[2016-07-25 23:11] anthonyshull opened #1660 "API endpoints not created in serverless@1.0.0-alpha2"
##### Serverless Framework Version: 1.0.0-alpha.2

##### Operating System: OS X

##### Expected Behavior:

When I attempt to deploy a service I expect the API endpoints I define in serverless.yaml to be created.

##### Actual Behavior:

Lambda functions are created and cloud formation resources defined in an external JSON file are created, but no endpoints are created in API Gateway.

##### Additi

[2016-07-26 01:37] jch254 commented on #1649
I'm experiencing this also on a fresh EC2 instance running Amazon Linux. It worked last night on OSX. I tried moving the existing project that worked on OSX to Amazon Linux - it fails to deploy. I then tried a new project which also fails to deploy. Both failures give e.message.split is not a function.

[ec2-user@ip-172-31-56-51 test]$ serverless deploy

  Serverless Error ------------------------

[2016-07-26 02:26] jch254 commented on #1649
The reason I was building on an Amazon Linux was that sometimes node_modules may have to be compiled against an Amazon Linux image on EC2 in order for the compiled addons to be usable on their Lambda service. I was able to copy the built packages from the EC2 instance and deploy with Serverless on OSX which worked.

[2016-07-26 02:50] gregorskii commented on #1437
When I run it from the application gateways page it requires me to type in dev as a stage variable.

[2016-07-26 03:54] pmuens commented on #1562
Closed with https://github.com/serverless/serverless/pull/1661

[2016-07-26 03:54] #1562 closed

[2016-07-26 04:11] pmuens commented on #1561
Closed with #1662

[2016-07-26 04:11] #1561 closed

[2016-07-26 04:36] pmuens commented on #1533
Closed with #1663

[2016-07-26 04:36] #1533 closed

[2016-07-26 04:37] fridaystreet opened #1664 "Replace default integration request template with AWS standard one"
* Check if an Issue already exists for this
* Add the relevant label(s)
* Be kind :)

Feature Request Template ------------------------------------------

##### Feature Request:
Replace the integration request template that gets added to methods with the standard 'Method Request Passthrough' template. Or provide a way to override the default easily
##### Benefits:
All available information is incl

[2016-07-26 04:56] fridaystreet commented on #1664
A little further testing and it seems you can't actually override the serverless template even if you specify an AWS resources update json. For example, I have an updated PostMethodApigEvent0 resource in a json file that adds Status code responses and templates for those status codes. It also defines an alternative integration request template. All of the other settings get applied to the cloudfor

[2016-07-26 06:47] eahefnawy commented on #1342
Okay I just tested this .... JSON-REF works whether we're referencing a `.yaml` or `.yml` ... we just need to update our codebase to support both when loading our core config files.

[2016-07-26 07:48] pmuens commented on #1342
Awesome. Additionally I would suggest to make `.yml` the default (rename all our template files etc.).

[2016-07-26 07:50] fridaystreet opened #1665 "variables used in json refs are not replaced before refs are resolved to objects"
* Check if an Issue already exists for this
* Add the relevant label(s)
* Be kind :)

Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
alpha
##### Operating System:
linux mint 18
##### Expected Behavior:
Given a yaml config of
resources:
    Resources:
        $ref: ${myFilePathVar}

Would expect the variable to be replaced and the reference

[2016-07-26 07:55] pmuens commented on #1637
Hmm. This is not an easy one.

After working on https://github.com/serverless/serverless/pull/1663 I would say that we keep the `camelCase` naming. Custom resources would introduce this anyway. And a mixture of different styles is not that great IMHO.

Any thoughts?

/cc @flomotlik

[2016-07-26 08:04] eahefnawy commented on #1637
@pmuens great point about custom resources logical Ids! AWS in general has some restrictions on using hyphens that might become annoying.

Yeah I think @pmuens is right. I think it's better if we use camelCasing to avoid such issues.

[2016-07-26 08:22] pmuens commented on #1603
Resolved with #1666

[2016-07-26 08:22] #1603 closed

[2016-07-26 08:22] pmuens commented on #1598
Resolved with #1666

[2016-07-26 08:22] #1598 closed

[2016-07-26 08:25] eahefnawy commented on #1594
resolved with [PR #1620](https://github.com/serverless/serverless/issues/1620)

[2016-07-26 08:25] #1594 closed

[2016-07-26 08:25] eahefnawy commented on #1594
@ajagnanan the PR also includes support for ARN as you requested! 🙌

[2016-07-26 08:26] eahefnawy commented on #1460
Resolved with [PR 1668](https://github.com/serverless/serverless/pull/1668)

[2016-07-26 08:26] #1460 closed

[2016-07-26 08:52] ssemyonov opened #1669 "Unable to set array type variable via CLI"
I'm working on some automation around deployment of serverless projects with VPC-enabled functions. In my setup every stage is deployed to a separate VPC, therefore I need to specify ```subnetIds``` variable at the stage level.
I'm trying to achieve that using CLI command ```serverless variables set --type stage --stage qa7 --key subnetIds --value ["subnet-11111111","subnet-22222222"]```, however

[2016-07-26 09:05] pmuens commented on #1521
Resolved with https://github.com/serverless/serverless/pull/1670

[2016-07-26 09:05] #1521 closed

[2016-07-26 09:58] pmuens commented on #1649
FYI: This is the corresponding PR which fixes the issue: https://github.com/serverless/serverless/pull/1623

[2016-07-26 11:48] pmuens commented on #1650
Thanks for the feedback!

I think I'll create a `metrics` plugin and another one for AWS which will hook into the `metrics:metrics` lifecycle (like we've done with the other plugins before).

Additionally I'll use the https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CloudWatch.html API to get the metrics.

We'll start to display the data in a human readable way on the console. So if the use

[2016-07-26 12:29] pmuens commented on #1647
Done like mentioned above with https://github.com/serverless/serverless/pull/1673

[2016-07-26 12:29] #1647 closed

[2016-07-26 12:53] mthenw opened #1674 "add list of AWS permissions required for deploying service to docs"
Those permissions are required fro deploying Serverless service
[code]

Eventually this should be specified somewhere in the docs.

[2016-07-26 12:56] pmuens commented on #1648
Resolved with https://github.com/serverless/serverless/pull/1675

[2016-07-26 12:56] #1648 closed

[2016-07-26 12:57] pmuens commented on #1553
Done with https://github.com/serverless/serverless/pull/1672

[2016-07-26 12:57] #1553 closed

[2016-07-26 12:58] pmuens commented on #1246
Done with https://github.com/serverless/serverless/pull/1672

[2016-07-26 12:58] #1246 closed

[2016-07-26 13:11] pmuens commented on #1645
Done with https://github.com/serverless/serverless/pull/1676

[2016-07-26 13:11] #1645 closed

[2016-07-26 13:12] flomotlik commented on #1650
Currently thinking if this should be prioritised lower and done at some point in the future. @serverless/vip would you guys want to use this plugin during development? Would providing you these metrics help with development at all?

[2016-07-26 13:22] flomotlik commented on #1654
Imho Service level logging can be really helpful when you want to have a good understanding of the whole service and whats happening there. Basically tracing requests throughout the whole system.

From my perspective this is ready to be implemented. Service wide logging should be researched more to make sure how we can do this, but other than that I'd say lets get this started.

[2016-07-26 14:33] eahefnawy commented on #1595
Resolved with [PR 1636](https://github.com/serverless/serverless/pull/1636)

[2016-07-26 14:33] #1595 closed

[2016-07-26 14:33] pouledodue commented on #1441
+1000
I need this to implement ES/CQRS

[2016-07-26 14:33] #1637 closed

[2016-07-26 14:39] erikerikson commented on #1650
@flomotlik prioritization would need to be in a context (relative to what?) but my instinct is that this is on the lower priority side.  I can see this being useful but a vital needs use case doesn't occur to me off the top of my head.

[2016-07-26 16:02] wedgybo commented on #1660
Seeing the same here. I'm new to this, but I'd guess I should see something in CloudFormation about setting up the APIGateway?

[2016-07-26 16:08] pouledodue commented on #1551
The stages page is not updated when I add a new method...
I must do "sls remove" and then "sls deploy" to make sure the stages page is updated

[2016-07-26 16:23] codepreneur opened #1677 "Cant update the logical ID of DynamoDB table"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

Logical ID is changed inside cloud formation.

![image](https://cloud.githubusercontent.com/assets/3421858/17146076/e841ec18-5354-11e6-9b87-0dcf7dca8d6b.png)

I have successfully deployed with

[2016-07-26 16:33] pmuens commented on #1601
Closing this issue as alpha2 was released recently. Thanks for reporting @ellucianBret !

[2016-07-26 16:33] #1601 closed

[2016-07-26 18:00] flomotlik commented on #1593
@oriolgual this looks pretty interesting, could you open up a PR with your changes so we can discuss them there? Even just being able to have a Form parameters mapping would be really helpful

[2016-07-26 18:02] flomotlik commented on #1606
Which issue are we resolving with this? Is tracking taking too long for people?

[2016-07-26 18:03] flomotlik commented on #1567
Implemented in #1635

[2016-07-26 18:03] #1567 closed

[2016-07-26 18:05] flomotlik commented on #1571
@ccorcos yup agreed, we're still discussing how orchestration of separate services that depend on each other should be done in the best way. We're not sure yet, there are a lot of different options basically and we'll keep exploring them in issues here going forward.

[2016-07-26 18:23] ccorcos commented on #1571
Awesome. I'd love to see what you guys come up with.

[2016-07-26 18:55] MylesBorins opened #1678 "Is it possible to use serverless 1.0 as a library?"
Thanks for putting together this awesome project, I managed to get a hello world running super quickly!

After taking a bit of time to dig into the code it appeared to me that the project has been primarily designed as a cli. Is it possible to use programmatically as a library?

From what I can tell these would be the steps, I have not yet tried to implement as I am not entirely clear if this is *

[2016-07-26 19:00] pmuens commented on #1606
This does not resolve any specific issue. It was just a proposal for an improvement we discussed recently. The segment package does the same behind the scenes.

Maybe even not worth the effort (so it can be closed if not relevant).

[2016-07-26 19:36] pouledodue commented on #1660
problem was indent in demo code in the doc. it is fixed I think

[2016-07-26 21:48] johncmckim opened #1679 "Cannot use AWS Policy Variable in template"
I have been testing severless alpha on AWS. I am trying to create an IoT project with a few different services. I've run into an issue when creating a Policy document for the IoT things.

**Serverless Framework Version:** serverless@1.0.0-alpha.2
**Operating System:** OSX 10.11.5

##### Expected Behavior:
I have the following resource in my serverless.yaml
[code]

Take note of the **${iot:ClientId

[2016-07-27 06:33] license2e commented on #1436
@pmuens @mthenw I submitted a pull request: https://github.com/serverless/serverless/pull/1680

[2016-07-27 06:34] pmuens commented on #1652
Here's a proposal which outlines possible implementation details:

**The deploy plugin**
We add a new subcommand to the `deploy` plugin (`serverless deploy function`).
Additionally we add corresponding lifecycle events.

**The package plugin**
The `package` plugin will be extended so that it can hook into the lifecycle events of the `deploy` plugin (the lifecycles of the `deploy:function` command)

[2016-07-27 06:39] pmuens commented on #1436
Damn @license2e you totally rock 🚀 💃

Thank you for this awesome contribution (and all the other things you've done!) 🎉

[2016-07-27 07:14] pmuens commented on #1653
Thanks for the great feedback so far!

I agree that Serverless should be a help for the developer to get things up and running easily.

How do you guys think about having a plugin (which may lack flexibility) vs. setting up everything manually once. Is it a tedious process to setup everything or might be a good documentation how one can do it sufficient instead of writing a plugin?

Additionally i

[2016-07-27 07:18] activescott commented on #1593
@flomotlik I'll need to dive deep here to confirm, but I do believe serverless could provide some standard syntax without requiring the serverless user to deal with velocity that will work. I have some manual changes to APIG on top of the serverless deploy that, going from memory enabled me to accomplish the following:

1. Access all HTTP headers in the *request* for a pre-defined set of content t

[2016-07-27 07:44] HyperBrain commented on #1653
Currently we use the node4.3 runtime everywhere and also have our submodule dependencies converted to ES6. Minify has to be disabled completely, as the currently used `uglify` does not handle ES6 dependencies correctly. Additionally it is IMHO mandatory to have a selection option for the babel profile to be used (currently we use ES2015-node4).
For debugging and test builds there has to be an easy

[2016-07-27 08:38] eahefnawy commented on #1678
@TheAlphaNerd could you let us know your use case? what exactly are you trying to accomplish by requiring Serverless?

I think the closest thing to what you're requesting is creating a plugin, other than that, Serverless is not really meant to be requried. You can defenitly hack your way into it, but maybe if you let us know how that would solve your problem, we can help make it easier 😊

Thanks f

[2016-07-27 08:39] eahefnawy commented on #1606
That's interesting! It'd help with the lag, but it wouldn't provide realtime analytics.

[2016-07-27 08:45] pmuens commented on #1606
Yes. And we have more data to get over the wire. Note sure if we can nest the data in a good way so that we only have one request with one large object but it's also easy to analyze.

[2016-07-27 08:48] pmuens commented on #1342
Will be closed with #1618

[2016-07-27 09:01] #1342 closed

[2016-07-27 09:14] eahefnawy commented on #1652
Yikes this change doesn't go very well with our current implementation.

Does this plugin only deploys the specified lambda function, without the associated events, just for the sake of "invoking a remote/deployed function"? If that's the case then I'm not sure how much value that will provide for developer experience during development.

Testing the individual deployed function doesn't guarantee

[2016-07-27 09:18] eahefnawy commented on #1606
hmmm I really like that ... do you think this "data dump" will be reliable? could it be manipulated somehow? we're gonna have to maintain a tiny local database though. Maybe we can just send a json/yaml file, but not sure if that works with Segment. This file is also a good way for the users to see exactly what kinda data will be shared and optionally not send it.

[2016-07-27 10:51] flomotlik commented on #1606
Imho adding local database or local storage introduces a large complexity and I don't really think this is an issue right now. I would keep it in mind in the future if we see that people have a problem with it, but don't think we should explore this further at the moment until we actually know its an issue

[2016-07-27 10:56] wedgybo commented on #1660
Thanks for that. Interestingly. I checked the serverless.yaml file with the [yamljs](https://www.npmjs.com/package/yamljs) package I have installed globally and it worked fine. It would appear [js-yaml](https://github.com/nodeca/js-yaml) gives a different result.

For anyone else coming across this issue. It's fixed here https://github.com/serverless/serverless/pull/1675

[2016-07-27 11:01] flomotlik commented on #1652
The value I see in having this separate deployment function would really be to have a simple way to say while you're developing locally and after you've set up a stage for you to deploy to in your provider you can very simply and quickly update specific functions. This makes it faster for you to iterate and test things in the live system that you wouldn't really be able to test locally in a nice w

[2016-07-27 11:02] johncmckim commented on #1679
Another example of an affected template: **"${clientId()}"** and **"${timestamp()}"**

[code]

I'm also happy to contribute a fix once a solution is decided upon.

[2016-07-27 11:10] HyperBrain commented on #1652
@flomotlik Nevertheless we should not forget to update the artifacts on S3 too, even if the code is actually uploaded via the API. That makes sure that everything stays consistent.

[2016-07-27 11:15] flomotlik commented on #1652
@HyperBrain imho this would make the deployment process longer. This update is really only for quick deployment during development, so we want to keep it as short as possible. It should imho be very clear that this is a bit of a more advanced tool and if you only deploy one function, but the code that is deployed is also deployed in another function you might introduce issues (and you should be ab

[2016-07-27 11:19] HyperBrain commented on #1652
Agree. Maybe it would then be good to have a global configuration where you can prohibit this functionality for a specific stage. Having it allowed for every stage will lead to developers just "overwriting" deployed functions in e.g. production what is very dangerous.

[2016-07-27 11:31] flomotlik commented on #1652
@HyperBrain imho that is authorisation that should be handled through e.g. IAM. We should make it very clear in our docs (and potentially when executing) that this is a potentially dangerous command that could lead to inconsistencies. But there isn't really anything we can do to prevent people from deploying into a specific environment if they have the IAM authorisation to do so. Any config we put

[2016-07-27 11:43] codepreneur commented on #1660
ohh the joys of YAML....

[2016-07-27 11:59] pouledodue commented on #1660
yes and i still prefer yaml to more 'verbose' stuff

[2016-07-27 12:27] wedgybo opened #1683 "Service will not redeploy correctly if new functions are added above old ones"
##### Serverless Framework Version:  v1.0.0-alpha.2
##### Operating System:  OSX
##### Expected Behavior:

When I add a new function to the serverless.yaml file. The service is redeployed correctly

##### Actual Behavior:

If the new function is created above an existing functions the deployment fails and is rolled back.

Noticed this when adding a new one as I like to keep the functions in order

[2016-07-27 12:42] pmuens commented on #1652
Alright. Then we don't need to go through CF at all. I like the idea that this plugin is only used for fast testing deployments.

To sum this up:

- The user enter `serverless deploy function --function foo --function bar`
- This will overwrite the function code of `foo` and `bar` with the current one
- It goes directly through the AWS SDK API (not CloudFormation / S3)
- It will error out if the f

[2016-07-27 12:43] pmuens commented on #1606
Yep. Agree with @flomotlik. More a kind of "nice to have" feature.

[2016-07-27 12:45] codepreneur opened #1684 "[Critical Bug] `sls deploy` does not create API endpoints in `Stages` section of Amazon API Gateway"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

API endpoints described/configured in `serverless.yaml` file being deployed and visible in `Stages` section on AWS console (Amazon API Gateway)

##### Actual Behavior:

They are not visible an

[2016-07-27 12:48] pmuens commented on #1555
Thank you guys for reporting and elaborating on this!

@eahefnawy could you please look into it if it's already fixed / an intentional behavior?

[2016-07-27 12:49] mthenw commented on #1654
Same here.

Also would be great to specify starting date/time for logs:

`serverless logs -f hello --start_at <date here>`

[2016-07-27 12:53] codepreneur commented on #1677
@pmuens @eahefnawy I think this issue is related/similar to #1684

[2016-07-27 12:56] codepreneur commented on #1629
@pmuens @eahefnawy is this going to be fixed? I think ability to migrate projects is quite important

[2016-07-27 12:57] flomotlik commented on #1652
@pmuens sounds great, please get started on this

[2016-07-27 13:05] pmuens commented on #1684
Hey @codepreneur thank you for reporting this!

@eahefnawy I think we had some similar issue where @nikgraf had also problems with the REST API stage. Can you find the corresponding issue?

[2016-07-27 13:18] eahefnawy commented on #1654
@mthenw you can set a `duration` with:

[code]
Which will get the logs in the past 10 minutes ... it's an abstraction layer on top of `starts_at` with the help of moment.js

[2016-07-27 13:18] codepreneur commented on #1617
I think the issue might have been fixed:

![image](https://cloud.githubusercontent.com/assets/3421858/17176526/0807488a-5405-11e6-8e7d-ea88cd27161b.png)

[2016-07-27 13:23] flomotlik commented on #1593
@activescott to support normal POST request templates we could potentially merge the template from @oriolgual and simply include standard templates for JSON and HTTP FORM data by default. The main question for me is how many people need more than those 2, and which ones those are specifically. My assumption is that those 2 cover at least 80% of the use cases for APIG (and we can make them nice and

[2016-07-27 13:25] flomotlik commented on #1654
@eahefnawy is that duration something we implemented or that is in the SDK? Is it possible to define specific times, e.g. --start_at --end_at?

Sometimes when you want to go back 10 hours, but then only see like 15 minutes of logs thats really helpful. If its not easy then we might not want to do it, but it would be nice to have imho

[2016-07-27 13:27] wedgybo commented on #1684
The problem is because the APIGateway:Deployment action DependsOn your first APIGateway:Method creation, which will typically only happen on your first deploy. That condition should be removed.

![](https://www.dropbox.com/s/v6v4j19a41b781k/Screenshot%202016-07-27%2014.26.38.png?dl=1)

[2016-07-27 13:29] oriolgual commented on #1593
I'll try to submit a PR today or tomorrow @flomotlik!

[2016-07-27 13:36] eahefnawy commented on #1654
Ok so I looked a bit deeper on service wide logs, and it's definitely possible. Each Lambda function has its own logGroup with the name `/aws/lambda/lambdaName`, which we use to get the log stream in the logging plugin based on the provided function.

To get the logs of all functions we can simply iterate over all functions and get all the log groups. Pretty simple, but could be too much API reque

[2016-07-27 13:40] eahefnawy commented on #1654
@flomotlik the SDK `filterLogEvents` method has a native `startTime` option that you pass in the params, which is just the unix epoch of the start time. The duration is an abstraction layer that lets users pass a simple `5m` or `10h` or `3d` strings in the CLI instead of passing an epoch.

I think this is much simpler to pass in the CLI than epoch or even standard date/time string that we later co

[2016-07-27 13:40] flomotlik commented on #1593
@oriolgual awesome thank you, looking forward to it

[2016-07-27 13:41] pmuens commented on #1684
Thanks @wedgybo for pointing that out and providing a solution!

[2016-07-27 13:44] svdgraaf commented on #1646
I'll see if I can create some documentation for this, I was working with custom resources anyway :)

[2016-07-27 13:45] wedgybo commented on #1684
I think it's masking an issue of order. I don't know enough about cloudformation and how the resource object works to provide a proper solution yet.

If I remove the DependsOn for the deploy. It fails completely because no methods are created. Not sure what's going on as I assume the items in the resource file run in order and that seems to be correct when I output it

[code]

[2016-07-27 13:52] eahefnawy commented on #1684
hmmm this is probably related to #1551 ... It might be because of `DependsOn` ... or simply because the Deployment resource doesn't really change so it doesnt reflect any updates. Maybe putting some unique token in the template would make sure each deployment is always updated in CF

[2016-07-27 13:53] flomotlik commented on #1654
So you can do startTime and duration, which would basically be what I mentioned before. That sounds really good imho. And we also have a much easier time as we don't have to parse any dates or anything, we just tell people to use the epoch

Would this filtering happen in AWS or through the SDK locally? Because if it happens locally that could be a lot of work locally and probably better to only pu

[2016-07-27 14:08] eahefnawy commented on #1654
This filtering would happen locally since the SDK method just returns all log groups in an AWS account, including logs in different services, random non-serverless lambdas and any logs basically.

Yep, each log stream comes with a timestamp that we can use for sorting. One thing to keep in mind though is that each lambda invocation automatically logs three default streams: `START`, `END` & `REPORT

[2016-07-27 14:09] flomotlik commented on #1654
Then lets do this :)

[2016-07-27 14:21] pmuens commented on #1629
@codepreneur Thanks for reporting this!

The error is already fixed in the v1.0 branch (with the help of this PR: https://github.com/serverless/serverless/pull/1639) and will be available in the beta we'll release soon.

Please let us know if this is still an issue!

[2016-07-27 14:21] #1629 closed

[2016-07-27 14:25] pmuens commented on #1646
@svdgraaf That would be awesome!

You're such a great help!
Glad to have you in our community! 🎉

[2016-07-27 14:42] flomotlik commented on #1653
Been thinking a lot about this all day today, here my 2 cents.

Basically I see a few issues with implementing Optimisation in Serverless at this point:

1. Optimisation works really well and out of the box for small projects or teams with small and not very complex codebases as those will most likely not run into any issues with the minifier/uglifyer. Those projects are on the flip side also the

[2016-07-27 14:45] wedgybo commented on #1684
Right I've done some more digging and the depends on just masks a race condition that exists if you have many functions. A few thoughts.

There needs to be a [WaitCondition](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-waitcondition.html) triggered when all the methods have been created which then runs the deploy.

There also needs to be something that checks for me

[2016-07-27 14:51] HyperBrain commented on #1653
7. Optimizer even without minify is also used to reduce the uploaded code that is part of a bigger (shared) codebase to the needed components only. Otherwise e.g. mySQL or other big components would be included in each and every function whether they use it or not. In practice that led to very minimal code sizes (even without minify) depending on the function's real use of the code.

[2016-07-27 14:52] erikerikson commented on #1652
@flomotlik I think @HyperBrain had a great and easy to implement suggestion.  To use this feature you must define a reserved variable for the stage.  If it isn't defined, the plugin can just report a message that the variable must be defined for the stage instead of running.  A culture of responsibility and discipline is always key but the point is to guard against unintended mistakes despite cult

[2016-07-27 15:15] eahefnawy commented on #1683
Intersting!!!! Nice catch! So if I understood this correctly, the order of the functions defined in `serverless.yml` matters?

Hmmm yeah I guess that makes sense because we currently map the endpoints/resources according to index.

[2016-07-27 15:20] Smeb commented on #1593
Hi! Our team ran into a similar issue with requests with Twilio sending callback requests as `application/x-www-form-urlencoded`, and we implemented the logic @ac360 mentioned - loading templates from a file: smeb@e767cdfc083b788a6cd7c4bb49b7a874eb21200e.

It loads templates from a `templates/` directory in the project based on markup in the serverless.yml file, and supports the default json templ

[2016-07-27 15:20] wedgybo commented on #1683
Yea basically you always need to add to the bottom. Yup, should look at mapping them to the function name in some way so they can be targeted by that rather than index.

After having done a fair bit of investigation, and learning about cloudformation, for #1684 there are a few issues in this space with the way the current updates are happening.

For now the best thing is to remove / deploy when yo

[2016-07-27 15:22] svdgraaf commented on #1646
I just started to work on the custom resources documentation, but then I found this page: https://github.com/serverless/serverless/blob/v1.0/docs/guide/custom-provider-resources.md

Doesn't that already describe how to setup the custom resources (proxy?)

[2016-07-27 15:25] svdgraaf commented on #1646
btw: can't we use an easier resource id than`RestApiApigEvent` for the apigateway resource? Something like `ServerlessApiGateway` or even `RestApigateway`?

[2016-07-27 15:43] flomotlik commented on #1446
So for a first simple implementation we could create a short method that prints a message first and then in a defined timeframe prints . . . . . .

So e.g.

[code]

What do you guys think about this? @tobyhede would be interesting to get your opinion

[2016-07-27 15:59] flomotlik commented on #1446
Imho this should work for the implementation: process.stdout.write(chalk.yellow('.'));

[2016-07-27 16:16] flomotlik commented on #1653
@HyperBrain how did the optimizer plugin do this? At least in here I didn't find anything: https://github.com/serverless/serverless-optimizer-plugin

I do fully agree though that being able to craft minimal zip files is important, but we should improve the packaging mechanism there, so doesn't really need a separate optimization plugin or step then

[2016-07-27 17:06] flomotlik commented on #1593
@Smeb that looks really interesting, could you open a PR for it. It looks like @oriolgual opened a PR in #1685 as well, could you take a look at this one to see if that might solve your specific issue as well?

Generally what I'd like to achieve is having request/response templates that cover at least 80% of use cases and once we have those in provide a way for people to add more. Your implementat

[2016-07-27 17:11] flomotlik commented on #1652
@erikerikson I do see the point of making unintended mistakes really really hard, but imho having to add different keys every time I want to deploy a single function would be cumbersome and my assumption is that people would very quickly move to simply adding them for all functions by default to make it less cumbersome and the guard against unintended consequences is gone again.

One thing we coul

[2016-07-27 17:28] flomotlik commented on #1486
Yup Alias support is definitely an important one, we do have an issue open, I just can't seem to find it right now :D

[2016-07-27 17:31] activescott commented on #1593
@flomotlik

I think those two are fine to include. I still think adding a swagger-style `consumes` element/attribute to the serverless.yaml `http` event to allow supporting arbitrary content-types make sense. For each one specified, serverlesss would just apply the same default template. I'm not sure how to quantify it, but off the top of my head some content-types used by standardized REST APIs t

[2016-07-27 17:36] flomotlik commented on #1593
@activescott yeah agreed totally in favour of having a way to define new content types and set specific templates for content types. Not sure yet about the exact implementation, but this is definitely an important feature.

[2016-07-27 20:05] codepreneur commented on #1684
@wedgybo  If I do `sls remove` and then `sls deploy` the problem persists. Out of 3 endpoints, all 3 get deployed to `Resources` but only two of them to `Stages` and it seems that they get selected randomly (for example this time, only first and third got deployed) so it proves its a race condition.

![image](https://cloud.githubusercontent.com/assets/3421858/17190382/8e89c77e-543d-11e6-9a08-aaf0f

[2016-07-27 20:13] pouledodue commented on #1409
DynamoDB Streams would be a good start, when one want to implement EventSourcing/CQRS

[2016-07-27 20:13] pouledodue commented on #1441
can we tag this v1.0.0-beta

[2016-07-27 20:14] erikerikson commented on #1652
Hmm...  What you're describing is different than what I was thinking - sorry for not being more clear.  :)  I was assuming it would be a stage-wide setting so that you could set yourself up to do this in your dev/ci/whatever-you-call-it stage and maybe your private dev env stage but not anywhere else and especially not prod.

I definitely agree that per-function enablement wouldn't produce a good

[2016-07-27 20:18] wedgybo commented on #1684
Yup. I've got the fix for that in a branch. Just trying to find a solution for when endpoints are removed as I can't see a way to trigger a deploy after those events. Another solution could be to hook into the CloudFormation::Stack Resource UPDATE_COMPLETE event but I'm not sure if that's possible. Maybe someone in the know could chip in?

[2016-07-27 21:08] animeshsingh commented on #1678
Well a lot of providers would rather call the apis programmatically rather than going cli route -if serverless is the abstraction here, we would want apis to be primary mechanism

[2016-07-27 22:18] johncmckim opened #1688 "CloudFormation output sync v1.0@alpha (for CI / teamwork)"
Feature Request Template ------------------------------------------

##### Feature Request:
CloudFormation outputs should be synced to serverless.env.yaml before a deployment. This will ensure that the variables required to deploy a project will always exist before it is deployed.

I would also tentatively suggest a separation between generated environment variables and custom environment variable

[2016-07-27 22:21] johncmckim commented on #1652
@erikerikson @HyperBrain like protected branches on Github. Even if it's not on by default, the ability to turn that on for a stage would be important.

[2016-07-27 23:00] Jorenm commented on #1649
So how does one set the SLS_DEBUG env var? I can't find anything that says how to do that.

[2016-07-27 23:19] Jorenm commented on #1531
How does one set the SLS_DEBUG env var?

[2016-07-27 23:47] codepreneur opened #1689 "sls remove fails if IamRoleLambda has at least one policy attached"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

to completely remove sls project via cloudformation

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/17196428/84fee814-545c-11e6-922a-2490d671a48e.png)

and

[2016-07-28 00:18] jch254 commented on #1649
@Jorenm I just used export SLS_DEBUG=true - http://www.gnu.org/software/bash/manual/bash.html#index-export

[2016-07-28 02:33] pmuens commented on #1646
@svdgraaf Yes. We're planning to make the resource names easier / less verbose https://github.com/serverless/serverless/issues/1627

[2016-07-28 02:34] tengis commented on #1591
@codepreneur I'm not sure. Project contributors will answer that question.

[2016-07-28 02:43] pmuens commented on #1486
@flomotlik we have an issue for Lambda versioning here: https://github.com/serverless/serverless/issues/1457

[2016-07-28 02:45] pmuens commented on #1446
Sounds like a good, minimalistic solution! 👍

[2016-07-28 06:18] eahefnawy commented on #1646
@svdgraaf yep the proxy resource docs was added a day ago as an example and docs for proxy support. Feel free to PR a second (maybe simpler?) example if you got something in mind 😊

[2016-07-28 06:19] eahefnawy commented on #1446
Yep that should work 💃

[2016-07-28 06:25] eahefnawy commented on #1678
We are calling their APIs programmatically so you wouldn't have to. After all Serverless is mainly a CLI tool that you can use so that you wouldn't have to programmatically do it. Unless you have a specific reason for it?

I'm still not super clear on your use case, but it sounds like a plugin might solve your issue? or is there a specific reason you don't think a plugin is what you need?

[2016-07-28 07:36] svdgraaf commented on #1646
@eahefnawy yes, I made an example which adds a proxy endpoint to a regular serverless apigateway, so you can proxy just one request for Example. I'll create a PR for it.

[2016-07-28 07:38] pmuens opened #1690 "Document how to use SLS_DEBUG env var"
The CLI shows that the user can use SLS_DEBUG to get a stack trace when an error occurred. However it's not shown how he can enable it.

We should add a comment next to the error message that the user can enable it by exporting the `SLS_DEBUG` variable.

[2016-07-28 07:39] pmuens commented on #1646
@svdgraaf That's great! Looking forward to it!

[2016-07-28 08:35] eahefnawy commented on #1654
Implemented in [PR 1691](https://github.com/serverless/serverless/pull/1691)

[2016-07-28 10:37] wedgybo commented on #1684
Played some more last night and I've come to the conclusion that the deploy can't be part of the same stack update as there's no way of hooking into when the stack cleanup has complete, otherwise removed resources aren't actually removed from the stage.

So I would propose that the first updateStack call has the ApiGateway::Deployment resource removed. After a successful update, a second update ru

[2016-07-28 10:48] codepreneur commented on #1684
we need react's virtual dom diffing for cloudformation too (where we treat cloudformation as dom)

[2016-07-28 11:21] flomotlik commented on #1489
@pmuens @eahefnawy do you guys think we could get this in for the beta? It looks relatively simple and straight forward if we e.g. start by implementing this service wide and then potentially add the ability to set this per function as well. Thoughts?

[2016-07-28 11:46] eahefnawy commented on #1489
I can put it in right now :) ... Was keeping it for someone to `please-contribute` it 😄

[2016-07-28 11:48] wedgybo commented on #1596
👍 @patoncrispy If you need any help just shout as I'm coming across this issue now and would like to get it sorted before moving on if possible.

[2016-07-28 11:57] patoncrispy commented on #1596
@wedgybo I'm almost done! Should hopefully be able to get it done by the end of the weekend (damn full time job!).  :)

[2016-07-28 11:58] flomotlik commented on #1596
@patoncrispy could you open a PR (even if its still not ready) so we can take a look?

[2016-07-28 12:10] patoncrispy commented on #1596
Sure! I'll do it tonight when I get home.

[2016-07-28 12:19] mbehrendt commented on #1678
the use case is...imagine i want to offer a self-service ui to the users of my cloud. in that ui i want to display a number of serverless-defined templates these users can select and get deployed automatically. for achieving that, the ui business logic would have to somehow do programmatically what a user would normally do manually via the serverless cli.

does that make sense to you?

[2016-07-28 12:37] nhumphreys opened #1693 "Optionally remove core-cf requirement for creating an S3 Bucket"
##### Feature Request:

Remove/make optional the requirement for a distinct S3 bucket for deployment of every project + stage + region configuration

##### Benefits:

Maintain existing functionality, but give users the option to choose a bucket and or prefix in which the zip payloads would sit.

The main driver for this is that by default AWS has a limit of 100 S3 buckets, you can ask for a servic

[2016-07-28 12:41] eahefnawy commented on #1678
Yep that makes perfect sense. Thanks for clearing all this up 😊 . That definitely sounds like a useful addition. It's not currently implemented as we're currently focused on the CLI, but I think we can put this together based on our current architecture.

Maybe @serverless/team could chime in with their thoughts as well?

[2016-07-28 13:01] pmuens opened #1695 "Update PluginManager to allow shortcuts for nested commands"
The PluginManager converts only shortcuts of single commands. The code should be updated so that shortcuts for nested commands can be used as well.

[2016-07-28 13:02] flomotlik commented on #1678
Imho this is still very early and we'd like to get more input how different teams want to use this feature. Its definitely something we've heard before, but compared to other feature requests it also comes a little more rarely.

Currently I don't think it will be available with V1 directly (as there are so many other things we need to put in place as well, but I can definitely see that after V1)

[2016-07-28 13:06] pmuens commented on #1652
Done with https://github.com/serverless/serverless/pull/1696

[2016-07-28 13:23] pmuens commented on #1489
Great addition! Thanks for taking this @eahefnawy!

[2016-07-28 13:49] pmuens opened #1697 "Consider custom function name in "invoke" and "logs" plugins"
The `invoke` and `logs` plugins construct the name with the help of the service name, the stage and the function name ( e.g. `aws-nodejs-dev-hello`). This works for most cases but will break if the user has added the `name` property of the function in the `serverless.yml` file.

[2016-07-28 14:26] svdgraaf commented on #1646
I added a S3 bucket example, and removed some (unnecessary) fields from the Proxy example, see the PR

[2016-07-28 15:41] jagi opened #1699 "DynamoDB add custom resources"
Hi, I'm new to Serverless and I want to use DynamoDB with severless@1.0-alpha. As there is no event source for DynamoDB then I have to add custom resources provider. It has change how we define it from 0.x version. It used to use JSON and now it's using YAML. However I see in docs that it's still possible to reference JSON file and here is what I have.

**cloudformation-resources.json**
[code]
**s

[2016-07-28 16:08] eahefnawy commented on #1592
Maybe we should also put `Services` & `Projects` in the same title/section. Since they **sort of** represent the same thing and it'll avoid confusion for someone looking to both versions at a high level. Hmmm, although there could be v1 projects that are a collection of services.

What I have in mind is something like:

## Projects & Services
### V0
[insert projects here]

### V1
[insert services

[2016-07-28 16:15] eahefnawy commented on #1699
Thanks for reporting this. To get more insight about this, could you please set the `SLS_DEBUG` env var by running `export SLS_DEBUG=*` and run again and send us the output/stack trace?

You also may want to try the unreleased `v1.0` branch which is up to date and may have fixed a related issue.

[2016-07-28 16:19] eahefnawy commented on #1646
Thanks @svdgraaf 👍

[2016-07-28 16:19] #1646 closed

[2016-07-28 16:21] ajagnanan commented on #1455
Can we get this in the beta too? 🙏

[2016-07-28 16:47] svdgraaf commented on #1489
I was just looking for this :D @eahefnawy if I can help with anything, let me know!

[2016-07-28 17:11] pmuens commented on #1646
Awesome @svdgraaf you really rock 🎸 !

[2016-07-28 18:44] Jorenm commented on #1649
I'm on windows so I couldn't use that exact command. Adding "@set SLS_DEBUG=true" to cmder's init.bat did it though.

Thanks for pointing me in the right direction.

[2016-07-28 19:14] flomotlik commented on #1489
Awesome @svdgraaf will ping you tomorrow about this, we'd love to get this in by Beta next week. Btw would be great to chat with you sometime, I love talking to our contributors. Sent you an email to the one you provided in your github profile, if thats not the right one could you ping me at flo@serverless.com?

[2016-07-28 19:22] svdgraaf commented on #1489
@flomotlik done!

I have some time tomorrow to help out, some time in the weekend and at (least) a full day on Monday, so if I can help, let me know :) I actually need this feature for a project I'm working on (using AWS DirectConnect) so the sooner, the better ;)

[2016-07-28 20:39] Jorenm opened #1701 "Serverless deploy errors out."
##### Serverless Framework Version: 1.0.0-alpha.2

##### Operating System: Windows 10

##### Expected Behavior: Deploy the function

##### Actual Behavior: Errors out

##### Stack-Trace (Optional):

TypeError: e.message.split is not a function
    at module.exports.logError.words.forEach (C:\Users\Ozymandias\AppData\Roaming\npm\node_modules\serverless\lib\classes\Error.js:29:27)
    at C:\Users\Oz

[2016-07-28 21:05] svdgraaf commented on #1683
@eahefnawy I was wondering, currently, the `FunctionName` is set on the CloudFormation Lambda objects. Is there a specific reason why that one is set? If we don't set one, CF will generate one (based on the Resourced Id). We are then a lot more flexible with renaming and changing the Lambda functions with a deploy on the fly:

http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resou

[2016-07-28 21:39] wedgybo commented on #1683
@svdgraaf What sort of updates are failing. Sorry I'm quite new to this and a bit lost. My guess is it's set to make it easy to identify. I've not come across this issue when redeploying and the like so I'd like to understand more

[2016-07-28 21:43] wedgybo commented on #1683
Sorry read the docs and it clicked this time. So the only change that requires a replacement is a change to the runtime.

I'm not sure I'd want to lose readability for something that won't change that often over the course of a service. The alternative would be to add the runtime into the name so it would be unique?

[2016-07-28 21:47] svdgraaf commented on #1683
@wedgybo well, the runtime is not the only reason a Lambda function can be replaced (eg: adding vpc config etc will do that too). The 'problem' is that currently the lambda resources are locked in place, and can only be replace by renaming the Resource Id's in the CloudFormation template (which isn't very handy to do currently).

If there is no particular reason to set the function name, it would

[2016-07-28 23:07] patoncrispy commented on #1596
As you'll see in the pull request, keen to get some advice on where to put the preflight configuration.

[2016-07-29 02:49] eahefnawy commented on #1701
This has been fixed and will be released with Beta 😊

[2016-07-29 03:36] fridaystreet commented on #1664
Worked out that the source and destination objects in the merge statement could be deemed as the wrong way round. The template is the source object and is being applied over the top of any custom resources that have been defined. This means any customisation to the resources that you might want to do, like custom request templates or apply a custom authorizer, are being overwritten by the default

[2016-07-29 04:43] pmuens commented on #1596
Awesome! Thank you @patoncrispy. We'll look into it ASAP.

[2016-07-29 04:48] pmuens commented on #1689
Hmm. This is a strange bug. We've removed the IamRoleArnLambda with a recent PR (do you run Serverless from the v1.0 branch).

Might this cause the error @eahefnawy?

[2016-07-29 06:49] svdgraaf opened #1704 "Environment/stage variable issue"
Bug Report Template -----------------------------------------------

##### Serverless Framework Version:
1.0a2 (git checkout)

##### Operating System:
osx

##### Expected Behavior:
When I setup different environment variables for different stages, and use the variable in my custom resources, I'd expect them to be correctly parsed

##### Actual Behavior:
Given the following serverless.env.yml:
[cod

[2016-07-29 08:36] svdgraaf commented on #1704
I found the bug (the `-s` doesn't work, `--stage` does), I also found the issue with the `stage` not being available, am now trying to figure out a fix 😄

[2016-07-29 10:14] eahefnawy commented on #1555
Yeah we decided to make it easier for people by having `dev` and `us-east-1` as defaults **that you can overwrite**. So basically if you haven't overwritten any stage/region defaults, we're assuming you have this default region defined, otherwise, which region are we gonna deploy to?

So basically if you don't have the `us-east-1` defined in `serverless.env.yml` and have other region instead, you

[2016-07-29 10:42] flomotlik opened #1707 "Rethink Region/Stage handling and Environment variables for each"
Currently Region and stage handling is clunky and they depend on each other in a way that often doesn't reflect the way users treat or think about different environments.

This leads to issues where stage/region have to be defined in serverless.yml like #1555

In general we have to rethink what regions and stages mean for Serverless, if they are concepts that are specific for each provider or if i

[2016-07-29 10:43] flomotlik commented on #1707
@serverless/vip would be interesting to get your thoughts on this. Do you think stages and regions relate to each other in your projects, should we treat them more separately going forward or which improvements would you like to see on Region/Stage management?

[2016-07-29 10:46] flomotlik commented on #1489
Resolved with #1705

[2016-07-29 10:46] #1489 closed

[2016-07-29 11:06] eahefnawy commented on #1704
@svdgraaf I think there's a misconception here. The options you pass **are not variables to be populated**. So just because you're passing the stage as an option doesn't mean that it'll be available as a variable. If you want the stage as a variable, you can simply add it to `serverless.env.yml`:

[code]
Maybe we should include this variable by default for you? I guess it depends on the use cases.

[2016-07-29 11:09] eahefnawy commented on #1555
I'm gonna close this issue and start discussing the higher level issue of stage/region handling in issue #1707

Thanks for bringing this up everyone 😊

[2016-07-29 11:09] #1555 closed

[2016-07-29 11:14] svdgraaf commented on #1704
As mentioned in #1706, the stage and region can be used without the need for these extra variables, so let's skip that. The `-s` option still fails here though 😄

[2016-07-29 11:17] eahefnawy opened #1709 "Options passed via shortcuts don't seem to be available during variable population"
@svdgraaf  mentioned in Issue #1704 that options passed via shortcuts (mainly stage/region) are not available in the Service class during variable population.

Will investigate this further.

cc/ @flomotlik @pmuens

[2016-07-29 11:18] eahefnawy commented on #1704
@svdgraaf (I just opened another issue)(https://github.com/serverless/serverless/issues/1709) for the shortcut bug you mentioned. Thanks for the heads up 😊

[2016-07-29 11:18] #1704 closed

[2016-07-29 13:15] kennu commented on #1707
In our case (SC5), basically all projects are deployed to a single region (eu-west-1). For us worrying about multiple regions within a project has added complexity (e.g. variable management). I know that support for multiple regions is necessary, but I would like it to be hidden until needed.

We have needed to deploy projects to multiple AWS accounts, though. (Development, Staging and Production.

[2016-07-29 13:42] #1654 closed

[2016-07-29 13:53] HyperBrain commented on #1707
I like @kennu 's idea of having only one region on project creation. The regions could then follow a similar semantics as it was with the stages. You then could create or remove a region. Duplicating CF stacks would not be a good idea in that case, as a stage of a service should be deployable throughout multiple regions.

[2016-07-29 21:55] DavidTanner commented on #1172
I just published https://www.npmjs.com/package/serverless-variable-objects to address this issue.  Because the variables are placed on process.env, they are turned into strings using .toString().  This plugin will turn them into strings first using JSON.stringify() before they are added to process.env.

[2016-07-30 04:11] fridaystreet commented on #1593
There seems to be a few requests for the ability to add more configuration options for resources such as request templates and authorizers and there's lots of other aspects to API gateway that can be configured.

I'm just wondering if it would be a good interim solution to change the way custom resources are applied. Currently it seems the custom resources are added to the cf object first in initi

[2016-07-30 12:56] smkamranqadri opened #1713 "Params and Query String is only available in get method"
Params and Query String in only available in get method, when i use post or put method it gives the undefined.

[2016-07-31 13:29] pmuens commented on #1709
I think it's implemented in this PR: https://github.com/serverless/serverless/pull/1711

[2016-07-31 13:34] pmuens commented on #1707
I would also propose to encapsulate them more and treat them independently.
The need to have everything defined in both places (`serverless.yml` and `serverless.env.yml`) is not that obvious and even with docs hard to understand (e.g. If I don't use variables from `serverless.env.yml`).

@jthomas did a great writeup here where he pointed out which other issues he faced while implemented OpenWhisk

[2016-07-31 21:25] kevinold commented on #1699
@eahefnawy I'm seeing the same issue and here is the stack trace I receive:

[code]

[2016-07-31 21:26] ac360 commented on #1699
@kevinold is back!!!

[2016-07-31 21:40] kevinold commented on #1699
@ac360 Indeed! :D

I bypassed the JSON route and ended up getting my cloudformation-resources.json which was valid json, converted to yaml by using https://www.npmjs.com/package/yamljs and the json2yaml utility it provides.

My resulting resources block looks like so:

[code]

Note that this is the https://github.com/serverless/serverless-graphql-blog/blob/master/s-resources-cf.json converted to y

[2016-07-31 21:42] kevinold commented on #1699
Also, I'm waiting on #1711 to be merged, and added `service` and `region` to my `serverless.env.yaml` to complete the namespacing on deploy.

[2016-07-31 21:51] kevinold commented on #1699
I found a more readable solution:

`json2yaml cloudformation-resources.json --depth 8` produces:

[code]

Remove the top 2 lines and you can drop right into your `serverless.yaml`

[2016-07-31 22:45] ChrisSchneider commented on #1356
I'm suddenly having the exact same issue on OS X

[2016-07-31 22:51] vanerleo commented on #1356
the workaround is to deploy one function at at time,
ie : my deployment script

[code]

[2016-08-01 09:08] jagi commented on #1699
With the `SLS_DEBUG` set

[code]

[2016-08-01 09:18] flomotlik commented on #1593
@fridaystreet yup agreed on all of this and we'd definitely like a PR on this.

The first issue you mentioned (custom resources being deployed at stack creation) is definitely a bug. Custom resources should only be deployed as an update.

We also discussed the second issue you mentioned before and we actually want people to be able to merge custom resources on top of what we create, so you can act

[2016-08-01 09:23] eahefnawy commented on #1699
ahaaaaa of course!! Thanks for the pointer @kevinold ... I haven't noticed that @jagi `cloudformation-resources.json` file contains the `AWSTemplateFormatVersion` & `Description` properties.

@jagi our docs are probably misleading on that front, we're really sorry about that 😞 . `cloudformation-resources.json` file **is NOT meant to be a full CloudFormation template file**, but rather a JSON or YA

[2016-08-01 09:47] flomotlik opened #1714 "Milestone Discussion for v1.0.0-beta.2"
The main goals for Beta 2 are:

* [improved staging/region/env var & encrypted secrets handling support](https://github.com/serverless/serverless/issues/1707)
* [Better documentation and onboarding for new users](https://github.com/serverless/serverless/issues/1592)
* [Integration with Lambda Versions/Aliases](https://github.com/serverless/serverless/issues/1457)
* [Build Event Integration Test Re

[2016-08-01 09:49] pmuens commented on #1695
Will be done with https://github.com/serverless/serverless/pull/1715

[2016-08-01 09:51] pmuens opened #1716 "Refactor PluginManager code to support deeply nested commands"
We should refactor the `PluginManager` class to support deeply nested commands (infinitely nested commands) as outlined in https://github.com/serverless/serverless/pull/1715

This can be done via e.g. recursions etc.

Right now only maximal 2 level deep commands are support (and the code is repetitive).

/cc @eahefnawy @flomotlik

[2016-08-01 11:40] jagi commented on #1699
@eahefnawy it works thanks :)

[2016-08-01 11:40] #1699 closed

[2016-08-01 11:42] fridaystreet commented on #1593
@flomotlik awesome, yeah sure offer definitely still stands. I've already built it anyway as loving the serverless framework, but I couldn't really proceed any further with serverless until I could modify the core resources with my own stuff.

I'll just have to read through your PR guidelines and put everything in place to tick all the boxes.

[2016-08-01 11:45] flomotlik commented on #1593
nice, let us know if you have questions @fridaystreet

[2016-08-01 12:14] #1492 closed

[2016-08-01 12:40] eahefnawy commented on #1543
I think Issue #1699 was the issue that prompted this. Turned out the resources are just not structured correctly.

Closing...

[2016-08-01 12:40] #1543 closed

[2016-08-01 12:41] #1413 closed

[2016-08-01 12:57] #1247 closed

[2016-08-01 12:58] eahefnawy commented on #1566
[Resolved in this PR](https://github.com/serverless/serverless/pull/1682)

[2016-08-01 12:58] #1566 closed

[2016-08-01 13:26] pmuens commented on #1592
Thanks for sharing your idea. Here's something I'd propose:
## Serverless
[One sentence description what Serverless is and why it rocks 🎸 ]

## Getting started
[Quickstart / Links to documentation]

## Documentation
[Link to the docs]

## Real world usage
[User stories (David Guetta example), links to example projects on GitHub]

## Plugins
[Link to the plugin registry]

## Getting involved
[Instr

[2016-08-01 13:28] pmuens commented on #1247
Done with #1554

[2016-08-01 13:44] license2e opened #1717 "Add support for external templates"
##### Feature Request:

Add support for third-party templates.

##### Benefits:

* Separate repos for templates
* Allows for more boilerplate/template code

##### Drawbacks:

* None

##### Additional Details:

Something like:
`serverless create --template=github.com/<user>/serverless-golang-template`

Note: originally suggested by @mthenw: https://github.com/serverless/serverless/pull/1712#issueco

[2016-08-01 13:45] pmuens opened #1718 "Move functionName generation to central place"
Currently the functionName can be custom or is created out of the `service` name, the `stage` and the function `name`. This name-Generation should be done at a central place and re-used / accessed in the different plugins (e.g. invoke, deploy / complie function, single function deployment, etc.).

See comments here: https://github.com/serverless/serverless/pull/1696 for more details

[2016-08-01 13:50] pmuens opened #1719 "Let single function deployment extend package plugin"
Right now we create a new instance of the `package` plugin in the "deploy single function" plugin.

The "deploy single function" plugin should extend the "package" plugin to make it easier to re-use the "package" plugins functionality.

[2016-08-01 14:27] mthenw commented on #1608
There is a separate CF resource for creating mapping http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html.

So creating only event source mapping is easier than creating both mapping and Kinesis stream.

[2016-08-01 14:31] flomotlik commented on #1608
Ok so basically I think we can have 2 different implementations here. When you provide an ARN we will not create a stream for you, but simply create the event mapping and thats all. If you do not provide an ARN we will create the Stream for you. This way the following 3 use cases are possible:

1. Create Stream and Lambda function for me so I don't have to care about anything
2. Create Stream thro

[2016-08-01 14:31] mthenw opened #1720 "Log levels and removing SLS_DEBUG"
Right now `serverless` always output current step during `deploy`. It's always the same, so I'm not sure if it make sense to output that every time.

My proposition is to use log levels and output logs only if user ask for them.

`serverless deploy --region us-west-2 --log-level info`

Possible log levels:
- `info` - same as current default
- `debug` - same as current with SLS_DEBUG flag on
- `err

[2016-08-01 14:33] mthenw commented on #1690
Instead of adding documentation maybe we should remove it :)
https://github.com/serverless/serverless/issues/1720

[2016-08-01 14:38] eahefnawy commented on #1720
Yep agreed. I think these prints are just temporary. We'll probably just have a spinner or progress bar. We're also thinking about debugging logs with more info that runs whenever you have `SLS_DEBUG` (or just `DEBUG`?) set. But totally agreed, the user should have control over the log level.

[2016-08-01 14:43] mthenw commented on #1608
Yeah, that was my original idea.

I'm thinking is we should be symmetric with other event sources. If we create SNS topic maybe we should also create Kinesis stream. And if someone wants only event source mapping we should suggest custom resources.

Not sure if predictability will not suffer here.

[2016-08-01 14:44] #1125 closed

[2016-08-01 14:44] #1186 closed

[2016-08-01 14:45] #1255 closed

[2016-08-01 14:45] mthenw commented on #1720
Yeah, but why env var for that and not CLI param? I guess most of the tools use CLI param for that.

[2016-08-01 14:46] #1258 closed

[2016-08-01 14:46] flomotlik commented on #1608
Hmmm, we could simply start with a good docs page first and then see if and how we want to integrate this directly? I'm not sure we fully understand how people are using or want to use Kinesis integration in Serverless, so docs might be a good first step and then go from there (e.g. Add to the docs that people should reach out when they use kinesis with Serverless so we can learn more)

[2016-08-01 14:46] #1468 closed

[2016-08-01 14:46] #1469 closed

[2016-08-01 14:48] #1652 closed

[2016-08-01 14:48] #1695 closed

[2016-08-01 14:49] pmuens commented on #1690
Yep. Really like the ideas outlined in #1720. `SLS_DEBUG` really feels tedious...

[2016-08-01 14:50] mthenw commented on #1608
There is already note about that

https://github.com/serverless/serverless/blob/v1.0/docs/guide/overview-of-event-sources.md

[2016-08-01 14:55] eahefnawy commented on #1679
@johncmckim maybe you can put the entire `Resource: ["arn:aws:iot:us-east-1:123451234510:client/${iot:ClientId}"]` string into a serverless variable. I think it should work in that case cause we only populate variables once.

[2016-08-01 15:01] patoncrispy commented on #1596
A quick note just to say that during development I simplified the schema slightly to:
[code]

[2016-08-01 15:18] eahefnawy commented on #1689
@codepreneur how do you attach your policy? as a custom resources in `serverless.yml`? or using AWS console? If AWS console then this error is expected, because removing the role doesn't include removing the attached policy (because it's not in the CF template). But I think it should work if you have it defined as a CF resource in `serverless.yml`

[2016-08-01 15:24] eahefnawy commented on #1665
@fridaystreet this is intentional because we want to also support populating variables that are defined in your CF templates. If we do it the other way around, you'll be able to have the file path as a variable, but you will not be able to reference variables inside your template. So we had to make a tiny sacrifice 👼

[2016-08-01 15:27] eahefnawy opened #1721 "sls help should ignore most validations and print help instantly"
If there's an issue in your service config, running `sls help` shouldn't throw an error. Like the following example.

[code]

cc/ @flomotlik @pmuens

[2016-08-01 15:37] eahefnawy commented on #1592
hmmm I like @pmuens proposal. Specially now that we're merging v1 into master. Rather than have both READMEs into one, we'll just flip them and make v1 higher priority with a link to v0

[2016-08-01 15:41] eahefnawy commented on #1720
env vars has the advantage of always staying in debug mode (as long as you have this env var set) during development... In v0 we had `--debug` option, which just added the env var for the user. Hmmm maybe we should bring that back.

[2016-08-01 15:45] eahefnawy opened #1722 "Establish Community Plugin Repository"
We should have an official repository where we list all the custom plugins the community authored. A plugins directory.

cc/ @pmuens @flomotlik

[2016-08-01 15:47] eahefnawy opened #1723 "Add integration test coverage for event sources support"
We currently have basic integration tests for a simple single function service. After adding a lot of other features and event sources, we need more integration tests to cover all those new features.

cc/ @flomotlik @pmuens

[2016-08-01 16:06] flomotlik commented on #1723
Imho that integration test should be done in a separate repository so we can run through event integration tests against separate serverless versions. Imho putting it into the repo directly might lead to issues

[2016-08-01 17:23] codepreneur commented on #1689
@eahefnawy using AWS console, will try defining it as CF resource and report back.

[2016-08-01 19:09] danpantry commented on #778
Some more information about Windows.

The native Ubuntu bash does not function well either: I'm able to get to the "Create New Profile"/"Use Existing Profile". Pressing either up or down arrows to select one of these crashes the prompt.

[2016-08-01 19:50] pmuens commented on #1722
Great. Here are some questions we might want to answer:
- How should the structure look like?
- What are the initial plugins we can post there?
- Do we keep v0.5 and v1 plugins there?
- Do we add a static GitHub hosted website where we can make it searchable (like this one: https://justserverless.github.io/serverless-registry/)?

[2016-08-01 20:12] jordanmack commented on #778
@danpantry This issue is specifically in regards to git-bash on Windows. Is your problem related to Windows or Ubuntu?

[2016-08-01 20:33] vmadman commented on #1598
@eahefnawy I apologize that I did not notice your inquiry sooner.  Somehow the email notice was shuffled out of my inbox.

Anyway, sharing a single AAG API could probably be used to accomplish this.  Two services could share the same API directly, where endpoints in the API could point to Lambda functions from multiple services.  Alternatively, Serverless might do its usual thing, giving each serv

[2016-08-01 21:20] johncmckim commented on #1679
@eahefnawy that does resolve the issues. Thanks for the suggestion.

The solution is a little bit awkward, especially for the `SensorThingRule` example. Variables exist for re-use, so it seems a little strange to have to create a variable for a single property. The separation also makes it harder to understand the template as you have to look at `serverless.yml` and `serverless.env.yml`.

[2016-08-02 00:51] Bilal-S commented on #1720
I added a debug view into the system that allows me place the whole framework into node-inspector and do interactive debugging while things are executing. You are able to set breakpoints etc. as well as see the debug output as if the (--debug option) had been selected. You start the system with alternate command: sls-debug.  I will post it as a pull request for review.

[2016-08-02 00:52] rajington commented on #1252
Is this the same as the newer (but more popular) #1455?

[2016-08-02 01:03] Bilal-S opened #1724 "Allowing serverless to run in interactive debug mode"
Feature Request Template ------------------------------------------
##### Feature Request:

Interactive Debugger for Serverless
I am expanding this from issue #1720
The need existed for me to understand more clearly how the framework operates. An interactive debugging connection seems the solution for me. I will add the code for review as pull request.
##### Benefits:
- interactive debugging
- set

[2016-08-02 01:33] ac360 opened #1726 "Create Service Folder Again"
##### Serverless Framework Version:
v.1-alpha-2

##### Operating System:
osx 10.11.12

##### Expected Behavior:
Expected Serverless to create a folder in the CWD and put scaffolding in that folder.

##### Actual Behavior:
Serverless puts files in CWD.

##### Comments:
Why was this change made?  Why do users have to manually create folders for services?  Many other frameworks auto-create folders fo

[2016-08-02 02:10] Bilal-S commented on #1724
I seem to be off-track with the Alpha release changes. I've been changing things in older code. I will review the latest version. Is v1 the latest branch?

[2016-08-02 05:21] eahefnawy commented on #1726
After some discussion with @mthenw and @flomotlik it seems that it's actually more common to generate boilerplate in the CWD (Apex & Meteor are doing it this way for instance). It skips the step of `cd` into the folder after creation, and gives the user control over the folder name. I guess it's pretty opinionated though, so I'm fine with both.

We dropped the name option because we want to rely o

[2016-08-02 05:25] eahefnawy commented on #1723
@flomotlik so how would that look like? Travis would just clone this repo that contains a complex service and run certain tests against it? (deploy, invoke...etc)

[2016-08-02 05:30] eahefnawy commented on #1722
I vote for keeping it as simple as possible, just a list of plugins with one line description just like we had in the README. With a quick intro for the repo.

We currently don't have any plugins for v1, so it'll probably be empty for now.

I don't think it should include v0 as we're slowing deprecating it (ie. moving v1 into master).

imo that's an overkill right now. We don't even have any plugi

[2016-08-02 05:50] DavidWells opened #1727 "Improve missing credentials error & Setup Default AWS profile via CLI"
TLDR: http://www.screencast.com/t/1UR8eOMoU (1min 30 sec)

Upgrading from 0.5 to 1.0 causes some weird issues, all relating to the `~/.aws` credentials file containing old account information from v0.5 and expecting the `[default]` aws credentials (described [here](https://github.com/serverless/serverless/blob/v1.0/docs/guide/provider-account-setup.md#setting-a-default-aws-profile) linking to the

[2016-08-02 05:51] eahefnawy commented on #1679
I do agree it's a bit awkward. Here's another solution: you can defined your own variable syntax to replace the default `${}` syntax (which in this case conflicts with AWS). We added the ability to overwrite variable syntax for that exact reason actually. You just need to provide a regex:

[code]

I just noticed that this is not covered in the docs, sorry about that. Opening an issue now to cover

[2016-08-02 05:55] eahefnawy opened #1728 "Move variableSyntax property into the default property in serverless.yml"
currently `variableSyntax` property is at the highest level of `serverless.yml` … we should move it to `defaults` along with stage and region because it’s provider agnostic and it’s basically about overwriting the default variable syntax.

- [x] Move `variableSyntax` property into `defaults` object
- [x] Add docs for `variableSyntax`

cc/ @flomotlik @pmuens

[2016-08-02 05:56] DavidWells commented on #1727
Sending people to read through https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html#cli-config-files is a negative UX.

Lets remove this point of friction via:

- a setup step via the CLI
- and/or a GUI electron app

Either (or both) lets people plug in the AWS aws_access_key_id and aws_secret_access_key and writes it to their `~/.aws` credentials file if the `[default]`

[2016-08-02 06:08] ac360 commented on #1726
Frameworks that create folders for their scaffolding:

* Meteor - https://www.meteor.com/tutorials/blaze/creating-an-app
* Ruby On Rails - http://guides.rubyonrails.org/getting_started.html
* Django - https://docs.djangoproject.com/en/1.10/intro/tutorial01/#creating-a-project
* Revel - https://revel.github.io/tutorial/createapp.html

The extra command to make the directory is unnecessary.  The Fra

[2016-08-02 06:15] danpantry commented on #778
@jordanmack I'm able to reproduce this issue with Git Bash on Windows is in this ticket, however a similar-but-different issue occurs in the native Bash supplied by Canonical on Windows in the Windows 10 preview builds (admittedly, they are still preview).

Perhaps this info would be better suited in another issue?

[2016-08-02 06:28] johncmckim commented on #1679
Thanks. I'll give that a go tomorrow morning.

[2016-08-02 07:40] flomotlik commented on #1726
Imho we should create a --path option for the create plugin as well where instead of creating it in the local directory you can create the project in a specific path.

Also agree on the service name, imho having a nice solution where people can set the name easily and we overwrite it would be cool. Maybe something where we do a simple string replacement. We took it out as we had trouble with the c

[2016-08-02 07:40] pmuens commented on #1723
Yes. one repository which includes all test cases. This will then be picked up by e.g. Travis on a nightly basis and runs all the tests in there.

We can then remove the integration test section in our main repo.

Additionally we should run the integration test we have right now on each PR / Push so that we can make sure that the most simple usage still works.

[2016-08-02 07:43] pmuens commented on #1722
But this repo will contain the whole code, right?
I understood it that this repo is a repository which includes community plugins where dedicated community collaborators maintain them and make sure that they'll stick to a specific quality standard.

I would also not include v0 plugins as they'll mess everything up. v0 will be deprecated anyway.

[2016-08-02 07:44] pmuens commented on #1596
Done with https://github.com/serverless/serverless/pull/1703#discussion_r73014177

[2016-08-02 07:55] mthenw commented on #1726
I think it's relic from the past.

People have different workflows. Some of them create repo first. Some of them create code first. There is many ways to achieve the same result. IMHO creating folder is confusing and framework should now automate so basic thing.

I should be able to do

[code]

not (I assume that we don't want to change WD because that would be super confusing)

[code]

[2016-08-02 08:05] eahefnawy commented on #1722
oh you're right, I forgot about this one. I imagine the list will simply link to the internal plugin folder in the repo.

[2016-08-02 08:19] eahefnawy commented on #1707
Ok let's look at the fundamentals here and challenge our 1 year old assumptions. Here's stage, region and variables are:

### Stages
The concept of stages is simply a completely separate deployment of the service. We can easily do that by prefixing the service name with the stage name, hence creating an entirely new CF stack, without the need for `serverless.env.yml` at all.

### Regions
The conce

[2016-08-02 09:06] vmadman commented on #1598
@eahefnawy fyi.. in case you're curious... I learned about the Facade Layer concept from an "API Design Ebook" published by Apigee.  Even if Serverless is not interested in diving into these topics, its a book that I highly recommend: https://pages.apigee.com/rs/apigee/images/api-design-ebook-2012-03.pdf

There are tons of interesting concepts throughout that are worth reading.

[2016-08-02 10:00] pmuens opened #1732 "Interchanged README.md files for main logs and aws/logs plugin"
It seems like the README.md files for the logs are interchanged.
The main logs plugin README.md file has the content for the AWS specific README.md file and vice versa.

The plugins/

/cc @eahefnawy

[2016-08-02 10:02] pmuens opened #1733 "Update README.md files for general plugins and AWS related plugins"
The general plugins (e.g. `/lib/plugins/info`) `README.md` files should only contain information which is not provider specific.

The provider specific information should be contained in the plugins provider implementation.

[2016-08-02 10:51] nickchisiu opened #1734 "Serverless response/request models for the API endpoints"
##### Feature Request:

Add current https://www.npmjs.com/package/serverless-models-plugin as native sls feature . I think that in order to be fully-aligned with the sls best practices the plugin should be modified to support s-models.json|yml for different  functions as different files like s-function.json|yml does which serverless-models-plugin currently I'm aware supports only a single  s-model

[2016-08-02 10:53] flomotlik commented on #1728
Do we even need that feature? Is that something thats an issue for people, or can we simply remove it (or leave it undocumented?) Or was this born out of a specific use case you guys had in the past?

[2016-08-02 10:54] flomotlik commented on #1252
yup, closing

[2016-08-02 10:54] #1252 closed

[2016-08-02 11:43] svdgraaf commented on #1707
I really like idea of just using ENV vars, this makes things a lot more flexible. I actually think we don't need to have the different `${stage.ENVVAR}`, as the user can "simply" switch the environment for the current deploy if needed (eg: load a different .env file, or perhaps we provide a mechanism to provide an `.env` file). And let the OS take care of the environment, and Serverless can just t

[2016-08-02 11:51] HyperBrain commented on #1707
Currently we use stage configuration variables in our `s-resources-cf.json` to model conditional resource setups, e.g. different number of Kinesis shards for dev and prod, etc. Internally in SLS this is handled by substituting the var definitions in the CF file.
Another argument against using system environment variables is, when running builds on CI servers, it is hard to trace errors then on one

[2016-08-02 11:52] svdgraaf commented on #1707
@HyperBrain Hmmm, how are you solving the issue of secrets? Or do you just not have those in the .yml files?

[2016-08-02 11:55] HyperBrain commented on #1707
The secrets are not kept in the config files. They are injected by the build server (Bamboo) as AWS temporary session credentials. In my opinion secrets should not be part of any configuration but brought in by some independent second way.

[2016-08-02 12:01] pmuens commented on #1205
Resolved with https://github.com/serverless/serverless/pull/1494

[2016-08-02 12:01] #1205 closed

[2016-08-02 12:09] cspeer commented on #1287
+1 Running into it with 0.5.6 :(

[2016-08-02 12:09] svdgraaf commented on #1707
@HyperBrain I completely agree with your remark, using the env vars would still work in your setup, you would still have your credentials provided by Bamboo. You could still have your config file checked in, in a repo if you want to, it would be up to you to provide the correct one.

[2016-08-02 13:00] flomotlik commented on #1684
Hey guys, so I finally talked to @eahefnawy and he walked me through this. The basic issue that there is with resources getting correctly deployed to AWS, but those not showing up in Stages sounds to me like a bug in AWS.

While there are other bugs we've also worked around in AWS, this one can really only be resolved through hacks (e.g. removing resources and readding them on second deploy) it se

[2016-08-02 13:12] eahefnawy commented on #1707
@svdgraaf in the case you proposed, users would have to keep switching vars before each deployment. Do you think that's inconvenient? or would setting a predefined env var for each stage/region would be more inconvenient?

[2016-08-02 14:27] ianserlin commented on #1615
We diagnosed this by finding a bad CloudFormation stack with our service's name in the AWS console. In our case, the stack's status was `DELETE_FAILED`.

To fix: Either manually deleting the stack before trying to re-deploy, and/or renaming your service in `serverless.yml` from what it currently is (here's the aws nodejs template's default: `service: aws-nodejs`) to something new (for example `ser

[2016-08-02 14:27] ianserlin commented on #1614
We diagnosed this by finding a bad CloudFormation stack with our service's name in the AWS console. In our case, the stack's status was `DELETE_FAILED`.

To fix: Either manually deleting the stack before trying to re-deploy, and/or renaming your service in `serverless.yml` from what it currently is (here's the aws nodejs template's default: `service: aws-nodejs`) to something new (for example `ser

[2016-08-02 14:42] eahefnawy commented on #1665
@fridaystreet FYI there's an ongoing discussion on changing how stages/regions/variables works. You might find it insightful:
https://github.com/serverless/serverless/issues/1707

Closing this one for now ... Thanks for opening this up 😊

[2016-08-02 14:42] #1665 closed

[2016-08-02 15:49] eahefnawy commented on #1598
Thanks a lot for sharing this @vmadman  ... Our entire design for the framework is driven by proven concepts and architectures like this, mainly around microservices. So we're always on the look for more knowledge. Thanks for keeping up with that spirit! 😊

[2016-08-02 15:52] wedgybo commented on #1684
I immediately ran into problems once I'd adding more than one function which is what send me down this path.

There is a quick fix to the race condition, where you can add all the method resources to the deployments DependsOn option. This will help when setting up all the functions, but does not solve the problem when removing functions.

The stage still keeps endpoints around for removed function

[2016-08-02 15:55] flomotlik commented on #1728
Ok, trying to think of other ways to solve this, but anything from only replacing when there is actually a specific value present to changing the regex to allowing you to ignore it on specific strings just makes things even more complex.

Lets do this. @johncmckim if you have any feedback on this very much appreciated

[2016-08-02 15:59] eahefnawy commented on #1697
FYI I looked into this today, and it's fortunately it only affects the `logs` and `invoke` plugins but will not affect function deployment nor any of its event sources. The reason is, for event source specially , we reference the function by the logical id of the CF template of the function, not the function name itself, so regardless whether it's the default function name or a custom name, AWS wi

[2016-08-02 16:37] pmuens commented on #1697
Awesome @eahefnawy!
[This issue](https://github.com/serverless/serverless/issues/1718) came up after this is should be considered when resolving this one...

[2016-08-02 17:05] rajington commented on #1707
I've never done anything too complex with stage/regions, so I'm not sure if this is helpful, but have you [considered custom YAML types](https://github.com/nodeca/js-yaml/wiki/Custom-types)?

Could do something like this:

[code]

Also, there's some cool things you might be able to do with anchors for the more complex multiple architecture problem.

[2016-08-02 17:25] svdgraaf commented on #1707
@eahefnawy why would they keep switching vars? I don't follow :)

I meant the exact same solution as you provided, but I think the ${region/stage} stuff is perhaps a bit overengineered, I'd say let's keep things simple. It doesn't matter in the end though, if we implement it like that, users could decide to use that, or just use the `AUTHORIZER_ARN` var in their current environment, and have it re

[2016-08-02 18:27] flomotlik opened #1736 "Improve AWS credential handling, documentation and onboarding"
For users without prior knowledge of AWS its hard to understand how to get credentials in place to get started with using AWS.

This negatively influences the onboarding experience as users don't really know how to even get started. We need to have better documentation and potentially a simple onboarding command that could either set credentials or validate them.

Tasks:
- [ ] Improve documentatio

[2016-08-02 20:27] patrickbrandt opened #1737 "deploy is not creating API Gateway resource"
##### Serverless Framework Version:
1.0.0-alpha.2

##### Operating System:
Mac OSX Yosemite v 10.10.5

##### Expected Behavior:

when I run a `serverless deploy` command with the following configuration:

![image](https://cloud.githubusercontent.com/assets/11197026/17343807/8ab17bda-58cd-11e6-915f-55fb5b8b3709.png)

The corresponding API Gateway endpoint is created in my AWS account (GET /ping)

#

[2016-08-02 21:16] vmadman commented on #1598
@eahefnawy, it is my pleasure.  I could not agree more with philosophy; I always tell people that I spent the first 10 years of my career learning to create and invent and the second 10 years learning how to avoid doing both.  That Apigee book is a great example of a comprehensive, best practices, guide, based on practical experience, that can help us to stop reinventing wheels.  I hope you find v

[2016-08-02 21:19] shortjared opened #1738 "HTTP Events, cannot add methods for root `/`endpoint"
##### Serverless Framework Version:

1.0.0-alpha.2
##### Operating System:

OSX 10.11.6
##### Expected Behavior:

I would expect that I would be able to somehow deploy a method against the root `/` endpoint. Seems like validations block this from happening? Either that or I missed in the docs how to handle this.
##### Actual Behavior:

[code]

[code]

[2016-08-02 21:22] shortjared commented on #1737
For a workaround... trying going into API Gateway in the console and hit the deploy... seems that cloudformation will "update the api" but not actually deploy to a stage more than once.

![image](https://cloud.githubusercontent.com/assets/1689118/17345778/a7baf56e-58d5-11e6-91f1-3671bd261e2f.png)

[2016-08-02 21:26] johncmckim commented on #1728
@flomotlik my initial thought was a feature to escape the variable i.e. `$${clientId()}` with regex using a negative lookbehind `(?<!\$)\${([\s\S]+?)}`. The escaped variables could then be fixed on a second pass i.e. match `\$(\${([\s\S]+?)})` and remove first `$`.

An alternative would be to not touch missing variables and leave them as is. However, I'm not sure whether or not this would lead to

[2016-08-02 21:34] johncmckim commented on #1679
@eahefnawy I changed the variable syntax to `'\${{([\s\S]+?)}}'` and it worked perfectly. Thanks for your help.

[2016-08-02 21:34] #1679 closed

[2016-08-02 21:36] dperjar commented on #1007
Does anyone have something like this running, and can you describe what your s-function.json looks like until the docs are improved?

[2016-08-02 21:46] rajington commented on #1707
Just to give you an example of what that could look like, this is an arbitrary environment variable replacement tag:

assuming `process.env[foo]="bar"`, the env type

[code]

converts

[code]

into

[code]

[2016-08-02 23:33] DavidWells commented on #1736
something like:
[code]

1. this checks the `.aws/credentials` exist
2. if it exists, it checks for for [default] credentials block and then adds it if it doesn't exist
2a. doesn't exist create `.aws/credentials`, then run 2.

Basically a wrapper for this process https://github.com/serverless/serverless/blob/v1.0/docs/guide/provider-account-setup.md

The `sls setup` command is meant to streamline E

[2016-08-03 00:00] ac360 commented on #1736
Proposed Doc Structure:

[code]

[2016-08-03 00:02] ac360 commented on #1736
@DavidWells +1 Later, we can see if people want to persist other profiles with this command too.  But right now, keeping it simple and focused on only creating the `default` profile will help a lot.

[2016-08-03 01:06] ac360 commented on #1726
Thanks for the input, @mthenw.

You left out the first part:

[code]
vs.
[code]

One way to think about it is to pretend you are doing a demo.  I really don't want to deal with the first option when giving a demo.  Making the directory first and cd'ing into it will often be forgotten.  I'll create files in a folder where I didn't want them and lose time cleaning that up (I already did this).  Wher

[2016-08-03 01:16] fridaystreet commented on #1665
yep makes sense, thanks for the heads up :-)

[2016-08-03 06:47] bijoutrouvaille commented on #1593
To avoid a possible future bug that can be hard to trace https://github.com/serverless/serverless/pull/1685#issuecomment-237153843.

[2016-08-03 07:18] pmuens commented on #1608
I get the value of writing the docs first to evaluate if users need this.

But IMHO building a plugin which builds some kind of wrapper around the raw EventSourceMappings and only supports existing kinesis setups at first (without creating one if it's not present) is more valuable and less complex because users might already be familiar with event definitions in their functions and maybe less expe

[2016-08-03 07:44] pmuens commented on #1736
I really like the `serverless setup`command. Additionally I would make this work in a way that it will be automatically run when the user enters another command but has not yet setup his credentials.

E.g. he enters `serverless create`. Then Serverless will check if the credentials are setup and if not will prompt the setup steps. This way the user has not to run the `setup` process by hand.

Here

[2016-08-03 07:50] pmuens commented on #1726
TBH I'm also more comfortable when Serverless creates the directory for me and puts everything in there. I was really lost when we changed that the other day.

We should extend the `create` command with some options like this:

`serverless create --template aws-nodejs --path ./ --name my-awesome-service`

That could solve some of the main pain points. Some users have already requested the `--name`

[2016-08-03 08:56] pmuens commented on #1592
Moving this to another milestone as https://github.com/serverless/serverless/pull/1739 introduced some changes here.

[2016-08-03 09:09] flomotlik commented on #1726
Yup fully agree on the --name and --path option.

From a Workflow perspective I've found that creating subdirectories to be a lot more painful than the other way around typically, especially when I create projects regularly.

We want people to create a lot of services regularly, the typical use case (at least for me) is creating a Github repo, cloning it and then creating the files in that folder.

[2016-08-03 09:14] kid opened #1740 "Hitting CloudFormation templateBody limit when deploying"
##### Serverless Framework Version:
1.0.0-alpha-2

##### Operating System:
Mac OS X 10.11.5

##### Discussion:
Once you have a certain number of handlers and events, the deployment will fail because the CloudFormation template will hit the limit allowed when using the `templateBody` parameter of `ValidateStack` / `CreateStack` / `UpdateStack`
That limit is 51200 characters (http://docs.aws.amazon.

[2016-08-03 09:17] eahefnawy commented on #1683
[Resolved with this PR](https://github.com/serverless/serverless/pull/1702/files)

[2016-08-03 09:17] #1683 closed

[2016-08-03 09:37] eahefnawy commented on #1677
@codepreneur might be. Although #1684 is more related to APIG resources, while this issue seems like  a traditional CF template issue. Any particular reason you think this might be related?

I think this issue is more of a CloudFormation usage issue, because we simply take the resources you defined and merge them with the template without any manipulation. Maybe it's because of the `DeletionPolicy

[2016-08-03 09:41] flomotlik commented on #1608
@pmuens I agree that its interesting and important to have support for it, the only question for me is if we have enough understanding how it should work to build a good first iteration of it or if we should try to get more feedback first from potential users and put that into the documentation as well, so if people are using it through the docs link to a specific Github issue where they can chime

[2016-08-03 09:51] flomotlik commented on #1728
Yeah I thought about different ways of escaping it as well, but I think it will simply lead to other issues in the future when somebody wants to use $${} for something. So we'd be constantly pushing this out. The only real "solution" to this would be to have a ridiculously complex syntax that nobody would use, but that kind of defeats the purpose :D

Yup we basically have that implementation alrea

[2016-08-03 09:57] flomotlik commented on #1684
Adding @SAPessi in here as well from AWS, so he is aware :D

This problem has also lead to an issue with #1703 as setting new CORS parameters on a MOCK doesn't trigger a new deployment

[2016-08-03 10:29] johncmckim commented on #1728
@flomotlik So far I have only seen this issue with the new AWS IoT CloudFormation resources. In the small project I am working on now I have a IoT service, Web backend service and chat backend service. I only have to update the `variableSyntax` for the IoT service.

I think this is a reasonable user experience, if it is well documented. The solution is very easy to implement. In the end whether I

[2016-08-03 11:38] pmuens commented on #1608
Alright. Sounds reasonable. I'll add the corresponding docs for Kinesis streams and DynamoDB streams via `EventSourceMappings` and link to this issues in the docs so that we can discuss the implementation details with the community!

[2016-08-03 12:30] flomotlik commented on #1608
Awesome. @mthenw your feedback on the eventual docs would be super helpful as well

[2016-08-03 12:34] eahefnawy commented on #1598
@vmadman You're the best! 😊 ☺️

[2016-08-03 14:32] robizz commented on #1740
+1 please :)

[2016-08-03 14:35] gpiccinni commented on #1740
+1

To help with limits it should work as follows:

- Upload files (even more than 1) on s3
- Use the s3 url in the s-resources-cf.json as nested stacks

This should help with all limits (bytes, resources, outputs)

Thanks

[2016-08-03 14:47] wedgybo commented on #1737
I think it's an issue with your spacing on the events list. It needs to be just two spaces. I had the same issue first time around.

https://github.com/serverless/serverless/issues/1648

[2016-08-03 14:49] flomotlik commented on #1740
@kid thanks for reporting, this is definitely a big problem and needs to be resolved. Putting this into the next milestone.

[2016-08-03 15:48] patrickbrandt commented on #1737
That was it! I applied spacing rules per issue #1648:

![image](https://cloud.githubusercontent.com/assets/11197026/17372042/2651d2d6-5970-11e6-9120-ee362d4eaed2.png)

The API Gatweay resources were created and the dev stage was deployed on `serverless deploy`

Thank you.

[2016-08-03 16:07] ac360 commented on #1736
RE: current docs - At the moment, I'm trying hard to find how VPC support works in `serverless.yml`, but it's not obvious where to look.  I've clicked around for a few minutes now.  No luck.

[2016-08-03 16:29] estahn commented on #1736
@ac360 Here is some documentation: https://github.com/serverless/serverless/blob/v1.0/docs/guide/deploying-a-service.md#deploying-vpc-configuration-for-lambda

This will not work since the Iam Role doesn't have the necessary permission. I assume this isn't fully supported by serverless yet.

[2016-08-03 16:39] ac360 commented on #1736
Thank you, @estahn.  I found it.  The point is just to demonstrate that there is no obvious place to look.  Sticking VPC config into the deploying a service section is confusing.  There should be one place to look to see all AWS config details for `serverless.yml`.  Much easier to maintain too.

[2016-08-03 16:41] estahn commented on #1736
@ac360 I agree.

[2016-08-03 17:27] patrickbrandt commented on #1737
I just updated to beta from alpha. This issue appears to be resolved in beta. The following yaml will create and deploy two API Gateway endpoints and requisite functions as expected:

![image](https://cloud.githubusercontent.com/assets/11197026/17375121/bc4a0256-597d-11e6-9acd-05d94cc0e27a.png)

[2016-08-03 17:27] #1737 closed

[2016-08-03 17:40] chalfant commented on #1736
Please consider also accepting the environment variable-based configuration of credentials in the same manner as the AWS CLI and SDKS. This helps those of us who use the Secure Token Service to assume roles in other accounts.

See http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html#cli-environment

[2016-08-03 18:52] segf4ult opened #1744 "Boolean variable inconsistency"
Variable with boolean value true works (no warning or exception) with template parameters, value of false causes:
"WARNING: This variable is not defined"
"InvalidParameterType: Expected params.apiKeyRequired to be a boolean"

s-variables-stage.json
{
  "stage": "stage-name",
  "apiKeyRequired": true
}

s-function.json (snippet)
"endpoints": [{
        ...,
        "apiKeyRequired": "${apiKeyRequir

[2016-08-03 20:19] johncmckim commented on #1728
Btw, if this is an easy-pick I'm happy to create a PR for it.

[2016-08-03 23:45] ac360 commented on #1684
@flomotlik I cannot deploy endpoints at all because of this.  I can create 1 deployment, but no further ones.  This is not a nuisance, this makes the framework unusable.

[2016-08-03 23:51] estahn commented on #1736
@ac360 Should we create a separate ticket for the Iam Role issue?

[2016-08-04 02:00] bijoutrouvaille opened #1745 "aws updateStack.js fails because validStatuses does not include UPDATE_ROLLBACK_IN_PROGRESS"
##### Serverless Framework Version:
1.0.0-beta.1

##### Operating System:
El Capitan
##### Description:
Updating a service using `serverless deploy` results in failure,

[code]

updateStack.js checks if `validStatuses` contains `stackStatus`, which happens to be `UPDATE_ROLLBACK_IN_PROGRESS` while `validStatuses` is comprised of `UPDATE_COMPLETE,UPDATE_IN_PROGRESS,UPDATE_COMPLETE_CLEANUP_IN_PROGRE

[2016-08-04 03:47] domdivakaruni commented on #1684
@ac360 @flomotlik I am on the CFN team. We're looking into this please hang in there!

[2016-08-04 05:25] domdivakaruni commented on #1684
@ac360 @flomotlik  are you creating a new deployment resource each time you update your RestAPI and updating the DeploymentId on your stage to point to the new deployment? Lets get on a call first thing tomorrow and talk thru it. I think you've talked to Reto and/or Chris W before? I am going to get your email contact from them or if you can email me at ddivakar@amazon.com, we can coordinate on a

[2016-08-04 05:40] ac360 commented on #1684
@domdivakaruni @flomotlik I didn't code this functionality.  But, when I create a stack, an API Gateway REST API staged deployment is created.  When I update the stack, all paths and methods are updated, but I see no evidence that a new deployment was created.  It's not in the stage's deployment history in the dashboard.

Perhaps it's simply a matter of us not creating a new [CF API Gateway Deploy

[2016-08-04 05:58] bijoutrouvaille commented on #1745
So I've removed the deployment, re-deployed and the error went away. This happened when I upgrade from v1 alpha to beta, so that might have something to do with the problem.

I've done more testing with the beta, updating configuration for different parameters, and did not experience a problem again.

[2016-08-04 06:19] flomotlik commented on #1736
@chalfant we do support this. We're using the official AWS Node SDK and it should pull those environment variables: https://github.com/serverless/serverless/blob/master/docs/guide/provider-account-setup.md Let us know in case this doesn't work

[2016-08-04 06:29] eahefnawy commented on #1728
@johncmckim thanks for pitching in. Feel free to get started on it 😊 ... It's tagged for our next release. If you face any issues or have any questions, just ping us! ☺️

[2016-08-04 06:44] eahefnawy commented on #1684
@ac360 @domdivakaruni the issue is that the deployment template we're using (and the one you linked) is always the same with updates. The same rest api, and the same stage regardless of endpoint/methods. So doesn't the fact that it's linked to the updated restapi should mean that it reflects the updates there as well?

Updating the deployment template itself is easy, we can just add a unique token

[2016-08-04 06:46] flomotlik commented on #1684
@domdivakaruni Reaching out in an email to get the meeting set up

[2016-08-04 06:59] domdivakaruni commented on #1684
Awesome. Yea, lets talk thru it. Ill look for your email! @flomotlik

[2016-08-04 07:34] flomotlik commented on #1684
@codepreneur @wedgybo Now I finally get the whole picture of this. This is definitely a complete Show Stopper for the API Gateway implementation. Thanks for reporting and getting this started. Will fix as quickly as possible.

[2016-08-04 07:39] flomotlik commented on #1736
@estahn there is an issue created for it in #1535

I've just moved this up in priority so we can get this up and running fast. Shouldn't be too hard I think

[2016-08-04 07:47] flomotlik commented on #1535
Imho the best way to implement would be to have an `iam_statements` Array in the provider config parameter. Users can then add their own IAM Statements that we simply add to the IAM statements in [core-cf.json](https://github.com/serverless/serverless/blob/990d7c5a089c2047cdd342fca88f6c006c53c4c3/lib/plugins/aws/deploy/lib/core-cf.json#L30)

[code]

This is definitely complex for beginners, but IA

[2016-08-04 07:52] eL0ck opened #1746 "Append to existing Environment Variables"
Setting new environment variables works great.  However it seems impossible to UPDATE and existing variable.

Is there an equivalent to:

[code]

I'm using python2.7 for my functions, so the lambda function gets deployed with the following line in the `_serverless_handler.py`:

[code]

... which obviously fails.

I would prefer not to use a dummy handler which finishes the job of setting up the en

[2016-08-04 07:53] mthenw commented on #1535
I like that. Solves my problems :)

[2016-08-04 07:59] wedgybo commented on #1684
No problem. Hopefully a sensible fix will come out instead of the [hack fix PR](https://github.com/serverless/serverless/issues/1692) raised. I get the feeling we have to create the stage manually rather than relying on the deployment doing it.

[2016-08-04 08:01] flomotlik commented on #1684
Yup, talking to @domdivakaruni from AWS soon to find a way to resolve this. I'm not completely sure yet if there is something we need to do differently in our Cloudformation template, or if its a bug in AWS. Thanks for all your research @wedgybo so far on this, very helpful

[2016-08-04 08:03] estahn commented on #1535
@flomotlik In my opinion this doesn't need to cater towards beginners.

[2016-08-04 09:50] pmuilu opened #1748 ".aws credentials/config filename bug"
Documentation states that you may run "aws configure" to add the credentials file. However aws adds ./aws/config file instead of ./aws/credentials file which results Error: ServerlessError: TimeoutError: Missing credentials in config.

It seems Serverless expects that the file is  ./aws/credentials so it needs to be renamed.

Either this should be fixed to documentation or sls should use the confi

[2016-08-04 10:48] flomotlik commented on #1740
The current solution I can think of is creating the stack with template body (it only has the S3 bucket in there). Then as soon as we do updates to the stack to actually create functions and the whole infrastructure we push the template file into S3 and point to it for deployment. That should resolve the issue and work well with our current infrastructure. @pmuens @eahefnawy any other ideas?

This

[2016-08-04 11:42] chalfant commented on #1736
@flomotlik Excellent. I'll give it a try.

[2016-08-04 12:01] pmuens commented on #1535
Solved with #1749

[2016-08-04 12:04] pmuens commented on #1740
Just putting it inside the S3 bucket sounds like the best solution 👍 .

Shouldn't be that hard to implement either.

[2016-08-04 12:04] mthenw commented on #1535
Is it christmas today?

[2016-08-04 12:49] codepreneur opened #1752 "[Breaking change] serverless deploy does not work with 1.0.0-beta.1 when deploying services built with 1.0.0-alpha.2"
##### Serverless Framework Version:

[code]

##### Operating System:

![image](https://cloud.githubusercontent.com/assets/3421858/16957931/5fe5d11e-4dd6-11e6-9d95-a5734cdee160.png)

##### Expected Behavior:

![image](https://cloud.githubusercontent.com/assets/3421858/17402212/e8e22b6e-5a49-11e6-970f-12d2018723f4.png)

##### Actual Behavior:

![image](https://cloud.githubusercontent.com/assets/3421

[2016-08-04 12:50] pmuens commented on #1441
Added docs how one can set this up in https://github.com/serverless/serverless/pull/1751

[2016-08-04 12:50] pmuens commented on #1608
Add docs how one can set this up in https://github.com/serverless/serverless/pull/1751

[2016-08-04 12:53] wedgybo commented on #1752
Paste your cloudformation logs to see where it failed if you could please

[2016-08-04 12:55] pmuens commented on #1752
@codepreneur thanks for reporting!

Might have something todo with this PR https://github.com/serverless/serverless/pull/1702 from @wedgybo

[2016-08-04 12:56] wedgybo commented on #1752
Yup, if it's a redeploy there might be issues we haven't considered. The cloudformation error should help more

[2016-08-04 13:02] codepreneur commented on #1752
@wedgybo see above.

[2016-08-04 13:09] wedgybo commented on #1752
You'll need to grab the logs from the cloudformation site as that error isn't very helpful unfortunately.

Specifically you want to look for the status reason next to the failed event for that deploy.

Should be another feature to pull that into back.

https://www.dropbox.com/s/jpsnknwk0ugsso9/Screenshot%202016-08-04%2014.08.37.png?dl=1

[2016-08-04 13:17] codepreneur commented on #1752
@wedgybo thats what I did. Here they are again:

![image](https://cloud.githubusercontent.com/assets/3421858/17402493/7339511a-5a4b-11e6-81b8-0f50cb28a6dc.png)

[2016-08-04 13:20] wedgybo commented on #1752
Hah sorry about that. Forgot to refresh 🔫

Okly, can you paste your config. Looks like it thinks two things are the same so there could be an issue with the resource names based on the paths you've specified.

[2016-08-04 13:26] codepreneur commented on #1752
`serverless.yaml`

[code]

`serverless.env.yaml`

[code]

[2016-08-04 13:32] wedgybo commented on #1752
Yea OK I'll bet it works from a fresh deploy? The issue will be because there is a resource still standing using the ResourceApigEvent0 name with the same path which is due to be replaced by the named one. The original one doesn't get cleared away until the cleanup at the end of a successful deploy.

I'm not sure if there's away to migrate from one to the other without a fresh deploy as you can't

[2016-08-04 13:33] nicka commented on #1707
**Some thoughts**
In `0.5.X` we commit all `json` files within `_meta` except for `dev*.json`(we don't store secrets). Each developer has it's own AWS account and stack to work on new project features. Why do we commit `_meta/**/*.json` files? The reason behind this is that users can easily loose stage/stack variables between branching, deployments etc. Our CI commits any `json` updates made in `_

[2016-08-04 13:33] codepreneur commented on #1752
I have narrowed it down to what the problem is:

Basically if there are no endpoints defined, it deploys successfully:

![image](https://cloud.githubusercontent.com/assets/3421858/17403503/ffb821c6-5a4f-11e6-91d7-7a902a56d3d7.png)

But if at least one endpoint is defined, it fails again and again:

![image](https://cloud.githubusercontent.com/assets/3421858/17403524/15bffe08-5a50-11e6-806e-e6b5e8c

[2016-08-04 13:39] nicka commented on #1736
What about multi profile support? Atm it's only possible to use the `default` profile right?

[2016-08-04 13:49] nicka commented on #1457
Simple idea... don't shoot me 😊

Format with a hash based on `includes` dir, `handler.js` and `serverless.env.yml`?

I would also recommend enabling versioning on the Lambda S3 bucket with a lifecycle rule to remove archives older than X days on top of the keep 5 archives.

[2016-08-04 13:59] codepreneur commented on #1740
I switched to using only one endpoint/function per service (and putting them in separate folders with their own dependencies) long time ago...

[2016-08-04 14:08] pmuens commented on #1457
@nicka thanks for that idea! 👍

Love the versioning of the S3 bucket as it's already available through AWS and also of interest if we store the CloudFormation template there (like discussed here: https://github.com/serverless/serverless/issues/1740).

Currently not quite sure if we should just version the lambda or the entire CloudFormation stack.

[2016-08-04 14:12] nicka commented on #1707
Atm it's also seems broken or I don't properly get it:

`serverless.yml`
[code]

`serverless.env.yml`
[code]

My function ends up being called: `dev-us-east-1-foo`

<img width="1072" alt="screen shot 2016-08-04 at 16 10 49" src="https://cloud.githubusercontent.com/assets/195404/17405033/4931067a-5a5e-11e6-9bbb-15c2df9004b9.png">

[2016-08-04 14:18] nicka opened #1754 "Variable mapping looks broken"
##### Serverless Framework Version: 1.0
##### Operating System: Mac OSX 10.11.6
##### Expected Behavior: Lambda function being named `devnick-eu-central-1-foo`
##### Actual Behavior: Function is being named `dev-us-east-1-foo`

# Additional info

Atm variable mapping seems broken or I don't properly get it? Do default `${stage}` and `${region}` variables exist?

`serverless.yml`
[code]

`serverles

[2016-08-04 14:22] kennu commented on #1707
We have also always committed `_meta` to Git, so that multiple developers can work on the same project. And we have excluded `_meta/variables/s-variables-dev.json` and synced it with `sls meta sync` (since it has secrets).

The problem with that approach has been that Serverless 0.5 fails with an error when `s-variables-dev.json` is missing. Developers have had to manually create an empty file fir