[2019-08-28 21:31] gevorggalstyan commented on #6607
Does this help?
[code]

[2019-08-29 02:11] atz commented on #2008
You should at least be able to formally model your own file, without any plugins.  It then becomes very easy for a plugin-developer to specify what additional expressivity they are adding, by extending your existing schema.

I agree you cannot integrate validation at runtime with plugins, since the intersection of arbitrary plugins does not produce a foreknown document-space.  Or rather, you *coul

[2019-08-29 11:45] medikoo commented on #6607
@gevorggalstyan unfortunately with above example I wasn't able to reproduce the error. Here's a sample project I've prepared, and it deploys without issues: https://gist.github.com/medikoo/9a7091308770885b2314fc0c197cd9d9

This error appears when you rely on options which are not perfectly supported in CloudFormation, therefore we apply them via SDK calls (which happens after deployment of CloudFo

[2019-08-29 11:45] odannyboy000 commented on #6576
I'm also facing this issue. I'm able to enter the MFA token at any time and serverless still successfully deploys, but it certainly is confusing.

[2019-08-29 15:54] roboweaver commented on #3215
I'm having this same issue with the zip when trying to create a layer. If I zip the package with just the symlinks, the package is 28mb, but with the way serverless is doing it, I end up with a file that is almost 200Mb, and it fails to build the layer due to the expanded version being over 200M

[2019-08-29 15:55] roboweaver commented on #6505
I'm having this same issue with the zip when trying to create a layer. If I zip the package with just the symlinks, the package is 28mb, but with the way serverless is doing it, I end up with a file that is almost 200Mb, and it fails to build the layer due to the expanded version being over 200M

[2019-08-29 16:00] medikoo commented on #6505
This will be covered with https://github.com/serverless/serverless/issues/6580 on which we should start some work shortly

[2019-08-29 18:38] jakemitchellxyz commented on #5100
+1

[2019-08-29 20:28] franz-josef-kaiser commented on #6454
Honestly, this should be disabled per default.

[2019-08-30 00:58] cameljava commented on #4711
hi, Guys:

I am quite new to serverless, just wondering if we can deploy a customer authoriser an individual lambda instead of having to deploy with a service in api gateway?

Thanks

[2019-08-30 01:00] gevorggalstyan commented on #6607
@medikoo Our application has been deployed with previous versions successfully and even with version 1.50.1. The issue has only started with version 1.51.0. I can see in that version commits that there have been several changes related to logs at least. There is nothing else left in the configs, just a long list of -http events on the same function.

Can you please try deploying with version 1.50.

[2019-08-30 01:16] gevorggalstyan commented on #6607
Update: I have tried deploying the stack in your gist with 1.50.1 and then with 1.51.0 and did not hit the issue.

Going to redeploy the app from ground-up, to check if it works that way.

[2019-08-30 04:05] Woojie commented on #6557
This happens to me to, however i cannot downgrade below 1.49 as I wish to use eventBridge. Any suggestions would be great!

`  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          github.com/serverless/serverless/issues
     Issues:        forum.serverless.com

  Your Environment Information ---------------------------
     Operating

[2019-08-30 04:21] gevorggalstyan commented on #6607
@medikoo I found the exact commit on the master that is causing the issues for us:

https://github.com/serverless/serverless/commit/dda0c71048f90efe8d1c5b2c774dbbf6023b86b4

I think the problem is in the assumption that AWS::ApiGateway::Resource will/must always be in the main stack. In fact, it can be in pretty much any related nested stack. After the changes, the code tries to find it in the mai

[2019-08-30 07:03] sejal2607 opened #6609 "TypeError: action.split is not a function"
# This is a Bug Report

## Description

- What went wrong?
- What did you expect should have happened?
- What was the config you used?
- What stacktrace or error message from your provider did you see?

Similar or dependent issues:

- #12345

## Additional Data

- **_Serverless Framework Version you're using_**:
- **_Operating System_**:
- **_Stack Trace_**:
- **_Provider Error messages_**:

[2019-08-30 07:04] #6609 closed

[2019-08-30 08:41] ebisbe commented on #6569
@pmuens Your suggested solution works for me. Thanks

[2019-08-30 08:41] #6569 closed

[2019-08-30 10:24] medikoo commented on #6607
Indeed I didn't took into account that users may rely on nested stacks. Good find!

Yes, definitely we can do that. Do you want to open a PR?

[2019-08-30 10:30] vladgolubev opened #6610 "Support MaximumBatchingWindowInSeconds parameter for DynamoDB and Kinesis triggers"
# This is a Feature Proposal

## Description

See https://docs.aws.amazon.com/lambda/latest/dg/best-practices.html#stream-events

See https://github.com/aws/aws-sdk-js/blob/master/CHANGELOG.md#25200

#### Suggested config

[code]

[2019-08-30 10:54] gevorggalstyan commented on #6607
Sure thing! Here it is https://github.com/serverless/serverless/pull/6611

Would be very thankful if we could get this merged as soon as possible so we can re-enable our logs. Thank you.

[2019-08-30 13:25] carlosonunez opened #6612 "serverless deploy fails with ROLLBACK_COMPLETE error"
# This is a Bug Report

## Description

- What went wrong?

I got the following error message upon trying to re-deploy my function after a previous error:

[code]

- What did you expect should have happened?

Serverless should have attempted to deploy the function.

- What was the config you used?

[code]
- What stacktrace or error message from your provider did you see?

[code]

Similar or depend

[2019-08-30 15:30] lqueryvg commented on #5878
@dougmoscrop, here's how I did it in the end...

[code]

[2019-08-30 15:41] ianbale opened #6613 "Deployment error if file does not have group read permission"
# This is a Bug Report

## Description

I am using Mega to sync source code between two computers. It has just come to my attention that the default permissions in Mega mean that whilst my original file had 644 permission. After the sync, it has 600. ie. no read permission for group users.

Whilst my situation came about due to Mega sync, it has highlighted a wider issue -that either serverless bu

[2019-08-30 15:51] michaelbats commented on #5536
**cricket sounds**

[2019-08-30 16:43] olafur-palsson commented on #6595
Hello, I'm interested in solving this issue, can anyone point me in the right direction?

[2019-08-30 17:23] medikoo commented on #6595
@olafur-palsson here's a place where we create a dedicated role internally: https://github.com/serverless/serverless/blob/91ae8bcc17d3ab7874507c8192375b4a28627592/lib/plugins/aws/customResources/index.js#L86

Still, allowing to provide custom role for that, is a bit controversial, as what polices are required may vary across versions (even minor updates), while role as provided by user will have t

[2019-09-01 11:40] hk1997 commented on #5987
Hi, is the issue still open.
I would love to work on this

[2019-09-02 10:48] dav2490 commented on #5573
+1

[2019-09-02 12:09] montao commented on #6597
ok it looks like the aws sdk e.g. boto3 can do it.

[2019-09-02 12:09] #6597 closed

[2019-09-02 12:14] sanjay-zymr commented on #5892
I am also facing the same issue. Does anyone have a solution for the same?

[2019-09-02 12:15] medikoo commented on #6605
@armenr great thanks for that valuable report! This will be fixed with #6616

Still I believe our packaging logic won't work well with dependencies referenced via symlinks.
So that probably won't fix this issue completely for you (expect crashes or process hangs when packaging or deploying)

The packaging improvements which will introduce a proper support for symlinks will be covered at #6580

[2019-09-02 12:18] #6607 closed

[2019-09-02 12:43] #6605 closed

[2019-09-02 14:56] zerthimon opened #6617 "kubeless: TypeError: Cannot read property 'runtime-images' of undefined"
# This is a Bug Report

## Description
Getting this error with kubeless:
[code]

## Additional Data
serverless.yml:
[code]
handler.py:
[code]

kubeless works as expected:
[code]
[code]
[code]
[code]
[code]

[2019-09-02 18:01] ElGecko76 opened #6619 "Unzipped size must be smaller than 182402329 bytes"
Hi,

I have a Symfony 4 website and I would like deploy it but I have this error :

when I use this following command :

![image](https://user-images.githubusercontent.com/19478137/64129443-4fed2c80-cdbc-11e9-87bc-2aded41aeab2.png)

serverless.yaml :

[code]

How can I make it work please?

[2019-09-02 19:27] nodesocket commented on #6617
I am having the same problem trying to use Kubernetes (via Kubeless). See my comment on an associated issue https://github.com/serverless/serverless-kubeless/issues/140#issuecomment-526726537.

Are you running on Amazon EKS by chance? I am, and I think that is the core of the problem.

[2019-09-03 01:50] jimcamut commented on #6503
@herebebogans I'm having a similar issue, which might be due to serverless-webpack-plugin. Where do you add `export NODE_OPTIONS=--max_old_space_size=8192` to?

[2019-09-03 02:10] Jaystified opened #6620 "Cloudwatch Logs NextToken is in incorrect format"
wrong repo

[2019-09-03 02:10] #6620 closed

[2019-09-03 03:19] qdchong opened #6621 "STS:GetCallerIdentity does not use STS VPC Endpoint"
# This is a Bug Report

## Description

- What went wrong?
Deployment of serverless framework does not use the STS VPC endpoint but instead defaults to the default sts url.

- What did you expect should have happened?
it should use the sts vpc endpoint.

- What was the config you used?
- What stacktrace or error message from your provider did you see?
Timed out

Similar or dependent issues:

- #12

[2019-09-03 06:54] qdchong commented on #6621
how do i pass in the endpoint url when serverless makes a STS request?

[2019-09-03 08:26] pmuens commented on #6617
Thanks for opening @zerthimon :+1:

This seems to be related to the kubeless provider plugin (as @nodesocket pointed out). I'll close this issue for now. Feel free to continue the discussion.

[2019-09-03 08:26] #6617 closed

[2019-09-03 09:32] zerthimon commented on #6617
@nodesocket Nope, this happens on-prem kebernetes

[2019-09-03 11:41] marcelpanse opened #6623 "Webpack compile lambda's sequentially"
# This is a Feature Proposal

## Description

- What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
Deploying an individual lambda function in our project (including compiling/packaging/deploying) takes only 4-5seconds. We have around 40+ lamda's in our project. When we do a full serverless deploy of all function, serverless will

[2019-09-03 11:49] medikoo commented on #6623
@marcelpanse what you describe, looks more as a concern of [serverless-webpack](https://github.com/serverless-heaven/serverless-webpack) plugin. So best if you post it there.

As a side note we plan a significant packaging improvements in context of Framework core -. https://github.com/serverless/serverless/issues/6580 They will definitely decrease a need for relying on plugins as `serverless-webp

[2019-09-03 15:43] francovp commented on #6557
1.51.0 still has the same error.
Did they even try to fix the bug before the 1.51 release?

[2019-09-03 15:46] rlgod commented on #6557
Looks to only affect windows so likely they aren't being affected thus making it less of a priority

[2019-09-03 15:54] devblueray commented on #6351
Found this and wanted to add a comment with my experience.  The most common cause I've found is when you try to delete a stack and the delete fails for some reason.  If it gets to the S3 bucket resource before it gets to the failure then the bucket will get deleted producing this error if you try to redeploy because the stack already exists.  You will need to manually delete the stack because to m

[2019-09-03 16:01] medikoo commented on #6557
Work to be done is scheduled here: https://github.com/serverless/serverless/issues/6598.
It's in a queue, and if not with next minor release, I believe it should land with following one.

[2019-09-03 17:34] nodesocket commented on #6617
@zerthimon I created an issue in the Kubeless repo. Would appreciate a +1 there and you can follow along.

[2019-09-03 23:06] miguel-a-calles-mba opened #6627 "Updating Google Cloud Functions support"
# This is a Feature Proposal

## Description

It appears Serverless is using the legacy Google Cloud Functions event triggers. For example, in this GCP documentation page  https://cloud.google.com/functions/docs/calling/pubsub#functions-deploy-command-node8, it states `providers/cloud.pubsub/eventTypes/topic.publish` is a legacy trigger and they use recommend using trigger topic.

Will Serverless

[2019-09-03 23:08] dundas commented on #6503
In the command line in root of your project.

[2019-09-04 01:13] qdchong commented on #6621
i understand that AWS design STS to connect to a global endpoint as the default, and serverless framework working in a non internet environment is quite a challenge as it is not able to connect to the serverless network during the deployment.  However if there is no fix for this, the workaround is to set the aws.config.sts endpoint inside awsProvider.js file.

[2019-09-04 07:01] pmuens commented on #6627
Hey @miguel-a-calles-mba thanks for opening! :+1:

This seems to be related to the Serverless Google Cloud Functions provider plugin. Could you re-open the issue in that repository?

Thanks in advance!

[2019-09-04 07:01] #6627 closed

[2019-09-04 08:54] gravitycode opened #6629 "Error pushing data to Api-Gateway with Websockets"
Error pushing data to Api-Gateway with Websockets

## Description

Im having an error with Serverless Websocket when i send it data to subscribers with postToConnection. This problem only occurs in Linux, not in MacOS.

AWS_API_GATEWAY_ENDPOINT::  http://locahost:4001

My fragment of the serverless.yml where i configure the ports:
[code]

##Logs

Serverless: POST /2015-03-31/functions/ws-server-de

[2019-09-04 11:46] pmuens commented on #6629
Hey @gravitycode thanks for opening :+1:

This seems to be related to the `serverless-offline` plugin. Can you open up the issue in their repo? Thanks!

[2019-09-04 11:46] #6629 closed

[2019-09-04 11:48] pmuens opened #6630 "Async stack operations"
# This is a Feature Proposal

## Description

In #6512 we've implemented async stack operations but removed this functionality to get back to the drawing board and implement this in a more sophisticated way.

[2019-09-04 11:48] gravitycode commented on #6629
Ah, ok :) thank you!

[2019-09-04 15:19] miguel-a-calles-mba commented on #6627
Sounds good. I created the issue in that repository. Thanks.

[2019-09-04 15:41] hotgazpacho commented on #6094
I'd like to put in a vote for customizing the `LogGroupName`. I use DataDog for monitoring, and their integration wants `apigateway` somewhere in the log group name, not `api-gateway`

[2019-09-04 17:28] jebricker opened #6632 "Serverless behind corporate proxy"
# This is a Bug Report

## Description
I have an issue similar to #5308 but the framework does not seem to pick up the proxy env variable.  Using a win20 client via cmd shell.

- What went wrong?
The framework does not seem to be picking up the HTTPS_PROXY environmental variable.  Below is a debug text from running the command serverless --version

- What did you expect should have happened?
I exp

[2019-09-04 18:35] rsshilli commented on #6454
I'm on AWS and I see it.  Super annoying.  I agree it should be disabled by default.

[2019-09-04 18:57] jebricker commented on #6632
I did an uninstall and reinstall of serverless and saw this error

[code]

[2019-09-04 22:59] tommedema commented on #6610
Really need this! Currently resorting to manually creating an event stream mappping

[2019-09-05 06:15] mithunph opened #6634 "Realmjs not working after deployment in serverless framework"
Hi, I have installed Realmjs which is working fine in local. But after deployment, it is showing error when i require(or import) that package.
Showing error in the below line
const Realm = require('realm');

Below is the full logs of error:
Unable to import module 'server': Error
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Modul

[2019-09-05 06:46] Dev-Dipesh commented on #2169
## ⚠️ Please open the issue

The error is still there in the new version.

This doesn't work.

[code]

**Throws error:**

[code]

This works:

[code]

### Additional Info

**My `env.yml` file**

[code]

**Serverless in `package.json`**

[code]

[2019-09-05 07:48] medikoo commented on #6634
Have you installed `realm` as dependency or as dev dependency?

Note that if it's installed as dev dependency it'll be not packaged by default (so above error then is the expected outcome)

[2019-09-05 07:56] mithunph commented on #6634
Hi @medikoo,
realm is installed as dependency

[2019-09-05 08:04] medikoo commented on #6634
It's probably related that realm relies on C++ module that needs to be compiled for given environment.

@pmuens do we have any recommendations for users which want to rely on C++ Node.js modules?

[2019-09-05 08:05] medikoo commented on #6634
See also this thread: https://github.com/serverless/serverless/issues/308#issuecomment-242087480

[2019-09-05 11:39] pmuens commented on #6557
Hey everyone,
thanks for reporting and confirming this issue. I just created https://github.com/serverless/serverless/issues/6557 to explore different solutions for this issue. Apparently there are just too many files involved when packaging the service, so I added the `--production` flag to the `npm install` command (which I should've done on day one).

Unfortunately I don't have a Windows machin

[2019-09-05 11:51] #6634 closed

[2019-09-05 11:54] mithunph commented on #6634
I fixed it by adding the below line in package.json
"postinstall": "chmod +x ./bin/build-realm.sh"

Added below code to build-realm.sh file
#!/usr/bin/env bash
set -e
npm install -g node-gyp
npm install -g node-pre-gyp
cd ./node_modules/realm/
node-pre-gyp install --fallback-to-build

[2019-09-05 12:41] RamonJRV opened #6637 "serverless deploy not picking up cacert file during python packaging on windows"
# This is a Bug Report

## Description

I am able to use a `.pem` file to do [`serverless login` using the `cafile` environment variable](https://stackoverflow.com/questions/57758234/serverless-framework-login-from-behind-a-proxy).

However, during the `serverless deploy` phase I get an error while packaging:

I have an [outstanding stackoverflow question regarding the same question](https://stack

[2019-09-05 12:52] pmuens commented on #6594
Hey @trevorrecker thanks for opening :+1:

I tried to reproduce this today but I ran into an Issue where I cannot configure Segment anymore (it returns `Validation Error not implemented integration` when I use the event tester for EventBridge on Segments end).

In the meantime could you post a `serverless.yml` file which I can use to reproduce this bug? I remember that I deployed a test service in

[2019-09-05 13:40] #3944 closed

[2019-09-05 14:44] jebricker commented on #6632
This seems to be a Windows issue with the code.  I ran the same thing in Cygwin and had no issues.

[2019-09-05 15:37] Ellosaur opened #6638 "Setting `existing: true` on an s3 lambda event causes deployment to fail"
# This is a Bug Report

## Description

- What went wrong?
Adding the `existing: true` property to the function below causes the previously passing deployment to fail

- What did you expect should have happened?
Serverless should deploy, adding an s3 trigger event to the existing bucket that triggers the lambda function

- What was the config you used?
[code]

- What stacktrace or error message fr

[2019-09-05 15:58] jaredready commented on #4600
FYI this is now supported in CloudFormation https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-cognito-userpool-lambdaconfig.html

[2019-09-05 16:27] araujoigor opened #6640 "Reordering or updating in number of Event Schedules break deployment"
# This is a Bug Report

## Description

After deploying a function with `schedules`, if the order of the registered schedules change (be it because of actual ordering or because due to additions/removals a schedule with index `i` became a schedule with index `j`), further deployments can't be performed unless the stack or the stuck resources are removed.

I would rather expect that the schedules a

[2019-09-05 16:51] araujoigor commented on #6640
I would be willing to suggest a fix and even develop it myself, but I would like to first suggest my approach.

I think the logical id for the schedules shouldn't be based on the function name and the "index" but rather the schedule name (or even function name + schedule name).

The reason it fails is that it tries to update or create the resource based on the logical id. However, because the logi

[2019-09-05 17:43] ultrarunner commented on #5892
I am not sure this will help anyone but the issue resolved itself when I added a physical file in the folder that had the exclude path listed. I had the following in the
[code]
And my folder structure was as such:
[code]
but I did not have any files yet in it. As soon as I added a  physical file, the error went away. Not sure it makes sense bu I hope this helps.

[2019-09-05 17:48] stefaneg commented on #6230
Encountered this issue too when trying serverless for the first time. The entire enterprise-plugin behavior is a dealbreaker for me, I have no interest whatsoever in routing logs to an account that I do not have control over.

Furthermore, it seems impossible to uninstall enterprise-plugin to get rid of this behavior:

[code]

also not working:

[code]

[2019-09-05 21:19] daaru00 commented on #4702
Hi,

I don't know if is related but I have the same issue without referencing CloudFormation outputs. I'm using a simple template (just a wrapper around my plugin):
[code]
during deploy, after Safeguards checks, it raise the same error:
[code]

Personally I cannot understand the error, the host is truncated so I cannot understand if is related to variable interpolation or not. The error stack seem

[2019-09-05 21:26] csmobile commented on #6175
you may want to try:
sls logout

this fixed the issue for me.  Recommended by David Wells - Serverless forum

[2019-09-05 22:42] theburningmonk opened #6641 "Support Condition and DependsOn"
# This is a Feature Proposal

## Description

Allow users to specify `condition` and `dependsOn` on functions and compile them to CloudFormation `Condition` and `DependsOn` for the Lambda function resource.

[2019-09-06 03:25] satejsarker commented on #3393
adding  the path in the environment variable will be solve the issue
C:\Users\<user>\$APPDATA\npm\

[2019-09-06 04:07] trevorrecker commented on #6594
@pmuens Here's a stripped down `serverless.yml` that is what I used when the above error occurred:

[code]

Here's the JSON for the event that I sent in Segment's Event Tester that should trigger the above function:

[code]

I sent the above from the following page: `https://app.segment.com/{accountName}/destinations/amazon-eventbridge/sources/java/event-tester`

When I deployed this before, the `

[2019-09-06 04:48] hoang-innomizetech opened #6643 "Too Many Requests error of CustomApiGatewayAccountCloudWatchRole resource"
# This is a Bug Report

## Description
I have customized the logs as below:

[code]

- When deploying I am getting Too Many Requests error that prevents deploy the serverless service
- If I disabled the logs config, then I will able to deploy service without any error

## Additional Data

An error occurred: CustomApiGatewayAccountCloudWatchRole - Failed to create resource. Too Many Requests See de

[2019-09-06 04:52] ThinkHattke commented on #6351
Deleting the stack form the cloud formation resolved the issue for me thanks @devblueray

[2019-09-06 06:53] medikoo commented on #6643
Does it happen to you in all cases?

Technically it's an error that happens only when too many requests are issued at some timeframe. I believe that retrying deployment after a while should make it successful.

What we can improve internally is to retry on such errors. We'll cover that with https://github.com/serverless/serverless/issues/6598

[2019-09-06 07:40] mithunph opened #6644 "Read-only file system error while trying to download file in directory using serverless"
Hi,
 I get Read-only file system error while trying to download file in directory using serverless framework.It works fine in local but getting error after deployment

Below is the code snippet:
Realm.open({schema: [schema1, schema2], path: './offline' + '/' + 'filename.realm', schemaVersion: 1})
        .then(realm => {
            realm.write(() => {
                console.log('completed 2nd fi

[2019-09-06 09:17] hoang-innomizetech commented on #6643
@medikoo  I tried it several times and always get the same error yesterday. Then, I tried to deploy today and nothing change. So I don't think it is because of the rate exceed limit. Something wrong when setting up the  Account log for API Gateway.

[2019-09-06 09:36] pmuens commented on #6644
Hey @mithunph thanks for opening :+1:

Are you writing and reading files within your Lambdas? There's a volume attached to each Lambda but it's not guaranteed that this volume will stick around. Every Lambda should be written in a stateless way. State should be persistet on e.g. DynamoDB.

[2019-09-06 09:47] mithunph commented on #6644
Hi @pmuens,
Yes, I am using Lambda function . How to write it in stateless way?

[2019-09-06 13:23] pmuens commented on #6557
Hey everyone,
here's just a quick update: I've pushed a fix in #6636 in which I unified our zipping approaches. We're now using one zip util function for both, custom resource zipping and service zipping. This implementation uses `graceful-fs` when working with files in an async fashion so that the aforementioned bugs in Windows shouldn't happen anymore.

Would be really awesome if someone can tes

[2019-09-06 13:40] laurensV commented on #3785
I agree, this should have way higher priority and should have been fixed a long time ago. This issue is close to being 2.5 years old and this bug can be a real showstopper for some applications.

[2019-09-06 14:40] simlu commented on #3785
@laurensV We stopped using path parameter entirely and route and validate in application logic with a single resolver route (using lambda-serverless-api on npm, disclaimer I'm the author).

There are still problems with rouge routes in stage as @MacMcIrish described, but if you do a drift detection in cf after a deploy the next deploy seems to be removing the stage path.

Not ideal but at least we

[2019-09-06 15:00] evannadeau commented on #5761
I'd like to see it not just on layers, but directly on functions as well.  Can available via CFN too, please.  :)

[2019-09-06 15:49] mithunph opened #6647 "posix_fallocate() failed: Operation not permitted while opening .realm file"
I get the below error when i try to open and download .realm file in /tmp directory of serverless framework.
{"errorType":"Runtime.UnhandledPromiseRejection","errorMessage":"Error: posix_fallocate() failed: Operation not permitted" }

Below is the code:
let realm = new Realm({path: '/tmp/custom.realm', schema: [schema1, schema2]});
realm.write(() => {
                console.log('completed==');

[2019-09-06 17:46] LiranCohen commented on #5209
I'm really surprised that a few things like this have not been solved yet as this issue is over a year old... and closed by the maintainer?!?

This should really be a part of the framework itself and not rely on 3rd party plugins and hacks to accomplish.   I plan on possibly writing a compressive plugin that will help with these types of development issues at some point in the future.

For the tim

[2019-09-07 00:13] aksdari opened #6648 "Adding support for Client Certificate on API Gateway stages"
# This is a Feature Proposal

## Description

- Add support for **Client Certificate** for API Gateway stages. This will enhance security of API Gateway configuration.

## Where

Go to specific API > Stages > Under Settings tab, there will be Client Certificate section:

![image](https://user-images.githubusercontent.com/8500454/64466936-63084100-d0c9-11e9-8bd0-7eb4d587d807.png)

[2019-09-07 03:40] abhishekdixit1508 commented on #6638
Hi, I was facing the same issue yesterday after serverless version upgrade. After spending a day :( I have downgraded the version to 1.49.0 (2019-07-30) and it just worked :). Hope serverless will fix this bug soon.

[2019-09-07 07:20] kailip commented on #5209
As a workaround for this issue, I'm using **serverless-cloudside-plugin**. With this plugin invoking function locally changes from `sls invoke local` to `sls invoke cloudside`, and there are real values instead of [object Object].

[2019-09-07 16:55] dschep commented on #6230
@stefaneg to  disable the plugin remove `app`&`org` from your serverless config.  or add `"enterpriseDisabled":  true` to your `.serverlessrc`

[2019-09-07 17:05] utix opened #6649 "AWS events - Add Tag for SNS Topic"
# This is a Feature Proposal

## Description

Allow to add tags to the SNS topic. Should use provider.tags or functions.XXXX.events.sns.tags

Blocked by:
https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/7

[2019-09-07 19:22] FBosler opened #6650 "Can't deploy application, error message is empty."
# This is a Bug Report

## Description

- Tried to deploy python serverless application
- The application should have been deployed
- Linked the serverless dashboard to aws account

serverless.yml:
org: xxx
app: xxx
service: xxx

provider:
  name: aws
  runtime: python3.6
  memorySize: 1024
  timeout: 900
  stage: ${opt:stage, 'production'}
  environment:
    PROJECT: ${self:service}-${self:provid

[2019-09-07 19:42] FBosler commented on #6650
serverless info fails with the same error. Seems like something is wacky with the serverless / aws connection? No Idea how to resolve this though.

[2019-09-08 14:06] medikoo commented on #5209
@LiranCohen have you read the thread? It's a bug of a plugin and not the framework. Have you tried to report it to https://github.com/dherault/serverless-offline ?

[2019-09-08 14:42] #6644 closed

[2019-09-08 22:40] airmonitor opened #6651 "API Keys must be strings"
# This is a Bug Report

## Description

- What went wrong?
  API Keys were not created.

- What did you expect should have happened?
  API Keys with assigned usage plan were created.

- What was the config you used?

[code]

- What stacktrace or error message from your provider did you see?
[code]
Similar or dependent issues:

## Additional Data

- **_Serverless Framework Version you're using_**:

[2019-09-09 03:09] jiffify commented on #6179
+1 still present in 1.51

[2019-09-09 03:11] implsoftware commented on #5155
Just experienced this issue as well. Seems like an issue with `aws-java-maven` ?

[2019-09-09 07:08] zachary-volpi commented on #5679
Hi everyone,

Any news on this ?

[2019-09-09 07:09] hoang-innomizetech commented on #4282
I  got the same issue as @christophgysin, then if I comment apiKeys in the provider configuration, then I am able to remove stack.

[2019-09-09 08:04] hoang-innomizetech commented on #6643
I am not sure but now I received another error as below

[code]
then after activating STS in the target region, I can deploy service successfully. So I think STS is the root cause of the first error

[2019-09-09 08:57] pmuens commented on #6644
Hey @mithunph this is a very helpful article which should shed some more lights into your issues --> https://medium.com/@tjholowaychuk/dos-and-don-ts-of-aws-lambda-7dfcab7ad115

[2019-09-09 09:03] #6641 closed

[2019-09-09 09:12] pmuens commented on #6539
Hey @complex007 and @santoshyadav198613 thanks for opening and looking into this 👍

@skantipu just opened #6633 to fix this. Can one of you checkout his PR and see if this solves the problem?

I tried to test it myself but I don't have a `serverless.yml` to validate that this PR fixes the issue. It would be really helpful if someone can post a `serverless.yml` here which showcases the regression.

[2019-09-09 12:02] hakimio commented on #6557
@pmuens Just tested: the fix works great on Windows. Would be nice if you could publish a new version soon.
For those who need the fix right now, here is a diff which can be applied using [patch-package](https://github.com/ds300/patch-package): [github gist](https://gist.github.com/hakimio/01e51dfda185094ba4806f460d425ec3)

BTW, @pmuens is there any reason you can't just create a VM on Azure to te

[2019-09-09 12:13] pmuens commented on #6557
Thanks for confirming @hakimio :+1:

Another update: I just created https://github.com/serverless/serverless/pull/6653 which has a smaller scope (we're about to release v1.52.0 soon and we want to ship this fix in that release). It would be nifty if some of you could test #6653 and confirm that this also fixes the problem (@hakimio do you think you could test that one as well 😬). Thanks in advance

[2019-09-09 12:46] LiranCohen commented on #5209
I'm not using the serverless-offline plugin as it doesn't support runtimes like Go.  This is not an issue with the serverless-offline plugin, same thing happens without that plugin.  I've managed some workarounds however as mentioned above.  I will take a look at serverless-cloudside-plugin as I've heard this mentioned by someone on Slack.

[2019-09-09 13:07] pmuens commented on #6594
Thanks for the update @trevorrecker :+1:

After some fiddling I was finally able to reproduce the problem. Looking into a potential fix right now...

[2019-09-09 14:16] dschep commented on #6650
When you say

do you mean that you configured an ARN in the Profile on the dashboard?

[2019-09-09 15:58] FBosler commented on #6650
Yea, exactly that. I have since logged out again and deleted the configuration in the dashboard and am just running sls deploy locally which works like a charm.

[2019-09-09 17:15] stu12345 commented on #6503
Dundas,

You would probably want to add that to a shell script, if I’m understanding your question correctly.

#deploy.sh
export NODE_OPTIONS=--max_old_space_size=8192
sls deploy

Whatever shell process you are running in, setting these values before running serverless deploy; your node environment should pick that up.  In our case, it seems webpack was causing this error, so I believe this should

[2019-09-09 20:06] nodesocket opened #6656 "EKS: TypeError: Cannot read property 'runtime-images' of undefined"
Trying to run `serverless deploy` against a Kubernetes cluster running on Amazon EKS but getting the error:

[code]

I thought this issue was in Kubeless, so I opened up an issue there https://github.com/kubeless/kubeless/issues/1078 but the Kubeless cli is able to successfully deploy a function to my Kubernetes EKS cluster using:

[code]

Which leads me to believe **the actual issue is indeed in

[2019-09-09 20:41] dschep commented on #6637
Hi, I've just released an update to `@serverless/platform-sdk` that should resolve this issue. Please update with `npm i -g serverless` and confirm with `sls --version` that the SDK version is 2.1.1

[2019-09-09 22:41] hdpa commented on #2831
@sime Can you please forward me the .yml sample with plugins? it's giving me an error "Invalid template property or properties [plugins]"

[2019-09-10 00:47] exoego opened #6657 "AWS API GW WebSocket logs does not respect logRetentionInDays"
# This is a Bug Report

## Description

- What went wrong?
Log retentions days not set for CloudWatch log group for websocket.

- What did you expect should have happened?
Log retension days should be set, as same as for lambda and rest APIs.

- What was the config you used?
[code]
- What stacktrace or error message from your provider did you see?
No stack trace.

Similar or dependent issues:

- N

[2019-09-10 03:49] rjamesnw commented on #4461
I noticed the same thing. A deployment clears the log setting so CloudWatch is no longer enabled for the API; so annoying.

[2019-09-10 04:19] ejlegarda opened #6659 "error during sls deploy"
# This is a Bug Report

## Description

- What went wrong? error when running sls deploy
- What did you expect should have happened? I expect to deploy my code to AWS Lambda with no errores
- What was the config you used?
- What stacktrace or error message from your provider did you see?

Similar or dependent issues:

- #12345

## Additional Data

- **_Serverless Framework Version you're using_**:

[2019-09-10 04:35] jimbocoder commented on #6659
@ejlegarda I spent a lot of time on this problem today. It's related to the new version of `aws-sdk` that was released today.

If you use this in your `package.json` it should resolve your issue for now:

`"aws-sdk": "2.524.0"`

The problem appeared with version `2.525.0`

Hint for sls team member picking this up: take a look at the release notes for that version, surrounding `stsRegionEnabledEndp

[2019-09-10 05:07] franciscocpg commented on #6659
I was affected by this issue too.

It looks like it has broken a lot of things:
https://github.com/aws/aws-sdk-js/issues/2839

Trying to set a fixed aws-sdk version at `package.json` did not fix the issue for me.

[2019-09-10 05:10] jimbocoder commented on #6659
@franciscocpg sorry to ask, but did you run `npm` again to get the new lower version? If this fix is not universal, that's good info for us to know. Maybe even clear out your `node_modules`?

[2019-09-10 05:14] franciscocpg commented on #6659
@jimbocoder
Yes, removed `node_modules` but I'm using `yarn`.

I haven't tried `npm` yet.

[2019-09-10 05:18] franciscocpg commented on #6659
Now I was able to solve this issue using `yarn` and [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/). Here is a snippet:
[code]

[2019-09-10 05:27] franciscocpg commented on #6659
I also noticed that there is a fix just waiting for a patch release:
https://github.com/aws/aws-sdk-js/pull/2840

[2019-09-10 08:58] bhaveshvyas007 commented on #6465
Is there any quick solution?

[2019-09-10 14:00] pmuens commented on #6522
@pdaryani isn't this something we've enabled recently? Or was this removed with the docs overhaul?

[2019-09-10 16:34] dschep commented on #6650
what gh username or email(feel free to email me at daniel@serverless.com if you don't want to post your email) and org and app are you using?

[2019-09-10 18:45] luizfilipe commented on #6659
Hey guys, I think a patch version was shipped...

[2019-09-10 18:52] sudosoul commented on #6659
Version number please?

[2019-09-10 18:54] luizfilipe commented on #6659
"2.526.0"

[2019-09-10 18:55] franciscocpg commented on #6659
Not sure if is correctly fixed thought:
https://github.com/aws/aws-sdk-js/commit/1a3dbb15543712d6b39a51f3a942268cdc6acdbc#commitcomment-35014886

[2019-09-10 19:00] franciscocpg commented on #6659
I've updated https://github.com/serverless/serverless/issues/6659#issuecomment-529773998 to:
[code]
Removed `node_modules`, run `yarn` and it worked for me. So I think that is fixed.

[2019-09-10 19:16] franciscocpg commented on #6659
BTW: when removing `node_modules` and `yarn.lock` and running `yarn` again, the aws-sdk is being resolved to `2.526.0` so the issue is fixed for me.

[2019-09-10 19:25] ejlegarda commented on #6659
I just deleted the serverless directory and installed serverless globally and it grabbed an updated aws-sdk with the null check. I used the below command
npm install -g serverless

[2019-09-10 22:10] bertero commented on #3867
Hello guys (@pmuens),
I am facing a similar issue. However it seems that my `serverless.yml` looks correct.

[code]

The thing is: I manually changed the CORS configuration in the API Gateway console (`Access-Control-Allow-Origin*` from `'*'` to `'http://<mydomain.com>'`); then, when deploying the service via `serverless` (with the `serverless.yml` above), nothing changes. I tried deploying the wh

[2019-09-11 08:19] medikoo commented on #6659
Closing, as it got fixed  with `aws-sdk` v2.526.0, with today's framework release, we'll also ensure to bump to that version in `package.json`

[2019-09-11 08:19] #6659 closed

[2019-09-11 10:55] #6657 closed

[2019-09-11 11:58] jakobnordztrom opened #6666 "Use fixed versions in package.json dependencies."
# This is a Feature Proposal

## Description

- Most dependencies in package.json allow for minor version updates, ie are prefixed with ^.  This allows bugs in new releases of dependencies to break existing serverless releases (e.g what happened in issues #6659).   To ensure a stable and immutable release do not allow for version updates in package.json. Use fixed versions instead.

Similar or dep

[2019-09-11 12:14] medikoo commented on #6666
@jakobnordztrom Great thanks for proposal, still I don't think it's a path we we should follow.

It's a project installed usually as one of dependencies and applying this practice may imply a numerous nasty side effects to projects that rely on it. Also we need to be able to update framework dependencies without a need of producing framework releases for every such case.

A fine grain control of a

[2019-09-11 12:14] #6666 closed

[2019-09-11 15:00] ElinksFr opened #6667 "graceful-fs crashes with "RangeError: Maximum call stack size exceeded""
## ❗️ NOTE FROM MAINTAINERS ❗️

This issue is result of relying on non-latest (buggy) `graceful-fs` version, either directly or through other (not `serverless`) dependencies. `serverless` on its own expects latest version of `graceful-fs` to be installed.

Crash happens when two versions of `graceful-fs` are initialized and one of them is non-latest (buggy) version.

## SOLUTION

Ensure project an

[2019-09-11 15:14] medikoo commented on #6667
@ElinksFr does it happen when you're relying on global installation, or when you're invoking local one?

If it's the local one, can you share content of dependencies sections in `package.json` ?

[2019-09-11 15:16] medikoo commented on #6667
Cause for that is that most likely at `/opt/atlassian/pipelines/agent/build/node_modules/graceful-fs/` you have installed a non-latest `graceful-fs` which shares a bug, that results with such error when multiple instances of `graceful-fs` are loaded.

Related issue in `graceful-fs` -> https://github.com/isaacs/node-graceful-fs/issues/174

[2019-09-11 15:22] wahlforss opened #6668 "Get "MODULE_NOT_FOUND""
I get "MODULE_NOT_FOUND" when using aws lambda and node with npm. Any ideas?

[2019-09-11 15:27] medikoo commented on #6668
@wahlforss `MODULE_NOT_FOUND` simply happens when you try to require a module that's not in a file system, and it's hard to say more having information you provided.

[2019-09-11 15:28] hrnn commented on #6667
It is happening to me as well full logs
[code]

[2019-09-11 15:32] medikoo commented on #6667
@hrnn Presented log is unrelated to this issue

[2019-09-11 15:39] medikoo commented on #6668
Is `firebase` listed in `dependencies` or`devDependencies`? If it's the latter then that's source of an issue, by default dev dependencies are not bundled

[2019-09-11 15:42] wahlforss commented on #6668
@medikoo listed in `dependencies`

[2019-09-11 15:43] wahlforss commented on #6668
Now it is asking for:

1b7ab9b-c9d4-4c4d-a30c-5707fdc4cb13	ERROR	Invoke Error	{
    "errorType": "Error",
    "errorMessage": "Failed to load gRPC binary module because it was not installed for the current system\nExpected directory: node-v64-linux-x64-glibc\nFound: [node-v64-darwin-x64-unknown]\nThis problem can often be fixed by running \"npm rebuild\" on the current system\nOriginal error: Cann

[2019-09-11 15:49] medikoo commented on #6668
It appears that your project (or one of its dependencies) depends on [grpc](https://www.npmjs.com/package/grpc) which is a C++ module that require compilation for given environment

We currently do not support packaging of C++ node modules. See more info at: https://github.com/serverless/serverless/issues/308#issuecomment-242087480

[2019-09-11 15:52] wahlforss commented on #6668
@medikoo but my only dependency is firebase?

[2019-09-11 16:08] vitorfs commented on #6667
I started facing the same issue inside a CodeBuild a couple of hours ago.

[code]

[2019-09-11 16:10] medikoo commented on #6667
@vitorfs it's most likely caused by fact that at `/codebuild/output/src942665664/src/node_modules/graceful-fs` you have installed non latest (and buggy) `graceful-fs` version.

Ensure to update your dependencies and issue should be fixed

[2019-09-11 16:18] ggutenberg commented on #5542
This should actually read `runtime: provided`, not `provided: provided`.

[2019-09-11 16:56] calebswank11 commented on #6667
~ Hat tip to ya good sir on pointing us in the right direction.

We ran into this issue on a pipeline build and got us head scratching for a bit. If doing this via ADO or Gitlab, ensure that you change the global serverless install during the build.

`install -g serverless@1.51.0`

[2019-09-11 18:50] JacksonToomey commented on #6667
My org also started getting this error today

[2019-09-11 20:03] dashmug commented on #6667
Same problem here. `graceful-fs` not being graceful.

[2019-09-11 20:33] ilima-nvps commented on #6667
Also seeing this problem. Rolling back to 1.51.0 solved it for me.

[2019-09-11 20:42] seancsnyder commented on #6198
Error occurring on v1.50.1 as well.

[2019-09-11 21:06] vitorfs commented on #6667
At first I did roll back to version `1.51.0` and it fixed the problem for me.

Then I followed @medikoo tip, about `graceful-fs` being outdated, and solved it by doing something else. I didn't have `graceful-fs` as a primary dependency, but several other packages depended on it, using different versions.

I updated some packages and re-generated my `package-lock.json` and it solved my issue. Now I

[2019-09-11 21:49] Laurian opened #6669 "CorsRules does not support ExposeHeader"
# This is a Bug Report

## Description

- What went wrong?
`sls deploy` reported `An error occurred: StorageBucket - Encountered unsupported property ExposeHeader.`

- What did you expect should have happened?

sls to update the bucket’s CORS Policy with:
[code]

- What was the config you used?
[code]

- What stacktrace or error message from your provider did you see?

Without `ExposeHeader` suppo

[2019-09-12 00:59] wuelcas commented on #6667
I had the exact same issue. You'll need to roll back to a previous `serverless` version or you'll need to make sure `graceful-fs` is updated to its latest version. I went for the latter.

[2019-09-12 01:18] cyberfox1 commented on #6667
Nothing like testing in production. Jeez.

[2019-09-12 01:30] dashmug commented on #6667
@cyberfox1 You should have gotten that error **before** production.

[2019-09-12 04:07] athom commented on #6198
same in `1.49.0`
is that any options to override the roleName?

[2019-09-12 06:44] daBayrus commented on #3797
+1 on this

[2019-09-12 07:11] medikoo commented on #6667
I've updated main description with specific info on how this issue can be solved within a project

[2019-09-12 09:00] yerida opened #6671 "Error: EMFILE: too many open files on serverless 1.51.0"
When I add below custom log config in serverless.yml file.   The serverless(1.51.0) command will throw 'EMFILE: too many open files' exception.
`
provider:
    logs:
        restApi:
            format:       '{"request_id":"$context.requestId","@env":"$context.stage","@gateway_id":"$context.apiId","method":"$context.httpMethod","path":"$context.resourcePath","api_key_id":"$context.identity.apiKey

[2019-09-12 09:20] #6671 closed, assigned to nobody

[2019-09-12 10:00] exoego opened #6672 "[AWS] Granular logRetentionInDays configurations"
# This is a Feature Proposal

## Description

Currently, we have only global `logRetentionInDays`.
[code]

However, `logRetentionInDays` may vary depending on AWSs (rest API, websocket, lambda...) because their loggin volume/velocity may vary.

It would be great if we can configure `logRetentionInDays` per AWS, something like this:
[code]

Original idea: https://github.com/serverless/serverless/pu

[2019-09-12 12:42] pmuens opened #6673 "Native VPC support - Simple setup"
Native VPC support via `vpc: true` config:

[code]

It should create:

1. A VPC
1. Public and private subnets (1 public, 1 private)
1. InternetGateway to enable internet access for public subnets
1. A security group for the Lambda functions.

Furthermore it should export the VPC setup so that it can be used across stacks.

Shoutouts to @alexdebrie who came up with the spec.

[2019-09-12 12:45] pmuens opened #6674 "Native VPC support - Expert setup"
Extend https://github.com/serverless/serverless/issues/6673 so that one can tweak the `vpc` setup via a custom config.

[code]

Again, shoutouts to @alexdebrie who came up with the idea.

[2019-09-12 14:47] tristanbes opened #6676 "--raw is ignored when using --path"
Hello,

On the latest version, if you use the `raw` option,
[code]

the lambda will recieve an `array` instead of a `string`. Which is wrong if you trust the documentation:

[Source](https://serverless.com/framework/docs/providers/aws/cli-reference/invoke-local/)

[2019-09-12 15:32] mikestopcontinues opened #6677 "Allow array of `${file(..)}` for `provider` and `custom` config"
# This is a Feature Proposal

## Description

We can already merge config objects for  `resources` and `functions` fields, but `provider` and `custom` can prove just as unwieldy. We should have an easy way to reuse and merge config for this field.

My particular use case is very basic. I share a lot of boilerplate config between services, and I just want to be able to add or overwrite a handful of

[2019-09-12 22:39] Jonarod opened #6679 "Invoke local keeps hanging after response"
# This is a Bug Report

## Description

- What went wrong?
After invoking a function locally, the console does not exit, it hangs forever until I CTRL+C.

- What did you expect should have happened?
Should exit after response is sent to stdout.

- What was the config you used?

Here is a sample code using firebase:

[code]
Then invoking it like this:

[code]
results in the intended function workin

[2019-09-12 22:40] Ryanauger95 opened #6680 "Resolve CloudFormation functions for invoke local"
Right now, If I have a variable definition:
[code]

It won't run Fn::Join locally. The entire output just becomes a string:
console.log(TOPIC_ARN): “{ ‘Fn::Join’: [ ‘’, [Array] ] } }”

Is there any way/what should we do about this when testing locally?

[2019-09-13 05:33] Trott opened #6681 "CONTRIBUTING.md instructions for generating coverage provide the wrong command"
# This is a Bug Report

## Description

- What went wrong?

Instructions for obtaining coverage in CONTRIBUTING.md are incorrect. They say to run `npm test` but coverage is not generated with `npm test`. Use `npm run coverage` instead.

- What did you expect should have happened?

On a clean checkout, I expected `npm test` to create a `coverage` directory with coverage information in an `index.htm

[2019-09-13 05:38] chandrashekar3792 opened #6683 "TypeError: Cannot read property 'charAt' of null"
TypeError: Cannot read property 'charAt' of null
      at params.exclude.forEach.pattern (/usr/local/lib/node_modules/serverless/lib/plugins/package/lib/packageService.js:229:19)
      at Array.forEach (<anonymous>)
      at Package.resolveFilePathsFromPatterns (/usr/local/lib/node_modules/serverless/lib/plugins/package/lib/packageService.js:228:20)
      at getExcludes.then.then.then.params (/usr

[2019-09-13 07:05] medikoo commented on #6683
@chandrashekar3792 it's possible that you have error in your `serverless.yml` configuration which leads to this crash. Can you share it with us?

[2019-09-13 07:08] #6681 closed

[2019-09-13 07:40] lucaspiller opened #6684 "Cannot read property 'X-Amzn-Trace-Id' of null when testing API gateway"
# This is a Bug Report

## Description

- What went wrong?

When testing a lambda function through the API Gateway on the AWS console, an error is thrown by the serverless framework.

- What did you expect should have happened?

It should return the same response as if being called through HTTP.

- What was the config you used?

Basic HTTP handler function which returns 200 OK:

[code]

- What sta

[2019-09-13 09:09] nikhilbhalwankar commented on #4269
Facing the same issue. I have 10 lambda functions under serverless. If I update one more lambda function in serverless.yml, all 11 functions are to be deployed. Very time consuming.

[2019-09-13 09:14] exoego commented on #4269
Updating single function is already possible if provider is AWS, so this issue had been closed.

If you need same feature in other providers, I think opening a separate issue is good since we can track issue per

[2019-09-13 09:20] yogesh-mhaskule404 commented on #4269
@nikhilbhalwankar You can achieve using this by create separate .yaml file for each function. While deploying specific function, you can pass this  respective .yaml file of function to the command "sls deploy function -f <function_name> --config <'.yaml file path'>"

[2019-09-13 09:55] anuj9196 opened #6685 "Can't use default value if environment variable does not found."
I'm using **bitbucket-pipeline** to configure **CI/CD**.

I have the following configuration in the `serverless.yml` file

    provider:
      name: aws
      runtime: nodejs10.x
      region: ${opt:region, ${env:AWS_REGION, 'ap-south-1'}}
      memorySize: ${opt:memory, ${env:MEMORY_SIZE, 512}}tracing:
      apiGateway: ${env:TRACING_API_GATEWAY, true}

I want to be able to pass the variables fro

[2019-09-13 09:55] nikhilbhalwankar commented on #4269
Thanks for this. Very helpful. However, I have custom authorizer for every function. How can I handle such case?

[2019-09-13 10:39] yogesh-mhaskule404 commented on #4269
@nikhilbhalwankar The custom authorizer is lambda function or normal python function, if it's normal function then you don't require to make it is lambda as well as .yaml file. You can just import this function in your lambda function file for your purpose.

[2019-09-13 11:48] jose-dataka commented on #6684
I have the same problem

[2019-09-13 14:22] jose-dataka commented on #6684
I could resolve my problem. My problem was that i had in my serverless.yml file one field called app at the beginning of the file, i went over Serverless.yml reference and removed all fields that don't exits in the reference.

[code]

[2019-09-13 14:26] tavin commented on #3833
Can anyone summarize the outcome of this issue? I upgraded to serverless 1.52.0 and it still prompts for my MFA code every time I run a serverless command (with AWS_PROFILE as an assume-role profile and AWS_SDK_LOAD_CONFIG=1). It's hard to tell from the comments whether that is the intended behavior.

[2019-09-13 18:23] zeeshanaligold commented on #6667
To fix this issue downgrading serverless to previous version by running npm i -g serverless@1.51.0

[2019-09-14 03:44] dcworldwide commented on #3993
FYI.

sudo chmod 777 .serverless
rmdir .serverless

Then you are good to go.

[2019-09-14 05:39] Trott opened #6688 "Error in regular expression that checks S3 URLs"
# This is a Bug Report

## Description

- What went wrong?

In `lib/plugins/aws/package/compile/functions/index.js`, the regular expression to match `s3.amazonaws.com` does not escape the `.` characters, so they match any single character rather than only `.`.

- What did you expect should have happened?

I expected a typo like `s33amazonaws.com` to not be routed to the S3 logic. (This was only do

[2019-09-14 05:47] Trott commented on #6688
PR to fix: https://github.com/serverless/serverless/pull/6689

[2019-09-14 11:26] tavin commented on #4898
Reproduced with serverless 1.52.0 and serverless-python-requirements 5.0.0. Cannot use deploy -f anymore due to the exception `TypeError: Cannot read property 'artifact' of undefined` on L176 of `serverless-python-requirements/index.js`. It used to work with older versions of serverless but I'm not sure of the exact version number.

[2019-09-14 14:27] anuj9196 commented on #6685
Got is solved by defining a custom variable
[code]
and use it in the `provider`
[code]

and it's working.

[2019-09-14 14:27] #6685 closed

[2019-09-14 14:45] anuj9196 opened #6690 "Serverless Error: InternalFailure with Bitbucket CI/CD"
# This is a Bug Report

## Description

I'm using **Bitbucket CI/CD** to automate deployment. I have the following **bitbucket-pipeline.yml** content
[code]
and the following is the `serverless.yml` content
[code]

- What went wrong?
The deployment of AWS services was successful but pipeline failed.

- What did you expect should have happened?
The deployment should be a success.

- What stacktrace

[2019-09-14 15:08] Wintereise commented on #6680
We've been namespacing it under custom.

[code]

Then, where you actually use it, you could go `${self:custom.<key>.<stage>`, the trick would be to hardcode it for local.

Only a workaround, but has served us well so far.

[2019-09-14 15:13] Wintereise commented on #6680
Another more elegant way is https://github.com/jeremydaly/serverless-cloudside-plugin

[2019-09-15 05:50] hagaigold commented on #6557
on windows 10 with 1.52.0 still stop after "Installing dependencies.." with this template https://github.com/AnomalyInnovations/serverless-nodejs-starter

[code]

[2019-09-15 06:22] motoko89 commented on #6667
@wuelcas I use `npm` and install `serverless` using `-g` flag. Should I now install `graceful-fs` directly? I already updated all my packages in `packages.json` and that didn't update `graceful-fs`. I ended up rollback to `serverless@1.51.0`

[2019-09-15 08:56] ExploHash commented on #6667
@motoko89 I nuked my package.lock and node_modules folder and that worked for us.

[2019-09-15 10:08] garethmcc commented on #6557
@pmuens @medikoo Still seeing reports of this issue from users with latest version

[2019-09-15 12:26] azizur commented on #6241
AWS Lambda Monitoring tab is showing this message for me.
[code]
<img width="1539" alt="Screenshot 2019-09-15 at 13 25 40" src="https://user-images.githubusercontent.com/114551/64921535-721f7b00-d7bc-11e9-96dc-ff2f37122fa2.png">

[2019-09-15 12:27] #6688 closed

[2019-09-15 12:37] medikoo commented on #6557
@hagaigold this template involves external plugins which interfere with packaging process. Do you observe same issue when not relying on those plugins?

[2019-09-15 12:44] azizur commented on #6241
I fixed it with this:
[code]

[2019-09-15 13:00] medikoo commented on #6454
The `User stats error: Request network error` is logged only with `SLS_DEBUG=*` and it's purely to report that Framework stats request didn't resolve in expected time frame.

You can safely ignore it, as it doesn't affect in anyway Framework functionality.

We will also improve it, to probably not display this error at all.

[2019-09-15 13:15] medikoo commented on #6454
@davinerd stack you posted (while not complete) seems unrelated, and it's probably about this issue: https://github.com/serverless/serverless/issues/6667

[2019-09-15 15:29] hagaigold commented on #6557
@medikoo tried with "serverless create --template aws-nodejs" which work fine.

as the OP state, "--verbose", don't give any info on the nature of the error, so it a bit hard to track it down ;(

[2019-09-15 15:40] medikoo commented on #6557
This one, actually installs this one: https://github.com/serverless/serverless/tree/master/lib/plugins/create/templates/aws-nodejs which doesn't involve any plugins

[2019-09-15 17:10] with-heart commented on #4069
Hi @pmeuns, thanks for acknowledging the concerns around this! I see that this was added to `1.50.0` and has since been pushed back to `1.53.0`. Is there anything the community could do to help this change be released sooner rather than later?

[2019-09-15 19:23] lauw70 commented on #6482
The fix I wrote didn't do the job. Another line must be change:
https://github.com/serverless/serverless/blob/a8f5739051ad205eb57a7ef95b2a5d6d6a8574ed/lib/plugins/package/lib/zipService.js#L95
 must be changed to:
```const name = file.filePath.slice(prefix ? `{prefix}${path.sep}`.length : 0).replace(/\\/g,"/");```

path.normalize does not a good job so a regex fix is required.

[2019-09-15 19:32] hagaigold commented on #6557
@medikoo, after replacing serverless-bundle plugin with serverless-webpack plugin, the deploy completed successfully.
if this issue is not a concern in this end,  I can notify the plugin creator.

[2019-09-15 19:38] rand42studios opened #6691 "Node.js version 6.10 too old, unable to deploy to AWS."
I created a new Angular app, and installed Angular Universal. Then I installed serverless. Then I did `build:serverless:deploy`. Then this error came up:
[code]

[2019-09-15 20:44] drexler commented on #6691
@rand42studios AWS doesn't support the Node 6 as a runtime any more. See: https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html.  In your _serverless.yml_ update the `runtime` property to a supported version.

[2019-09-15 21:01] Wintereise commented on #6557
In my side, I'm seeing it with

[code]

1.52.0, win32

Same symptoms, no debug data. Deploy just stops after the package step.

[2019-09-16 06:25] lucaspiller commented on #6684
Can someone from the serverless team comment on whether @jose-dataka's answer is the suggested fix? It seems like it shouldn't be related.

My functions work fine when called over HTTP, it is just calling them from the test section of the AWS API Gateway that they break. This part of my `serverless.yml` was generated by the serverless cli recently, so that should be changed to not generated this l

[2019-09-16 07:22] keyurbhole opened #6693 "Serverless Deploy Error"
## Description
I am trying to deploy a function on aws lambda but it gives error as below

plugins used are
- serverless-webpack
- serverless-offline

## Error Details
at ReadStream (/home/keyur/Desktop/SN/node-serverless/states/node_modules/graceful-fs/graceful-fs.js:195:28)
      at ReadStream (/home/keyur/Desktop/SN/node-serverless/states/node_modules/graceful-fs/graceful-fs.js:195:28)
      at

[2019-09-16 08:12] medikoo commented on #4069
@with-heart we'll do our best to push it with 1.53.0.

[2019-09-16 08:13] medikoo commented on #6557
Yes, best would be to coin, with which plugin issue occurs, and open the corresponding issue there

[2019-09-16 08:17] medikoo commented on #6693
@keyurbhole thanks for report. Still it's a duplicate of #6667. See top issue description, there's a details on how to solve this issue locally

[2019-09-16 08:17] #6693 closed

[2019-09-16 08:37] garethmcc commented on #6557
@Wintereise The candidate plugins are probably serverless-stage-manager or serverless-stack-output. Disable each, in turn, to see if that is the problem.

[2019-09-16 08:41] Wintereise commented on #6557
I'll give that a try, reporting back in a while.

[2019-09-16 08:54] mardafirmansyah commented on #6557
I tried several times and generated random errors. if this is because of the plugin why when I downgrade to 1.49.0 this error disappears?

[code]

plugins:
  - serverless-plugin-typescript
  - serverless-domain-manager
  - serverless-offline

[2019-09-16 09:01] Wintereise commented on #6557
@garethmcc @medikoo Yeah, no bueno.

Here's what the verbose output looks like while this happens, sls 1.52.0, win32

I only had sls-webpack and sls-offline installed while running this test.

[code]

Exact versions from yarn.lock file

[code]

[code]
[code]

[2019-09-16 09:31] medikoo commented on #6557
@Wintereise Can you also try with the `SLS_DEBUG=*` and paste log? Also with which highest version exactly it works for you without issues, 1.49.0?

[2019-09-16 09:40] iamfeek commented on #6667
Was about to create a new issue when I realised that this could potentially be the place where I also report it.

I was on the latest version of `serverless@1.52.0` and running `serverless create` threw the same issue.

Let me know if this should be in another issue.

[2019-09-16 09:44] Wintereise commented on #6557
1.49.0 works fine, yep. 1.50 has EMFILE issues, 1.51 has the same. 1.52 seems to succeed in packaging, but does nothing else.

As to pasting the log, I PMed it to you on the SLS Slack. Unfortunately, it doesn't say anything afterwards seemingly :(

[2019-09-16 09:44] medikoo commented on #6667
No, it's same thing. Be sure to read top issue description, it outlines what exactly is the issue and how to solve it.

[2019-09-16 09:52] iamfeek commented on #6667
@medikoo cool. For my case, I cant really do the fix coz I dont even have a project ready.

I believe downgrading is the fastest way to solve my problems.

[2019-09-16 09:53] medikoo commented on #6557
Ok, thank you! That clarifies that with EMFILE prevention we've fixed the issue just partially.
We'll look into it further

[2019-09-16 11:03] shubsaini09 opened #6694 "How-to/Can-we use serverless for modifying existing cloudformation stack?"
Let's say, I have deployed my lambda and API gateway using cloud formation. Now I want to start using the serverless framework, so how do I point my new serverless template to point to existing cloud formation stack to make changes? Is it possible? If yes then how? Can someone please give a small example or reference docs?

If this happens successfully then I am going to use to this in my producti

[2019-09-16 11:06] hagaigold commented on #6557
@medikoo i see another [maybe] issue which i think related to the packaging, but not sure if it related to that issue..

custom-resources.zip become very big because it "pack" inside all the project folder with his node_modules directory:
[code]

byw: someone else also notice this few hours ago - https://forum.serverless.com/t/custom-resources-zip-is-huge-node-js/9343

[2019-09-16 11:07] medikoo commented on #6557
Indeed that definitely should not be the case. @pmuens this could be real source of this issue (?)

[2019-09-16 12:08] bramhoven commented on #1172
This issue is still present but a simple workaround can be done using the javascript config files.
Let's say my yaml config file looks like this:
[code]

We can use a javascript config file to export that value to a json string:
[code]

I hope this issue is fixed soon, but for now you can use this workaround.

[2019-09-16 12:52] mklueh commented on #6557
Can we just add a .catch clause to

[code]

in

https://github.com/serverless/serverless/blob/d48d2ee56d8d2d920289722804383511e0429f80/lib/plugins/aws/customResources/index.js

to see if and where it fails?

[2019-09-16 12:55] medikoo commented on #6557
If it would fail, the error would be propagated and exposed
(note it's `return copyCustomResources(..)`), issue is that operation hangs.

[2019-09-16 14:09] radove commented on #6667
We ran into this issue this morning and added the following to our package.json to resolve the issue for now (npm based):

[code]

[2019-09-16 14:13] pmuens commented on #6691
Thanks for opening @rand42studios 👍

Closing this since it's documented by AWS. Thanks for jumping in @drexler :+1:

[2019-09-16 14:13] #6691 closed

[2019-09-16 14:24] shubsaini09 commented on #6694
After hours of R&D and work,

Internally, Serverless converts to Cloud-Formation template. That means, if we are able to design a similar template, with all the resources, then we can use Serverless to modify our existing resources and they will be only updated and no recreated again.

I tried simulating in a lower environment and below is what I observed.

There is a way how Serverless creates th

[2019-09-16 14:41] glitch100 opened #6695 "AWS Events - Cognito User Pool Trigger for deleting a user"
# New Cognito User Pool Trigger - Deleting a User

## Description
We have a scenario where we would remove a user from the User Pool, and as such would like to trigger something so we can delete associated data stored against that user.

I think the current triggers cover a lot of use cases just not this one and it would be a great addition.

Is there any particular reason this doesn't exist, or p

[2019-09-16 14:42] glitch100 commented on #6695
I am a dummy.

[2019-09-16 14:42] #6695 closed

[2019-09-16 15:47] maheshpj commented on #6465
@bhaveshvyas007 The only quick solution is, do it manually!

[2019-09-16 17:20] caiocutrim commented on #6246
I have the same issue after create a function that calls a model with async-await

[2019-09-16 17:26] with-heart commented on #4069
@medikoo Thank you! ❤️

[2019-09-16 21:06] bkmagnetron commented on #6557
For me also the same issue but the what caused that seems to be different.
When I use the property `existing: true` for S3 event this issue happens. Otherwise it works fine.

[2019-09-17 08:17] ctd-insights commented on #4285
I had the same issue when my user's IAM policy had IP whiltelist, below is example of Administrator IAM policy:

[code]

Removing `Condition` from the IAM policy fixes the issue. (Creating bucket using aws-cli always works).

[2019-09-17 08:19] dimkir commented on #4285
I had the same issue when my user's IAM policy had IP whiltelist, below is example of Administrator IAM policy:

[code]

Removing `Condition` from the IAM policy fixes the issue. (Creating bucket using aws-cli always works).

[2019-09-17 09:21] drexler commented on #6690
@anuj9196 mind publishing with SLS_DEBUG enabled in order to get a more detailed output of what's causing the issue?
Command:
`SLS_DEBUG=* serverless deploy`

[2019-09-17 09:21] jorgenfroland commented on #5241
@daviddelucca Thanks! That worked for me as well. I had installed the latest version 1.52. After installing 1.51 deploy worked well.

[2019-09-17 10:47] pmuens commented on #6539
I looked into this issue today and tried to reproduce this with this `serverless.yml` file:

[code]

I couldn't enforce the error even when using with the `ap-southeast-1` region.

I'll close this issue and the corresponding PR for now.

Please re-open this issue with a `serverless.yml` config file and steps to reproduce if this is still a problem.

[2019-09-17 10:47] #6539 closed

[2019-09-17 12:59] atomkirk commented on #5241
definitely introduced in `1.52` but probably a different error since this issue is so old. Here's my stack trace:

[code]

[2019-09-17 13:18] jameswoodley opened #6698 "Default IAM Statements for Functions"
Recently the AWS dashboard has been warning me as below:

![image](https://user-images.githubusercontent.com/52610563/65044991-e5102980-d955-11e9-9cec-cbb8648989dd.png)

I notice the default CloudWatch permissions are Allow:CreateLogStream and Allow:PutLogEvents. I believe we should also include Allow:CreateLogGroup

Is this worth adding to the default to remove this dashboard warning?

[2019-09-17 13:18] 75lb commented on #4471
i just lost hours of my life trying to understand, debug and fix this issue.. thanks to @OscarGalindo for the workaround. I don't use Serverless myself but had the same issue using AWS Lambda and SAM/Cloudformation directly.

[2019-09-17 13:31] anuj9196 commented on #6690
@drexler Here is the log.
[code]

Do I need to share full log?

[2019-09-17 13:38] medikoo commented on #6698
It might be related to eventual custom resources lambdas (as generated by the framework) which deploy with CloudWatch logs off.

Otherwise all service lambdas should have full permissions to write logs.

Logs for custom resource lambdas can be turned on via:

[code]

[2019-09-17 13:47] wooderz commented on #6698
Not sure what we mean by

apologies - my serverless.yml for one of the functions is:

![image](https://user-images.githubusercontent.com/4377107/65047267-1559c700-d95a-11e9-86a4-0b27391a2a36.png)

Is that a custom resource lambda?

[2019-09-17 13:50] wooderz commented on #6698
Sorry opened the email link in a new browser, @jameswoodley is also @wooderz

[2019-09-17 13:55] medikoo commented on #6698
No I meant ones configured by framework in response to some options used. You can confirm if there are some, by inspecting generated CloudFormation Template (search for `Custom::`)

[2019-09-17 14:00] wooderz commented on #6698
Ah I see, so nothing Custom in the Cloudformation output, and adding the `frameworkLambda` didn't add any other permissions. I'm only getting:
![image](https://user-images.githubusercontent.com/4377107/65048376-e5abbe80-d95b-11e9-8210-1bfea8205178.png)

No CreateLogGroup

[2019-09-17 15:01] RichieMerchant opened #6699 "ServerlessError: Missing required key 'deploymentId' in params"
# This is a Bug Report

## Description

- What went wrong?
When deploying, I get a error telling me `Missing required key 'deploymentId' in params`.  However, the stack deploys ok to AWS.

- What did you expect should have happened?
To deploy without throwing an error

- What was the config you used?

[code]
- What stacktrace or error message from your provider did you see?

[code]
Just want to hi

[2019-09-17 15:39] ikkyu-3 commented on #4850
please look here.

https://github.com/serverless/serverless/blob/master/lib/plugins/aws/logs/index.js#L52

Only the “[$LATEST]” pattern is filtered. I think it needs to be fixed.

How about this fix?

[code]

[2019-09-17 15:59] martrik commented on #6679
I'm having the same issue with version `1.52.0` and an async inside the function.

[2019-09-17 16:09] chearmstrong commented on #6698
I've noticed the same message in the AWS console - my Lambdas (deployed through Serverless) used to show write access to CloudWatch, but now they don't. From what I can see, logs are still been written.

Any ideas?

[2019-09-17 16:18] chearmstrong commented on #6698
@jameswoodley

Adding this to the `provider` section seems to resolve this for me.

[code]

See https://github.com/serverless/serverless/issues/6241

[2019-09-17 20:43] seashairo opened #6700 "1.50.0 onwards includes entire project source in custom-resources.zip"
# This is a Bug Report

## Description

- What went wrong?
Serverless >1.50.0 packages entire project directory into the node_modules folder in custom-resources.zip when `serverless package` is run. This includes the project's node_modules folder which causes custom-resources execution to fail on AWS due to being >250MB

- What did you expect should have happened?
That the entire project directory

[2019-09-17 20:45] dre-understand commented on #6667
@Manzalber thank-you. Rolling back to serverless 1.51.0 wasn't an option as I needed fixes in 1.52.0.

[2019-09-17 20:50] medikoo commented on #6700
@seashairo great thanks for report.

It looks as duplicate of #6557, see also this comment: https://github.com/serverless/serverless/issues/6557#issuecomment-531732260 We will look into it shortly.

Follow #6557 for details

[2019-09-17 20:50] #6700 closed

[2019-09-18 10:06] garethmcc opened #6701 "Deployment fails with error "RangeError: Maximum call stack size exceeded""
# This is a Bug Report

## Description

- What went wrong?
When executing `serverless deploy` deployment failed at step `Serverless: Excluding development dependencies...` with an error `RangeError: Maximum call stack size exceeded`
- What did you expect should have happened?
Deployment should have completed as expected
- What was the config you used?
[code]
- What stacktrace or error message from

[2019-09-18 10:11] medikoo commented on #6701
Thanks @garethmcc, we already have an opened issue for this, it also describes steps on how to recover: https://github.com/serverless/serverless/issues/6667

Maybe it's worth pinning it, so it stays on top for now (?)

[2019-09-18 10:11] #6701 closed

[2019-09-18 10:46] pirmax commented on #4852
What about this issue?

[2019-09-18 14:16] noreabu opened #6704 "zipService does not set executable flag correctly for golang binaries on Win32"
# This is a Bug Report

## Description

- What went wrong?
The zipService on win32 does not correctly set the executable flag for golang binaries
- What did you expect should have happened?
executable flag is set

## Possible fix

Normalize both maps of files before comparison inside function `zipFiles`

Similar or dependent issues:

- #6482

[2019-09-18 14:19] medikoo commented on #6704
Looks related (or similar) to https://github.com/serverless/enterprise-plugin/issues/273

[2019-09-18 14:24] noreabu commented on #6704
fix is in on the way. Just need some minutes :)

[2019-09-18 15:17] john-aws opened #6706 "Default deploymentBucket should enable S3 block public access"
The default serverless deployment bucket should take advantage of the newish [S3 Block Public Access](https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html) feature. It's a security best practice.

Underlying template changes would be to include:

[code]

[2019-09-18 15:27] Ellosaur commented on #6638
I get the same error with the config below :-(
[code]

[2019-09-18 16:44] m1nde commented on #6610
Highly necessary!

[2019-09-18 17:41] iamchathu commented on #6667
I have global installation of latest serverless module and when ever I tried to create a new project with `sls create`
whatever the template is i keeping getting

[code]

[2019-09-18 18:55] mcjfunk opened #6710 "Why is `plugin install` limited to those in serverless plugin registry?"
Hey folks, thanks for the great technology! 🤖

It appears that `sls plugin install --name <plugin>` first checks that the plugin is in the serverless registry and only npm installs if it is. Why is that? Are you open to loosening that restriction?

I work for a fairly large enterprise and am setting up a CICD pipeline for lambdas. I have a serverless plugin that I want to install and add to the se

[2019-09-18 19:06] medikoo commented on #6667
@iamchathu from stack trace, it's clear that for some reason Yarn provides an older version of `graceful-fs` to `fs-extra`, instead of providing same version that `serverless` uses.

I believe that what would fix this, is clearing `~/.config/yarn` and installing `serverless` globally again.

[2019-09-18 19:15] drc-nkovalenko commented on #4179
This is closed so I am assuming my question of "Is this still being considered or in the works?" is already answered but I will ask it again. Is this still being considered or in the works?

Coming from Terraform, looking for functionality like -plan to plan out in our prod account before deploying.

[2019-09-18 19:18] kziemski commented on #6557
i get the same issue as well and 1.49.0 was the fallback.
windows 10 1.5# i utilize serverless-webpack and serverless-offline.
really wish i could update to 1.52.0 just saw lambda@edge support on 1.52

[2019-09-18 21:37] mcshiz commented on #6690
I am receiving the same error.
I think it has to do with enabling x-ray and API Gateway.
Whats really odd is that it is only doing it on one AWS account and not the other.
Using AWS CodePipeline/CodeBuild created by the same cloudformation template.
[code]

[2019-09-19 09:26] mark-edf commented on #6667
the frustrating thing is that `serverless deploy` doesn't seem to respect the package-lock.json even after I have run `npm ci` which does.

That meant that our build broke, even though we hadn't done any updates to the package versions.

[2019-09-19 09:37] AndreaAdvanon commented on #6190
Any solution for this?

[2019-09-19 09:43] AndreaAdvanon commented on #6190
@rcldesign did you find a solution for this?

[2019-09-19 09:44] medikoo commented on #6667
Serverless does not install and is not responsible for installing dependencies of your project. It's `npm`, `yarn` or whatever package manager you bet on, and it's where `package-lock.json` (or alterantives) are respected and processed.

[2019-09-19 10:05] utix commented on #6649
I have done a plugin
https://github.com/ManoManoTech/serverless-plugin-tagsns

[2019-09-19 11:49] pmuens commented on #6710
Hey @mcjfunk thanks for opening the issue :+1:

Good question. The main idea for `plugin install` is to abstract `npm` away. In the future we don't want to expose the npm dependency to end-users. That's also the reason why we're reaching out to our own registry (which currently is just a `.json` file we fetch).

The best way to be as flexible as possible is to use plain `npm` (since our `plugin in

[2019-09-19 11:52] pmuens commented on #6710
There's also the https://www.npmjs.com/package/serverless-plugin-scripts and https://www.npmjs.com/package/serverless-scriptable-plugin which might be helpful in your case.

[2019-09-19 12:05] #6289 closed

[2019-09-19 14:38] HarryCaveMan opened #6715 "Add support for VPC Endpoint associations in AWS."
# This is a Feature Proposal

## Description
Amazon API Gateway support [associating your API with an interface VPC endpoint](https://docs.aws.amazon.com/apigateway/latest/developerguide/associate-private-api-with-vpc-endpoint.html). This is supported in cloudformation via `EndpointConfiguration`. Associating your API with the VPCE creates a custom DNS alias which allows you to access your private

[2019-09-19 15:20] mcjfunk commented on #6710
The key piece to `plugin install` that I don't get with `npm install` is the plugin not only gets installed, but it also gets registered in the serverless config. Is there any workaround to that?

Again, we need the installation of certain plugins to be done in the CICD pipeline as they are an implementation detail of the pipeline. `plugin install` allows for that but limits our enterprise use cas

[2019-09-19 16:24] gabrielrumiranda commented on #5940
Can I take this issue ?

[2019-09-19 18:36] articleinnovations commented on #6190
No (proper) solution at that I'm aware of. I just changed my application to use a POST verb instead of the more correct PATCH.

[2019-09-19 19:22] stdmn commented on #6161
Same problem. I thought that if I provided a "name" to the authorizer, it would bypass this issue but looks like the name creation is automated. Any chance we could get this fixed?

[2019-09-19 21:29] dobesv commented on #6667
Is there a workaround for installing serverless globally?  Currently I just ran `yarn global install serverless@1.51.0` to downgrade my global version but it would be nice to have a workaround posted for the latest version as well.

[2019-09-19 23:08] HarryCaveMan commented on #6715
## Update
I found today that, though the aws api supports this, it has not yet been brought to cloudformation. I imagine this would happen here before there unless it's with a 3rd party plugin.

[2019-09-20 07:03] medikoo commented on #6667
@dobesv I believe the workaround would be to nuke folder that contains all global installs, and install `serverless` globally again.

On our side what we can improve to upgrade to latest version of `fs-extra`, that should also help to minimize the issue. We will look into that.

[2019-09-20 07:31] dirkmoors commented on #5212
+1

[2019-09-20 09:02] #6667 closed

[2019-09-20 09:12] pmuens commented on #6667
Just a quick update that the v1.52.2 release will provide a fix for this issue --> https://github.com/serverless/serverless/pull/6718

[2019-09-20 09:15] hanikesn commented on #6492
@pmuens This is a real issue in enterprise enviroments where role creation might be restricted. E.g. by requiring a naming convention, permission boundary or just completely for developers.

[2019-09-20 09:57] hanikesn commented on #6595
See https://github.com/serverless/serverless/issues/6492#issuecomment-533476635

Allowing a custom role here would let people work around that issue. Even it that requires a bit more effort.

[2019-09-20 10:04] hanikesn commented on #6595
[code]
So naming convetions and permissions boundaries can be overridden in the generated template, which works as a workaround for us.

[2019-09-20 10:05] medikoo commented on #6595
Yes, it can be sorted that way

[2019-09-20 23:23] zmoog commented on #4898
I'm having the same error using serverless-python-requirements@5.0.0:

* serverless@1.51.0 : works
* serverless@1.52.1 : `typeError: Cannot read property 'artifact' of undefined`

[2019-09-21 18:09] robatwilliams commented on #5472
Please remove this from the example file in the documentation to reflect that it isn't currently supported.

https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/

[2019-09-22 02:20] prr19776 opened #6720 "AWS Pseudo params + SSM Combination not working"
While using an SSM param and use the pseudo param (serverless-pseudo-parameters plugin ) for the region it doesn't work properly, here is the slim down version of the sls yml, what i want to know is how  does the sls parse the SSM and when the actual vales are replaced.

We have over 100 repos and unable to run the sls in any new region or different account

pRegion: ${self:custom.${self:custom.pE

[2019-09-22 03:13] jplock commented on #1110
Is there any interest in incorporating @alikian's plugin into the main codebase?  I've found it very useful

[2019-09-23 10:09] anuj9196 commented on #6690
@mcshiz This worked for me as well after disabling **APIGateway Tracing**

[2019-09-23 12:39] shailu2006 commented on #829
I was facing a similar issue. The problem for me was that trying to fetch the token using "event.headers.Authorization" instead of "event.authorizationToken". After struggling and searching for sometime I came across the [test-invoke-authorizer](https://docs.aws.amazon.com/cli/latest/reference/apigateway/test-invoke-authorizer.html).

It is my opinion that, the **test-invoke-authorizer** is the be

[2019-09-23 13:02] parimal0915 commented on #6179
+1

[2019-09-23 13:12] #6710 closed

[2019-09-23 16:16] danielo515 commented on #6198
This is clearly a feature regression. Adding 11 extra useless characters when there is so tight length constrains is not acceptable.

[2019-09-23 18:29] john-aws opened #6722 "FR: run slstats from non-project folder"
Documentation states:

It should be possible to run `sls slstats --disable` from a non-serverless project directory.

[2019-09-24 01:01] codeinaire opened #6724 "Lambda fails: "Runtime.ImportModuleError: Error: Cannot find module <module name>""
# This is a Bug Report

## Description

- What went wrong?
I created two lambda layers and when I tested the lambda's on which they depend I got the following error: Runtime.ImportModuleError: Error: Cannot find module <package name>

However, without using the layers configuration the functions run successfully. For this reason I figured it may be a bug.
- What did you expect should have happened

[2019-09-24 01:41] jplock opened #6725 "Batch Window Support"
# This is a Feature Proposal

## Description

- Support the new batch window options for Kinesis and DynamoDB
- https://aws.amazon.com/about-aws/whats-new/2019/09/aws-lambda-now-supports-custom-batch-window-for-kinesis-and-dynamodb-event-sources/
- https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html

[2019-09-24 02:58] YYingH commented on #6230
Hi, may I know how to use this `SERVERLESS_ACCESS_KEY`, I am trying to login in AWS EC2.

[2019-09-24 04:16] dharmesh03 opened #6726 "method config not found"
when i try ti run this command i am getting this error `serverless config credentials --provider aws --key {your access key id} --secret {your secret access key}`

Error: method config not found

is anyone know why i am getting this error

[2019-09-24 06:09] hoang-innomizetech opened #6727 "How to custom the servicePath prop when running built-in commands"
# This is a Feature Proposal
I wanted to custom the service path when running built-in serverless commands such as deploy, package. Right now, it always set to `.serverless`

## Description

- I had a mono-repo that contains some micro-services written in TypeScript, each micro-service has it own serverless.yml file
- Then when running any serverless command, I will have to provide `--config` opti

[2019-09-24 06:28] medikoo commented on #6726
@dharmesh03 I cannot reproduce it on my side.

Can you try it with `SLS_DEBUG=*` and paste full output?

[2019-09-24 06:41] hoang-innomizetech commented on #6727
Here is an error sometimes occurs when running package command parallel for multiple services

[code]

[2019-09-24 09:18] Ashishtantram commented on #4319
Try npm install with --unsafe-perm

it works for me..

[2019-09-24 11:26] driskell commented on #1439
Is there any further improvements on this?

The majority of policies seem to include things like `iam:AttachRolePolicy` which although restricted to the current role can be used to add the `Administrators` policy. Things like `iam:PassRole` alongside `lambda:CreateFunction` are also problematic as you can just pass the `Administrators` role to the lambda function.

I'm tempted to say it should be

[2019-09-24 11:28] pmuens opened #6729 "Create Alexa Skill integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:29] pmuens opened #6730 "Create ALB integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:30] pmuens opened #6731 "Create Alexa Smart Home integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:30] pmuens opened #6732 "Create CloudFront / Lambda@Edge integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:31] pmuens opened #6733 "Create CloudWatch Event integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:31] pmuens opened #6734 "Create CloudWatch Log integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:32] pmuens opened #6735 "Create IoT integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:32] pmuens opened #6736 "Create Schedule integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:32] pmuens opened #6737 "Create SNS integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:33] pmuens opened #6738 "Create SQS integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:33] pmuens opened #6739 "Create Stream integration test"
Create an E2E / Integration test for the event source.

This test should follow the tests which can be found [here](https://github.com/serverless/serverless/tree/master/tests/integration-all).

[2019-09-24 11:42] pmuens opened #6740 "Rewrite tests for plugins to solely use runServerless / remove unit tests"
In order to move towards an easier to maintain (and faster) test suite we should rewrite our plugin unit tests with `runServerless` (which can be found in the [`serverless/test` repository](https://github.com/serverless/test)) equivalents.

Once done we should remove all the unit tests which are non-trivial.

An example for an event source integration test can be found in the ["Native VPC support"

[2019-09-24 13:05] vchenin-mackiev commented on #6699
It looks like there were problems with the dependent module "aws-sdk" and is already working

[2019-09-24 13:12] Ryanauger95 commented on #4637
Experiencing this issue in September still. Had to manually subscribe the lambda to the topic

[2019-09-24 14:20] erikerikson commented on #1439
@driskell -it's good that you're keeping an eye out for security.  You might be pleased to know that you are able to restrict the roles that can be passed when using the PassRole provision.  See: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html (if you don't want to read all the text, search for "example 1").

[2019-09-24 15:13] #6725 closed

[2019-09-24 17:53] bonespiked commented on #6416
I'm seeing the same behavior on using Ref: for a bucket declared in the same serverless.yml

[2019-09-24 18:56] jplock commented on #6725
Thanks for the quick turnaround @pmuens and @alexdebrie !

[2019-09-24 21:17] foobar123-del opened #6745 "aws/CodePipeline-cucumber integration"
# This is a Feature Proposal

## Description

- What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
- If there is additional config how would it look

Similar or dependent issues:

- #12345

[2019-09-25 05:47] ferflores commented on #4387
same problem, override ignored

[2019-09-25 08:54] yufeng0924 commented on #6507
are you solve it already?

[2019-09-25 09:29] amwill04 opened #6750 "SSM SecureString - being stored as plain text."
The following seems, to me, a low risk security issue.

When using `ssm::securestring` as a variable in a template with the following:

[code]

This is then dencrypted at synthesis time of the `cloudformation` template and placed in the template as plain text which is then uploaded to `s3`. Also it somewhat circumnavtigates `cloudformation` limitation as to where `secure string` parameters can be

[2019-09-25 10:05] Myphan29 commented on #5910
Hi @mrowles ,
I have the same problem with Cognito but the example is not available anymore.
Please check it, thanks.

[2019-09-25 10:32] #6454 closed

[2019-09-25 11:19] pmuens commented on #6598
Hey @medikoo thanks for putting this together 👍

👍

I like the idea but AFAIK there was some pushback when we discussed this solution in the enterprise context (when we added the wrapper around the users Lambda functions). While that was a completely different matter the consensus was that we should really make sure that we don't override AWS specific config. A namespaced object cloud be a potenti

[2019-09-25 11:48] ThomasEg commented on #6557
I can confirm that is is resolved in 1.53.0...!

Thanks!

[2019-09-25 12:12] mahi1518 opened #6752 "Unable to deploy single lambda function for version 1.52.1"
### sls deploy -f "function_name" is not working throwing and exception
My serverless version is:
Framework Core: 1.52.1
Plugin: 3.0.0
SDK: 2.1.1
`sls deploy -f function_name` is not working
it throws and errors the complete trackback would be
`TypeError: Cannot read property 'artifact' of undefined
      at ServerlessPythonRequirements.BbPromise.bind.then.then.then (/home/mahesh/shuttle/H2OLambda

[2019-09-25 12:36] pmuens commented on #6752
Hey @mahi1518 can you please post your `serverless.yml` file? Does that file contain a `function_name` function?

[2019-09-25 12:52] solsglasses commented on #4387
You have to :1: the original post to get the maintainers attention

[2019-09-25 13:00] vladgolubev commented on #6610
Closed via #6741

[2019-09-25 13:00] #6610 closed

[2019-09-25 18:18] skharel opened #6755 ""include" additional files per function"
# Bug Report

## Description
In reference to the function packaging described in the https://serverless.com/framework/docs/providers/aws/guide/packaging#packaging-functions-separately, I am trying to include some additional files as a part of package.

1. What did you do?
in my functions definition I added the package & include as:
`migrate:
  handler: src/functions/migrate/index.handler
  name: $

[2019-09-25 18:23] smferguson commented on #5226
@jurajseffer in a similar boat... which plugin did you use?

[2019-09-25 18:49] gmetzker opened #6756 "ApiGateway option to block overwriting of log settings and prevent custom resource from overwriting existing CloudwatchLogRole ARN"
# Feature Proposal

## Description

I'm having issues with Api Gateway Log settings with serverless >= 1.42.

Previously I would use the plugin `serverless-plugin-stage-variables` which allowed me to set ApiGateway log settings in a CF resource as follows:

[code]

Since v1.42 (and specifically tested on 1.52) the new logs `provider/logs/restApi` feature seems to be causing two issues:

1. In the

[2019-09-25 19:01] gmetzker commented on #6756
Related Issue #6165

[2019-09-25 19:04] gmetzker commented on #6094
Would be nice if there was an option to block serverless from overwriting log settings in case we want to manually define them in `resources`.

Also would be nice to block serverless from overwriting the Api Gateway Cloudwatch log role arn.  Or leave it be if its already set.

Feature Proposal here:  #6756

[2019-09-25 19:52] medikoo commented on #6598
Hmm.. that's really interesting, do you have more info on that? As it's our application, it's also safe to also expose utils on some global var (e.g. `sls`)

I meant that resource specific logic should be in one place, where we add custom resource.
e.g. for S3 bucket. Currently we register the need to add resource and define needed IAM role statements here: https://github.com/serverless/serverless

[2019-09-25 19:59] medikoo commented on #6165
It's an issue described here: https://github.com/serverless/serverless/issues/6584

We'll address this shortly. Please observe mentioned issue. I'm closing this as a duplicate.

[2019-09-25 21:48] Jwan622 commented on #6610
You can use this in the meantime: `https://serverless.com/framework/docs/providers/aws/guide/resources/#override-aws-cloudformation-resource`

[2019-09-26 02:01] atz commented on #4711
@cameljava The gateway is the AWS layer that has knowledge of both lambdas and authorizers.  A lambda in isolation, afaict, does not have the ability to describe a prerequisite (authorizer, validator, etc.).  This difference is evident in the respective API Gateway and Lambda consoles.

[2019-09-26 06:31] alexjurkiewicz opened #6759 "Required options / environment variables"
# Feature Proposal

## Description

Often I build stacks that have parameters that must be set. For example:

[code]

It would be nice to have a way to require this env var to exist and to fail the deploy process if it's not defined. Currently users are shown a warning:

[code]

Syntax ideas:

- `${env:DB_PASSWORD:required}`
- `${env:required:DB_PASSWORD}`
- `${env_required:DB_PASSWORD}` This is a

[2019-09-26 06:54] jurajseffer commented on #5226
@smferguson Wrote my own, couldn't see anything that was out there. See https://gist.github.com/jurajseffer/6a63c0482de0feb968dd58a92de90f38

[2019-09-26 07:12] svdgraaf opened #6760 "SNS cross region trigger breaks pseudo parameters"
# Bug Report

For reference, see the bug report here: https://github.com/svdgraaf/serverless-pseudo-parameters/issues/38

Also for reference, currently the plugin uses `after:aws:package:finalize:mergeCustomProviderResources` to trigger, perhaps this needs to run at a different stage in the process, but I'm not sure about that.

I'm happy to create a PR with a fix, but I'd like to discuss here wha

[2019-09-26 07:41] jusmari commented on #6752
I'm getting exactly this same error while trying to deploy single function with `sls deploy -f function_name`. I Have not touched my `serverless.yml` after updating serverless to
[code]
Tried to reinstall everything but the issue continues to exist.

[2019-09-26 07:43] medikoo commented on #6756
@gmetzker great thanks for opening this, and outlining the issues, it's indeed problems that we need to solve.

1) Here I believe the problem of design is that those settings have effect when not set, which is quite controversial. Logging is setup when there's _logs: true_, and logs setup is removed unconditionally when there's _log: false_ or there's no logs setting at all (!)

For settings handl

[2019-09-26 08:00] FabWild commented on #5347
It is possible to share a single api gateway between stages or projects, but as it creates a dependence between serverless projects, they just ignored that.
A hint is here:
https://forum.serverless.com/t/deploy-to-multiple-stages-with-shared-api-gateway/5356/2?u=dfweb
-> Put two stages and two deployments in the CLoudFront templates in the resources section of your serverless.yml. The api must hav

[2019-09-26 08:08] babu-upcomer commented on #6752
Same here. It just stopped working so.

[code]

[2019-09-26 08:29] khaledosman opened #6761 "Dashboard breaks deployments and cause lambda to timeout"
# Bug Report
## Description
1. What did you do?
I can't pinpoint exactly what the problem is, but it started when I deleted my serverless app from the dashboard UI then created a new one. After updating my `serverless.yml` file and running `sls deploy` my lambda function was timing out and was unreachable.

1. What happened?
it took me a while to figure out what was happening, but it seems like se

[2019-09-26 09:19] nathalieDOXA opened #6762 "Cannot cross-stack refer Websocket API"
# Bug Report

## Description

1. What did you do?
I created Websocket API by AWS Cloud formation
[code]
Then I refer it in my serverless service:
[code]

2. What happened?
Serverless doesn't use the websocketApiId cross-stack reference.
Serverless created a new end-point.
[code]
3. What should've happened?
Serverless should use the cross-stack reference Websocket endpoint instead of creating a new

[2019-09-26 09:37] GurpreetSingh5 commented on #6726
Hi @dharmesh03. Did you check if you have serverless installed both locally and globally.There could be a version mismatch and you might be using a previous one.

[2019-09-26 09:42] GurpreetSingh5 commented on #4568
Any updates on this ? Is this feature available yet ?

[2019-09-26 11:01] pmuens commented on #6762
Hey @nathalieDOXA thanks for opening :+1:

In your `notification-ws` service can you run `serverless print` and print it here so that we see the fully resolved `serveless.yml` file? Is the `websocketApiId` successfully resolved?

[2019-09-26 11:53] dschep commented on #6761
How much can you share about your lambda code? A simplified version of the code that still times out would be optimal, but otherwise, how are you returning from your lambda? using `callback` or returning a Promise?

[2019-09-26 12:43] nathalieDOXA commented on #6762
Hi @pmuens ,
Thanks for your quick response.

Here it is:

`serverless print`
[code]
`serverless deploy` (the endpoint changes comparing to my previous post because I removed the service and deploy again)
[code]

[2019-09-26 13:07] jplock commented on #1110
@alexdebrie any thoughts on @alikian's plugin https://github.com/alikian/mfa-serverless-plugin and if something like MFA support could be supported natively within Serverless?

[2019-09-26 14:34] AkhilRaja commented on #6752
Same here. I am also unable to deploy a single function.

[2019-09-26 14:49] dschep commented on #6761
Ignore my previous message, I thought the deploy was working and then the lambda was timing out. Does `sls login` work?

[2019-09-26 16:02] khaledosman commented on #6761
You can see the lambda code here https://github.com/khaledosman/serverless-graphql-mongodb-lambda/blob/master/api/graphqlHandler.js

I'm using callback since that's what the apollo-server uses internally to create the lambda handler as the example here https://www.apollographql.com/docs/apollo-server/deployment/lambda/#setting-up-your-project

Yes `sls login` does work!

[2019-09-26 23:19] gmetzker commented on #6756
Sounds good to me.

Just curious though why the api call hack is needed to assign the log settings to the stage?  It seems to work ok with a CF resource using `AWS::ApiGateway::Stage`.  Or am I missing something?

[2019-09-27 02:44] schellack commented on #5241
I'm seeing this too. Downgrading from 1.52 to 1.51 fixed the issue. Can't even see the error because the stack trace is too long. Here's a snippet:

[2019-09-27 05:53] mrowles commented on #5910
@myphan29 Hi, would love you help, what are you after specifically though?

[2019-09-27 07:17] mahi1518 commented on #6752
@pmuens
`service: AWSSERVERLESS`
`provider:`
  `name: aws`
  `runtime: python2.7`
  `profile: *********`
  `memorySize: 1024`
  `timeout: 300`
  `versionFunctions: false`
`stage: TEST`
  `region: ap-southeast-1`
  `role: arn:aws:iam::*********:role/lambda_basic_execution`
`functions:`
  `CheckWalletBlns:`
   ` handler: Handler/CheckWalletBlns.CheckCreditBlnprocesss`
   ` name: CheckWalletBlns`
`pl

[2019-09-27 08:29] medikoo commented on #6756
Via CF no updates can be applied, e.g. you may initialize the stack with logging, tracking, but you're unable to fine tune those settings without removing and re-creating the stack.

This is the sole reason why we apply those setting not via CF template channel.
Still it's possible that soon all of that will be supported in CF, then we can safely move to CF

[2019-09-27 09:20] Ellosaur commented on #6638
This appears fixed in version `1.53`
Possibly https://github.com/serverless/serverless/pull/6742 that fixes it.

Thanks!

[2019-09-27 10:12] khaledosman commented on #6761
So I tried to set it up again today by running `serverless` it set up the application successfully but when I tried to deploy wit `sls deploy` I got
[code]
Here is the full log
[code]

Even though the deployment failed, it published the application to the dashboard, perhaps that could be the root cause of the timeout issue last time?

How can I get around the gateway loggroup error?

[2019-09-27 10:26] khaledosman commented on #6761
This is the traces that explain the timeout problem.

Hitting the endpoint returns
[code]

The timing out invocation from cloudwatch
![image](https://user-images.githubusercontent.com/2937633/65762668-d974ed80-e121-11e9-9f78-fa2b330f1023.png)

Cloudwatch Logs:
![image](https://user-images.githubusercontent.com/2937633/65762720-e98ccd00-e121-11e9-9415-d3d7dee20705.png)

XRay Tracing:
![image](https

[2019-09-27 10:57] deepakpc commented on #6179
Still has this issue when using AWS CodeBuild and CodeDeploy. I'm using the latest version 1.53. I saw that the fix for this was going to be pushed with 1.50 update. Are there any workarounds for this?

[2019-09-27 10:57] exoego commented on #6638
@Ellosaur
Thanks for reporting.
Closing since this fixed in `1.53.x`

[2019-09-27 10:57] #6638 closed

[2019-09-27 11:33] pmuens commented on #6762
@nathalieDOXA thanks for following-up. There's definitely something wrong here 🤔

We'll have to see if we can reproduce this on our end...

Another quick question: Which Serverless Framework version are you running?

[2019-09-27 12:59] dschep commented on #6761
Ah, ok, so it is the deployed func that times out. Cool. Thanks for sharing your code, that'll be extremely helpful!

[2019-09-27 14:03] enricop89 commented on #1439
@hybby Thanks mate! I followed your suggestions and created two main roles:

Deploy Role: https://gist.github.com/enricop89/80a36d6b73417d3ef40bfe00c09a8a35#file-serverless-deploy-role-json

CFRole: https://gist.github.com/enricop89/80a36d6b73417d3ef40bfe00c09a8a35#file-cloudformation-role-json

[2019-09-27 14:49] dutzi opened #6765 "Cron job params inaccessible"
# Bug Report

## Description

When adding:

[code]

To my serverless.yml, the Lambda's `event` (first param passed to handler) object is undefined. So I can't access the values.

**serverless.yml**
[code]

[2019-09-27 14:50] dutzi commented on #6765
When I delete `input:` (and the keys) the `event` object is populated again. (that's why I filed a bug).

[2019-09-27 14:59] dutzi opened #6766 "Access Serverless requestId from code in Cron triggered Lambdas"
# Feature Proposal

## Description

The case I'm trying to solve is as follows: I have a service that needs to run every day at 7am. After it's done, it sends me an email with some details. In this email I want to place a link to the my Lambda's invocation logs in the Serverless Dashboard.

The link would look something like:

[code]

Where `requestId` is the Serverless request id.

I'm able to ge

[2019-09-27 15:10] dutzi commented on #6765
Nevermind. Probably had the same issue as [this guy](https://github.com/serverless/serverless/issues/4844#issuecomment-374996125). :|

[2019-09-27 15:10] #6765 closed

[2019-09-27 15:19] dutzi commented on #4844
I spent a few hours on this, some sort of deploy warning would be great here.

[2019-09-27 15:19] dutzi commented on #6765
I spent a few hours on this, some sort of deploy warning would be great here.

[2019-09-27 20:44] dschep commented on #6761
I've figured out the issue & PR'd a fix. I'll release an update soon.

[2019-09-28 09:17] lesichkovm opened #6768 "Remove Tracking"
# Bug Report

User stats error: Request network error: { FetchError: network timeout at: https://tracking.serverlessteam.com/v1/track
    at Timeout._onTimeout (/usr/local/lib/node_modules/serverless/node_modules/node-fetch/index.js:126:13)
    at ontimeout (timers.js:482:11)
    at tryOnTimeout (timers.js:317:5)
    at Timer.listOnTimeout (timers.js:277:5)
  name: 'FetchError',
  message: 'networ

[2019-09-28 20:12] FatalTouch commented on #6752
same issue, had to rollback to version 1.51.0 to upload a single function.

[2019-09-29 17:58] cheslip opened #6769 "Lambda layer versions are not being retained"
# Bug Report

## Description

1. What did you do?
Deployed a layer-only service with `retain: true`
1. What happened?
Previous layer version is deleted
1. What should've happened?
Since `retain` is set to `true`, the previous layer version should still be available
1. What's the content of your `serverless.yml` file?
[code]
1. What's the output you get when you use the `SLS_DEBUG=*` environment va

[2019-09-29 21:13] ridan opened #6770 "Template format error: Unresolved resource dependencies [<function name>LogGroup] in the Resources block of the template."
# Bug Report
I was trying to use the serverless monitoring tools and ran `sls` to connect it to my serverless account. After that whenever I try to deploy, I get this message

`Template format error: Unresolved resource dependencies [CsGetIndexLogGroup] in the Resources block of the template.`

My sls template does not have a Resources block. I tried to add an empty Resources block but that did no

[2019-09-30 04:05] Cobertos commented on #2154
Still having to manually set up the trigger myself. Tried deleting my entire stack and recreating and did not work :(

[2019-09-30 06:08] JeffersonSchuler commented on #6761
Great, because I have been experience the same timeout issue since switching the service to use the tenant/app.  Thanks.

[2019-09-30 08:03] NSpehler commented on #6752
Same here ☝️

[2019-09-30 12:40] lqueiroga commented on #6699
Hi, I faced exactly the same issue.
I went to API Gateway and saw a lot of duplicate empty apis not removed from previous failed deployments. After I cleaned up API Gateway, the deployment worked.

[2019-09-30 12:47] lvthillo commented on #6699
@lqueiroga did help for me too. But the warning "You have exceeded the number of APIs you can delete per minute. Please try again soon." wasn't helping.

[2019-09-30 13:17] Westermann commented on #6752
✋Same

[2019-09-30 13:44] Kasmilos opened #6771 "Setting existing:true on S3 bucket causes deployment to fail"
# Bug Report
Setting existing:true on S3 bucket causes deployment to fail

## Description

1. What did you do?
Added existing:true to S3 function. The deployment works correctly for a new bucket.

2. What happened?
The deployment fails with:
[code]
and then rolls back everything else.
The rollback for _S3uploadedCustomS31_ fails of course.

3. What should've happened?
Deployment should complete. T

[2019-09-30 14:37] #6761 closed

[2019-09-30 15:33] xShirase opened #6772 "Cognito user pool not updating on deploy"
# Bug Report

## Description
Deploy creates invisible Cognito resources instead of updating existing ones

### What did you do?

The user pool exists already with an id of `eu_west-2_xxxxx`. I sls deployed to attach the trigger to it

### What happened?

The trigger isn't updated, and worryingly, CloudFormation shows a CognitoUserPool resource being created, with a new id of ` eu-west-2_yyyyy`. Th

[2019-09-30 16:28] smartserveteam opened #6773 "Serverless invoke test environment variables undefined"
# Bug Report

When using `serverless invoke test`, environment variables (such as `AWS_REGION`) are not set.

## Description

When using `serverless invoke test`, environment variables (such as `AWS_REGION`) are not set.
However, when using `serverless offline start`, environment variables are set properly.

Running this from my test file: `console.log("process.env.AWS_REGION:", process.env.AWS_RE

[2019-09-30 17:00] mledom commented on #6605
@armenr were you able to get serverless to deploy with the way pnpm sets up packages?

[2019-09-30 18:05] medikoo commented on #6768
@lesichkovm thanks for report. Those errors do not affect functionality of the framework, and since v1.53.0 are not logged with `SLS_DEBUG` anymore.

Still if you want to turn off those requests (they serve purely stats purpose, and nothing personal is collected), you can do so via `sls slstats --disable` command

[2019-09-30 18:05] #6768 closed

[2019-09-30 18:14] medikoo commented on #6770
I take this error message comes from AWS, so it in general means, that there's a `CsGetIndexLogGroup` mentioned in `DependsOn` section, which doesn't appear in CF template.

It's hard to say what's the source of the issue, just by above information. Are you using nested stacks? Or some other plugins?

[2019-09-30 18:20] alecbw commented on #3146
Are there any updates on this or [5285](https://github.com/serverless/serverless/issues/5285)? I understand this is an AWS problem per se, but they appear to not have made any changes to rectify it in the past three years. In my case, it's being initiated by a Code storage limit exceeded. (Service: AWSLambda; Status Code: 400; Error Code: CodeStorageExceededException error. It would be an ideal wo

[2019-09-30 20:41] JamieCressey opened #6774 "Expose stage name as a CloudFormation stack parameter"
# Feature Proposal

Provide stage name as stack parameter to CloudFormation

## Description

I would like to generate the CloudFormation template for a given deployment by running `sls package` and apply the generated template in each of my stages; test/stage/prod. However the serverless stage (i.e. dev) is currently hard-coded in the generated CloudFormation templates.

Rather than hardcoding the

[2019-09-30 23:41] rabbah commented on #6226
Now updated to point to Apache OpenWhisk.

[2019-09-30 23:41] #6226 closed

[2019-10-01 02:10] luisfagottani commented on #6149
Any updates?

[2019-10-01 07:46] pradeeptimeinc opened #6775 "How to log all lambda to a single cloudwatch log group ?"
Hi all,

I'm creating 10 lambda function using serverless and it's creating a separate cloudwatch log group for each lambda(10 log group). So is there any way I can specify a single log group and log all of my lambda logs to a single log group.

I tried looking up so may issues/thread but couldn't find any article/doc related to it.
can anybody pls tell me how to achieve it?

BTW thanks for creati

[2019-10-01 08:03] Ranjanivraman commented on #4647
My lamdba is triggered by an sns topic. So i have an idea to use the onError function of serverless to put the Errored messages back to the sns topic with the message attribute as error and a dead letter queue is subscribed to that lamdba only for the message attribute as error.

What do you guys think about this solution.  Will it work?

[2019-10-01 08:26] dnitsch commented on #6775
I am not even sure that it's possible to do in AWS (and not highly not recommended) - any stdout, will be logged into a log group following this pattern `/aws/lambda/$func_name`.
If you want to aggregate logs you should stream them from source log groupd to an aggregate log group or into ElasticSearch.

You could use the log-forwarder plugin though I didn't have a great experience with it on large

[2019-10-01 08:45] dnitsch opened #6776 "Add option for disabling automatic log creation"
# Feature Proposal

allow an override parameter for  disabling automatic log group creation with sls deploy.

## Description

I would like the option of managing log groups for the lambda function outside of the sls deploy stack, frankly when this was [added](https://github.com/serverless/serverless/pull/2520) - why not expose an override parameter then? creating a resource in the background that

[2019-10-01 08:45] kvandenhaute opened #6777 "Unsupported engine for chokidar@3.2.0 on node 8.10"
Our install today failed because of a dependency that requires node >= 8.16. Our AWS runtime is running on node 8.10. We did not do an update of serverless, so this is not expected behaviour. It seems chokidar did a breaking change from 3.1.1 to 3.2.0

`npm ERR! code ENOTSUP
npm ERR! notsup Unsupported engine for chokidar@3.2.0: wanted: {"node":">= 8.16"} (current: {"node":"8.10.0","npm":"6.11.3"}

[2019-10-01 09:13] paul-ridgway commented on #6679
It looks like this might have been introduced in the `1.48.1` release

[2019-10-01 09:35] martrik commented on #6679
Actually, in my case the problem is that I've got a MongoDB connection that should be kept open between executions. However, even when using `callbackwaitsforemptyeventloop = false` the lambda still hangs.

[2019-10-01 09:54] armenr commented on #6605
Thanks for the kind followup, @mledom - however we had to abandon altogether.

[2019-10-01 10:45] paul-ridgway commented on #6679
Ah I see, for me there has been no code change, it broke on updating the version so I stepped back to find out when the behaviour appears to have changed...

[2019-10-01 12:14] gdraynz commented on #6677
I stumbled upon this issue as well when trying to split things from my `serverless.yml` file, just like this:
[code]
[code]
This example will work just fine for functions, but not for the layers:
[code]

[2019-10-01 13:01] zkrige opened #6778 "Removing a lambda with an S3 trigger event causes deployment to fail"
# Bug Report

## Description

1. What did you do?
I removed a lambda from my serverless.yml file. the lambda looked like this
[code]
2. What happened?
the deploy cannot remove permissions on the removed lambda, which causes a rollback

1. What should've happened?
the deploy should successfully remove the permissions on the lambda

1. What's the content of your `serverless.yml` file?
as above

1. W

[2019-10-01 13:57] medikoo commented on #6771
@Kasmilos thanks for report. What exactly error is reported in CloudFormation? (Above log just indicated that some error happened, but we don't know what failed exactly)

[2019-10-01 14:04] medikoo commented on #6772
If intention is to attach to _existing_ cognito pool, then `existing: true` flag needs to be set.
https://serverless.com/framework/docs/providers/aws/events/cognito-user-pool/

[2019-10-01 14:18] xShirase commented on #6772
Thanks!

[2019-10-01 14:18] #6772 closed

[2019-10-01 14:32] Kasmilos commented on #6771
Executing with SLS_DEBUG=* does not give any additional information during the deployment

[code]

It does not give any additional information about the failure reason that I can see.
Because CloudFormation does a complete rollback there is no logs in CloudWatch or on the console.

The execution terminates with:
[code]

The log mentioned at the start of the error report has already been deleted by

[2019-10-01 15:14] khaledosman commented on #6761
Was this released yet?

I'm still having the same issue with v1.53.0, somehow only my playground/graphql handler times out, but my hello one works fine.

If I comment out `app` and `org` it works again.

[2019-10-01 15:30] dschep commented on #6761
Sorry, just released it now. Update with `npm i -g serverless` then confirm with `sls --version` that you have plugin version 3.1.1

[2019-10-01 16:00] martrik commented on #6679
Interesting! For me this is a new service that I was creating so I wasn't really sure if the issue originated from my code or serverless'. Anyways, let's see if we can get the attention of any maintainer 😄

[2019-10-01 16:18] khaledosman commented on #6761
works, thanks!

[2019-10-01 17:01] JeffersonSchuler commented on #6761
I just updated with the changes, and now when I deploy it does not look like any of the enterprise stuff is enabled.  For example I am not getting any of the safeguard warnings I was seeing before. I am also not seeing any updates to the dashboard.

[2019-10-01 18:03] medikoo commented on #6773
@smartserveteam framework doesn't set (and never did) `AWS_REGION`, although it resolves region internally (and defaults it to `us-east1`) for all internal AWS requests.

Therefore if you want to have AWS region, exposed at`AWS_REGION` you need to ensure it in on your own.

[2019-10-01 20:27] igorrocha commented on #5892
I was having the same issue, even though I wasn't specifying any include/exclude directories. Turns out the path property in the layer definition cannot be the path of an empty directory.

`layers:
  MyLayer:
    path: postgraphileCache/ # required, path to layer contents on disk -> CANNOT BE AN EMPTY FOLDER`

@kjcsb1 @dogzzdogzz @ronaldonc @sashokbg @gangster @sanjay-zymr  I believe that might be

[2019-10-01 21:47] bisaacson commented on #4029
Creating a second API Gateway Deployment to force the custom domain creation to wait long enough to get a working stage value does not work for me.

[2019-10-01 22:04] michaelj-smith commented on #4029
@bisaacson If you post your yaml, I'll review it and help if I can.

[2019-10-01 22:30] bisaacson commented on #4029
@michaelj-smith I apologize for the confusion. By "does not work for me" I mean "is not acceptable." It works, but I can't put this in production. I'm going back to the "serverless create_domain" method.

Thanks though!

[2019-10-01 22:59] ridan commented on #6770
@medikoo yes I didn't mention it but I am using these serverless plugins: serverless-domain-manager and serverless-nested-stack

[2019-10-02 00:57] camhart commented on #4853
This occurred for me due to Source Ip restraints I had on the policy granting access to s3.  Once I removed the source ip restraints (even though I WAS from the ip), it worked.

[2019-10-02 03:01] jessedoyle commented on #6706
@pmuens - I was thinking about submitting a PR to implement this.

It looks like it should be relatively trivial to add the extra configuration to the generated CF template. What do you think?

[2019-10-02 13:36] medikoo commented on #6774
@JamieCressey thanks for report. It's something we consider to support, but requires a bit more thought.
I'll close it, as we have already other request open, which is about same thing.
Follow https://github.com/serverless/serverless/issues/6568 for the progress on that

[2019-10-02 13:36] #6774 closed

[2019-10-02 13:56] JamieCressey commented on #6568
+1 this. We build code and infra once, and deploy that through test/stage/prod environments. Whilst we could rely on git commit hashes to rebuild each time, "build once, deploy multiple times" has always been the rule of thumb here too.

[2019-10-02 14:21] medikoo commented on #6777
Which version of npm you're using? AFAIK it's only quite old (not longer supported) npm versions which validate against package.json `engine` setting, and eventually crash.
Updating to newer version should fix this

[2019-10-02 14:50] medikoo commented on #6770
@ridan it's definitely related to `serverless-nested-stack`, which most likely puts resource away from main stack (hence is not reachable). Not sure though if it can be related in any way to our monitoring setup, @dschep any thoughts?

[2019-10-02 16:10] dschep commented on #6770
Could you share your cli output when you run `SLS_DEBUG=t sls deploy`?

[2019-10-02 19:26] guidev commented on #6684
+1

[2019-10-03 01:57] sshaw commented on #6220
Having same issue in  1.51.0:

[code]

This lockfile was created by emacs:

[code]

`sshaw@sshaws-MBP-2.18452` does not exist, it's the "lock value".

My `serverless.yml` contains:

[code]

But appears that it's not respected.

[2019-10-03 02:50] ridan commented on #6770
[output.txt](https://github.com/serverless/serverless/files/3684244/output.txt)
@dschep here you go

[2019-10-03 06:35] jeremywhittington commented on #3191
Could you explain how you would do this? I am running into this error now.

[2019-10-03 08:23] smartserveteam commented on #6773
Thanks for the clarification

[2019-10-03 08:23] #6773 closed

[2019-10-03 12:47] bluebeel commented on #6179
Hello, I'm using serverless framework with AWS CodeBuild / CodeDeploy
Here is my deploy.sh script

[code]

The `deploy` command expects to receive a relative path to the current folder and especially in a `.serverless` folder.
If the file `serverless-state.json` is not found folder `.serverless` does not exist, it returns an error.

[2019-10-03 12:47] bluebeel commented on #5381
Hello, I'm using serverless framework with AWS CodeBuild / CodeDeploy
Here is my deploy.sh script for this problem

[code]

The `deploy` command expects to receive a relative path to the current folder and especially in a `.serverless` folder.
If the file `serverless-state.json` is not found folder `.serverless` does not exist, it returns an error.

[2019-10-03 14:15] medikoo commented on #6770
@ridan this might be an issue of `serverless-nested-stack` plugin, as from your log output it's clear, that within Logs stack it creates, created LogGroup resources are not exposed on outputs.

And error says that some resource in API stack (as created by `serverless-nested-stack`) cannot access one of the log groups which are contained in Logs stack

[2019-10-03 14:18] QAnders commented on #6679
On 1.53.0 and having the same issue...

[2019-10-03 23:25] miguel-a-calles-mba opened #6782 "The always restApi logs enable when using an SSM parameter in the configuration."
# Bug Report

## Description

1. What did you do?

I enable logs depending on the stage using SSM parameters.

1. What happened?

The API Gateway logs enable for every stage. The SSM values for `dev` and `test` stages were `false`, and `staging` and `prod` were `true`.

1. What should've happened?

API Gateway logs should have been disabled for `dev` and `test`, and enabled for `staging` and `prod

[2019-10-04 00:36] colemars opened #6783 "Can someone please give a rundown of what "An error occurred while provisioning your stack: ApiGatewayResourcePathvarVar. A sibling ({pathvar}) of this resource already has a variable path part -- only one is allowed." means?"
I've encountered this error several times now, and despite being able to work around it, I don't understand what the error is.

[2019-10-04 00:54] exoego commented on #6783
Please use https://forum.serverless.com, StackOverflow or other forums for Q&A .

[2019-10-04 00:54] #6783 closed

[2019-10-04 01:02] exoego commented on #6782
There are lots of non-string configuration (boolean or numeric) in severless framework, and most of them does not treat string given from `$opt` unfortunately.
It is recommended to use `$file` variable and use booleans/numbers in those files.
https://github.com/serverless/serverless/pull/6561#issuecomment-523006447

This was discussed in https://github.com/serverless/serverless/pull/6561

[2019-10-04 07:37] colemars commented on #6783
@exoego just a heads up the template isn't actually displayed if you select the "Don’t see your issue here? Open a regular issue." option. So that comment isn't super helpful.

[2019-10-04 08:08] trondhindenes opened #6785 "Full documentation missing from CloudFront event type"
# Bug Report

## Description
The documentation for cloudfront is very thin (https://serverless.com/framework/docs/providers/aws/events/cloudfront/). There's a few examples, but there's no complete documentation of all supported params. Since its likely that users have to use a `Resources` object to describe the Cloudfront distribution in detail, this even type is potentially quite complex to get r

[2019-10-04 08:19] exoego commented on #6783
Ah, actually `Please use https://forum.serverless.com, StackOverflow or other forums for Q&A` is in **Bug report** issue template.
Will add a `Q&A` template.

[2019-10-04 13:36] medikoo commented on #6782
Thanks @miguel-a-calles-mba for report.

For resources like `process.env` where value can only be a string (or not be set at at all). I believe the best convention to express booleans is to use var names as `ENABLE_*` or `DISABLE_*`, and resolve _boolean_ result basing on var existence (an empty string also may indicate _falsy_ value).

In JavaScript `Boolean("false") === true`, and I believe in i

[2019-10-04 14:50] miguel-a-calles-mba commented on #6782
Would this type of change help with the overall problem?
https://github.com/serverless/serverless/pull/6787
It passed unit tests.
I'm testing the `sls deploy` in my development environment.

[2019-10-04 16:54] brianjd opened #6789 "API-G resource policies require manual removal"
# Bug Report

## Description

Deleting an API-G resource policy from the stack configuration doesn't remove the previously defined policy from the endpoint.

Similar or dependent issues:

- #4926

[2019-10-04 17:42] et304383 commented on #4565
Damn, nearly 2 years later and not supported.  :(

[2019-10-04 19:19] lasanthak commented on #4867
Submitted a fix https://github.com/serverless/serverless/pull/6791

[2019-10-04 19:59] khrazy5150 opened #6792 "An error occurred: Unzipped size must be smaller than 262144000 bytes"
# Bug Report

## Description
When running sls deploy to deploy my website to AWS, I get an error

What did you do?
Found from the forum that graceful-fs needed to be upgraded. So I did. I also needed to upgrade my version of serverless.

What happened?
It still did not work. Then I found that node_modules needed to be explicitly excluded in Serverless.yml (something I didn't have to do before). St

[2019-10-04 20:02] khrazy5150 commented on #6792
Similar issue: https://github.com/UnitedIncome/serverless-python-requirements/issues/343

[2019-10-05 11:10] nikita-clearscale commented on #4720
Any news? Any workariunds? I have downgraded to `1.38.0` and got same issue :(

[2019-10-05 16:23] medikoo commented on #6782
I'm not sure if it's not a good idea to translate `"false"` to `false`. To avoid confusion and unwanted side effects we should rather follow how coercion in JS language works.

Anyway, let's focus exactly on your problem:
- Is _string_ the only possible value type of SSM parameter? (is there no way to store booleans or numbers?)
- If it's the case, can you make a `API_GW_LOGS` an empty string (`''

[2019-10-05 19:05] danillouz opened #6793 "opt:region var default value not resolved on deploy"
# Bug Report

## Description

Hi there, I'm not sure if this is a bug, but after upgrading to `v1.53` it seems like the default region value isn't resolved for me anymore, when using `region: ${opt:region, 'eu-central-1'}` in the serverless manifest.

This causes my deploy to fail because it can't find my custom deployment bucket.
I noticed the logs print:

[code]

Where it prints the "literal" va

[2019-10-05 20:46] joebernard commented on #4647
@Ranjanivraman Be careful you don't introduce a cycle of error > dlq > sns > error > dlq > sns... etc.

[2019-10-06 09:00] medikoo commented on #6792
Error indicates that bundled size of `get-one-page` lambda, exceeds 250MB.

Do you know what may cause such lambda size on your side?

[2019-10-06 09:17] khrazy5150 commented on #6792
I deleted that function from the folder. It was not there when I ran it.

[2019-10-06 09:21] medikoo commented on #6792
It is listed in `serveless.yml` you cite, and also error refers to this function directly

[2019-10-06 12:59] beanaroo commented on #4282
Can confirm the issue is still present

[2019-10-06 16:55] khrazy5150 commented on #6792
I commented out EVERY FUNCTION, except the one that serves the homepage. It is definitely less than 250MB but still get the same error for this function.

'use strict';

const AWS = require('aws-sdk');
AWS.config.update({ region: 'us-west-2' });
const db = new AWS.DynamoDB.DocumentClient();
const tableName = process.env.TABLE_1;

const baseUrl = 'mydomain.com';
let html = '';
let name = '';

modul

[2019-10-07 02:29] justinlazaro-iselect commented on #6134
having an issue here,

Hi guys, got issue enabling the logs in serverless, about serverless is creating a `serverlessApiGatewayCloudWatchRole` right now we have a `permissionbounday` in AWS, is any solution or implementation that i can include the Permisson boundary or reference the `role` that i created

error: An error occurred: IamRoleCustomResourcesLambdaExecution - API: iam:CreateRole User: a

[2019-10-07 04:06] hoang-innomizetech commented on #4282
I can confirm that this issue still persists when using the latest version

Framework Core: 1.53.0
Plugin: 3.1.1
SDK: 2.1.1
Components Core: 1.1.1
Components CLI: 1.2.3

[2019-10-07 07:49] 0is1 opened #6795 "Serverless config with IP whitelist and fallback to basic auth"
Hello! I've been struggling with the following problem: how to configure serverless with IP whitelist authorizing and fallback to BasicAuth (to root path) if IP doesn't match to whitelist?

It's quite easy to add IP whitelist authorizing (https://github.com/0is1/nextjs-serverless-test/blob/master/serverless.yml#L19-L28). And it's also quite easy to add BasicAuth (or any Authorizer in general) to a

[2019-10-07 10:05] danillouz commented on #6793
I'm also happy to help by sending a PR with a fix if needed, please let me know if I can/need to help.

[2019-10-07 10:36] naeemshaikh27 commented on #6557
I can still see this issue in1.53.0 while using `existing: true` for S3 event

[2019-10-07 11:07] gleidsonh opened #6796 "Base Path Mappings of Custom Domain Names are removed"
# Bug Report

In my integration tests, when I remove function `- serverless remove --stage staging`, Base Path Mappings of Custom Domain Names are removed too. On next integration test, an error will occur. How can I remove function correctly?

**Serverless version**
[code]

[2019-10-07 12:47] naeemshaikh27 commented on #6557
My bad, actually I hadn't updated the serverless framework version globally. `npm uninstall -g serverless` and then `npm install -g serverless` updated the framework to 1.53.0. The issue got resolved in this build

[2019-10-07 13:12] mtt-g opened #6797 "Serverless Package - Method Not Found"
# Bug Report

## Description

1. What did you do?

I attempted to perform a `serverless package` as described in the following documentation:

https://serverless.com/framework/docs/providers/aws/cli-reference/package/

2. What happened?

The process failed with the following output:

[code]

3. What should've happened?

According to the documentation the infrastructure should have been packaged in

[2019-10-07 13:20] medikoo commented on #6796
`serverless remove` removes whole stack deployment, not just function.

For function to be removed, you just need to remove it from your serverless config.

[2019-10-07 13:31] api-spinner commented on #6796
Thanks for your reply.

I'm doing this on CI/CD. I can't just remove function from serverless.yml. What is the best way to do that?

[2019-10-07 14:20] parimal0915 commented on #6162
+1

[2019-10-07 14:43] #4867 closed

[2019-10-07 17:28] danielstandby commented on #6769
Any news on this one?

[2019-10-07 17:29] githubflub opened #6799 "websocket: null"
# Bug Report
![Annotation 2019-10-07 003311](https://user-images.githubusercontent.com/18061353/66333660-4fc8db00-e8ec-11e9-8cc8-e7e8c41733ce.png)

## Description
Alternative 2 is deprecated. Alternative 1 is up to date according to the docs, but produces `websocket: null` when I run `sls print`, which results in the endpoint not being created when I run either sls deploy or sls offline.

The corr

[2019-10-07 17:37] #6799 closed

[2019-10-07 17:37] githubflub commented on #6799
Fixed. Just had bad indentation. Sorry. x____________x

[2019-10-07 18:02] ChaiBapchya opened #6800 "[Website] 404 Resources"
# Bug Report
On page - https://serverless.com/framework/docs/providers/aws/guide/resources/
I wish to go to Resources
https://serverless.com/framework/docs/providers/aws/guide/intro.md#resources
returns 404
## Description

1. What did you do? Clicked on resources link
1. What happened? Corresponding link for resources should have opened
1. What should've happened?
1. What's the content of your `se

[2019-10-07 19:20] anil-grexit opened #6801 "Python requests.get() throws an exception in aws lambda"
I'm not able to make any HTTP calls from python-based lambda function.

[code]

In Cloudwatch, I see this stack trace:

[code]

[2019-10-08 08:49] ihorfito commented on #6771
the same problem.
while sls deployment got the error:
 Serverless Error ---------------------------------------

  An error occurred: ProcessCustomS31 - Failed to create resource. Configuration is ambiguously defined. Cannot have overlapping suffixes in two rules if the prefixes are overlapping for the same event type.
functions:
  process:
    handler: handler.process
    events:
      - s3:

[2019-10-08 09:02] ihorfito commented on #6461
this is not fixed

[2019-10-08 09:22] tcastelli commented on #6461
yep still failing, would yo mind reopening or creating a new one @tarunjangra ?

[2019-10-08 10:06] marcosoftinova opened #6803 "The CloudFormation template is invalid: Template format error: Number of resources, 202, is greater than maximum allowed"
# Bug Report

## Description
I opened a ticket within AWS Support and they have increased our CF Stack limit to 500 resources. Even though the limit was increased, Serverless is still throwing the error in the title.

Obviously our limit is not 200 anymore but 500 instead and Serverless keeps telling that the It is still 200, why?

How can I use Serverless with more than 200 resources now that the

[2019-10-08 10:11] medikoo commented on #6803
Serverless message refers to _Maximum number of resources that you can declare in your AWS CloudFormation template_, which is hard set to 200 (it's not possible to lift it even after contacting support).

I believe what you have lifted is _Maximum number of AWS CloudFormation stacks that you can create_, which indeed is possible to upgrade by contacting the support.

[2019-10-08 10:57] AikawaKai commented on #6752
Same problem here

[2019-10-08 11:00] ihorfito commented on #6461
solved:
check s3 bucket: configuration -> events delete if you have some events there,
sls deploy works as expected.

[2019-10-08 11:04] ihorfito commented on #6771
try to check:
s3 -> bucket -> configuration -> events
delete existing events
it helps when you cannot deploy sls application

[2019-10-08 12:28] marcosoftinova commented on #6803
@medikoo

Confirmed. The limit they've increased is actually Maximum number of AWS CloudFormation stacks.

Thanks for your response. I am closing the issue as It's not an issue.

[2019-10-08 12:28] #6803 closed

[2019-10-08 12:31] tcastelli commented on #6439
Got a nice infinite execution of lambdas because of this bug. Hopefully it gets fixed since when trying to use
[code]
they changed to s3:ObjectCreated:* and I specifically had left :Copy out for a reason :(

[2019-10-08 12:47] RichardOlrichs opened #6804 "AddFilterPolicyLambdaFunction is still nodejs6"
# Bug Report
Lambda no longer supports nodejs6

## Description
Lambda no longer supports nodejs6, but sls package still adds the lambda 'AddFilterPolicyLambdaFunction' in its resources. The resources still define runtime nodejs6.10.
The deployment now crashes because of the runtime nodejs6.

1. What did you do?
sls deploy
1. What happened?
Error occured
1. What should've happened?
Deployed
1. What

[2019-10-08 12:51] DaphneOlrichs commented on #6804
I'm having the same problem, please fix :)

[2019-10-08 12:53] paullaffitte commented on #5037
I would like to work on this issue, could I?

[2019-10-08 13:01] medikoo commented on #6804
@RichardOlrichs I don't think serverless framework adds such lambda (you can even search the codebase for `nodejs6.10` string, and [you won't find any occurrence](https://github.com/serverless/serverless/search?q=nodejs6.10&unscoped_q=nodejs6.10)).

I guess it's probably added by one of the plugins you use (?)

[2019-10-08 13:09] #6706 closed

[2019-10-08 13:10] pmuens commented on #6683
Closing this since it's been almost a month and there's no update on this issue. Feel free to re-open once more information becomes available...

[2019-10-08 13:10] #6683 closed

[2019-10-08 13:14] medikoo commented on #6683
This error happens if in `exclude` section, one of the items is not a string (so e.g. object was nested, or some other non string type).

This actually exposes problem of lack of validation. Ideally value of `excludes` should be validated and meaningful error should be thrown to the user. Having that issues as above will not be reported (I take they're result of confusion)

[2019-10-08 13:17] RichardOlrichs commented on #6804
Hi @medikoo,

Thanks for your quick reply.
I see the code comes from the serverless-sns-filter plugin.

I notice the plugin is deprecated, so we will stop using it and the issue will go away :).

Cheers,
Richard

[2019-10-08 13:17] #6804 closed

[2019-10-08 16:15] dkvasnicka commented on #6461
Not everyone has the option to delete existing events. Some buckets need to have several different events hooked on them, for legacy reasons.
I found out that it works if there are no overlaps in prefixes and suffixes.

[2019-10-08 19:14] dschep commented on #6801
fixed in `@serverless/enterprise-plugin` 3.1.2. Upgrade with `npm i -g serverless` and verify the plugin version with `sls --version`.

[2019-10-08 19:14] #6801 closed

[2019-10-08 19:23] medikoo commented on #6800
Great thanks for report @ChaiBapchya! Issue has been fixed

[2019-10-08 19:23] #6800 closed

[2019-10-08 19:24] alecbw commented on #3171
Adding to this thread, which looks pretty abandoned:

You can get around the 30s API Gateway limit while still exposing an endpoint by setting
`async=True` in your function's serverless.yml section. Asynchronous invocations return an API Gateway response ~immediately, and are no longer beholden to the 30s limit (instead, up to 900s Lambda limit).

An alternate way, referenced by joshg111 above, is

[2019-10-09 03:50] ac1982 opened #6805 "Add chinese regions support pls."
# Feature Proposal
Would you pleaes add aws chinese regions:
cn-northwest-1 (宁夏)
cn-north-1 (北京)
## Description
[code]

[2019-10-09 06:13] ridan commented on #6770
@medikoo Thank you for pointing that out. Would you by chance know what I can do to solve this? I posted the issue on the plugin github page but it seems like there is no activity on it

[2019-10-09 06:19] tharun208 commented on #4721
Hi, I wanted to work on this issue.

[2019-10-09 06:22] nathalieDOXA commented on #6762
Hi @pmuens,
I found the problem. It's because of using old version of serverless.
I upgraded to the latest version, now it's working fine.
Thanks for the support!

[2019-10-09 07:04] medikoo commented on #6770
You may also try [serverless-plugin-split-stacks](https://github.com/dougmoscrop/serverless-plugin-split-stacks#readme) at least that one worked really well for me (I've also contributed there some options)

[2019-10-09 07:07] #4721 closed

[2019-10-09 07:49] Vadorequest commented on #3171
@alecbw Could you provide a doc link regarding `async: true` option? Never heard of that. Thank you!

[2019-10-09 10:56] tharun208 commented on #6651
hi @pmuens, can I work on this?

[2019-10-09 11:33] tharun208 commented on #6651
Hi @pmuens, I have a small doubt and I figured out the issue it is with the https://github.com/serverless/serverless/blob/master/lib/plugins/aws/info/getApiKeyValues.js
so can you help me on this issue by can we rewrite the whole part of it?

[2019-10-09 11:42] tharun208 commented on #6651
I have added the error-free implementation in a runkit - https://runkit.com/tharun/5d9dc259577a31001a62ebab
Can you verify this, so that I can work on the actual repo?

[2019-10-09 12:54] medikoo commented on #6805
This error comes from fact that not all regions are supported by Serverless Dashboard.

I'll leave it open as a bug, as error message is in accurate. It's not that region is invalid, it's that we do not support it, and it's what error message should express

[2019-10-09 13:48] jayanthck opened #6810 "Serverless framework deleting the already existing resource on sls deploy"
[serverless.yml.zip](https://github.com/serverless/serverless/files/3708077/serverless.yml.zip)

# Bug Report
 deploying  the serverless template when a  resource already exists, it is deleting the resource instead of updating it or not doing any changes

## Description

1. What did you do?
First I ran the sls deploy with out  this property
restApiResources:
      'test':	hy1234
and after this, I

[2019-10-09 14:43] #6522 closed

[2019-10-09 14:44] pdaryani commented on #3450
closing since this issue has been resolved: https://serverless.com/framework/docs/providers/aws/guide/iam/

[2019-10-09 14:44] #3450 closed

[2019-10-09 14:50] miguel-a-calles-mba commented on #6782
Correct. It only returns strings.

Thanks. I'll give it a try, but I don't think SSM allows empty strings.

[2019-10-09 15:15] medikoo commented on #6782
Ok, let us know

[2019-10-09 15:37] miguel-a-calles-mba commented on #6782
SSM will not accept an empty string. I tried setting the SSM value as a single space string and a zero string to no avail.

[2019-10-09 15:47] miguel-a-calles-mba commented on #6782
I'm not fond of this workaround, but it works. Is there a cleaner way to do this?

[code]

[2019-10-09 15:56] miguel-a-calles-mba commented on #6782
This is a little cleaner, but alternate suggestions are welcomed. Thanks.

[code]

[2019-10-09 17:21] alecbw commented on #3171
https://serverless.com/framework/docs/providers/aws/events/apigateway#using-asynchronous-integration

Can confirm it works as described. Sample fxn:

[code]

[2019-10-09 19:16] THEANTsMAN opened #6811 "Multiple CORS origins not working due to square brackets in API Gateway mapping template"
# Bug Report

## Description

When using the CORS origins functionality, the mapping template created for the API-Gateway integration response mapping templates contain square brackets being placed around all `.` in the urls. This then results in the origins that are defined as they are not equivalent, i.e. `"https://www.example.com" !== "https://www[.]example[.]com")`.

The issue is present in ve

[2019-10-09 19:22] ValGeorgiev opened #6812 "SLS test - TypeError: Cannot read property 'toUpperCase' of undefined"
# Bug Report
SLS test - TypeError: Cannot read property 'toUpperCase' of undefined

## Description
I am trying to setup a simple integration test with Serverless Framework. Following this tutorial https://serverless.com/framework/docs/dashboard/testing/

When I execute `sls test` - error is logged

![image](https://user-images.githubusercontent.com/12056467/66512816-6cc6ff00-eae2-11e9-9614-32127cd

[2019-10-09 20:14] Vadorequest commented on #3171
It's a bit different than what I thought, but it's still nice to know. Thanks for the link!

It doesn't solve the timeout issue when waiting for a result, but it does help when we don't care about the return value.

[2019-10-09 20:35] medikoo commented on #6782
Indeed I double checked, and the only available types are _string_ and _string list_.

Probably cleanest way to approach it then, is to depend on existence of a parametr, and set resolver as:

[code]

If `API_GW_LOGS` exists, it'll resolve to truthy value, if it doesn't it'll be `false`.

Some other idea worth exploring could be to support some extra decorators in variable resolvers, through that

[2019-10-10 10:57] shubsaini09 opened #6815 "Updating function doesn't update changes in serverless.yml"
I made some changes in my function's serverless.yml file and I ran
`sls deploy function -f function-name`
but it gave me below output
[code]
then I ran below
`sls deploy function -f function-name`
and got the output as
[code]
When I went and checked my changes, it was not there because I didn't do any code change but made changes in my yml file.
Question - Is this the default behavior? Is there an

[2019-10-10 11:01] #4624 closed

[2019-10-10 11:02] medikoo commented on #6815
What exactly you've changed?

[2019-10-10 11:07] drexler commented on #6812
Looks like you're using enterprise plugin and the failure is from your function name not being found: https://github.com/serverless/enterprise-plugin/blob/master/lib/test/index.js#L53. Hmmm, silly to ask but does your function deploy sucessfully?

[2019-10-10 11:56] ryacobi opened #6816 "Support intergration responses for APIGateway Websockets"
# Feature Proposal

## Description

1. Support integration responses for APIGateway Websockets. Currently, it only seem to work (and documented only) for REST apis

[2019-10-10 12:11] dschep commented on #6812
Ah.. I'll need to add support for the `http: ANY /` short hand. For now update you sls yaml to use the long form:
[code]

[2019-10-10 12:16] ValGeorgiev commented on #6812
@dschep Thanks for the fast response! It's working :) I will close this issue

[2019-10-10 12:16] #6812 closed

[2019-10-10 15:22] daveRanjan commented on #2699
Hi, I would like to pick this one, looks straight forward to me.

[2019-10-11 01:20] john-aws commented on #6706
Excellent, thank you very much.

[2019-10-11 10:07] JohnMeireles opened #6818 "Missing trigger on aws lambda designer"
# Bug Report

## Description

1. What did you do?
Successfully deployed `serverless.yaml` containing the following lambda function trigger:
[code]
2. What happened?
Inspecting the lambda function on AWS lambda function designer (see image) the ALB trigger is missing. Nevertheless, the trigger works, it is just not visible.
![image](https://user-images.githubusercontent.com/52492723/66639815-8154e5

[2019-10-11 11:42] roberto-d commented on #6752
1.54.0 the problem is still here.

[2019-10-11 14:01] theluk commented on #5212
+2

[2019-10-11 14:13] StevePorter92 commented on #5025
Thank @imsatyam, you're functionality works perfectly in your PR!

We have a use case where we're migrating away from Lambdas to Fargate, but still want to use the serverless framework for managing CloudFormation. We also still want to use the authorization logic inside API gateway.

We're using the same serverless.yaml to spin up a new API gateway, however, it doesn't look like serverless support

[2019-10-11 14:15] Cinderhaze opened #6819 "Serverless Framework Package/Bundle/Distribution?"
# Feature Proposal
A fully bundled, 'All In One' distribution option for the serverless framework

## Description

1. In enterprise environments with restrictive security policies around bringing in software, a single 'All-in-one' style package (like Puppet's [All-In-One](https://beryju.org/en/blog/my-thoughts-about-puppet-4), or Chef's [Omnibus](https://github.com/chef/omnibus) model) allow the s

[2019-10-11 14:21] medikoo commented on #6819
Thanks @Cinderhaze for interest!

We're actually already covering it here: https://github.com/serverless/serverless/pull/6342 and it should be released soon!

[2019-10-11 14:21] #6819 closed

[2019-10-11 14:34] shubsaini09 commented on #6815
@medikoo I made some changes in package-include/exclude property. Also, I made changes in http event, changed mapping templates for api gateway.

[2019-10-11 14:45] geoffbp commented on #6752
Also seeing the same problem

[2019-10-11 15:20] Cinderhaze commented on #6819
Awesome! My search-fu wasn't strong enough, thanks!

[2019-10-11 17:15] AikawaKai commented on #6752
As provisional solution I am using the --false flag

`sls deploy -s dev --false`

[2019-10-11 17:17] whobutsb commented on #6752
@AikawaKai what does the `--false` flag do?

[2019-10-11 18:28] uladkasach commented on #6557
Still seeing this error with `v1.53.0` :(

The build stops progressing at
[code]

[code]

here is the setup:
[code]

Any suggestions?

[2019-10-11 20:52] santi6291 opened #6820 "Error: Not Found: at Gaxios.request (node_modules/gaxios/src/gaxios.ts:86:15)"
#Bug Report

Hello, This really weird issue happened, my configs to deploy to google cloud were working fine but then, I started getting the error below when I run `serversless deploy`

## Error output
[code]

## serverless.yml
[code]

## package.json
[code]

[2019-10-11 21:31] JimLynchCodes opened #6821 "Nicer Display Of All Available Templates"
Hi, nice meeting everyone at serverlessconf 2019 nyc! wooooo! :)

Anyway, my issue is that I don't have a nice way to see ALL the available serverless templates. Currently, the way I like to view all the templates is just to call "sls create -t" with a non-existent template name:

<img width="1051" alt="Screen Shot 2019-10-11 at 5 17 40 PM" src="https://user-images.githubusercontent.com/5354163/66

[2019-10-11 21:44] JimTheMan commented on #6821
^ actually I meant [serverless-aws-rust](https://github.com/softprops/serverless-aws-rust).

[2019-10-12 01:44] neverendingqs commented on #6816
I believe https://serverless.com/framework/docs/providers/aws/events/websocket/ covers what you are looking for.

[2019-10-12 01:45] neverendingqs commented on #6815
@shubsaini09 - are you able to provide example `serverless.yml` files for before and after?

[2019-10-12 01:50] neverendingqs commented on #6795
@0is1 - have you already considered using an custom authorizer lambda function? https://serverless.com/framework/docs/providers/aws/events/apigateway#http-endpoints-with-custom-authorizers

[2019-10-12 05:57] ryacobi commented on #6816
@neverendingqs it covers sending a message to a connection using the management api. What I am referring to is the ability to configure integration response, which the platform supports, that allows to return a message body from the lambda, and APIGateway sends it to the connection as a new message.

[2019-10-12 07:57] sav-valerio commented on #5008
Any news about this?

I also noticed that it's not possible detach forcibly any Lambda-related VPC ENIs on EU regions (like eu-west-1).
I'm getting this error: `You are not allowed to manage 'ela-attach' attachments.`

On us-east-1 works though (except the '''normal''' problem with the orphaned ENIs).

[2019-10-12 08:21] kdnakt opened #6824 "`npm run test-ci` fails with lib/classes/PluginManager.test.js"
# Bug Report

## Description

When I run `npm run test-ci` with the latest commit aba4e09c7be7e1c89b14728428f0f1a3bf9ccbbb, it fails and shows following message:

[code]

Commit 050cb90684c03559fd484c89fb13ab380b3c263a may be related to this issue.
When I run the same command with the previous commit, 4d9006bcdf783f96ca89c4901947c7159ea64121, it gets success.

[2019-10-12 11:56] jvrck commented on #4893
The issue is also present in version 1.54.0

[2019-10-12 14:12] AikawaKai commented on #6752
One of my colleague suggested me this solution, but I am not sure of the flag meaning. I searched but there is no info on serverless. What I know is that when I do the deploy with this flag and I have local modifies it overwrite my lambdas with the new versions

[2019-10-12 15:22] santi6291 commented on #6820
More context, I found out this was do to serversless not creating the storage bucket and trying to upload the package. there should be a clearers error message but also very strange that it can't create the bucket when it was able to before

[2019-10-12 21:12] msheakoski commented on #3986
@mim-Armand This only works if you have an existing stack. If you are deploying a new stack, you will get an error that the stack does not exist.

[2019-10-13 17:34] neverendingqs commented on #5621
You can work around this for now by adding the bucket policy yourself:

[code]

[2019-10-13 18:02] neverendingqs opened #6826 "AWS - option to not roll back on failed CloudFormation update"
# Feature Proposal

## Description

1. What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
1. **Optional:** If there is additional config how would it look

The `createStack()` call Serverless makes currently has `OnFailure` set to `ROLLBACK`:
https://github.com/serverless/serverless/blob/f93b27bf684d9a14b1e67ec554a7719ca3628135/l

[2019-10-13 18:18] bgaillard commented on #5833
Hi, I just added a comment in https://github.com/serverless/serverless/pull/6827 to mention that the AWS Lambda Web Console has a bug and that the subscriptions are correctly created visible in the CloudWatch Web Console.

[2019-10-13 18:21] bgaillard commented on #6266
Hi @richardowen and @charlie4fun, just provided a PR to fix this. If you would like to test it waiting for the PR to be accepted you can install the Serverless Framework from my fork.

[code]

Can you indicate us if it works in your case ?

[2019-10-13 19:06] neverendingqs commented on #5510
@zaccharles - are you still interested in creating that PR?

[2019-10-13 19:11] neverendingqs commented on #5510
Hmmm technically each function can subscribe to multiple fan-out consumers. It might need to be an array of consumers ARNs instead of just one.

[2019-10-13 19:26] richardowen commented on #6266
@bgaillard I don't think I was involved in this issue. Guessing you meant to mention @rickalm?

[2019-10-13 21:20] bgaillard commented on #6266
Yes sorry it was probably a typo and a mistake with the Github user names auto-complete system.

[2019-10-14 05:14] thierryx96 opened #6830 "How to set up Domain url field for AWS Cognito Resource on serverless.yaml"
Hi,

How can I set up the `Amazon Cognito domain` field in the `CognitoUserPoolClient` on `serverless.yaml`.

*Screenshot on AWS Console:*

![Capture](https://user-images.githubusercontent.com/4757194/66730540-c2f6c200-ee95-11e9-9b49-3d0d0c6d2dd9.PNG)

*Copy of my serverless.yaml:*

[code]

Thanks a lot!

Thierry

[2019-10-14 05:35] 0is1 commented on #6795
@neverendingqs yes, but you can't configure your app root path with that logic. One of my questions is that is it possible to add authorizer for root path.

I mean this is not possible

[code]

[2019-10-14 07:36] codecitizen commented on #4893
Any known workaround without deleting the bucket?

[2019-10-14 07:44] medikoo commented on #6557
@uladkasach above was Windows specific problem. What version of npm are you using? Also does it happen for you in all cases?

[2019-10-14 07:52] medikoo commented on #6824
@kdnakt ensure to update dependencies with `npm install` (error is like you've pulled new chamges but didn't update the dependencies)

[2019-10-14 08:28] kushbhandari commented on #4893
@codecitizen - I tried this - Take the backup of contents of bucket to a temp bucket. Empty the original bucket. Deploy the service (without bucket) this will remove the bucket as its missing from your cf stack. Deploy the service again with bucket enabled, new bucket will be created. Move contents from backed up bucket to newly created bucket.

[2019-10-14 12:18] Mixelated opened #6832 "Unable to require (non-npm) external JS code (NodeJS/AWS)"
Followed some of the tutorials, while my npm packages are all working fine I can't seem to require my Models folder/custom files.

What I tried:
[code]

trying to require the User model like this:
`const User = require('../models/user')`

[2019-10-14 12:23] medikoo commented on #6832
Not sure if that's the issue, but it looks as you're trying to include files that are outside of project root, I don't think it can work

[2019-10-14 12:28] Mixelated commented on #6832
good point! The project is in a subfolder of a large project and is acting as a folder for all the crons. Did not want to require all the npm packages from the original project, perhaps I should move it to the project root and exclude all npm packages except the ones I need.

[2019-10-14 12:31] medikoo commented on #6832
Yes that'll be the way to go. Also we've scheduled some packaging improvements that should (in a future) allow you to not configure excludes for such cases at all:  https://github.com/serverless/serverless/issues/6580

[2019-10-14 12:52] medikoo commented on #6576
Ufortunately merged fix, broken  other things, and got to be reverted.

@drexler we'll be happy to help to come up with proper solution, still we're not sure how to reproduce the issue. Your help will be much appreciated

[2019-10-14 13:46] Mixelated commented on #6832
thanks for the help!

[2019-10-14 13:46] #6832 closed

[2019-10-14 17:39] mim-Armand commented on #3986
@msheakoski the solution I mentioned is for a Micro-service architecture ( multiple SLS projects all orchestrated through a parent project ), otherwise, that's obvious that you can't reference the stack that you are deploying in itself, for that you can use Cloud Formation outputs instead :+1:

[2019-10-14 19:09] msheakoski commented on #3986
@mim-Armand Interesting. I'm only 1 week into serverless so still learning. I will definitely look into more of a micro-service architecture setup. I found a lot of helpful information so far on architecture and best practices at https://serverless-stack.com.

In case anyone is trying to get a URL to another function, here is what I ended up doing:
[code]
It differs from previous solutions in that

[2019-10-14 23:15] drexler commented on #6576
@medikoo, interesting that my tests didn't catch the one. I have an two accounts setup with one "master" account set to assume a role in the other. Locally, my AWS setup is like:

.aws/credentials
[code]

./aws/config
[code]

To reproduce, i deploy any Serverless application i had with my `open-sourcerer` account to force the MFA prompt. So:
[code]

[2019-10-15 04:52] anil-grexit commented on #4720
It's happening in the version 1.54.0 as well. I am using CodeBuild to package and deploy the functions individually on a service level rather than funciton level. I can do `ls -l` in the CodeBuild logs to see the contents but the deployment fails with the error that `No function.zip is found in the path package you provided`.

Any help is appreciated.

[2019-10-15 07:17] tharun208 commented on #6797
I want to work on this!

[2019-10-15 07:33] anil-grexit commented on #5381
Please change the `/.serverless` to `.serverless` otherwise, it still won't work.

[2019-10-15 09:26] #6266 closed

[2019-10-15 09:39] DeltaByte opened #6834 "Common environment variable for stating the provider"
# Feature Proposal

## Description

An environment variable that is set by the framework when deploying to all environments e.g. Lambda that states which cloud provider and possible which runtime it is using.

My use case is for libraries like [serverless-http](https://www.npmjs.com/package/serverless-http) that enable multi-cloud functions to easily abstract the different handler syntaxes that ea

[2019-10-15 09:50] zaccharles commented on #5510
Yes, still interested. I'm moving to a new apartment this week, so it won't be soon. I'm also happy for someone else to do it if they have more time.

That's true, but wouldn't you just add another object to the handler's `events` array?

Looking at my last example, the ARN of the stream and consumer is very similar. I wonder if it's worth  allowing a `name` property instead of `arn` and building

[2019-10-15 11:12] charlie4fun commented on #6266
@bgaillard Hi, thank you for contribution, but it still does not work for my case exactly the same way as before:
`
charlie@VirtualBox:~$ sudo npm install -g https://github.com/bgaillard/serverless/tarball/master
npm WARN deprecated superagent@3.8.3: Please note that v5.0.1+ of superagent removes User-Agent header by default, therefore you may need to add it yourself (e.g. GitHub blocks requests w

[2019-10-15 13:49] neverendingqs commented on #5510
It will need region as well if we go that route.

[2019-10-15 13:52] selsinan opened #6836 "Serverless redeploys without code changes"
# Bug Report

Hello,

Serverless redeploys the code, when there is no change in the code. Then, we verified this change by checking files manually as well as using serverless-cloudformation-changesets plugin. (Command: sls deploy --changeset --stage stg)

## Description

1. What did you do?
We deployed a dynamodb table twice without any code change.

1. What happened?
Serverless redeployed the ser

[2019-10-15 13:57] zaccharles commented on #5510
Correct me if I'm wrong, but you use [RegisterStreamConsumer](https://docs.aws.amazon.com/kinesis/latest/APIReference/API_RegisterStreamConsumer.html) to create a consumer. That API call takes the stream ARN and a name for the consumer. I don't see how you could end up with a consumer in a different region to the stream? Keeping in mind the region is already in the stream ARN, I don't see the need

[2019-10-15 14:29] neverendingqs commented on #5510
Right sorry. I confused the two ARNs.

[2019-10-15 14:48] zaccharles commented on #5510
No problem.

I'm not sure I'd actually looked at that API before. But now that I have, it seems like it'd be better to specify a name instead of `true`. Using the [SNS event](https://serverless.com/framework/docs/providers/aws/events/sns/) as inspiration.

Examples:

**Create new consumer**
Generate name
[code]
or specify name
[code]

**Use existing consumer**
[code]
or
[code]

Thoughts?

[2019-10-15 15:08] dougmoscrop commented on #5510
This matches what I did with my plugin: https://github.com/dougmoscrop/serverless-plugin-kinesis-consumer (don't use it - it predates CloudFormation support)

[2019-10-15 15:13] charlie4fun commented on #6266
@bgaillard Can you help me? I understand how to fix it, but I could neither build it or run the tests.
Something like this should be added to `longestCommonSuffix` function:
[code]
This is the test case which previous edit will correct:
[code]

[2019-10-15 15:38] #6797 closed

[2019-10-15 15:50] zaccharles commented on #5510
One day I'll have an original idea @dougmoscrop :P That's a good sanity check, though!

[2019-10-15 15:51] thomasmichaelwallace commented on #6735
I've got a bit of time on my hands, I'll see hw many of these integration tests I can get through; starting with this one!

[2019-10-15 15:53] dougmoscrop commented on #5510
Ah sorry I didn't mean it like that - yes, sanity check.

[2019-10-15 17:28] kdnakt commented on #6824
@medikoo Thanks for your advise, I got success after running `npm install`!

[2019-10-15 17:28] #6824 closed

[2019-10-15 20:01] tara-influxdata commented on #5111
Hi @alexdebrie, I am curious if CloudFormation still doesn't support setting a Lambda's trigger state? Thanks!

[2019-10-15 21:09] thomasmichaelwallace commented on #6737
I've got a bit of time on my hands, I'll see hw many of these integration tests I can get through; moving on from #6735 to this one!

[2019-10-15 21:12] alexdebrie commented on #5111
Hi @tara-influxdata, is this for a scheduled event? If so, you can set the scheduled event to have `enabled: false`. This will configure both the Lambda function and the CloudWatch Event Rule, and the _Rule_ will be marked as disabled.

Does that handle your situation?

[2019-10-15 21:38] tara-influxdata commented on #5111
Thank you for the quick response. Yes it is for three scheduled events. I have tried setting them to `enabled: false` and both the Lambda function trigger state, and the CloudWatch Event Rule do not change / remain in an `enabled: true` state. The `serverless-state.json` file and the `cloudformation-template-update-stack.json` file both remain in an enabled state. I'm on OSX, serverless version ou

[2019-10-15 22:48] kabo opened #6841 "Support NotAction and NotResource"
# Feature Proposal

## Description

Currently Serverless refuses to build if there are iamRoleStatements that contain [`NotAction`](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_notaction.html) or [`NotResource`](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_notresource.html).

These should be supported, as they are valid IAM role state

[2019-10-15 23:02] avvi00 commented on #5246
I think this is an issue, at least there is no clear way to work around the problem of API keys being overwritten by the last stage to deploy.

If you have multiple API Gateway stages, you can indicate a separate lambda (and hence cloudwatch log) by naming the lambda in the serverless.yml.

Here is a simplified serverless.yml which shows the issue.

[code]

`sls deploy --stage dev --api_key 1234`

[2019-10-15 23:21] kling-appfire opened #6843 "Provide Multi-CloudFront Distribution Support"
# Feature Proposal
Reconfigure to allow multiple CF distros to associate to the same Lambda@Edge.
Also, document the following properties for the event. All are very important:
memorySize
timeout
allowedHttpMethods - not sure it even exists but absolutely necessary. several behavior switches missing.

## Description

[code]

1. What is the use case that should be solved. The more detail you descri

[2019-10-15 23:22] kling-appfire commented on #6843
Apologies for the code formatting or lack thereof.

[2019-10-15 23:48] alexdebrie commented on #5111
@tara-influxdata Hmm! That's odd :) Can you paste your full `serverless.yml`, or at least the `functions` section so I can take a look and try to repro?

[2019-10-16 00:15] daishi opened #6844 "Minimize rebuilding Docker image when using `invoke local --docker`"
# Feature Proposal

(My experience is with AWS/Lambda only)

## Goal

Make developer iteration with `sls invoke local --docker ...` faster.

## Observations

- Currently when calling `sls invoke local --docker ...`, the docker image appears to always be recreated: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/invokeLocal/index.js#L369
- It also seems like the target/artifact

[2019-10-16 08:00] 0v3rst33r commented on #6176
I know this is closed already, but my solution in the end was:
[code]
and the fix being the line:
[code]

[2019-10-16 10:14] franklintw commented on #6752
Same problem here

[2019-10-16 11:01] #6841 closed

[2019-10-16 13:10] Maheshkumar094 commented on #6752
One the solution I found is to downgrade it to version
Framework Core: 1.51.0
Plugin: 1.3.11
SDK: 2.1.2
1. npm uninstall -g serverless
2. npm install -g serverless@1.51.0

[2019-10-16 13:54] roenschg commented on #3755
This is still an issue

Framework Core: 1.52.0
Plugin: 2.0.0
SDK: 2.1.1

[2019-10-16 15:53] medikoo commented on #6576
@drexler thanks, I got it reproduced, actually missing part on my side was lack of `AWS_SDK_LOAD_CONFIG=1`

Source of the issue, is that when user is asked for MFA code, we do not hold with further operations (hence the log output that occurs after MFA code question). It stops only when first AWS request occurs (as it waits for the token), then MFA code could be input to move things forward, but o

[2019-10-16 16:10] thomasmichaelwallace commented on #6739
I've got a bit of time on my hands, I'll see how many of these integration tests I can get through; moving on to this one!

[2019-10-16 17:01] valentinoPereira commented on #3199
Even i am facing this issue after removing _CloudformationAdministrator_ access rule. But I can't understand why am I facing this error even though my user has _AWSLambdaFullAccess_ permissions in the IAM.

Following is how the _AWSLambdaFullAccess_ policy json looks like:
`
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [

[2019-10-16 17:39] tara-influxdata commented on #5111
@alexdebrie Yes, thank you for your help!!

[code]

[2019-10-16 17:45] tara-influxdata commented on #5111
I fixed indentation, and the Rules are showing up as disabled now. 🎊

Is it true there is no option to enable/disable the Lambda trigger states?

[2019-10-16 18:03] henhal commented on #6146
Hi,

I've been using layers in separate stacks with the overloaded export trick described above, but got frustrated with not being able to reference local layers, so I ended up writing a serverless plugin to address this: https://www.npmjs.com/package/serverless-plugin-layer-manager.

[code]
serverless.yml:
[code]

With the default config, this will automatically:

1) Call `npm install` in the `no

[2019-10-16 18:07] henhal commented on #5892
This issue seems to describe quite a few different symptoms, but to address the one with layers not being fetched/installed, hence no node_modules folder being present, which could result in an empty layer and the symptoms described, I wrote a plugin: https://www.npmjs.com/package/serverless-plugin-layer-manager

[2019-10-16 18:17] uladkasach commented on #6557
@medikoo ah, gotcha. Would you like me to open a separate issue?

I was using npm 6.12.0

Yeah, it happened in all cases: tested with sls v1.48, v.1.49, v1.50, v1.52, and v1.53. The only difference between a build succeeding and failing being the presence of that event trigger

Is there any other information needed that could help diagnose this?

[2019-10-16 18:46] alexdebrie commented on #5111
@tara-influxdata Great!

I don't think you can enable / disable the Lambda trigger states for this one. However, disabling the event rule should get the same effect. Does that work for you?

[2019-10-16 19:14] tara-influxdata commented on #5111
Yep, works as expected, thank you @alexdebrie!

[2019-10-16 21:29] thomasmichaelwallace commented on #6736
I've got a bit of time on my hands, I'll see how many of these integration tests I can get through; moving on to this one!

[2019-10-16 22:16] pavelkuchin opened #6849 "Ability to pick lambda version or aliases in api gateway configuration (function.name.events.http)"
# Feature Proposal

## Description

I think it would be useful to have ability to specify lambda version or aliases in api gateway configuration. As a use case consider situation when lambda have non backward compatible changes in request/response structure.

How about new attributes `version` and `alias` under functions.{name}.events.http, so it would look like this:
[code]

[2019-10-16 23:07] enzo-beltrami commented on #6516
1) you only need one arn key and I agree that we should change the docs to make this explicit

2) The IAM permissions are listed under aws docs and I also agree that we should copy it, or at least reference it, to serverless documentation.

3) The batchsize parameter should be included in your lambda event if you want to decrease the number of messages per batch, but I think that setting the funct

[2019-10-17 05:25] psech opened #6850 "Step function do not inherit global tags"
# Bug Report

serverless@1.54.0

## Description

1. What did you do?
Provided `stackTags` under `provider` in serverless.yml. Like in [docs](https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/)
1. What happened?
My step function has not been tagged
1. What should've happened?
My step function should have been tagged according to [docs](https://serverless.com/plugins/serverles

[2019-10-17 07:22] medikoo commented on #6557
Yes, it'll be good. It looks quite specific to your setup (maybe Node.js and npm version correlation). Do you observe same issue with npm v6.11.3 (it's one that's normally installed with Node.js v12) or 6.9.0 (one that goes with Node.js v10)?

[2019-10-17 07:56] medikoo commented on #6850
@psech thanks for report. Still I believe this belongs to https://github.com/horike37/serverless-step-functions (Step Functions are covered by `serverless-step-functions` plugin)

[2019-10-17 07:58] xavivars commented on #5960
I tried to use the `MOCK` integration, trying to figure out from the code how to use it, and I had to give up. Documentation on this would be awesome.

[2019-10-17 10:29] aster-anto commented on #6595
@hanikesn Could you please point me to a full example? Thanks

[2019-10-17 10:36] #4069 closed

[2019-10-17 11:33] QAnders commented on #6679
Still there on 1.54.0...
![slow-serverless-return](https://user-images.githubusercontent.com/12028885/67005369-b74c0b00-f0e2-11e9-8800-2b48f92786c4.gif)

[2019-10-17 11:36] juane66 opened #6852 "Configure Redis to use Encryption at-rest and Encryption in-transit in Elasticache"
# Feature Proposal
Hi, I was searching in the documentation about how to configure Encryption in-transit and Encryption at-rest in a Redis Cluster in ElastiCache, and I couldn’t find the properties.
Because I can’t change that option in AWS once the cluster is created.

## Description

1. What is the use case that should be solved. The more detail you describe this in the easier it is to understan

[2019-10-17 15:38] devalnor commented on #5892
Same issue here. I can't include any folder or file into the zip file.
I don't use layer btw.

[code]

[2019-10-17 15:49] devalnor commented on #6755
Same issue here. I can't include any folder or file into the zip file.

[code]

[2019-10-17 19:31] kling-appfire commented on #6843
May want to break this into two issues: This enhancement and another bug fix for the missing properties in the function:

1. memorySize - Not documented not optional in this context. Defaults to 1048Mb. CloudFront will not allow @Edge behavior association > 128Mb.

1. timeout - Not documented not optional in this context. Defaults to 6. CloudFront will not allow @Edge behavior association > 4.

1.

[2019-10-17 19:50] thomasmichaelwallace commented on #4829
I'm closing this issue as it was solved years ago as part of commit bca4da5.

[2019-10-17 19:50] #4829 closed

[2019-10-17 23:21] fernando-mc commented on #6761
@dschep I think I have a reproduction for this with a recent version:

[code]

It happens when I removed a service under 1.53 and tried to redeploy it with 1.54.

Somehow I think the log group isn't being deleted properly or in a timely manner?

[2019-10-17 23:44] herebebogans commented on #6516
The IAM Permissons are added.

See

https://github.com/serverless/serverless/blob/f93b27bf684d9a14b1e67ec554a7719ca3628135/lib/plugins/aws/package/compile/events/sqs/index.js#L21

[2019-10-18 01:09] enzo-beltrami commented on #6516
Hmm, okay, i'll remove the section that I Added on my PR

[2019-10-18 07:58] #6737 closed

[2019-10-18 07:58] #6738 closed

[2019-10-18 07:58] #6739 closed

[2019-10-18 08:06] #6736 closed

[2019-10-18 08:31] martynfagg commented on #6820
I'm seeing exactly the same behaviour on a new 'hello world' type function (very minimal).

How did you work around the issue @santi6291 ? I'm not sure what bucket I need to create? Thanks

[2019-10-18 09:20] mregnauld commented on #1913
@DanielRuskin1 Could you please give more details on how you solve the problem? Thanks.

[2019-10-18 10:52] slavivanov commented on #2605
I had the same issue. As per @HyperBrain suggestion, I already had a subscription (LogDNA) ingesting the function's logs.

[2019-10-18 11:58] akshay-scalex commented on #6123
## Description
* What went wrong?
   After enabling X-Ray trace at API Gateway level, deployment was successful. But in deployment logs it started displaying: ```Recoverable error occurred (InternalFailure), sleeping for 5 seconds.```

* Expectations:
   It should deploy the lambda function, with X-ray enabled for both lambda and API Gateway.

* Configurations in serverless.yml:
[code]

* Deployme

[2019-10-18 12:00] akshay-scalex opened #6858 "AWS X-Ray with API Gateway tracing.enabled is not working"
## Description
* What went wrong?
   After enabling X-Ray trace at API Gateway level, deployment was successful. But in deployment logs it started displaying: ```Recoverable error occurred (InternalFailure), sleeping for 5 seconds.```

* Expectations:
   It should deploy the lambda function, with X-ray enabled for both lambda and API Gateway.

* Configurations in serverless.yml:
[code]

* Deployme

[2019-10-18 12:11] medikoo commented on #6165
Reopening, as #6584 focuses on slightly different problem, and while both issues concern same functionality they can be addressed separately.

First intermediate (not fully complete) fix for that, is to not react with any action if there's no setting in `serverless.yml` (we'll be happy to accept PR that addresses that)

Complete fix is to move handling of those settings into custom resource, but f

[2019-10-18 12:15] medikoo commented on #6858
@akshay-scalex great thanks for report. Not sure exactly what was the issue in your case (I assume that AWS SDK crashed with Internal Failure), still handling of those settings will be improved, when it'll be moved to custom resource.

Related issue https://github.com/serverless/serverless/issues/6165

[2019-10-18 12:15] medikoo commented on #6858
Still, for sure bug is how we expose that error It either should be non ServerlessError, or should have more meaningful message

[2019-10-18 12:23] ChanduReddy123 opened #6859 "Updating the API gateway integration without touching lambda function code"
Hello,

Is there any way to update the Lambda function integration without touching the code which is already deployed in the lambda function.

I want to update my function called user update

**From**
[code]

**To**
[code]

deploying the function with `serverless deploy function -f userupdate ` is trying to update the code but not checking the changes in the configuration file.

`serverless deplo

[2019-10-18 13:27] ParthAnand1234 opened #6860 "S3 local started ( port:undefined ) it's opening on default PORT"
Actual i am new with serverless

in Serverless.yml

i have defined

Happy Coding!
service: products-athena # NOTE: update this with your service name
plugins:

serverless-s3-local
serverless-offline
custom:
ATHENA_BUCKET_NAME: athenabucketname
BUCKET_NAME: bucketname
DATABASE_NAME: products-athena

serverless-offline:
port: 4078
S3:
host: 0.0.0.0
port: 7877

functions:
athenaInit:
handler: athena.

[2019-10-18 17:44] QuincyKrenzien opened #6863 "Upgrade version of https-proxy-agent"
# This is a Bug Report

## Description
Currently, serverless is considered a vulnerable project due to one of its dependencies, https-proxy-agent. The results from npm audit and npm ls https-proxy-agent are listed below. It looks like there are references to both 3.0.0 and 2.2.2.

[code]

[code]

Similar or dependent issues:
- Similar to a previously fixed issue #4899

Additional Data
Serverless F

[2019-10-18 20:47] fowlerwill commented on #5451
I too am experiencing this bug when running locally

[2019-10-18 22:00] DanConway opened #6864 "cloudFront events using originPath to distinguish origins"
# Bug Report

CloudFront Origins created using CloudFront events try to distinguish origins based on the OriginPath and not the pathPattern

## Description

1. What did you do?
Tried to create a service with cloudfront and multiple origins

2. What happened?
only a single origin was created

3. What should've happened?
There should have been a different origin for each domain

4. What's the conten

[2019-10-18 22:16] DanConway commented on #6864
The fix is relatively straightforward as the check for an existing origin only checks for a matching OriginPath. If it was changed to find a match on DomainName and OriginPath It would correctly.

I'm happy to submit a pull request for this fix

[2019-10-18 23:24] santi6291 commented on #6820
I changed the name of `service: my-service`, and it seemed to be able to create a bucket and function fine.

[2019-10-19 05:13] ParthAnand1234 opened #6865 "Athena serverless local ?"
i want to use Athena Serverless local how i will use it that is not given docs ?

[2019-10-19 07:30] martynfagg commented on #6820
Thanks @santi6291. I had already changed it, but still quite a generic name. I think there must have been a clash with someone else's service/project but the error reporting didn't make this clear.

All good now.

[2019-10-19 17:31] danielstandby commented on #6563
Any news on this issue?

[2019-10-21 03:09] stellalie commented on #6679
Yes, I got the same issue :) - Please fix this.

[2019-10-21 06:44] #6735 closed

[2019-10-21 08:47] medikoo commented on #6598
Additionally it'll be good to support custom role setting for custom resources -> https://github.com/serverless/serverless/issues/6595

At least many projects rely on setup where access rights is handled externally (not in a scope of Serveless setup), and those cannot be reliably now run with custom resources, as any IAM roles creation crashes the deployment.

[2019-10-21 09:33] vamcs commented on #3191
There's an example in this related thread: https://github.com/serverless/serverless/issues/3896

[2019-10-21 10:16] pmuens commented on #6820
Hey @santi6291,
thanks for opening. I just tried to reproduce this problem today but (un)fortunately was not able to do so. Everything deployed fine on my end 🤔

Here's the config I've used:

[code]

[code]

It might've something todo with your dependencies / project setup. Also note that the service name should not include `google` (there's a reference with taken names I cannot find ATM which for

[2019-10-21 10:28] pmuens commented on #6820
@santi6291 thanks again for opening. Apparently the bucket disappeared (or a check failed). I've created https://github.com/serverless/serverless-google-cloudfunctions/issues/186 which tracks the problem in the Google Cloud Functions plugin.

[2019-10-21 10:28] #6820 closed

[2019-10-21 12:13] leinonen commented on #6529
I had the same problem. I was using folders under the handlers/functions folder with an index.js file in each folder.

The require-path to the actual function code is wrong in the serverless-generated (instrumentation wrapper) code. To fix it, put your handlers directly under the functions folder: `src/handlers/user.js`

Then in your `serverless.yml`-file:
[code]

If you run `serverless package` y

[2019-10-21 12:38] marcelpanse commented on #5622
It works for sls print, but doesn't work when actually running anything. It seems the plugins are loaded before any includes happen.

I currently have the same problem, where I want to load certain plugins only for certain regions I deploy to and now I have to manually comment/uncomment them before deploying...

[2019-10-21 14:31] medikoo commented on #6529
@leinonen is your error exactly same (`Error: Cannot find module 's-fetchUserData'` ?)

Can you paste the output of `sls --version` ?

[2019-10-21 18:34] thetumper opened #6868 "Security: npm audit issue for https-proxy-agent dependency"
# Bug Report
When npm audit is run, serverless' latest release has a vulnerability:

High:  Machine-In-The-Middle
Package:  https-proxy-agent
Patched in:  >=3.0.0
Dependency of:  serverless [dev]
Path:  serverless > https-proxy-agent

package.json on master shows:

"https-proxy-agent": "^2.2.2",

Anything preventing upgrading, to resolve this issue?

## Description

1. What did you do?  Ran npm au

[2019-10-21 19:57] krlozadan commented on #6816
Hi @neverendingqs! Can I take a shot at this?

[2019-10-21 21:24] neverendingqs commented on #6816
@krlozadan - please do! Note: I am just an interested dev and am not part of the Serverless team.

[2019-10-22 00:00] synap5e commented on #6759
+1 This would be useful for me as well

[2019-10-22 01:17] resmall commented on #5960
I'm looking for my first PR, I can take a look at it.

[2019-10-22 04:36] apsoto commented on #6818
I can also vouch I see the same.  ALB request works, but trigger is missing.

[2019-10-22 06:21] psech commented on #6850
@medikoo I thought the same until I saw official documentation on serverless.com.
I'm happy to move. Do you want me to close this one and issue new one in horike37/serverless-step-functions?

[2019-10-22 06:44] leinonen commented on #6529
@medikoo, well. Not exactly the same. But the `Error: Cannot find module './functions/growth.js'`
But the actual handler was located at `functions/growth/index.js`, and in serverless it was referenced as `functions/growth.someFunction` which I later changed to `functions/growth/index.someFunction` and it resolved the problem. But the function worked before adding serverless monitoring

Framework C

[2019-10-22 07:02] bhojaraj commented on #6863
Getting this error since 3 days, not getting any solutions.
Device: Mac
Tried npm audit articles, not resolved
Thing i need here: trying to install web-push packages, only error is on https-proxy-agent.
Tried with 2.2.3 version just released 6 hours ago, it also didn't fix my problem.
Appreciate any kind of help here, thank you.

Here's the screenshot of the error message:
![image](https://user-im

[2019-10-22 07:02] mdw2000 commented on #6457
As a workaround for this issue I'm using a `winston` logger instead of `console.log()`.

This formats the JSON objects correctly in `node10.x` Lambda runtimes .

[code]

[2019-10-22 07:02] #6457 closed

[2019-10-22 08:15] pmuens commented on #6868
Closing this as a duplicate of https://github.com/serverless/serverless/issues/6863.

[2019-10-22 08:15] #6868 closed

[2019-10-22 08:15] #6863 closed

[2019-10-22 11:59] medikoo commented on #6850
Yes, we document some plugins. Still this repository covers just Serverless Framework core, and external plugins are maintained in their repositories, and it's where bug reports/feature requests should be reported.

[2019-10-22 12:01] medikoo commented on #6529
Ok, that makes a difference.

While ` Cannot find module 's-fetchUserData'` is an error that indicates a problem with our internals (`s-fetchUserData` is specific to [enterprise-plugin](https://github.com/serverless/enterprise-plugin/) which is unconditionally loaded by the Framework)

Error on your side looks as error in your setup (module path doesn't refer to anything Framework specific)

[2019-10-22 13:02] TimWeBill commented on #4883
Try sls remove, then sls deploy again.

[2019-10-22 14:37] pmuens commented on #3519
Closing this since we've added such script lately.

[2019-10-22 14:37] #3519 closed

[2019-10-22 16:52] weidox commented on #5996
Just from that "answer on stackoverflow" there is solution - do serverless remove (does succeed even with deleted function) to clean everything, and then serverless deploy a fresh set.

[2019-10-23 06:55] trilom opened #6872 "Allow inline Lambda function definitions"
# Feature Proposal

## Description

1. What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.
For some very simple lambda functions, such as CustomResources, it would be very useful to be able to define our function code in line.  This way I can reduce footprint of infrastructure from 2 files (serverless.yml and function code file) t

[2019-10-23 09:38] reegz commented on #5149
Hi @walery ,

I've not seen this behaviour over a period of a few days. Is there any way to force a cleanup?

Thanks

[2019-10-23 10:12] #6595 closed

[2019-10-23 10:31] shadiakiki1986 commented on #433
Just came here to say that [serverless.yml docs](https://serverless.com/framework/docs/providers/aws/guide/serverless.yml/) says `REST API resource ID. Default is generated by the framework`. This is a bit misleading and possibly needs to be re-worded in the docs.

[2019-10-23 10:59] stephan-nordnes-eriksen commented on #4984
Thanks for the info here! I think that the message could be worded more towards `still waiting`, and hopefully also add a `all promises completed` if/when that happens. The way it is now makes me think there is something wrong, and I have to restart the whole deployment process because it wasn't able to fetch all my parameters.

Perhaps this wording could work?

[code]

And then

[code]
or

[code]

[2019-10-23 11:08] khaledosman opened #6874 "update aws-nodejs-typescript template with better defaults"
# Feature Proposal
Add better defaults and best practices for the current typescript setup for a smaller bundle size and a more performant build/compilation time as well as better developer experience
## Description
I feel like the current aws-nodejs-typescript template can be improved in various ways, this is what I did for my own project and I would be happy to update the current template with i

[2019-10-23 11:21] intellix commented on #5212
How about Google Cloud Run, as opposed to GKE/Anthos?

[2019-10-23 12:05] #5621 closed

[2019-10-23 13:14] VandalPaulius commented on #6230
I don't think it works with `serverless": "^1.52.0`

[2019-10-23 14:55] tomonodes opened #6875 "DistributionNotFound error with google-cloud-translate"
# Bug Report

## Description

1. What did you do?

 I run `pip install -r requirements.txt` and all the imports work. I've done this in a isolated virtual environment running Python 3.7. Running `sls deploy` is fine.

`sls invoke -f stagger --log` fails because of a missing dependency.

my requirements.txt

[code]

1. What happened?
[code]
1. What should've happened?

Should call a Lambda function

[2019-10-23 15:49] jg-synth opened #6876 ""The role defined for the function cannot be assumed by Lambda" error after upgrading to 1.55.0"
# Bug Report

## Description

1. What did you do?

    I upgraded to serverless@1.55.0 and deployed the latest version of an existing application. Note that this was a re-release (i.e. the same version had been released previously using serverless@1.54.0).

[code]

1. What happened?

    Whilst the CloudFormation stack updates, the following error occurs.

[code]

1. What should've happened?

[2019-10-23 16:01] medikoo commented on #6876
@jg-synth great thanks for report. It's due to this change https://github.com/serverless/serverless/pull/6871 Logically it makes sense, although I understand it can also be seen as breaking.

In your case, to recover, you need to ensure that `cfnRole` you link has `"lambda.amazonaws.com" listed as one of the trusted principal services, and that it provides necessary rights for custom resources lam

[2019-10-23 16:41] tmulry commented on #5855
I can't speak to whether this works well with every setup, but rather than add a whole js script I just create the credentials file via bash  with dummy values,
[code]
and then use `sls config credentials` with `-o` to set the correct values before running any additional sls commands.  Obviously, this assumes a CI environment where it is OK to blow away your aws credentials every time you run a sl

[2019-10-23 16:48] jg-synth commented on #6876
@medikoo Thanks for getting back, and I can confirm that adding `"lambda.amazonaws.com"` to the `cfnRole` I'm using worked a treat.

Great work, and much appreciated.

[2019-10-23 16:48] #6876 closed

[2019-10-24 06:43] #6762 closed

[2019-10-24 08:27] khaledosman commented on #6874
webpack.config.js
[code]

tsconfig.json
[code]

.eslintrc.js
[code]

[2019-10-24 09:01] khaledosman commented on #6874
tslint is deprecated, the recommendation is to use eslint for typescript linting via @typescript-eslint packages now which was admittedly a bit more painful to setup than a normal tslint.config file, see https://medium.com/palantir/tslint-in-2019-1a144c2317a9 and https://github.com/palantir/tslint/issues/4534

[2019-10-24 10:50] pmuens commented on #6875
Hey @tomonodes thanks for opening :+1:

Looks like this issue is related to the Google Cloud Functions provider plugin. Could you re-open in that repository since `serverless/serverless` only covers the core and the AWS implementation. Thanks!

[2019-10-24 10:50] #6875 closed

[2019-10-24 21:41] dhuang612 commented on #5533
I would like to take this on

[2019-10-24 22:37] dhuang612 commented on #5533
created PR #6881

[2019-10-25 00:52] eduardonunesp opened #6882 "Can't create two lambdas using the same eventBus"
# Bug Report

## Description

Create two lambda functions using the same eventBus on EventBridge service gives an error that eventBus cannot be created.

1. What did you do?
Try to create two lambda functions using the same event bus

1. What happened?
Gives an error failed to create resource already exists

1. What should've happened?
Create the two lambdas using the same eventBus

1. What's the

[2019-10-25 04:32] acaeti commented on #6149
Friendly FYI for anyone waiting on this to be baked into the code, you can achieve the same effect with some overrides in your serverless.yml resources.  I believe the websocket $connect route is always named "SconnectWebsocketsRoute" in the cloudformation, so you can do this in your serverless.yml:

[code]

And achieve the equivalent result to the desired `authorizer: aws_iam` on the function eve

[2019-10-25 05:31] jonathanmreiter commented on #5855
@tmulry this makes sense for defining credentials, but isn't this issue specifically about cross account role binding via config?

[2019-10-25 06:00] walery commented on #5149
Hmm. This works for me. That's why update the ticket.

I think then only manual way. I'm sorry, I can't give you better answer...

[2019-10-25 06:08] Katafalkas opened #6884 "Installing plugins from github branch stopped working on 1.55.0"
# Bug Report

## Description

1. What did you do?
Trying to install plugin from github branch in `package.json`:
works fine:
[code]
stopped working in `1.55.0`:
[code]
does not work without js artifacts either:
[code]
1. What happened?
I get an error:
[code]
1. What should've happened?
Should not have gotten an error. Did not get this error before `1.55.0`
1. What's the content of your `serverless

[2019-10-25 06:33] ranjan-baral opened #6885 "To capture exception on dashboard i am using serverless_sdk import capture_exception issue"
to capture exception on dashboard i am using serverless_sdk import but i am getting below error :

cannot import name 'capture_exception' from 'serverless_sdk' (/var/task/serverless_sdk/__init__.py)

Please let me know on this.how can i import capture exception

[2019-10-25 06:57] Katafalkas commented on #6884
After digging around, still did not resolve the issue, but found a "hacky" solution.

If I manually place the plugin into projects `.serverless_plugins` with js artifacts in it - plugin works.

So currently the issue is that after `1.55.0` my plugin can not be imported if it is only in `./node_modules`.

[2019-10-25 07:40] #5960 closed

[2019-10-25 08:01] matteomorelli commented on #6752
Issue seems to be present even in version 1.55.1
[code]

This issue appear only trying to deploy a single function:
sls deploy -f function_name -s stage_name
[code]
If I deploy all the services it works: sls deploy -s stage_name
Use of --false flag does not help in my case.

[2019-10-25 08:26] drexler commented on #6752
@matteomorelli mind posting your `serverless.yml` file?

[2019-10-25 09:03] medikoo commented on #6884
I've looked into this issue, and it's indirectly caused by malformed configuration of _package.json_ `main` in `Katafalkas/serverless-domain-manager#js-artifacts`, as it points to [non existing `dist/index.js` file](https://github.com/Katafalkas/serverless-domain-manager/blob/7469d18376adeed9934462fdf790d4e8fe20468b/package.json#L27)

Still, direct cause is that resolver ([`ncjsm/resolve/sync`](ht