[2021-02-10 10:53] pgrzesik commented on #8924
Thanks for reporting your issue @trigaut. We are aware of potential issues such as that, the problem with addressing it with the proposed approach is that we have to consider it for every single resource naming scenario, as we already run into similar issues in the past. Currently, there's an open suggestion to introduce restrictions on `service` and `stage`, which will allow us to better reason a

[2021-02-10 11:03] mfogel commented on #8733
Thanks for the pointer @pgrzesik ! That thread was helpful

[2021-02-10 11:17] mfogel commented on #8566
I think the deprecation warning that is printed when serverless encounters a `.env` file now (without `useDotenv: true`  set) is causing some confusion. It could do a better job of explaining what the plan is here.

The current warning (`v2.23.0`) does not mention, and I think probably should:

- variables from `.env` will be loaded into the *build* process only, not automatically distributed to l

[2021-02-10 13:23] medikoo commented on #8566
@mfogel that suggestion is very welcome! Can you prepare a PR with that change? We will be very happy to merge it.

[2021-02-10 14:05] MeRahulAhire commented on #8898
thanks @pgrzesik for fixing this issue. Now I can practice to learn Serverless. Highly appreciated 👍🏼.

[2021-02-10 14:16] medikoo opened #8925 "CLI: Refactor to provide only top level commands"
### Use case description

Currently `serverless` CLI exposes some sub level commands as:

[code]

It'll make internal handling easier, if commands are only top-level as:

[code]

Reasoning:
1. Straightforward to translate programmatic API, where it's straightfoward to have `deploy()` and `deployFunction()`, and not `deploy()` and `deploy.function()`
2. Non-ambiguous CLI args parsing. With multi le

[2021-02-10 16:34] pgrzesik commented on #8898
Credits in this case should go to @medikoo :tada: Happy to hear that and hope you're gonna have a great time using Serverless Framework @MeRahulAhire :partying_face:

[2021-02-10 16:39] pgrzesik commented on #8925
Thanks @medikoo for that proposal. I agree with the reasoning, especially with the number 2, however, there are a few things that I'm potentially worried about:
- Documentation upgrade + all existing materials will be invalid if they depend on commands that will be deprecated - I guess there's nothing that we can really do about it
- Plugins - would that require plugins to adapt to that as well? D

[2021-02-10 17:23] medikoo commented on #7525
Closing as that was addressed

[2021-02-10 17:23] #7525 closed

[2021-02-10 18:44] DanielWarfield1 commented on #8910
@pgrzesik, I rolled back the correction and reran it, this was the full output:
[code]

[2021-02-11 02:13] Kevchan85 commented on #7056
Can't we just provide an option to name our roles? Writing a custom js config file will allow an org to customize how they want to name their resources.

[2021-02-11 03:38] elleryfamilia commented on #5057
Just ran into this issue out of nowhere when deploying to --stage dev after having done so successfully countless times. Frustrating that this issue was for reported over 2.5 years ago yet here we are.

[2021-02-11 06:29] joffarex commented on #4511
I don't really see a point of not implementing this for on demand usage. I mean if API already exists...

This would've been really useful feature.
For example, you might have set up CI/CD pipeline which deploys serverless application, and also AWS is set up in a way that only that pipeline can deploy things, that means, if i have some mistake in my serverless.yml file which does not get caught by

[2021-02-11 07:29] maks-avana opened #8930 "Add support for arm64 architecture"
<!--
Q1: Describe the problem (use case) that needs to be solved
Installation on Mac mini 2020 throwing error message 'Sorry, there's no serverless binary installer available for arm64 architecture. Please open request for it at https://github.com/serverless/serverless/issues'.

### Use case description

Description is stated as above.

### Proposed solution

Please add support for arm64 architect

[2021-02-11 08:36] medikoo commented on #8925
Yes, I think we can relatively easily upgrade documentation as is in this repository, but ofc any blog articles will remain outdated.

I think it's inevitable if we want to really move forward with the Framework, and not remain fixed on what it is currently.

Some plugins expose their own commands, but I'm not sure if any are sub nested. Anyway I expect changes to how commands are setup in general

[2021-02-11 08:58] medikoo commented on #7056
@Kevchan85 can you open a new issue and explain the use case. This issue refers to problem of invalid generated resource names in general (it's not specific to iam role name)

[2021-02-11 10:06] trigaut commented on #8924
Thanks ! I think it is more relevent to continue this discussion in the issue you mentioned

[2021-02-11 10:33] pgrzesik commented on #7056
@Kevchan85 I believe we have a similar issue here: https://github.com/serverless/serverless/issues/8887. It is currently blocked due to https://github.com/serverless/serverless/issues/8681 but that should be closed quite soon.

[2021-02-11 10:44] #8917 closed

[2021-02-11 10:56] pgrzesik commented on #8930
Hello @maks-avana - could you provide a bit more details about what exactly you have in mind? Serverless Framework should work without any issues on `arm64` - I'm personally using it from time to time on `aarch64` device (Jetson Xavier NX) and it works just fine, similarily, it should work without any issues on machines with AWS Graviton(2) CPUs as well. If you're referring to having an option for

[2021-02-11 10:58] pgrzesik commented on #8924
Thanks @trigaut - additionally, this issue might be relevant: https://github.com/serverless/serverless/issues/8887 It should be soon unblocked and I believe that would help satisfy your need here.

I will close this one for now and let's continue discussion in the linked issue or issues, but as soon as you feel this one is a better place, please let me know so we can reopen it. Thanks :bow:

[2021-02-11 11:02] pgrzesik commented on #8910
Hello @DanielWarfield1 :wave: Thanks for providing more details. In the listing you showed, there's a deprecation warning:

[code]

which suggests that you're trying to extend a nonexistent resource. With the next major, this is going to throw an error unconditionally, which should help to catch these.

[2021-02-11 12:11] #8681 closed

[2021-02-11 12:13] pgrzesik commented on #8887
Hello @matthewpoer - issue that moves all iam-related properties under a single namespaces has been closed: https://github.com/serverless/serverless/issues/8681 which means that this issue can be unblocked :100:

[2021-02-11 13:16] stevematdavies commented on #7397
I have this same issue, with layers, and if I remove the layers all is fine but with layers, it fails with the same error. It appears to be a long-running issue with little solution. Too many of the layers tutorials focus on deploying new layers with the serverless file and not on existing layers which is what I need

[2021-02-11 13:28] nhammond101 opened #8932 "Support tsconfig-paths and specify tsconfig*.json"
### Use case description

A change to load [tsconfig-paths](https://www.npmjs.com/package/tsconfig-paths) in supoort of serverless.ts definition files and secondly to optionally pass a different tsconfig file to the serverless command.

Primary use case is to allow the typescript compiler to use different paths when compiling the serverless.ts definition file.

Monorepos such as nx rely heavily on

[2021-02-11 13:52] stevematdavies commented on #6423
I have the same error yet I have no overlaps, I only have a suffix specified, I don't get the solution above

[2021-02-11 14:38] stevematdavies commented on #7303
This is now also an issue at the service level

[2021-02-11 14:42] medikoo commented on #7303
@stevematdavies can you prepare as simple as possible test case that reproduces the issue?

[2021-02-11 14:46] stevematdavies commented on #7303
Our code is a rather involved code and has some private / corporate features so I cant copy it here.
However, the issue is exactly as shown above

In our `serverless.yml `file

we have

[code]

However, on deploy, all excluded folders are added

[2021-02-11 15:28] pgrzesik commented on #8772
Hello everyone :wave: The original issue has been resolved and new version of `crc32-stream` has been published. All new `serverless` installations should use that version by default. I'm closing this issue, but if you're still running into errors please let us know :bow:

[2021-02-11 15:28] #8772 closed

[2021-02-11 15:47] pgrzesik commented on #8925
Thanks for feedback @medikoo :bow: As for plugins - I totally agree with your proposal as I believe plugins are really important for a lot of Framework users and ultimately they are responsible for better adoption of the Framework. I agree with raising that issue on our next meeting with @ac360 - in the meantime I'll try to update the documentation, I've also updated the issues in plugins that I'v

[2021-02-11 16:49] matthewpoer commented on #8887
Thanks @pgrzesik , I've just rebased that branch from serverless/master and I think it's ready for your review

[2021-02-11 16:56] medikoo commented on #7303
@stevematdavies you have an error in your configuration. Are you relying on latest version of Framework? Note that latest vesrion will clearly communicate this error with `Configuration warning`

[2021-02-11 19:56] estebanes22 commented on #8854
Correct! it was a config issue. I Will close this - thank you.

[2021-02-11 19:56] #8854 closed

[2021-02-11 20:10] estebanes22 opened #8934 "httpAPI unable to add tags to gateway"
API Gateway http API does not tag the gateway. The deployment finishes without errors but at the end I see no tags on these gateways.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

</details>

<b>Installed version</b>

[code]

[2021-02-11 21:13] alexshelkov opened #8935 "A null in serverless.yml"
The AWS Cognito have an `EnabledMfas` option and it must not exist in config if `MfaConfiguration` is OFF. So I need to remove it from resource config by seting `EnabledMfas = null (or undefined)`

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy -s dev</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[co

[2021-02-12 09:00] pgrzesik commented on #8935
Thanks for reporting @alexshelkov :bow: After discussing with @medikoo, we believe that the best way to move forward is to allow setting `null` values in `serverless.yml` that during internal processing will be stripped from the final `CloudFormation` template.

## Implementation proposal
1. Add a new utility e.g `strip-null-properties-from-template` in `lib/plugins/aws/package/lib` which will ite

[2021-02-12 09:41] pgrzesik commented on #8934
Hello @estebanes22, thanks for reporting. At the moment, these tags are applied to functions in your service and to stages for `apiGateway` when `http` event is used. I think it makes sense to also apply them to API resource for `httpApi` - we'd be happy to accept a PR that adds support for that :bow:

[2021-02-12 09:51] pgrzesik commented on #8932
Thank you @nhammond101 for that proposal. I'm not a TypeScript expect by any means, so it's hard for me to evaluate it - @medikoo what is your opinion here? It looks like it might be touching some of the parts of the codebase that you were working on recently.

[2021-02-12 10:11] nhammond101 commented on #8932
I've got a PR open, but trying to create  tests is proving tricky so any help appreciated, specifically the testing of node modules required.

One thing I'm concerned about is documenting the peer dependencies required for typescript support that I'm proposing. It'll need typescript, ts-node (as it does currently), with my change also needing tsconfig-paths.

[2021-02-12 11:08] pgrzesik commented on #8915
Hello @luisdemarchi, I've investigated the issue a little bit more and I've come up with an implementation proposal for addressing 2. which I present below:

## Implementation proposal

In order to ease the development and configuration of functions with `layers`, especially when `retain:t true` is used, we should be able to reference `layers` not only with `Ref`, but also by it's `name` as define

[2021-02-12 11:30] medikoo commented on #7303
I'm going to close this issue, as there's no reproduction case provided, and as I checked the posted examples all works as expected.

[2021-02-12 11:30] #7303 closed

[2021-02-12 12:55] medikoo commented on #8932
@nhammond101 thanks for raising this issue.

To avoid increase of the maintenance cost on our side we would prefer to no host any further TypeScript specific solutions in context of this repository.

Note that support for `serverless.ts` files was opened via minimal means, without taking any TS related dependency onboard, and otherwise all TypeScript specific discussions and functionalities are ho

[2021-02-12 13:53] medikoo commented on #8915
@pgrzesik great spec! I have just few comments:

I believe what we support is simply an ARN in what whatever CF supported notation -> https://github.com/serverless/serverless/blob/1eaa6260aa9f747d0aa01006ce54d3313e7b7e0f/lib/plugins/aws/provider.js#L417

That means it can be literal ARN string, or CF instruction that resolves ARN string (and by referencing layers in same stack via `Ref`, user inst

[2021-02-12 14:40] pgrzesik commented on #8915
Thank you @medikoo :bow:

That's correct, currently we're supporting any ARN variant, what I meant with potential suggestion is to enforce specification of arn with `arn:` key so it's easily distinguishable from `name` where we have `name:` key. But I agree that we can avoid using more verbose configuration and just try to deduct if someone is referencing `name` instead of `arn` by checking as you

[2021-02-12 15:51] sthuber90 commented on #5916
What needs to be extended for this to work? Really looking forward to verifying that my _serverless.yml_ is valid before deploying changes. I think https://github.com/serverless/serverless/pull/7335 was a good first step, but does not cover "events"

[2021-02-12 16:15] endingwithali commented on #8921
I'll work on this!

[2021-02-12 16:17] medikoo commented on #8921
@endingwithali thank you, great to hear that. We look forward the PR!

[2021-02-12 16:21] pgrzesik commented on #5916
Hello @sthuber90 - what version of the Framework are you currently using? I believe all events have been already covered by schema validation

[2021-02-12 16:22] pgrzesik commented on #8022
Hey @medikoo :wave: I think we have all of these crossed out - are we safe to close this issue now?

[2021-02-12 16:26] medikoo commented on #8022
@pgrzesik indeed, missed that! Great you've noticed. Closing

[2021-02-12 16:26] #8022 closed

[2021-02-12 16:46] sthuber90 commented on #5916
Yes. Sorry, I just tested with the latest version and saw that it works now as expected. How would I go ahead if I have warnings on properties required by plugins?

[2021-02-12 17:27] pgrzesik commented on #5916
Hey @sthuber90, no worries, happy to hear that it's now working as expected for you :tada: As for plugins - they also have the ability to define schema for their properties - please see the section of plugins docs for more details: https://www.serverless.com/framework/docs/providers/aws/guide/plugins/#extending-validation-schema

Do you have any specific examples of plugins that are causing warnin

[2021-02-12 17:31] yumeixox commented on #8935
@pgrzesik @medikoo can I take this?

[2021-02-12 17:34] pgrzesik commented on #8935
That would be amazing @yumeixox :raised_hands: Thank you :bow: If you have any questions, feel free to let us know :100:

[2021-02-12 17:43] bmcilw1 commented on #5034
This did not solve my issue unfortunately :(

https://github.com/serverless/serverless/issues/5034#issuecomment-581832806

[2021-02-12 20:36] endingwithali commented on #8921
hey! spent some time today digging in - new to the code base so i was wondering when you said "AWS service configuration" was there a specific file in mind?

[2021-02-12 23:32] michaelgutierrez0 opened #8936 "Lambda layer invoke local --docker Breaking"
My team has multiple serverless framework projects. Within the provider section we are adding the layer. Inside gitignore we have .serverless. On some machines:
serverless invoke local --function get --path ./tests/getTestEvent.json --stage beta --docker
works and on others it does not.

We noticed on machines that do not work the ./serverless/layers/lambda-layer-lib/1 is empty. We have copied ove

[2021-02-13 01:11] s1mrankaur opened #8937 "Provision to Deploy non-interactively when MFA is enabled on the AWS account"
We have MFA enabled on our AWS account. We are integrating lerna in the project and will then be using CI/CD pipeline to deploy our services. Both of these need deployment to be non-interactive.

How do we go about it? sls deploy command always prompts for MFA code and that is an issue when trying to deploy through Lerna or CI/CD pipeline

[2021-02-13 06:14] jayasai470 commented on #8934
@pgrzesik I have created a [PR](https://github.com/serverless/serverless/pull/8938) for this issue.
 But there are some tests failing from master itself and reflected in my PR as well. Please let me know how this goes.

[2021-02-13 09:58] benlongmire opened #8940 "CI/CD GitHub App installation URL redirects to a 404"
When connecting a GitHub account in "ci/cd" section of https://app.serverless.com/ the redirect URL is incorrect.

**Current behaviour:**
After authorizing your account, you are redirected to https://github.com/apps/serverless/installations/new?state=XXX. This results in a 404 page, and you're not able to configure and install the app.

**Solution:**

1. Change the redirect to https://github.com/a

[2021-02-13 12:35] sergioramos commented on #5634
You can use [serverless-plugin-tree-shake](https://github.com/sergioramos/serverless-plugin-tree-shake). I have examples of Serverless running with the plugin and PnP:

- [With Typescript, PnP, and individual functions](https://github.com/sergioramos/serverless-plugin-tree-shake/tree/master/test/__fixtures__/ts-pnp-individually);
- [With Typescript and PnP](https://github.com/sergioramos/serverles

[2021-02-13 14:14] medikoo commented on #8921
Yes, in Framework we support also other providers (although they're handled via plugin). We need to ensure to not show deprecation if user is not relying on AWS provider. Here's how to confirm on that: https://github.com/serverless/serverless/blob/769214cb2a234968fd2e76391fdcebb179cfddab/lib/plugins/aws/package/compile/events/cloudFront.js#L199

[2021-02-13 17:30] stephenbawks opened #8941 "Cloudformation Modules Bug ?"
Tried creating a new Cloudformation Module today I think Serverless Framework is missing the ability to specify `CAPABILITY_AUTO_EXPAND` which I believe is required to use a Cloudformation Module.

[code]

I am passing that into my serverless.yml file under the Resources section.  It should be pointing to the Cloudformation module that I created this morning (no errors, seems to validate correctly

[2021-02-13 17:32] stephenbawks commented on #8941
I also tried updating to the newest version of Serverless Framework to see if that would make a difference but was not really seeing much in the releases that would fit and still an issue.

[code]

[2021-02-14 11:16] darbio commented on #8940
I can confirm that this is an issue for me too.

[2021-02-14 12:21] yumeixox commented on #8935
@alexshelkov @pgrzesik I'm a little confused, why not just remove EnabledMfas from the config?

[2021-02-14 13:23] mahdisaadaat commented on #8935
hi, can i do anything about it?

[2021-02-14 16:22] alexshelkov commented on #8935
Imagine that your `MfaConfiguration` is set via env var, and it can be on or off for some environments. So you have to change `EnabledMfas` based on `MfaConfiguration`. Valid values for `EnabledMfas` is a list string or not existing in the config (ie null). So in case of `MfaConfiguration = OFF` =>  `EnabledMfas` have to be `null` or you will get AWS errors. There are a lot of similar use cases wh

[2021-02-14 16:43] yumeixox commented on #8935
Ah I see, that makes sense. I'll be working on that implementation.

[2021-02-14 20:29] G-Rath commented on #8071
@medikoo I'm interested in this, and might try to land a PR for it in the near future - just want to confirm first that this is still true:

It should in theory be a pretty straightforward patch as it should be the same logic as what's used for `serverless.ts`, but don't want to do the work if there's no interest in landing it :)

[2021-02-15 02:32] benlongmire commented on #8940
Dunno if this is the correct place for it, but it seemed like a good way to make it known I found a hacky fix for anyone having trouble getting it installed until it's fixed 👍

[2021-02-15 03:28] darbio commented on #8940
Yeah - I used your workaround. Good Macguivering! Cheers

[2021-02-15 08:07] pgrzesik commented on #8935
To add to what @alexshelkov, it is also to ensure that at the end of the process, all `null` properties from final CF template will be stripped. That will allow to avoid some unnecessary internal logic that ensures that separately for each field (it's easy to miss that and introduce a potential bug), so it's a very valuable feature :+1: If you have any further questions, feel free to let us know :

[2021-02-15 08:42] pgrzesik commented on #8934
Thanks @jayasai470 :bow: I've added one question - as for the test - it's a problematic one that we're aware of and it's not related to your PR - please rerun the tests on your PR.

[2021-02-15 08:47] pgrzesik commented on #8937
Hello @s1mrankaur - thanks for reporting. What CI/CD pipeline are you using to deploy? Are you able to resolve temporary credentials before running the deployment with the Framework?

[2021-02-15 09:35] pgrzesik commented on #8941
Hello @stephenbawks :wave: Thanks for reporting your issue. I believe we didn't have any reports about this previously and after researching it a bit it seems like you might be right about missing `CAPABILITY_AUTO_EXPAND` in this particular case. At the moment, we only add that capability when there's `Transform` section defined in the compiled template. What would be your suggestion when it comes

[2021-02-15 10:02] OliverHofkens opened #8944 "Cross-region SNS event triggers not working using CF intrinsic functions"
Configuring cross-region SNS event triggers for functions does not work when specifying the topic ARN using CloudFormation intrinsic functions.

This functionality was originally implemented in Serverless before (Bug #3676 & PR #6366), and later fixed for the `serverless-pseudo-parameters` plugin (Bug #6760 & PR #6879). Recent versions of Serverless made the `serverless-pseudo-parameters` plugin o

[2021-02-15 11:02] pgrzesik commented on #8940
Thank you @benlongmire :bow: I've passed it to internal team for further processing :100:

[2021-02-15 11:25] pgrzesik commented on #8944
Hello @OliverHofkens, thanks a lot for reporting. You're indeed right that this particular use case is not supported, as when `Sub` is used, topic is defined as an object and not a string and looks like this:
[code]
I believe it would be safe to try parsing value of `Fn::Sub` and extracting region. :+1:

We would be more than happy to accept a PR for this one :raised_hands:

[2021-02-15 12:58] kolinekp commented on #8758
@throrin19: I had the same problem and according to your serverless.yml, it's caused by the same cause.

I have noticed, you are also using a custom variable to store your AccountId and it also starts with a 0.
Can you try wrapping your AccountId value in single quotes? `accountId : '0123456789345'`

I believe the serverless framework treats it as a number, and thus, removes all the leading zeroes

[2021-02-15 13:19] stephenbawks commented on #8941
Yah my first thought was to catch via regex or something similar to this schema

MyCompany::S3::Bucket::MODULE

With a Cloudformation module, we know it's always going to set up with 4 parts, separated by "::" and ending with "MODULE".

[2021-02-15 13:28] stephenbawks commented on #8941
Other thought is that you could just create a new Modules variable under the provider and toggle it on or off.

[2021-02-15 15:34] medikoo commented on #8071
@G-Rath I think as we support TS files being top level, it makes sense to supporting then in `file:` variables. Still any work on that should be done with consideration for following:

1. Currently we're discussing moving TS support to external repository -> https://github.com/serverless/typescript/issues/28#issuecomment-779286001
2. Currently we're rewriting variables parser and resolver from scr

[2021-02-15 15:47] jayasai470 commented on #8934
@pgrzesik Added my answer, also I cannot find any option to rerun the test in my PR, can you please let me know how to rerun them or do I need to make an empty commit just for rerunning ?

[2021-02-15 17:46] electric-al commented on #8772
How does one make an existing serverless project use this new version?

[2021-02-15 18:46] G-Rath commented on #8071
Fair enough - I don't mind waiting if there's something actually in the works that's expected to land in a few weeks.

When it does land, feel free to ping me - I'd be happy to get this feature landed asap as I'm in need of it :)

[2021-02-15 20:35] michaelgutierrez0 commented on #8936
Hi, Thanks for the response! Answers are below:
1. I am getting the same issue when not using docker. I was under the impression that local invokes of layers only worked if you used the --docker flag. Is that not correct?
2. I deleted: \.serverless\layers in the project directory and C:\Users\Username\AppData\Local\serverless\Cache\InvokeLocal. It then worked! The AppData directory is what did it

[2021-02-15 20:42] medikoo commented on #8071
Great thanks @G-Rath for raising an interest! I'll definitely update this issue, once we will settle on recommend approach on solving this issue

[2021-02-16 05:50] s1mrankaur commented on #8937
@pgrzesik  Thanks for your response. Using Codepipeline/codebuild. The pipeline is written using CDK. The codebase is here https://github.com/awslabs/aws-simple-cicd/

I am not sure what you meant by resolving the temporary credentials before the deployment. Every time we run SLS deploy command, we have been inputting the MFA code. Is that not how it should be ? Before sls deploy command, it does

[2021-02-16 09:31] pgrzesik commented on #8937
Hello @s1mrankaur - it that setting I believe it would be better to not use IAM Users credentials but instead take advantage of IAM roles

[2021-02-16 09:33] pgrzesik commented on #8936
Hello :wave:
1. I believe you're correct here :+1:

Happy to hear that it's working for you now :raised_hands: I'm going to close this one - if there's anything else please let me know :100:

[2021-02-16 09:33] #8936 closed

[2021-02-16 09:39] pgrzesik commented on #8772
Hello @electric-al - the best way is to just do a fresh installation which will install a patched version of `crc32-stream` dependency

[2021-02-16 11:24] pgrzesik commented on #8941
I believe the most reasonable solution would be to do this conditionally based on the check if the template is using any modules - using variable is fine as well, but I feel like it "just" working out of the box is better from UX perspective.

We'd be happy to accept a PR that introduces such support. :tada:

[2021-02-16 13:29] stephenbawks commented on #8941
I can take a look.  Any general idea of where I should even start looking in the code?

[2021-02-16 14:35] #8642 closed

[2021-02-16 14:54] willikisser commented on #4481
To be able to define API Gateway Stage Variables and to use it directly as a variable to reference a lambda function would be so helpful for e.g. e2e tests. A solution for this would be fantastic.

[2021-02-16 15:04] yeyeric opened #8950 "sls deploy with --optional_parameter doesn't work anymore"
Hello,

In my cicd (gitlab), using the latest framework available of serverless, since 1h, the following bug occurred (nothing changed in my cicd for 2 weeks so can't be due to a wrongdoing with it):

`- serverless deploy --stage $CI_COMMIT_REF_NAME --url $CI_ENVIRONMENT_URL --bucket_data_name $BUCKET_DATA_NAME_FINAL`

The following command bugs at --bucket_data_name :   "--BucketDataName" is not

[2021-02-16 15:14] ScottEnock commented on #3785
Same issue here...

[2021-02-16 15:37] medikoo commented on #8950
@yeyeric thanks for report. Can you post what exactly error message you're getting? Paste exact output as it's in a CLI?

[2021-02-16 15:55] yeyeric commented on #8950
serverless deploy --stage $CI_COMMIT_REF_NAME --url $CI_ENVIRONMENT_URL --bucket_data_name $BUCKET_DATA_NAME_FINAL

  Serverless Error ---------------------------------------

  "--bucket_data_name" is not a valid sub command. Run "serverless deploy" to see a more helpful error message for this command.

  Get Support --------------------------------------------
     Docs:          docs.serverless

[2021-02-16 15:55] yeyeric commented on #8950
@medikoo
let me know if that's good:

serverless deploy --stage $CI_COMMIT_REF_NAME --url $CI_ENVIRONMENT_URL --bucket_data_name $BUCKET_DATA_NAME_FINAL

  Serverless Error ---------------------------------------

  "--bucket_data_name" is not a valid sub command. Run "serverless deploy" to see a more helpful error message for this command.

  Get Support ------------------------------------------

[2021-02-16 15:58] medikoo commented on #8950
Thank you that's great, fix is coming

[2021-02-16 16:08] VincentHuysmans1 commented on #6094
Any progress on this ?

[2021-02-16 16:29] mcshiz opened #8951 "DeploymentBucket parameters not being replaced"
I've noticed that when I try and do parameter replacement for the `provider.deploymentBucket` or `provider.deploymentBucket.name` property I am getting errors. <br />
I receive these error with and without the serverless-psuedo-parameters plugin.
**Configuration:** (Same error when nesting `name` or omitting it or using `Fn::Sub`)
[code]
**Result:**
`Configuration warning at 'provider.deploymentBu

[2021-02-16 16:40] ankon commented on #8950
This also broke our automatic deployments, as a workaround I now have a `"serverless": ">=2.16.1 <2.24.0"` in my package.json (and fixed an issue in my pipeline to use package locks when installing!)

[2021-02-16 17:19] #8950 closed

[2021-02-16 17:42] pgrzesik commented on #8912
We've released a new version of the Framework that includes an explicit bump to the problematic dependency. I'll close it but if anyone experiences issues please feel free to let me know so we can reopen and investigate :bow:

[2021-02-16 17:42] #8912 closed

[2021-02-16 18:26] medikoo commented on #8950
Sorry about issues it caused, fix was published with v2.25.0

[2021-02-16 18:32] zswanson opened #8954 "ALB multiple host conditions fails cloudformation validation"
Serverless template with an ALB event that has multiple (more than 1) `host` conditions produces incorrect cloudformation schema and fails validation with AWS, causing a stack rollback. The underlying issue is that cloudformation requires a HostHeaderConfig element when multiple hosts are used in a condition.

The following is the Serverless output in cloudformation right now, but this is invalid.

[2021-02-16 18:48] serverlesspolska opened #8955 "Since 2.23 there is an error when using serverless-export-env plugin"
Up to SF v2.22 my project that uses `serverless-export-env` plugin works correctly. Any newer (2.23, 2.24, 2.25) version does not work with the plugin. Fetching environment variables from AWS cloud (what plugin does) causes an error.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls export-env</code> output</b></summary>

[code]

</detai

[2021-02-16 19:32] wviana commented on #8950
I still having the same problem on 2.25, here is my output

[code]

[2021-02-16 19:43] pgrzesik commented on #8955
Hello :wave: Sorry for the trouble and thanks for reporting. We are aware of that problem and there's already a PR proposed with the fix that is waiting for a review from the plugin maintainer - https://github.com/arabold/serverless-export-env/pull/28

[2021-02-16 19:43] pgrzesik commented on #8955
I'm going to close this one - let's track it on corresponding issue/PR in plugin's repository

[2021-02-16 19:43] #8955 closed

[2021-02-16 20:28] medikoo commented on #8950
@wviana great thanks for reporting. Fixed and published with v2.25.1

[2021-02-16 22:07] singhemant commented on #8912
After this merge, I am unable to start debugger at all, <2.25.1 I used to get the same error "**simple-git deprecation notice: git.silent: logging should be configured using the debug library / DEBUG environment variable, this will be an error in version 3**" now the process just exits out, without any error.
This takes away ability to debug serverless code at all locally!

debug configuration: "*

[2021-02-16 22:51] jdrydn opened #8956 "Using ${env:VAR} hangs"
Passing an environment variable from `.env` to `functions.$1.environment` causes `sls package` to hang. Leaving the process for 5m or so leads to a fatal error `Javascript heap out of memory`.

<details>
<summary><code>serverless.yml</code></summary>

[code]
</details>

<details>
<summary><code>.env</code></summary>

[code]
</details>

<details>
<summary><b><code>SLS_DEBUG=1 sls package</code> out

[2021-02-16 23:39] tim-oe opened #8957 "Warning: Unable to find plugin named: TypeScriptPlugin during deploy"
i have the following [node.js project](https://github.com/tim-oe/node-101)
it deploys fine but noticed the following error but have he type script plugin working

```Warning: Unable to find plugin named: TypeScriptPlugin```

<details>
<summary><code></code></summary>

[code]
Serverless: config.options_stage: local
Serverless: serverless.service.custom.stage: ${opt:stage, self:provider.stage}
Serve

[2021-02-17 01:27] antstanley opened #8958 "Please add Tags to EventBridge Rules"
### Use case description

I need to add Tags to EventBridge Rules created by the Serverless Framework. EventBridge Metrics are all based on Rules, not the eventbus. Without being able to add Tags the EventBridge Rules, I am unable to use the [CloudWatch Metrics Explorer](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Metrics-Explorer.html) to get stats on my EventBridge

[2021-02-17 08:12] serverlesspolska commented on #8955
Oh, I didn't know. Thanks and keep up the good work :-)

[2021-02-17 09:04] gn01036238 opened #8960 "Exception when I have wrong layer name"
Exception:
TypeError: Cannot read property '_serverlessLayerName' of undefined

How it happened:
    Those are the layers in my project:
layers:
  py_odbc:
    path: pyodbc-layer

In one of my function I referenced it with this:
    layers:
      - {Ref: PyodbcLambdaLayer}

When in fact the correct name for the layer should be "pyodbc" instead of "pyodbc-layer"
Took me a day to figure this out. Ma

[2021-02-17 10:17] medikoo commented on #8960
@gn01036238 can you post a full output as you receive from a CLI.

Also what version of `serverless` are you using? Ideally please answer all bug report questions

[2021-02-17 10:30] pgrzesik commented on #8960
Hey @gn01036238 - I believe it's a similar problem to what was described in this issue: https://github.com/serverless/serverless/issues/8915#issuecomment-775801962 As @medikoo mentioned, please post the full output + list the used version, ideally following our issue template (when you create a new issue, you see the template).

[2021-02-17 10:31] pgrzesik commented on #8915
I believe the original proposal + ideas from @medikoo are the best way to move forward with this. If someone from community is interested in picking this up, we'd love to accept a PR :raised_hands:

[2021-02-17 10:33] pgrzesik commented on #8955
No worries :100: Hopefully it will be merged soon on the plugin side :crossed_fingers:

[2021-02-17 10:36] pgrzesik commented on #8958
Hello @antstanley - thanks a lot for submitting that request. I believe it makes a lot of sense to support that, however, at the moment all improvements to EventBridge are paused until we switch to native CloudFormation from a custom resource - https://github.com/serverless/serverless/pull/8437/files

It's on my radar but unfortunately, other priorities got in the way and it was pushed back a bit.

[2021-02-17 10:41] pgrzesik commented on #8957
Hello @tim-oe :wave: Thanks for reporting - did you experience that issue after upgrading to newest version of the Framework or it was working correctly for you in the past?

I'm not sure if this is an issue with `Framework` itself, as there were similar reports caused by invalid localstack config - please see: https://forum.serverless.com/t/consistently-failing-localstack-serverless-spin-up/13684

[2021-02-17 10:46] pgrzesik commented on #8912
Hello @singhemant, could you please provide more details about your issue? Ideally if could you follow our standard template (it's available when you create a new GH issue) - that might help us out with diagnosing and reproducing your issue.

[2021-02-17 11:00] sthuber90 commented on #5916
Hej @pgrzesik , thank you. We receive warnings for the _serverless-plugin-bind-deployment-id_ and _serverless-plugin-aws-alerts_ plugin. However, the current issue with https://github.com/serverless/serverless/issues/8392 is holding us back from upgrading at the moment.

[2021-02-17 13:16] pgrzesik commented on #8956
Hello @jdrydn, thanks a lot for reporting and sorry that you've run into trouble with the above. The bug here is a bit esoteric, as it's caused by the fact that `set` from `lodash` prevents updates to `prototype` properties and the variable resolves was stuck in a loop as it was trying to set it but without success. I've created a patch in linked PR, meanwhile, you can change the name of your func

[2021-02-17 13:17] #8960 closed

[2021-02-17 13:23] jdrydn commented on #8956
🤯

That's amazing, it never occurred to me that function name could be problematic but it makes complete sense!

Immediately fixed, and `${env:VAR}` with `useDotenv` works as expected! Thanks!

[2021-02-17 13:39] DrachovDmytro commented on #7423
@jkburges
I am also did not get fail in shell then run sls deploy. But I've looked stack events and found that error message but looks like it ignored and completed deploy successfully.

So to fix that issue I've added permission for user which made deploy on ci it looks like that
[code]

[2021-02-17 13:56] pgrzesik commented on #8954
Hello @zswanson, thanks a lot for reporting - you're totally right, I've just verified it as well and in order to support multiple values for `host`, we should be using `HostHeaderConfig` here: https://github.com/serverless/serverless/blob/5057f9ab865dd62d12e8ff1f673615462470bb74/lib/plugins/aws/package/compile/events/alb/lib/listenerRules.js#L85

We'd be more than happy to accept a PR for this on

[2021-02-17 14:02] pgrzesik commented on #8941
That would be awesome @stephenbawks :raised_hands: Two modules that are responsible for stack update/creation are avaialble here:
- https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/lib/createStack.js
- https://github.com/serverless/serverless/blob/master/lib/plugins/aws/lib/updateStack.js

I believe the best way to move forward would be to introduce an utility that based

[2021-02-17 14:02] GHMatty opened #8963 "Using -v parameter not working, shows the help text instead"
Using -v parameter not working, shows the help text instead

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls -v --stage STAGE --param1 P1 --param2 P2</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-02-17 14:07] GHMatty commented on #8963
It works with/until Version 2.23.0

[2021-02-17 14:10] pgrzesik commented on #8963
Hello @GHMatty :wave: Could you share the installation method that you're using? What OS are you on?

[2021-02-17 14:15] medikoo commented on #8963
@GHMatty we cannot reproduce it with latest version

<img width="484" alt="Screenshot 2021-02-17 at 15 14 59" src="https://user-images.githubusercontent.com/122434/108216611-f654fb00-7132-11eb-89ef-6321b5653756.png">

[2021-02-17 14:15] GHMatty commented on #8963
gitlab runner with linux

[2021-02-17 14:18] GHMatty commented on #8963
SORRY this is the command i forgot the 'deploy':

sls -v deploy --stage $STAGE --servicename $SERVICENAME --serviceversion $SERVICEVERSION --description "$DESCRIPTION"

[2021-02-17 14:22] pgrzesik commented on #8951
Hello @mcshiz :wave: Thanks a lot for reporting and sorry to hear that you've run into trouble with it. At the moment, we're not supporting `Sub` for `deploymentBucket` as we're relying on resolved name during the deployment process and `Sub` will be resolved by CloudFormation. So for this particular case, you'll need to supply AccountID in some other way.

[2021-02-17 14:27] medikoo commented on #8963
@GHMatty great thanks for clarification, will be fixed with https://github.com/serverless/serverless/pull/8964

[2021-02-17 15:58] zswanson commented on #8954
@pgrzesik gave it a shot, js is not my usual thing so hopefully all in order

[2021-02-17 16:13] #8956 closed

[2021-02-17 16:34] flexjames commented on #5034
Thanks this worked.  Quick question though, does this method work for path parameters?  Also, if I have a nested route, how would that work?  So if my route is admin/someRoute, what would the ApiGatewayMethod<name><requestType> look like?  I tried ApiGatewayMethodAdminSomerouteGet and it didn't work?

[2021-02-18 08:56] #8963 closed

[2021-02-18 09:06] pgrzesik commented on #5916
Hey @sthuber90 - thanks for listing the problematic plugins. As for the #8392 - I'm afraid the only option to migrate  through that issue is to follow the suggestions in that issue thread - the hashing algorithm changed, the best way to move forward would be to adapt to the newest hashing algorithm with upgrade to the latest version of the framework + setting `provider.lambdaHashingVersion: 202012

[2021-02-18 09:18] LouisPinsard commented on #8810
Hello @pgrzesik I just updated my serverless framework version and it works well now. I think we can close the issue.

[2021-02-18 09:48] pgrzesik commented on #8810
Hello @LouisPinsard :wave: Thank you for letting us know - I'm closing this one :100:

[2021-02-18 09:48] #8810 closed

[2021-02-18 11:08] sthuber90 commented on #5916
Hej @pgrzesik , thank you but I tried with the recommended hashing version and the problem still exists. Didn't have any time yesterday to dig into the issue, if the problem persists I will comment it at #8392 or open a new issue.

[2021-02-18 18:46] dnlsyfq commented on #2973
similar issue here.

when i check
[code]
![lambda2](https://user-images.githubusercontent.com/23475708/108405774-79be3b80-725c-11eb-8398-8d7aa900b6ba.PNG)

the custom security group exist but when i tried to deploy it said

![lambda1](https://user-images.githubusercontent.com/23475708/108405796-7f1b8600-725c-11eb-989b-1e714e9404e2.PNG)

but then when I included the default security group in the li

[2021-02-18 22:31] mcshiz opened #8969 "Parameter Replacement for s3 bucket event not working"
[code]
Results in:
[code]
**Note**
It also no longer works with the `serverless-pseudo-parameters` plugin
     `bucket: photos-#{AWS::AccountId}-test`

[2021-02-19 09:05] pgrzesik commented on #8940
Hello @benlongmire - I believe it was fixed internally - do you still happen to bump into that problem?

[2021-02-19 10:01] VincentHuysmans1 commented on #5452
Any progress on this ? For the moment I have the WAFV2 rule creation in Terraform. Which in my opinion is not the correct place, as we are using Terraform for **shared** resources.
The WebACL rules are application/stage specific so a better place would be in serverless.

[2021-02-19 10:21] pgrzesik commented on #5916
Understood :+1: Thank you and sorry for the trouble @sthuber90

[2021-02-19 10:35] pgrzesik commented on #5452
Hello @VincentHuysmans1 :wave: Thanks for bumping that thread - could you share your specific use case? Do you want to create the `AWS::WAFv2::WebACL` resource or just attach it to API Gateway via `AWS::WAFv2::WebACLAssociation`?

[2021-02-19 11:59] VincentHuysmans1 commented on #5452
Ideally I would like to create the resource using serverless. I have a feeling it's more correct using it there than specifying it in Terraform. Unfortunately  this does not seem to be supported yet.
So I've created it in Terraform and tried to attach it with the plugin `serverless-associate-waf`. But this also not working for me: https://github.com/MikeSouza/serverless-associate-waf/issues/30#iss

[2021-02-19 13:46] #8406 closed

[2021-02-19 14:01] #8954 closed

[2021-02-19 14:29] pgrzesik commented on #8969
Hello @mcshiz - thanks for reporting. Indeed, at the moment `s3.bucket` is only supported as a string. I believe it should be possible to include support for `Sub` as well - it would require changes to schema: https://github.com/serverless/serverless/blob/36c78c70d1cf306556a5a9f8a3c3908e8b4c7d05/lib/plugins/aws/package/compile/events/s3/index.js#L20 and how it's later handled during processing: ht

[2021-02-19 15:27] dhmw commented on #4647
It seems that for the solution proposed in the last comment, this won't accept another resource name or ARN lookup via Fn::GetAtt though. Which is disappointing.

[code]

Having this properly supported would be really beneficial.

Regards,
Doug

[2021-02-19 17:16] bacatta commented on #5452
Try to associate with webacl arn instead of its name.

[2021-02-19 21:20] cscetbon commented on #7536
Same here @medikoo, using `serverless-plugin-existing-s3` I don't have any issue but switching to the native way doesn't work ...

[code]

[2021-02-19 21:33] OndeVai commented on #3212
This is a nasty issue!
I was able to hack around it by doing this

`create:
    handler: src/create.main
    events:
      - http:
          path: some-resources
          method: post
          cors: true
          authorizer:
            type: COGNITO_USER_POOLS #undocumented type :(
            name: cognitoAuthorizer #needs a name
            arn: !ImportValue outworkit-${self:custom.stage}-us

[2021-02-20 01:49] ariel-frischer commented on #5319
I'm running into the same issue with nodejs 12.19.0

[2021-02-20 12:31] MeRahulAhire opened #8974 "CORS is not working and doesn't support httpAPI"
According to [this guide by Alex Debrie](https://www.serverless.com/blog/cors-api-gateway-survival-guide)

I implemented my `serverless.yml`
[code]
and  lambda function as
[code]
I deployed it and it works on postman but not in browser since I'm trying in my local machine giving me the error below
[code]
**what should I do to get this working?**

And one more thing is that the `CORS` method descri

[2021-02-20 13:46] g-balas commented on #8696
Installer working fine with terminal open with [Rosetta](https://osxdaily.com/2020/11/18/how-run-homebrew-x86-terminal-apple-silicon-mac/); `sls` is then working as expected, even with native Terminal.

[2021-02-20 19:12] ml27299 commented on #6426
in case anyone needs a solution to this, I wrote a patch to do it
https://www.npmjs.com/package/serverless-aws-alias-alb-patch

[2021-02-20 22:17] JacksonGariety commented on #7485
@summera can you give an example of how you fixed this? My stack oscillates between throwing the "one or more origins do not exist..." error and the "exactly one of..." error.

[2021-02-20 22:59] summera commented on #7485
@JacksonGariety we ended up not using serverless for our final solution to what we were trying to do so it's been a while since I've dealt with this, but I think it was something like this:

[code]

[2021-02-20 23:44] fbuitron opened #8976 "serverless create command throws a Type Error on fresh install"
I did the following:

`npm i -g serverless`

`+ serverless@2.25.2`

Then ran the following command:

`sls create --template aws-python3 --name test --path myProject`

And I get the following error:

[code]

[2021-02-21 09:12] ngduc commented on #5474
For me, I have my "~/.aws/credentials" like this: (notice the "[default]" name)
[code]
I ran the deploy command like this `serverless deploy --aws-profile default` ("default" is the profile name). Hope it helps!

[2021-02-21 17:01] mykolasmolis opened #8977 "Can not install serverless "command failed""
Can not install serverless:
[code]

Detailed log:
[code]

[2021-02-21 17:01] mykolasmolis commented on #8977
Anyone else is facing such issue?

[2021-02-21 18:47] mykolasmolis commented on #8977
Ok - to be honest it does not matter. I decided to install the `serverless` not as NPM package, rather curl.

[2021-02-21 18:47] #8977 closed

[2021-02-22 08:21] pgrzesik commented on #8976
Hello @fbuitron, thanks for reporting. It seems like you're using Node `v10.0.0` - would you be able to try out updating to the latest `v10` version or even higher to `v12` or `v14`? I believe there's a slight issue with `v10.0.0`

[2021-02-22 08:26] pgrzesik commented on #5319
Hello @ariel-frischer, are you experiencing the same issue while using https://github.com/UnitedIncome/serverless-python-requirements/ ? I believe the best bet would be to report an Issue in the repository of that plugin, as it seems to be tied directly to the plugin vs the Framework itself.

[2021-02-22 08:30] ariel-frischer commented on #5319
@pgrzesik Sorry I did not specify I'm actually not using python, I was trying to run a serverless express application inside a lambda function using docker image. This `mkdir` error is the similarity, I have a hunch this is due to aws using a readonly file system.

[2021-02-22 08:32] pgrzesik commented on #5319
No worries @ariel-frischer :+1: In that case I believe it's a totally separate issue - if you'd like you could report it with details so we can take a closer look at it :100:

[2021-02-22 08:45] pgrzesik commented on #8974
Hello @MeRahulAhire :wave:

As for the first part - I think this is more suited to be discussed on our Slack or forum -https://forum.serverless.com/ as I'm not sure if this is a bug with the Framework or with your configuration - you might also want to checkout our docs for that https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#enabling-cors

As for the `httpApi` - the con

[2021-02-22 09:09] pgrzesik commented on #5452
I believe we should be able to introduce support for associating WAF directly in the Framework via `AWS::WAFv2::WebACLAssociation`. We could also potentially support creation of `AWS::WAFv2::WebACL` underneath for defining WebACL, but that also could be done as a part of `resources` section. From the current users of API Gateway with WAF - how would you like the configuration to look like on Serve

[2021-02-22 09:39] pgrzesik commented on #4647
Hello @dhmw - thanks for reporting. I believe we should be able to support CF intrinsic functions for `onFailure` and `onSuccess`. It would require adjustments in schema: https://github.com/serverless/serverless/blob/8fead7f39e3a5649e87a4ceb6e0c0a28e7f61ea5/lib/plugins/aws/provider.js#L1021-L1024 and ensuring that it doesn't break anything in: https://github.com/serverless/serverless/blob/8fead7f3

[2021-02-22 11:14] fbuitron commented on #8976
Yes. After updating my Node.js version the latest it worked.

Thanks for your time!

[2021-02-22 11:24] pgrzesik commented on #8976
Happy to hear that @fbuitron :tada:

[2021-02-22 11:24] #8976 closed

[2021-02-22 11:50] medikoo commented on #7536
@cscetbon can you prepare a reproduction case?

[2021-02-22 15:07] bm-are commented on #8930
Running the install command gets this prompt:

[code]

I'm running macOS Big Sur v11.1, 2020 MacBook Pro with M1 (which is what's causing the issues)

[2021-02-22 15:08] bm-are commented on #8930
@maks-avana according to https://github.com/serverless/serverless/issues/8696 if you also have the same issue on a Mac then you'd need to just run the Terminal in Rosetta mode

[2021-02-22 15:15] pgrzesik commented on #8815
This one is once again up for grabs :100:

[2021-02-22 18:46] clar-cmp opened #8982 "Deprecation docs: typo in YAML key"
There's a typo on the deprecation page: https://www.serverless.com/framework/docs/deprecations/#PROVIDER_IAM_SETTINGS

should be:

[2021-02-22 22:30] ariel-frischer opened #8983 "AWS Lambda Image Function: Error: ENOENT: no such file or directory, mkdir '/home/sbx_user1051/.serverless'"
I'm trying to deploy my full nodejs/express backend application using the serverless framework. Doing any normal `serverless deploy` does not work because it exceeds the 200Mb limit. So I've wrapped the application with a docker image and I've deployed a lambda function using this image. I've followed this article as a loose guide: https://espressocoder.com/2021/01/05/creating-a-serverless-docker-

[2021-02-23 08:36] medikoo opened #8985 "Deprecate `configValidationMode: warn` default"
### Use case description

Warning by default on schema errors was introduced only to allow  gentle migration to config schema validation.
Otherwise the goal was to throw by default whenever configuration error is discovered, and that ideally should happen with v3. For that we need to deprecate `configValidationMode: warn` default

### Proposed solution

If there's no `configValidationMode` set in

[2021-02-23 09:27] pgrzesik commented on #8982
Thank you for reporting - great catch, I've already prepared a fix for it :+1:

[2021-02-23 09:39] pgrzesik commented on #8983
Hello @ariel-frischer, thanks for reporting. In the case you're listing above it seems like there's a problem with using a read-only filesystem and `.serverlessrc` file with config cannot be created. It looks like the whole command is executed in the context of a read-only container - how are you executing the `yarn serverless offline` command? Is it via `docker` somehow?

[2021-02-23 09:46] #8982 closed

[2021-02-23 09:50] #8934 closed

[2021-02-23 10:29] pgrzesik commented on #8921
Hello @endingwithali :wave: Are you still interested in working on this one? There's someone that expressed interest in working on this by issuing a PR (it will definitely need changes though - https://github.com/serverless/serverless/pull/8981), but before moving any further with that I wanted to confirm the status on your side. Thanks in advance :bow:

[2021-02-23 12:03] pgrzesik commented on #3212
I've investigated it a little bit and it seems like the `authorizer.name` is also needed to resolve `logicalId` that will be used in CloudFormation template for `AWS::ApiGateway::Authorizer`. I was thinking about alternative approach to resolving that `logicalId`, but I feel like the name-based generation seems like the best choice. Given that, I think that while `arn` is passed as a string, we sh

[2021-02-23 13:12] ThomasAribart commented on #6727
@pmuens any news on this issue ? I also have the problem on my project

[2021-02-23 14:01] yumeixox commented on #8985
@medikoo Can I take this?

[2021-02-23 14:08] medikoo commented on #8985
@yumeixox yes, thank you!

[2021-02-23 14:31] medikoo commented on #3212
@pgrzesik very good point. I totally agree that's the way to go.

Yes, and we have a dedicated issue for that: https://github.com/serverless/serverless/issues/2887 (I've also added it now to our project, as I think it's worth addressing at some point)

[2021-02-23 14:33] medikoo commented on #3212
I've updated spec in top description with proposal, where we require `name` with object configuration for authorizer arn.

[2021-02-23 14:34] ferasallaou opened #8988 "Stack X does not exist when S3 bucket is full"
This is my Env information
[code]

When I tried to deploy a new function using `sls deploy` I got the following Error
[code]

Even though it was my first time deploying it.
When I tried `sls deploy -v` I got the following message
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

[2021-02-23 14:37] medikoo commented on #8988
@ferasallaou Such bug was fixed with one of the versions. Ensure you're using latest version of a Framework

[2021-02-23 14:47] #8988 closed

[2021-02-23 15:00] antstanley commented on #8958
Thanks for adding this to the pile of requests. I did see that Tags for EventBridge Rules aren't supported in EventBridge AWS::Events::Rule Cloudformation Resource type at this point, so you'd likely have to use a CF custom resource for this :-( ... Hopefully AWS resolve this quickly. Am bugging them.

[2021-02-23 15:54] pgrzesik commented on #3212
Thank you - I'll continue with that approach :100:

[2021-02-23 21:53] VincentHuysmans1 commented on #4720
Are there any updates on this ?

[2021-02-24 08:41] bissli82 commented on #4893
Same here, serverless can't clean after itself, stack remains, till manually deletion of bucket, tired suggested plugins - didn't help,
please address this issue.

[2021-02-24 08:47] pgrzesik commented on #4893
@bissli82 Hello :wave: Could you share your configuration that is not working? Please also include the version of the Framework that you're using.

[2021-02-24 09:06] MatteoGioioso opened #8989 "Maximum batch window in seconds must be greater than 0 if maximum batch size is greater than 10"
I am trying to set a batchSize for SQS bigger than 10 in **serverless 1.83**, but I keep getting this error:

[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-02-24 09:49] pgrzesik commented on #8989
Hello @MatteoGioioso - thanks for reporting - do you have the ability to test it out on our latest version which is `2.25.2`? Thanks in advance

[2021-02-24 10:02] pgrzesik commented on #8958
Hey @antstanley - I just checked and that's right - I think in this case we will have to wait for CloudFormation support as we're currently migrating off of custom resource-based EventBridge support

[2021-02-24 10:52] MatteoGioioso commented on #8989
Hello @pgrzesik we would prefer staying v2 <, besides that I have tried with v2.0 and this seems to be still broken =(

[2021-02-24 11:03] pgrzesik commented on #8989
@MatteoGioioso Did you try with `2.0.0`? The `maximumBatchingWindow` property was introduced with `2.14.0` - please see the changelog: https://github.com/serverless/serverless/blob/master/CHANGELOG.md#2140-2020-12-01

What are the reasons that are preventing you from upgrading to `v2`?

[2021-02-24 11:15] #7921 closed

[2021-02-24 13:29] medikoo commented on #4720
I'm going to close it, as (1) it's a very old issue, reported to very outdated version of a Framework, and many issues have been fixed since then (2) Report is vague, doesn't provide any details on configuration used, from following comments it appears that many plugins are involved, and they can influence the error (in such case bug report should go to problematic plugin repository)

However if y

[2021-02-24 13:29] #4720 closed

[2021-02-24 13:44] pgrzesik commented on #8935
Hello @alexshelkov - we just merged a PR that adds support for stripping properties defined as `null` - it should be released with the next version of the Framework. I'm closing this issue for now - if you'll experience issues after the new version gets released, please let us know :100:

[2021-02-24 13:44] #8935 closed

[2021-02-24 14:00] #7063 closed

[2021-02-24 14:57] mikewolfd commented on #6203
`export SLS_DEPRECATION_DISABLE ='*'` is also necessary in some cases for the same issue.

As a side note, I don't know why this ticket is closed. A print command shouldn't be polluting it's output with warning errors.

[2021-02-24 17:09] trigaut opened #8993 "not skipping deployment because of aws permissions"
The issue is related to the AWS plugin.
If your deployment user does not have the permission `lambda:GetFunction`,
and if you deploy twice the same Serverless stack on AWS without changing anything, the deployment won't be skipped.

This is because Serverless is not able to get the last modified date of the already deployed Lambdas.
The problem is that `getFunctionsEarliestLastModifiedDate` fails

[2021-02-24 18:16] ikp4success opened #8994 "Variables resolver reports following resolution errors: Value not found at "self" source - version ^2.26.0"
**Q1: Describe the issue**
`./configs/dev.json`
file contents below
[code]
it turns out if you try to reference a null value key in serverless.yml it throws `Value not found at "self" source.`

![image](https://user-images.githubusercontent.com/7339334/109044841-e1cbb200-76a0-11eb-928e-e13f6c24a6dd.png)

**Q2: Are we not allowed to reference null values anymore in variables?**

<details>
<summary>

[2021-02-24 18:52] Dleary4395 opened #8995 "${self:provider.stage} Adding local to named stage deploys since 2.26.0 update"
**Q1: Describe the issue**
When deploying using `sls deploy -s dev`, our sqs names are being set to local even though the rest of the build is using the proper stage name.

**Q2: Serverless config**
[code]

The queue names being created in AWS are:
`local-service-name-deadletter.fifo`
`local-service-name.fifo`

even though the stage name in the build is correctly being set to dev:
![image](https:/

[2021-02-24 18:56] medikoo commented on #8994
@ikp4success thanks for report!

In new variables resolver consistency is improved, in sense that if (any) variable source reports lack of value (as `null`), then to accept it as valid, you need to configure the fallback for it. However, now also `null` is allowed as fallback.

So in your case following will work as intended:

[code]

[2021-02-24 19:03] medikoo commented on #8995
@Dleary4395 Great thanks for report, will be fixed with https://github.com/serverless/serverless/pull/8997

[2021-02-24 19:15] Dleary4395 commented on #8995
Excellent, thanks. In the interim we're going to switch to using `--stage` from now on.

[2021-02-24 19:22] ikp4success commented on #8994
Thanks for the swift response. This fixed, however i get this warning.
![image](https://user-images.githubusercontent.com/7339334/109054293-b7332680-76ab-11eb-88dd-85de54d28248.png)

[2021-02-24 19:27] ikp4success commented on #8994
Never mind, i removed `variablesResolutionMode: 20210119` and it went away. I don't know if this will be a problem in version 3.0.

[2021-02-24 19:52] BenLanglois commented on #8586
I recently experienced a performance issue related to this when packaging my project. In serverless.yml, we specify:

[code]

This disables the default behaviour of including all files in the current directory. However, globby is only passed `params.include`, not `params.exclude`. So, globby will return all files in the project directory only for micromatch to later filter out most of them. This m

[2021-02-24 20:01] medikoo commented on #8994
I think problem was that you've set it to `20210119`, while allowed value is `20210219`.

Anyway setting this ensure, that in case of issues in variables resolution you will have same handling as in next major (and next major will crash if there are errors during vars resolution)

[2021-02-24 20:02] cole-at-work opened #8999 "Custom variables and fallbacks aren't working with new 2.26.0 version"
With the new version of `2.26.0`, custom variables and their fallbacks aren't resolving as they were in the previous version of `2.25.2`. We are creating custom variables based on which stage is being deployed. For all stages the variable is resolving to the `other` option - see below. The error is being caused by the variable being the incorrect variable for the environment.

Is there a better wa

[2021-02-24 20:09] ikp4success commented on #8994
your are right, i will go ahead and close this issue.. thanks for your help.

[2021-02-24 20:09] #8994 closed

[2021-02-24 20:21] ryan-roemer commented on #8586
Yeah @BenLanglois -- I've got a long comment and suggestion for future packaging tweaks here: https://github.com/serverless/serverless/issues/6007#issuecomment-520092329

( _Caveat for the following, I'm one of the main authors of serverless-jetpack_ )

As a stopgap measure, if you switch to [serverless-jetpack](https://www.npmjs.com/package/serverless-jetpack) in legacy / "drop in replacement" mo

[2021-02-24 20:41] medikoo commented on #8999
@cole-at-work great thanks for report, will be fixed with https://github.com/serverless/serverless/pull/9000

[2021-02-24 20:53] #8999 closed

[2021-02-24 20:56] cole-at-work commented on #8999
Thanks for getting to this so quickly.

If it's okay to ask here - do you see any problems with defining custom variables in this manner? Will this cause any issues in the future?

[2021-02-24 21:01] medikoo commented on #8999
That's totally fine. It's just a bit quirky to put `${opt:stage, 'dev'}` into `provider.stage` (which serves as _default stage_ when it is not set via CLI param).

Still it'll work as it works now, and I understand that you're doing it for convenience of putting  `${self:provider.stage}` instead of `${opt:stage, self:provider.stage, 'dev'}` all over the place.

At some point we will provide a mean

[2021-02-24 21:01] #8995 closed

[2021-02-24 21:10] cole-at-work commented on #8999
I'm not absolutely sure that we need a default stage value because it should be set every time we deploy. What about removing the `provider.stage` assignment and just using `opt:stage` wherever I need the stage variable?

[2021-02-24 21:12] medikoo commented on #8999
`${opt:stage}` will work only if at all times you'd pass `--stage` with deployment. Otherwise putting `${opt:stage, 'dev'}` will work in all cases. (and you can ignore, and not set `provider.stage` at all)

[2021-02-24 21:16] cole-at-work commented on #8999
Great - once again, thanks!

[2021-02-24 21:16] iDVB opened #9001 "Function Version "already exists in stack""
We are getting a stack deploy error...
`An error occurred: OriginresponseLambdaVersionFklZpKAVAZWyAHVjNngkkP9k3NSYN4sxsekKU9S5U - arn:aws:lambda:us-east-1:NOTTELLING:function:stack-proxy-prod-originresponse:18 already exists in stack arn:aws:cloudformation:us-east-1:NOTTELLING:stack/stack-proxy-prod/77af3a0
0-4f6e-11e9-8f38-0e7a6b775da6.`

Essentially, complaining that a specific version of a func

[2021-02-24 22:22] BenLanglois opened #9004 "Windows-style path separators (i.e. backslashes) are not supported in include pattern"
Glob patterns/file paths in `package.include` are not matched if they contain windows-style path separators (i.e. backslashes). This appears to be the result of upgrading the `globby` package to `>= v10.0.0` since one of the breaking changes of that version is that backslash path separators are no longer supported. The call to globby is [here](https://github.com/serverless/serverless/blob/v2.27.0/

[2021-02-25 06:22] garethmcc opened #9005 "Variables: Introduce access to resolved AWS `accountId` and `region` (via `aws:..`)"
### Use case description

When configuring a serverless.yml file, sometimes you may need to include the account ID or region for an AWS account in a way that doesn't resolve using CFN syntax. The only way to reliably do so is to inject the account ID using external key/value mechanisms such as dashboard params, environment variables, ssm, etc.

### Proposed solution

The ability to reference a bui

[2021-02-25 07:15] Venus713 opened #9006 "alreay exists in stack"
I'm running a my serverless project.
I tried to deploy the my project using following command `sls deploy`, but it gives a following error.
[code]
I tried to deploy a project that it worked fine a 2 months ago, but it also give same error.
Please give me a suggestion.

[2021-02-25 07:47] coyoteecd opened #9007 "Variable resolution error logged when loading config from files with fallbacks since v2.26"
This is an issue somewhat similar to #8999, but now with files. To help with multi-stage deployments, we are using "nested" variable resolutions based on stage name, but loading variables from a js file, like this:

[code]

Idea being that it would resolve variables from the stage-specific config file for prod and staging, while in dev it would have a shared "dev" config for all individual develop

[2021-02-25 08:02] medikoo commented on #9007
@coyoteecd great thanks for report.

Indeed in new variable resolver, the configured behavior is to report with an error (and not a missing value) a missing file.

I wonder weather it's safe to assume missing files as missing values, at least it raises the danger of typos in configured filenames coming unnoticed, but I guess what you present is quite valid use case, and it's hard to achieve it in

[2021-02-25 08:03] pgrzesik commented on #6203
Hello @mikewolfd - I believe the reason for this ticket being closed is that it was reported a long time ago - since then we had a few other similar reports and all of it is going to be addressed by https://github.com/serverless/serverless/issues/8731 and/or https://github.com/serverless/serverless/issues/1720

All feedback on the above is welcome :raised_hands:

[2021-02-25 08:12] pgrzesik commented on #9007
I was thinking about this a bit too and while it opens up potential bugs as you mention @medikoo with simple typos for filenames, I don't see a good way of achieving the same result in some alternative way. So I think we should missing files as missing values in this case.

[2021-02-25 08:15] pgrzesik commented on #9006
Hello @Venus713, thanks for reporting. Could you please show an example `serverless.yml` file of your configuration to aid in investigating this issue? Are you using `s3` events?

[2021-02-25 08:33] coyoteecd commented on #9007
I am open to reconfiguring my environment if there is a better way. What I have now is something I built based on on v1.5x (with limited knowledge), and Serverless evolved since then.

What I need is a way to have per-environment configuration (dev, staging, prod) since each uses its own AWS account, and for dev to share the same config across multiple stages, so that each dev has their own accoun

[2021-02-25 08:39] pgrzesik commented on #9001
Hello @iDVB - thanks for reporting. This is indeed a strange issue. The hash for `Version` resource of function is generated based on two things - contents of an artifact with code for your function and the hashed function properties. The `CodeSha256` property is based strictly on the hash of contents of an artifact (zip file) that contains code for your function. In the `CodeSha256` is the same,

[2021-02-25 09:00] #9007 closed

[2021-02-25 09:11] medikoo commented on #9007
@coyoteecd I think what you're doing is fine. Still as you already resolve config dynamically, you may simply have one resolver:

[code]

[code]

[2021-02-25 09:13] pgrzesik commented on #8993
Hello @trigaut :wave: Thanks a lot for reporting. This is a great catch and I believe we should definitely emit a warning in such a situation to highlight to the developer that they don't have proper permission instead of blindly assuming the function doesn't exist which forces new deployment.

We'd be happy to accept a PR for this one :raised_hands:

[2021-02-25 09:58] MeRahulAhire commented on #8974
Hi @pgrzesik, sorry for late response. I was engaged in other stuff
but anyways the error is still there in Browser whether you use CORS or not in `serverless.yml` but Its working in postman with/without any CORS

![Document - Google Chrome 25-02-2021 15_16_06_LI (2)](https://user-images.githubusercontent.com/42251052/109135717-60961d00-777d-11eb-9082-d31e90e60911.jpg)

[2021-02-25 10:23] coyoteecd opened #9010 "provider.profile with dynamic/nested fallback value resolved incorrectly after update to v2.27"
Our frontend repos use serverless + serverless-s3-sync to publish SPA files to an existing S3 bucket.
For convenience, we use a provider.profile that is dynamically selected based on deployment stage; however, in our Jenkins CI pipeline we do not use the profile setting, therefore we override it by passing an empty `--aws-profile=` option.

Up to v2.25, the following variable resolved correctly:
[

[2021-02-25 11:41] medikoo commented on #9010
@coyoteecd thanks for report.

I've put your case to testing, and one issue I've diagnosed is nasty circular reference issue which put new resolver into infinite loop when resolving:

[code]

However issue will not be observable with

[code]

I've landed fix for that here: https://github.com/serverless/serverless/pull/9011

Otherwise I don't see any specific issue on our side.

There is one in exa

[2021-02-25 11:52] coyoteecd commented on #9010
@medikoo sorry, I forgot to specify that stage is also defined as {opts:stage, 'dev'}, that's why I am using ${self:provider.stage}. I verified and it's resolved correctly to the stage that I'm passing in as value. I will update the example in the initial report.

Unfortunately, I discovered that v2.25 doesn't completely work either; had to roll back to v2.23. The --aws-profile override no longer

[2021-02-25 11:57] medikoo commented on #9010
I think #8927 didn't change much here. Indeed it's not configured to recognize `--aws-profile` per-se, but this parser accept unrecognized properties. So if you passed `--aws-profile` it definitely will land in options object.

[2021-02-25 12:21] coyoteecd commented on #9010
I installed PR #9011 in my environment and the issue with variable resolution went away; profile is now resolved to the expected value (app-stage in my example). I do have an issue with overriding aws-profile via CLI, but I think I'll make this a separate issue since they're not really related.

[2021-02-25 12:21] #9010 closed

[2021-02-25 12:23] medikoo commented on #9010
Thanks @coyoteecd for clarification. Please open bug report with necessary details. I tested your case locally, and when passing `--aws-profile` the `opt:aws-profile` var was resolved as expected.

Maybe issue is related to how plugin handles things?

[2021-02-25 12:32] coyoteecd commented on #9010
I will try out some things and come back with details in a new issue. Thanks a lot for your stellar support, it's much appreciated.

[2021-02-25 12:34] williamsandonz commented on #7867
Can confirm this has been fixed by 2.27.0 ([here](https://github.com/serverless/serverless/pull/8987/files)) Thank you @medikoo !

[2021-02-25 12:38] jamie-unmind opened #9012 "Unable to use ${AWS::Region} or ${AWS::AccountId} in stackTags"
I would like to use the `stackTags` property in order to tag all resources in my CloudFormation stack. I would like to use `!Sub ${AWS::Region}` and `!Sub ${AWS::AccountId}` as tag values. However, I get the following Serverless error while updating the stack:
[code]

Is this possible in some other way? I have quite a few CF resources inside the `Resources` section where I'm trying to avoid having

[2021-02-25 12:53] coyoteecd opened #9013 "Cannot override aws-profile with empty value after updating from v2.23 to v2.27.1"
As explained in #9010, our frontend repo is using provider.profile when deploying from local dev PCs (for convenience) whereas the CI/CD pipeline overrides the profile setting with an empty string so that serverless picks up credentials from environment variables set by Jenkins.

This got broken in v2.24, and it is still broken in v2.27.1. While in v2.24 it complains about sub command not being va

[2021-02-25 13:13] Venus713 commented on #9006
Hi, Thank you for your reply.
Here is my serverless.yml.
[code]
And here is my s3-bucket.yml.
[code]

[2021-02-25 13:42] pgrzesik commented on #9006
I believe in your case it's an issue with invalid configuration. Bucket defined in `resources` section is going to be created and since the `s3` event definition does not include `existing: true`, it will attempt to create the bucket as well - which will result in an error that you're having here. If using existing bucket, please also keep in mind the timing issue, as the existing bucket must be c

[2021-02-25 13:47] medikoo commented on #9013
@coyoteecd  Thanks for opening, still above information is not sufficient for me to reproduce the issue.

The error `"--aws-profile=" is not a valid sub command. ` doesn't look as one that can come out of v2.27.1.
There was a known issue where param as `--aws-profile=` was not recognized, but that was fixed with https://github.com/serverless/serverless/pull/8978 (which was released with v2.26.0)

[2021-02-25 14:03] pgrzesik commented on #9012
Hello @jamie-unmind - thanks for reporting and sorry you're running into troubles. Unfortunately, it's not possible to use `Sub` with `stackTags` as `stackTags` are not a part of the CloudFormation template but are rather passed as a param to an SDK call - they need to be strings at that point. One way to do it would be to use an approach with resolving these variables with helper function as pres

[2021-02-25 14:03] alexshelkov commented on #8935
@pgrzesik I think the problem is still there. If I try to get config from: `${self:custom.mfa.methods}`, it will shows an error: `Cannot resolve variable at "resources.Resources.CognitoUserPool.Properties.EnabledMfas": Value not found at "self" source`

[2021-02-25 14:10] iDVB commented on #9001
Thanks @pgrzesik
Will run an independent SHA check on the function file in question.
Any ideas on what type of command to best test?

[2021-02-25 14:16] pgrzesik commented on #8935
I believe that might be related to recent changes to variables parser/resolver. If I'm not mistaken, you need to provide fallback value of `null` in such case - so it should be `${self:custom.mfa.methods, null}` - I've tested locally and I believe it should work. Please let me know

[2021-02-25 14:19] ghost opened #9015 "No xxx.zip provided when trying to deploy package using CodePipeline/CodeBuild"
I'm trying to deploy a serverless app with two functions using CodeBuild. In the serverless.yml I used settings for packaging individually with includes and excludes. When I remove these settings from the yaml file, everything runs perfectly. Because we are going to add a lot more functions in the future we really need this functionality to work with AWS CodeBuild.

I feel like this is somehow rel

[2021-02-25 14:26] alexshelkov commented on #8935
Yes, it works but it fails again in more complex situation: `${self:custom.mfa.methods.${self:custom.mfa.status}, null}` here is we use one var depend on another.

[2021-02-25 14:27] mikewolfd commented on #6203
Thanks for the update/follow-up!

[2021-02-25 14:34] coyoteecd commented on #9013
Fair enough, I built a complete example that I tested and gives the described behavior:

**serverless.yml**
[code]

**package.json**
[code]

Run `npm install` and `npm test`. I get the following error:

[code]

[2021-02-25 14:38] pgrzesik commented on #9015
Hello @VincentHuysmans1, thanks for reporting. I've tried to reproduce your issue locally with a simplified version of your config but with no luck - in the approach you're using, you have to first package your functions with `package` command - could you share how are you doing that? Could you also list the contents of the directory `$CODEBUILD_SRC_DIR/artifacts/$ENV`? Are there function artifact

[2021-02-25 14:43] medikoo commented on #9013
@coyoteecd this error signals, that AWS profile `devprofile` is not configured your environment. Do you find it unexpected?

Still, I see one UX related error on our side. We should throw there `ServerlessError`, so it's presented without stack trace (I'd also improve wording to `AWS profile "devprofile" is not found to be configured in local environment`.
It can be fixed here: https://github.com/

[2021-02-25 14:45] VincentHuysmans1 commented on #9015
The package command:

`serverless package --package artifacts/${ENV} --stage ${ENV}  -v`

The content of artifacts folder:

[code]
Thanks

[2021-02-25 14:52] coyoteecd commented on #9013
It's not the error message, that one is pretty clear (for me).

In v2.23 and older, passing `--aws-profile=` is treated as empty (but *present*) value and overrides the "devprofile" fallback value, so you would get another error depending on whether you have environment variable set or not. Now it doesn't, it resolves to the fallback value, which is exactly what I was trying to override.

[2021-02-25 15:12] medikoo commented on #9013
Ok got it. So with new parser not passing `--aws-profile` and passing it as `--aws-profile=` doesn't make real difference (internally first resolves to `undefined` second to `null` and both are handled same).

Thing is that new parser unified how results from sources are handled. If source (no matter which). resolves with `null`, it requires fallback to be validated.

I think there's no easy fix t

[2021-02-25 15:25] medikoo commented on #9013
@coyoteecd still give us a moment. I'm having a second thoughts, and considering supporting intentional `null` as value from which we should not fallback. It actually makes sense in many scenarios

[2021-02-25 15:32] Venus713 commented on #9006
Hi @pgrzesik
Thank you for your kind help.

[2021-02-25 15:51] pgrzesik commented on #9006
No problem @Venus713 - please let me know if that solves your issue - if it's not a Framework bug, we'll close this issue :+1:

[2021-02-25 15:55] iDVB commented on #9001
@pgrzesik Something odd is happening now.
I've upgraded locally to the newest SLS
[code]
any now, no matter what command I run (other than `serverless -v`) nothing happens at all.

[2021-02-25 16:34] iDVB opened #9016 "SLS v2.26.0 or after, CLI commands do not work. Only version command."
https://serverless-contrib.slack.com/archives/C6TNP39CK/p1614268752000600
Something odd is happening with SLS on any version **after v2.25.2**
When I run `serverless -v` , I get the following…
[code]
However ANY other command nothing happens at all. The terminal just successfully returns with ZERO output.

**-- This is also happening in our CI pipeline now with the updated version. --**
**-- Rever

[2021-02-25 19:37] medikoo commented on #9016
@iDVB As discussed on Slack, it appears as issue specific to your service configuration.

To be able to move forward with it, we need to be able to inspect full content of `serverless.yml` and eventual files it imports (ofc with sensitive data masked out)

[2021-02-25 19:40] iDVB commented on #9016
@medikoo updated in the ticket description. ☝️

[2021-02-25 19:43] medikoo commented on #9016
@iDVB can you also provide the content of `vars.yml` ?

[2021-02-25 19:46] pgrzesik commented on #9001
Hey @iDVB :wave: Internally we're using this util: https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/lib/getHashForFilePath.js - you can strip out the memoization and use it to compute the filehash. I've tried to reproduce it in multiple scenarios but no luck. Btw - did it work for previous versions and started breaking recently or it never work in your CI/CD env?

[2021-02-25 19:51] iDVB commented on #9016
@medikoo
I can't really since its mainly sensitive info.
But removing this line from serverless.yml does fix the issue....
`vars: ${file(./vars.yml):${self:provider.stage}, file(./vars.yml):dev}`

I've added a redacted vars.yml above.

[2021-02-25 19:52] medikoo commented on #9016
@iDVB thanks I can reproduce it now. Looking into it

[2021-02-25 20:14] iDVB commented on #9001
I worked in about 5 months ago. I can get specifics if you need.
I ended up fixing the issue "for now" I believe, but forcing **all** functions to have changes. Just a small console change to each. Now the deploy is able to complete.

I then had [this issue](https://github.com/serverless/serverless/issues/9016) which sounds like the team is on a fix for.... and after reverting SLS version, I'm now

[2021-02-25 21:04] iDVB commented on #9001
I just ran the EXACT same code locally with the exact same SLS v2.25.2

It deployed fine, with no "function exists error" but indeed still the same [domain-manager issue](https://github.com/amplify-education/serverless-domain-manager/issues/415).

That domain-manager issue seems to happen after the successful deploy.... so it appears to be unrelated.

So I'm still having this issue in the pipeline

[2021-02-25 22:04] verbunk opened #9017 "[ENH] Improve "Unrecognized provider" warning more"
### Use case description

⚠️⚠️ REPLACE WITH DESCRIPTION

[2021-02-25 22:12] Venus713 commented on #9006
Hi @pgrzesik
Sure, I resolved the issue. it is not a framework bug. Please close it.
Thank you.

[2021-02-25 22:12] devduvan opened #9018 "Support for lambda authorizers in HTTP API"
### Use case description

I'm creating a lambda authorizer for my HTTP API with cloudformation because AWS has already support lambda authorizers in HTTP apis but when i'm going to try reference in my function on serverless i have the next error: "An error occurred: HttpApiRoutePostCompanies - Invalid authorizer ID specified. Setting the authorization type to JWT requires a valid JWT authorizer. (

[2021-02-26 01:30] benlongmire commented on #8940
Hey @pgrzesik, yep I can confirm it now works when auth removed and app uninstalled i.e starting from blank.

Good stuff 👍

[2021-02-26 01:31] #8940 closed

[2021-02-26 07:51] pgrzesik commented on #9006
Thanks for the follow-up - I'm happy we managed to resolve the issue :partying_face:

[2021-02-26 07:51] #9006 closed

[2021-02-26 07:55] pgrzesik commented on #9018
Hello @devduvan - thanks for reporting - I believe it's a duplication of https://github.com/serverless/serverless/issues/8210 - I'm going to close this one and if you have suggestions, please report in the linked issue. We're planning to work on supporting it in the coming weeks, unless someone from community will grab it sooner.

[2021-02-26 07:55] #9018 closed

[2021-02-26 08:09] VincentHuysmans1 commented on #9015
@pgrzesik Do you want me to provide some additional information?

[2021-02-26 08:11] pgrzesik commented on #8974
Hello @MeRahulAhire - I did not manage to reproduce you issue with the exact same example you've posted both with using cURL as well as calling with `fetch` from the browser. Maybe there's a configuration problem with how you're calling your endpoint from the browser? Anyway - I believe it's not an issue with the framework but with your individual configuration - in this case, I think it would be

[2021-02-26 08:18] pgrzesik commented on #9015
Hello @VincentHuysmans1 - I was just looking into it and trying to reproduce your issue but didn't manage to as of yet.

The listing of `artifacts` folder is from the separate build step or it's listed right before the `serverless deploy --stage $ENV --package $CODEBUILD_SRC_DIR/artifacts/$ENV -v` command is executed? It seems like the artifacts are not available inside the `$CODEBUILD_SRC_DIR/art

[2021-02-26 08:20] VincentHuysmans1 commented on #9015
It is listed right before the deploy statement. When I remove the individually packaging from the serverless.yml, everything works just fine.

[2021-02-26 08:27] pgrzesik commented on #9001
Thanks for the update @iDVB - I'm glad you've managed to find at least a partial workaround here. As for the issue itself - I didn't manage to reproduce it in any way, but I think it might be related to one of the plugins - please check out the: https://github.com/silvermine/serverless-plugin-cloudfront-lambda-edge/issues/21 and see if any potential workarounds from there work for you.

[2021-02-26 08:33] medikoo commented on #9017
@verbunk thanks for proposal. Still `Provider functionality warning` is also slightly misleading, as issue is not about how _provider_ functions, but purely that it doesn't provide configuration schema for its config.

I guess some improvement might be if we reword it to: `Configuration warning:  Unspecified provider 'openwhisk'`, and then following sentences I think really well explain what that

[2021-02-26 08:43] pgrzesik commented on #9015
While searching for potential clues, I've found a similar issue that a few people experienced in the past as well - https://github.com/serverless/serverless/issues/6964 - unfortunately, it seems like the fix didn't make it. Could you try using one of the workarounds proposed that uses relative path instead of the absolute one with `CODEBUILD_SRC_DIR`?

@medikoo As I see that you've been involved w

[2021-02-26 09:17] jamie-unmind commented on #9012
Thanks @pgrzesik!

The example of using JS helper functions solves my issue 👍

[2021-02-26 09:27] pgrzesik commented on #9012
Happy to hear that :raised_hands: I'm going to close this issue then :+1:

[2021-02-26 09:27] #9012 closed

[2021-02-26 09:37] medikoo commented on #8935
@alexshelkov in this case, to have `${self:custom.mfa.methods.${self:custom.mfa.status}, null} ` resolved, you need to ensure that `${self:custom.mfa.status}` resolves to some string value.

Otherwise it'll be seen as error, note that `${self:custom.mfa.status}` is configured to be part of string (by variables parser everything that goes after `:` is treated as one value, it's then the source reso

[2021-02-26 10:04] alexshelkov commented on #8935
@medikoo I am sure that `${self:custom.mfa.status}` resolves to string and the problem is that `${self:custom.mfa.methods.${self:custom.mfa.status}}` resolve to null. As soon as it is not null then everything is working, but null produce and error: `A valid service attribute to satisfy the declaration 'self:custom.mfa.OFF,null' could not be found.` -- as you can see `${self:custom.mfa.status}` is

[2021-02-26 10:28] medikoo commented on #8935
@alexshelkov  Problem is not perfectly clear to me. Let's maybe speak of concrete case, e.g. following template resolves for me as expected (`custom.test` ends with `null` value, and there are no resolution errors reported):

[code]

What exactly is problem on your side?

[2021-02-26 11:07] #9016 closed

[2021-02-26 11:14] medikoo commented on #9015
@pgrzesik in #6964 bug was incorrect handling of `--package` option. I remember then that I investigated it, and that handling of that setting was spread across many places, and I think it was doubled at some point (but I can't be sure now, what speficically I saw)

I started working then on refactor https://github.com/serverless/serverless/pull/7009, and while refactoring handling of this option

[2021-02-26 11:25] #6171 closed

[2021-02-26 11:33] alexshelkov commented on #8935
@medikoo please try read status from env like that: `${env:STATUS, 'OFF'}`;

[2021-02-26 11:42] medikoo commented on #8935
Indeed it fails in this case. Situation is that at this point new variables resolver covers just partial resolution (and resolution from `env` source is subject to that). Having that, your input is considered as not resolvable by new resolver, so resolution fallbacks to old variable resolver (one that back Framework since very early days), which doesn't handle that notation well.

In first days of

[2021-02-26 11:53] medikoo commented on #9013
@coyoteecd I've looked into it closer and situation is a follows:

1. After thinking it through (and discussing with @pgrzesik), I think we should not make `null` as value from which no fallback occurs. Firstly in old resolver `null` is a value for which fallback is applied, and secondly this blocks some valid scenarios. Note that in configuration we support just JSON values (so you cannot set pro

[2021-02-26 13:49] swisener opened #9021 "Support explicit null values in serverless.yml without generating a warning"
Occasionally, I would like to set a configuration value explicitly to null in serverless.yml. For example, if I would like an AWS Lambda configured with reservedConcurrency in some stages (e.g. production), but not others. Currently, you can accomplish this like so:

[code]

This currently works, but generates a warning (A valid service attribute to satisfy the declaration 'self:custom.qa.reserved

[2021-02-26 13:50] medikoo commented on #8587
@mg98 I belive that was fixed with #8927

[2021-02-26 13:50] #8587 closed

[2021-02-26 13:56] medikoo commented on #9021
@swisener you can achieve that simply by putting `null` as fallback so:

[code]

[2021-02-26 14:24] coyoteecd commented on #9013
OK, thanks for taking the time to consider it.

Aside of not enough time, I avoided switching to env files because on the backend I also have a plugin that in combination with serverless-offline, provides env vars to the lambdas when running locally, and that plugin also writes its own .env vars locally. Thus not helping with the "confusing part" at all. But yeah, this is a plugin issue and not so

[2021-02-26 16:04] #9013 closed

[2021-02-26 16:06] pgrzesik commented on #9015
Thank you for insights @medikoo :bow: I will dive a bit deep on that issue and see what I can find

[2021-02-26 16:11] pgrzesik commented on #9004
Hello @BenLanglois, thanks for reporting and sorry for not responding sooner - I've somehow missed notification about this issue. I will investigate on Windows machine and will get back to you as soon as possible. Thanks for your patience :bow:

[2021-02-26 16:15] medikoo opened #9024 "Introduce "deprecationsNotificationMode""
### Use case description

There are cases when it's nice to have deprecations reported with errors, e.g. in our test suite, it'll be good to ensure that all tests (aside of those testing deprecated feature) are also updated to not work with deprecated feature, and best way to discover it's the case, to report deprecations with crashes

### Proposed solution

Introduce `deprecationsNotificationMode

[2021-02-26 16:16] swisener commented on #9021
It still generates the warning I described...

[2021-02-26 16:18] medikoo commented on #9021
I believe it's because `${self:stage}` is not resolved, you need to provide a default for it as `${self:stage, 'dev'}`

[2021-02-26 16:25] medikoo opened #9025 "Curate most popular plugins"
### Use case description

Currently Framework is very actively developed, with a lot of changes (in many times breaking) being proposed.
At same time community heavily depends on a plugins which are not updated accordingly, and already there were few cases reported of them being broken

To effectively move forward we need to ensure that popular plugins are kept in shape and that they work with lat

[2021-02-26 16:31] coyoteecd commented on #9013
@medikoo just FYI, the env var approach is less usable for my setup, and the reason is provider.profile would let you select a profile name that's dynamically built on stage and account being deployed, whereas with env files, I have to ask each dev to create these files manually. This is because useDotenv supports .env.{stage} files with fallback to dev, but you cannot put a stage-specific profile

[2021-02-26 16:41] medikoo commented on #9013
with `.env` file's approach, you can load different `.env` file per _stage_, by creating `.env.dev`, `.env.prod` etc.

Ok, how do they then make different AWS_PROFILE settings work on their side? Do you also provide some automation for it? Or do they maintain `~/.aws` manually?

How do you then ensure stage-specific AWS profile always exists? e.g. if someone puts `--stage=foo` , how it happens tha

[2021-02-26 17:09] coyoteecd commented on #9013
I have some scripts that use the AWS CLI to ensure the profile is created before serverless deploy. So what I have to do is to create an env.stage file for it as part of that script, make that plugin write his own .env file with another name and notify everybody not to confuse the two kinds of env files.

I will find a workable solution, at this point I am just venting because of unexpected work :

[2021-02-26 17:35] devduvan commented on #9018
Thanks for your reply. 😄

[2021-02-26 19:05] ffxsam opened #9026 "Deprecation warnings when using ${file()} with arbitrary file extensions"
### Use case description

I'm getting deprecation warnings that seem to say in future versions of Serverless, I won't be able to use `${file()}` on arbitrary text-based file types (e.g. .graphql).

[code]

Example serverless.yml excerpt:

[code]

### Proposed solution

Unsure.

[code]

[2021-02-26 21:41] emibelli opened #9027 "Deployment fails when useDotenv references undefined environment variable in v2.28.0"
Command `serverless deploy` fails when `useDotenv` field in `serverless.yml` references undefined/unexisting environment variable `SLS_USE_DOTENV` after updating Serverless Framework to v2.28.0 (issue did not occur using Serverless Framework v2.27.1).

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>SLS_DEBUG=* serverless deploy</code> outp

[2021-02-27 03:34] azwan80033 commented on #9024
can help me, my phone huawei nova 7 5G
google playstore can't use. any some one can help me??

[2021-02-27 10:21] MeRahulAhire commented on #8974
@pgrzesik I think I got what actually the issue is. the `CORS` property in `serverless.yml` wont work alone. You do need a headers in lambda function and ironically what I saw is whenever any error occurs it just throws `CORS` error in browser regardless of what it actually was. I think I do need to implement error handling correctly

[2021-02-27 18:18] #8974 closed

[2021-02-27 19:17] iDVB commented on #9001
FIXED!
It WAS to do with the [serverless-plugin-cloudfront-lambda-edge](silvermine/serverless-plugin-cloudfront-lambda-edge#21 ) issue and plugin. Moreover.... it was due to the fact that [ANOTHER plugin](https://www.npmjs.com/package/serverless-plugin-git-variables) was also adding tags to the functions (not wanted) and that was causing the same issue described.

Just needed to set the plugin ser

[2021-02-27 19:17] #9001 closed

[2021-02-27 21:56] neverendingqs commented on #8364
I was doing some investigation on how the changes here will impact [`serverless-dotenv-plugin`](https://github.com/neverendingqs/serverless-dotenv-plugin). I did some quick tests with https://github.com/serverless/serverless/pull/8987 and it looks like `env` variables are currently resolved before and after step 2.7 at `serverless>=2.26.0`.

If I am understanding the proposed solution correctly, `

[2021-02-28 08:11] ariel-frischer commented on #8983
Yes using docker my entrypoint `/usr/bin/dumb-init` using cmd: `yarn serverless offline` I need to figure out how to allow lambda to use a writeable container I guess.

[2021-02-28 11:59] bryantbiggs commented on #3528
any updates on this - is it even on the roadmap @medikoo ?

#3421
#3696
#4715
#5150
#6145
#7085

tl;dr - I think all are looking for serverless to be able to support artifact promotion (build once, deploy many) across environments even when packaging individually

[2021-02-28 13:54] TrierHealth commented on #8841
Hi, any newer findings on this ? If this is exactly same as the other issue you mentioned, yes, this can be closed marking it duplicate.

[2021-02-28 21:52] ffxsam commented on #9026
This is actually more serious than I thought. It says it's a deprecation warning, but it actually removed all of our AppSync resolvers from our stack!

[2021-02-28 22:33] M1kep commented on #5634
@arcanis  What would be the best way to run `serverless invoke local` with these changes? I've attempted to run via `yarn node serverless invoke local` but that still throws errors about files such as `serverless.node` and `serverless.js` not being found.

[2021-03-01 02:30] imewish opened #9030 "Enable DynamoDB Streams Custom Checkpointing"
### Use case description

Enable custom checkpointing for dynamodb streams. There was a recent [announcement](https://aws.amazon.com/about-aws/whats-new/2020/12/aws-lambda-launches-checkpointing-for-amazon-kinesis-and-amazon-dynamodb-streams/) from AWS. This feature lets users add a checkpoint to the failed message in the batch by which successfully processed messages prior to the failed messages

[2021-03-01 07:47] mohdizzy commented on #9026
I am seeing this for .yml extensions too. When referencing some local variable imports with `file`, the stack fails with the error above

[2021-03-01 08:13] pgrzesik commented on #9001
Hey @iDVB, thanks for reporting back - happy that you've managed to resolve your problem :raised_hands:

[2021-03-01 08:16] pgrzesik commented on #8983
@ariel-frischer What base image are you using when running `yarn serverless offline`?

[2021-03-01 09:28] bissli82 commented on #8550
Any update on this? Still an issue here

[2021-03-01 09:59] ariel-frischer commented on #8983
`jrottenberg/ffmpeg:4.3.1-ubuntu1804`

[2021-03-01 10:00] pgrzesik commented on #8550
Hello @bissli82 - this is unfortunately still a bug in CloudFormation - there's also a corresponding issue here: https://github.com/aws/serverless-application-model/issues/1320

[2021-03-01 10:02] ariel-frischer commented on #8983
If I could set the writable directory for serverless-offline to `/tmp` that might work also.

[2021-03-01 10:05] pgrzesik commented on #9030
Hello @imewish, thanks a lot for submitting your request. How do you think that configuration should be exposed in the Framework? Via `functionResponseTypes` property on an `event`?

[2021-03-01 10:38] medikoo commented on #9026
@ffxsam Thanks for report. Note that this is just a warning (not an error), and should not change in anywa how deployment works for you. If new parser cannot resolve the variable, then old parser handles the configuration in exactly same way as in old versions.

Can you provide more details on why you assume new version removed your AppSync resolvers?

[2021-03-01 10:38] medikoo commented on #9026
Otherwise, we will add support for plain text file imports to new variables resolver shortly

[2021-03-01 10:40] ami000 commented on #9026
<img width="1096" alt="Screen Shot 2021-03-01 at 3 55 15 PM" src="https://user-images.githubusercontent.com/25586319/109484520-89345480-7aa6-11eb-9fee-e6bf00a89cbc.png">

With the above serverless.yml, I am facing the same error (also screenshotted below)-

<img width="1299" alt="Screenshot_2021-03-01_at_5_55_22_PM" src="https://user-images.githubusercontent.com/25586319/109486244-9d795100-7aa8-11

[2021-03-01 10:46] medikoo commented on #9026
@ami000 as mentioned above, it's a _warning_ (not an _error_) that doesn't change how deployment is processed (when comparing with older version of a Framework).

One confusing bit about you're input, is that in first screenshot you show that you've set `variablesResolutionMode`, and this setting, will turn this _warning_ to an _error_. While in second screenshot you show output when it's handed a

[2021-03-01 10:53] ami000 commented on #9026
Apologies, please ignore my previous comment-

I have attached my yaml below-

[code]

The above yaml resulted in the below error-
<img width="1195" alt="Screen Shot 2021-03-01 at 4 06 25 PM" src="https://user-images.githubusercontent.com/25586319/109487347-1a58fa80-7aaa-11eb-834b-32f1a5e63565.png">

And so I set the `variablesResolutionMode: 20210219`.

Which then resulted in the main issue.

[2021-03-01 10:56] medikoo commented on #9026
@ami000 can you show full output of a command with `SLS_DEBUG=*` ?

[2021-03-01 10:58] medikoo commented on #9026
@ami000 also please state what exactly command you're using with all parameters

[2021-03-01 11:00] ami000 commented on #9026
With which yaml should I call the command with `SLS_DEBUG=*`?

`variablesResolutionMode: 20210219` this property is to be set or not?

[2021-03-01 11:03] ami000 commented on #9026
Below is my full deploy command.

`serverless deploy --stage beta --region ap-southeast-1 --force --org XXXXXX --app XXXXX --debug`

[2021-03-01 11:10] medikoo commented on #9026
You've shown me a screenshot which shows part of an output from unspecified command. To be able to diagnose anything I need to know (1) for which command that output was produced (2) Have full output for inspection, additionally with same command but run with `SLS_DEBUG=*` env variable, as that will output more valuable information

With this property you indicate that you want all new variable re

[2021-03-01 11:49] medikoo commented on #9013
Thanks @coyoteecd for explanation. To be honest, this setup it still quite vague to me, and I need to understand it, to understand well the use case, hence my questions

And what about AWS credentials? Technically AWS profiles map specific credentials, so I believe scripts have some hard-coded set of credentials, which are distributed across created AWS profiles, right? Or do those scripts also cr

[2021-03-01 11:54] ami000 commented on #9026
Below is my full build log using `SLS_DEBUG=*`

[code]

[2021-03-01 11:59] medikoo commented on #9026
@ami000 thank for update. Still it doesn't look that `SLS_DEBUG=*` was set (as that will expose full stack trace, and it's not the case).

Can you run command as:

[code]

And paste full output?

Also can you report it as new issue (with full `serverless.yml` content and command output) ? Note issue you're facing is not relevant to one in question (which is about different variable resolution warn

[2021-03-01 12:13] medikoo commented on #9027
@emibelli thanks for report.

What actually happened here, is that new version exposed an error, which you already had, but which was not exposed to you in older version.

Before v2.28.0 `useDotenv` was read before any variables were resolved, so value that was read is `"${env:SLS_USE_DOTENV, true}"` which was coerced to boolean `true`. So technically this property was unconditonally `true` for yo

[2021-03-01 12:25] medikoo commented on #8364
@neverendingqs In new variables resolver `env` variables are only resolved from environment variables as found on `process.env`. Still if configuration will reference variables not defined in `process.env`, then properties will be kept unresolved, and it's old variables resolver that will attempt to resolve them (and it's where I believe `serverless-dotenv-plugin` will jump in with it's resolution

[2021-03-01 12:26] HarshavardhanK commented on #9024
Hey @medikoo I'd like to work on this!

[2021-03-01 12:27] medikoo commented on #8364
@neverendingqs note that we're open to offer any help needed to adapt the plugin to new resolver. So do not hesitate to ask, we may also discuss it further in context of `serverless-dotenv-plugin` repository (cc @pgrzesik )

[2021-03-01 12:45] neverendingqs commented on #8364
Thanks @medikoo. I think for v3, it might be best to try to propose / port the popular use cases of the plugin into Serverless's dotenv resolver, and then deprecate the plugin, as I don't think auto-loading all envs for all Lambda functions is safe from a security point of view.

[2021-03-01 12:49] neverendingqs commented on #8364
If auto-loading env vars for all functions is desirable, I can always adjust the plugin to loop through all the functions and add it, so I don't believe the plugin will need the proposed `lambdaEnv`.

[2021-03-01 12:55] medikoo commented on #3528
@bryantbiggs We have that in mind, but it requires a significant change to Framework internals.

Currently compilation of end CF template and generation of packaging artifacts is mixed into same process flow, while to achieve this those have to be treated as totally separate.

We need to provide a mean to package artifacts, without a requirement for full configuration resolution and without attemp

[2021-03-01 12:56] neverendingqs commented on #8364
Ah also, if `file` loads first before `env`, then technically users can do whatever they want by loading `dotenv` in a JavaScript config file as long as they import at least one variable from that file. That could be an immediate workaround for anyone in v3.

[2021-03-01 13:16] medikoo commented on #9024
@HarshavardhanK Great to hear that. We look forward!

[2021-03-01 13:19] medikoo commented on #8364
Technically it's more that all properties are resolved at once, and if property which is behind variable depends on the other behind variable, then the other is ensured to be fully resolved before we attempt to resolve first one.

[2021-03-01 14:33] jamie-unmind opened #9031 "Unable to configure STAGE tag"
Serverless appears to be adding a `STAGE` tag to my CFn stack by default. Is it possible to configure this to be lowercased to `stage`?

<img width="1270" alt="Screenshot 2021-03-01 at 14 31 30" src="https://user-images.githubusercontent.com/75371176/109511421-eb875800-7a9a-11eb-940a-2e035635caa8.png">

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summar

[2021-03-01 16:03] ffxsam commented on #9026
@medikoo I was mistaken, apologies. I noticed my resolvers disappeared during one of my deploys, despite me not modifying any of the schema at all. I figured the `${file()}` issue was the reason, but apparently it wasn't! If I see it again and can pinpoint a specific cause related to Serverless, I'll post here again. Otherwise, everything seems fine.

[2021-03-01 16:05] medikoo commented on #9026
@ami000 Otherwise from what I see, error is thrown by the old Variables parser, which is used since early days of v1, and I believe same error will be thrown by older versions of Framework (you will just not see the presented warnings which come from a new parser, attempting to read configuration and giving up).

@ffxsam support to resolve as plain text non standard file extensions will be address

[2021-03-01 16:08] medikoo commented on #9026
@ffxsam Thanks for info. Great to know, we're sure it's not a new variables resolver that's the issue. Let us know if you have any other specific news on that.

[2021-03-01 16:09] ffxsam commented on #9026
@medikoo It's literally never been a problem until now. Maybe just a fluke. If I see it again and can figure out some sort of way to replicate it reliably, I'll post a new issue with all the relevant details for you.

[2021-03-01 16:40] pgrzesik commented on #9031
Hello @jamie-unmind, thanks for reporting. At the moment it's not customizable, but I'm not aware if there are no functionalities that depend on this tag being present in uppercase. @medikoo do you happen to know if we're relying on that tag in any way? I didn't find anything in the codebase

[2021-03-01 16:49] #9026 closed

[2021-03-01 16:51] pgrzesik commented on #9031
Thanks @medikoo - I think you're totally right - I've missed the logic that checks for collisions with lowercasing the default keys so it should be possible. @jamie-unmind - could you confirm that what @medikoo proposes does work for you?

[2021-03-01 17:08] terrybondy opened #9033 "Cannot use equalto `=` in env value for serverless invoke local - Take 2, with patch that fixes"
Likely a resubmission of https://github.com/serverless/serverless/issues/7819

Invoking locally with an `--env` option that contains an '=', e.g.
[code]
will effectively truncate the option at the second '=', so the above command effectively becomes
[code]

For the following, a simple java lambda was created like this:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</det

[2021-03-01 17:11] jamie-unmind commented on #9031
Thanks @pgrzesik @medikoo!

I've tested this, and it works 👍 My `stage` tag is lowercase.

[2021-03-01 17:14] terrybondy commented on #9033
To explain the patch, from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split

[2021-03-01 17:23] terrybondy commented on #7819
Likely not duplicate of https://github.com/serverless/serverless/issues/7087 because of https://github.com/serverless/serverless/issues/9033

[2021-03-01 18:28] imewish commented on #9030
I would love to open a PR for this change. Kind of tested locally and works as expected.

[2021-03-01 20:14] medikoo commented on #9024
In https://github.com/serverless/serverless/pull/9035 integration test were updated to not rely on deprecated features.

Still there's [custom resource based`eventBridge` test](https://github.com/serverless/serverless/pull/9035) which intentionally tests deprecated feature. When addressing this issue, configuration for this test need to be extended with `deprecationsNotificationMode: warn`

[2021-03-01 23:39] zhaoyi0113 opened #9036 "Get conflict when deploy to API gateway in parallel via serverless?"
I am deploying to AWS by serverless deploy command. There is a API Gateway already deployed and I deploy a couple of lambdas from different project to attach to the same API gateway.

The serverless.yml files for these projects look like:

provider:
  apiGateway:
    restApiId: !ImportValue ${self:custom.apiGatewayStackName}-apiGatewayId
    restApiRootResourceId: !ImportValue ${self:custom.apiGat

[2021-03-02 01:32] s1mrankaur opened #9037 "Logical not of boolean value of variables in serverless yml file"
I am looking to do something like:
    thundra_agent_lambda_debugger_enable: !Not ${self:custom.thundra.disable}
    thundra_lambda_publish_cloudwatch_enable: !Not ${self:custom.thundra.disable}

Surprising that it does not seem to be an option
<!--

[2021-03-02 01:45] onhate opened #9038 "provider.apiGateway.shouldStartNameWithService as true does not works for websocket API"
Setting provider.apiGateway.shouldStartNameWithService to true does not renames the API for Websocket lambdas.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

I have both REST and Websocket on same serverless deployment and it works for REST but not for Websockets

![image](https://user-images.githubusercontent.com/980905/109584160-cff27080-7adf-11eb-9395-a393324f79a

[2021-03-02 02:21] imewish commented on #9030
Thanks, @pgrzesik. I will work on the PR. To answer your question, as per cloudformation [docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-eventsourcemapping.html#cfn-lambda-eventsourcemapping-functionresponsetypes), they are expecting `(Streams) A list of current response type enums applied to the event source mapping.`. So yes it should be an array of stri

[2021-03-02 08:15] coyoteecd commented on #9013
My setup is as follows:
- backend git repo that deploys all the AWS resources, including buckets for frontend/documentation repos.
- 4 repos with frontend apps/documentation websites, that get deployed via serverless s3sync to the existing buckets.

We have a master AWS account that holds the IAM users, and additional accounts for dev/staging/prod. In each account, there are roles named according

[2021-03-02 09:42] medikoo commented on #9013
@coyoteecd thanks for thorough explanations. So If I understand correctly situation is as follows:

1. Developers on their side run scripts to configure content of `~/.aws` on their local machines with all the needed AWS profiles configuration.
2. Developers choose profile with which application is to be deployed by passing `--aws-profile` option to `sls` comand, and if this option is not passed,

[2021-03-02 09:48] medikoo commented on #9013
And if you'd prefer to have `AWS_DEFAULT_PROFILE` set per service and not for user globally. Then you can put it into `.env` file, which technically can also be versioned in repository (so effect would be same as now when storing this value in serverless config)

[2021-03-02 12:19] pgrzesik commented on #8983
Are you setting the container to be nonwritable somehow locally? I'm afraid it's not a problem with the Framework itself but rather with your local setup or with `serverless-offline` plugin, but it's hard to diagnose without more information. As for the image you provided - are you using it as a base for an image that you use to run `yarn serverless offline`?

[2021-03-02 12:24] pgrzesik commented on #9037
Hello @s1mrankaur - thanks for reporting. Could you please share a bit more about what are you trying to achieve? In the above example, is there a reason as to why you cannot flip the logic on `custom.thundra` level and use `enable` instead of `disable`? Notation as you're presenting with `!Not` could be viable on CloudFormation level, but it seems like it's not the case in your example.

[2021-03-02 12:27] pgrzesik commented on #9036
Hello @zhaoyi0113 - thanks for reporting. Could you please follow the issue template that is presented to you when creating a new issue? It is helpful to have all details when trying to diagnose the problem. Did you experience at all this issue when running a single deployment? Do you have by any chance good steps to reproduce the problem?

[2021-03-02 12:30] pgrzesik commented on #8841
Hello @TrierHealth :wave: Unfortunatelly, it seems like at the moment the only option is to use the workaround that I've linked to from other issue. Also as mentioned in the discussion in linked issue, it is unforntuatelly tricky to resolve and we will need an additional locking mechanism in order to do it properly - until we have that, this issue is going to be blocked.

As mentioned, this is a d

[2021-03-02 12:30] #8841 closed

[2021-03-02 14:40] coyoteecd commented on #9013
No, the developers just pass in the stage parameter. The profile that serverless uses is inferred from the stage parameter, using the naming conventions. I'll give an example here:
[code]
where `myProfile` is further resolved based on the environment (aka AWS account) being deployed; for dev being something along the lines of `deploy-app-${self:provider.stage}` (backend sls profile) or `deploy-fro

[2021-03-02 15:21] medikoo commented on #9013
So in that case, it probably can be solved by same script which does `~/.aws` setup. It can also create `.env.<stage>` files in the service folder, through which AWS profile will be chosen depending on stage (?)

True, and anyway versioning `.env` doesn't feel right. Still it can be generated for service folder by script as above.

[2021-03-02 15:33] DaveLo opened #9044 "provider.iam.role configuration validation warns incorrectly"
If I define a provider role like so:
[code]
I receive the following warning
[code]
but this is definitely a working configuration which attaches the referenced policies, and according to the docs a [valid one](https://www.serverless.com/framework/docs/providers/aws/guide/iam/).

<details>
<summary><code>serverless.yml</code></summary>

Created a minimal reproduction with a single internal referenc

[2021-03-02 16:21] mattnedrich commented on #7405
Does this have any resolution?

[2021-03-02 17:58] dougmoscrop opened #9047 "Serverless commands exit after a brief delay without printing any output"
When I execute any serverless command ~other than `help`~ there is a brief pause and then the process exits.

<details>
<summary><code>serverless.yml</code></summary>
I can't provide this but the issue only appears when a specific, but not only, ${file(xyz.yml)} directive is present (so there were two file imports for yml)
</details>

<details>
<summary><b><code> sls info --stage=test</code> outpu

[2021-03-02 18:01] rfoel opened #9048 "Fetching SSM variables from file v2.28.1"
While deploying a service I noticed that fetching SSM variables from a config file stopped working when using the latest release v2.28.1. I understand that there's some deprecation but it shouldn't come until the v3, correct? The output in my lambda is the string from my config file now.

[code]

[code]

<b>Installed version</b>

[code]

[2021-03-02 18:56] medikoo commented on #9047
@dougmoscrop thanks for report, still just with this information I'm not able to reproduce the error.

I've created a simple test service that does two imports on same yml file: https://github.com/medikoo/test-serverless/tree/issue-9047 and it deploys without the issue on Windows:

![Screenshot 2021-03-02 at 19 52 00](https://user-images.githubusercontent.com/122434/109699377-cd038880-7b90-11eb-9a

[2021-03-02 19:08] medikoo commented on #9048
@rfoel thanks for reporting. It definitely should remain working as it worked, let me check what happened

[2021-03-02 19:38] tquintans opened #9049 "Service with Step Function Fails Deployment for v2.28.1"
Services with Step Function is failing to build with a vague error:
[code]

No code changes were made just using the latest version. When forced to install with `v2.28.0`, deployment ran successfully.

Plugin used for step function in serverless.yml: `"serverless-step-functions": "^2.26.0"`

[2021-03-02 19:42] medikoo commented on #9049
@tquintans thanks for report. Can you post full content of `serverless.yml` with sensitive content masked out?

[2021-03-02 20:24] #9048 closed

[2021-03-02 21:16] medikoo commented on #9049
@tquintans we've fixed one critical issue with just released v2.28.2. Please check whether that fixed the issue on your side.

If it's not the case, then we need more information from your side. Especially what are the variable references in the configuration, as due to introduced new variables resolver, it's were eventual (unexpected) change in processing might have happened

[2021-03-02 21:16] pgrzesik commented on #9044
Thanks for reporting @DaveLo :bow: I believe in this case it's an issue with our schema validation, which does not accept CF intrinsic functions and instead expects strings that start with `arn`. I don't see a reason as to why we couldn't support CF functions as well.

We'd be more than happy to accept a PR that relaxes schema to also allow CF intrinsic functions. :partying_face:

[2021-03-02 21:18] tmanning commented on #9048
This still fails in v2.28.2:
[code]
An error occurred: IamRoleLambdaExecution - Resource ${cf.${self:provider.region}:my-project-${self:provider.stage}.MyTableArn} must be in ARN format or "*".

[2021-03-02 21:36] medikoo commented on #9048
@tmanning Thanks for follow up, will be fixed in next patch

[2021-03-02 22:25] zhaoyi0113 commented on #9036
yes, I have deployed a API gateway and there are about 10 jobs who deploy some lambdas to this API gateway at the same time. Usually two or three of them failed with the error `ApiGatewayDeployment1614293351030 - No integration defined for method (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException; Request ID: c90a3438-df7b-4c04-a3b6-d35eef1fcb9d; Proxy: null)..`

they ca

[2021-03-02 22:35] medikoo commented on #9048
@tmanning fix was just  published with v2.28.3

[2021-03-02 22:52] abbassnass commented on #9049
same issue here!
![image](https://user-images.githubusercontent.com/79102593/109726045-52e3fb80-7bb2-11eb-9d3a-fa27c31d3f69.png)

[2021-03-02 23:28] vtr-rivia commented on #9049
Same issue here, running on Serverless Dashboard
<img width="1059" alt="image" src="https://user-images.githubusercontent.com/67164852/109728916-d80ce780-7b95-11eb-89c9-2de3fc593823.png">

[2021-03-02 23:42] darksinge opened #9055 "Variables resolver incorrectly reporting errors"
Starting with version [2.26.0](https://github.com/serverless/serverless/releases/tag/v2.26.0), which includes a new parser and resolver implementation (coincidence?), I'm seeing errors when importing a secret from AWS Secrets Manager using the "ssm" syntax which includes the region the secret resides(i.e., `${ssm:/aws/reference/secretsmanager/MySecret~true}` is fine, but not `${ssm.us-east-1:/aws/

[2021-03-03 06:32] HarshavardhanK commented on #9024
Hey, @medikoo I configured the schema for it, but not able to figure out how to handle the new setting in lib/utils/logDeprecation.js . And confirming that deprecationsNotificationMode needs to be set to 'error' in the serverless.yml of each fixture.

[2021-03-03 06:59] EliaContini commented on #3792
Hi,

I have a similar issue. I'm trying to install Serverless locally on Ubuntu 18.04.5 LTS.
Node.js: 14.16.0
npm: 7.5.6
Node.js and npm installed as snap

Steps to reproduce
1. create a folder (mkdir test && cd test)
2. npm init
3. npm install serverless (I tried even with sudo npm install -g serverless)

I got this error

[code]
No ```node_modules``` folder is created during the process.

I even

[2021-03-03 07:42] medikoo commented on #9049
@abbassnass @vtr-rivia Can you provide a `servelress.yml` content (with sensitive content masked out), Without that I'm not able to diagnose anything.

Also Ideally if you prepare a new bug reports, while you receive similar error it doesn't mean it's caused by very same issue, and we have no details from @tquintans either to be able to tell what is the issue on its side.

[2021-03-03 07:43] medikoo commented on #9055
@darksinge Thanks for report, still I believe that was fixed with v2.28.3. Please confirm

[2021-03-03 07:44] imewish commented on #9030
@pgrzesik created a PR. https://github.com/serverless/serverless/pull/9056. Awaiting your review and feedback. Thanks

[2021-03-03 07:54] medikoo commented on #9024
This util receives a service configuration with `serviceConfig` option. So you should throw if `serviceConfig.deprecationsNotificationMode === 'error'`

Still (sorry I forgot about that in spec) you also need to port `deprecationsNotificationMode` to `serviceConfig` (that's being passed to util) in context of `Service.js` class. You need to follow same way as with this properties: https://github.c

[2021-03-03 08:03] abbassnass commented on #9049
Hello! Thanks for your help! Thats my serverless.yml file:

service: SrvWWDashboard

frameworkVersion: "^2.1.0" # >=2.1.0 && <3.0.0

package:
  individually: true
  exclude:
    - artifacts/**

provider:
  name: aws
  runtime: python3.8
  stage: ${opt:stage,'dev'}
  region: ${opt:region, 'eu-central-1'}
  versionFunctions: true
  logRetentionInDays: 90 # Set the default RetentionInDays for a Cloud

[2021-03-03 08:08] medikoo commented on #9049
@abbassnass great thanks! Is there a chance you can fix formatting in this comment? Ideally if all `serverless.yml` content is put between markdown yaml formatting brackets as bellow

[code]

And that proper indentation is respected, currently it's hard to read how properties are indented in above comment

[2021-03-03 08:11] abbassnass commented on #9049
Done! Thanks!

[2021-03-03 08:33] pgrzesik commented on #9033
Hello @terrybondy - thanks for reporting. That is a nice catch and I've tested locally and can confirm that it's not supporting passing variables as you highlighted. I believe it's safe to introduce a patch as you proposed above. We'd be happy to accept that improvement as a PR if you're up for it :raised_hands:

[2021-03-03 08:39] medikoo commented on #9049
@abbassnass great thanks. Still unfortunately that configuration doesn't reproduce any issue for me.

I've prepared a repository (it also has versioned dependencies) here: https://github.com/medikoo/test-serverless/tree/issue-9049 with exactly same config as you provided above and e.g. `sls print` works without any issues (and variables resolver which triggers the error that you see, is also run w

[2021-03-03 08:45] medikoo commented on #9047
On Slack I learned that problem can be reproduced with:

_serverless.yml_
[code]

_xyz.yml_
[code]

Will be fixed with #9057

[2021-03-03 08:53] pgrzesik commented on #9015
Hello @VincentHuysmans1 - thanks for patience here - unfortunatelly due to other priorities I won't be able to focus more on researching this issue during this week for sure - sorry about that. Did you try the proposed workaround from linked issue? Would that be an acceptable solution in the meantime?

[2021-03-03 09:02] VincentHuysmans1 commented on #9015
Hi @pgrzesik - you too thanks for the time you've already spend on investigating. I have not tested the workaround yet, but I will try it today and come back at it.

[2021-03-03 09:13] #9047 closed

[2021-03-03 09:50] abbassnass commented on #9049
This is the only error log I receive upon testing with sls print.
[code]
![Screenshot 2021-03-03 at 10 47 08](https://user-images.githubusercontent.com/79102593/109786923-f9111f00-7c0d-11eb-9b23-075d221c0902.png)

[2021-03-03 09:54] medikoo commented on #9049
@abbassnass Ok I got it reproduced with `sls package`.. looking into it

[2021-03-03 10:08] vtr-rivia commented on #9049
This is my serverless.yml content

`frameworkVersion: '2'
org: vtroliveira
app: hsm
service: bi-ebradi
configValidationMode: off

provider:
  name: aws
  runtime: nodejs12.x
  versionFunctions: false
  stage: ${opt:stage, 'dev'}
  logRetentionInDays: 1

plugins:
  - serverless-plugin-optimize
  - serverless-pseudo-parameters
  - serverless-iam-roles-per-function
  - serverless-step-functions

pack

[2021-03-03 11:08] medikoo commented on #9049
Thanks for all the information, issue is specific to `serverless-step-functions` usage, and will be fixed shortly with https://github.com/serverless/serverless/pull/9060

[2021-03-03 11:16] abbassnass commented on #9049
Amazing! Thanks a lot and keep up the great work!

[2021-03-03 12:01] medikoo commented on #7895
@walery we've just introduced a new variables resolved, which tackles that issue, and you can access all configuration properties in resolved shape in JS variable resolver (ofc as long as it does not trigger circular dependency).

Check: https://www.serverless.com/framework/docs/providers/aws/guide/variables/#exporting-a-function

One limitation (made for a good reason) is that you cannot access `

[2021-03-03 12:09] #9049 closed

[2021-03-03 12:17] medikoo commented on #7807
Fixed with #8987

[2021-03-03 12:17] #7807 closed

[2021-03-03 12:18] medikoo commented on #6214
Fixed with #8987

[2021-03-03 12:18] #6214 closed

[2021-03-03 12:28] medikoo commented on #6039
@kirill578 this is intentional design. All variables even those in properties which were imported from external file, are resolved against service directory.

Variables resolution is considered to be deterministic, so resolving `${file(config/all.yml):runtime}` should resolve with exactly same value, no matter if it's defined for property directly in `serverless.yml` or in a property that comes wi

[2021-03-03 12:30] medikoo commented on #6022
With #8987 new variables resolver was proposed. Check on https://www.serverless.com/framework/docs/providers/aws/guide/variables/#exporting-a-function on how to configure JS function resolvers

[2021-03-03 12:30] #6022 closed

[2021-03-03 12:31] medikoo commented on #5828
Fixed with #8987

[2021-03-03 12:31] #5828 closed

[2021-03-03 12:31] medikoo commented on #6014
Fixed with #8987

[2021-03-03 12:31] #6014 closed

[2021-03-03 12:32] medikoo commented on #5759
Fixed with #8987

[2021-03-03 12:32] #5759 closed

[2021-03-03 12:32] medikoo commented on #5278
Fixed with #8987

[2021-03-03 12:32] #5278 closed

[2021-03-03 12:32] medikoo commented on #5136
Fixed with #8987

[2021-03-03 12:32] #5136 closed

[2021-03-03 12:33] medikoo commented on #4837
Fixed with #8987

[2021-03-03 12:33] #4837 closed

[2021-03-03 12:33] medikoo commented on #4817
Fixed with #8987

[2021-03-03 12:33] #4817 closed

[2021-03-03 13:54] yumeixox commented on #8985
@medikoo I'm running into some unexpected behavior with runServerless. Maybe you know what might be wrong?

For some reason when I execute runServerless, if I leave configValidationMode unconfigured, it behaves as if it was set to 'error'. For example:

[code]
throws:
[code]

If I set the configValidationMode to warn, it works as expected:
[code]
shows:
[code]

Same goes for:
[code]
throws:
[code]

[2021-03-03 14:09] Nightbr commented on #6503
Hey, still having this issue:
[code]

With this plugins & version:

[code]

[2021-03-03 14:13] medikoo commented on #8985
Yes, it's intentionally, It's enforced here: https://github.com/serverless/test/blob/3a7bd0e119f1a327a2fd51bc81ab370b528f495d/run-serverless.js#L109, as ideally when testing we should use only defined configuration properties (unless we test that this validation works)

[2021-03-03 14:16] Pehel opened #9064 "TypeError: AWS.request(...).then(...).return is not a function --- on export-env"
On running npm run sls -- export-env
it returns an error:
Type Error ---------------------------------------------
  TypeError: AWS.request(...).then(...).return is not a function

Checked the logs which returned:
1```
7 timing config:load:setEnvs Completed in 0ms
18 timing config:load Completed in 5ms
19 verbose npm-session 221e0e99d50bd7fd
20 timing npm:load Completed in 11ms
21 timing command:r

[2021-03-03 14:18] pgrzesik commented on #9064
Hello @Pehel - that's an issue with the plugin - it was alredy fixed in the plugin but it seems like the new version wasn't relased yet: https://github.com/arabold/serverless-export-env

[2021-03-03 14:18] #9064 closed

[2021-03-03 15:44] VincentHuysmans1 commented on #9015
@pgrzesik So I've tried using the relative path as described in #6964 - unfortunately I get the same error.

`serverless deploy --stage $ENV --package ./artifacts/$ENV -v`

[2021-03-03 15:57] #7867 closed

[2021-03-03 16:46] darksinge commented on #9055
@medikoo Yes, this has been fixed, thanks!

[2021-03-03 16:46] #9055 closed

[2021-03-03 23:01] ariel-frischer commented on #8983
Yes that is the base image where I run the command. What other files do you need me to provide? The dockerfile and handler? I can do that but I'm not sure if that will help.

[2021-03-04 00:43] ariel-frischer opened #9073 "Error: EMFILE: too many open files"
`serverless deploy` is running into global config errors and Error: EMFILE: too many open files. I've tried uninstalling and reinstalling global serverless command as well as restarting my computer. It used to deploy until I tried to upgrade my global serverless with `npm i -g serverless/serverless`.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary>

[2021-03-04 03:17] mattnedrich commented on #7510
We're experiencing the same issue. The thread isn't clear if this was able to be root caused as a serverless framework issue or cloudformation? Can anyone clarify?

[2021-03-04 06:38] garethmcc commented on #9073
@ariel-frischer Is this from running locally?

[2021-03-04 06:40] ariel-frischer commented on #9073
@garethmcc No, it works locally, the command `sls deploy` is the issue but I feel maybe I need to reset global configuration somehow?

[2021-03-04 06:42] garethmcc commented on #9073
What I meant was this was from running on your local machine and not an external CI/CD system for example?

[2021-03-04 06:43] ariel-frischer commented on #9073
Oh, yea this is on my local machine.

[2021-03-04 08:19] willjeuniaux commented on #9073
I have the same issue happening since 02/03. My service is being built on an external CI/CD. I've identified the error started happening since serverless package version 2.28.3. To work around the problem I am pulling serverless@2.28.0 instead of the latest one. Hope this helps.

[2021-03-04 08:45] Ksmike commented on #9073
I'm getting the same issue with 2.28.6 via CircleCi, I haven't tested any of the other versions. I'm just about to do a test deploy on 2.28.2 to see if that solves the issue. Basically just ignoring all March 2nd deployments. Will report back back later.

Circle Conf ---
     Operating System:          linux
     Node Version:              12.13.1
     Framework Version:         2.28.6
     Plugin

[2021-03-04 09:26] medikoo commented on #9073
@ariel-frischer @ Ksmike  if possible please investigate with which Framework version it started to happen.

I assume it could be 2.28.1 when it started to happen (2.28.1 bad, 2.28.0 ok), but do not have service with large number of files to be processed  handy to confirm.

[2021-03-04 09:41] muhammadfaizan opened #9075 "Unable to deploy app, that was previously deployed."
I was Trying to deploy app, but it was not uploading, it just got stuck and stayed stuck on uploading state. like this
![image](https://user-images.githubusercontent.com/5428176/109942175-c17da200-7cf5-11eb-8a52-a85736630b99.png)

After updating serverless I am receiving new kind of error:
⚠️⚠️ REPLACE WITH DESCRIPTION

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

[2021-03-04 09:46] pgrzesik commented on #9075
Hello @muhammadfaizan - I believe it's a duplicate of https://github.com/serverless/serverless/issues/9073 - we're in the process of (hopefully) pushing a fix for that problem - I'm going to close this one and track the discussion in original issue

[2021-03-04 09:46] #9075 closed

[2021-03-04 09:52] cjuega commented on #7063
I'm experiencing issues with this implementation in **serverless@v2.28.0**. Here is my setup:

[code]

I have the following resource defined:

[code]

Then, in my lambda definitions, I use `!GetAtt DomainEventBus.Arn` or `!ImportValue DomainEventBusArn` to indicate which eventbus triggers a lambda:

[code]

Deployment works fine. It seems everything is correct. However, my lambdas are not triggere

[2021-03-04 09:53] willjeuniaux commented on #9073
I confirm it fails on 2.28.1 but works on 2.28.0.

[code]

[2021-03-04 09:55] Ksmike commented on #9073
I can also confirm it breaking on 2.28.1, but working on 2.28.0.

[2021-03-04 09:57] medikoo commented on #9073
@willjeuniaux  @Ksmike  great thanks for confirmation. We've coined the issue, it'll be fixed with https://github.com/serverless/serverless/pull/9074 and published shortly

[2021-03-04 10:06] #9073 closed

[2021-03-04 10:08] Ksmike commented on #9073
@medikoo Thanks for the help, I'll let Support know this is being handled! Looking forward to the patch!

[2021-03-04 10:16] pgrzesik commented on #7063
Hey @cjuega - how did you use `arn`s previously? Via `Fn::Import` as well or passing it explicitly?

[2021-03-04 10:33] pgrzesik commented on #8983
Thanks @ariel-frischer - I'm honestly a bit puzzled here because the error suggests that the command is running in one of `lambci/lambda` images, not in one based on `jrottenberg/ffmpeg:4.3.1-ubuntu1804` image. Do you have the option to run `serverless` commands outside of docker container?

[2021-03-04 11:08] HarshavardhanK commented on #9024
Thanks! Got it.

Any pointers on knowing how it is a valid service config?

[2021-03-04 11:13] pgrzesik commented on #9073
New version `2.28.7` that should fix that issue has been just released

[2021-03-04 11:33] pgrzesik commented on #9015
Thanks @VincentHuysmans1 - too bad that the workaround didn't help in this case - I'll try to dive deeper into that issue hopefully next week and report back with findings.

[2021-03-04 11:40] juslin03 commented on #3277
Thank you @pmuens

[2021-03-04 11:52] medikoo commented on #9024
It's indicated by fixture name, e.g. `configInvalid` signals it's an example of an invalid config

[2021-03-04 14:57] blue-urban-sky opened #9077 "The JSON schema for resourcePolicy does not allow account numbers"
### The JSON schema for resourcePolicy does not allow account numbers

A plain account number or list of account numbers should be a valid input to the`provider.apiGateway.resourcePolicy.Principal.AWS` config ([Docs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html)) it is currently expecting `arn:aws`

So this:
[code]
Causes this:

[code]

<details>
<sum

[2021-03-04 18:02] cjuega commented on #7063
@pgrzesik, do you mean before using the new `useCloudFormation: true` feature? I used to pass it explicitly in an envvar. Using `!ImportValue` thrown an `EventBus.startsWith is not a function` error as described in the bug report.

[2021-03-04 18:48] terrybondy commented on #9033
@pgrzesi  Its been a while since I've done `node` but I suspect this one would be a bit easier than [the last time you asked](https://github.com/serverless/examples/issues/578#issuecomment-769891866). Can you point me to something that would describe what it would take to submit a PR?

[2021-03-04 21:45] capgadsx commented on #7063
I'm facing the same problem of @cjuega.

Before of using `useCloudFormation: true` the generated policy was like this:

[code]

Now if we use:

[code]

The generated policy is the following:

[code]

@cjuega workarround solves the problem. The generated CF template goes from here.

[code]

To this.

[code]

[2021-03-05 05:15] lyndoh opened #9080 "Incorrect configuration warning for apiKeys object"
There appears to be a mismatch between the config validation and the implementation for aws api gateway apiKeys where multiple usage plans are allowed.
A configuraton warning like:

is displayed when an apiKey object is configured where the "multiple usage plan" format is used (see serverless.yml). However the CFT compiles with the configured values and deploys successfully as expected.
CFT will c

[2021-03-05 08:11] pgrzesik commented on #7063
Thank you both @cjuega and @capgadsx - I believe I know what the issue is here. In order to generate proper `AWS:SourceArn` we need to have the ability to extract `name` of the event bus. It was possible to do when using explicit `arn` passed as a string, however, when passing arn with CF intrinsic command, it's impossible to reason about `name`, which results in invalid `SourceArn` being generate

[2021-03-05 08:39] cjuega commented on #7063
Glad to help!

Just to recap, the workaround is not to use an imported value but passing the eventbus' name instead of the ARN.

This virtually removes the ability of using eventbus' ARN (it will only work when it's hardcoded). I believe that's fine as we can still use eventbus' name. But, yes, it should be clarified in the documentation.

Summing up:

[code]

[2021-03-05 08:40] pgrzesik commented on #9080
Thanks @lyndoh for reporting. I believe that we indeed have mismatching schema vs what is actually expected and supported when it comes to apiKeys for `apiGateway`. We'd be more than happy to accept a PR for this one :bow:

[2021-03-05 09:11] pgrzesik commented on #9077
Hello @blue-urban-sky - thanks for reporting. That is a great catch, we definitely should relax schema and allow plain accountIds as elements of the list. We'd be more than happy to accept a Pr for this one. :raised_hands:

[2021-03-05 09:18] blue-urban-sky commented on #9077
If you can point me at the schema I can take a look

[2021-03-05 09:23] pgrzesik commented on #9077
That would be awesome :raised_hands: The definition that should be adjusted is here: https://github.com/serverless/serverless/blob/b81fd0557f53e11597fe67bb138c09675d61e0c5/lib/plugins/aws/provider.js#L386-L405. As you can see, right now it expects either a `*` or an array of `awsArn` items - we should also allow the items in array to be accountIds

[2021-03-05 12:12] robjohnston-iw opened #9081 "Deprecation warning: Resolved a JS function not confirmed to work with a new parser, falling back to old resolver"
Serverless Javascript function variables result in a deprecation warning being logged:
`Deprecation warning: Resolved a JS function not confirmed to work with a new parser, falling back to old resolver`

The current resolver does successfully invoke the function and resolve the variable. The function definition matches the required format for the new resolver as described here: https://www.serverl

[2021-03-05 12:20] jaikdean opened #9083 "Allow configuration of ECR repository encryption"
### Use case description

When using Docker images in Lambda, Serverless automatically creates an ECR repository using the default encryption settings, meaning it must be manually managed to use a customer-managed KMS key for encryption.

### Proposed solution

Add optional configuration of a customer-managed KMS key for the ECR repository through `serverless.yml`.

[2021-03-05 12:25] blue-urban-sky commented on #9077
added account id  as a definition
[code]
and updated the anyOf to:
[code]

I tried to find if there were any tests covering this but came up empty. Please let me know if I missed them?

[2021-03-05 12:25] medikoo commented on #9081
@robjohnston-iw thanks for report. I think there's an issue in how we communicate this error, as otherwise it works as expected.

Aside of adapting the JS function to work with a new resolver you also need to set to `variablesResolutionMode: 20210219` in your config to confirm that it's the case (note there' no intelligence that inspect function definition that it's updated, hence we need double c

[2021-03-05 14:24] terrybondy commented on #9033
@pgrzesik as I'm unfamiliar with the Github workflow, I'm not sure I've done everything required to meet your request for a PR. Please advise.

[2021-03-05 14:37] pgrzesik commented on #9033
Sorry @terrybondy - I was just about to write in PR - I'll post a message there, thank you :bow:

[2021-03-05 15:20] #9081 closed

[2021-03-05 16:03] adieuadieu commented on #1183
In case anyone else lands here and is unhappy with the above solutions, especially in regards to the unmaintained plugin, here's how you can do it in the `serverless.yml`'s Resource section without any 3rd-party dependencies:

**serverless.yml**:
[code]

**resource-api-gateway-stage.js**:
[code]

Unfortunately it can't be done only with YAML because the `AWS::ApiGateway::Deployment` resource Serve

[2021-03-05 17:35] #9030 closed

[2021-03-05 17:36] pgrzesik commented on #9077
Thanks @blue-urban-sky - I've added comment on a PR, it's a minor thing and we should be good to go :+1:

[2021-03-05 19:06] ktardif commented on #9044
Somewhat related, the old deprecated `provider.role` let you specify a custom resource name from the `resources.Resources` block, however `provider.iam.role` no longer allows this and just results in a `Configuration error at 'provider.iam.role': should match pattern "^arn:"` error. This prevents just simply renaming the property as outlined in the [documentation](https://www.serverless.com/framew

[2021-03-06 13:18] bugattie opened #9087 "Error: Cannot find module 'pump' sls create"
I'm having an issue creating new sls project.
Command I wrote
`sls create -t aws-nodejs -p sls-notes-app-backend`

I'm using ubuntu 20.04
[code]

Got long long error trace:

[2021-03-07 17:05] koshyviv commented on #5972
I think I am having a similar issue but seems to be with cyclical dependency

[code]

The entire pipeline log/repo is here - https://gitlab.com/koshyviv/coda-learn/-/jobs/1079048104

[2021-03-07 19:10] pgrzesik commented on #9087
Hello @bugattie, thanks for reporting. Could you share what Node version are you using? Ideally if you could fill out our Issue form that is presented to you when you create a new issue - it will help us diagnosing the problem.

[2021-03-07 19:11] pgrzesik commented on #9083
Hello @jaikdean, thanks for reporting - that totally makes sense - what do you think would be the best place to configure it?

[2021-03-07 20:09] pgrzesik commented on #9036
Thanks for clarification @zhaoyi0113 :bow: I'd love to dive into that problem but to be honest I don't think I will be able to in the coming days as there are some other priorities a bit higher in the queue and the issue itself seems like an edge case. I'll let you know as soon as I have a chance to dive deeper into it. Sorry about that.

[2021-03-07 20:20] pgrzesik commented on #9044
@ktardif thanks for reporting - could you provide an example of exact configuration that was working previously that is no longer working for you in that case? I believe it's a mistake in new approach as we didn't intend to change the possible values.

[2021-03-08 04:57] bugattie commented on #9087
@pgrzesik I'm using v14.16.0.
I tried the following solutions:

But those solutions didn't work for me.
It was really really urgent, I just reinstalled the serverless framework and it did work.

[2021-03-08 04:58] bugattie commented on #9087
@pgrzesik I'm using v14.16.0.
I tried the following solutions:

But those solutions didn't work for me.
It was really really urgent, I just reinstalled the serverless framework and it did work.

[2021-03-08 08:03] pgrzesik commented on #9087
Thanks for responding, glad you managed to resolve your issue. I believe it's not a bug within the Framework but rather an issue with your local setup so I'm going to close this one.

[2021-03-08 08:03] #9087 closed

[2021-03-08 10:04] #8669 closed

[2021-03-08 13:47] blue-urban-sky commented on #9077
@pgrzesik thats updated now, thanks for the second pair of eyes

[2021-03-08 16:39] DaveLo commented on #9044
@pgrzesik , looking lightly at this (not super familiar with the internals)

https://github.com/serverless/serverless/blob/42a1cdb6f1b4ca90e9e7f43852672897cb9ec1f9/lib/plugins/aws/provider.js#L843

would the solve here be to update this from `'#/definitions/awsArnString'` to `'#/definitions/awsArn'`?

[2021-03-08 17:09] jaikdean commented on #9083
I'm not sure what standards there are and what's used in similar cases elsewhere,

*Existing behaviour using default encryption configuration*

[code]

*Using KMS with the default key*

[code]

*Using KMS with a specified key*

[code]

[2021-03-08 19:58] ktardif commented on #9044
@pgrzesik Stripping out unrelated items:

[code]

File was originally written for serverless 1.57. `provider.role` still works properly on 2.x but it's marked as deprecated, however like I mentioned previously `provider.iam.role` doesn't accept the above value.

[2021-03-08 20:13] #9077 closed

[2021-03-08 20:23] pgrzesik commented on #9044
Hey @DaveLo - that is one of the places and actually this is the deprecated property - I guess it was missed previously when schema definition was put in place and what you're suggesting should fix it. In addition to the line you've linked, also this one should be changed: https://github.com/serverless/serverless/blob/42a1cdb6f1b4ca90e9e7f43852672897cb9ec1f9/lib/plugins/aws/provider.js#L829

We'd

[2021-03-08 20:25] pgrzesik commented on #9044
Thank you @ktardif for reporting - from what I see it's another instance of invalid schema definition - it should still support the previous notation but it's a bit separate from the original problem in this report. Would you be okay with submitting that as a separate issue? I would really appreciate it :bow:

[2021-03-08 21:02] ktardif opened #9090 "When using the aws provider, provider.iam.role has different semantics than provider.role"
The deprecated `provider.role` let you specify a custom resource name from the `resources.Resources` block, however `provider.iam.role` no longer allows this and just results in a `Configuration error at 'provider.iam.role': should match pattern "^arn:"` error. This prevents just simply renaming the property as outlined in the [documentation](https://www.serverless.com/framework/docs/deprecations/

[2021-03-08 21:03] ktardif commented on #9044
@pgrzesik Thanks for taking the time to respond. Created #9000 for the `provider.iam.role` issue.

[2021-03-09 01:41] PSP-Developers commented on #5329
Probably one the reason can be specified will be wrong.

Please check structure
- serverless.yml
- db/

[code]

[2021-03-09 07:14] duboisj-illuminate opened #9091 "Precedence of AWS_PROFILE and AWS_ACCESS_KEY_ID in Serverless is the reverse of AWS CLI"
In the AWS CLI, a user may authenticate by setting either AWS_PROFILE or both AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY in the environment.  If AWS_PROFILE is set, it must match the name of a profile set in the user's AWS credentials configuration.

Using Serverless 2.28.7 (and past versions as well), if both AWS_PROFILE and the AWS_ACCESS_KEY_ID/AWS_SECRET_ACCESS_KEY pair are set, then using th

[2021-03-09 08:38] #9044 closed

[2021-03-09 09:29] #8993 closed

[2021-03-09 14:50] m-radzikowski opened #9095 ""Cannot load file from outside of service folder" deprecation warning"
In the official docs for [referencing variables in other files](https://www.serverless.com/framework/docs/providers/aws/guide/variables#reference-variables-in-other-files) as an example there is a reading file from a parent directory. In the mono-repo approach with multiple stacks, I believe this is a fairly often approach.

But from one of the latest releases I'm getting this warning:

[code]

Ch

[2021-03-09 15:05] sebytab commented on #6875
I solved it by disabling all kinds of cache options, such as useDownloadCache and useStaticCache.

[2021-03-09 18:06] chuckthepiranha commented on #9095
I am having a similar problem I think except mine is that I can't include a vtl file as a mapping template. For example:
`request:
       template:
            application/x-www-form-urlencoded: ${file(velocity-language-templates/x-www-form-urlencoded.vtl)}`
gives me this warning:
`- Cannot resolve variable at "custom.apiGatewayServiceProxies.0.http.request.template.application/x-www-form-urlencod

[2021-03-09 18:28] chuckthepiranha opened #9096 "Support for vtl files is broken"
Support for vtl files is broken. In lib/configuration/read.js, there is a switch case that excludes vtl files. This seems to have come from an update in January. The default case is:
[code]
This is clearly a bug seeing at there used to be support for vtl files and it works if I paste the template directly into the serverless file. However, this is a pain seeing as I would have to paste a template

[2021-03-09 18:49] Borduhh commented on #9095
Just to speak for the people that have a mono-repo setup. This file structure is used A LOT. I personally like the structure of having each service be essentially its own contained unit so that when we are updating services, the code is all in one spot for the most part (excluding libs, etc.).

[code]

Can you explain a little more about what that entails?

[2021-03-09 19:38] chuckthepiranha commented on #9096
Sorry, I thought I was using the latest one. Updating worked. Thank you.

[2021-03-09 19:38] #9096 closed

[2021-03-09 21:07] MatthewDahl commented on #9044
The above issue (#9090) concluded by referencing `awsLambdaRole` for the  `provider.iam.role` schema definition, which is as follows:

[code]

In the original issue statement, there are examples using `Fn::Sub` and `Fn::Ref` which are supported by CloudFormation, but not by the above schema definition.

We are currently able to use `Fn::Sub`|`!Sub` in the deprecated `provider.role` with a warning,

[2021-03-10 01:29] simez commented on #8696
Good interim measure here, looks like two core dependencies need to be updated before the ARM support can be done properly here. Please let me know if there's anything I can do to expedite this effort.

[2021-03-10 07:36] m-radzikowski commented on #9095
@medikoo thanks for the explanation of the reasoning behind this change.

Agree that reaching outside the project folder would be a terrible idea, and this prevents it. But in monorepo the service root is not the project root.

Yes, and I must admit that this creates quite confusing paths when you need to self-referenece something in the "common" config. If we could solve this somehow along the wa

[2021-03-10 08:15] scadu commented on #8523
As discussed in https://github.com/serverless/serverless/pull/8891#discussion_r591185530, I'd cover tests required to merge #8891 with reliable tests.

[2021-03-10 08:23] #9033 closed

[2021-03-10 08:44] PatrykMilewski commented on #8887
Hey, I'm also waiting for this one, because the default generated role name is invalid in our case. It doesn't include full stack name, which causes name collision with stacks, that have the same service and stage name.

@matthewpoer Could you open the PR?

[2021-03-10 08:56] pgrzesik commented on #8887
Thanks for bumping that issue @PatrykMilewski - I've missed the update and I've just added a comment on the PR.

[2021-03-10 10:06] medikoo commented on #9095
True, I think we can solve it, I've proposed something at the bottom of this comment.

This problem was [once raised](https://github.com/serverless/serverless/issues/3233) and as long as we have one service configuration, and not multiple independent configurations which cross reference each other, then it's hard to address nicely.

With `self:` it's always main service configuration that's addres

[2021-03-10 11:11] #8985 closed

[2021-03-10 12:10] markcastle commented on #4592
For anyone that comes across this issue even with the latest versions of serverless... you can also get this error if your credentials in the serverless dashboard are incorrect and it's not altogether obvious that that is the issue.. I spent a number of hours trying to resolve this so hoping to just help others.

[2021-03-10 12:52] medikoo opened #9098 "Unify filenaming convention"
### Use case description

Originally Framework used _camelCase_, still in places _kebab-case_ was introduced.

_kebab-case_ is assumed to be safer, when dealing with case sensitive systems, e.g. `require('./readDir')` will load without issues `readdir.js` module in case insensitive environment, but will crash in other. While with _kebab-case_ such errors are less likely as user will rather fall in

[2021-03-10 12:59] PatrykMilewski opened #9099 "Field this.serverless.variables.options is undefined from 2.29.0"
Starting from Serverless 2.29.0 I've noticed, that some plugins have issues with input `serverless` object.

Until 2.28.0, it was possible to get options passed to Serverless CLI by using `this.serverless.variables.options`. However starting from 2.29.0, options field is always undefined, which causes for example `serverless-plugin-resource-tagging` to break (it's trying to read options using this

[2021-03-10 16:18] seanyboi commented on #5668
confirmed: still broken in 2021

[2021-03-10 17:14] shalvah opened #9100 "Allow marking of plugins as optional"
### Use case description

I often use some plugins that are only meant for a local environment. Specifically, [serverless-dotenv](https://www.npmjs.com/package/serverless-dotenv-plugin) and [serverless-offline](https://www.npmjs.com/package/serverless-offline). During deployment, I use `npm prune --production` to reduce the size of my deployment package by removing these dev dependencies. Unfortun

[2021-03-10 17:49] birsi opened #9101 "devDependencies aren’t excluded with npm 7"
With `npm 7.6.2`, `serverless` fails to exclude `devDependencies` from `package.json`.

Directly relating to: https://github.com/serverless/serverless/issues/8500

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary>Steps to reproduce</summary>

Incorrect behaviour with `npm 7.6.2` including full `devDependencies` in `node_modules` with `185M`

[code]
<

[2021-03-11 04:32] DavidWells commented on #9100
+1 on the idea of having the plugin block accepting configuration directly where the plugin is defined.

Plugins often needed to specify their configuration in the `custom` block of serverless.yml. This can lead to confusion around what value relates to what plugin (especially if its a stack you didn't create)

[code]

Instead, consider the `plugins` key as an array of objects like so:

[code]

Th

[2021-03-11 06:58] shalvah commented on #9100
Agree. The `custom` approach also means each plugin has to pick its field name, and what happens if two plugins use the same field name?

One issue with the proposal, though, would be distinguishing between plugin-specified configs and framework-specified configs for a plugin. Do maybe something like:

[code]

[2021-03-11 08:26] thongle91 commented on #9099
Actually I believe it started from `2.28.1`, after this check

https://github.com/serverless/serverless/blob/v2.28.1/lib/Serverless.js#L235-L238

[2021-03-11 08:50] pgrzesik commented on #9083
Thanks for the proposal @jaikdean - from what I see there are three options:
- using AES256 - it's default
- using KMS with default CMK
- using KMS with provided CKM

I think we might consider skipping `encryption` nesting as I don't see any additional encryption-related settings for ECR repos available, which gives us the following options

[code]

Alternatively, we could go with

[code]

None of

[2021-03-11 09:00] pgrzesik commented on #9095
Thanks @medikoo for proposal - I have one thing to add related to:

I can imagine that in such monorepo setups, there will be parts of code that will live outside of the _service dir_ that are shared across multiple services and if we'd like to support it "properly", then packaging in such setups also needs to work reliably.

@m-radzikowski is that the case in your situation? Do you have some shar

[2021-03-11 09:03] pgrzesik commented on #7059
Hello @tiivik - do the invocation always result in cold starts or only after deployment? I'm not sure how exactly it's taken care of for provisioned concurrency + image on AWS side, but generally, Docker Images has to be optimized before the first invocation which is done automatically by AWS.

[2021-03-11 09:19] medikoo commented on #9083
@pgrzesik @jaikdean how about:

[code]

We follow such convention in case of some other settings, Internally `true` should be treated as`{}` and lack of `arn` property on `kmsEncryption` should trigger setup with default key

[2021-03-11 09:22] medikoo commented on #9095
Definitely, still that part also doesn't work now. I assume that either @m-radzikowski uses some custom packaging mechanims (coming from plugin) which allows to include content from top folder, or just takes what's in service folder (as that what Framework does currently, and afaik that cannot be really tweaked without overrriding packaging logic completely)

[2021-03-11 09:31] pgrzesik commented on #9083
Thanks @medikoo, that also makes sense and looks "cleanest" of all proposed solutions :+1:

[2021-03-11 09:34] pgrzesik commented on #9099
@medikoo Would you be able to respond here? I know you have much better context of these changes

[2021-03-11 10:09] pgrzesik commented on #9091
Thanks for reporting @duboisj-illuminate :bow: I've managed to replicate that behavior - @medikoo Do you happen to know the reason behind not following the standard credentials precedence for AWS (https://docs.aws.amazon.com/cli/latest/topic/config-vars.html#id1) but rather "promoting" profile use?

[2021-03-11 10:11] tiivik commented on #7059
Thanks for the reply @pgrzesik ! Second request immediately after first results in a warm start as expected, however after waiting ~15 minutes the request results in cold start again. Ran an overnight test invoking function every 30 minutes and resulted 16 cold starts out of 26 requests, while provisioned concurrency was set to 3.

Furthermore, invoking the function in Lambda console
- Test the fu

[2021-03-11 10:17] medikoo commented on #9091
@pgrzesik not really, I think it was some unfortunate decision of the past.

I would definitely rework our credentials resolution so it closely matches what's happening when `aws-sdk` is used, still ofc that's a breaking change.

I believe first good step is to seclude credentials resolution from `Serverless` class, and placing it into `lib/aws/resolve-credentials.js` util (that should be not brea

[2021-03-11 10:21] medikoo commented on #9099
It looks as another unfortunate case of plugin relying on Framework private parts, which are subject to change at any time.

Ideally if it's fixed on plugin side, and fixing this seems easy.
Instead of accessing `options` from `serverless.variables.options`, plugin should read `options` from object passed to plugin constructor.

@PatrykMilewski @thongle91 can you prepare a PR on plugin side?

[2021-03-11 23:27] jwthomp commented on #8951
I spun my wheels quite a bit today on the same issue. When I restore the deprecated `serverless-pseudo-parameters` plugin then it works again.

[2021-03-12 08:50] thongle91 commented on #9099
I have submitted a [PR](https://github.com/ilayanambi86/serverless-plugin-resource-tagging/pull/6/files) for that

[2021-03-12 11:47] medikoo commented on #9099
@thongle91 that's great to hear! If you approach problem with PR getting merged and release, let us know. We'll use best means to contact author of a plugin and have it published

[2021-03-12 14:27] #8445 closed

[2021-03-12 14:35] Fomin2402 commented on #8889
same issue

[2021-03-12 18:58] wcx628 opened #9104 "serverless plugin install package list has extra character at line 1"
[{
    "name": "serverless-plugin-typetalk",
    "description": "Sends notification to Typetalk",
    "githubUrl": "https://github.com/is2ei/serverless-plugin-typetalk",
    "status": "active"
}, {

[Container] 2021/03/12 18:41:41 Running command serverless plugin install -n serverless-python-requirements
--
226 | Serverless: Running "serverless" installed locally (in service node_modules)
227 | S

[2021-03-12 19:38] wcx628 commented on #9104
Not sure what happened but it works now, this is really weird, it failed for at least 20 mins but it recovers now

[2021-03-12 19:38] #9104 closed

[2021-03-13 09:21] ariel-frischer commented on #8983
Yea I've tried it coming across multiple different bugs when I try it that way as well. I've found a useful docker image to try to emulate here: https://github.com/adieuadieu/serverless-chrome/issues/282#issuecomment-793576821 . I guess you can close the issue for now it seems to be more of an aws issue.

[2021-03-13 22:35] neverendingqs opened #9105 "`resolveConfigurationProperty()` unable to resolve `env` variables properly if undefined or defined in `.env`"
When using JavaScript files, `resolveConfigurationProperty()` fails if it references an `env` variable if it is not defined at all or if declared in `.env`, even if a fallback value was declared. Note: using an environment variable set outside of `.env` works as expected.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><code>configs.js</code></summ

[2021-03-13 23:18] neverendingqs commented on #8364
Hi @medikoo (cc @pgrzesik). If you have a chance, I would appreciate your feedback on doing something like this to support more complicated `dotenv` workflows in Serverless, to make sure I am understanding the new variables engine correctly:

* `serverless.yml`: https://github.com/neverendingqs/serverless-dotenv-plugin/pull/153/files#diff-36b3f719786f0fd2a95cbd33132afd135906fb79fecd7c985cf8c7f0ecb

[2021-03-14 00:26] calumbrodie opened #9107 "using disableLogs option with a single httpApi fails to provision IamS Role"
When using the 'disableLogs' option with a function set up to use httpApi rather than the default 'restApi' (example configuration below), the resulting IAMS role is not created properly. The configuration is generated without any 'Resources'.

A workaround is to define a second 'fake' function which does _not_ have 'disableLogs' option. This allows the role to be correctly generated.

The bug was

[2021-03-14 01:25] Sphinxs commented on #8772
@pgrzesik , is [this](https://www.serverless.com/aws-lambda#languages-runtimes) the place where the last run times are published?

[2021-03-14 04:06] neverendingqs commented on #8364
I'm not sure if this should go in its own issue, but thoughts on `.env` files (2 iv) being resolved before `file` (2 ii)? That would allow environment variables defined in `.env` be used in files (e.g.

**configs.js**
[code]

**.env**
[code]
).

[2021-03-14 04:56] nishchay-suteri commented on #8009
Hi @bmpickford  , I am having a similar requirement for my serverless application. Is there a way we can validate the HTTP request parameter with the JSON Schema like we validate the request body?

[2021-03-14 08:22] fxrcode commented on #6100
I'm still facing this issue in 1.74.1. here's the log with SLS_DEBUG=*.
[code]

[2021-03-14 09:03] zach-anthony opened #9108 "Add support for Amazon Connect as an event source for AWS Lambda"
### Use case description

Amazon Connect is a cloud based contact centre service offered by AWS which interacts with external systems via AWS Lambda. It would be great to add support for Amazon Connect as an event source. Reference: [https://docs.aws.amazon.com/connect/latest/adminguide/connect-lambda-functions.html](https://docs.aws.amazon.com/connect/latest/adminguide/connect-lambda-functions.ht

[2021-03-14 09:09] zach-anthony opened #9109 "Add support for Amazon Lex as an event source for AWS Lambda"
### Use case description

Amazon Lex is a service for building conversational interfaces, based on the same technology as Amazon Alexa. AWS Lambda functions can be used to perform initialization and validation, fulfillment, or both for a Lex Bot. Reference: [https://docs.aws.amazon.com/lex/latest/dg/using-lambda.html](https://docs.aws.amazon.com/lex/latest/dg/using-lambda.html)

### Proposed solut

[2021-03-14 09:41] m-radzikowski commented on #9095
Yes, with plugins like `serverless-webpack` or `serverless-esbuild` we are able to load some common code from shared dir.

My current structure with lerna looks like this:

[code]

Now, with those plugins, I can reference the `logger` from the common dir in code of both services.

One issue I have with this solution is that the deployment management of all services would be done from the root dir,

[2021-03-15 01:05] MohammedNoureldin commented on #2797
Any news regarding setting binaryMediaType on specific API level? or let us on specific Lambda level?

[2021-03-15 07:01] amine2233 commented on #8696
Install serverless using the new homebrew version for Mac m1 `brew install serverless` and you will install the version for arm64_big_sur

[code]

[2021-03-15 08:11] AlinoeDoctari commented on #8446
@medikoo looks like work for #8845 is done :slightly_smiling_face: Is it ok to get started on this issue now? If so is it possible to submit smaller PR than a full resolution? Like going on by one through the `describe` clauses?

[2021-03-15 11:43] medikoo commented on #9105
@neverendingqs great thanks for reporting. Will be fixed with https://github.com/serverless/serverless/pull/9110

[2021-03-15 11:50] pgrzesik commented on #9109
Hello @zach-anthony, thanks for submitting your proposal. Before starting potential implementation, it would be good to agree on how the configuration for that event should look like. @zach-anthony do you have any suggestions?

[2021-03-15 11:51] medikoo commented on #8364
@neverendingqs I believe we fixed issue you were confused by, at https://github.com/serverless/serverless/pull/9110

In general there's no order in which variables are resolved. All are resolved at once, and if depedency is detected, the dependent waits for dependency.

In case were you were approaching error, problem was that at initial resolution phase we assume env variables not being fulfilled

[2021-03-15 11:51] pgrzesik commented on #9108
Hello @zach-anthony, thanks for submitting your proposal. Before starting potential implementation, it would be good to agree on how the configuration for that event should look like. @zach-anthony do you have any suggestions?

[2021-03-15 11:55] medikoo commented on #9095
Thanks @m-radzikowski for explanations

Just wondering, where do you have `serverless-webpack` or `serverless-esbuild` installed, is this in top level project folder, on they're installed for each service individually? Also where do you host the bundler configuration that states that `logger` should be included with lambda bundle, is this in service folder or project folder?

[2021-03-15 12:02] pgrzesik commented on #8772
Hello @Sphinxs - I believe it's an obsolete page - also, what do you mean by `last run times`?

[2021-03-15 12:05] m-radzikowski commented on #9095
Plugins that are used in multiple packages - in `services/common/package.json`. I guess they could be in root level `package.json` as well, but that allows to keep separation between project dependencies (things like lerna, typescript, eslint, husky) and services dependencies.

I'm using yarn, so most dependencies are installed into top-level `node_modules`, no matter in which `package.json` they

[2021-03-15 12:07] medikoo commented on #8446
@AlinoeDoctari yes, it's definitely ready to take now, and it's totally fine to address one describe case per PR. Any PR that covers even smallest part of it, is very welcome. Great thanks for helping with that!

[2021-03-15 12:11] pgrzesik commented on #8983
What other bugs did you run into when running outside of docker container?

As you suggested, I'm going to close this issue, but feel free to report back if you feel there's a bug that should be addressed on Framework side.

[2021-03-15 12:11] #8983 closed

[2021-03-15 12:16] pgrzesik commented on #7059
That is indeed quite surprising @tiivik. However, looking at your report, it seems like it's an issue on AWS side as if I see correctly, the provisioned concurrency seems to be setup properly. Do you run into the same problem when not using Images to package your functions?

[2021-03-15 12:25] Sphinxs commented on #8772
I mean the supported languages and the versions, eg. Node 14, Python 3.9...

[2021-03-15 12:27] #9105 closed

[2021-03-15 12:28] pgrzesik commented on #8772
Thanks for the clarification - all languages and versions supported by AWS are supported by Serverless Framework

[2021-03-15 12:30] pgrzesik commented on #9091
Thanks for clarification @medikoo - I agree that it would be good to first refactor the current piece of logic and they introduce a deprecation and allow to opt-in to new behavior (default by AWS) :+1:

[2021-03-15 12:57] pgrzesik commented on #9107
Hello @calumbrodie, thanks for reporting. I've managed to reproduce your issue locally. I believe in such situations we should not add the policy with `logs:CreateLogStream`, `logs:CreateLogGroup` and `logs:PutLogEvents` actions at all, it should ensure that the role can be created without issues.

We'd be happy to accept a PR that fixes that problem :+1:

[2021-03-15 13:03] pgrzesik commented on #8009
@nishchay-suteri I believe it's a limitation of API Gateway - it can only validate if the parameters in path, query string or headers of request are included and non-blank. Reference: https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-method-request-validation.html

[2021-03-15 13:05] pgrzesik commented on #8951
Hello @jwthomp - did you have issue with `deploymentBucket` setting as well? What version of the Framework are you using?

[2021-03-15 13:07] medikoo commented on #9095
Thanks @m-radzikowski for clarification. So it's as I thought, that you do not reach out from service root by traversing paths (e.g `../../services/common..`) but you're relying on built-in lerna intelligence which allows to work address package dependencies as if they're installed in service `node_modules`.

Problem we have here, that such mono-repo handling requires special tooling (as Lerna), a

[2021-03-15 13:22] m-radzikowski commented on #9095
Yes, it would be the perfect solution. Even for projects having multiple stacks and not using Lerna currently, migrating to using Lerna to achieve common config files would be probably beneficial.

Since you suggest making this as a separate plugin, which makes sense as it's not a built-in Node feature, I guess I would have to develop it to allow for seamless migration to serverless v3? 😉  Is ther

[2021-03-15 13:31] medikoo commented on #9095
There's no date set in stone, we hope to release it sometime before mid of year.

On our side, we will do our best to not go into v3 without providing a final solution for this use case.

In worst case scenario we will postpone deprecation, temporarily relax path restriction, and then re-introduce deprecation and work it out on v3 grounds.

[2021-03-15 15:13] neverendingqs commented on #8364
Thanks! I understand what is happening better now, but am still unsure how the example I provided above will resolve with the changes in #9110.

If there are no `${env:REGION}` references in `serverless.yml`, will `region` resolve to `us-east-1` or `us-east-2`? I suspect it can resolve to `us-east-1` today because `process.env.REGION` won't cause an error.

Having it call `dotenv` to load all envi

[2021-03-15 15:51] pgrzesik commented on #9101
Hello @birsi, thanks a lot for reporting. @medikoo do you know the reason why the original #8500 was closed?

[2021-03-15 15:54] medikoo commented on #9101
It was assumed as fixed with https://github.com/serverless/serverless/pull/8505 Wasn't it ?

[2021-03-15 15:55] pgrzesik commented on #9100
Hello @shalvah and @DavidWells - thank you both for very valuable input. We plan to revisit plugin support in the future and this is definitely worth considering. @medikoo What do you think of potentially extending `plugins` syntax to accept additional parameters?

[2021-03-15 16:08] medikoo opened #9112 "Variables: Introduce direct access to source resolvers in JS function resolvers"
### Use case description

Currently JS function resolvers, have mean to access other properties as resolved, but have no means to specifically resolve data from sources.

It's actually required, as due to fact that variables resolution is done at multiple stages, at very early stages some sources may not be available at fulfilled, and there's no clear method to _wait_ for them.

It's problem raise

[2021-03-15 16:08] pgrzesik commented on #9101
Sorry @medikoo - I've just verified on the latest `2.29.0` and I cannot reproduce the original issue so it seems like the issue has been fixed correctly.

@birsi - I see that the example you provided for reproducing is the exact same as in #8500 - I cannot reproduce the issue with it. Are you certain that you're on the latest version of Serverless Framework or at least on `2.12.0` where it was fix

[2021-03-15 16:10] medikoo commented on #8364
AWS Region in a framework is resolved as:
- If `--region` option was passed with a CLI command use it
- If `provider.region` was set in service configuration use it
- Use `us-east-1`

No environment variable influences that resolution.

Still you've pointed one aspect that's currently missed when JS function resolvers are in place.

Indeed when such resolver is invoked first time, `.env` files are

[2021-03-15 16:22] birsi commented on #9101
Hi! Thanks for looking into the issue! I updated the exact repro scenario (just confirmed and fixed the version numbers) and now re-tried from scratch. Same outcome: still the dev dependencies are bundled which resolves to

[code]

[2021-03-15 16:57] Ganitzsh opened #9113 "resolveConfigurationProperty cannot resolve variables"
`resolveConfigurationProperty` trhows an error when resolving a property containing variables. I tried with simple values and it works.

<details>

<summary>
<code>serverless.yml</code>
</summary>

[code]

</details>

<details>
<summary><b><code>generator.js</code></summary>

[code]
</details>

<details>
<summary><b><code>sls deploy -v</code> output</b></summary>

[code]

</details>

<b>Installed

[2021-03-15 17:46] jwthomp commented on #8951
Mine was trying to use !Sub in the custom parameters for serverless-plugin-datadog plugin. Specifically:
custom:
  datadog:
    forwarder: !Sub... (or #{AWS::AccountId})

I wound up having to re-enable serverless-pseudo-parameters to get #{AWS::AccountId} to work.

[2021-03-15 18:09] jolivaSan opened #9114 "AWS provider credentials not found. when stack spend some time."
While checking the stack status serverles sometime loose the credentials, we are using a EC2 runners with a profile that allow us execute serverless in the same AWS account, work perfectly but sometime when the stack spend some time serverless return a auth error.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy --stage pro</code

[2021-03-15 20:32] medikoo commented on #9113
Duplicate of #9105 (fix will be published with tomorrow's release

[2021-03-15 20:32] #9113 closed

[2021-03-16 02:44] julian-kunzig commented on #6442
Typo issue.
Should be from **ExposeHeader** to **ExposeHeaders**

[2021-03-16 05:53] rob-gonz commented on #8696
ChromeOS here, m1 Macbook fix is great but won't work for a Chromebook.  I know, "what are you doing developing on a Chromebook?".  It makes it super easy to dabble in various things while on the go.

[2021-03-16 08:07] Ganitzsh commented on #9113
Sorry about that, I've looked into the issues for a while and couldn't find any. Cool, thanks.

[2021-03-16 08:16] pgrzesik commented on #8696
Hello @rob-gonz - I don't have much experience with Chromebook, but do you have a chance to install Node and `serverless` directly via `npm`?

[2021-03-16 08:22] pgrzesik commented on #9114
Hello @jolivaSan, thanks for reporting and sorry you've run into trouble. Could you provide an information on how long does the deploy take before it errors out with credentials errors? I have a suspicion that it might be related to credentials expiration and caching and your information would be very valuable here

[2021-03-16 09:05] jolivaSan commented on #9114
hi @pgrzesikis, is spending about 25 minutes, is a canary deployment, cannot tell you exactly the time because i'm executing the deploy in github actions, the hole step is spending 28 minutes but i'm doing additional task before sls deploy like build (is typescript)....
<img width="1003" alt="Screenshot 2021-03-16 at 09 03 52" src="https://user-images.githubusercontent.com/61975803/111283029-8f920

[2021-03-16 10:36] medikoo opened #9116 "Provide plugin specific options in plugins section"
### Use case description

Idea originally proposed by @DavidWells at https://github.com/serverless/serverless/issues/9100#issuecomment-796442323

Instead of grouping plugin specific options at `custom` section as:

[code]

Group them directly in `plugins` section:

[code]

Alternatively we may explore switching from _array_ form to _object_ notation (technically both forms could remain to be suppo

[2021-03-16 10:46] medikoo commented on #9100
Dev dependencies (so also plugins you've listed as ones) are by default not packaged to lambdas, so technically `npm prune --production` should make no difference here. What do I miss (?)

@DavidWells that's a very interesting idea! Definitely worth considering, it definitely makes sense as a replacement for `custom` block, as it's a bit different matter I've opened other issue for that at: https:

[2021-03-16 11:01] shalvah commented on #9100
Ah, okay. Didn't know that was the case. I'll close this issue then.

[2021-03-16 11:01] #9100 closed

[2021-03-16 11:43] bayraak opened #9117 "serverless "eu-south-1" region is not supported by dashboard"
### Use case description

Serverless deploy fails due to unsupported AWS zone `Italiy/Milan` aka `eu-south-1`

Error while deploying:

[code]

### Proposed solution

Add the `eu-south-1` to the list of supported AWS zones

[2021-03-16 11:49] medikoo commented on #9117
@bayraak can you use "support" section in Dashboard to report that?

This issue tracker is purely for issues in Serverless Framework CLI

[2021-03-16 12:17] pgrzesik commented on #9116
Great call with creating a separate issue for this. I agree that it would be convenient to introduce it after dropping deprecated plugin notation from #7909. As for the proposal, I think mixed array/object notation looks a bit more "natural" as with object-only notation we will force "standard" use to always specify key `true` + it's not backward compatible with the current approach.

[2021-03-16 12:20] Quicksaver opened #9119 "AWS provider credentials not found with 2.30.0"
Upgrading from 2.29.0 to 2.30.0 breaks deployments with
[code]

Provider access is set via dashboard. I even created a new one (which also works with 2.29.0). It looks like it finds it according to the output, but doesn't use it?

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless deploy --stage qa --region us-east-1</code> output</

[2021-03-16 12:33] medikoo commented on #9119
@Quicksaver great thanks for reporting. I can reproduce it, fix will be published shortly

[2021-03-16 12:58] #9119 closed

[2021-03-16 15:22] bayraak commented on #9117
Sure, I will do that

[2021-03-16 15:28] RichardBradley commented on #7036
I have hit the same issue.
I am creating a REST API (API Gateway) in Terraform, then using Serverless to deploy a Stage inside it, by passing a "restApiId".
Serverless then ignores my "logs: restApi: accessLogging: true" settings.

I will attempt to move the logging config to Terraform, as you suggest. It is not straightforward as the log settings are per Stage and Serverless creates the Stage.

I

[2021-03-16 15:28] websolutionsonline opened #9125 "TypeError: Cannot read property 'ACM' of undefined"
I've been using the serverless framework for a number of years and it is fantastic..

However today while deploying I received the following error:

TypeError: Cannot read property 'ACM' of undefined

I do use the following plugins so it might not be an issue with serverless itself..

plugins:
  - serverless-plugin-dynamo-autoscaling
  - serverless-domain-manager
  - serverless-plugin-aws-alerts

[2021-03-16 15:31] websolutionsonline commented on #9125
After some digging I've noticed it's actually one of the plugins as specified here...

https://github.com/amplify-education/serverless-domain-manager/issues/416

[2021-03-16 15:31] #9125 closed

[2021-03-16 15:48] coyoteecd opened #9126 "provider.sdk is undefined as of v2.30"
Similar to #9099, today I've noticed that updating to latest serverless v2.30 is breaking the serverless-s3-sync plugin that we use to copy files to our S3 buckets. Source of the error is likely the fact that this plugin tries to instantiate an S3 client through the `provider.sdk` property. This is no longer available; I checked that it is working fine in v2.29.

It's likely the property was inten

[2021-03-16 16:00] tommy31 commented on #9126
Hey, problem seems to come from this function ```const provider = this.serverless.getProvider('aws'); ```

[2021-03-16 16:23] medikoo commented on #9126
@coyoteecd great thanks for report!

I think best way is if simply plugins rely on `provider.request` (note that it behind the scenes caches and reuse AWS SDK clients

Do you think `serverless-s3-sync` can be updated to do that?

[2021-03-16 16:33] alexander-zheleznov commented on #9126
I've got this error from serverless-domain-manager plugin after the update to 2.30.1 – `Cannot read property 'config' of undefined at ServerlessCustomDomain.initializeVariables (in serverless-domain-manager/dist/index.js:176:47)`, and it's due to 2.30.x as well since it's not reproducible on 2.29.x (I specifically checke). Seems like not only s3-sync plugin is affected.

[2021-03-16 16:34] coyoteecd commented on #9126
@medikoo Well if you look through the plugin code, they jump through a lot of hoops just [to override a property on the S3 client](https://github.com/k1LoW/serverless-s3-sync/blob/9628ca6fe190c9c58109249fcc3b2d6685e84db8/index.js#L98-L106).
I don't see how I could do that via `provider.request`?

[2021-03-16 16:38] medikoo commented on #9126
@coyoteecd indeed, currently `provider.request` doesn't provide a mean for that (it should).

Let me ensure `provider.sdk` is accessible. We will probably drop it then with v3, but in controlled way, with proper deprecation, and offering a reliable alternative.

Sorry for mess it created, PR is coming.

[2021-03-16 16:54] #9126 closed

[2021-03-16 16:55] debugguru opened #9128 "Serverless 2.30 breaks sls deploy"
latest update of serverless breaks sls deploy with following error

 Type Error ----------------------------------------------

  TypeError: Cannot read property 'ACM' of undefined
      at new DomainConfig

It works fine with 2.18

I am using following plugins with serverless

[code]

[2021-03-16 17:02] medikoo commented on #9128
@debugguru I believe it's a duplicate of https://github.com/serverless/serverless/issues/9126 which was just fixed (new release is being rolled out).

Otherwise you're report missing answers to questions needed to be able to investigate it properly.

[2021-03-16 17:04] coyoteecd commented on #9128
@debugguru it helps if you narrow down the plugin that's failing, either by removing them or just searching for the failing line of code in node_modules...

For what is worth, `new DomainConfig()` shows up in serverless-domain-manager plugin, [here](https://github.com/amplify-education/serverless-domain-manager/blob/master/src/index.ts#L118).

[2021-03-16 17:31] Quicksaver commented on #9119
Confirming release 2.30.1 fixed my case. Thanks for the speedy patch! 👌

[2021-03-16 17:42] clarkritchie commented on #9126
Thank you for the fast turnaround!  :clap:

[2021-03-16 17:49] john-aws opened #9130 "Improve feedback to user deploying template with errors"
### Use case description

Improve feedback to user deploying template with errors

It's common, in fact probable, that sls users will attempt to deploy serverless templates that have bugs in them. The `sls deploy` step is not very forgiving of common user errors and does not provide meaningful help to users to identify their mistakes. This leads to frustration with sls and time wasted.

### Propos

[2021-03-16 17:53] calumbrodie commented on #9107
Hi,

I had a look and may be able to do something to fix but it would require a fairly large refactor of "mergeIamTemplates.js".

I think the general approach should be to first iterate the functions and store an array of named resources that need to be logged, and an array of ones that do not (disabled). Then depending on if these are empty or not then construct the resources appropriately. I thi

[2021-03-16 18:08] rob-gonz commented on #8696
Hey @pgrzesik , Yes, that's what I ended up doing and it installed just fine.

Seeing "Install as standalone binary" as the first option on https://www.serverless.com/framework/docs/getting-started/ sent me down the wrong path initially.  I then realized that's not how I have it installed on the other machines I use it on. I finally installed it from the instructions on main Github page.

Thank yo

[2021-03-16 18:15] medikoo commented on #9117
@bayraak Thank you!

[2021-03-16 18:15] #9117 closed

[2021-03-17 03:01] thongle91 commented on #9099
@medikoo the PR get merged and released in version 1.1.0.

[2021-03-17 05:02] beccslee commented on #8791
Hi @pgrzesik, I'm new to contributing and was wondering if this issue is still relevant? If no one has submitted a PR for it yet, I think I have one to submit for review.

[2021-03-17 06:37] MatteoGioioso commented on #3785
Same bug here.
But what I would like to understand is if this is a Serverless framework issue or just Cloudformation/Apigateway? Can someone make some light this issue has been going on since 2017.

[2021-03-17 07:35] arslanalidev commented on #6247
I am still facing the same issue on **Mar, 2021**
Can anyone let me know how to resolve it?

[2021-03-17 08:03] pgrzesik commented on #6247
Hello @arslanalidev - what version of the Framework and plugin are you using?

[2021-03-17 08:09] pgrzesik commented on #3785
@MatteoGioioso Unfortunately, to my best understanding, this is an issue on AWS/APIGW side

[2021-03-17 08:10] pgrzesik commented on #8791
Hello @beccslee :wave: The issue is still relevant and we'd be more than happy to accept a PR for this one :raised_hands:

[2021-03-17 08:16] debugguru commented on #9128
Thanks @medikoo  and @coyoteecd. I can confirm that 2.30.3 fixes this.

[2021-03-17 08:16] #9128 closed

[2021-03-17 08:23] medikoo commented on #7036
That's expected. Logs are turned only, if REST API is created with a stack, and not when you reference an externally setup API (in this case, we do not mess with global settings of it, as all it's setting should be set by entity which created it)

[2021-03-17 09:55] pgrzesik commented on #9130
Hello @john-aws, thanks for reporting. The situation that you're describing turned out to be an edge case that we've missed and I've already prepared a PR that aims to fix this: https://github.com/serverless/serverless/pull/9133

As for the general validation, we have configuration schema validation in place which warns or errors out on invalid configuratio: https://www.serverless.com/framework/do

[2021-03-17 10:13] pgrzesik commented on #8951
Hello @jwthomp - thanks for the explanation, the built-in notation for pseudo-params is a bit different: https://www.serverless.com/framework/docs/providers/aws/guide/variables/#pseudo-parameters-reference did you try that one as well? Additionally, what error did you experience? Did it come from the plugin directly?

[2021-03-17 10:20] pgrzesik commented on #9114
Thanks @jolivaSan for providing extra details. How are you exposing AWS Credentials to Github Actions in this case? Does the runner assume a role and uses temporary credentials during deployment? If yes, do you happen to know for how long are these credentials valid? It seems like in the process the credentials become no longer valid which causes the deploy to fail

[2021-03-17 10:31] arslanalidev commented on #6247
Framework Core: 2.30.2
Plugin: 4.5.1
SDK: 4.2.0
Components: 3.7.4

[2021-03-17 10:39] pgrzesik commented on #6247
@arslanalidev Could you also share what version of `serverless-offline` are you using and the problematic `serverless.yml` configuration with all sensitive parts masked out?

[2021-03-17 10:58] pgrzesik commented on #9101
Thanks @birsi - I tried once again and I cannot reproduce the issue. @medikoo Do you think you could try reproducing it on Mac? That's the only difference that I see in my setup (I'm on Linux).

[2021-03-17 11:03] ryands17 opened #9134 "Setting NODE_ENV to production triples bundle size"
As per this discussion: https://github.com/serverless/serverless/discussions/9123 I have a [repo](https://github.com/ryands17/serverless-prisma/) deploying a Serverless GraphQL app.

Using `sls package` with `NODE_ENV` set to `production` gives almost 3 times the bundle size (screenshots in the above discussion).

<b>Installed version</b>

[code]

[2021-03-17 11:18] birsi commented on #9101
Thank you @pgrzesik! Very odd indeed. I will ask my team to reproduce it for an additional confirmation as well.

[2021-03-17 11:27] medikoo commented on #9101
@birsi I also cannot reproduce it on macOS. Created even reproduction case (with all deps installed and versioned) here: https://github.com/medikoo/test-serverless/tree/9101-case

And when working with it, outcome is as follows:

[code]

Also note there's no `.serverless/serverless-starter/node_modules` folder as in your case.

[2021-03-17 11:32] pgrzesik commented on #9101
Thanks @medikoo - I have the exact same results on my machine.

[2021-03-17 11:37] arslanalidev commented on #6247
I got it. My issue is fixed
Thank You so much

[2021-03-17 11:41] pgrzesik commented on #6247
Happy to hear that :partying_face: I'm going to close this issue as it seems to be outdated.

[2021-03-17 11:41] #6247 closed

[2021-03-17 14:18] pgrzesik commented on #9107
Hello @calumbrodie - that would be awesome :raised_hands:

Could you elaborate a little bit more on that approach? Please keep in mind that during `compileFunctions`, there might be additional policies added caused by e.g. use of specific events.

Functions that are "CanonicallyNamed" don't have `name` property specified in the config and their name is generated internally to have form `{service}-

[2021-03-17 14:38] AJ84177 commented on #7243
Is there any progress in this issue :)

[2021-03-17 15:25] RichardBradley commented on #7036
a) I didn't expect it, as the docs don't mention that caveat at all.
See e.g. https://www.serverless.com/framework/docs/providers/aws/guide/serverless.yml/ : " Optional configuration which specifies if API Gateway logs are used. This can either be set to `true` to use defaults, or configured via subproperties."

b) as mentioned above, I can see that this is a reasonable thing to do, but I think se

[2021-03-17 16:41] john-aws commented on #9130
Actually, that sounds good. I think I must have been unlucky in hitting this specific issue before any others and assumed a more general lack of schema validation. Happy with the PR and thank you for responding, and fixing, so quickly.

My version info:

[code]

[2021-03-17 16:41] #9130 closed

[2021-03-17 16:49] pgrzesik commented on #9130
Thanks for your feedback @john-aws :bow: As for the fix, it should be out with a release sometime this or early next week. Cheers

[2021-03-17 16:50] pgrzesik commented on #5668
Hello @seanyboi - would you be willing to provide a reproducible example? I've tried to reproduce the issue on the latest version of the framework for both `rate` and `cron` and both were correctly updated. What version of the Framework are you using?

[2021-03-17 19:07] zachwhaley commented on #8395
@FergusMcGlynn Did you find a workaround for this?  We did by using the new `file` function to call a JS script that just calls sts to get the current account ID, but I was wondering if there is a Serverless native way to do this.

I found this PR which makes it seem like pseudo params are supported #9103

[2021-03-17 23:30] vladimirveselov opened #9136 "When API Gateway REST API is private the generated ServiceEndpoint doesn't include VPC endpoint Id"
The generated ServiceEndpoint can be resolved only in the same VPC, when very often it is needed to use Route53 alias.
For example, when you use DirectConnect of VPC Peering Connection.

https://<rest_api_id>-<vpc_endpoint_id>.execute-api.<aws_region>.amazonaws.com

Here is the code:

https://github.com/serverless/serverless/blob/c5ba682a6bc4fc96151c75cdf50cff2468d6def5/lib/plugins/aws/package/com

[2021-03-18 06:02] beccslee commented on #8791
@pgrzesik I submitted a PR based on the proposed solution and your previous comment for changes in files. I saw the part about using runServerless with new tests, but I happened to modify the existing tests in apiKeys.test.js, as that was mostly where I saw  to the api keys test and it seemed to have been a good fit. Please comment and redirect in review if that is not the case. Thank you!

[2021-03-18 10:24] pgrzesik commented on #8791
Thank you @beccslee :bow: I've responded in PR review - please let me know what do you think. Feel free to reach out if you have any questions, too :100:

[2021-03-18 10:27] pgrzesik commented on #9136
Hello @vladimirveselov, thanks for reporting. We'd be happy to accept a PR for that, but before, could you link related documentation about the above? To be honest I'm not super familiar with setup that you're using and I'd like to better understand it and confirm that in the process we won't break anything. It will be much appreciated :bow:

[2021-03-18 10:37] medikoo commented on #7243
@AJ84177 we're open for PR, that introduces similar patch as currently is done by plugin mentioned above. Are you interested in preparing a PR?

[2021-03-18 10:44] emilpaw opened #9138 "Setting up Lambda@Edge and CloudFront"
I have some troubles setting up CloudFront and Lambda@Edge for our SPA.

My goal is to serve all requests with the origin `myfrontendbucket.s3-website.eu-central-1.amazonaws.com`, but invoke my `edge-redirector` Lamda@Edge function if the path `somepath/` is accessed.

The CloudFront setup works, but the Lambda is not associated with the CacheBehaviour. Weirdly, it creates the Lambda@Edge function

[2021-03-18 10:50] pgrzesik commented on #9138
Hello @emilpaw, thanks for reporting, could you please follow the issue template that is shown when you try to create a new issue - please include the Framework version that you're using.

[2021-03-18 10:50] medikoo opened #9139 "API Gateway: When external REST API is used, warn if not applicable settings are configured"
Settings as `provider.tracing.apiGateway` & `provider.logs.resteApi`, are applied to API Gateway, only if it's created with a stack (no `provider.apiGateway.restApiId` pointing externally setup REST API is configured).

In situation when they're setup together with `provider.apiGateway.restApiId` , they're silently ignored, and may raise confusion, as reported here: https://github.com/serverless/s