[2018-11-27 03:35] bradbenvenuti opened #5522 "SLS Invoke Local Exiting Too Soon"
# This is a Bug Report

## Description

* What went wrong? sls invoke local with a nodejs handler that uses callbacks exiting too soon
* What did you expect should have happened? sls invoke local should wait for handler callback to be called before exiting
* What was the config you used?
* What stacktrace or error message from your provider did you see?

Similar or dependent issues:
* #5349

## Ad

[2018-11-27 11:35] LazarDL opened #5523 "Wierd async behaviour when invoking locally from 1.33.0 onward"
# This is a Bug Report

## Description

* What went wrong?
When **invoking locally**, promises created by async functions don't propagate past the first "then" in the chain.
(in the provided snippet the output is First, Second).
This behavior is observed from version 1.33.0(included) and up.
* What did you expect should have happened?
The whole chain is executed (including the catch if an exceptio

[2018-11-27 14:15] dschep commented on #5523
You are correct that this is a duplicate of #5522

[2018-11-27 14:15] #5523 closed

[2018-11-27 14:17] dschep commented on #5523
Actually. it's not quite the same issue. but tbh, I'm not sure there's a good way to handle a function that's not ever returning a promise or calling the callback function. You should be able to fix your issue by making your handler (note the return):
[code]

[2018-11-27 14:39] LazarDL commented on #5523
Ah yes. True that. However, in the actual code we are invoking the callback in the final "then" statement or in the catch (some of our legacy code works with callbacks and we haven't gotten around to refactoring it).
Anyway, we will either stick to 1.32 for now or do some slight refactoring.
Thanks.

[2018-11-27 15:06] revmischa opened #5526 "Python 3.7 runtime not supported"
https://aws.amazon.com/blogs/compute/python-3-7-runtime-now-available-in-aws-lambda/

If I specify python3.7 as my runtime and do a local invoke I get the error:

`  You can only invoke Node.js, Python & Java functions locally.`

[2018-11-27 15:19] softprops commented on #5526
Support for this was merged [about a week ago](https://github.com/serverless/serverless/pull/5505). It hasn't been rolled up into [a release](https://github.com/serverless/serverless/releases) yet. Expect it in 1.33.3 or later

[2018-11-27 15:20] #5526 closed

[2018-11-27 16:14] daniel-cottone opened #5527 "Feature Request: Individual packaging CLI option for package command"
# This is a Feature Proposal

## Description
It would be nice to be able to override the yaml configuration for packaging from the command line. The use case I have in mind is to speed up PR status checks we have on our projects that are using individual packaging.

My thought is that it would be something like `sls package --individually false`.

[2018-11-27 17:41] f0ster commented on #4614
@wonathanjong I have it working with the above explicit response settings, and these serverless settings:
[code]
Also, If your error path callbacks to the handler do not have the same headers on the response, then it will also show up as a CORS issue and not a 4/500, etc

[2018-11-27 18:45] bobmoff commented on #5198
I also experienced indent issues, which is hard to spot as they just get silently ignored. But anyway, would be great if yaml format was validated prior to deploys, and preferably an error stating what is wrong. :)

[2018-11-27 20:52] daniel-cottone commented on #4593
I've raised a PR which should add this feature. https://github.com/serverless/serverless/pull/5529

[2018-11-28 10:00] zannis opened #5530 "Handling of operationId field"
Hello, on nodejs services, I make extensive use of the "operationId" field that is part of the OpenAPI specification. When deploying services to AWS using serverless, I set the field under s-functions.json like so:

[code]

However, the operationId field is not pushed to AWS API Gateway when the service is deployed using serverless. The issue is only reproducible on serverless deployments, that's

[2018-11-28 10:20] NikitaLiashenko commented on #1439
I would like to add an update here.
I've tried to do same and here are my results.
### CloudFormation
"cloudformation:CancelUpdateStack"
"cloudformation:ContinueUpdateRollback"
"cloudformation:CreateStack"
"cloudformation:DeleteStack"
"cloudformation:DeleteStackSet"
"cloudformation:DescribeChangeSet"
"cloudformation:DescribeStackEvents"
"cloudformation:DescribeStackResource*"
"cloudformation:Descr

[2018-11-28 11:16] geovanisouza92 commented on #1439
What about creating an Access and Secret Key for an account, activate CloudTrail and deploy all the official examples, and then, just process the trail logs to determine what has been used?

[2018-11-28 12:19] NikitaLiashenko commented on #1439
@geovanisouza92 You are welcome to do this and share your results

[2018-11-28 13:04] exoego commented on #5357
This issue is very frustrating for me, too.

Currently, `AWS::Lambda::Permission` object are created for every `cloudwatchLog` events.
If one `CloudFormation` stack has many `AWS::Lambda::Perission`, `CF` raises `The final policy size is bigger than the limit` error.
The issue forces users to split `cloudwatchLog` subscriber services into separate `serverless.yml`.

I will open PR for this.

[2018-11-28 13:17] ptrhck commented on #5094
I would like to point to [this ](https://stackoverflow.com/questions/52640684/how-to-configure-serverless-yml-to-read-python-boolean-values-correctly/53520349#53520349) issue on stackoverflow as I am having the same one. How can this be resolved in serverless.yml?

[2018-11-28 22:14] exoego opened #5533 "TravisCI's async test randomly fail"
# This is a Bug Report

## Description

* What went wrong?
TravisCI's Async test randomly fail on multiple Pull Reques due to timeout.
https://travis-ci.org/serverless/serverless/jobs/433968798#L6846
https://travis-ci.org/serverless/serverless/jobs/460342754#L6803
https://travis-ci.org/serverless/serverless/jobs/461000739#L6803
https://travis-ci.org/serverless/serverless/jobs/461008020#L6173

* Wh

[2018-11-28 23:22] uclaeagit commented on #4230
I am getting this error, but only when I run through AWS CodeBuild. From my local machine sls deploy works fine and is able to connect to the S3 bucket.

[code]

I can run other serverless deploy jobs through CodeBuild - the only difference being that those were not using the custom deploymentBucket. I made sure all the settings and permissions on my new S3 bucket matched the settings on the old b

[2018-11-29 01:38] uclaeagit commented on #1439
Add **s3:GetBucketLocation** to the list if you're trying to use your own custom deploymentBucket. That one took a while to nail down because it was just giving me Access Denied on the S3 bucket.

Here is my latest list:

[code]

[2018-11-29 07:09] yassermog commented on #3833
thanks @Vilsepi it is working Now as you explain

[2018-11-29 07:15] Jaystified opened #5534 "Regression: Serverless 1.33 does not properly support integers as external values"
# This is a Bug Report

## Description

* What went wrong?
A `logRetentionInDays should be an integer over 0` error interrupts deployment when the logRetentionInDays value is provided externally (in my case via a shell command)
* What did you expect should have happened?
Externally provided integer is properly interpreted and deployment completes successfully.
* What was the config you used?
Tryin

[2018-11-29 08:12] 82949712 opened #5535 "Do we support DynamoDB on-demand mode now?"
Announce new billing model today

[2018-11-29 09:47] robinvw1 commented on #5535
DynamoDB on-demand `is available globally in all commercial regions.`, they're telling in their announcement: https://aws.amazon.com/blogs/aws/amazon-dynamodb-on-demand-no-capacity-planning-and-pay-per-request-pricing/

I've just tried it out by adding [BillingMode](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-dynamodb-table.html#cfn-dynamodb-table-billingmode):

[co

[2018-11-29 09:50] kowalski commented on #4786
I have the same problem. Did you find a workaround (other than the obvious - using profile's credentials) ?

[2018-11-29 10:02] benoitvidis commented on #5513
+1

[2018-11-29 11:38] RUSHt opened #5536 "HTTP redirect to HTTPS"
AWS CloudFormation configuration is not redirecting http to https

I built a simple service using --template aws-nodejs, it deploys successfully with a custom domain name & certificate.

The service works fine with a https://, but GET to  http://.... fails.

Usually this is resolved by configuring a cloudFront Behaviour Viewer Policy to Redirect HTTP to HTTPS, but I can’t see how to achieve the sa

[2018-11-29 13:13] #5522 closed

[2018-11-29 13:17] dschep commented on #5513
Looks like it needs to be added to this list: https://github.com/serverless/serverless/blob/c0fcdbb32ccf6ff8601582e159d33c252ea5a75a/lib/plugins/aws/package/compile/events/cognitoUserPool/index.js#L5

[2018-11-29 13:19] dschep commented on #4786
Does it work if you use the use this assume-role util? https://github.com/remind101/assume-role

[2018-11-29 13:20] dschep commented on #5535
Thanks for testing that out @robinvw1!

[2018-11-29 13:20] #5535 closed

[2018-11-29 13:21] dschep commented on #5534
Could you provide the relevant parts of your `serverless.yml` please?

[2018-11-29 13:45] dschep commented on #5514
could you provide the relevant parts of your `serverless.yml`?

[2018-11-29 13:46] dschep commented on #4218
You are correct @c24w!

[2018-11-29 13:46] #4218 closed

[2018-11-29 13:47] dschep commented on #5506
I think it's a good idea. Feel free to open a PR 👍

[2018-11-29 13:51] dschep commented on #3369
@yoyeung are you trying to access that value in the constructor of your plugin? Unfortunately, the variables aren't resolved at that time, but they are during lifecyclehooks later. See docs: https://serverless.com/framework/docs/providers/aws/guide/plugins#serverless-instance

[2018-11-29 14:02] dschep commented on #3267
@bahrmichael these files are probably good starting points:
 - https://github.com/serverless/serverless/blob/master/lib/plugins/package/lib/packageService.js
 - https://github.com/serverless/serverless/blob/master/lib/plugins/aws/deploy/lib/uploadArtifacts.js
 - https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/functions/index.js

----------------

@cbeeton for t

[2018-11-29 16:56] softprops commented on #5535
Short post on the topic https://link.medium.com/tiQuuDXcfS

[2018-11-29 17:02] chriscarex opened #5537 "Neptune DB instance error after sls deploy"
# This is a Bug Report

## Description

* What went wrong?
Trying to generate a Neptune DB running sls deploy, got an Invalid master password error
Adding MasterUserPassword, gives a Encountered unsupported properties in {/}: [MasterUserPassword error

* What did you expect should have happened?
There should have been no error and the NeptuneDB should have been generated (the serverless user has a

[2018-11-29 19:02] jagthedrummer opened #5540 "Ruby support"
# This is a Feature Proposal

## Description

With the release of Ruby as a supported run-time for lambda it would be great to have support for it in serverless.

https://aws.amazon.com/blogs/compute/announcing-ruby-support-for-aws-lambda/

Similar or dependent issues:
* #5476 might be related, but seems to be asking about something different than the native Ruby support that AWS just announce.

[2018-11-29 19:02] swhite24 opened #5541 "Set IoT permission without creating new rule"
# This is a Feature Proposal

## Description

* Current support for creating IoT rules with a lambda action works great, but lambda can also be invoked by rules without being the direct action of the rule.  [See the docs](https://docs.aws.amazon.com/iot/latest/developerguide/iot-sql-functions.html#iot-func-aws-lambda) for more details.
* I would envision the only necessary configuration to be the

[2018-11-29 19:13] zannis commented on #5530
Hmm, actually I'm working on a project that is using serverless 0.7.2 which
I then upgraded to 1.1.0 in an attempt to resolve the {{operationId}} issue
but kept the {{s-functions.json}} configurations as references in my
{{serverless.yaml}}.

Does that mean that ^1.0.0 versions support the {{operationId}} field under
a different configuration? If so, please advise because I couldn't find any
infor

[2018-11-29 19:20] softprops opened #5542 "Invoke local support for `provided` runtime"
# This is a Feature Proposal

## Description

Just starting the discussion about what these would look like in serverless
https://aws.amazon.com/blogs/aws/new-for-aws-lambda-use-any-programming-language-and-share-common-components/

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.

Specifically would like support new runtime

[2018-11-29 19:30] dschep commented on #5542
Layers is supported in v1.34.0 that I just released!

For runtime: you can already use it with framework. Change `runtime: nodejs8.10 #or other` to `provided: provided` and make sure your service (or a layer) contains an executable `bootstrap` file that implements a runtime and it'll work!

I haven't created a template for `sls create` because I wasn't sure what to include in a `bootstrap` for tha

[2018-11-29 19:40] softprops commented on #5542
I'm already had a plugin ( and repo templates ) for rust. I'm going to adapt them to this new model https://github.com/softprops/serverless-rust. Invoke local would be what I'd need from you :)

[2018-11-29 19:51] eangeeag commented on #3514
Same issue here. Variables work when I defined them in the provider but they are undefined where defined for a particular function.

[2018-11-29 19:55] dschep commented on #5537
Hmm.. I don't see any password properties in the docs for Neptune+CloudFormation: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-neptune-dbinstance.html#aws-resource-neptune-dbinstance-prop

[2018-11-29 20:03] dschep commented on #5476
This has been released.

[2018-11-29 20:03] #5476 closed

[2018-11-29 20:04] dschep commented on #5540
Yup! We definitely should support all the new runtimes announced. #5476 isn't particularly related since it's for openwhisk, not aws.

[2018-11-29 20:31] dschep opened #5545 "Ruby Invoke Local support"
# This is a Feature Proposal

## Description
We should support `sls invoke local` for ruby.

Similar or dependent issues:
* #5540 - initial request for ruby support
* #5544 - PR implementing a ruby template

[2018-11-29 20:34] dschep commented on #5540
I've created a PR for the template & made an issue for invoke local support. But! you can already use it! Use `sls create -t aws-nodejs` and then replace `runtime: nodejs8.10` in `serverless.yml` with `ruby2.5` and then create a handler based off of the `handler.rb` in the PR: https://github.com/serverless/serverless/blob/09f7b10594b6b1b5f58be744239ee4d519b5d70c/lib/plugins/create/templates/aws-ru

[2018-11-29 20:42] #4593 closed

[2018-11-29 21:11] cgspohn commented on #4715
Also trying to implement CI/CD with inmutable packages here.  I have setup the jobs to carry the serverless.yml, package.json and package-lock.json as workaround.  But now, we find that if the serverless.yml contains variables using the ${file(...)} things break, since it tries to find the files locally and of course, they are not, they are the packaged zip file.     If serverless is working from

[2018-11-29 21:49] jagthedrummer commented on #5540
Awesome, @dschep! I'll give it a try.

[2018-11-30 00:15] ericofusco opened #5548 "Lambda Layers support"
# This is a Feature Proposal

AWS released a feature called Lambda Layers to share code across multiple functions.

https://aws.amazon.com/blogs/aws/new-for-aws-lambda-use-any-programming-language-and-share-common-components/

With this feature available we can simplify the packaging process by just adding layers to functions.

[2018-11-30 01:40] delprofundo commented on #5535
best day ever and great review!

[2018-11-30 03:39] evgenykireev opened #5549 "Lambda Layer not created"
# This is a Bug Report

## Description

I follow documentation for lambda layers support - https://serverless.com/framework/docs/providers/aws/guide/layers/

* What went wrong?
CloudFormation failed with an error.

* What did you expect should have happened?
A layer is created and linked to a lambda function

* What was the config you used?
[code]

* What stacktrace or error message from your prov

[2018-11-30 04:53] evgenykireev commented on #5549
My mistake. `layers` must be on root level of serverless.yml

[2018-11-30 04:53] #5549 closed

[2018-11-30 04:59] dschep commented on #5548
Yup. What @evgenykireev  said. Update to v1.34.0 for that.

[2018-11-30 04:59] #5548 closed

[2018-11-30 10:38] a-h commented on #4853
Could be related to this https://forum.serverless.com/t/error-in-retrieving-cloudformation-template/5615/2

In the cases there, it's more likely MFA was enabled after the first deploy created the buckets, maybe in this case MFA is required on the entire region by policy?

[2018-11-30 10:50] Somebi commented on #5514
sure, when i'll reach my workstation

[2018-11-30 12:01] j105 commented on #5540
Any chance you guys figure out how to include gem "pg". It's a native extension.

[2018-11-30 12:43] lennylucas commented on #5535
Thanks for this.  I get error like one below though when I try and set billingMode for a table I have already set to on-demand through the UI.

An error occurred:One or more parameter values were invalid: The BillingMode for the table will not change. The requested value equals the current value. Current BillingMode: PAY_PER_REQUEST. Requested BillingMode: PAY_PER_REQUEST (Service: AmazonDynamoDBv

[2018-11-30 13:56] dschep commented on #5540
@j105 I recommend a combination of docker (with the [docker-lambda images](https://github.com/lambci/docker-lambda/)) to compile it and then maybe publish it as a [layer](https://serverless.com/blog/publish-aws-lambda-layers-serverless-framework). You might be able to use my SQLite native python extension layer as a starting point: [dschep/sqlite-lambda-layer](https://github.com/dschep/sqlite-lamb

[2018-11-30 14:12] dschep commented on #5549
To create the layer you want it at the root level, to use a layer you want it in the handler.

[2018-11-30 14:23] #5540 closed

[2018-11-30 14:46] dschep commented on #5535
Huh.. that sounds like a CloudFormation bug to me @lennylucas :(

[2018-11-30 15:55] bahrmichael commented on #3267
@JtheB this is the issue I mentioned. Go ahead and let them know when you're working on it.

[2018-11-30 16:40] jagthedrummer commented on #5540
Holy smokes, y'all are fast! 🤘

[2018-11-30 16:41] xgiovio commented on #3947
i can confirm the bug is still present on the latest version of serverless framework 1.34

[2018-11-30 18:54] rupakg commented on #5545
@dschep are you working on this issue?

[2018-11-30 19:03] dschep commented on #5545
I am not. I don't really know enough ruby to do this quickly & confidently.

[2018-11-30 21:03] ericofusco commented on #5549
Nice! I'm glad the feature was ready for the release. Thank you, great job!

[2018-11-30 21:04] ericofusco commented on #5548
Nice! I'm glad the feature was ready for the release. Thank you, great job!

[2018-11-30 23:16] dschep commented on #5534
Ah.. What if you do:
[code]
(remove the quotes)

[2018-11-30 23:17] j105 commented on #5540
@dschep awesome, works well. thanks for those info.

[2018-11-30 23:19] dschep commented on #5534
Tho I wouldn't expect `${opt:logRetentionInDays}` to work :disappointed: I'm not sure how this is dealt with for other options that must be integers. IMO because of the `${opt:adsflajdf}` feature (and other variable sources like SSM) it makes sense to attempt to cast values to the right type. Thoughts @pmuens @eahefnawy @horike37?

[2018-12-01 00:36] j105 commented on #5540
@dschep thanks for helping.

I created a simple repo to demo how to include a native gem for ruby

https://github.com/DevHubCo/ruby-pg-lambda

[2018-12-02 10:44] casertap opened #5553 "Conditional custom authorizer depending on the stage"
# This is a Feature Proposal

## Description

The use case: You want to add a basic auth (using an authorizer) to access the staging environment but not for the production.
If the authorizer bloc would have an `enabled` attribute (like the pluging: serverless-domain-manager) we could do something like this:

[code]

[2018-12-02 13:15] ghinks commented on #5474
I'm adding my 2 cents worth that when I use a simple export of the aws secret and key it does work but if I specify a profile
[code]

when these are specified in the ~/.aws/config and credentials the named profile is not found when using serverless.

[2018-12-03 11:00] Jaystified commented on #5534
Confirming that removing the quotes does not change the outcome.

Was the `${opt:adsflajdf}` feature modified in `1.33`?

[2018-12-03 11:04] engmsaleh opened #5555 "recreate a project from current deployed serverless AWS code"
I have current deployed serverless deployed to AWS, but I don't have the original serverless project, Is there any way to rebuild the serverless project from the current deployed code on My AWS?

[2018-12-03 14:33] dschep commented on #5534
does `logRetentionInDays: ${self:custom.defaultLogRetentionInDays}` alone with an integer at `custom.defaultLogRetentionInDays` work? I don't think the opt option has ever coerced values to different types :/

[2018-12-03 17:02] perzanko opened #5556 "Lambda layers packaging problem"
I've used the new serverless feature Layers in my nodejs project. I encountered packing problem with layer nodemodules.zip

This is what I got in console
[code]

This is my config:

[code]

I did a very ugly workaround:
1. `serverless package --stage development`
2. I edited manually layers.artifact path in `serverless-state.json`
from `../.build/.serverless/nodemodules.zip` to `../.serverless/nod

[2018-12-03 18:09] JonasLaux opened #5557 "Function "rod-MyFunctionName" doesn't exist in this Service"
# This is a Bug Report

## Description

* What went wrong?

I'm deploying to GCloud Functions. When i do this with `sls deploy`, the deployment runs through, also everything is updated and online, but the whole process ends with an error.
So, my CI is failing all the time, but it actually worked.

* What did you expect should have happened?

Mostly the same, but exiting with a success.

* What was

[2018-12-03 18:15] dschep commented on #5556
I think this is an incompatibility in one of the plugins. I suspect serverless-plugin-split-stacks. Does that seem likely @dougmoscrop?

[2018-12-03 18:16] dschep commented on #5474
@ghinks does it work if you set the aws-sdk's `AWS_SDK_LOAD_CONFIG` env var option?

[2018-12-03 18:18] dschep commented on #5555
Not currently. Sorry. I think the closest you'll get is AWS's builtin ability to download a function (dunno about more than one) as a SAM configuration.

[2018-12-03 19:04] engmsaleh commented on #5555
I think the complexity in the AWS resources, I'm trying to check the `compiled-cloudformation-template.json`, but it have a lot of things, I don't know if that is all required or serverless add some of its things their?

[2018-12-03 19:11] engmsaleh commented on #5555
The other thing I want to know, If I couldn't recreate the serverless project and wanted to move it from AWS account to another, Will I could be able to do so? and what is the required files to collect, export and import there?

[2018-12-03 19:35] dschep commented on #5555
Yeah, there's a lot in the compiled cfn template that is added automatically by the framework. CloudWatch stuff is usually all added automatically. Much of the ApiGateway stuff (if you have it) is generated from a rather minimal config in the `serverless.yml`

To move it to an other account, it should be possible if you ahve the cfn templates and the zip files in the s3 bucket that contain the han

[2018-12-03 20:20] dougmoscrop commented on #5556
Dunno, it doesn't touch the function zip...

Easy way to test: comment out the plugin and deploy. If it fails BC of resources then it got further?

[2018-12-03 21:32] dschep commented on #5556
Looks like the typescript plugin is to blame: https://github.com/prisma/serverless-plugin-typescript/search?q=.build&unscoped_q=.build

[2018-12-03 22:01] perzanko commented on #5556
Hmm, well! What do you suggest then? Should I migrate to webpack based compilation?

[2018-12-04 00:47] ghinks commented on #5474
unfortunately not :(

[2018-12-04 00:47] ghinks commented on #5474
but many thanks for the tip :)

[2018-12-04 00:49] ghinks commented on #5474
I'm quite interested in trying to debug the issue. I'll look at the serverless code to see when/and/or what the order of precedence is as it happily picks up the exported key and secret but does not see the profile.
Hints to where to look first accepted :)

[2018-12-04 01:55] q42jaap opened #5558 "schedule from file with default value removes space"
# This is a Bug Report

## Description

* What went wrong?
I ran `serverless deploy --stage custom`. The serverless.yml refers to files like `serverless.prod.config.json` depending on the stage name.
I have a variable schedule, it's running faster on acceptance than on prod.
Because I was using a `custom` stage there is no `serverless.custom.config.json` and all the settings fall back to their def

[2018-12-04 03:16] Jaystified commented on #5534
Yes, `${self:custom.defaultLogRetentionInDays}` alone does work (as does the full line when the var isn't provided).
Since the original serverless.yml did work as-is in previous versions, the variables were coerced somehow at some point :\

[2018-12-04 04:56] cheneyweb commented on #5535
I have met this problem too
when will it fix?

An error occurred:One or more parameter values were invalid: The BillingMode for the table will not change. The requested value equals the current value. Current BillingMode: PAY_PER_REQUEST. Requested BillingMode: PAY_PER_REQUEST (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ValidationException; Request ID: IKTCQG5DUA7IQ28G92GS76FTKNVV4KQ

[2018-12-04 05:44] delprofundo commented on #5535
I was getting this same error. NOTE we dont have console access so only config by resources so  if you have touched the console this may not apply.

1) Make sure you dont have any scaling policies attached to the table
2) You only need the setting once at the root of the resource, if you have GSI's make sure you remove your provisioned throughput there and dont add the on demand setting

[2018-12-04 09:44] javahaxxor commented on #2864
same here unfortunately ..

[2018-12-04 11:48] ruipaulo commented on #3323
Maybe this could be added to the main schedule documentation, I think it is a quite common use case to only have the schedular running for the production lambda.

[2018-12-04 15:24] pmuens commented on #5557
Hey @JonasLaux thanks for opening!

Which GCF plugin version are you using?

Can you open up the issue in the Google Cloud Functions repository --> https://github.com/serverless/serverless-google-cloudfunctions

Thanks in advance :+1:

[2018-12-04 15:45] dschep commented on #5556
1st I'd file a bug with the plugin author. Not sure if webpack plugin works, haven't tried that.

[2018-12-04 18:33] dschep commented on #5474
Thanks for checking @ghinks, #5432 might give you some ideas of where to start looking. It's the PR that clued me into that env var seems related since it's loading a profile from config.

[2018-12-04 18:44] dschep commented on #5558
Confirmed in [dschep-bug-repos/sls-5558](https://github.com/dschep-bug-repos/sls-5558). Seems spaces are stripped from any defaults. That's not good 😢

[2018-12-04 18:50] dschep commented on #5558
See the workaround branch of that repo for a fix. The change for your service would be:
[code]

[2018-12-04 18:55] dschep commented on #5534
Thanks for the details @Jaystified

[2018-12-04 18:56] Somebi commented on #5514
service: aws-nodejs-proxy

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128
  timeout: 10
  versionFunctions: false
  stage: dev
  region: eu-central-1

functions:
  proxy1:
    handler: handler.proxy
    vpc:
      securityGroupIds:
        - sg-sgrp
      subnetIds:
        - subnetId1
    reservedConcurrency: 10
    events:
      - http: GET proxy1
      - http: POST proxy1

[2018-12-04 18:57] Somebi commented on #5514
I think this was the latest one i have tried.

[2018-12-04 19:36] dschep commented on #5514
Do you actually have `sg-sgrp` in your `serverless.yml`? or something like `sg-046013ee6369b5552`? Because the former is, as that log output says, not a valid security group ID.

[2018-12-04 19:55] rupakg commented on #5545
@dschep I guess @dholdren got to it first. Nice work. I just added a few comments to the PR.

[2018-12-04 23:52] q42jaap commented on #5402
This just screwed up my production deploy... Where are the serverless maintainers... Is serverless being abandoned?

[2018-12-05 02:18] janjanarnaldo commented on #5172
Hi @dbellandi how did you go with this issue, may I have an idea of the custom plugin you used to make it work?

[2018-12-05 08:20] pmuens commented on #5557
Closing since it was opened in the Google Cloud Functions plugin repository...

[2018-12-05 08:20] #5557 closed

[2018-12-05 08:53] iAmGhost opened #5561 "Proxy is disabled silently when CA Cert/CA File Path setting exists"
# This is a Bug Report

## Description

* When CA/CAFILE environment variable exists, it disables proxy without any warning.
* awsProvider always creates new agent for each setting(proxy/CA) and cannot be mixed.

Currently, code in [awsProvider.js#L134-L143](https://github.com/serverless/serverless/blob/510a01f3cd2a6c80c6cf8b8f839300cc977ff274/lib/plugins/aws/provider/awsProvider.js#L134-L143) sca

[2018-12-05 13:18] sovanc commented on #4592
Even after I exported the variables, I'm still getting the same error.  I received the same error using older versions as well.  BTW, I ran this in GovCloud.  Inside commercial region, I have no problem at all.

Serverless: Packaging service...
Serverless: Excluding development dependencies...

  Serverless Error ---------------------------------------

  ServerlessError: The security token includ

[2018-12-05 13:24] asyba opened #5563 "override environment not working for ARN variables"
# This is a Bug Report

## Description
I try to override environment variable invoke local but the variable that I want to override is a ARN and is using the variable from the template and not from the command.

In the template:
[code]

Command:
[code]
When I execute this in the code is still using the "${self:resources.Outputs.RetrySNSStepFunction.Value}"

[2018-12-05 14:21] mikeblakeney commented on #3495
using X-ray with lambdas and serverless could be done by overriding the function in the serverless yaml with the appropriate configuration until x-ray is supported in serverless.

https://serverless.com/framework/docs/providers/aws/guide/resources/#override-aws-cloudformation-resource

[2018-12-05 14:24] mikeblakeney opened #5564 "Add support for AWS x-ray on AWS API Gateway"
# This is a Feature Proposal

## Description
Adding support for enabling tracing on an API Gateway would help enrich the information returned when using API Gateway with lambdas leveraging X-ray.  Particularly because when enabling tracing through the CloudFormation template it is done on the API Gateway Deployment object which is not easy to override due to the random string appended to the objec

[2018-12-05 14:30] #5534 closed

[2018-12-05 16:01] dschep commented on #5402
Aahh.. it's an issue with zero specifically, not `reservedConcurrency` in general. I can whip up a fix.

re: maintenance @q42jaap, I recently joined and took over v1 maintenance since the rest of the team is focused on other things at the moment. but the back log is huge ;)

[2018-12-05 18:22] #5545 closed

[2018-12-05 19:43] #5563 closed

[2018-12-05 19:49] perzanko commented on #5556
If someone has same problem I recommend you using https://github.com/serverless-heaven/serverless-webpack instead of https://github.com/prisma/serverless-plugin-typescript

[2018-12-05 20:06] dbellandi commented on #5172
@janjanarnaldo I did this in a custom plugin:

In the constructor:

[code]

Code:

[code]

[2018-12-05 20:15] dschep commented on #5172
Thanks for sharing the workaround @dbellandi! And I would absolutely love a PR fixing this :)

[2018-12-05 20:42] jayshao commented on #3171
Does anyone know if the new ALB timeout is longer? Documentation seems unclear

[2018-12-05 21:11] dholdren opened #5567 "Ruby packaging does not include gems"
# This is a Bug Report

## Description

When I first deployed my Ruby lambda to AWS via serverless, it did not have any of the gems available.
In order to successfully run my lambda, I had to run `bundle install --deployment` first.  At this point the `.bundle` and`vendor/bundle` directories were created, and then when I deployed they were included in the zip file uploaded to AWS

## Potential Fix

[2018-12-05 22:11] dschep commented on #5567
This is out of scope for serverless framework. We don't even do this for NodeJS. Since ruby dependencies at least live in the same directory as your source code, you're lucky. I had to write [serverless-python-requirements](https://github.com/UnitedIncome/serverless-python-requirements) because of how python manages dependencies.

If you want to automatically install dependencies on deploy, I reco

[2018-12-05 22:11] #5567 closed

[2018-12-05 22:39] dschep commented on #3171
@jayshao, ALB has no timeout, so you're only limited by your lambda's timeout!

[2018-12-05 22:46] simlu opened #5568 "Bug: npm -> yarn resulted in very slow "Excluding dev deps...""
# This is a Bug Report

We used to use npm to install our dependencies. Now we use yarn. When deploying with modules installed through npm, it takes sub 1 minute for the "Excluding development dependencies..." step. When doing the install with yarn we see 10+ minutes for the step.

What exactly happens in this step and how can we improve the times here?

## Description

* What went wrong?
Deploy t

[2018-12-05 22:58] dholdren commented on #5567
well they don't typically live in the same directory.
when running it locally, you just do `bundle install` and the gems are saved in a shared location.

but when you are packaging an app for deployment, you would run `bundle install --deployment` (maybe on a build server), this "vendors" the dependencies to a subdirectory

thanks for the info on the python way and the hooks plugin. I'll look into

[2018-12-06 06:08] jspri opened #5569 "Silent completion on missing serverless.yml"
# This is a Bug Report

## Description

* What went wrong?

I ran `sls package` or `sls deploy` in a folder with no `serverless.yml`. There was no output to indicate that I had made a mistake.

* What did you expect should have happened?

The program should exit with an error code and output that a config file can not be located.

* What was the config you used?

Go to an empty directory or a subf

[2018-12-06 06:28] Crazometer opened #5570 "Check handlers exist"
# This is a Feature Proposal

## Description

Running `sls package` or `sls deploy` should alert the user if their chosen handler does not exist. Typos eg `handler: wrongfile.wrongfunction` should be detected where possible.

The reason for this is I want to be able to do basic checks that my `serverless.yml` is correct on CI.

[2018-12-06 14:11] arvindnarang commented on #5438
Hey ! Did you get any help or solution you'd like to share with others .. I have ran into same problem

[2018-12-06 14:18] hdodov commented on #5438
Nope. Sadly, you have to do it the hard way...

[2018-12-06 16:23] dschep commented on #5438
What runtime are you using, @hdodov?

[2018-12-06 16:45] owliveira opened #5572 "Support for Application Load Balancers events"
# This is a Feature Proposal

## Description

As announced in Re:Invent, Lambda functions are now able to be set as targets for Application Load Balancer events, which is such like another fashion over setting up an API Gateway that triggers a Lambda.

For more detailed information about the announcement: [AWS Blog](https://aws.amazon.com/blogs/networking-and-content-delivery/lambda-functions-as-t

[2018-12-06 16:53] #5558 closed

[2018-12-06 16:54] alecventura commented on #5572
This would be awesome!

[2018-12-06 17:06] dschep commented on #5570
That's a good idea, but a bit tricky to implement as it's different for ever language.

[2018-12-06 17:11] dschep commented on #5569
I've also run into this. Not sure when that stopped printing out an error 🤔

[2018-12-06 18:30] moravcik opened #5573 "Support for AWS CDK"
# This is a Feature Proposal

## Description

Are there any plans to support or integrate into AWS CDK (Cloud Development Kit)?
https://awslabs.github.io/aws-cdk/

**AWS CDK** can nicely handle CloudFormation Stack creation and updates using TypeScript, but lacks packaging lambda functions for deployment. For deploying lambda the AWS CDK supports only inline code, S3 archive and local directory.

[2018-12-06 18:31] dschep commented on #5568
Could you share a sample `package.json`/`yarn.lock` that causes issues? Thanks.

[2018-12-06 18:37] dschep commented on #5572
Would you expect this to create the ALB for you or require an existing ALB?

[2018-12-06 18:57] owliveira commented on #5572
AWS gives us two ways of using this new feature, the first is by creating an ALB and providing the Lambda's ARN. The second, you can point up an existing ALB in the Lambda configuration page. The second one seems to be more likely to the framework, so, **requiring an existing ALB would make more sense**, I guess.

[2018-12-06 21:53] mdiez19 commented on #3256
I set `NODE_EXTRA_CA_CERTS` env variable to the same value as `AWS_CA_BUNDLE`. Might not work for all, but I hope it will work for some (like me).

[2018-12-06 22:32] simlu commented on #4426
This pr might potentially fix this issue: https://github.com/serverless/serverless/pull/5574#issuecomment-445053851

Would you be able to test @jelder ?

[2018-12-06 22:34] simlu commented on #4263
This pr might fix this issue. Would you be able to test?

https://github.com/serverless/serverless/pull/5574

Cheers!

[2018-12-07 02:00] novemberde commented on #5572
@owliveira Additionally, host and listener on ALB are able to be an array.
So there're two options.

Here's second example of usage.

[code]
I'm looking forward to applying this feature on my production!

[2018-12-07 12:46] marcosfede commented on #3567
This would be a great feature

[2018-12-07 13:18] dschep commented on #5572
@owliveira, the first would be more similar how APIG integration is handled in the framework tho.

[2018-12-07 14:16] q42jaap commented on #5402
@dschep Thanks for fixing this.

[2018-12-07 15:42] khaledosman commented on #3171
I'm having the same issue, but my code runs fine.. It only started timing out after I integrated amazon DAX as a cache for DynamoDB (to improve performance.. the irony), For this to work I had to set the VPC in the serverless.yml file to match my newly created DAX cluster.. I heard this can have high cold start times.. but now it's timing out.. Any ideas/recommendations?

[2018-12-07 17:42] rj1061 commented on #5138
Disabling tracking in the `~/.serverlessrc` file did the trick for me

[2018-12-07 18:35] c1phr commented on #5572
I'm pretty interested in having this functionality, I could take a stab at adding it.

[2018-12-07 18:45] dschep commented on #5572
Feel free to go for it @c1phr!

[2018-12-07 19:59] dschep opened #5576 "C++ template!"
# This is a Feature Proposal

## Description
add an `aws-cpp` template which sets `runtime: provided` and provides necessary demo handler code & compile steps.

https://aws.amazon.com/blogs/compute/introducing-the-c-lambda-runtime/

[2018-12-07 21:01] m0d00d opened #5578 "Deploy only functions without layers"
# This is a Feature Proposal

Executing
[code]

upload function artefacts and layers at the same time. However, libraries in layers don't change that often. So there should be a way to only update the function code without updating layer code / libs.

# Description

Using for exampe the Java runtime and having libraries that are more than 20MB, updating the libraries of a layer every time `sls dep

[2018-12-07 21:19] dschep commented on #5578
Alas, I don't think this is possible in a single service because of CloudFormation. If you leave the layer out of the, you wouldn't be able to use a ref to it. I've tested uploading a template which references the previous demployment's copies of the layer contents in s3 in hopes that CFN would realize the layer was the same as what was already created and thus not publish a new one, alas, it stil

[2018-12-07 21:19] #5578 closed

[2018-12-08 12:03] psyhomb commented on #5572
Is this feature available in CloudFormation given that Serverless is using CF under the hood?

[2018-12-08 13:03] JtheB commented on #3267
I'm working on it!

[2018-12-08 15:39] dschep commented on #5572
Good catch @psyhomb. that's a problem :disappointed:

[2018-12-09 00:56] exoego commented on #4241
What if serverless add capability to specify existing resources in a form of `existingXXXX` ?
If the syntax is acceptable for this new feature, I will open my PR to implement this.

Examples for Cognito User Pool

[code]

Examples for S3

[code]

[2018-12-09 01:00] exoego commented on #4241
Or, adding `existing: true` field to `s3` event and `cognitoUserPool` event.
This may be more easy to understand for users and to implement than `existingXXX`.

[2018-12-09 01:11] exoego commented on #5570
I think this issue duplicates #3758.

[2018-12-09 01:18] exoego commented on #3426
Can this be resolved by Referencing CloudFormation Outputs and closed?
https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-cloudformation-outputs

[2018-12-09 09:50] rdsedmundo commented on #4071
I really I'd to see some of those improvements around. As per the nature of the Serverless Architecture, I'd like to be able to deploy just one small piece of the entire service if I have changed just a single function or added a new one, without affecting what it's already working, so not having the risk of turning what's in-place down. This would be extremely useful, especially when we're packin

[2018-12-09 12:18] jalerson commented on #5567
Hey guys,

This is not a problem for nodejs apps because npm builds the `node_modules` folder inside the project with all dependencies, and, since the framework packs everything inside the project folder, it automatically tackles this problem.

I respectfully disagree that this is out of scope for serverless framework because the framework can even exclude development dependencies (still unclear f

[2018-12-10 00:12] Crazometer commented on #5570
Yup! Thanks.

[2018-12-10 00:12] #5570 closed

[2018-12-10 00:18] niraj-bpsoftware commented on #5535
for multiple updates through cloud-foramtion as part of pipeline, I am receiving following error:
One or more parameter values were invalid: The BillingMode for the table will not change. The requested value equals the current value. Current BillingMode: PAY_PER_REQUEST. Requested BillingMode: PAY_PER_REQUEST (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ValidationException;

[2018-12-10 08:07] fantapop commented on #4909
Another great use case for this is being able to JSON.stringify() a request body.

[2018-12-10 09:37] zannis commented on #5530
Kind bump :) Could you please provide some further info on the topic?

[2018-12-10 10:21] alex-lu-amido opened #5580 "Unable to assign Deployment Manager Editor role with the existing documentation for GCP"
# Unable to assign `Deployment Manager Editor` role with the existing documentation for GCP

## Description

* Following this page https://serverless.com/framework/docs/providers/google/guide/credentials/, `Deployment Manager Editor` is not available as a role for me to assign to a service account.
* I found a workaround by going from IAM & roles section of the console. See [the last second commen

[2018-12-10 12:14] c1phr commented on #5572
Yep, I found this a few days ago and opened a thread with AWS to determine when CloudFormation will get support, but still waiting to hear back.

[2018-12-10 13:19] psyhomb commented on #5572
@c1phr thanks for opening a thread and please let us know when/if you get the response from them.

[2018-12-10 13:39] majorgilles opened #5581 "Badly indented sqs event deploying silently without a trigger"
## Description

* What went wrong?
Using

[code]

no error was thrown upon deploying the related lambda.
on the aws console, I can observe that no trigger has been added to the lambda.

* What did you expect should have happened?
An actual error indicating missing properties in the sqs event: lack of arn or other property at least.
Lambda should not have been deployed

## Additional Data

* ***Ser

[2018-12-10 13:51] dschep commented on #5581
Gonna close this as a duplicate of #3994 because there's nothing reall sqs specific about this, we just need config schema validation

[2018-12-10 13:51] #5581 closed

[2018-12-10 14:06] dschep commented on #5530
I don't think it's currently supported by the framework. I'd be happy to merge a PR adding it. I don't think it should be too difficult. I was gonna suggest a starting point (regardless, it'll be i somewhere in [`lib/plugins/aws/package/compile/events/apiGateway`](https://github.com/serverless/serverless/tree/master/lib/plugins/aws/package/compile/events/apiGateway)) but I can't find the API Gatew

[2018-12-10 14:11] dschep commented on #4909
Just making sure I understand your proposal, you want `sls invoke -f FuncName -p someScriptInsteadOfJson.js` support?

If so, you can achieve this with the `sls invoke`'s ability to read an event from STDIN. For example:

`generateEvent.js` - script to generate the input:
[code]
Then invoke like this:
[code]

[2018-12-10 14:19] dschep commented on #3426
I don't thinks so @exoego. He's using cfn references within the same stack, not exports.

[2018-12-10 14:22] dschep commented on #4241
I like the 2nd option @exoego 👍  And make it `preExisting: true` rather than `existing`.

[2018-12-10 15:36] 0xh0b0 opened #5582 "Add layers to all functions in stack"
# This is a Feature Proposal

## Description
Add the same set of layers to all functions in stack.
Today, the layers should be added to each function.
[code]

[2018-12-10 16:21] Zephadias commented on #5535
I am getting the same error.

An error occurred: One or more parameter values were invalid: The BillingMode for the table will not change. The requested value equals the current value. Current BillingMode: PAY_PER_REQUEST. Requested BillingMode: PAY_PER_REQUEST (Service: AmazonDynamoDBv2; Status Code: 400; Error Code: ValidationException;

[2018-12-10 16:22] dschep commented on #5582
Interesting proposal. I can see the utility of this.

For now, use variables to do this:
[code]

[2018-12-10 20:20] undecidedapollo commented on #5379
Doesn't work if the variable is the string true/false. Doesn't support Fn::If condition logic either.
Temporary Solution:
`custom:
   enabled:
    "true": true
    "false": false
`
`
      - schedule:
          name: 'event'
          rate: rate(2 minutes)
          enabled: ${self:custom.enabled.${opt:enableCloudwatchEvents, "false"}}
          input: "{}"
`

[2018-12-10 20:31] dschep commented on #5379
related to #5534. we really need some coherent variable type coercion system. It's not sustainable to add support these parameters one by one.

[2018-12-10 21:21] juanqui commented on #5535
Did you all remove `ProvisionedThroughput` from the template? You cannot specify that parameter with On-Demand billing mode. Per AWS documentation:

[2018-12-10 21:38] niraj-bpsoftware commented on #5535
Yes I have removed ProvisionedThroughput and also all scaling policy for the table. The template updates the billing mode first time. However consecutive run tries to update it again even though BillingMode is same as last time and hence fails. I have talked to AWS support and they agree it's a bug however no ETA. It's a tricky situation for us as our entire pipeline is useless because of this iss

[2018-12-10 22:23] spg opened #5583 "Layer directory not found when overriding service-level exclude property"
# This is a Bug Report

## Description

* What went wrong?
I get the following error when deploying my stack: `No file matches include / exclude patterns`

Here is my `serverless.yml`:
[code]

`layerOne` is a directory containing a single non-empty file (`my_module.py`).

The only way I found to avoid this problem was to change the layer's `include` property:
[code]

* What did you expect should h

[2018-12-10 23:38] bawbgale commented on #4485
The existing variables functionality also doesn't seem to work for the `provider` section for doing aws and azure deployments from the same repo.

If you try to include the entire provider section, it doesn't get evaluated (i.e. `srs print` just spits out the un-evaluated expression:
[code]
Trying to parameterize each key doesn't work because it changes to order, which seems to cause the deploy to

[2018-12-11 01:48] fantapop commented on #4909
Oh good call. I’ll try this out!

On Mon, Dec 10, 2018 at 6:12 AM Daniel Schep <notifications@github.com>
wrote:

[2018-12-11 09:17] pmuens commented on #5580
Hey @alex-lu-amido thanks for opening 👍

We've recently updated the docs via https://github.com/serverless/serverless/pull/5490 which might've introduced the issue here.

It would be super nice if you could try the workaround and PR the proper changes. Cloud provider setups are always tedious and error prone.

Thanks in advance and let us know if you need any help here.

[2018-12-11 12:15] pmuens commented on #5580
Thanks @alex-lu-amido 👍

Can you fork the repo and PR the changes via your fork? You can find more information about forking [here](https://help.github.com/articles/fork-a-repo/).

Thanks in advance!

[2018-12-11 12:17] mudaser-caremerge opened #5584 "How to create complex routes"
Hi,

My application requirement is that i have to create a long and complex route using serverless for example

[code]

[2018-12-11 14:47] dschep commented on #5584
http events support that:
[code]

[2018-12-11 14:47] #5584 closed

[2018-12-11 14:49] dschep commented on #5535
Yes @Zephadias, it's a CFN issue, not serverless. 😢

[2018-12-11 14:52] dschep commented on #5583
Hmm. I imagine this is caused by the same issue as #5329

however... if your goal is to exclude files outside of the layerOne directory, those are already not included in the layer contents. Also, layer contents are automatically excluded from function's contents.

[2018-12-11 15:18] brettswift commented on #5474
Thanks for looking into this.  I'm trying to test a cross account lambda,  so if this solution works for `serverless invoke`  as well that would be awesome.

I have tested the `AWS_PROFILE` env var,  and it will override the `--aws-profile` option when using `serverless invoke`.   I'm not sure the `--aws-profile` is ever read with the invoke command actually.

If a branch becomes available I'll tr

[2018-12-11 16:18] alex-lu-amido commented on #5580
PR Created.

[2018-12-11 16:39] fivepapertigers commented on #4485
@bawbgale Agreed that the CLI flag would be easier and more robust. The fact that the workaround doesn't actually work around all use cases makes it frustrating. You end up refactoring your entire config only to find out that you can't accomplish an integral piece of your deployment needs.

[2018-12-11 18:32] aflesner opened #5586 "Cyclic dependency issues"
# This is a Bug Report

## Description

Hello, I am still seeing errors related to this bug, is it considered fixed?

Here is my serverless.yml

[code]

The error I am getting is
[code]

Based upon what I was reading on AWS support it says we are supposed to put the DependsOn in the Bucket to avoid the circular dependency. If this is not a bug in serverless could someone help me with the correct c

[2018-12-12 02:51] xianny commented on #1819
Bumping as I'm running into the same issue. I have a yarn/monorepo project, trying to package and publish one of the packages to AWS Lambda.

[2018-12-12 03:36] softprops opened #5588 "make external application templates discoverable"
# This is a Feature Proposal

## Description

Make external template repo discovery a first class citizen of the serverless toolchain

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.

While the application templates that are embedded within this project are useful. Maintenance and iteration on them become the burden of the s

[2018-12-12 03:37] exoego commented on #4600
I got answer from AWS support on 2018/12/10.
Recently-added `PreTokenGeneration` (#4600) and `UserMigration` (#5513) are still NOT supported in `CloudFormation`. 😞
To pressuren AWS, It is better to send feature request on these if you waits these support in servereless.

[2018-12-12 03:38] exoego commented on #5513
I got answer from AWS support on 2018/12/10.
Recently-added `PreTokenGeneration` (#4600) and `UserMigration` (#5513) are still NOT supported in `CloudFormation`. 😞
To pressure AWS, It is better to send feature request on these if you waits these support in servereless.

[2018-12-12 04:04] jgunn987 commented on #4485
Cannot believe this is not an option, very disappointing. How do i manage deployments to different environments? for now i will store each config outside the main repo, `cd` into the directory, copy in the config file i want to use into the root directory, run deploy, `rm` the config file i copied in, `git checkout` the repo to clean up. What a drag

[2018-12-12 05:46] jgunn987 commented on #4485
I have a fork here https://github.com/jgunn987/serverless. this patches the getServelessConfig function to allowing you to specify a full path to a config file. Needs integration into the CLI though and more testing

[2018-12-12 06:53] onnimonni commented on #4265
I just bumped into this too but in iamRoleStatements.

Last info which I found was from AWS support forums in 2015:
https://forums.aws.amazon.com/thread.jspa?threadID=173540

It mentiones that cloudformation and IAM policies can only reference the key and not the alias.

Maybe we could add a new keyword `kms:` for serverless which retrieves the key id?
[code]

[2018-12-12 07:53] jgunn987 commented on #4485
Here is the PR https://github.com/serverless/serverless/pull/5589

[2018-12-12 07:58] A-Atrash commented on #3176
@monperrus  Excuse my ignorance but where did you write this command to solve the problem?

[2018-12-12 08:14] A-Atrash opened #5590 "module initialization error: Error"
Hello,
I'm getting this error but I'm not able to relate to any of the solutions proposed for it anywhere here:

It's in a Node app with TypeScript in Lambda. It was working well with 'Canvas' package installed but when I needed to add image validation using the package 'ImageMagick' I started getting this error.

My serverless.yml and package.json: https://github.com/A-Atrash/forfilesharingtohand

[2018-12-12 08:31] klintan commented on #5180
Think  this might be related, trying to install serverless-python-requirements. Get the same error whenever I try to do anything serverless related. Reinstalled serverless and node.

`sls --version
1.26.1`

`node --version
v11.4.0`

`mac os mojave`

[code]

[2018-12-12 09:08] monperrus commented on #3176
In the folder where my `handler.js` is.

[2018-12-12 09:12] ianrussel commented on #4442
This is mostly typo. You forgot to surround with quotes. Your code should work if you change
`createThingType:
    handler: handler.createThingType`

TO

`createThingType:
    handler: 'handler.createThingType'`

[2018-12-12 10:00] adrianpanicek commented on #3318
I would love this to be able to build dynamic router based on function configurations

[2018-12-12 10:06] pmuens commented on #5580
Awesome!

Thanks for the PR @alex-lu-amido 👍

[2018-12-12 10:06] #5580 closed

[2018-12-12 10:58] joeyvandijk commented on #4644
@horike37 I see at https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-stage.html that you can add tags to a stage, so the answer is yes.

[2018-12-12 11:21] Botre commented on #5590
I have encountered this issue twice, yesterday and today, across two different projects.

This is what fixed it for me.

- Update to the latest serverless version

- Make sure the depedency in question is not declared inside "devDependencies", as those are excluded during packaging.

- Delete your package-lock.json and node_modules and run "npm install"

- Redeploy the function

[2018-12-12 12:30] A-Atrash commented on #5590
@Botre Thanks for the answer! I actually ran some tests and realised that a dependency is causing the error. The dependency is sharp:
[code]
Any idea?

[2018-12-12 13:15] hassankhan commented on #5513
@dschep Unfortunately the underlying issue here is no CloudFormation support for these newer Lambda triggers, the code you linked to is purely for validation purposes.

[2018-12-12 13:36] zannis commented on #5530
Hello @dschep, in response to your question, I contacted the AWS Support for official advice on how to handle this and will update this issue as soon as I have solid input from their side.

[2018-12-12 14:09] jacknewcombe-je opened #5591 "http event causing deployment failure - "Resource creation cancelled""
# This is a Bug Report

## Description

* What went wrong?

Serverless failed to deploy after adding an http event definition to a lambda

* What did you expect should have happened?

Successful deployment

* What was the config you used?

[code]

Removing the 'events' section results in a successful deployment

* What stacktrace or error message from your provider did you see?

[code]

^^ ReadLog

[2018-12-12 15:00] jvguillen commented on #5094
This makes importing variables from files impossible... seems like a pretty big issue to me.

[2018-12-12 16:06] dschep commented on #5094
@ptrhck I'm not sure what that SO post is really pointing out? This isn't an issue with serverless. Environment variables are strings. always.

@jvguillen, care to share what problem you're actually having? Importing variables from files works just fine afaict:
[code]

[2018-12-12 16:32] dschep commented on #5590
Thanks for the input @Botre. Have you tried that @A-Atrash

[2018-12-12 16:39] dschep commented on #5180
@klintan, could you try upgrading your serverless version? @eahefnawy mentioned above that it was fixed in v1.29.2

[2018-12-12 16:43] #3833 closed

[2018-12-12 16:51] dschep commented on #5586
Hey, I'm not sure I quite follow what you're trying to achieve. You're making 2 s3 buckets. one explicitly in `resources` and one implicitly in your function's `events`. And then you're configuring the explicit one depend on the lambda function permission for the implicit one? Why. AFAICT nothing, at deploy time, _needs_ the explicit bucket and it _needs_ nothing either, so why the depends on?

[2018-12-12 20:56] marceloemanoel commented on #569
FWIW I've used serverless-webpack as pointed out by @HyperBrain. That worked when I also installed the `webpack-node-externals` package. The configuration that I used also imports package.json and whitelists the packages from dependencies while excludes all devDependencies.

[code]

Hope it also help you guys :)

[2018-12-13 03:43] harinieimmanuel commented on #4823
Hey @bsdkurt, we are trying to automatically create cognito user pool by specifying cloudformation resources and including that to the serverless.yml, pretty much a similar scenario. We were facing the circular dependency issue when we tried referring the preauth trigger to the user pool and provide an IamRoleStatement for the lambda to invoke the cognito user pool, something like the below statem

[2018-12-13 03:50] harinieimmanuel commented on #4231
we are trying to automatically create cognito user pool by specifying cloudformation resources and including that to the serverless.yml, pretty much a similar scenario. We were facing the circular dependency issue when we tried referring the preauth trigger to the user pool and provide an IamRoleStatement for the lambda to invoke the cognito user pool, something like the below statement:

iamRoleS

[2018-12-13 05:42] herebebogans commented on #4661
as per @mikemckibben comment the AuthorizationScopes property of "AWS::ApiGateway::Method" is now supported by cloudformation.

Time to bring this into apigateway http event natively?

[2018-12-13 08:16] A-Atrash commented on #5590
@Botre Thank you!
@dschep Yes I tried what Botre said. What he said solved a problem I used to have before this problem. But this problem turned out to be because of a weird dependency that requests to be imported first before other dependencies, and the reason is that it changes something in a common sub-dependency. I ended up removing it and using an alternative. Now it is solved.
Thanks!

[2018-12-13 08:18] #5590 closed

[2018-12-13 09:59] jacknewcombe-je commented on #5591
It turned out this was, of all things, a missing "ProvisionedThroughput" config item on a dynamo db table in some custom cloud formation.

I think the ApiGatewayRestApi deployment failure may have been separate and caused by having a leading "/" in the http event path.

However, the constant "Resource creation cancelled." message coupled with the seemingly random choice of failing CF item made it

[2018-12-13 10:16] arvindnarang commented on #5100
Hi All ,
I am facing An error occurred: ApiGatewayDeploymentxxxxxxxxxx - No integration defined for method (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException; Request ID: xxxxxxx-xxxxxxxx)  issue and my vesion is 1.32.0 .. Any help will be much appreciated.

[2018-12-13 11:56] onnimonni opened #5593 "Copy self:provider.tags into all resources"
# This is a Feature Proposal
**TL;DR:** I would like to use provider tags for all created resources

## Description
AFAIK almost companies use tagging for splitting costs into different departments inside the organisation.

For example if I use `InvoiceID` like this
[code]
If I create functions with this configuration they will correctly get the `InvoiceID` tag.
But the `S3::Bucket` included here

[2018-12-13 13:32] bsdkurt commented on #4823
This is what I do for the trigger role:
[code]

[2018-12-13 13:38] bsdkurt commented on #4823
@horike37 This bug report should be closed. It clearly is not a serverless bug or even a bug with CloudFormation.

[2018-12-13 16:41] #4823 closed

[2018-12-13 16:44] dschep commented on #5591
I think the error messaging is an issue with cloudformation, I've seen similar problems before where the root cause isn't what cfn reports when returning an error :(

[2018-12-13 16:44] #5591 closed

[2018-12-13 18:41] zoellner commented on #5530
Just happened to look into this as well. If it's of any help, the operationId is mapped to the operationName of the method when importing from a swagger file
see https://docs.aws.amazon.com/apigateway/api-reference/resource/method/#operationName

[2018-12-13 21:25] j opened #5595 "Layer's Shouldn't Be Deployed on every deploy"
I feel that layers should be deployed differently and not on every deploy when no changes occur.  Is there a way to get a --layers-only or --no-layers option to deploy layers just once?

[2018-12-13 21:54] dschep commented on #5595
This isn't very feasible because of cloudformation. Layers are updated on each stack deploy and by default a layer is deleted if it's removed from the stack. But even if sls were to set the deletion policy to retain, it would then require you to hard code the layer's ARN in your function since you can't have a `{Ref: ..}` if the layer is not in the stack, so it would be imposible to automate :/

[2018-12-14 01:52] dschep commented on #5595
Here's how do manage it in two sls services: https://github.com/serverless/blog/blob/master/posts/2018-11-29-publish-aws-lambda-layers-serverless-framework.md#some-tips-on-working-with-layers

[2018-12-14 05:00] Shaun1 commented on #4852
It appears that `serverless invoke local` still has this behavior. It would be helpful for automation purposes if an exception within a function caused `serverless invoke local` to return a non-zero exit code. Can we consider reopening this ticket?

[2018-12-14 05:43] debianmaster commented on #5212
interested to know if there a plan

[2018-12-14 06:44] mmuallem commented on #4638
+1.

Happened to me today updating a Lambda. The function logic was updated, but not the environment variables.

MacOS Mojave 10.14.1. Serverless v. 1.33.2

[2018-12-14 08:01] DesignMonkey commented on #4619
I know this is a long time ago... Did you ever find a solution to this? :)

[2018-12-14 08:50] MaxVinogradov opened #5596 "[Layers] Template format error: Unresolved resource dependencies [node-modules-global-api] in the Resources block of the template"
I have lambdas config in the separate file:
[code]

Part of lambda config:
[code]
What can be wrong?

[2018-12-14 09:47] viktorlarsson opened #5597 "Schedule events seems to be broken when using cron"
# This is a Bug Report

## Description

* What went wrong?

When using cron on events, it doesn't trigger at all. Using - schedule: rate(2 minutes) works as expected.

* What did you expect should have happened?

Should trigger the event

* What was the config you used?

  helloWorld:
    handler: functions/hello/index.world
    environment:
      SLACK_WEBHOOK_URL: ${self:custom.slack.webhooks.${

[2018-12-14 10:56] MaxVinogradov commented on #5596
S

[2018-12-14 10:56] #5596 closed

[2018-12-14 12:43] AntonOellerer opened #5598 "Kotlin to NodeJS on AWS Lambda"
# This is a Bug Report

## Description
I created the kotlin to nodejs with gradle template for AWS Lambda with `sls create --template=aws-kotlin-nodejs-gradle -p test`
Deploying works, but whenever I hit the endpoint I get an `Internal Server Error` and the logs show me

[code]
**Edit:**
When I try `sls invoke -f hello` I get the following output:
[code]
With `SLS_DEBUG=*`:
[code]

## Additional D

[2018-12-14 13:13] dschep commented on #5598
Did you build it before deploying? Sorry I don't actually know the command to give you, but I don't know much about kotlin or gradle. These templates with build steps _really_ need a readme IMO.

[2018-12-14 13:22] dschep commented on #4619
AFAICT you're depending on things in your devDependencies, which i would expect to fial since those are excluded by default. Worth nothing too, for chrome use, you can also get chrome via a layer https://github.com/RafalWilinski/serverless-puppeteer-layers

[2018-12-14 13:39] dschep commented on #5597
Just tested and it works as expected. NOTE, the rule is in UTC. Any odd details in your sls yaml which might cause this issue?
![2018-12-14_08-37-46](https://user-images.githubusercontent.com/667763/50006383-9b844f80-ff7b-11e8-9a6d-5fea1648b6d2.png)

[2018-12-14 13:49] dschep commented on #4852
@Shaun1 yeah, I don' think this should've been closed.

[2018-12-14 14:17] AntonOellerer commented on #5598
Yes, I just made sure

[2018-12-14 14:40] dschep commented on #4638
Hmm. Are people only having issues with `Ref` based env vars as @MacMcIrish mentioned or with normal variahbles too? @MacMcIrish, I'm not surprised `Ref` causes an issue since the code compares the CloudFormation template to decide to redeploy or not. you can always use `sls deploy -f` to deploy regardless of the template not being changed. That being said, it absolutely shouldn't be necessary and

[2018-12-14 14:43] dschep commented on #5598
Hmm. ok. As I said, I'm not familiar with kotlin&grade, mind pointing me to some resources to get started so I can try to reproduce this issue?

[2018-12-14 15:01] Shaun1 commented on #4852
@dschep is anyone taking on this bug? If not I will see if I have some time this afternoon to take a look.

[2018-12-14 15:44] GuruRAM commented on #4852
@Shaun1 I'm not going to fix it this weekend, so I guess you are free to go.

[2018-12-14 16:53] neilime commented on #5556
@perzanko can you share your serverless.yaml and webpack config ?

[2018-12-14 17:05] bryaningl3 commented on #4644
+1

[2018-12-14 17:29] dpecos opened #5600 "Parent paths no longer working for package inclusions/exclusions"
# This is a Bug Report

## Description

* What went wrong?

I have my `serverless.yml` in a subfolder of my repo, and it's pointing to files to include / exclude in one of its parent folders. This used to work, but not anymore since version 1.35.0

* What did you expect should have happened?

To work as with previous version (1.34.1)

* What was the config you used?

[code]

* What stacktrace or e

[2018-12-14 17:35] dschep commented on #4852
I thinks @shortjared is planning to look at it.

[2018-12-14 17:52] dschep commented on #5600
That's likely a regression caused by #5574. Any chance you could take a look at this @MacMcIrish? Would it be possible to have all the includes on [this line](https://github.com/MacMcIrish/serverless/blob/23c37b7543238e4a98ab605c2cf8146a3095bcce/lib/plugins/package/lib/packageService.js#L191) with out causing the performance issues?

[2018-12-14 19:00] vicpon commented on #5600
Also have the same issue. This broke our production site for a bit until we realized what had happened. We upgraded from 1.32 because of performance issues with dependencies (package was taking 12-30min). 1.35 didn't have that issue but this happened.

[2018-12-14 19:16] Shaun1 commented on #4852
@dschep @shortjared I didn't have time to come up with a good overall fix for the issue but I was able to narrow down to where the issue lies. Something like this works, at least for the python invoker

https://github.com/serverless/serverless/compare/master...Shaun1:master

I think the principle will be the same for other languages as well: the `exitCode` of the resolved invoker promise should be

[2018-12-14 19:20] dschep commented on #4852
Thanks @Shaun1, yeah it looks like it'l have to be implemented per language.

[2018-12-14 19:36] tsdorsey commented on #4310
I'm on 1.34.1
It looks like this should work. Both path and contextPath run through validateFile which seems should handle relative paths... Am I missing something?
https://github.com/serverless/serverless/blob/v1.34.1/lib/plugins/aws/invokeLocal/index.js#L30

[2018-12-15 16:00] bishwash-devops commented on #3528
I went ahead with the suggested workaround, and it works fine for now. I have tried to document it here as well, https://medium.com/@bishwash.aryal/serverless-framework-build-immutable-package-for-ci-cd-pipeline-949b49f7df91

[2018-12-15 21:06] ssteo commented on #5098
I confirm this bug still exist and serverless doesn't read from .aws/credentials. I'm using:

[code]

[2018-12-15 23:39] MacMcIrish commented on #5600
@dschep it's for sure a regression, I'd be happy to have a look :) including files outside the current directory was not a use case I foresaw.
As far as I've seen, the include pattern list is not dynamically generated, so adding it there _should not_ cause any performance issues, so your solution should work. I'll go ahead and create a PR and see about setting up a test case around including files

[2018-12-16 00:15] dschep commented on #5600
Thanks! Yeah, I didn't realize it was a supported use case either.

[2018-12-16 02:05] MacMcIrish commented on #5600
@dpecos @vicpon I've created a PR for this (seen above), would you mind pulling it in and taking a look to see if this solves both of your use cases? It's small enough you should even be able to easily modify the file locally :)

[2018-12-16 04:04] ahawkins commented on #4069
I agree. It's safe it assume that _developers_ installing and building applications are competent enough to manage completions. I keep my dotfiles under SCM, now I have a dirty git dir. That's definitely unexpected.

[2018-12-16 05:04] ahawkins commented on #5124
You can short circuit this by adding the installation markers to your config. Here's an example from my dotfiles: https://github.com/ahawkins/dotfiles/commit/bee5e3cfefd5801feebd21467fee6cda31270162.

[2018-12-16 08:11] axelson commented on #4069
Can we please get the "needs-feedback" label removed from this issue? I don't think that any more feedback is needed at this point.

[2018-12-16 09:30] jlamande opened #5603 "Log AWS SDK calls in debug mode"
# This is a Feature Proposal

## Description

* It would be useful to log AWS SDK calls in debug mode

The AWS SDK documentation provides the way to do this :
https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/logging-sdk-calls.html

Sample Output :
[code]

[2018-12-16 11:10] dpecos commented on #5600
I've tested locally and works great!

Thx a lot!

[2018-12-16 17:01] #5600 closed

[2018-12-16 19:30] theAmbientOrange commented on #3163
@pmuens Good afternoon Phiilipp, I hope all is going well! 😄 I was wondering if I could work on this issue, if it's still available? I'd love to contribute to this wonderful framework. Thank you!!

[2018-12-16 21:51] geoffweatherall commented on #3929
I had same issue, and 'winpty bash' worked around the issue for me.

[2018-12-16 22:30] rcwestlake commented on #3322
thank you @justinmchase!!!

[2018-12-17 02:41] mmuallem commented on #4638
@dschep, our variables are loaded through a file, from a config YAML file

[2018-12-17 04:10] CreativeCactus commented on #3176
Looking at the source, my issue was actually not having `SERVERLESS_EXPRESS_PLATFORM` set to `aws`.

[2018-12-17 09:54] AntonOellerer commented on #5598
Some start would be e.g. here: https://medium.com/coinmonks/serverless-application-with-aws-lambda-and-kotlin-part-3-f733511f1326

Although to reproduce it should suffice to
1. simply create a serverless kotlin project with `sls create --template aws-kotlin-nodejs-gradle test`,
1. build the project with `gradlew build`
1. deploy it with `sls deploy`
1. and then test with hitting the endpoint/`sls

[2018-12-17 12:04] smartinspereira opened #5606 "AWS: Extend ${cf} syntax to get output from another region broken"
# This is a Bug Report

## Description
@dschep @horike37 @exoego
maybe I am missing something here, but this feature doesn't seem to be working as intended.
cf cross region is just creating a stack on the referenced region, with naming from the referencing region.

* What went wrong?
  - created stack `bar` in zone **`y`** and reference existing stack `foo` in zone `y`
* What did you expect should

[2018-12-17 13:04] ovirta commented on #3929
'winpty bash' worked in our case as well. It is good to note that it actually start a new terminal process running cygwin.  Here is a comparison of environment values prior and after winpty bash command:

**Git Bash:**
[code]
**winpty bash:**
[code]

[2018-12-17 15:05] jvguillen commented on #5260
@Mr-SD what was the bug? I've had this issue for a while and can't find a way to fix it on the serverless side.

[2018-12-17 15:40] lawzava opened #5608 "Individually included files are not seen"
# This is a Bug Report

## Description

Error: "No file matches include / exclude patterns"

Config:
[code]

The binary exists. Compiled as `env GOOS=linux go build -ldflags="-s -w" -o bin/authorizer authorizer/*.go`

It happens only with the `1.35.0` version. When downgraded to `1.34.1` it works as expected.

## Additional Data

Stack Trace:
[code]

[2018-12-17 16:34] raym0nd93 opened #5609 "Included files not packaged"
# This is a Bug Report

## Description

* What went wrong?

When deploying serverless functions(packaged individually), included files are ignored(except for package.json, package-lock.json and node_modules).

* What did you expect should have happened?

The files stated under `include:` should be included. This does work in version 1.34.1

* What was the config you used?
[code]

* What stacktrace

[2018-12-17 17:12] OndeVai commented on #3212
I hate the to be the guy that whines about this wonderful open source project or the folks that selflessly contribute great work to it, but this bug is a major hinderance. Hard coding the User Pool arn is a nasty solution and having to split your Cognito into a separate stack is equally nasty (for us). It's been almost a year and still no fix. My naive question is this: can  a quick fix be put in

[2018-12-17 17:31] MacMcIrish commented on #5609
Likely fixed by https://github.com/serverless/serverless/pull/5602

[2018-12-17 17:32] MacMcIrish commented on #5608
Likely fixed by https://github.com/serverless/serverless/pull/5602

[2018-12-17 20:22] zoellner commented on #3073
It seems that the comment from @jthomerson got lost. Is support for function arguments planned? Should it be tracked in a new Feature Proposal Issue?

[2018-12-18 04:44] softprops commented on #5542
I'm not sure how open this project is to having a dependency on docker but I've discovered a way to get "invoke local" support for free using lambdaci provided docker images. You can find an example usage for the serverless rustlang plugin [here](https://github.com/softprops/serverless-rust/blob/38c0dc6e3cdf1d44095a4fb72f2f3752f4ca1cb5/tests/test.sh#L60-L64).

Note as the lambdaci project provides

[2018-12-18 11:23] orangetwentyfour commented on #4686
can you show me the full of stack-map.js file ?

[2018-12-18 15:16] jorenvh1 opened #5611 "Glue crawler unsupported property: DynamodbTargets"
# This is a Bug Report

## Description
I'm trying to add a glue crawler with a dynamodb table as a target to my serverless.yml but when deploying I get the following error:
`An error occurred: signaturesGlueCrawler - Property validation failure: [Encountered unsupported properties in {/Targets}: [DynamoDBTargets]].`

Used config:
[code]

The documentation of cloudformation does not state that Dyna

[2018-12-18 16:22] daryn-k opened #5612 "Where to find tenant name?"
What is tenant name and where to find it?

[2018-12-19 04:50] garethmcc commented on #5612
@daryn-k This is only needed if you plan on having your services register themselves with the Serverless Dashboard (dashboard.serverless.com). Otherwise its not needed.

[2018-12-19 08:32] jorenvh1 commented on #5611
Apparently this option is not yet supported for cloudformation, it is for the web api and console

[2018-12-19 08:32] #5611 closed

[2018-12-19 13:09] jaikdean commented on #5564
This would be brilliant to have.

[2018-12-19 14:16] hdryx commented on #4266
Received that error too on :

[code]

[2018-12-19 14:19] dschep commented on #5542
Yup! I'm looking into using lambci's docker images for improved invoke local support @dougmoscrop :)

[2018-12-19 14:57] dschep commented on #4266
@hdryx, did you have this issue before v1.35? Others, did the situation change with that release? I'm asking because the include/exclude logic was modified in that release (it's much faster now)

[2018-12-19 14:58] dschep commented on #5612
@garethmcc is correct. Are you using the dashboard, @daryn-k?

[2018-12-19 15:12] #5612 closed

[2018-12-19 15:14] daryn-k commented on #5612
Yes, you're right. I'm using serverless first time. It requires some "tenant" everytime. Now I know the reason on this problem.

[2018-12-19 15:20] #5603 closed

[2018-12-19 15:40] dschep commented on #3073
not at the moment AFAIK

feel free to open an issue, but I'm not 100% we want to implement that. The variable system is complicated enough as it is 😉

[2018-12-19 15:54] dschep commented on #5608
Yup. Please upgrade to v1.35.1 and let us know if your issue is resolved

[2018-12-19 15:54] dschep commented on #5609
Yup. Please upgrade to v1.35.1 and let us know if your issue is resolved

[2018-12-19 16:13] dschep commented on #3929
What runtime are you folks using? Asking because the invoke local implementation is unique per runtime.

[2018-12-19 16:23] dschep commented on #5598
Thanks @AntonOellerer, I'll try and take a look at it soon.

[2018-12-19 16:24] lolcoolkat opened #5614 "Still cannot deploy Golang code to AWS Lambda via Serverless Framework (On Windows).."
Not sure why more people are not bringing this up and trying to get it fixed but.. I cannot deploy my golang code to AWS Lambda via the Serverless Framework on a Windows 10 machine. I don't have any issues on MacOSX or Linux.. so it's an issue on Windows for sure.

I've outlined the issue here: https://forum.serverless.com/t/cant-seem-to-deploy-golang-with-the-serverless-framework-on-windows-permi

[2018-12-19 17:17] dested opened #5615 "Support for Websockets on AWS"
# This is a Feature Proposal

## Description

* Support for the new API Gateway websocket routing

Similar or dependent issues:

Do you see this as something that Serverless core will handle directly or can it be built better as a plugin? Is this currently on the roadmap?

[2018-12-19 17:18] dschep commented on #5124
Duplicate of #4069

[2018-12-19 17:18] #5124 closed

[2018-12-19 17:45] gary-tsai-zocdoc opened #5616 "layerObject.allowedAccounts.map is not a function"
# This is a Bug Report

## Description

* What went wrong?
Unable to perform ```sls package``` for lambda layers when ```allowedAccounts:``` is used in serverless.yml.  I can perform ```sls package``` when ```allowedAccounts:``` is removed in serverless.yml.
* What did you expect should have happened?
Package the for layers for Lambda
* What stacktrace or error message from your provider did you s

[2018-12-19 18:01] zoellner opened #5617 "Support function arguments in variables referencing javascript ( ${file(./file.js):functionName(argument1, argument2)} )"
# This is a Feature Proposal

## Description

This is a follow up to #3073 and more specifically to one comment therein https://github.com/serverless/serverless/issues/3073#issuecomment-294636809

Quoting from that comment:

Similar or dependent issues:
* #3073

[2018-12-19 20:30] dschep commented on #5098
Hey folks, I didn' trealize tehre was also a `--profile` option. The only place I can find that is the `sls config credentials` subcommand.

Furthermore, what behavior are you expecting when you specify 2 profiles when deploying?

[2018-12-19 20:35] dschep commented on #5616
That's because `allowedAccounts` must be an array of strings, not a single string. To fix your issue, use:
[code]

[2018-12-19 20:35] #5616 closed

[2018-12-19 20:37] dschep commented on #5615
CloudFormation is not available for this yet, but we are working on a plugin. Keep an eye on our twitter account & blog where we'll announce it's release when ready. I Will leave this open however, because we do want to bring that into core once CFN supports it.

[2018-12-19 22:03] dschep commented on #5564
Duplicate of #3495

[2018-12-19 22:04] ssteo commented on #5098
In my case, I've only specified the profile once under serverless.yml provider, sls complained about unable to find the profile name. Also, tried just using `--profile aws_profile_name` and removed profile field in serverless.yml and sls also complained the same.

[2018-12-20 00:58] Imran99 commented on #4664
@rrahul963 Awesome just what I was looking for. The issue for me was that I need to use a predefined value for the api key. Although the aws cli supports this, Cloudformation (and therefore serverless) does not.

[2018-12-20 02:03] benwillkommen opened #5619 "Cloudflare Workers Template is Outdated"
# This is a Bug Report

## Description

While following along with the [Cloudflare worker quick start](https://serverless.com/framework/docs/providers/cloudflare/guide/quick-start/) on serverless.com, I noticed that the project that the `cloudflare-workers` template produced "hello world" code that did not work.

This is because the template produced code that had two problems:
* It used an old ve

[2018-12-20 11:16] mikeblakeney commented on #5564
@dschep how is this a duplicate of #3495 ?   AWS Lambda and Gateway are two distinct services that offer X-ray support

[2018-12-20 11:49] a-h opened #5621 "Ensure AWS S3 buckets created by Serverless can't be accessed over HTTP"
# This is a Feature Proposal

## Description

At a recent security audit I had done on some infrastructure, several of the S3 buckets created by the Serverless Framework showed up as not having `SecureTransport` flag set to true as part of the Bucket Policy.

While the buckets aren't created public, it's also (maybe?) a relatively simple change to enforce the policy.

The security team provided an

[2018-12-20 13:51] hdryx commented on #4797
Hi,
I'm trying this code but i'm getting this error :
` The CloudFormation template is invalid: Template format error: Unresolved resource dependencies [SNSTopic$(self:service)$(self:custom.topicName)$(self:custom.stage)] in the Resources block of the template`

How to solve that ?

[2018-12-20 14:05] dschep commented on #4638
Hey folks, I've created https://github.com/dschep-bug-repos/sls-4638 to try to reproduce this bug, but to no avail. Do the steps in the readme cause the bug for any of you? If not, what differences does your setup have that you could make to cause my repo to reproduce the bug? Let me know here or make a PR to that repo with a change that causes the bug to occur.

[2018-12-20 14:12] dschep commented on #5564
Doh. Sorry. misread the issue titles.

[2018-12-20 14:16] dschep commented on #5098
I still don't follow why you're using the `--profile` option. AFAIK the ways of setting the AWS profile at deploy time are:
 * the `profile` key in the `provider` section of `serverless.yml`
 * the `AWS_PROFILE` env var
 * the `--aws-profile` CLI option

[2018-12-20 14:22] ssteo commented on #5098
Ok, ignore about my attempt using `--aws-profile`. I've tried using:
- the profile key in the provider section of serverless.yml
- the AWS_PROFILE env var

Both doesn't work as well. `sls deploy` gives me ` Profile my_aws_profile_name does not exist` even though it exists in `~/.aws/credentials`

[2018-12-20 16:21] dschep commented on #5614
I'll try to spin up a Windows VM and take a look at this soon

[2018-12-20 16:22] dschep commented on #5621
That's a good idea @a-h!

[2018-12-20 17:17] benbunk commented on #5572
In our organization we "Nuke-and-Pave" for all releases essentially destroying and recreating everything including ALBs. It would be beneficial for us if the ALB was created along with the functions so that we can avoid having two separate automation processes.

[2018-12-20 18:12] dschep commented on #5098
Could you share your project(or censored version there of) that exhibits this behavior? I've just tested with the `AWS_PROFILE` env var, `--aws-profile` CLI option and the `profile` config file option and all worked as expected.

[2018-12-20 19:03] #5619 closed

[2018-12-20 19:31] ssteo commented on #5098
It only works when I did the following:
- Remove `profile: devawsaccount` from serverless.yml
- Manually run `export AWS_ACCESS_KEY_ID=AKIAxxx`
- Manually run `export AWS_SECRET_ACCESS_KEY=xxxx`
- `sls deploy`

[2018-12-20 19:33] ssteo commented on #5098
And the verbose stack trace

[code]

[2018-12-20 19:39] ssteo commented on #5098
It seems the problem is somewhere in the AWS provider plugin `/usr/local/lib/node_modules/serverless/lib/plugins/aws/provider/awsProvider.js`

Let me know if any further info. I can provide to help with the issue.

[2018-12-20 19:48] dschep commented on #5098
Aha! Finally recreated the issue. The config option names in `~/.aws/credentials` must be lowercase. IE:
[code]

[2018-12-20 21:15] theAmbientOrange commented on #3163
@dschep Schweeeet, thank you! I'll try it out!!

[2018-12-20 22:14] AnthonyWC commented on #5352
I am closing this; I think actually it's fine to let template engine like to handle this since it really just add complexity, although support existing template engine (like jinja2) would be good, but can be done as a plugin.

[2018-12-20 22:14] #5352 closed

[2018-12-20 22:58] nunofgs commented on #5225
Just bumped into this as well.

[2018-12-20 23:05] ssteo commented on #5098
Cool, good to know. Will you push a fix out soon or..? Meanwhile I'll switch to lowercase, hopefully my other stuff doesn't break ;-)

[2018-12-21 00:12] tuddman commented on #5535
I resolved this issue by removing the offending DDb resource from the CFN definition, pushed a change set, confirmed _that_ updated successfully, and then re-added the resource and pushed another change set (with the original DDb resource back in).

[2018-12-21 10:02] ovirta opened #5622 "Plugins list should be possible to provide via configuration file when starting serverless-offline"
# This is a Feature Proposal

## Description

* There are several serverless.yml variables that can be parametrized from commandline options or from configuration files. Unfortunately plugins list can not be provided in such manner when running serverless-offline.

* Our plugins section in serverless.yml looks like following:
[code]

To debug locally we need to remove the comment from serverless-o

[2018-12-21 11:36] mikeblakeney commented on #5564
no problem.  thank you for re-opening the issue.

[2018-12-21 13:01] dschep commented on #5098
Glad it works. There's no fix to push tho, it's a requirement of the `aws-sdk` (that's what's being used to load the config file)

[2018-12-21 13:01] #5098 closed

[2018-12-21 15:20] dschep commented on #5352
If you want complex config generation, serverless supports `serverless.js` as the config allowing you to do any crazy thing you want :)

[2018-12-21 20:54] dschep commented on #5615
And it's available now!! https://serverless.com/blog/api-gateway-websockets-example/

[2018-12-21 21:15] haydenlingle commented on #5373
Same issue. Attempted the command they gave.. No luck.

[2018-12-22 17:11] adnanmomin commented on #5180
This helped me after the long search and multiple node installations and uninstallations.

[2018-12-23 16:37] theAmbientOrange commented on #3163
@dschep @pmuens  Good morning Daniel and Philipp 😄

Just to be sure, we're basically just simply moving all validations happening in the `load()` function of `lib/classes/Service.js` into `validate()`? Thank you! ✌️😸

[2018-12-23 22:50] johndoe2361289638163 commented on #4485
Any update on this?

[2018-12-24 00:14] bawbgale commented on #4485
@johndoe2361289638163 Looks like updating docs is the main outstanding to do. @jgunn987 I've forked your fork and will take a stab at updating docs.

[2018-12-24 18:53] welkie opened #5624 "Docs - bad css float"
Just wanted to open an issue to mention a float problem I encountered on the following page on mobile:

https://serverless.com/examples/

[2018-12-24 22:09] welkie commented on #4777
I had this same issue. Running the command in the comment above fixed it. I'm going to submit a PR for the docs.

[2018-12-24 22:18] welkie commented on #4777
PR created: https://github.com/serverless/serverless/pull/5625

When merged, this issue can be closed.

[2018-12-25 11:38] serverlessnomad opened #5626 "Layer max count"
serverless/docs/providers/aws/guide/layers.md says you can use as many layers as you want, but that conflicts with https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html that states there is a max of 5.

[2018-12-25 16:39] klimentLambevski commented on #4266
@dschep i got this error in v1.35.1 too after i added `lambda@edge` function using
`serverless-plugin-cloudfront-lambda-edge` plugin

[2018-12-25 18:36] edlgg commented on #5188
Has this problem been solved? Im still getting the error.

[2018-12-25 21:02] evandrom commented on #4875
Does anyone have this example?

[2018-12-26 05:33] tedder commented on #1439
I started with @uclaeagit's list and iterated on stack creation. I had to add quite a bit:

[code]

[2018-12-26 12:55] qsona commented on #5077
Hi, I faced into this issue in v1.33.1 but it's fixed after updating to v1.35.1 . I think this issue can be closed.

[2018-12-26 17:43] faridhajnal commented on #5133
I am having the exact same error. The difference is that I am targeting specific package version (1.5.1), while using node 10.14.2. Installing latest serverless with **npm i -g serverless** works, but I cannot install that specific version locally nor globally. Please help!

[2018-12-27 10:01] AnkuArora commented on #5535
Suppose if we want to schedule an cloudwatch event which inturns will change the capacity from provisioned to on-demand . How can we do that . I have been tried by passing this constant JSON input as {   "BillingMode": "PAY_PER_REQUEST"  } into the target, but it didn't worked for me . I need assistance on how can we do that.

[2018-12-27 21:38] gilluan commented on #5212
I would like to contribute.

[2018-12-27 22:23] aroca opened #5629 "Cloudwatch event source not being created"
# This is a Bug Report

## Description

* What went wrong?
* What did you expect should have happened?
* What was the config you used?
* What stacktrace or error message from your provider did you see?

Hey guys, I am not able to create events here.
I am using

sls --version
1.33.1
I see no errors and nothing gets created. I just tested with the same test as in this doc..
[code]
The scheduled even

[2018-12-27 23:20] Imran99 opened #5630 "Initial aws CloudFormation stack creation failure causes subsequent deployments to fail with `stack is in ROLLBACK_COMPLETE state and can not be updated`"
# This is a Bug Report

## Description

* What went wrong?
Deployment failed with `stack is in ROLLBACK_COMPLETE state and can not be updated` error. When the initial stack create fails, subsequent deployments will also fail requiring manual intervention.

* What did you expect should have happened?
Cleanup should happen automatically rather than requiring manual intervention. This can be achieved

[2018-12-27 23:30] DCazier commented on #4638
For what it's worth, we were having this problem in our organization too. In our serverless.yml file I decided to change the 'timeout' property of one our lambdas from 10s to 15s. Deployed that changed. All env variable changes after that began to deploy as normal.

Seems to have solved our issue. Not sure what caused this to begin with, but hopefully this helps in the debugging or to get people u

[2018-12-27 23:41] tdmalone commented on #5572
This might be useful to people in the meantime:
https://github.com/jthomerson/serverless-training-examples/blob/master/services/application-load-balancer-lambda/serverless.yml

[2018-12-28 07:00] mayankkumar0072 commented on #3374
I was also facing the same issue, but after trying this it worked.
 `--stage prod --aws-profile production`
Thanks @pmuens

[2018-12-28 14:39] #4777 closed

[2018-12-28 15:22] bresheske opened #5632 "sls cannot create buckets from resources section: <bucketname> already exists"
# This is a Bug Report

## Description

* What went wrong?
Serverless cannot deploy even with a very simple "create a bucket with a custom name" configuration.

* What did you expect should have happened?
Serverless should create a bucket with a custom name.

* What was the config you used?
package.json:
[code]

serverless.yml:
[code]

* What stacktrace or error message from your provider did you

[2018-12-28 15:40] dschep commented on #5629
The event specification isn't indented correctly. Use:
[code]

[2018-12-28 15:40] #5629 closed

[2018-12-28 15:41] dschep commented on #5077
Thanks for pointing this out @qsona

[2018-12-28 15:41] #5077 closed

[2018-12-28 15:50] dschep commented on #5632
change to any bucket that exists, or anything? Because I changed it to `mahbukkit-test` and it deployed just fine.

[2018-12-28 15:53] dschep commented on #3163
Correct on both counts @theAmbientOrange 👍

[2018-12-28 16:12] bresheske commented on #5632
@dschep Thanks for the feedback - I changed it to include "-test" and cloudformation has been creating the bucket for the last 10 minutes.... hopefully won't take too long here.

![image](https://user-images.githubusercontent.com/4560428/50520999-0c9e2980-0a89-11e9-88ab-aecaff89545e.png)

[2018-12-28 16:33] #5626 closed

[2018-12-28 16:35] dschep commented on #5632
yup, that's one of the downsides of s3 :(

[2018-12-28 16:35] #5632 closed

[2018-12-29 02:11] exoego commented on #4241
@dschep @horike37
I need a design decision by core devs regarding Cognito user pool.

S3 is fine. `s3` event requires `bucket` name which is unique in AWS globally,  so the plugin can find the existing S3 bucket by the name.

However, IIUC, `cognitoUserPool` requires `pool` name which is NOT unique. In other words, there may be multiple user pools with same name, since user pools are distiguished

[2018-12-29 04:14] livertonoliveira opened #5633 "AWS Cognito + Serverless Framework"
Guys,

I'd like to use AWS Cognito to handle social authentication on my app that is going to use serverless framework and I can't understand how to do this.

Does anybody have a tutorial to help me with? I'd be so grateful!

[2018-12-29 12:59] o-alexandrov opened #5634 "Support for Yarn Plug'n'Play"
# This is a Feature Proposal

## Description

Before moving forward, please be informed that [Plug'n'Play is **not** meant to be Yarn-specific](https://dev.to/arcanis/plugnplay-and-tink-4684).
Serverless does not (yet) have [PnP](https://github.com/yarnpkg/rfcs/pull/101) support.

Related links:
- [Getting started PnP](https://gist.github.com/arcanis/02b49752c385908479734d8027d7a6c7)
- [https://gi

[2018-12-29 17:44] pdaryani commented on #5624
Thanks for bringing this forward @welkie! QQ: which device are you using? I tried multiple phones and float does not seem to be an issue: https://www.awesomescreenshot.com/image/3802653/4dfe028c8cd39c1fce5e61d900039dcc

Regardless, made an update that would most likely fix the issue you were having...could you please have a look? https://prefooter-float-fix--serverless.netlify.com/

Cheers

[2018-12-30 12:21] jpswade opened #5637 "Inconsistent parameters in the event object"
# This is a Bug Report

## Description

The documentation here:

* https://github.com/serverless/serverless/blob/a891a9dca51768b7711cb1a35415cb78ada86d33/docs/guide/overview-of-event-sources.md#http-endpoint

Describes a "query" parameter, which doesn't appear to exist.

Yet the documentation here:

* https://serverless.com/framework/docs/providers/aws/events/apigateway#default-request-templates

[2018-12-30 16:43] theAmbientOrange commented on #3163
@dschep Schweeeet, thank you 😄

[2018-12-30 17:10] orndorffgrant commented on #3212
@OndeVai

@RobertBrewitz posted this a while ago in this thread, but one of his links has broken so I'll leave this here. This solution does not require hardcoding, separate stacks, or augmenting each function in CloudFormation.

[code]

This is working for me with serverless 1.32.0

[2018-12-30 17:32] amitaymolko commented on #3212
Works well!!
Thanks a lot!

[2018-12-30 23:12] exoego commented on #5225
This issue could be related to #4959 ?

[2018-12-30 23:19] exoego commented on #4872
This issue seems related (could be resolved at same time) to #4073.

[2018-12-31 05:20] #3306 closed

[2018-12-31 07:15] #5502 closed

[2018-12-31 09:42] RobertBrewitz commented on #3212
@orndorffgrant thanks, links fixed in the forums :+1:

[2018-12-31 20:33] #5630 closed

[2018-12-31 21:43] dschep commented on #5637
Yup, those don't seem quite accurate. See the sample event from AWS for reference: https://docs.aws.amazon.com/lambda/latest/dg/eventsources.html#eventsources-api-gateway-request

[2018-12-31 21:44] dschep commented on #5637
@pmuens what does this mean?

[2018-12-31 21:53] dschep commented on #4241
What about the following:

If `preExisting: false`(default) then `pool` is a pool name.
If `preExisting: true` then `pool` is expected to be a pool Id

I think that should be acceptable if it's well documented. And if there's a way to check that a string is a valid ID, then it could also check that it maches that when preExisting is true.

[2019-01-01 02:52] CoryKleiser commented on #4613
@ilrein Your fix worked for me. Thanks!

Although it worked, I still feel like this issue needs to be resolved.  You should be able to use a specific arn. This should be reopened or, if it is possible to use a specific arn, a solution should be posted.

[2019-01-01 03:05] #4414 closed

[2019-01-01 17:05] AdamZaczek opened #5643 "Unable to import module 'index': Error"
# This is a Bug Report

## Description

* What went wrong?
My function does not work after running ```sls deploy``` but works perfectly in offline mode.
* What did you expect should have happened?
I expect my function to work when being deployed.
* What was the config you used?
Deps
[code]
Serverless.yml
[code]

webpack.config.js
[code]

OS: darwin
Node Version: 8.10.0
Serverless Version: 1.35.1

[2019-01-01 17:13] AdamZaczek commented on #4493
I have the exact same issue, sls offline works like a charm but sls deploy does not. I will try deploying manually to see how it works. Did you guys find a solution using serverless @seeden @joarleymoraes ?

[2019-01-01 17:40] seeden commented on #4493
I am not using serverless anymore

[2019-01-01 17:56] AdamZaczek commented on #5643
I just found a solution, my .babelrc was missing ```{ "targets": { "node": "8.10" } }```! Closing!

[2019-01-01 17:56] #5643 closed

[2019-01-01 17:58] revmischa commented on #5024
An easy way to use secrets manager with serverless would make my life easier

[2019-01-01 18:00] AdamZaczek commented on #4493
I actually just found a solution to my own issue, it had to do with lacking adnotation to target node 8.10.  Here is what helped me get the job done
[code]

[2019-01-01 20:34] teddis commented on #4981
I have the same problem deploying a 2nd serverless template. I get access denied. Looking at my template, it does appear to include "S3:ListBucket" permission already, so I'm stumped.

[2019-01-01 22:58] drissamri opened #5644 "iamManagedPolicies is requiring unnecessary iam:PutRolePolicy"
# This is a Bug Report

## Description

* What went wrong?
Deploying a service without iamStatements and only managedPolicies is throwing a unauthorized on  iam:PutRolePolicy. Due to client restrictions inline policies are not allowed, predefined policies need to be used. All necessary policies are available and can be attached.

* What did you expect should have happened?
Only IAM AttachPolicy pr

[2019-01-02 05:17] warapitiya opened #5645 "Artifact path in serverless-state.json is incorrect"
# This is a Bug Report

## Description

* What went wrong?
File `artifact/serverless-state.json` created by command `sls package -p artifact -s ci` is containing a wrong artifact path. (folder name should be `artifact` instead of `.serverless`)
[code]
* What did you expect should have happened?
Artifact path should contains `artifact` instead of `.serverless`.
[code]
* What was the config you used

[2019-01-02 07:55] usamayousuf13 commented on #4638
having similar issue. Environment variables are showing null in lambda console when i try to pass the cloudformation parameters to my lambda environment variables. I am attaching a chunk of my CF template just to elaborate.

`"Parameters": {
    "userIdParameter": {
      "Description": "some userId here",
      "Type": "String"
    }
}
"createLambdaFunction": {
      "Type": "AWS::Lambda::Functio

[2019-01-02 14:05] etgrieco commented on #4981
@teddis Are you by any chance deploying to an existing S3 `deploymentBucket`? Or specifying some other already existing-resource in your second template? Something I have found is that when I 'create' resources with `serverless`, I get different access results than if I manually create my target resources myself (buckets, apigateways, etc.) and then deploy to those targeted resources as specified

[2019-01-02 14:31] efimk-lu commented on #5606
Hey, @smartinspereira any news about it? The same thing happens to me as well.

[2019-01-02 14:33] dschep commented on #5606
Sorry, been overwhelmed without time to check this out. @exoego, any chance you have any input since you implemented this feature?

[2019-01-02 15:38] s16h opened #5646 "AWS Lambda Layer package files missing first character in their name"
When adding layer path to `serverless.yml`, if the path ends in `path.sep` (e.g. `/`), then when the files are packages, they all miss their first character.

This is because in https://github.com/serverless/serverless/blob/c826183eefa96546ef853d2574dff6ddcd6e36b5/lib/plugins/package/lib/zipService.js#L86 there's an assumption that the layer path doesn't have a `path.sep` already.

Perhaps that li

[2019-01-02 16:11] RUSHt commented on #5536
Yep, that worked - thanks.  The need for HTTP > HTTPS is for clients that start a connection by typing the address on their browser, if they don't type https:// then the connection fails - unless you have a means for redirecting HTTP > HTTPS.  Since I'm providing a Nuxt App then this is essential. Since Cloudformation can build Cloudfront distributions is there a mean to extend the server less clo

[2019-01-02 16:43] dschep commented on #5024
There's nothing builtin @revmischa, but you can always use serverless' support for javascript files in variables:

in `secret.js`:
[code]

in `serverless.yml`:
[code]

[2019-01-02 16:55] teddis commented on #4981
@etgrieco Thanks, yes, I've been deploying to existing buckets, not expecting serverless would create that for me. See my other post from yesterday: https://github.com/awslabs/serverless-image-handler/issues/80. Temporarily I'm trying to use the old template from November that referenced an older serverless build, hoping that works temporarily.

[2019-01-02 17:14] revmischa opened #5647 "Invoke Local Use Default Region From Provider"
# This is a Feature Proposal

## Description

If i specify `region: eu-central-1` in my provider config, could it maybe use that as `AWS_DEFAULT_REGION` when i do `sls invoke local`?

I would like to just rely on serverless.yml for setting the region and not worry about it any more.

Right now to invoke things locally that may access resources in the region I expect this code to be deployed in, I

[2019-01-02 18:57] AnthonyWC commented on #5281
While I agree with the FP, in the meantime you can get valid YAML using:

`serverless info --verbose | sed -e '1,/^Stack Outputs/d' -e '$d'`

[2019-01-02 19:07] brettcooper opened #5648 "Add support for BatchParameters in Cloudwatch event rule"
# Support the use of BatchParameters within Target for an AWS CloudWatch Event Rule

## Description

* I am trying to create a CloudWatch rule to schedule an AWS Batch event to trigger, but Serverless currently doesn't support the "BatchParameters" section of the rule. I am receiving the following error:
[code]
* Here is the Serverless YAML:
[code]
See the "Sends a batch job command to an AWS Batc

[2019-01-03 04:13] cyberfox1 commented on #5633
https://aws-amplify.github.io/docs/js/start

[2019-01-03 05:14] sarangen2 commented on #5609
v1.35.1 has the same packaging issue.  works fine with v1.34.1

[2019-01-03 06:31] exoego commented on #4241
Please forget the above issue reference which is created accidentally.
![image](https://user-images.githubusercontent.com/127635/50625618-9c9e1080-0f6c-11e9-9d30-c294b743c902.png)

[2019-01-03 09:17] yoyeung commented on #3369
@vkkis93 let me close it.
Thanks

[2019-01-03 09:17] #3369 closed

[2019-01-03 11:05] exoego commented on #4241
Please forget the above issue reference which is created accidentally.
![image](https://user-images.githubusercontent.com/127635/50625618-9c9e1080-0f6c-11e9-9d30-c294b743c902.png)

[2019-01-03 11:30] smartinspereira commented on #5606
@efimk-lu unfortunately nothing new, but i also did not test this using 1.35.1 again.

[2019-01-03 11:43] efimk-lu commented on #5606
We've been testing it with Version 1.35.1, the latest :-(

[2019-01-03 12:07] exoego commented on #5606
I briefly tested using serverless `1.35.1` and the described serverless YAMLs while `profile: cndx-dev` were commented out (since I do not have such profile).

As far as I tested, serverless can deploy stacks to the specified regions (`foo` to eu-central-1, `bar` to us-east-1) and `${cf.REGION}` syntax works.

So I am guessing that `profile` could be suspicious.

@smartinspereira @efimk-lu
Can you

[2019-01-03 12:14] dinamic commented on #5536
This sounds reasonable. I thought something is wrong when deploying initially with a custom domain.

I would use `wget -O - my.domain.name.com` and it would show port 80 is not available. I totally didn't expected for the lambda to be available on port 443 only.

Please, add this functionality to serverless!

[2019-01-03 13:02] hsz commented on #4638
I met the same issue when deploying whole package with `sls deploy` and even `--force` didn't update the environment variables.
When deploying specific function with `--force` - it works, but that's not a perfect solution.

Anyway - as a workaround I've figured out, that setting another extra env variable called i.e. `BUILD_TIME` with a timestamp that changes every time - all variables are set pro

[2019-01-03 21:51] efimk-lu commented on #5606
@exoego I'll share it shortly. We tried with --region and hard-coding region in the yaml.

[2019-01-04 00:45] duc-anh-tran commented on #3805
In my case, I went into S3 and delete the related bucket for cloudformation, then rerun the deployment.

[2019-01-04 00:45] MacMcIrish commented on #5609
@sarangen2 I've tried to reproduce this locally, but it seems to be working as expected for v1.35.1 with the `../_helpers/logging.js` being packaged.

Is there any more information you can provide?

[2019-01-04 01:55] joshrp commented on #4964
This is causing issues deploying our stacks. Is there any work in progress for this? Or a workaround that isn't deploying functions without concurrency settings?

[2019-01-04 07:03] prernab commented on #3676
The sns topic is in the region eu-west-1 (not created using cloud formation) so permission is added manually in topic policy and lambda is in different region us-west-2 and using cloud formation. How to provide permission in this case? As I am getting same error "invalid parameter: TopicArn".

{
      "Sid": "Subscribe-to-topic",
      "Effect": "Allow",
      "Principal": {
        "AWS": "arn:aw

[2019-01-04 10:20] smartinspereira commented on #5606
@exoego what exactly do you mean with _Can you provide AWS profile ?_.
are you sure that your stack `bar` is in us-east-1? - see `version 1`, it will deploy the stack, but in the wrong region. also you could just create a profile in `~/.aws/credentials` with the name `cndx-dev` and your own credentials.

[2019-01-04 11:00] #4737 closed

[2019-01-04 11:16] exoego commented on #5606
Actually, `bar` was deployed to `eu-central-1`, not `us-east-1`.
However, serverless log says that it deployed to `us-east-1` like below:

[code]

[2019-01-04 11:17] exoego commented on #5606
I initially thought default region or such field in profile may help to reproduce issue.
However, it seems that profile is not needed to reproduce.

[2019-01-04 11:23] exoego commented on #5606
I think I found a root cause.
Will open a PR this weekend.

[2019-01-04 12:36] exoego commented on #5606
I think the issue is fixed in https://github.com/serverless/serverless/pull/5650
Now `bar` is deployed to `us-east-1`, not `eu-central-1` which is referenced in `${cf.eu-central-1}`.

Thanks for trying this feature and reporting issue @smartinspereira @efimk-lu

[2019-01-04 14:09] efimk-lu commented on #5606
@exoego tried the new version and it fixes the problem. Tx!

[2019-01-04 14:14] localredhead commented on #4018
Arrived here looking for information on this.   I was hoping it was possible with serverless :-1:

[2019-01-04 14:16] localredhead commented on #4123
Definitely need this

[2019-01-04 15:08] Vadorequest commented on #253
Is it compatible now? It's been 2-3 years and I'm thinking about using Winston for my Serverless app.

[2019-01-04 18:58] fedebalderas commented on #4711
I still have this issue with custom authorizers in v1.35.0... any idea?

[2019-01-05 13:57] asyba commented on #5573
Yeah, and also I would like to create serverless template through code.

[2019-01-05 22:20] ahmed-abdulmoniem commented on #4715
Any fix to that until now?

[2019-01-06 07:52] ahmed-abdulmoniem commented on #5645
This is happening with me as well.

[2019-01-06 07:54] ahmed-abdulmoniem commented on #4188
Happening with me as well.

[2019-01-06 08:33] ahmed-abdulmoniem commented on #4893
@HyperBrain I don't have any plugins in my .yml file .. and I face this error when I try to `sls remove`:

[code]

When I delete the contents of the deployment buckets myself and run the command again it completes successfully.

Do you know why?

[2019-01-07 01:49] #5606 closed

[2019-01-07 10:04] anloh88 commented on #5008
@MacMcIrish @boostninja :
could you please provide an example of your serverless.yml files?

I defined provider.vpc.securityGroupIds and provider.vpc.subnetIds but it still takes quite long.
Or is that the issue to mention it in the serverless yml? VPC and SG is already defined within another lambda. How can I link them correctly?

[2019-01-07 10:55] ssteo opened #5652 "API gateway always show cloudformation stack drift"
# This is a Bug Report

## Description

* What went wrong?
* What did you expect should have happened?
* What was the config you used?
* What stacktrace or error message from your provider did you see?

Similar or dependent issues:
* #12345

## Additional Data

* ***Serverless Framework Version you're using***:
* ***Operating System***:
* ***Stack Trace***:
* ***Provider Error messages***:

[2019-01-07 14:16] dschep commented on #5609
Ahah.. Thanks for mentioning you're on Windows @magic2! I've made a PR that might fix it (sorry, no immediate access to a Windows system to test it myself). Could you test it? `npm i -g serverless/serverless#sls-5609`

[2019-01-07 14:42] dschep commented on #4928
I attempted to reproduce this issue in [dschep-bug-repos/sls-4928](https://github.com/dschep-bug-repos/sls-4928) but it printed out an API key as expected. Could one of you share a `serverless.yml` that causes this issue?

Output from my test:
[code]

[2019-01-07 14:50] dschep commented on #4493
I'm not sure why sls offline is working... but you say you're using express but I don't see [`serverless-http`](https://github.com/dougmoscrop/serverless-http) in your plugins, so I wouldn't expect it to work.

[2019-01-07 15:24] magic2 commented on #5609
Unfortunately, in case of using `, slash: path.sep` it just takes everything from `allFilePaths`. I created a small [gist](https://gist.github.com/magic2/1d1c090532bdb6b3245dada14a406520) to test it out, but it seems like to see the results it must be run on Windows.

[2019-01-07 15:35] efimk-lu opened #5655 "If stage name is a variable then you can not create an http binding"
# This is a Bug Report

## Description

* What went wrong?
I deployed my sls stack and got the following error:
`Serverless plugin "/lib/plugins/aws/provider/awsProvider.js" initialization errored: Invalid stage name ${self:custom.env}: it should contains only [a-zA-Z0-9] for AWS provider if http event are present since API Gateway stage name cannot contains hyphens.`
* What did you expect should

[2019-01-07 15:51] nfantone commented on #4494
Probably related.

Today I tried to load a variable from SSM with a `file:` default and while the value _was_ parsed and replaced, SSM was never reached - as if the `ssm:` portion was a string literal.

This is what I mean:

[code]

`SYMMETRIC_KEY` resolves to:

[code]

Changing the default value from `cxyzPH2Qb3kaBVeXpGhHb7/+eH6Ir1K/d/rhTCsfsHc=` to some other using only alphanumeric chars makes

[2019-01-07 15:56] #4494 closed

[2019-01-07 16:04] muratcorlu commented on #5591
Is that mean, `ProvisionedThroughput` is mandatory field for DynamoDB table configuration in `serverless.yml`? If so, maybe there could be a check in serverless side for this. That ate my days.

[2019-01-07 16:39] dschep commented on #5655
Hmm. That's odd. I'm not able to reproduce this issue. Could you share a full `serverless.yml` that causes the issue for me to try?

Here's the `serverless.yml` I used:
[code]

And here's the output when I run `sls deploy`:
[code]

and here's the output of `sls print`
[code]

[2019-01-07 16:50] dschep commented on #5609
Hmm. I'm not surprised that gist doesn't work since you're creating `allFilePaths` with `/` in the paths. I guess part of the question is, what kind of paths does `globby(['**'])` return on windows?

[2019-01-07 17:05] dschep commented on #5644
Note the copy in the docs:

Namely, it _adds_ managed policies to the lambda role. I don't think it replaces all the inline roles that sls adds.

[2019-01-07 17:36] drissamri commented on #5644
In my case I don't want Serverless to create any roles at all and only use managed policies provided, this is not supported then?

Currently I use cfnRole and a custom role for all functions. This custom role is created in CloudFormation within the Resources section of the serverless file with only adding managed policies to it. It works like this but it would make more sense to do this directly i

[2019-01-07 17:55] dschep commented on #5646
Good catch! I've created a PR fixing this. Didn't quite take the same approach. Could you check that it's fixed for you too with this? `npm i serverless/serverless#sls-5646`

[2019-01-07 17:55] samuela opened #5657 ""Watch the video guide here." in README doesn't go to video"
The "Watch the video guide here." link in the README directs me to https://serverless.com/framework/, not a video.

[2019-01-07 17:56] #3447 closed

[2019-01-07 18:03] billfine commented on #5212
Here at Serverless we've been watching the Knative project since its inception and have had some discussions with the Google team re how to best work together.  Has anyone here implemented Knative?  Can you share your experience?  What is your use case for adopting Knative and how mature have you found the project to be?

[2019-01-07 18:05] efimk-lu commented on #5655
@dschep you need to define an http event

[2019-01-07 18:06] dschep commented on #5647
That's already done by these lines of code:
https://github.com/serverless/serverless/blob/3489aed93508d076470e3d4ae5b860a77614eafe/lib/plugins/aws/invokeLocal/index.js#L104-L105

and testing it..
[code]

[2019-01-07 18:06] #5647 closed

[2019-01-07 18:36] zoellner commented on #4230
I noticed the same issue as @uclaeagit and resolved it by adding the IAM permission `s3:GetBucketLocation` for resource `arn:aws:s3:::${MyCustomDeploymentBucket}` (important: not trailing `/*`

[2019-01-07 18:37] dschep commented on #5657
Edit: updating to link to the video in the readme since the info is all still correct, it just isn't visually on-brand.

[2019-01-07 18:39] uclaeagit commented on #4230
FWIW this is the current serverless IAM policy we use:
[code]

[2019-01-07 18:41] #5657 closed

[2019-01-07 20:35] dschep commented on #5655
Gotcha. I see the releavnt pr too now. Thanks :)

[2019-01-07 20:38] dschep commented on #5645
I see you link to #4188. As such, does #5297 fix your issue? `npm i -g fruffin/serverless#fix-4188`

[2019-01-07 20:40] dschep commented on #5614
Sorry, we've both been overwhelmed by other tasks. @sebito91 took a look and as far as I understand his findings, the issue is specifically that `go build` doesn't correctly set permissions when cross compiling (it does it correctly when building for windows on windows). Is that right Sebastian?

[2019-01-07 20:47] dschep commented on #4241
Hmm. Yeah, I don't really like the idea of adding more non-cf stuff 😕

[2019-01-07 21:38] sebito91 commented on #5614
That's about right @dschep. The interesting thing is when we build for `windows` on `windows` all of the permissions are set properly. When we cross-compile for `linux` on `windows` the execution bits are not set properly.

When you `scp/rsync` a file post-build to a linux machine, it's simple enough to just `chmod +x` the binary and you're off and running. The same cannot be said on Windows as th

[2019-01-07 22:16] revmischa commented on #5647
Profile too would be really nice

[2019-01-08 02:59] cyberfox1 opened #5660 "Deploy Lambda without service"
# This is a Feature Proposal

## Description

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.

I just want to deploy a lambda with serverless without a service prefixing the name. Ideally the stage will be suffixed to the lambda name, not the service name. E.g.

foo-dev-bar

would just be:

bar-dev

* If there is additional

[2019-01-08 06:37] smartinspereira commented on #5633
just create a cognito userpool and set the arn as authorizer on all http events, in your serverless lambda config, that need authentication.
every request, to a function using this  authorizer, now has to have an `Authorization` header field containing a token, [read this for further information on how to obtain such a token.](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-userp

[2019-01-08 07:39] id-kemo commented on #4928
I have noticed one thing, particularly with naming the API key, see the serverless.yml below.

[code]

[2019-01-08 08:46] magic2 commented on #5609
Just checked - it returns all paths with forward slashes.

I experimented a bit with other patterns, it seems on Windows `globby` can handle both forward and backward slashes as part of input pattern(s), but still returns paths with forward slashes.

[2019-01-08 10:21] hom-bahrani commented on #5506
Would love to help on this

[2019-01-08 11:49] revmischa opened #5661 "AWS_PROFILE not exported to environment for invoke local"
# This is a Feature Proposal (Arguably a bug report)

## Description

I would very much like it if `AWS_PROFILE` behaved like `AWS_REGION` for `invoke local`. The fact that region is supplied from my configuration is nice and expected, and it is surprising and annoying that profile is not. It means I don't have to set `AWS_REGION` before doing local invoke but I always have to keep setting `AWS_PR

[2019-01-08 14:18] dschep commented on #5661
Copying what I mentioned just now in slack:

[2019-01-08 14:22] dschep commented on #5609
Thanks. Gonna close my PR then since obviously it won't work then.

[2019-01-08 14:27] moha0902 opened #5663 "Error: Error: spawnSync docker ENOENT"
# This is a Bug Report

## Description

* What went wrong?
Not able to deploy vanila https://github.com/softprops/serverless-aws-rust-multi
* What did you expect should have happened?
It to be deployed
* What was the config you used?
* What stacktrace or error message from your provider did you see?

Similar or dependent issues:
* #12345

## Additional Data

* ***Serverless Framework Version you'r

[2019-01-08 14:48] dschep commented on #5660
Do you mean thename of the lambda? just use the name option then:

[code]

This will name the lambda `hello` instead of `test-dev-hello`

[2019-01-08 14:48] #5660 closed

[2019-01-08 15:16] JthenG9 commented on #5066
does `sls deploy --noDeploy` do the trick?

[2019-01-08 16:09] ldani7492 opened #5664 "Bug: Rollback fails due to timestamp parsing error"
# This is a Bug Report

## Description

* What went wrong?
Receiving _Range Error: Invalid time value_ when trying to rollback (with correct timestamp).
E.g. _sls rollback -t 1546961025152_

* What did you expect should have happened?
Rollback should have been successful
Looks like since this.options.timestamp is a string, the wrong constructor of Date is called, and it's expecting a date string.

[2019-01-08 20:42] dschep commented on #5663
This is because that project uses [`serverless-rust`](https://github.com/softprops/serverless-rust/) which depends on docker. @softprops, you might want to add info about the docker requirement in the READMEs of these repos 😉

[2019-01-08 20:42] #5663 closed

[2019-01-08 21:21] mikehanney commented on #4830
I have this issue on windows 10 with node v8.11.3, npm 5.6.0 and serverless 1.35.1

[2019-01-08 23:34] fedebalderas commented on #4711
@rohitshetty never mind, i didn't see this approach https://serverless.com/framework/docs/providers/aws/events/apigateway#share-authorizer

[2019-01-09 08:58] ovirta commented on #5622
Serverless-offline creator @dherault commented on the case:
https://github.com/dherault/serverless-offline/issues/563#issuecomment-452297059

We are happy with this comment and will leave serverless-offline in the yaml file until a there is a straightforward way to include it depending on e.g. stage.

[2019-01-09 11:02] denisolvr commented on #3495
Using the plugin serverless-plugin-tracing on serverless 1.35.1 without no issue guys. Thanks guys! 🎉

[2019-01-09 11:24] Chanonry opened #5667 "Lambda Layers not added when deploying through AWS CodeBuild"
# This is a Bug Report

## Description

* What went wrong?

When the stack is deployed through AWS CodePipeline/CodeBuild using the sls deploy --verbose command the stack deploys correctly EXCEPT the pre-defined layers are not (shown in the console as) attached to any functions.

When the same stack is deployed from the terminal with sls deploy --verbose all layers are attached correctly.

* What

[2019-01-09 12:06] ian-vitaexmachina opened #5668 "Lambda schedule not updating"
Hello,

When I create a lambda function, and set a schedule (e.g. 2 hours) - I cannot have this schedule update even if I do a full deploy, forced function deploy etc.

So if I have this on creation:

[code]

I get a lambda function that executes every 12 hours OK.

But when I update to this:

[code]
The schedule just stays at 12 hours.

Thanks!
Ian.

[2019-01-09 13:21] Chanonry commented on #5667
Sorted.

Different serverless versions between local and the Docker build container. So the build just ignored the layers syntax

[2019-01-09 13:21] #5667 closed

[2019-01-09 13:28] yuriolive opened #5669 "At sign break custom variable"
# This is a Bug Report

## Description

When using a custom variable like this:

	custom:
	  emailAddress: ${emailAddress, 'example@example.com'}

And referencing this variable in a environment variable:

	environment:
	  EMAIL_ADDRESS: ${self:custom.emailAddress}

This environment variable will not have the correct value, if you look the cloudformation generated will be something like this:

	"En

[2019-01-09 16:25] #5669 closed, assigned to nobody

[2019-01-09 16:39] walery commented on #5149
Source: https://forums.aws.amazon.com/thread.jspa?threadID=219168

[2019-01-09 18:03] angryzor commented on #5646
This also happens when you use `.` as the path for a layer, but then it removes the first 2 letters.

[2019-01-09 18:33] faridhajnal commented on #5133
Same for me... only solution so far

[2019-01-09 22:50] ctindel opened #5671 "Unable to reference a DynamoDB Stream ARN"
According to the docs we're able to get the arn attribute of a dynamodb stream as long as the dynamodb table itself is created out of serverless, but it doesn't seem to be working for me.

Maybe I'm just missing something? Here's my config:

[code]

And here's the resulting error:

The CloudFormation template is invalid: Template error: instance of Fn::GetAtt references undefined resource file.

I

[2019-01-10 01:56] ManfredLange commented on #4830
One more data point: serverless includes devDependencies on this config:
* Windows 10
* Node 10.14.2
* npm 6.5.0
* serverless 1.35.1

[2019-01-10 09:30] caulagi commented on #5149
Thanks @walery!

[2019-01-10 09:30] #5149 closed

[2019-01-10 11:10] b0123498765 commented on #5296
@ac360 any update on this? it's now happening nightly for us and always around this time.

[2019-01-10 11:42] marekopatril commented on #5209
+1

[2019-01-10 13:42] Rajan opened #5672 "serverless-http: Unsupported Framework Error"
# This is a Bug Report
Yes
## Description
Getting Unsupported Framework error.
* What went wrong?
Unable to initialize serverless-http module for some reason.

* What did you expect should have happened?
Expected to run the `sls offline` an app which directly works with `npm run dev`

* What was the config you used?
Nuxt+AWS Lambda with serverless.yml (all latest version)

* What stacktrace or err

[2019-01-10 14:19] rdsedmundo commented on #2892
Also wanting this. I'll try the JavaScript solution.

Without this feature proposed here it's impossible to create a custom Bucket with a dynamic name, and use it with an `s3` event because the Logical ID contains the dynamic bucket name.

[2019-01-10 21:07] jsancho commented on #4715
I couldn't agree more with you mate.

It was almost a year ago that I reported this issue.

I'm currently using the following workarounds
- add `serverless.yml` to the artifact produced by `sls package`
- add commands to install sls plugins that are required at deploy time, such as `serverless-iam-roles-per-function`
- introduce the `sls deploy --force` flag because sometimes deployments are unexp

[2019-01-10 22:34] bweigel opened #5673 "Setting --profile or --aws-profile keeps stack from getting deployed from version 1.36.0"
# This is a Bug Report

## Description

* What went wrong?

Using `serverless deploy --aws-profile xyz` or `serverless deploy --profile xyz` keeps stack from getting deployed in version **1.36.0**. (works in version 1.35.1)
Serverless stops just after the sts-assumerole-call was made:

[code]

see details below.

* What did you expect should have happened?

Should still work the same as in version

[2019-01-10 23:01] jspreddy opened #5674 "v1.36.0: Template Variables Parsing issue"
# This is a Bug Report

## Description

* What went wrong?
Parsing of template variables is erroring out.

* What did you expect should have happened?
The variable gets evaluated and proper value is put in.

* What was the config you used?
[code]
* What stacktrace or  message from your provider did you see?
![variable_parsing_error_with_1_36_0](https://user-images.githubusercontent.com/2302194/510

[2019-01-10 23:24] exoego commented on #5674
I think this issue duplicates https://github.com/serverless/serverless/issues/5655 which is being addressed in https://github.com/serverless/serverless/pull/5658

[2019-01-10 23:53] Idanatcox commented on #3525
Thanks @ostov  based on your feedback I've managed to solve this issue #4188 #5297
I don't understand why an absolute path is necessary (or being used at all) it's not a good practice.
simply removing the line with the abolute path reference in the state json fixed the problem
Here is what i ended up doing I hope it will help others. this method ensures the package can be deployed anywhere.

**Bui

[2019-01-10 23:54] Idanatcox commented on #4188
I had the same issue, see https://github.com/serverless/serverless/issues/3525#issuecomment-453307252 for a workaround

[2019-01-11 00:11] bweigel commented on #5474
I did some digging & debugging and the issue is due to the aws-js-sdk. At the moment the implementation for the shared ini file (i.e. `~/.aws/credentials`) only supports a `source_profile`, not a `credentials_source`.

See from [**shared_ini_file_credentials.js**](https://github.com/aws/aws-sdk-js/blob/3e10a5e45982f26b549699402859a99b2038b0cc/lib/credentials/shared_ini_file_credentials.js#L199) in

[2019-01-11 00:43] fcastellanos opened #5675 "AWS Parameter store variables ssm"
# This is a Bug Report

## Description

* What went wrong?
Using variables in Parameter store `ssm:MY_VARIABLE` not working in `1.36.0` breaking the deployment.

* What did you expect should have happened?
To be able to fetch the `ssm` parameter and set it to my sls env variable.

* What was the config you used?
[code]
[code]

* What stacktrace or error message from your provider did you see?
[cod

[2019-01-11 00:45] fcastellanos commented on #5675
Seems like one of the very first things when running `sls deploy` is to go and fetch the Parameter Store variables in AWS to it can create the CF template but for some reason is hanging there trying to fetch it retrying for ever causing the deployment to hang.

[2019-01-11 02:31] ManfredLange commented on #4830
One alternative solution to this problem is using Webpack. Here is an example by The Code Barbarian:  http://thecodebarbarian.com/bundling-a-node-js-function-for-aws-lambda-with-webpack

[2019-01-11 02:32] ManfredLange commented on #5396
One alternative solution to this problem is using Webpack. Here is an example by The Code Barbarian:  http://thecodebarbarian.com/bundling-a-node-js-function-for-aws-lambda-with-webpack

The additional beauty of using Webpack is that the resulting bundle file is very small and can even include dependencies extracted from your ./node_modules folder

[2019-01-11 04:05] mikehanney commented on #4830
I'm using npm prune --production as an alternative.

[2019-01-11 07:38] shouki-s opened #5676 "'sls print' contains Warnings."
# This is a Bug Report

## Description

* What went wrong?

It came to occur since 1.36.0.
Output of `sls print` contains Warnings.

The reproduction code is as follows.

My serverless.yml:
[code]

Yes, We have multiple functions having same handler.
The difference between the two functions is environment variables and so on.

shell script:
[code]

stdout:
[code]

* What did you expect should have

[2019-01-11 11:00] tomwatt opened #5677 "Pipenv not supported when splitting aws lambda functions into modules"

[2019-01-11 11:02] #5677 closed

[2019-01-11 12:37] molinan2 commented on #4928
I'm using this kind-of small template:

[code]

This happened randomly in multiple projects. They only differ in the number of HTTP events and the naming convention (`myApiKey-${self:provider.stage}` vs. `my-api-key-${self:provider.stage}`).

[2019-01-11 13:40] j0k3r commented on #4311
@HyperBrain any chance to reopen? The issue doesn't seems to be fixed.

[2019-01-11 14:16] aronim opened #5679 "Config Plugins"
# This is a Feature Proposal

## Description

* What is the use case that should be solved. The more detail you describe this in the easier it is to understand for us.

I wrote the [serverless-plugin-parent](https://github.com/aronim/serverless-plugin-parent) plugin to try and pull common configuration into a central place, with the intention of reducing the amount of configuration needed in large

[2019-01-11 14:52] danielrbradley commented on #3401
I'm interested in starting working on this. I've built SES configurations in serverless manually, so happy it's all working, but a couple of questions before diving into building a proper integration...

The components you need to get full SES receiving working are as follows:
1. `LambdaInvokePermission` - allow SES within your account to invoke the Lambda.
2. `AWS::SES::ReceiptRule`
    - Recipie

[2019-01-11 15:14] gdugernier opened #5681 "Issue with awsProvider.js : "Cannot use 'in' operator to search for '0'""
# This is a Bug Report

## Description

* What went wrong?

I'm deploying a package with the command "serverless deploy -v --stage cicd" with CodeBuild and I'm getting the error message below. I don't have much more information to give since I have no idea what's causing this issue.

The deployment is done by CodeBuild, Lerna is used to deploy several packages at once. Another package without any

[2019-01-11 15:49] smartinspereira commented on #5681
same here, also occurs if the functions are in the same file but in a _different object_ like:

[code]

[2019-01-11 16:12] gdugernier commented on #5681
I confirm, I locked the version to V1.35.1 and it's working fine now.

[2019-01-11 16:41] luanmuniz opened #5682 "Package doesn't work via file"
# This is a Bug Report

### What went wrong?
In the `package` configuration. If the value is a file call, the configurations doesn't work.
But if i get the content of the file and put in the `serverless.yml` file it works normally

I created a repo that reproduce the problem.
https://github.com/luanmuniz/serverless-file-test

### What did you expect should have happened?
Expect to work the same as

[2019-01-11 16:47] nickelstar opened #5683 "Serverless Error Concerning Stage Name in V1.36"
## Description

* What went wrong?
An error occurs when trying to execute any serverless command in my project using Serverless V 1.36. This error does not occur with V1.35. The error complains about my stage name which is simply 'dev'. Specifically the error is:
$ sls --version

  Serverless Error ---------------------------------------

  Serverless plugin "/home/ec2-user/.config/yarn/global/nod

[2019-01-11 17:02] dallashuggins opened #5684 "Invalid stage name ${opt:stage, 'dev'}"
# This is a Bug Report

## I just downloaded the new version of the serverless app (v1.36.0) per the suggestion of npm. When I used `sls deploy` I received an error telling me my stage name is invalid, which I had not received until now.

* What went wrong?

I updated to version `1.36.0` from `1.35.1` and tried to deploy and got an error saying I have an invalid stage name. The following is from m

[2019-01-11 17:04] dallashuggins commented on #5684
After reading through #4396, I tried `sls deploy --stage dev` and I was able to successfully deploy and the stage name did come through correctly. Close this if you'd like, though I thought you may want to know that the basic `sls deploy` doesn't work any longer.

[2019-01-11 17:45] JohnHeadIV opened #5685 "AWS Cross Region Request incorrectly cached during variables"
# This is a Bug Report

## Description

* What went wrong?
Cross Region requests for cloudformation output values are not retrieved when stackNames are identical.  Both variables are ending up with the same values.
* What did you expect should have happened?
Retrieved output values would correctly return each regions values.
* What was the config you used?
 ${cf.us-east-1:netsystem.VPCID} (Retriev

[2019-01-11 17:52] meatherly commented on #4838
Just needs to be merged https://github.com/aws/aws-sdk-js/pull/1923.  Then we can implement it on serverless

[2019-01-11 18:32] efimk-lu commented on #5684
See https://github.com/serverless/serverless/pull/5658

[2019-01-11 18:32] efimk-lu commented on #5683
See https://github.com/serverless/serverless/pull/5658

[2019-01-11 18:43] jkruse14 commented on #5470
We just ran into something similar:

[code]

Would fail; however, the below works

[code]

My *theory* (I have not found documentation) is that the provider.environment is *not* to be used with the serverless.yml, but is used to set up the process.env in nodejs.

We ended up moving these "environment" variables (which weren't **true** environment variables) to the custom section in our serverless.

[2019-01-11 18:59] dschep commented on #5684
Agreed with @rictorres, it's still a bug. But, I can't reproduce it 😖

[code]

[2019-01-11 19:44] dschep commented on #5684
Since I can't reproduce the issue, could y'all test @efimk-lu's patch and see if it fixes the issue for you?
[code]

[2019-01-11 20:20] luanmuniz commented on #5684
@dschep Just tested and still having the same problem.

I have a private repo where i can reproduce a bug very like this one.
I'm trying to isolate a repo with the bug.

[2019-01-11 20:32] efimk-lu commented on #5684
@luanmuniz checking

[2019-01-11 20:40] efimk-lu commented on #5684
@luanmuniz can you check it now. I'm passing your example

[2019-01-11 20:42] luanmuniz commented on #5671
Try this:
[code]

This way works for me in a few repositories where I use the `Fn::GetAtt`.
I know the two ways should be pretty much the same, but who knows haha

[2019-01-11 21:04] luanmuniz commented on #5684
@efimk-lu Seems to be working now :)

[2019-01-11 21:31] ArmandoAmador commented on #5684
I'm having the `hyphens` issue as well

[2019-01-11 22:35] dallashuggins commented on #5684
Works for me now too :) Thanks for the quick replies!

[2019-01-11 22:35] #5684 closed

[2019-01-12 09:37] ahmed-abdulmoniem commented on #4715
@jsancho I want to understand this sentence:

[code]

I am using the same process as yours but it seems the plugins are not working at all when I deploy. How can I package plugins as well with the artifacts?

[2019-01-12 09:50] exoego commented on #5681
I confirmed this issue is due to changes in https://github.com/serverless/serverless/pull/5638 shipped in v1.36.0.
I will open a PR to fix it.

[2019-01-12 09:59] ahmed-abdulmoniem commented on #4715
@jsancho Actually I can't make `serverless-iam-roles-per-function` run even with the normal `sls deploy` command.

My `iamRoleStatements` under the function is:

[code]

Always, only the default role is created. Nothing new is created and no new roles or policies are added!

Any clue?

[2019-01-12 11:07] luanmuniz commented on #5682
@dschep Can you guide me on where this problem can be originated? The file or some guidance? I can try to send a PR. This is a big problem in my apps.

[2019-01-12 14:43] kopepasah opened #5689 "Remove Duplicate Handler Warning (or add setting for allowing duplicates)."
# Duplicate Handler Warning

This warning was added in #5638.

## Question

What is the specific reason this warning was added?

## Description

The duplicate handler warning deployed in 1.36.0 adds a message for duplicate handlers on functions; however, one application I wrote uses a duplicate handler for processing data in two way: `schedule` and `http`. The reason for this is the `timeout` for

[2019-01-12 17:06] ghinks commented on #5474
sincere thanks

[2019-01-12 19:34] evandrom opened #5691 "Google Provider - Is there a way to run locally?"
Hi All,
I was looking for a tutorial to run google functions locally with serverless framework, i tried "invoke local".
Anyone knows if its possible with serverless emulator ou serverless-offline?
Actually I have to test after deploy.

Thx!

[2019-01-13 01:01] joebernard commented on #4387
The config posted by @alyhegazy removes the VPC from my individual function successfully.

[2019-01-13 04:07] marv72 commented on #4461
Any news on this?

[2019-01-13 08:55] ceefour opened #5693 "Incorrect error: Invalid stage name v4-stg"
# Serverless Frameworks forbids hyphen but API Gateway can contain hyphen

## Description

* What went wrong?

During `serverless deploy`:

* What did you expect should have happened?

Deploy successful because hyphen is supported. Previously I was using ClaudiaJS with `v4-stg` stage name without any problem. Here's additional proof:

![image](https://user-images.githubusercontent.com/24123/510833

[2019-01-13 12:18] dorsegal commented on #4123
+1

[2019-01-13 19:50] gs-jackal commented on #5693
I didn't use hyphen, even specifying a default stage like this fails as well
`stage: ${opt:stage, 'dev'}`

[2019-01-13 19:51] gs-jackal commented on #5683
I have same issue as well, specifying default stage name also show that error
`stage: ${opt:stage, 'dev'}`

[2019-01-13 23:50] aldarund commented on #5693
same issue
  stage: ${env:STAGE}

Invalid stage name ${env:STAGE}: it should

It seems like serverless dont interpolate stage at all

[2019-01-14 01:59] dschep commented on #5683
closed by #5686

[2019-01-14 01:59] #5683 closed

[2019-01-14 01:59] dschep commented on #5693
closed by #5686

[2019-01-14 02:01] dschep commented on #5672
This is more likely an issue with one of the plugins

[2019-01-14 02:01] #5672 closed

[2019-01-14 02:03] dschep commented on #5674
Yup, what @exoego said.

[2019-01-14 02:03] #5674 closed

[2019-01-14 05:30] dalebulmer commented on #3567
This would be VERY useful - as with John, I'm on Australian internet and each deploy takes more than 5 miuntes and I do about 20 a day, a progress indicator helps me work out how long my coffee break is!

[2019-01-14 09:10] drake-jin commented on #5681
Same problem here.

Of course, I downgraded to `serverless@1.35.1`

- serverless.yml
[code]

- config/handlers.yml

[code]

-------
output

[code]

[2019-01-14 14:58] sinel opened #5698 "Setting reservedConcurrency via environment variable causes error"
If I set reservedConcurrency through an environment variable,

i.e. reservedConcurrency: ${env:XXX}

I get the following error:
'You should use integer as reservedConcurrency value on function'.

I understand that the environment variable converts the integer that I assigned to string, but I expected that serverless could handle this. If not, in my case I end up maintaining hard-coded values in ma

[2019-01-14 16:43] am29d commented on #3034
Have same issue and I am wondering how people avoid it. You create a bucket and write something into it, few days later you want to attach an event to this bucket, but since it was already created you have no chance to attach event to it? I can't create new bucket and move the data, there are already several gigabytes :/ . How do you people solve it 🤔

[2019-01-14 18:34] alaz commented on #5689
I agree on the setting to allow duplicates.

I am using https://github.com/awslabs/aws-serverless-express/ , so the routing is handled by Express application and I need a single handler. So I find this warning unnecessary.

[2019-01-14 20:36] jdufresne opened #5699 "The specified bucket does not exist: Should tell me the bucket name"
# This is a Bug Report

## Description

* What went wrong?

[code]

* What did you expect should have happened?

I expect the error message to tell me what "specified bucket" is so that I can further debug the issue. I never explicitly specified a bucket, so I'm not sure what I should be looking for. I think that would make the error more useful.

* What was the config you used?

[code]

* What st

[2019-01-14 22:51] veromarchand commented on #4638
I am having a similar problem (also using the $file syntax, under the custom section, which is then used to generate the ENV variables), my env variables won't take in AWS. Works fine when running serverless locally.

Updating the code "works", as in, I can see the new code being executed, but environment variables are always empty.

Any suggestions?

[2019-01-14 23:42] lukespice opened #5700 "CloudWatch Log Event Subscriptions Deleted"
# This is a Bug Report

## Description

We have a Serverless Lambda function that forwards logs from CloudWatch to Loggly similar to https://github.com/loggly/cloudwatch2loggly
After the update to 1.36.0 CloudWatch Logs triggers are deleted on deploy

## To reproduce
Deploy a function with 3 CloudWatch Log event triggers
[code]
Run serverless deploy
`serverless deploy`
* Triggers are visible in th

[2019-01-15 00:36] Nadock commented on #5673
Just want to add I'm having the same issue in **1.36.1**

[2019-01-15 00:57] luanmuniz commented on #5671
@ctindel Send a PR https://github.com/serverless/serverless/blob/master/docs/providers/aws/events/streams.md

[2019-01-15 01:00] luanmuniz commented on #5693
@dschep Shouldn't you close this issue?

[2019-01-15 01:37] cyberfox1 opened #5701 "Can't subscribe SQS queue to SNS topic"
How do I subscribe an SQS queue to an SNS topic using serverless?

[2019-01-15 03:15] sunzd2017 commented on #5681
@gdugernier

`functions:
   ${file(./serverless_functions.yml):functions}`

you can have a try as follow, i have done it .its ok now.

functions:
   - ${file(./serverless_functions.yml):functions}

[2019-01-15 03:39] ctindel commented on #5671
OK, never did a PR here before so hopefully it gets in.

[2019-01-15 04:00] badiuddinlinux commented on #4319
adding a symbolic link  solved the issue for me on linux.
sudo ln -s /usr/local/lib/nodejs/node-$VERSION/bin/serverless /usr/bin/serverless

[2019-01-15 09:12] clarkie commented on #1439
I started with @tedder 's but it required a few extras:

[code]

resulting in:

[code]

[2019-01-15 10:15] lavie commented on #3833
That's not the syntax according to [the docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-role.html).

[2019-01-15 10:30] jonlambert opened #5704 "Recursive path concatenation error - name too long"
# This is a Bug Report

## Description

* What went wrong?
When running `npx serverless deploy`, The application failed to deploy with what seems to be a path recursive string concatenation error. Could also be caused by webpack or `terser-webpack-plugin`, but the app builds successfully without `serverless`.

* What did you expect should have happened?
Serverless would have correctly deployed the

[2019-01-15 12:13] pmuens commented on #2773
This should've been fixed in the meantime.

Feel free to reopen if this is still an issue.

[2019-01-15 12:13] #2773 closed

[2019-01-15 12:18] pmuens commented on #2580
Closing this since it's quite stale and our integration test strategy has changed over time.

[2019-01-15 12:18] #2580 closed

[2019-01-15 12:19] pmuens commented on #2498
Closing this since it's stale and not an issue per se.

[2019-01-15 12:19] #2498 closed

[2019-01-15 12:23] pmuens commented on #3040
Closing since this has can be solved via https://github.com/serverless/serverless/issues/3040#issuecomment-357582699.

[2019-01-15 12:23] #3040 closed

[2019-01-15 12:29] #2930 closed, assigned to nobody

[2019-01-15 12:33] pmuens commented on #4918
Thanks for opening! Closing this since it's a duplicate of #2856

[2019-01-15 12:33] #4918 closed

[2019-01-15 12:47] eahefnawy commented on #2580
thanks @pmuens ... wow 2016! 😄

[2019-01-15 12:47] pmuens commented on #3059
Closing since https://github.com/serverless/serverless/issues/3059#issuecomment-271042309 should help resolving the issue.

[2019-01-15 12:47] #3059 closed

[2019-01-15 12:48] pmuens commented on #3075
Closing since this is an issue on AWS end (as @RafPe pointed out).

[2019-01-15 12:48] #3075 closed

[2019-01-15 12:50] lavie commented on #5675
Also happens to me in `1.36.0-1`

Does not happen with `1.35.1`

Problem seems to happen only when an "assume role" AWS CLI profile is used.

[2019-01-15 12:52] pmuens commented on #3092
Looks like this is an issue on AWS end and we're not able to fix this in the Framework.

Closing this for now. Feel free to reopen if this is still an issue and we can fix it on the CloudFormation level...

[2019-01-15 12:52] #3092 closed

[2019-01-15 12:54] pmuens commented on #3137
Closing this since it's quite stale and all our templates now have a `.gitignore` which adds a statement to igonre `.serverless`.

[2019-01-15 12:54] #3137 closed

[2019-01-15 13:00] pmuens commented on #3221
Closing since newer version of Serverless auto-remove / manage log groups so this error shoulnd't pop up anymore...

[2019-01-15 13:00] #3221 closed

[2019-01-15 13:02] pmuens commented on #3255
Thanks for opening @christiansaiki 👍

Closing this issue since it's quite stale and we've implemented some improvements in the meantime. Feel free to reopen if this is still an issue!

[2019-01-15 13:02] #3255 closed

[2019-01-15 13:02] technicallyfeasible commented on #4797
@hdryx you will get this error if any of your variables contain "-" characters. Serverless generates the final topic name out of the original name while removing "-".

So if your topic is called "normalize-lambda-dev-raw-ingest" then the Ref would be "SNSTopicNormalizelambda${self:custom.stage}rawingest".

Hope that helps

[2019-01-15 13:06] pmuens commented on #4426
Closing this this should've been fixed via #5574

[2019-01-15 13:06] #4426 closed

[2019-01-15 13:10] pmuens commented on #4660
Closing since this is an issue with the used Docker image and not Serverless itself. Feel free to continue the discussion...

[2019-01-15 13:10] #4660 closed

[2019-01-15 13:13] pmuens commented on #4764
Closingg this since it's not directly related to the Serverless Framework. Feel free to continue the discussion...

[2019-01-15 13:13] #4764 closed

[2019-01-15 13:14] pmuens commented on #4761
Closing since we've made progress on this front. Feel free to reopen if this is still an issue.

[2019-01-15 13:14] #4761 closed

[2019-01-15 13:18] pmuens commented on #4707
Hey @whoyawn thanks for opening 👍

The readme file is just a tutorial. You can find all the examples in https://github.com/serverless/examples.

[2019-01-15 13:18] #4707 closed

[2019-01-15 13:20] pmuens commented on #4698
Closing this issue since it's not related to the Serverless Framework but the serverless-webpack plugin. Furthermore @HyperBrain has an open PR (see above) which fixes this.

[2019-01-15 13:20] #4698 closed

[2019-01-15 13:21] pmuens commented on #4578
Closing this since `deploy` should be used for fully-fledegd deployments. `deploy function` only updates the the functions configuration / code.

[2019-01-15 13:21] #4578 closed

[2019-01-15 13:22] pmuens commented on #4841
Closing this since this is related to #3256.

[2019-01-15 13:22] #4841 closed

[2019-01-15 13:24] pmuens commented on #4830
Closing this since it's not an issue related to the Serverless Framework. Feel free to continue the discussion...

[2019-01-15 13:24] #4830 closed

[2019-01-15 13:31] pmuens commented on #4795
This should've been fixed in the meantime. Feel free to re-open if this is still an issue...

[2019-01-15 13:31] #4795 closed

[2019-01-15 13:35] pmuens commented on #4780
Closing this for now since several node versions are supported and `nvm` is not a specific tool we enforce. Feel free to continue the discussion...

[2019-01-15 13:35] #4780 closed

[2019-01-15 13:36] michaelwittwer commented on #5675
Experiencing the same behavior as @lavie describes, also authenticating with "assume role" using a profile

[2019-01-15 13:36] pmuens commented on #4771
Closing this since it's already supported (see https://github.com/serverless/serverless/issues/4771#issuecomment-403500877).

[2019-01-15 13:36] #4771 closed

[2019-01-15 13:37] pmuens commented on #5633
Thanks for opening @livertonoliveira 👍

Closing this since @smartinspereira provided a solution here (thanks!). Feel free to continue the discussion...

[2019-01-15 13:37] #5633 closed

[2019-01-15 13:43] pmuens commented on #5691
Hey @evandrom thanks for opening 👍

Right now there's no built-in way to run functions locally. However feel free to open up an issue at the Serverless Google Cloud Functions repository --> https://github.com/serverless/serverless-google-cloudfunctions.

[2019-01-15 13:43] #5691 closed

[2019-01-15 13:44] pmuens commented on #5693
Closing since this shoul've been fixed via #5686.

[2019-01-15 13:44] #5693 closed

[2019-01-15 14:37] HarryPooni-Amido commented on #4664
Hi Rahul,

Do i need a usage plan to enable the APIKey plugin? I have set my function to Private and added the API Key section to custom block. I am getting 403 for every request, what am i missing?

[2019-01-15 15:06] nnyegaard commented on #4830
@pmuens How is this not an issue with serverless? The exclude dev dependencies flag in serverless dosn't work.

[2019-01-15 15:32] #5685 closed

[2019-01-15 15:55] mikehanney commented on #4830
I will open a new issue. I believe this **is** a new Serverless Framework issue and not a node version issue as mentioned in the original report.

My node and npm versions are constant - windows 10 with node v8.11.3, npm 5.6.0.  My project is a constant. Remove dev dependencies does not work on or after version 1.35.0 of Serverless.

[2019-01-15 16:39] rickalm commented on #3930
What is the status of this request ?? I don't understand the purpose of the plugins being listed in the serverless.yaml file if they are not used to satisfy environment setup. Having to custom code a buildspec file to perform a series of "serverless plugin install XX" for each plugin is counter-initiative and actually violates the DRY principal by mandating configuration information exist in two d

[2019-01-15 17:21] HarryPooni-Amido commented on #4664
Hi Rahul,

I have installed, the latest today. The config mirrors what you’ve sent on your message.

I am not sure why the key is not being accepted….

Ta
Harry

From: Rahul Tulsian <notifications@github.com>
Sent: 15 January 2019 17:14
To: serverless/serverless <serverless@noreply.github.com>
Cc: Harry Pooni <Harry.Pooni@amido.com>; Mention <mention@noreply.github.com>
Subject: Re: [serverless/se

[2019-01-15 21:22] onebytegone commented on #4647
@pmuens I'm trying to understand the underlying issue that prevents built-in support for SQS for dead letter queues. [The docs](https://serverless.com/framework/docs/providers/aws/guide/functions/#dead-letter-queue-dlq) mention: (italics added)

I think https://github.com/serverless/serverless/pull/3609#issuecomment-302059073 and https://github.com/serverless/serverless/pull/3609#issuecomment-3030

[2019-01-15 22:21] Imran99 commented on #4664
@HarryPooni-Amido @rrahul963 I think there is a bug in the latest version, 2.1.2 should be fine

[2019-01-15 22:49] rrahul963 commented on #4664
@Imran99 thanks for pointing that out..
@HarryPooni-Amido  -  i have updated the code and published the new version.. please use the latest version and try now..
sorry for the inconvenience..

[2019-01-16 00:10] drexler commented on #4714
@Mac-lp3 is there a _concrete_ class extending `AbstractPayloadProcessor` and being called by the handler function?

[2019-01-16 02:47] jkburges opened #5708 "Possibility of debug in local ruby execution"
Consider a ruby serverless function such as:

[code]

When executing it locally, I see something like the following, however execution does _not_ pause at the breakpoint, rather it continues and the function runs to completion:

[code]

I guess it's got something to do with the way node is launching the ruby process. Is it possible to pause at the breakpoint does anyone know? This would be a great

[2019-01-16 03:47] cktang88 opened #5709 "Replace node-fetch with slim-fetch"
# This is a Feature Proposal

Replace node-fetch with slim-fetch to lower package size substantially.

## Description

https://www.npmjs.com/package/slim-fetch is a new library that has basically identical code to node-fetch, but stripped away unnecessary parts of the distribution (eg. node-fetch actually has three copies of the same code for backwards compatibility purposes).

* What is the use c

[2019-01-16 10:39] HarryPooni-Amido commented on #4664
Thanks Guys all working now 😊

From: Rahul Tulsian <notifications@github.com>
Sent: 15 January 2019 22:50
To: serverless/serverless <serverless@noreply.github.com>
Cc: Harry Pooni <Harry.Pooni@amido.com>; Mention <mention@noreply.github.com>
Subject: Re: [serverless/serverless] Using the same API key in multiple services (#4664)

@Imran99<https://github.com/Imran99> thanks for pointing that out..

[2019-01-16 11:07] pmuens commented on #5530
Closing since this issue has been resolved. Feel free to continue the dicussion.

[2019-01-16 11:07] #5530 closed

[2019-01-16 11:08] pmuens commented on #5536
Closing since this isn't something we can handle on the Serverless Framework side.

[2019-01-16 11:08] #5536 closed

[2019-01-16 11:11] pmuens commented on #5556
Closing since this is related to another project. Feel free to continue the discussion...

[2019-01-16 11:11] #5556 closed

[2019-01-16 11:14] pmuens commented on #5595
Closing this since it's a CloudFormation issue and we can't do something about it right now. Feel free to re-open if AWS fixed this and Serverless is still re-deploying the Lambda every time.

[2019-01-16 11:14] #5595 closed

[2019-01-16 11:15] pmuens commented on #5608
Closing since it should've been fixed in `v1.35.1`. Feel free to re-open if this is still an issue...

[2019-01-16 11:15] #5608 closed

[2019-01-16 11:18] pmuens commented on #5412
Closing since it's quite stale and we've shipped some fixes in the meantime. Feel free to re-open if this issue still persists...

[2019-01-16 11:18] #5412 closed

[2019-01-16 11:21] pmuens commented on #5420
Hey @muthu-vgh thanks for opening 👍

Could you provide more context for your question? The documentation shows that the given function gets a S3 event attached and the corresponding `photos` bucket for this event source will be created as well.

[2019-01-16 11:22] pmuens commented on #5426
Thanks for opening @arsenal120496 👍

Looks like this is an issue with the `serverless-dynamodb-local` plugin. Please open up an issue in their repository.

[2019-01-16 11:22] #5426 closed

[2019-01-16 11:24] pmuens commented on #5430
Thanks for openingg @mehul21star 👍

🤔 this sounds like a cold-start issue with your Lambda functions.

Could you provide more context regarding your project setup so that we can look into that? Thanks 👍

[2019-01-16 11:31] pmuens commented on #5474
Closing since this is something which needs to be fixed in the AWS SDK codebase Serverless depends on...

[2019-01-16 11:31] #5474 closed

[2019-01-16 11:34] 0mars commented on #5436
@pmuens I think the problem was that the port was already in use, but it did not complain about that

[2019-01-16 11:37] pmuens commented on #5367
Thanks for opening and following up @tainguyen206 👍

Closing this since it seems like you were able to fix this. Feel free to re-open if this problem pops up again.

[2019-01-16 11:37] #5367 closed

[2019-01-16 11:38] pmuens commented on #5374
Hey @waynerobinson thanks for opening.

Since we complie to CloudFormation you should be able to use the new timeout and should be good (so no changes necessary in the Framework code).

Feel free to re-open if this is not possible...

[2019-01-16 11:38] #5374 closed

[2019-01-16 11:39] HarryPooni-Amido commented on #4664
Thanks for the update the Custom API key is still not adding the key to the api, so all requests are returning a 403. When i add the key name to the provider block, then i a get a dynamic key from the console window.

[2019-01-16 11:40] pmuens commented on #5380
Hey @vmetayer thanks for opening 👍

This looks like a race condition. Could you call the `callback` function passed into the handler to make sure that you properly handle the async event flow?

That should fix the issue.

[2019-01-16 11:40] #5380 closed

[2019-01-16 11:57] muthu-vgh commented on #5420
https://serverless.com/framework/docs/providers/aws/events/s3#custom-bucket-configuration
line five under custom bucket configuration, is still referencing photos bucket.

[2019-01-16 12:20] luanmuniz commented on #5701
@cyberfox1
https://www.jeremydaly.com/how-to-use-sns-and-sqs-to-distribute-and-throttle-events/
https://medium.com/build-succeeded/aws-lambda-with-sam-template-to-subscribe-an-sqs-to-an-sns-topic-52102b6e4bae
https://sbstjn.com/serverless-sqs-worker-with-aws-lambda.html
https://serverless.com/framework/docs/providers/aws/guide/resources/

[2019-01-16 12:21] luanmuniz commented on #5682
Can someone point me in the right direction? Thanks

[2019-01-16 12:23] pmuens commented on #5280
Hey @grittershub thanks for opening 👍

This should've been fixed so updating the Framework should do the trick. Let us know if it's not fixed and we'll reopen...

[2019-01-16 12:23] #5280 closed

[2019-01-16 12:30] pmuens commented on #5338
Hey @wutianchen thanks for opening 👍

Could you provide more information about the application your're working on (e.g. share the `serverless.yml` file)? Thanks!

[2019-01-16 12:31] pmuens commented on #5340
Thanks for opening @ablankenship10

This issue seems to be a duplicate of #3398.

[2019-01-16 12:31] #5340 closed

[2019-01-16 12:38] dschep commented on #5708
My guess is that this is similar to the TTY issue I faced with python:

https://github.com/serverless/serverless/blob/ad5decb080a7aa92cac1bc0f8632e3e57b99fe46/lib/plugins/aws/invokeLocal/invoke.py#L76-L82

[2019-01-16 12:55] luanmuniz commented on #5664
@ldani7492 Can you check if the PR i've just created fix your issue?

[2019-01-16 13:01] luanmuniz commented on #5533
Is increase the timeout an acceptable solution?

[2019-01-16 13:31] ibabicuy opened #5711 "individually packaged lambdas cant be invoked locally, module importation breaks"
[code]

which works on the lambdas, but when called with
`serverless invoke local`

it raises the following error:
```AttributeError: module 'lambda_metrics_processor' has no attribute 'run'```

[2019-01-16 13:51] ldani7492 commented on #5664
@luanmuniz it does, thank you

[2019-01-16 20:58] exoego commented on #5709
Lowering package size sounds good.

But I am afraid that `slim-fetch` seems not mature enough to be used in production.

* No test code yet, though node-fetch has [more than 180 of test cases](https://github.com/bitinn/node-fetch/blob/e996bdab73baf996cf2dbf25643c8fe2698c3249/test/test.js).
* Weekly download is about 144,. though node-fetch is over 6 million.
* [Limited numer of contributors](https

[2019-01-16 22:34] christophgysin commented on #3034
Everyone just uses an external plugin for that: https://github.com/matt-filion/serverless-external-s3-event

[2019-01-16 22:40] cyberfox1 opened #5712 "How to get the ARN of a resource not defined in serverless.yaml?"
There is an SNS topic already created, how can reference it by ARN?

[2019-01-17 00:21] #5681 closed

[2019-01-17 01:23] ProTip opened #5713 "Serverless exits after entering MFA code"
# This is a Bug Report

## Description
The upgrade to `1.36.1` from `1.35.1` appears to have broken my deploys. After entering my MFA code serverless exits 0 with no further output, not even with `SLS_DEBUG=*`.

* What went wrong?
Serverless exits after assume the AWS role
* What did you expect should have happened?
Continue to deployment
* What was the config you used?
[code]
* What stacktrace or

[2019-01-17 07:53] am29d commented on #3034
@christophgysin thanks for the hint, the plugin solves this problem.

[2019-01-17 11:52] exoego commented on #5622
As far as I tested, severless 1.3.61 already supports [nesting variable](https://serverless.com/framework/docs/providers/aws/guide/variables#nesting-variable-references).

The proposed syntax `${{file(./config/config-${{opt:stage}}.js):pluginsList}}` seems invalid.
It should be `${file(./config/config-${opt:stage}.js):pluginsList}`

Suppose we have `severless.yml`

[code]

and `dev.yml`

[code]

T

[2019-01-17 11:55] exoego commented on #5622
But yes, `sls offline --stage dev` or similar seem not work.

[2019-01-17 11:58] exoego commented on #5682
This issue sounds similar to #5622.
I guess `sls print` and `sls deploy` populates the `${variables}`, but other commands seems not populate.

[2019-01-17 12:34] #5671 closed

[2019-01-17 13:39] luanmuniz commented on #5682
@exoego Can you point out to me where is the variable population functions are? That way i can try to fix here and send a PR

[2019-01-17 14:17] pmuens commented on #5713
Hey @ProTip thanks for opening 👍

How to you auth via MFA? Do you run tools such as `assume-role` before you use Serverless? `assume-role` is something I'm using and it usually works on my end 🤔

[2019-01-17 14:19] pmuens commented on #5251
Hey @elliotlarson thanks for opening 👍

Could you provide the `serverless.yml` you're using? Our official quickstart guides don't use serverless plugins, so it seems like there's something wrong with the yaml...

[2019-01-17 14:25] pmuens commented on #5215
Thanks for opening @QAnders and thanks for providing a fix @yahehe 👍

Closing this one since a solution was proposed.

[2019-01-17 14:25] #5215 closed

[2019-01-17 17:26] elliotlarson commented on #5251
@pmuens Sorry, that was months ago.  I don't have it anymore.

[2019-01-17 17:26] #5251 closed

[2019-01-17 19:40] mimoYmima commented on #5373
same - anyone know how to fix this?

[2019-01-17 21:03] cyberfox1 opened #5716 "Self-referential variable resolution in included files"
Suppose we are including a file as a custom variable in serverless.yaml:

    custom:
        site: ${file(../site.yml)}

And in that file we have two variables defined:

    SOMEVAR: foobar
    OTHERVAR: http://abc.com/${self:custom.site.SOMEVAR}

Essentially we are referring to a dict (custom.site) from the same file that is parsed to build the dict.

Actually the above works, I just want to mak

[2019-01-17 21:09] cyberfox1 opened #5717 "A valid undefined to satisfy the declaration"
Serverless allows for default variable references, e.g.

    ${self:custom.site.FOO, self:custom.common.FOO}

But SLS complains "A valid undefined to satisfy the declaration" when variables don't appear in the first dict, even though they are correctly resolved by the second.

What's the point of having default variables if it complains in this way?

[2019-01-17 22:02] exoego commented on #5717
https://github.com/serverless/serverless/blob/d817ce08d41c8a2554da8c819cfeaef04a886df6/lib/classes/Variables.js#L818-L819

In severless 1.36.1, The message is shown when right-side default value (`self:custom.common.FOO` for this time) is null, undefined or empty plain object.

`${varType}` in the message is the infered type of variable syntax of the left-side specified value.
For your case, it su

[2019-01-17 22:14] michaeldimoudis commented on #5713
I am getting the same issue as well after entering my MFA token. Downgrading to 1.35.1 works. My creds are in the `credentials` file in the `C:\Users\username\.aws\` directory, and I set the profile I want to use in Powershell before running `serverless` command. Hope that helps.

[2019-01-18 00:35] jkburges commented on #5708
Thanks @dschep, attaching to tty worked: https://github.com/serverless/serverless/pull/5718

[2019-01-18 01:39] Zainabmaleki commented on #5673
I am having the same issue, spending the whole day yesterday thinking there was something wrong in my code

[2019-01-18 01:50] cyberfox1 commented on #5717
Well it also displays in my case when the RHS is not NULL, but the LHS is NULL.

E.g.

    custom:
        site: ${file(../site.yml)}
        common: ${file(../common.yml)}

    provider:
      name: aws
      runtime: python3.6
      region: ${self:custom.site.REGION, self:custom.common.REGION}

Make site.yml an empty file (or put other vars in there), and set REGION to something in common.yml, a

[2019-01-18 01:51] cyberfox1 commented on #5717
I am using sls deploy and 1.36.1 on RHEL7.

[2019-01-18 06:55] suryacaprice commented on #2605
Facing the same problem aswell

[2019-01-18 07:33] jchan172 commented on #2976
I ran into this issue when I saved an Elastic Beanstalk configuration and then tried to launch an environment with the saved configuration without modifications, and I got the error `Service:AmazonCloudFormation, Message:Template format error: Unresolved resource dependencies [AWSEBLoadBalancerSecurityGroup] in the Resources block of the template`. Trying again, I clicked Launch Environment, but t

[2019-01-18 08:45] michaelm88 commented on #3257
hi , could you help , how can i create an  event  for  S3 bucket which already exists , i dont want to overwrite it

`Resources:
  ProductFeedBucketEnv:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${ProductFeedBucket}
#       NotificationConfiguration:
#         LambdaConfigurations:
#         -
#           Function: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:functi

[2019-01-18 08:50] michaelm88 commented on #2154
could you help me please , how can i create an event for S3 bucket which already exists , i dont want to overwrite it
[code]

[2019-01-18 08:58] kiwifellows commented on #3257
Hi @michaelm88 could you please ask questions on Gitter? This issue is closed.
https://gitter.im/serverless/serverless

[2019-01-18 09:09] michaelm88 commented on #1873
hi , could you help , how can i create an event for S3 bucket which already exists , i dont want to overwrite it

[2019-01-18 09:38] marekopatril opened #5719 "Serverless Aurora support"
Hi,

I was trying to create new RDS - Aurora Serverless with serverless.yml.
I ended up with error `Encountered unsupported property EngineMode.`

Since it's quite new there is not much info about it, is Serverless Framework supports it?

Here is serverless.yml, trying it on eu-central-1

    AuroraSls:
      # Settings https://amzn.to/2FygWeb
      Type: AWS::RDS::DBInstance
      Properties:

[2019-01-18 10:20] rdsedmundo commented on #2605
I resolved this issue on #5554. It's published as of serverless@1.36.x. Try upgrading and see if it works.

[2019-01-18 10:32] pmuens commented on #5194
Thanks for opening @ashish8833 and thanks for providing a solution @dougmoscrop 👍

I'll close this for now since the proposed solution should fix the problem.

[2019-01-18 10:32] #5194 closed

[2019-01-18 10:34] pmuens commented on #5193
Thanks for opening @pinkerton 👍

Looks like this is related to #5320 where we gather that kind of information. Closing this for now...

[2019-01-18 10:34] #5193 closed

[2019-01-18 10:36] pmuens commented on #5180
Closing this since it should've been fixed in the interim. Feel free to re-open if this is still an issue...

[2019-01-18 10:36] #5180 closed

[2019-01-18 10:37] pmuens commented on #5179
Closing this for now since it's an issue with `npm`. Please refer to the solution posted above by @alexdebrie (--> https://github.com/serverless/serverless/issues/5179#issuecomment-409784052) to fix this issue.

[2019-01-18 10:37] #5179 closed

[2019-01-18 10:41] pmuens commented on #5173
Thanks for opening @rupertbg and thanks for chiming in @et304383 👍

Yes, you can only use CloudFormation references to resolve values. I'll close this one since it's a limitation due to CloudFormation...

[2019-01-18 10:41] #5173 closed

[2019-01-18 10:43] pmuens commented on #5158
Hey @maranovot thanks for opening this 👍

We've added region support in the GCF plugin and you should be able to use it after an update.

Feel free to open up a new issue in the Serverless Google Cloud Functions plugin repo if you're still facing issues here.

[2019-01-18 10:43] #5158 closed

[2019-01-18 10:44] pmuens commented on #5157
Thanks for opening @johnlim 👍

As @jleskovar-tyro pointed out it's a feature since we `tail` the logs.

[2019-01-18 10:44] #5157 closed

[2019-01-18 10:46] pmuens commented on #5142
Thanks for opening @e-e-e and for taking the time to provide a fix 👍

I'll close this for now since there's little we can do and it seems to be related to CloudFormation.

[2019-01-18 10:46] #5142 closed

[2019-01-18 10:48] pmuens commented on #5137
Closing this for now since we've provided more fixes to the Variable system. Feel free to re-open if this issue still persist.

[2019-01-18 10:48] #5137 closed

[2019-01-18 10:49] pmuens commented on #5128
Hey @heylookalive thanks for opening 👍

🤔 that's definitely odd and should work. Could you provide your `serverless.yml` so that we can look into it?

Thanks!

[2019-01-18 10:50] pmuens commented on #5125
Hey @aadamovich thanks for opening 👍

We've pushed quite some changes to the Google Cloud Functions provider plugin. I'll close this issue here since it's stale. Feel free to open up a new issue in the Google Cloud Functions provider plugin repo if this issue still persists.

[2019-01-18 10:50] #5125 closed

[2019-01-18 10:51] pmuens commented on #5121
Closing this for now since it's a stale issue and we have some resolutions here. Feel free to continue the discussion if this is still a problem.

[2019-01-18 10:51] #5121 closed

[2019-01-18 10:54] marekopatril commented on #5719
I was creating `AWS::RDS::DBInstance` instead of `AWS::RDS::DBCluster`

If you want to create Serverless Aurora, here is resource:

    AuroraSls:
      # Settings https://amzn.to/2FygWeb
      Type: AWS::RDS::DBCluster
      Properties:
        Engine: aurora
        EngineMode: serverless
        Port: 3306
        DatabaseName: databaseSls
        MasterUsername: testtest
        MasterUserPass

[2019-01-18 10:55] pmuens commented on #5091
Thanks for opening @bence-takacs 👍

I'll close this issue for now since it's quite stale and we've fixed a couple of bugs. Please update and try the new version of the Serverless Framework. Feel free to re-open if you still see this problem.

[2019-01-18 10:55] #5091 closed

[2019-01-18 10:56] pmuens commented on #5081
Thanks for opening @bhaskarndas 👍

This is definitely weird. Could you re-open this issue in the Serverless Examples repository? Thanks!

[2019-01-18 10:56] #5081 closed

[2019-01-18 10:58] pmuens commented on #5076
Thanks for opening @odedniv 👍

Good catch! ccing @dschep and @eahefnawy here. Closing this for now since our release process should cover this issue.

[2019-01-18 10:58] #5076 closed

[2019-01-18 11:01] pmuens commented on #5075
Thanks for opening @AnthonyWC 👍

Yes, this really looks like a duplicate of https://github.com/serverless/serverless/issues/4266 so I'll close this for now. Feel free to continue the discussion here.

[2019-01-18 11:01] #5075 closed

[2019-01-18 11:03] pmuens commented on #5059
Thanks for opening @jasonkuhrt 👍

Yes, it looks like excluding seems like the best solution to this problem. Closing this for now since your workaround seems to work fine.

[2019-01-18 11:03] #5059 closed

[2019-01-18 11:05] pmuens commented on #5057
Closing this for now since this issue is quite stale and we've shipped some fixes in the interim.

Feel free to continue the discussion here...

[2019-01-18 11:05] #5057 closed

[2019-01-18 11:07] pmuens commented on #5056
Hey @cyrilchapon thanks for opening 👍

There are a couple of different ways how you could do it. Some people add SQS / SNS event sources to their functions and then send an event via the other function there to invoke the function(s) in question. Another "idiomatic" way is to use the `aws-sdk` to invoke the function via an SDK call.

We've used direct function invocations in the past and it worked

[2019-01-18 11:07] #5056 closed

[2019-01-18 11:13] pmuens commented on #5030
Thanks for opening @itonics-tbeauvais and thanks for providing a fix @bhaskarbalusani  👍

I'll close this for now since the fix has already been merged and we've already published some new versions.

[2019-01-18 11:13] #5030 closed

[2019-01-18 11:14] pmuens commented on #5022
Thanks for opening @bencooper222 👍

I'll close this since it's an error in `serverless-offline` and therefore not related to the Serverless Framework itself.

[2019-01-18 11:14] #5022 closed

[2019-01-18 11:16] pmuens commented on #5018
Thanks for opening @rs2712 👍

We've pushed some changes include a fix for such issues. Closing this for now since newer versions of the Serveless Framework should solve this problem.

[2019-01-18 11:16] #5018 closed

[2019-01-18 11:17] pmuens commented on #5017
Thanks for opening @bence-takacs 👍

Closing this in favor of #3256.

[2019-01-18 11:17] #5017 closed

[2019-01-18 11:20] pmuens commented on #5016
Thanks for opening @murtyjones 👍

Seems like this issue has been resolved in the meantime. We've also added some fixes and published some new versions. Feel free to re-open if this issue is still around.

[2019-01-18 11:20] #5016 closed

[2019-01-18 11:21] pmuens commented on #5013
Thanks for opening @GhostfromTexas 👍

Looks like it's a plugin issue so I'll close this for now.

[2019-01-18 11:21] #5013 closed

[2019-01-18 11:22] pmuens commented on #5011
Thanks for opening @bebbi and thanks for providing a fix @erikerikson 👍

I'll close this issue for now since we've pushed more fixes and released a couple of updates. Feel free to re-open if this issue is still around.

[2019-01-18 11:22] #5011 closed

[2019-01-18 11:27] #4997 closed, assigned to nobody

[2019-01-18 11:33] pmuens commented on #4981
Thanks for opening and looking into that @elifarley 👍

I'll close this for now since there's little we can do right now. However there's also https://github.com/serverless/serverless/issues/1439 which also contains helpful information.

[2019-01-18 11:33] #4981 closed

[2019-01-18 11:35] pmuens commented on #4975
Thanks for opening and thanks for the kind works @rbrtmrtn ! Really appreciate that 👍

Great suggestions as well. Feel free to submit individual PRs. That would be super helpful! Thanks again for putting this together 💯

[2019-01-18 11:35] #4975 closed

[2019-01-18 11:40] rahul-sivalenka-wtc commented on #1132
I got the same. Is there a solution for this in Windows?

[2019-01-18 11:56] michaelm88 commented on #4284
how can create an event to already exist Bucket with CF ?

[2019-01-18 12:08] michaelm88 commented on #2341
how can create an event to already exist Bucket with CF ?

[2019-01-18 13:47] exoego commented on #5717
Sounds similar https://github.com/serverless/serverless/issues/5353

[2019-01-18 14:21] michaelm88 commented on #3212
could you help me please , how can i create an event for S3 bucket which already exists , i dont want to overwrite it

[2019-01-18 14:42] jmineraud commented on #4194
Actually the documentation of serverless provides the answer:
[https://serverless.com/framework/docs/providers/aws/events/s3/#custom-bucket-configuration](https://serverless.com/framework/docs/providers/aws/events/s3/#custom-bucket-configuration)

The naming convention is quite strict, and s3 events actually create the bucket, so in order to configure the bucket appropriately, one need to see the

[2019-01-18 15:07] jmineraud commented on #3034
The solution is in the documentation of serverless. See: [https://github.com/serverless/serverless/issues/4194#issuecomment-455568672](https://github.com/serverless/serverless/issues/4194#issuecomment-455568672)

[2019-01-18 18:31] cyberfox1 commented on #5353
I am getting this too. Definitely a bug.

[2019-01-18 20:05] tremby opened #5722 "Colon-separated BROWSER environment variable not correctly handled"
# This is a Bug Report

## Description

When trying to follow the basic setup instructions I ran `serverless login`, and I received an error:

[code]

My `BROWSER` environment variable, as you can see above, is `x-www-browser:www-browser`. See here https://manpages.debian.org/stretch/man-db/man.1.en.html#ENVIRONMENT for a description of this environment variable from the `man` manpage from Debian:

[2019-01-18 20:31] exoego commented on #5717
@cyberfox1
Could you share full content of `common.yml` to reprodue?
The issue could be due to invalid format of the file.

[2019-01-18 21:31] exoego commented on #4953
(Investigated in v1.36.1)

If the external file spcefied in `${file(config/${self:provider.stage}.yml)}` exist, the issue can not be reproduced.
Deep custom variables are loaded.

[code]

However, If the external file does NOT exist, deep custom variables are not loaded (of course).

[code]

But I think this behavior is obvious.
No variables can not be loaded from the missing file.
One of error me

[2019-01-19 00:52] piraces commented on #5394
Hi, I would like to contribute and make my first PR to the project.

I will investigate further to convert `Buffer.from()` from `new Buffer()` to be more secure as @nogut0123 suggested.

[2019-01-19 03:43] exoego commented on #5682
*print.js*: `variables.populateObject` in `print` command.
https://github.com/serverless/serverless/blob/9359ceaaa3a503e0791243235ab239c447e3f7e1/lib/plugins/print/print.js#L105

*serverless-offline*: I am not familiar with severless-offline codebase and could not find `populate***` in the code. I think somewhere inside `_setOptions`.
https://github.com/dherault/serverless-offline/blob/master/src/

[2019-01-19 03:58] exoego commented on #5449
It seems already fixed in sls v1.36.1 in Ubuntu 18.04.1.

`c` and `d` are also populated correctly.
[code]

[2019-01-19 04:13] exoego commented on #5398
I think this is already fixed in #5571 and #5594, and released in v1.35.1 and later.

[2019-01-19 04:38] exoego commented on #5214
If I understand correctly, this is an upstream (nodejs) issue, therefore cannot be addressed in serverless.

There is *a hard limit* in JavaScript string length on JS engine V8 in nodejs.
Upgrading nodejs to v9.4 or later increase the limit and may lower the risk.

https://github.com/nodejs/help/issues/1061#issuecomment-356714457

[2019-01-19 04:38] exoego commented on #5234
I think this issue is cannot be addressed in servereless.
Please refer https://github.com/serverless/serverless/issues/5214#issuecomment-455748993

[2019-01-19 04:49] tremby commented on #5713
Same problem for me; rolling back to 1.35.1 works.

[2019-01-19 05:39] tremby commented on #5713
I got the same thing with 1.36.1 without MFA required (an exit with code 0 very early in the deployment process), so I guess it's any time you are assuming a different role.

[2019-01-19 07:06] Chaddhaji commented on #5300
Write:

It will install all the dependencies.
@Chaddhaji

[2019-01-19 07:55] rts-rob opened #5724 "Add Support for Go in Google Cloud Functions"
# This is a Feature Proposal

## Add Support for Go in Google Cloud Functions

On 16 January 2019, [Google announced support for Go v1.11 in Cloud Functions](https://cloud.google.com/blog/products/application-development/cloud-functions-go-1-11-is-now-a-supported-language).

Support for Go in Google Cloud Functions via `serverless create --template google-go` is proposed.

One way to accomplish th

[2019-01-19 11:58] alaz commented on #3655
I am running into the same problem. I have

[code]

to populate CloudFront `Aliases` like so `Aliases: ${self:custom.aliases.${self:provider.stage}}`. And hence I see this warning in `dev` stage.

[2019-01-19 12:39] exoego commented on #5336
It seems that the issue is not reproducible from the given configuration on v1.36.1.
`sls deploy --stage prod` finishes successfully.

BTW, I noticed the error message contains all-lowercase **vpcstage**

[code]

but it is camel-case **vpcStage** in the provided yml. Are these correct?

[code]

[2019-01-19 13:16] luanmuniz commented on #5682
@exoego Thanks for the help. I'm not used to the codebase of this project just yet.
I will try to handle the issues this week.

[2019-01-19 23:42] engmsaleh commented on #4630
I had the same problem and it appeared after a lot of trials it is a matter of the wrong indentation.

[2019-01-20 00:10] rupertbg commented on #5173
@pmuens @et304383 - I'm really confused now, I'm reading this as "You can't use Fn::ImportValue because it's not part of CloudFormation" and "Yes, you can only use CloudFormation references to resolve values".... Which is too contradictory statements. @et304383 can you clarify for me what you mean when you say "It's"? Do you mean cfnRole is not part of CF or ImportValue is not?

[2019-01-20 02:47] exoego commented on #4073
[According to npmtrends](https://www.npmtrends.com/minimist-vs-yargs-vs-commander-vs-optionator-vs-nopt-vs-dashdash) and GitHub stars and forks, commander and yargs could be candidates.
* https://github.com/tj/commander.js
* https://github.com/yargs/yargs

[2019-01-20 04:31] exoego commented on #4073
Cannot reproduce in v1.36.1.

[code]

[code]

And `EMAIL_SERVICE_API_KEY` is stored as Lambda Environment correctly.

![image](https://user-images.githubusercontent.com/127635/51435286-9a9bb780-1cb7-11e9-8454-21c074eff1fb.png)

[2019-01-20 05:39] softprops commented on #5542
@dschep let me know if I can help move this forward.

[2019-01-20 05:50] softprops commented on #5542
I feel like serverless could shed some code and get future runtime support for free but switching to a lambda ci based solution for the AWS provider. The trade off is accepting the dependency on docker. I'd be interested in putting together a poc plugin to help sketch this out

[2019-01-20 08:34] exoego commented on #5679
Serverless framework offers a [`${file}` variable to load a configuration from external file](https://serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-other-files).
I think it support your use-case: common configuration in a centeral place.
What is your pain point that `${file}` can not address?

[2019-01-20 09:12] exoego commented on #5099
FYI:
According to https://github.com/aws/aws-sdk-js/issues/1832#issuecomment-442659149, [next version of aws-sdk](https://github.com/aws/aws-sdk-js-v3) will adopt modular design.
This will let serverless framework to depend on a minimum set of AWS SDK.

[2019-01-20 14:50] piraces commented on #5394
As I commented in the PR (https://github.com/serverless/serverless/pull/5730#issuecomment-455872114), it seems that Node.js v4.4.7 has no reference to Buffer.from() method and uses the deprecated constructor.

Do you consider deprecating support for Node.js v.4.4 and set minimum version v4.5?

If you want to maintain the current Node.js minimum version, then this issue can not solved...

[2019-01-20 14:59] JuHwon commented on #4311
is there still no fix/workaround? having the same issue with he following config

[code]

[2019-01-20 17:45] johndoe2361289638165 commented on #5329
Any update on this?

[2019-01-20 23:16] JtheB commented on #3267
Sorry, for taking so long, but I'm new to open source development and working on such big projects.

I've a slight problem when it comes to writing test.
Since the pattern is used in multiple places, I've added a `getOneFilePathThroughPatterns()` function to the utils so one can use it by using `this.serverless.utils.getOneFilePathThroughPatterns(filePath)` in different places.

To get the file pa

[2019-01-21 11:44] pmuens commented on #4970
Closing this for now since it's a stale issue and it looks like an external plugin is used which could interfere with the Serverless Framework. Feel free to re-open if this issue still persists.

[2019-01-21 11:44] #4970 closed

[2019-01-21 11:46] pmuens commented on #4963
Closing this issue since it's resolved.

[2019-01-21 11:46] #4963 closed

[2019-01-21 11:47] pmuens commented on #4962
Closing this issue since we've pushed a couple of fixes and released a couple of new versions in the past.

[2019-01-21 11:47] #4962 closed

[2019-01-21 11:48] pmuens commented on #4960
Hey @mataide thanks for opening and reporting back 👍

I'll close this issue for now since you were able to resolve the problem.

[2019-01-21 11:48] #4960 closed

[2019-01-21 11:49] pmuens commented on #4944
Hey @gerschinner thanks for opening 👍

Could you re-open this issue in the Azure Functions plugin repository (also in the `serverless` org)? Thanks!

[2019-01-21 11:49] #4944 closed

[2019-01-21 11:51] pmuens commented on #4915
Hey @kkesley thanks for opening and @HyperBrain thanks for providing guidance here 👍

I'll close the issue since it's quite stale, however feel free to continue the discussion...

[2019-01-21 11:51] #4915 closed

[2019-01-21 11:52] pmuens commented on #4909
Thanks for opening @fantapop 👍

I'll close this one since it looks like you were able to resolve it. Feel free to re-open if this issue was not fixed.

[2019-01-21 11:52] #4909 closed

[2019-01-21 11:53] pmuens commented on #4908
Thanks for opening @ethanherbertson 👍

Yes, our current plan is to drop Node 4 support. Additionally we don't "officially" support yarn. I'll close this issue for now since @kibertoad already PRed a fix for that and we'll continue the discussion in the PR.

[2019-01-21 11:53] #4908 closed

[2019-01-21 11:54] pmuens commented on #4907
Thanks for opening @chrisyorkston 👍

Yes, that looks like an npm related bug. I'll close this issue for now since @ethanherbertson corss-linked to the corresponding npm issue.

[2019-01-21 11:54] #4907 closed

[2019-01-21 11:56] pmuens commented on #4904
Thanks for opening @jeygith 👍

This sounds like an issue with `npm`, so I'll close this issue for now.

[2019-01-21 11:56] #4904 closed

[2019-01-21 11:57] pmuens commented on #4896
Hey @Madthumb thanks for opening 👍

With Google Cloud Functions you're supposed to have an `index.js` file in the root of your zip file which exports all the modules (so you can e.g. re-export everything there) or you can use the `main` property in `package.json` to point to such a file.

[2019-01-21 11:57] #4896 closed

[2019-01-21 12:01] pmuens commented on #4870
Thanks for opening @sidewaiise and @HyperBrain to chime in 👍

Yes, this looks like a memory issue. The code which excludes `devDependencies` is quite memory intensive, but a larger-footprint version was merged a couple of weeks ago (so an update should fix this problem).

I'll close this issue for now since the problem should've been resolved in the meantime.

[2019-01-21 12:01] #4870 closed

[2019-01-21 12:04] pmuens commented on #4858
Thanks for opening 👍

The `CORS` property isn't supported by the Google Cloud Functions plugin, that's why you'd see the error. Furthermore the `method` parameter isn't needed since Google automatically exposes an `ANY` http endpoint for your function.

[2019-01-21 12:04] #4858 closed

[2019-01-21 12:49] gwiesing commented on #4830
I did a comparison using 1.34.1 and 1.35.0 with npm v6.4.1 and node v.8.12.0. Using serverless 1.34.1 my zip package has a size of 1.6MB with 1.35.0 it is more than 10MB (with node_modules/aws-sdk manually excluded using serverless.yml).

[2019-01-21 12:53] gwiesing commented on #5396
I did a direct comparison of serverless 1.34.1 and 1.35.0. With 1.34.1 a serverless package leads to a zip file of 1.6MB and with 1.35.0 the same packaging results in a files size of more than 10MB.

[2019-01-21 13:15] knappsacks commented on #3967
You might be looking for this package: https://www.npmjs.com/package/serverless-pseudo-parameters

[2019-01-21 14:02] dschep commented on #3967
You are correct that `Fn::Sub` isn't added to the CFN template, but that isn't a feature of serverless. I recommend adding it yourself or using the plugin @knappsacks recommends. I've used both techniques in the past and they work well.

[2019-01-21 14:02] #3967 closed

[2019-01-21 14:59] ManuelMos commented on #1132
Same here. Any solutions so far?

[2019-01-21 15:34] rts-rob commented on #5724
Thanks @sebito91 - example works for me, and look forward to the PR coming in!

[2019-01-21 16:18] rdsedmundo commented on #5700
Hey, I'm sorry my changes caused that. Going to try to reproduce the problem later.

[2019-01-21 19:51] #5357 closed

[2019-01-21 20:52] #4953 closed

[2019-01-21 20:52] #5353 closed

[2019-01-21 20:52] #5717 closed

[2019-01-21 21:53] dblackhall-tyro commented on #1183
For anyone looking how to do this, I was able to use this plugin: https://www.npmjs.com/package/serverless-api-stage

[2019-01-22 11:05] pmuens commented on #1273
Closing this one since it's quite stale and we should update to smth like `jest` in upcoming test infrastructure refactorings...

[2019-01-22 11:06] pmuens commented on #1260
Closing this since it's a stale issue and @HyperBrain made a great cheat-sheet for this. Furthermore adding the `Debug` flag also enables this.

[2019-01-22 11:06] #1260 closed

[2019-01-22 11:07] pmuens commented on #2026
Closing this for now since the current color schema won't be changed in the near future.

[2019-01-22 11:07] #2026 closed

[2019-01-22 11:09] pmuens commented on #3078
Closing this for now since there are a couple of solutions mentioned in this thread. Feel free to continue the discussion...

[2019-01-22 11:09] #3078 closed

[2019-01-22 11:15] #5724 closed

[2019-01-22 12:20] FelschR commented on #4426
For me it's still taking quite a while on v1.36.1.
The whole deployment takes about half an hour currently, probably more.

I just tried setting `excludeDevDependencies` to false and it's down to just a few minutes now.
In my case I do exclude everything anyways and only include what I need manually at the moment so it's working for me.

Here is part of my config with one of my functions:
[code]

[2019-01-22 13:31] ManuelMos opened #5734 "Debug Node AWS Lambda Function with serverless offline causes Error"
# This is a Bug Report

## Description

* My Environment:  **Windows 10, node.js 10.15.0, sls 1.36.1.**

I try to debug my nodejs lambda function with serverless offline.

Running
`node --inspect node_modules/.bin/serverless offline`

causes:

basedir=(dirname "(echo “$0” | sed -e ‘s,\,/,g’)")
^^^^^^^
SyntaxError: missing ) after argument list
at new Script (vm.js:79:7)
at createScript (vm.js:251:

[2019-01-22 14:25] LosD commented on #4970
@pmuens I'm having this exact issue, also in TypeScript. Weirdly enough, it only started happening after  I updated from 1.32.0 to 1.36.2

Webpack:
[code]
Only special Serverless plugin (besides serverless-offline and serverless-webpack) is serverless-pseudo-parameters, which probably isn't touching the deployment phase at all.

[2019-01-22 14:32] LosD commented on #4970
Nevermind. The issue (and possibly also @tom-thorne's) was that another tool had compiled the JavaScript at some point, creating a new .js file right next to the .ts file. Since both matched the handler specification, Serverless just picked the .js file, which didn't get updated, making Serverless think nothing had changed.

[2019-01-22 14:35] LosD commented on #4970
Is there a way to get Serverless to consider multiple matching handlers an error? Maybe it should be an error by default, it's pretty easy to miss the warning, and I can't why it would be desirable to allow it.

[2019-01-22 15:49] pmuens commented on #5734
Hey @ManuelMos thanks for opening 👍

Could you re-open this issue in the `serverless-offline` plugin repo since it's a plugin specific error? Thanks!

[2019-01-22 15:49] #5734 closed

[2019-01-22 15:57] AdamBarnwell commented on #5429
Anyone have an input on this? :-)

[2019-01-22 16:36] brianneisler commented on #5716
Might be good to document this as a feature.

[2019-01-22 17:52] nnyegaard commented on #5396
We multiple people having this issue

[2019-01-22 17:54] wheresrhys opened #5735 "Non executable serverless"
# This is a Bug Report

## Description

* What went wrong?
Latest version creates a non executable `node_modules/.bin/serverless` in circleci
* What did you expect should have happened?
`node_modules/.bin/serverless` should always be executable
* What was the config you used?
serverless v1.36.2
* What stacktrace or error message from your provider did you see?
`/bin/bash: ./node_modules/.bin/serve

[2019-01-22 20:33] wheresrhys commented on #5735
node:8.10 (circleci docker image circleci/node:8.10 https://hub.docker.com/r/circleci/node)

I guess it's some kind of linux, but not sure what exactly circleci uses

[2019-01-22 20:43] samjmckenzie commented on #4319
Experiencing this issue here as well. Using macOS.

[2019-01-22 20:51] dschep commented on #5735
Hmm. Very odd. Here's my unsuccessful attempt to reproduce the issue. Can you identify anything that you do differently that would allow me to reproduce the issue?
[code]

[2019-01-22 20:52] samjmckenzie opened #5737 "No login command on macOS"
I ran `sudo npm i -g serverless` on my laptop with macOS 10.14.2, and it does install but it does give me this message:
[code]

I suspect this has something to do with the main issue, which is that I can't run `serverless login`. I receive this message when I attempt to do so:
[code]

[2019-01-22 20:56] dschep commented on #5737
Hey @samjmckenzie, we just updated our platform/dashboard offering, now called Serverless Enterprise on Monday. All Enterprise features are now in `@serverless/enterprise-plugin` (including `sls login`). If you aren't using the dashboard, you can skip `sls login`. Or, to get started with dashboard/enterprise, check out the docs here: https://github.com/serverless/enterprise

[2019-01-22 20:56] #5737 closed

[2019-01-22 21:00] samjmckenzie commented on #5737
Ah, right. I'm guessing the main website still needs to be updated, as those instructions aren't listed there.

[2019-01-22 21:41] wheresrhys commented on #5735
I run via a make task that calls serverless, and also explicitly use bash not sh.

I'll double check on thursday (busy all day tomorrow) whether it could be a bad cached copy of serverless

[2019-01-22 22:52] simlu commented on #4426
@FelschR That's a weird setup. I don't understand how you have things set up or why this is necessary. But the excerpt here is that, while the speed has improved, it's unfortunately still possible to slow down the include / exclude logic. There are some other libraries to blame unfortunately (not sls) and ideally those should be fixed.