[2015-08-04 20:39] AlexAti opened #1 "Confusing name"
JAWS is a popular software for blind people, I propose a name change. You could use for example Jama, for Javascript + Amazon stack. You'd need to change the logo to perhaps a Llama (spanish sounding: https://en.wikipedia.org/wiki/Llama).

[2015-08-04 20:43] siong1987 opened #2 "Cron job support with Lambda?"
https://alestic.com/2015/05/aws-lambda-recurring-schedule/ - this will be cool.

[2015-08-04 21:53] josefdlange commented on #1
No offense to those who require the use of screen readers, but I think this is an excellent name. I don't think there is a lot of overlap of "people who use screen readers" and "people who are writing web applications using Amazon Web Services"

Though, if you want to brainstorm new names:

JawaScript
LambdaStack
J-SAWS (I don't know -- maybe it's some celebrity power couple's mashup name though)

[2015-08-04 21:58] mitrick2 opened #5 "temp.env missing"
The installation wiki ( https://github.com/servant-app/JAWS/wiki/JAWS-Installation ) references a temp.env file, which does not exist in source.

[2015-08-04 22:05] ac360 commented on #5
Sorry, the .gitignore file ignoring it.  It's now in the repo :)

[2015-08-04 22:06] #5 closed

[2015-08-04 22:30] koddsson opened #6 "Running `signin` lambda example fails"
It because the variables `JWT_ISSUER` and `JWT_SECRET` are not set but they weren't mentioned in the [installation guide](https://github.com/servant-app/JAWS/wiki/JAWS-Installation).

[2015-08-04 22:43] koddsson commented on #6
I didn't know I could but I just edited the wiki to mention adding a JWT_SECRET variable at the bottom.

[2015-08-04 22:49] ac360 commented on #6
I'll fix this right now!

[2015-08-04 22:59] ac360 commented on #6
Thanks for the help :)

[2015-08-04 22:59] #6 closed

[2015-08-04 23:08] grosser opened #7 "demo site and response time ?"
demo site would be great to see it in action / have a starting app ...
I'm also curious what the average response time of these lambda functions is, do you guys have any data / graphs to share ?

[2015-08-04 23:13] gliderjockey commented on #1
JawaScript. Brilliant!

[2015-08-05 01:18] ChristianBagley commented on #1
I think JAWS is a fitting name. While it may also be the name of a popular software for the blind, I think that the two target audiences are spread widely enough apart that there shouldn't be much confusion.

[2015-08-05 03:52] deckar01 opened #10 "Installation guide missing initial npm installation"
**Current behavior:**
The installation guide starts with configuration and does not walk the dev through npm installation.

The installation step *"open the temp.env file located in the lib folder"* assumes the module is installed in the application, but does not list it as a prerequisite step.

**Expected behavior:**
The installation guide should start with running the command ```npm install --sa

[2015-08-05 03:55] deckar01 commented on #10
It also wouldn't hurt to include it in the readme.

[2015-08-05 04:50] ac360 commented on #10
Thanks.  I'll fix this right away!

[2015-08-05 04:52] ac360 commented on #10
Done.

[2015-08-05 04:52] #10 closed

[2015-08-05 04:53] ac360 commented on #1
Lol, JawaScript.

[2015-08-05 05:13] deckar01 commented on #10
I'm not exactly sure what you changed, but the wiki doesn't seem to have the info I was suggesting.

Using pull requests and referencing their issues helps keep things organized (although the wiki doesn't exactly have PRs).

Issue #5 was closed without reference to the commit you made to fix it and will be lost in the sands of time.

[2015-08-05 06:23] shankscoder commented on #7
+1 for a demo of this platform in action. Amazing effort. Really hope to build with this soon.

[2015-08-05 06:46] janraasch commented on #1
JawaScript. Very nice indeed.

[2015-08-05 06:49] mojodna opened #13 "Binary responses?"
Have you figured out a way to output binary responses (like dynamic images, etc.)?

Last time I looked, API Gateway can be configured to pass through anything from upstream, but Lambda will only return JSON-formatted responses (i.e. no binary responses without base64-encoding, which couldn't be decoded on API Gateway at the time).

[2015-08-05 07:04] sergiotapia commented on #1
I like JAWS.

[2015-08-05 07:33] austinrivas opened #14 "Deployed Lambda not available as resource"
Hey Austen,

Thanks for putting this together, I've been reading a lot about Lambda's recently and this was the inspiration I needed to dive in.

I am running into an issue deploying Lambda's that I'm hoping you can shed some light on.

![screen shot 2015-08-05 at 12 24 17 am](https://cloud.githubusercontent.com/assets/1114054/9080543/6a39f874-3b09-11e5-828e-5b9bb9333d74.png)

I'm not sure if it i

[2015-08-05 08:48] sebastiaandegeus commented on #1
@AlexAti  How can this name be any more confusing than a screen reader which shares the name with a swimming animal, James Bond villain and movie classic?

It's a completely different field. What could happen? I wanted to install a screen reader and end up with a js AWS stack...

[2015-08-05 09:27] AlexAti commented on #1
@sebastiaandegeus Well I think it was obvious, sorry.

It is not a completely different field. Both JAWS and JAWS are software, as opposed to animals, films and fantasy characters. So there is a huge overlap on use cases where you start with the name.

Both JAWS and JAWS have or will have: official documentation to search for, the need to be installed on hardware, prerequisites, issues, bugs, onli

[2015-08-05 09:57] austinrivas commented on #14
figured it out, forgot to update AWS_LAMBDA_REGIONS=us-west-2

[2015-08-05 09:57] #14 closed

[2015-08-05 10:08] sebastiaandegeus commented on #1
@AlexAti You cannot be serious. Blind people cannot see, but they can think. They are not mentally disabled. You grossly underestimate the abilities of people who are blind.

[2015-08-05 12:11] brianklaas commented on #13
Based on my experience, the response from an AWS solutions architect would be to write your dynamic image or binary data to a bucket on S3 from within the Lambda function and have information about that binary file be returned within the JSON response from Lambda.

[2015-08-05 12:15] brianklaas commented on #7
+1 for the demo.

Lambda response time is dependent on the nature of the work being done by the function. Image processing naturally takes a lot longer than JSON unpacking and manipulation. The AWS console gives you metrics about response time for each of your functions, so the overall computational time is largely dependent on what you write. There is a basic overhead of ~300ms if the Lambda func

[2015-08-05 12:37] LorenzoBoccaccia opened #15 "can static pages be stored as lambdas?"
can one cut out prices/complexity even more by storing pages in lambdas that return static html/js/css content?

you'd need a lambda for each page, but it seems access cost might be cheaper than s3 - well, depending on free tier allowances, but if one goes for the cheapest request count to these files can be drastically reduced using cloudflare as frontend

[2015-08-05 13:04] pchaganti commented on #2
This would be pretty cool to do with JAWS +1

[2015-08-05 15:49] doapp-ryanp opened #17 "requires node 0.12.x?"
Great start here man.

Curious - why do all your `package.json` files require node 0.12 when lambda only supports 0.10.33?

FWIW we've [been trying to get an official response from AWS](https://forums.aws.amazon.com/thread.jspa?messageID=663973&#663973) on how they are going to support versions because the current way of packaging your own doesn't appeal to us.

[2015-08-05 18:57] ac360 commented on #17
Nice find!  I'll fix this later today.

[2015-08-05 19:18] hyandell opened #19 "No license defined"
Unless I'm missing it, I don't see a license on this project.

I see you used MIT on your some of your other repositories, is this MIT licensed?

[2015-08-05 19:20] doapp-ryanp commented on #17
I'll fix it, I have a decent size pull request coming your way in the next day or so with some new enhancements.  I'll just include the fix in it.

[2015-08-05 19:21] ac360 commented on #19
Yes, later today I will specify an MIT license :)

[2015-08-05 19:51] waynebloss commented on #1
JAWS is a *cool* name and I like it, but for this project it seems inaccurate since the AWS stack can contain a lot more than just Lambda + S3. A more accurate name might reflect that, but honestly, it's not a big deal.

I do not think this will ever be confused with a screen reader, @AlexAti because there is already other software and frameworks out there named JAWS:

- [Judicial Automated Workfl

[2015-08-05 20:07] adamburmister commented on #1
I'd keep JAWS :+1:

If you're searching for JAWS (the screen reader) you're going to be searching for something like "jaws screen reader"... it's a very different vertical.

[2015-08-05 20:12] adamburmister commented on #15
I'll take a stab at answering this:

When configuring your AWS API Gateway service you can configure a given endpoint to act as an HTTP Proxy.

![image 2015-08-05 at 1 10 10 pm](https://cloud.githubusercontent.com/assets/7788/9096672/6f5c3320-3b73-11e5-922a-1bb306ad589b.png)

This would allow you to direct a request to an S3 hosted file, for instance.

So... there is an architecture that would all

[2015-08-05 20:14] adamburmister commented on #15
Sorry, I realise I misread your question: You *don't* want to serve S3 files because of pricing.

I honestly wouldn't worry. It's fractions of cents to serve from S3.

As an aside to the original answer: @ac360 is S3 serving already implemented?

[2015-08-06 00:32] ac360 commented on #19
Fixed in d8b18ff

[2015-08-06 00:32] #19 closed

[2015-08-06 00:32] ac360 commented on #17
Thanks, I can't wait to see it!

[2015-08-06 01:12] sdvinay opened #21 "First-time install: executing the api/users/show fails with 401"
I ran through the installation guide.  I tried running the api/users/show locally first and it fails with 401 (I didn't install the JAWS client globally yet, but I don't expect that to be a problem):
[code]

I went back and checked the steps from the installation guide; I updated the .env file with my own values (I made up JWT_ISSUER and JWT_SECRET, and copied in AWS_ADMIN_KEY, AWS_ADMIN_SECRET_KE

[2015-08-06 01:41] ac360 commented on #21
When you run a Lambda function in your JAWS API, the data in that function's event.json file is submitted to the Lambda function.  event.json should contain url params, url query strings and a JSON body submitted via a POST or PUT http request.  -- I'm going to add this in comments in each of the event.json file and write more information to help you and everyone understand this tonight.

The even

[2015-08-06 01:41] #21 closed

[2015-08-06 01:57] austinrivas commented on #7
+1

I would also be happy to help with the demo if you need some more hands on deck.

Just an idea, but if you would like to focus on your swagger implementation I can but together a fun JAWS themed ui demo that consumes your api.

[2015-08-06 02:58] cancan101 opened #22 "Support for Asymmetric (Public Key) JWT Validation"
Modify [this](https://github.com/servant-app/JAWS/blob/8ec4ddd99f14dd6e6bb2ba61765e529f055aba48/lib/middleware/middleware_incoming.js#L53) to support alternative validation schemes: https://github.com/auth0/node-jsonwebtoken#jwtverifytoken-secretorpublickey-options-callback.

[2015-08-06 03:45] ac360 opened #23 "JAWS v0.0.3 causes breaking changes. Here's how to fix them."
In v0.0.3, I had to make some breaking changes and I apologize for this.  JAWS literally went from 9 - 2000 github stars in 24 hours.  I thought I would have some more time to make some changes before people cared about it.  Either way, I still have to make the changes, and they are a bit ugly for people using v0.0.1.

**Here is how you can upgrade from v0.0.1 to v0.0.3:**

* Download JAWS v0.0.3

[2015-08-06 03:51] ac360 commented on #17
Ryan,

I had to do some breaking changes in v0.0.3, which included lots of package.json modifications and I decided to change the node version at that time.

I still look forward to your pull request.  You seem close to the node version/lambda issue and I value your input on this project.

Thanks,
Austen

[2015-08-06 03:53] ac360 commented on #17
Fixed in becb4fa

[2015-08-06 03:53] #17 closed

[2015-08-06 04:09] ac360 commented on #23
The [Installation Guide](https://github.com/servant-app/JAWS/wiki/JAWS-Installation) has also been updated appropriately.

[2015-08-06 04:25] ac360 commented on #15
@LorenzoBoccaccia I haven't done any tests.  But, I'd love to see some!  If the tests reveal it's more economical, then this approach could be a big deal.  Further, this could lead to easier, faster deployments.

To me, it comes down to the Lambda cold start issue.  If you have a Lambda with a low memory size, it's slow to start up.  If you up the memory size, the Lambda's CPU is also upgraded and

[2015-08-06 04:30] austinrivas commented on #23
Thanks for documenting the upgrade path, worked like a charm. Clean install was also fine.

[2015-08-06 04:31] ac360 commented on #13
@mojodna I believe (though I may be wrong) that you are limited to serving JSON.  API Gateway was just released last month.  AWS is very competitive, I hope that they can allow this because being able to serve dynamic static assets would be so damn cool :+1:

Please let me know if you see them offering this somehow.  I want to hack with it asap.

[2015-08-06 04:32] ac360 commented on #23
@austinrivas thanks for the feedback :)  So much cool stuff coming.  Stay tuned!

[2015-08-06 07:30] LorenzoBoccaccia commented on #15
thanks for the reply. I'll have a look.

latency wise for cheapness sake I'd go to cloudflare - that should solve worldwide latency (but not spinup issues, albeit it can masquerade them for long enough)

[2015-08-06 07:46] AlexAti commented on #1
@sebastiaandegeus That's not the point, don't be purposely obtuse. I can think and deal with bad design and confusing websites, for example, but I prefer when things are clear and I don't HAVE to think. I didn't meant that blind people will be flabbergasted and abandon the internet.

It is suboptimal to have two overlapping concepts with the same name. This is a project *one day old*, that's why I

[2015-08-06 07:51] hj1980 commented on #1
@AlexAti @sebastiaandegeus It's probably worthwhile having a look at this: https://www.google.com.au/trends/explore#q=jaws

[2015-08-06 07:53] hj1980 commented on #2
That's cool! Also, I was chatting with a colleague today about this, and another way might be to use the AWS billing reports hitting a S3 bucket to trigger Lambda..

[2015-08-06 08:32] hj1980 opened #25 "To API Gateway or to not?"
We're in the process of building a Lambda (DynamoDB, S3 etc) based 'API'. Initially, we looked at:
Client (cordova + angular + RESTish client) ->
Server (AWS API Gateway) ->
Lambda (Actual code) ->
DynamoDB etc.

As Cognito Identity seems to be a pretty reasonable choice for auth even if not using Cognito Sync, and given the integration to Lambda (with "identity" in the context hash) perhaps it ca

[2015-08-06 08:43] hj1980 commented on #13
@mojodna - I'm proposing a slightly different architecture in issue #25, which would address your challenge as you can return binary data.

[2015-08-06 12:45] remicastaing commented on #7
Perhaps, a mechanism to wake up all lambda functions could be implemented at the first call. Thoughts?

[2015-08-06 13:02] remicastaing opened #26 "jaws run"
If I understand it right, launching `jaws run` in an api folder performs an unit test according to the date provided in `event.js`rather than running the lambda function.

IMO, `jaws run` should rather set up an http listener with the right endpoint.

With a little `express` app, there could be possible to both serve the static part out of the site folder (I would rather name it `client`) and set

[2015-08-06 16:22] ac360 commented on #25
@hj1980 This is all interesting.  Others have proposed similar architectures and they warrant serious consideration if they can save us developers from unnecessary complexity and give us our time back.

In general, I believe the REST API provides you with an extra layer, between the world and your Lambda functions (i.e., your code), that is useful for security and more.  It's optimal for throttlin

[2015-08-06 16:40] cancan101 commented on #25
I think one place where using the the AWS SDK rather than REST to API Gateway would be uploading data to S3. Presumably the S3 upload logic in the SDK can be smarter about chunking up the upload, etc. It also is a more direct path to S3.

[2015-08-06 16:43] ac360 commented on #26
@remicastaing I don't know if  `jaws run` should be considered a unit test.

All `jaws run` does (currently) is emulate the AWS Lambda environment and run your code through it.  It does this by passing in the params that AWS Lambda passes into your function (event,context) and recreating the `context.success()`, context.fail()`, context.done()` methods that AWS Lambda requires you to call when you

[2015-08-06 16:43] cancan101 commented on #25
The other concern with using API Gateway + Lambda + service rather than using the JS SDK to either directly call lambda or even directly calling the service is latency overhead. The API gateway adds latency as does the lambda function (even if it is hot).

[2015-08-06 17:09] kabaka commented on #25
We recently went through a similar thought process and settled on using API Gateway. The rationale was entirely for the sake of response caching. Even if a response is only cached for a few minutes, that has saved us many lambda invocations and database lookups, and made the application more responsive to the end-user.

This may not be true for all applications — but for ours, very rapid response

[2015-08-06 21:09] daveloyall commented on #1
Has anybody here heard of JAWS but still recommends this project take on that name?

I think it's important to note that JAWS isn't a screen reader... it's THE screen reader.

It's also worth noting that lots and lots of sighted people know of (deal with) JAWS because they have to make their products (software, websites) compatible with JAWS.  The person who sits on the other side of this cubicle

[2015-08-06 21:12] remicastaing commented on #26
@ac360, thank you to taking the time to provide this long response.

You're probably right saying simply deploying a lambda function would be the easiest way. I'm accustomed to have local environment for development purpose, so I though about how to get one for the lambda+api+S3+dynamoDB stack.  It could also be possible setting up a local dynamoDB instance.

[2015-08-06 21:30] austinrivas commented on #1
This is no longer constructive and just bike shedding. I'm sure author wants to focus on features and not this artificial name debate.

[2015-08-06 22:31] remicastaing opened #27 "jaws deploy - InvalidSignatureException: Signature expired"
I've tried to deploy a lambda function and got this:
[code]

Any clue what happened?

[2015-08-06 23:03] ac360 commented on #27
Hmm, I'm not sure.  Try the AWS developer forums in the interim:  https://forums.aws.amazon.com/forum.jspa?forumID=186&start=0

And when I get home tonight, I'll look into this.

[2015-08-07 00:52] robertdean commented on #1
If you search Stack Overflow for JAWS you will have to comb through a ton of questions related to the screen reader. This is a promising project. It would be best to change the name now before it becomes a problem.
I say we call it Python  :)

[2015-08-07 02:35] austinrivas opened #28 "Mitigating AWS Lamdbda limits"
I'm sure you have already seen this [AWS Lambda Limits](http://docs.aws.amazon.com/lambda/latest/dg/limits.html).

I see the 1.5Gb total limit, and 50mb deploy limits as huge problems for the current deploy script.

Some things that I believe can help mitigate the impact of these limits are:

* Implementing a build pipeline to minify the packaged source, [here is a great example in Gulp](https://m

[2015-08-07 05:09] ac360 commented on #28
@austinrivas These are great suggestions.  You've been active with this project and it's much appreciated.

This weekend I'm going to publish the JAWS Road Map which will identify priorities for everyone to focus on.  The Road Map will include your suggestions.  Please know that I will be publicly acknowledging all contributors everywhere JAWS has a presence (e.g., in the repo, on the website, etc

[2015-08-07 05:37] hj1980 commented on #25
Cheers guys for the feedback! I'm pretty interested to see how things pan out with our direct Lambda approach, and I'll be sure to let people know as it progresses. @ac360

I think that the whole REST API as a demarcation point is good, but if the goal is to have an end-to-end JS codebase then I think REST adds extra complexity on both sides. By controlling both the Server side JS and the Client s

[2015-08-07 06:41] rhoulay opened #29 "config.js Bug AWS_LAMBDA_REGIONS"
I try JAWS with my aws account. But return error:
[code]
I find that my aws machine run on 'ap-northeast-1'. The config.js just write aws object with 'us-east-1' like:
[code]

Change it with:
[code]
that work for me :)

[2015-08-07 07:46] olivierkaisin commented on #27
Usually this happens when your machine's clock get out of sync. Depending of your OS there are different ways to force resync it.

For example on Ubuntu: `sudo ntpdate ntp.ubuntu.com`

I hope this helps.

[2015-08-07 11:14] remicastaing commented on #27
Is this time to deploy normal (32 min)?
[code]

[2015-08-07 13:13] ac360 commented on #2
:+1: I will be putting this on the JAWS Road map which will be published this weekend.  Thank you!

[2015-08-07 13:46] ac360 commented on #7
We will have a demo site soon!  I'm going to put this on the JAWS Road Map which will be published this weekend.

@grosser @brianklaas @remicastaing With regards to response times and Lambda optimization, JAWS should and will implement all best practices when it comes to Lambda optimization.  This is a priority.

Myself and many others have optimization techniques for Lambda.  However, when intere

[2015-08-07 13:48] doapp-ryanp commented on #28
In a pull request I have coming hopefully today, it will partially address the 50mb deploy limit. You will be able to setup file/dir ignores on a function by function basis in the lambda.json metadata file for each function.  I'm of course open to other ideas, just want to prevent you from spending time on solving the problem if you end up liking my solution.

[2015-08-07 13:54] ac360 commented on #13
@hj1980 You're right!  I'm going to publish a JAWS Road Map this weekend.  In there, I'll suggest to incorporate more of your architecture, especially for special use-cases like this one.  Perhaps we can include the AWS Javascript Browser SDK in the JAWS site boilerplate and add some simple examples for common use-cases (like the one above).  Since you're familiar with this architecture already, p

[2015-08-07 14:08] ac360 commented on #15
@LorenzoBoccaccia I like this a lot.  But the issue I see is the same in issue #13 -- API Gateway is designed to work primarily with JSON and it can't return anything else.  I think it's time to head to the AWS developer forums and start requesting API Gateway return binary data.

[2015-08-07 14:12] mattheyan commented on #1
JAWS is an excellent name. Naming things is hard, so I understand why you would want to keep this name. And in the spirit of good will towards all, I hope this project succeeds. With that in mind...

* I think it's unfair to call this bike shedding. Overloaded project names can be a real problem and will only get worse over time. It happens and we deal with it when it does, but if it can be avoide

[2015-08-07 14:16] ac360 commented on #28
@doapp-ryanp Awesome, this sounds super useful.  Can't wait to see it.

[2015-08-07 16:31] ac360 commented on #22
@cancan101  Thank you.  Your input has been especially helpful.  I'm publishing a JAWS Road Map this weekend.  This will be in there.

[2015-08-07 17:19] devknoll opened #30 "Pre-rendered Responses"
This project seems very cool, great job :smile:

I'm interested in building something with a React front-end, and a backend using something like JAWS. It seems if all I wanted was a fat static client, I could use JAWS as-is. But it's possible, and in my case, required, that we render initial requests first, to both speed up the initial page load and to support clients without JavaScript.

It seems

[2015-08-07 17:43] michaelsmanley commented on #1
I noticed in npm this is called jaws-stack. So why not just name it that? Would that not solve the searchability issue, keep the distinction from the well-known JAWS and preserve a convenient acronym?

[2015-08-07 19:09] Surasakeathan commented on #30
Lava iris

[2015-08-07 19:34] chourobin opened #31 "Design proposal: jaws new, jaws routes, jaws deploy"
Hi ac360,

Thanks for making this open source and great work! I have a design proposal, would you be open to making JAWS a standalone CLI to keep a user's app separate? The user can then generate a new app using a convenience generator like `jaws new app-name` (kind of like rails), or they can integrate with their existing app by including it in package.json.

An additional proposal would be to ha

[2015-08-07 20:05] ac360 commented on #31
:+1:  Yes, I agree that making the JAWS CLI standalone needs to happen.  This weekend, I plan on moving it to a separate repo.

Also, I'm a fan of those Rails commands and I would love to incorporate them.

This weekend, I will be publishing the JAWS Road Map.  I will include your suggestions in the JAWS CLI section.  If you would like to help out with these it would be greatly appreciated.  All s

[2015-08-07 20:12] chourobin commented on #31
Awesome! Looking forward to the roadmap :beers: :+1:

[2015-08-07 20:38] bahout commented on #29
same for me

[2015-08-07 22:18] nateupstairs commented on #31
This could be out of scope (or you might have already considered it), but has any thought gone into versioning on AWS? Since AWS doesn't support any versioning system, could we have a sort of namespacing config option to preface "staging" or "qa" or some other environment name to the lambda function names when uploading non-prod-ready functions?

[2015-08-08 02:52] chourobin commented on #31
@nateupstairs i like that idea too.

[2015-08-08 04:57] arieljake commented on #15
@LorenzoBoccaccia cloudflare or cloudfront, if we are sticking with Amazon services?

[2015-08-08 13:58] jhairau commented on #15
Both options for caching static assets please.
On Sat, Aug 8, 2015 at 11:57 AM, Ariel Jakobovits <notifications@github.com>
wrote:

[2015-08-08 21:18] remicastaing opened #32 "Why site isn't simply static?"
I'm wondering why `/site` are not containing a simple single page app but a node+express app.

If you want to deploy the client part on AWS S3, it needs to be fully static.

[2015-08-09 02:32] ac360 commented on #15
@jhairau Absolutely :+1:

[2015-08-09 02:37] ac360 commented on #32
@remicastaing The node/express part of `site` is so that you can develop your JAWS website locally.  The node/express component is not meant to be uploaded.  It's only for developer convenience (one of my big themes).

[2015-08-09 02:39] ac360 commented on #32
@remicastaing BTW - the `site` module is one of the more under-developed parts of JAWS.  It is intended to be fully static and the JAWS CLI will soon have commands to minify, zip and upload all assets to S3/Cloudfront/elsewhere :)

[2015-08-09 02:39] #32 closed

[2015-08-09 04:43] austinrivas commented on #29
This is fixed in this pr https://github.com/jaws-stack/JAWS/pull/24

[2015-08-09 05:22] austinrivas commented on #30
I came to the same conclusion as you.

Until Amazon extends the capabilities of API Gateway this is impossible, like you said.

[2015-08-09 06:15] ac360 commented on #29
I'm back from traveling and I will be looking into this tomorrow.  Thanks for your PR and the suggestions in that thread @austinrivas

[2015-08-09 06:18] devknoll commented on #30
It actually looks like it would be possible to return an html response from the API gateway, so this might be possible already.

[2015-08-09 06:32] ac360 commented on #30
@devknoll Where do you see this?

[2015-08-09 07:01] devknoll commented on #30
@ac360 https://forums.aws.amazon.com/message.jspa?messageID=650072#650072 This + a couple other posts imply that non-JSON requests/responses are possible. Should just be a matter of setting up a `text/html` response, but I haven't tried it.

[2015-08-09 07:59] remicastaing commented on #32
Thanks, @ac360. Do you have a framework to handle the client side in mind?

[2015-08-09 08:45] austinrivas commented on #32
I personally think jaws should be client agnostic, provide some example
integrations with react / angular
On Aug 9, 2015 12:59 AM, "Rémi" <notifications@github.com> wrote:

[2015-08-09 14:38] ac360 commented on #32
@remicastaing  I prefer to make JAWS client agnostic like @austinrivas suggested.  I've just put JAWS into its own Github organization so that we can make more repos for the different front-end frameworks.

[2015-08-09 17:07] ac360 opened #34 "JAWS REST API: Multi-Region/Cross-Region Replication (Out of the box?)"
**This thread is for discussing changes in API Gateway, Lambda, etc., and how JAWS supports Multi-Region/Cross-Region Replication.**

If the JAWS REST API can come out-of-the-box with cross-region replication of your Lambda functions to reduce network latency, it will be incredible.  Imagine, instant cross-region replication of your REST API and you only pay for when it's used via AWS Lambda (!!!)

[2015-08-09 17:44] SOSANA commented on #1
Name is fine just Google jaws.js there is yet another name besides jaws for the blind, there's jaws for HTML5 game engine too.

This project is just what I was looking for after checking out the aws lambda doc's. Cool name and can't wait to hack with.... JAWS :)

[2015-08-09 17:50] ac360 commented on #34
Updated.

[2015-08-09 17:53] ac360 commented on #29
For the interim, we're going to use the quick fix provided by @austinrivas

For the longer term view, please see #34

[2015-08-09 17:53] #29 closed

[2015-08-09 19:24] ac360 opened #35 "JAWS: Multiple Environment Support"
**This thread is for the discussion of how JAWS handles multiple environments**

JAWS must have support for multiple environments.  Let's discuss the optimal way to do this...

Things to consider:

* For the JAWS REST API:  API Gateway uses **stages** for specifying different environments.

* [The stage variable is now available in API Gateway's mapping templates](https://forums.aws.amazon.com/thr

[2015-08-09 20:58] remicastaing opened #36 "GITTER"
Not all words/ideas/questions are worth an issue. A Gitter chat room could sometime be the right place to exchange some words.

[2015-08-09 21:35] remicastaing commented on #27
I just started over to deploy a lambda function with the latest version of jaws: it works and within no time (32s).
Thanks, @ac360, @olivierkaisin.

[2015-08-09 21:35] #27 closed

[2015-08-09 21:45] remicastaing commented on #31
Why not use [yeoman](http://yeoman.io/) to scaffold a jaws app? New lambda function could be created with a dedicated generator (`yo jaws:lambda`) and all the other task (run, test, deploy, etc.) could be done with `gulp`.

[2015-08-09 22:00] remicastaing commented on #32
You're both right. If one framework can do it, then another can do it as well.

[2015-08-09 22:08] austinrivas commented on #31
@remi I like yeoman a lot, really easy to work with and build complex
generators / cli tools

On Sun, Aug 9, 2015 at 2:45 PM, Rémi <notifications@github.com> wrote:

[2015-08-09 22:09] austinrivas commented on #36
+1 gitter has become my go to idle chat

[2015-08-09 22:11] austinrivas commented on #35
might be worth setting up a route 53 domain to test out your theory

[2015-08-09 22:13] austinrivas commented on #34
using API gateway to pass context information into the lambda is huge, I'd like to see how that works but the link you provide is behind aws auth.

[2015-08-09 22:16] ac360 commented on #27
@remicastaing Sorry, I lost track of this issue.  Please re-open this Issue if it troubles you again!

[2015-08-09 22:20] ac360 commented on #34
@austinrivas

From the AWS Developer Forums...

          Hi,

          The following context variables are now available in mapping templates. Not the exact solution you wer looking for, but some of that information will be available now. The main part missing would be the full hostname part, but the apiId, stage, and resourcePath are useful for determining path that calls the Lambda function.

[2015-08-09 22:24] austinrivas commented on #34
Great, now we just need to find a way to tie that into your middle-ware and aws config, I'll take a crack at it later today. Thanks for reaching out to the aws team btw, seem like they have been really supportive.

[2015-08-09 22:27] austinrivas commented on #31
@ac360 I noticed you marked this one as help wanted. Do you want to create another repo in the org that I can start submitting pr's against?

[2015-08-09 22:41] devknoll commented on #30
It's definitely possible. I wrote a blog post about it: https://medium.com/@devknoll/rendering-react-with-amazon-lambda-e4e85a788257

[2015-08-09 22:53] austinrivas commented on #30
@devknoll you are the man. When I tried I got stuck on the mapping template and could only ever get json back.

Thanks a ton for taking the time to write down your methods.

[2015-08-09 23:12] chourobin commented on #36
I'll put in my vote for making a slack community.

[2015-08-10 00:09] devknoll commented on #30
API Gateway has an option for setting up Domain Names for an API. Is there another reason you're using Route 53?

[2015-08-10 00:54] devknoll commented on #30
You could also shortcut having to make an entry for each possible route by using resources and just making a GET/POST method for `/{resourceName}` up to the desired depth, just ignoring it, and pulling in the full path to pass along to your router.

[2015-08-10 01:10] ac360 commented on #36
I'll set something up within the next hour.

[2015-08-10 01:20] ac360 commented on #31
@remicastaing @austinrivas I like Yeoman as well.  However, I'm going to investigate a JAWS CLI redesign first.  I think a robust JAWS CLI can significantly reduce time-to-action and get people started right away, without having to mess with anything else.

For example, getting started with JAWS could/should be as simple as this:

* `npm install jaws-cli -g`
* `jaws new --name new-app`

I'm going

[2015-08-10 01:20] #31 closed

[2015-08-10 01:55] austinrivas commented on #30
@devknoll you are absolutely right, my understanding of API gateways capabilities was wrong.

To anyone else that may be interested [here is the relevent link to the api gateway docs for setting up a custom domain](http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html).

My biggest concern was that you would no be able to leverage cloudfront by directly exposing th

[2015-08-10 02:31] ac360 commented on #36
Done!  https://gitter.im/jaws-stack/JAWS

[2015-08-10 02:31] #36 closed

[2015-08-10 04:48] austinrivas commented on #30
@devknoll have you noticed that redeploying the lambda breaks the api created in the method you described? If you delete the method and recreate it using the same method then everything works again.

[2015-08-10 05:23] devknoll commented on #30
No, I haven't done much else with it yet since getting the proof of concept running.

I'm a little worried about using something like this in production at the moment, given the range of response times I'm seeing. Warm starts seem to be around ~130ms, while cold starts can be up to 1.3 seconds. Include any APIs that are cold as well, with any initialization they need to do (e.g. connect to a DB or

[2015-08-10 06:14] austinrivas commented on #30
So here is my progress on this so far.

### Create react page component for ssr lambda

[code]

### Local output via `jaws-run`, notice that none of the quotes are escaped

![screen shot 2015-08-09 at 10 57 14 pm](https://cloud.githubusercontent.com/assets/1114054/9160150/07855f2c-3eea-11e5-9717-368f6a8c4e3d.png)

### Deploy Lambda, and test, notice quotes are now escaped

![screen shot 2015-08-09

[2015-08-10 06:51] ac360 commented on #30
@devknoll Did you check out the [Optimization Guide](https://github.com/jaws-stack/JAWS/wiki/JAWS-Optimization#aws-lambda-cold-start-issue)?  There are some good tips in there.  Increasing the Lambda MemorySize is a big one.  I'm not sure what you mean about "APIs being cold".  Do you mean you are seeing that API Gateway also has cold-start issues, aside from Lambda and other services?

Overall, t

[2015-08-10 08:33] austinrivas opened #39 "Inconsistency between jaws run result and actual lambda result"
According to the [lambda programming model](https://docs.aws.amazon.com/lambda/latest/dg/programming-model.html) the context.succeed method JSON.stringify-ies its result.

I noticed this while trying to build a react ssr lambda described here.

The result of `jaws run` locally was inconsistent with the results I was getting on aws.

I created a pr that JSON.strigifies the context result locally an

[2015-08-10 08:40] austinrivas commented on #30
I created issue #39 and pull #40 that fixes the inconsistencies I was seeing between the local `jaws run` and my results on aws.

However it is a problem that the results of every lambda are JSON.strigified, it is going to make returning markup problematic :/

[2015-08-10 14:48] ac360 commented on #26
@remicastaing I'm moving this conversation to #35.  In that thread we'll settle on a way to handle multiple environments.

[2015-08-10 14:48] #26 closed

[2015-08-10 15:38] devknoll commented on #30
@austinrivas This happens when the mapping template isn't set up correctly. I just tested and can confirm that the resulting text isn't escaped.

@ac360 Excited to hear the results of your chat.

In general, what I mean is:
* Hit cold react rendering lambda: +1 second
* React rendering lambda hits cold API lambda: +1*n seconds (depending on the shape of your request tree)

I haven't tried adjustin

[2015-08-10 15:53] #39 closed

[2015-08-10 17:58] ac360 opened #41 "JAWS React Front-End Module: Design Specs & Help Wanted"
**This thread is for discussing the `JAWS-site-react` module's design and finding developers who want to help build it**

Overall, JAWS should support all front-end frameworks.  There has been a lot of demand for JAWS + React support.  So, let's start with React!

JAWS already comes with a `site` module.  But you should be able to swap this out with another `site` module that is focused on a speci

[2015-08-10 18:13] SOSANA commented on #41
Add me to this list

[2015-08-10 18:48] doapp-ryanp commented on #35
addressed in https://github.com/jaws-stack/JAWS/pull/42

[2015-08-10 18:48] doapp-ryanp commented on #28
addressed in https://github.com/jaws-stack/JAWS/pull/42

[2015-08-10 20:13] mcwhittemore commented on #41
@ac360 I'm definitely interested. I think site should be where all complied FE modules live so that the cli can have a simpler time of deploying the FE assets.

Have you thought much about how basic you want these modules to be? Are we talking a simple set of entry point files, are we talking a fully fledged build system?

[2015-08-10 21:31] mbreton commented on #41
@ac360 My first idea was to build an opinionated example with some of the battle tested tools like Gulp, JQuery, Moment, Lodash, JSPM, Mocha and so on... But after read your post, I thought about it and finally I agree with you. We have to keep it most simple as possible in order to the futur adopters don't have to learn an other tool than the tool which they are interested (JAWS + React in this c

[2015-08-11 00:12] mbilokonsky commented on #1
Surprised this issue hasn't been closed - given that you've left it open can I assume you're still interested in feedback?

FWIW +1 to pick any other name. Naming things is a powerful responsibility and there are very few times in this life when we have the power to decrease the confusion in the universe.

Not only does JAWS create ambiguity with existing highly popular software but it locks you i

[2015-08-11 02:11] josefdlange commented on #1
LAWS

+10000000

[2015-08-11 02:25] callmeStriking commented on #1
@mbilokonsky I get the feeling that this won't be the only project he works on for Lambda implementations, and that this is locked to AWS while he gets the general feel of a Lambda client library down. It's always a good idea to write code that works first, then to make it generic enough to fit any use-case.

There's probably a reason this issue is open. :)

[2015-08-11 02:57] SOSANA commented on #41
opening pandora's box with flux implementation @mbreton lol this is where the real debate starts,
@ac360 made a great comment about "Currently, I think JAWS should support multiple front-end frameworks, and each should have their own repo within the JAWS organization"

utilizing modules is the way to go under the jaws organization. I think for demo purposes simple hello with basic routes implement

[2015-08-11 03:11] devknoll commented on #30
Strange, I didn't notice any drastic improvements with higher memory usage through API Gateway. The lambda itself definitely seems to execute quicker with everything over 128mb. But a cold start, even at 1536mb takes at least 1 sec...

[2015-08-11 04:44] ac360 commented on #30
@devknoll I had a conversation with the Lambda team today.  I brought up this issue because it is critical for their success and the success of JAWS.  We discussed it for ~20 mins and I learned a lot.  Tonight, I tried to add some further clarity on this issue and optimization tips in the [JAWS Optimization page](https://github.com/jaws-stack/JAWS/wiki/JAWS-Optimization).  Perhaps something in the

[2015-08-11 12:16] jwulf opened #43 "status: 401 using jaws run"
I've followed the instructions in the wiki, and when I run

```jaws run```

I get:

[code]

[2015-08-11 12:25] mbreton commented on #43
Hi,
An issue about this problem has been already write. Please see the #21.

[2015-08-11 14:42] johnthillaye opened #44 "Windows needs Shell to be run as an Administrator for symlink to work"
I use Windows 7 at work, when trying to deploy my function, `jaws deploy` returned this error:

[code]

It turns out Windows needs Admin authentication for symlink to work.
I figured posting this as an issue would help people save some time debugging.

Best.

[2015-08-11 14:43] hlesesne commented on #44
+1
On Tue, Aug 11, 2015 at 10:42 AM johnthillaye <notifications@github.com>
wrote:

[2015-08-11 15:39] ac360 commented on #44
Thanks for this.  We'll try to find away around this.

[2015-08-12 13:04] jwulf opened #46 "Invoking other Lambda functions"
What's the best way to invoke Lambda functions from JAWS? Should I write something to invoke it via REST, or can I use Lambda.invoke?

[2015-08-12 13:19] mbreton commented on #46
IMHO if you want invoke a lambda from a Web app, or mobile app the best way
would be to use the amazon gateway to build a pseudo Rest API.
In this manner, you have less coupling between your client app and the
back-end. BTW in Jaws you will have a swagger json descriptor to aws
gateway generator soon. (cf. #41)

[2015-08-12 13:24] jwulf commented on #46
Sorry, I meant invoking a lambda from inside another lambda.

[2015-08-12 13:26] mbreton commented on #46
Ok, In this case use the API SDK directly seems a better idea to avoid the
HTTP overload.

[2015-08-12 14:48] ac360 commented on #46
@jwulf Use the AWS SDK to invoke a lambda function from within another lambda function for best performance.

[2015-08-12 14:48] #46 closed

[2015-08-12 14:48] #43 closed

[2015-08-12 20:32] RLC85 opened #47 "Dependencies added to package.json"
Due to no dependencies I can not `npm install` this repository and run it I am running into `Error: Cannot find module 'XXXXX'`

[2015-08-12 21:21] remicastaing commented on #47
@RLC85, did you NPM Link the lib folder as written in https://github.com/jaws-stack/JAWS/wiki/JAWS-Installation#npm-link-lib-with-your-lambda-functions?

[2015-08-13 02:23] justinmealey opened #49 "Using MySQL (with RDS), Redis(Elasticache), and Elasticsearch"
I've adapted this to use MySQL as the backend along with elasticsearch and redis.  Is it interesting to this project at all to submit a pull request with how I'm doing it?

[2015-08-13 02:32] austinrivas commented on #49
I would be VERY interested in seeing how you integrated RDS.

[2015-08-13 02:37] ac360 commented on #49
What!?!?  Please submit a PR!

[2015-08-13 03:14] austinrivas commented on #30
I'm a big dumb.

pasting `$input.path(‘$’)` from the blog post was breaking the aws mapping template. `'` from medium are dangerous.

That's what I get for being lazy. Everything is working as expected now and I think we can safely close this one @ac360, unless you want to keep it open for conversations sake.

[2015-08-13 08:12] austinrivas commented on #41
Just finished a poc react ssr jaws demo.

Currently it is using api gateway tied to a lambda to render markup react side.

If you have react inspector installed you'll notice that the `html` `head` and `body` elements are all actually react components rendered server side and bootstrapped on the client.

The build pipeline is explained in more detail over at jaws-stack/JAWS-cli/issues/9

[Here is

[2015-08-13 14:32] ashack293 opened #50 "Reduce Scope of IAM User policy during Installation"
AWS best practices dictates that IAM Users and Roles should have the most restrictive policies possible for their function. The installation guide recommends creating a user with Administrator access to the AWS account. The scope of the IAM User *jaws_user* should be revised.

[2015-08-13 14:37] ashack293 opened #51 "Contributing Guide minor issues"
I hate to put two issues in one... but here we go:

1. Some text to clarify the relationship between installation guide and this guide would be really helpful. I had both open at once, but a definitive statement on the matter would be great.

2. Under **Step 3: Commit**, users are advised to make global git config commands. These configs should be local to this repository only, as contributors may

[2015-08-13 14:41] ashack293 opened #52 "Investigate simpler installation process"
I think it would be possible to automate some of the steps in the installation process.

I could investigate this.

[2015-08-13 14:52] ashack293 opened #53 "Suggestion: Implement JS Standard Style"
I wanted to suggest adoption of [JavaScript Standard Style](https://github.com/feross/standard). This is purely in the interest of enforcing some consistency in the code from many contributors. Since it's pretty early in the codebase's life, it wouldn't be too hard to do, and it may help a lot down the road.

[2015-08-13 15:00] callmeStriking commented on #53
I was about to agree with this, but then I saw some questionable choices such as "No semicolons" and "Space after function name".

For something that calls itself "standard", you'd be hard-pressed to find JS code that uses zero semicolons. Also, people like to put spaces between `if`s and their conditions while removing it from functions, to allow distinguishing between the two visually like
'''
i

[2015-08-13 15:12] ashack293 commented on #53
I agree that some of the formatting choices are not my favorites. I do love my semi-colons.

But I use Sublime Text, so I installed a package that auto-formats my .js files when I save them: https://packagecontrol.io/packages/StandardFormat . This makes it a lot easier.

[2015-08-13 15:28] callmeStriking commented on #52
+1

Separating `jaws-lib` and `jaws-cli` into separate repos seems like the way to go. The complication created by making two projects in the same repository (and the cluttered commit history that's created) could easily be avoided by splitting them.

[2015-08-13 15:38] kraigh commented on #10
I also don't see this reflected in the wiki, and it took me a minute to poke around to find the npm module name.

[2015-08-13 15:39] kraigh commented on #10
Side note: is there a good way to suggest wiki updates?

[2015-08-13 15:44] callmeStriking commented on #10
The edit button? If your revision is wrong, it can be undone. It doesn't need project leader approval, just like they do it on Wikipedia!

[2015-08-13 16:46] ac360 commented on #53
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:46] ac360 commented on #52
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:47] onyxraven commented on #49
+1 - should provide a path to RDS hosted Postgres as well, which I'm sure will be in high demand.

Memcached would be nice as well.

[2015-08-13 16:47] ac360 commented on #51
:+1:  Will fix this shortly.

[2015-08-13 16:50] ac360 commented on #50
I understand the security concern here.  This will be difficult since we are moving to make the CLI tool automate more of the user's workflow, sparing them from the AWS Web Console, and we need lots of permissions to perform all of the tasks we have in mind.

Also, if we limit the scope of *jaws_user* then as we introduce new features/automations in the CLI, the user will run into errors (if they

[2015-08-13 16:52] ac360 commented on #49
@justinmealey In our specifications for JAWS v1.0.0, we are moving toward making the framework more modular, so that people can plug-in different stacks, like the one you are discussing.

If this works out, you will be able to make your set-up a module, and people can plug it into their JAWS project.

More than ever, I'd love to see what you've come up with.

[2015-08-13 16:53] ac360 commented on #44
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:53] ac360 commented on #41
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:53] ac360 commented on #35
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:54] ac360 commented on #34
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:54] ac360 commented on #28
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:54] ac360 commented on #25
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:54] ac360 commented on #22
Update 8/13/15:

We’re currently working on a document that outlines the specifications for JAWS v1.0.0.

A proposed resolution to this issue in particular is included in that document.

Today or tomorrow, we will share the document for everyone to comment on because your feedback is essential.

[2015-08-13 16:57] ac360 commented on #2
:+1: @siong1987 I'm aware of the solution you linked to.  Also, I believe AWS is working on this and soon it might be a native feature for lambda (!!!).  Not sure when they are going to release it, but I think we're going to wait until after re:Invent to look into this.

[2015-08-13 17:09] ashack293 commented on #50
Your concern makes sense, and I agree with the notion of minimizing work in the AWS console. But I have a few counter-arguments:

1. If a developer were working on a company AWS account and had to request users and policies from the sysadmins, they'll never be able to get that level of access. I'm trying to look down the road at using JAWS in a production environment.

2. Wouldn't this be a big se

[2015-08-13 18:08] justinmealey commented on #49
It's nothing fancy, since it's not integrating directly with the RDS/elasticache services, but rather using the connections strings just as you would any other mysql database.  It does, however, provide for separating read/write queries so you can designate a master and read slaves for operations.  One thing that might turn folks off is that I use the SQL directly (with the mysql module), instead

[2015-08-13 19:27] RLC85 commented on #47
Ah! I see I misunderstood the implementation of the project the dependencies for the lib and site folders are split to the package.json files in `jaws/site/package.json` and `jaws/lib/package.json`. I was combining them in the jaws/package.json.

[2015-08-14 04:26] ac360 opened #56 "Your Input Is Needed For JAWS V1"
We've listened to everyone's requests and I sincerely think we've implemented all of them!

Please take a second to review the specifications for JAWS v1 in the Google Document located below.

You can comment on the document.  Bigger spec issues should be posted as a new issue and prefixed with SPEC V1: in the Issue title.

I hope you all like this.  We're working hard to deliver the greatest serv

[2015-08-14 06:36] ac360 commented on #50
+1000  This is a great solution with great user experience.

I just added it as a comment to the [JAWS V1 Specifications](https://docs.google.com/document/d/1SeTgtsQc620vcwgGMZ4F2yuWVf-A3JmpTn1VT8pKYsA/edit?usp=sharing)

I'll get it in the spec tomorrow.  I would really appreciate your help on this :)

[2015-08-14 06:38] ac360 commented on #47
@remicastaing Nice Rémi!

[2015-08-14 06:38] #47 closed

[2015-08-14 14:22] kvnlnt commented on #56
Make it SAWS and dont look back. :D

[2015-08-14 14:24] ashack293 commented on #56
Nice work!
One thing I noticed is, in the **Code Style** section, the link to idiomatic is broken.

Should we be able to see comments in the doc?

[2015-08-14 14:38] ac360 commented on #56
Everyone can now comment on the google document.

[2015-08-14 14:39] ac360 commented on #56
@ashack293 Fixed.  And everyone can now comment directly on the Google Document.  You might need to refresh.

[2015-08-14 15:02] marvinosswald opened #57 "[JAWS V1] jaws deploy --set-gateway"
Maybe I've missed it somewhere so pardon me if that's the case, but it would be nice to automatically add an API Endpoint to the AWS API Gateway. I have multiple ways in mind right know:

- Use a parameter in lambda.json to determine which resource and endpoint to use ~~as well as which http method to accept~~ e.g.:

[code]
- Use your local directory structure, as it is right know. Problem is I di

[2015-08-14 15:20] binoculars commented on #25
I've been wresting with this idea since the API gateway was announced. Very good points brought up here. Does it have to be a real choice? I think we can have both and do both well. Making API Gateway mandatory is not the way to go.

Direct DynamoDB Reads/Writes can be control with IAM and fine-grained access control.
I see the argument for caching, but you're also paying for the cache per hour an

[2015-08-14 15:28] ac360 commented on #25
@binoculars Great insights here.

For the record, JAWS will not make you choose one or the other.  You can use both methods.

Instead, JAWS focuses on lambda optimization and deployment, as well as packaging your lambdas into modules for re-use and sharing so that others can easily install them.

[2015-08-14 15:38] ac360 commented on #57
:+1: We're still working on this.  It's critical.  API Gateway is still in its infancy and automating API Gateway operations has been tough.

• There is no aws-sdk support for API Gateway, so we can't use that to create endpoints for people.
• The api-gateway-swagger-import-tool is a standalone java tool that people have to install and build locally before they can use it.

The awsm.json (previous

[2015-08-14 20:23] ashack293 commented on #50
:+1:  Looking forward to seeing it in the spec so I can get started!

[2015-08-14 20:41] ac360 commented on #50
@ashack293 I'll write it in there today and start a JAWS V1 branch tomorrow.  Thanks again :beers:

[2015-08-15 05:47] ac360 commented on #50
@ashack293 In the V1 spec, on the **jaws new** command, the jaws-cli automatically creates AWS IAM Roles for each **stage** the user specifies in a prompt.

Excuse my ignorance about IAM here, but if the jaws-cli has a permission to create an IAM Role, then isn't there no point in limiting the permissions scope of the jaws-cli IAM User because it could potentially create and utilize an IAM Role th

[2015-08-15 10:29] marvinosswald commented on #57
I see, so it seems like we have to wait until they get the API Gateway support covered. Only other think as an workaround I can think of would be phantom.js combined with an script which basically controls the web interface itself..BUT thats such a bad solution I wasn't even sure if i should suggest it :D

Regarding the api-gateway-swagger-import-tool I've gone through the source code, roughly, se

[2015-08-15 13:08] ashack293 commented on #50
@ac360 Yeah, that basically moves the problem partially to Roles. The User is still too powerful because they can create roles and adjust the policies for them, and the Role is too powerful because we're letting the software dictate what its constraints are. You also need the User to have the same level of permissions, or else it's going to make local development more of a nuisance. I think there

[2015-08-15 19:58] JerrySievert commented on #23
running `jaws run`, i'm getting the following error:

[code]

i copied the role ARN from the `jaws_lambda_role`, and set it in .env, `AWSLambdaFullAccess` is set in the role.

any ideas?

[2015-08-15 20:18] JerrySievert commented on #23
as an aside, i tried creating a new access key, same issue.

thanks!

[2015-08-17 21:18] binoculars commented on #2
This is a heavily requested feature and has been brought up in the AWS forums: [It would be awesome if we could schedule lambda functions](https://forums.aws.amazon.com/thread.jspa?threadID=172506) and [Scheduled Tasks](https://forums.aws.amazon.com/thread.jspa?threadID=175871)

Another option options is to use the SWF ([see the docs page](http://docs.aws.amazon.com/amazonswf/latest/developerguide

[2015-08-18 00:52] jwulf opened #60 "[SPEC V1] SNS subscriptions"
At the moment SNS subscriptions - event sources - are lost when redeploying lambdas.

So a file that has sns subscription descriptors, and sns.subscribe() as part of `jaws deploy` would be good.

[2015-08-18 01:07] ac360 commented on #50
@ashack293 Sorry for the slow response.  I've been deferring digging into this issue because JAWS V1 is changing rapidly.  All of JAWS V1's details haven't been figured out yet.  Without those details, I feel I'm lacking the necessary information needed to best solve this issue.  Your suggestions are great as always.  I am going to keep this issue open, as a reminder and reference.  Right now, I'm

[2015-08-18 09:40] jwulf opened #61 "[JAWS V1] Cross-compiling native modules"
http://iswwwup.com/t/5dc20214b79f/node.js-cross-compile-node-module-with-native-bindings-with-node-gyp.html

Contextify (and other native modules compiled with node-gyp) fail when deployed from a Mac. It looks like this:

START RequestId: 6b6c620b-4585-11e5-b7c3-f9f9cd8db2ee
module initialization error: Error at Module.load (module.js:356:32) at Function.Module._load (module.js:312:12) at Module.r

[2015-08-18 10:00] jwulf commented on #61
Here's one solution:

`jaws lambda-deploy`

0. Check if you a JAWS builder is deployed in the AWS account.
1. If not, deploy it.
2. Send the function code to the JAWS builder lambda, and have it build and deploy it up there.

The only problem would be with things that take more than 60 seconds to build...

[2015-08-18 10:02] jwulf commented on #61
...and also custom npm repositories

[2015-08-18 10:18] jwulf commented on #60
What would work is an SNS subscription function that takes a list of SNS subscriptions during deploy, and then just sets them up.

Something like this, but iterating over an array of objects:

[code]

Where would I specify the SNS subscriptions? In `lambda.json`? Or does it need a separate `wiring.json` file?

I'll probably extend it with other things as well, like registering workflow types, etc.

[2015-08-18 14:07] ashack293 commented on #51
Also I think the Contributing Guide is now out of date with the new 1.0 roadmap.

[2015-08-18 21:55] jwulf commented on #60
Pre- and post- deployment hooks in `jaws deploy` would allow easy prototyping and extensibility.

[2015-08-18 21:58] doapp-ryanp commented on #60
Pretty sure this will be fixed in the v1.0.0 branch. Current deploy deletes then re-creates lambda which is causing SNS breakage. New code will do update and preserve.  I like the idea of hooks.

[2015-08-18 22:09] jwulf commented on #60
Cool. We also need a mechanism to create them initially (and to function as documentation of the app's structure).

[2015-08-18 22:12] siong1987 commented on #2
@ac360 awesome!

[2015-08-19 00:51] ac360 commented on #61
:+1: This is an interesting and great idea.

[2015-08-19 00:54] ac360 commented on #57
:+1:  I'd love to rebuild that swagger import tool.  Actually, there's probably better options, like a single API Gateway API route that you could upload it to.  Anyway, I've filed swagger import tool complaint directly with the AWS team and I'm hoping a better solution is coming soon.

[2015-08-19 00:56] doapp-ryanp commented on #60
I don't think hooking up SNS to invoke lambda is in the scope of JAWS. Just my opinion though.

[2015-08-19 00:58] ac360 commented on #60
I do like the idea of the pre/post deploy hooks.  I'm going to think about that.  Maybe those are just functions you can specify in the JSON file located in the lambda's folder.  Super simple.

[2015-08-19 01:00] ac360 commented on #51
Good point.  I'll get on it.

[2015-08-20 14:08] ashack293 commented on #53
We're using airbnb's style guide, so this issue can be closed.

[2015-08-20 14:08] #53 closed

[2015-08-20 15:01] doapp-ryanp commented on #53
@ashack293 check https://github.com/jaws-stack/JAWS/pull/64 for our proposed implementation / enforcement of airbnb (with 2 tweaks).  Make sure to checkout the README.md cuz our choice of JSCS makes it easy to use with most editors.  FWIW I use WebStorm 11 and its working very nicely.

[2015-08-20 15:22] ashack293 commented on #53
@doapp-ryanp yeah, I made a comment in the spec referring other Sublime Text users to the SublimeLinter package for enforcement of airbnb. I didn't really care which standard we used, so long as we use one ;)

[2015-08-20 15:31] doapp-ryanp commented on #53
Yup - [JSCS overview](http://jscs.info/overview.html) has one too for sublime.  If you use its Airbnb preset and suck in our `.jscsrc` included in the project it will make your life easier IMO.  Totally up to you.

[2015-08-20 15:41] ashack293 commented on #53
Cool, thanks!

[2015-08-20 16:22] ollierattue opened #65 "Unit testing lambda functions"
JAWS is going to need unit testing to be considered production ready. I came across https://github.com/SamVerschueren/aws-lambda-mock-context - wondering how others are doing this.

[2015-08-20 16:56] flatiron32 opened #66 "How can I help?"
This looks awesome and I want it to work yesterday. I don't have a time machine so i will settle for it working tomorrow. How can I help?

I see a few issues marked as "help wanted" and I see a top of great stuff in the roadmap doc. How do i find the highest value thing that needs to get done?

[2015-08-20 19:26] ashack293 commented on #66
+1

[2015-08-20 20:04] ac360 commented on #66
I'm working with @doapp-ryanp on JAWS V1.  We're moving fast and rapidly refactoring stuff.  Soon it will be more stable and easier for others to PR.

In the interim, please look at the `jaws-modules` section.  We're looking to create a module/template ecosystem of pre-written back-end functions/tasks, that every JAWS user can easily mix and install into their project with the `jaws install ` comm

[2015-08-21 12:13] ollierattue commented on #66
"lambda-img-resizer-java" - could you provide details on how you would see this one functioning.

[2015-08-21 12:19] ollierattue commented on #1
JAWS is a fun interesting name. Bigger fish to fry than reworking all logo, command names, documentation etc. Keep JAWS.

[2015-08-21 12:22] ollierattue commented on #25
We're taking the API gateway approach, REST has become a standardised approach, leads us open to future integrations (third party, public etc) if we need to go that route, not to mention the ease for our development team (everyone knows REST, right).

[2015-08-21 12:41] sopel commented on #1
I think all those arguing in favor of a name change have raised very reasonable concerns, and polluted search spaces for developers have harmed other projects before.

That being said, I came here from the _Branding_ section in the [JAWS v1.0.0 spec](https://docs.google.com/document/d/1SeTgtsQc620vcwgGMZ4F2yuWVf-A3JmpTn1VT8pKYsA/edit):

There you have it - given the proclaimed exclusive focus on A

[2015-08-21 12:53] binoculars commented on #25
@ollierattue true, but AWS provides REST APIs already and SDKs for nearly every language. If you set your permissions in IAM, you can restrict things at very fine-grained levels. Why re-invent the wheel here if you don't have to? Also, there's no reason you can't do both.

[2015-08-21 20:43] remicastaing opened #72 "jaws new fails without .aws/credentials"
Without .aws/credentials, I get this:
[code]

[2015-08-21 21:10] doapp-ryanp commented on #72
This branch is not ready yet, please do not test.

[2015-08-21 21:10] #72 closed

[2015-08-21 21:14] remicastaing commented on #72
I wasn't testing, I just ran into it! ;)

[2015-08-25 18:36] jschr opened #79 "V1: Distinct repos for frontend and backend"
Hey guys, JAWS is looking really great can't wait to try out v1. I've been following the doc and am curious if you would consider separating the backend and frontend into their own distinct repos?

I'm not too familiar yet with JAWS or lambda so I don't know if this is feasible but I find separating the client code from the server code into separate repos much easier to maintain with a larger app,

[2015-08-25 19:18] remicastaing commented on #79
Hi @jschr, there won't be no front and no back end. jaw-cli is a client able to grab separately a front module and some back end modules. Take a look at https://github.com/jaws-stack/JAWS/tree/v1.0.

[2015-08-25 19:24] jschr commented on #79
Ah ok, after rereading the v1 spec doc I think I misinterpreted the **scafolding** section.

So am I correct that the use case I described above I would create 2 JAWS apps (one for back and one for front) and simply install the applicable modules?

[2015-08-25 19:39] ac360 commented on #79
@jschr Glad you arrived at the party :)  Yes, JAWS V1 is nothing but some empty folders, a powerful CLI and a Module system.

We think the best organizational tiers for the jaws-modules are:

* A single lambda function can be a module
* A directory with a group of lambda functions and some other folders can also be a module
* The entire front folder can also be a module.  This is the least develop

[2015-08-25 19:43] remicastaing commented on #79
@jschr, the basic steps to write a JAWS app will be `jaws new`, then grab some jaws modules for the back end (they will be downloaded in `\back`) and grab a front module (downloaded in `\front`).

[2015-08-25 19:47] jschr commented on #79
@ac360 thanks for the clarification, this is awesome! Really excited for the v1 release.

Do you have any front-end module examples you can share?

I realize you've got a lot on your plate with v1 so no worries if not and I will anxiously await for the release!

[2015-08-25 19:47] jschr commented on #79
Closing since not an issue :)

[2015-08-25 19:47] #79 closed

[2015-08-25 20:18] ac360 commented on #79
No front-end modules yet.  Although, any front-end boilerplate works.  JAWS gives you a REST API just like anything else.

[2015-08-26 11:27] remaerd opened #80 "[Thoughts on]"

[2015-08-27 10:07] tobyhede commented on #66
@ac360 Is the v1 branch where we should be looking/working?

[2015-08-27 19:45] ac360 commented on #66
@tobyhede Yes :)

[2015-08-31 22:30] B-Scan opened #83 "Error handling"
First, awesome work guys!

I've been trying out JAWS and at the beginning was a bit hard to debug what are the errors that AWS API  Gateway returns.

Since `context.fail` expects a message (string) and all examples (sign in, signup...) are returning an object [1], as a response you usually get something like:

[code]

[1] Example error thrown:
[code]

Temporarily I changed some of the functions to

[2015-09-01 03:05] ac360 commented on #83
@B-Scan This is something I need to research as well, but have been too busy working on other components for JAWS v1.

With your mapping template approach, are you able to get API Gateway to return the same HTTP response code?  I believe you must return an error string to trigger the lambda error regex and render the right status code, correct?  It's been about a month since I've looked into this

[2015-09-01 03:05] #80 closed

[2015-09-01 11:51] B-Scan commented on #83
@ac360 yes, with setting custom integration response that was triggered with lambda error regex, I was able to get the right status code.

I posted a [thread](https://forums.aws.amazon.com/thread.jspa?threadID=215388) on AWS forum to see is there any other way to return an object instead of a string for errors. If not, I can make some changes and submit a PR with string only version. If you are ha

[2015-09-02 11:32] jwulf opened #85 "JAWS V1.0 Installation Guide"
Hi, I can't test or contribute for 1.0 at the moment because I have no idea how to install it.

Can you throw some rough instructions in this issue? If you can I'll test and document them.

And I get that it may well change before 1.0 is baked, but this will allow me to get up to speed and we'll have some install docs evolving along with the code.

[2015-09-02 11:38] tobyhede commented on #85
Second to this. I am lost, but would love to help.

[2015-09-02 13:09] doapp-ryanp commented on #85
There is intentionally not any docs for the v1.0 branch because it is still a WIP.  We are working hard on getting it ready for beta and don't want to be spending time fielding issues on a feature branch that is changing rapidly.

With that said we are very close to beta.  Keep an eye on the [doc](https://docs.google.com/document/d/1SeTgtsQc620vcwgGMZ4F2yuWVf-A3JmpTn1VT8pKYsA/edit#) for progress (

[2015-09-02 13:09] #85 closed

[2015-09-02 14:34] ac360 commented on #85
@jwulf @tobyhede Thanks for waiting on us :)  We're almost to a beta for version 1 (maybe 1-2 weeks away).  At that point, we'd really appreciate your help.

[2015-09-03 13:13] jwulf commented on #85
git clone the v1.0 branch, for example into `~/workspace`.

add something like this to `~/.bashrc` (or `~/.bash_profile` on a Mac):

`alias jaws-cli="~/workspace/JAWS/bin/jaws"`

Then do `source ~/.bashrc`.

Now you can do:
[code]

This launches the wizard and creates a new project with scaffolding. Not much to see yet. There is a `jaws generate` command (to generate a lambda stub) described in th

[2015-09-04 17:16] eahefnawy opened #91 "Any ETA on v1.0?"
I've downloaded and tested JAWS (master) and it's working great. Now I'm ready to dig deeper and create some modules/lambda functions for image resize, payments, twilio...etc. However, looking at the v1.0 specs on google docs, I'm not sure if I should wait for v1.0 for a more "stable" architecture, or is it safe to write some modules now and they should "probably" work with v1.0?

I know that @ac3

[2015-09-04 17:27] doapp-ryanp commented on #91
Roughly 1 week away. Check [our doc](https://docs.google.com/document/d/1SeTgtsQc620vcwgGMZ4F2yuWVf-A3JmpTn1VT8pKYsA/edit#)

Hold tight we will be opening things up for help soon....

[2015-09-04 17:27] #91 closed

[2015-09-04 17:31] eahefnawy commented on #91
haha yeah I've seen the "1 week away" announcement, but wasn't sure **when** it was announced.

Thanks for your hard effort guys! I'll be waiting ;)

[2015-09-04 17:51] doapp-ryanp commented on #91
oh yea duh, no frame of ref :) I've updated the doc.  Thanks!

[2015-09-05 20:55] MatthewRayfield commented on #57
There isn't AWS-SDK support for API Gateway, but there seems to be an API for it: https://docs.aws.amazon.com/apigateway/api-reference/

[2015-09-07 10:59] tobyhede opened #96 "Deploy from S3"
Lambda can be setup to deploy from S3, useful for tying in with a CI pipeline.

Would it be possible to add to a module's `jaws.json` manifest?

[2015-09-09 16:01] mumoshu commented on #83
@B-Scan @ac360 Hi. I've had the same issue and here's the workaround I use:

In your lambda function:, use:

[code]

For your integration response's Lambda Error Regex and Method response status, use:

* `\{"status":4.*` => 400
* `\{"status":5.*` => 500
* and so on...

It works as far as the `status` is the first property in the error object.

Finally, in your integration response's mapping templa

[2015-09-11 01:33] boushley opened #101 "Stage naming needs validation and maybe specific transformations"
It looks like you can only currently use stage names that are lowercase alphanumeric. Due to the mix of services consuming these names and some [`toLowerCase` calls](https://github.com/jaws-framework/JAWS/blob/546cd9cb31936682449a8b937cfc9a9c700b3044/lib/commands/deploy_api.js#L686) in different commands.

It looks like currently CloudFormation requires names to be alphanumeric w/ dash (no undersc

[2015-09-11 01:37] boushley commented on #101
I also think it's interesting to see how others are using stage name.

I ran into this because I'm working in a team environment and was trying to setup a stage as `boushley-dev`. That blew up at the point of deploying to API Gateway so I switched to `boushley_dev`. That blew up when creating the CloudFormation Template. So I switched to `boushleyDev` which blew up when `jaws deploy api` couldn't

[2015-09-11 01:47] ac360 commented on #101
@boushley Great find!  You're close to this issue, which option do you prefer?  Option 1 sounds simplest.

I'm currently thinking about changing the naming convention for all JAWS resources, so this is timely.  I'm also thinking about giving each JAWS project a unique ID and including it in the names of all JAWS-related resources on AWS, as opposed to using the project's name which we're doing cur

[2015-09-11 01:56] boushley commented on #101
@ac360 I think option 1 would be good enough for now. Option 3 would be a great solution, but especially for the stage this project is at I don't think the work to benefit ratio is high enough.

Glad to hear the 9/14 date again... after the comments in the V1 Google doc I wasn't sure :)

On the idea of a unique ID that's a tough one. When looking at my AWS resources it is super handy to see which

[2015-09-11 01:57] boushley commented on #101
@ac360 Also, I keep forgetting to say it, Thanks! This project is fantastic! When I saw API Gateway released I was super excited about this possibility and instantly wanted something like this. I'm excited this project is so far along!

[2015-09-11 02:10] ac360 commented on #101
@boushley Please put everything in the V1 Google doc for now.  Comment everywhere you need to.  Your opinions are good ones.  The V1 doc is a bit behind, but I will update it tonight.

Thanks for your support.  I'm working full-time on this.  V1 is going to be a game-changer.  Hopefully JAWS will save all of us developers tons of money, tons of devops time, and then we will be forced to do other t

[2015-09-11 02:11] boushley commented on #101
@ac360 hopefully you can become re-acquainted with the outdoors soon.

If there's any way I can help, let me know. I understand how time consuming it is to spin someone up on a project though, so if you're heads down until v1 beta hits, I totally understand.

[2015-09-11 02:26] ac360 commented on #101
@boushley Def heads down until Monday.  At that point, we're going to seek everyone's input and throw out some features we need but didn't get to, in case anyone wants to implement them.

[2015-09-14 01:25] bkeyser opened #105 "Creation of CloudFormation stack never completes"
Using v1.0 branch as of September 13, 2015

When creating a new project, the command does not complete and reports that the CloudFormation stack is being created.

[code]

The status of the CloudFormation stack is shown as *CREATE_COMPLETE* through the AWS console.

[2015-09-14 01:27] bkeyser opened #106 "Unable to select alternative user credentials"
Using v1.0 branch as of September 13.

When attempting to select a non-default profile user by choosing the number 2 in the example below, the JAWS cli gives the following error

[code]

[2015-09-14 06:18] ac360 commented on #106
@bkeyser What operating system are you using?

[2015-09-14 07:40] dekz opened #107 "Error on jaws new"
[code]

[2015-09-14 08:24] ac360 commented on #107
@dekz Are you using `jaws-framework` v0.9.1?

[2015-09-14 08:26] dekz commented on #107
bleh I was in the wrong working directory at that stage.

Maybe a check for `jaws.json` or `jaws-cf.json` and a nice user message.

v1.0

[2015-09-14 08:26] #107 closed

[2015-09-14 08:59] dekz commented on #106
This is reproducible if you try to keypress '2' then 'Enter', rather than use the `Up` `Down` navigational arrows.

[2015-09-14 09:49] eahefnawy opened #109 "Error on selecting region when creating a new project"
To reproduce, just create a new project, follow the steps till you get to the select region step, once you select a region, you should get this error.

This seems to be too basic to be the first one to notice it, so I'm guessing it might be specific to my env. I'm running on OSX Yosemite.

anybody else facing this issue?
[code]

[2015-09-14 11:15] vsochinsky commented on #49
Just wanted to point that you currently can't use Elasticache without connecting it to EC2 instances. That would be really great feature for serverless architectures though, I hope they're working on this.

[2015-09-14 15:29] bkeyser commented on #106
I am using the same OS as deck:  OS X 10.10.5 and the error was generated when I pressed the number 2.

[2015-09-14 16:35] ac360 commented on #106
Thanks all!  The numbers were a design touch but unnecessary.  I've removed them in v0.9.2.  Please upgrade your `jaws-framework` module.

[2015-09-14 16:35] #106 closed

[2015-09-14 17:45] boushley commented on #109
This is actually because you've finished the new process, unrelated to region selection.

I believe if you create a `.aws` directory in your home directory it should solve this problem.

Looks like when we or the AWS library go to create the credential file that if `~/.aws` doesn't exist things fail.

[2015-09-14 19:18] doapp-ryanp commented on #107
I added some validation logic (including this check) in https://github.com/jaws-framework/JAWS/commit/9b8c2ed60281c92491832c3aac94b059e89fc805

Will be coming on 0.9.2 release here soon

[2015-09-15 06:59] nil1511 opened #120 "[v1] CredentialsError: Missing credentials in config"
On setting ~/.aws/credentials as shown in the wiki
[code]
JAWS is not able to create new project
[code]
[default]
aws_access_key_id = AKIAIOSFODNN7EXAMPLE
aws_secret_access_key = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[code]

[2015-09-15 07:05] dekz commented on #120
Wiki has been updated:

https://github.com/jaws-framework/JAWS/wiki/v1:-AWS-Account-setup/686c35d40d00741cfc4db8dea23f034b1121c713

[2015-09-15 07:06] #120 closed

[2015-09-15 15:14] jodagm opened #121 "Question: model_aws used to handle common AWS.config.update"
Hi there,

In earlier versions there used to be /lib/models/ as common place for AWS config update (and also all dynamodb models). This is no longer part of the generated project.

what is your recommended approach to getting a configured AWS sdk object:
var AWS = require('aws-sdk');

I understand that the dymanodb models should actually be lambdas defined under
/back/lambdas/users-dynamodb-crud/l

[2015-09-16 12:21] eahefnawy commented on #109
yep that solves it! thanks a lot @boushley! I created the credentials file as stated [here](https://github.com/jaws-framework/JAWS/blob/master/docs/admin-env.md). It's mentioned in the docs, I guess I missed it :)

However, since it asked me for my access key and secret when the file didn't exist, shouldn't it create the file for me? I imagine someone new to AWS could struggle a bit with this erro

[2015-09-16 12:28] eahefnawy opened #123 "What Are the Most Important Modules That Are Needed?"
I know you guys worked on a basic users module, but how about a small list of modules that are essential to build the JAWS ecosystem? what's the highest priority functionality do you think is needed at this point?

Maybe create a markdown file with that list, and have the community PR their ideas of the lambdas modules they'd like to have?

[2015-09-16 13:56] boushley commented on #109
Glad you got it working. It definitely is a bug. It would have created the file for you if the folder had existed. We need to extend the tool to create the folder first.

Interested in opening a pull request fixing the problem?

[2015-09-16 14:25] doapp-ryanp commented on #109
Good catch. I'll fix this in the `cf-deploy` branch that we are using to do the huge refactor for v1.

[2015-09-16 14:45] doapp-ryanp commented on #109
Closing. Fixed in https://github.com/jaws-framework/JAWS/commit/488ec8db6cb34526b5a2441f04ec5e4eb3ed3b19#diff-d20b04e7995c472fd8d658bd13b486feR80

[2015-09-16 14:45] #109 closed

[2015-09-16 14:46] doapp-ryanp commented on #109
hmm that totally pasted like poop. https://github.com/jaws-framework/JAWS/commit/488ec8db6cb34526b5a2441f04ec5e4eb3ed3b19#diff-d20b04e7995c472fd8d658bd13b486feR77

[2015-09-16 14:48] doapp-ryanp commented on #109
Sorry for the spam. my direct line linking in the commit diff is not working. its in there, just search for `/aws.js`

[2015-09-16 16:17] ac360 commented on #123
Let's get it going in this Issue.  In the next few days, I'll move it to [a wish list located here](https://github.com/awsm-org).

Below are themes.  People are going to want various expressions of these themes (this one uses SES, this one uses Mailchimp).  But, imagine a world where all of this stuff is already written in aws-modules ready for lambda deployment(!!!)

* **Users/Sessions CRUD** - B

[2015-09-16 16:52] eahefnawy commented on #123
Awesome! that should be enough to get the ball rolling! But I thought we already have Users/Sessions CRUD?!

[2015-09-16 16:55] ac360 commented on #123
I have to rewrite it slightly for aws-module format.  But it's one of those aws-modules that will implemented several ways.  Of interest, is doing it with AWS Cognito too.  We're making one change to the aws-module dir structure today, after that, we should be good to get going.

[2015-09-16 16:59] eahefnawy commented on #123
oh I see! it seems that AWSM is a completely separate entity from JAWS. So I'm guessing the whole jaws.json format will be replaced with awsm.json? Or in other words, I should follow the structure provided in the AWSM repo, is that correct?

[2015-09-16 17:03] eahefnawy commented on #109
ha! perrrfect! thanks!

[2015-09-16 17:04] ac360 commented on #123
@eahefnawy Yes, JAWS projects will have a jaws.json in their root folders, but all aws-moodules will have awsm.jsons in their modules.  The dir structure in the AWSM repo will change slightly today, but I don't think it will affect your development at all.

Also, adding another list item to my list above.

[2015-09-16 23:37] ac360 commented on #121
@jodagm Sorry for the slow response!

Your question is about JAWS V0 architecture.  We are currently rolling out JAWS V1 BETA, which is entirely different than JAWS V0, but much, much better.  If you wait just a few more days we will be publishing lots of educational material which answers a lot of your questions in the context of JAWS V1.

With respects to JAWS V0 architecture, keep in mind you d

[2015-09-17 06:37] ac360 commented on #123
@eahefnawy Ok, we're done with the module structure:  https://github.com/awsm-org/awsm

[2015-09-17 07:03] eahefnawy commented on #123
woooo! Awesome! looking into it!

[2015-09-17 07:04] eahefnawy commented on #123
haha I like the hand gesture in the logo

[2015-09-17 10:58] jodagm commented on #121
Thanks, Austen

I am looking forward for V1, as I our company is just starting a big project and JAWS framework is just what we were looking for.

Cheers,
Jonathan

[2015-09-17 19:27] ac360 commented on #123
@eahefnawy Thanks!  We're currently building [an aws-module that provides essential JAWS utilities](https://github.com/jaws-framework/jaws-core-js) which will be the first example.  It's a bitt different since it doesn't actually have any lambda functions or endpoints, it consists only of code meant to be shared across other aws-modules in a JAWS project.

[2015-09-18 06:29] DoWhileGeek commented on #123
+1 Stripe webhooks

[2015-09-18 09:06] eahefnawy commented on #123
interesting, I was just about to ask how env vars should be handled in aws modules! Should I expect that the env vars that are needed for the module will be provided by the developer? I think the JAWS framework has a way to handle that, right?

Also, what about node modules? according to AWS Lambda docs, the node modules folder should be in the root directory of the lambda. However, since a lot of

[2015-09-18 17:02] ac360 commented on #123
@eahefnawy Put environment variables that your awsm expects in the "lambda" properties in awsm.json files.  You can see [an example here](https://github.com/awsm-org/awsm/blob/master/awsm.json).  It's up to the user to set those.  But that is where you specify which ENVs your awsm needs.

In the [awsm README's Structure section](https://github.com/awsm-org/awsm#structure) you can see that the node

[2015-09-18 17:54] markogresak opened #126 "Warning: .then() only accepts functions but was passed: [object Object]"
I was trying out JAWS by following the quick start guide. When I try to use `jaws dash` to deploy selected resources, I get this warning message:

[code]

I have first tested it in node v4.0.0 and the above is from node v0.12 (both installed via `nvm`), but both result in the same warning message.
The deploy still finishes, but the linked endpoint is unresolvable.

[2015-09-18 18:43] ac360 commented on #126
@markogresak Sorry!  We're about to merge a huge refactor of JAWS into the master.  This will happen in the next 2 hours.  This issue should be resolved then.

[2015-09-18 18:45] markogresak commented on #126
Thanks for the reply, I'll wait for the next version to be available.

[2015-09-19 04:39] binoculars opened #127 "Requires shelljs installed globally before jaws cli works"
Probably should be in the README or not require a separate global install (don't know if this is possible, just something to be aware of).

Before:
<img width="563" alt="screen shot 2015-09-19 at 00 34 20" src="https://cloud.githubusercontent.com/assets/3374510/9974613/54b1330c-5e66-11e5-8130-ec9b6bcc2a73.png">

After:
<img width="567" alt="screen shot 2015-09-19 at 00 36 31" src="https://cloud.gi

[2015-09-19 13:11] markogresak commented on #127
The problem is probably that [shelljs is a devDependency](https://github.com/jaws-framework/JAWS/blob/master/package.json#L36) and therefore isn't installed with `npm install`.

[2015-09-19 14:29] markogresak commented on #126
Fixed in v1.0.0.

[2015-09-19 14:29] #126 closed

[2015-09-19 22:06] DoWhileGeek opened #129 "jaws module delete <module>"
I've been playing with the new v1 (woo) features, and I've been creating some stupid stub modules, and I was hoping there would be a delete/remove command, but there wasn't. Is there any chance of this happening?

[2015-09-19 22:07] jodagm opened #130 "deploying lambda with a different version of aws-sdk"
Hi,

My lambdas uses  "aws-sdk": "^2.2.3" (mainly for the new  AWS.DynamoDB.DocumentClient), however according to the docs lambda still runs with sdk version 2.1.35.
When I remove "aws-sdk" from the exclude list in jaws.json, I get this error when testing the lambda by invoking it from API GW console:

 "errorMessage": "Cannot find module '/tmp/dev_-_projectName_-_lambdaName@1442699280155/back/lib

[2015-09-19 22:09] DoWhileGeek opened #131 "Bitcoin donations"
I love this project, and want to see it thrive, so I was wondering if the organization could add a bitcoin address that folks like me could send our monetary thanks to.

What do you guys think?

[2015-09-20 04:59] eahefnawy commented on #131
+1

[2015-09-20 05:02] DoWhileGeek commented on #130
I'm experiencing this as well, its quite a debbie downer.

[2015-09-20 07:03] dekz commented on #131
Also JAWS stickers that can be purchased! (on stickermule)

[2015-09-20 07:03] DoWhileGeek commented on #131
+1

[2015-09-20 07:10] dekz commented on #130
I believe [this issue](https://github.com/aws/aws-sdk-js/issues/696) is the cause of aws-sdk being excluded.

Are you able to try removing the browserify builder and attempting to build your lambd?. Everything is moving quite quickly at the moment.

In the jaws.json there is a option for a different builder:

[code]

[2015-09-20 10:16] jodagm commented on #130
Thanks @dekz it looks like the root cause.

are you suggesting implement another builder? I think the quickest workaround could by keeping browserify but also adding node_modules/aws-sdk to the zip alongside the minified lambda.
I manually edited the zip and uploaded lambda using the console and it worked.
What do you think?

[2015-09-20 18:16] jro opened #132 "jaws module create fails"
I just setup, so this might be a problem specific to my environment. But if I try to create a new module I get an error re: missing "download" module. I've checked and it should be installed globally.

    $ jaws module create tacos new
    module.js:338
        throw err;
        ^

    Error: Cannot find module 'Download'
    at Function.Module._resolveFilename (module.js:336:15)
    at Function

[2015-09-20 19:29] #127 closed

[2015-09-20 21:03] binoculars commented on #130
I would suggest including the current SDK version in the zipfile or using the legacy library [awslabs/dynamodb-document-js-sdk](/awslabs/dynamodb-document-js-sdk) until AWS updates the AWS SDK for JavaScript to ^2.2.0 for Lambda.

[2015-09-20 22:09] jodagm commented on #130
Thanks @binoculars, I am trying to figure out if this can be done using one of the existing options in jaws.json (maybe package.includePaths)

[2015-09-21 07:13] jodagm commented on #132
+1
I get the same thing,
Download = require('Download');
should change to:
Download = require('download');

[2015-09-21 08:28] jodagm opened #135 "Question: is there a limitation on aws_module lambda folder depth?"
Hi,
when writing CQRS ES server, there are many cases when a single domain action is actually handled by multiple lambdas. For example: a user signup process might begin with a lambda that is called by API Gateway that simply performs basic validation and creates a command (maybe the command is then pushed to SNS topic). A different lambda handles the command and issues domain events. these events

[2015-09-21 09:26] jodagm opened #136 "cannot have '_' in lambda folder names"
the jaws deployment generates the CF lambda resource name by using the lambda folder name.
when the folder name contains '_' character, this error is returned:

I run:
jaws module create users list
and renamed list folder to 'list_the_users' (also modified awsm.json to reflect this change)

now lambda deployment fails:

JAWS: - Running CloudFormation lambda deploy...{ cause:
   { [ValidationError:

[2015-09-21 12:45] jodagm opened #138 "jaws new stage failes on malformed project's jaws.json"
the project's jaws.json is created without a 'project' attrbute, which is required by new stage cli

new_stage_region command validates that there is a project attribute:

if (!_this._JAWS._meta.projectJson.project || !_this._JAWS._meta.projectJson.stages)
and throw JawsError

[2015-09-21 13:52] doapp-ryanp commented on #131
Thank you very much for the support. We will work on adding one.  Also, we are in process of setting up a teespring campaign.  Stay tuned..

[2015-09-21 13:59] doapp-ryanp commented on #130
Yep @dekz is correct aws-sdk for node [does not support browserify](https://github.com/aws/aws-sdk-js/issues/696).  It is a pretty big bummer.   Maybe some +1's in that thread will help give them more incentive to address the issue in future versions.

In the meantime, I architected JAWS's bundling function to handle this scenario.  What you need to do is leverage the `includePaths` in the `optimi

[2015-09-21 14:02] doapp-ryanp commented on #130
Also while this is a bit un-related, I'm guessing people in here care about how AWS manages runtime versions going fwd. Check [this formum post](https://forums.aws.amazon.com/thread.jspa?threadID=180512&tstart=0)

[2015-09-21 14:02] jodagm commented on #130
This is how I got this working, still optimizing with browserify

created this folder under /back
/back/aws_sdk_deploy/node_modules/aws-sdk
containing the latest aws-sdk

in the module's awsm.json: added aws_sdk_deploy to the includePaths

 "lambda": {
    "envVars": [],
    "deploy": true,
    "package": {
      "optimize": {
        "builder": "browserify",
        "minify": true,
        "ignor

[2015-09-21 14:41] doapp-ryanp commented on #132
Fixed. Thanks. https://github.com/jaws-framework/JAWS/commit/56bc47ea009807947d3fb9cb496f2e32d997e1a8

[2015-09-21 14:41] #132 closed

[2015-09-21 14:45] ac360 commented on #129
@DoWhileGeek Good idea!  I just put it in the Road Map for v1.1

[2015-09-21 14:47] doapp-ryanp commented on #135
Functionally I do not see any limitation.  We do have on our internal to-do list to test this scenario with a non-browserified deploy.  Would you be able to run a proof of concept against your dir structure?  Run 2 tests: one with browseify and another without.

[2015-09-21 14:48] jodagm commented on #135
Sure,
Will update with the results

[2015-09-21 14:58] doapp-ryanp commented on #135
wonderful thanks!

[2015-09-21 15:00] doapp-ryanp commented on #138
This is a bug. the `project` attribute was removed with the v1.0 refactor.  I will go through the new region and new stage code here today and make sure its upgraded to v1.0 changes.

[2015-09-21 15:45] joostfarla opened #139 "Slow API gateway endpoints"
When deploying Lambda functions with `jaws dash`, the resulting endpoints are very slow (500ms+). The strange thing is that the exact same Lambda function is performing well (+/- 40ms) when creating the API gateway endpoint manually. API gateway and Lambda are both in regio eu-west-1. I'm aware of the Lambda cold-start issues, but the problem remains when firing multiple subsequent requests.

The

[2015-09-21 15:56] jodagm commented on #135
well, it works just fine. I created one more folder under aws_modules/my_module/action/lambda1
I just had to fix the relative require of jaws-core-js/env in the handlers.
it works both optimized and non optimized.

That will help me organize my lambdas better.

[2015-09-21 16:01] doapp-ryanp commented on #135
Ok excellent. Nice to hear that something your coded for but didn't actually test works ;)

[2015-09-21 16:01] #135 closed

[2015-09-21 17:06] ac360 commented on #139
@joostfarla Thanks, I'll look into this tonight :)

[2015-09-21 17:33] DoWhileGeek commented on #129
Neat!

[2015-09-21 20:18] joostfarla commented on #139
@ac360 thanx! Did you manage to reproduce this in other regions?

[2015-09-21 21:16] joostfarla commented on #139
When I query the AWS API for the integration details of both calls, the most important difference I noticed is that the first (slow) request contains a key "credentials" which is absent in the manually created method. Could this be be IAM related?

[2015-09-21 21:26] jodagm opened #140 "Problem deploying new endpoints of a different resource - method not created"
I created a clean jaws project
[code]

opened API GW console and saw the new endpoint
/users/list

[code]

opened API GW console and saw that only /organizations resource was created, without the list method.

then I tried the following:
1) deleted the API from the console
2) deleted restApiId from the project's jaws.json

deployed bother lambdas and endpoints again.
now I see the /organizations/l

[2015-09-22 03:50] doapp-ryanp commented on #130
awesome. thanks for the follow-up. closing.

[2015-09-22 03:50] #130 closed

[2015-09-22 06:16] ac360 commented on #140
@jodagm Thanks for this.  I'm going to implement some API Gateway improvements tomorrow, this is on my list.

BTW:  You've been very helpful reporting issues.  It's appreciated :)

[2015-09-22 06:35] jodagm commented on #140
Thanks @ac360
You are working 24/7 on this framework, I'm working 24/7 on building a production system based on it ;-)

[2015-09-22 07:16] ac360 commented on #139
@joostfarla This appears to be an API Gateway issue.  The AWS team has been alerted and they are working on it.  The problem is detailed in [this issue](https://github.com/awslabs/aws-apigateway-swagger-importer/issues/41).

I'm going to implement the fix suggested in that issues tomorrow, along with some other API Gateway updates.  Thanks again for spotting this issue.  It looks like AWS didn't e

[2015-09-22 12:54] joostfarla commented on #139
Thanx! Great to see such a quick response!

[2015-09-22 23:11] ac360 commented on #140
Found the issue.  JAWS isn't trained to handle APIG resources with the same path (2 "list" resources).  Fixing it now.

[2015-09-22 23:20] jodagm commented on #140
Awesome!
Thank you for letting me now.

[2015-09-23 00:05] jodagm opened #145 "Question: how do I grant my lambads access to more resources"
My lambdas are starting to access more AWS resources (DynamoDB, SNS, SQS) and I need to add these policy statements to my LambdaRole.

I see that cloudformation resources-cf.json defines these roles and I tried to update this file, allowing access to additional resources, but this does not sync with AWS.

What should be the procedure of updating the LambdaRole?
Can I add multiple Lambda Roles and

[2015-09-23 00:56] doapp-ryanp commented on #145
`resources-cf.json` is indeed the place to update ACL for your lambda role - specifically `IamPolicyLambda.PolicyDocument.Statement`.  After you make updates , you will have to manually run the update via CloudFormation admin UI or AWS CLI.  We are working on adding JAWS cmds to do this.

There are tons of docs on CloudFormation and IAM.  [Here is a decent place](http://docs.aws.amazon.com/AWSClou

[2015-09-23 04:02] whatupdave opened #147 "Configuration re-use"
There's a lot of repeated configuration throughout a JAWS project in the various JSON files. For example I have a multiline RequestTemplate that I need in multiple modules. It would be awsm if I could define that once and reuse it.

Personally I like the approach that webpack uses by allowing configuration to be javascript files that can require other files. An example webpack config might look li

[2015-09-23 05:42] jodagm commented on #145
@doapp-ryanp thank you for the pointers.

[2015-09-23 08:20] joostfarla commented on #147
Swagger uses this thing called JSON Reference. Could this be a solution?

More info: http://tools.ietf.org/html/draft-pbryan-zyp-json-ref-02

[2015-09-23 13:27] doapp-ryanp commented on #147
We went JSON because JAWS is going to (soon) support all languages that Lambda does (more coming out soon).  @joostfarla that sounds very intriguing.  I will take a look.

[2015-09-23 19:35] doapp-ryanp opened #148 "add awsm module versioning support to module cmd"
I'd like to leverage the release functionality of github as a initial way to manage awsm module versioning. the `jaws module install/update` command needs to be enhanced to accept versions and utilize github release url's to find said version.

[2015-09-23 19:36] ac360 commented on #139
Still working on this one...  Ran into another AWS bug preventing me from implementing the fix.

https://forums.aws.amazon.com/thread.jspa?threadID=216626&tstart=0

[2015-09-23 20:07] ac360 commented on #148
:+1:

[2015-09-23 20:40] goliatone opened #149 "Creating CloudFormation Stack for your new project fails"
Happy to provide any further information you might need

[code]

[2015-09-23 20:45] doapp-ryanp commented on #149
the error says 'Limit for stacks has been exceeded'.  You have hit your AWS acct limit for # of CF stacks. u need to request an increase.

[2015-09-23 20:45] #149 closed

[2015-09-24 00:20] ac360 commented on #139
UGH!  Took all day to fix this one.  But I think I fixed it.  I ran some tests and indeed ~500ms improvements now.  I'm not sure if this will result in a breaking change though.  But it's fixed.  Thanks for pointing this one out @joostfarla.   This is a huge win for JAWS :+1:

Fixed in 5b5371b0afdd940d16ea96e12d622510955168a0

[2015-09-24 00:20] #139 closed

[2015-09-24 01:33] ac360 opened #151 "Get Multi-Region Deployment Working"
Currently, you can't deploy to multiple regions from JAWS dash, only one at a time.  However, the lambda and endpoint deployment code was all written for this to be possible.  The dash just needs to be fixed.

[2015-09-24 02:28] goliatone commented on #149
apologize, obviously did not properly read the error... not that I'm that familiar with CF anyhow. Thanks

[2015-09-24 03:24] boushley opened #152 "Creation of aws credentials files does not function"
When running jaws on a fresh system without the admin credentials setup yet you get the following error while after filling out all of the information for `jaws new project`

[code]

I've got a branch that works past that [on my fork](https://github.com/boushley/JAWS/tree/fix-credential-creation) however it then runs into a problem where the `.aws/credentials` file gets created but is empty.

[2015-09-24 03:25] boushley commented on #152
Looks like `fs.appendFileSync` isn't behaving as we expect.

[2015-09-24 03:46] boushley commented on #152
Tracked down the issue, `util.writeFile` isn't synchronous and we were treating it as such. Opened #153 that should resolve this.

[2015-09-24 07:51] joostfarla commented on #139
This is great! @ac360, many thanx for your hard work!!

[2015-09-24 08:47] joostfarla commented on #148
I've been thinking about this. Some key module features I'm missing atm:

* A way to define AWSM dependencies in the project configuration (probably jaws.json). This would allow one to bind to specific versions or version ranges (Semver compatible) of vendor packages. This would also remove the need to include vendor packages in a project (these could by ignored by version control).

* The "module

[2015-09-24 14:07] boushley opened #154 "`jaws deploy resources` is missing"
We need to add the `deploy resources` command again.

[2015-09-24 14:46] ac360 commented on #154
Thanks @boushley.  I'm starting this right now!

[2015-09-24 20:12] ac360 commented on #154
Fixed in a2dce9c8be94f39f6f71d2fbaa22d0c512ff056a  Going to update to JAWS v1.2 today.

[2015-09-24 20:12] #154 closed

[2015-09-24 20:45] boushley commented on #154
Great thanks!

[2015-09-24 21:49] jodagm opened #156 "Invalid permissions on Lambda function"
Just created a new project using jaws v1.1.0
then run:

[code]

deployed lambda and endpoint with jaws dash
I get this error when testing the endpoint from APIG console:

Execution failed due to configuration error: Invalid permissions on Lambda function.

[2015-09-24 21:52] ac360 commented on #156
Thanks we're getting reports of this now.  Could you share your awsm.json?

[2015-09-24 21:53] jodagm commented on #156
sure, here it is:

[code]

[2015-09-24 22:15] ac360 commented on #156
Thx I will figure this out tonight or first thing tomorrow :)

[2015-09-24 22:20] jodagm commented on #156
Thanks,
could be related to the APIG performance fix

[2015-09-25 14:42] ac360 commented on #156
Update:  I received some feedback from the API Gateway team and will be working on a fix for this later today.

[2015-09-25 18:10] #152 closed

[2015-09-26 02:57] boushley opened #158 "Add non-interactive mode that disables spinners"
I currently run some deployments for this from my CI server. The spinner adds quite a few lines to the logs.

It would be nice to skip the spinner if jaws is being run in a non-interactive manner (we can detect this via `process.stdout.isTTY`). We may also want to add a flag to force non-interactive mode. Is this something you're open to me implementing?

I'm thinking of creating a method in `util

[2015-09-26 16:44] ac360 commented on #156
@jodagm Could you try now with JAWS v1.2?

[2015-09-26 16:59] ac360 opened #160 "Changing Project S3 Bucket Organization (while keeping the functionality)"
I did a talk on JAWS on Thursday night and noticed people were confused why the S3 buckets for keeping your JAWS project env vars, lambda backups, and cloudformation templates were created once per project region, and not created for each region AND stage your project uses.  They were right, this is confusing, since it breaks our theme of perfect replication of project AWS resources for each stage

[2015-09-26 17:06] #56 closed

[2015-09-26 17:07] ac360 commented on #52
Fixed in JAWS V1

[2015-09-26 17:07] #52 closed

[2015-09-26 17:07] jodagm commented on #156
Thanks @ac360, it is working again.

I noticed a change in the way lambda.package.optimize.includePaths behaves (I use it to pack the latest aws-sdk with my lambdas), but I got it working.

previous version config:

[code]

latest version config:
[code]

node_modules is now a folder I have under the project's back folder.

bottom line is: everything works!

Thanks,
Jonathan

[2015-09-26 17:07] ac360 commented on #57
API Gateway auto-deployment is in JAWS V1

[2015-09-26 17:07] #57 closed

[2015-09-26 17:09] ac360 commented on #66
We now have [aws-modules (awsm)](https://github.com/awsm-org/awsm) and JAWS V1.  Everything is looking fantastic.  Check out aws-modules if you are looking for an easy way to help.  There is huge opportunity here.

[2015-09-26 17:09] #66 closed

[2015-09-26 17:10] ac360 commented on #44
Fixed in JAWS v1.  No more symlinking!

[2015-09-26 17:10] #44 closed

[2015-09-26 17:10] ac360 commented on #105
Fixed several versions ago :)

[2015-09-26 17:10] #105 closed

[2015-09-26 17:12] #156 closed

[2015-09-26 18:17] shortjared opened #161 "Endpoint deploy command not working, but dash command does"
I may have something configured incorrectly. It looks like regions is not getting pulled out of the Jaws json perhaps?

This was originally built with JAWS v1.1 new project command, could that cause the issue?

Let me know if more details are needed.

[code]

[2015-09-26 19:47] ac360 commented on #161
@shortjared  Good catch!  Fixing this right now..

[2015-09-26 20:16] ac360 commented on #161
@shortjared Could you try JAWS V1.2.2 and let me know if it works now?

[2015-09-26 21:50] jodagm opened #162 "Question: Lambda function names format"
I am trying to figure out how lambda names are constructed, specifically the trailing part that adds 13 random alphanumeric chars.

The reason its important to me is because some of my lambdas are invoked by SWF decider:

[code]

obviously I can only hard code this: '1L7K2VUAN72MB'  just for testing.
Is there a best practice as to how should I refer to a lambda name is such a scenario?

Thanks,
Jo

[2015-09-26 22:10] ac360 commented on #162
@jodagm Hmm, I'm not sure how to fix this.

Lambda names are generated via the generateLambdaName function in utils/index.js.

However, the random string is an ID that CloudFormation adds to the end of the Lambda.  JAWS has no control over that.  Its purpose, I believe, is to help CloudFormation identify Lambdas that belong to certain stacks.

Programmatically, you could call CloudFormation descri

[2015-09-26 22:13] jodagm commented on #162
Thanks @ac360 , that's a good idea. I'll dig into that.

[2015-09-26 22:30] ac360 commented on #162
Good luck! :)

[2015-09-26 22:30] #162 closed

[2015-09-26 22:30] ac360 commented on #161
@shortjared Feel free to re-open this if it's not working.  I will fix it asap :)

[2015-09-26 22:30] #161 closed

[2015-09-26 23:09] boushley commented on #160
Are we going to make people pick a bucket name for each of these? Or are we going to assume they give us a unique bucket prefix / suffix, and then we'll be appending the stage / region to the name for them?

Since bucket names must be globally unique people can get a bit picky about bucket names. There is also a limit of 100 buckets per account. I'm guessing most people won't run into this, but it

[2015-09-26 23:16] boushley opened #163 "Add gateway routes prefix"
As I've been working on [an awsm module](https://github.com/boushley/awsm-cloudfront) I found that I wanted to make it easy to prefix all of my API Gateway endpoints with a particular prefix, something like `api/`.

Would this be something reasonable to add to JAWS directly? I can't think of a ton of other uses cases for it though, other than this one (which I think is really important) so I want

[2015-09-26 23:16] boushley commented on #163
@remicastaing you might care about this one

[2015-09-27 00:26] shortjared commented on #161
Perfect. Fix is good. Really looking forward to catching your reinvent session!

[2015-09-27 00:35] ac360 commented on #160
@boushley Here is how I'm currently implementing it.   Let me know if you have suggestions...

* User creates a new project and is now prompted to enter a domain.
* Domain is persisted to their jaws.json
* All buckets are then created in this format region.stage.domain (us-east-1.prod.myapp.com).  Hopefully, this will ensure uniqueness, as long as their domain is unique.
* A new `jawsBucket` prope

[2015-09-27 00:44] shortjared opened #164 "tag --tag-all needs behavior clarity"
`jaws tag --tag-all` expects lambda or endpoint to be defined.

However, I was confused because I ran `jaws tag --tag-all` and it appeared to default to tagging only lambdas. See https://github.com/jaws-framework/JAWS/blob/b52b338f209fd38c3799d2cc26fae183d2f44f6e/bin/jaws#L174

[code]

It took me looking at the source to understand what was going on.

I would expect either...
a) Explicit failure w

[2015-09-27 00:49] boushley commented on #160
Docs still say 100: http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_s3 although that may be out of date...

I might add something like `jaws-` to the front of the buckets if you're going to use their domain name as the base. So something like `jaws.us-east-1.prod.myapp.com`

Other than that, this looks great!

[2015-09-27 01:12] boushley commented on #164
Good catch!

I would personally vote for option b, tag all without a type flag tags everything.

We should probably get an opinion from @doapp-ryanp or @ac360 ?

[2015-09-27 01:30] ac360 commented on #161
Thanks @shortjared It would be great to meet you.  Enjoy JAWS :)

[2015-09-27 02:02] ac360 opened #165 "Middleware Support In jaws-core-js"
Our next big priority is to include middleware support within the jaws-core-js module.  The benefit here is that it defines a middleware standard for awsm's to use.  Things to consider:

* AWS has announced versioning support coming soon (re:invent) for Lambda.   ES6 features (i.e., generators) are very cool.  But what are the consequences of building ES6 features into jaws-core-js?  If we are goi

[2015-09-27 02:23] boushley commented on #165
I think this is a great idea.

It's true that we should think about this a bit since upgrading will be a pain as things grow (at least if the change isn't backwards compatible).

I think it's essential that we figure out how we want to handle middleware.

Do we want to use a request, response and error flow, similar to express? This has the benefit of being similar to flows that many Node.js devel

[2015-09-27 02:54] ac360 commented on #160
Great idea!  I'm adding in a 'jaws' prefix.

[2015-09-27 06:29] jwulf commented on #165
Here's a middleware module:

https://github.com/jwulf/awsm-middleware

[2015-09-27 08:40] prestomation commented on #160
The bucket limit is still 100. Just last month AWS started raising this limit upon request, this was previously a hard-limit: https://aws.amazon.com/about-aws/whats-new/2015/08/amazon-s3-introduces-new-usability-enhancements/

[2015-09-27 08:54] joostfarla commented on #163
When using custom domains in API gateway, you can add path mappings and set a base path which is essentially a prefix for all your resource paths (e.g. for versioning or hosting multiple API's on a single domain). However, if you're using this behind Cloudfront, this probably doesn't make sense, since the custom domain is probably configured in Cloudfront. In that case, defining the prefix as a re

[2015-09-27 09:26] joostfarla commented on #165
Implementing a standard way of handling middleware could definitely be a booster for the ecosystem!

I think building an own middleware layer is the best option, since we would gain full control on how things can be optimized for working with Lambda and JAWS. It might be worth waiting for Re:Invent, strongly hoping they announce Node v4 support with all the ES6 goodies. With ES6 we could leverage

[2015-09-27 10:45] joostfarla opened #167 "Dependency management needed?"
Great to see new modules popping up every day. This is really exciting!

For the JAWS ecosystem to be able to grow and stabilize, we need to think about how to handle dependencies. The current module implementation is very basic and does not take versioning and underlying dependencies into account (see: https://github.com/jaws-framework/JAWS/issues/148).

Things we have to start debating about:

*

[2015-09-27 11:09] jwulf commented on #167
We're going to replicate npm. I reckon we should just leverage it.

[2015-09-27 11:29] dekz commented on #167
+1 this to me seems like an absolute must.

There is a definite need for user input to configure an AWSM module. DynamoDB table names to name one. The likely place for this is on `module install/update` or `deploy`.

I don't think we should be quick to accept NPM, we should consider the fact that Lambdas support multiple languages and what the projects Goals towards this is.

[2015-09-27 11:46] jwulf commented on #121
How do I access the AWS SDK or models in V1? I have lambdas that use SNS. I'm happy to write an SNS awsum - just need to know how to access the configured AWS object.

[2015-09-27 11:59] jwulf opened #168 "Make aws_modules part of the search path"
What would really work is putting `aws_modules` in the search path for `npm` when deploying/running.

This would make it possible to do this:

`var myAwsumObject = require('myAwsumModule').something;`

So no need to do:

`var myAwsumObject = require('./../../myAwsumModule').something;`

[2015-09-27 12:06] joostfarla commented on #167
I agree we must not reinvent the wheel, we definitely need to leverage existing modules wherever we can. However we first have to agree on the way we want things to work before considering using NPM. Like @dekz said, it's also important things will be made compatible with other platforms (not saying this is not possible with NPM).

[2015-09-27 14:08] ac360 commented on #168
Can npm do this?  The other problem is that we use browserify for optimizing lambdas and browserify would also have to be trained to do this, which may not be possible.

[2015-09-27 14:19] remicastaing commented on #168
You have to overwrite some method used by require to do that. It is no more possible to add other require path.
Before running browserify you would have to copy the required files in the right place.

[2015-09-27 15:01] ac360 commented on #167
This is one we've been thinking about a lot.  Some important considerations:

* aws-modules are (mostly) lambdas and lambdas are your back-end code.
* aws-modules will be edited, unlike npm modules.  Many will consider them templates

Therefore, I believe that aws-modules should be checked into version control.  They are your app's code, after all.

Also, given the above considerations, splitting

[2015-09-27 16:00] ac360 commented on #165
I'm now very much favoring middleware in jaws-core-js.  I think this is going to be our next big priority.

I'm going to update my original post in this thread with these new considerations.  What do you guys think about these points?

* AWS has announced versioning support coming soon (re:invent) for Lambda.   ES6 features (i.e., generators) are very cool.  But what are the consequences of buildi

[2015-09-27 16:31] doapp-ryanp commented on #165
My 2c: Agree version handling, dependency mgmt, awsm  registry, Middleware and user input on module install /upgrade should be priorities.

Re Middleware - I think waiting till after reinvent is essential to see if they announce node 4 and more importantly es6. It will be crucial in keeping codebases lean and small and will help us define Middleware that can grow (that doesn't need to be rewritten

[2015-09-27 16:52] joostfarla commented on #167
I believe it's dangerous to mix up the concepts of modularity and templating. These are in essence two different concepts. When I think of a module, I think of something that is re-usable, loosely coupled and highly cohesive. Templates, on the other hand, are just boilerplate code but could be a valuable (probably the most important) part of AWSM modules though.

If AWSM modules are meant to be ed

[2015-09-27 17:18] ac360 commented on #167
@joostfarla I agree with everything you've said.

I'm very interested in ideas about how to write modules in ways that allow developers to pass customization options for configuration and extensibility.  But I don't know if there is a silver bullet solution here.  I think hackers like to hack.  Especially if the modules themselves handle the application's core logic.  My knee-jerk reaction is that

[2015-09-27 17:24] ac360 commented on #165
At this point, I think we should consider making `jaws-core-js` an npm module instead of an aws-module, to deal with versioning issues.

Further, `jaws-core-js` doesn't have any of the aws-module qualities.  It's not meant to be modified. It contains no lambda, apigateway endpoints or CloudFormation templates.  Therefore, it seems making it a npm module is most appropriate.

As a JAWS principle, p

[2015-09-27 18:25] joostfarla commented on #167
Moving `jaws-core-js` to a NPM package sounds like a great idea!

I think this approach could apply for more use cases. In my case, currently I'm working on an OAuth implementation in JAWS. The authentication logic is something that applies on all my API gateway endpoints, so ideally this would be middleware and separate from all application modules. I don't want people to edit the OAuth logic, bu

[2015-09-27 18:55] ac360 commented on #167
@joostfarla:  We thought hard about enforcing only 1 package.json in the `back/` root.  However, this introduces other complexities...

* The biggest is this makes it more complex to publish aws-modules.  If `package.json` is located within the aws-module itself, then it is easier to publish because you can do so from within the project you are working on.  But, as soon as you force `package.json`

[2015-09-27 19:08] jodagm commented on #121
@jwulf I am still doing that as it was done in v0, by aws models under back/lib
this pattern still works for me as I have multiple aws modules that require dynamo, swf, sns
so back/lib is where is keep all common things.

[2015-09-27 19:41] ac360 commented on #121
@jwulf Doing `back/lib` works.  Not sure what your use-case is, but you could also try this:

[code]

[2015-09-27 19:46] joostfarla commented on #167
Thanks for pointing this out! However, it still feels not maintainable enough.

Some idea that just crossed my mind. What do you think of the following project structure (for JS)?

[code]

Now the workflow is clear. First, we can import the package using NPM (from the root)
```npm install jaws-oauth```

We could provide a CLI command to publish the aws_module in the back directory:
```jaws publish

[2015-09-27 20:29] ac360 commented on #167
Hmm, it is an interesting approach because it is backwards to our previous thinking...

* We can't use symlink.  I got swamped with issues about this in JAWS V0.  The biggest issue is that your global namespace gets crowded/polluted.  As soon as you have more than 1 JAWS project, your symlinks become a total mess.

* We'd have to implement a similar backwards approach for the other programming lan

[2015-09-27 21:18] ac360 commented on #167
I think this is an intriguing way to solve our template + module dilemma.  I'm still thinking it through and dumping more thoughts in here...

I guess the module author could deal with the symlinking if they wanted to.  But everyone using the module should not have to do this.  It's unsustainable.

What do you think of this @joostfarla:

I'm favoring putting awsm.json at the root level, ATM...

**

[2015-09-27 23:01] jwulf commented on #168
It doesn't use $NODE_PATH from the environment?

It looks like it does: https://github.com/substack/node-browserify/issues/72

[2015-09-28 01:07] doapp-ryanp commented on #164
I can see this has already been merged, however I vote for a).

The `type` (see jaws tag -h) is both misleading and currently incorrect IMO.  I think `type` should be changed from optional (`[type]`) to required (`<type>`) and I think the type of `all` should be changed to `both` to be more clear.  I don't vote b) because anytime you do a wide spread modification of something I like to be explicit

[2015-09-28 01:15] doapp-ryanp commented on #167
I haven't had time to read this super throughly, however in some initial projects I've made with jaws I found putting a package.json at the root level of the `back` dir has worked well for node mods that are shared across resource dirs.  This mechanism also lends its self really well to js packaging (via browserify) because of how [node looks for modules](https://nodejs.org/api/modules.html#module

[2015-09-28 01:17] shortjared commented on #164
That's reasonable. I usually favor explicit but to me `--tag-all` felt like an explicit "all" with optional specification. I can fix that and do another PR.

[2015-09-28 02:38] jwulf commented on #167
On the "let's not use npm because other languages" - other languages also have dependency management tools (like ruby gems, gradle for java, etc) and they can be leveraged for those languages when they show up.

We could have awsms as packages that install globally and follow a convention to expose scaffolding.  Atm jaws (like Express) scaffolds a new project from a globally installed module. What

[2015-09-28 02:40] jwulf commented on #167
That was meant to be:

jaws install _some module_

[2015-09-28 05:35] ac360 commented on #167
@jwulf :+1:

`jaws install <module_name>` is going to need a flag to tell it what language/package manager to use then.  For example, `jaws install <module_name> --js` will install from npm.  Perhaps the default can be npm.

If `jaws install` wraps `npm install`, we can then perform pre/post operations without forcing the module author to put pre/postinstall scripts in their package.json

[2015-09-28 05:49] jwulf commented on #167
Making the default npm is good. Sane defaults plus extensibility. Build to the immediate use case. Release early, release often.... all that good stuff...

[2015-09-28 12:11] joostfarla commented on #167
@ac360 @jwulf @doapp-ryanp thanks for your thoughts!

**Module Structure**

I agree it's better to put `awsm.json` in the root of the module package instead of the `awsm` dir!

**Project Structure**

It's conventional for all major frameworks to put the (dependency) configuration file in the root of your project. I think it will cause a lot of confusion when developers have to switch to the `/back

[2015-09-28 14:11] boushley commented on #164
Ryan I see what you mean about frequency of change, but is that what this
tagging concept is about? The tragging idea feels more like is this prod
ready or not. You can deploy just your lambdas easily via `jaws deploy ` so
tagging everything doesn't really change how things are deployed.

If tagging is about what has changed since the last time you deployed we
may want to make that a bit more clea

[2015-09-28 14:50] ac360 commented on #167
@joostfarla @doapp-ryanp @jwulf  What do you think of these commands:

* **jaws create** - Creates a module.  Defaults to nodejs runtime.  Doesn't make anything in node_modules.
* **jaws sync** - Persists aws_module to node_modules/module/awsm folder.  Creates a node_module if it doesn't exist.  An `-a` option allows you to persist only awsm.json.  Defaults to nodejs runtime.

We can make a specia

[2015-09-28 14:53] doapp-ryanp commented on #164
@boushley the `jaws tag` command is intended to save time when deploying, has nothing to do with the concept of stage promotion.

Lets say, for example, you have 10 lambdas.  You change some common code that impacts all of them.  Instead of having to cd into each of the 10 lambda dirs and running `jaws deploy lambda`, you can tag all of them and then run `jaws deploy lambda <stage> <region> -t` wh

[2015-09-28 14:59] joostfarla commented on #164
What do you think about `jaws prepare`?

[2015-09-28 15:04] shortjared commented on #164
Does it make sense to use something like `jaws prepare` as mentioned, in combination with arbitrary tagging which could be useful for something like state promotion? Perhaps that is getting to much into state  / process management.

In awsm-module...
`jaws tag <tag>`

`jaws prepare <tag>`
`jaws deploy lambda <stage> <region> --prepared`

[2015-09-28 15:36] boushley commented on #164
Stage promotion really does feel like a separate feature, and it would be
best implemented by AWS. So let's not try to tackle that here.

So then there's the question of what tag should do. I wouldn't use it,
except that it's the easiest way to deploy everything in a CI setup. So for
my team this has taken on the semantic meaning of whether something is
ready to be deployed, or still under develop

[2015-09-28 16:53] shortjared commented on #164
So perhaps the best approach is to let the feature stand as is, and circle back around when other things are more stable. Particularly after dependency management is sorted.

`jaws tag --[un]tag-all lambda|endpoint|both` works, it just isn't pretty and doesn't serve a whole lot of purpose, especially if you are using the deploy tagging meaningfully in a CI process.

[2015-09-28 18:33] doapp-ryanp commented on #164
yep agree on letting it stand as is, we will circle back. lots bigger features to work on ATM.

[2015-09-28 19:24] ac360 commented on #167
Alright, we're going to try this in v1.3.

We're going to refactor the aws-module specs per the above conversation.

We are also going to get rid of the front/back folders and go with the project structure @joostfarla recommends above.

All of this should result in a much cleaner architecture, better modules, better cross-module requiring, and better workflow.  We'd love some help on this!  We've

[2015-09-28 20:13] joostfarla commented on #167
Great to see this is going to be implemented on this short notice!

About the commands, ik think we have to elaborate a bit more on the tasks that could be needed on `postinstall`. I'm not sure if one simple command will be enough. Some examples:

* As mentioned before, some awsm modules might be candidate for importing into the project multiple times. If the module contains a boilerplate for CRUD

[2015-09-28 21:32] jodagm opened #173 "JawsError 'Invalid Method identifier specified', when deploying Endpoint"
I sometimes get the following error when deploying lambda & endpoint from dash

[code]

when I re-run the command it works fine. does anyone else experience this inconsistency?
When it failed, it was during endpoint deployment. These were the last log lines before failure:

[code]

when it completed successfully, the next log line was:

[code]

[2015-09-28 21:50] ac360 commented on #173
I've been seeing this too.  I'm not entirely sure where this is coming.  Here's my first guess...

When creating API Gateway resources, methods, integrations, etc. some things return a RequestID response, instead of a "Successfully Created" response.  This leads me to believe that API Gateway then queues those resources to be created.  However, JAWS does not currently wait for that, it hopes the r

[2015-09-28 22:26] jodagm commented on #173
Understood.
Thanks!

[2015-09-28 22:46] dekz commented on #167
Is there a possible use case that I would want to mix languages in my Lambda project?

What does this mean for the root `package.json`?

[2015-09-28 22:52] ac360 commented on #167
@dekz Some languages will be more efficient at certain tasks than others.  Package.json will sit alongside other package manager files for the other languages.

@joostfarla:  I'd like to get this refactor completed before re:invent.  Unless we can come up with a super elegant way to collect user input on install and deal with path prefixing, I'd like to push that stuff a bit further down the road

[2015-09-29 03:07] binoculars commented on #167
Wow lots of good discussion here. I've been confused for a while by the module/template naming convention. Looking at it now, it makes a lot more sense to call them templates rather than modules. However, as a user I would prefer modules--mainly because of reasons previously stated like updates.

Are there plans for some sort of super package manager? I.e. a site (built with JAWS of course) that w

[2015-09-29 04:02] ac360 commented on #167
@binoculars Yes!  That's what we're thinking.  It may not be a full package manager, but it will be a registry/pointer system.  Using it, you can easily find an aws-module in your flavor.

`jaws search awsm-users`

Found: 3 results
- awsm-users (javascript)
- awsm-users (java)
- awsm-users (python)

[2015-09-29 06:25] Nopik commented on #145
I'm missing this functionality a lot, too. In the ideal world I would like to see JAWS being able to take all resource definitions (including separate IAM role for each lambda!) from `awsm.json` files scattered through the project and update+deploy `resources-cf.json`. So, when I add lambda, or I update it, I also update the corresponding `awsm.json` file, `resources-cf.json` gets updated for me a

[2015-09-29 06:46] joostfarla commented on #167
@ac360 You're right, we have to get the minimum set of features released asap! Today is a busy day for me for work, but I'll see where I can help the rest of the week! Is it an idea to split the changes in several small issues so that we know who's working on what and where help is needed?

About the `postinstall` stuff, I agree these things don't have high priority. The only thing for now is tryi

[2015-09-29 11:54] fabiopelosin commented on #164
One thing that is not clear to me is why the tag is saved in the `asm.json` file. I would consider a more unix like behaviour to pass the paths of the modules to deploy. For example:

[code]

This approach would have the following benefits:

- Allow to use the shell history for deployments. In my workflow sometimes I end up troubleshooting a deployment. Although I might end up redeploying numerous

[2015-09-29 13:39] doapp-ryanp commented on #167
@joostfarla, for nodejs awsm modules, I envision them implementing the npm `postinstall` and calling just 1 command: `jaws module postinstall`.  This would also apply to other pkg managers like pip etc.

`jaws module postinstall` then:
*  Copies npm_module/awsm/ to the aws_modules folder (for nodejs)
*  Adds module's CloudFormation template extension points (`resources.cloudFormation.*) into resou

[2015-09-29 13:49] doapp-ryanp commented on #164
@fabiopelosin love it. Reason its not that way was lack of time :)

[2015-09-29 13:51] doapp-ryanp commented on #164
PR would be cool here. make sure to leave the default of no path specified deploys CWD

[2015-09-29 13:52] doapp-ryanp commented on #167
I did think of something, we may need to collect input to populate CloudFormation values in the awsm CF extension points.

[2015-09-29 13:53] doapp-ryanp commented on #145
@Nopik thanks for the input.  Can you explain what you mean by "You want to update definitions?"?  Are you saying updating the attr values of the CF resources? Our hope was people would be able to use CF "Ref"s and add a user input hook on module install.  Check out https://github.com/jaws-framework/JAWS/issues/167 there is tons of convo going on in there around this area.

[2015-09-29 13:58] shortjared commented on #164
I believe this actually renders tagging in its current form redundant at best right? Should it be pulled to avoid confusion later on?

[2015-09-29 14:01] doapp-ryanp commented on #164
@shortjared agreed it makes it redundant - so we are killing 2 birds with one stone here (as discussed above the tag name was confusing in its self).

FWIW, we are trying to change as little as possible core function in the mainline in prep for our AWS presentation next week.  So feel free to send PR, just don't get feelings hurt if I dont merge right away :)

[2015-09-29 14:09] shortjared commented on #164
I won't have time to get to this for a couple days so if anyone else wants to jump in and grab it feel free.

@doapp-ryanp Totally understand, looking forward to the presentation!

[2015-09-29 14:28] Nopik commented on #145
@doapp-ryanp so, by "update definitions" I meant that during the course of development resources and privileges used by lambda will change. Lets assume that I have lambda which talks to dynamo, therefore in its awsm.json there is relevant entry to get dynamo access privileges. Maybe even there are dynamo tables defined, too. Then, week later I decide that this lambda need to send SQS message too.

[2015-09-29 16:53] ac360 opened #174 "Custom Roles for Specific Lambdas"
Currently, the JAWS Lambda role is applied to all lambdas.  We need to allow for lambdas to use custom roles.  The way I see this being implemented now is:

* Add a `role` property to the `lambda` property in awsm.json.
* On deploy, this custom role is added, instead of the default Lambda Role

[2015-09-29 16:58] Nopik commented on #174
What happens to default lambda role? What if no lambda will use default and each one will use custom role - should the default one still be created?

`--role` should be provided for cli as well, I guess, during `jaws module create ...`. That command also should update `resources-cf.json` for all stages (which leads to issue I've described in #145 and more general stuff of automatic `resources-cf.j

[2015-09-29 18:19] shortjared commented on #167
`If key is NOT a pre-defined JAWS_* env var it PROMPTS the user to set the value right then.`

Something to think about on this piece, because you can ENV vars across so many different stages and regions, where does this get set? Do you push them through stage / region selectors? Default to local env?

I think I am more in favor of "Module requires the following {ENV_VARS} to be set." messaging. A

[2015-09-29 18:39] shortjared commented on #174
I think it's okay to keep the default role in place. If you are doing so  many differing things that you need custom roles for everything, I think it is a safe bet that you would be able to update the default role itself to be a solid "default". If not, an extra default role rolling around won't kill anyone.

On the cli `--role`.

Is there any need to distinguish new role vs existing role? `jaws c

[2015-09-29 18:59] doapp-ryanp commented on #145
I see. In your 'add sqs perms' example - do you typically roll out new function (and permissions) to all stages at once?  My experience is typically do feature work on a stage and promote that stage up the ranks (feature stage -> test -> staging -> prod).  I'm in a similar boat as you (small dev team, tons of code bases) so trust me that this use case will always be getting lots of thought :)

Adm

[2015-09-29 19:05] doapp-ryanp commented on #145
one more thing I forgot to add. Initially I was a proponent of having one CloudFormation file, that leveraged parameters to indicate stage and region values.

@ac360 why did we go away from this again. I cant remember.... was that because we wanted to segment function that could not be yet promoted to every stage at once?

[2015-09-29 19:28] Nopik commented on #145
Well, I see your point. But, please try to see mine as well.

So, when we have multiple devs in the team, we create a separate stage for each dev, so we can avoid conflicts during development. In team with 5 devs we end up having like 8 stages (dev1..5, test, staging, prod). In such case, when I push something to git, I need to update my stage, and test stage manually, since CI will pick it up qui

[2015-09-29 19:32] Nopik commented on #174
Right, I thought about autodiscovery as well, forgot to mention it ;) Yet, after writing previous comment I've realized that situation is slightly more complex. Namely, if I create new role, I typically want to use it for something, not just having separate role for the sake of having it. I.e. the new role should have e.g. sqs use permission or access to dynamo or whatever. `--role` doesnt really

[2015-09-29 19:39] jodagm commented on #145
I am also facing similar issues with lambdas that depends on SNS resources and publish to topics. I would like to be able to define the SNS topic as the  lambda-source in the lambda's awsm.json file, but which CF file defined the SNS Topic creation? what if several lambdas are triggered by this Topic? The CF that creates the Topic should take precedence (project's CF file?) so each lambda awsm.jso

[2015-09-29 20:51] shortjared commented on #174
Correct, which is why I suggested the role should be added to the resources-cf.json and the user is prompted to update it there if it didn't exist prior. However, I did just realize if you are running multiple stages / regions... resources-cf.json gets its own json in the directory tree for each permutation.

That is a large problem in this situation.

We need some resources sync functionality. Ma

[2015-09-29 21:25] remicastaing commented on #167
Would it be possible to handle the `front` part as a simple (and single) aws module. It could be hosted inside of awsm_module.  In his `awsm.json` file, you would find something like `s3: {...}` instead of `lambda:{...}` and It would embed its own builder (gulp/grunt script).
The front aws module would be unique because, unlike lambda function you couldn't compose the front end with aws module as

[2015-09-30 01:11] doapp-ryanp commented on #145
@Nopik yep I have the exact same work flow - stage for each dev and I got 4 devs.  Sometimes we each have our own stage or sometimes we are working together on one.  When your done adding resources to your stages CF and have tested, dont' you merge your changes to some upstream branch? Then your co-workers merge in from upstream? Its akin to git workflows IMO.

Ex (each line is a stage):

ryan-coo

[2015-09-30 01:15] doapp-ryanp commented on #158
closing. fixed in PR above

[2015-09-30 01:15] #158 closed

[2015-09-30 01:16] doapp-ryanp commented on #145
Hopefully I'm not coming across abrasive here - I really do value your input, and want to make a solution that works for you, just trying to flesh out if work needs to be done and if so whats the best algorithm todo so that is maintainable and future proof

[2015-09-30 01:27] boushley commented on #158
Awesome! Thanks @shortjared

[2015-09-30 03:47] ac360 commented on #165
We're going to hold off on this.  With the new changes to the aws-module format, we may not need this.  Going to wait a bit longer before we implement this.

[2015-09-30 05:57] dekz commented on #167
As long as the awsm registry is written as a JAWS project, I have no issues ;).

I have a use case for the CLoudFormation resource to be be effected by user input and that is a database table name. `awsm-users` assumes `jaws-users`, I guess it could create `myproject-users` if that variable is available at CloudFormation time and ENV runtime.

Some use cases might include Bring Your Own Database r

[2015-09-30 06:26] Nopik commented on #174
Exactly, thats my point. Some resources-cf.json sync will be a great relief.

Now, how to to this? Existence of multiple awsm modules in a project makes it really tricky, as we basically want to share some resources between them. E.g. if I have 1 dynamo table and 5 lambda working on it, there is no obvious awsm.json file I could put definition to. Putting resources into somewhere into project-leve

[2015-09-30 06:28] Nopik commented on #174
Hm. Resource-only awsm modules? With lambda modules depending on them?

[2015-09-30 07:17] Nopik commented on #145
I think that almost any kind of resource-cf.json sync would do. Indeed the flow you described (merge to master/prod then back to stages/feature branches) is simpler than what I described. Still, some support from jaws would be great, and `jaws propagate resources` or something similar could solve the problem, if done right.

I.e. in addition to just copying resources between stages, the problem is

[2015-09-30 07:53] marklawlor opened #176 "CLI commands inconsistent"
The CLI usage is inconsistent across commands.  They either have the format of

`$ jaws <action> <context>` eg. `$jaws new project`
or
`$ jaws <context> <action>` eg. `$jaws module create`

If a standard command format can be picked, it would make the CLI user experience much nicer.

I believe the commands should be in the format of `$jaws <context> <action>` as it allows for easier future growth

[2015-09-30 08:02] marklawlor opened #177 "CLI unable to clean/destroy projects"
The CLI is is unable to clean/destroy projects. This action must be manually performed though the AWS console.

If a clean method is created, it would be nice to have two versions. A soft clean that tears down the cloud-formation/API-gateway but leaves the ENV vars intact, and a hard clean that destroys everything.

[2015-09-30 08:03] joostfarla commented on #167
@ac360 has been working on an unforeseen problem with the new dependency approach. Just putting some thoughts here (which I've already expressed in the Gitter chat).

The problem here is that the module “postinstall" command duplicates the module’s awsm directory to your project’s aws_modules dir. Both locations have access to different dependencies due to the recursive dependency approach of NPM.

[2015-09-30 08:16] Nopik opened #178 "Jaws cant recover after CloudFormation rollback"
I had some stack deployed, I manually deleted it from CloudFoundation. Then, I wanted to deploy it again via `jaws dash`. It failed, due to some problems in `resources-cf.json`, which seem to be irrelevant to this issue. Now, CloudFormation stack went into ROLLBACK_COMPLETE status and `jaws dash` cant deploy anymore:

[code]

[2015-09-30 09:09] eahefnawy opened #180 "Does invoking the same Lambda multiple times executes them in parallel?"
I think I read that it does in the docs, but I just wanna make sure it's true from your experience.

The reason I'm asking is because of a recent AWSM I wrote. [awsm-mailer](https://github.com/eahefnawy/awsm-mailer) lets you to send emails by invoking the Lambda. It can be used for transactional emails, but i'm not so sure about mass mailing for marketing (millions of emails),

I'm thinking maybe

[2015-09-30 09:11] eahefnawy commented on #177
+1

[2015-09-30 09:56] jwulf commented on #167
What about this?

[code]

`jaws import` scaffolds the lambda in the current project, and also invokes `npm install` inside the scaffolded lambda.

[2015-09-30 11:36] Nopik opened #181 "S3 bucket handling broken in v1.3"
I'm trying to upgrade my project to JAWS v1.3, and got some problem with S3 bucket management. `jaws new project` went fine, I added module, did `jaws dash` deploying lambda and endpoint, went fine. My lambda uses dynamo, so I added respective entries to resources-cf.json in my stage and tried `jaws deploy resources` and it fails, because bucket `myapp.com` already exists. Not in my account, thoug

[2015-09-30 11:47] Nopik commented on #181
To be clear, this seems to be regression from v1.2, where such situation had no place.

[2015-09-30 14:02] doapp-ryanp commented on #181
@Nopik great catch.  I, like you, do not want jaws creating or managing my s3 bucket that is storing my jaws files (env vars, lambda zips, CloudFormation jsons etc).  I just haven't had time to test the non default scenario in v1.3 yet (its still a WIP btw).

@ac360 This looks like an oversight in the 1.3 jaws bucket refactor.  In addition we should not default the value for `aaJawsBucket` to the

[2015-09-30 14:06] Nopik opened #182 "(v1.3) Creation of new stage throws exception"
During stage creation I'm getting `[TypeError: Cannot read property 'filter' of undefined]` printed on console. Stage creation succeeds, though. After brief analysis I've seen that stage validation tries to read .env file from s3 bucket, but since that bucket is not present yet (as we are about to create it), it fails. Interestingly, everything proceeds even if _validate() fails, which seems like

[2015-09-30 14:08] Nopik commented on #181
I did just like the README.md says, plain old `jaws new project` and answered all the questions. No `-d` flag, so I have no idea why it didnt failed.

[2015-09-30 14:15] ac360 commented on #176
:+1: Good catch @marklawlor

[2015-09-30 14:27] ac360 commented on #180
@eahefnawy Hmm...  Here are some thoughts:

A lambda can invoke another lambda (or multiple) from within itself.  There may need to be an orchestrator lambda, which fires off other lambdas to perform the task.  The orchestrator lambda needs to be able to save the state of its operations to dynamodb, since lambdas can only run for 60 seconds.  The orchestrator lambda should run and fire off tasks u

[2015-09-30 14:28] ac360 commented on #177
+1 Coming soon!  My AWS account for testing JAWS is completely bloated with project remnants.

[2015-09-30 14:34] shortjared commented on #180
@eahefnawy If you haven't already seen it, this is a somewhat relevant architecture / discussion from https://blogs.aws.amazon.com/bigdata/post/Tx3KH6BEUL2SGVA/Building-Scalable-and-Responsive-Big-Data-Interfaces-with-AWS-Lambda

![Lambda Architecture](https://cloud.githubusercontent.com/assets/1689118/10196023/a3a6908c-675e-11e5-97a6-22cf7b301ba7.png)

[2015-09-30 14:42] doapp-ryanp commented on #181
ok thanks @Nopik . this will get fixed

[2015-09-30 14:49] ac360 commented on #181
On it right now

[2015-09-30 16:03] ac360 commented on #182
Should be fixed in 6bedcc2a1b8068e4030a215bf6897e20fef4d597

Re-open if not.

[2015-09-30 16:03] #182 closed

[2015-09-30 16:03] ac360 commented on #181
Should be fixed in 6bedcc2a1b8068e4030a215bf6897e20fef4d597

Re-open if not

[2015-09-30 16:03] #181 closed

[2015-09-30 19:08] doapp-ryanp commented on #145
in `v1.3` we are getting rid of `jaws module install` and leveraging npm (for nodejs runtimes) and its `postInstall` hook. So now in your dynamodb resource add scenario, you'd update ur aws module's awsm.json to indicate new CF extension point additions and then run `npm install <any of the supported urls: git | private | https | npm registry etc>` and it will automatically update the resources-cf

[2015-10-01 11:36] Nopik commented on #145
Well, what you wrote is a part of the solution, but I dont think it covers everything. Namely, if I have all lambdas/modules within one repo, I'm not really using npm install on them (there is some changes to that in v1.3, so maybe this is not true anymore).

Also, if I already have some resource added and I change it (e.g. rename dynamo table from my-users to my-members), we'd need to handle that

[2015-10-01 13:07] doapp-ryanp commented on #145
ok sounds good. This is on the list of TODOs

[2015-10-01 14:16] ac360 opened #183 "V1.3: JAWS Module Create Always Creates Node_module"
Even without `-p npm`

[2015-10-01 14:17] ac360 opened #184 "V1.3: Support Camelcase for Module & Function Names"
...

[2015-10-01 14:18] ac360 commented on #160
Fixed in v1.3

[2015-10-01 14:18] #160 closed

[2015-10-01 14:20] #23 closed

[2015-10-01 14:20] #136 closed

[2015-10-01 21:13] eahefnawy commented on #180
thanks a lot guys, that's really helpful! About tracking the state, do you think [AWS SWF](https://aws.amazon.com/swf/) could do the trick?

from their docs, it seems that's what it's made for! or maybe misunderstood it?

[2015-10-01 21:45] remicastaing opened #185 "Install process hangs on void credentials file"
I intentionally cleared (not removed) the credentials file and the process hanged at Select an AWS profile for your project:
![cap 2015-10-01 a 23 35 10](https://cloud.githubusercontent.com/assets/1715952/10234651/5cecdbc2-6896-11e5-8006-edcf8e10cc72.jpg)

[2015-10-01 21:57] remicastaing commented on #185
I could PR something like that: if the credentials file exists, adding another choice below the profile to create another profile.
[code]

[2015-10-01 23:04] ac360 commented on #185
Hmm it should prompt for API Keys instead.  I think it's a simple fix @remicastaing

[2015-10-02 00:24] binoculars commented on #180
You might be better off with [mailchimp](http://mailchimp.com/) for mass emails--probably cheaper and easier for you.

[2015-10-02 00:46] shortjared commented on #180
Lambda / SES is much cheaper at scale than something like mailchimp.

There are solutions out there like [sendy.co](https://sendy.co) which are self-hosted and leverage SES... however to send millions of emails, you need fairly beefy machines to get any decent amount of send rate and beefy machines ain't cheap to have running. I think lambda may have a use case here, but I'd argue it's actually ha

[2015-10-02 01:44] doapp-ryanp opened #187 "Shell completions"
would be really cool once jaws is more stable, if someone could create shell completions for
-  fish
-  bash
-  zsh
- others...

[2015-10-02 03:56] binoculars commented on #187
:+1: especially for zsh. I'll start looking at this. All credible CLI tools need this.

[2015-10-02 04:08] doapp-ryanp commented on #187
I'm a huge fish guy - so any extra attention you could pay to it i'd appreciate :)

[2015-10-02 12:30] Nopik opened #192 "Add stage name to API in API Gateway"
I'm working with a number of stages (basically 1 stage per developer), and naming N APIs in the Gateway with identical names is extremely confusing there (as API Gateway UI isn't perfect yet, either). I would love to see stage name added to the API name.

[2015-10-02 13:46] ac360 commented on #192
:+1:

[2015-10-02 13:55] ac360 commented on #192
This is a quick fix but it brings up a more important issue.

Right now, JAWS doesn't use API Gateway's staging mechanism.  Instead, it makes a separate REST API for each stage/region in your project.

To use API Gateway's staging functionality and to be aligned with how AWS works, JAWS will need to be changed in these ways:

* JAWS need to creates 1 REST API only per project region
* JAWS will ne

[2015-10-02 14:04] Nopik commented on #192
Yeah, having 1 API with multiple stages could be even better ;)

[2015-10-02 15:29] ac360 commented on #176
Fixed in v1.3.  Thanks @shortjared and @marklawlor

[2015-10-02 15:29] #176 closed

[2015-10-02 15:43] ac360 commented on #167
Fixed in v1.3 394cf7e  Thanks everyone and @joostfarla

[2015-10-02 15:43] #167 closed

[2015-10-02 15:45] ac360 commented on #138
Fixed a while ago

[2015-10-02 15:45] #138 closed

[2015-10-02 15:49] binoculars commented on #187
I'm looking over the docs for shell completion and it's not easy. It's going to be a steep learning curve for me. Maybe an opportunity to build tooling around it (secondary priority). If anyone has good tutorials, videos, info, or suggestions to get it started, I would definitely appreciate that.

[2015-10-02 16:26] doapp-ryanp commented on #192
I think we should not circumvent the APIG staging mechanism that is in place today

[2015-10-02 21:36] binoculars opened #198 "Implement tooling for non-Amazon API Gateway modules"
I'm thinking hard about this--see awsm-org/awsm#11

[2015-10-03 17:50] binoculars commented on #180
Lambda / SES = $0.10 per 1,000 emails + Lambda cost + Outgoing Bandwidth (plus the labor of having to make your own system and maintain it)
MailChimp =  $240 for unlimited emails for 50,000 subscribers.

They're different pricing models, but I think around the million email mark you're probably better off with MailChimp, IMHO.

[2015-10-03 18:09] shortjared opened #199 ".env file not created when using `--dont-exe-cf`, creates confusing ux and errors later"
This was a confusing user experience raised by @zoonywhoop.

If you create a new project, using our own suggested best practices of `--dont-exe-cf` with a Power User for deploys, and using an Admin via the UI to create the resources, an env file doesn't not get initialized in the bucket.

This ends up being very confusing because now all deploys fail for the stage because an env file does not exis

[2015-10-05 11:26] dekz opened #200 "npm link fails"
Following these [instructions](https://github.com/jaws-framework/JAWS/blob/master/docs/create_reusable_module.md).

Trying to create the inital global link (in user home dir) of `awsm-images`:

[code]

[code]

[2015-10-05 11:36] dekz opened #201 "Unable to find dependencies"
Unsure of what the exact issue is and why it cannot find the modules `node_modules` when doing browserify build:

[code]

[code]

https://github.com/dekz/awsm-users/tree/1.3

[2015-10-05 12:11] joostfarla commented on #200
There seem to be 2 problems:

* When using `npm link` in the module directory, it seems NPM runs the pre/postinstall scripts. Despite the error, the module is linked anyway.

* When using `npm link awsm-images` inside your project, the postinstall script is fired, but it runs within the module's directory and not within the project.

For both problems we need to figure out how we can determine the

[2015-10-05 12:16] joostfarla commented on #200
@ac360 @doapp-ryanp this might be a reason to build a tiny wrapper around NPM for installing/updating modules? Otherwise I'm afraid this is quite hard to solve.

[2015-10-05 12:22] doapp-ryanp commented on #200
First off thanks for bringing this up. I have an idea. I can write code in the post install hook to check to see if the just installed module is in the Global NPM path and maybe even check the timestamp and version. If that is the case I will suppress the error and potentially not run some of the merging.

I really want to avoid at all costs not having to write wrappers around package managers as

[2015-10-05 12:22] doapp-ryanp commented on #200
The mobile web screwed up my input box for some reason. I meant to say does anyone see any angles that I am missing here?

[2015-10-05 12:29] joostfarla commented on #200
Well, the second problem might be the hardest to solve. When linking the module from your project, NPM runs the `postinstall` script within the module's directory. From there it seems impossible to determine from within which project the `npm install` command is fired, because the working directory is the physical path of the module and not the linked path within `node_modules`.

Any thought on th

[2015-10-05 13:38] ac360 commented on #201
@dekz Sorry, I meant to share this with you last night:  https://github.com/ac360/awsm-users/blob/master/lib/users.js

But, your logic has to be moved to the lib folder.  Particularly, your dependencies or they won't resolve.  We're attempting to make the aws-modules more like regular modules and not editable templates.  I didn't get very far with this but it shows off the pattern you will need.

[2015-10-05 20:04] ac360 commented on #200
@joostfarla Both myself and @doapp-ryanp are out promoting JAWS @ Re:Invent this week.  If you can come up with a fix for this, we would be eternally grateful.  We're a bit out of commission at the moment and it is unfortunate we will be promoting JAWS while this critical feature is broken.

[2015-10-05 21:39] dekz commented on #201
That explains that, cheers Austen!

[2015-10-05 21:39] #201 closed

[2015-10-06 07:34] joostfarla commented on #200
@ac360 @doapp-ryanp first of all, good luck @ re:Invent!! Let's hope this will create a lot of buzz around the project. I'll try to help wherever I can while you're out!

The linking & postinstalling seems to work well when using a normal `npm install`. This is due to the fact that, in this case, the `install` command is run within the project directory as the current working directory. This is di

[2015-10-06 08:49] joostfarla commented on #200
Just thought this over and I changed my mind on what's best for now. I'll submit a PR for option 2 right away! We can always deprecate this in the future if we come up with something better.

[2015-10-06 10:32] jwulf opened #204 "Rename `module` to `lambda`"
I request we change `jaws create module` to `jaws create lambda`.

When you do `jaws dash` you deploy (E)ndpoints and (L)ambdas. And the code you create with `jaws create module` atm ends up as a lambda.

[2015-10-08 08:33] DanDiac opened #208 "Endpoint ApiKeyRequired"
Setting ApiKeyRequired to true in awsm.json doesn't work: the aws API GATEWAY endpoints are updated, and the value of API Key Required is set to false every time (even if it was manually set to true before running jaws dash).

[2015-10-08 13:42] jwulf commented on #201
This is actually quite onerous. I can't just code up an endpoint: I have to code up a node module with an arbitrary opinionated structure just to write an endpoint.

Can we just make it so that I can install and require node_modules in the awsm folder?

Sometimes you don't want to make a reusable module to share, you just want to write some code....

[2015-10-08 18:07] ac360 commented on #201
@jwulf Could you clarify on "Can't code up an endpoint"?  You can still code up a lambda function/endpoint without making a corresponding node_module.  Just make sure your lambda's dependencies are in the root package.json, which is shared by all Lambdas.

This is a big decision.  I'm very open to feedback here.  Especially from you @jwulf!

[2015-10-08 20:07] doapp-ryanp opened #209 "looking for Python rockstar"
With the [announcement](https://aws.amazon.com/blogs/aws/aws-lambda-update-python-vpc-increased-function-duration-scheduling-and-more/) of Python 2.7 support for AWS Lambda, we are looking for a python rockstar to code up the initial Python implementation in the JAWS framework.

Anyone willing to help out here or know someone who would be a good candidate? FWIW we already got a JAVA guy.

@shortja

[2015-10-08 20:38] eahefnawy commented on #209
I'm a little offended you didn't mention me :P ... I'm a full time Pythonist at [Yellow](http://yellowpay.co) and I'm willing to dig into this.

Perfect timing btw! I'm currently browsing the repo, sniffing for some work to do ;)

[2015-10-08 20:44] doapp-ryanp commented on #209
Sry @eahefnawy I just took the [top 4](https://github.com/jaws-framework/JAWS/graphs/contributors) contributors... didn't intentionally leave you out :)

We will be in touch soon!

[2015-10-08 20:46] eahefnawy commented on #209
haha yeah I know. Just kidding :)

Awesome, I'll be waiting.

[2015-10-08 20:51] shortjared commented on #209
@eahefnawy I'm happy to support on this one if you are interested. Our team is mostly Pythonist, so we'll be making heavy use of Python Lambda.

[2015-10-08 20:52] eahefnawy commented on #209
Perfect! Let's do it! the more the merrier!

[2015-10-08 21:57] jwulf commented on #61
And someone built it:

https://github.com/node-hocus-pocus/thaumaturgy

[2015-10-08 22:22] jwulf commented on #61
Also this: http://bitbucket.aerobatic.com/blog/lambda-continuous-deployment.html

[2015-10-08 23:43] johntitus commented on #61
Howdy - thaumaturgy is my project. Been watching JAWS for awhile and it was funny to see it pop up.  Let me know if I can help.

[2015-10-09 04:16] binoculars commented on #187
Found this guide for zsh: http://wikimatze.de/writing-zsh-completion-for-padrino/

[2015-10-09 04:21] yyolk commented on #187
Anyone already on bash?

:fish:

[2015-10-09 06:28] Nopik commented on #209
I'm pythonist myself, though the current project I'm using Jaws is in node.js, so thats my primary focus now, too. Yet, I'm available for short tasks, like code review, architecture discussions, maybe some hotfixing etc.

[2015-10-09 07:29] joostfarla commented on #201
When using the `module create` command you can create a module within your project without the need for an NPM module. As @ac360 mentioned, loading project dependencies from the `aws_modules` dir shouldn't be a problem and works the exact same way as for every other Node.js project. :)

[2015-10-09 08:25] eahefnawy commented on #201
Yep. I really like this design. Now it's both a template and an NPM. Whatever your project needs.

[2015-10-09 22:04] pdehaan opened #213 "A few errors reported by ESLint"
Using the following .eslintrc file, ESLint reports 65 errors/warnings:
[code]

---

[code]

[2015-10-10 05:41] jwulf commented on #201
how do you include external (non awsm) modules in JAWS? I'm requiring them as normal and it works when I jaws run, but jaws deploy is giving me this error:

[code]
`dekz 13:36`
you need to make your lambda code (index.js) a smal wrapper around your lib code
your code in lib can resolve the 3rd party requires

`l85m 13:49`
yep that's what I have now - there are no 3rd party requires in aws_modules,

[2015-10-10 09:30] joostfarla commented on #201
I ran some tests and I've noticed 2 problems, both related to Browserify:

- If an NPM module has optional dependencies (for example, `redis` module has optional dependency on `hiredis`), the Browserify build fails when this dependency is not found. This can be solved by passing the `ignoreMissing` option to Browserify. (See PR: https://github.com/jaws-framework/JAWS/pull/215)

- In the specific c

[2015-10-10 16:04] sixlettervariables commented on #200
Even when following this updated guidance I cannot seem to get my AWSM module to install in a JAWS project:

[code]
It seems to strip the `awsm-` qualifier causing downstream calls to fail.

[2015-10-10 16:41] #208 closed

[2015-10-10 22:51] dekz commented on #200
My local install doesn't seem to strip out the `awsm` prefix for the module.

[code]

I recall when I accidentally deleted the `aws_modules` folder, the postinstall process did not recreate it for me and I did have a difficult time with `postinstall`

[2015-10-11 00:45] l85m commented on #201
@joostfarla - just to clarify, is this meant to reflect how things should work, or how they currently do?

Also thanks for looking into pg-bricks.  I'll use your PR until it's merged.

[2015-10-11 07:57] joostfarla commented on #201
This is how things currently work!

[2015-10-11 14:27] jwulf commented on #60
This request is fulfilled by https://github.com/jaws-framework/JAWS/pull/214

[2015-10-11 22:47] slajax commented on #129
:+1: it would be also great if we could undeploy individual endpoints and lambdas as well.

[2015-10-11 23:14] slajax commented on #129
This additional suggestion might be a bit out of scope for this issue as the focus here is on module deletion and I'm thinking a bit broader. Would it be good to also deal with a situation where someone might (for whatever reason) delete a part of the deployment from within the aws console and not the jaws cli?

Should jaws support syncing changes down that might happen out of the context of the c

[2015-10-12 01:11] TheConnMan opened #217 "Windows CloudFormation Handler Location Slashes"
After running `jaws module create` on Windows and trying `jaws run` I get a the following error:

The single forward slash appears to be messing up what I guess to be a find in the module's absolute path to decide if the **aws_modules** suffix needs to be added.

After replacing `lambda.cloudFormation.Handler` from **awsm.json** under `aws_modules/message/post` with forward slashes instead of doub

[2015-10-12 01:26] TheConnMan commented on #217
After a little research I found this is an issue in the `jaws module create` call. The path on Windows machines is joined using double backslashes in [this module_create](https://github.com/jaws-framework/JAWS/blob/2fa7d9158490c27a7de033949f920c65510207fc/lib/commands/module_create.js#L180) line.

[2015-10-12 01:29] doapp-ryanp commented on #213
undergoing a major internal re-factor for es6.  closing this for now, please re-run when 1.4 comes out.

[2015-10-12 01:29] #213 closed

[2015-10-12 01:46] sixlettervariables commented on #217
Could use `path.posix.join` to enforce POSIX file conventions.

[2015-10-12 03:15] jwulf commented on #61
Hi @johntitus. I reckon there is a powerful synergy between JAWS and thaumaturgy. There has been discussion around it in the Gitter room [1] and also in the JAWS roadmap [2]. It would be great to have your input!

[1]  https://gitter.im/jaws-framework/JAWS
[2] https://docs.google.com/document/u/2/d/1SeTgtsQc620vcwgGMZ4F2yuWVf-A3JmpTn1VT8pKYsA/edit?usp=sharing

[2015-10-12 04:16] doapp-ryanp commented on #61
@johntitus I haven't had time yet to dig into your code, but from a high level we were going to start making something very similar to this.  @ac360 and I have been in talks with folks at AWS about this painpoint, so we should definitely touch base.  Give me a few days to look at what you got (I'm backed up on other stuff) and I'll reach out to you for next steps. Sound good?  Those 2 links @jwulf

[2015-10-12 20:52] chrisbaldauf opened #220 "querystring RequestParameters disappear when multiple are present"
I'm trying to build my first jaws app and ran into an issue while trying to wire up multiple querystring parameters.

Relevant awsm.json file snippet. Full file below for context.
[code]

After saving awsm.json and running `jaws dash` to deploy both the lambda function and endpoint, the relevant section changed to this:

[code]

Some more context:
[code]

Full awsm.json file content
[code]

Let me

[2015-10-12 21:39] dekz commented on #220
You cannot have the same key twice in a JSON object:

[code]

[2015-10-12 21:42] sixlettervariables commented on #220
Those are actually JS keys (so the behavior is correct).  So how about:

[code]

[2015-10-12 21:44] dekz commented on #220
Yep, as far as I can see there is nothing special about the `integrationQueryParam` part of the naming convention, you should be able to go nuts.

[2015-10-12 21:48] sixlettervariables commented on #220
As long as the names you choose are what you expect for `RequestParameters` on the integration side (as those are sent along to APIG via `PUT /restapis/{api}/resources/{resource}/methods/{method}/integration`).

[2015-10-12 22:09] dekz commented on #220
Should there be an entry about this in the [docs](https://github.com/jaws-framework/JAWS/tree/master/docs)?

[2015-10-12 23:01] chrisbaldauf commented on #220
Your suggested worked as expected. Thanks for the clarification. +1 about adding something to the docs, since the two examples that I could find didn't list multiple query parameters and I naively assumed that "integrationQueryParam" was a magic string.

https://github.com/jaws-framework/JAWS/search?utf8=%E2%9C%93&q=integrationQueryParam

Thanks for the help.

[2015-10-13 00:16] #220 closed

[2015-10-13 05:19] jodagm opened #222 "Question: angular $http.post to API Gateway getting 403"
Hi,

I am able to call API GW successfully from postman, however calling it from angular $http.post leads to error 403.

It might be related to CORS.
based on #133 I setup the endpoint as follows:

[code]

Any help is greatly appreciated
Jonathan

[2015-10-13 06:38] ac360 commented on #222
@jodagm Could it be that Angular does a pre-flight OPTIONS request and you don't have an OPTIONS method on your API Gateway resource?

Also, [perhaps this is the problem as well](http://stackoverflow.com/questions/31376281/angular-resource-post-request-query-params-not-detected-by-aws-api-gateway/31376675#31376675)

[2015-10-13 07:12] DanDiac commented on #222
@jodagm Can you check if there are any differences on the URL that the angular uses?
You can try to add these two: 'Access-Control-Allow-Methods' and 'Access-Control-Allow-Headers'
http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html

@ac360 The problem from that link is about mapping parameters.

[2015-10-13 10:08] Ninir commented on #222
@ac360 Indeed, AngularJS does a pre-flight OPTIONS request. As @DanDiac said, the `'Access-Control-Allow-Methods' and 'Access-Control-Allow-Headers'` should be added.

However, an OPTIONS method should be created with the 3 (Origin, Headers and Methods), and the POST method should only have the Origin header.

Is there a way to add the OPTIONS method too?

[2015-10-13 10:21] Ninir opened #223 "Managing corporate proxies"
Hey JAWS team!

While this project is reallllyyyy amazing, I'm kind of breaking my teeth with corporate proxies, and ways to deploy via jaws dash. The error I get is:

[code]
I was used to declare this on my Mac:

[code]

which is fine with NPM, Bower, and all these kind of package managers.

I also tried to add env vars in the .env file (as with HTTP_PROXY and HTTPS_PROXY), but this does nothing,

[2015-10-13 10:54] OneMuppet commented on #222
Hi,
I had the same problem and you all helped me in the right direction. I'm also using angularjs and $http for ajax requests. You will have to add "method.response.header.Access-Control-Allow-Methods": "'GET, OPTIONS'", in the cloudformation setup.  This is my setup that works:
{
  "lambda": {
    "envVars": [],
    "deploy": true,
    "package": {
      "optimize": {
        "builder": "browseri

[2015-10-13 11:08] Ninir commented on #222
@OneMuppet Nice to hear!
However, something is bothering me: as allowed methods (with the `Access-Control-Allow-Methods`) are set on the CloudFormation `"Method": "GET",`, we're simply telling that GET and OPTIONS requests can call this endpoint when using the pre-flight request (so using OPTIONS), as in:

1. A user starts a request GET request against the endpoint
2. As CORS states, a pre-flight

[2015-10-13 11:12] DanDiac commented on #223
You set env variables per Stage and Region using this command:
jaws env set [stage] [region] [varname] [varvalue]

Then you use it with process.env.varname

[2015-10-13 11:21] Ninir commented on #223
@DanDiac This is exactly the point: I can't in my case, as it requires to go to the network :/
When running the command, it tries to get the env file from s3, thus throwing the same `NetworkingError`.

It is a particular issue of proxies that is handled by other binaries

[2015-10-13 11:33] OneMuppet commented on #222
@Ninir Those headers aren't needed, not for the call to this lambda since it doesn't have any authorization requirements on it. I just added that because the official guide from AWS on how to add CORS has it: http://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-cors.html#how-to-cors-console
I'm guessing that the javascript-sdk that you can generate from API Gateway may be using those

[2015-10-13 12:24] jodagm commented on #222
Thanks all, I am still trying to make this work.

@OneMuppet did you get this to work for POST as well? I do get this working for GET requests but not for POST.

this is the config:

[code]

@Ninir @ac360 OPTIONS should be manually created using the APIG console? any other manual setup that is not covered by the above config?

thanks for your help

[2015-10-13 13:41] OneMuppet commented on #222
@jodagm you are right, I get the same error on when using POST. What I did as a "workaround" for now was to, deploy my Lambda and API Gateway endpoint. Then I opened the awsm.json and changed the method from POST to OPTIONS:
´´´javascript
"apiGateway": {
    "deploy": false,
    "cloudFormation": {
      "Type": "AWS",
      "Path": "greetings/hellopost",
      "Method": "OPTIONS",
      "Authoriz

[2015-10-13 13:54] jodagm commented on #222
problem solved with the manual process of adding the OPTIONS method on the resource.

I am just not used to deploying using the console... got used to the easy process provided by JAWS :-)

hopefully, deploying OPTIONS will be supported in the future

[2015-10-13 13:56] Ninir commented on #222
Yes, going through the AWS console seems the better approach here... having an array of methods would be awesome :D

[2015-10-13 19:12] sixlettervariables commented on #223
@Ninir, if I'm understanding you correctly you need the `aws-sdk` calls to use a configured proxy. In this case, [JAWS would need to supply the proxy to the AWS SDK](http://docs.aws.amazon.com/AWSJavaScriptSDK/guide/node-configuring.html#Configuring_a_Proxy).

In [`./lib/utils/aws.js` there is a place to make that happen for the SDK](https://github.com/jaws-framework/JAWS/blob/master/lib/utils/aws

[2015-10-13 20:26] Ninir commented on #223
@sixlettervariables Do you want me to send it in your name?

[2015-10-13 20:33] sixlettervariables commented on #223
@Ninir, matters not on the name.

[2015-10-14 17:28] jontg opened #229 "Deploying a second jaws project to the same account fails for silly reasons"
In the cloud formation spin-up, I get stuck with
[code]

In the *second* JAWS project I try to create.

[2015-10-14 21:34] jwulf commented on #229
Perhaps because you gave it the project the same "domain"?

This is the namespace of the project - it's the `myapp.com` part of the bucket name. So you've got: `jaws` - always the same. `dev` - stage name. `uswest2` - region, and `myapp.com` - domain (namespace).

So you want to specify a different domain for your second project.

[2015-10-14 21:38] jwulf opened #231 "CLI should emit a shark attack on error"
`~~~~~~~~\o/~~~~~/\~~~~~~~`

[2015-10-14 21:55] eahefnawy commented on #231
+1 :dancer:

[2015-10-14 23:27] ac360 commented on #231
This is absolutely going in.  @jwulf, you are brilliant, as always. :100:

[2015-10-15 01:11] sixlettervariables commented on #229
This confused me as well when I started, I had assumed the project name would be placed onto the S3 bucket name.

[2015-10-15 01:20] sixlettervariables commented on #209
If/when #230 lands the initial work on this is pretty easy (mustache for the handler, zipping the source directory).

[2015-10-15 04:12] boushley commented on #200
@dekz @sixlettervariables You shouldn't need the `awsm-` prefix in both `package.json` and `awsm.json` anymore. I think this was resolved with https://github.com/jaws-framework/JAWS/pull/224

Let me know if you're still having issues.

[2015-10-15 04:47] boushley commented on #178
Alright, so the core of the problem here is that you can't update a CloudFormation stack that never finished creation. So if a stack reaches `ROLLBACK_COMPLETE` the only way forward is to delete it. We handle `UPDATE_ROLLBACK_COMPLETE` just fine as it stands.

So we should figure out how we want to handle `ROLLBACK_COMPLETE` cases. We would either need to delete the stack, or choose a new name (wh

[2015-10-15 06:17] Nopik commented on #178
Yeah, experienced users wont hit that problem often. Newbies might do it once, though. I'd say that detection of the case + appropriate error message would suffice. Automatic deletion isn't always desirable, too.

[2015-10-15 06:36] OneMuppet commented on #178
@Nopik @boushley I had this very problem last night, after a couple of hours I ended up deleting and re-creating my entire project to solve this. In my case I was apply some changes to the dynamoDB which didn't work out, so I used the AWS console to delete the dynamoDB tables manually, after that i received the ROLLBACK_COMPLETE. I didn't find any good way to move forward from there so eventually

[2015-10-15 13:02] OneMuppet opened #233 "Deploy resources error - would benifit from better error message"
This is the jaws output:
´´´javascript
  CreationTime: Wed Oct 14 2015 18:28:21 GMT+0200 (CEST),
  LastUpdatedTime: Thu Oct 15 2015 14:50:29 GMT+0200 (CEST),
  StackStatus: 'UPDATE_ROLLBACK_IN_PROGRESS',
  StackStatusReason: 'The following resource(s) failed to create: [DynamoDBShipmentsTable]. ',
  DisableRollback: false,
  NotificationARNs: [],
  Capabilities: [ 'CAPABILITY_IAM' ],
  Outputs: []

[2015-10-15 18:29] ac360 commented on #229
:+1:  S3 buckets must have globally unique names within AWS regions.  The  `jaws.dev.uswest2.myapp.com` default provided in the JAWS new project screen is going to keep running into collisions like the @jontg describes.

Further, the issue is more complex because once an S3 bucket is part of a CF stack, you can't use/reference it in another CF stack (maybe you can, not entirely sure, but still fee

[2015-10-15 19:07] doapp-ryanp commented on #229
FWIW s3 buckets must be globally unique across all of AWS.  There is also a soft limit of buckets per account, that can be increased but you must submit a request and it takes time (and you must give a business justification)

[2015-10-15 22:14] sixlettervariables commented on #229
I think the CF stack limit hits before the bucket limit (only something like 20 stacks). Would it be less confusing for something like: `{project-name}.jaws.{stage}.{region}.{domain}`? Also less likely to be in conflict.

[2015-10-15 23:02] dpurrington opened #235 "JAWS does not work on Windows"
I performed all the steps in the quick start but got this error:
"errorMessage":"Cannot find module 'aws_modules\\greetings\\hello\\handler'","errorType":"Error","stackTrace":["Function.Module._resolveFilename (module.js:338:15)","Function.Module._load (module.js:280:25)","Module.require (module.js:364:17)","require (module.js:380:17)"]}

I had made no manual edits to my generated files, and the z

[2015-10-16 00:08] marklawlor opened #236 "Utilise Swagger.io for API Gateway documentation generation"
There are already tools that can import a Swagger.json file into API Gateway (https://github.com/awslabs/aws-apigateway-importer), so we should be able to perform the reverse and convert the AWSM format into a Swagger.json file.

JAWS could have a `jaws document` command which builds a swagger.json file of all your module endpoints and uploads a Swagger UI site to the S3 bucket

[2015-10-16 00:12] marklawlor commented on #236
Actually this should be a JAWS plugin, not part of the core library. I'll close this and create a plugin repo for this.

[2015-10-16 00:12] #236 closed

[2015-10-16 03:21] sixlettervariables commented on #235
Dupe of #217 fixed in PR #230 if you'd like to give it a try.

[2015-10-16 03:22] sixlettervariables commented on #235
Err #219.

[2015-10-16 06:55] apaatsio commented on #2
AWS Lambda now supports scheduled functions. It supports cron syntax, too.

Announcement: https://aws.amazon.com/blogs/aws/aws-lambda-update-python-vpc-increased-function-duration-scheduling-and-more/
Documentation: http://docs.aws.amazon.com/lambda/latest/dg/getting-started-scheduled-events.html

[2015-10-16 13:49] dpurrington commented on #235
I've got the PR checked out. How do I test it?

[2015-10-16 14:10] sixlettervariables commented on #235
The easiest way is to `npm install` in that directory (to get all of the deps loaded), and then instead of calling `jaws` without a path specifier in your project, you can point to the `/path/to/bin/jaws` from that PR.

[2015-10-16 14:50] pwagener opened #239 "Deploying a Lambda with "builder": false ZIPs up the wrong directory"
To reproduce this problem with v1.3.3 on OS X (Yosemite) and NodeJS v0.12.7:

1.  Create a new project:  `jaws project create`
2.  Create a new module in that project `jaws module create widgets make`
3.  Edit `aws_modules/widgets/make/awsm.json` and change the `lambda.package.optimize.builder` from `"browserify"` to `false`.
4.  Deploy the `widgets/make` Lambda via `jaws dash`
5.  Test the Lambda

[2015-10-16 14:53] dpurrington commented on #235
I think I'm the wrong person to test this because I don't know enough about
npm. I'm missing dependencies. I tried npm-install-missing and it failed
with an exception.

I'm sure node/npm can be made to work on Windows, but learning it while
debugging problems in the ecosystem is too hard. I'm going to switch over
to a Vagrant/Linux box so I can be more useful. Thanks!

On Fri, Oct 16, 2015 at 10:1

[2015-10-16 14:54] ac360 commented on #209
Thanks guys.  We'll reach out to you in about a week to get the ball rolling.

[2015-10-16 15:43] ac360 opened #240 "Looking For A React Rockstar For The New JAWS Dashboard"
The difference between JAWS and traditional frameworks is that JAWS has config files in separate folders, whereas traditional frameworks are able to centralize configuration information (e.g., routes.js), which is more convenient.  The reason JAWS works the way it does is because Lambda is deployed and isolated at the function level and not the application level.  Therefore, we need to have separa

[2015-10-16 15:47] ac360 commented on #240
@sosana @mcwhittemore @mbreton @remicastaing

[2015-10-16 15:51] eahefnawy commented on #240
interesting! why not have a native app powered by [electron](http://electron.atom.io) and maybe [photon](http://photonkit.com)?

It seems that the functionality we need are more "native".

[2015-10-16 16:00] eahefnawy opened #241 "Support Bitcoin for donation!"
Your donation page through Square doesn't seem to support cards from certain countries. In my case: Egypt!

I think Bitcoin would be more suitable for a global community of developer! :)

[2015-10-16 16:01] ac360 commented on #240
Interesting @eahefnawy.  That tech is super cool but I'm not sure if it will be adopted by the community as much as a React browser-based app would.

[2015-10-16 16:02] ac360 commented on #241
@eahefnawy Do you have any recommendations for great Bitcoin donation tools?  I'm going to look into Coinbase.

[2015-10-16 16:05] eahefnawy commented on #241
Coinbase is all you need! Just get the QR code image of your address, and put it README, and you're golden!

You'll be able to withdraw your cash from Coinbase easily (since you're in the US)

[2015-10-16 16:09] SOSANA commented on #240
Regarding browser based react, wondering if we should do a basic app without a flux implantation. So many options for flux. The hottest implentation of flux changes by the week. I personally like reflux but right now redux is what all the cool kids are using. Mean while relay and falcor looks promising.

[2015-10-16 16:11] eahefnawy commented on #240
@ac360 oh yeah valid point.

[2015-10-16 16:34] chrisbaldauf opened #242 "Parameterize API Gateway HTTP method on `jaws module create`"
Currently, when the `jaws module create` command is run, the API Gateway HTTP method is hard coded to "[GET](https://github.com/jaws-framework/JAWS/blob/master/lib/commands/module_create.js#L177)". I'd like to add a `--method` parameter to the module_create command that allows the user to specify one of the supported API Gateway methods (currently DELETE, GET, HEAD, OPTIONS, PATCH, POST, PUT).

Ex

[2015-10-16 17:23] mcwhittemore commented on #240
@ac360 So the first thing you are looking for is a single page that displays a bunch of data for lambda functions? Is this a simple list of your functions? What kind of info would we want to show?

We should probs do this in its own repo and let the CLI install it.

@SOSANA I think we should use a flux based setup. Stores can be a good way to let outside devs interact with the data of the applicat

[2015-10-16 18:50] ac360 commented on #240
@SOSANA I dunno this is your area of expertise :)

@mcwhittemore I'm going to make a mock-up this weekend with minimum requirements for the first page.  Keep in mind, the first page may end up to be the most complicated page in the application.  I'm sure the feature list will grow, so it needs to be architected in a very extendable way.  Your opinion on Stores sounds good.  ATM, I think this is go

[2015-10-16 21:15] marclar commented on #240
I've had good experiences with these two:

- React boilerplate: https://github.com/erikras/react-redux-universal-hot-example
- UI framework: http://semantic-ui.com/

[2015-10-17 08:38] remicastaing commented on #240
@ac360, I have absolutely no experience with react. I can help out on the back end (I took a look at koa last year, but stayed with express).

[2015-10-17 08:58] eahefnawy opened #245 "Errors with short urls"
bluebird.js includes short urls in all errors that point to dedicated pages in the docs for each error to explain exactly how to debug and avoid the error.

I think that's a really cool idea. It would be great help for people to get up and running quickly with JAWS.

Probably not a high priority, but I think we should at least keep it in the backlog.

[2015-10-17 09:38] chrillo commented on #240
There is a react bootstrap implementation https://react-bootstrap.github.io/components.html as well as a material design framework that I quite like http://material-ui.com/#/components/cards (might be too opionated in terms of design though).

In terms of flux / data flow, I highly recommend https://github.com/rackt/redux it seems to be the clear winner out of the many flux implementations that ar

[2015-10-17 15:53] jakelodwick commented on #240
Are React Rockstars the only option? I know a React Folk Singer with incredible stage presence...

[2015-10-17 16:04] joemocha commented on #177
:+1:

[2015-10-17 16:44] ac360 opened #246 "Easy Diff'ing Of CloudFormation & IAM Policies"
Include a way to show differences between CloudFormation and IAM Policies.

[2015-10-18 01:48] ac360 commented on #245
:+1:

[2015-10-18 07:49] Giaco9 commented on #239
+1!
There is an automated way for do this?

[2015-10-18 09:38] apaatsio commented on #233
@OneMuppet Could you provide steps to reproduce this error? Thanks!

[2015-10-18 12:47] jwulf opened #248 "fish shell command completion"
[Fish shell] (http://fishshell.com) is the bomb! I cannot believe I have lived this long without it.

`omf install jaws-cli`

for command completion!

[2015-10-18 15:47] jwulf opened #249 "Lambda fails with 'unable to import module' and 'Cannot find module '_process'' errors"
Deploying from El Capitan with Node.js 4.1.2.

This bug seems to be the cause: https://github.com/substack/node-browserify/issues/1277

[2015-10-18 17:37] joostfarla commented on #239
Just submitted a PR which fixes this!

[2015-10-18 20:18] mrjjwright commented on #240
An alternative to Redux and Flux in general is MObservable which has react integration as well.  It's dead simple and powerful and creates great React performance out of the box.  Redux is awesome too but MObservable is just straightforward simple code goodness.

https://github.com/mweststrate/mobservable

[2015-10-18 22:49] jrivera294 opened #251 "Question: Is there a way to set up HTTP headers?"
Hi. first of all, congrats for this project, it's an awesome idea, looks really promising.

My question, I can't find a way to set up the HTTP request headers for the API gateway endpoints. It's not implemented?

There is a way to put a http request header on the event.json to make a jaws run and test it?

Regards.

[2015-10-19 15:04] jwulf commented on #249
I changed `insertGlobalLets` to `insertGlobalVars` in `DeployLambda.js` and that fixed it for me.

[2015-10-19 15:05] jwulf opened #253 "Browserify doesn't like winston"
Running a lambda on AWS with `winston` and `winston-paperly`, I get this:

[code]

[2015-10-19 16:55] benkehoe opened #254 "Move API Gateway CloudFormation into a proper CF file using custom resource"
I love that JAWS uses a fake CloudFormation syntax for API Gateway. But I think it would be better to handle it as a [custom CloudFormation resource type](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-custom-resources.html), and handle it directly through CloudFormation. JAWS could maintain a singleton Lambda function (i.e., not per-project) to deploy API Gateway endpoints

[2015-10-19 18:18] joemocha commented on #251
Look at your aws_modules/FOO/BAR/awsm.js
Set your RequestParameters as below
[code]

[2015-10-20 13:42] jwulf commented on #253
From here: https://github.com/ajbrown/angular-loggly-logger/compare/97fecdf56043...8f19153de0eb

It looks like if there is no `main` defined in `package.json` of a package in the dependency tree, or if the `main` is defined with no file extension (for example: `"main": "index"`), then browserify will consume the file path and inject it into the bundle, rather than resolving the referenced code.

T

[2015-10-20 16:56] ac360 opened #255 "Fix Programmatic Support"
There are two outstanding issues that prevent JAWS from being used programmatically:

* It is context aware in CLI mode, but has no idea where the project folder is located in programmatic mode.
* Getting credentials is impossible because it doesn't know where the project is and therefore the project's `admin.env`.  Further, some actions are meant to be run outside of a project anyway and still ne

[2015-10-20 17:40] ac360 commented on #255
Hmm, @doapp-ryanp is there a specific reason we are updating the profile every time we interact with the AWS SDK included in JAWS.  Could we not set the AWS SDK credentials once when JAWS is instantiated and only update the region?

[2015-10-20 18:31] doapp-ryanp commented on #255
When doing programatic consumption, code does not need to locate `admin.env` all it needs to do is set the env var `ADMIN_AWS_PROFILE` and the JAWS code [will use it](https://github.com/jaws-framework/JAWS/blob/es6-modular/lib/Jaws.js#L43).  I propose we change this env var to `JAWS_ADMIN_AWS_PROFILE` to be more clear and to namespace.

I went with the profile over keys, as AWS suggests doing it t

[2015-10-20 18:52] ac360 commented on #255
Ok.  I definitely like the `JAWS_ADMIN_AWS_PROFILE` env var change.

Yes, jaws will detect project path if it is not provided in config object.

Ok, let's remove the profile param from all `JawsAws` methods.  And provide one method to set it.

I disagree with providing only `profile` as the option.  I feel `profile` is restrictive because it is looking for a local file in a specific place.  I have

[2015-10-20 19:04] doapp-ryanp commented on #255
sounds good. I have made the env var name change.

[2015-10-20 19:54] theopak commented on #251
To expand on the above answer: in `./aws_modules/{lambdaName}/{endpointName}/asm.js` you can define HTTP headers to add to the response for a given endpoint. (AWS API Gateway calls this "Method Response" and "Integration Response".)

For example, you can enable CORS by using this value in asm.js for `apiGateway.cloudFormation.Responses.default.responseParameters`:

[code]

After you make the chang

[2015-10-21 03:38] whatsdis opened #256 "Could not find a lambda deployed in this stage/region"
when I go into a jaws project directory and run jaws dash after creating the greetings hello endpoint successfully, it gives me

-------------------------------------------
Select Resources To Deploy
-------------------------------------------
   undefined/undefined
     L) l
     E) /greetings/hello - GET
   - - - - -

AWS: -------------------------------------------
AWS:  Dashboard:  Deploying L

[2015-10-21 04:18] bbk79 commented on #256
I *think* I fixed a similar issue by deleting all JAWS created Cloudformation stacks...

[2015-10-21 04:21] whatsdis commented on #256
well I went into CF and deleted everything but it somehow keeps coming back.

[2015-10-21 04:58] bbk79 commented on #256
So it seems to have an issue with the lambda function name, it's supposed to be 'lGreetingsHello' as opposed to 'l'. In my little experience with JAWS, that name comes from the handler path in the relevant awsm.json:

[code]

[2015-10-21 05:00] whatsdis commented on #256
any idea why it's `I` and not the full function name?

[2015-10-21 05:02] bbk79 commented on #256
Whats your handler path in 'aws_modules/greetings/hello/awsm.json'? it should be as above if you just created it with jaws module create... it's an 'L' BTW, prefix for Lambda I'm guessing so all function names have that prefix...

[2015-10-21 05:16] whatsdis commented on #256
"Handler": "aws_modules\\greetings\\hello\\handler.handler"

[2015-10-21 05:20] bbk79 commented on #256
That 'undefined/undefined' is also supposed to be 'greetings/hello'
Hmmm, backslashes... could be a platform specific bug in JAWS. Unfortunately I don't have access to a Windows environment to test this. A wild wild guess would be try changing the backslashes to slash and see if that makes any difference?

[2015-10-21 05:26] whatsdis opened #258 "Rollback requested by user"
So I can't create any project because even if I delete it from the CF dashboard, it just comes back from the dead.

JAWS: Select a region for your project:

    us-west-2
    eu-west-1
    ap-northeast-1
JAWS: Select an AWS profile for your project:

JAWS: Creating CloudFormation Stack for your new project (~5 mins)...
JAWS: - { StackId: 'arn:aws:cloudformation:us-east-1:3948384923:stack/dev-wl
-N

[2015-10-21 05:37] whatsdis commented on #256
didn't make any difference. same 'undefined/undefined'

Could this be an issue with running jaws on windows 7?

[2015-10-21 05:40] bbk79 commented on #256
No ideas TBH, if you look in project issues there seems to be one or two other issues around the handler path in Windows so I'm guessing it might be still a work in progress...

https://github.com/jaws-framework/JAWS/issues/235, https://github.com/jaws-framework/JAWS/issues/217

[2015-10-21 05:56] whatsdis commented on #256
I am trying to do this on Ubuntu and I'm still getting this issue https://github.com/jaws-framework/JAWS/issues/258

Not exactly as smooth as advertised but I know this is still work in progress. I'm going to stop for the day as I've got nothing done just wrestling with getting the basics running.

[2015-10-21 06:27] bbk79 commented on #256
I had a smoother experience over the weekend, starting from scratch got some basic CRUD API up and running and installed and deployed the 'awsm-users' module as well. But yes, this is still very new and a work in progress and my experience wasn't problem free either...

I ended up with a similar CF issue at some point after fiddling with project structure, all I remember on how that was eventually

[2015-10-21 07:50] jwulf commented on #253
Also, winston dynamically requires files, which is not supported by browserify.

Trying this solution here: http://stackoverflow.com/questions/21642398/compiling-dynamically-required-modules-with-browserify

[2015-10-21 09:01] jwulf commented on #253
Also, browserify doesn't like relative paths on the `main` - so it consumes `lib/index.js`, but not `./lib/index.js` (and also not `./lib/index`)

[2015-10-21 10:16] behboud opened #259 "Error connect ETIMEDOUT following quickstart guide"
just following the quickstart guide I get the following error after jaws dash:
[code]
what am I doing wrong?

[2015-10-21 11:37] eahefnawy commented on #259
You mean after you hit `Deploy Selected`? or right after `jaws dash`?

[2015-10-21 12:45] jwulf opened #260 "Project-wide Lambda build settings"
I've written an awsm logging library for JAWS Lambdas that uses a promise to finish the logging before the lambda terminates the context. It supports various transports, including winston. Winston dynamically requires files. To browserify this, the `bulkify` transform is needed in the project dependencies and also in the `awsm.json` for each lambda that uses the logging library.

Is there a way to

[2015-10-21 12:50] nicornk commented on #259
After I press Deploy Selected:
JAWS: -------------------------------------------
JAWS:  Dashboard:  Deploying Endpoints...
JAWS: -------------------------------------------
JAWS: Endpoint Deployer:  Deploying endpoint(s) to region "eu-west-1"...
JAWS: Endpoint Deployer:  "dev - eu-west-1": found 1 endpoints to deploy

{ [Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'co

[2015-10-21 13:02] sixlettervariables commented on #259
If you open `https://lambda.eu-west-1.amazonaws.com/` in a browser, do you see something like:

[code]

[2015-10-21 13:13] behboud commented on #259
setting region to us-east-1 works...

[2015-10-21 13:47] behboud commented on #259
must have been issue on AWS side. Works on all regions now. closing issue

[2015-10-21 13:47] #259 closed

[2015-10-21 14:11] jwulf opened #261 ""Optimize exclude" excludes package from bundle entirely."
http://stackoverflow.com/questions/32707970/how-do-you-bundle-aws-sdk-js-into-a-jaws-optimized-package

I tried this in the es6-modular branch, and on AWS my lambda errored out saying the module I excluded couldn't be found.

[2015-10-21 15:00] jwulf commented on #253
Browserify doesn't handle the dynamic generation of lazy-loading getters in winston's `transports.js`. It's elegant, but too dynamic for browserify.

[2015-10-21 16:08] theopak commented on #248
Does that command work for you? It doesn't work for me, and I can't find "jaws-cli" in the global registry. You could submit a PR on oh-my fish :smile: https://github.com/oh-my-fish/oh-my-fish/blob/master/docs/en-US/Packages.md#make-it-public

[code]

[2015-10-21 16:54] whatsdis commented on #256
okay well I don't think I can continue because I can't get past the first few steps. I've tried on a different machine, the result is same.

Since running JAWS, It's now impossible to create any CF on us-east now and no idea how to debug.

[2015-10-21 16:57] whatsdis commented on #258
basically once you created a project, you can't use the same project name again, even if you delete it and it disappears from CF. strange.

[2015-10-21 19:07] theopak commented on #258
I wonder if the jaws deployment command could also print out the exact resource or permission that causes a cf failure.

- We know when a CloudFormation create/update API call fails because the response has `StackStatus: 'ROLLBACK_IN_PROGRESS'`, and jaws prints that to the cli.
- You can manually debug this to find the first event that caused all other resources to get rolled back. Go to the Cloud