[2020-05-06 10:44] medikoo commented on #6771
@jdelaune please share full content of `serlveress.yml` best if it's minimal (no plugins involved), with sensitive parts masked out, and confirmed to expose the issue

[2020-05-06 10:45] medikoo commented on #7654
Yes, you may. Please then provide all system info (OS type, Node.js and npm version) and full output from `npm install`

[2020-05-06 10:55] jdelaune commented on #6771
[code]

[2020-05-06 10:58] medikoo commented on #6771
@jdelaune thanks, can you provide also full output of `sls deploy` as run with `SLS_DEBUG=*` flag?

[2020-05-06 11:00] jayachandranm opened #7681 "Installation of serverless using npm failed for global option (2)"
Tried to install serverless on Ubuntu-19.10 using node/npm option checking the fix related to core-js [https://github.com/serverless/components/issues/620](https://github.com/serverless/components/issues/620).

`sudo npm install -g serverless`

Still installation failed, but this time with error,

Node version: 10.20.1
npm version: 6.13.3

Relevant log file attached.
[serverless_install_err_2.log]

[2020-05-06 11:16] jdelaune commented on #6771
My apologies, figured out my issue was our CI server had an old version of serverless on it before the existing property was supported. It works as expected.

[2020-05-06 11:18] Pitasi commented on #5034
I'm struggling with this too.

What's "ApiGatewayMethodNameOfYourApiLookItUpInYourTemplate" you're referring to, @akleiber?
I tried a bunch of different combinations with no luck :)

cc @Rigellute maybe you can anser too

[2020-05-06 11:27] medikoo commented on #7681
@jayachandranm Can you paste full output of `sudo npm install -g serverless` (that include both stdout and stderr output)

Log you've attached seem to contain only some debug log which goes to stdout. While all valuable error information is in stderr

[2020-05-06 13:30] fengo4142 opened #7683 "serverless cron is not working with type error 'path'"
Hi, I wanted to run a schedule job on serverless offline, but not able to run due to below error.

https://stackoverflow.com/questions/61625597/serverless-offline-schedule-error-typeerror-err-invalid-arg-type-the-path

I think that error is just because there are no type checking for path of 'serverless.yml' which indicates handler function.
As you see below code, customPath can be string or array

[2020-05-06 13:47] medikoo commented on #7683
@fengo4142 Thanks for report. Indeed `config` should be validated in `resolveCliInput`, and crash if more than one input is detected.

PR's welcome!

[2020-05-06 14:11] Pitasi commented on #5034
Oookay I got it!
It should be: `ApiGatewayMethodFooGet`, where `foo` is my handler name and `get` is the HTTP method I'm handling.

[2020-05-06 15:47] gus-hallaq commented on #7675
Hi Medikoo,

I will check that `package.include`,
I have tried now to remove the `serverless-offline` from serverless.yml, and everything works as it should.

I don't know if that is a bug, or we always need to remove that plugin before we deploy.

[2020-05-06 15:49] IrmantasM commented on #4265
@mfulgo good workaround! would like to see alias supported though.

[2020-05-06 16:03] gus-hallaq commented on #7675
Hi Medikoo,

You are right about `package.include`, it's working now even with that plugin. :)

[2020-05-06 16:03] #7675 closed

[2020-05-06 18:05] jeffgraham-hiatus commented on #7542
We are seeing the same issue - endpoints removed from serverless.yml are deleted from Resources but remain in the Stage (and return 500 if invoked). Looking at the CF events, the new ApiGatewayDeployment is created before the ApiGatewayResource* are deleted? Maybe this is a race condition.

![image](https://user-images.githubusercontent.com/37225620/81212033-4434b400-8fa2-11ea-9099-ba55fe0e79c4.pn

[2020-05-06 18:40] SrTristao commented on #5764
Hi @pmuens,

how do i deploy a single function and generate a new version when multiple functions are configured in .yml?

[2020-05-06 20:31] thetumper commented on #6094
Attempting to add gateway logs, with previously existing role, and getting this error:

[sls]   An error occurred: CustomDashresourceDashapigwDashcwDashroleLambdaFunction - The role defined for the function cannot be assumed by Lambda. (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; etc.).

[2020-05-06 21:55] lima02 commented on #7242
+1
Mac 10.14.6. It happens during stack deployment.

Framework Core: 1.69.0
Plugin: 3.6.10
SDK: 2.3.0
Components: 2.30.7

[2020-05-07 00:52] jayachandranm commented on #7681
@medikoo I have separated the stdout and stderr. Attached the two log files.
[serverless_install_err.log](https://github.com/serverless/serverless/files/4590134/serverless_install_err.log)
[serverless_install_out.log](https://github.com/serverless/serverless/files/4590135/serverless_install_out.log)

[2020-05-07 03:15] NathanBarnard commented on #3785
still

[2020-05-07 03:16] NathanBarnard commented on #3785
Still experiencing this issue

[2020-05-07 08:14] medikoo commented on #7542
@jeffgraham-hiatus this looks as an issue on AWS side, for which we hardly can do anything. Have you tried to contact AWS support?

[2020-05-07 08:22] medikoo commented on #7242
@lima02 thanks for details. I believe removing `~/.serverless/cache/custom-resources` will allow you to recover.

Still I think I know what could lead to that issue, fix is on the way

[2020-05-07 08:43] kvaDrug commented on #5200
I had the same problem with serverless "hello" template. The app was loading to a wrong AWS account. I was able to fix it. In the serverless.yml `app` and `org` should precede `service`, in order to remove this bug.

[2020-05-07 08:53] medikoo commented on #7681
@jayachandranm Thanks, still those logs do not expose what happens in child processes as `./scripts/postinstall.js`. Without having that information, we're still not able to diagnose anything.

See below screenshot on how usually in normal setup such errors are reported (see "Some error" stack trace)

![Screenshot 2020-05-07 at 10 51 09](https://user-images.githubusercontent.com/122434/81274652-de

[2020-05-07 11:04] medikoo opened #7685 "Outdated `archiver` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L163

We're relying on v1, while we can [safely](https://github.com/archiverjs/node-archiver/blob/master/CHANGELOG.md) (without breaking support for Node.js v6) upgrade to v3

PR's welcome!

[2020-05-07 11:09] medikoo opened #7686 "Superfluous `async` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L164

We're relying on `async`, while ideally we should purely resort to promises.

Code that depends on `async` should be  refactored to rely on native `Promise` (or if that's proven difficult, then to `bluebird`)

[2020-05-07 11:27] medikoo opened #7687 "Outdated `fs-extra` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L179

We're relying on v0.30, while we can [safely](https://github.com/jprichardson/node-fs-extra/blob/master/CHANGELOG.md#800--2019-05-11) (without breaking support for Node.js v6) upgrade to v8

PR's welcome!

[2020-05-07 11:33] c-ameron commented on #3944
ah great - thank you! :)

[2020-05-07 11:39] medikoo opened #7689 "Outdated `globby` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L181

We're relying on v6, while we can [safely](https://github.com/archiverjs/node-archiver/blob/master/CHANGELOG.md) (without breaking support for Node.js v6) upgrade to v9.

It needs to be done with care, with full understanding of changes that were made to globby defaults and options handling be

[2020-05-07 11:48] medikoo opened #7690 "Duplicated logic due to `@serverless/inquirer` seclusion"
Some of the [logic](https://github.com/serverless/serverless/blob/763a9a3a36212638197eb360e77cc2f477f3fcf5/lib/plugins/interactiveCli/inquirer.js) was secluded to [@serverless/inquirer](https://www.npmjs.com/package/@serverless/inquirer).

Repo should be updated to rely on `@serverless/inquirer` instead of internal `lib/plugins/interactiveCli/inquirer.js` module

[2020-05-07 12:02] medikoo opened #7691 "Outdated `json-refs` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L189

We're relying on v2, while we can [safely](https://github.com/whitlockjc/json-refs/blob/master/RELEASE_NOTES.md#v300-2017-04-25) (without breaking support for Node.js v6) upgrade to v3

By changelog it may seem that upgrade requires no changes, still when I tried to update tests started to fai

[2020-05-07 12:32] medikoo opened #7693 "Outdated `uuid` dependency"
https://github.com/serverless/serverless/blob/3a8014089033887621de32b57eed4511616b635f/package.json#L209

We're relying on v2, while we can [safely](https://github.com/uuidjs/uuid/blob/master/CHANGELOG.md) (without breaking support for Node.js v6) upgrade to v8

PR's welcome!

[2020-05-07 12:59] #7242 closed

[2020-05-07 14:14] jayachandranm commented on #7681
@medikoo somehow I don't see those stack traces. Do I have to enable the debug option somewhere? I just run the command,

`npm install -g serverless > out log 2> err.log`

[2020-05-07 14:16] medikoo commented on #7681
@jayachandranm what OS you're using? Maybe just show the screenshot from terminal as I did above

[2020-05-07 16:46] shihrer commented on #7649
@medikoo what I did was remove the null pattern from the config and the error went away.  We were able to get in contact with AWS support and they confirmed to us that CloudFormation doesn't support the null value.  I'll go ahead and close this since it's not related to Serverless.  Thanks for your response, though!

[2020-05-07 16:46] #7649 closed

[2020-05-07 19:55] DavidEspinosa42 opened #7695 "Set unreserved concurrency for AWS Lambda"
### Use case description

Hi, in AWS Lambda we have 3 possible reserved concurrent executions, A max limit, Zero(will disable the execution) and unreserved(will use the AWS account concurrency limit).
With serverless we can only explicitly define the first two.

### Proposed solution

I would like to be able to use "-1", the same parameter that terraform uses for this: https://www.terraform.io/doc

[2020-05-07 20:23] kennedy opened #7696 "Cannot deploy Python project with standalone on Windows"
I am following the getting started hello-world example using the `aws-python3` template, but I keep getting errors about:
[code]

Seems like I am not the only one. Here is a serverless forum post with no traction: [failure-to-deploy-or-run-locally-with-file-not-found-exception](https://forum.serverless.com/t/failure-to-deploy-or-run-locally-with-file-not-found-exception/10950)

No plugins were ins

[2020-05-07 22:01] Micron-Flash commented on #7696
I've been running into this same error as well. A workaround that seems to be working for me is to not enable the "You can monitor, troubleshoot. and test your new service with a free Serverless account" when setting up a new project

[2020-05-07 23:57] lovefamilychildrenhappiness opened #7697 "Security Vulnerabilities of Serverless Dashboard (no SERVERLESS_ACCESS_KEY needed?)"
I find the org option in the serverless.yml file to be very unclear. I know that I created a Serverless Dashboard account. Inside the Dashboard account, I created a 'profile' to connect to my AWS account, which created an AWS IAM Role specific for the Serverless Framework to do temporary access roles. In fact, when I look at the profile in the Serverless Dashboard, I notice the IAM role. Then in '

[2020-05-08 00:23] lovefamilychildrenhappiness commented on #7697
I was able to get it running through Docker by explicitly adding SERVERLESS_ACCESS_KEY to .env of dotenv. So interesting that it needs this value inside the container and it needs this value when executing in a container on AWS CodeBuild. But it does not need this value when executing from my terminal on my OSX. It doesn't make sense. But I am 100 percent sure I do not have this SERVERLESS_ACCESS_

[2020-05-08 01:39] jayachandranm commented on #7681
@medikoo I am using Ubuntu 19.10. Attached the screenshot of my terminal.

![serverless_install_screenshot](https://user-images.githubusercontent.com/8652282/81360998-c8f11080-910f-11ea-97e7-eb42abebf7ad.png)

[2020-05-08 05:37] tksd123 commented on #2856
Is it possible to just get the possibility to override it instead?
Using the same cloud formation syntax, something like :
`  iamRoleStatements:
    RoleName: my-custom-role-name
    - Effect: "Allow"
      Action:
        - ssm:Describe*
        - ssm:Get*
        - ssm:List*`

[2020-05-08 07:16] spaszek commented on #4715
I just ran into it and I see that more than 2 years have passed. Do we have any official statement from the Serverless Framework team?

[2020-05-08 07:22] medikoo commented on #7695
@DavidEspinosa42 great thanks for that proposal

I believe in Framework not setting `reservedConcurrency` (or setting it to `null` or `undefined`) would actually set _unreserved_ concurrency. Isn't that the case?

[2020-05-08 07:27] johnthatfield commented on #7696
I'm also having this issue. Exactly the same as described above

[2020-05-08 07:39] medikoo commented on #7696
@kennedy I understand that command is: `serverless invoke local --function hello` ? (description and CLI output doesn't state what command was invoked)

[2020-05-08 07:40] johnthatfield commented on #7696
Command is
`serverless deploy`

[2020-05-08 07:44] medikoo commented on #7696
@johnthatfield I do not reproduce this error for `serverless deploy`, but I see exactly same error as in description for `serverless invoke local --function hello` (and that was already reported at #7407 )

It might be that your case is about different error, if it's the please open other issue (but please respect all template remarks)

[2020-05-08 07:44] medikoo commented on #7696
Duplicate of #7407

[2020-05-08 08:10] medikoo commented on #7697
@lovefamilychildrenhappiness please use https://forum.serverless.com/ for questions.
One of our member will be happy to clarify for you how it works and that there's no security issue.

[2020-05-08 08:10] #7697 closed

[2020-05-08 08:14] medikoo commented on #7681
@jayachandranm see the `cmd_run.go:95` warning. it signals there are either permissions issues or you have broken node installation (`nonexistent/snap/node` sounds alarming).

It looks as some issue with your setup and not Framework itself.

[2020-05-08 12:28] jayachandranm commented on #7681
@medikoo thanks for that tip. I looked at my node installation. I installed the nodejs from Ubuntu's snap packages and there seems to be a problem for installing global dependencies with snap based packages. Now I have to figure out the best approach for installing serverless.

I really appreciate your time and of others in attending to this issue and for maintaining this great tool!

Should I now

[2020-05-08 12:30] medikoo commented on #7681
Yes, I take we coined the source of the issue, and is not in the scope of this project, therefore please close it. Thank you!

[2020-05-08 12:36] jayachandranm commented on #7681
The issue is related to the installation of nodejs using the snap package on Ubuntu.

[2020-05-08 12:36] #7681 closed

[2020-05-08 12:52] DavidEspinosa42 commented on #7695
Interesting!
Setting reservedConcurrency to undefined threw this error:

But setting it to null worked perfectly.
Thanks!

[2020-05-08 12:52] #7695 closed

[2020-05-08 13:05] kennedy commented on #7696
Forgive me, I do not understand. Is the solution not to use monitoring? Is this a known bug during deploy?

@medikoo the command I was running was `serverless deploy` just like the example/tutorial, I was presented with that error.

When I attempt to `serverless deploy` with `org` and `app` configured in the `serverless.yaml`, it creates an empty directory called `serverless_sdk`. According to thi

[2020-05-08 13:10] johnthatfield commented on #7696
I second this @kennedy . Issue was closed for no reason. I too have the same bug on `serverless deploy`. Definitely needs investigating as the dashboard is completely useless with this bug

[2020-05-08 13:15] medikoo commented on #7695
I'd call it a bug.

Anyway, not setting `reservedConcurrency` at all, should have same effect

[2020-05-08 13:32] medikoo commented on #7696
@kennedy do you also observe it with latest version of a Framework? For me this service deploys without issues with v1.70.0 standalone.

If you observe same issue with v1.70.0. Please provide full output of `sls deploy` command (with `SLS_DEBUG=*` ensured).

Note that your report (1) missess the information on what command is used, and links to report on forum which is clearly about `sls invoke lo

[2020-05-08 13:33] johnthatfield commented on #7696
Yes, also on windows. Latest version downloaded thismorning

[2020-05-08 13:55] medikoo commented on #7696
I've reproduced it on Windows (it appears as specific to this OS)

[2020-05-08 13:56] kennedy commented on #7696
@medikoo Thanks for clarifying. The forum was talking about invoke, however it was the only time someone else documented the issue as me by [@devcoder1 on the forum on May 8, 2020](https://forum.serverless.com/t/failure-to-deploy-or-run-locally-with-file-not-found-exception/10950/2).

As for what command I used, I apologize. I will remember to add the command next time, and I will update the issue

[2020-05-08 14:01] kennedy commented on #7696
@medikoo As a fun addition, I was able to deploy without the `app`/`org` fields. But I am getting this error now when I do local invoke, might be a parsing issue?

[code]

[2020-05-08 14:02] medikoo commented on #7696
It's wierd that it attempts to access files needed for local invocation.

Did it work for you with older versions of standalone build?

[2020-05-08 14:05] kennedy commented on #7696
@medikoo The last project I worked on with serverless framework was back in September 2019, and standalone deploys worked.

[2020-05-08 14:27] medikoo commented on #7696
Will be fixed with #7699, and most likely published Monday morning. Great thanks for reporting!

[2020-05-08 15:22] medikoo commented on #7449
As indicated in https://github.com/serverless/serverless/pull/7509#issuecomment-625867140 we've decided to welcome it as external plugin.

[2020-05-08 15:22] #7449 closed

[2020-05-08 19:34] thetumper commented on #7478
Is there any documentation listing which resources are created using custom resource lambda invocations?  I'm having the same problem with configuring API Gateway logging in my serverless configuration, and also using a cfnRole there, which does not have lambda in its trust policy.  Not sure how I would have known that the Gateway logging would be a custom resource?  Secondarily, is there any chan

[2020-05-08 19:41] dotorg-hala opened #7700 "Serverless errors on CF instruction being put into provider.httpApi.id"
### Bug Report

#### Q1: Describe the issue
I have a shared httpApi that I am creating externally and I export its ID to CloudFormation Exports and store the Name of that export in my Custom section in my serverless.yml file. I use this shared httpApi for all my services. I am importing the httpApi ID for reuse in my various services using `Fn::ImportValue.` When importing using the following:

[c

[2020-05-09 03:23] patricio-ezequiel-hondagneu-roig commented on #3785
That's what I'm gonna say some magical day in the future, because right now it's still an issue 👎🏼

[2020-05-09 06:11] orienta opened #7702 "Error when trying to deploy a lambda function"
[code]

[2020-05-09 09:20] ThomasAribart opened #7705 "Enable setting contentHandling property at the integration response level"
### Use case description

On my project, I need to convert a lambda response to binary in API Gateway, which can be done by using lambda integration, returning a b64 encoded string and setting the response contentHandling property to CONVERT_TO_BINARY.

However, I want to convert the returned value only when the lambda's execution is successful. When it errored, I want to pass the body through so

[2020-05-09 14:54] AhmedFat7y commented on #7678
@medikoo In CF, this is part of the destinations configuration `AWS::Lambda::EventInvokeConfig`
You build this resource by building destinations, if they exist [on this line](https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/functions/index.js#L562)

I would check for `maxRetryAttempts` & `maxEventAgeInSeconds` on their own as part of the function configuration a

[2020-05-09 15:49] AhmedFat7y commented on #7683
@fengo4142 Could you possible provide the command that raised this issue?

@medikoo There are 2 ways to validate this

1. Disable this flag `duplicate-arguments-array` in `yargs-parser`. [Reference](https://github.com/yargs/yargs-parser#duplicate-arguments-array). This will just take the latest value provided
[code]
1.  Check the value of `config` after parsing to make sure it's a single string. W

[2020-05-09 16:05] AhmedFat7y commented on #7671
@medikoo Is it acceptable to attach a `isLambda` variable to function object? or this is intended to reflect the actual configuration only?
The function is prepared first by the `cloudfront` event, then env vars are added later. I'm trying to pass info from `cloudfront` event preparation to mark this function as `lambda@edge` so we can make more decisions later on if needed

[2020-05-09 17:17] medikoo commented on #7478
Unfortunately not at this point. It can be read from code base here: https://github.com/serverless/serverless/tree/master/lib/plugins/aws/customResources/resources

Anyway we're definitely welcome a documentation addon that covers that (PR's welcome)

If they could be created that way, we wouldn't create them via custom resources. Technically we're relying on custom resources only for parts which

[2020-05-09 17:22] medikoo commented on #7700
@dotorg-hala thanks for report. Can you please respect all guidelines in bug report template and answer all questions carefully?

Unfortunately provided information is not sufficient enough to understand the source of the issue

[2020-05-09 19:04] AhmedFat7y commented on #7599
@medikoo
check here if the flag is set and not create the log groups?
https://github.com/serverless/serverless/blob/e9726e2f7a831028738cb0f9e2358185d15dfa01/lib/plugins/aws/package/lib/mergeIamTemplates.js#L20-L42

[2020-05-09 19:21] AhmedFat7y commented on #7437
@medikoo
Only this part needs to be edited, right? Or this needs to change for all roles for other things as well?
https://github.com/serverless/serverless/blob/e9726e2f7a831028738cb0f9e2358185d15dfa01/lib/plugins/aws/package/compile/functions/index.js#L61-L67

[2020-05-10 05:49] ziggy6792 commented on #2508
Hi guys. Check out my blog post which explains this issue and how to work around it by modifying your amplify cloud formation templates. https://ziggy6792.github.io/posts/amplify-lambda-dynamodb/#potential-maximum-policy-size-issue-when-running-amplify-push

[2020-05-10 10:44] slang25 opened #7710 "Add support for .NET Core 3.1 lambdas"
Upgrade the C# and F# AWS templates to include `netcoreapp3.1` support and updated deps.

[2020-05-10 13:18] adir1661 opened #7711 "AWS Events - PreSignUpCustomCognitoUserPool1 - Failed to create resource."
when deploying my sls project, i am having an error that prevents me from deploying:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-05-10 19:03] fredericbarthelet commented on #1720
Following @medikoo recommendations, I updated my PR #7658 in order to use `LOG_DEBUG` namespace value to output command/hook lifecycle in the terminal for the requested serverless command.

The way I implemented it is very simple, juste checking for this env var value before writing lifecycle to console.

All PRs linked to this conversation stalled, and I imagine my simple solution to be too simpl

[2020-05-10 22:42] ZBAGI opened #7713 "service.package.artifact not respected when packing layer"
According to [serverless guide for packaging](https://www.serverless.com/framework/docs/providers/aws/guide/packaging/)

But providing `service.package.artifact` still causes layer to be packed.
`packageLayer` should respect that option and skip package creation.
At:
https://github.com/serverless/serverless/blob/9591d5a232c641155613d23b0f88ca05ea51b436/lib/plugins/package/lib/packageService.js#L87

[2020-05-11 00:24] exoego commented on #7713
In the sentence from the quote`"Serverless won't zip your service if this is configured"`, the term ***service*** does not include ***layer*** in this context.

I think it is not a good idea to bunde service and layers in single artifact zip.
Instead, those should be separated in different artifacts, because...

* Each layers can be shared among services in releief, if the layer contain only utili

[2020-05-11 00:59] #7713 closed

[2020-05-11 07:12] xkelvinx666 opened #7714 "'sls deploy' get some network issue in scf component"
I download the demo from cloud.tencent.com. there is a network issue. they engineers describe that it is some issue from serverless core package. I try using another component which is website, and it work correctly

[code]

![image](https://user-images.githubusercontent.com/15306173/81533515-f0a6d980-9398-11ea-8e30-5536b6d3dc0e.png)

<details>
<summary><code>serverless.yml</code></summary>

[code

[2020-05-11 08:22] medikoo commented on #7702
@orienta please respect all template remarks and fill all questions. We're not able to process your request due to insufficient details

[2020-05-11 08:41] medikoo commented on #7705
@ThomasAribart Thanks for request, it's definitely worth to fix it.

Your proposal looks good, still wonder whether `response.contentHandling` should be applied only in case of `200`. I'd say it's a bug we apply to all status codes. What do you think?

[2020-05-11 08:56] medikoo commented on #7678
@AhmedFat7y thanks for asking. Yes, we should probably rename `compileFunctionDestinations` into `compileEventInvokeConfig` and internally handle all options that trigger generation of that resource.

Great question. I would do as follows:
- Favor setting on _function_ (not _destination_)
- Deprecate setting at _destination_ (so support it, if it is, but show deprecation log in such case) Unfortun

[2020-05-11 09:00] medikoo commented on #7683
@AhmedFat7y I would go with second one. First one indeed will help in this given case (where same config option was provided twice), but we still need to be resilient to case where two different values are provided, and also I think it's not that bad to report with an error on duplicate input

[2020-05-11 09:07] #7693 closed

[2020-05-11 09:08] medikoo commented on #7671
@AhmedFat7y definitely, Thank you!

[2020-05-11 10:14] medikoo commented on #7599
@AhmedFat7y yes, it looks as right way to go!

[2020-05-11 10:18] medikoo commented on #7437
@AhmedFat7y I think it's the only part that needs to be updated. In other places we configure it for different kind of resources, and that I believe should be left untouched. Thanks!

[2020-05-11 10:29] #7710 closed

[2020-05-11 10:30] medikoo commented on #7711
@adir1661 you're not using latest version of a Framework. Please update

[2020-05-11 10:41] medikoo commented on #1720
@fredericbarthelet This PR is about improving how we handle logs in general (by introducing real log levels and namespaces).

Lifecycle logging could be first one to get advantage of the feature. However first we'd need at least minimal configuration of a new logger.

Technically just initializing [log-node](https://github.com/medikoo/log-node#log-node) writter in `bin/serverless.js` will do most

[2020-05-11 10:51] #7685 closed

[2020-05-11 11:39] #7696 closed

[2020-05-11 12:00] shadhanu opened #7716 "Error: ENOENT: no such file or directory, open"
I am trying sls package. In some modules, this works but not in others. It seems like a sporadic issue.

Any clues ?

Serverless: Packaging service...
Serverless: Excluding development dependencies...

  Error --------------------------------------------------

  Error: ENOENT: no such file or directory, open '/node_modules/.bin/components'

     For debugging logs, run again after setting the "SL

[2020-05-11 12:05] medikoo commented on #7716
@shadhanu please respect all issue template remarks and fill answers for all questions.

[2020-05-11 12:43] medikoo commented on #7637
@bnusunny you can restore AWS interactive CLI via setting `SERVERLESS_PLATFORM_VENDOR=aws` env var.

[2020-05-11 12:43] #7637 closed

[2020-05-11 13:29] bnusunny commented on #7637
Would appreciate to add this in the documentation.

[2020-05-11 14:07] medikoo commented on #7637
@bnusunny that'll be improved with https://github.com/serverless/serverless/pull/7717

[2020-05-11 15:19] eldos-dl commented on #6094
Can we get an option to customize the log format?

[2020-05-11 15:51] ludobonnet opened #7718 "Serverless systematically crashes after updating to the last version"
After updating to the last version, all commands return the same error.

Environnement :
MacOS : 10.15.4
Node : 13.2.0
Serverless : 1.70.1

<details>
<summary><b><code>serverless -v</code> output</b></summary>

[code]

</details>

[2020-05-11 16:03] medikoo commented on #7718
@ludobonnet thanks for reporting. Still, we're unable to reproduce that, also all our tests and integration tests pass without issues.

How did you install new version?

[2020-05-11 16:11] ludobonnet commented on #7718
in a very classic way: npm install -g serverless

[2020-05-11 16:19] chitranjali commented on #4647
But when you used RedrivePolicy method, Don't you need to attach your source queue to the lambda through serverless.yml? or Are you doing it manually?, like giving the "Dead-letter queue service" Field in Lambda. (This comes in asyncronous invocation tab in lambda whene using consol), If this isn't given, how your lambda will send the failures to source queue's?

[2020-05-11 17:20] jeffbski-rga commented on #7012
@alefhsousa We should also add max event age for lambdas while you are at it, it should be the same part of the code.

https://aws.amazon.com/about-aws/whats-new/2019/11/aws-lambda-supports-max-retry-attempts-event-age-asynchronous-invocations/

[2020-05-11 18:46] dotorg-hala commented on #7700
@medikoo apologies for not following the template. I've updated my report, thanks for your time and patience.

[2020-05-11 19:16] ludobonnet commented on #7718
This is a problem with this version of node. If I change with nvm the version to 12 it works ...

[2020-05-11 19:24] medikoo commented on #7718
What is your version of npm? Note that Node.js v13 is technically dead, it's either v14 or v12 you should be relying on now.

It's also most likely is some problem with your setup, as if it'll be the real issue on our side. we'd receive many reports, and this issue would quickly become crowded.

[2020-05-11 19:28] medikoo commented on #7718
See: https://github.com/uuidjs/uuid/issues/440

[2020-05-12 07:11] medikoo commented on #7700
Thanks @dotorg-hala

Full result would be helpful, note that section is intentionally collapsed, so eventual long output doesn't interfere with issue readability.

Anyway from what I see, you've put a CloudFormation instruction at `provider.httpApi.id` while it needs to put in direct form.

Note we just pass the value as is in config directly to CF template, and it's AWS that responds with error y

[2020-05-12 08:02] AhmedFat7y commented on #7678
Will work on it

[2020-05-12 08:02] AhmedFat7y commented on #7683
will work on it

[2020-05-12 08:35] AhmedFat7y commented on #7437
will work on it

[2020-05-12 08:54] AhmedFat7y commented on #7599
@medikoo
I will need to add a test to check for `disableLogs` flag. Should I use the [@serverless/test/docs/run-serverless](https://github.com/serverless/test/blob/master/docs/run-serverless.md#run-serverless)? Or extend the current test suite following the its methodology? (Something like this](https://github.com/AhmedFat7y/serverless/commit/e0dc6882e11004882f42cefc25ca73839fab7d98#diff-c7d92d2a7

[2020-05-12 09:24] medikoo commented on #7599
@AhmedFat7y Ideally of you can use `run-serverless` (at some point we will probably rewrite current tests to it). You may put those in entirely new `describe` if it doesn't fit current setup well

[2020-05-12 09:42] exoego commented on #7486
We may remove mkdirp dependency since Node.js 10 adds recursive option to fs.mkdir.

[2020-05-12 10:00] exoego commented on #7486
How about removing `update-notifier`?
IMHO, update notification is less valuable nowadays,
because there are many ways to update dependencies automatically, e.g. dependabot, greenkeeper and so on.

One example of npm module that removed update-notifier.
https://github.com/palantir/tslint/pull/2262

[2020-05-12 10:07] medikoo commented on #7486
@exoego thanks for suggestion. Still it doesn't apply that much in `serverless` case as it's top level package (not typical dependency)

Many developers use just global (or _standalone_) installation and naturally in such case they're not tracking new updates via some external means

[2020-05-12 10:08] exoego commented on #7486
Ah, thats true.
I forgot about global installation.

[2020-05-12 11:24] dam-coder commented on #7646
After hitting the AWS 200 stack-resources limit I started to split my project and found this another limitation.

I understand that this may be hard to overcome when it comes to the offline packaging feature.
But I tried to deploy directly (without using the packaging feature) and the result was the same.

Is there any way that a function belonging to serverless-stack-B.yaml can reference an ALB l

[2020-05-12 11:48] medikoo commented on #7646
I looked closer into ALB resolution, and it appears that what we resolve as `albId` is just used for resource id and name generation, and what we resolve as `listenerId` is not used anywhere.

In light of that I believe that we can safely refactor `validateListenerArn` to support CloudFormation instructions (and all other valid inputs), and change it to return a  _string_ id directly (which we wou

[2020-05-12 12:13] entozoon commented on #7718
Can confirm failure with node v13.6.0 and it's npm version - but if you [install nvm](https://github.com/coreybutler/nvm-windows) it's all fine with:
[code]

[2020-05-12 12:39] medikoo commented on #7718
It affects all Node.js v13 versions below v13.7.0

To me it feels as bug on Node.js side in mentioned versions, and I'm not sure is it worth to downgrade `uuid` just for the sake of supporting Node.js `v13.0.0 - v13.6.0`

[2020-05-12 14:34] mrichman commented on #5519
You spelled `Principal` as `Principle`. They are not the same word.

[2020-05-12 19:11] marcosfede commented on #4893
any news?

[2020-05-12 20:24] andrewpuleo commented on #7686
Hi @medikoo, new contributor here. May I make a PR for this?

[2020-05-13 00:18] quirogamauricio commented on #3714
I was configuring AWS credentials almost the same way you were... the difference was I was not calling `deploy` right after; Still I couldn't use your "fix" because it seems that for some reason`serverless config credentials parses `serverless.yml`  and the variables I was referencing in it were not resolve at that point, since I'm loading them after the config credentials step using `env-cmd`.

I

[2020-05-13 00:55] ctrongminh commented on #3785
Confirmed, I still have this issue where we update the {proxy+} and keep the rest the same
E.g: Change from "api/v1/user/{userName}" to "api/v1/user/{userID}"

[2020-05-13 02:56] vincentleekp commented on #6112
+1

[2020-05-13 07:45] fredericbarthelet commented on #7691
It is not listed as a breaking change, but json-refs changelog states that from v3 onwards : `Removed options.relativeBase as it's too confusing and easier to get right using options.location`. The `relativeBase` option is being used in `lib/classes/YamlParser.js`, will make a PR and check if that's the only BC.

[2020-05-13 07:58] lantrix commented on #5414
I guess with https://github.com/PowerShell/PowerShell/releases/tag/v7.0.0 releases then this would be a 6/7 template.

[2020-05-13 09:16] guider opened #7723 "install success but exec sls fail"
![image](https://user-images.githubusercontent.com/15050634/81794425-592ebb80-953d-11ea-8cd8-ce4be7f10887.png)

macos version 10.13.6
npm version 6.14.5
node version 13.8

[2020-05-13 09:34] deevemula commented on #4647
is there any update on this?
tried using https://www.npmjs.com/package/serverless-plugin-lambda-dead-letter plugin but it didn't really help

[2020-05-13 09:40] #7723 closed

[2020-05-13 10:53] adir1661 commented on #7711
after upgrading to this version:

[code]

still exact same error @medikoo

[2020-05-13 11:14] #7599 closed

[2020-05-13 11:17] medikoo commented on #7686
Absolutely! Thank you

[2020-05-13 11:21] #7671 closed

[2020-05-13 11:29] medikoo commented on #7691
Thank you @fredericbarthelet !

[2020-05-13 12:07] slink1811 commented on #7711
I have the same error:

[code]
` An error occurred: PostConfirmationCustomCognitoUserPool1 - Failed to create resource. Cannot read property 'Id' of null See details in CloudWatch Log`

[2020-05-13 13:28] medikoo commented on #7711
@adir1661 please respect all template remarks, and all answer questions in full, e.g. content of `serverless.yml` you provided doesn't seem to be complete

[2020-05-13 14:16] #7687 closed

[2020-05-13 14:25] mattgraygithub opened #7724 "Request from localhost will not complete"
I have some Serverless Lambdas written in Typescript and deployed to AWS with API Gateway. They work perfectly through the AWS Console and using serverless invoke local (on most machines).

Back when I was in the office before lockdown, they worked perfectly on my machine using serverless invoke local; and my integration tests which call the RDS database using the Lambdas, all passed when ran on t

[2020-05-13 14:31] medikoo commented on #7724
@mattgraygithub please ask at https://forum.serverless.com/

Still, if you feel there's a bug in Framework itself, please prepare a minimal test case that doesn't involve any plugins and exposes the issue consistently.

[2020-05-13 14:31] #7724 closed

[2020-05-13 15:42] barnesoir commented on #7584
I and a few people are also having this issue.
It's due to the fact the the default start script does `func host start` and doesn't tell TS to transpile or create the arm templates function.json which the azure tools need.

Swapping npm start to `serverless offline` generates the arm templates and starts the function host but the arm templates point to the typescript src directory `src/handlers/fu

[2020-05-13 18:28] slink1811 commented on #7711
as in #6579 i use the pool name and it works

[2020-05-13 19:54] chrismcbride76 opened #7726 "API Gateway Custom Authorizer not referencing ‘provisioned’ alias lambda when specifying provisioned concurrency"
This is an issue that was first reported in the forums and that I'm also encountering. https://forum.serverless.com/t/api-gateway-custom-authorizer-not-referencing-provisioned-alias-lambda-when-specifying-provisioned-concurrency/11424.

[code]

I have a lambda function and custom authorizer, both using provisioned concurrency:
[code]
Both these lambda functions are created with the provisioned ali

[2020-05-13 20:28] medikoo commented on #7726
@chrismcbride76 thanks for report. It indeed looks as a bug.

As I see problem is that here: https://github.com/serverless/serverless/blob/522e9c0ff822295a19447939b641459118e0cb37/lib/plugins/aws/package/compile/events/apiGateway/lib/authorizers.js#L43
We do not resolve path to lambda as here:
https://github.com/serverless/serverless/blob/522e9c0ff822295a19447939b641459118e0cb37/lib/plugins/aws/pa

[2020-05-13 22:32] julian-linux commented on #5672
any update about this?

[2020-05-14 00:51] dotorg-hala commented on #7700
@medikoo I've added the full SLS_DEBUG output. FWIW I don't see any errors in the CloudFormation events and the stacks complete successfully and attach the lambdas to the right API Gateway.

[2020-05-14 02:33] seba-i commented on #6485
Also having the issue of changes to iamRoleStatements section not being written during redeploy. In the past this has worked for me (added a ddb index), but not now (v1.70.1) when adding a second ddb table.

[2020-05-14 02:52] terry-au opened #7727 "Variable substitution fails on `provider` key"
When attempting to use a common provider across my services, through a `file(…)` reference, a `name` key is inserted under `provider` and the referenced value placed under it, breaking the `serverless.yml` schema.

In the output below the `provider` key has a single child `name` key, whose value is that of the referenced value. The `foobar` key, which uses the exact same file reference does not co

[2020-05-14 06:38] medikoo commented on #7700
Thanks, now I can diagnose it properly. There's indeed an issue. While CF instructions seems work for deployment, it's not configured to work in further where we try to retrieve info about deployed HTTP API, and it crashes here: https://github.com/serverless/serverless/blob/522e9c0ff822295a19447939b641459118e0cb37/lib/plugins/aws/info/getStackInfo.js#L34

Issue on our side, is that we do not valid

[2020-05-14 07:03] medikoo commented on #7727
@terry-au great thanks for report. Unfortunately at this point referencing `provider` settings via file is not support.

There's a dedicated issue for that problem: https://github.com/serverless/serverless/issues/7207

[2020-05-14 07:03] medikoo commented on #7727
Duplicate of #7207

[2020-05-14 07:03] #7727 closed

[2020-05-14 09:06] MatejBalantic commented on #3824
Thanks for the forensics on this, it saved us a lot of time. We import the ARN, so providing additional `topicName` seems pointless.

For now, we just set the `topicName` to `ThisValueIsNotImportantAsLongAsPresent`. Would be cool if this is handled by serverless falling back to using some default name, or made more explicit that this is for CloudFormation-only naming by adding a variable like `int

[2020-05-14 10:19] adir1661 commented on #7711
@medikoo can you adress me more specificly i don't think i understand you, do you weant me to posy my whole serverless yml file?

[2020-05-14 10:20] mattgraygithub commented on #7724
Thanks. I already did ask at the forum as well. Still waiting for reply. As I said in the post it happens even without the serverless-offline plugin installed

[2020-05-14 10:51] medikoo commented on #7711
@adir1661 yes, please respect all issue template remarks. If something is not clear in it, please cite the confusing part with some explanation (we're open to improve the template if needed)

[2020-05-14 10:56] #7683 closed

[2020-05-14 11:05] adir1661 commented on #7711
@medikoo i dont understand what is missing in my yml file even after rereading the all issue template remarks.
and specificly also didn`t understand what is "• Has sensitive parts masked out" means.

[2020-05-14 11:47] medikoo commented on #7711
You can easily find by e.g. running `serverless -v` against it.

We need a reproducible test case, this file doesn't resemble one.

You shouldn't share any personal data or secrets openly, instead mask it with e.g. `xxx`

[2020-05-14 12:33] AhmedFat7y commented on #7422
@medikoo So we want to implement a logging function that will just log a deprecation message only when called. It will be up to the others to log the deprication message (unlike the initial approach on this #3211)?

`code` here will be text referring to specific functionality/plugin or what it will be?

Do we need to add more structure? For example: https://github.com/serverless/serverless/blob/ca

[2020-05-14 13:03] AhmedFat7y commented on #7435
Given we have Env variable `SomeUrl=http://localhost/foo` The Steps followed to resolve the variable with default you provided ${env:SomeUrl, "${cf:my-stack.ServiceEndpoint}/api"} are as follows:
1. Use Variable Syntax regex `\${([^{}]+?)}` to extract first variable to resolve, which detects the most inner part of nested vars as it excludes the curly brackets `}{`). `${cf:my-stack.ServiceEndpoint}

[2020-05-14 13:12] AhmedFat7y commented on #7690
It seems like a case of find all and replace, no?

[2020-05-14 13:46] medikoo commented on #7422
No it'll be just for internal use, just like in #3211. Still notable difference is that we will log deprecations only if given _deprecated_ functionality is used, and not in all cases (#3211 was reverted as it proposed logging depreciations unconditionally and that's quite bad for DX)

See implementation proposal in main description (I've just updated it). I've tried to put there all necessary inf

[2020-05-14 13:48] #7437 closed

[2020-05-14 13:51] medikoo commented on #7435
I totally agree. It's very hard to solve without rethinking (and probably rewriting) whole variable resolution strategy.
I think it should be solved together with refactor proposed here: https://github.com/serverless/serverless/issues/7207

[2020-05-14 13:52] medikoo commented on #7207
Note: when addressing this issue, it'll be also good to cover https://github.com/serverless/serverless/issues/7435

[2020-05-14 13:53] medikoo commented on #7690
Yes, it's simply about removing internal module, and using `@serverless/inquirer` instead. Straightforward, with no surprises on the road :)

[2020-05-14 15:09] AhmedFat7y commented on #7690
Will do

[2020-05-14 15:25] adir1661 commented on #7711
thank you!
i will check it out in sunday!

[2020-05-14 18:39] AhmedFat7y commented on #7422
I'm sorry, It's my first time deprecating anything so I'm not sure I understand the flow properly. I will be asking a lot 😄

Let me rephrase what I meant:  If you decide to deprecate something, You will add the log where you made the change, so it will only be printed if the functionality is used. Hence, it's different from the approach in #3211 and the log messages be at random places.

For examp

[2020-05-14 18:55] poonamgp14 commented on #5919
Is there any work around or fix to the issue?

[2020-05-14 19:35] medikoo commented on #7422
Yes, exactly

No, it applies only to given process, so we need to just store in memory information what logs were issued. e.g. every other invocation of `serverless` should show again same logs. We just need to ensure that with one invocation we do not produce multiple logs for same thing.

[2020-05-14 21:08] miholeus opened #7732 "Can't deploy an app"
App is not deployed. I get an error.
Error is returned everytime I run
[code]
command
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>SLS_DEBUG=* sls deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-05-15 04:12] ozbillwang commented on #5919
@poonamgp14

See my comments https://github.com/serverless/serverless/pull/5800#issuecomment-629014695

check if you have the similar setting (SCP) in your aws account.

[2020-05-15 06:22] medikoo opened #7733 "Report network errors meaningfully"
### Use case description

When user are facing network issues they're reported with noisy `ECONNRESET` errors or similar, shown with a full stack trace.

This looks as bug in our application, where it isn't (it's either issue with user connection or temporary problem with external service they're trying to access).

It'll be nice to output clear message signalling the network issue.

### Proposed

[2020-05-15 06:23] medikoo commented on #7732
@miholeus thanks for report. Do you still observe the problem? When it happened was your internet connection working fine?

Reported error is typical network issue, it signals typical internet connection issue or temporary unavailability of service you're trying to use.

I opened an issue that proposes improved experience: https://github.com/serverless/serverless/issues/7733

[2020-05-15 07:59] ycp424c opened #7734 "HTTP_PROXY doesn't work"
sls command is supposed to use global http_proxy config, but i got a 501 error while using proxy

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]
for addition
[code]

[2020-05-15 09:38] ivanbreet commented on #5919
Hi @ozbillwang, the issue we experienced was only on our existing lambda stacks. Adding `s3:PutBucketAcl`, `s3:GetEncryptionConfiguration`, `s3:PutEncryptionConfiguration` policies to our CI/CD users solved it for us. We also have not seen the issue since.

All our stacks created after the event also seems to be okay. If all fails, maybe try deploying a new stack or change the deployment bucket an

[2020-05-15 12:00] ThomasAribart commented on #7705
@medikoo Thanks 👍

I agree with your suggestion. So it would mean something like:
[code]

[2020-05-15 12:56] medikoo commented on #7705
I think it should be in parenthesis as:

[code]

I assume it was used purely for binary cases, and that nobody intentionally wanted to serve binary response for non 200 status code.

If you feel that it can be breaking, can you elaborate on case?

[2020-05-15 14:10] pratik-vii opened #7736 "TypeError: configPaths.join is not a function while bulding error using latest version 1.71.0"
New version of serverless giving following error while building application.
command: `serverless deploy`

[code]

[2020-05-15 14:12] vinthedark commented on #7736
I am getting a similar issue after the newer update.

[2020-05-15 14:15] medikoo commented on #7736
Looks as regression introduced with https://github.com/serverless/serverless/pull/7728
 (cc @AhmedFat7y )

Patching a fix

[2020-05-15 14:15] prashantramangupta commented on #7736
Yes, the new version of serverless is giving above error. Prefer using the version 1.70.1 until it is fixed.

[2020-05-15 14:41] #7736 closed

[2020-05-15 14:52] ThomasAribart commented on #7705
If someone intentionally set the contentHandling parameter to CONVERT_TO_TEXT or CONVERT_TO_BINARY for status codes other than 200, that may cause a regression. I agree it seems a bit strange, but theoretically, it can happen.

Besides, maybe we should consider checking all 2XX status codes ?

[2020-05-15 15:04] medikoo commented on #7736
Fix published with v1.71.1

[2020-05-15 15:57] spark323 opened #7737 ""Cannot create proxy with a non-object as target or handler" on invoke local"
I get "Cannot create proxy with a non-object as target or handler" error on invoke local to test my lambda function. I can deploy stacks just fine.

[code]

</details>

I ran this commend

 serverless invoke local -f hello   --c serverless_lambda_1.yml</code>

<b>Installed version</b>

[code]

[2020-05-15 16:15] medikoo commented on #7737
@spark323 please respect all issue template remarks and fill answers for all questions.

[2020-05-15 18:00] musicaljoeker commented on #6243
It's not ideal, but you could use the `--force` flag to force the deployment.

[2020-05-15 18:52] AhmedFat7y commented on #7422
I want to give it a try

[2020-05-15 22:48] #7591 closed

[2020-05-16 07:26] spark323 commented on #7737
fixed my commend. thank you

[2020-05-16 09:43] medikoo commented on #6243
We're open for PR, which will improve detection mechanism and confirm also on changes in `serverless-state.json`

[2020-05-16 09:44] medikoo commented on #7422
@AhmedFat7y Thank you!

[2020-05-16 22:18] exoego opened #7740 "Ability to attach latest version of AWS Lambda Layer"
### Use case description

https://www.serverless.com/framework/docs/providers/aws/guide/layers/

Currently, we can attach a specific version of Lambda Layer to functions like below:

[code]

I think there are some use case that users want to use always the latest version of layer.
One example is sharing common dependencies (node_modules) among services.
Services should always use the latest versio

[2020-05-16 23:10] miholeus commented on #7732
yeah, internet connection is pretty stable. That error occurs 9 times out of 10. So only one try is successfull.
I noticed that it started to fail when I added
`app` and `org` params.
Don't know if is somehow related.

[2020-05-17 11:41] bahrmichael commented on #5198
I had a typo where I used `event` instead of `events`.

Wrong:
[code]

Correct:
[code]

Tracked this down by running `sls print` where I saw `events: []`. That made me check the definition again.

[2020-05-17 16:10] zhorifiandi commented on #6684
Thanks, this works for me as well 👍

[2020-05-17 19:27] AhmedFat7y commented on #7422
@medikoo I have an implementation question for the object where I store which codes were printed so far and how to properly test it

Should I just import a function `module.exports = logDeprecation`? Then, I depend on closure variables to keep track of which codes were printed. In testing, I need to re-require the module to reset the variables in closure.

Or should I export an object and keep tra

[2020-05-17 20:06] PatMyron commented on #5537
misleading error message if anyone else is running into this, setting the [`DBClusterIdentifier`](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-neptune-dbinstance.html#cfn-neptune-dbinstance-dbclusteridentifier) property circumvents this:

[code]

[2020-05-18 06:48] iamrahulroy commented on #4647
Any update on this? I tried the plugin, but it didn't work. Also, the `onError` property isn't working with SNS.

[2020-05-18 08:00] medikoo commented on #7705
Yes, I know that theoretically this could be setup, still I wonder is there a valid use case (whether we'd really break for someone if we change that behavior).

I want to investigate that, as it appears that source of a problem is that we apply this handling to any status code unconditionally - that looks as design issue, that might be worth fixing in first place.

We probably can do that. Still

[2020-05-18 08:46] medikoo commented on #7737
@spark323 sorry, but provided information still is not sufficient enough, and you do not rely on latest version of a framework

Again, please carefully read and respect all issue template remarks.

[2020-05-18 08:53] medikoo commented on #7740
Thanks @exoego looks definitely worthwhile.

How will Framework know (just basing on lambda ARN), where to query for latest version?

[2020-05-18 08:55] medikoo commented on #7732
@miholeus and where are you located? Maybe it's specific to given internet connection (maybe firewall?) Have you tried to deploy in other network environments (e.g. from home if error happens from office)?

[2020-05-18 09:13] exoego commented on #7740
Good question.
I am considering to use `listLayerVersions" with layer name.

[2020-05-18 09:15] medikoo commented on #7422
Yes, I think it should be as simple as possible,

When using `runServerless` util, you can enforce that for each `serverless` instance modules are re-initialized by passing `modulesCacheStub: {}`. So I believe that should solve that problem

[2020-05-18 10:08] #6030 closed

[2020-05-18 10:15] medikoo commented on #7740
@exoego can you elaborate? `listLayerVersions` will be exposed by which entity? How we should know just by ARN where to look for it?

[2020-05-18 10:18] exoego commented on #7740
AWS Lambda Service class offers `listLayerVersions` API.
ARN contains LayerName, which can be input for the API.

[2020-05-18 11:10] ThomasAribart commented on #7705
@medikoo Alright, I'll rework the PR in that direction (applying the contentHandling only to 2XXs) 👌

[2020-05-18 11:12] AhmedFat7y commented on #7422
@medikoo should we add this as note somewhere so new contributors don't get confused?
I actually wanted to add some points for new contributors, the things that I had to look up or know from you. Pretty small things though

[2020-05-18 11:32] medikoo commented on #7422
In case of this util, I think tests you did are fine, no need to rely on `runServerless` as util is pretty top level and totally isolated from `Serverless` class

Concerning tests documentation, we already have document here: https://github.com/serverless/serverless/blob/master/tests/README.md (and it's linked in: https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md)

`runServerles

[2020-05-18 11:41] AhmedFat7y commented on #7422
I will propose some bullet points
like for example to use `stdout.write` instead of `console.log`, or this should be left for PR Reviews? As people will try to match what exists already

[2020-05-18 11:43] medikoo commented on #7422
It's a great idea! I've started to group such points here: https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#other-guideliness

[2020-05-18 13:00] srashish opened #7744 "Override functionName of CustomDashresourceDashapigwDashcwDashroleLambdaFunction"
I'm facing issues while trying to override function name of CustomDashresourceDashapigwDashcwDashroleLambdaFunction which gets generated when using API Logs in serverless yaml under provider section.

I've seen that it follows the name convention - `${self:service}-${self:custom.stage}-custom-resource-apigw-cw-role`, I'm trying to override it to use something like this `${self:service}-${self:cust

[2020-05-18 13:23] exoego commented on #7740
Hmm, I prototyped with the above strategy (using LayerName with `Lambda.listLayerVersions`) and figured out that the strategy does not work if the layer is created by other AWS account (e.g. [public layers](https://github.com/mthenw/awesome-layers)).
It means that this feature can be applied to only layers within same AWS account.
It is useful, but use-case is limited...

I expect AWS adds new API

[2020-05-18 13:49] medikoo commented on #7744
Why are you trying to override it, what is the use case?

[2020-05-18 15:05] srashish commented on #7744
@medikoo I'm trying to deploy alias stacks with api logs. If a stack is already using one of the logs then if can't be reused and throws this error --> `An error occurred: ApiGatewayLogGroup - /aws/api-gateway/service-name-dev already exists.`

[2020-05-18 15:12] medikoo commented on #7744
What is _alias stacks_ ?

[2020-05-18 17:06] apsoto commented on #5198
@bahrmichael  All the docs I've read over the years, I've never known of `sls print`.  Thx!

[2020-05-18 17:24] srashish commented on #7744
@medikoo So I'm trying to deploy different stacks with same dev settings by changing stage param value but keeping all the settings for dev stage.

[2020-05-18 19:18] medikoo commented on #7744
Are they _different_ in sense that they share different service name?

[2020-05-18 19:45] #7609 closed

[2020-05-18 21:27] andrewpuleo commented on #7686
Looks like the only `async` dependency is a call to `whilst` in `lib/plugins/aws/lib/monitorStack.js`. I looked at the `whilst` implementation and am working on writing a replacement. Any advice is welcome!

[2020-05-18 23:44] niranjannm opened #7745 "redrivePolicy for SNS events - CloudFormation Template error"
**SLS Template Used:**

[code]

**Error:**

`Error: The CloudFormation template is invalid: Template error: every Fn::Join object requires two parameters, (1) a string delimiter and (2) a list of strings to be joined or a function that returns a list of strings (such as Fn::GetAZs) to be joined.`

**More Details:**

- Believe the error to be happening from AWS::SQS::QueuePolicy of the generated Cl

[2020-05-19 06:21] medikoo commented on #7686
@andrewpuleo I think it can be refactored into recursive promise returning function:

[code]

[2020-05-19 08:11] #7211 closed

[2020-05-19 08:18] medikoo commented on #7745
@niranjannm can you respect all template remarks, and answer all its questions? We miss information to be able to properly diagnose that.

[2020-05-19 09:47] medikoo commented on #7224
Duplicate of #7070

[2020-05-19 09:47] #7224 closed

[2020-05-19 10:04] medikoo commented on #7070
@preshetin I see you've started implemenation on that with #7297 (sorry for very late response on that).

Before I dive into it. I'd like us to agree on how it should be implemented. If I understand correctly `Condition` is supported on any CloudFormation resource. So technically solution should be to ensure same `Condition` on every resource that's directly associated with resource on which `Cond

[2020-05-19 10:43] davekinkead commented on #3785
This is still a problem.  The work around of commenting out the function in `serverless.yml`, deploying, un-commenting out, and then redeploying fixes it.

Not a good solution for production apps.

[2020-05-19 13:02] srashish commented on #7744
@medikoo Yes, I'm tweaking service name by passing extra params while keeping other dependent settings to stage.

[2020-05-19 13:08] #7516 closed

[2020-05-19 13:09] medikoo commented on #7744
What's the `service` setting in `serverless.yml` of those services?

[2020-05-19 13:24] exoego opened #7747 "Minimize lodash dependency"
### Use case description

https://github.com/serverless/serverless/pull/7680#discussion_r422044932

`lodash` offers lots of utility, but nowadays we only need the small parts of `lodash`, since recent Node.js supports native convenient counterpart (e.g. `Array#forEach(f)` over `_.forEach(array, f)`).

Minimizing `lodash` dependency will achieve

* Faster runtime speed by native implementation
* Sm

[2020-05-19 14:31] joolfe commented on #7525
Hi,

Im getting an audit error also, using the serverless version  "^1.71.1",

<img width="581" alt="Screen Shot 2020-05-19 at 15 30 10" src="https://user-images.githubusercontent.com/1319632/82339182-aa2f2b80-99e5-11ea-9c55-891a4f41226f.png">

The lib `socket.io-stream` is using a very old version of debug.

[2020-05-19 15:28] srashish commented on #7744
@medikoo So I have settings based on stage, I've declared two stages as of now, dev and prod. I'm trying to download multiple stacks using dev settings but tweaking their name to use my opt:param rather than default stage param.

Everything goes fine, till I wanted to use logs, since then I'm facing the trouble as my work-around with naming convention it's being applying to it. So in order to make

[2020-05-19 15:35] medikoo commented on #7744
@srashish sorry I'm unable to help you here. For questions, help with your project, please see https://forum.serverless.com/

If you want to report a bug in a Framework, please post a bug a report respecting all it's template remarks.

[2020-05-19 15:35] #7744 closed

[2020-05-19 23:55] ot-alex-vance commented on #5001
+1 definitely still a problem

[2020-05-20 04:37] vietduc01100001 commented on #7689
Hi!
I tried upgrading globby to v9.2.0. There were 2 breaking changes in [v7.0.0](https://github.com/sindresorhus/globby/releases/tag/v7.0.0) that affects this framework:

- `nodir` is now `true` by default, which is fine because `nodir` is explicitly set to `true` here.
https://github.com/serverless/serverless/blob/2b9f63e3329d6e28c0a87d58658b0afde557053e/lib/plugins/package/lib/packageService.js

[2020-05-20 05:04] exoego commented on #7689
@vietduc01100001
Sure :+1:

[2020-05-20 06:40] gcampionpae opened #7749 "Support the creation of API Gateway API keys with CustomerId"
### Use case description

When creating an API key with serverless, I'd like to also be able to add a customerId to it so that I can associate the ID with specific customers. Here is the AWS reference for this:
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigateway-apikey.html

### Proposed solution

Add this as a field that can be filled out in the serverless templ

[2020-05-20 07:40] medikoo commented on #7171
@richarddd I've updated this issue to be strictly about refactor to native promises and async/await, I've also outlined a proposal on how we can approach it

[2020-05-20 07:56] exoego commented on #7376
For this purpose, I am using [serverless-import-swagger](https://www.npmjs.com/package/serverless-import-swagger) which generates one or multiple `serverless.yml` from Swagger/OpenAPI files.

[2020-05-20 08:06] exoego commented on #5987
Closing as duplicate of #5576.
PR is still welcome.

[2020-05-20 08:06] #5987 closed

[2020-05-20 08:56] medikoo commented on #7747
@exoego great thanks for putting that into issue.

I've updated description with list of all functions which I believe we can replace. I think best if each is handled with separate PR's, so we process it in small steps, and change touches sensitive parts.

I've also added `good first issue` and `help wanted` labels as it appears there's a lot to cover

[2020-05-20 08:56] learnersm commented on #2512
I encountered the same issue, and i dont think this will be solved by using DependsOn:

reason : DependsOn ensures that the resourceX is created only after resourceY is created. But still resourceY will be in CREATING state in cloudformation. If there are > 5 such streams in creating state, the deployment will fail (with or without using depends on).

The solution is to somehow create kinesis reso

[2020-05-20 08:59] medikoo commented on #7608
@jgroom33 did you reopened this issue intentionally? If so please provide some feedback

[2020-05-20 09:00] medikoo commented on #7525
@joolfe can you report it at https://github.com/serverless/utils-china/ ?

[2020-05-20 11:26] medikoo commented on #7749
@gcampionpae great thanks for proposal! It's indeed a worthwhile enhancement and we'll be happy to welcome a PR that adds it.

Concerning implementation, you're on a right track

Actually implementation should be done here: https://github.com/serverless/serverless/blob/3fe2e98f15d3a78571b3aa0894be1632e2f5ab51/lib/plugins/aws/package/compile/events/apiGateway/lib/apiKeys.js

Updates in `info` comma

[2020-05-20 11:47] #7689 closed

[2020-05-20 13:08] chubzor commented on #3183
@jthomerson I don't think anyone has any issue with the "happy path". I can deploy a thousand times and never hit an issue.

But then there are outliers like @jasonmccallister s case, or for instance my own where I added unrelated line and got an error regarding dynamodb. And to be honest right now I'm again battling the same demon.
I added apiKey to my function, just seems like it wasn't mentione

[2020-05-20 13:44] jgroom33 commented on #7608
I reopened because my org would like to see if there is a root cause.  I'm going to do some more tests

[2020-05-20 13:50] medikoo commented on #7608
Ok, let us know.

[2020-05-20 14:43] KnupMan opened #7753 ""Serverless deploy" command is not using the path to artifact from "serverless.yml""
**Describe the issue**
`serverless deploy` started to throw an error, but it was working okay before.
The problem happened just after release [1.71.2](https://github.com/serverless/serverless/releases/tag/v1.71.2) version.
I am assuming it started to add prefix `.serverless` for artifact's path, even I set it to just `artifact.zip` on `serverless.yml`.

<details>
<summary><code>serverless.yml</cod

[2020-05-20 14:45] medikoo commented on #7753
@KnupMan please update the command output ensuring `SLS_DEBUG=*` env var

[2020-05-20 14:53] KnupMan commented on #7753
@medikoo sure, updated an issue

[2020-05-20 15:01] medikoo commented on #7753
Thank you. I see what's wrong. It appears it's a regression introduced with #7742 (cc @exoego)

Patching a fix

[2020-05-20 15:10] KnupMan commented on #7753
@medikoo thanks for your quick response

[2020-05-20 15:38] medikoo commented on #7753
Fixed with https://github.com/serverless/serverless/commit/b97e2b421138def7131069771fc820e81edafc73 v1.71.3 is being released

[2020-05-20 15:38] #7753 closed

[2020-05-20 15:57] #7376 closed

[2020-05-20 18:27] bryan-hunter commented on #6335
I added this PR to add support for `serverless.ts` files via `ts-node`. https://github.com/serverless/serverless/pull/7755

[2020-05-20 19:00] michellemalaski-powerschool commented on #4415
I'm seeing this same issue; has there been any movement on this problem?

[2020-05-20 19:39] tirthaguha opened #7756 "Doesn't install on Ubuntu18, nvm with node12.16.1"
Q1: What's wrong with it
Doesn't install on Ubuntu18, nvm with node12.16.1

Q2: System Description
Win10, WSL Ubuntu18.x
nvm
node v12.16.1

<details>
<summary><code></code></summary>

[code]

</details>

<details>
<summary><b><code>npm install -g serverless</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-05-20 19:44] muskeinsingh commented on #7171
@medikoo if we have a breakdown on how we can approach it probably I can pitch in, if that's okay.

[2020-05-20 22:19] thecpdubguy commented on #4415
I rolled back to java8 for this. I could start to go down the path of figuring it out if I have time this weekend. Any guidance would be appreciated on where to start.

[2020-05-20 23:06] defaultbr commented on #3930
Is there any solution for this? Someone can reopoen, i have to do a workaround or add some plugins to dependencies part of package.json, since there is no way to "get serverless.yml plugin and than install"

[2020-05-20 23:07] defaultbr commented on #3930
@pmuens can help us? The plugin command doesnt install

[2020-05-21 03:23] Albert-Gao commented on #4600
Just ditched amplify to go with serverless for a better DX,
then I encountered this,
anything I could do to make it happen? 😃

[2020-05-21 03:39] exoego commented on #4600
PR is always welcome.

[2020-05-21 07:31] Albert-Gao commented on #4600
@exoego  Let me submit my fastest contribution.

I think it works now:

![image](https://user-images.githubusercontent.com/18282328/82534655-99271b80-9b99-11ea-8f9f-b4758c69af85.png)

I use this to hook up an existing Cognito user pool, the token I received is transformed. Great job!

[2020-05-21 07:35] exoego commented on #4600
Thanks for confirmation!
So, closed as resolved.

[2020-05-21 07:35] #4600 closed

[2020-05-21 08:29] medikoo commented on #7756
@tirthaguha great thanks for report. Still it looks as either problem with your setup, or a bug in npm. Note that no `serverless` logic was invoked. It's purely `npm install -g serverless` that crashed in a middle when trying to setup dependencies for the project

[2020-05-21 08:31] medikoo commented on #7171
@muskeinsingh it'll simply be about refactoring all files that use `bluebird` so they do not use it.

Still at this point we need to wait for release of v2 first (and realization of #7362). We can assume this task is blocked until then

[2020-05-21 08:44] muskeinsingh commented on #7171
@medikoo sure. I'll be waiting for an update on that!

[2020-05-21 09:21] devsong26 commented on #6684
I used aws lambda and encountered the same issue. In my case, when I added the require part from the lambda code, this problem occurred and the comment processing was resolved.

[2020-05-21 09:28] #7443 closed

[2020-05-21 10:39] c19 opened #7758 "[BUG] Run serverless encounter Cannot find module 'graceful-fs'"
a clean serverless install will reproduce
[code]

[2020-05-21 10:58] medikoo commented on #7758
@c19 how did you install Serverless Fremework, and what OS are you using?

[2020-05-21 10:59] medikoo commented on #7758
I see you're based in China so it might be related to China mirror, cc @yugasun

[2020-05-21 11:22] #7705 closed

[2020-05-21 12:07] c19 commented on #7758
Mac.

[2020-05-21 12:40] c19 commented on #7758
I tried `curl -o- -L https://slss.io/install | bash` but got `Error: Cannot find module 'chalk'`
[code]

Tried `npm i -g serverless` install succeeded

[code]

but run serverless return error

[code]

[2020-05-21 13:06] medikoo commented on #7758
@c19 are you installing from China?

[2020-05-21 13:34] medikoo commented on #7758
I have confirmed that it's a problem of Chinese mirror hosting broken standalone binary.

For a meantime resort to npm installation, for that you need to manually uninstall standalone installation via:

[code]

[2020-05-21 13:40] #7422 closed

[2020-05-21 14:02] yugasun commented on #7758
@c19 We recommend to install `serverless` by `npm`, you can just remove serverless command.

[2020-05-21 14:07] medikoo commented on #7758
@yugasun problem is with binary that was built for Chinese mirror. There's no such issue with binary built on our side.

Do you suggest that we should remove support for Chinese mirror in our standalone url resolution?

[2020-05-21 14:11] yugasun commented on #7758
@medikoo Yeah, I'm checking why, I use the same Nodejs version and linux system. Just run `pkg:build`, and it build success, but I don't know why it throw a `missing module` error.

[2020-05-21 14:12] chrisVillanueva commented on #7756
@tirthaguha
Can you confirm the node version?  I ran `nvm ls -remote` and don't see v12.6.1.  It could be a mistake on my side--not sure.  Here's the output:

![Screenshot from 2020-05-19 00-52-34](https://user-images.githubusercontent.com/1554280/82567615-99002f00-9b4b-11ea-90ef-232a28c4ec28.png)

[2020-05-21 14:14] medikoo commented on #7758
@yugasun it might be an issue with `serverless` installation prior `pkg:build` is being run. AFAIK `pkg` will just warn if it approaches that some modules doesn't resolve, so it can build _successfully_ a broken binary

[2020-05-21 14:15] tirthaguha commented on #7756
Typo, it is v12.16.1.

[2020-05-21 14:16] yugasun commented on #7758
@medikoo Before the `pkg:build`, I have installed all the node modules.

[2020-05-21 14:36] yugasun commented on #7758
Well solved by running `pkg:build` again.

[2020-05-21 15:09] avilesj commented on #3785
If your problem is specifically having to comment the paths, deploy, remove comments and redeploy, I'm not sure what you're expecting serverless to do. This is a problem with CloudFormation, the service serverless wraps around.

CF is very flaky on its own and it's better if you take this issue to AWS directly.

[2020-05-21 15:11] michellemalaski-powerschool commented on #4415
I'm using the example provided here: https://www.serverless.com/blog/how-to-create-a-rest-api-in-java-using-dynamodb-and-serverless/

The boilerplate command I'm using is this:
serverless create --template aws-java-maven --name products-api -p aws-java-products-api

The command I'm using to try to run the project locally is this:
$ serverless invoke local --function hello --data '{"a":"bar"}'

And

[2020-05-21 15:41] chrisVillanueva commented on #7756
I was able to install as a global npm package.

![serverlessInstall1](https://user-images.githubusercontent.com/1554280/82576628-e4203f00-9b57-11ea-9fde-24ae75b37dbc.png)

[2020-05-21 15:50] jazjaazjaaaz commented on #7590
Tried it with the serverless docs, but with no luck. But anyways, thank you everyone. This issue is now solved. Closing this.

[2020-05-21 15:50] #7590 closed

[2020-05-21 15:55] oscarmrom opened #7762 "SQS FIFO Queue MaxiumumRetryAttempts not supported error"
Trying to set MaximumRetryAttempts for an SQS FIFO Queue I get an error that says:

[code]

I noticed that in the error output `Maximum` is misspelled as `MaxiUmum`. I double checked my serverless.yml and the CloudFormation template it generates to see if the typo was there; it was not.

I posted this question in the Serverless slack: https://serverless-contrib.slack.com/archives/CA4QT5VU3/p158995

[2020-05-21 15:59] AhmedFat7y commented on #7678
I will start working on this given the deprecation flow is ready

[2020-05-21 17:22] BryanCrotaz commented on #7422
Check out the very successful deprecations implementation in Ember.js
https://github.com/mixonic/ember-cli-deprecation-workflow

[2020-05-21 18:29] yash-awsops commented on #5034
Here is the working template:

In serverless.yml add this

       plugins:
           - serverless-reqvalidator-plugin
       functions:
           events:
              -http:
                path: hello
                method: get
                reqValidatorName: ParameterRequestValidator
        resources:

         Resources:
             ParameterRequestValidator:
                Type: AWS::

[2020-05-21 18:45] jschulenklopper commented on #2797
Exactly, since one Serverless project might have different functions responding in different formats; text-based formats with MIME type `application/json` and binary formats such as images. Seting the Binary Media Types on the provider, and not on the individual functions makes that scenario much more difficult.

[2020-05-21 19:01] diogocapistrano commented on #6112
+1

[2020-05-21 22:21] andre-castro-garcia commented on #7405
@bowersz @medikoo
I'm having the same issue in my environment, and I've two files (one for creating the Cognito User Pool and the other for the triggers, which I deploy using serverless deploy).

<details>
<summary><code>resource.yml</code></summary>

[code]

</details>

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

I'm not sure if it is a bug or a feature request,

[2020-05-22 03:48] mannharleen commented on #7598
I've  just hit this as well! @benheymink  are you working on a PR? Else, I could take a stab

[2020-05-22 06:19] medikoo commented on #7762
@oscarmrom the error you see is originated by AWS service. Framework just propagates `maximumRetryAttempts` to `MaximumRetryAttempts` setting.

I would contact AWS about it, to confirm whether really this setting is not supported on SQS streams. Typo in error message suggests there might be an issue on AWS side.

If it appers that it's not support, then issue on Framework side is that it tries to

[2020-05-22 07:40] medikoo commented on #7758
@yugasun as I check the https://binary.serverlesscloud.cn/v1.71.3/serverless-macos-x64 still points to broken binary.

Also it'll be great to figure out why broken built was generated, without that I think we'll be constantly exposed to the issue.

[2020-05-22 07:49] benheymink commented on #7598
@mannharleen Sorry, no - not had chance to. I actually worked around it by fudging some CF syntax into my serverless config:

[code]

[2020-05-22 08:04] fredericbarthelet commented on #1720
@medikoo, I implemented the feature using log and log-node.
It works as expected and produces outputs on the terminal based on `LOG_DEBUG` and `LOG_LEVEL` env vars. However, as you pointed out, the writer output styles is far from existing Serverless logs style. I did not find any option other than `defaultNamespace` within the writter to be able to fine tune it.

While searching for such a way to

[2020-05-22 08:18] medikoo commented on #1720
Yes, I believe we need to prepare our own custom writer (e.g. `log-serverless`) that derives from `log-node` and tweaks needed parts. I'll try to prepare one soon, and then we'd be able to jump on it.

I'll post it here once it's ready

[2020-05-22 09:23] trondhindenes opened #7767 "Documented ${self:provider.stage} doesn't resolve stage as expected"
The variable `${self:provider.stage}` doesn't get set correctly when using the `--stage` command-line argument.

Given this file:
[code]
And this command:
`serverless package --stage prod --region us-east-1`
I would expect the value of the "WHAT" and "WHOO" environment variables to be contain "prod". However, this is what gets set in the `.serverless/cloudformation-template-update-stack.json`:
[co

[2020-05-22 10:33] medikoo commented on #7767
@trondhindenes thanks for report. It's a known _design_ issue. Thing is that `self.provider` simply points `provider` section in your `serverless.yml` and not necessarily a true resolved configuration.

See https://github.com/serverless/serverless/issues/6031 it's were we tackle that problem

[2020-05-22 10:33] medikoo commented on #7767
Duplicate of #6031

[2020-05-22 10:47] yugasun commented on #7758
@medikoo I will replace rebuilding binary to downloading binary from github release.

[2020-05-22 11:02] medikoo commented on #7758
@yugasun That's great idea, just ensure that it handles well current scenario, where first release is created on GitHub and after that binaries are uploaded to it.

AFAIK webhook is triggered on release creation, which means that most likely it's triggered before binaries are there. I think you need to incorporate logic where you check for existence of binary and if it's not there wait for e.g. 1s

[2020-05-22 11:05] trondhindenes commented on #7767
Oh. The 'provider.stage' pattern is all over the docs, thats why i tried it.

[2020-05-22 11:07] medikoo commented on #7767
True, it's misleading in places.

What will work reliably is: `${opt:stage, self:provider.stage, 'dev'}`

[2020-05-22 11:09] medikoo commented on #7767
I'm going to reopen, as indeed in docs in all the places we should replace `${self:provider.stage}` with `${opt:stage, self:provider.stage, 'dev'}` (and it should be like that untli #6031 is resolved).

PR's welcome!

[2020-05-22 12:16] yugasun commented on #7758
@medikoo I resolved the binary for version `v1.71.3`, and validate it on my MacOS.

[2020-05-22 12:26] medikoo commented on #7758
@yugasun I've just downloaded https://binary.serverlesscloud.cn/v1.71.3/serverless-macos-x64 still  again, and it's still broken

[2020-05-22 14:37] srashish opened #7768 "Override functionName of CustomDashresourceDashapigwDashcwDashroleLambdaFunction"
I'm facing issues while trying to override function name of CustomDashresourceDashapigwDashcwDashroleLambdaFunction which gets generated when using API Logs in serverless yaml under provider section.

I've seen that it follows the name convention - `${self:service}-${self:custom.stage}-custom-resource-apigw-cw-role,` I'm trying to override it to use something like this `${self:service}-${self:cust

[2020-05-22 14:52] wazcodez commented on #7186
@medikoo To confirm, version `1.71.3` of serverless has this fix?

[2020-05-22 14:52] yugasun commented on #7758
@medikoo I figured out the problem, it's about the CDN cache. I have cleared the cache, and try again and again, and success in 3 times.

[2020-05-22 20:15] benheymink opened #7769 "Websocket error referring to external stack Api ID"
**Description**
Serverless version
I have an external Websocket API created by CF:

[code]

This is then referenced in another serverless service:

[code]

What happens:

Deployment fails template validation with:

` Error: The CloudFormation template is invalid: Template error: every Fn::Join object requires two parameters, (1) a string delimiter and (2) a list of strings to be joined or a functi

[2020-05-22 20:16] benheymink opened #7770 "External Websocket Api Id not working?"
**Description**
Serverless version:
[code]

I have an external Websocket API created by CF:

[code]

This is then referenced in another serverless service:

[code]

What happens:

Deployment fails template validation with:

` Error: The CloudFormation template is invalid: Template error: every Fn::Join object requires two parameters, (1) a string delimiter and (2) a list of strings to be joined or

[2020-05-22 20:39] benheymink commented on #7770
Failing CF template from S3:

[code]

[2020-05-22 20:39] benheymink commented on #7769
Closing as a dupe of #7770

[2020-05-22 20:39] #7769 closed

[2020-05-23 05:22] bkilrain commented on #6087
@jhtobav were you able to solve you issue with CFN templates?

[2020-05-24 05:45] ggmartins opened #7771 "Warning: Accessing non-existent property * of module exports inside circular dependency"
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

[code]
<details>
<summary><b><code>SLS_DEBUG=* sls version</code> output</b></summary>

[code]

</details>

sls version
(same as output)

<b>Framework Core: 1.71.3</b>

[code]

[2020-05-24 07:39] tirthaguha commented on #7756
Here's what I did
I went to the following directory
`/home/username/.nvm/versions/node/v12.16.1/lib/node_modules/`
then I ran
`rm -rf serverless`

then I ran
`npm install -g serverless` again

This time it worked.

[2020-05-24 07:39] #7756 closed

[2020-05-24 08:48] benheymink commented on #7770
Apologies, error was my side. I was referencing the websocketApi incorrectly. Rather than:

[code]

I needed:

[code]

Closing.

[2020-05-24 08:48] #7770 closed

[2020-05-24 15:40] jayachandranm commented on #7681
Just to help anyone who faces the same issue, I uninstalled the snap version of **nodejs** and installed using the deb file from nodesource. Now serverless installs without any failures.

[2020-05-25 06:36] medikoo commented on #7768
@srashish why do you want to override? There's intentionally no configuration mechanism in a framework that allows overriding it (this is not a bug)

Example of your `serverless.yml` involves a plugins. Please provide a bare framework test case. Otherwise it's likely we deal with issues introduced by plugins and those should be reported at plugin repositories not here

[2020-05-25 06:37] medikoo commented on #7186
@wazcodez yes all versions stating v1.70.0 have that fix in

[2020-05-25 06:39] medikoo commented on #7758
I take then, that this fix will work only for those which didn't download new binary yet. And those which did need to wait new version or ensure their cache is cleared?

[2020-05-25 07:08] medikoo commented on #7771
@ggmartins please acknowledge and respect all issue template remarks.

Your `serverless.yml` involves plugins which may influence that issue, in such case issue should b reported at plugin repository not here. We also miss complete output for `serverless --version`

[2020-05-25 08:34] kamaz opened #7773 "AWS ALB support for built-in authentication"
At the moment `ALB` event only support two options `allow` and `deny` but there is no option to configure built-in authentication in ALBs.

### Use case description

Ability to utilise the `ALB` and `cognito` feature to built-in authentication support for in ALBs.

### Proposed solution

Extend the existing logic:
https://github.com/serverless/serverless/blob/3fe2e98f15d3a78571b3aa0894be1632e2f5ab

[2020-05-25 11:12] gadelkareem commented on #4710
this worked for me
[code]

[2020-05-25 11:57] yugasun commented on #7758
@medikoo We can pay attention on this issue continuously for weeks.

[2020-05-25 12:18] andre-castro-garcia opened #7774 "Error creating cognito triggers after updating Cognito CloudFormation file"
### Use case description
I'm having an issue with Cognito triggers on my environment. I'm deploying the mu Cognito User Pool using two files (one for creating the Cognito User Pool and the other for the triggers, which I deploy using serverless deploy).

<details>
<summary><code>resource.yml</code></summary>

[code]

</details>

<details>
<summary><code>serverless.yml</code></summary>

[code]

</d

[2020-05-25 22:56] oscarmrom commented on #7762
Got it. I'll reach out to AWS and confirm whether or not this functionality is supported for FIFO queues.

[2020-05-26 03:11] ggmartins commented on #7771
thanks, ok, not the right place, sorry. re: template, isn't ```serverless --version``` same as ```SLS_DEBUG=* sls version``` with more stuff? The latter was reported in the content/description and didn't want to repeat it.

[2020-05-26 03:11] #7771 closed

[2020-05-26 06:55] rainmirror1 commented on #7762
I've got the same issue on my Linux machine, though on my Mac everything is fine.

Installed version on Linux:
[code]

[2020-05-26 08:12] #7690 closed

[2020-05-26 08:13] #7691 closed

[2020-05-26 08:31] medikoo commented on #7773
@kamaz great thanks for proposal. It'll definitely be a worthwhile addition. One question.

Will setting `authenticate` to `onUnauthenticatedRequest` be all that's needed to configure
built-in authentication? Or will (or may) it need and additional configuration for its fine tuning?

[2020-05-26 08:59] medikoo commented on #7774
@andre-castro-garcia this looks closely related to https://github.com/serverless/serverless/issues/7510

From what I see, any attempt to update the Cognito Pool, will remove triggers as setup by the Framework. I think it needs to be clarified with AWS.

Also I wonder weather it happens only in case of Cognito Pools deployed via CloudFormation stack. It might be that when you setup Cognito Pool dir

[2020-05-26 10:59] BhuvaneshwaranR opened #7776 "API Gateway response template mapping issue - Is there any limitation?"
Hi,

I'm using the latest version of the serverless framework. When I used an API gateway response mapping template for more than 12 endpoints it's started breaking. I've tried with an older version also it wasn't working. There is no error message in the log also. It's not mapping to the API gateway failing silently.
But after manual deployment from API gateway it starts working. It's completely

[2020-05-26 11:00] Pi-George opened #7777 "Serverless bug above 1.70.0"
[code]

Our pipeline has been hitting this error every time, it happens on a regular `serverless invoke` execution. We've locked down our version to 1.70.0 to avoid the issue.

[2020-05-26 11:03] medikoo commented on #7776
@BhuvaneshwaranR please respect all template remarks and answer all template questions.

[2020-05-26 11:09] medikoo commented on #7777
@Pi-George What version of Node.js are you using?

[2020-05-26 11:18] Pi-George commented on #7777
Our pipeline uses: `curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash - && sudo apt-get install -y nodejs`

By the way, the versions I specified in the original issue are wrong, I'm checking the actual versions it's broken with now

[2020-05-26 11:23] Pi-George commented on #7777
Yeah, pipeline is working fine now that I've downgraded to 1.70.0. Sorry for jumping the gun and making this issue before I was 100% sure of the cause.

[2020-05-26 11:24] #7718 closed

[2020-05-26 11:24] Pi-George commented on #7777
I'll close this since you've made a PR to fix this

[2020-05-26 11:24] #7777 closed

[2020-05-26 11:42] BhuvaneshwaranR commented on #7776
@medikoo my bad

[2020-05-26 12:15] kamaz commented on #7773
@medikoo

When it comes to `cognito` that is the only change required. Of course, there are other types supported like `oidc` which I'm not sure about. But looking into AWS CloudFormation documentation values are common between both of them.

Link to `oidc` and `cognito` CloudFormation:
- https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-elasticloadbalancingv2-listenerr

[2020-05-26 12:26] medikoo commented on #7773
I suggest that we introduce `onUnauthenticatedRequest` and support three options `'allow'`, `'deny'` (default as it is now) and `'authenticate'`.

In case both (`onUnauthenticatedRequest` and `allowUnauthenticated`) are provided. I would silently favor `onUnauthenticatedRequest`, but I would also deprecate `allowUnauthenticated` to not support two different ways to achieve same thing.

We've intro

[2020-05-26 13:01] #7776 closed

[2020-05-26 13:18] kamaz commented on #7773
Yes, that sounds good. I should have something ready today for initial review.

[2020-05-26 18:41] max-lobur commented on #2856
Same issue :( Letting specify RoleName would be awesome, similar to stackName and name of the function

[2020-05-26 20:55] alextricity25 commented on #6923
I also saw the same thing with 1.7*. I rolled back to 1.55.1 and it fixed my issue.

[2020-05-26 22:57] skyzyx opened #7781 "I want to contribute, but I don't understand how the software works under the hood well enough"
### Use case description

I am interested in doing some contributions, fixing bugs, etc. But I'm finding it difficult to get started because it isn't clear how the software works.

* [ ] I know how to write JavaScript, but I'm not a "JavaScript Developer". Not everyone is familiar with Node-centric things, and providing a little more context can be useful.

* [ ] If I fork/clone the repo, what's n

[2020-05-26 23:55] Kowsalya-t commented on #1068
I am still getting the issue:
Serverless: Packaging service...
Serverless: Excluding development dependencies...

  Serverless Error ---------------------------------------

  Only one S3 Bucket can be configured per function.  In "my lambda" you're attempting to configure "my bucket1" and "my bucket 2" at the same time.

 Your Environment Information ---------------------------
     Operating Sys

[2020-05-27 02:05] chrisVillanueva commented on #7756
Glad it worked.  I noticed issues with my nvm install--not related to this project.  I had issues with nvm and `emcc` on Ubuntu.

[2020-05-27 02:11] jdchmiel commented on #6679
Still here for 1.73. invoking a deployed lambda is fine, just local that hangs.  Does anyone have a work around?  I need to invoke in a bash a for loop a few hundred times to fake data from an  SQS queue.

[2020-05-27 03:15] btdo commented on #7219
Hi, I get this error as well whenever I execute a serverless config command. Here's my environment
[code]

Here's the stacktrace

[code]

Thanks

Bao

[2020-05-27 03:56] chanhengseang3 opened #7783 "EPERM: operation not permitted, lstat '...\.serverless\invokeLocal\artifact'"
Error occur after execute successfully in the first time. The error points to the path `.serverless\invokeLocal\artifact` as `EPERM: operation not permitted`. Have to wait a period of time so the folder will be deleted automatically. Then can run again.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>REPLACE WITH FULL COMMAND NAME</code> o

[2020-05-27 07:41] medikoo commented on #7219
@btdo can you please open a new issue and carefully fill all answer for all template questions. Unfortunately what you provided above is not enough for me to diagnose it properly.

I'm going to close this one, as author didn't provide enough information for us to be able to process that

[2020-05-27 07:41] #7219 closed

[2020-05-27 07:43] medikoo commented on #7783
@chanhengseang3 thanks for report. It's a known issue of standalone build we already discuss at https://github.com/serverless/serverless/issues/7407

At this point it's hard to say when fix will be implemented (our resources are limited) but PR with a fix is highly welcome

[2020-05-27 07:43] medikoo commented on #7783
Duplicate of #7407

[2020-05-27 07:43] #7783 closed

[2020-05-27 08:39] vonnharvey opened #7785 "NodeJS runtime endpoint running but error in function that is using Python runtime"
<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls offline start, running /py/get</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-05-27 08:44] medikoo commented on #7785
@vonnharvey please report at `serverless-offline` plugin repository.

[2020-05-27 08:44] #7785 closed

[2020-05-27 11:06] gcampionpae commented on #7749
@medikoo Ok, I think this is ready for review :)

[2020-05-27 15:08] praneetrattan opened #7788 "Provisioned Concurrency is not working as expected"
cc: @garethmcc

#### Describe the issue:
Provisioned concurrency, set for a lambda, is still resulting in cold starts. The provisioned concurrency seems to be getting setup for one version behind the latest once. The alias "provisioned" points to the previous version.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output

[2020-05-27 15:32] medikoo commented on #7788
@praneetrattan Thanks for report. Please use latest version of a Framework (at this point `1.71.3`) we had a lot of issues that concern provisioned concurrency fixed on the way.

[2020-05-27 15:33] praneetrattan commented on #7788
FYI, I upgraded to the most recent serverless version but the same issue still prevails.
[code]

[2020-05-27 15:33] jimcamut commented on #6679
@jdchmiel I'm using a hack right now to get around this:

1. `yarn add serverless@1.48.0 -D` add version 1.48.0 as a dev dependency
2. In the serverless.yaml file you use to run locally, add `frameworkVersion: '=1.48.0'` to force it to run 1.48.0.

This will run version 1.48.0 locally for you and things won't hang. This version is the latest before the hanging issue started. I'm also still patient

[2020-05-27 15:35] praneetrattan commented on #7788
@medikoo  Yes I upgraded to the most recent version and tried, but the cold start still happens. Please see below for logs:
<details>
timestamp,message
1590593333229,"START RequestId: d14750d3-40bb-4550-809e-067149557fe6 Version: 5
"
1590593333241,"2020-05-27T15:28:53.240Z	d14750d3-40bb-4550-809e-067149557fe6	INFO	==> test3
"
1590593333243,"2020-05-27T15:28:53.243Z	d14750d3-40bb-4550-809e-06714955

[2020-05-27 15:36] medikoo commented on #7788
Ok, let me check if I can reproduce it locally

[2020-05-27 17:33] medikoo commented on #7788
@praneetrattan I'm not able to reproduce it. I've just deployed alike service: https://github.com/medikoo/test-serverless/blob/issue-7788/serverless.yml

And when invoking API Gateway endpoints, it's the provisioned lambda that are invoked as expected. I can clearly confirm that in AWS console

![Screenshot 2020-05-27 at 19 21 55](https://user-images.githubusercontent.com/122434/83053227-b7d15a80-

[2020-05-27 17:40] andre-castro-garcia commented on #7774
@medikoo thanks for your reply.....

I suppose that the error should be fixed by AWS, my suggestion is only some kind of trick until the AWS change this behavior when updating the Cognito from cloudformation stack.

Anyway, for fixed this I changed my CI steps and deploys the Cognito in the last step, in this case I can pick the lambda ARN from `serverless deploy` and added to a cognito using `Lam

[2020-05-27 23:02] danielsan commented on #7740
At [Everymundo](https://everymundo.com) we use this [template repo](https://github.com/EveryMundo/aws-serverless-node-lambda-layer-template#how-to-use-the-published-layers-within-your-serverless-project) to create all our nodejs layers and you can see there [how to use the published layers within your serverless project](https://github.com/EveryMundo/aws-serverless-node-lambda-layer-template#how-t

[2020-05-28 02:15] dazza-codes commented on #7676
Yes, exactly.

[code]

[code]

[2020-05-28 07:13] medikoo commented on #7781
@skyzyx thanks for those questions

Setup is as regular as you can imagine. After cloning you just need to ensure that all dependencies are installed via `npm install` and you're ready to go.

I think we can add note about that to https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md

I'll add some explanations about that into https://github.com/serverless/serverless/blob/master/CON

[2020-05-28 07:29] #7749 closed

[2020-05-28 08:35] medikoo commented on #7676
@dazza-codes is `AWS_DEFAULT_PROFILE` env var supported naturally by AWS SDK?

[2020-05-28 08:59] #7774 closed

[2020-05-28 09:59] Michsior14 commented on #7598
@medikoo
Regarding the 1st point of proposed changes:
- Are we sure we don't want to allow creation of additional authorizers on the external `httpApi`? I think there will be some use cases where creation of separate authorizer for one http event would be nice.
- Shouldn't we handle external authorizer in similar way as it is in `restApi` section? From my point of view not doing it will just unnec

[2020-05-28 11:12] medikoo commented on #7598
I think it's better that API-wide uthorizers are defined together with the API, as that matches their scope (after all they can be used by all of HTTP API endpoints)

Can you elaborate, how exactly? I think what I proposed is quite simple to implement and conflict-free.

[2020-05-28 11:20] Michsior14 commented on #7598
Ok ;)

I meant by usage of `authorizerId` as in docs for [ApiGateway shared authorizer](https://www.serverless.com/framework/docs/providers/aws/events/apigateway#share-authorizer).

[2020-05-28 11:34] medikoo commented on #7598
That's a good idea. Still let's use just `id` as property (same as we use `httpApi.id` and not `httpApi.httpApiId`).

[2020-05-28 12:26] lukeeey opened #7790 "API Gateway not created"
I've seen many issues around this before but after trying multiple things (and then removing and re-deploying to try and fix it) i still get the issue. No endpoints are returned and no API gateways are created.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless deploy -v</code> output</b></summary>

[code]

</details>

<b>Installed

[2020-05-28 13:56] Michsior14 opened #7791 "Allow different formats of id in httpApi config"
### Use case description

Allow different values than plain string in `httpApi.id` property. While the stack creation works perfectly fine with external variables references, the `deploy` fails because `info` [command](https://github.com/serverless/serverless/blob/master/lib/plugins/aws/info/getStackInfo.js#L31) expects the property to be string.

### Proposed solution

Request `ApiGatewayV2.getAp

[2020-05-28 14:20] s-kikuchi commented on #7298
@medikoo and everyone,

I want to fix this issue if there is no one to do it.
However, I'm not confident about my fix plan. So please anyone check it out.
If it's something wrong, please write it down which part is wrong.

#### sls deploy --p xxx (xxx is not `.serverless`)
- [ ] Fix not to delete `.serverless` directory when executing the command.
- [ ] Fix not to copy the context of `-p` director

[2020-05-28 15:28] oscarmrom commented on #7762
@rainmirror1, not sure how you're getting it to work or if it's just not throwing an error for it on your Mac. I was running this on MacOS and getting the error.

This is what AWS said, @medikoo:

[code]

Which now makes sense why there is a parenthesis with "Streams" in the docs. That wasn't clear to me at first.

[2020-05-28 21:05] praneetrattan commented on #7788
@medikoo This is not what I am observing. Please see the logs below for timed invocations.

<img width="1606" alt="Screen Shot 2020-05-28 at 4 57 47 PM" src="https://user-images.githubusercontent.com/5843603/83193388-ef014380-a104-11ea-8c78-ee53b1e5a164.png">
For the same version 6 of the lambda, when the invocation is more than 5 mins apart, the DurationInMS is much higher than when its within 5

[2020-05-28 21:11] praneetrattan commented on #7788
Also, it seems some of the logs, esp when queried from Postman, are not showing up on cloudwatch. Not sure if thats related to this issue or some sort of unknown caching.

[2020-05-28 21:42] praneetrattan commented on #7788
@medikoo @garethmcc so I tried to find another way to verify cold starts. I added this changed code, and observed the below cloudwatch logs:
[code]
<img width="1403" alt="Screen Shot 2020-05-28 at 5 36 44 PM" src="https://user-images.githubusercontent.com/5843603/83196636-42c25b80-a10a-11ea-9921-6f5d1c400816.png">

With this check it seems that the lambda container is not getting re-initialized af

[2020-05-28 21:42] #7788 closed

[2020-05-28 23:48] lukeeey commented on #7790
I got it working using claudia

[2020-05-28 23:48] #7790 closed

[2020-05-29 02:29] cbourner opened #7792 "serverless invoke local for Python on Windows fails"
When I run:

`serverless invoke local --function hello`

I get the following error:

`python: can't open file 'C:\snapshot\serverless\lib\plugins\aws\invokeLocal\invoke.py': [Errno 2] No such file or directory`

I am on Windows 10.  Serverless was installed via chocolatey, not npm.

The Lambda deploys to AWS and runs correctly - the problem is only in invoking it locally.

<details>
<summary><code

[2020-05-29 03:27] ChuckByram opened #7793 "nanomatch so much slower than globby"
Packaging takes several minutes for me and the issue seems to be in
[packageService.resolveFilePathsFromPatterns](https://github.com/serverless/serverless/blob/v1.71.3/lib/plugins/package/lib/packageService.js#L229) (v1.71.3).

My serverless.yml includes a single file, but excludes a single glob pattern that expands to a large number of paths (248474 (yikes)).

The count of the starting `allFilePa

[2020-05-29 06:50] preshetin commented on #7070
@medikoo my idea solves the same task as yours of adding `Condition` to associated resources. It does this in a bit dumb way, by adding `if` statements when creating the CF resource. Your approach though feels more cleaner so I'd prefer it to mine.

But there is a problem. It's not enough to just add `Condition`s. In some cases we need to _resolve conditions_ also. Here's an example from my PR:
ht

[2020-05-29 07:25] medikoo commented on #7791
@Michsior14 looks good! AFAIK for packaging we do not need resolve real HTTP API id, so without issues we should be able to support specific CloudFormation instructions as you proposed.

PR’s welcome!

[2020-05-29 08:43] daedal-knickerbockers commented on #7506
Any new information about the deployment of the fix?

[2020-05-29 08:43] Michsior14 commented on #7791
@medikoo The only thing that worries me is if we do not set `externalHttpApiEndpoint` then we don't have information about routes created. How should we handle it?

[2020-05-29 09:08] IikkaWinter commented on #7762
I can confirm that deployments worked on my local Mac but I got the same error when deploying from CodePipeline. I think @oscarmrom found the culprit here (MaximumRetryAttempts not supported by SQS) hence the document should also be updated: https://www.serverless.com/framework/docs/providers/aws/events/sqs/

[2020-05-29 10:03] thkapasi commented on #7353
Hi

When `retain: true` is set there, in `lib/plugins/aws/package/compile/layers/index.js` line 69

[code]

appends a random id to the cloudformation resource name for the lambda layer thus breaking other cfn references to it.

As a workaround, set `retain: false`

and in the CFN Resources section add:

[code]

works and tested with 1.71.3

[2020-05-29 12:59] oscarmrom commented on #7762
Ah, are you deploying this locally or to AWS when you don't experience any error, @IikkaWinter?

[2020-05-29 15:22] 50l3r opened #7794 "Failed to Build Docker image (Exit Code 1)"
I have a problem deploying in local mode in a Windows 10 x64

`serverless invoke local -f init`

[code]

**Environment Information**

- Operating System:          win32
- Node Version:              12.16.3
- Framework Version:         1.71.3
- Plugin Version:            3.6.12
- SDK Version:               2.3.1
- Components Version:        2.30.11

[2020-05-29 17:31] glb opened #7795 "Add checks for API Gateway resource policy structure"
### Use case description

I spent 2 days trying to figure out why API Gateway was rejecting my resource policy because I had simply pasted it into the `provider.resourcePolicy` section of my `serverless.yml` file without thinking.

<details>
<summary>Example "incorrect" resource policy</summary>

[code]

</details>

It turns out that the Serverless Framework helpfully wraps the provided resource p

[2020-05-29 17:43] hyacinthus opened #7796 "Can't deploy to new region af-south-1"
I can deploy to default opened regions but can't deploy to af-south-1 .
I've enabled that region, and can create resource in Africa region manually.

I've recreate a profile in pro dashboard named `prod` after enabled that region. not work.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy --stage prod --region af-south-1 --aws-pr

[2020-05-29 19:52] DanielWFrancis commented on #4592
Having this problem when trying to switch my serverless provider to a different region.

[2020-05-30 00:17] brentpabst opened #7797 "TypeError: Cannot read property 'trim' of undefined"
When running any serverless command in my project I get the error in the subject of this issue.  Previous issue was opened and then closed as the original reporter didn't fill out the issue report.  I've posted the output while leveraging the serverless-offline plugin, however even just trying to load serverless --version results in the same error.

<details>
<summary><code>serverless.yml</code></

[2020-05-30 01:40] chrisVillanueva commented on #7747
Some news about lodash.  There's a security issue noted in this issue:

https://github.com/lodash/lodash/issues/4738

The current  version fails 3rd party security scans.

[2020-05-30 14:22] chrisVillanueva commented on #6351
Just ran into this issue.  Here is the log information:

`Serverless: Packaging service...

  Serverless Error ---------------------------------------

  The serverless deployment bucket "fs-dashboard-dev-serverlessdeploymentbucket-1j077zxpijd1t" does not exist. Create it manually if you want to reuse the CloudFormation stack "fs-dashboard-dev", or delete the stack if it is no longer required.

[2020-05-30 14:47] cldsnchz commented on #2445
Sorry if this is off-topic but I guess it is somehow related.

Currently the provider stage is also used to configure the APIG stage name
Is there any way to customize the APIG stage name?, something like having:
[code]
I would like to configure the stages dev, test, etc but all of them with v1 as APIG stage name, but I haven't found a way to do that.

[2020-05-30 15:53] brentpabst commented on #7797
I think I fixed this issue.  Specifically, I corrupted my serverless.yml file here:

[code]

Which is incorrect and should have simply been this:
[code]

Almost wish there was a serverless.yml validation routine that executes as it would have called out my stupidity much sooner ;)

[2020-05-30 15:53] #7797 closed

[2020-05-30 21:51] odgiv commented on #5766
I have the same problem. Have you found a solution?

[2020-05-31 05:33] yyamano commented on #5155
Here is my analysis.

aws-lambda-java-log4j2 1.10 requires aws-lambda-java-core 1.2.0 because of an incompatible change, but our invoke-bridge uses aws-lambda-java-core 1.1.0. So upgrading aws-lambda-java-core is the way to go, but I have no idea how the change affect other parts of sls. I'm newbie of both both sls and aws-lambda-java.

LambdaAppender uses LambdaLogger.log(byte[] message) in https

[2020-05-31 05:50] yyamano commented on #7254
@thecpdubguy I think downgrading aws-lambda-java-log4j2 to 1.0.0 in pom.xml fixes the issue. See #5155 for more details.

[2020-05-31 11:43] zhaoyi0113 opened #7800 "Can't deploy because an error `Could not locate deployment bucket. Error: Deployment bucket is not in the same region as the lambda function`"
I am using latest version of serverless and `localstack/localstack` docker image. I started the localstack docker image by running the command: `localstack start --docker`.
Then I created a s3 bucket manually by running the command `aws s3api create-bucket --bucket dbs --region ap-southeast-2 --endpoint http://localhost:4572`.

When I deploy `serverless deploy --stage local`, I got below error:

[

[2020-05-31 11:48] lbindal commented on #3557
I am having issue with something similar, not sure if it is relevant
https://stackoverflow.com/questions/62105095/httpie-command-from-aws-lambda-python3-8

[2020-05-31 15:04] camhashemi opened #7801 "Redirect loop when onboarding an using `serverless login`"
I'm doing the quickstart, where the "onboarding" page asks me to run `serverless login`. Serverless login asks for my account, then takes me back to the same onboarding page. My terminal hangs on the prompt after `serverless login`.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[2020-05-31 18:04] rudijs commented on #6149
Hi @acaeti, I've tried and come close but now joy - still 403.

Would you be able to review this code and maybe provide a few tips or pointers?

You can see I've commented a few things in and out, trying to get the required parameters correct.

The service is one I'm not sure where to get from.

[code]

[2020-05-31 20:08] nirwandogra commented on #7795
Hi,
I tried to deploy the below basic stack (in BOLD) with the policy you mentioned, and instantly got "Invalid policy document" while deploying. I tried it 3 times and the error was instantaneous.  Maybe there are some other non-apigw resources in your stack which are taking more than 20 minutes before failures ?

**AWSTemplateFormatVersion: 2010-09-09
Description: 'Basic rest api'
Resources:
  A

[2020-05-31 23:04] glb commented on #7795
Thanks @nirwandogra ... I can't explain why CloudFormation / API Gateway are behaving the way they are and have an open support ticket with AWS trying to find that out. I do know that the only difference in my environment between a stack that updates almost instantaneously and one that takes >20min to fail is the resource policy.

The behaviour of CloudFormation and API Gateway is not the real iss

[2020-06-01 03:17] xharsin opened #7802 "AWS Kinesis Event Source not attaching with right provisioned Concurrency Lambda Alias"
I have a use-case to use Kinesis Stream as a trigger for Lambda function with Provisioned Concurrency. According to the Documentation the Event should be attached to the automatically created alias `provisioned` , but it is always attaching to the `Latest` Default version of Lambda.

So the Lambda version Provisioned with Provisioned concurrency is not triggering as the event is added to `LATEST`

[2020-06-01 08:07] IikkaWinter commented on #7762
To AWS. Sorry for the confusing sentence. So deployment **from** mac to AWS didn't fail.

[2020-06-01 08:26] medikoo commented on #7298
@s-kikuchi I believe it should be:

#### sls deploy --p xxx (xxx is whatever, could be `.serverless` or not)
- [ ] Fix not to copy the context of `-p` directory into `.serverless` directory when executing the command (just deploy directly from provided path)
- [ ] Fix to not delete `.serverless` directory after deployment

And otherwise things should remain working as they work now

[2020-06-01 08:28] medikoo commented on #7762
Thanks for info. In that case there's a bug. We should not document and try to support `maximumRetryAttempts` for SQS streams.

PR's welcome1

[2020-06-01 08:43] #6335 closed

[2020-06-01 08:48] adir1661 commented on #7711
@medikoo
i was checking and all what was missing is the service name to be bale to run serverless -v is that what u mean?

[2020-06-01 08:50] medikoo commented on #7792
Duplicate of #7407

[2020-06-01 08:50] #7792 closed

[2020-06-01 08:54] medikoo commented on #7793
@ChuckByram great thanks for report. Are you suggesting that https://github.com/serverless/serverless/pull/5574 introduced a regression?

Note that we're aware of buggy (unjustifiably slow) packaging performance, and that problem (in general) is handled here: https://github.com/serverless/serverless/issues/6580

[2020-06-01 09:59] adir1661 commented on #7711
I fixed it with a little workaround:
istead of :
[code]

i tried:
[code]

[2020-06-01 10:03] medikoo commented on #7070
@preshetin thanks for response. Why exactly we need to resolve condition?

My understanding of condition is that it's simply resolved by AWS when CloudFormation stack is deployed, and in a framework we just need to assign `Condition` to all resources that should be subject to it (and we do not need to have understanding of condition logic).

What do I miss?

[2020-06-01 10:20] medikoo commented on #7791
@Michsior14 can you clarify? I think we can get information about created routes from service config (?)

[2020-06-01 10:29] mannharleen commented on #7598
@Michsior14 are you still working on this PR? Good work so far

[2020-06-01 10:36] Michsior14 commented on #7598
Just resolved the final suggestion. Hope it will be merged soon.

[2020-06-01 11:10] Ksmike commented on #7758
@yugasun Hi, I'm having a similar issue. I just upgraded from a previous version to a newer version via `npm i -g serverless` and now I'm experiencing - >
[code]
I tried deleting the serverless via `rm -rf` then install from scratch, but the issue is persisting,

I was using it this morning, so it's been introduced with the latest release, I'll watch this thread, or if you recommend, I can create

[2020-06-01 11:17] medikoo commented on #7794
@50l3r please respect all issue template remarks and answer all its questions

[2020-06-01 11:22] medikoo commented on #7795
@glb such errors should be well handled with https://github.com/serverless/serverless/issues/6562 which already has nearly finalized PR and should land soon (altough validation for this specific case will also need to be configured in)

[2020-06-01 11:26] medikoo commented on #7796
@hyacinthus `af-south-1` is not supported by dashboard at this point (check here for list of supported regions https://www.serverless.com/framework/docs/dashboard#supported-runtimes-and-regions )

Fact that we do not report such error meaningfully is handled at https://github.com/serverless/enterprise-plugin/issues/356

[2020-06-01 11:26] medikoo commented on #7796
Duplicate of https://github.com/serverless/enterprise-plugin/issues/356

[2020-06-01 11:26] #7796 closed

[2020-06-01 11:28] medikoo commented on #7797
@brentpabst thanks for details on how this error occurred. Luckily such errors will shortly be reported meaningfully, check https://github.com/serverless/serverless/issues/6562

[2020-06-01 11:34] ofercaspi commented on #6544
But shouldn't that lambda be removed once the deployment is done (for me it isn't)?

[2020-06-01 12:22] medikoo commented on #7800
@zhaoyi0113 please respect all issue template remarks.

Your `serverless.yml` relies on external plugins, which suggests that issue may be influnced by one them. If it's the case please report it at plugin repository.

Otherwise if you're positive that it's an issue with a Framework, please post a reproducible test case that doesn't involve any plugins.

[2020-06-01 12:34] medikoo commented on #7802
@xharsin Thanks for report. It looks related to https://github.com/serverless/serverless/issues/7371 and https://github.com/serverless/serverless/issues/7726

Same issue was also already fixed for ALB events at https://github.com/serverless/serverless/pull/7285 and I think Kinesis case can be easily fixed with same solution.

PR with a fix is welcome

[2020-06-01 12:41] medikoo commented on #7711
@adir1661 so if I understand correctly, issue was incorrect nesting in a configuration (?)

Such issues will shortly be immediately exposed. See: https://github.com/serverless/serverless/issues/6562

[2020-06-01 12:45] #7598 closed

[2020-06-01 12:47] medikoo commented on #6544
@ofercaspi custom resource lambda is part of a service, it's invoked whenever there's an update to resource in question, or when stack is removed (then of course it'll be also removed)

[2020-06-01 12:54] ChuckByram commented on #7793
@medikoo Thanks for the response. After skimming through the issues you mentioned, it's hard for me to say whether #5574 introduced a regression or if it just wasn't a complete fix of the issue as evidenced by the need for #6580. I'm sure #5574 fixed the issue on the table at the time, but it did make my particular scenario slow. For me, globby vs nanomatch for the same set of files was no match.

[2020-06-01 12:56] #7800 closed

[2020-06-01 13:02] medikoo commented on #7793
@ChuckByram yes, symlinks are not handled well, and in many scenarios they cause process to hang when packaging. That's ugly and definitely should be fixed, but it probably cannot be fixed without a bigger refactor.

If anyone has some idea on how bring some smart quick improvements on current ground, we're definitely open for that.

[2020-06-01 13:03] medikoo commented on #7793
Duplicate of #6580

[2020-06-01 13:03] #7793 closed

[2020-06-01 13:07] glb commented on #7795
@medikoo thanks! Having a schema check would be great. I've subscribed to that issue and would be happy to try adding basic validation for `resourcePolicy` when the capability is available.

[2020-06-01 13:09] Michsior14 commented on #7791
@medikoo Compare those outputs:

- `stackData.externalHttpApiEndpoint` not set at all in [here](https://github.com/serverless/serverless/blob/master/lib/plugins/aws/info/getStackInfo.js#L36)
[code]

- `stackData.externalHttpApiEndpoint` set to `/` in [here](https://github.com/serverless/serverless/blob/master/lib/plugins/aws/info/getStackInfo.js#L36)
[code]
As you can see above the endpoints are n

[2020-06-01 17:14] belikemike21 opened #7803 "AWS step functions StringEquals empty check"
Q1: Describe the issue
I am using AWS Step Functions to create state machines and AWS CodeBuild to deploy the state machines via Serverless framework. In one of the state machines, I have written the code to check whether the input variable is empty or not. The code is simple and working if written directly on AWS step functions console page. But when the code is written in the yaml file and deplo

[2020-06-01 17:20] niketh90 commented on #7059
So there is no way to set provisioned concurrency on $LATEST . Right?

[2020-06-01 17:28] shaheer-k commented on #7059
The issue which I am facing is that when I enable both Provisioned concurrency and Canary, the API invocation is failing due to the alias issue.

[2020-06-01 19:57] medikoo commented on #7059
Yes, it needs to be on _alias_ that's not $LATEST

[2020-06-01 21:58] Farhad33 commented on #6179
Any update on this?

[2020-06-01 23:06] jack-morrissey-calabrio commented on #4720
Having the exact same problems as @MichaelGoberling and would prefer not to go down the route @sschulze. Any updates now?

[2020-06-02 02:00] mkyung commented on #3896
Anyone has solution for this ... after almost two years?

[2020-06-02 07:12] medikoo commented on #7791
@Michsior14 I understand that you point that if we start to support CF instructions for external id, then this will break the _info_ endpoints resolution (where we only support HTTP API id provided as literal string)

Yes, that's true. I believe that together with that we need to introduce a CF instruction resolver, that resolves the id from that, so that _info_ functionality remains working

As I

[2020-06-02 07:24] medikoo commented on #7803
@belikemike21 please report at step functions plugin

[2020-06-02 07:24] #7803 closed

[2020-06-02 07:32] medikoo commented on #4720
@MichaelGoberling @jack-morrissey-calabrio please report at https://github.com/serverless/serverless-azure-functions

[2020-06-02 08:00] yyamano commented on #4415
@michellemalaski-powerschool If it's a permission issue, there is a workaround.
[code]

You might want to fix owner/group/permission of "target" and subdirectories.

[2020-06-02 11:56] rajendragosavi commented on #4710
@gadelkareem , where did you add this ? I am using helloworld example of AWS SAM.

[2020-06-02 12:17] gadelkareem commented on #4710
@rajendragosavi it for the Alpine image that is building the go binary in your pipeline

[2020-06-02 12:36] rajendragosavi commented on #4710
@gadelkareem  , I am just following AWS SAM hello-world example. and I am getting some error .
I am invoking - sam local invoke HelloWorldFunction --no-event
"errorType":"exitError","errorMessage":"RequestId: 1bd9d3cd-442a-1519-3878-8ebe490a5e95 Error: fork/exec /var/task/hello-world: permission denied"

[2020-06-02 12:38] rajendragosavi commented on #4710
@Napas - How did you resolve this issue? I am following AWS SAM hello-world example and I getting error-  "errorType":"exitError","errorMessage":"RequestId: 1bd9d3cd-442a-1519-3878-8ebe490a5e95 Error: fork/exec /var/task/hello-world: permission denied"

[2020-06-02 12:56] davidops commented on #7407
Uninstall serverless cli and install with `npm install serverless -g`
After that try to run local function in a new terminal.

[2020-06-02 13:57] preshetin commented on #7070
@medikoo sometimes a CF resource contains an `dependsOn` array of other resources. If a condition resolves to false, then the resource won't be created, and the `dependsOn` array should not have this non-existent element to be among array elements.

Otherwise, the error is thrown. The only way I see it to create a condition resolver

[2020-06-02 14:36] medikoo commented on #7070
Thanks, I understand now, we speak about case, where resource with `dependsOn` still needs to be created even though creation if it's dependency may not happen (and in such case AWS will crash).

I see it as design issue on AWS side, as indeed it's impossible to recover cleanly without being able to resolve such condition

That unfortunately makes a significant obstacle, as by design, purely gener

[2020-06-02 14:42] claydanford commented on #6182
I've run into a need for this today, perhaps others can assist with a work around.

We protect dynamodb tables through stack policy. Now we have a valid use case for when we actually want to delete a table but no way to override using CI. In fact the best we can do I think is to modify the policy, update the stack, change it back. Very messy.

[2020-06-02 18:17] AshUK commented on #3782
You can have multiple cognito user pools assigned to an apigateway

[2020-06-02 18:53] apsoto commented on #4687
I've noticed that if you mistakenly have a variable reference itself it gets stuck in what appears to be an infinite loop.  I've waited many minutes, and the deploy process provides no feedback nor does it error out.

An example I mistakenly did due to a bad cut and paste in my serverless.yml

[2020-06-02 20:22] erikerikson commented on #4687
Interesting @aposto.  I would expect that to be the case and there isn't logic to detect it.  I'd guess that's worthy of an issue if you're willing to open one up?

Under the covers it will be waiting on its own promise, an obvious deadlock.  Sorry about the bug.

[2020-06-03 03:30] apsoto opened #7807 "Variable that self references causes deploy to hang"
If you mistakenly have a variable reference itself it gets stuck in what appears to be an infinite loop.  I've waited many minutes, and the deploy process provides no feedback nor does it error out.

An example I mistakenly did due to a bad cut and paste in my serverless.yml:

[code]

`sls deploy -v` hangs with no output

Other mention: https://github.com/serverless/serverless/issues/4687#issuecom

[2020-06-03 07:01] medikoo commented on #7807
@apsoto thanks for reporting. It's definitely a bug, that at some point should be fixed.

We will possibly rewrite variables resolution logic at some point in time (we cover that here: https://github.com/serverless/serverless/issues/7207 ) and then we'll ensure that this issue is then addressed.

Otherwise if there's some quick fix that can be done just to address this issue, PR is definitely welc

[2020-06-03 09:37] stefanhorning commented on #4853
I have the same issue. I infact added MFA condition to my users IAM policy. But one that shouldn't access API access. So I get this error but at the same time stuff to s3 is uploaded sucessfully to the serverless bucket and I can download it again using the aws cli without any issues.
So it's only the serverless run that's complaining somehow...

[2020-06-03 09:46] stefanhorning commented on #4853
The culprit was indeed restricting s3 to MFA being present (for login sessions, not for API!), after adding a policy to my user allowing full access without the MFA conditional it worked. Despite the fact the up and download to S3 already worked before, serverless seems to do s.th. extra here which causes the error. Would be good to know what the step `Serverless: Validating template...` actually

[2020-06-03 09:51] DmitryOstapuk commented on #6149
@rudijs, does AWS_IAM authorization work in your case? In my case I see the AWS_IAM in the websocket settings (API Gateway console) but still able to call lambda method without any authorization information. I expect to get 403 in case of the call without auth header.

[2020-06-03 14:57] chrisVillanueva commented on #7747
@medikoo
Is there a current file or sub-directory we can place utility functions?  Where can we add a function to execute deep and/or strict equality Object checks? I looked at `/utils` and `/lib/classes/Utils.js`.  I didn't see a place to introduce a general, shareable utility function.  `Utils.js` defines a class, but I only need a simple function to use across files. Any suggestions?

[2020-06-03 15:16] medikoo commented on #7747
@chrisVillanueva if you mean a language level utilities, then I think we should not introduce any here, but instead rely of utility library of choice. Currently we rely on lodash, and problem is that we overuse it for cases which should rather be handled with native API, and this issue is purely about that.

We may at some point consider replacing lodash completely, but I think then it should repl

[2020-06-03 15:39] chrisVillanueva commented on #7747
Thanks for clarification. This simplifies the issue.

[2020-06-04 07:49] DmitryOstapuk commented on #6149
@rudijs It was very strange thing for me. websocket in AWS console was configured with the AWS_IAM, but `wscat -c "wss://********.execute-api.us-east-2.amazonaws.com/dev` worked without any Auth header. But when I created a right Auth header and repeat wscat with it the previous request without header start working as expected with 403 error.

[2020-06-04 11:05] rudijs commented on #6149
@DmitryOstapuk The way it works for me is:

- Create a websocket service using the serverless framework (sls deploy etc)

This is an example of what I currently have (I'm using typescript and adding in saving the connectionId to dynamodb)

[code]

If you try to connect to that using the wss:// endpoint you'll get a 403 - that's how it works out of the box.

Then in the front end, the app needs to

[2020-06-04 12:00] prabushitha commented on #6771
I am getting an error when `existing:true` creating the internal Iam role, as all roles created in my aws account should have the [permission boundary defined](https://forum.serverless.com/t/permission-bounday-for-internally-created-resources/11663).
`An error occurred: IamRoleCustomResourcesLambdaExecution - API: iam:CreateRole User: arn:aws:sts::xxx is not authorized to perform: iam:CreateRole o

[2020-06-04 12:08] jufemaiz commented on #3785
Makes me worried if this is still the case today. 2 years on shouldn't be considered "bleeding edge" any more :(

[2020-06-04 12:38] ofercaspi commented on #6544
@medikoo thanks, I appreciate your quick reply.

The reason I'm asking is that I'm hitting the resource limit of the stack, mostly because I get a custom resource lambda for each function that triggers from an existing bucket.
Together with it's own role it incurres 2 additional resources for each such triggered function.

I'd imagine that one such lambda can be used to manage all of those functio

[2020-06-04 14:03] ilanc opened #7815 "can't deploy httpApi to af-south-1"
I am able to deploy lambdas to the new africa region `af-south-1` - however I cannot deploy lambdas that use the new [httpApi](https://www.serverless.com/blog/aws-http-api-support/) endpoints.

NB I'm aware of #7796  - this issue is different - I'm not attempting to use the Serverless Framework - just the serverless deployment tool.

The error I get is:
[code]

Does this mean that af-south-1 doesn

[2020-06-04 14:04] ilanc commented on #7796
Hi @medikoo, I actually opened this on the forum a while ago. I take it that the forum isn't monitored?

I have a similar issue to @hyacinthus i.e. I can't deploy to `af-south-1` but I'm not using the framework - just vanilla sls. See #7815

[2020-06-04 16:44] FelschR commented on #3183
One of my projects was set up with Cognito in early 2017. Back then Cognito wasn't supported by CloudFormation. Later that year support was added, and we'd now like to add our Cognito config to serverless.
This might be a rare case but a legitimite one.

[2020-06-04 20:27] kennu commented on #3183
I would like the same feature to add my Cognito User Pools to CloudFormation @FelschR. But it's not a missing feature of Serverless, it's a missing feature of CloudFormation. We should be making this feature request to AWS.

[2020-06-05 00:04] sappusaketh opened #7819 "Cannot use equalto `=` in env value for sls invoke local"
**Q1: Describe the issue**
I have equal to `=` in  an env var value and my local invoke is not working as expected because when sls is parsing the env var values it is splitting based on `=` symbol which is causing an error in my lambda because of incomplete string being parsed

**Q2: Provide (in below placeholder) output of serverless --version**
<b>Installed version</b>
[code]

**Q3: Provide (in

[2020-06-05 15:01] esetnik commented on #5634
I have been working on [a branch](https://github.com/esetnik/serverless/tree/pnp) which supports serverless pnp without the workarounds mentioned by @nkalinov. If you want to test it out add:

[code]
to your `package.json`. I have other plugins getting loaded, but for a currently unknown reason `serverless-webpack` isn't working.

[2020-06-05 15:05] esetnik commented on #5634
The issue I faced was that `@serverless/inquirer` depends on `ncjsm` and so in my branch i've switched from `@serverless/inquirer` back to `inquirer`. It doesn't have the color customizations, but otherwise seems to work fine.

[2020-06-05 15:07] esetnik commented on #5634
It looks like this change was made recently in https://github.com/serverless/serverless/pull/7729 so my suggestion is that `@serverless/inquirer` should be modified to avoid depending on `ncjsm`.

[2020-06-05 15:50] jonathan-kosgei commented on #6499
Hi @pmuens I'm having a similar issue. Any change to the userpool eg. adding an attribute, removing an attribute, updating the email configuration causes all triggers to be removed after serverless deploy.

[2020-06-06 13:59] cadesalaberry commented on #2856
I submitted a PR to customise the role name.

feel to have a look at it https://github.com/serverless/serverless/pull/7821 !

[2020-06-06 19:20] yardbirdsax opened #7822 "Receiving "A version for this Lambda function exists" error when adding 'reservedConcurrency' property to existing function"
When adding the `reservedConcurrency` property to the `serverless.yml` file for an existing function (previously deployed using the same serverless configuration, minus the property), you receive an error similar to "A version for this Lambda function exists ( 4 ). Modify the function to create a new version."

<details>
<summary><code>serverless.yml</code></summary>

Initial deployment (works fin

[2020-06-07 04:23] adil-uddin commented on #6579
@medikoo @pmuens is it possible to use` findUserPoolById` instead of `findUserPoolByName` to get existing Cognito user pools ? Currently, it seems the event only works when we use userPoolName instead of Arn. I run multiple microservices in my app and use Outputs to refer to resources and we can only output the Arn of the user pool.

[2020-06-07 19:14] KrustyHack commented on #7238
Ay,

I got the same behaviour with my code :

[code]

If I use xxx-prod bucket all works fine (it was the first bucket I used with my function). But if I use xxx-dev bucket I got same error as @AntonOellerer :

[code]

What can I do to help debugging this ?

[2020-06-08 07:02] medikoo commented on #6544
That's indeed bad. There's an improvement planned, to have just one lambda handling all custom resources. See https://github.com/serverless/serverless/issues/6598

We also may consider to have one custom resource handling all existing bucket cases

[2020-06-08 07:04] medikoo commented on #7815
@ilanc This error surfaces from AWS, which states that only Websocket API is supported.
It might be that for some reason HTTP API's are not available yet in `af-south-1` region. Have you confirmed that?

[2020-06-08 07:18] medikoo commented on #7819
Duplicate of https://github.com/serverless/serverless/issues/7087

[2020-06-08 07:18] #7819 closed

[2020-06-08 07:39] ilanc commented on #7815
Does serverless have any channels through which to ask questions of aws? My only option is to raise a support ticket with them. In the past this has simply resulted in me being charged money to say that they are not going to fix the problem

[2020-06-08 07:41] ilanc commented on #7815
But given that it's not a Sls prob I'll close the ticket. Just wanted to eliminate aws finger pointing at sls

[2020-06-08 07:41] #7815 closed

[2020-06-08 08:04] medikoo commented on #7822
@yardbirdsax thanks for report. Indeed I can reproduce it. As I see bug is that for version's [CodeSha256](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-version.html#cfn-lambda-version-codesha256) property, we assign a [hash that's resolved just against lambda code](https://github.com/serverless/serverless/blob/77fbb5969b31bdd0d2220019f896df5a9f36e6fe/lib/plugi

[2020-06-08 08:07] medikoo commented on #6579
@adil-uddin can you open a new issue, with use case description

[2020-06-08 08:47] vdanniel commented on #6595
Best way so far found is the upgrade to the latest version of SLS. 1.72 (tested)

Use extensions something like the below. Extensions are used to override the stack CF resources, Just get the name of the resource right and you are all good .

resources:
  extensions:
    IamRoleCustomResourcesLambdaExecution:
      Properties:
        PermissionsBoundary: !Sub arn:aws:iam::#{AWS::AccountId}:policy

[2020-06-08 08:49] medikoo commented on #7815
Firstly you need to confirm with AWS directly that HTTP API is supported in given region (they have support and forums).

For Framework related issues please use forums https://forum.serverless.com/ or slack https://www.serverless.com/slack

[2020-06-08 09:05] adriantomas opened #7828 "Attach latest lambda layer version"
### Use case description

I want the Lambdas I deploy to use the latest layer version available.

### Proposed solution

Actually we are using:
[code]
Probably would need to change to Array of Objects:
[code]

The way to discover the latest version is through:
[code]

If you provide me some details I can try to create a PR with this change.

[2020-06-08 10:26] medikoo commented on #7828
Duplicate of https://github.com/serverless/serverless/issues/7740

[2020-06-08 10:26] #7828 closed

[2020-06-08 15:40] kevlarr commented on #7536
I don't know whether this is related or tangential, but we just *removed* a Lambda function that had an S3 event on it and attempted to deploy a different Lambda that had the same configuration. We're getting the same `Ambiguous configuration` error because removing the function **does not remove the associated S3 event** configuration.

[2020-06-09 07:09] adriantomas commented on #7740
@exoego This is what I found so far for obtaining latest layer from layer name only:

```aws lambda list-layer-versions --layer-name <LayerName> --region <Region> --query 'LayerVersions[0].LayerVersionArn'```

[2020-06-09 07:20] exoego commented on #7740
@adriantomas
Thanks for suggestion.
But I have already prototyped with the same strategy, but found that the strategy can not fetch version of layer created by other AWS accounts (see https://github.com/serverless/serverless/issues/7740#issuecomment-630179903).

@medikoo
If the limitation (`LATEST` works for layers created within same AWS account) is fine, I will open a PR.

[2020-06-09 08:00] adriantomas commented on #7740
There's another workaround as @danielsan stated in https://github.com/serverless/serverless/issues/7740#issuecomment-634988602
[code]
![image (2)](https://user-images.githubusercontent.com/22175056/84121960-0f4fcd00-aa38-11ea-92cb-e0f413e8e4da.jpg)

[2020-06-09 08:45] tobiastornros commented on #5346
Trying to run pdfmake with serverless-offline but also stuck on the unicode-properties error.

`Error: ENOENT: no such file or directory, open '/Users/x/api/.webpack/service/get/pdf/data.trie'
    at Object.openSync (fs.js:457:3)
    at Object.fs.openSync (pkg/prelude/bootstrap.js:487:32)
    at Object.readFileSync (fs.js:359:35)
    at Object.fs.readFileSync (pkg/prelude/bootstrap.js:683:36)

[2020-06-09 10:06] medikoo commented on #7536
@kevlarr thanks for jumping in. Can you further clarify above part?

[2020-06-09 10:47] medikoo commented on #7740
I think it's fine assuming that:
- Significant percentage of users that rely on layers, use layers from same AWS account (I don't know numbers on that)
- It'll remain friendly (not confusing) for those which work with layers coming from other AWS accounts

[2020-06-09 13:32] jishnu-mohan commented on #7747
@exoego can we add`_.isObject` into this list?

[2020-06-09 13:35] medikoo commented on #7747
@jishnu-mohan Thanks for suggestion, still that one will have to be replaced with:

[code]

which is not readable. I'd say let's keep `_.isObject` now

[2020-06-09 14:59] demian85 commented on #7042
https://github.com/serverless/serverless/pull/7833

[2020-06-09 15:13] ferasallaou opened #7834 "Timeout after Lambda deployments"
I'm using the latest version of Serverless to deploy on Lambda using CircleCI. I've used the same script many times without any issues. However, sometimes I'm getting a Timeout error after successful deployments.
[code]
and this keeps our deployment server alive without any other options, then the whole CI/CD fails due to timeout.

I though this was because `serverless-prune-plugin` plugin but eve

[2020-06-09 18:29] mendoncaj commented on #3852
what is VTL?

[2020-06-09 18:58] jsphkhan commented on #5296
This issue still exists.

[2020-06-09 22:53] skrosoft commented on #3565
Any update on this? I need it too +1

[2020-06-10 07:04] medikoo commented on #7834
@ferasallaou this issue tracker is purely for bug reports and feature requests. For general support inquiries please Slack channel https://www.serverless.com/slack or our forums https://forum.serverless.com/

[2020-06-10 07:04] #7834 closed

[2020-06-10 07:09] ferasallaou commented on #7834
Thanks @medikoo, but this is a bug report, not a support ticket, getting Timeout error without an error message to understanding the issue here.

[2020-06-10 07:27] medikoo commented on #7834
@ferasallaou This is not as valid bug report

If you're 100% sure there's a bug in a Framework, please post a valid bug report, that respects fully all its remarks and has all questions answered.

If you just assume that there might be a bug (you're not certain) then it qualifies as support question that should go to channels I mentioned above.

[2020-06-10 07:35] ferasallaou commented on #7834
Thanks Mariuz

On Wed, 10 Jun 2020 at 10:27, Mariusz Nowak <notifications@github.com>
wrote:

--
Feras Allaou
Full Stack Developer : Dama.dev​ | Full Stack Engineer @Stowk​
<http://stowk.com>
Twitter : FerasAllaou <http://twitter.com/FerasAllaou>
Editor: Al-Jazeera <http://midan.aljazeera.net/feras.allaou>
Youtube: FerasAllaou <https://www.youtube.com/user/FerasAllaou/videos>
Website: feras.ws
Ist

[2020-06-10 07:52] mnapoli commented on #7762
@oscarmrom oh that's a good point! I came to the same conclusion but via a different documentation: https://github.com/serverless/serverless/pull/7620#issuecomment-641104677

I sent a pull request to the AWS docs to make this clearer: https://github.com/awsdocs/aws-cloudformation-user-guide/pull/715

[2020-06-10 10:09] stefanomiccoli commented on #4185
is there any technical good reason that i dont get to avoid the creation of the deployment bucket with custom naming?
at the end of the day, serverless framework is able to generate them, but the naming is sometimes really not desirable. However forcing to create them manually or via other provisioning tools add unnecessary complexity to carry aws.region from one tool to the other to ensure that t

[2020-06-10 10:52] #7762 closed

[2020-06-11 00:14] xaun commented on #4638
Yep still reproducible. Since editing a environment variable through the AWS console, serverless.yml updates to that variable are no longer being received.

[2020-06-11 07:10] msudgh commented on #6341
@davegariepy No unfortunately

[2020-06-11 10:08] sweeetland commented on #7711
same issue and I tried @adir1661 suggestion above but no luck.

Any ideas?

[2020-06-11 16:04] skyzyx commented on #7781
@medikoo: Thank you for the explanation.

I get it. I've worked on those kinds of projects myself. That said, gaining a better understanding of how the internals work (e.g., the internal flow of the software) would help tremendously in getting people (like me, anyway) to _be able_ to reasonably get started in contributing.

Certainly. Acknowledged. While I don't know the history of ownership (many

[2020-06-11 16:41] manfioLP commented on #5919
I wass missing s3:PutBucketAcl, after adding it, it succesfully deployed. thanks

[2020-06-11 19:45] ozbillwang commented on #5919
@ivanbreet @manfioLP i copy & paste the comment

====

Finally I got the root cause of this issue in my environment.

Our company puts the organization SCP (Service control policies) to all sub OU accounts. Because of that, we have no permssion of s3:PutEncryptionConfiguration even I am in admin group/roles.

It will be hard to get the approval to release this block in short term (You know that's

[2020-06-12 06:47] el2ro commented on #6149
How was the permissions set? Is there as easy way to do that from serverless config?

[2020-06-12 07:39] pradnyatawale30 commented on #3785
I am also running into this issue when I try to create all the way new api under existing.
I have api already there which is
`api/account/{accountId}/user/{userId}/enrollment` and I am trying to create new api `api/account/{accountId}/user/{userId}/rule` .
Its giving me error like "A sibling ({userId}) of this resource already has a variable path part -- only one is allowed"

[2020-06-12 08:14] medikoo commented on #6341
Please move it to `serverless-offline` repo. If you feel that some improvement can be made in Framework, please open a feature request report specyfing exactly the use case.

[2020-06-12 08:14] #6341 closed

[2020-06-12 08:15] medikoo commented on #4638
If you think there's a bug in existing version of a framework, please open an bug report respecting all its template remarks

[2020-06-12 08:33] medikoo commented on #7711
Closing, as it was configuration formatting issue

[2020-06-12 08:33] #7711 closed

[2020-06-12 08:36] #7767 closed

[2020-06-12 09:17] paulalex commented on #2372
A question on this, would this structure mean your services are more prone to cold starts? If all of your CRUD operations were in a single file I was told this would mean the container will have more chance of staying up meaning a fast start time.

[2020-06-12 11:34] rudijs commented on #6149
@el2ro AWS Cognito stack is setup prior to serverless deploy.

I use Cloudformation for that.

Here's the relevant code snippet, followed by a link to the entire cloudformation template.

[code]

[https://github.com/rudijs/serverless-typescript-seed/blob/master/devops/cognito-stack.yaml](https://github.com/rudijs/serverless-typescript-seed/blob/master/devops/cognito-stack.yaml)

Probably, though I

[2020-06-12 16:45] nampas opened #7837 "Exclude not excluding a node_modules subdirectory"
I was trying to pull all my node_modules into a lambda layer, but running into an issue because the lambda layer is too big.
[code]
Fair enough, it is big. I went ahead and tried to exclude the aws-sdk node_modules subdirectory:
[code]

That doesn't work though. I'm still getting the aws-sdk included in the zip:
[code]

</details>

<details>
<summary><b><code>REPLACE WITH FULL COMMAND NAME</code>

[2020-06-12 16:48] nampas commented on #7837
Note that the reason that aws-sdk isn't getting automatically excluded by the ` Excluding development dependencies...` step is because some node dependencies of this project include aws-sdk as a dependency 🤦 . Either way, I would still expect to be able to manually exclude the folder via the `exclude` chunk above.

[2020-06-12 16:50] WSanders31 commented on #7700
Any updates on this? This causes errors on deployments, but the actual stacks get stood up regardless.

Anyone have a workaround to this problem?

[2020-06-12 21:55] Cliabhach commented on #6474
This seems to have been (partially) duplicated by #7685 and then (partially) fixed by #7712 .

[2020-06-12 21:55] #6474 closed

[2020-06-13 12:34] preshetin commented on #7781
@skyzyx let me share my experience in contributing to this repo. I've done a few contributions in the past several months.

### How to run a local version of Serverless CLI
1. Fork or clone this repo. Then `cd` into it.
2. Install dependencies by running `npm install`
3. Then inside your _project_ directory (it's where your `serverless.yaml` file lives) run `node /path-to-cloned-serverless-repo/bi

[2020-06-15 10:12] yyamano commented on #5428
Newer version of aws-lambda-java-events fixed the issue. The code works fine with 2.2.5 to me.

Default constructor for S3Event was added in https://github.com/aws/aws-lambda-java-libs/commit/9d36c53e99df569bf226875615ac98d4af5aaf3e

But we have another problem now. S3Event doesn't have a writer method. So, invoke() method can't set anything to an instance of S3Event.

https://github.com/serverles

[2020-06-15 10:48] medikoo commented on #7837
@nampas thanks for report. There are known issues with packaging in general, and there's a dedicated issue for that: ehttps://github.com/serverless/serverless/issues/6580

Still any PR that fixes that before broader refactor is made is welcome

[2020-06-15 13:50] nampas commented on #7837
Sounds good, thanks for the responses y'all. I'll try to file a PR for this later this week.

[2020-06-15 17:16] eldos-dl commented on #4511
@tribet84
The suggested command is not validating the entire template. For example, it seems to not validate things defined in `resources` section.

[2020-06-15 20:36] cgomestw commented on #7370
somebody? :(

[2020-06-16 07:10] medikoo commented on #7370
@cgomestw you? :)

[2020-06-16 10:53] FanFataL commented on #7837
@nampas You can use include insted of exclude to achive what you want:
[code]

Hint: If you want you code works with node_modules from lambda you need to put it into *nodejs* directory. https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html#configuration-layers-path

<details>
<summary>Our project lambda package build looks like this:</summary>

[code]
</details>

[2020-06-16 13:50] grahamdaw opened #7844 ""map is not a function" error with Serverless release 1.73.0"
The following error occurs with Serverless 1.73.0

[code]

It looks like this area was changed in 1.73.0 when moving away from Lodash:
https://github.com/serverless/serverless/commit/4c6f8be5ccae88034e19f72a53996208dd4a56d5

This previously was working with Serverless 1.72.0.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless deplo

[2020-06-16 13:55] medikoo commented on #7844
@grahamdaw great thanks for reporting. Fix will be published shortly

[2020-06-16 14:20] #7844 closed

[2020-06-16 16:31] mburolla opened #7846 "DisableLogs Does Not Disable the Creation of Log Groups"
It's my understanding that Serverless creates a Log Group for Lambda functions, and adding `disableLogs: true` to the YML disables the creation of these Log Groups.  When I deploy my Serverless project with `disableLogs: true` and examine the CloudFormation template, I still see the log group that Serverless creates.

I am not able to create my own custom log group and attach a Lambda function to

[2020-06-16 19:47] cgomestw commented on #7370
I not using java/gradle template on my project.

But I think this need to upgrade the AWS SDK on this line https://github.com/serverless/serverless/blob/5c1b006317fdc230db4a669eb4691ddd51801522/lib/plugins/create/templates/aws-java-gradle/build.gradle#L12 with this package updated https://mvnrepository.com/artifact/com.amazonaws/aws-lambda-java-core.

For gradle, I think it need to change jar on t

[2020-06-16 19:55] cgomestw commented on #7370
This fix on groovy fixed the problem: https://github.com/serverless/serverless/commit/5e2e1a366a4894bd1c33123bae6fe99cfc9ded7f

[2020-06-16 20:07] kernwig commented on #5910
If anyone else finds there way here, updated example (with code for Python and Typescript) link for @mrowles 's links: https://github.com/awslabs/aws-support-tools/tree/master/Cognito/decode-verify-jwt

[2020-06-16 20:38] bhorkarg opened #7847 "Cannot use a variable name in provider and runtime fields in serverless.yml"
When we use a variable reference in the provider and runtime fields in serverless.yml, the sls deploy command exits after the "Packaging service" phase without giving errors. However the service is not deployed.

<details>
<summary><code>serverless.yml</code></summary>

[code]
</details>
<details>
<summary><code>serverless.common.yml</code></summary>

[code]
</details>

<details>
<summary><b><code

[2020-06-17 06:01] eldos-dl opened #7848 "Support for EFS in lambda function configuration"
### Use case description
AWS has recently announced support for EFS in Lambda functions.
https://aws.amazon.com/blogs/aws/new-a-shared-file-system-for-your-lambda-functions/

Using them would help in different use cases as described in the blog. It would be great if we could configure the same in serverless.yaml

[2020-06-17 06:51] medikoo commented on #7846
@mburolla thanks for report. It's actually a documentation bug. This option is only supported in function configuration context.

It was mistakenly added in `serlveress.yml` to `provider` section (cc @AhmedFat7y) with #7720

PR with a fix is welcome

[2020-06-17 07:23] medikoo commented on #7847
@bhorkarg great thanks for report, still that's a duplicate of https://github.com/serverless/serverless/issues/7207 please follow discussion over there.

[2020-06-17 07:23] medikoo commented on #7847
Duplicate of #7207

[2020-06-17 07:23] #7847 closed

[2020-06-17 08:10] medikoo commented on #7848
@eldos-dl great thanks for opening this! We definitely should support it. Still before patching a PR we should agree on some implementation spec (at least how it should look on configuration level).

We welcome any feedback

[2020-06-17 09:05] AhmedFat7y commented on #7846
@medikoo will fix this

[2020-06-17 09:14] AhmedFat7y commented on #7846
@mburolla If you move `disableLogs: true` to the function section, it will work as expected?

[2020-06-17 09:14] AhmedFat7y commented on #7846
@medikoo why didn't we add it to provider section?

[2020-06-17 09:44] #7846 closed

[2020-06-17 09:47] medikoo commented on #7846
@AhmedFat7y We were addressing request that asked to have that feature enabled for specific function.

Still it definitely can be implemented as global option. I believe it's worth consideration if there's a valid use case for that

[2020-06-17 09:55] AhmedFat7y commented on #7846
@medikoo I'm not sure if this is the right place to discuss it but I will say my concern

If log groups are created only on functions resources and there is no elcertain event type that require log groups to be created (like for example how lambda@edge complainer about vpc), I think we can provide it globally on provider itself

[2020-06-17 10:02] medikoo commented on #7846
Logs are produced just by functions. Even functions logic does not log anything, there'll be logs on start and end of function execution. Technically events configuration is not that relevant in that case.

Also afaik in AWS, lambdas will always attempt to write logs. It'll fail (silently) only if lambda was not provided with access to write logs. We don't even have to create log group on our own

[2020-06-17 13:06] mburolla commented on #7846
Well yes, sort of.  The CloudFormation template looks correct, however the expected outcome is puzzling.

I'm attempting to create a Lambda function and associate my Log Group to it.  My new Log Group gets created, however Amazon creates a Log Group for my Lambda Function automatically and routes the output of console.log() to this Log Group.  The Log Group that Amazon automatically created is not

[2020-06-17 13:19] medikoo commented on #7846
@mburolla please ask https://forum.serverless.com/ or on our Slack channel https://www.serverless.com/slack

[2020-06-17 19:06] iamle0pard opened #7850 "serverless has a number of potential security flaws as identified by a VeraCode static scan"
If you run a VeraCode static security scan against the serverless folder and files within 'node_modules' you will see that there are a number of flaws identified.

The following flaws have been identified:

http://cwe.mitre.org/data/definitions/259.html
CWE-259: Use of Hard-coded Password

utils.js: 140
Context.js: 124
Context.js: 123
utils.js: 119
Context.js: 110
utils.js: 141
Context.js: 129

ht

[2020-06-18 00:07] mascah commented on #4565
FWIW, there is an open PR to add this to the CF provider, so ideally should be coming soon.

https://github.com/aws-cloudformation/aws-cloudformation-resource-providers-logs/pull/27

Drives me a little nuts that Terraform has supported this 2017...

[2020-06-18 01:16] kziemski commented on #7848
its already in cloudformation

AWS::Lambda::Function Properties FileSystemConfigs

FileSystemConfig
Arn: String
LocalMountPath: String

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-function.html#cfn-lambda-function-filesystemconfigs

[2020-06-18 03:35] chrisVillanueva commented on #7733
Greetings @medikoo

To address this issue, do you think we should start with something like this:
[code]
Then update `logError` logic to surface the Error message you prefer?

[2020-06-18 07:02] medikoo commented on #7850
@iamle0pard thanks for report, still I have problems coining real issues.

Firstly this information is not specific enough, e.g. we have numerous `utils.js` files in various folders. It's not clear to which ones exactly report applies (full file paths, ideally links to specific lines will definitely help)

Secondly, I've checked some of those that can be coined, and e.g. in  `CLI.js` at line 130 t

[2020-06-18 07:05] medikoo commented on #7733
@chrisVillanueva your proposal looks great. It's just that we detect network errors by codes not names (`error.code` property), but it's definitely this direction.

[2020-06-18 07:23] jefftougas commented on #7848
I agree it'd be nice to have efs mount support built in to the main `functions` config section. Fyi though, this is already technically possible using the [resources.extensions](https://www.serverless.com/framework/docs/providers/aws/guide/resources#override-aws-cloudformation-resource). I've included a simplified serverless.yml based on my working code below, in case it helps anyone else who for

[2020-06-18 17:07] iamle0pard commented on #7850
I'm not saying all of these issues are 100% true security issues.  I am simply reporting what VeraCode has indicated.  What you will find is that many times their algorithm only looks for keywords and then flags it.  For instance anywhere the word '**Secret**', '**Pass**', or '**Password**' are in the code it will flags as '**Use of Hard-coded Password**'.  In 99% of the cases this is a false posi

[2020-06-18 17:40] shihrer commented on #7551
We ran into the same problem.  Looks like it's still not fixed by AWS unfortunately.

[2020-06-18 18:28] vavarodrigues opened #7852 "Log retention not properly set"
I'm using plugin `serverless-plugin-log-retention` and don't work, it no set `"RetentionInDays"`

code snippet cloudformation

[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-06-18 18:46] blairg23 commented on #7551
I talked to AWS support, they gave me this ticket to track the issue (it also affected integers, thus the name): https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/251

[2020-06-18 19:14] medikoo commented on #7850
@iamle0pard this belongs to other repositories

`components` is https://github.com/serverless/components
`cli` is https://github.com/serverless/cli
`utils-china` is https://github.com/serverlessinc/utils-china/
`eent-mocks` is https://github.com/serverless/event-mocks

`platform-client-china` and `platform-client` are actually hidden behind private repos, but you can report about that at https://g

[2020-06-18 19:41] asrarbca commented on #5431
Same issue here.
[code]

[code]

[2020-06-18 21:09] asrarbca commented on #5431
I was able to resolve the issue by reducing the size of the zip file. I did so by removing aws-sdk from the package.json file. I didn't need that in package.json because apparently aws-sdk is  automatically included in AWS lambdas.

Hopefully this helps someone.

[2020-06-19 02:42] Carpuller opened #7853 "Using intrinsic functions at authorizer.type will throw TypeError: http.authorizer.type.toUpperCase is not a function"
When using intrinsic functions, such as `!If` in Lambda function authorizer.type, it throws `TypeError: http.authorizer.type.toUpperCase is not a function`. The framework doesn't check if type is a string before calling toUpperCase at https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/events/apiGateway/lib/method/authorization.js#L25.

<details>
<summary><code>ser

[2020-06-19 08:26] medikoo commented on #7852
@Vadorequest please report at repository of `serverless-plugin-log-retention` plugin

[2020-06-19 08:26] #7852 closed

[2020-06-19 08:32] jonnedeprez opened #7855 "AWS API Gateway HTTP API logRetentionInDays not taken into account"
- What happens:
Log retentions days not set for CloudWatch log group for httpApi.
- What did you expect should have happened?
Log retension days should be set like for rest and websockets

It is basically the same issue as #6657, but for HTTP API.

<details>
<summary><code>serverless.yml</code></summary>

[code]
</details>

<b>Installed version</b>

[code]

[2020-06-19 08:33] medikoo commented on #7853
@carpusherw `authorizer.type` is expected to be a _string_. We do not support there CF instructions.

Such errors will propagated with more meaningful messages once we have https://github.com/serverless/serverless/issues/6562 in (with full validation for `http` event).

If you ask to support CF instructions there. Then it may require a further thought, and is not as trivial to address.
Packing of

[2020-06-19 09:54] #7855 closed

[2020-06-19 11:44] Vadorequest commented on #7852
I believe you meant to mention @vavarodrigues instead 😉

[2020-06-19 11:47] medikoo commented on #7852
Sorry @Vadorequest ! GitHub suggestions are to blame ;-)

[2020-06-19 12:14] vavarodrigues commented on #7852
@medikoo I'm sorry, I didn't know that property `logRetentionInDays` was built-in serverless framework. I don't need use that plugin.
Thank you

[2020-06-19 17:26] iamle0pard commented on #7850
Thanks for directing me in the right locations.  I've opened up a new issue in each of the respective repos:

https://github.com/serverless/components/issues/674
https://github.com/serverless/cli/issues/15
https://github.com/serverlessinc/utils-china/issues/36
https://github.com/serverless/event-mocks/issues/19

Closing this issue as new issues have been raised in the correct repos.

[2020-06-19 17:26] #7850 closed

[2020-06-19 17:48] Ownmarc commented on #3184
You can now place ${} literals in your templates using ${!} like this:

[code]

[2020-06-19 18:40] et304383 commented on #3184
@Ownmarc  if that's working for you it's becuase you've defined a variableSyntax value that states that that serverless shouldn't interpret ${!<var name>} as a serverless var.  That's no different than the solution above your post.

[2020-06-19 19:17] Ownmarc commented on #3184
@et304383 I didn't define variableSyntax

its in the doc here : https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-sub.html

[2020-06-20 18:57] BartusZak commented on #5553
Is there any update on that one?

[2020-06-21 10:04] ItuT commented on #4618
User this:

[sudo npm install -g --unsafe-perm=true --allow-root serverless](url)

[2020-06-21 10:20] srisuk2519 commented on #4618
เมื่อ อา. 21 มิ.ย. 2563 เวลา 17:05 Itumeleng Tlali <notifications@github.com>
เขียนว่า:

[2020-06-21 22:42] CodySwannGT commented on #2508
Why was this closed?

[2020-06-21 22:48] arjitj2 commented on #4618
having the error again
[code]

[2020-06-22 02:32] arjitj2 commented on #4618
@ItuT 's solution worked for now but i'd rather not leave this in forever

[2020-06-22 02:46] carpusherw commented on #7853
Thank you @medikoo for you reply. I intention is not to resolve the intrinsic functions when generating CF template when offline, but to leave the intrinsic functions as it is in the template and let CF to resolve in when updating the stack online. You may notice in my posted serverless.yml, I also uses intrinsic functions in authorizerId, and which is left as it is like this in `cloudformation-te

[2020-06-22 05:57] boriskurikhin opened #7859 "Lambda trigger doesn't work for existing s3 bucket event"
I'm running Serverless `1.72.0`. My function gets deployed fine, however, it does not invoke upon the s3 event indicated in `serverless.yml`. After further inspection, it seems as if the trigger does not get added at all (not visible in Designer). When I try to manually add it, I get the following error: `Configurations overlap. Configurations on the same bucket cannot share a common event type.`.

[2020-06-22 06:48] exoego commented on #7859
Each event properties should have more indent than event name, e.g.:

[code]

This is very common mistake and annoying since no warning.
Enhancement is proposed in #5916.

[2020-06-22 06:50] exoego commented on #7859
Ah, sorry, I just looked the serverless.yml.
Maybe different cause, if the error message says `Configurations overlap. Configurations on the same bucket cannot share a common event type` .

[2020-06-22 06:51] boriskurikhin commented on #7859
That could very well be it, I'm testing it right now. I just came across someone else's suggestion in a different ticket.

[2020-06-22 07:08] boriskurikhin commented on #7859
It looks like the indentation was the issue. Thanks @exoego! It would be nice if there was an error thrown for this kind of stuff - but this no doubt was a user error.

[2020-06-22 07:08] #7859 closed

[2020-06-22 08:08] pmyjavec commented on #7524
@medikoo thanks, so are you suggesting that it might be better to rely on opt.stage?

[2020-06-22 08:44] medikoo commented on #7853
@carpusherw at this point for packaging `autorizer.type` needs to be in resolved form, as it influences other template generation logic. It's not jut the value that we pass blindly to CF template.

[2020-06-22 08:48] medikoo commented on #7859
`serverless.yml` formatting issue, will be neatly uncovered with configuration errors once we https://github.com/serverless/serverless/issues/6562 in (and it should be quite soon)

[2020-06-22 08:54] medikoo commented on #7524
Please as ask at https://forum.serverless.com/ or https://www.serverless.com/slack

I'm going to close this as this issue tracker is purely for bug reports (not influenced by plugins) and feature proposals.

[2020-06-22 08:54] #7524 closed

[2020-06-22 10:02] yuklia commented on #5296
have the same issue:
  Your Environment Information ---------------------------
     Operating System:          darwin
     Node Version:              12.9.0
     Framework Version:         1.73.1
     Plugin Version:            3.6.13
     SDK Version:               2.3.1
     Components Version:        2.30.20

[2020-06-22 10:10] carpusherw commented on #7853
Hi @medikoo , my real need behind this is to config authorization type base on some conditions. Is it true that currently Serverless Framework doesn't support this? What do you think if I close this case and create another feature request to support it?

[2020-06-22 10:22] medikoo commented on #7853
I think we may keep this issue for that. I've updated the labels, and renamed title. It needs now some spec on how to implement it without sacrificing any currently working features

[2020-06-22 11:37] ilanc opened #7860 "`Cannot find module`: httpApi lambda breaks with `sls framework` but works with `sls`"
I'm unable to invoke an httpApi lambda when I deploy it using `sls framework`. However if I simply comment out the framework config (`{org, app}`) in the `serverless.yml` and re-deploy (i.e. using vanilla `sls`), then I am able to invoke the lambda successfully.

For the broken `sls framework` version I see this in the logs:
[code]
**Problem cause:**
- my .js is actually called `handler.js` not `h

[2020-06-22 11:44] medikoo commented on #7860
@ilanc can you prepare a clean reproduction test case, that doesn't involve a Webpack? It might that issue is in your webpack configuration and that's out of scope of this project.

[2020-06-22 12:01] ilanc commented on #7860
howdy - the problem is the UserFunction.js code inside the serverless framework. I just logged on to try and get the callstack from the dashboard.serverless.com but it's hidden (as of 10 mins ago? with a message about upgrading serverless enterprise plugin?).

It looked like the sls framework injects it's own handler which then needs to find and require your handler and run it. I'm pretty sure tha

[2020-06-22 12:07] medikoo commented on #7860
@ilanc for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

This issue tracker is purely for bug reports or feature requests, and those should be reported with full respect to template remarks (e.g. no webpack, external plugins etc. involved)

[2020-06-22 12:13] ilanc commented on #7860
Hi @medikoo, this is a valid bug report. The serverless framework has different behaviour to the vanilla sls - behaviour that will prevent non-default export handler.js functions from being called AFAICT - i.e. a bug.

Ignore the comments about the dashboard I just mentioned this because I was going to send you the stack trace from the dashboard which would have made it obvious where the bug lies.

[2020-06-22 12:15] medikoo commented on #7860
@ilanc can you prove it with reproducible test case that doesn't involve webpack?

[2020-06-22 12:42] ilanc commented on #7860
sure

[2020-06-22 12:57] ilanc commented on #7860
Here you go:
https://github.com/ilanc/bug-demo

[2020-06-22 12:59] ilanc commented on #7860
@medikoo you'll need to follow the instructions in the readme to reproduce + edit the framework tenant settings for your account.

[2020-06-22 16:32] yuklia commented on #6541
Thanks! You saved my time =)

[2020-06-22 17:34] sthuber90 commented on #3182
Was wondering the same thing. From what I see in AWS, I would say that the usage plan without a path or API key where it is applied to is without any effects.

[2020-06-22 17:37] tommedema commented on #3182
That's concerning.. we'd like to use this to avoid getting an unexpectedly high AWS bill

[2020-06-22 23:26] raiss commented on #7726
Is there a work around available for this issue.
I cannot workout how it can be done via the AWS API Gateway Console.

[2020-06-22 23:57] JanIHC commented on #3785
same here happens when I rename the path from/locations/{id} to /locations/{identifier}

Will this be fixed at some point?

[2020-06-23 09:52] kavukcutolga commented on #3557
It's sad to see that issue is not resolved for 3 years

[2020-06-23 10:21] biddster opened #7863 "Option to fail fast on missing configuration files"
### Use case description

I have a serverless project where I use multiple configuration files to manage the stack. Due to a refactoring error, I didn't create a yml file in the correct place. Consequently, my ${file} include from serverless.yml pointed to a non-existent file. I didn't spot the warning when I ran sls deploy...

[code]
...and ctrl+c wasn't quick enough. Unfortunately that meant hal

[2020-06-23 11:27] medikoo commented on #3367
I've updated main description with implementation proposal

[2020-06-23 11:38] medikoo commented on #7863
@biddster great thanks for that proposal. We're definitely open for that, and we already have such request at https://github.com/serverless/serverless/issues/3367

[2020-06-23 11:38] medikoo commented on #7863
Duplicate of #3367

[2020-06-23 11:38] #7863 closed

[2020-06-23 12:04] gcampionpae opened #7864 "Absolute path for external .yml files"
### Use case description

We have many repositories using very similar serverless.yml files for deployment and it would be nice if we could template some of the variables or sections of the serverless.yml so that when we have to change something for all serverless templates, we could do this in one place outside of the repository.  i.e.

[code]

where the serverless-plugins.yml looks like this:
[c

[2020-06-23 12:08] medikoo commented on #7864
@gcampionpae I believe the problem is that variables resolution doesn't work for `plugins` sections.

That problem is handled at https://github.com/serverless/serverless/issues/7207

[2020-06-23 12:14] zhaoyi0113 opened #7865 "Support creating dynamodb global table"
I'd like to deploy global table for my dynamodb table. I have read through this blog: https://www.serverless.com/blog/build-multiregion-multimaster-application-dynamodb-global-tables/ but it doesn't support deploy global table via serverless configuration file. I have to run a separate script for that which is not automatic.

### Use case description

⚠️⚠️ REPLACE WITH DESCRIPTION

### Proposed so

[2020-06-23 12:21] medikoo commented on #7865
@zhaoyi0113 Configuration that's put into `Resources` block is passed to AWS CloudFormation template as it is. Support of what can land there is not in a scope of a Framework but AWS.

Concerning AWS Dynamodb Tables, Framework at this point doesn't provide any dedicated API to configure them. For that please check Dynamodb related plugins at https://github.com/serverless/plugins#community-plugins

[2020-06-23 12:23] gcampionpae commented on #7864
Hi @medikoo, thanks for getting back to me so soon.  I think this also has to do with the PromiseTracker here:
https://github.com/serverless/serverless/blob/4c6f8be5ccae88034e19f72a53996208dd4a56d5/lib/classes/PromiseTracker.js

Since it's not able to resolve the https file..

I tried to use an external file for the custom section as well and got this error as a result
[code]

[code]

[2020-06-23 12:26] medikoo commented on #7864
`file` is purely for File system resolution, it doesn't support url's.

At this point `url` resolution is not supported, but I believe we can consider such support (via e.g. `url:` prefix). Do you want to enquiry for such support?

[2020-06-23 12:29] zhaoyi0113 commented on #7865
Thanks

[2020-06-23 12:29] #7865 closed

[2020-06-23 12:45] ninadingole opened #7866 "Not able to invoke Kotlin functions locally"
Created serverless service using template `aws-kotlin-jvm-gradle` then inside the directory did `./gradlew build` and tried `sls invoke local -f "hello"`, and getting following error:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls invoke local -f "hello" OR sls invoke local --docker -f "hello"</code> output</b></summary>

[code

[2020-06-23 13:08] medikoo commented on #7866
@ninadingole thanks for report. It's a known issue already reported at https://github.com/serverless/serverless/issues/7407

[2020-06-23 13:08] medikoo commented on #7866
Duplicate of #7407

[2020-06-23 13:08] #7866 closed

[2020-06-23 13:34] gcampionpae commented on #7864
yeah that would be awesome, I wouldn't mind working on it as well if you can help point me in the right direction ;)

[2020-06-23 15:07] RichardDRJ commented on #5573
We've been using a custom plugin for Serverless Framework for a wee while which allows us to specify most of the infrastructure around Lambdas with CDK, while still getting some benefits provided by Serverless, such as packaging. We've just published it publicly in the hope that this scratches the itch for some other folks.

Right now it's primarily focussed around wrapping core CDK functionality

[2020-06-23 15:11] williamsandonz opened #7867 "Custom variable resolution happens before properties it depends on are resolved"
When my local plugin's variable resolver method is called, upon accessing variables defined in this.serverless.service , any values with ${self:foo} are not interpolated making them unusable.

<details>
<summary><code>serverless.yml</code></summary>

[code]
</details>

And if you create a local plugin at .serverless_plugins / my-plugin

<details>
<summary><code>Plugin</code></summary>

[code]
</de

[2020-06-23 15:18] medikoo commented on #7867
@williamsandonz You're using outdated version of a framework, please upgrade

[2020-06-23 15:21] williamsandonz commented on #7867
Thanks @medikoo I've updated to the latest version and can confirm is issue is still occurring. I've also updated my 'installed version' in above post.

[2020-06-23 15:32] danilofuchs commented on #5573
Thanks! It looks very promising, I will try it out soon. Using both serverless and CDK on a daily basis, combining the two seems to be the optimal path.

[2020-06-23 16:21] jsposato opened #7869 "Serverless Error - iamRoleStatements should be an array of objects, where each object has Effect, Action / NotAction, Resource / NotResource fields"
<details>
<summary><code>serverless.yml</code></summary>
The piece of my serverless.yml where I am trying to import IAM statements from another file:

[code]
A policy in the serverless.common.yml file in the root of the repository:
[code]

</details>

<details>
<summary><b><code>sls info</code> output</b></summary>

[code]

</details>

<b>1.73.1</b>

[code]

[2020-06-24 02:00] vietduc01100001 commented on #7747
@medikoo Can we add `_.flatten` to this list? As we discussed in #7862, we still need to keep `_.flatten` to ensure Node 6 compatibility. I found some ways we can achieve the same function with native JS [here](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_flatten), basically making use of `Array.reduce` and `Array.concat`.

[2020-06-24 02:15] KidA001 commented on #6755
Any update on this?

[2020-06-24 06:27] uneco commented on #5676
This issue has recurred in versions that use writeMessage.
https://github.com/serverless/serverless/blob/e1092aff44cc839896c63908f3803f874df63fe8/lib/classes/Error.js#L30-L45

[2020-06-24 07:32] KernCheh opened #7871 "Serverless invoke local '-p' option conflicts with AWS plugin options"
When using

[code]

It leads to an error

[code]

Using the --path option instead works fine
[code]

As it turns out, the `-p` parameter is being confused with the one in this line:
https://github.com/serverless/serverless/blob/master/lib/plugins/aws/common/lib/artifacts.js#L10
which is likely the --package parameter

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<d

[2020-06-24 07:46] medikoo commented on #7864
@gcampionpae I'ev updated issue title, and added _Proposed solution_ section to main descroption, which provides general notes on how it can be implemented.

PR is welcome

[2020-06-24 08:16] medikoo commented on #7867
@williamgueiros I've checked that and it works like that, because it's not evident for internals that resolution of `foo` depends on `provider.stackName` being resolved first.

There's a _prepoluation_ stage which is supposed to guarantee that certain _core_ properties are resolved before other variables resolution takes place, but `provider.stackName` is not considered as _core_ property (and tha

[2020-06-24 09:16] ninadingole commented on #7407
Had similar issue while running `aws-kotlin-jvm-gradle` template getting error
[code]

the template uses java11 version in serverless.yml, I tried to change java11 to java8 and it worked. Some issue while reading the .serverless folder in java 11

[2020-06-24 09:40] medikoo commented on #7869
@jsposato for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-06-24 09:40] #7869 closed

[2020-06-24 10:23] kdybicz commented on #4597
I just upgrades SLS to 1.73.1 where this change was tagged and release, but I'm still having exactly same issue.

[2020-06-24 10:42] FlorinAcsinte opened #7874 "wrong link, sorry, please delete"
wrong link, please delete..

[2020-06-24 10:49] #7874 closed

[2020-06-24 12:06] medikoo commented on #7747
@vietduc01100001 thanks for asking. Still I would leave `_.flatten` until we're able to replace it with native `[].flat`, and that'll be the case once we drop support for Node.js v10 (which we can consider next year in May).

I didn't add it to the list, as it seems too early to speak about that.

[2020-06-24 12:28] medikoo commented on #7871
@KernCheh great thanks for reporting.

I was able to reproduce it. Interestingly it's not the case with Node.js runtime. It's Go runtime that for some reason enforces lambda packaging, and there's collision there.

PR with a fix is welcome

[2020-06-24 13:11] jsposato commented on #7869
this wasn't a support request, I was trying to report a possible bug.  I forgot to put in my issue that when you follow what I have above, the `sls print` outputs the statements with double `-` which causes the error.  The only workaround I could find was for each of the policies I'm importing to have only one Effect,Action,Resource statement.

[2020-06-24 13:20] medikoo commented on #7869
@jsposato From what I see, Framework behaves properly. Note that what lands in `iamRoleStatements`, by your configuration is array of arrays and not array of objects. Error message is pretty descriptive.

[2020-06-24 15:15] Dartv commented on #4202
I'm having the exact same error and using latest serverless

[2020-06-24 15:50] skharel commented on #6755
Turns out I can implement everything I needed without making use of this library. By making use of AWS Pseudo Parameters in cloud formation directly, I was able to eliminate the need for this library. We do not use this library anymore.

https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/pseudo-parameter-reference.html

[2020-06-24 23:47] SanjayS5 commented on #7678
@AhmedFat7y Thanks  for working on this! How is it coming along? No rush of course, just curious :)

[2020-06-25 05:38] feeh27 opened #7876 "Lambda layer not attaching to function when use arn"
I haven’t been able to attach the layer to the Lambda Function.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

**Node version:** 12.16.1

[2020-06-25 05:51] feeh27 commented on #7740
You can use plugins: serverless-latest-layer-version (this is compatible with serverless-pseudo-parameters plugin)

[2020-06-25 06:01] exoego commented on #7740
Thanks !!

Do you mean this plugin ? https://www.npmjs.com/package/serverless-latest-layer-version
The plugin looks enough for current proposal.

I am closing this feature request since community plugin already covers use case.

[2020-06-25 07:29] KernCheh commented on #7871
Hi @medikoo, thank you for investigating!

I can try to take a stab on a fix over the weekend, but I'm not too confident about being able to find a reasonable solution to have both parameters available.

Of course, if someone beats me to it or would like to take the lead on this, please by all means :)

[2020-06-25 08:14] medikoo commented on #7876
@feeh27 Use root `custom` instead of `provider` namespace for reusable layer configuration.

I believe it doesn't work, as `layers` is not recognized as `provider` property and is silently discarded (error reporting on that will be fixed with https://github.com/serverless/serverless/issues/6562 which is around the corner)

[2020-06-25 08:18] medikoo commented on #7871
I believe in that case `-p` should be strictly handled as `path` alias for `invoke local`.

So fix is to ensure we do not handle `options.path` in packaging logic when it's `invoke local` that was invoked

[2020-06-25 13:19] feeh27 commented on #7876
@medikoo I already used these settings directly on the layers object and the result is still the same, I only managed to use the layers when they are declared in the same file.

[2020-06-25 13:24] feeh27 commented on #7876
@medikoo I already used these settings directly on the layers object and the result is still the same, I only managed to use the layers when they are declared in the same file.

I believe the problem is linked to the use of ARN.

This file below has the standard use of the template and still does not work:

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

[2020-06-25 13:27] medikoo commented on #7876
`layers` is dedicated for constructing layers and not for referencing an existing ones.

[2020-06-25 13:33] feeh27 commented on #7876
@medikoo, sorry, that's not what I meant, I used it directly in the layers attribute of the functions object, has the example of serverless.yml in the comment above.

[2020-06-25 13:50] medikoo commented on #7876
Why do you assume that layers are not attached to lambda function?

[2020-06-25 14:08] feeh27 commented on #7876
Because my code is not working due to dependencies that are found in the layers and I was able to implement it when the layer is built in the same file.

[2020-06-25 14:10] feeh27 commented on #7876
Because my code is not working due to dependencies that are found in the layers and I was able to implement it when the layer is built in the same file.

Below my layer configuration:
<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

[2020-06-25 14:29] medikoo commented on #7876
@feeh27  for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

If you're 100% sure there's a bug in a framework, please prepare a very minimal, fully working test case (that doesn't require installation of any dependencies and doesn't involve any external plugins), that exposes the issue reliably.

[2020-06-25 14:33] feeh27 commented on #7740
This is the plugin.

You can also use the serverless-pseudo-parameters plugin for variables like aws accountId, aws region, etc.

The two mentioned plugins are compatible.

Here is a link to the serverless-pseudo-parameters plugin:
https://www.npmjs.com/package/serverless-pseudo-parameters

[2020-06-25 15:50] feeh27 commented on #7876
I will seek help via Slack for this problem, if the people there agree that it is indeed a bug, I will do it as instructed.

[2020-06-25 15:53] jyotirmay123 commented on #3171
You can invoke lambdas individually without relying on API Gateway.

[2020-06-25 19:14] phmasek commented on #5781
Remember to provide policy allowing usage of `kms` keys if the parameter is a `SecureString`. Otherwise AWS will deny access when running `ssm:GetParameter`

[code]

[2020-06-25 19:37] phmasek commented on #5972
Getting this issue when deploying through bitbucket-pipelines but not locally. Serverless version `1.73.1`

[code]

My bitbucket-pipelines.yml:

[code]

[2020-06-25 22:27] feeh27 commented on #7876
I discovered the error, it was in the layer serverless.yml configuration, so it's not really a bug.

[2020-06-25 22:27] #7876 closed

[2020-06-26 07:35] linkTDP commented on #7012
Any update?

[2020-06-26 07:37] #7773 closed

[2020-06-26 07:41] medikoo commented on #7876
@feeh27 thanks for feedback. We will shortly report errors in `servelress.yml` configuration with meaningful error messages (follow https://github.com/serverless/serverless/issues/6562)

[2020-06-26 08:15] medikoo commented on #7012
@linkTDP would you like to prepare PR ?

[2020-06-26 13:07] MickVanDuijn opened #7885 ""Duplicate tag keys found." on stack update"
This issue seems to be related to a recent [update to CloudFormation itself](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/ReleaseHistory.html) on June 22, 2020.
`Use the Tags property to add tag keys and values to ....`

When creating/updating a stack with a new resource (an IAM role in my case), and having a custom `stage` tag, CloudFormation will try to use the `stackTags` to c

[2020-06-26 13:14] medikoo commented on #7885
@MickVanDuijn great thanks for describing the issue. PR with a fix is definitely welcome!

[2020-06-26 14:16] #7885 closed

[2020-06-26 16:44] jason-fischer-flashparking commented on #7405
This is currently happening for me too using the existing pool option:

[code]

**"serverless": "1.74.0",
"serverless-bundle": "1.8.0"**

I have disabled all plugins, except serverless-bundle, and get this same behavior.  If the following happens:

- Separate Cognito stack updates UserPool
- or, I manually change the UserPool trigger (setting it to none)

For the last several months, doing either

[2020-06-26 18:51] asrarbca commented on #5431
In case anyone else reads this I was able to resolve the issue. This was a network error, not an issue with AWS or serverless.

In my case, I was using a work computer which has McAfee installed, I had to disable the McAfee MCP module. After disabling it, everything worked as expected.

[2020-06-26 18:58] AhmedFat7y commented on #7678
@SanjayS5 I think I can open a PR on 27th of June

[2020-06-27 02:35] DavidSeptimus opened #7888 "Add Support for Enabling Health Checks on ALB Target Groups"
### Use case description

I would like to have the option of enabling health checks on my serverless app's ALB Target Groups, so I can verify that they are functioning correctly using the AWS [`DescribeTargetHealth`](https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetHealth.html) API. Currently, I'm forced to run a separate script in my CI/CD pipeline to call [`

[2020-06-27 07:41] mathieubrunpicard commented on #5431
Same issue here

[code]

[code]

I had no issue deploying from the same computer and same network yesterday though !

[2020-06-28 19:29] sirajalam049 commented on #5704
+1
Same error, any progress on it?

[2020-06-29 07:48] medikoo commented on #7405
@jason-fischer-flashparking to ensure we coin issue correctly we should keep plugins away.

Anyway this looks as same issue as described here https://github.com/serverless/serverless/issues/7510 where we were trying to discuss problem in more detail. Let's move our discussion there

[2020-06-29 07:48] medikoo commented on #7405
Duplicate of #7510

[2020-06-29 07:48] #7405 closed

[2020-06-29 08:01] medikoo commented on #7888
@DavidSeptimus thanks for proposal. We're definitely open for PR. Your proposal looks good, I would just remove `enbled` property, as it seems superfluous (fact that `healthCheck` is provided in config, I believe automatically translates to `enabled: true`)

[2020-06-29 08:22] crisecheverria commented on #7511
Worked for me after RE-installing serverless.
Also, I'm able to see the dashboard.

[2020-06-29 13:58] dparrish commented on #6297
This is pretty nasty. I ran in to this issue and spent quite a while working out how to clean up after it.
Deleting the functions doesn't work, it never gets removed. You can't even delete the CRD until the functions have been removed.
I found I had to manually edit the functions to remove the `finalizers` before the functions would be deleted, otherwise the kubeless-controller-manager process loo

[2020-06-29 13:59] gcampionpae commented on #7864
Hi @medikoo I think that until #7207 is resolved, this wouldn't help us with our idea for having a primary template for all of our projects.  Is there any timeline on when that will be resolved?

[2020-06-29 14:14] medikoo commented on #7864
Unfortunately no. It's not considered a priority at this point

[2020-06-29 21:39] sps-software opened #7892 "AWS API Gateway: Custom 200 status code response is ignored"
Serverless version 1.74.1

Deploying with lambda integration does not apply response mapping template to 200 response.

After deploying, and navigating to the API Gateway console, I _can_ see the corresponding '$input.path("$.errorMessage")' templates for 400, 404, and 500 responses, however there is no template for a 200 response. This means the the stringified JSON body will not be parsed for a

[2020-06-30 09:38] medikoo commented on #7892
@sps-software thanks for reporting. I've looked into, and technically it works as intended, while I'd say it's a bug that there's no notification that provided custom `200` configuration is discarded.

Framework applies its own [`200` configuration](https://github.com/serverless/serverless/blob/6f3062d39c56b6d21faef97730ab90356629af13/lib/plugins/aws/package/compile/events/apiGateway/lib/validate.

[2020-07-01 08:47] zhaogaiwen commented on #7582
how can you fixed the problem?i have the same issue

[2020-07-01 09:04] arpecop opened #7894 "s3 permissions not apply"
I am having trouble accessing s3, the error is "Access Denied" when I look at the permissions only "List Bucket" is applied
![Screenshot 2020-07-01 at 12 03 35](https://user-images.githubusercontent.com/168974/86225521-05cb0800-bb93-11ea-9898-cf6f8c90770a.png)

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>REPLACE WITH FULL COMMAND NAME</

[2020-07-01 10:36] medikoo commented on #7894
@arpecop for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-07-01 10:36] #7894 closed

[2020-07-01 11:37] arpecop commented on #7894
I am posting it here because it seems like a bug to me, if announce can reproduce it , that would be great

[2020-07-01 12:00] medikoo commented on #7894
Thanks for info. Still only bug reports that have 100% certainty of being bug, should be posted here, additionally all template remarks should be fully respected.

If you're not sure and it just _seems_ to possibly be a bug, then you should seek for confirmation on whether it is a bug or not under above links.

If together with community you agree it's definitely a bug, we'll welcome a bug report

[2020-07-01 14:25] walery opened #7895 "File variable resolution happens before properties it depends on are resolved"
Our serverless.yml file has dynamic service name. It looks like this:

[code]

We can request the name of stack inside of `${file(foo.js):bar}` call with:

[code]

Result of `serverless.providers.aws.naming.getStackName()` is wrong:

actual `${self:custom.product}-${self:custom.component}-dev`
expected `foo-backend-dev`

I guess that this is timing problem, so that jump to function happens before

[2020-07-01 14:46] walery opened #7896 "Resolving unresolved variables inside of ${file(...):func} prints endless "0 of 0 promises have settled" message"
Sometimes variable that are taken inside of function called from `${file(...js):func}` has unresolved variables. See for more details #7895.
It looks like the `serverless.variables.populateProperty(...)` can resolve strings with variables. As it returns Promise we need to handle it with callback.
Everything works fine except that sls hangs with this message:

[code]

This message didn't stop to ap

[2020-07-01 14:47] walery commented on #7896
I've also async/await version of foo.js. But problem remains the same:

[code]

[2020-07-01 14:49] walery commented on #7895
I've found out that `serverless.variables.populateProperty(...)` can resolve string with variables. But sadly it looks like there is another issue that prevent to use it. See #7896 for more details.

[2020-07-01 16:48] benarena commented on #6911
It appears that @scarpenter has volunteered a solution, but I am also happy to contribute in order to move this along. This should be fairly quick and impactful for my work.

[2020-07-01 17:36] vedant-khandelwal commented on #5593
stackTags is also not applied to S3 buckets created in Resources section for some reason

[2020-07-01 17:44] ryudice commented on #3964
I'm just encountering this. How hard can it be to address this that it has been opened for 3 years?

[2020-07-02 07:18] pgrzesik commented on #7747
Hello, are the ones that are left up for grabs? I would like to pick up replacing `_.some` usage :+1:

[2020-07-02 07:19] medikoo commented on #7747
@pgrzesik yes, all unchecked are to take. Go for it!

[2020-07-02 08:47] medikoo commented on #7895
@walery These are known issues with variables resolution, which we discuss here https://github.com/serverless/serverless/issues/7867

This case in interesting, as here you'd prefer that variables in `custom` block are resolved, before _file_ source variables are resolved. On the other hand we have cases where user would prefer to keep their `custom` block in external file, and in that case it's _f

[2020-07-02 09:03] medikoo commented on #7896
@walery Let's keep discussion at https://github.com/serverless/serverless/issues/7895

[2020-07-02 09:04] medikoo commented on #7896
Duplicate of #7895

[2020-07-02 09:04] #7896 closed

[2020-07-02 13:24] anaynayak commented on #7309
My understanding of the issue and the workaround that worked for me for https://github.com/gkrizek/bash-lambda-layer/issues/3:

1. serverless builds a `sls-docker-provided` image which is used in the subsequent step to launch a container via `sls invoke local`.
2. If your project didn't use any layers and you introduce a new layer later, the sls-docker-provided image is not rebuilt.
3. When you ru

[2020-07-02 14:11] dwbelliston opened #7898 "Cannot use VSCode debugger with Python runtime"
VSCode debugger cannot attach tty when using python runtime and invoking the function with invoke 'local'

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><code>crumbs.py</code></summary>

[code]
</details>

<details>
<summary><code>launch.json (vscode debugger)</code></summary>

[code]

</details>

<details>
<summary><b><code>/usr/local/bin/node --

[2020-07-02 14:16] medikoo commented on #7898
@dwbelliston thanks for report. Do you understand why it's the case, and how it can be fixed?

[2020-07-02 14:22] dwbelliston commented on #7898
I tried to change some behaviour in how the child process is spawned, but I couldnt figure it out.

But something in here, seems to not be handling stdin in a way that works for debugging.

https://github.com/serverless/serverless/blob/94ff3b22ab13afc60fb4e672520b4db527ee0432/lib/plugins/aws/invokeLocal/index.js#L535

[2020-07-02 14:24] dwbelliston commented on #7898
Also tried it with docker, similar issues with that approach.

https://forum.serverless.com/t/python-debugger-with-local-invoke-docker/11734

[2020-07-02 14:33] singla96 opened #7899 "IdentitySource not getting reflected in authorizer for type request"
Trying to add multiple request identitySources for type request. But none of them are getting reflected

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

 simple sls deploy is being used. But cannot provide its output right away

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[code]

</details>

 Updated today but was happening previously as well

[2020-07-02 15:05] walery commented on #7896
I do not understand why this is duplicate. This ticket aims to issue that after using promises the message `0 of 0 promises have settled` didn't disappear.
The variable resolution is only example where I can demonstrate it.

I disagree that this is a duplicate.

[2020-07-02 15:08] medikoo commented on #7896
it's a side effect of bug at #7895. Fixing #7895 will fix this

[2020-07-02 15:09] medikoo commented on #7896
Do you observe same when `service` is configured with literal string (not variables) ?

[2020-07-02 15:10] walery commented on #7895
Well, I think both cases are valid and both are probably needed.
It would be nice to have a way to resolve unresolved variables (like `serverless.variables.populateProperty(...)` witch didn't work because of #7896).