[2020-10-01 15:39] #8015 closed

[2020-10-01 15:45] medikoo commented on #8321
Thanks @pgrzesik for opening that. Let me know if you have other suggestions or findings

[2020-10-01 15:51] pgrzesik commented on #8321
I think that the approach you suggested originally should work quite well. The only other approach that came to my mind is to keep `provisionedConcurrency` tests in the same suite as tests for specific event, e.g. for `sqs`, to keep the test in `sqs.test.js` and use `sqs` fixture with an additional function that uses `provisionedConcurrency`.

Which approach is better in your opinion?

[2020-10-01 15:54] fredericbarthelet commented on #8296
Fair enough, making `enabled` as one of `iotFleetProvisioning` allowed key, mapped to `Enabled` property

[2020-10-01 16:01] arjbholu commented on #8305
Hi @medikoo

I had like to work on this issue if that's okay.

Correct me if I am wrong. Following is what I need to do:

1. I need to first add an entry to [deprecate](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecations) file.
2. Then add  `this.serverless._logDeprecation("code", "message")` to the part you mentioned in the comment.

Apologies if there is

[2020-10-01 16:07] rib commented on #5645
I recently found that absolute artifact paths can lead to other issues because serverless currently assumes the paths are relative and in some places it will unconditionally join the artifact path with the absolute service path.

For example see this comment where I investigated a bug with being able to deploy single lambda functions caused by an absolute artifact path: https://github.com/serverle

[2020-10-01 16:15] #8322 closed

[2020-10-01 16:23] #8294 closed

[2020-10-01 16:25] medikoo commented on #8321
I think keeping it in one place, will allow us to rely on single _provisioned_ lambda, and that I think will be more performant (and will incur less costs). It's the only reason I called for that.

[2020-10-01 16:28] pgrzesik commented on #8321
Thanks for the clarification on that topic. Just to clarify the last thing - if I understand it correctly, we will start out with a single function with `sqs` event and if we ever need to test e.g. `sns` with `provisionedConcurrency`, the function will also handle `sns` event and will be able to appropriately process both of them and so on for further scenarios?

[2020-10-01 16:29] medikoo commented on #8305
@arjbholu great thanks for jumping in! Still today we've merged improvements that make this obsolete (sorry forgot to close it on time 🤦 ).

Through https://github.com/serverless/serverless/pull/8319 and #8299 users can input numbers and it'll be automatically coerced to string by validation engine (so in processing logic we can be sure we deal with strings).

Closing this now, to avoid further co

[2020-10-01 16:29] #8305 closed

[2020-10-01 16:31] medikoo commented on #8321
Hopefully that could be the case, but if for some reason it'll be a no go, we'd need to introduce an other function

[2020-10-01 16:34] pgrzesik commented on #8321
Perfect, thanks a ton, I'll be happy to pick up this one if that's okay :+1:

[2020-10-01 16:35] medikoo commented on #8321
That'll be great @pgrzesik ! Thanks for being a part of the community and your work on improving the Serverless Framework!

[2020-10-01 16:51] rib commented on #6752
I wonder if the title for this issue can maybe be updated to reflect the `serverless-python-requirements` specific nature of this issue.

I was given feedback on my PR that it wasn't related to this issue, even though (from my pov) I was also "Unable to deploy a single lambda function" and my issue was also _similarly_ related to package artifacts.

[2020-10-01 17:03] rib opened #8325 "No recognition of absolute artifact paths - e.g. breaks single function deployment"
The [documentation for package artifacts](https://www.serverless.com/framework/docs/providers/aws/guide/packaging/) doesn't explicitly state that absolute paths for artifacts are disallowed but they may break the ability to relocate a service and currently this code in `lib/plugins/package/lib/packageService.js` assumes a relative path:

[code]

I recently found that I was unable to deploy individ

[2020-10-01 18:31] rib commented on #8325
Just to connect it with this issue - this was a PR I originally made to make serverless accept absolute artifact paths: https://github.com/serverless/serverless/pull/8315

I can see an argument for and against supporting absolute paths, but it sounds like the oppinion might be that serverless shouldn't support them and that PR can probably be closed.

[2020-10-01 19:03] LucasJC commented on #4415
I am on windows 10 and had this same issue. Apparently it had to do with permissions.
From what I have seen in the sources, the java bridge is built if it is not found after executing the command 'invoke local' (using mvn package).

I could fix it by going to C:\Users\Dell\AppData\Roaming\npm\node_modules\serverless\lib\plugins\aws\invokeLocal\runtimeWrappers\java and executing manually 'mvn packa

[2020-10-01 20:00] radove commented on #8039
@richardkazuomiller we had issues with Provisioned Concurrency as well.  We forced the version of serverless to an older release, and had success.  We used serverless@1.80.0 for this.  Let me know if rolling back the version, fixes the issue.

[2020-10-01 20:09] dsuarezlogans commented on #8306
Hello good day, can I help with this issue?

[2020-10-01 20:15] pgrzesik commented on #8321
Thanks for the kind words @medikoo, I'm happy that I can help and contribute at least a little bit :bow:

[2020-10-01 20:20] ryan-roemer commented on #8187
I'm taking a stab at a PR here, but did want to get some more input if possible. Seems like there are two options:

## Option One - `sls package` always produces all applicable files.

A good portion of our client work using the Serverless framework relies on having deterministic artifacts produced by `sls package` in CI/CD, stored remotely, then deployed (without another build/package) later. So

[2020-10-01 21:35] chenjr95 commented on #4928
I'm having the same issue on v 2.4.0

[2020-10-01 22:34] camergardi opened #8327 "Error on removing WebsocketsDeployment with a cross stack reference to an API gateway websocket"
After sls remove, I get an error saying that the removal wasn't complete because WebsocketsDeployment couldn't be deleted. Everything else within the stack is correctly deleted(including the s3 bucket), but the stack in CF isn't deleted because of this error, so I can't redeploy unless I manually delete the stack using the AWS console. I don't have any other stack referencing anything within the "

[2020-10-01 23:11] ryan-roemer commented on #8187
Digging in more to `lib/plugins/aws/deploy/lib/checkForChanges.js` I think that `checkIfDeploymentIsNecessary()` is extended or refactored to do something like:

1. If all object hashes (cf template, functions zips, layers zips) are identical, set ` this.serverless.service.provider.shouldNotDeploy = true` and skip entire deployment. (Existing behavior).
2. If the cf template hash has not changed,

[2020-10-02 04:58] suparngp opened #8328 "Fn::ImportValue for authorizer arn in websockets doesn't work like HTTP"
This is currently supported in HTTP api like mentioned in this issue #4771.

[code]

But in case of websocket events, sls still tries to fetch the name of the authorizer from imported arn which is undefined at that moment.

Is it possible to do this any other way?

[2020-10-02 09:30] medikoo commented on #8306
@dsuarezlogans Hello, certainly, that'll be very welcome!

[2020-10-02 09:51] medikoo commented on #8325
While it's hard to justify using an absolute paths, I think it's totally fine if Framework accepts them (it should either throw or respect them, while currently it concatenates it to some invalid path, and that's a clear bug).

Let me review the PR

[2020-10-02 09:57] #8321 closed

[2020-10-02 10:10] medikoo commented on #8251
Unfortunately we needed to revert #8310, as unconditionally adding an env var will break lambdas attached to CloudFront distributions (note: we remove env vars for lambda explicitly  configured with `cloudFront` event, but still it's not uncommon to attach lambdas to CloudFront externally).

Do we have any better ideas on how to address that? Ideally if it's done via Lambda configuration, as patch

[2020-10-02 11:03] medikoo commented on #8187
@ryan-roemer with your reasoning, you've convinced me, that indeed option 1 is probably better.

As as you pointed when we just  _package_, it's  for a deployment at uncertain future point. While we _package & deploy_ it's fine to imply some optimizations in relation to current external state.

I think it's not an issue. Technically it's purely about moving this operation from _package_ to _pre de

[2020-10-02 11:23] medikoo commented on #8327
@camergardi please respect all bug template remarks and answer all questions.

Alternatively please use  https://forum.serverless.com/ or https://www.serverless.com/slack (note: this issue tracker is not a support forum)

[2020-10-02 11:34] medikoo opened #8333 "Workaround "Rate exceeded" errors in custom resources"
### Use case description

[Custom resources](https://github.com/serverless/serverless/tree/5851bcadcf6016914013d447de899cc98efb8346/lib/plugins/aws/customResources/resources) use plain AWS SDK calls, without any intelligent error handling.

Single "Rate exceeded" error, may fail whole stack upload (as we can observe in this CI fail: https://github.com/serverless/serverless/runs/1198178909)

It'll

[2020-10-02 11:35] #8304 closed

[2020-10-02 12:11] medikoo commented on #8328
@suparngp thanks for report. From what I see in source code. We correctly support only ARN string, or function name.

In all cases it should point lambda, and currently we name the authorize same as referenced lambda, so if `arn` is parsed, logic unconditionally resolves _name_ from it (hence it's unconditionally expected to be a string).

I think this could be improved, so if `name` is passed tog

[2020-10-02 12:52] ghukill commented on #4194
Not sure if others are still grappling with this, but it looks as thought serverless has a [flag to allow for pre-existing buckets](https://www.serverless.com/framework/docs/providers/aws/events/s3/#custom-bucket-configuration):

[code]

[2020-10-02 13:22] zoellner commented on #8313
Thank you

[2020-10-02 13:22] #8313 closed

[2020-10-02 13:25] zaldanaraul commented on #8328
I can do this!

[2020-10-02 13:26] pratik-vii commented on #8328
@medikoo  Looks like small change only will raise PR.

[2020-10-02 13:32] caligo-erik commented on #2445
This solves my problem perfectly!

Since I'm using custom domain names, and the basepath for versions/stages, it looks like this:
api.domain.com/v1
and
api.domain.com/v2

Without your suggested modification, each stage would be uploaded as a separate gateway, and the custom domain DNS entry would work only for the first version / api gateway.

Great, thanks!

[2020-10-02 13:57] pratik-vii commented on #8333
@medikoo I can pick up this task!

[2020-10-02 13:58] medikoo commented on #8333
Thank you @pratik-vii ! Go for it

[2020-10-02 14:57] zaldanaraul commented on #8300
I can have a go at this!

[2020-10-02 14:59] medikoo commented on #8300
@zaldanaraul that'll be great! Go for it

[2020-10-02 15:31] seang96 opened #8336 "Number Properties Cannot be Options"
Some properties require numbers, I'd like to make them configurable options for deployment, but they are returned as strings giving the error "Encountered non numeric value for property". From what I have seen in the past, PR #5727 it seems to be an intended feature. Maybe the best approach to fix this issue and keep compatibility is a string to number type casting similar to string to boolean cas

[2020-10-02 16:26] rib commented on #8325
I think one of the reasons why absolute paths seem somewhat reasonable for artifacts is that they already support addressing global S3 bucket resources which sets a precedent for pointing at fixed-address resources outside of your service repo.

Your recommended PR change looked good to me, thanks, and I re-pushed the PR based on using `path.resolve`

[2020-10-03 09:42] dashmug commented on #8276
This feature was just announced yesterday. I'm not sure if CloudFormation already supports it. https://aws.amazon.com/about-aws/whats-new/2020/10/amazon-cloudwatch-logs-now-supports-two-subscription-filters-per-log-group/

[2020-10-03 18:22] bmccann36 commented on #4415
I am using gradle for the project and had to do this to get it working. It may also have to do with which JDK and the fact that I use nvm to manage node versions. It worked on my other mac without doing anything which is why I suspect JDK or nvm may be part of the issue. So probably the root issue is permissions since thats what everyone mentions above.

[2020-10-03 19:32] ryan-roemer commented on #8187
Thanks! I'm working along on this in a very WIP/draft state at https://github.com/serverless/serverless/compare/master...FormidableLabs:layers-aws-auth and I think I have a good idea of where everything will go to try and minimize change surface in an ultimate PR.

One side note -- I discovered an existing bug along the way in this code: https://github.com/serverless/serverless/blob/75bf185785dc2b

[2020-10-04 00:01] dsuarezlogans commented on #8306
@medikoo for me to be clear on what is required, I need to remove the `${self:}` and `${env:}` parts of the variables in documentation for each provider right? like in [here](https://github.com/serverless/serverless/blob/master/docs/providers/aws/guide/variables.md)

[2020-10-04 01:37] pags opened #8340 "Support for different Lambda awsRequestId generation strategies"
As far as I can tell, locally invoked Lambda functions will always have a static value "id" for `context.awsRequestId`. In AWS, this value is not static, and is useful for identifying duplicate invocations that can occur in some scenarios (e.g. "at-least-once" invocation sources)

A common pattern is to surround a function with a gate that checks for a never-before-seen `context.awsRequestId` befo

[2020-10-05 08:29] tinexw commented on #8085
Hi, I would like to look into this issue. I do have some questions though

1. Regarding 1. - Not only AWS but also many others contain the mentioned items  e.g. `create`, `install` . Would you remove them from everywhere or keep them in provider sections and just put them additionally to the new top level section?
1. Technical question - how do I generate/view the docs locally? I only worked on th

[2020-10-05 12:18] continuata commented on #6923
having this problem with 2.4 ... rolling back to 1.55.1 fixed it ... concerned about rolling back my versions so far. Any ideas when this might be addressed?

[2020-10-05 12:57] medikoo commented on #8336
@seang96 thanks for report. Error occurs in CloudFormation template part that's send as-is to AWS, and we do not have any built-in understanding of it.

We imply coercion on properties we handle directly, of which meaning is known internally, here it's not the case

I think the only way to address such use case, is by introducing `toNumber` variable function, which you could use as a wrapper.  e.g

[2020-10-05 15:22] medikoo commented on #2918
I've updated main description with implementation proposal

[2020-10-05 15:49] medikoo commented on #8187
Thanks @ryan-roemer for pointing. If fixing that derives from main goal of your work, then I would introduce it with other PR's. Note that we generate changelog of out commits, and one PR is one commit. Ideally bug fixes and features should be introduced in its own dedicated PR's.

Here some solution could be, to in resolution phase add paths to some `Set` instance (it'll guarantee no duplicates),

[2020-10-05 15:53] medikoo commented on #8306
I've learned today,that this notation is actually valid, still it's controversial, and I would still not use it in examples.

So yes, it's about removing it from docs, but it should not be removed if it's the place where this specific notation is documented (I think we don't have such place, but I write this just in case)

[2020-10-05 15:58] medikoo commented on #8340
@pags thanks for proposal.

I'm definitely after randomizing (with respect to format as used by AWS). I'm not sure if there's a value in allowing to customize by user. If it's a _nice to have_, I would not consider this at this point, if we have a strong real world use case, let's outline an implementation proposal.

[2020-10-05 16:03] glb opened #8344 "Schema validation for Fn::Join flags empty delimiter"
The schema validation for `Fn::Join` seems incorrect. It is perfectly valid for the delimiter string for `Fn::Join` to be the empty string.

([link](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-join.html))

Yet the tool complains when validating:

[code]

This is because the schema says that the minimum length for the delimiter parameter is 1:

https:

[2020-10-05 16:27] ryan-roemer commented on #8187
Makes total sense @medikoo ! I’m planning on switching to an object for the isEqual comparison for the existing case because I need to later know which hashes are different for the case of only mutating CF template for layers, so I would effectively be rewriting a straight “fix” for the issue.

If I don’t ultimately end up going down that road and leave that existing code path in place, I’ll open

[2020-10-05 16:36] pags commented on #8340
Sure, those were just suggestions. For my immediate use case, having this value randomized (or not) is what's important.

[2020-10-05 19:14] medikoo commented on #6923
@continuata we're open for PR that introduces needed option (as discussed here: https://github.com/serverless/serverless/issues/6923#issuecomment-584380368)

[2020-10-05 19:56] camergardi commented on #8327
@medikoo sorry bout that. I updated the description.

[2020-10-05 21:15] trevorrobertsjr opened #8345 "AWS HTTP API: Documentation Contains Incorrect Payload Version Number"
[Documentation](https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logsV2:log-groups/log-group/httpapi-access/log-events/m11lww2md8_.default-2020-10-05-14-09) specifies that Payload version 1.0 is the default. That is not the case. If there is no payload parameter specified globally, the deployed HTTP APIs will be set to use Payload version 2.0.

This is a documentation problem only.

[2020-10-05 22:33] nl-brett-stime opened #8346 "AWS API Gateway: Allow stage customization"
### Use case description

API Gateway has a feature to manage different stages (dev/qa/prod). However, some users have their stages split across different AWS accounts. Other users may manage stages via IaC tools such as Cloud Formation, Terraform and Serverless. In these cases, API Gateway's stage feature becomes redundant: https://stackoverflow.com/a/53652722/93345

### Proposed solution

Allow

[2020-10-06 04:39] cbp123 commented on #8293
`sls` conflicts with the alias for the Powershell Select-String command.

You can use `serverless deploy` instead.

[2020-10-06 05:09] JacksonGariety commented on #7414
I'm getting this error:

[code]

I got it on `1.67.0`, found this issue, updated to `2.4.0` and got the same error.

I have also a preexisting user pool and I'm doing the sameas Albert-Gao:

[code]

[2020-10-06 06:22] s-kikuchi commented on #7461
@medikoo
Hi, I have summarized
- current command execution result
- the expected results I think

in the table below.
If you have any suggestions, please write them down.

### sls create --template-path

| --path | --name | result | expect |
| ------------- | ------------- | ------------- | ------------- |
| ○ | ✗ |1. Extract template to `--path` directory | No need to change |
| ✗ | ○ |1. Extract

[2020-10-06 07:41] medikoo commented on #8085
@tinexw great thanks for looking after it!

That's a good question. I've looked into more carefully, and updated top description with more detailed proposal instructions. Let me know what you think

This requires running https://github.com/serverless/site/. Once you have this repo checked out and installed (note you should use `yarn`), follow this steps:
- Ensure to use Node.js v12 (As I checked r

[2020-10-06 07:54] #8300 closed

[2020-10-06 08:11] medikoo commented on #8344
@glb indeed, thanks for reporting that! PR with a fix is welcome

(cc @fredericbarthelet)

[2020-10-06 08:12] medikoo commented on #8340
@pags ok, so at this point, let's just randomize it and ensure same format as it's on AWS side (I guess it's UUID).

PR is welcome!

[2020-10-06 08:42] medikoo commented on #8327
@camergardi thanks for updating. Now it's all clear. This looks closely related to https://github.com/serverless/serverless/issues/7260

Do you observe same issue when just `$disconnect` route (no `$connect`) is configured?

I believe that that `$connect` by AWS design should be defined together with a Websockets API (cannot be defined externally).

If that's the case, we probably throw here an er

[2020-10-06 08:45] medikoo commented on #8345
@trevorallred Framework defaults Payload to version 2.0, and indeed we have an error in docs: https://www.serverless.com/framework/docs/providers/aws/events/http-api/

This should state that default is `2.0` and that i can be downgraded to `1.0` if needed. PR with a patch is welcome!

[2020-10-06 10:41] medikoo commented on #8346
@nl-brett-stime sounds reasonable to me

[2020-10-06 11:26] medikoo commented on #7461
@s-kikuchi Thanks for this summary, yes I believe you got it right. PR with fix will be very appreciated!

[2020-10-06 14:06] jameswoodley-zoopla opened #8348 "Allow Lambda Authorizer for HTTP API"
Allow the ability to use Lambda Authorizer when using HTTP API as seen in the AWS docs: https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html

As per the serverless docs, HTTP API only allows JWT Authorizers in Serverless Framework: https://www.serverless.com/framework/docs/providers/aws/events/http-api#jwt-authorizers

Duplicate Rest API allowing a lambda to

[2020-10-06 14:15] bushong1 commented on #7922
Thanks for the workaround!

[2020-10-06 15:55] medikoo commented on #8348
Duplicate of https://github.com/serverless/serverless/issues/8210

[2020-10-06 15:55] #8348 closed

[2020-10-06 16:24] famartinez80 commented on #3896
Same issue but I need to modify the response when x-api-key is invalid or missing, I always got  "message": "Forbidden" any knows how to fix this, also locally in offline mode.

[2020-10-06 17:41] knowroozi commented on #5634
We are looking forward to implementing this as well.

[2020-10-06 23:02] ryan-roemer opened #8350 "Bug: Deployment checks erroneously fail if local artifacts are placed in ".serverless/NAME.zip""
Extracting this issue from https://github.com/serverless/serverless/issues/8187#issuecomment-703154176 so I can do a quick PR... I'll have a full regression test in the PR which will hopefully explain the isolated situation more.

The code at issue is: https://github.com/serverless/serverless/blob/75bf185785dc2b0a91b6500f353df92990e90f47/lib/plugins/aws/deploy/lib/checkForChanges.js#L138-L144

The

[2020-10-06 23:10] ryan-roemer commented on #8187
@medikoo -- I'm toying with a different direction as to where to refactor the CF mutation to and so as not to block an otherwise quick bugfix, I have a fix per your guidance for the `isEqual()` comparison at https://github.com/serverless/serverless/pull/8351

[2020-10-07 07:33] marekpiotrowski commented on #7676
I'd like to take this one. Seems relatively easy, change in the implementation should be small, I will focus on tests, though. Let me know.  Thank you.

[2020-10-07 07:48] medikoo commented on #7676
@marekpiotrowski great to hear that! We look forward

[2020-10-07 08:01] scalp42 commented on #5039
Same issue here:

[code]

Config is valid:

[code]

[2020-10-07 08:22] #8344 closed

[2020-10-07 11:03] d3netxer opened #8352 "Serverless Offline not working"
Congrats on Serverless V2. Serverless Offline is not working for me: ``` sls offline```

outputs:
[code]

How can I fix this?

[2020-10-07 11:23] pratik-vii commented on #8352
@d3netxer Hello!
I have tested it and works for me with,
* serverless env details:
[code]
* serverless-offline@6.8.0

Try with these configurations.

[2020-10-07 11:25] marekpiotrowski commented on #7676
Pull request created: https://github.com/serverless/serverless/pull/8354
Thanks.

[2020-10-07 11:27] d3netxer commented on #8352
Thanks for checking @pratik-vii! I think maybe my serverless-offline version got stuck at ver 3 for some reason.

Also I found out that If you have the Serverless Framework CLI installed locally within your Service (i.e. project) folder, that version of the Framework will be run, instead of a globally installed version.

Therefore I installed Serverless V1 locally: ``` npm install serverless@1.83

[2020-10-07 11:27] #8352 closed

[2020-10-07 11:35] medikoo commented on #8352
@d3netxer please report at `serverless-offline`. Plugin issues are not Framework issues

[2020-10-07 11:41] #7676 closed

[2020-10-07 12:33] pratik-vii commented on #8333
@medikoo Let's close this issue. Sorry I forgot to add `closes` tag in PR.

[2020-10-07 12:54] marekpiotrowski commented on #4852
Hmm...tried to re-produce it with some minimal lambda (master branch):
[code]
[code]

So, it looks fine for ```sls invoke local```.

Correct me if I'm wrong here, but ```sls invoke test``` is part of this plugin: https://github.com/nordcloud/serverless-mocha-plugin. Shouldn't an issue be reported there instead?

[2020-10-07 13:25] medikoo commented on #8333
@pratik-vii closing, thanks for pointing!

[2020-10-07 13:25] #8333 closed

[2020-10-07 14:01] medikoo commented on #3401
@danielrbradley not sure why your comment remained not answered. While a lot time passed, let me answer the questions, as we're definitely open to have support for that event baked in (assuming there's still interest)

If I understand correctly in most cases it'll be desired to have to it. I would bake it in by default

To keep things simple, in initial version I would do just that (rely on defaul

[2020-10-07 14:03] medikoo commented on #3411
Closing, as it feels as duplicate of #2387 which was closed for reasons outlined here https://github.com/serverless/serverless/issues/2387#issuecomment-662567921

[2020-10-07 14:03] #3411 closed

[2020-10-07 14:25] medikoo opened #8356 "Deprecate support for "provider.profile", "provider.credentials" and "--aws-profile""
### Use case description

Fixing AWS credentials instructions into `servelress.yml` make service configuration not really portable, and best if it's discouraged.

I believe it was introduced to let users deploy without a need for introducing env vars via any other means. Still that use case is way better addressed by [dotenv](https://www.npmjs.com/package/dotenv) package, for which we're open to b

[2020-10-07 14:26] medikoo commented on #3415
I believe that support for `provider.profile`, `provider.credentials` config options and `--aws-profile` CLI param should be removed (by deprecating first). See https://github.com/serverless/serverless/issues/8356 for reasoning.

Anyway we'll keep this issue open, as it'll anyway be good to have current resolution order documented here

[2020-10-07 15:10] franciszabala opened #8357 "When PROFILE environment variable is missing, null is set in cloudformation"
Currently trying to deploy a serverless app using this command inside Codebuild.

[code]

This is the output:

[code]

It was working before except with this warning:

[code]

<b> Serverless version is 2.5.0 (2020-10-07) </b>
Please note that I could perform serverless --version as everything is running inside Codebuild and the devs would be get annoyed if I change something in the pipe,

Installe

[2020-10-07 15:15] medikoo commented on #8357
@franciszabala thanks for report. Still can you please respect all template remarks and answer all its questions. Provided information is not good enough for me answer what could go wrong

[2020-10-07 16:03] medikoo commented on #8357
@franciszabala it's not possible for me to handle issue if necessary details are not provided. Please close if you're not able to provide any extra information

[2020-10-07 16:30] lunascat commented on #7036
Using following `serverless.yml` file, I still run into the same issue, that API gateway logs are disabled (for a shared API gateway):

[code]

Am I missing something here? If I delete the custom API GW and let serverless create the GW itself, the logging is enabled as expected.

[2020-10-07 18:05] blairg23 opened #8358 "TypeError: this.awsPackagePlugin.validateStatements is not a function"
Without any changes to our `serverless.yml` file, the build started failing with a serverless error.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

It appears to be caused by this: https://github.com/functionalone/serverless-iam-roles-per-

[2020-10-07 18:23] drgomesp commented on #8358
I believe this would be normal, and it will happen with other plugins, as they are the ones that need to conform to whatever API changes are being introduced by serverless.

In the case of this particular plugin, shouldn't they lock their versions to `<=2.4.0` or something like that, or actually refactor the code to implement the changes?

[2020-10-07 20:20] marekpiotrowski commented on #7227
Reproduced it, would like to work on this one. Let me know if it's okay. Thanks.

[2020-10-07 20:21] medikoo commented on #7227
That'll be great @marekpiotrowski, Thank you!

[2020-10-07 21:06] pgrzesik commented on #7907
Hello there :wave: I'd love to give it a try over the weekend if that's okay :raised_hands:

[2020-10-08 00:27] franciszabala commented on #8357
Closing issue.

**To fix build issue, please make sure that PROFILE environment variable is declared. It doesn't have to contain a value.**

[2020-10-08 00:27] #8357 closed

[2020-10-08 06:52] AalindG commented on #8358
Is there a fix to this? All my builds on all the environments are getting failed with the same error.

[2020-10-08 07:14] medikoo commented on #7036
@lunascat Logging should be set in context of stack with which API Gateway is created. In your case you're referencing an external stack, and in such case Framework does not attempt to tweak logging settings (as that's just not safe).

Issue is that Framework doesn't crash with meaningful error on such configuration. if you wish to see that, please open a new bug report

[2020-10-08 07:19] medikoo commented on #8358
@blairg23 Thanks for report. Ideally this should be fixed on plugin side. Have any effort been taken in that direction?

Firstly plugin decided to depend on Framework internals, while they can change even across patch versions. It's not safe, best if plugin is not doing that.

Secondly plugin doesn't inform (via `peerDependencies` setting) with which version of a Framework it works. Note that it h

[2020-10-08 07:39] #8345 closed

[2020-10-08 07:42] medikoo commented on #7907
That'll be great @pgrzesik ! I believe it's one of the most valuable additions currently to consider

[2020-10-08 07:59] randomhash commented on #8358
there are use cases when better to use not npm package, but a CLI directly

[2020-10-08 08:05] chrisvltn opened #8361 "Why isn't it possible to use 2 different existing buckets?"
I noticed that in PR #6506 it was implemented a check to know if there is more than one existing s3 bucket being set up, but I couldn't find out why this was happening. In my current project, I have more than one existing s3 bucket to be set up and I need to use [serverless-plugin-existing-s3](https://github.com/matt-filion/serverless-external-s3-event) in order to make it possible. It would be ni

[2020-10-08 08:08] lunascat commented on #7036
@medikoo Thanks for the quick reply.

The API Gateway is created within the same stack (see Resources part at the end). For me, it looks like the same case as in the original example above, except for the http function part (and the restApi reference in provider.apiGateway). What is the difference from serverless' point of view?

[2020-10-08 08:46] ptrhck opened #8362 "Unsupported configuration format for boolean values and empty string"
I have the following settings in my serverless.yml:

[code]

However, I do get the following error:
[code]

How can I fix this?

[2020-10-08 08:47] medikoo commented on #8361
@chrisvltn this issue tracker is purely for bug supports or feature requests, for general support questions please use  https://forum.serverless.com/ or https://www.serverless.com/slack

If want to open a feature request, please respect the template

[2020-10-08 08:49] medikoo commented on #7036
Then please remove `apiGateway.restApiId` setting. This is intended to point the API's configured externally only

[2020-10-08 09:55] medikoo commented on #8362
@ptrhck Above snippet, with `dev` stage implied  reproduces on my side only one error:

[code]

And it's because we do not recognize empty strings in configuration. Use `null` instead of `''` if you do not which env var to be set in given case

[2020-10-08 10:24] MatteoInfi opened #8363 "Unable to set environmental variable for websocket"
I am unable to set the api websocket gateway endpoint on a function

[code]

Both return an empty string

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-10-08 10:42] medikoo commented on #8363
@MatteoInfi please respect all template remarks, and answer all questions in form as requested.

Otherwise for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-10-08 11:03] violiveira commented on #8358
Same here, without any changes to serverless file, my build started to fail with this error today

[2020-10-08 11:23] ptrhck commented on #8362
My bad, now I am update to with version 2.5.0. The DEBUG error has gone. Regarding the URL, now I get:

`A valid service attribute to satisfy the declaration 'self:custom.CLOUDFRONT_URL.dev' could not be found.`

[2020-10-08 11:34] medikoo opened #8364 "Seclude CLI params and service config resolution from the core"
### Use case description

Ideally it should be straightforward to use Serverless Framework programmatically. Additionally clean separation of concerns will help significantly the maintenance and will allow to integrate Components engine into the repository.

_Improvements towards separation of Packaging and Deployment phases has been moved to https://github.com/serverless/serverless/issues/8499_

[2020-10-08 11:36] medikoo commented on #3421
I've renamed this issue and added simplified introduction to main description, to put more weight on use case than implementation spec.

[2020-10-08 11:38] medikoo commented on #8362
@ptrhck for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack This issue tracker is purely for confirmed bug reports and feature requests

[2020-10-08 12:58] devpow112 opened #8365 "iamRoleStatements.Resource error on Fn::Join"
Before latest updates to schema validation doing the following worked without warning

[code]

This now causes schema validation issues as only constants or arrays of arn/cffunctions are allowed now.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless package</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[2020-10-08 12:59] lunascat commented on #7036
So, if I remove `apiGateway.restApiId` and the http function and move it to a different stack, using the shared API Gateway, the log settings are still not enabled.
In fact our scenario looks a bit more complicated, with a [shared authorizer](https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#easiest-and-cicd-friendly-example-of-using-shared-api-gateway-and-api-resources):

[2020-10-08 13:28] medikoo commented on #8365
@devpow112 indeed, thanks for report!

It's a regression introduced with https://github.com/serverless/serverless/pull/8319 where by mistake this instruction was removed.

As when investigating it, I've spotted some other parts of the schema that were also broken. I've prepared a fix that addresses all of them: https://github.com/serverless/serverless/pull/8366

[2020-10-08 13:35] medikoo commented on #7036
@lunascat If I see correctly you miss `AWS::ApiGateway::Deployment` resource configuration in first stack.  Once it's defined, then logging should be turned on.

Note that logging can only be configured on a _deployed_ API Gateway stage (we need a deployment resource there)

[2020-10-08 13:36] #8365 closed

[2020-10-08 14:01] shaheer-k opened #8367 "Serverless framework creating $default stage even if we provide explicit stage name when creating HTTP API."
Why the serverless framework creating $default stage even if we provide explicit stage name when creating HTTP API.
[code]

[2020-10-08 14:03] medikoo commented on #8367
@shaheer-k for general support please use https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-10-08 14:37] #8367 closed

[2020-10-08 14:39] medikoo opened #8368 "Configure all promise returning functions as async functions"
### Use case description

Paves path to https://github.com/serverless/serverless/issues/7171

Ideally we should use just native promises and async/await syntax. Still refactor of whole code seems as too big and problematic task for single PR, it's better to divide it into smaller clear tasks.

As a first distinct step I believe it'll simply be good to configure all promise returning functions as _

[2020-10-08 14:43] medikoo opened #8369 "Refactor all BbPromise.x usage which doesn't have native counterparts"
### Use case description

Partially covers https://github.com/serverless/serverless/issues/7171

Should be addressed after https://github.com/serverless/serverless/issues/8368

Bluebird exposes a lot of functions and methods that have no standard counterparts, we should refactor it to native promises syntax

### Proposed solution

Refactor to async/await  all functions that contain usage of follow

[2020-10-08 15:18] medikoo commented on #7171
As we've dropped Node.js v6 dependency we can handle this now. I've split this into three issues. Please see updated top level description for details

[2020-10-08 15:23] lunascat commented on #7036
@medikoo Thanks, that works like a charm!

For reference, here's the Deployment ressource definition:
[code]

[2020-10-08 15:47] malviyalokesh1 commented on #3785
# if you have your route like,

anything/{user_id}/getsomething
anything/{user_id}/somethingelse

make them like,

anything/getsomething/{user_id}
anything/somethingelse/{user_id}

# if you want to user different methods on the same rout,

use 'any' as method

- http:
          path: anything/somethingelse/{user_id}
          method: 'any'

then inside your handler

use

switch (event.httpMethod)

[2020-10-08 16:18] DennisTruemperMd opened #8370 "Bug: 'null' values are not allowed in templates since 2.5.0 for Condition/IpAddress"
With earlyer versions cloudwatch template looked like this (ApiGatewayRestApi only):
[code]
with 2.5.0 it looks like this:
[code]
ipAddress: null leads to error:

Error: The CloudFormation template is invalid: [/Resources/ApiGatewayRestApi/Type/Policy/Statement/0/Condition/IpAddress] 'null' values are not allowed in templates
      at /home/runner/work/my-service-name/my-service-name/node_modules/

[2020-10-08 17:25] danilofuchs opened #8371 "Experimental support for Lambda Extensions?"
### Use case description

Lambda Extensions was just announced, and it looks game-changing! https://aws.amazon.com/blogs/compute/introducing-aws-lambda-extensions-in-preview/

### Proposed solution

Serverless Framework should provide an API for declaring extensions

[2020-10-08 20:51] marekpiotrowski commented on #7227
Pull request created, I'm not sure if my reasoning is correct, though: https://github.com/serverless/serverless/pull/8372.

Would be much obliged for confirmation, thanks!

[2020-10-08 20:55] JeremyScott-IO commented on #8368
Hey,
I'd like to take this on!

Just to make sure I understand, don't modify the functions, aside from changing the method to async. However if after changing these I find problems where calling functions can't handle the now async method, I should fix these calling functions in this same PR?

[2020-10-08 20:57] medikoo commented on #8368
@JeremyScott-IO that'll be great go for it! And yes your understanding is perfectly correct

[2020-10-08 21:36] dhrrgn commented on #8370
We ran into this issue, and it ended up being a case sensitivity issue.  This PR (https://github.com/serverless/serverless/pull/8319) in added type coercion, which ended up making things case sensitive

[2020-10-08 22:28] dhrrgn commented on #8370
Did some digging, because I was curious.  This is actually because your `ipWhiteListDefault` has a value of `{}`, which gets caught in the `null` checking in the PR I mentioned (because it tries to traverse the object and it is empty, so `custom.ipWhiteList` ends up being null, hence the error.

This change should have been marked as a breaking change, because it broke a lot of things.

/cc @medik

[2020-10-09 08:14] coyoteecd opened #8373 "Config validation says provider.logs.restApi.role is required when roleManagedExternally=true"
The configuration validation treats the provider.logs.restApi.role as mandatory; however when roleManagedExternally=true, it should not be required, and indeed in that case it should warn that it is useless because it will be ignored. See https://github.com/serverless/serverless/pull/7333 and [documentation here](https://www.serverless.com/framework/docs/providers/aws/events/apigateway#logs).

Not

[2020-10-09 08:29] DennisTruemperMd commented on #8370
Hi @dhrrgn , thanks for the quick response. I could not see if you will fix this in a later version or not, so I searched for a workaround.
My current solution to the problem is duplication of the apigateway resource. Now I have one with condition and one without in diffrent files, referencing per stage.

For someone having the same problem:
resources:
  # add apigateway with whitelist for prod an

[2020-10-09 10:23] medikoo commented on #8370
@DennisTruemperMd thanks for report.

I believe it's caused by an issue introduced with #8319 where properties with `undefined` value explicitly assigned where converted to `null`.

It's being fixed here https://github.com/serverless/serverless/pull/8374

If it's not that I would need a proper reproduction case

[2020-10-09 10:32] medikoo commented on #8371
@danilofuchs great thanks for opening that. I believe we definitely should have that.

We should start with a spec, which should outline a configuration proposal and how it should map to CloudFormation resources.

Is anyone up for preparing such spec?

[2020-10-09 10:34] #8370 closed

[2020-10-09 10:40] DennisTruemperMd opened #8375 "Bug: per function permissions leads to "this.awsPackagePlugin.validateStatements is not a function""
Per Function permissons leads to Error
Serverless: Packaging service...

  Type Error ---------------------------------------------

  TypeError: this.awsPackagePlugin.validateStatements is not a function

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>npx sls deploy -s dev</code> output</b></summary>

[code]

</details>

<b>Installed vers

[2020-10-09 11:08] DennisTruemperMd commented on #8375
I changed to service level permissons, this works fine for me. But other people might have this bug too

[2020-10-09 11:30] medikoo commented on #8373
@coyoteecd great thanks for reporting.

Indeed there was an error in schema construct. Will be fixed with #8376

[2020-10-09 11:32] medikoo commented on #8375
Duplicate of #8358

[2020-10-09 11:32] #8375 closed

[2020-10-09 11:37] #8373 closed

[2020-10-09 12:00] circulon commented on #5001
This is still broken / an issue in 2.4.0 ;(
Building stack dependencies on a comm bucket is just not possible in this manner, which is frustrating.

[2020-10-09 12:37] medikoo commented on #3426
Closing, as I believe it's possible now either by using CF intrinsic functions, or simply relying on `${self:resources.Resources..}` vars resolution (for shorter, more maintainable path we may also define reusable part in `custom` and refer to it in both places via `${self:custom... }`)

@mthenw If I miss something, please explain in more detail.

@aequasi I believe issue you were having was addre

[2020-10-09 12:37] #3426 closed

[2020-10-09 12:42] medikoo commented on #3449
I believe this closely related to https://github.com/serverless/serverless/issues/1720 and after it's addressed it could be solved by propagating mentioned above parts via different log levels (error message and stack information is _error_ level log, while "Get Support"  and "Your Environment Information" is _notice_ level log). Having that using `LOG_LEVEL=error` will produce desired short outut

[2020-10-09 13:07] medikoo commented on #3520
While this can easily be worked around, indeed `LAMBDA_TASK_ROOT` should reflect a dirname of a folder we're packaging for lambda (so technically a service folder)

[2020-10-09 13:34] #7227 closed

[2020-10-09 13:38] drissamri commented on #4838
Is there any workaround currently for using AWS SSO until this is done?

[2020-10-09 13:41] thomasmichaelwallace commented on #4838
If you've only got one profile, you can use this: https://github.com/benkehoe/aws-export-credentials

[2020-10-09 14:01] flyinprogrammer commented on #4838
@drissamri i've been using [aws-vault](https://github.com/99designs/aws-vault) like so:

[code]

which just causes sls to rely on environment variables existing.

[2020-10-09 15:43] #8350 closed

[2020-10-09 16:48] gipsh opened #8377 "When using my own `deploymentBucket` sls dont show the real error"
I'm using serverless and deploying to a custom bucket with the parameter  `deploymentBucket` defined on the yml.
I also had an error on my yml where the name of the lambda function was in conflict with other lambda in another stack.

While using the `deploymentBucket` serverless always showed this message after deploy step finished:

ServerlessError: Stack with id xxxxxxx does not exist

This mess

[2020-10-09 17:24] Maxgit3 commented on #8368
If you need any more help, I would be willing to chip in.

[2020-10-09 20:22] Maxgit3 commented on #8128
Is this still an open issue?  I would like to try and help

[2020-10-09 21:21] leonardofaria commented on #6913
@winstonwp are you able to run sharp in the origin-response event type? I am getting size limitations here since sharp > 1MB.

[2020-10-10 14:31] fredericbarthelet opened #8379 "DLQ for EventBridge rules"
### Use case description

AWS has recently released support for Dead Letter Queue for EventBridge: https://aws.amazon.com/fr/blogs/compute/improved-failure-recovery-for-amazon-eventbridge/

We could implement support for this feature in Serverless

### Proposed solution

Use similar schema for DLQ declaration than existing [lambda DLQ](https://www.serverless.com/framework/docs/providers/aws/guide/

[2020-10-10 18:31] tinexw commented on #8085
Hi @medikoo ,

thanks for the updated description - looks good to me.

I don't seem to have access to https://github.com/serverless/site/ - I get a 404.

btw: Are you participating in Hacktoberfest? I actually came across this issue while looking for something to work on as part of Hacktoberfest. If you are, the rules changed this year and you need to [add the `hacktoberfest` topic to your repo](h

[2020-10-10 19:22] fredericbarthelet commented on #8317
## Default

Regarding the replacement of the default `ForwardedValues.QueryString` parameter :

- current cloudFront event includes setting `ForwardedValues.QueryString` to false if no override is specified.
- if you specify false for `QueryString`, CloudFront doesn't forward any query string parameters to the origin, and doesn't cache based on query string parameters - *from [Cloudfront Forwarded

[2020-10-10 22:25] joebernard opened #8382 "Configuration error when using custom variables in outputs section"
Attempting to access a nested `custom` variable results in an array being stored in `outputs` instead of a string.

[code]

[code]
It will generate a validation warning but still deploy:
`Serverless: Configuration warning at 'outputs.profile': unsupported configuration format`

If I inspect my outputs variables in the dashboard I see something like this instead of a string:
[code]

This causes oth

[2020-10-11 14:21] boriskurikhin commented on #3785
Still an issue. Having resources and custom domains makes a lot more difficult to just "re-set" functions.

[2020-10-11 17:40] fredericbarthelet opened #8386 "Typescript definition from JSON schema definitions for serverless service file"
### Use case description

Today, Typescript definition of serverless service file properties are maintained within [DefinitelyTyped repository](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/serverless) as part of a community effort.
Those definition, being mostly right, are sometimes outdated. In addition, some recently added fields are missing.
For exemple :
- `provider.htt

[2020-10-11 23:31] JeremyScott-IO commented on #8368
Hi @medikoo,

I've noticed a lot of methods that return promises aren't async, and some ()=> module.exports are also returning Promises. Should I be converting methods and these module.exports to async as well?

[2020-10-12 01:43] michael-wolfenden opened #8387 "authorizer: aws_iam is causing a `unsupported configuration format` schema error in serverless v2.6.0"
`authorizer: aws_iam` is causing a schema configuration error in `serverless v2.6.0`. Reverting to `serverless v2.5.0` resolves the issue.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>npx serverless package</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-10-12 04:45] thekevinbrown commented on #4266
Still experiencing this with serverless v1.83.0. Easily reproduced when using `slsart` and then installing `serverless` as a devDependency so we don't have to install it globally. Once we remove `serverless` itself from the package and have it as a global dependency the error goes away because serverless no longer needs to exclude it as a dev dependency.

[2020-10-12 06:15] marekpiotrowski commented on #4905
I'd like to work on this one if it's still relevant. Let me know if that's okay.

[2020-10-12 08:44] medikoo commented on #8377
@gipsh great thanks for reporting. Indeed I've reproduced it, and coined a bug in error resolution logic. It'll be fixed with https://github.com/serverless/serverless/pull/8388

[2020-10-12 08:45] medikoo commented on #8128
@Maxgit3 go for it! PR with a fix would be very welcome

[2020-10-12 09:02] #8377 closed

[2020-10-12 09:52] medikoo commented on #8379
@fredericbarthelet It'll be great to have that in, and proposal looks good to me. PR is welcome!

[2020-10-12 09:54] #8340 closed

[2020-10-12 09:57] medikoo commented on #8085
ah.. indeed. I forgot it's maintained as private repository.

In such case we should stick purely to markdown previews (Prettier already guards its style). If some extra configuration would be needed to have new pages properly setup, I'll point in comments specifically

[2020-10-12 09:59] medikoo commented on #8085
Not specifically, as it's known to be controversial: https://dev.to/thewdhanat/digitalocean-s-hacktoberfest-is-hurting-open-source-2g99

Anyway we always welcome contributions, and recognize our contributors on Twitter periodically

[2020-10-12 10:05] medikoo commented on #8317
@fredericbarthelet that's excellent insight. Thanks for all the details, proposal looks really good. I will look into PR shortly

[2020-10-12 11:39] #8090 closed

[2020-10-12 12:11] medikoo commented on #8386
@fredericbarthelet great thanks for opening that.

I think it makes a big sense to auto generate TS definition out of configured schema, still one culprit is, that it probably be quite hard to make it equivalent, e.g. in current schema handling we apply following normalization rules:
- Automatic coercion per [AJV rules](https://ajv.js.org/coercion.html)
- Automatic coercion to array, when primitiv

[2020-10-12 12:37] medikoo commented on #8368
Ideally functions/methods which do not involve any _async_ operations (but e.g. simply return `BbPromise.resolve(..)`) should be configured as _sync_ (so have `return BbPromise.resolve(x)` replaced with `return x` and `return BbPromise.reject(e)` replaced with with `throw e`). Still you may approach situations that making them _sync_ breaks things in a way that more sophisticated refactor is neede

[2020-10-12 12:50] medikoo commented on #8387
@michael-wolfenden great thanks for reporting. Will be fixed with https://github.com/serverless/serverless/pull/8389 (cc @thewizarodofoz )

[2020-10-12 13:16] #8387 closed

[2020-10-12 13:54] medikoo commented on #3528
This is a bit tricky with current design.

Problem is that variables by design can be used anywhere and can refer to anything, e.g. imagine following in service config:

[code]

or

[code]

and I believe we can come up with trickier to handle cases.

This means that to create a build through which we can deploy any _stage_ or _region_ would require preserving whole service directory as is, and sim

[2020-10-12 13:54] medikoo commented on #6568
Duplicate of #3528

[2020-10-12 13:54] #6568 closed

[2020-10-12 14:02] medikoo commented on #3529
That's a very good point. Now we can use async/await, but still confirming on rejections reliably can only be done through `eventually.rejectedWith` construct.

Recently in all tests we try to practice this, but obviously there's a lot of legacy code that doesn't follow that.

Still it'll be difficult to inspect test by test where it can be adjusted, and it's hard to justify such effort now.

I'd

[2020-10-12 14:58] #8328 closed

[2020-10-12 16:42] Bersaelor commented on #8251
Just dropping a note that I never had this problem before, but since updating `serverless` to `2.6.0` I see it with every attempt of `sls deploy` no matter how much I change my lambda functions.
(In my case the serverless.yml has many lambda functions, and the error always mentions a different function then the one I had edited).

[2020-10-12 16:48] Enase commented on #8251
@Bersaelor The same for me and the latest version without the issue is:
[code]

[2020-10-12 16:51] Bersaelor commented on #8251
@Enase thank you for dropping that info, after going back to 2.2.0 too (`npm install -g serverless@2.2.0`), I was able to deploy my stack again.

[2020-10-12 20:36] pgrzesik commented on #7907
Hello :wave: I've started implementation and there are a few issues that I'm not sure about and I would love to clarify them below.

1. Injecting variables into Lambda (or another) environment - https://github.com/colynb/serverless-dotenv-plugin plugin, in addition to loading variables from `.env` files, also injects all of them (with `include/exclude` option for configuration) into deployed funct

[2020-10-12 21:48] mvanzoest-rcd opened #8390 "Tag value pattern does not respect @"
I recently deployed a serverless application and was given the following configuration validation warning:

[code]

[According to AWS docs](https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html#tag-conventions), "In general, allowed characters in tags are letters, numbers, spaces representable in UTF-8, and the following characters: _ . : / = + - @"

<details>
<summary><code>serverless.ym

[2020-10-13 03:59] mt-kelvintaywl commented on #6595
hi @medikoo, sorry to ping you directly but has there been any progress on this issue?

[2020-10-13 08:24] medikoo commented on #8251
@Bersaelor can you open other bug report? As what you reports looks as regression introduced with https://github.com/serverless/serverless/pull/8066, while this issue describes different problem (happening already before 2.2.0)

[2020-10-13 08:27] #8017 closed

[2020-10-13 08:29] #7802 closed

[2020-10-13 08:57] Bersaelor opened #8392 ""A version for this Lambda function exists ( 8 ). Modify the function to create a new version.." even when functions have changed"
I have a serverless.yml with 29 functions (194 resources, just under the limit).

As of a few days ago, every time I change a function and `sls deploy -s prod`, I get an error during the Cloudformation
stack deployment:

[code]

This happens regardless of function changed. The error always mentions a different function than the one I had changed, since I obviously don't change every function every

[2020-10-13 09:33] Bersaelor commented on #8392
PS: I tried deploying my service under a different name and reducing the functions there, but that also doesn't cause any errors.

[2020-10-13 09:35] Bersaelor commented on #8251
I tried documenting it in https://github.com/serverless/serverless/issues/8392 but it seems I can only consistently reproduce it in out production platform which isn't great for experimenting with it.

[2020-10-13 09:57] rcoundon opened #8393 "TypeError: t is not a function when running any serverless command"
When running any sls command deploy/start a TypeError is thrown t: is not a function

[code]

This could be down to changes in dayjs between 1.9.1 and 1.9.2 as the package.json in serverless uses ^1.9.1

Commenting out line 11 of serverless/lib/plugins/aws/metrics/awsMetrics.js allow the process to run:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>

[2020-10-13 09:59] medikoo commented on #8393
@rcoundon thanks for reporting. it was a regression in one of the dependencies we use.

See https://github.com/iamkun/dayjs/issues/1132

It's already fixed, ensure to update to latest version

[2020-10-13 09:59] Ali-Dalal commented on #8393
already fixed

[2020-10-13 10:00] EnoF opened #8394 "Dayjs >=1.9.2 is incompatible with serverless"
Dayjs version >= 1.9.2 causes problems with serverless. Running `sls help` returns the following error:
[code]

I resolved the issue by installing dayjs@1.9.1, `npm i -D dayjs@1.9.1`

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls help</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-10-13 10:02] rcoundon commented on #8393
Ok, thanks. Sorry, latest version of serverless? if so, I'm already running 2.6.0 and that appears to be latest?

[2020-10-13 10:02] rcoundon commented on #8393
Sorry, ready the linked issue, dayjs. Got it

[2020-10-13 10:07] medikoo commented on #8394
Duplicate of #8393

[2020-10-13 10:07] #8394 closed

[2020-10-13 10:19] medikoo commented on #7907
@pgrzesik that's a very good questions

I think dotenv plugin treats `.env` more as source of env vars for lambdas. While in this case we want to match behavior we already have implemented in Serverless Components. So `.env` simply allows us to fill `process.env` for deployment or other `serverless` command usage purposes. I believe it's also the more intended usage by `dotenv` package authors.

_

[2020-10-13 10:21] ronaldndirangu commented on #8393
I am experiencing the same issue how did you fix it @rcoundon ?

[2020-10-13 10:23] medikoo commented on #8390
Duplicate of https://github.com/serverless/serverless/issues/8304

[2020-10-13 10:23] #8390 closed

[2020-10-13 10:28] medikoo commented on #6595
@mt-kelvintaywl there's no, but we're open for PR. Also it'll be great to have a different issue report for it (note that we're commenting on related but slightly different issue that was addressed long time ago)

[2020-10-13 10:44] Enase commented on #8251
@medikoo That's definitely regression, but it's hard to find the reason in production environment. Hope I will have a time to test and share some details.

[2020-10-13 10:49] Enase commented on #8392
https://github.com/serverless/serverless/issues/8251#issuecomment-707579228

[2020-10-13 10:54] medikoo commented on #8392
@Bersaelor thanks for report.

I believe the issue comes from a fact that with #8066 we fixed some discovered issues in lambda version hash generation, and it started to produce different hashes for lambda configu than previously. That means, that for a same function code and configuration you'll get a different hash, and this is where AWS will complain.

I didn't envision this when we were mergin

[2020-10-13 10:56] medikoo commented on #8251
@Enase @Bersaelor thanks for details. Yes I can confirm it's a regression, please see my comment: https://github.com/serverless/serverless/issues/8392#issuecomment-707660622

Ideally would be to find a proper solution for this issue, this will also make regression gone

[2020-10-13 11:04] rcoundon commented on #8393
@ronaldndirangu - I just reinstalled serverless. On reinstallation it'll pick up v1.9.3 of dayjs which fixes the issue.

[2020-10-13 11:08] Bersaelor commented on #8392
Thanks @medikoo , that makes a lot of sense and from reading that PR I could have come up with that by myself 😅

I changed a variable name in a file thats imported by practically all lambda  code files and the error went away.

[2020-10-13 14:00] FergusMcGlynn opened #8395 "Allow pseudo parameter AWS::AccountId in cfnRole config"
### Use case description

I would like to be able to specify a `cfnRole` that references an `AWS::AccountId`. The account Id is a common part of a role arn, and I'd like to be able to use this to deploy to different AWS accounts that have a role with the same name set up. I want to be able to specify a `cfnRole` like this:

[code]

I have tried to use pseudo parameters as described in the [documen

[2020-10-13 14:49] medikoo commented on #8393
Closing as it was fixed at origin, and also we've released v2.7.0 which guarantees to take updated version

[2020-10-13 14:49] #8393 closed

[2020-10-13 15:32] hanischandrew commented on #4928
I was able to work around this by adding a bogus "private" lambda function. Once that was added, it created the api key.

[code]

[2020-10-13 15:46] Enase commented on #8392
@medikoo the same for me, everything works fine after code modification. Thanks.

[2020-10-13 15:51] medikoo opened #8396 "Improve IAM role statements, policies and principals internal handling and resolution"
### Use case description

_Goal is to pave path for https://github.com/serverless/serverless/issues/4313_

Currently Framework creates one IAM role, in which all needed statements for all functions are located.

We need a clear understanding which statements, managed policies and eventual principal registrations are required for which function

### Current handling of IAM roles

1. Before configur

[2020-10-13 15:52] medikoo commented on #4313
I believe we can have that handling in a Framework, but first we need to cleanup our internal IAM configuration handling. I've proposed on how to that here: https://github.com/serverless/serverless/issues/8396

Once it's done, it should be relatively easy with next step integrate this functionality into the framework. PR's welcome!

[2020-10-13 15:58] medikoo commented on #8358
@Amir-Ahmad we're open to have this in the Framework, and I've outlined a quite detailed proposal on how to refactor internals to have that issue in.

In first place we need to tackle this https://github.com/serverless/serverless/issues/8396 (PR's welcome!)

[2020-10-13 17:10] thomaschen opened #8397 "Configuration warning for prebuilt archive layer"
I'm getting a configuration warning that the layer should have required property `path`, even though the [documentation](https://www.serverless.com/framework/docs/providers/aws/guide/layers/) suggested that `path` is not required for a prebuilt archive layer.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless package</code> output<

[2020-10-13 19:42] pgrzesik commented on #7907
Hey @medikoo - thanks a lot for your responses. I've just reviewed the implementation in Serverless Components to have a better context. I totally agree with proper messaging to users that the feature-set between built-in `env` support will be different than the one provided by the plugin.

I've been using it for some time and I also used it to inject env to deployed Lambda functions. I'm okay wit

[2020-10-14 07:01] Necromancerx commented on #6269
He wants to include `foo-dev.js` then rename it to `bar.js` afterwards. Is this currently supported? Thanks

[2020-10-14 09:59] medikoo commented on #8395
@FergusMcGlynn thanks for report.

`cfnRole` is used to deploy a stack, and it's provided in `createStack` or `updateStack` params, and those are not part of CloudFormation template, hence any CF intrnsic functions of pseudo parameters simply do not apply there.

CF intrinsic functions and AWS pseudo params are supported only in settings which are passed through as-is to CloudFormation template, a

[2020-10-14 10:09] medikoo commented on #8397
@thomaschen thanks for report. Indeed it's an error in schema.

`path` is optional when `package.artifact` is provided:

- https://github.com/serverless/serverless/blob/4e49473e154979165da1b4acc02458e733626adf/lib/plugins/package/lib/packageService.js#L182
- https://github.com/serverless/serverless/blob/4e49473e154979165da1b4acc02458e733626adf/lib/plugins/package/lib/packageService.js#L87-L88

Wil

[2020-10-14 10:20] medikoo commented on #7907
I would stick just to search in current working directory (same as we do not search for eventual service context in parent directories).

In components it's done that way, as there's a concept of multi components, where at root of a project you don't have `serverless.yml`, but there are folders with different components each having `serverless.yml`, and I when deploying those, current working dire

[2020-10-14 10:29] medikoo commented on #6269
@Necromancerx it is. See example in docs: https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-variables-in-other-files

[2020-10-14 11:30] #8018 closed

[2020-10-14 13:41] zaldanaraul commented on #8396
Hi @medikoo . I can have a go at this

[2020-10-14 13:53] medikoo commented on #8396
@zaldanaraul great to hear that! Go for it.

I believe (as mentioned in description) it'll break some test files, and refactoring them can be challenging. I suggest once you have the initial implementation working, you post the list of test files that break, and we will open another dedicated issue to address their refactor (this will likely result with other members of community helping us).

[2020-10-14 15:51] foxxor opened #8401 "Error when deploying without `--config` flag"
I'm getting the error reported here: https://github.com/serverless/serverless/issues/7736

[code]

But I get it, if the `--config file.yml` flag is not passed with the `serverless deploy` command:

I'm getting this only when deploying from a Docker instance in my CI, with the latest version of the Framework **2.7.0** , executing this full command:

[code]

Passing the `--config serverless.yml` add

[2020-10-14 21:33] simonobe commented on #3696
happening to me as well, does anybody know what is happening?

[2020-10-14 21:36] fredericbarthelet commented on #8386
thank you for your reply @medikoo

I fully understand your concern regarding strict segregation of issues related to the framework itself and issues related to the typescript definitions.

It would be a great idea to start a dedicated serverless organization repository for the purpose of hosting those definitions. Would love to start it if you can set it up.

I'll need to address the following:
-

[2020-10-14 22:19] malpaso commented on #8134
Any update on this? I'm seeing the same error trying to deploy, no plugins and one function.

[2020-10-15 00:44] Necromancerx commented on #6269
@medikoo does this support folder? I want to move/rename the included external lib folder `/external-lib/Cryptodome` and move it to the root folder of the lambda package as `/Cryptodome/`.

[code]

[2020-10-15 08:43] medikoo commented on #8401
@foxxor it looks as some issue in your docker CI setup. I cannot reproduce anything like that locally. You can try to debug it by inspecting `process.argv` in Serverless process. As this error comes from parsing CLI params (read from `process.argv`)

[2020-10-15 08:50] medikoo commented on #8386
@fredericbarthelet what name do you think would be good for this new repo. Do you think `serverless/typescript` will work well?

[2020-10-15 08:57] medikoo commented on #6269
@Necromancerx paths outside of service context will not work. Base for packing in Framework logic is service folder, against that you may apply `include` and `exclude` rules

[2020-10-15 10:00] #8395 closed

[2020-10-15 10:15] FinnFrotscher opened #8402 "lambda trigger cloudwatchEvent issue with `stage` parameter"
Cloudwatch event definition specifies a `stage` parameter to stop a lambda from triggering on a cloudwatch event from another stage.

[code]

Since having included this parameter, the lambda has not been triggered at all.
If i omit this parameter, the lambda triggers on all stages simultaneously, independent of the eventsource stage.

[code]

[code]

[2020-10-15 10:26] medikoo commented on #8402
@FinnFrotscher please respect all template remarks. Answer all questions carefully, and ensure to use latest version of a Framework

[2020-10-15 10:48] FinnFrotscher commented on #8402
I have updated my dependency to `2.7`. The issue persists

I would consider it a bug.

No Plugin.

Searched google and Aws Docs and repo issues.

Our serverless.yml is quite huge. If something essential is missing, i will provide.

It is the absence of result that is the issue.

[code]

[2020-10-15 10:49] medikoo commented on #3557
I've outlined an implementation proposal in main readme, through which we should tackle this issue finally.

PR's welcome!

[2020-10-15 10:50] medikoo commented on #8402
Again, we need to have complete (yet minimal) `serverless.yml` example to be able to reproduce the issue.

[2020-10-15 11:04] medikoo commented on #3565
I believe main use case was to address collision with AWS variables syntax (https://github.com/serverless/serverless/issues/3184), and that was already solved through improved regular expression.

Still I believe for completeness there should be some escape mechanism respected, I've outlined in main description a proposal on how we can achieve that

[2020-10-15 11:18] FinnFrotscher commented on #8402
[code]

[2020-10-15 11:29] medikoo commented on #8402
Please do not use `configValidationMode: off` as it hides important error reporting from you.

Do you see any errors with this setting removed?

[2020-10-15 11:31] medikoo commented on #8402
Also this template involves plugins. Please prepare a reproduction case that doesn't involve plugins

[2020-10-15 11:59] mdrijwan commented on #8358
worked out for me when i downgraded my serverless to 2.4
[code]

[2020-10-15 13:23] FinnFrotscher commented on #8402
[code]

[2020-10-15 21:08] hanischandrew commented on #8117
This may be a long shot and don't mean to hijack this thread but would anyone be able to point me in the right direction for this question.

What happens when a message/batch fails to be processed by the lambda function? Is it not ACKed and is expected to be replayed on the next fetch? Is it forever lost? What are the delivery semantics with this integration?

Cheers

[2020-10-15 21:21] rodgeraraujo commented on #5296
I have the same issue.

[code]

[2020-10-16 02:57] suparngp opened #8404 "Kinesis Enhanced fanout consumer generates broken template"
Kinesis Enhanced Fan out consumer setting `true` introduced in #7320 is broken on serverless version 2.7.0. As compared to v2.4.0, the generated policy document for a `consumer: true` setting is incorrect.
I am upgrading to the latest since another issue I had reported before #8328 is now resolved.

On 2.4.0, the output is

[code]
where as the same template produces
[code]

The Resource "true" cau

[2020-10-16 03:06] suparngp commented on #8404
Also, I tested 2.4.0, 2.5.0, 2.6.0 and 2.7.0 and only 2.4.0 seems to produce the correct output.

[2020-10-16 04:46] suparngp commented on #8404
I investigated a little bit, This check is failing:

https://github.com/serverless/serverless/blob/master/lib/plugins/aws/package/compile/events/stream/index.js#L274

Because in 2.4.0, the value `true` is read as a boolean where in 2.5.0+, it is read as `'true'`.

[code]

prints

[code]

[code]

[2020-10-16 05:55] suparngp commented on #8404
I found a workaround. If I use `consumer: !!bool true`, it is parsed properly. I am leaving the bug open for someone to review.

[2020-10-16 07:45] suparngp commented on #8404
I narrowed this bug down to `const ajv = new Ajv({ allErrors: true, coerceTypes: 'array', verbose: true });` in `ConfigSchemaHandler.js`. The `coerceTypes` change was indeed [introduced in v2.5.0](https://github.com/serverless/serverless/compare/v2.4.0...v2.5.0#diff-c00a908c9b817afc737bcf1ea69b5a2f29620c9919030c7348471a8dd695f86dR104) [in this commit](https://github.com/serverless/serverless/pull/

[2020-10-16 09:48] fredericbarthelet commented on #8386
@medikoo Ok for `serverless/typescript` :)

[2020-10-16 09:48] medikoo commented on #8404
@suparngp great thanks for reporting this. Indeed there's a bug in schema.

There's technically no real bug in AJV (rather design issue). Having `coerceTypes: 'array'` is convenient, but it requires double care in defining schema, e.g. when relying on `oneOf` AJV will inspect all possible options, and imply corecion for applicable cases (but without reverting it on mismatch). This was the case her

[2020-10-16 10:30] #8404 closed

[2020-10-16 11:02] medikoo opened #8406 "CI: Validate generated release prior publication"
### Use case description

We need to validate (simply by running unit tests against it):
- Generated standalone built
- Generated npm package prior it's published (we can generate package via `npm pack`)

It's to avoid regressions in standalone built, and issues as https://github.com/serverless/serverless/issues/7974 (although those are highly unlikely after https://github.com/serverless/serverles

[2020-10-16 11:05] medikoo commented on #8368
@JeremyScott-IO if it appears as too large task for one PR, we may splt it. so e.g. with one PR we cover only designated folders. Let me know, I'll be more than happy to outline such roadmap if needed. Then more of us can help covering it.

Great thanks again, for looking into it!

[2020-10-16 12:04] medikoo commented on #3567
What takes most of the time is CloudFormation stack update, and for that we cannot provide any reliable progress bar, as AWS doesn't expose any percentage of that (for obvious reasons, as it's more about infra update, and not network throughput related).

What probably can be covered is file uploads, like uploads to S3, still it'll have to be investigated whether we have means to observe that (as

[2020-10-16 12:10] medikoo commented on #3577
Closing as it was probably addressed in best possible way with https://github.com/serverless/serverless/pull/6502

Now we show stack traces only for programmer errors (so unexpected crashes that in all cases signal a bug) or when user has set `SLS_DEBUG`.
In all other cases we show only error message which is expected to be meaningful enough (if it's not it's an error reporting bug)

[2020-10-16 12:10] #3577 closed

[2020-10-16 13:15] medikoo commented on #3589
This specific error was fixed with https://github.com/serverless/serverless/pull/7665

Otherwise we already have error handling significantly improved with https://github.com/serverless/serverless/pull/6502 and https://github.com/serverless/serverless/pull/7335

Closing

[2020-10-16 13:15] #3589 closed

[2020-10-16 13:30] walery commented on #3567
It will be an improvement IMO. We are deploying lambda that has size of 30-50MB. At home or in office this is fine. From time to time I do that in train where internet connection is not always well. For this case it would help to see the progress of upload.

[2020-10-16 14:09] foxxor commented on #8401
@medikoo Thanks for the fast response, I originally fixed the issue by providing the `--config` flag, but I tried deploying to other stage and it's failing with this error.

[code]

I'm not sure if this is the exact info you request, but I modified the `node_modules/.bin/serverless` file to print the args I'm passing to it, and this was the info I got:

[code]

Please let me know if I can get you

[2020-10-16 14:11] walery commented on #3567
Another point from my side:
We're using serverless to deploy our infrastructure as well, not only lambdas. As you already explained progress for deployment is for obvious reasont not possible. But maybe there are another ways to show the progress. Let me show two examples.

This is current output:

[code]

One way is to set fixed number (like index) for each resource and print it. Also total numbe

[2020-10-16 14:20] foxxor commented on #8401
I just realized the problem was with the flags/arguments I am passing after the `--config` flag, by switching the arguments from:

`node_modules/.bin/serverless deploy --region $AWS_DEFAULT_REGION --aws-profile $CREDENTIALS_PROFILE_NAME --stage $SERVERLESS_STAGE --config serverless.yml --verbose -conceal`
To:
`node_modules/.bin/serverless deploy --region $AWS_DEFAULT_REGION --aws-profile $CREDENTI

[2020-10-16 14:28] medikoo commented on #8401
@foxxor problem lies in `-conceal` part. It's treated as equivalent to `-c -o -n -c -e -a -l` and `-c` is an alias for `--config`. Lack of option passed to config results with `''` resolved for config, and hence final value for config option is `['serverless.yml', '', '']` (result of `--config serverless`, `-c` and `-c`)

I'm not sure exactly how it can work for you by reordering the params, it sh

[2020-10-17 06:53] stuartforrest-infinity commented on #7063
@medikoo I have completed work on the branch linked to above to deploy EventBridge resources using CloudFormation. I have no doubt there will be changes needed as it is not a trivial change and I've had to do a lot learning about how the framework is operation to complete it. Are you happy for me to create a PR off of it and we can go from there?

[2020-10-17 08:39] marcomcnulty commented on #6698
I'm having the same issue (Serverless Framework 2.1.1, Node.js 12.x)

[2020-10-18 09:01] ahallora commented on #569
That worked. FYI as of 2020 `whitelist` has been replaced with `allowlist` 👍

[2020-10-18 21:52] JeremyScott-IO commented on #8368
@medikoo, I'm going to have a fair amount of time across the course of this week. I can give it a go, but I'm totally fine if you guys want to split it out and allow other contributors :)

Let me know!

[2020-10-19 07:30] foxxor commented on #8401
@medikoo I switched the `-conceal` to `--conceal` and switched the order of the flags and can confirm it's now working fine.

I think the issue was mainly because of that wrong conceal configuration that missed the double dashes `--`. Although I think there's some incorrect validation on Serverless side as the `--config` tried to parse the extra flags starting with dash as extra config arguments `

[2020-10-19 08:17] medikoo commented on #3567
@walery that proposal looks very interesting. Indeed we have here an opportunity to present something way more useful than we do right now, and we'll definitely go that route. Let's first wait for #1720 to settle (it's on our priorities list)

[2020-10-19 10:04] medikoo commented on #7063
@stuartforrest-infinity definitely, please open PR, we look forward that change!

[2020-10-19 10:24] medikoo commented on #8368
@JeremyScott-IO Let's see how it goes then :) If it'll appear challenging we'll propose to seclude some areas to other PR's

[2020-10-19 10:34] medikoo commented on #8401
@foxxor on args parsing side it follows [yargs-parser](https://github.com/yargs/yargs-parser#yargs-parser) internal rules.

I agree the design could be better and we may eventually upgrade to other one assuming we agree that it improves resolution (any proposal are welcome)

[2020-10-19 11:15] KishorBudhathoki10 commented on #8368
Hello Everyone. I am new to working with open source projects. I want to contribute to this project and this issue seems the right place for me to get started. I have questions regarding the folder structure. Should I also make an update inside the plugins folder? I have refactored some code inside ./lib/plugins/aws/invokeLocal/index.js to use async/await which I have attached below. Should I push

[2020-10-19 11:36] medikoo commented on #8368
@KishorBudhathoki10 great thanks for reaching out to help! Still this one is already being covered by @JeremyScott-IO (note the assignment). Please search other issues with _good first issue_ label (which have no one assigned), and see if you can help with those (?)

Concerning code attachments, please use compare links (e.g. you may create a branch in your fork and send us link to its compare vie

[2020-10-19 12:21] siliconcat commented on #7506
Affected by this issue. Does anyone have a workaround? Thanks!

[2020-10-19 12:28] u-l-y commented on #3171
Yes, it works, I guess you have something else going on in your code

[2020-10-19 13:20] emilhdiaz commented on #4838
@thomasmichaelwallace I installed `aws-sso-credential-process` through pipx: `pipx install aws-sso-credential-process`, configured that against my desired aws profile in `~/.aws/config`, and finally wrote this bash script (`aws-sso`) to wrap any shell commands that do not support AWS CLI v2 SSO profiles yet:

[code]

To use:
[code]

[2020-10-19 13:29] thomasmichaelwallace commented on #4838
☝️ it's an interesting solution - the main struggle we have is that we rely on `provider.profile` a lot, where as these effectively create a single profile configuration controlled outside of serverless.

I'm actually planning on picking up @dougmoscrop 's implementation and working that into a PR today.

So hopefully native serverless support for this is in the future...

[2020-10-19 17:33] thomasmichaelwallace commented on #4838
☝️ watch this space.

[2020-10-19 17:33] ransomhall commented on #6400
The bug also occurs if using Secrets manager to store keys and reference them like so:

`api_gateway_keys: ${ssm:/aws/reference/secretsmanager/some_app/${self:provider.stage}/api-gateway-keys~true}`

Secret looks like this:

[code]

[2020-10-19 20:15] syammohanp commented on #6461
Same issue with Serverless 1.65.0
 An error occurred: T*****S31 - Failed to create resource. Unable to validate the following destination configurations See details in CloudWatch Log: yyyy/mm/dd/[$LATEST]6b9b0cceb17e400fb8fb318b09af47b4

How can I see this cloudwatch log without selecting a log group?

Thanks and Regards
Syam

[2020-10-19 21:21] isaacl opened #8416 "Configuration warning for provider.ENVIRONMENT with empty string"
Due to an annoying xray bug, I am overriding lambda's default value of AWS_XRAY_CONTEXT_MISSING with an empty string (`''`).  This generates a configuration warning, but deploys just fine.

[2020-10-19 22:08] fredericbarthelet commented on #8386
@medikoo , I currently have the following plan to trigger definition build at release:

## If release webhook can be used from repo to repo within the organization
- subscribe a new GitHub action in `serverless/typescript` repository to trigger on `release` event `published` action from `serverless/serverless` repository

## If release webhook is not scoped to the whole GitHub organization
- updat

[2020-10-19 22:24] faheel opened #8417 "AWS IAM: using '*' in Resource for some valid actions for Rekognition generates "unsupported configuration format" warning"
According to the [IAM user guide for AWS Rekognition](https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonrekognition.html) using `'*'` is valid as a `Resource` in the IAM role statements for some actions (such as `rekognition:DetectText`):

But a configuration warning is generated that says "unsupported configuration format" when using the following:

[code]

<details>
<summary><code>serv

[2020-10-19 23:18] jeremy-london commented on #6579
Has there been an issue opened the use case @adil-uddin had?

Additionally found my way here after getting caught with the `Id` of the pool rather than the `name`.. it returned the CloudWatch log error

Could you point me the right way to get the online docs updated to add a note to the Existing User Pools Section?
https://www.serverless.com/framework/docs/providers/aws/events/cognito-user-pool#us

[2020-10-19 23:50] noxasaxon commented on #3367
I agree this is needed, and if backwards compatibility is more important then it would be nice to either put this behind a --flag or allow users to specify Raise Error as the fallback variable when it doesn't exist.

It would make things more tedious for people that want errors, but it's better than nothing.
I can't even write a plugin that might address this because plugins are loaded long after

[2020-10-20 02:34] sac-s commented on #149
Split stacks would not solve the issue, as mentioned earlier either raise a support ticket to AWS asking to increase the stack limit, or remove unwanted CF stacks deployed in your account

[2020-10-20 05:12] arpitrider commented on #6094
Where can we enable logs for specific stages, As I need to set cloud watch logs in prod stage. How do i set up that?

[2020-10-20 07:16] coyoteecd commented on #8251
We see this issue as well after upgrading from 1.x to 2.6/2.7

[2020-10-20 11:21] deitch opened #8419 "Deep directories trigger AWS 128 char limit for handler unless restructure zip package"
Deep lambda zip file hits 128 char limit.

I have a repository with many lambdas. For various reasons, the path to the target include (in this case, golang compiled binary, but could be anything) is a few directories deep, each of which has a long filename. AWS doesn't accept handlers that are >128 chars in length. This means that my deploy fails.

Possible solution: Provide the ability to control

[2020-10-20 14:04] foxxor commented on #8401
@medikoo You guys know more than me on this regard. At the moment there's nothing else to add from me.

Since it was mostly an error in our configuration, I think we can close this issue.

Thanks for the support 👍 !

[2020-10-20 14:04] #8401 closed

[2020-10-20 18:45] UdittLamba opened #8421 "Serverless gives "unsupported configuration format" during deploy through TravisCI."
TravisCI somehow does not deploy the environment variables to the Lambda function and gives the following warning on console:
[code]

**My TravisCI.yml:**
[code]

**My serverless.yml:**
[code]

[2020-10-20 19:09] tolgatakir opened #8422 "Configuration error at 'functions.hello': unrecognized property 'custom'"
After serverless framework 2.6.0 version, not able to giving custom properties during function definition. https://github.com/serverless/serverless/pull/8385/commits/97b7a486d2dcc470d2820ea098d1622073dd8080 this change may have caused the problem.
[code]
<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary>

[2020-10-20 21:14] zaldanaraul commented on #8396
Hi @medikoo . I've been working on this issue but I have a couple questions before I submit a first draft:

1. for step 3 of the proposed solution, I'm not sure where inside of [lib/plugins/aws/package/compile/functions/index.js](https://github.com/serverless/serverless/blob/4e49473e154979165da1b4acc02458e733626adf/lib/plugins/aws/package/compile/functions/index.js) I should add the log group poli

[2020-10-21 03:41] luislhl opened #8423 "Configuration warning: unrecognized property 'module'"
I'm getting this warning during deploys when trying to use the functions `module` option, since version 2.7.0.
The same thing works with 2.6.0

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>serverless deploy</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-10-21 03:44] luislhl commented on #8423
I'm not sure if this was the cause, but this commit seems to have changed something related to this validation: https://github.com/serverless/serverless/commit/719fa3a3bf8e5d5dfa135a8225519fc77b719c8e

[2020-10-21 05:19] MatteoInfi opened #8424 "Unable change identity source in a new deployment"
Serverless framework is unable to change the `identitySource` of the authorizer.
My first deployment was the following:

[code]

After that I have changed to this:

[code]

In the AWS console the `IdentitySource` still shows "Auth (header)"

<b>Installed version</b>

[code]

[2020-10-21 08:42] itaykat commented on #4123
Any updates on that one?

[2020-10-21 14:11] jatinpanchalPlutoTV commented on #3267
Hello Team,

Any update or timeline for resolution of this issue?

As i am unable to pass wild card character in artifact name of maven.

[2020-10-21 16:49] corydorning53 opened #8425 "Error that S3 Bucket Already Exists"
When deploying to AWS, I receive the following error, even though this s3 bucket does not exist:
`ServerlessError: An error occurred: S3BucketArtifacts - sast-artifacts already exists.`

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</

[2020-10-21 17:55] ehusaint commented on #5996
I ran into the same problem after I deleted the lambda functions/roles manually. What worked for me:

1. Go to Cloudformation page - https://us-west-2.console.aws.amazon.com/cloudformation/home*.
2. Select the stack and hit delete, the status will change to 'DELETE_IN_PROGRESS'.
3. Wait for few seconds and refresh the page. Most probably the status will change to 'DELETE_FAILED'
4. Select and clic

[2020-10-21 18:03] corydorning53 commented on #8425
I figured out my issue. I am deploying to two AWS accounts and it was only failing in the deployment to the second account. This is because S3 Bucket names have to be universally unique. Doh! Was able to fix it by appending the provider stage to the S3 Bucket name.

[2020-10-21 18:03] #8425 closed

[2020-10-21 20:26] weidox commented on #5996
You don't need to do that hard way, just execute "sls remove", and it will remove properly - just as I wrote the solution above. While deploy fails when there's a function removed, undeploy does work, and after undeploy it's possible to deploy again.

[2020-10-22 02:01] chivmo commented on #3928
+1

[2020-10-22 02:22] ehusaint commented on #5996
Correct and completely agree. But since I had deleted it manually, not realizing it that i could have done using sls command, I had to follow these steps to clean it up. So I thought it would be helpful if you by mistake deleted it manually.

[2020-10-22 03:23] skyblue1010 opened #8426 "gaganmastana"
### Use case description

⚠️⚠️ REPLACE WITH DESCRIPTION

### Proposed solution

⚠️⚠️ REPLACE WITH PROPOSAL

[2020-10-22 06:28] weidox commented on #5996
I'm saying you actually did not need to follow the steps you wrote. When you delete a function manually, you cannot deploy anymore, but you can still undeploy whole stack with serverless command.

[2020-10-22 06:31] weidox commented on #5996
You did not need to follow these steps, after you got your stack corrupted by deleting a function manually, you could execute "sls remove", and it would had done the same you achieved with steps you wrote.

[2020-10-22 13:35] dpetrovaliev commented on #8417
I have got the same issue with the `resourcePolicy` configuration. Would be great if someone raises that issue.

[2020-10-22 16:25] ehusaint commented on #5996
I actually did try that command first and it said, there is nothing to
delete it. I assumed that that was happening because I manually deleted the
function, but that was just my assumption. Hence I had to follow those
steps.

On Wed, Oct 21, 2020 at 11:32 PM weidox <notifications@github.com> wrote:

--
Abde Syedna (TUS)
Husain Tapiya

"Dream as if you'll live forever, Live as if you'll die today"

[2020-10-22 21:43] neverendingqs opened #8430 "CloudFormation resource limit has been increased from 200 to 500"
### Use case description

[CloudFormation resource limit has been increased from 200 to 500](https://aws.amazon.com/about-aws/whats-new/2020/10/aws-cloudformation-now-supports-increased-limits-on-five-service-quotas/). The [warning in the display plugin](https://github.com/serverless/serverless/blob/2d6824cde531ba56758f441b39b5ab018702e866/lib/plugins/aws/info/display.js#L17-L22) can be updated.

[2020-10-23 00:11] JimBiardVexcel opened #8431 "Variable reference passed without interpretation if it contains square brackets."
A variable reference in a serverless.yml file that has a default value containing square brackets is not interpreted and is passed to the serverless-state.json file without interpretation. That is, if you have a variable reference of the form
`${env:TESTVAL, '[0]'}`, that entire string will be written to the JSON file instead of `[0]`. The presence or absence of an environment variable named TESTV

[2020-10-23 08:03] karamage opened #8432 "It fails if I set the lambda timeout to 900 on my first deployment"
Thanks to the development team!

[code]

It fails if I set the lambda timeout to 900 on my first deployment.

but,
・If you set the timeout of lambda to 30 on the first deployment, it will succeed.
・It succeeds if you set lambda's timeout to 900 on the second deployment.

Why is this?

I want to set the lambda timeout to 900 on my first deployment.

Is this a known issue?

Thank you for reading.

[2020-10-23 10:46] HumbleBeck opened #8434 "WebsocketsDeployment doesn't respect custom resources."
I have custom integration API GW websockets - sqs, which requires to add few custom resources like
[code]
Whenever any of those resource is changed after running `sls deploy` api not updates because `WebsocketsDeployment{hash}` stays the same.

The reason behind that in a way deployment id is built for websockets, hash of cloudformation part template without custom resources.
https://github.com/se

[2020-10-23 15:49] dmeiser opened #8435 "Use stage as parameter when building package"
### Use case description

I want to use serverless to deploy to non-production accounts, but then build a production package to be deployed multiple times, sometimes in the same account and region.

Currently, the CloudFormation template has stage name hard coded into multiple places, including LogGroupName and FunctionName. This prevents me from deploying the production package without doing stri

[2020-10-23 19:02] brandonbloom opened #8436 "@serverless/template broken under Yarn 2 (berry)"
I tried to send the @serverless/template repository a PR, but it is archived and I can't find where the package now lives.

The issue is due to an implicit dependency on rambda.

Here's the patch: https://github.com/brandonbloom/template/commit/80aad1aedc089acbc8ac18c65b6b8e54c09dc01b

[2020-10-23 19:27] dmeiser commented on #8435
I just wanted to clarify how this is slightly different from other bugs and feature requests. My intent is to treat the CloudFormation template as an artifact.  There are (at least) 2 ways the current CloudFormation prevents Same Region - Same Account loading:

1. FunctionName would be reused,
1. LogGroupName would be reused.

[2020-10-23 20:13] tommedema commented on #8417
Getting this too with framework version 2.8.0:

[code]

[2020-10-23 20:21] rilpires commented on #2494
I noticed that both ```serverless deploy function``` and ```serverless deploy```  packages my functions the same way, same size, all fine, but only with ```serverless deploy``` that it uploads the zip files to S3 before updating aws lambda code:
[code]

So according to AWS the only limit here is 250MB unzipped, while ```serverless deploy function -f MY_LAMBDA_FUNCTION_1``` uploads directly into aw

[2020-10-23 20:28] tommedema commented on #6461
Also getting this, version 2.8.0

Where can we actually find these cloudwatch logs?

[2020-10-23 20:36] tommedema commented on #3785
What's the serverless team stance on this?

[2020-10-24 06:22] ping2ravi opened #8438 "Unrecognized property ‘documentation’"
NOTE:
1. This issue is coming in documentation plugin but its caused by serverless version 2.6.0, its not caused by plugin itself
2. I have already discussed it on plugin github issue: https://github.com/deliveryhero/serverless-aws-documentation/issues/166
3. I am creating the issue here after discussing it on serverless forum  https://forum.serverless.com/t/unrecognized-property-documentation/128

[2020-10-24 15:44] joekendal commented on #3805
in my case, i just needed to specify the region as well
[code]

[2020-10-25 10:42] FilipPyrek opened #8439 "Use log retention settings for AWS custom resources log group"
### Use case description

When I was studying AWS custom resources in Serverless Framework, I've noticed that there is no log retention being set for the custom resources lambda functions. And when I took a look at AWS Console I could see there "Never expire" in the log retention field even though I've set the `logRetentionInDays: 30` in `serverless.yml`.

### Proposed solution

Here: https://gith

[2020-10-25 15:53] jaska120 commented on #8392
I am experiencing the same issue too.

[2020-10-25 17:14] fredericbarthelet commented on #8438
Hi @ping2ravi , thanks for reporting your issue.

The Serverless framework does indeed implement an `http` event validation since 2.6.0, which does not include `documentation` property.
The `http.documentation` property is solely the scope of the `serverless-aws-documentation` plugin.
All plugin developers are encouraged to include JSON schema definition of their properties for validation, see htt

[2020-10-25 17:31] fredericbarthelet commented on #8423
Hi @luislhl , thanks for reporting your issue.

The commit you reference did in fact remove validation relaxation on function definitions.
You can see the full schema used for validation in https://github.com/serverless/serverless/blob/2d6824cde531ba56758f441b39b5ab018702e866/lib/plugins/aws/provider/awsProvider.js#L776-L845

The `module` property is not defined as a valid function property.
I don

[2020-10-25 17:43] fredericbarthelet commented on #8422
Hi @tolgatakir , thanks for reporting this issue.

Function definition schema validation has been enforced from v2.7.0.
Any properties not defined within function definition below will trigger validation error https://github.com/serverless/serverless/blob/2d6824cde531ba56758f441b39b5ab018702e866/lib/plugins/aws/provider/awsProvider.js#L776-L845

As of today, you can add in `serverless.yaml` root `

[2020-10-25 17:52] fredericbarthelet commented on #8421
Hi @UdittLamba , thanks for reporting this issue.

Serverless service file validation requires `provider.environment` to be an object with all values being either AWS intrinsic functions or a string with a minimum length of 1 character. I see in your `serverless.yml` file that all fallbacks for each of your env variable is the empty string, thus triggering a validation error when this fallback val

[2020-10-25 17:59] fredericbarthelet commented on #8417
Hi @faheel , thanks for reporting this issue.

Changing your IAM description from

[code]

to

[code]

should solve your issue.

Since you're actually targeting all available resources, the listing form of the `Resource` property is not required and you can directly specify `'*'`. Let me know if the problem persists despite this modification.

[2020-10-25 18:04] fredericbarthelet commented on #8416
Hi @isaacl , thanks for reporting your issue.

The current definition for function environment variable requires a string of at least 1 character.
As of today, you can add in `serverless.yaml` root `configValidationMode: off` and it will disable display of those error messages. You however won't benefit from JSON schema validation for other properties of your service file.

@medikoo , do you think

[2020-10-25 23:41] logicalor commented on #3184
The regex update doesn't cover situations where a variable variable may be used.

eg. `${self:custom.${self:custom.someproperty, "default"}.someotherproperty}`

Not sure support for this is intended in Serverless, but the above formatting did resolve prior to the regex update.

[2020-10-26 08:13] mnapoli commented on #3184
@logicalor can you explain what the problem is?

I tested your string and it seems to be covered by the regex, like the rest:

<img width="988" alt="image" src="https://user-images.githubusercontent.com/720328/97148434-6f3adc00-176b-11eb-9e95-740d2b749eac.png">

[2020-10-26 10:09] medikoo commented on #8386
@fredericbarthelet sorry for delayed response. I've just created [serverless/typescript](https://github.com/serverless/typescript/) and provided you with admin rights. Let me know if there's anything else you may need.

Great thanks for taking care of that, I'm sure a lot of contributors will be very thankful for having properly managed TS definitions!

[2020-10-26 10:36] lukeplausin opened #8440 "Cannot use Fn::ImportValue function for ALB event listener due to validation error - 'ServerlessError: Invalid ALB listenerArn in function "app".'"
I'm trying to deploy a serverless function to AWS lambda using the ALB events trigger. The ALB and listener were created in external cloudformation templates, and I'm trying to use an `Fn::ImportValue` function to import the listener ARN.

Since there are different stacks for different environments, it isn't really practical for me to copy and paste the ARN into the serverless.yaml file.

I believ

[2020-10-26 11:15] logicalor commented on #3184
Hi @mnapoli ,

Your example shows that the regex only matches the inner variable within the string.  My understanding is that it should match the entire string.

In v2.2.0 of serverless (ie prior to the release with the regex update), I could do something like this:

[code]
and serverless would interpolate the variable placeholders correctly.

v2.3.0 of serverless and after produce an error with t

[2020-10-26 11:24] fredericbarthelet commented on #8386
@medikoo invitation accepted, thanks :) !

[2020-10-26 11:38] syzhakov commented on #4461
Any update about this one?

[2020-10-26 12:43] medikoo opened #8441 "Test: Refactor lib/plugins/aws/invokeLocal/index.test.js"
Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics, instead of testing whether given implementation really produces desired outcome (treating its implementation more as  a black box).

This is very problematic for eventual internal improvements which occasionally we want to introduce, to make Framework more sol

[2020-10-26 17:02] powelli opened #8442 "OpenAPI API definition integration"
### Use case description
In order to support interface-first design patterns, I would like to create an OpenAPI (previously Swagger) definition for the API I wish to deploy, then have Serverless:
1. Import this definition from an external file or inline
1. Enrich the API definition with integration config to connect API endpoints to Serverless functions (e.g. `x-amazon-apigateway-integration`)
1.

[2020-10-27 09:16] UdittLamba commented on #8421
Thanks for the response, I'll give it a try.

[2020-10-27 11:48] jack1902 opened #8443 "Question: How to enable request validation?"
## Background

So i originally opened https://forum.serverless.com/t/how-do-you-add-a-request-validator-to-api-gateway/12923 on the serverless forums but i haven't had any responses.

I can see https://github.com/serverless/serverless/issues/6172 might be related but i didn't want to hijack that issue hence why i created this one.

## Question

How do i enable request validation in serverless nati

[2020-10-27 12:46] medikoo opened #8444 "Refactor: Seclude "lib/utils/log.js" (general logging) util"
### Use case description

Currently base logging function is configured as `CLI` plugin instance method, which is part of `Serverless` instance.

That makes it hard to rely on it when we have no clear access to `Serverless` instance.

There's technically no reason why this part of logic should be configured as method of `Serverless` dependent instance.

Having it configured as standalone util, wil

[2020-10-27 12:51] michiboo commented on #8444
Hi! Can I try to have a go at this issue?

[2020-10-27 12:53] medikoo commented on #8444
@michiboo definitely! Please go for it!

[2020-10-27 14:03] sschwebler commented on #8440
You can work around this issue by using the ${cf:other-service-name.stack-output-key} variable to reference stack outputs:
[code]

Documented here:
https://www.serverless.com/framework/docs/providers/aws/guide/variables/#reference-cloudformation-outputs

[2020-10-27 15:11] medikoo opened #8445 "Refactor: Seclude "lib/utils/aws/request.js" (AWS request logic) util"
### Use case description

Currently [AWS `request`](https://github.com/serverless/serverless/blob/2d6824cde531ba56758f441b39b5ab018702e866/lib/plugins/aws/provider/awsProvider.js#L1065-L1198) logic is integrated into AWS provider plugin instance, which is part of Serverless instance.

That makes it difficult to rely on it independently, also doesn't allow to easily configure a isolated unit tests

[2020-10-27 16:06] medikoo opened #8446 "Test: Refactor lib/plugins/aws/provider/awsProvider.test.js"
_Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics. While they should be testing whether given implementation produces desired outcome (treating its implementation more as  a black box)._

_Current state of things is problematic for eventual internal improvements and refactors which occasionally we want to int

[2020-10-27 16:07] luislhl commented on #8423
Thanks for your reponse, @fredericbarthelet

Indeed, I didn't find it either. It only exists in the serverless-python-requirements plugin docs: https://www.serverless.com/plugins/serverless-python-requirements

But it is now clearer to me what happened for this to break and that this is a custom field used only by the plugin.

I'll think about the best option for me. Feel free to close the issue i

[2020-10-27 16:23] wkhatch commented on #6771
Yeah, this is also crazy, and still ongoing. They need to fix that delta in yaml config for s3. Totally maddening, imo

[2020-10-27 16:27] medikoo commented on #8416
@isaacl what about setting it to `null`?

@fredericbarthelet I'm not sure about supporting an empty string, as rules on handling this differ per environment (https://unix.stackexchange.com/a/27714/205463) It feels quirky.

If users don't want to set env var but still have it for some reason listed in map, then `null` seems as best way to mark the intent

[2020-10-27 16:36] #8317 closed

[2020-10-27 16:41] medikoo commented on #8417
@faheel  thanks for reporting

I take that if `['*']` is valid per AWS rules, we should also recognize it. Fix for that should be as simple as converting `items` to `anyOf` here: https://github.com/serverless/serverless/blob/479727e1f4363cef1dd2fa1c20bdb9f7f8493838/lib/plugins/aws/provider/awsProvider.js#L334 and adding recognition for `{ const: '*' }`

[2020-10-27 16:44] medikoo commented on #6579
@jeremy-london docs are handled here: https://github.com/serverless/serverless/blob/master/docs/providers/aws/events/cognito-user-pool.md

[2020-10-27 16:45] medikoo commented on #3367
@noxasaxon have you read my proposal? Also PR that implements it, is very welcome

[2020-10-27 16:47] medikoo commented on #8251
@coyoteecd check: https://github.com/serverless/serverless/issues/8392#issuecomment-707660622

[2020-10-27 16:58] isaacl commented on #8416
I’d prefer to unset it. But I don’t know of a way to unset a [default env variable](https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime).

And X-ray treats empty string the same as unset. my need is going away next X-ray sdk release, but perhaps others may want to unset default environment vars?

I’m not sure about null but CF didn’t allow undefine

[2020-10-27 17:02] medikoo commented on #8419
@deitch great thanks for that report.

I'll be happy to accept the right solution, but first I'd like to well understand the case and the problem.

From above report, it's not clear to me why lambda is located few directories deep, and why it's not easy to recover from this kind of files organization, into something that will result with reliable and acceptable by AWS path to lambda handler.

Can

[2020-10-27 17:12] deitch commented on #8419
Sure. The source code language for the lambdas may be different things, and may include lots of levels of depth. The build mechanism and pipeline also might be different mechanisms, which have different opinions as to how to structure directories of output.

The basic problem is that we don't always have control over the build mechanism and its output directory structure. It would be nice if they

[2020-10-27 18:17] tfnaylor commented on #4138
Incredibly, this is still a problem with  1.78.1 in my CI/CD pipeline. It works fine on my MacBook locally, but fails with the exact same problem mentioned above on my Linux pipeline deployment image. This is such a major headache not being able to add a simple tag...

[2020-10-27 18:28] dls314 commented on #4471
Leaving breadcrumbs :-)

I've seen this issue when there was no actual change to the event source mapping, but the syntax of the template changed around the use of `Fn::GetAtt` from the short-form with dot-notation to the long form with array notation. This was for an SQS event source mapping.

[2020-10-27 20:22] medikoo commented on #8421
@UdittLamba this bug tracker is strictly for confirmed bug reports and feature requests.

For general support please see https://forum.serverless.com/ or https://www.serverless.com/slack

[2020-10-27 20:27] medikoo commented on #8422
Yes, we definitely can provide `defineFunctionProperties`. Currently function properties can only be defined by plugins which bring new provider support, but I think there's no reason to block plugins which extend the provider implementation from defining their own _function_ properties.

PR that brings that is definitely welcome!

[2020-10-27 21:53] hugomn commented on #5228
Do we have any solutions for using variables in arrays inside serverless.yml?

[2020-10-27 22:09] luislhl commented on #8422
I could give this a try if you think this is a good first issue and with some initial orientation. I'm also interested in this improvement.

[2020-10-28 00:46] viniciusvasti commented on #8210
Hi guys.
Is this feature coming soon?

[2020-10-28 01:37] SeoHyunDeock opened #8448 "aws cloudwatch event must have stage by stage"
[MY ENV]
[code]

[My serverless.yml]
[code]

I am trying to implement lambda scheduling with a cloudwatch event trigger using serverless.

First, I created a simple handler function, hooked up a cloudwatch event to a lambda, and tested the deployment by stage.

In aws it is possible to connect one cloudwatch event to multiple lambdas.

However, it seems impossible to attach one cloudwatch event to

[2020-10-28 02:21] huangweijin commented on #6679
Any update? This is blocking me to use. the server-mocha-plugin which hangs after the tests are executed.

[2020-10-28 02:46] danmoore83 commented on #6679
Been having this issue past few days in both Serverless Offline and the deployed Lambda on AWS.
The Firebase database connection keeps the process running, and simply adding the following worked after my firebase usage was done.
`firebase.app().delete()`

[2020-10-28 04:34] vbichkovsky opened #8449 "Dashboard integration significantly introduces Lambda duration"
Enabling Dashboard integration via setting org and app properties in serverless.yml while using webpack packaging and aws-sdk as a runtime dependency, results in significant Lambda runtime duration when an error occurs in the handler.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary>I've prepared a sample project in a public repo: https://github.com

[2020-10-28 05:06] Maxgit3 commented on #8441
May I work on this issue?

[2020-10-28 08:36] coyoteecd commented on #8251
@medikoo I already read the related tickets; I don't like the workaround of modifying all the lambdas. When it becomes annoying I'll probably try disabling versions instead, or rolling back to 2.2.0. But I'd rather see this fixed.

I saw this error several times, including when deploying locally to a dev stage. What I noticed till now is that when it fails, it fails repeatedly. That means once it

[2020-10-28 08:43] medikoo commented on #8396
@zaldanaraul sorry for late response! Great thanks for questions see my answers

Yes, exactly.

Yes, however I think we need to populate IAM role before `'aws:package:finalize'` is spawned, so order should be:

[code]

Currently we're adding  principals to `AssumeRolePolicyDocument` IAM role property e.g. in case of CloudFront event here: https://github.com/serverless/serverless/blob/989bd66469986

[2020-10-28 08:48] medikoo commented on #8422
@luislhl that'll be very welcome!

Technically it's about implementation of `defineFunctionProperties` somewhere here https://github.com/serverless/serverless/blob/989bd664699860f130c2172335a185b336fe04a6/lib/classes/ConfigSchemaHandler/index.js#L208 (there are other similar functions defined there, which should serve as a hint, otherwise I'm also happy to answer any questions)

Additionally we sh

[2020-10-28 08:49] medikoo commented on #8423
This issue is about same issue as we discuss at https://github.com/serverless/serverless/issues/8422, I'm going to close it, and let's follow discussion over there.

[2020-10-28 08:49] medikoo commented on #8423
Duplicate of #8422

[2020-10-28 08:49] #8423 closed

[2020-10-28 08:51] medikoo commented on #8424
@MatteoInfi please respect bug template remarks fully. We need full answers for all questions, provide info as above is not good enough for us to reproduce the problem.

[2020-10-28 09:12] medikoo commented on #3928
I've updated main description with solution proposal. PR's welcome!

[2020-10-28 09:12] #8426 closed

[2020-10-28 10:14] medikoo commented on #8430
@neverendingqs great thanks for that. Your proposal looks very good. I wouldn't update blog post though, it's historical and that should be clear.

PR that updates the warning is very welcome!

[2020-10-28 10:16] medikoo commented on #8431
@JimBiardVexcel you're relying on highly outdated version of a Framework, please upgrade

[2020-10-28 10:17] medikoo commented on #8432
@karamage please respect all bug template remark and provide full answer to all questions.

Additionally you're relying on outdated version of a Framework

[2020-10-28 10:21] medikoo commented on #8430
Closing as it was actually addressed by https://github.com/serverless/serverless/pull/8433

[2020-10-28 10:21] #8430 closed

[2020-10-28 10:22] JimBiardVexcel commented on #8431
@medikoo Not my call to upgrade.

[2020-10-28 10:39] jack1902 commented on #8210
@viniciusvasti do you know if these resources are available in Cloudformation? Since until a resource is available in Cloudformation, Serverless is powerless to do anything in regards to supporting it

[2020-10-28 11:03] medikoo commented on #8434
@HumbleBeck thanks for report. I've investigated the case, and it appears that when addressing https://github.com/serverless/serverless/issues/5940 we've gone one step to far.

Logic that currently generates the hash, was meant to ensure that lack of changes in Websocket configurations are detected properly when deciding on whether we can skip the deployment or not.

It was supposed to follow simi

[2020-10-28 11:05] #3343 closed

[2020-10-28 11:10] medikoo commented on #8435
Duplicate of https://github.com/serverless/serverless/issues/3528

[2020-10-28 11:10] #8435 closed

[2020-10-28 11:13] medikoo commented on #8438
This issue is about same issue as we discuss at #8422, I'm going to close it, and let's follow discussion over there.

[2020-10-28 11:13] medikoo commented on #8438
Duplicate of #8422

[2020-10-28 11:13] #8438 closed

[2020-10-28 11:16] medikoo commented on #8439
@FilipPyrek good call! Please propose a PR with your change, we're definitely open to take it

[2020-10-28 11:17] medikoo commented on #8392
@jaska120 have you tried suggestion mentioned in this comment: https://github.com/serverless/serverless/issues/8392#issuecomment-707660622 ?

[2020-10-28 11:21] medikoo commented on #3184
@logicalor can you open a new bug report with all the details? (this issue was closed and it addressed other issue)

[2020-10-28 11:31] medikoo commented on #8440
@lukeplausin you're using a heavily outdated version of a Framework, please upgrade

[2020-10-28 12:01] jaska120 commented on #8392
@medikoo for now `2.2.0` is sufficient for us. I didn't try the mentioned suggestion, since I wasn't sure if it would be a one time fix or if all the future deploys should be working after new hashes have been generated once for all functions. Could you confirm which should be the case? It the latter then I am up to try the suggestion.

[2020-10-28 12:19] medikoo commented on #8442
@powelli great thanks for this proposal. We're definitely open to have that in. One question for start:

Can you elaborate on that. It'll generate it and expose internally? Save to some file? What would be the intended usage of expanded  OpenAPI definition (in simpler form maintained in local file) ?

[2020-10-28 12:34] medikoo commented on #8443
@jack1902 sorry by we do not handle general support requests in scope of this issue tracker

Please see https://forum.serverless.com/ https://www.serverless.com/slack or Stack Overflow

[2020-10-28 12:39] medikoo commented on #6771
@wkhatch Such configuration errors are now neatly reported by our config schema based validation. Ensure to use latest version of a Framework

[2020-10-28 12:48] medikoo commented on #8416
`null` is for a Framework handling logic, which would enforce same treatment as if env var was not defined at all. I believe `null` value won't be propagated to CF (and `undefined` are not a valid JSON values, so naturally they're not propagated to CF)

[2020-10-28 12:53] medikoo commented on #8419
Unfortunately no. It's same not clear to me as it was. Can you provide a specific example? Best if it's as simple as possible.

Also it's I believe a first report of that issue. This means that this problem is rather not common among Go lang developers (?)

We also prefer to minimize Framework feature set, adding only those backed by demand and valid use cases.

[2020-10-28 13:01] jack1902 commented on #8443
Will reach out on slack as I've had no luck on the forum

[2020-10-28 13:33] deitch commented on #8419
Not exactly. I think it is similar to the issue I linked above #3366

I will try. I am working with someone on this, I will see if he can provide a working example without confidential code in it.

Yeah, it is the first I came across it too. But, I do understand it. Let me get a better sample.

[2020-10-28 13:34] jansinger commented on #8210
@jack1902 The Cloudformation resource [AWS::ApiGatewayV2::Authorizer](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-apigatewayv2-authorizer.html) allows at least Lambda Authorizers, see AuthorizerType: REQUEST and AuthorizerUri properties.

At the moment we are creating the Authorizer itself as a resource through Serverless and attach it to the route with an ApiGatewa

[2020-10-28 13:37] medikoo commented on #8448
@SeoHyunDeock  this tracker is purely for confirmed bug reports and feature requests.

For general support please see https://forum.serverless.com/,  https://www.serverless.com/slack or http://stackoverflow.com/questions/tagged/serverless-framework

[2020-10-28 13:44] medikoo commented on #8449
@vbichkovsky Is issue also present when webpack plugin is not used?

[2020-10-28 13:45] medikoo commented on #8441
@Maxgit3 definitely, go for it!

[2020-10-28 13:45] Bersaelor commented on #8392
@jaska120 for me, changing one method that is imported into all my lambda functions was enough.
Once I had done this after updating to post-2.2.0 the error never appeared again. I guess I just had to make sure all method were hashed with the new hash function.

[2020-10-28 13:50] medikoo commented on #8251
@coyoteecd if you feel that you're dealing with other problems than described here and #8392, then ideally if you open another issue with good explanation and minimal test case that will allow us to introduce the problem.

In other case, ideally let's agree on a proper solution here and deliver PR so matter is finally addressed.

[2020-10-28 13:53] medikoo commented on #8431
@JimBiardVexcel Sorry but we no longer support v1 (eventually only security fixes go there)

[2020-10-28 14:04] JimBiardVexcel commented on #8431
@medikoo Is the problem reproducible with a newer version? You have all the resources you need to get the answer.

[2020-10-28 14:09] coyoteecd commented on #8251
No, I think I just misunderstood that comment. [This other comment](https://github.com/serverless/serverless/issues/8392#issuecomment-717943477) just clarified it. Somehow I thought that I had to modify the lambdas on every deploy, when in fact it seems that once I successfully deploy all functions with serverless 2.8, the error would not reappear.

[2020-10-28 14:40] thomasmichaelwallace commented on #4838
So - there's quite a lot of refactoring planned for/around the files that need to be touched by this PR.

Unfortunately I don't have the time to look at these (#8441, #8444, #8445, #8446 - for anyone that does.) Once they're clear I'll come back and get the PR back up off the ground again.

I need this feature, now, however, and so I'll be maintaining a patch with the core (support for `credential

[2020-10-28 14:47] deitch commented on #8419
I will try to do a better job explaining it.

Imagine you have a repo with 20 distinct functions. From a _technology_ perspective, these could be:

[code]

But that actually makes life complicated for engineers building it. It isn't 20 completely distinct functions. These functions serve a business purpose, and so group together. Three of them might be activities dealing with `partners` (get a par

[2020-10-28 14:48] medikoo commented on #8431
@JimBiardVexcel I don't have resources to handle general support requests.

Please check following for that:
- https://forum.serverless.com/
- https://www.serverless.com/slack
- http://stackoverflow.com/questions/tagged/serverless-framework

[2020-10-28 15:02] ranneyd commented on #8210
That's pretty smart!

[2020-10-28 15:12] morgler commented on #6579
I tried referencing the Cognito pool by all these methods, but all gave the `Failed to create resource` error:

- ARN
- Pool-ID (eu-central_…)
- Name (as the title in the AWS console)
- Normalized name (CognitoUserPool<Pool-ID>)
- Normalized name using name (CognitoUserPool<NameFromConsole>)

The user pool and the lambda function are in the same region (eu-central-1). What am I missing?

[2020-10-28 15:27] eshikerya commented on #8210
@jansinger could you provide an example, pls? it would be helpful for me to do the same:) at least as temporary solution

[2020-10-28 16:07] jansinger commented on #8210
@eshikerya sure

serverless.yaml (only relevant parts)
[code]

output.js
[code]

Disclaimer: this is a not tested modified extract from our sources.

[2020-10-28 16:15] jack1902 commented on #8210
@ jansinger are you able to contribute back to `serverless` for this piece (also please use a spoiler to hide the massive paste of yml)

[2020-10-28 16:25] #8443 closed

[2020-10-28 22:51] michael-kiley-verified commented on #4588
@jamesladd [This](https://michael-kiley.medium.com/one-step-aws-cognito-user-pool-with-lambda-triggers-using-serverless-framework-d3bdf07b62c1) article also describes how to add custom triggers to a cognito pool that you have added in custom resources in more detail.

[2020-10-28 23:13] michael-kiley-verified commented on #5282
@Studio2133
When you add a cognitoUserPool event to a lambda, Serverless automatically generates a new Cognito User Pool and adds it to your generated CloudFormation template. The CloudFormation logical resource name of this pool is CognitoUserPool{normalizedPoolId}, where normalizedPoolId is the name you provide for pool in your cognitoUserPool event. This is the pool that the trigger will be con

[2020-10-29 08:50] medikoo commented on #8419
@deitch great thanks for explaining that. It's all clearer now.

I believe what we need in such case is custom dedicated Got lambda packager. We have similar issues with other runtimes e.g. see https://github.com/serverless/serverless/issues/3267, and we agreed that best way to approach this would be to allow to customize packaging approach per provider/runtime.

There's a  dedicated issue for imp

[2020-10-29 09:03] medikoo commented on #6579
@morgler For general support please check:
- https://forum.serverless.com/
- https://www.serverless.com/slack
- http://stackoverflow.com/questions/tagged/serverless-framework

[2020-10-29 09:07] morgler commented on #6579
@medikoo thanks. I figured it out and it worked by just using the plain name given to the user pool without any prefixes.

Might be helpful on this case for people also getting the error: use the plain name without prefixes (not the ID, not the ARN).

[2020-10-29 09:12] deitch commented on #8419
it is a good thing you did. I realized I couldn't explain it well enough, which meant I didn't understand it well enough, so I went back to the eng team.

Yeah, I can see that with Java packaging.

So the plan is to have a pluggable or controllable packaging system? And then we can plug something in here as well?

[2020-10-29 09:16] medikoo commented on #8419
Exactly, it's a special case that best if has dedicated packaging logic.

[2020-10-29 11:02] BranKohlschreiber commented on #5996
also used this command, got an error with a hint to use "alias remove". Alias remove did throw the same error as deploy, had to delete everything by hand like @ehusaint

[2020-10-29 11:28] #8088 closed

[2020-10-29 11:53] #8417 closed

[2020-10-29 12:31] medikoo commented on #3616
I've updated main description with implementation proposal. PR's welcome!

[2020-10-29 13:10] medikoo commented on #3651
We've improved documentation on internals and how to contribute in last months.

Check:
- [Framework Anatomy](https://github.com/serverless/serverless/blob/master/docs/anatomy.md)
- [How to contribute](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#how-to-contribute-to-serverless)
- [How to write tests](https://github.com/serverless/serverless/blob/master/test/README.md)

We

[2020-10-29 13:10] #3651 closed

[2020-10-29 13:11] medikoo commented on #3655
I believe it was addressed with https://github.com/serverless/serverless/pull/6554

[2020-10-29 13:11] #3655 closed

[2020-10-29 14:21] chinnshan commented on #5519
Better solution would be to use
[code]
Also, mentioning sqs queue arn in SNS policy resource does not look right.

[2020-10-29 20:00] isaacl commented on #8416
So then, no neither of those work. I'm trying to unset (or unset as close as the framework allows) a preexisting env var.

[2020-10-29 20:06] medikoo commented on #8416
Do you mean that setting value to `null` doesn't work? What error you get?

[2020-10-29 21:46] humodz opened #8454 "(AWS) usagePlans: if quota isn't present, throttle is silently ignored"
API Gateway allows an Usage Plan to have Throttling without having Quota, and vice versa. However, if quota isn't specified in serverless.yml, then throttle is silently ignored.

In the generated CloudFormation template (provided below), the "both" and "only-quota" Usage Plans are as expected, but "only-throttle" is missing the Throttle configuration.

<details>
<summary><code>serverless.yml</code

[2020-10-30 01:28] luislhl commented on #8422
Great! Thanks for the introduction.

I'll dive deeper into this then, probably this weekend, and hope to bring some updates soon.

[2020-10-30 03:33] isaacl commented on #8416
Same error with both null and leaving yaml as `value: ` (which maybe is implicitly null?)

[code]

[2020-10-30 09:39] medikoo opened #8455 "Test: Refactor lib/plugins/aws/package/compile/events/eventBridge/index.test.js"
Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics. While they should be testing whether given implementation produces desired outcome (treating its implementation more as  a black box).

Current state of things is problematic for eventual internal improvements which occasionally we want to introduce, as in mos

[2020-10-30 11:02] tolgatakir commented on #8422
Hi,
The plugin developers decided to add definition to the following codebases for the features used by their plugins with using 'configSchemaHandler.defineFunctionEvent'.  I'm closing this problem.
Thanks.

[2020-10-30 11:31] medikoo opened #8457 "Refactor: Clear "that = this" pattern from codebase"
### Use case description

`that = this` Resembles questionable and heavily outdated pattern.

It was used before we had arrow functions, to maintain access to `this` across nested function references, with arrow functions `this` is shared and cases can be referenced directly

### Proposed solution

Simply remove `const that = this` and replace all `that` references with `this` (mind eventual non-a

[2020-10-30 12:22] DianaIonita opened #8458 "Extending configuration validation for `http` events"
### Use case description

As a plugin creator
I want to be able to add configuration validation to the `http` event that my plugin extends
So that a plugin user is informed in case they misconfigure it

### What I have tried
If my plugin has a configuration like this:
[code]

I have tried to define it like this, but it seems that this overrides the whole `http` event validation:
[code]

### Propos

[2020-10-30 13:17] bwpedro commented on #4746
Hi, I'm using docker to test it **locally** and it works! but it takes forever in "Excluding development dependencies" step.

[code]

It seems like it needs to deploy all functions before executing the **local** test.

In my case I have 3 functions in serveless.yml, one "Excluding development dependencies" for each function.

I was trying in a different project which I have more than 30 functions

[2020-10-30 13:23] michiboo commented on #8444
@medikoo I couldn't find the file log.test.js, should I create a new one?

[2020-10-30 13:38] nykolaslima opened #8459 "Serverless 2.9.0 breaks retro compatibility with XRay tracking"
After serverless 2.9.0 release, the XRay tracing stopped working throwing the following error:
[code]

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-10-30 14:26] medikoo commented on #8454
@humodz thanks for report.

Indeed it's a regression introduced with https://github.com/serverless/serverless/pull/8460

We can see that due to copy paste, `usagePlan.throttle` was replaced with `usagePlan.quote` https://github.com/serverless/serverless/commit/7bbd04a6933c1631646f16670e3d85c357450e7a#diff-825e8b84a59477e9dc1f90d39ebeef78fb335ca6cc4d88ecfcc19b4fec79e30f (cc @andreizet )

PR with a

[2020-10-30 14:39] medikoo commented on #8416
@isaacl in such case it's a question of improving handling in a Framework, so `null` values are discarded and not passed to CloudFormation.

I would actually tackle it generically, and clear all `null` properties from generated CF template, right before sending it down to AWS. So here: https://github.com/serverless/serverless/blob/2b0f157ab2a436534182c50b69daa1302dc0d4f2/lib/plugins/aws/package/in

[2020-10-30 14:49] medikoo commented on #8458
@DianaIonita great thanks for that request. We're definitely open for PR that brings that in!

[2020-10-30 14:50] medikoo commented on #8444
Yes, the `log` util doesn't exist same as test file for it. We should create both files

[2020-10-30 14:54] isaacl commented on #8416
Again, this environment variable is present for all lambda functions unless it's overridden in CF.

[2020-10-30 16:51] #8031 closed

[2020-10-30 16:56] medikoo commented on #8416
what do you mean by _"present"_ ? Do  you mean that when value is set to `null`, service deploy fine and this env variable is present? With what value it is present?

[2020-10-30 16:59] medikoo commented on #8459
@nykolaslima thanks for report, but I'm not able to reproduce that.

I've just deployed the service as in your example (exactly this one: https://github.com/medikoo/test-serverless/blob/issue-8459/serverless.yml), and deployment went without any issues.

[2020-10-30 19:45] isaacl commented on #8416
No the service does not deploy with null. Are you suggesting that
serverless convert null into an empty string for CF??

https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html#configuration-envvars-runtime

Has a table of default environment vars. The second table is ones that are
present by default but allowed to be overridden by user.

On Fri, Oct 30, 2020 at 12:56 PM Mariusz No

[2020-10-30 22:24] MatthewBerk commented on #8457
Hello, I am new to contributing. I am not well versed in JavaScript, though I would like to help with this issue since it seems to be a simple find and replace. Could you guide me through this issue?

[2020-10-31 12:24] bwpedro opened #8461 "Go local test takes forever in "Excluding development dependencies" step."
In my serverless project I have a mix of node.js and golang lambdas.

When I run `serverless invoke local --function ${functionName} --path ${path}` in node.js it runs just fine.

But when I try to run the same thing with a go function (**using docker #4746**), serverless takes forever in the "Excluding development dependencies" step.

It seems like it needs to deploy all functions before executin

[2020-10-31 14:15] MatteoInfi commented on #8424
up

[2020-10-31 18:01] shadowdogg commented on #5034
Don't suppose you could be a bit more specific for people like me please.

This is what I got from your description:

[code]

[2020-10-31 20:06] luislhl commented on #8422
I have opened a PR on this, waiting for review: https://github.com/serverless/serverless/pull/8462

[2020-11-01 02:37] caiobessa commented on #8455
Hey, @medikoo is it still relevant? I would like to work on it if is possible.

[2020-11-01 17:54] medikoo commented on #8455
@caiobessa yes it's definitely relevant. We look forward for the PR. Thank you!

[2020-11-02 08:46] medikoo commented on #8416
serverless convert null into an empty string for CF??

No, serverless should treat `null` as env var not being set at all (not present in CF config)

[2020-11-02 09:02] Pitasi commented on #5034
@shadowdogg iirc you just need to add this at the bottom of your `serverless.yml`:

[code]

(note how I used ApiGatewayMethod**ListGet** since your handlest it's called `list` and the method is `get`)

[2020-11-02 09:17] #8439 closed

[2020-11-02 09:27] medikoo commented on #8461
@bwpedro please respect all bug template remarks and answer all questions carefully.

Note that as bug template states you need to put all the plugins out of a picture, otherwise it's likely that plugins are cause of the issue and in such case issue belongs to their repository

[2020-11-02 09:27] medikoo commented on #8461
Othwerwise, for general support please check:
- https://forum.serverless.com/
- https://www.serverless.com/slack
- http://stackoverflow.com/questions/tagged/serverless-framework

[2020-11-02 09:28] #8424 closed

[2020-11-02 10:29] #8457 closed

[2020-11-02 11:58] isaacl commented on #8416
So that doesn't achieve my goal (of overwriting the default value)

[2020-11-02 13:21] medikoo commented on #8457
@MatthewBerk it's simply about searching for `that = this` and clearing this out.

Anyway it was already perfectly addressed by @telenord you may check the PR

[2020-11-02 13:24] medikoo commented on #8416
@isaacl Sorry, somehow I missed that it's about env var that's set by default in AWS environment, which you want to clear.

So you say that setting this to `''` (empty strings) brings desired effect? If so, then I believe we definitely need to allow that notation by schema.

[2020-11-02 14:02] andreizet commented on #8454
Please assign it to me. I've just double checked that merge request and it seems that `usagePlan.throttle` -> `usagePlan.quote` was the only issue.

[2020-11-02 14:50] isaacl commented on #8416
yes, the config [checks for truthiness](https://github.com/aws/aws-xray-sdk-node/blob/fdbbdf7b7e788a70d23d25637296b254a6171a2f/packages/core/lib/context_utils.js#L199), and empty string evaluates to false.

But after next release I can use ['IGNORE_ERROR'](https://github.com/aws/aws-xray-sdk-node/pull/345) instead of empty string.  So my use case is only temporary.

[2020-11-02 14:54] bwpedro commented on #8461
Thanks for the answer @medikoo.

All plugins are out of picture. I said that in the end of the issue description.

About the template, I'll edit the issue. I'm sorry.

[2020-11-02 15:56] mtin79 opened #8464 ""sls login" results in warnings "unsupported configuration format" regarding ${param:....} in the environment - section"
Hi there,
we upgraded from serverless version 1 to version 2.

after executing "sls login" we get the following warnings display:
[code]

the serverless.yml in the warned about section looks like this:
[code]

[2020-11-02 16:17] medikoo opened #8465 "Deprecate an object notation of `service`"
### Use case description

Once we've deprecated `service.awsKmsKeyArn`, there seems no reason to support object notation for `service` property.
We do not intent adding support for any properties in it.

### Proposed solution

[Deprecate](https://github.com/serverless/serverless/blob/master/CONTRIBUTING.md#configuring-deprecations) usage of object notation form at: https://github.com/serverless/se

[2020-11-02 16:33] medikoo commented on #8464
@mtin79 Please respect the bug report template fully, and provide answers for all questions.

[2020-11-02 17:30] shadowdogg commented on #5034
Yeah, still doesn't work for me

The CloudFormation template is invalid: Template format error: [/Resources/ApiGatewayMethodListGet] Every Resources object must contain a Type member.

[2020-11-03 05:08] A-5ingh commented on #8465
@medikoo I can pick it up, if you can guide a little on the proposed solution.

[2020-11-03 09:02] #8422 closed

[2020-11-03 09:14] medikoo commented on #8465
@A-5ingh that'll be great! What exactly seems unclear?

[2020-11-03 09:29] abdulhub commented on #3958
I got the same issue.  but it worked after upgrading NodeJS to 10.x and SET NODE_TLS_REJECT_UNAUTHORIZED=0

[2020-11-03 09:53] A-5ingh commented on #8465
What should be the deprecated code and message ? and the deprecated._logDescription should be called just before the if statement. I'm very new to serverless and open source contribution so the questions might be obvious.

[2020-11-03 10:34] medikoo commented on #8465
I propose: `SERVICE_OBJECT_NOTATION` and _Starting from next major object notation for "service" property will no longer be recognized. Set "service" property directly with service name._

We call deprecation when deprecated functionality is being used. In issue description I've linked code point where that happed

[2020-11-03 11:41] A-5ingh commented on #8465
@medikoo I have made the required changes for logging deprecated message. Please let me know if anything else is required.

[2020-11-03 13:09] medikoo commented on #8436
@brandonbloom thanks for reporting.

Indeed, there was actually a PR with a fix for that: https://github.com/serverless/template/pull/11 (cc @eahefnawy )

Anyway, I've just released v1.1.4 with this patch, so issue should be gone now

[2020-11-03 13:09] #8436 closed

[2020-11-03 13:27] #8416 closed

[2020-11-03 14:39] chrisdpeters commented on #3631
FYI, I prefer using the `--stage production` key in the CLI to deploy to production. My version of the workaround had to look like this:

[code]

[2020-11-03 16:14] jshaver-emsi commented on #3785
Ran into this today.  Is this still not fixed in newer versions?

[2020-11-03 18:10] weidox commented on #5996
Seems then there happens different types of corruption - one where sls remove says there's nothing to remove, where it's failing and where it just works. Which is strange for the same scenario, manual function removal.

[2020-11-04 11:56] manusgallagher commented on #3785
Ran into this today also, not keen on tearing down production resources just to rebuild them with the new path variable name

[2020-11-04 16:35] #8465 closed

[2020-11-04 16:51] fredericbarthelet commented on #8438
@medikoo this issue is not a duplicate from #8422
#8422 solved `serverless-plugin-thundra` plugin requirements regarding function property.

`serverless-aws-documentation` plugin requires the ability to add property on **existing event schema** provisioned with `aws` plugin (actually core to serverless repo), like the `http` trigger type in the example detailed in this issue. More specificaly, the

[2020-11-04 19:38] medikoo commented on #8438
@fredericbarthelet thanks for pointing, in that case we may treat it as duplicate of https://github.com/serverless/serverless/issues/8458

[2020-11-04 20:41] medikoo opened #8473 "Consider dropping autocomplete (tab tab) support"
### Use case description

It's a feature that doesn't seem to work well, and it's unlikely many s are using it, while attributes to technical debt

### Proposed solution

Simply remove all it's related  implementation located at following locations:

- https://github.com/serverless/serverless/blob/c0a2ecf453fa82d46bf2fda34708864bc440203d/scripts/serverless.js#L11-L14
- https://github.com/serverles

[2020-11-05 11:23] surajitkundu-dazn opened #8477 "Support App Config variables in serverless"
Q1: Describe the problem (use case) that needs to be solved
         In AWS we have new service APP Config to manage application configuration, Can Serverless support to get variables from App Config

### Use case description

With the support of App Config we can manage the application configuration very easily, and we can deeploy the serverless application much better way.

Q2: Propose solution

[2020-11-05 12:23] medikoo commented on #8477
@surajitkundu-dazn Thanks for proposal.

We're definitely open to introduce such support.

It'll be great to first propose some spec, which will answer the questions:

1. How references to App Config will be constructed in our variables format
2. What SDK methods we will use to resolve the wanted values

[2020-11-05 13:34] surajitkundu-dazn commented on #8477
@medikoo thanks for your reply , App Config store the configuration parameter either in json or yml or from parameter store or parameter docs, so iff we can map that json or yml config to the same way we do to extract variable from external yml I think it would work, for reference boto3 has such sdk to extrac the config

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ap

[2020-11-05 13:36] medikoo commented on #8477
@surajitkundu-dazn thanks, so you suggest it may work similiar as `file:` extension.

Can you prepare a spec as indicated in comment above?

[2020-11-05 15:20] medikoo opened #8478 "Tests refactor: Move all unit tests to "test/unit" folder"
### Use case description

Removing tests from folders in which we keep implementation will:
- Make implementation folders cleaner and less noisy
- Will allow to easily reduce the package publication size

### Proposed solution

- Move all test files one by one into `test/unit` folder, with help of [movejs](https://github.com/medikoo/movejs#readme) utility (it ensures efficient require paths rewrit

[2020-11-05 15:21] vaunus commented on #8325
+1 as I have come across a need for this feature as well.

[2020-11-05 15:22] medikoo commented on #8325
@vaunus can you help finalizing https://github.com/serverless/serverless/pull/8315 ? There's not much really left

[2020-11-05 17:44] onhate opened #8479 "Stack remove fail to remove EventBridge because it has rules associated"
Because I use the same EventBridge on many lambdas I have to create the EventBridge resource separated and add events (rules) pointing to the Eventbus's Arn

[code]

I have tried reproducing this issue with smaller set of resources and tried to create a smaller serverless.yml but I did not succeed, my stack is pretty big we have about 180 resources, the only plugin we have is serverless-webpack an

[2020-11-05 18:11] onhate commented on #8479
Looks like it will get solved with https://github.com/serverless/serverless/pull/8437

[2020-11-05 22:10] RichardBronosky commented on #7369
@c0d3d what is `frameworkId` and why did you redact it?

[2020-11-05 22:18] c0d3d commented on #7369
@RichardBronosky I don't know what it is, and I wasn't sure if it was sensitive, so I removed it from my diff.

[2020-11-06 09:35] Jaystified opened #8480 "2.10.0 breaks externally acquired cloudwatch log events in lambda deployments"
I am unable to deploy lambdas triggered by cloudwatch logs since upgrading to 2.10.0 , when the list of events is determined in an external file.
(Placing the event in the yaml file directly works around the issue, but my use case requires getting a list of logs dynamically from aws)
The below example works on 2.9.0 .

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>
<d

[2020-11-06 11:04] medikoo commented on #8479
@onhate If I see correctly error relates to resource you configure in `resources` scope, and in that case it shouldn't be treated as Framework flaw (Framework has no understanding of such resources, it just add them to generated CF template)

What possibly can help in a meantime is ensuring that `EventBus` is listed in `DependsOn` section of generated EventBridge custom resource. You may achieve i

[2020-11-06 11:53] medikoo commented on #8455
@caiobessa did yo have a chance to look into it? :)

Currently this is blocking for https://github.com/serverless/serverless/pull/8437 So if for some reason you don't have resources to address it right now, it's totally fine, just let us know, so we can take over.

/cc @stuartforrest-infinity

[2020-11-06 12:05] pal commented on #6778
Any fix for this available?

[2020-11-06 12:10] medikoo opened #8481 "Improve schema definition methods"
### Use case description

We allow to extend schemas with new properties via dedicated methods. Still currently they silently treat eventual overrides. e.g. one can override `functions[].events` property, which could be breaking for internals.

Ideally those methods should not allow overrides and crash whenever it is attempted. It'll also signal eventual collision between plugins if they try to de

[2020-11-06 13:21] medikoo commented on #8480
@Jaystified great thanks for reporting. Will be fixed with #8482

[2020-11-06 13:50] caiobessa commented on #8455
@medikoo Hi, I will submit the PR today, It is missing just one test to be finished

[2020-11-06 13:51] #8480 closed

[2020-11-06 13:53] #8458 closed

[2020-11-06 13:54] medikoo commented on #8455
@caiobessa great to hear that. We look forward 👍

[2020-11-06 17:10] caiobessa commented on #8455
@medikoo @stuartforrest-infinity  The PR is in #8484 . Thanks a lot for wait.

[2020-11-06 19:50] onhate commented on #8479
@medikoo it makes sense, but even though I see the custom resources lambda being deployed and I think it has something to do. I'll apply the changes you suggested and post back the results.

[2020-11-06 21:35] rudpot commented on #7570
Just ran into the same issue and it suggests that serverless has serious issues with credential / region handling. I have credentials configured in `~/.aws/config`:

[code]
and access keys in`~/aws/credentials`.

Testing serverless using a net new directory and instantiating a python runtime and calling I get the following results:

* Setting `AWS_PROFILE` to `ct-acct1` uses the right credentials.

[2020-11-07 01:55] Maxgit3 commented on #8441
I was looking through the code.  It looks like a different tests from the current test file.  Is the test file going to have config inline or prepared fixture?  Is the one run serverless instance going to be used for all the tests?

[2020-11-07 10:29] Edujugon commented on #8039
Hi,
We just faced a similar issue. If we add the `provisionedConcurrency` key to a lambda that was already deployed, when hitting the endpoint it gives an `Internal server error` response.

I checked that lambda in the console, and it had 2 API event sources applied whereas before it had only one. Then I moved to the APIGW console, edited the Lambda Function name in the Lambda Proxy integration se

[2020-11-07 15:46] DianaIonita opened #8485 "`TypeError: Cannot convert undefined or null to object` when defining validation schema via `defineFunctionEventProperties`"
## Description

I am updating a plugin with a validation schema and trying to hook it up to the serverless framework. The code I am using:

[code]

The serverless framework fails with stack trace:
[code]

## Debug info

I managed to trace the issue to the code which selects the function event definition:

![image](https://user-images.githubusercontent.com/2750493/98445503-fd21aa00-210f-11eb-977c-3

[2020-11-07 21:41] nageshbk commented on #8293
thanks

[2020-11-08 10:42] MaheshManthini commented on #5296
I have the same issue while invoking function locally as **invoke local -f myFunction -p test.json**.
  Error: {"errorMessage":"Authentication failed. - Please contact support and provide this identifier to reference this issue - BWL8QNT1M2RR"}

[2020-11-08 15:32] fredericbarthelet commented on #8485
@DianaIonita thanks for reporting this issue.
Indeed, some AWS events JSON schema definition are not straight `'object'` JSON schema definitions.
Going over the existing schemas :

✅ OK, `defineFunctionEventProperties` will work as expected, only `'object'` defined as event root definition
❌ KO, `defineFunctionEventProperties` will crash, root definition is not an `'object'` definition

- alb ✅
-

[2020-11-09 01:07] logicalor opened #8487 "In serverless versions 2.3.0 and higher, Resolution of Nested Variables is incomplete / broken"
Serverless 2.3.0 and higher does not always resolve nested variables correctly.  Presumably Serverless supports nested variables, as they are [mentioned in Serverless' documentation](https://www.serverless.com/framework/docs/providers/aws/guide/variables/#pseudo-parameters-reference), and resolved correctly prior to v2.3.0.

The example below is a version of the aws-nodejs template (ie what is cre

[2020-11-09 01:08] rcedwardsiii opened #8488 "API Gateway Resource Provider "unsupported configuration format""
<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls package -v</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-11-09 01:11] rcedwardsiii commented on #8488
Even though there is a warning, the policy is deployed successfully as expected.

[2020-11-09 08:34] BartusZak commented on #8358
Error:
`TypeError: this.awsPackagePlugin.validateStatements is not a function`

Version check:
`serverless -v`

[code]

Downgrade command:
`npm install -g serverless@^2.4.0`

[2020-11-09 08:42] #8455 closed

[2020-11-09 08:46] medikoo commented on #8479
Let us know, anyway #8437 is likely to be published in next days

[2020-11-09 09:10] medikoo commented on #7570
@rudpot Currently Framework doesn't recognize `region` as configured at `~/.aws/config` and also doesn't recognize `AWS_DEFAULT_REGION` env variable.

Note that you're commenting under unrelated issue (fact that you approached same network error doesn't mean that problems are related in any way).

Can you open a new issue requesting the support for `AWS_DEFAULT_REGION` and recognition of `region`

[2020-11-09 09:13] medikoo commented on #8441
I think it'll be good to have some dedicated (but one) fixture in which we configure lambdas for all tested rutimes (at least: nodejs, ruby and python)

[2020-11-09 09:13] randomhash commented on #8358
npm i serverless-iam-roles-per-function@next

[2020-11-09 09:13] randomhash commented on #8358
Plz close issue

[2020-11-09 10:20] medikoo commented on #8488
@rcedwardsiii thanks for report. As I check (by inspecting internals) config validation complains about `execute-api:/*/*/*` at `Resource`.

By schema it's an _arn_ pattern that's expected there, and any _arn_ pattern starts with `arn:`.

Technically if referenced via `arn:aws:execute-api:/*/*/*` you wouldn't see any warning (see https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gat

[2020-11-09 10:50] medikoo commented on #8487
@logicalor there's an error in your configuration, it should be `env:STAGE` not `env.STAGE`

[2020-11-09 11:00] medikoo commented on #8358
It was fixed on `serverless-iam-roles-per-function` side. Please check: https://github.com/functionalone/serverless-iam-roles-per-function/issues/52#issuecomment-720626513

[2020-11-09 11:00] #8358 closed

[2020-11-09 11:16] #8485 closed

[2020-11-09 11:28] stevematdavies commented on #4269
I can confirm sls deploy -f <functionName> does not work on 2,8.0, it ends up deploying all functions even when an initial deploy has been done

[2020-11-09 12:33] gwynnarth opened #8489 "AWS S3 buckets created by Serverless do not deny listing over HTTP"
Hello,

As a result of #5621, Serverless-created buckets include a bucket policy that is supposed to deny any `s3:*` Action over that bucket, unless it is performed over HTTPS.

Unfortunately that Bucket policy is incomplete and still allows listing the Bucket content over insecure HTTP connection, if the Principal has permissions to perform that action.

Incorrect (current) Bucket Policy:
[code]

[2020-11-09 13:28] medikoo commented on #8489
@gwynnarth great thanks for that report!

We're open for PR that patches that. Assuming that change is not breaking (will not break further deployments) we can just apply a change to policy. Otherwise it'll has to be introduced behind the option and deprecation notice (so we can make it default from next major)

[2020-11-09 14:54] rudpot opened #8490 "Support for AWS_DEFAULT_REGION and "region" in "~/.aws/config""
Just ran into an issue that suggests that serverless has serious issues with credential / region handling. This may be related to https://github.com/serverless/serverless/issues/7570 although comments there suggest that region settings in `~/.aws/` and `AWS_DEFAULT_REGION` should have _no_ impact at all.

 I have credentials configured in `~/.aws/config`:

[code]
and access keys in`~/aws/credentia

[2020-11-09 14:55] rudpot commented on #7570
I will dispute that the framework _doesn't_ recognize `AWS_DEFAULT_REGION` as having it set _will_ break things so to some degree but inconsistently `AWS_DEFAULT_REGION` is considered. As per request opened separate issue https://github.com/serverless/serverless/issues/8490

[2020-11-09 15:43] onhate commented on #8479
I could not add a dependency on rules because it is Custom:EventBridge type, but adding the dependency to EventBus on *LambdaFunction made it work fine.

[2020-11-09 15:43] #8479 closed

[2020-11-09 19:06] rcedwardsiii commented on #8488
@medikoo thanks for the follow up. The link and arn format you are referring to are IAM based policy. The item is question is an API Gateway _**resource**_ based policy. (see https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-resource-policies-examples.html)

Resource Section: `execute-api:/stage/GET/pets`

Also, you can reference this directly from the **serverless.com** docu

[2020-11-09 20:43] logicalor commented on #8487
@medikoo you're right - well spotted!  Thank you for pointing that out - all is working fine with v2.11.0.

[2020-11-09 20:43] #8487 closed

[2020-11-10 00:06] rs-sathya commented on #4958
I believe the solution to this should be a documentation page, as it was a bit hard to find this information by just googling.

[2020-11-10 00:20] delroh commented on #8122
What was the original intention of the `slss` alias? The "additional value" it had in my case was to not conflict with Powershell's `sls` alias it has for the `Select-String` command, so I only had to type `slss` instead of `serverless`.

Coming back to work with serverless, I noticed the `slss` alias is no more while using vscode to develop. Powershell is the default terminal in vscode and so `sl

[2020-11-10 02:15] h3smith commented on #5536
To be able to force HSTS redirect from port 80 to 443 would be immensely beneficial. We use API Gateway + Lambda to host websites and no port 80 support is frustrating.

[2020-11-10 07:43] sidgupta94 opened #8491 "Trying to populate non string value into a string for variable ${self:provider.deploymentBucket}. Please make sure the value of the property is a string."
When I try to deploy with serverless versions >= 2.10.0, I get the following error:
`Trying to populate non string value into a string for variable ${self:provider.deploymentBucket}. Please make sure the value of the property is a string.`
Earlier, it automatically used to take the deployment bucket name when I refer ${self:provider.deploymentBucket}. Now, that behaviour seems to have changed.

<d

[2020-11-10 09:13] medikoo commented on #4838
For reference: Work on that has been started here: https://github.com/serverless/serverless/pull/8415 which was closed temporarily, until dependent issues, as listed below are addressed
- #8441 - Test: Refactor `lib/plugins/aws/invokeLocal/index.test.js`
- #8444 - Refactor: Seclude `lib/utils/log.js` (general logging) util
- #8445 - Refactor: Seclude `lib/utils/aws/request.js` (AWS request logic)

[2020-11-10 09:14] medikoo commented on #8490
Framework doesn't support `AWS_DEFAULT_REGION` and also doesn't read `region` as set for chosen profile in `~/.aws/config`.

If having those make deployment behave differently, it could be only because some dependencies (`aws-sdk` or some plugins) are referring to those and mismatch is created.

We're open to bring support for both, and I believe both should be handled with different PR's.

#### S

[2020-11-10 09:18] medikoo commented on #7570
I'm closing this issue, as we didn't receive any further details from @SafiqurRhaman to be able to move forward

[2020-11-10 09:18] #7570 closed

[2020-11-10 09:25] medikoo commented on #8488
(cc @fredericbarthelet)

Thanks @rcedwardsiii for clarification. In light of that we should definitely fix our schema for `Resource` fields (which is configured here: https://github.com/serverless/serverless/blob/bde334c10f33a813a16e158832eb61c56e77d822/lib/plugins/aws/provider/awsProvider.js#L350-L357)

PR with a fix is welcome!

[2020-11-10 09:35] medikoo commented on #8122
@delroh great thanks for this comment.

To be honest, original intention was not clear to me. I called for removal of it, just to simplify things, and I felt there's no value on having `slss` when we already have `sls`.

Before doing that, I've asked around and no one had an answer why we support it in first place, and no one I've approached was really relying on it. I've also searched the project

[2020-11-10 09:50] medikoo commented on #8491
@sidgupta94 thanks for report.

Can you show full content of `serverless.yml` ? Error message states that you've used `${self:provider.deploymentBucket}` variable, while I don't see this variable being used in `serverless.yml` you show case

[2020-11-10 10:09] sidgupta94 commented on #8491
I can't share the full content of the file, but I can probably give you an idea of how I am using it.
So, I am referencing it in a policy resource which is referenced in the `serverless.yml` under `resources:`

[code]

[2020-11-10 12:11] medikoo commented on #8491
@sidgupta94 By `self:provider.deploymentBucket` you're referencing a `provider.deploymentBucket` configuration, which is an object in your case. I believe issue will be fixed on your side if you update the var reference to be `self:provider.deploymentBucket.name`

It indeed changed in v2.10.0 as we were cleaning up internals to be consistent (internally _object_ version of `provider.deploymentBuck

[2020-11-10 12:20] sidgupta94 commented on #8491
@medikoo Thanks for the explanation. I know the issue will be fixed if I change the var reference, but there are a lot of ( 50 to 100) stacks that I would need to update for this small change. Any chance that you guys might want to support both the versions?

[2020-11-10 12:27] medikoo commented on #8491
Technically we will have to revert the change, and that means breaking other things (it came as a fix).

Ideally (to ensure we can maintain a Framework at improved level) would be if you can update the stack, although I understand it can be painful, and sorry that you were affected.

[2020-11-10 14:31] KnupMan opened #8492 "Support API Gateway setting to disable the default REST API endpoint (disableExecuteApiEndpoint)"
### Use case description

[Amazon API Gateway now supports disabling the default REST API endpoint](https://aws.amazon.com/about-aws/whats-new/2020/10/amazon-api-gateway-now-supports-disabling-the-default-rest-api-endpoint/), so when I am using a custom domain name for an API, which is created via Serverless, I would like also to have the ability to disable this option.

### Proposed solution

Thi

[2020-11-10 14:46] medikoo commented on #8492
@KnupMan great thanks for proposal. We definitely should support it!

Few questions:
- I believe that default on AWS side remains `disableExecuteApiEndpoint: false` (is my understanding correct?)
- I understand that this option can also be set to `true` if user does not configure custom domain (in such case user will end with not accessible deployment). Is that correct? I wonder how AWS would beha

[2020-11-10 15:33] KnupMan commented on #8492
@medikoo

That was my mistake in the issue description, thank you for pointing this out.
Yes, by default on AWS side it remains disabled (`disableExecuteApiEndpoint: false`).

Yes, it is correct. I just tried to create the REST API via AWS CLI with this option set to true and it was successfully created.
<img width="334" alt="зображення" src="https://user-images.githubusercontent.com/16997074/9869

[2020-11-10 15:59] medikoo commented on #8492
Thanks @KnupMan for all clarifications! I think we're all set then. We can just add this option and apply it without looking.

Still as you noted let's wait for CF support

[2020-11-10 18:15] mattpackwood opened #8493 "Upgrade failing"
⚠️⚠️ REPLACE WITH DESCRIPTION

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>⚠️⚠️ REPLACE WITH FULL COMMAND NAME</code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-11-10 18:17] medikoo commented on #8493
@mattpackwood command name is `serverless upgrade`

[2020-11-11 09:40] cbm-egoubely commented on #7373
According to [this SO post](https://stackoverflow.com/questions/58657217/how-can-i-create-this-dynamodb-table-group-with-cloudformation): "Table groups exist only on the AWS console UI. There is no such resource on AWS that is why they aren't available neither on CloudFormation nor on CDK.".

And indeed I couldn't find any information relating table groups in CoudFormation/CLI docs so I think we c

[2020-11-11 09:51] caligo-erik commented on #7373
Wow. That is bad news. Without the possibility to script it (CLI, 3rd party framework), grouping tables in AWS is a pretty useless feature.

Is there any way to forward this feature request to AWS? Maybe you as "tech partners" have more weight than a single customer?

[2020-11-11 10:13] cbm-egoubely commented on #7373
I'm not part of Serverless so I cannot answer that.

I would recommend using tags instead if you want to do batch operations on your tables with the CLI (although it is not possible to list tables by tag, you have to list all tables and then filters them out by tags...)

[2020-11-11 20:59] ftruzzi commented on #4637
Hi,

I just started using serverless today but can't find a solution to this when subscribing an existing topic as an onFailure destination for a dynamodb stream.

[code]

or

[code]

both return `failTopic - topicName already exists in stack arn:aws:cloudformation:`

Any tips? Thanks

[2020-11-11 22:41] ftruzzi commented on #3631
How do you make the above workarounds work when you have to set your endpoints private and therefore associate usage plans to your API keys?

You would have to do e.g.

[code]

but AFAIK you can't use variables in keys. Any ideas? Maybe this issue is worth reopening?

[2020-11-12 08:20] himanshu199728 commented on #4424
In my case I forget to give value to response template key name 'response' in mappingTemplates. Make sure values in serverelesss.yml or in indiviual function folder yml are skipped or no value.
Eg; example.yml which will include later in serverless.yml
mappingTemplates:
 ..othervalues
  request: x-mapping-template.txt

See response skipped.

So better check your serverless.yml or sub yml

[2020-11-12 08:58] #8454 closed

[2020-11-12 10:50] medikoo commented on #8490
I've just realized we have already open issue for that. Check https://github.com/serverless/serverless/issues/2151

[2020-11-12 10:50] medikoo commented on #8490
Duplicate of https://github.com/serverless/serverless/issues/2151

[2020-11-12 10:50] #8490 closed

[2020-11-12 11:09] medikoo commented on #7373
Closing as Framework on its own doesn't embed any logic to handle DynamoDb resources, therefore this request feels irrelevant (at best opened in wrong repository)

[2020-11-12 11:09] #7373 closed

[2020-11-12 12:51] heetu commented on #7920
Guys, Any Update?

[2020-11-12 12:54] medikoo commented on #7920
@heetu PR that brings this feature in is welcome!

[2020-11-12 13:09] medikoo commented on #3659
We have a plan to refactor variable resolution logic in next months, for details check: https://github.com/serverless/serverless/issues/7207 (I'm closing this issue in favor of it)

As a side note `provider.profile` property  is scheduled to be deprecated: https://github.com/serverless/serverless/issues/8356

[2020-11-12 13:09] #3659 closed

[2020-11-12 13:32] medikoo commented on #3745
Wrapping lambdas is out of scope in Serverless Framework. At least at this point we do not consider solving any issues that way (as its invasive and brings tons of implications).

_(it's only our dashboard support which requires wrapping lambdas to inject our SDK, but that's served by separate plugin in other repository)_

Therefore if there's no easy way to fix this on CloudFormation grounds, we

[2020-11-12 13:40] medikoo commented on #3785
It'll be good to coin where exactly the source of an issue lays. Is it:

(1) Related to how Framework lays out dependencies across CF resources that configure needed routes
(2) Limitation on CF side which cannot be workaround by tweaking the template

Has anyone investigated it in more depth (e.g. by playing directly with generated CF template)?

Having an answer to that, may push us closer to eve

[2020-11-12 17:04] medikoo opened #8497 "CLI: Remove help --verbose option and improve general help output"
### Use case description

Currently `sls --help --verbose` simply outputs CLI commands grouped by plugins.

Where _plugins_ are also internal plugins, which resemble characteristcs of internal implementation which should not be interesting in anyway for regular users.

If read properly in an [issue](https://github.com/serverless/serverless/issues/3784) with which it was introduced, it seemed helpf

[2020-11-12 17:12] Gildissimo commented on #1955
Hi, I've got a problem

in my serverless.yml
apptest:
  handler: app.hello
  events: #Define the events that trigger the lambda
   - httpApi:
      path: /test
      method: GET
      authorizer: serviceAuthorizer
      cors: true

then in my app.js I've

...

module.exports.hello = function(event, context, callback) {
  // const response = {
  //   statusCode: 200,
  //   headers: {
  //     'Acc

[2020-11-13 04:09] Maxgit3 commented on #8441
Is there a way to run the following code as a single test file?

[code]
.  I am looking into the return values to better understand the runServeless util.

[2020-11-13 09:01] medikoo commented on #8441
@Maxgit3 Yes that could be as single test file, but can you clarify further why this question? (you may also try to find me on our Slack for more effective exchange: https://www.serverless.com/slack).

Also please be sure to check all other examples of `runServerless` usage in our tests. I think it can answer most of the questions

[2020-11-13 10:37] TMorville opened #8498 "Python, AWS, Lambda - No module named 'numpy.core._multiarray_umath'"
I have followed this [official Serverless guide](https://www.serverless.com/blog/serverless-python-packaging) on how to deploy a serverless function on AWS Lambda.

This results in a error that can be summarised as `No module named 'numpy.core._multiarray_umath'`. This error pertains to a OSx build of Numpy being run a Linux machine on AWS ([see this issue](https://github.com/numpy/numpy/issues/12

[2020-11-13 10:51] TMorville commented on #8498
Just solved this.

The error was solved by doing the following:

1. Remove all cached packags in `/Library/Caches/serverless-python-requirements/`
2. Remove existing docker image `lambci/lambda        build-python3.8`

then running `sls deploy` worked beautifully.

[2020-11-13 10:51] #8498 closed

[2020-11-13 11:40] medikoo opened #8499 "Cleanly separate Packaging and Deployment phases"
### Use case description

_Derived from https://github.com/serverless/serverless/issues/8364 which was narrowed down to other processing flow improvement tasks_

Currently internal flow of processing commands is convoluted and confusing in many places. In result there's a dependency between parts for which there is no reason to depend on each other (e.g. [we cannot do `sls deploy --package` outsid

[2020-11-13 16:12] iamakulov opened #8500 "devDependencies aren’t excluded work with npm 7"
With npm 7, `serverless` fails to exclude `devDependencies` from `package.json`. This is likely due to the fact that npm 7 changed the lockfile format (`lockfileVersion` is now 2).

<details>
<summary><code>serverless.yml</code></summary>

The `serverless.yml` was taken from [the official starter](https://github.com/serverless/serverless-starter).

[code]

</details>

<details>
<summary>Steps to r

[2020-11-13 16:21] medikoo commented on #8500
@iamakulov thanks for reporting.

I think it can be related to iternal `npm ls` usage here: https://github.com/serverless/serverless/blob/786809e262b56490a78a923b0b031378badb18c0/lib/plugins/package/lib/zipService.js#L194

Otherwise there's no other npm dependency in related code (and we do not read `package-lock.json`)

Question is this a bug in  `npm` that should be reported in its tracker, or i

[2020-11-13 20:36] cscetbon commented on #6752
It's been a year and this issue is still there, really annoying ... thank you @ovunccetin for your workaround .

[2020-11-14 05:29] michiboo commented on #8444
@medikoo At the moment consoleLogSpy is used to assert there is message output to the console, but it can test on cli object. How can I test if there is message output if log is function?

[2020-11-14 11:17] ljwagerfield commented on #7568
@villelahdenvuo did you find a solution in the end?

[2020-11-14 11:34] ljwagerfield opened #8502 "Support Price Class in CloudFront Events"
### Use case description

I need to specify different price classes for my Lambda@Edge functions.

### Proposed solution

Add a `priceClass` property to the `cloudFront` event type.

[2020-11-14 14:39] ljwagerfield commented on #8502
Since `PriceClass` is a distribution-level attribute, having multiple `PriceClass`es would require multiple distributions.

There's also other distribution-level attributes, like logging, geo-restrictions, HTTP2, and so forth...

**I'd like to extend my feature request** to allow all distribution-level attributes to be settable, and have Serverless create the appropriate number of distributions (i

[2020-11-14 18:26] kylekirkby opened #8503 "Adding a serverless.js file breaks expected functionality for Next.js Serverless Component with next-i18next support"
I'm trying to deploy the infrastructure required running a multi-environment next.js app with i18n support. There is an issue where the `@sls-next/serverless-component` fails to add the translation JSON files to the `default-lambda` src. Someone in another issue (https://github.com/serverless-nextjs/serverless-next.js/issues/383#issuecomment-667716885) suggested extending the `sls-next/serverless-

[2020-11-14 20:08] dphang commented on #8503
The way next-18n works is that it expects locales to be in the local filesystem (Lambda in this case), however the component doesn't know about specific packages like next-18n. Two things:

1. Actually I added an input `builds.postBuildCommands` which lets you run arbitrary commands after **build** but before **deploy**. So you can use it to add additional things into the `.serverless_nextjs` dire

[2020-11-14 20:38] kylekirkby commented on #8503
Wow! Thank you @dphang for the in-depth reply!

This seems like a totally logical way to copy over the locales files. I don't know why I didn't think of/see this in the README.

I've just tried adding the `@sls-next/serverless-component` to my `package.json` and importing/requiring using the suggestions you provided but still get:
[code]
I'm starting to think that `serverless` may have removed the

[2020-11-14 20:45] dphang commented on #8503
Sure, I am not sure if they removed `./` specifically but I thought `Serverless` should resolve a component if it finds a proper `serverless.js` file in that directory. At least that's what serverless-next.js does for its nextjs-component: https://github.com/serverless-nextjs/serverless-next.js/blob/84a3f40345c4e7a2e6dd72832ee148372bdcc813/packages/serverless-components/nextjs-component/serverless

[2020-11-14 20:48] kylekirkby commented on #8503
I thought so too. Maybe, as you say, I'm pointing it at an invalid `serverless.js` file. 🤔

[2020-11-14 23:02] glb commented on #8500
I added a log `console.log("excluding", exAndInNode.exclude);` to `zipService.js` here:

https://github.com/serverless/serverless/blob/786809e262b56490a78a923b0b031378badb18c0/lib/plugins/package/lib/zipService.js#L43

and got:

[code]

which covers only the first-level dependencies of the project.

Modifying the `npm ls` command to add `--depth 99` ([reference](https://docs.npmjs.com/cli/v6/comma

[2020-11-15 00:22] dgorbash commented on #8500
It appeared the default `depth` value was changed from `Infinity` in npm 6.x

https://github.com/npm/cli/blob/39a25ae560d17393b2a7b8fbc2abc424654604b7/lib/config/defaults.js#L137

to `null` (treated as `0` in `npm ls`) in 7.x

https://github.com/npm/cli/blob/555b3b20d4a52f490601ec5188844f92f69e7df0/lib/utils/config.js#L74

So I think @glb suggestion about using `--depth` may fix the issue. Or we c

[2020-11-15 02:21] bitsofinfo opened #8504 "2.11.1: serverless create with --template-path and shouldStartNameWithService gets overwritten with bad value"
If the following is in the `serverless.yml` template within `--template-path` during `serverless create`

[code]

templates/mytemplatedir/serverless.yaml contains...
[code]

... you end up with this in the resulting service....

[code]

[2020-11-15 08:42] chippyash commented on #8358
NB you will need to specify either:
"serverless-iam-roles-per-function": "next"
or
"serverless-iam-roles-per-function": "3.0.0-d84bffd"
to get the update

[2020-11-15 18:35] fredericbarthelet commented on #8386
@medikoo first definitions generated for version 2.11 of the framework. Definitions generation process automated with Github Actions.
Remaining work include :
- posting to `dispatch_repository` endpoint of https://github.com/serverless/typescript in the release pipeline of this repository - will open the PR
- publishing a new NPM package `@serverless/typescript` to host the definitions. Could you

[2020-11-15 19:19] fredericbarthelet commented on #8488
@medikoo I opened a PR to fix this issue.
I duplicated the existing `awsIamPolicyStatements` in `awsResourcePolicyStatements` for respectively identity-based policies and resource-based policies. The API Gateway shorthand seems to only apply to resource-based policies.

In addition, `provider.resourcePolicy` property only impacts REST API Gateway resource generated for `http` events. Shouldn't thi

[2020-11-15 20:11] villelahdenvuo commented on #7568
@ljwagerfield Nope, sorry. In the end I reverted back to the 3rd party plugin we used earlier.

[2020-11-15 21:00] glb commented on #8500
+1 on using `--all`

[2020-11-16 07:58] medikoo commented on #8444
@michiboo In tests for new util you can use https://github.com/medikoo/process-utils#override-stdout-write--override-stderr-write to surpass logging and confirm on the output (I noted that in issue main description)

Or do you refer to test that remain in `CLI.test.js` ?

[2020-11-16 08:16] medikoo commented on #7568
Currently we allow to define service-wide cache policies at `provider.cloudFront` property.

I think we can extend this property, to allow further customization of created distribution (especially that it seems not possible to extend it as expected with `resources.extensions`)

We welcome an improvement on that, still first let's agree o configuration format. Proposals are welcome

[2020-11-16 08:29] medikoo commented on #8502
@ljwagerfield Thanks for proposal.

I believe we can do that. We could probably go that route:

[code]

This definitely will require a certain refactor in [lib/plugins/aws/package/compile/events/cloudFront/index.js](https://github.com/serverless/serverless/blob/cc103f147eddcb29e38937326cc551473925e535/lib/plugins/aws/package/compile/events/cloudFront/index.js), so different distributions are suppo

[2020-11-16 08:32] medikoo commented on #8503
@kylekirkby thanks for report, but I believe this belongs to https://github.com/serverless-nextjs/serverless-next.js and not here. Can you open this issue over there?

[2020-11-16 08:32] #8503 closed

[2020-11-16 08:57] medikoo commented on #8504
@bitsofinfo great thanks for reporting. Will be fixed with https://github.com/serverless/serverless/pull/8508

[2020-11-16 09:09] medikoo commented on #8386
@fredericbarthelet great to hear that!

Definitely! I believe we need to publish first version in scope of our organizaion, and having first version published we would be able to give you the rights to publish all following versions. Therefore:
- Can you point me what would make a good first release (I'll just publish it)
- Let me know your npm nick name. After publishing it I'll ensure you have a

[2020-11-16 09:13] medikoo commented on #8488
@fredericbarthelet is this the only known case where AWS allows the shortcut? Isn't it that for all kind of resources ` arn:aws:` can be skipped?

[2020-11-16 09:15] medikoo commented on #8488
Yes, I think it's same with `usagePlan` and `apiKeys`. We probably should deprecate then at `provider` level and support them at `provider.apiGateway`. I would though ensure first, weather such settings cannot be applied to `httpApi`

[2020-11-16 10:35] #8504 closed

[2020-11-16 12:22] SaidBenaissa opened #8509 "not authorized to perform: cloudformation:DescribeStacks on resource"
WebRTC_AWS_Websocket % serverless deploy --stage websocket
Serverless: Packaging service...
Serverless: Excluding development dependencies...
Serverless: Excluding development dependencies...
Serverless: Excluding development dependencies...

  Serverless Error ---------------------------------------

  User: arn:aws:iam::301117383147:user/Said is not authorized to perform: cloudformation:Describe

[2020-11-16 13:59] yhrabovskyinomi commented on #6028
same problem

[2020-11-16 14:30] medikoo commented on #8509
@SaidBenaissa please respect all bug report template remarks

[2020-11-16 15:00] diegomarzo commented on #6507
I have been bitten by this issue today and lost a good amount of hours.

My "solution" (in quotes because it is a bit crappy but it worked for me at least).

1) If you have a domain for the sockets in you API Gateway remove it, you can go to API Gateway and remove it from there or using the `sls delete_domain`

2) Comment all the WS functions from your serverless.yml and any reference to them (for

[2020-11-16 15:04] diegomarzo commented on #7260
If someone gets bitten by this issue, I found this workaround:

https://github.com/serverless/serverless/issues/6507#issuecomment-728116897

And I share @medikoo 's opinion, it feels more AWS stuff than serverless (I don't think we should go and drop all the websocket functions to recreate them again from the framework)

[2020-11-16 15:05] ignacioalles commented on #4018
StackSet support is also required to deploy cloudfront lambda@edge functions if the stack region is different than us-east-1 because lambda functions have to be placed only in that region to be able to be called by cloudfront.

[2020-11-16 15:18] #8500 closed

[2020-11-16 20:26] fredericbarthelet commented on #8386
Thanks for helping out @medikoo :)
- You can publish [tag v2.11.1](https://github.com/serverless/typescript/releases/tag/v2.11.1) - i'll follow serverless/serverless versioning
- My NPM nickname is fredericb - I'll then use my NPM token in github action workflow to automate publishing

[2020-11-16 21:04] Graham42 commented on #7345
The `--package` parameter changes the output directory, but not the temporary directory which prevents parallel deploys or packages. Could this be considered a duplicate of https://github.com/serverless/serverless/issues/5002 ?

[2020-11-16 21:05] Graham42 commented on #7298
@petergaultney for the parallel issue, there a related feature request that might be of interest:  https://github.com/serverless/serverless/issues/5002

[2020-11-16 22:29] ljwagerfield commented on #8502
This sounds great.

I've also needed to add **origin groups** to the distribution, but perhaps this can be a separate ticket.

I mention it to make sure we don't paint ourselves into a corner -- but your solution looks good and could be later expanded to support origin groups (just like I have in my fork of Serverless).

I know it's unrelated, but if you're interested, the code on my fork allows t

[2020-11-16 22:34] cyberfox1 opened #8512 "Serverless 2.11.1 fails to create a Lambda role (2.10.0 works)"
Serverless Error ---------------------------------------

  An error occurred: IamRoleLambdaExecution - The policy failed legacy parsing (Service: AmazonIdentityManagement; Status Code: 400; Error Code: MalformedPolicyDocument;
-----------------------

Role statements something like:
  iamRoleStatements:
  - Effect: Allow
    Action:
    - dynamodb:Query
    - dynamodb:GetItem
    - dynamodb:Batch

[2020-11-17 06:04] Graham42 commented on #5002
I've been exploring a fix for this, I see there's been a couple previous attempts
- https://github.com/serverless/serverless/pull/5413
- https://github.com/serverless/serverless/pull/5344

I'm part way into a possible fix and just started reading the contributing guide and realized I should mention my approach incase there's some early feedback.

I'm planning on abstracting all direct references t

[2020-11-17 09:36] vmj opened #8513 "AWS Lambda: Support Fn::Split in `vpc.securityGroupIds` and `vpc.subnetIds` configurations"
`sls` produces correct CloudFormation, but issues a configuration warning. This has been discussed and fixed in issue #8282 but I guess `Split` function slipped the radar.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b>output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2020-11-17 10:20] gavriloAleksic commented on #4823
@horike37 The problem with trigger role that you set is that You give permissions for EVERY user pool created with same AWS account in the selected region.

[2020-11-17 10:43] fredericbarthelet commented on #8488
@medikoo AWS documentation states that **API Gateway handles the replacement of the abbreviated syntax, not IAM**.
I digged deeper and took a look at some services that supports resource-based policies (not all service supports it) - the complete list of supported services can be found at https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_aws-services-that-work-with-iam.html:
- lambda uses

[2020-11-17 12:44] Namstel opened #8514 "awsProvider.d.ts file has some missing/broken property types"
### Use case description

The awsProvider.d.ts file has some missing/broken property types:
- Sns filterPolicy has a broken type
- Stream is missing optional type property
- AwsFunction layers has missing type { [key: string]: string }

### Proposed solution
I created a pull request (3 weeks ago), but no answer or action has left me wondering.
https://github.com/DefinitelyTyped/DefinitelyTyped/pul

[2020-11-17 13:52] JacobvanP commented on #8465
What about publish: #3950.
This still seems to be in use (lib/plugins/platforms.js)

[2020-11-17 15:12] petergaultney commented on #5002
My only comment is that I don't think the usefulness of abstracting this directory is necessarily limited to packaging. The ability to specify a general purpose working directory that lives outside the current directory is extremely valuable in cases with read-only filesystems, for instance. So abstracting away _all_ references to `.serverless` would be a general purpose improvement to the framewo

[2020-11-17 16:18] steveperkinsi3 opened #8515 "Vague error when missing `provider.apiGateway.restApiRootResourceId` (with ``provider.apiGateway.restApiId` being configured)"
The [Serverless documentation for using a shared API Gateway across stacks](https://www.serverless.com/framework/docs/providers/aws/events/apigateway/#easiest-and-cicd-friendly-example-of-using-shared-api-gateway-and-api-resources) shows that referencing a shared API Gateway is now as simple as setting `provider.apiGateway.restApiId` to the gateway's ID.

I have yet to successfully deploy a Server

[2020-11-18 00:16] cyberfox1 opened #8516 "CloudFlare worker deploy using non-global API key"
CloudFlare also has far more limited API keys that are much safer to use than the global key, but they do not work with CLOUDFLARE_AUTH_KEY.

[2020-11-18 00:37] Riz-waan opened #8517 "vpc configuration not working"
Hey I am not sure if I am doing this wrong but I have tried many ways and cannot figure it out.

I tried both the following ways, putting it by itself, putting it in quotes and everything.

[code]

no matter what I put I get whatever i put within another set of brackets and a question mark, not sure where I went wrong
So if I just enter the subnet id I get an error with the following:
`'[? subnet-

[2020-11-18 00:39] Riz-waan commented on #8517
Apologies, for some reason I didn't get the issue templates.

[2020-11-18 01:23] dashmug commented on #8282
@devpow112 @medikoo Can we allow environment variables as well?

My VPC config comes from environment variables like this:

[code]

And `serverless` complains with `unsupported configuration format` for both `securityGroupIds` and `subNetIds`.

[2020-11-18 06:48] qqjameqq1 opened #8518 "Missing handling for I/O errors when packaging"
Error --------------------------------------------------

  Error: EIO: i/o error, open '/var/www/html/dentCoNew/api/src/vendor/aws/aws-sdk-php/src/data/sso/2019-06-10/paginators-1.json.php'
      at Package.getFileContent (/home/laradock/.nvm/versions/node/v14.7.0/lib/node_modules/serverless/lib/plugins/package/lib/zipService.js:140:15)
      at Package.getFileContentAndStat (/home/laradock/.nvm/

[2020-11-18 09:00] senor-coder opened #8519 "Print timestamp on completion of deployment of cloudformation stack"
### Use case description

As a developer, a lot of time during context switching I forget if I ran the serverless deploy or not  after some code changes locally. Having terminal always open, seeing the timestamp of completion can be really helpful. Otherwise I end up deploying it again, or check the cloudformation log.  We face the above scenario once in a while,  since for quick prototyping at ea

[2020-11-18 09:04] senor-coder commented on #8519
Happy to raise a PR, if the above request seem useful for a wider audience.

[2020-11-18 12:31] dtosato opened #8521 "AWS lambda deploy fails using a private python repo"
Hello,
I am trying to deploy a python lambda function which depends on a package into a private repo, but I get the error below. A GitLab runner executes the `sls deploy` using *poetry* to install the dependencies and *packagr* to get the private package.

<details>
<summary><code>serverless.yml</code></summary>

[code]

</details>

<details>
<summary><b><code>sls deploy</code> output</b></summary

[2020-11-18 13:32] yhrabovskyinomi commented on #3078
folks, just wondering if there any way to enable x-ray in Servereless for this main/single api-gateway? because this relates to ApiGateway:Stage resource which created while creating lambda, I can not push x-ray.
Also
[code]
not working for this use case

[2020-11-18 15:52] medikoo opened #8523 "Tests: Refactor lib/plugins/aws/package/compile/functions/index.test.js"
_Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics. While they should be testing whether given implementation produces desired outcome (treating its implementation more as  a black box)._

_Current state of things is problematic for eventual internal improvements and refactors which occasionally we want to int

[2020-11-18 16:01] medikoo opened #8524 "Tests: Refactor lib/plugins/aws/package/lib/mergeIamTemplates.test.js"
_Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics. While they should be testing whether given implementation produces desired outcome (treating its implementation more as  a black box)._

_Current state of things is problematic for eventual internal improvements and refactors which occasionally we want to int

[2020-11-18 16:05] yugeshtungala opened #8525 "Configuration warning: Serverless: at 'functions.signup.events[0]': unsupported function event Serverless: at 'functions.signin.events[0]': unsupported function event"

[2020-11-18 16:47] medikoo commented on #8386
@fredericbarthelet I've just published v2.11.1 -> https://www.npmjs.com/package/@serverless/typescript

I've also invited you to our npm org. Once you accept the invitation I will ensure you have necessary rights to publish following versions

[2020-11-18 21:55] mikhael28 commented on #6932
I had the exact same issue as @mledom - I was on an older version (1.8.0) and upgraded to the latest version as of today (2.11.1), and it all worked from there for me.

[2020-11-18 23:59] Riz-waan commented on #8517
I believe I was using the wrong dash in the beginning. Sorry for the mistake.

[2020-11-18 23:59] #8517 closed

[2020-11-19 15:09] medikoo commented on #7298
I've looked into this issue more deeply, and prepared a detailed spec on how it can be fixed.

It's not straightforward patch, but I did my best to make spec rich in details so it can be done by anyone who's not deeply familiar with Framework internals.

PR's are welcome!

[2020-11-19 15:10] medikoo commented on #7298
(Spec was edited into main issue description)

[2020-11-19 15:14] medikoo commented on #7345
@Graham42 thanks for clarification, indeed currently Framework always packages to service local `.serverless` directory, and then eventually moves files to target output directory if it's different.

This design is also responsible for other issues, as https://github.com/serverless/serverless/issues/7298, where I've specified on how we can recover from that.

Once it's addressed, we can introduce

[2020-11-19 16:31] Graham42 commented on #7298
Thanks for the spec! I'll aim take a look in the next couple days.

I had a fix for https://github.com/serverless/serverless/issues/5002 that might also address this, but needs work for invokeLocal. If I haven't responded here in the next couple days, feel free to adopt my changes. My forked branch is here: https://github.com/Graham42/serverless/pull/1

[2020-11-19 23:01] MichaelBosch commented on #6923
My workaround was to set the deploymentBucket under the provider section:
[code]
After that, it complained about not finding the bucket, so I used [Serverless Deployment Bucket
](https://www.serverless.com/plugins/serverless-deployment-bucket)

This worked with the latest version of the framework.

[2020-11-20 00:43] Maxwell2022 commented on #2780
**If you are using a VPC** and if you are **using a custom execution role**:

[code]

Then you need to make sure this role has **`AWSLambdaVPCAccessExecutionRole`** policy attached to it

[2020-11-20 09:07] 300LiterPropofol commented on #5024
It is really kind of you for sharing this!! Really helps me. Thank you a lot @raakasf

[2020-11-20 09:29] mungojam commented on #8253
This behaviour is giving me an issue, because it means that I can't point other services (not using serverless) at a consistent alias across different environments. Ideally for me, `provisionedConcurrency: 0` would lead to a 'provisioned' alias still being created but without any provisioned concurrency.

Maybe there is a way I can force an additional alias that I can refer to instead? That would

[2020-11-20 10:23] majd-adawieh opened #8526 "serverless does not exclude devDependencies, when the newest node-version is used."

[2020-11-20 11:51] medikoo opened #8528 "Tests: Refactor lib/plugins/aws/package/compile/events/cloudFront/index.test.js"
_Most of the tests that currently cover core functionalities depend heavily on (and sometimes test) internal implementation characteristics. While they should be testing whether given implementation produces desired outcome (treating its implementation more as  a black box)._

_Current state of things is problematic for eventual internal improvements and refactors which occasionally we want to int

[2020-11-20 11:54] medikoo commented on #8502
Yes, it can be handled in follow up PR.

Anyway I think we have all the details. It'll be however good to address one thing before, it's the refactor of tests, so they do not depend on internals (otherwise it's likely that our refactor to support multiple distribution, will break the tests for so far working configurations - and ideally if tests are immune to internal changes).

I've opened dedica

[2020-11-20 11:55] medikoo commented on #8512
@cyberfox1 please respect all bug template remarks and answer all it's question.

Also this looks as error in your configuration. Note that we send `iamRoleStatements` as is to AWS, and it's an AWS error that was presented to you

[2020-11-20 12:03] medikoo commented on #8513
@vmj thanks for reporting. Indeed as we pass those setting as is to CloudFormation template, we should openly support functions as `Fn::Split`.

Question is what else in terms of intrinsic functions should be supported in such case?

[2020-11-20 12:11] medikoo commented on #8488
@fredericbarthelet So this shortcut is only supported in `Policy` for  API Gateway API (when provided directly to API Gateway SDK), and is not be supported in e.g. regular IAM role policies. Is my understanding correct?

[2020-11-20 12:15] medikoo commented on #8465
@JacobvanP this functionality was removed from the Framework a longer time ago. Note there's no [`lib/plugins/platforms.js`](https://github.com/serverless/serverless/blob/master/lib/plugins/platforms.js) plugin

[2020-11-20 12:19] KuNman opened #8529 "Fix isLocal variable"
Hello guys.

We are facing an issue with building app.
Currently we are using `slsw.lib.webpack.isLocal` variable in webpack config.
Unfortunatelly, when I console.log this variable on my localhost for some reasons it returns `false` so webpack does production build each time when we want to test something locally.
Same case repeats for CI. We have few environments and ONLY production should have

[2020-11-20 12:28] medikoo commented on #8515
@steveperkinsi3 this the error that surfaces from AWS after template validation, and is the result of missing  `restApiRootResourceId` which is not configured in your service (while indicated as mandatory by the docs).

Error on our side, is that we do not validate it cleanly, and present user with vague message.

It'll be great to internally validate that with `restApiId` also `restApiRootResourc

[2020-11-20 12:32] medikoo commented on #8516
@cyberfox1 are you sure this issue belongs to this repository?

[2020-11-20 12:34] medikoo commented on #8282
@dashmug variables are resolved before validation. If you have configuration warning, it means that given construct resolved to not supported format (I assume that empty strings may not be allowed as valid)

[2020-11-20 12:36] medikoo commented on #8518
@qqjameqq1 it indicates problem in your environment. See https://stackoverflow.com/a/953131/96806

Still definitely error reporting could be improved on our side. Such errors should be caught and thrown with `ServerlessError` with meaningful message. PR that improves that is welcome!

[2020-11-20 12:37] JacobvanP commented on #8465
@medikoo Apologies, I seem to have looked at an older version. Thanks for the reply.

[2020-11-20 12:41] medikoo commented on #8519
@senor-coder `sls deploy` logs clearly indicate that deployment is finalized with `Stack update finished...` log and `Service Information` being output.

What exactly do you miss?

[2020-11-20 12:46] medikoo commented on #8521
@dtosato please report to `serverless-python-requirements` repository.

If you believe it's a problem in Framework core, please provide a test case that does not involve any plugins

[2020-11-20 12:47] medikoo commented on #8525
@yugeshtungala please respect all bug template remarks and answer all questions.

We're unable to process requests that contain no details

[2020-11-20 12:59] vinod-tahelyani commented on #8497
@medikoo Can I take this?

[2020-11-20 13:30] vmj commented on #8513
@medikoo Ah, I missed that it is the short form `!Split` that triggers the warning, and `Fn::Split` works without a warning.  Thanks!

I'll take a look over the weekend if I manage to produce a PR, unless someone beats me to it.  I'm not at all familiar with the code base but I'm thinking of making short form work the same as long form.  Or do you already know it won't work?